.bg-platinum {
    background-color: #ede6e3;
}
.cyb-btn{
    height: 40px!important;
    background-color: #37b833fa;
    border-radius: 0!important;
    border: none;
    color: white;
}
.cyb-align{
    margin-left: 33%!important;
}
.cyb-input{
    height: 40px!important;
    border-radius: 0!important;
}
.cyb-add-on{
    background-color: #37b833fa!important;
    border:none!important;
}
.cyb-white{
    color: white;
}
.form-control{
    height: calc(2.0rem + 2px)!important;
}
.cyb-msg{
    height: 25px!important;
    background-color: red;
    color: white;
    text-align: center;
}