<template>
   <div class="page-wrapper">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-11">
                <h1>Tableau de Bord</h1>
            </div>
            <div class="col-1">
                <i class="fa fa-cog fa-3x"></i>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-6 mb-4">
                <el-card shadow="hover" class="box-card card-autre">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title"><strong>Facturation</strong></h2>
                  </div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                </el-card> 
            </div>
            <div class="col-6 mb-4">
                 <el-card shadow="hover" class="box-card card-autre">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title"><strong>Recettes</strong></h2>
                  </div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                </el-card> 
            </div>
            <div class="col-6 mb-4">
                 <el-card shadow="hover" class="box-card card-autre">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title"><strong>Les Règlements</strong></h2>
                  </div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                </el-card> 
            </div>
            <div class="col-6 mb-4">
                 <el-card shadow="hover" class="box-card card-autre">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title"><strong>Effectuer des opérations</strong></h2>
                  </div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                </el-card> 
            </div>
        </div> -->
    </div>
   </div>
</template>
<script>
export default {
    data() {
        return {
            
        }
    },
    created() {
        this.$loading().close();
    },
    methods: {
    },
}
</script>
<style>
.box-card{
    height: 100% !important;
    margin-bottom: 10px !important;
}
.box-card:hover{
    cursor: pointer;
}
</style>