<template>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor"><b>Projets</b></h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/bp/home">Accueil</a>
            </li>
            <li class="breadcrumb-item">
              <a href="bp/suivi"> Bp</a>
            </li>
            <li class="breadcrumb-item">Dashboard</li>
          </ol>
        </div>
      </div>
      <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liste de projets</h4>
            <div>
              <vue-good-table
                title="Liste de projets"
                :columns="columns"
                :rows="rows"
                :globalSearch="true"
                :search-options="{
                  enabled: true,
                  trigger: '',
                  skipDiacritics: true,
                  placeholder: 'Rechercher un projet',
                }"
                :pagination-options="{
                  enabled: true,
                  mode: 'records',
                  perPage: 15,
                  position: 'bottom',
                  perPageDropdown: [15, 25, 35, 45],
                  dropdownAllowAll: false,
                  setCurrentPage: 1,
                  nextLabel: 'Suivant',
                  prevLabel: 'Précédent',
                  rowsPerPageLabel: 'Afficher',
                  ofLabel: 'of',
                  pageLabel: 'page', // for 'pages' mode
                  allLabel: 'All',
                }"
                styleClass="table condensed table-bordered table-striped"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import firebase from "firebase";
import { StarRating } from "vue-rate-it";
import { VueGoodTable } from "vue-good-table";
import "vue-good-table/dist/vue-good-table.css";

export default {
  components: {
    FormWizard,
    TabContent,
    StarRating,
    VueGoodTable,
  },
  props: {},
  name: "test",
  data() {
    return {
      rating1: 0,
      rating2: 0,
      rating3: 0,
      rating4: 0,
      rating5: 0,
      dataTable: null,
      projets: [],
      // userId:'',
      errors: [],
      ref: firebase.firestore().collection("summary"),
      columns: [
        {
          label: "Identifiant",
          field: "identifiant",
        },
        {
          label: "Titre",
          field: "titre",
          filterable: true,
        },
        {
          label: "Forme Juridique",
          field: "formJuridique",
        },
        {
          label: "Statut",
          field: "statut",
        },
        {
          label: "Action",
          field: "action",
          html: true,
        },
      ],
      rows: [],
    };
  },
  created() {
    let userId = "";
    let userMail = "";
    if (localStorage.getItem("userSession")) {
      let userInfo = JSON.parse(localStorage.getItem("userSession"));
      userId = userInfo.uid;
      userMail = userInfo.email;
    }

    if (userMail == "admin@cyberschool-gabon.com") {
      this.ref.where("statut", "==", "Evalué").onSnapshot((querySnapshot) => {
        this.projets = [];
        querySnapshot.forEach((doc) => {
          this.rows.push({
            identifiant: doc.data().identifiant,
            titre: doc.data().titre,
            formJuridique: doc.data().formJuridique,
            statut: doc.data().statut,
            action:
              '<a href="/bp/evaluateur/projets/' +
              doc.id +
              '" class="btn btn-primary" data-toggle="tooltip" title="Cliuez ici pour évaluer"><i class="fa fa-eye"></i></a>' +
              ' <a target="_blank" href="/bp/summary/' +
              doc.id +
              '/print" class="btn btn-success" data-toggle="tooltip" title="télécharger"><i class="fa fa-download"></i></a>',
          });
          //    console.log(this.rows);
        });
      });
    }

    this.ref
      .where(
        "eval",
        "==",
        firebase
          .firestore()
          .collection("users")
          .doc(userId)
      )
      .where("statut", "==", "Non Evalué")
      .onSnapshot((querySnapshot) => {
        this.projets = [];
        querySnapshot.forEach((doc) => {
          this.rows.push({
            identifiant: doc.data().identifiant,
            titre: doc.data().titre,
            formJuridique: doc.data().formJuridique,
            statut: doc.data().statut,
            action:
              '<a href="/bp/evaluateur/projets/' +
              doc.id +
              '" class="btn btn-primary" data-toggle="tooltip" title="Cliuez ici pour évaluer"><i class="fa fa-eye"></i></a>',
          });
          //    console.log(this.rows);
        });
      });
  },
  methods: {
    getAuthUserFullName() {
      if (localStorage.getItem("userSession")) {
        let userInfo = JSON.parse(localStorage.getItem("userSession"));
        let datef = userInfo.firstTimeConnection;
        let date = new Date(datef).toLocaleString();
        //console.log(userInfo);
        let profileName = userInfo.displayName;
        this.userId = userInfo.uid;
        return profileName;
      }
    },
    /*loadItems() {
                this.projets.forEach((doc) => {
                    this.rows = doc.data();
                    console.log(rows);
                })
            }*/
  },
};
</script>
