<template>
    <div>     
        <div class="mt-3">
            <el-form>
                <div class="row">
                    <div class="col-xl-8 ml-2">
                        <el-form-item label="Sous Tâches">
                            <el-col class="time-progres">
                                <el-progress :text-inside="true" :stroke-width="26" :percentage="70" status="success" class="progres"></el-progress>
                            </el-col>
                        </el-form-item>
                    </div>
                </div>                
                <div class="row mt-2">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                        <div class="input-group">
                            <div class="input-group-append">
                            <el-checkbox v-model="checked1" border></el-checkbox>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Sous-tâches 2">
                        </div>  
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="100%" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Effort</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-12">                                                   
                        <span class="input-group mb-3">
                        <el-date-picker
                        v-model="value1"
                        type="datetime"
                        placeholder="Début">
                        </el-date-picker>
                        </span>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-12">
                        <span class="input-group mb-3">
                        <el-date-picker
                        icon="el-icon-date"
                        v-model="value1"
                        type="datetime"
                        placeholder="Fin">
                        </el-date-picker>
                        </span>
                    </div>                                                
                </div>
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                        <div class="input-group">
                            <div class="input-group-append">
                            <el-checkbox v-model="checked1" border></el-checkbox>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Sous-tâches 2">
                        </div>  
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="100%" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Effort</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-12">                                                   
                        <span class="input-group mb-3">
                        <el-date-picker
                        v-model="value1"
                        type="datetime"
                        placeholder="Début">
                        </el-date-picker>
                        </span>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-12">
                        <span class="input-group mb-3">
                        <el-date-picker
                        icon="el-icon-date"
                        v-model="value1"
                        type="datetime"
                        placeholder="Fin">
                        </el-date-picker>
                        </span>
                    </div>                                                
                </div>
            </el-form>
        </div>                               
    </div>
</template>
<script>
export default {
    name : 'contentSubTache',
  data () {
    return{}
  },     
}
</script>
<style scoped>
    .input-group-text{
        color: #fff !important;
        background: #28a745de !important;
    }
    .titre-labs {
        padding: 0 !important;
    }
    .table td, .table th {
        padding: 0.50rem;
    }
    .table thead{
        width: 100% !important;
    }
   .table thead th, .table th{
       border: 1px solid #28a745de;
       color: #fff !important;
       background: #28a745de !important;
       padding: 10px 15px;
       font-size: 1rem !important;
       text-align: center !important;
   }
    .table tbody tr td{
        /* border: 1px solid #df8f4c57; */
        padding: 5!important;
    }
    .material-icons-outlined{
        background-color: #28a745de;
        color: #fff;
        padding: 6px 8px;
        margin: 0;
    }
</style>
