<template>
    <div>   
        <h4> Enregistrement du courrier Entrant </h4>
        <div class="row">
            <div class="col-12 col-xl-12 col-lg-12 col-md-12" >
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>N° d'Ordre d'arrivé</th>
                            <th>N° Courrier</th>
                            <th>PROVENANCE</th>
                            <th >CLASSEUR</th>  
                            <th>Date ARRIVEE</th>
                            <th>Date COURRIER</th>
                            <th>ACCUSE DE RECEPTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SGP-1</td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>1248</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>001841</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>PRESIDENCE</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>PRIMATURE</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <el-date-picker                                                        
                                    placeholder="Date 08/06/15"
                                    width="500px"
                                    v-model="value1"
                                    type="dates">
                                    </el-date-picker>
                                    <i class="ic-date el-icon-date"></i>
                                </div>
                            </td>
                             <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <el-date-picker                                                        
                                    placeholder="Date 08/06/15"
                                    width="500px"
                                    v-model="value1"
                                    type="dates">
                                    </el-date-picker>
                                    <i class="ic-date el-icon-date"></i>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>              
    </div>
</template>
<script>
export default {
    name : 'contentTabSort',   
  data () {
    return{}
  }   
}
</script>
<style scoped>
    .table td, .table th {
        padding: 0.50rem;
    }
    .selection .custom-select{
        background: none !important;
    }
    .table {
        margin-bottom: 0 !important;
    }
    .table thead{
        width: 100% !important;
    }
   .table thead th, .table th{
       border: 1px solid #28a745de;
       color: #fff !important;
       background: #28a745de !important;
       padding: 10px 15px;
       font-size: 1rem !important;
       text-align: center !important;
   }
    .table tbody tr td{
        border: 1px solid #28a745de;
        padding: 5!important;
    }
    .form-control {
         border: 1px solid #28a745de !important;

    }
    .selection .custom-select{
        background: none !important;
    }    
    .ic-date {
        font-size: 2rem;
        color: #28a745de;
    }
    .material-icons-outlined{
        background-color: #28a745de;
        color: #fff;
        padding: 6px 8px;
        margin: 0;
    }

</style>
