<template>
    <div>  
        <!-- <el-form>         -->
            <el-card class="box-card mt-3">
                <div class="row">
                    <div class="col-xl-1 d-flex mt-2">
                        <span class="mr-2">Code:</span>
                        <span style="color: #28a745"><strong >JES-001</strong></span>
                    </div>
                    <div class="col-xl-3">
                        <el-form  ref="form" :model="form"  label-width="120px">
                            <el-form-item label="Projet :"> 
                                <div class="input-group">
                                    <div class="input-group-append">
                                    <span class="material-icons-outlined">play_arrow</span>
                                    </div>
                                    <select id="" class="form-control">
                                        <option value="gestionDoc">GESTION DOC</option>
                                        <option value="Sortant">Sortant</option>
                                    </select>
                                </div>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="col-xl-3">
                        <el-form  ref="form" :model="form"  label-width="120px">
                            <el-form-item label="Activité:"> 
                                <div class="input-group">
                                    <div class="input-group-append">
                                    <span class="material-icons-outlined">play_arrow</span>
                                    </div>
                                    <select id="" class="form-control">
                                        <option value="Entrant">BUG</option>
                                        <option value="Sortant">Sortant</option>
                                    </select>
                                </div>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="col-xl-3">
                        <el-form  ref="form" :model="form"  label-width="120px">
                            <el-form-item label="Type Courrier:"> 
                                <div class="input-group">
                                    <div class="input-group-append">
                                    <span class="material-icons-outlined">play_arrow</span>
                                    </div>
                                    <select id="" class="form-control">
                                        <option value="Sortant">Sortant</option>
                                        <option value="Entrant">Entrant</option>
                                    </select>
                                </div>
                            </el-form-item>
                        </el-form>
                    </div>
                    <!-- <div class="col-xl-3">
                        <el-form  ref="form" :model="form"  label-width="120px">
                            <el-form-item label="Opération:"> 
                                <div class="input-group">
                                    <div class="input-group-append">
                                    <span class="material-icons-outlined">play_arrow</span>
                                    </div>
                                    <select id="" class="form-control">
                                        <option value="Entrant">Création de tycket</option>
                                        <option value="Sortant">Sortant</option>
                                    </select>
                                </div>
                            </el-form-item>
                        </el-form>
                    </div> -->
                </div>
                <!-- modif en-tete -->
                <div class="mrg-top">
                    <el-form ref="form" :model="form">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7 col-12">
                                    <el-form-item label="Titre du Ticket"> 
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <span class="material-icons-outlined">play_arrow</span>
                                            </div>
                                            <!-- <select id="" class="form-control">
                                                <option value="titre">--- Titre du ticket ---</option>
                                            </select> -->
                                            <input type="text" class="form-control" placeholder="------Titre de ticket-----" aria-label="Username" aria-describedby="basic-addon1">                                          
                                        </div>
                                    </el-form-item>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-12">
                                    <el-form-item label="Statut"> 
                                        <div class="input-group">
                                            <div class="input-group-append">
                                            <span class="material-icons-outlined">play_arrow</span>
                                            </div>
                                            <select id="" class="form-control">
                                                <option value="faire">Faire</option>
                                                <option value="cours">En cours</option>
                                                <option value="terminer">Terminer</option>
                                            </select>
                                        </div>
                                    </el-form-item>
                                </div>
                            </div>
                    </el-form>
                </div>
            </el-card>    
        <!-- </el-form>                        -->
    </div>
</template>
<script>
export default {
    name : 'headerTicketSort',
    
  data () {
    return{}
  }
}
</script>
<style scoped>
    .form-group{
        margin-bottom: 0 !important;
    }
    .el-form-item {
        margin-bottom: .3px !important;
    }
    .mrg-top.container{
        margin-top: -2% !important;
    }
    .custom-select-categorie select{
        border: 1px solid #ced4da !important;
        border-radius: 5px 0 0 5px !important;
        padding: 2px 10px !important;
    }
    .select-person select {
        border: 1px solid #0000002b !important;
        padding: 2px 10px !important;
        border-radius: 5px !important;
        color: #404040 !important;
    }
    .el-tabs--border-card>.el-tabs__content{
        background: #dce8ff1f !important;
    }
    .el-tabs__item{
        font-size: 1.1rem !important;
      }
    .is-active{
        background-color:#409EFF !important;
        color: #fff !important;
        /* font-size: 1.1rem !important; */
    }

    .el-button--primary, .el-button--danger{
        font-size: 1rem;
        background-color: #d98238 !important;
        border: 1px solid #d98238 !important;
    }

    .el-button.is-circle {
        padding: 5px;
    }
    .el-submenu .el-menu-item {
        min-width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 180px;
        border: 1px solid d98238;
    }
    .ic-date {
        font-size: 2rem;
        color: #d98238;
    }
  
    .con-vs-card:hover{
        cursor: pointer;
        background-color: rgb(238, 233, 233);
    }
    .el-select{
        padding: 0 !important;
        background-color: black;
    }
   
    .text-white {
        color: white;
    }
    
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

   .input-group .material-icons-outlined{
        background-color: #28a745de;
        color: #fff;
        padding: 6px 7px;
        margin: 0;
    }

  
</style>
