<template>
  <section id="main" style="padding-top: 0px;">
    <article class="content">
      <!-- Background Image -->

      <div class="clearfix"></div>

      <div class="container content-program">
        <div class="title-box">
          <h1 class="title">Programmes</h1>
        </div>
        <div class="container">
          <div class="row">
            <div
              class="col-6 col-md-4 col-sm-12 mb-2"
              v-for="(group, index) in allGroupPrograms"
              :key="index"
            >
              <!-- Card -->
              <div class="card border-style hvr-glow">
                <el-carousel
                  :autoplay="false"
                  :interval="4000"
                  type="card"
                  height="200px"
                >
                  <el-carousel-item
                    v-for="(source, index) in group.images"
                    :key="index"
                  >
                    <img
                      class="card-img-top img-responsive"
                      :src="source"
                      alt="Card image cap"
                    />
                  </el-carousel-item>
                </el-carousel>
                <!-- <el-dropdown trigger="click">
                                <span class="el-dropdown-link btn btn-sm float-right mr-2">
                                    <i class="fas fa-ellipsis-v cyb-white"></i> 
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item icon="el-icon-edit" @click.native="modifyConcours(group)">Modifier</el-dropdown-item>
                                    <el-dropdown-item icon="el-icon-delete" @click.native="deleteCreatedConcours(group.id, index)">Supprimer</el-dropdown-item>
                                    <el-dropdown-item icon="el-icon-link" @click.native="copyGroupProgramLink(index)">Copier le lien du Groupe</el-dropdown-item>
                        
                                </el-dropdown-menu>
                              </el-dropdown>   -->
                <div class="card-body">
                  <h4 class="card-title ellipsis" :title="group.titre">
                    {{ group.titre }}
                  </h4>
                  <input
                    type="hidden"
                    v-if="hostname == 'www.cyberschool-gabon.com'"
                    :id="'linkgroup' + index"
                    :value="
                      'https://www.cyberschool-gabon.com/programs/all/' +
                        group.id
                    "
                  />
                  <input
                    type="hidden"
                    v-else
                    :id="'linkgroup' + index"
                    :value="hostname + '/programs/all/' + group.id"
                  />
                  <a
                    class="nav-link"
                    :href="'/programs/all/' + group.id"
                    tabindex="-1"
                    aria-disabled="true"
                  >
                    <button type="button" class="btn btn-primary">
                      Ouvrir
                    </button>
                  </a>
                </div>
              </div>
              <!-- Card -->
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</template>
<style scoped>
.content-program {
  min-height: calc(100vh - 101px - 116px);
}
</style>
<script>
import firebase from "firebase";
import GroupProgram from "../../../store/collection/groupProgram";
export default {
  data() {
    return {
      //REF
      concoursRef: firebase.firestore().collection("concours"),
      GroupProgramRef: firebase.firestore().collection("groupProgram"),

      //DATAS
      allGroupPrograms: "",
      hostname: window.location.host,
    };
  },
  async mounted() {
    //  this.allGroupPrograms= GroupProgram.getAllDocumentPublic('groupProgram')
    //  this.$loading().close()
    this.getPulicPrograms();
  },
  methods: {
    getProgramImages(id, collection) {
      return firebase
        .firestore()
        .collection(collection)
        .doc(id)
        .get();
    },
    getPulicPrograms() {
      let results = [];

      //    Loading.service({ fullscreen: true });
      let promiseProg = new Promise((resolve, reject) => {
        this.GroupProgramRef.where("public", "==", true)
          .get()
          .then((querySnapshot) => {
            if (!querySnapshot.empty) {
              querySnapshot.forEach((doc) => {
                console.log(doc.data())
                let imagesConcours = [];
                doc.data().programs.forEach((concoursId) => {
                  this.getProgramImages(concoursId, "concours").then((doc) => {
                    imagesConcours.push(doc.data().logoConcours);
                  });
                });
                // console.log(doc.id)
                results.push({
                  titre: doc.data().titre,
                  programs: doc.data().programs,
                  idIncubateur: doc.data().idIncubateur,
                  images: imagesConcours,
                  id: doc.id,
                });
              });
              resolve(results);
              // console.log("Hello", results)
            } else {
              reject(results);
            }
          });
      });
      Promise.allSettled([promiseProg]).then((values) => {
        this.allGroupPrograms = results;
        this.$loading().close();
      });
    },
  },
};
</script>
