<template>
  <div class="row">
    <div v-if="isInput" class="d-flex">
      <div class="col-xl-10 col-lg-10 d-inline">
        <el-form-item :label="label">
          <div class="input-group">
            <div class="input-group-append">
              <span
                class="input-group-text material-icons-outlined"
                :style="{ backgroundColor: couleur }"
                id="basic-addon2"
                >person</span
              >
            </div>
            <el-select
              v-if="
                $store.state.agilite.mode == 'creation' ||
                  $store.state.agilite.mode == 'modification' ||
                  $store.state.agilite.mode == 'filtres'
              "
              @click.native="getUsers()"
              @change="changeUserAssign($event)"
              filterable
              v-model="userId"
              class="form-control"
            >
              <div>
                <el-tabs @tab-click="loadTabContent($event)">
                  <el-tab-pane label="Utilisateurs de mon espace">
                    <div v-if="loadingUsers">
                      <el-skeleton :rows="5" :loading="loadingUsers" animated>
                        <template slot="template">
                          <el-row
                            v-for="index in 5"
                            :key="'raw' + index"
                            :gutter="10"
                          >
                            <el-col :span="20">
                              <!-- Checkbox-->
                              <el-skeleton-item variant="h1" />
                            </el-col>
                            <el-col :span="2">
                              <el-skeleton-item
                                variant="image"
                                class="user-pic"
                              />
                            </el-col>
                          </el-row>
                        </template>
                      </el-skeleton>
                    </div>
                    <el-option
                      v-else
                      v-for="(item, index) in allUsers"
                      :key="item.id + index"
                      :label="item.first_name + ' ' + item.last_name"
                      :value="item.id"
                      :selected="[item.id == currentUId ? 'true' : 'false']"
                    >
                      {{
                        (item.first_name + " " + item.last_name)
                          | cyb_desc_split
                      }}
                      <img
                        v-if="item.photo"
                        :src="'data:image/png;base64,' + item.photo"
                        class="user-pic"
                      />
                      <img
                        v-else
                        src="/bp/assets/images/users/logodefaultuser.png"
                        class="user-pic"
                      />
                    </el-option>
                  </el-tab-pane>
                  <el-tab-pane label="Autres">
                    <div v-if="loadingOthersUsers">
                      <el-skeleton
                        :rows="5"
                        :loading="loadingOthersUsers"
                        animated
                      >
                        <template slot="template">
                          <el-row
                            v-for="index in 5"
                            :key="'raw' + index"
                            :gutter="10"
                          >
                            <el-col :span="20">
                              <!-- Checkbox-->
                              <el-skeleton-item variant="h1" />
                            </el-col>
                            <el-col :span="2">
                              <el-skeleton-item
                                variant="image"
                                class="user-pic"
                              />
                            </el-col>
                          </el-row>
                        </template>
                      </el-skeleton>
                    </div>
                    <el-option
                      v-else
                      v-for="(item, index) in allOthersUsers"
                      :key="item.id + index"
                      :label="item.first_name + ' ' + item.last_name"
                      :value="item.id"
                      :selected="[item.id == currentUId ? 'true' : 'false']"
                    >
                      {{
                        (item.first_name + " " + item.last_name)
                          | cyb_desc_split
                      }}
                      <img
                        v-if="item.photo"
                        :src="'data:image/png;base64,' + item.photo"
                        class="user-pic"
                      />
                      <img
                        v-else
                        src="/bp/assets/images/users/logodefaultuser.png"
                        class="user-pic"
                      />
                    </el-option>
                  </el-tab-pane>
                </el-tabs>
              </div>
              <div v-if="loadingUsers">
                <el-skeleton :loading="loadingUsers" animated>
                  <template slot="template">
                    <el-skeleton-item variant="image" class="user-pic" />
                  </template>
                </el-skeleton>
              </div>
            </el-select>
            <span
              v-else-if="
                $store.state.agilite.mode == 'affichage' && !loadingUsers
              "
            >
              {{
                (this.userInfos.first_name + " " + this.userInfos.last_name)
                  | cyb_desc_split
              }}
            </span>
          </div>
        </el-form-item>
      </div>
      <div v-if="loadingUsers">
        <el-skeleton :loading="loadingUsers" animated>
          <template slot="template">
            <el-skeleton-item variant="image" class="user-pic" />
          </template>
        </el-skeleton>
      </div>
      <div
        v-else
        class="delete col-xl-2 col-lg-2 col-2 no-pad-l d-inline image"
      >
        <img
          class="user-pic cursor"
          v-if="userImage != ''"
          :src="'data:image/png;base64,' + userImage"
        />
        <img
          v-else
          src="/bp/assets/images/users/logodefaultuser.png"
          class="user-pic cursor"
        />
      </div>
    </div>
    <div v-else>
      <el-form>
        <el-form-item :label="label">
          <div class="delete col-xl-2 col-lg-2 col-12 no-pad-l image ">
            <el-dropdown placement="bottom-end" trigger="click">
              <div v-if="loadingUsers">
                <el-skeleton :loading="loadingUsers" animated>
                  <template slot="template">
                    <el-skeleton-item
                      variant="image"
                      class="user-pic marge-user"
                    />
                  </template>
                </el-skeleton>
              </div>
              <div v-else>
                <img
                  class="user-pic cursor marge-user"
                  @click="getUsers()"
                  v-if="userImage != '' && !loadingUsers"
                  :src="'data:image/png;base64,' + userImage"
                />
                <img
                  v-else
                  @click="getUsers()"
                  src="/bp/assets/images/users/logodefaultuser.png"
                  class="user-pic cursor marge-user"
                />
              </div>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                  v-if="isFilter"
                  @click.native="changeUserAssign('none')"
                >
                  <div
                    class="d-flex justify-content-between align-items-center py-3"
                  >
                    <img
                      src="/bp/assets/images/users/logodefaultuser.png"
                      class="user-pic"
                    />
                    <span>
                      Tous
                    </span>
                  </div>
                </el-dropdown-item>
                <el-dropdown-item
                  @click.native="changeUserAssign(item.id)"
                  v-for="(item, index) in allUsers"
                  :key="item.id + 'all' + index"
                  :label="item.first_name + ' ' + item.last_name"
                  :value="item.id"
                  :selected="[item.id == currentUId ? 'true' : 'false']"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div>
                      <div v-if="loadingUsers">
                        <el-skeleton :loading="loadingUsers" animated>
                          <template slot="template">
                            <el-skeleton-item
                              variant="image"
                              class="user-pic"
                            />
                          </template>
                        </el-skeleton>
                      </div>
                      <div v-else>
                        <img
                          v-if="item.photo"
                          :src="'data:image/png;base64,' + item.photo"
                          class="user-pic"
                        />
                        <img
                          v-else
                          src="/bp/assets/images/users/logodefaultuser.png"
                          class="user-pic"
                        />
                      </div>
                    </div>
                    <span class="pr-3">
                      {{
                        (item.first_name + " " + item.last_name)
                          | cyb_desc_split
                      }}
                    </span>
                  </div>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
// import "@/public/bp/css/pages//style_courrier_entrant.css";
// import style_courrier_entrant from '../../../../../../../../../public/bp/css/pages/style_courrier_entrant'
export default {
  name: "affecte",
  props: {
    couleur: {
      default: "#000",
    },
    adminId: {
      default: null,
    },
    label: {
      default: "",
      type: String,
    },
    isInput: {
      default: true,
      type: Boolean,
    },
    defaultUser: {
      default: "",
      type: String,
    },
    isFilter: {
      default: false,
      type: Boolean,
    },
  },
  watch: {
    mode: async function(val) {
      this.initData(val);
    },
  },
  computed: {
    currentUId: {
      get() {
        return this.$store.state.agilite.currentUId;
      },
      set(value) {
        this.$store.commit("agilite/setCurrentUId", value);
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  data() {
    return {
      users: firebase.firestore().collection("users"),
      allUsers: [],
      allOthersUsers: [],
      loadingUsers: false,
      loadingOthersUsers: false,
      userImage: "",
      userInfos: {},
      ticket: {
        currentUId: "",
      },
      userId: "",
    };
  },
  methods: {
    //Récupération des utilisateurs
    async getUsers(adminId = this.adminId, defaultUser = this.currentUId) {
      if (this.allUsers.length == 0 || this.allUsers.length == 1) {
        this.loadingUsers = true;
        this.users.where("adminId", "==", this.adminId).onSnapshot((query) => {
          let users = [];
          if (!query.empty) {
            const result = new Promise((resolve, reject) => {
              query.forEach((doc) => {
                let user = doc.data();
                user.id = doc.id;
                users.push(user);
              });
              resolve(users);
            });
            Promise.all([result]).then((value) => {
              //   alert("Hello")
              this.loadingUsers = false;
              this.allUsers = value[0];
              // this.changeUserAssign(defaultUser);

              // console.log("Result",result)
            });
          }
        });
      }
    },
    async getOthersUsers(
      adminId = this.adminId,
      defaultUser = this.currentUId
    ) {
      if (this.allOthersUsers.length == 0 || this.allOthersUsers.length == 1) {
        this.loadingOthersUsers = true;
        this.users.onSnapshot((query) => {
          let users = [];
          if (!query.empty) {
            const result = new Promise((resolve, reject) => {
              query.forEach((doc) => {
                let user = doc.data();
                user.id = doc.id;
                users.push(user);
              });
              resolve(users);
            });
            Promise.all([result]).then((value) => {
              //   alert("Hello")
              this.loadingOthersUsers = false;
              this.allOthersUsers = value[0];
              // this.changeUserAssign(defaultUser);

              // console.log("Result",result)
            });
          }
        });
      }
    },
    loadTabContent(event) {
      switch (event.index) {
        case "0":
          this.getUsers();
          // this.getActionsReloadArchives();
          // alert("BEW");
          // if (this.actionsData.length == 0) {
          //   this.getActions();
          // }
          break;
        case "1":
          this.getOthersUsers();
          break;

        default:
          break;
      }
    },
    changeUserAssign(id) {
      if (id == "none" && this.isFilter) {
        let user = {
          id: "none",
        };
        this.userImage = "";
        this.$emit("update:userFilter", user);
      } else {
        let indexUser = this.allUsers.findIndex((item) => item.id === id);
        if (this.allUsers[indexUser].photo) {
          this.userImage = this.allUsers[indexUser].photo;
        } else {
          this.userImage = "";
        }
        if (this.isFilter) {
          this.$emit("update:userFilter", this.users.doc(id));
        } else {
          this.$emit("update:user", this.users.doc(id));
        }
      }
    },
    initData(val) {
      switch (val) {
        case "filtres":
          let user = {
            id: "none",
          };
          this.userImage = "";
          this.$emit("update:userFilter", user);
          break;
        case "creation":
          if (!this.isFilter) {
            this.loadingUsers = true;
            this.users
              .doc(this.currentUId)
              .get()
              .then((snap) => {
                let data = snap.data();
                data.id = snap.id;
                this.allUsers.push(data);
                this.userImage = data.photo;
                this.loadingUsers = false;
                this.$emit("update:user", this.users.doc(this.currentUId));
                this.userId = this.currentUId;
              });
          }
          break;
        case "modification":
          if (!this.isFilter && this.defaultUser == "") {
            this.users
              .doc(this.currentUId)
              .get()
              .then((snap) => {
                let data = snap.data();
                data.id = snap.id;
                this.allUsers.push(data);
                this.userImage = data.photo;
                this.$emit("update:user", this.users.doc(this.currentUId));
                this.userId = this.currentUId;
              });
          } else {
            this.users
              .doc(this.defaultUser)
              .get()
              .then((snap) => {
                let data = snap.data();
                data.id = snap.id;
                this.allUsers.push(data);
                this.userImage = data.photo;
                this.$emit("update:user", this.users.doc(this.defaultUser));
                this.userId = this.defaultUser;
              });
          }
          break;
        case "affichage":
          if (!this.isFilter) {
            this.$store.state.agilite.task.userId.get().then((snap) => {
              this.userInfos = snap.data();
              this.userImage = snap.data().photo;
            });
          }
          break;

        default:
          break;
      }
    },
  },
  created() {
    this.initData(this.$store.state.agilite.mode);
  },
};
</script>
<style scoped>
.el-input__inner {
  height: 36px !important;
  border-radius: 0 !important;
}
.cursor {
  cursor: pointer;
}

.el-popper[x-placement^="top"],
.el-popper[x-placement^="bottom"] {
  margin: 5px 110px !important;
  overflow-y: scroll !important;
  max-height: 70% !important;
  /* max-width: 50px !important; */
}
.marge-user {
  margin-top: -48px !important;
}
</style>
