<template>
  <div>
    <el-form>
      <div class="">
        <!-- <div class="marge-bot">{{ label + " :" }}</div> -->
        <el-form-item label="B. Value: " label-width="80px">
          <div class="input-group">
            <div class="input-group-append">
              <!-- <span
                  :style="
                    errorObjet
                      ? { backgroundColor: 'red' }
                      : { backgroundColor: couleur }
                  "
                class="material-icons-outlined"
                >radar</span
              > -->
            </div>
            <!-- mode création -->
            <input
              v-if="
                $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification'
              "
              @input="$emit('update:bValue', $event.target.value)"
              type="number"
              v-model="bValue"
              class="form-control"
              placeholder="------ Nombre -----"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
            <!-- mode affichage -->
            <span
              class="ml-2"
              v-else-if="$store.state.agilite.mode == 'affichage'"
            >
              <strong>{{ $store.state.agilite.task.bValue }}</strong>
            </span>
          </div>
          <!-- <span v-if="errorObjet" :style="{color: activeColor}"></span>  -->
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>
<script>
export default {
  name: "businessValue",
  props: {
    couleur: {
      default: "#d98238",
    },
    errorObjet: {
      default: false,
      type: Boolean,
    },
    // bValue: {
    //   default: "",
    //   type: String,
    // },
    label: {
      default: "",
      type: String,
    },
  },
  data() {
    return {
      // activeColor:"red",
      bValue: "",
    };
  },
  computed: {
    // idSummarySelected: (state) => state.agilite.idSummarySelected,
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/initData", value);
        console.log("TEST", this.$store.state.agilite.idSummarySelected);
      },
    },
  },
  methods: {},
  mounted() {
    this.$emit("update:idSummarySelected", this.idSummarySelected);
    // console.log("TEST", this.$store.state.agilite.idSummarySelected);
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.bValue = this.$store.state.agilite.task.bValue;
        // this.dates.dateCourrier = this.$store.state.agilite.task.dateCourrier;
        // this.numCourrier = this.$store.state.agilite.task.num;

        break;

      default:
        break;
    }
  },
};
</script>
<style scoped>
.marge-bot {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
input::placeholder {
  color: #dbdbdc!important;
  font-weight: 500;
  /* font-size: 12px; */
}
</style>
