<template>
  <div>
    <el-form-item label="composant:">
      <div class="input-group">
        <div class="input-group-append">
          <span
            class="input-group-text"
            :style="{ backgroundColor: this.style.color }"
            :class="this.style.class"
            id="basic-addon2"
            >{{ this.style.iconName }}</span
          >
        </div>
        <select
          :style="{
            backgroundColor: this.style.color,
            color: this.style.text,
            fontWeight: this.style.weight,
          }"
          v-model="ticket.composant"
          class="form-control"
        >
          <option
            @click="changeStyle(item)"
            v-for="item in composants"
            :key="item.id"
            :value="item.id"
            :selected="[item.default ? 'true' : 'false']"
            >{{ item.libelle }}
          </option>
        </select>
      </div>
    </el-form-item>
  </div>
</template>
<script>
import Composant from "../../../../erp/models/composant";
export default {
  name: "composant",
  props: {
    couleur: {
      default: "#000",
    },
    idSummarySelected: {
      default: null,
    },
    typeTicketSelected: {
      default: null,
    },
  },
  data() {
    return {
      //composants
      composants: [],
      ticket: {
        composant: "",
      },
      style: {
        class: "material-icons-outlined",
        iconName: "north_east",
        color: "",
        text: "#ffff",
        weight: "bold",
      },
    };
  },
  methods: {
    getComposants() {
      Composant.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "composants"
      ).then((querySnapshot) => {
        this.composants = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.composants.push(data);
          if (data.default) {
            this.ticket.composant = doc.id;
            this.style.color = data.color;
            this.style.class = data.propretyIcon.iconClass;
            this.style.iconName = data.propretyIcon.NameIcon;
          }
        });
      });
    },
    changeStyle(item) {
      this.style.class = item.propretyIcon.iconClass;
      this.style.iconName = item.propretyIcon.NameIcon;
      this.style.color = item.color;
    },
  },
  mounted() {
    this.getComposants();
  },
};
</script>
<style scoped>
.el-form-item {
  margin-bottom: 6px !important;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
</style>
