<template>
  <div class="col-xl-12">
    <el-form ref="form">
      <el-form-item :label="label">
        <div class="input-group">
          <div class="input-group-append">
            <span
              :style="{ backgroundColor: couleur }"
              class="material-icons-outlined"
              >contact_phone</span
            >
          </div>
          <select
            :class="{ ' border border-danger ': errorCoursier }"
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification'
            "
            @change="changeItem($event.target.value)"
            v-model="coursierId"
            class="form-control"
          >
            <option
              @click="changeStyle(item)"
              v-for="item in coursiers"
              :key="item.id"
              :value="item.id"
              :selected="[item.default ? 'true' : 'false']"
              >{{ item.nom + " " + item.prenom }}
            </option>
          </select>
          <!-- mode affichage -->
          <span
            class="ml-2"
            v-else-if="$store.state.agilite.mode == 'affichage'"
          >
            {{ this.coursierInfos.nom + " " + this.coursierInfos.prenom }}
          </span>
        </div>
        <span v-if="errorCoursier" :style="{ color: activeColor }"></span>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import Coursier from "../../../../../bp/erp/models/coursier";
export default {
  name: "coursier",
  props: {
    couleur: {
      default: "#000",
    },
    label: {
      default: "",
      type: String,
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
  },
  data() {
    return {
      // libelleCoursier:"",
      coursierId: "",
      coursiers: [],
      coursierInfos: "",
      activeColor: "red",
    };
  },
  methods: {
    getCoursiers() {
      Coursier.getDocumentSubSubCollectionSnap(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "coursiers"
      ).onSnapshot((querySnapshot) => {
        this.coursiers = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          if (data.id == this.coursierInfos.id) {
            data.default = true;
            this.coursierId = data.id;
          }
          this.coursiers.push(data);
        });
      });
    },
    changeStyle(item) {
      this.style.class = item.propretyIcon.iconClass;
      this.style.iconName = item.propretyIcon.NameIcon;
      this.style.color = item.color;
    },
    selectDefault(data) {
      if (data.default) {
        this.ticket.coursier = data.id;
        this.style.color = data.color;
        this.style.class = data.propretyIcon.iconClass;
        this.style.iconName = data.propretyIcon.NameIcon;
        this.changeItem(data.id);
      }
    },
    changeItem(id) {
      this.$emit(
        "update:coursier",
        Coursier.getDocumentSubSubCollectionDoc(
          "agilite",
          this.idSummarySelected,
          "params",
          this.typeTicketSelected,
          "coursiers"
        ).doc(id)
      );
    },
  },
  async created() {
    switch (this.$store.state.agilite.mode) {
      case "affichage":
        this.coursierInfos = await this.$store.state.agilite.task.coursier
          .get()
          .then((doc) => {
            return doc.data();
          });
        break;
      case "modification":
        this.coursierInfos = await this.$store.state.agilite.task.coursier
          .get()
          .then((doc) => {
            this.coursierId = doc.id;
            return doc.data();
          });
      default:
        break;
    }
  },
  mounted() {
    this.getCoursiers();
  },
};
</script>
<style scoped>
@media (max-device-width: 1257px) {
  .input-group {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
</style>
