<template>
  <div>
    <el-form-item label="crée par">
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span
            class="input-group-text material-icons-outlined"
            :style="{ backgroundColor: couleur }"
            id="basic-addon2"
            >person</span
          >
        </div>
        <span class="ml-2"> {{ user }}</span>
      </div>
    </el-form-item>
  </div>
</template>
<script>
export default {
  name: "creerPar",
  props: {
    couleur: {
      default: "#000",
    },
    user: {
      default: "",
      type: String,
    },
  },
};
</script>
<style scoped>
.el-form-item {
  margin-bottom: 6px;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
</style>
