<template>
  <div>
    <el-form-item label="Date" prop="dates">
      <el-date-picker
        style="width: 100%"
        class=""
        format="dd-MMMM-yyyy"
        type="datetimerange"
        range-separator="à"
        start-placeholder="Date de début"
        end-placeholder="Date de fin"
      ></el-date-picker>
    </el-form-item>
  </div>
</template>
<script>
export default {
  nama: "date",
};
</script>
<style scoped>
.el-form-item {
  margin-bottom: 6px !important;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
</style>
