<template>
  <div>
    <span v-if="this.mode == 'affichage'">
      <span class="">Début </span>
      <span class="date-affiche">
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <span
          :style="{ backgroundColor: couleur }"
          class="material-icons-outlined ml-2 affichage-date"
          >watch_later
        </span>
        {{
          new Date($store.state.agilite.task.dates[0]) | moment("Do MMMM YYYY")
        }}
      </span>
      <br /><br />
      <span class="ml-4">Fin </span>
      <span class="date-affiche">
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <span
          :style="{ backgroundColor: couleur }"
          class="material-icons-outlined ml-2 affichage-date"
          >watch_later
        </span>
        {{
          new Date($store.state.agilite.task.dates[1]) | moment("Do MMMM YYYY")
        }}</span
      >
    </span>
    <el-form-item v-else :label="label" prop="dates" label-width="80px">
      <el-date-picker
        @change="changeDate($event)"
        style="width: 100%"
        format="dd/MMMM/yyyy hh:mm:ss"
        v-model="dates"
        type="datetimerange"
        range-separator="à"
        start-placeholder="Date de début"
        end-placeholder="Date de fin"
        :default-value="new Date()"
      ></el-date-picker>
    </el-form-item>
  </div>
</template>
<script>
export default {
  name: "dateDebutFin",
  watch: {
    mode: function(val) {
      this.initMode(val);
    },
  },
  props: {
    label: {
      default: "Dates",
      type: String,
    },
    usedBy: {
      default: "none",
      type: String,
    },
    propsDates: {
      default() {
        return [];
      },
      type: Array,
    },
  },
  computed: {
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  data() {
    return {
      dates: [],
    };
  },
  methods: {
    changeDate() {
      this.$emit("dateDebutFin", this.dates);
    },
    initMode(mode) {
      switch (mode) {
        case "modification":
          if (this.usedBy == "subTask") {
            this.dates = this.propsDates;
          } else {
            this.dates = this.$store.state.agilite.task.dates;
          }
          break;

        default:
          break;
      }
    },
  },
  mounted() {
    this.initMode(this.mode);
  },
};
</script>
<style scoped>
  /* @media (max-width: 500px) {
    .el-form-item__content {
      margin-left: 5px !important;
    }
  } */
</style>
