<template>
  <div>
    <div
      class="d-flex flex-column"
      v-if="
        $store.state.agilite.mode == 'creation' ||
          $store.state.agilite.mode == 'modification'
      "
    >
      <div class="">
        <div class="d-flex flex-column h-25 ">
          <el-form-item label="Alerte :">
            <el-col :span="11">
              <el-date-picker
                format="dd/MM/yyyy HH:mm"
                @change="changeDate($event)"
                v-model="dateAlert"
                type="datetime"
                placeholder="Date ALerte"
              >
              </el-date-picker>
            </el-col>
          </el-form-item>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "dateDebutFin",
  watch: {
    mode: function(val) {
      this.initMode(val);
    },
  },
  computed: {
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  data() {
    return {
      dateAlert: "",
    };
  },
  methods: {
    changeDate() {
      // console.log("DATA", this.dateAlert);
      this.$emit("date:update", this.dateAlert);
    },
    initMode(mode) {
      switch (mode) {
        case "modification":
          break;
        case "affichage":

        default:
          break;
      }
    },
  },
  mounted() {
    this.initMode(this.mode);
  },
};
</script>
<style scoped></style>
