<template>
  <div>
    <el-form ref="form" label-width="0px">
      <div
        class="d-flex flex-column"
        v-if="
          $store.state.agilite.mode == 'creation' ||
            $store.state.agilite.mode == 'modification'
        "
      >
        <div class="">
          <div class="d-flex flex-column h-25 ">
            <el-form-item label="">
              <div class="margebas">Début</div>
              <el-col :span="11">
                <el-date-picker
                  type="date"
                  placeholder="Date "
                  format="dd/MM/yyyy"
                  @change="$emit('choixDateDebut:dateDebut', $event)"
                  v-model="form.dateDebut"
                  :default-value="new Date()"
                  style="width: 100%;marginTop:1"
                >
                </el-date-picker>
              </el-col>
              <el-col :span="11">
                <el-time-picker
                  placeholder="Heure"
                  @change="$emit('choixHeureDebut:heureDebut', $event)"
                  v-model="form.heureDebut"
                  style="width: 100%;"
                ></el-time-picker>
              </el-col>
            </el-form-item>
            <el-form-item label="">
              <div class="margebas">Fin</div>
              <el-col :span="11">
                <el-date-picker
                  type="date"
                  placeholder="Date"
                  format="dd/MM/yyyy"
                  @change="$emit('choixDateFin:dateFin', $event)"
                  :default-value="new Date()"
                  v-model="form.dateFin"
                  style="width: 100%;"
                ></el-date-picker>
              </el-col>
              <el-col :span="11">
                <el-time-picker
                  placeholder="Heure"
                  @change="$emit('choixHeureFin:heureFin', $event)"
                  v-model="form.heureFin"
                  style="width: 100%;"
                >
                </el-time-picker>
              </el-col>
            </el-form-item>
          </div>
        </div>
      </div>
      <div
        v-if="$store.state.agilite.mode == 'affichage'"
      >
        <div class="d-flex flex-column h-25 ">
          <div class="d-flex mb-3 justify-content-between">
            <div class="margebas mt-2 mt-2 fw-bolder ">Début</div>
            <div class="mt-2 ">
              {{
                new Date($store.state.agilite.task.dateDebut.seconds * 1000)
                  | moment("Do MMMM YYYY")
              }}
            </div>
            <div class="ms-2 mt-2 ">
              {{
                new Date($store.state.agilite.task.heureDebut.seconds * 1000)
                  | moment("H:MM:SS")
              }}
            </div>
          </div>
          <div class="d-flex mt-4 justify-content-between">
            <div class="margebas mt-2 fw-bolder ">Fin</div>
            <div class="mt-2 ">
              {{
                new Date($store.state.agilite.task.dateFin.seconds * 1000)
                  | moment("Do MMMM YYYY")
              }}
            </div>
            <div class="ms-2 mt-2 ">
              {{
                new Date($store.state.agilite.task.heureFin.seconds * 1000)
                  | moment("H:MM:SS")
              }}
            </div>
          </div>
        </div>
      </div>
    </el-form>
  </div>
</template>
<script>
export default {
  name: "dateDebutFin",
  watch: {
    mode: function(val) {
      this.initMode(val);
    },
  },
  computed: {
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  data() {
    return {
      form: {
        dateDebut: "",
        heureDebut: "",
        dateFin: "",
        heureFin: "",
      },
    };
  },
  methods: {
    changeDate() {
      this.$emit("dateDebutFin", this.dates);
    },
    initMode(mode) {
      switch (mode) {
        case "modification":
          this.form.dateDebut = new Date(
            this.$store.state.agilite.task.dateDebut.seconds * 1000
          );
          this.form.heureDebut = new Date(
            this.$store.state.agilite.task.heureDebut.seconds * 1000
          );
          this.$store.state.agilite.task.heureDebut;
          this.form.dateFin = new Date(
            this.$store.state.agilite.task.dateFin.seconds * 1000
          );
          this.form.heureFin = new Date(
            this.$store.state.agilite.task.heureFin.seconds * 1000
          );
          break;
        case "affichage":
          this.form.dateDebut = this.$store.state.agilite.task.dateDebut;
          this.form.heureDebut = this.$store.state.agilite.task.heureDebut;
          this.form.dateFin = this.$store.state.agilite.task.dateFin;
          this.form.heureFin = this.$store.state.agilite.task.heureFin;
        default:
          break;
      }
    },
  },
  mounted() {
    this.initMode(this.mode);
  },
};
</script>
<style scoped></style>
