<template>
    <div>
        
            <div class="col-xl-12 col-lg-12 col-md-12">
                <el-form-item label="">
                    <div class="mt-4">Description :</div>
                    <transition name="fade" mode="out-in">
                        <vue-editor id="zone" ></vue-editor>
                        <div >
                            <div class="hresize" placeholder="Description">
                            </div>
                            <el-button size="mini" icon="el-icon-edit"></el-button>
                        </div>
                    </transition>
                </el-form-item>
            </div>
       
    </div>
</template>
<script>
import { VueEditor, Quill } from "vue2-editor";
export default {
    name:"description",
    components: {
        VueEditor
    }
}
</script>
<style scoped>

</style>