<template>
  <div>
    <el-form-item label="Envelope">
      <div class="input-group">
        <div class="input-group-append">
          <span
            class="input-group-text"
            :style="{ backgroundColor: this.style.color }"
            :class="this.style.class"
            id="basic-addon2"
            >{{ this.style.iconName }}</span
          >
        </div>
        <select
          @change="changeItem($event.target.value)"
          :style="{
            backgroundColor: this.style.color,
            color: this.style.text,
            fontWeight: this.style.weight,
          }"
          v-model="ticket.etiquette"
          class="form-control"
        >
          <option
            @click="changeStyle(item)"
            v-for="item in etiquettes"
            :key="item.id"
            :value="item.id"
            :selected="[item.default ? 'true' : 'false']"
            >{{ item.libelle }}
          </option>
        </select>
      </div>
    </el-form-item>
  </div>
</template>
<script>
import Etiquette from "../../../../erp/models/etiquette";
export default {
  name: "etiquette",
  props: {
    couleur: {
      default: "#000",
    },
    idSummarySelected: {
      default: null,
    },
    typeTicketSelected: {
      default: null,
    },
  },
  data() {
    return {
      //Etiquettes
      etiquettes: [],
      ticket: {
        etiquette: "",
      },
      style: {
        class: "material-icons-outlined",
        iconName: "north_east",
        color: "",
        text: "#ffff",
        weight: "bold",
      },
    };
  },
  methods: {
    getEtiquettes() {
      Etiquette.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "etiquettes"
      ).then((querySnapshot) => {
        this.etiquettes = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.etiquettes.push(data);
          this.selectDefault(data);
        });
      });
    },
    changeStyle(item) {
      this.style.class = item.propretyIcon.iconClass;
      this.style.iconName = item.propretyIcon.NameIcon;
      this.style.color = item.color;
    },
    selectDefault(data) {
      if (data.default) {
        this.ticket.etiquette = data.id;
        this.style.color = data.color;
        this.style.class = data.propretyIcon.iconClass;
        this.style.iconName = data.propretyIcon.NameIcon;
        this.changeItem(data.id);
      }
    },
    changeItem(id) {
      this.$emit(
        "update:etiquette",
        Etiquette.getDocumentSubSubCollectionDoc(
          "agilite",
          this.idSummarySelected,
          "params",
          this.typeTicketSelected,
          "etiquettes"
        ).doc(id)
      );
    },
  },
  mounted() {
    this.getEtiquettes();
  },
};
</script>
<style scoped>
.el-form-item {
  margin-bottom: 6px !important;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
</style>
