<template>
  <div>
    <el-form ref="form">
      <el-form-item label="Etiquette " label-width="80px">
        <div v-if="isFilter" class="input-group filter">
          <select
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification' ||
                $store.state.agilite.mode == 'filtres'
            "
            @change="changeItem($event.target.value)"
            :style="{
              backgroundColor: this.style.color,
              color: this.style.text,
              fontWeight: this.style.weight,
            }"
            v-model="ticket.etiquette"
            class=" form-control-sm"
          >
            <option :selected="true" value="none">Tous</option>
            <option
              @click="changeStyle(item)"
              v-for="item in etiquettes"
              :key="item.id"
              :value="item.id"
              :selected="[item.default ? 'true' : 'false']"
              >{{ item.libelle }}
            </option>
          </select>
          <span
            class="ml-2"
            v-else-if="$store.state.agilite.mode == 'affichage'"
          >
            {{ this.$store.state.agilite.task.etiquette.libelle }}
          </span>
        </div>
        <div v-else class="input-group">
          <div class="input-group-append">
            <span
              class="input-group-text"
              :style="{ backgroundColor: this.style.color }"
              :class="this.style.class"
              id="basic-addon2"
              >{{ this.style.iconName }}</span
            >
          </div>
          <select
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification'
            "
            @change="changeItem($event.target.value)"
            :style="{
              backgroundColor: this.style.color,
              color: this.style.text,
              fontWeight: this.style.weight,
            }"
            v-model="ticket.etiquette"
            class="form-control"
          >
            <option
              @click="changeStyle(item)"
              v-for="item in etiquettes"
              :key="item.id"
              :value="item.id"
              :selected="[item.default ? 'true' : 'false']"
              >{{ item.libelle }}
            </option>
          </select>
          <span
            class="ml-2"
            v-else-if="$store.state.agilite.mode == 'affichage'"
          >
            {{ this.ticket.etiquette }}
          </span>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import Etiquette from "../../../../erp/models/etiquette";
export default {
  name: "enveloppe",
  props: {
    isFilter: {
      default: false,
      type: Boolean,
    },
    couleur: {
      default: "#000",
    },
  },
  watch: {
    mode: function(val) {
      this.initData();
    },
    typeTicketSelected: function(val) {
      this.getEtiquettes();
    },
  },
  computed: {
    etiquette: {
      get() {
        return this.$store.state.agilite.etiquette;
      },
      set(value) {
        this.$store.commit("agilite/setEtiquette", value);
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
  },
  data() {
    return {
      //Etiquettes
      etiquettes: [],
      ticket: {
        etiquette: "",
      },
      style: {
        class: "material-icons-outlined",
        iconName: "north_east",
        color: "",
        text: "#ffff",
        weight: "bold",
      },
    };
  },
  methods: {
    getEtiquettes() {
      Etiquette.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "etiquettes"
      ).then((querySnapshot) => {
        this.etiquettes = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.etiquettes.push(data);
          this.selectDefault(data);
        });
      });
    },
    changeStyle(item) {
      this.style.class = item.propretyIcon.iconClass;
      this.style.iconName = item.propretyIcon.NameIcon;
      this.style.color = item.color;
    },
    selectDefault(data) {
      switch (this.$store.state.agilite.mode) {
        case "filtres":
        case "creation":
          if (this.isFilter) {
            this.ticket.etiquette = "none";
          } else {
            this.ticket.etiquette = data.id;
          }
          if (data.default) {
            this.style.color = data.color;
            this.style.class = data.propretyIcon.iconClass;
            this.style.iconName = data.propretyIcon.NameIcon;
            this.changeItem(data.id);
          }
          break;
        case "modification":
          if (data.id == this.etiquette) {
            this.ticket.etiquette = data.id;
            this.style.color = data.color;
            this.style.class = data.propretyIcon.iconClass;
            this.style.iconName = data.propretyIcon.NameIcon;
            this.changeItem(data.id);
          }
          break;
        case "affichage":
          break;

        default:
          break;
      }
    },
    changeItem(id) {
      if (this.isFilter) {
        let filter = {
          id: id,
        };
        this.$emit("update:etiquetteFilter", filter);
      } else {
        this.$emit(
          "update:etiquette",
          Etiquette.getDocumentSubSubCollectionDoc(
            "agilite",
            this.idSummarySelected,
            "params",
            this.typeTicketSelected,
            "etiquettes"
          ).doc(id)
        );
      }
    },
    initData() {
      if (
        this.$store.state.agilite.mode == "creation" ||
        this.$store.state.agilite.mode == "modification" ||
        this.$store.state.agilite.mode == "filtres"
      ) {
        this.getEtiquettes();
      }
      if (this.$store.state.agilite.mode == "affichage") {
        this.$store.state.agilite.task.etiquette.get().then((doc) => {
          this.ticket.etiquette = doc.data().libelle;
          this.changeStyle(doc.data());
        });
      }
    },
  },
  mounted() {
    this.initData();
  },
};
</script>
<style scoped>
.el-form-item {
  margin-bottom: 6px !important;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
.filter .form-control-sm {
  font-weight: 500 !important;
  border: none !important;
  width: 160% !important;
  padding: 0.25rem 0.5rem !important;
  margin-left: -81px !important;
  margin-top: -21px !important;
  margin-bottom: 13% !important;
}
</style>
