<template>
  <div>
    <el-form ref="form">
      <div class="content-checkbox">
        <span>Invest :</span>
        <el-form-item label="Indépendante ? :" label-width="140px">
          <div class="content2">
            <el-radio-group
              v-model="independant"
              @change="$emit('update:independant', independant)"
            >
              <el-radio label="oui">Oui</el-radio>
              <el-radio label="non">Non</el-radio>
              <el-radio label="mitige">Mitigé</el-radio>
            </el-radio-group>
          </div>
        </el-form-item>
        <el-form-item label="Négociable ? :" label-width="140px">
          <div class="content2">
            <el-radio-group
              v-model="negociable"
              @change="$emit('update:negociable', negociable)"
            >
              <el-radio label="oui">Oui</el-radio>
              <el-radio label="non">Non</el-radio>
              <el-radio label="mitige">Mitigé</el-radio>
            </el-radio-group>
          </div>
        </el-form-item>
        <el-form-item label="Viable ? :" label-width="140px">
          <div class="content2">
            <el-radio-group
              v-model="viable"
              @change="$emit('update:viable', viable)"
            >
              <el-radio label="oui">Oui</el-radio>
              <el-radio label="non">Non</el-radio>
              <el-radio label="mitige">Mitigé</el-radio>
            </el-radio-group>
          </div>
        </el-form-item>

        <el-form-item label="Estimable ? :" label-width="140px">
          <div class="content2">
            <el-radio-group
              v-model="estimable"
              @change="$emit('update:estimable', estimable)"
            >
              <el-radio label="oui">Oui</el-radio>
              <el-radio label="non">Non</el-radio>
              <el-radio label="mitige">Mitigé</el-radio>
            </el-radio-group>
          </div>
        </el-form-item>
        <el-form-item label="Petite ? :" label-width="140px">
          <div class="content2">
            <el-radio-group
              v-model="petite"
              @change="$emit('update:petite', petite)"
            >
              <el-radio label="oui">Oui</el-radio>
              <el-radio label="non">Non</el-radio>
              <el-radio label="mitige">Mitigé</el-radio>
            </el-radio-group>
          </div>
        </el-form-item>
        <el-form-item label="Testable ? :" label-width="140px">
          <div class="content2">
            <el-radio-group
              v-model="testable"
              @change="$emit('update:testable', testable)"
            >
              <el-radio label="oui">Oui</el-radio>
              <el-radio label="non">Non</el-radio>
              <el-radio label="mitige">Mitigé</el-radio>
            </el-radio-group>
          </div>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>
<script>
import Sprint from "../../../../erp/models/sprint";
export default {
  name: "invest",
  props: {
    isFilter: {
      default: false,
      type: Boolean,
    },
    couleur: {
      default: "#000",
    },
    libelle: {
      default: "Sprint",
      type: String,
    },
  },
  watch: {
    mode: function (val) {
      this.initData();
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  data() {
    return {
      //sprints
      checked: true,
      // radio: 3,
      independant: "oui",
      negociable: "oui",
      viable: "oui",
      estimable: "oui",
      petite: "oui",
      testable: "oui",
      sprints: [],
      ticket: {
        sprint: "",
      },
      style: {
        class: "material-icons-outlined",
        iconName: "north_east",
        color: "",
        text: "#ffff",
        weight: "bold",
      },
    };
  },
  methods: {
    initData() {
      if (this.$store.state.agilite.mode == "affichage") {
        this.independant = this.$store.state.agilite.task.independant;
        this.petite = this.$store.state.agilite.task.petite;
        this.negociable = this.$store.state.agilite.task.negociable;
        this.viable = this.$store.state.agilite.task.viable;
        this.estimable = this.$store.state.agilite.task.estimable;
        this.testable = this.$store.state.agilite.task.testable;
      }
      if (this.mode == "modification") {
        console.log("tontonton", this.$store.state.agilite.task);
        this.independant = this.$store.state.agilite.task.independant;
        this.petite = this.$store.state.agilite.task.petite;
        this.negociable = this.$store.state.agilite.task.negociable;
        this.viable = this.$store.state.agilite.task.viable;
        this.estimable = this.$store.state.agilite.task.estimable;
        this.testable = this.$store.state.agilite.task.testable;
      }
    },
  },

  mounted() {
    this.initData();
  },
};
</script>
<style>
/* .content-checkbox .el-form-item__label {
  color: #d98238;
} */
.content-checkbox .el-form-item {
  margin-bottom: 6px !important;
}
.content-checkbox .material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.content-checkbox .hauteur-input {
  line-height: 2.5rem !important;
}
.content-checkbox .filter .form-control-sm {
  font-weight: 500 !important;
  border: none !important;
  width: 160% !important;
  padding: 0.25rem 0.5rem !important;
  margin-left: -81px !important;
  margin-top: -21px !important;
  margin-bottom: 13% !important;
}
.content-checkbox .checkbox-invest {
  margin-right: 30px !important;
}
.content-checkbox .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #409eff !important;
  border-color: #409eff !important;
  height: 25px !important;
  width: 25px !important;
}
.content-checkbox .el-radio__inner {
  display: inline-block;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background-color: #fff;
  z-index: 1;
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
}
.content-checkbox .el-radio__inner::after {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.15s ease-in;
}
.content2 {
  display: flex !important;
}
.content-checkbox .el-radio-group {
  margin-top: 12px !important;
}
</style>
