<template>
  <div>
    <!---------------- Mode Creation ------------------------------------------>
    <div v-if="$store.state.agilite.mode == 'creation'">
      <h4>Liens :</h4>
      <div
        v-for="(link, index) in action.links"
        :key="link.id"
        class="row mt-2 mb-4"
      >
        <div class="col-12 mt-3">
          <span>Lien {{ index + 1 }}</span>
        </div>
        <div class="col-xl-3 col-lg-3 col-12">
          <select
            @change="setType($event.target.value, index)"
            class="form-control"
          >
            <option v-for="item in listLinks" :key="item.id" :value="item.id">
              {{ item.libelle }}
            </option>
          </select>
        </div>
        <div class="col-xl-7 col-lg-7 col-12">
          <div class="input-group">
            <select
              @change="setTicket($event.target.value, index)"
              class="form-control"
            >
              <option :selected="true" :value="link.idTicket.id">{{
                link.titre
              }}</option>
              <option
                v-for="item in listTickets"
                :key="item.id"
                :value="item.id"
              >
                {{ item.titre }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-5">
          <el-button @click="deleteLink(index)" size="small" type="danger"
            ><i class="el-icon-delete"></i
          ></el-button>
        </div>
      </div>
      <el-button @click="addLInk()" size="small" type="primary"
        ><i class="el-icon-plus"></i
      ></el-button>
    </div>
    <!---------------- Mode Affichage ------------------------------------------>
    <div v-else-if="$store.state.agilite.mode == 'modification'">
      <h4>Liens :</h4>
      <div
        v-for="(lien, index) in action.links"
        :key="index"
        class="row mt-2 mb-4"
      >
        <div class="col-12 mt-3">
          <span>Lien {{ index + 1 }}</span>
        </div>
        <div class="col-xl-3 col-lg-3 col-12">
          <select
            @change="setType($event.target.value, index)"
            class="form-control"
          >
            <option
              v-for="item in listLinks"
              :selected="[item.ref == lien.idType ? 'true' : 'false']"
              :key="item.id"
              :value="item.id"
            >
              {{ item.libelle }}
            </option>
          </select>
        </div>
        <div class="col-xl-7 col-lg-7 col-12">
          <div class="input-group">
            <select
              @change="setTicket($event.target.value, index)"
              class="form-control"
            >
              <option
                v-for="item in listTickets"
                :key="item.id"
                :value="item.id"
                :selected="[
                  item.ref.toString() == lien.idTicket.toString()
                    ? 'true'
                    : 'false',
                ]"
              >
                {{ item.titre }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-5">
          <el-button @click="deleteLink(index)" size="small" type="danger"
            ><i class="el-icon-delete"></i
          ></el-button>
        </div>
      </div>
      <el-button @click="addLInk()" size="small" type="primary"
        ><i class="el-icon-plus"></i
      ></el-button>
    </div>
    <!---------------- Mode Affichage ------------------------------------------>
    <div v-else-if="this.mode == 'affichage'">
      <h4>Liens :</h4>
      <div
        v-for="(lien, index) in action.links"
        :key="lien.id"
        class="row mt-2 mb-4"
      >
        <div class="col-12 mt-3">
          <span>Lien {{ index + 1 }}</span>
        </div>
        <div class="col-xl-3 col-lg-3 col-12"></div>
        <div class="col-xl-7 col-lg-7 col-12">
          <strong>{{ lien.libelle }}</strong>
        </div>
        <div class="col-xl-2 col-lg-2 col-5">
          <span>{{ lien.titre }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase, { firestore } from "firebase";
export default {
  name: "linkBloc",
  data() {
    return {
      linksRef: firebase.firestore().collection("link"),
      action: {
        links: [],
      },
    };
  },
  props: {
    index: {
      default: 0,
      type: Number,
    },
  },
  watch: {
    mode: function(val) {
      this.initData();
    },
  },
  computed: {
    listLinks: {
      get() {
        return this.$store.state.agilite.listLinks;
      },
    },
    listTickets: {
      get() {
        return this.$store.state.agilite.listTickets;
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
  },
  methods: {
    addLInk() {
      this.action.links.push({
        idType: "",
        idTicket: "",
      });
    },
    setType(id, index) {
      this.action.links[index].idType = this.linksRef.doc(id);
      console.log("REFTYPE", this.action.links[index].idType);
    },
    setTicket(id, index) {
      this.action.links[index].idTicket = this.tasksRef.doc(id);
      console.log("REFTICKET", id);
      console.log("OBJ", this.action.links);
    },
    deleteLink(index) {
      this.action.links.splice(index, 1);
    },
    async initData() {
      switch (this.mode) {
        case "modification":
          this.action.links = this.$store.state.agilite.task.links;
          console.log("Data", this.action.links);
          this.action.links.forEach((item) => {
            console.log("Ticket", item.idTicket.toString());
          });
          this.listTickets.forEach((item) => {
            console.log("ListTicket", item.ref.toString());
          });
          // this.$store.state.agilite.task.links.forEach((item, index) => {
          //   item.idTicket.get().then((doc) => {
          //     this.action.links[index].titre = doc.data().titre;
          //     this.$forceUpdate();
          //   });
          //   item.idType.get().then((doc) => {
          //     this.action.links[index].libelle = doc.data().libelle;
          //     this.$forceUpdate();
          //   });
          // });

          break;
        case "affichage":
          this.action.links = this.$store.state.agilite.task.links;
          this.$store.state.agilite.task.links.forEach((item, index) => {
            item.idTicket.get().then((doc) => {
              this.action.links[index].titre = doc.data().titre;
              this.$forceUpdate();
            });
            item.idType.get().then((doc) => {
              this.action.links[index].libelle = doc.data().libelle;
              this.$forceUpdate();
            });
          });
          break;

        default:
          break;
      }
    },
  },
  mounted() {
    this.initData();
  },
};
</script>
