<template>
  <div>
    <el-form-item label-width="80px" label="Mois:">
      <div class="input-group">
        <div class="input-group-append">
          <span class="material-icons-outlined">calendar_view_month</span>
        </div>
        <select
          v-if="
            $store.state.agilite.mode == 'creation' ||
              $store.state.agilite.mode == 'modification'
          "
          class="form-control"
          v-model="selectMois"
          @change="onChange($event)"
        >
          <option value="aucun" selected>aucun</option>
          <option value="JANVIER">JANVIER</option>
          <option value="FEVRIER">FEVRIER</option>
          <option value="MARS">MARS</option>
          <option value="AVRIL">AVRIL</option>
          <option value="MAI">MAI</option>
          <option value="JUIN">JUIN</option>
          <option value="JUILLET">JUILLET</option>
          <option value="AOUT">AOUT</option>
          <option value="SEPTEMBRE">SEPTEMBRE</option>
          <option value="OCTOBRE">OCTOBRE</option>
          <option value="NOVEMBRE">NOVEMBRE</option>
          <option value="DECEMBRE">DECEMBRE</option>
        </select>
        <span class="ml-2" v-else-if="$store.state.agilite.mode == 'affichage'">
          {{ $store.state.agilite.task.mois }}
        </span>
      </div>
    </el-form-item>
  </div>
</template>

<script>
export default {
  name: "mois",
  data() {
    return {
      selectMois: "",
    };
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/initData", value);
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  methods: {
    onChange(event) {
      this.$emit("update:monthSelect", event.target.value);
    },
  },
  mounted() {
    this.$emit("update:idSummarySelected", this.idSummarySelected);
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.selectMois = this.$store.state.agilite.task.selectMois;
        break;
      case "affichage":
        break;
      default:
        break;
    }
  },
};
</script>

<style scoped>
.material-icons-outlined {
  background: #70ad47;
  color: #fff;
}
</style>
