<template>
  <div class="d-flex flex-column">
    <div
      :style="{ backgroundColor: couleur }"
      class="d-flex content-ttcc shadow flex-row"
    >
      <div class="d-flex flex-row montant align-items-center">
        <p class=" p-2 text-secondary">TOTAL (TTC):</p>
        <div class="p-2">
          <strong>
            <vue-numeric
              :currency="currentCurrencyMask['currency']"
              :currency-symbol-position="
                currentCurrencyMask['currency-symbol-position']
              "
              :min="0"
              :minus="true"
              :empty-value="0"
              :precision="0"
              :decimal-separator="currentCurrencyMask['decimal-separator']"
              :thousand-separator="currentCurrencyMask['thousand-separator']"
              :read-only="true"
              :value="totalAchat"
              class="form-control  p-1 fs-3 align-middle  text-start"
            ></vue-numeric>
          </strong>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueNumeric from "vue-numeric";
import monnaies from "../../../../mixins/currenciesMask";
export default {
  mixins: [monnaies],
  props: {
    couleur: {
      default: "#000",
    },
    totalAchat: {
      type: Number,
      default: 0,
    },
  },
  components: {
    VueNumeric,
  },
};
</script>
<style scoped>
.content-ttcc {
  height: 70% !important;
  width: 100% !important;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 40px 10px;
  margin: 27px auto;
}
</style>
