<template>
  <div>
    <el-form-item label="Compte principal à débiter :">
      <div class="input-group">
        <div class="input-group-append compt">
          <span class="material-icons-outlined">credit_score</span>
        </div>
        <input
          v-if="
            $store.state.agilite.mode == 'creation' ||
              $store.state.agilite.mode == 'modification'
          "
          v-model="numero"
          type="text"
          class="form-control"
          placeholder="------Entrer le numéro de Compte-----"
          @input="$emit('update:numeroCompte', $event.target.value)"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />

        <!-- mode affichage -->
        <span class="ml-2" v-else-if="$store.state.agilite.mode == 'affichage'">
          <strong>{{ $store.state.agilite.task.numeroCompte }}</strong>
        </span>
      </div>
    </el-form-item>
  </div>
</template>

<script>
export default {
  name: "numCompte",
  data() {
    return {
      numero: "",
    };
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/initData", value);
      },
    },
  },
  mounted() {
    this.$emit("update:idSummarySelected", this.idSummarySelected);
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.numero = this.$store.state.agilite.task.numeroCompte;
        break;
      case "affichage":
        break;
      default:
        break;
    }
  },
};
</script>

<style scoped>
.el-form-item__content {
  margin-left: 210px !important;
}
.material-icons-outlined {
  background: #70ad47;
  color: #fff;
}
</style>
