<template>
  <div>
    <el-form ref="form">
      <el-form-item label="objectif :" label-width="80px">
        <div v-if="isFilter" class="input-group filter">
          <select
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification' ||
                $store.state.agilite.mode == 'filtres'
            "
            @change="changeItem($event.target.value, 'clic')"
            :style="{
              backgroundColor: this.priority.color,
              color: this.priority.text,
              fontWeight: this.priority.weight,
            }"
            v-model="ticket.objectif"
            class="form-control-sm"
          >
            <option :selected="true" value="none">Tous</option>
            <option
              class="small-size"
              @click="changeStylePriority(item)"
              v-for="item in objectifs"
              :key="item.id"
              :value="item.id"
              :selected="[item.default ? 'true' : 'false']"
              >{{ item.libelle }}
            </option>
          </select>
          <span
            class="ml-2"
            v-else-if="$store.state.agilite.mode == 'affichage'"
          >
            {{ this.libelleObjectif }}
          </span>
        </div>
        <div v-else class="input-group">
          <div class="input-group-append">
            <span
              class="input-group-text"
              :style="{ backgroundColor: this.priority.color }"
              :class="this.priority.class"
              id="basic-addon2"
              >{{ this.priority.iconName }}</span
            >
          </div>
          <select
            v-if="
              this.mode == 'creation' ||
              this.mode == 'modification' ||
              this.mode == 'filtres'
            "
            @change="changeItem($event.target.value, 'clic')"
            :style="{
              backgroundColor: this.priority.color,
              color: this.priority.text,
              fontWeight: this.priority.weight,
            }"
            v-model="ticket.objectif"
            class="form-control"
          >
            <option
              @click="changeStylePriority(item)"
              v-for="item in objectifs"
              :key="item.id"
              :value="item.id"
              :selected="[item.default ? 'true' : 'false']"
              >{{ item.libelle }}
            </option>
          </select>
          <span
            class="ml-2"
            v-else-if="this.mode == 'affichage'"
          >
            {{ this.libelleObjectif }}
          </span>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
// import style_courrier_entrant from '../contentRigth'
import objectifModel from '../../../../erp/models/equipModel';
export default {
  name: "objectif",
  props: {
    color: {
      default: "#fff",
    },
    couleur: {
      default: "#fff",
    },
    isFilter: {
      default: false,
      type: Boolean,
    },
  },
  computed: {
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
  },
  watch: {
    mode: function(val) {
      this.initData(val);
    },
    typeTicketSelected: function(val) {
      this.getObjectif();
    },
  },
  data() {
    return {
      objectifs:[],
      ticket: {
        objectif: "",
      },
      libelleObjectif: "",
      // color:"",
      priority: {
        class: "material-icons-outlined",
        iconName: "north_east",
        color: "",
        text: "#ffff",
        weight: "bold",
      },
    };
  },
  methods: {
    getObjectif() {
      objectifModel.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "objectifs"
      ).then((querySnapshot) => {
        this.objectifs = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.objectifs.push(data);
          if (this.mode == "creation") {
            this.selectDefault(data);
          }
        });
      });
    },
    changeStylePriority(item) {
      this.priority.class = item.propretyIcon.iconClass;
      this.priority.iconName = item.propretyIcon.NameIcon;
      this.priority.color = item.color;
    },
    async selectDefault(data) {
      if (this.isFilter) {
        this.ticket.objectif = "none";
      } else {
        this.ticket.objectif = data.id;
      }
      if (data.default) {
        this.ticket.objectif = data.id;
        this.priority.color = data.color;
        this.priority.class = data.propretyIcon.iconClass;
        this.priority.iconName = data.propretyIcon.NameIcon;
        this.changeItem(data.id);
      }
    },
    changeItem(id, type) {
      if (this.isFilter && type == "clic") {
        let priority = {
          id: id,
        };
        this.$emit("update:prioriteFilter", priority);
      } else {
        this.$emit(
          "update:objectif",
          objectifModel.getDocumentSubSubCollectionDoc(
            "agilite",
            this.idSummarySelected,
            "params",
            this.typeTicketSelected,
            "objectifs"
          ).doc(id)
        );
      }
    },
    async initData(mode) {
      switch (mode) {
        case "affichage":
          this.libelleObjectif = await this.$store.state.agilite.task.objectif
            .get()
            .then((doc) => {
              return doc.data().libelle;
            });
          break;
        case "filtres":
        case "creation":
          this.getObjectif();
          break;
        case "modification":
          this.$store.state.agilite.task.objectif.get().then((doc) => {
            let data = doc.data();
            this.ticket.objectif = doc.id;
            this.priority.color = data.color;
            this.priority.class = data.propretyIcon.iconClass;
            this.priority.iconName = data.propretyIcon.NameIcon;
            this.changeItem(doc.id);
            this.getObjectif();
          });
          break;
          break;

        default:
          break;
      }
    },
  },
  async mounted() {
    this.priority.color = this.couleur;
    this.initData(this.mode);
  },
};
</script>
<style scoped>
.el-form-item {
  margin-bottom: 6px;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
.filter .form-control-sm {
  font-weight: 500 !important;
  border: none !important;
  width: 160% !important;
  padding: 0.25rem 0.5rem !important;
  margin-left: -81px !important;
  margin-top: -21px !important;
  margin-bottom: 13% !important;
}
</style>
