<template>
  <div>
    <el-form-item label="Protocole:">
      <div class="input-group">
        <div class="input-group-append">
          <span
            class="input-group-text"
            :style="{ backgroundColor: this.style.color }"
            :class="this.style.class"
            id="basic-addon2"
            >{{ this.style.iconName }}</span
          >
        </div>
        <select
          :style="{
            backgroundColor: this.style.color,
            color: this.style.text,
            fontWeight: this.style.weight,
          }"
          v-model="ticket.protocole"
          class="form-control"
        >
          <option
            @click="changeStyle(item)"
            v-for="item in protocoles"
            :key="item.id"
            :value="item.id"
            :selected="[item.default ? 'true' : 'false']"
            >{{ item.libelle }}
          </option>
        </select>
      </div>
    </el-form-item>
  </div>
</template>
<script>
import Protocole from "../../../../erp/models/protocole";
export default {
  name: "protocole",
  props: {
    couleur: {
      default: "#000",
    },
    idSummarySelected: {
      default: null,
    },
    typeTicketSelected: {
      default: null,
    },
  },
  data() {
    return {
      //versions
      protocoles: [],
      ticket: {
        protocole: "",
      },
      style: {
        class: "material-icons-outlined",
        iconName: "north_east",
        color: "",
        text: "#ffff",
        weight: "bold",
      },
    };
  },
  computed: {
    currentUId: {
      get() {
        return this.$store.state.agilite.currentUId;
      },
      set(value) {
        this.$store.commit("agilite/setCurrentUId", value);
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  methods: {
    getProtocoles() {
      Protocole.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "protocoles"
      ).then((querySnapshot) => {
        this.protocoles = [];
        querySnapshot.forEach((doc) => {
          let data = doc.data();
          data.ref = doc.ref;
          data.id = doc.id;
          this.protocoles.push(data);
          if (this.mode != "modification") {
            this.selectDefault(data);
          }
        });
      });
    },
    changeStyle(item) {
      this.style.class = item.propretyIcon.iconClass;
      this.style.iconName = item.propretyIcon.NameIcon;
      this.style.color = item.color;
      this.$emit("update:protocole", item);
    },
    selectDefault(data) {
      if (data.default) {
        this.ticket.protocole = data.id;
        this.style.color = data.color;
        this.style.class = data.propretyIcon.iconClass;
        this.style.iconName = data.propretyIcon.NameIcon;
        this.$emit("update:protocole", data);
      }
    },
  },
  mounted() {
    this.getProtocoles();
  },
};
</script>
<style scoped>
.el-form-item {
  margin-bottom: 6px !important;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
</style>
