<template>
    <div>
        <el-form-item label="Réalisation:" label-width="92px">
            <div class="row">
                <div class="col-xl-8">
                    <el-col class="time-progres">
                        <el-progress :text-inside="true" :stroke-width="26" :percentage="0" status="success" class="progres"></el-progress>
                    </el-col>
                </div>
            </div>
        </el-form-item>
    </div>
</template>
<script>
export default {
    name:"realisation",
        props : {
            color:{
            default:'#fff'
            },
           couleur: {
            default:'#000'
        },
    },
}
</script>
<style scoped>

</style>