<template>
  <div>
    <el-form ref="form">
      <el-form-item label="Période :" label-width="80px">
        <div v-if="isFilter" class="input-group filter">
          <select
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification' ||
                $store.state.agilite.mode == 'filtres'
            "
            @change="changeItem($event.target.value)"
            :style="{
              backgroundColor: this.style.color,
              color: this.style.text,
              fontWeight: this.style.weight,
            }"
            v-model="ticket.sprint"
            class="form-control-sm"
          >
            <option :selected="true" value="none">Tous</option>
            <option
              @click="changeStyle(item)"
              v-for="item in sprints"
              :key="item.id"
              :value="item.id"
              :selected="[item.default ? 'true' : 'false']"
              >{{ item.libelle }}
            </option>
          </select>
          <span
            class="ml-2"
            v-else-if="$store.state.agilite.mode == 'affichage'"
          >
            {{ this.libelle }}
          </span>
        </div>
        <!-- condition 2 -->

        <div v-else class="input-group">
          <div class="input-group-append">
            <span
              class="input-group-text"
              :style="{ backgroundColor: this.style.color }"
              :class="this.style.class"
              id="basic-addon2"
              >{{ this.style.iconName }}</span
            >
          </div>
          <select
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification'
            "
            @change="changeItem($event.target.value)"
            :style="{
              backgroundColor: this.style.color,
              color: this.style.text,
              fontWeight: this.style.weight,
            }"
            v-model="ticket.sprint"
            class="form-control"
          >
            <option
              @click="changeStyle(item)"
              v-for="item in sprints"
              :key="item.id"
              :value="item.id"
              :selected="[item.default ? 'true' : 'false']"
              >{{ item.libelle }}
            </option>
          </select>
          <span
            class="ml-2"
            v-else-if="$store.state.agilite.mode == 'affichage'"
          >
            {{ this.ticket.sprint }}
          </span>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import Sprint from "../../../../erp/models/sprint";
export default {
  name: "sprint",
  props: {
    isFilter: {
      default: false,
      type: Boolean,
    },
    couleur: {
      default: "#000",
    },
    libelle: {
      default: "Sprint",
      type: String,
    },
  },
  watch: {
    mode: function(val) {
      this.initData();
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  data() {
    return {
      //sprints
      sprints: [],
      ticket: {
        sprint: "",
      },
      style: {
        class: "material-icons-outlined",
        iconName: "north_east",
        color: "",
        text: "#ffff",
        weight: "bold",
      },
    };
  },
  methods: {
    getSprints() {
      Sprint.getDocumentSubSubCollectionSnap(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "sprints"
      ).onSnapshot((querySnapshot) => {
        this.sprints = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.sprints.push(data);
          if (this.mode == "creation") {
            this.selectDefault(data);
          }
        });
      });
    },
    changeStyle(item) {
      if (item.propretyIcon) {
        this.style.class = item.propretyIcon.iconClass;
        this.style.iconName = item.propretyIcon.NameIcon;
      }
      this.style.color = item.color;
    },
    selectDefault(data) {
      if (this.isFilter) {
        this.ticket.sprint = "none";
      }
      if (data.default) {
        this.ticket.sprint = data.id;
        this.style.color = data.color;
        this.style.class = data.propretyIcon.iconClass;
        this.style.iconName = data.propretyIcon.NameIcon;
        this.changeItem(data.id);
      }
    },
    changeItem(id) {
      if (this.isFilter) {
        let filter = {
          id: id,
        };
        this.$emit("update:sprintFilter", filter);
      } else {
        this.$emit(
          "update:sprint",
          Sprint.getDocumentSubSubCollectionDoc(
            "agilite",
            this.idSummarySelected,
            "params",
            this.typeTicketSelected,
            "sprints"
          ).doc(id)
        );
      }
    },
    initData() {
      if (
        this.mode == "creation" ||
        this.mode == "modification" ||
        this.mode == "filtres"
      ) {
        this.getSprints();
      }
      if (this.$store.state.agilite.mode == "affichage") {
        this.$store.state.agilite.task.sprint.get().then((doc) => {
          let data = doc.data();
          this.ticket.sprint = data.libelle;
          this.changeStyle(data);
        });
      }
      if (this.mode == "modification") {
        this.$store.state.agilite.task.sprint.get().then((doc) => {
          let data = doc.data();
          this.ticket.sprint = doc.id;
          // console.log("Data", data);
          this.changeItem(doc.id);
          this.changeStyle(data);
        });
      }
    },
  },

  mounted() {
    this.initData();
  },
};
</script>
<style scoped>
.el-form-item__label {
  color: #d98238;
}
.el-form-item {
  margin-bottom: 6px !important;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
.filter .form-control-sm {
  font-weight: 500 !important;
  border: none !important;
  width: 160% !important;
  padding: 0.25rem 0.5rem !important;
  margin-left: -81px !important;
  margin-top: -21px !important;
  margin-bottom: 13% !important;
}
</style>
