<template>
  <div>
    <el-form-item label="Version:">
      <div class="input-group">
        <div class="input-group-append">
          <span
            class="input-group-text"
            :style="{ backgroundColor: this.style.color }"
            :class="this.style.class"
            id="basic-addon2"
            >{{ this.style.iconName }}</span
          >
        </div>
        <select
          v-if="
            $store.state.agilite.mode == 'creation' ||
              $store.state.agilite.mode == 'modification'
          "
          @change="changeItem($event.target.value)"
          :style="{
            backgroundColor: this.style.color,
            color: this.style.text,
            fontWeight: this.style.weight,
          }"
          v-model="ticket.version"
          class="form-control"
        >
          <option
            @click="changeStyle(item)"
            v-for="item in versions"
            :key="item.id"
            :value="item.id"
            :selected="[item.default ? 'true' : 'false']"
            >{{ item.libelle }}
          </option>
        </select>
        <span class="ml-2" v-else-if="this.mode == 'affichage'">
          {{ this.ticket.version }}
        </span>
      </div>
    </el-form-item>
  </div>
</template>
<script>
import Version from "../../../../erp/models/version";
export default {
  name: "version",
  props: {
    couleur: {
      default: "#000",
    },
    idSummarySelected: {
      default: null,
    },
    typeTicketSelected: {
      default: null,
    },
  },
  watch: {
    mode: function(val) {
      this.initData();
    },
  },
  computed: {
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
  },
  data() {
    return {
      //versions
      libelle: "",
      versions: [],
      ticket: {
        version: "",
      },
      style: {
        class: "material-icons-outlined",
        iconName: "north_east",
        color: "",
        text: "#ffff",
        weight: "bold",
      },
    };
  },
  methods: {
    getVersions() {
      Version.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "versions"
      ).then((querySnapshot) => {
        this.versions = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.versions.push(data);
          if (this.mode == "creation") {
            this.selectDefault(data);
          }
        });
      });
    },
    changeStyle(item) {
      if (item.propretyIcon) {
        this.style.class = item.propretyIcon.iconClass;
        this.style.iconName = item.propretyIcon.NameIcon;
      }
      this.style.color = item.color;
    },
    selectDefault(data) {
      if (data.default) {
        this.ticket.version = data.id;
        this.style.color = data.color;
        this.style.class = data.propretyIcon.iconClass;
        this.style.iconName = data.propretyIcon.NameIcon;
        this.changeItem(data.id);
      }
    },
    changeItem(id) {
      this.$emit(
        "update:version",
        Version.getDocumentSubSubCollectionDoc(
          "agilite",
          this.idSummarySelected,
          "params",
          this.typeTicketSelected,
          "versions"
        ).doc(id)
      );
    },
    initData() {
      if (
        this.mode == "creation" ||
        this.mode == "modification" ||
        this.mode == "filtres"
      ) {
        this.getVersions();
      }
      if (this.mode == "affichage") {
        this.$store.state.agilite.task.versionRef.get().then((doc) => {
          let data = doc.data();
          this.ticket.version = data.libelle;
          this.changeStyle(data);
        });
      }
      if (this.mode == "modification") {
        this.$store.state.agilite.task.versionRef.get().then((doc) => {
          let data = doc.data();
          this.ticket.version = doc.id;
          // console.log("Data", data);
          this.changeItem(doc.id);
          this.changeStyle(data);
        });
      }
    },
  },

  mounted() {
    this.initData();
  },
};
</script>
<style scoped>
.el-form-item {
  margin-bottom: 6px !important;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
</style>
