<template>
  <div class="sold">
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h2 :class="{ sectionsold: smartphone }">Recettes</h2>
            <div class="d-flex no-block mt-4">
              <!-- <div class="m-r-20 align-self-center">
                <span class="lstick m-r-20"></span
                ><i class="mdi mdi-cash-multiple fa-3x"></i>
              </div> -->
              <div
                :class="{ sectionsold: smartphone }"
                class="align-self-center"
              >
                <!-- <h2 :class="{ sectionsold: smartphone }">Recettes</h2> -->
                <h6 :class="{ sectionsold: smartphone }">
                  Nombre de recettes :
                  <strong>{{ this.recetteFilter.length }} </strong>
                </h6>
                <h6 :class="{ sectionsold: smartphone }">
                  Total Recettes :
                  <strong class="color-blue">
                    <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="
                        currentCurrencyMask['currency-symbol-position']
                      "
                      output-type="String"
                      :empty-value="0"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="
                        currentCurrencyMask['decimal-separator']
                      "
                      :thousand-separator="
                        currentCurrencyMask['thousand-separator']
                      "
                      read-only-class="item-total"
                      :min="currentCurrencyMask['min']"
                      read-only
                      :value="totalRecette"
                    >
                    </vue-numeric
                  ></strong>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h2 :class="{ sectionsold: smartphone }">Dépenses</h2>
            <div class="d-flex no-block mt-4">
              <!-- <div class="m-r-20 align-self-center">
                <span class="lstick m-r-20"></span
                ><i class="material-icons mat-3x">point_of_sale</i>
              </div> -->
              <div class="align-self-center">
                <!-- <h2 :class="{ sectionsold: smartphone }">Dépenses</h2> -->
                <h6 :class="{ sectionsold: smartphone }">
                  Nombre de dépenses :
                  <strong>{{ this.depenseFilter.length }} </strong>
                </h6>
                <h6 :class="{ sectionsold: smartphone }">
                  Total dépenses :
                  <strong class="color-red">
                    <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="
                        currentCurrencyMask['currency-symbol-position']
                      "
                      output-type="String"
                      :empty-value="0"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="
                        currentCurrencyMask['decimal-separator']
                      "
                      :thousand-separator="
                        currentCurrencyMask['thousand-separator']
                      "
                      read-only-class="item-total"
                      :min="currentCurrencyMask['min']"
                      read-only
                      :value="totalDepense"
                    >
                    </vue-numeric
                  ></strong>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body pb-4">
            <h2 :class="{ sectionsold: smartphone }">Soldes</h2>
            <div class="d-flex no-block mt-4">
              <!-- <div class="m-r-20 align-self-center">
                <span class="lstick m-r-20"></span
                ><i class="fa fa-database fa-2x"></i>
              </div> -->
              <div class="align-self-center">
                <!-- <h2 :class="{ sectionsold: smartphone }">Soldes</h2> -->
                <h6 :class="{ sectionsold: smartphone }">
                  Montant :
                  <strong
                    v-bind:class="
                      this.sum.totalRecettes - this.sum.totalDepenses > 0
                        ? 'color-green'
                        : 'color-red'
                    "
                    ><vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="
                        currentCurrencyMask['currency-symbol-position']
                      "
                      output-type="String"
                      :empty-value="0"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="
                        currentCurrencyMask['decimal-separator']
                      "
                      :thousand-separator="
                        currentCurrencyMask['thousand-separator']
                      "
                      read-only-class="item-total"
                      :min="currentCurrencyMask['min']"
                      read-only
                      :value="this.totalRecette - this.totalDepense"
                    >
                    </vue-numeric
                  ></strong>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body pb-4">
            <h2 :class="{ sectionsold: smartphone }">Reste</h2>
            <div class="d-flex no-block mt-4">
              <!-- <div class="m-r-20 align-self-center">
                <span class="lstick m-r-20"></span
                ><i class="mdi mdi-cash mdi-48px"></i>
              </div> -->
              <div class="align-self-center">
                <!-- <h2 :class="{ sectionsold: smartphone }">Reste</h2> -->
                <h6>
                  Montant :
                  <strong
                    ><vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="
                        currentCurrencyMask['currency-symbol-position']
                      "
                      output-type="String"
                      :empty-value="0"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="
                        currentCurrencyMask['decimal-separator']
                      "
                      :thousand-separator="
                        currentCurrencyMask['thousand-separator']
                      "
                      read-only-class="item-total"
                      :min="currentCurrencyMask['min']"
                      read-only
                      :value="totalReste"
                    >
                    </vue-numeric
                  ></strong>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueNumeric from "vue-numeric";
import currenciesMaskMixin from "../../../bp/mixins/currenciesMask";
import helper from "../../../../services/helper";

export default {
  name: "headerSold",
  props: {
    recetteFilter: {
      default() {
        return [];
      },
      type: Array,
    },
    sumRecettes: {
      default: 0,
      type: Number,
    },
    depenseFilter: {
      default: 0,
      type: Number,
    },
    sumDepenses: {
      default: 0,
      type: Number,
    },
    sum: {
      default() {
        return {};
      },
    },
    smartphone: {
      default: false,
      type: Boolean,
    },
  },
  components: {
    VueNumeric,
  },
  mixins: [currenciesMaskMixin, helper],
  computed: {
    totalReste() {
      let totalReste = 0;
      this.recetteFilter.forEach((rec) => {
        for (let i in rec.products) {
          totalReste = totalReste + rec.products[i].resteAPayer.value;
        }
      });
      return totalReste;
    },
    totalRecette() {
      //Depense
      let totalrec = 0;
      this.recetteFilter.forEach((rec) => {
        for (let i in rec.products) {
          totalrec = totalrec + rec.products[i].montantRecu.value;
        }
      });

      return totalrec;
    },
    totalDepense() {
      let totaldep = 0;
      this.depenseFilter.forEach((depense) => {
        totaldep = totaldep + depense.montant;
      });
      return totaldep;
    },
  },
};
</script>

<style>
.color-green {
  color: #00ba8b;
}
.color-blue {
  color: #007bff;
}
.color-red {
  color: #b82621;
}
/* .card {
  min-height: 150px;
} */
.sold .card {
  min-height: 150px;
  border-radius: 10px;
  background: #fff;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.sold .card h2{
  line-height: 1;
  font-size: 1.1rem;
  font-weight: bold;
  color: #59595969;
}
.sold h6{
  font-size: 1rem;
}
</style>
