<template>
    <div class="customtab">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" :class="['nav-item', 'step-nav', {'active': activeIndex === 1}]" @click="moveToStatistiquesPage(index = 1)"> <span><i class=" fas fa-chart-bar"></i></span> Finances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" :class="['nav-item', 'step-nav', {'active': activeIndex === 2}]" @click="moveToModeldevisPage(index = 2)"> <span><i class="fas fa-plus-circle"></i></span> Devis</a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "NavBar",
    props:["activeIndex"],
    data(){
      return {
        
      }
    },
    methods:{
      moveToStatistiquesPage(index){
        this.$router.push({name : "suivi-dashboard"});
      },

      moveToModeldevisPage(index){
        this.$router.push({name : "Statistiques"});
      },
    }

}
</script>

<style scoped>
  li.nav-item{
    font-size: 18px!important;
    width: 24.6%;
    text-align: center;
    background: white;
    padding: 20px;
  }
  .step-nav{
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
    margin-top: 1%;
    z-index: 2000;
    background-color:#f5f7fa;
  }
  .step-nav:hover{
    background-color: #198cf0!important;
    color: white!important;
    cursor: pointer;
  }
  .step-nav:active{
    background-color: #198cf0!important;
    color: white!important;
    cursor: pointer;
  }
  .active{
    background-color: #198cf0!important;
    color: white!important;
  }
  div.content{
    width: 100% !important;
  }
  .customtab{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  li.nav-item {
    width: 50% !important;
  }
</style>