<template>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
            <label> <h4><b>Recettes :</b></h4></label>
                                  
                <table class="table color-bordered-table default-bordered-table">
                <thead>
                <tr class="recettecolor">
                    <th width="20%" scope="col">Date</th>
                    <th width="20%" scope="col">Type</th>
                    <th width="20%" scope="col">Produit/Service</th>
                    <th width="5%" scope="col">Quantite</th>
                    <th width="20%" scope="col">Montant</th>
                    <th width="25%" scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(rec, indexrec) in recettes" :key="indexrec">
                        <td>
                            
                            {{ new Date(rec.createdAt.seconds*1000) | moment("Do MMMM YYYY")  }}
                        </td>
                        <td>
                            {{ rec.type }}
                        </td>
                        <td>
                            <span v-for="(content,index) in rec.libelle" :key="index"> {{content}}</span>
                        </td>
                        <td>
                            {{ rec.quantite }}
                        </td>
                        <td>
                        <vue-numeric
                            :currency="currentCurrencyMask['currency']"
                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                            output-type="String"
                            empty-value=0
                            :precision="currentCurrencyMask['precision']"
                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                            read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                            read-only
                            :value="rec.montantRecu" >
                        </vue-numeric>
                        </td>
                        <td>
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type="String"
                                empty-value=0
                                :precision="currentCurrencyMask['precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                read-only
                                :value="rec.montantRecu*rec.quantite " >
                            </vue-numeric>
                                                
                        </td>
                                           
                                            
                    </tr>
                   
                    <tr class="tablefooterbesoins">
                        <td colspan=5> Total Recettes</td>
                        
                        <td colspan="1">
                            <strong>
                            <vue-numeric 
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type="String"
                                :empty-value="0"
                                :precision="currentCurrencyMask['precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                read-only
                                :value="this.sum.totalRecettes">
                            </vue-numeric>
                            </strong>
                        </td>
                                        
                                          
                                          
                    </tr>
                </tbody>
                                    
                </table>

            </div>
            <div class="form-group">
            <label> <h4><b>Dépenses :</b></h4></label>
                <table class="table color-bordered-table default-bordered-table">
                <thead>
                <tr class="tableheaderbesoins">
                    <th width="20%" scope="col">Date</th>
                    <th width="20%" scope="col">Type</th>
                    <th width="20%" scope="col">Libelle</th>
                    <th width="5%" scope="col">Quantite</th>
                    <th width="20%" scope="col">Montant</th>
                    <th width="25%" scope="col">Total</th>
                </tr>
                </thead>
                                   
                <tbody>
                    <tr v-for="(dep, index) in depenses" :key="index">
                        <td>
                            
                            {{  new Date(dep.dates.depenseDate.seconds*1000) | moment("Do MMMM YYYY")  }}
                        </td>
                        <td>
                            {{ dep.type }}
                        </td>
                        <td>
                            {{  dep.libelle }}
                           
                        </td>
                        <td>
                            {{ dep.quantite }}
                        </td>
                        <td>
                        <vue-numeric
                            :currency="currentCurrencyMask['currency']"
                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                            output-type="String"
                            empty-value=0
                            :precision="currentCurrencyMask['precision']"
                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                            read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                            read-only
                            :value="dep.montant" >
                        </vue-numeric>
                        </td>
                        <td>
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type="String"
                                empty-value=0
                                :precision="currentCurrencyMask['precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                read-only
                                :value="dep.montant*dep.quantite " >
                            </vue-numeric>
                                                
                        </td>
                                           
                                            
                    </tr>
                    <tr class="tablefooterbesoins">
                        <td colspan=5>Total Dépenses</td>
                        <td colspan="1">
                            <vue-numeric 
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type="String"
                                :empty-value="0"
                                :precision="currentCurrencyMask['precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                read-only
                                :value="this.sum.totalDepenses">
                            </vue-numeric>
                        </td>
                                        
                                          
                                          
                    </tr>
                </tbody>
                                    
                </table>

            </div>

            <div class="form-group">
            <label> <h4><b>Solde :</b></h4></label>
                <table class="table color-bordered-table default-bordered-table">
                <thead>
                <tr v-bind:class="this.sum.totalRecettes-this.sum.totalDepenses>0 ? 'recettecolor': 'tableheaderbesoins'" class="tableheaderbesoins">
                    <th width="80%" scope="col">Solde (Recette - dépense)</th>
                                       
                    <th width="20%" scope="col">     <vue-numeric 
                        :currency="currentCurrencyMask['currency']"
                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                        output-type="String"
                        :empty-value="0"
                        :precision="currentCurrencyMask['precision']"
                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                        read-only-class="item-total" :min="currentCurrencyMask['min']"
                        read-only
                        :value="this.sum.totalRecettes-this.sum.totalDepenses">
                    </vue-numeric></th>
                </tr>
                </thead>
                                
                                    
                </table>

            </div>
                             
                             
                              
                               
        </div>
    </div>
</template>


<script>   
    import VueNumeric from 'vue-numeric'
    import currenciesMaskMixin from '../../../bp/mixins/currenciesMask'


    export default {
        components:{ VueNumeric

        },
        mixins:[currenciesMaskMixin],

        props:{
             recettes:Array,
             depenses:Array,
             sum:Object
        }

    }

  

</script>
<style scoped>
.nav-link.show.active i,.nav-link.active i{
    color: #61b174;
}
span.stepTitle.active{
    color: #67757c !important;
    font-weight: 500 !important;
}
.nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
}
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #f0f0f0 !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 33.3%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 153px;
        background-color: #ffffff;
        color: #000000;
    }
    .input-group-date {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #398bf7;
        border: 1px solid #ced4da;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .mydatepicker {
        font-size: smaller;
        font-weight: bold;
    }
    input[readonly] {
        background-color: #ffffff;
    }
    .tableheaderbesoins{
    background-color: #812222;
    color:rgb(243, 240, 240);
    }
    .tableheaderressources{
    background-color: #7d85f1;
    color:rgb(12, 11, 11);
    }
    .tableheaderproduits{
    background-color: #e769dd;
    color:rgb(19, 16, 16);
    }
    .besoinscolor{
        color:#b82621;

    }
    .ressourcescolor{
        color:#0918f0;  
    }
    .recettecolor{
        background-color:#00ba8b; 
        color:rgb(255, 255, 255);
    }

    .tablefooterbesoins{
        background-color: #cdced1;
        color:rgb(19, 17, 17);
    }

    .el-tabs__header{
        margin: 0 0 0px !important;
    }
   
    
</style>
