<template>
  <div>
    <div class="ml-4 page-wrapper page-main">
      <div class="container-fluid pl-3">
        <div class="row mt-10">
          <!-- <div class="col-12 mt-5 mb-5">
                        <NavBar :activeIndex="activeIndex" />
                    </div> -->
        </div>
        <!-- <HeaderSold
          :recetteFilter="recettes"
          :depenseFilter="depenses"
          :smartphone="smartphone"
        /> -->
        <div class="row">
          <div class="col-12 mb-4">
            <el-select
              :default-first-option="true"
              v-model="FilterOptionValue"
              @change="filterChange"
              placeholder="Filtrer par:"
            >
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
            <el-date-picker
              v-model="FilterSelected"
              :firstDayOfWeek="1"
              :type="this.FilterOptionValue"
              :format="this.formatDate"
              @change="dateFilter()"
              range-separator="à"
              start-placeholder="Date de début"
              end-placeholder="Date de fin"
              :placeholder="this.placeHolder"
            >
            </el-date-picker>
            <el-button>Effacer tout les filtres</el-button>
          </div>
        </div>
        <!-- First Chart -->
        <div class="d-flex no-block align-items-center">
            <h3 class="card-title"><b>Repartition des Dépenses par Catégories</b></h3>
        </div>
        <!-- <div class="row">
          <div class="col-12 pt-4">
            <div class="card-chart" style="background-color:white;">
              <div class="col-12">
                <br />
                <h2 class="mt-4">Repartition des Dépenses par Catégories</h2>
                <el-divider></el-divider>
                <highcharts :options="chartOptions2"></highcharts>
              </div>
              <div class="col-12">
                <highcharts :options="chartBar1"></highcharts>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                <highcharts :options="chartBar1"></highcharts>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                <highcharts :options="chartOptions2"></highcharts>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="d-flex no-block align-items-center">
            <h3 class="card-title"><b>Repartition des Recettes par Catégories</b></h3>
        </div>

        <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                <highcharts :options="chartBar2"></highcharts>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12">                               
                                <highcharts :options="chartOptions1"></highcharts>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-12">
            <div class="card-chart" style="background-color:white;">
              <div class="col-12">
                <br />
                <h2 class="mt-4">Repartition des Recettes par Catégories</h2>
                <el-divider></el-divider>
                <highcharts :options="chartOptions1"></highcharts>
              </div>
              <div class="col-12">
                <highcharts :options="chartBar2"></highcharts>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>
<script>
import NavBar from "./components/navBar";
import firebase from "firebase";
import VueApexCharts from "vue-apexcharts";
import Highcharts from "highcharts";
import HighchartsVue from "highcharts-vue";
import VueNumeric from "vue-numeric";
import currenciesMaskMixin from "../../bp/mixins/currenciesMask";
import HeaderSold from "./components/headerSold";
Vue.use(HighchartsVue, {
  highcharts: Highcharts,
});
export default {
  name: "suivi-dashboard",
  components: { apexchart: VueApexCharts, NavBar, VueNumeric, HeaderSold },
  mixins: [currenciesMaskMixin],
  data() {
    return {
      smartphone: false,
      sum: {
        totalDepenses: "",
        totalRecettes: "",
        totalReste: "",
      },
      activeIndex: 1,
      totalDepenses: 0,
      totalRecettes: 0,
      totalReste: 0,
      options: [
        { value: "year", label: "Année" },
        { value: "month", label: "mois" },
        { value: "week", label: "Semaine" },
        { value: "dates", label: "Jour" },
        { value: "daterange", label: "Filtre personnalisé" },
      ],
      FilterOptionValue: "year",
      FilterSelected: new Date(),
      formatDate: "yyyy",
      placeHolder: "",
      loading: true,
      tempDepenses: [],
      tempRecettes: [],
      depenses: [],
      recettes: [],
      depensesFilter: [],
      recettesFilter: [],
      depensesBar: [],
      recettesBar: [],
      tempDepensesFilter: [],
      tempRecettesFilter: [],
      chartOptions1: {
        chart: {
          margin: [100],
          spacingBottom: 40,
          type: "pie",
        },
        title: {
          style: {
            display: "none",
          },
        },
        accessibility: {
          point: {
            valueSuffix: "%",
          },
        },
        legend: {
          layout: "vertical",
          align: "right",
          itemDistance: 100,
          labelFormat: "{name} - ({y})",
          margin: 30,
        },
        plotOptions: {
          pie: {
            size: "110%",
            showInLegend: true,
            dataLabels: {
              format: "{point.name} ({point.percentage:.1f} %)",
              connectorColor: "silver",
            },
          },
        },
        series: [
          {
            name: "Recette",
            data: [],
          },
        ],
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 500,
              },
              chartOptions: {
                legend: {
                  align: "center",
                  verticalAlign: "bottom",
                  layout: "horizontal",
                },
                yAxis: {
                  labels: {
                    align: "left",
                    x: 0,
                    y: -5,
                  },
                  title: {
                    text: null,
                  },
                },
                subtitle: {
                  text: null,
                },
                credits: {
                  enabled: false,
                },
              },
            },
          ],
        },
      },
      chartBar1: {
        chart: {
          type: "column",
        },
        title: {
          style: {
            display: "none",
          },
        },
        plotOptions: {
          series: {
            borderWidth: 1,
            dataLabels: {
              enabled: true,
              format: "{point.y}",
            },
          },
        },
        xAxis: {
          type: "category",
          labels: {
            rotation: -45,
            style: {
              fontSize: "13px",
              fontFamily: "Verdana, sans-serif",
            },
          },
        },
        yAxis: {
          min: 0,
          title: {
            text: "Montant Total",
          },
        },
        legend: {
          enabled: false,
        },
        series: [
          {
            data: [],
          },
        ],
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 500,
              },
              chartOptions: {
                legend: {
                  align: "center",
                  verticalAlign: "bottom",
                  layout: "horizontal",
                },
                yAxis: {
                  labels: {
                    align: "left",
                    x: 0,
                    y: -5,
                  },
                  title: {
                    text: null,
                  },
                },
                subtitle: {
                  text: null,
                },
                credits: {
                  enabled: false,
                },
              },
            },
          ],
        },
      },
      chartOptions2: {
        chart: {
          margin: [100],
          spacingBottom: 40,
          type: "pie",
        },
        title: {
          style: {
            display: "none",
          },
        },
        accessibility: {
          point: {
            valueSuffix: "%",
          },
        },
        legend: {
          layout: "vertical",
          align: "right",
          itemDistance: 100,
          labelFormat: "{name} - ({y})",
          margin: 30,
        },
        plotOptions: {
          pie: {
            size: "110%",
            showInLegend: true,
            dataLabels: {
              format: "{point.name} ({point.percentage:.1f} %)",
              connectorColor: "silver",
            },
          },
        },
        series: [
          {
            type: "pie",
            name: "Dépense",
            colorByPoint: true,
            data: [],
          },
        ],
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 500,
              },
              chartOptions: {
                legend: {
                  align: "center",
                  verticalAlign: "bottom",
                  layout: "horizontal",
                },
                yAxis: {
                  labels: {
                    align: "left",
                    x: 0,
                    y: -5,
                  },
                  title: {
                    text: null,
                  },
                },
                subtitle: {
                  text: null,
                },
                credits: {
                  enabled: false,
                },
              },
            },
          ],
        },
      },
      chartBar2: {
        chart: {
          type: "column",
        },
        title: {
          style: {
            display: "none",
          },
        },
        xAxis: {
          type: "category",
          labels: {
            rotation: -45,
            style: {
              fontSize: "13px",
              fontFamily: "Verdana, sans-serif",
            },
          },
        },
        yAxis: {
          min: 0,
          title: {
            text: "Montant Total",
          },
        },
        plotOptions: {
          series: {
            borderWidth: 1,
            dataLabels: {
              enabled: true,
              format: "{point.y}",
            },
          },
        },
        legend: {
          enabled: false,
        },
        series: [
          {
            data: [],
          },
        ],
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 500,
              },
              chartOptions: {
                legend: {
                  align: "center",
                  verticalAlign: "bottom",
                  layout: "horizontal",
                },
                yAxis: {
                  labels: {
                    align: "left",
                    x: 0,
                    y: -5,
                  },
                  title: {
                    text: null,
                  },
                },
                subtitle: {
                  text: null,
                },
                credits: {
                  enabled: false,
                },
              },
            },
          ],
        },
      },
      seriesRecettes: [],
      seriesDepenses: [],
      listTypeDepenses: [],
      depensesObject: {},
      recettesObject: {},
      paramsTypeDepenseRef: firebase
        .firestore()
        .collection("params")
        .doc(JSON.parse(localStorage.getItem("userSession")).projet)
        .collection("typeDepense"),
      paramsTypeRecetteRef: firebase
        .firestore()
        .collection("params")
        .doc(JSON.parse(localStorage.getItem("userSession")).projet)
        .collection("typeRecette"),
      projectId: JSON.parse(localStorage.getItem("userSession")).projet,
    };
  },
  methods: {
    getElementDepenses(depense) {
      return new Promise((resolve, reject) => {
        var size = 0;
        this.depensesObject[depense] = [];
        firebase
          .firestore()
          .collection("depenses")
          .where("projectId", "==", this.projectId)
          .where("type", "==", depense)
          .get()
          .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              this.depenses.push(doc.data());
              let date = new Date(this.dateFormat(doc.data().createdAt));
              if (
                date.getMonth() == this.FilterSelected.getMonth() &&
                date.getYear() == this.FilterSelected.getYear()
              ) {
                size += doc.data().montant;
              }
              this.depensesObject[depense].push(doc.data());
            });
            if (size > 0) {
              this.tempDepenses.push({ name: depense, y: size });
            }
            this.calcultotalDepenses(this.tempDepenses);
          });
        resolve([this.depenses]);
      });
    },
    getElementRecettes(recette) {
      return new Promise((resolve, reject) => {
        var size = 0;
        this.recettesObject[recette] = [];
        firebase
          .firestore()
          .collection("recettes")
          .where("projectId", "==", this.projectId)
          .where("type", "==", recette)
          .get()
          .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              this.recettes.push(doc.data());
              let date = new Date(this.dateFormat(doc.data().createdAt));
              doc.data().products.forEach((prod) => {
                if (
                  date.getMonth() == this.FilterSelected.getMonth() &&
                  date.getYear() == this.FilterSelected.getYear()
                ) {
                  size += prod.montantRecu.value;
                }
              });
              this.recettesObject[recette].push(doc.data());
            });
            if (size > 0) {
              this.tempRecettes.push({ name: recette, y: size });
            }
            this.calcultotalRecettes(this.tempRecettes);
          });
        resolve([this.recettes]);
      });
    },
    fetchData() {
      const promise = new Promise((resolve, reject) => {
        this.paramsTypeDepenseRef.get().then((querySnapshot) => {
          if (querySnapshot.size > 0) {
            querySnapshot.forEach((doc) => {
              var libelle = doc.data().depense;
              this.getElementDepenses(libelle);
            });
          } else {
            this.tempDepenses = [];
          }
        });
        resolve([this.depenses, this.tempDepenses]);
      });

      const promise2 = new Promise((resolve, reject) => {
        this.paramsTypeRecetteRef.get().then((querySnapshot) => {
          if (querySnapshot.size > 0) {
            querySnapshot.forEach((doc) => {
              var libelle = doc.data().recette;
              this.getElementRecettes(libelle);
            });
          } else {
            this.tempRecettes = [];
          }
        });
        resolve([this.recettes, this.tempRecettes]);
      });

      Promise.all([[promise, promise2]]).then((values) => {
        this.chartOptions2.series[0].data = this.tempDepenses;
        this.chartOptions1.series[0].data = this.tempRecettes;
        this.dateFilter();
        // console.log(values)
        const promise = this.showDefault(this.recettes, this.depenses);
        promise.then((val) => {
          this.$loading().close();
        });
      });
    },
    // -------------------------------------------------------------------
    filterChange() {
      switch (this.FilterOptionValue) {
        case "year":
          this.formatDate = "yyyy";
          this.placeHolder = "Sélectionner une année";
          this.FilterSelected = "";
          this.FilterOptionValue = "year";
          break;
        case "month":
          this.formatDate = "MMMM-yyyy";
          this.placeHolder = "Sélectionner un mois";
          this.FilterSelected = "";
          this.FilterOptionValue = "month";
          break;
        case "week":
          this.formatDate = "WW";
          this.placeHolder = "Sélectionner une semaine";
          this.FilterSelected = "";
          this.FilterOptionValue = "week";
          break;
        case "dates":
          this.formatDate = "dd/MMMM/yyyy";
          this.placeHolder = "Sélectionner un jour";
          this.FilterSelected = "";
          this.FilterOptionValue = "date";
          break;
        case "datarange":
          this.formatDate = "dd/MMMM/yyyy";
          this.placeHolder = "Sélection personnalisée";
          this.FilterSelected = "";
          this.FilterOptionValue = "datarange";
          break;
      }
    },
    dateFormat(date) {
      let dateFormatter = date.seconds * 1000;
      return dateFormatter;
    },
    dateFilter() {
      this.chartOptions1.series[0].data = [];
      this.chartOptions2.series[0].data = [];
      this.chartBar1.series[0].data = [];
      this.chartBar2.series[0].data = [];
      if (this.FilterSelected === null) {
      } else {
        this.chartOptions1.series[0].data = [];
        this.chartOptions2.series[0].data = [];
        this.depensesFilter = [];
        this.recettesFilter = [];
        this.depensesBar = [];
        this.recettesBar = [];

        let totaldep = 0;
        let totalrec = 0;

        switch (this.FilterOptionValue) {
          case "month":
            for (const key in this.depensesObject) {
              if (Object.hasOwnProperty.call(this.depensesObject, key)) {
                const element = this.depensesObject[key];
                var size = 0;
                element.forEach((el) => {
                  let date = new Date(this.dateFormat(el.createdAt));
                  if (
                    date.getMonth() == this.FilterSelected.getMonth() &&
                    date.getYear() == this.FilterSelected.getYear()
                  ) {
                    size += el.montant;
                  }
                });
              }
              if (size > 0) {
                this.depensesFilter.push({ name: key, y: size });
              }
            }

            for (const key in this.recettesObject) {
              if (Object.hasOwnProperty.call(this.recettesObject, key)) {
                const element = this.recettesObject[key];
                var size = 0;
                var reste = 0;
                element.forEach((el) => {
                  let date = new Date(this.dateFormat(el.createdAt));
                  if (
                    date.getMonth() == this.FilterSelected.getMonth() &&
                    date.getYear() == this.FilterSelected.getYear()
                  ) {
                    el.products.forEach((prod) => {
                      size += prod.montantRecu.value;
                      reste += prod.resteAPayer.value;
                    });
                  }
                });
              }
              if (size > 0) {
                this.recettesFilter.push({ name: key, y: size });
              }
              this.calcultotalReste(reste);
            }
            this.getDaysInMonth(
              this.FilterSelected.getMonth(),
              this.FilterSelected.getFullYear()
            );
            this.chartOptions1.series[0].data = this.recettesFilter;
            this.chartOptions2.series[0].data = this.depensesFilter;
            this.calcultotalDepenses(this.depensesFilter);
            this.calcultotalRecettes(this.recettesFilter);
            break;
          case "year":
            for (const key in this.depensesObject) {
              if (Object.hasOwnProperty.call(this.depensesObject, key)) {
                const element = this.depensesObject[key];
                var size = 0;
                element.forEach((el) => {
                  let date = new Date(this.dateFormat(el.createdAt));
                  if (date.getFullYear() == this.FilterSelected.getFullYear()) {
                    size += el.montant;
                  }
                });
              }
              if (size > 0) {
                this.depensesFilter.push({ name: key, y: size });
              }
            }

            for (const key in this.recettesObject) {
              if (Object.hasOwnProperty.call(this.recettesObject, key)) {
                const element = this.recettesObject[key];
                var size = 0;
                element.forEach((el) => {
                  let date = new Date(this.dateFormat(el.createdAt));
                  if (date.getFullYear() == this.FilterSelected.getFullYear()) {
                    el.products.forEach((prod) => {
                      size += prod.montantRecu.value;
                    });
                  }
                });
              }
              if (size > 0) {
                this.recettesFilter.push({ name: key, y: size });
              }
            }
            this.getMonthsInYear(this.FilterSelected.getFullYear());
            this.chartOptions1.series[0].data = this.recettesFilter;
            this.chartOptions2.series[0].data = this.depensesFilter;
            this.calcultotalDepenses(this.depensesFilter);
            this.calcultotalRecettes(this.recettesFilter);
            break;
          case "date":
            for (const key in this.depensesObject) {
              if (Object.hasOwnProperty.call(this.depensesObject, key)) {
                const element = this.depensesObject[key];
                var size = 0;
                element.forEach((el) => {
                  let date = new Date(this.dateFormat(el.createdAt));
                  if (
                    date.getDate() == this.FilterSelected.getDate() &&
                    date.getMonth() == this.FilterSelected.getMonth() &&
                    date.getFullYear() == this.FilterSelected.getFullYear()
                  ) {
                    size += el.montant;
                  }
                });
              }
              if (size > 0) {
                this.depensesFilter.push({ name: key, y: size });
              }
            }

            for (const key in this.recettesObject) {
              if (Object.hasOwnProperty.call(this.recettesObject, key)) {
                const element = this.recettesObject[key];
                var size = 0;
                element.forEach((el) => {
                  let date = new Date(this.dateFormat(el.createdAt));
                  if (
                    date.getDate() == this.FilterSelected.getDate() &&
                    date.getMonth() == this.FilterSelected.getMonth() &&
                    date.getFullYear() == this.FilterSelected.getFullYear()
                  ) {
                    el.products.forEach((prod) => {
                      size += prod.montantRecu.value;
                    });
                  }
                });
              }
              if (size > 0) {
                this.recettesFilter.push({ name: key, y: size });
              }
            }
            this.chartOptions1.series[0].data = this.recettesFilter;
            this.chartOptions2.series[0].data = this.depensesFilter;
            this.calcultotalDepenses(this.depensesFilter);
            this.calcultotalRecettes(this.recettesFilter);
            break;
          case "week":
            for (const key in this.depensesObject) {
              if (Object.hasOwnProperty.call(this.depensesObject, key)) {
                const element = this.depensesObject[key];
                var size = 0;
                element.forEach((el) => {
                  let date = new Date(this.dateFormat(el.createdAt));
                  if (
                    date.getDate() >= this.FilterSelected.getDate() &&
                    date.getMonth() == this.FilterSelected.getMonth() &&
                    date.getFullYear() == this.FilterSelected.getFullYear() &&
                    date.getDate() <= this.FilterSelected.getDate() + 7
                  ) {
                    size += el.montant;
                  }
                });
              }
              if (size > 0) {
                this.depensesFilter.push({ name: key, y: size });
              }
            }

            for (const key in this.recettesObject) {
              if (Object.hasOwnProperty.call(this.recettesObject, key)) {
                const element = this.recettesObject[key];
                var size = 0;
                element.forEach((el) => {
                  let date = new Date(this.dateFormat(el.createdAt));
                  if (
                    date.getDate() >= this.FilterSelected.getDate() &&
                    date.getMonth() == this.FilterSelected.getMonth() &&
                    date.getFullYear() == this.FilterSelected.getFullYear() &&
                    date.getDate() <= this.FilterSelected.getDate() + 7
                  ) {
                    el.products.forEach((prod) => {
                      size += prod.montantRecu.value;
                    });
                  }
                });
              }
              if (size > 0) {
                this.recettesFilter.push({ name: key, y: size });
              }
            }

            this.getDaysByWeek(this.FilterSelected);
            this.chartOptions1.series[0].data = this.recettesFilter;
            this.chartOptions2.series[0].data = this.depensesFilter;
            this.calcultotalDepenses(this.depensesFilter);
            this.calcultotalRecettes(this.recettesFilter);
            break;
          case "daterange":
            var days = this.getIntervalleDates(
              this.FilterSelected[0],
              this.FilterSelected[1]
            );
            for (const key in this.depensesObject) {
              if (Object.hasOwnProperty.call(this.depensesObject, key)) {
                const element = this.depensesObject[key];
                var size = 0;
                days.forEach((dt) => {
                  element.forEach((el) => {
                    let date = new Date(this.dateFormat(el.createdAt));
                    if (
                      date.getDate() == dt.getDate() &&
                      date.getMonth() == dt.getMonth() &&
                      date.getFullYear() == dt.getFullYear()
                    ) {
                      size += el.montant;
                    }
                  });
                });
              }
              if (size > 0) {
                this.depensesFilter.push({ name: key, y: size });
              }
            }

            for (const key in this.recettesObject) {
              if (Object.hasOwnProperty.call(this.recettesObject, key)) {
                const element = this.recettesObject[key];
                var size = 0;
                var reste = 0;
                days.forEach((dt) => {
                  element.forEach((el) => {
                    let date = new Date(this.dateFormat(el.createdAt));
                    if (
                      date.getDate() == dt.getDate() &&
                      date.getMonth() == dt.getMonth() &&
                      date.getFullYear() >= dt.getFullYear()
                    ) {
                      el.products.forEach((prod) => {
                        size += prod.montantRecu.value;
                        reste += prod.resteAPayer.value;
                      });
                    }
                  });
                });
              }
              if (size > 0) {
                this.recettesFilter.push({ name: key, y: size });
              }
              this.calcultotalReste(reste);
            }
            // console.log(this.FilterSelected)
            this.calcultotalDepenses(this.depensesFilter);
            this.calcultotalRecettes(this.recettesFilter);
            this.chartOptions1.series[0].data = this.recettesFilter;
            this.chartOptions2.series[0].data = this.depensesFilter;
            this.getDaysIntervall(days);

            break;
          default:
            this.recetteFilter = [];
            this.depenseFilter = [];
            // loader.hide();
            break;
        }
      }
    },
    getIntervalleDates(start, end) {
      Date.prototype.addDays = function(days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
      };
      var days = [];
      var startDate = new Date(start);
      var endDate = new Date(end);
      var current = startDate;
      while (current <= endDate) {
        days.push(current);
        current = current.addDays(1);
      }
      return days;
    },
    groupBy(key) {
      return function group(array) {
        return array.reduce((acc, obj) => {
          const property = obj[key];
          acc[property] = acc[property] || [];
          acc[property].push(obj);
          return acc;
        }, {});
      };
    },
    async getDaysInMonth(month, year) {
      this.chartBar1.series[0].data = [];
      this.chartBar2.series[0].data = [];
      this.depensesBar = [];
      this.recettesBar = [];
      var date = new Date(year, month, 1);
      var days = [];
      while (date.getMonth() === month) {
        days.push(new Date(date));
        date.setDate(date.getDate() + 1);
      }

      // Dépenses
      days.forEach((el) => {
        var size = 0;
        this.depenses.forEach((dep) => {
          let date = new Date(this.dateFormat(dep.createdAt));
          if (
            date.getDate() == el.getDate() &&
            date.getMonth() == el.getMonth() &&
            date.getFullYear() == el.getFullYear()
          ) {
            size += dep.montant;
          }
        });
        var libelle;
        if (el.getDate() < 10) {
          libelle = "0" + el.getDate();
        } else {
          libelle = "" + el.getDate();
        }
        this.depensesBar.push([libelle, size]);
      });

      // Recettes
      days.forEach((el) => {
        var size = 0;
        this.recettes.forEach((rec) => {
          let date = new Date(this.dateFormat(rec.createdAt));
          if (
            date.getDate() == el.getDate() &&
            date.getMonth() == el.getMonth() &&
            date.getFullYear() == el.getFullYear()
          ) {
            rec.products.forEach((prod) => {
              size += prod.montantRecu.value;
            });
          }
        });
        var libelle;
        if (el.getDate() < 10) {
          libelle = "0" + el.getDate();
        } else {
          libelle = "" + el.getDate();
        }
        this.recettesBar.push([libelle, size]);
      });
      this.chartBar1.series[0].data = this.depensesBar;
      this.chartBar2.series[0].data = this.recettesBar;
    },
    showDefault(recettes, depenses) {
      return new Promise((resolve, reject) => {
        this.depensesBar = [];
        var size1 = 0;
        depenses.forEach((dep) => {
          this.depensesBar.push(dep);
          // let date = new Date(this.dateFormat(dep.createdAt));
          // if(date.getMonth() == this.FilterSelected.getMonth() && date.getFullYear() == this.FilterSelected.getFullYear()) {
          //     console.log(dep.montant)
          // }
        });
        resolve(this.depensesBar);
      });
      this.chartBar1.series[0].data = [];
      this.chartBar2.series[0].data = [];
      this.recettesBar = [];

      // Dépenses
      // var libelle1;
      // if(el.getDate() < 10) {
      //     libelle1 = '0' + el.getDate();
      // } else { libelle1 =  '' + el.getDate()}
      // this.depensesBar.push([libelle1, size1])

      // var size2 = 0;
      // this.recettes.forEach((rec) => {
      //     let date = new Date(this.dateFormat(rec.createdAt));
      //     if(date.getMonth() == this.FilterSelected.getMonth() && date.getFullYear() == this.FilterSelected.getFullYear()) {
      //         rec.products.forEach((prod) => {
      //             size2 += prod.montantRecu.value
      //         })
      //     }
      // })
      // var libelle2;
      // if(el.getDate() < 10) {
      //     libelle2 = '0' + el.getDate();
      // } else { libelle2 =  '' + el.getDate()}
      // this.recettesBar.push([libelle2, size2])

      console.log(depenses);
      // this.chartBar1.series[0].data = this.depensesBar;
      // this.chartBar2.series[0].data = this.recettesBar;
    },
    getMonthsInYear(year) {
      var date = new Date(null, null, year);
      var months = [];
      for (let i = 0; i < 12; i++) {
        months.push(new Date(null, i));
      }

      // Dépenses
      months.forEach((el) => {
        var size = 0;
        this.depenses.forEach((dep) => {
          let date = new Date(this.dateFormat(dep.createdAt));
          if (date.getMonth() == el.getMonth() && date.getFullYear() == year) {
            size += dep.montant;
          }
        });
        var mL = [
          "Janvier",
          "Février",
          "Mars",
          "Avril",
          "Mai",
          "Juin",
          "Juillet",
          "Août",
          "Septembre",
          "Octobre",
          "Novembre",
          "Decembre",
        ];
        this.depensesBar.push([mL[el.getMonth()], size]);
      });

      // Recettes
      months.forEach((el) => {
        var size = 0;
        this.recettes.forEach((rec) => {
          let date = new Date(this.dateFormat(rec.createdAt));
          if (date.getMonth() == el.getMonth() && date.getFullYear() == year) {
            rec.products.forEach((prod) => {
              size += prod.montantRecu.value;
            });
          }
        });
        var mL = [
          "Janvier",
          "Février",
          "Mars",
          "Avril",
          "Mai",
          "Juin",
          "Juillet",
          "Août",
          "Septembre",
          "Octobre",
          "Novembre",
          "Decembre",
        ];
        this.recettesBar.push([mL[el.getMonth()], size]);
      });
      this.chartBar1.series[0].data = this.depensesBar;
      this.chartBar2.series[0].data = this.recettesBar;
    },
    getDaysByWeek(week) {
      var dates = [];
      for (let i = 0; i < 6; i++) {
        var currentDate = week.getDate() + i;
        dates.push(new Date(week.getFullYear(), week.getMonth(), currentDate));
      }

      // Dépenses
      dates.forEach((el) => {
        var size = 0;
        this.depenses.forEach((dep) => {
          let date = new Date(this.dateFormat(dep.createdAt));
          if (
            date.getDate() == el.getDate() &&
            date.getMonth() == el.getMonth() &&
            date.getFullYear() == el.getFullYear()
          ) {
            size += dep.montant;
          }
        });
        var mL = [
          "Dimanche",
          "Lundi",
          "Mardi",
          "Mercredi",
          "Jeudi",
          "Vendredi",
          "Samedi",
        ];
        this.depensesBar.push([mL[el.getDay()] + " " + el.getDate(), size]);
      });

      // Recettes
      dates.forEach((el) => {
        var size = 0;
        this.recettes.forEach((rec) => {
          let date = new Date(this.dateFormat(rec.createdAt));
          if (
            date.getDate() == el.getDate() &&
            date.getMonth() == el.getMonth() &&
            date.getFullYear() == el.getFullYear()
          ) {
            rec.products.forEach((prod) => {
              size += prod.montantRecu.value;
            });
          }
        });
        var mL = [
          "Dimanche",
          "Lundi",
          "Mardi",
          "Mercredi",
          "Jeudi",
          "Vendredi",
          "Samedi",
        ];
        this.recettesBar.push([mL[el.getDay()] + " " + el.getDate(), size]);
      });

      this.chartBar1.series[0].data = this.depensesBar;
      this.chartBar2.series[0].data = this.recettesBar;
    },
    getDaysIntervall(dates) {
      // Dépenses
      dates.forEach((el) => {
        var size = 0;
        this.depenses.forEach((dep) => {
          let date = new Date(this.dateFormat(dep.createdAt));
          if (
            date.getDate() == el.getDate() &&
            date.getMonth() == el.getMonth() &&
            date.getFullYear() == el.getFullYear()
          ) {
            size += dep.montant;
          }
        });
        var mL = [
          "Dimanche",
          "Lundi",
          "Mardi",
          "Mercredi",
          "Jeudi",
          "Vendredi",
          "Samedi",
        ];
        this.depensesBar.push([mL[el.getDay()] + " " + el.getDate(), size]);
      });

      // Recettes
      dates.forEach((el) => {
        var size = 0;
        this.recettes.forEach((rec) => {
          let date = new Date(this.dateFormat(rec.createdAt));
          if (
            date.getDate() == el.getDate() &&
            date.getMonth() == el.getMonth() &&
            date.getFullYear() == el.getFullYear()
          ) {
            rec.products.forEach((prod) => {
              size += prod.montantRecu.value;
            });
          }
        });
        var mL = [
          "Dimanche",
          "Lundi",
          "Mardi",
          "Mercredi",
          "Jeudi",
          "Vendredi",
          "Samedi",
        ];
        this.recettesBar.push([mL[el.getDay()] + " " + el.getDate(), size]);
      });

      this.chartBar1.series[0].data = this.depensesBar;
      this.chartBar2.series[0].data = this.recettesBar;
    },
    calcultotalRecettes(data) {
      let recettes = data;
      let totalrec = 0;
      recettes.forEach((recette) => {
        totalrec = totalrec + recette.y;
      });
      this.sum.totalRecettes = totalrec;
    },
    calcultotalDepenses(data) {
      //Depense
      let depenses = data;
      let totaldep = 0;
      depenses.forEach((depense) => {
        totaldep = totaldep + depense.y;
      });
      this.sum.totalDepenses = totaldep;
    },
    calcultotalReste(numbre) {
      let totalrest = 0;
      totalrest = totalrest + numbre;
      this.sum.totalReste = totalrest;
    },
  },
  async mounted() {
    this.fetchData();
  },
};
</script>
<style scoped>
.card-chart {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}
.mb-10 {
  margin-bottom: 5% !important;
}
.mt-10 {
  margin-top: 5% !important;
}
h2 {
  font-weight: bold !important;
}
.color-green {
  color: #00ba8b;
}
.color-blue {
  color: #007bff;
}
.color-red {
  color: #b82621;
}
.icon-dashboard {
  font-size: 2rem;
  color: #007bff;
}
.mat-3x {
  font-size: 2.5rem;
}

.page-main{
  background: #cccccc96 !important;
}
.page-main .card {
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 2px 0px;
}
</style>
