<template>
    <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor"><b>Dépenses</b></h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/bp/home">Accueil</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="bp/suivi"> Suivi</a>
                        </li>
                        <li class="breadcrumb-item">Finances</li>
                        <li class="breadcrumb-item">Dépenses</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            
                        
                            <div  v-if="this.isEmpty(schema)==false" class="card-body">
                                <!-- Nav tabs -->

                                <el-tabs class="nav nav-tabs customtab" role="tablist" v-model="activeName"  @tab-click="handleTabClick" type="border-card">
                                    <el-tab-pane v-if="ecrire" name="ajouter">
                                        <div slot="label" class="tabLink">
                                        <span class="hidden-xs-down" ><i class="el-icon-circle-plus-outline"></i> Ajouter une dépense</span>
                                        </div>
                                            <el-row>
                                            <el-col :span="24">
                                                <form class="form-horizontal" @submit="onSubmit">
                                            
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-7">
                   
                                                            <div class="card">
                                                                <div class="card-body">
                            
                                                                    <vue-form-generator :schema="schema.depenses.active" :model="model" @model-updated="onModelUpdated"  :options="model.formOptions">
                                                                        //this would be the general template for each field
                                                                        <template slot="field" slot-scope="props">
                                                                            <tr  v-if="props.field.required">
                                                                                <td><h1>{{ props.field.label }}</h1><td>
                                                                                <td>
                                                                                    <!-- but in this place I dont want to override the original <component....> template-->
                                                                                </td>
                                                                            </tr>
                                                                        </template>
                                       
                                                                    <span slot="firstName-before" class="input-group-addon">
                                                                        <i class="fa fa-search"></i>
                                                                        </span>
                                                                    <span slot="lastName-after" class="input-group-addon">
                                                                        <i class="fa fa-search"></i>
                                                                    </span>
	
                                                                    </vue-form-generator>
                                                            
                            
                                                                </div>
                                                            </div>
                                                            </div>
                                                       
                                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                                <div v-if="this.model.depenses.type=='achat'" class="card">
                                                                    <div class="card-body">
                            
                                                                        <vue-form-generator :schema="schema.fournisseur.active" :model="model" @model-updated="onModelUpdated" :options="model.formOptions">
                                                                            //this would be the general template for each field
                                                                            <template slot="field" slot-scope="props">
                                                                                <tr>
                                                                                    <td><h1>{{ props.field.label }}</h1><td>
                                                                                    <td>
                                                                                        <!-- but in this place I dont want to override the original <component....> template-->
                                                                                    </td>
                                                                                </tr>
                                                                            </template>
                                       
                                                                        <span slot="firstName-before" class="input-group-addon">
                                                                            <i class="fa fa-search"></i>
                                                                            </span>
                                                                        <span slot="lastName-after" class="input-group-addon">
                                                                            <i class="fa fa-search"></i>
                                                                        </span>
	
                                                                        </vue-form-generator>
                                                           
                            
                                                                    </div>
                                                                </div>
                   
                                                                <div class="card">
                                                                    <div class="card-body">
                            
                                                                        <vue-form-generator ref="fichier" :schema="schema.fichiers" :model="model"  @model-updated="onModelUpdated" :options="model.formOptions">
                                                                            //this would be the general template for each field
                                                                            <template slot="field" slot-scope="props">
                                                                                <tr>
                                                                                    <td><h1>{{ props.field.label }}</h1><td>
                                                                                    <td>
                                                                                        <!-- but in this place I dont want to override the original <component....> template-->
                                                                                    </td>
                                                                                </tr>
                                                                            </template>
                                       
                                                                      
                                                                        </vue-form-generator>
                                                              
                            
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                               
                                                                   
                                                                        <div v-if="this.$route.params.dataToUpdate" class="col-xs-12 col-sm-12 col-md-8">
                                                                      
                                                                          
                                                                
                      
                                                                                    <a @click="updateData()" class="btn btn-success btn-rounded">Mise à jour</a>
                                                                            <!-- <div class="click2edit m-b-40"><span>Cliquez sur le boutton pour mettre à jour votre dépense.</span></div> -->
                                                           
                                                       
                                                                        </div>

                                                                        <div v-else class="col-xs-12 col-sm-12 col-md-8">
                                                                      
                                                                          
                                                              
                      
                                                                                    <button class="btn btn-success btn-rounded"  type="submit">Enregistrer</button>
                                                                            <!-- <div class="click2edit m-b-40">Cliquez sur le boutton  pour Enregistrer votre dépense.</div> -->
                                                           
                                                       
                                                                        </div>
                    
                
                                                                </div>
                                                            </div>
                    
                
                                                    </div>
                                                </form>  
                                                
                                                
                                            </el-col>
                                            </el-row>
                                      
                                    </el-tab-pane>
                                        <el-tab-pane v-if="lire" name="liste">
                                            <div slot="label" class="tabLink">
                                                <span class="hidden-xs-down" ><i class="el-icon-tickets"></i>Liste des dépenses</span>
                                            </div>
                                           
                                                  <el-row :gutter="20">
                                                  <el-col :span="6"> 
                                                  <el-input
                                                  v-model="search"
                                                  placeholder="Recherche par type/libelle/vendeur..."/>
                                                  </el-col>
                                                   <el-col :span="18">
                                                    <div class="col-12 mb-4">
                                                        <el-select
                                                        :default-first-option="true" 
                                                        v-model="FilterOptionValue" 
                                                        @change="filterChange"
                                                        placeholder="Filtrer par:">
                                                        <el-option
                                                            v-for="item in optionsFilter"
                                                            :key="item.value"
                                                            :label="item.label"
                                                            :value="item.value">
                                                        </el-option>
                                                        </el-select>
                                                        <el-date-picker
                                                        v-model="FilterSelected"
                                                        :firstDayOfWeek =1
                                                        :type="this.FilterOptionValue"
                                                        :format="this.formatDate"
                                                        @change="dateFilter()"
                                                        range-separator="à"
                                                        start-placeholder="Date de début"
                                                        end-placeholder="Date de fin"
                                                        :placeholder="this.placeHolder">
                                                        </el-date-picker>
                                                    <el-button>Effacer tout les filtres</el-button> 
                                                    </div>

                                                  </el-col>
                                                  <el-col :span="6">
                                                     <el-tooltip  v-if="this.multipleSelection.length!=0" class="item" effect="dark" content="Supprimer les éléments sélectionnés" placement="top">
                                                        <el-button type="danger" @click="deleteMultiple()">Supprimer ({{ this.multipleSelection.length }}) </el-button>    
                                                    </el-tooltip>   
                                                  </el-col>
                                                
                                                </el-row>
                                                <span >Total: <el-tag size="mini" type='info'><strong>{{depenseFilter.filter(data => !search  || data.libelle.toLowerCase().includes(search.toLowerCase())  || data.type.toLowerCase().includes(search.toLowerCase())).length}}</strong></el-tag> </span>
                                                <el-table
                                                    ref="multipleTable"
                                                    :data="depenseFilter.filter(data => !search  || data.libelle.toLowerCase().includes(search.toLowerCase())  || data.type.toLowerCase().includes(search.toLowerCase()))"
                                                    height="500"
                                                    stripe
                                                    :header-cell-style="tableHeaderDepense"
                                                    @selection-change="handleSelectionChange"
                                                    style="width: 100">
                                                    <el-table-column
                                                    label="Date"
                                                    width="auto">
                                                    <template slot-scope="scope">
                                                        <i class="el-icon-time"></i>
                                                        <span style="margin-left: 10px">{{  new Date(scope.row.createdAt.seconds*1000) | moment("Do MMMM YYYY") }}</span>
                                                    </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                    label="Type"
                                                    width="auto">
                                                    <template slot-scope="scope">
                                                        
                                                        <div slot="reference" class="name-wrapper">
                                                            <el-tag size="medium">{{ scope.row.type }}</el-tag>
                                                        </div>
                                                       
                                                    </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                    label="Libelle"
                                                    width="auto">
                                                    <template slot-scope="scope">
                                                       
                                                        <p>{{scope.row.libelle  }}</p>
                                                        
                                                    </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                    label="Description"
                                                    width="auto">
                                                    <template slot-scope="scope">
                                                       
                                                        <p>{{scope.row.description}}</p>
                                                        
                                                    </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                    label="Montant"
                                                    width="auto">
                                                    <template slot-scope="scope">
                                                        <vue-numeric
                                                            :currency="currentCurrencyMask['currency']"
                                                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                            output-type="String"
                                                            :precision="currentCurrencyMask['precision']"
                                                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                            read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                            read-only
                                                            :value="scope.row.montant">
                                                        </vue-numeric>
                                                    </template>
                                                    </el-table-column>
                                                        <el-table-column
                                                        label="Vendeur"
                                                        width="auto">
                                                            <template slot-scope="scope">
                                                                <el-popover trigger="hover" placement="top">
                                                                <p>Prénom: </p>
                                                                <p>Téléphone: </p>
                                                                <div slot="reference" class="name-wrapper">
                                                                    <el-tag size="medium"></el-tag>
                                                                </div>
                                                                </el-popover>
                                                            </template>
                                                        </el-table-column>
                                                        
                                                    
                                                    <el-table-column
                                                    v-if="ecrire"
                                                    label="Opérations"
                                                    width="auto"
                                                    >
                                                    
                                                    <template slot-scope="scope">
                                                        <el-button
                                                        size="mini"
                                                        icon="el-icon-edit"
                                                        @click="handleEdit(scope.row)"></el-button>
                                                        <el-button
                                                        size="mini"
                                                        icon="el-icon-delete" 
                                                        type="danger"
                                                        @click="handleDelete(scope.$index, scope.row)"></el-button>
                                                         
                                                    </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        type="selection"
                                                        width="auto">
                                                    </el-table-column>
                                                </el-table>
                                            
                                            
                                           
                                        </el-tab-pane>
                                        <el-tab-pane v-if="lire" name="calendrier">
                                            <div slot="label" class="tabLink">
                                                <span class="hidden-xs-down" ><i class="el-icon-date"></i> Vue Calendrier</span>
                                            </div>
                                            <div class="tab-pane" id="calendrier" role="">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <full-calendar  :events="events" :config="config" @event-selected="eventSelected"/>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                          
                                        </el-tab-pane>
                                        
                                       
                                    
                                  
                                        <!-- <li v-if="this.perms=='ecrire'" class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" role="tab" href="#ajouter">
                                            <span><i class="fas fa-plus"></i></span>
                                            <span class="hidden-xs-down">Ajouter une entrée</span>
                                        </a>
                                    </li>
                                   
                                    <li class="nav-item" >
                                        <a  :class="this.perms=='lire' ? 'nav-link active': 'nav-link'" data-toggle="tab" role="tab" href="#liste">
                                            <span><i class="fas fa-table"></i></span>
                                            <span class="hidden-xs-down">Liste des entrées</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" role="tab"  @click="calendrier()" href="#calendrier">
                                            <span><i class="ti-wallet"></i></span>
                                            <span class="hidden-xs-down">Vue calendrier</span>
                                        </a>
                                    </li> -->
                                </el-tabs>
                                <!-- <ul class="nav nav-tabs customtab" role="tablist">
                                    <li v-if="this.perms=='ecrire'" class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" role="tab" href="#ajouter">
                                            <span><i class="fas fa-plus"></i></span>
                                            <span class="hidden-xs-down">Ajouter une dépenses</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" >
                                        <a  :class="this.perms=='lire' ? 'nav-link active': 'nav-link'" data-toggle="tab" role="tab" href="#liste">
                                            <span><i class="fas fa-table"></i></span>
                                            <span class="hidden-xs-down">Liste des dépenses</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" role="tab"  @click="calendrier()" href="#calendrier">
                                            <span><i class="ti-wallet"></i></span>
                                            <span class="hidden-xs-down">Vue calendrier</span>
                                        </a>
                                    </li>
                                </ul> -->
                                
                                <!-- Tab panes -->
                                <div   class="tab-content">
                                    
                                    
                                  
                                   
                                </div>
                            </div>
                            <div v-else class="card">
                            <div v-if="loaded==true">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container-fluid">
                                    <h4 class="card-title">Notification</h4>
                                    <h6 class="card-subtitle">Bonjour vous devez configurer le formulaire des depenses avant d'éffecturer les soumissions  </h6>
                                    
                                    <router-link class="btn btn-info" to="/bp/suivi/parametres/formulaires/depenses">  <i class="el-icon-setting text-white"></i>Configurer</router-link>
                                    </div>
                                </div>
                       
                         
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modale Calendar -->
                    <div class="modal fade" ref="modalDepense" id="modalDepense" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>Type dépense:{{ this.depense.type }}</strong></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <el-collapse v-model="activeNames" @change="handleChange">
                                    <el-collapse-item  name="1">
                                        <template slot="title">
                                            <h5><i class="el-icon-sell"></i><strong>Dépense</strong></h5>
                                        </template>
                                        <h5>Libelle: <strong>{{ this.depense.title }}</strong></h5>
                                        <h5>Prix unitaire: <vue-numeric
                                            :currency="currentCurrencyMask['currency']"
                                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                            output-type="String"
                                            empty-value=0
                                            :precision="currentCurrencyMask['precision']"
                                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                            read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                            read-only
                                            :value="this.depense.prixVenteUnitaire" >
                                        </vue-numeric></h5>
                                        <h5>Quantité:{{ this.depense.quantite }}</h5>
                                        <h5>Montant:  <strong><vue-numeric
                                            :currency="currentCurrencyMask['currency']"
                                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                            output-type="String"
                                            empty-value=0
                                            :precision="currentCurrencyMask['precision']"
                                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                            read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                            read-only
                                            :value="this.depense.quantite* this.depense.prixVenteUnitaire " >
                                        </vue-numeric></strong></h5>
                                        <h5>Date dépense:<strong>  {{ new Date(this.depense.dates.depenseDate.seconds*1000) | moment("Do MMMM YYYY") }}</strong></h5>
                                        <h5>Description:{{ this.depense.description }}</h5>
                                     
                                       
                                    </el-collapse-item>
                                    <el-collapse-item  name="2">
                                        <template slot="title">
                                            <h5>  <i class="el-icon-document-copy"></i> <strong>Preuve opération</strong></h5>
                                        </template>
 
                                        <h5>Preuve dépense:<a :href="this.depense.preuve" target="_blank">Consulter</a></h5>
                                       
                                    </el-collapse-item>
                                
                                    </el-collapse>
                                                           
                                </div>
                                <div class="modal-footer">
                                   
                                    <div class="w-100">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                                    
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import Vue from 'vue'
    import VueNumeric from 'vue-numeric'
    import currenciesMaskMixin from '../../bp/mixins/currenciesMask'
    import formulairekMixin from '../../bp/mixins/formulaire/formulaire'
    import BaseImageInput from '../../bp/baseImageInput'
    import datePicker from 'vue-bootstrap-datetimepicker'
    import Datepick from 'vuejs-datepicker'
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    import Loading from 'vue-loading-overlay'
    import 'vue-loading-overlay/dist/vue-loading.css'
    import Swal from 'sweetalert2'
    import firebase from 'firebase'
    import { FullCalendar } from 'vue-full-calendar'
    import 'fullcalendar/dist/fullcalendar.css'
    import 'fullcalendar/dist/locale/fr'
    import helper from '../../../services/helper'
    import table from '../../bp/mixins/suivi/data-tables'
    import VueFormGenerator from "vue-form-generator"
   
 
    Vue.use(VueFormGenerator);

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    // Init plugin
  

    export default {
        components: {
            VueNumeric,BaseImageInput,datePicker,Datepick,FullCalendar
        },
        name: 'depense',
        mixins:[currenciesMaskMixin,helper,table,formulairekMixin],
    
        data() {
            return {
                lire:false,
                ecrire:false,
                events:[],           
                config: {
                    locale: 'fr',
                },
                ref: firebase.firestore().collection('depenses'),
                form:firebase.firestore().collection('formulaires'),
                fournisseur: firebase.firestore().collection('fournisseurs'),
                paramsTypeDepenseRef: firebase.firestore().collection('params').doc(JSON.parse(localStorage.getItem('userSession')).projet).collection('typeDepense'),
                perms:JSON.parse(localStorage.getItem('userSession')).perm[0].content[0].value,
                loading: true,
                search:'',
                achat: false,
                fournisseurs:[],
                  //Date Filter
                 optionsFilter: [
                    {value: 'year',label: 'Année'},
                    {value: 'month',label: 'mois'},
                    {value: 'week',label: 'Semaine'},
                    {value: 'dates',label: 'Jour'},
                    {value: 'daterange', label: 'Filtre personnalisé'}
                ],
                FilterOptionValue: 'month',
                FilterSelected: new Date(),
                formatDate:"MMMM-yyyy",
                placeHolder:"",
                depenseFilter:[],
                 //Date Filter
                model: {
                depenses: {
                    dates:'',
                    
                    vendeur: {
                        nom: '',
                    },
                    banque: {
                        nom: '',
                    },
                    
                    type: '',
                    libelle: '',
                    description:'',
                    quantite:1,
                    prixVenteUnitaire:0,
                    montant:0,
                    updatedAt: '',
                    deletedAt: '',
                    dates:{
                        depenseDate: '',
                    }
                },
                options: {
                    format: 'DD/MM/YYYY',
                    useCurrent: true,
                },
               
                newInputText:[
                    {
                        type: "input",
                        inputType: "text",
                        label: "Label",
                        model: "name",
                        maxlength: 50,
                        required: false,
                        placeholder: "User's full name",
                        featured: true

                    }
                ],
                fournisseur:{
                    nom:'',
                    telephone1:'',
                    telephone2:'',
                    email:'',
                    desc:''
                },
               
                    formOptions: {
                    validateAfterLoad: true,
                    validateAfterChanged: true
                    },
               
                   
                },

                schema: {
                    depenses:{
                  
                            
                            active:{
                                groups:[
                                    {
                                        legend: "Sortie",
                                        fields: [
                                        {
                                            type: "elSelectCustom",
                                            label: "Type de sortie",
                                            model: "depenses.type",
                                            featured: true,
                                            value:[{
                                                libelle:"Salaire",
                                                value:"salaire",
                                                },
                                                {
                                                    libelle:"Transport",
                                                    value:"transport",
                                                },
                                                {
                                                    libelle:"Achat",
                                                    value:"achat",
                                                },
                                                {
                                                    libelle:"Communication",
                                                    value:"communication",
                                                },
                                                {
                                                    libelle:"Autre",
                                                    value:"autre",
                                                },
                                            ],
                                            typeSelect:'',
                                            required: true,
                                            enabled:true,
                                            styleClasses:'sortie',
                                               
                                            obj:'depenses',

                                           
                                        },
                                            {
                                                type: "input",
                                                inputType: "text",
                                                label: "Libelle",
                                                model: "depenses.libelle",
                                                featured: true,
                                               
                                                required: true,
                                                enabled:true,
                                                obj:'depenses'
                                                /*
                                                onChanged: function(val) {
                                                    let loader = Vue.$loading.show();
                                                    
                                                    this.model.recettes.montantFacture= this.model.recettes.produit.prixVenteUnitaire * this.model.recettes.quantite;                                             
                                                    loader.hide();
                                                    console.log(this.model.recettes.montantFacture)
                                                },*/
                                               

                                           
                                            }, 
                                            {
                                                type: "textArea",
                                                label: "Description",
                                                model: "depenses.description",
                                                rows: 4,
                                                enabled:false,
                                                obj:'depenses'
                                            },

                                          
                                            {
                                                type: "vueNumericCustom",
                                                label: "Prix unitaire",
                                                model: "depenses.prixVenteUnitaire",
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                                readonly: true,
                                                disabled: false,
                                                obj:'depenses'
                                               
                                               

                                           
                                            }, 
                                            {
                                                type: "input",
                                                inputType: "number",
                                                label: "Quantité",
                                                model: "depenses.quantite",
                                                featured: true,
                                               
                                                required: true,
                                                enabled:true,
                                                obj:'depenses'
                                                /*
                                                onChanged: function(val) {
                                                    let loader = Vue.$loading.show();
                                                    
                                                    this.model.recettes.montantFacture= this.model.recettes.produit.prixVenteUnitaire * this.model.recettes.quantite;                                             
                                                    loader.hide();
                                                    console.log(this.model.recettes.montantFacture)
                                                },*/
                                               

                                           
                                            }, 
                                            {
                                                type: "vueNumericCustom",
                                                label: "Montant",
                                                model: "depenses.montant",
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                                readonly: true,
                                                disabled: true,
                                                obj:'depenses'
                                               
                                               

                                           
                                            }, 
                                        
                                        
                                          
                                             
                 
                                            {
                                                type: "datePickerCustom",
                                                label: "Date Dépense",
                                                model: "depenses.dates.depenseDate",
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                                obj:'depenses'
                                              
                                               
                                            },
                                           
                                              
                                            
                                        
                                
                           
                                        ] 

                                    }
                                ]
                                 
                            },
                    inactive:{
                        groups:[
                            {
                                legend: "depenses",
                                fields: [
                                    {
                                        type: 'input',
                                        inputType: 'text',
                                        label: 'ID (disabled text field)',
                                        model: 'id',
                                        readonly: true,
                                        featured: true,
                                        required: true,
                                        enabled:false,
                                        obj:'depenses'
                                        
                                        
                                           
                                    },
                                    {
                                        type: 'input',
                                        inputType: 'text',
                                        label: 'Name',
                                        model: 'name',
                                        placeholder: 'Your name',
                                        featured: true,
                                        required: true,
                                        enabled:false,
                                        obj:'depenses'
                                    },
                                
                               
                                
                           
                                ] 


                            }
                        ]
                                 
                    },
                    newInputText:{
                        
                                fields: [
                                    {
                                        type: "input",
                                        inputType: "text",
                                        label: "Label",
                                        model: "name",
                                        maxlength: 50,
                                        required: false,
                                        placeholder: "User's full name",
                                        featured: true
                                           
                                    },
                                  
                                   
                               
                                
                           
                                ]        
                                 
                    },
                    newInputSelect:{
                        
                                fields: [
                                    {
                                        type: "select",
                                        label: "Type",
                                        model: "type",
                                        values: [
                                            {id:"93",name:"option 1"},
                                            {id:"93",name:"option 2"}
                                            
                                        ] 
                                           
                                    },
                                  
                                   
                               
                                
                           
                                ] 


                          
                                 
                    },
                    newInputNumber:{
                        
                                fields: [
                                    {
                                        type: "input",
                                        inputType: "number",
                                        label: "Label",
                                        model: "name",
                                        required: false,
                                        featured: true
                                           
                                    },
                                  
                                   
                               
                                
                           
                                ] 


                          
                                 
                    },
                    newInputTextarea:{
                        
                                fields: [
                                    {
                                        type: "textArea",
                                        label: "Biography",
                                        model: "bio",
                                        hint: "Max "+this.max+" caractères",
                                        max: 500,
                                        placeholder: "User's biography",
                                        rows: 4,
                                        required: false,
                                        featured: true
                                           
                                    },
                                  
                                   
                               
                                
                           
                                ] 


                          
                                 
                    },
                    newInputDate:{
                        
                                fields: [
                                    {
                                        type: "dateTimePicker",
                                        label: "Date",
                                        model: "date",
                                        dateTimePickerOptions: {
                                            format: 'DD/MM/YYYY',
                                            useCurrent: true,
                                        },
                                        featured: true,
                                        required: true,
                                        enabled:true,
                                              
                                               
                                    },
                                  
                                   
                               
                                
                           
                                ] 


                          
                                 
                    },
                           
                           
                        
                   
                },
                    fournisseur:{
                        active:{
                        groups: [
                            {
                                legend: "Fournisseur",
                                styleClasses:'fournisseur',
                                fields: [
                               
                                    {
                                        type: "select",
                                        label: "Nom",
                                        model: "fournisseur.nom",
                                        values: [''],
                                        featured: true,
                                        required: true,
                                        enabled:true,
                                        obj:'fournisseur',
                                        
                                        hideNoneSelectedText:true,
                                        noneSelectedText:"Aucun"

                                           
                                    }, 
                                   
                                    {
                                        type: 'input',
                                        inputType: 'text',
                                        label: 'Téléphone 1 ',
                                        model: 'fournisseur.telephone1',
                                        featured: true,
                                        required: false,
                                        disabled:true,
                                        enabled:true,
                                        obj:'fournisseur'
                                    },
                                    {
                                        type: 'input',
                                        inputType: 'text',
                                        label: 'Email',
                                        model: 'fournisseur.email',
                                        disabled:true,
                                        placeholder: 'email',
                                        featured: true,
                                        required: false,
                                        enabled:true,
                                        obj:'fournisseur'
                                    }
                           
                                ]
                            }
                        ],
                        },
                        inactive:{
                        groups: [
                            {
                                legend: "Fournisseur",
                                fields: [
                               
                                {
                                    type: 'input',
                                    inputType: 'text',
                                    label: 'Téléphone 2',
                                    model: 'fournisseur.telephone2',
                                    placeholder: 'Téléphone2',
                                    featured: true,
                                    required: true,
                                    enabled:false,
                                    obj:'fournisseur'
                                },
                                    {
                                        type: 'input',
                                        inputType: 'text',
                                        label: 'Quartier',
                                        model: 'fournisseur.quartier',
                                        featured: true,
                                        required: false,
                                        enabled:false,
                                        obj:'fournisseur'
                                    },
                                    {
                                        type: 'input',
                                        inputType: 'text',
                                        label: 'Ville',
                                        model: 'fournisseur.ville',
                                        featured: true,
                                        required: false,
                                        enabled:false,
                                        obj:'fournisseur'
                                    },
                                    {
                                        type: 'input',
                                        inputType: 'text',
                                        label: 'Pays',
                                        model: 'fournisseur.pays',
                                        featured: true,
                                        required: false,
                                        enabled:false,
                                        obj:'fournisseur'
                                    },
                                    {
                                        type: "textArea",
                                        label: "Description",
                                        model: "fournisseur.desc",
                                        rows: 4,
                                        enabled:false,
                                        obj:'fournisseur'
                                    }

                           
                                ]
                            }
                        ],
                        }                   
                    
                    },
                   
                    fichiers:{
                        groups: [
                            {
                                legend: "Fichiers",
                                styleClasses:'fichier',
                                fields: [
                                    
                                    {
                                        type: "fileUploadCustom",
                                        label: "Preuve opération",
                                        model: "depenses.fichier",
                                        featured: true,
                                        required: true,
                                        enabled:true,
                                               

                                           
                                    },
                                   
                                   
                                ]
                            }
                        ],
                    
                        status:true,
                    
                    }

                },
                loaded:false,
                activeName:'ajouter',
                //COLLAPSE
                activeNames:['1','2'],
                multipleSelection:[],
                //
                depense:{
                    title:'',
                    dates:{
                        depenseDate:''
                    },
                    libelle:'',
                    montant:'',
                    prixVenteUnitaire:'',
                    quantite:'',
                    url:'',
                    type:'',
                    description:''

                },

                tableTitles: [
                    {
                        prop: "type",
                        label: "Type",
                        width: "10%"
                    }, 
                    {
                        prop: "libelle",
                        label: "Libelle"
                    }, 
                   
                    {
                        prop: "quantite",
                        label: "Quantité"
                    },
                    {
                        prop: "montant",
                        label: "Prix unitaire"
                    },
                   
                ],
                filters: [
                    {
                        prop: ['type','nom','montantRecu'],
                        value: '',
                    }
                ],
                recette : {}, //pour la mise à jour
                storage: firebase.storage().ref(),
                fileTask:'',
                fileList:'',
                preuveOperationFile: {},
                preuveFactureFile: '',
                imageUpload: '',
                banque: {},
                depenses: {
                    
                    vendeur: {
                        nom: '',
                    },
                    banque: {
                        nom: '',
                    },
                    
                    type: '',
                    libelle: '',
                    description:'',
                    quantite:1,
                    prixVenteUnitaire:0,
                    montant:0,
                    updatedAt: '',
                    deletedAt: '',
                    dates:{
                        depenseDate: '',
                    }
                },
               
                projectId: JSON.parse(localStorage.getItem('userSession')).projet,
                options: {
                    format: 'DD/MM/YYYY',
                    useCurrent: true,
                } 
            }
        },
        created () {
            


            

           
          
        },
        methods: {
               dateFilter() {
             // alert('Hello')
              //console.log("CLOSE",this.FilterSelected)

              if(this.FilterSelected===null){
    
              }
              else{
                this.depenseFilter = [];
                switch (this.FilterOptionValue) {
                  case "month": 
                    this.tableData.forEach(doc => {
                      let date = new Date(this.dateFormat(doc.createdAt));
                      if (
                        date.getMonth() == this.FilterSelected.getMonth() &&
                        date.getFullYear() == this.FilterSelected.getFullYear()
                      ) {
            
                        this.depenseFilter.push(doc);
                      }
                    });


                    break;
                  case "year":
                  this.tableData.forEach(doc => {
                    let date = new Date(this.dateFormat(doc.createdAt));

                    if (date.getFullYear() == this.FilterSelected.getFullYear()) {
                      this.depenseFilter.push(doc);
                    }
                  });
                  break;

                  case "date":
                  
                   // console.log(today.getDate());
                    this.tableData.forEach(doc => {
                      let date = new Date(this.dateFormat(doc.createdAt));

                      if (
                        date.getDate() == this.FilterSelected.getDate() &&
                        date.getMonth() == this.FilterSelected.getMonth() &&
                        date.getFullYear() == this.FilterSelected.getFullYear()
                      ) {
                        this.depenseFilter.push(doc);
                      }
                    });

                 
                    break;
     
                  case "week":
          
                   
                    this.tableData.forEach(doc => {
                      let date = new Date(this.dateFormat(doc.createdAt));

                      if (
                      date.getDate() >= this.FilterSelected.getDate() &&
                      date.getMonth() ==this.FilterSelected.getMonth() &&
                      date.getFullYear() == this.FilterSelected.getFullYear() &&
                      date.getDate() <= this.FilterSelected.getDate()+7
                      ) {
                        this.depenseFilter.push(doc);
                      }
                    });

                    // loader.hide();

                    break;
                  case "daterange":
                   // console.log("Console Log",this.FilterSelected)
                    //alert('HOLLA')
                 this.tableData.forEach(doc => {
                    let date = new Date(this.dateFormat(doc.createdAt));

                    if (
                    date.getDate() >= this.FilterSelected[0].getDate() &&
                    date.getDate() <= this.FilterSelected[1].getDate() &&


                     date.getMonth() >=this.FilterSelected[0].getMonth() &&
                     date.getMonth() <=this.FilterSelected[1].getMonth() &&

                     date.getFullYear() >= this.FilterSelected[0].getFullYear()&&
                     date.getFullYear() <= this.FilterSelected[1].getFullYear() 

                    ) {
                      this.depenseFilter.push(doc);
                    }
                  });

              
                  break;

                  default:
                    this.depenseFilter=this.tableData;
                    // this.depenseFilter=this.depenses
                    // loader.hide();
                    break;
                }
              }
            //  console.log("FIELD",this.FilterOptionValue)
    
            },
               filterChange(){
                switch(this.FilterOptionValue){
                    case "year":
                        this.formatDate="yyyy"
                        this.placeHolder="Sélectionner une année"
                        this.FilterSelected=""
                        this.FilterOptionValue="year"
                    break
                    case "month":
                        this.formatDate="MMMM-yyyy"
                        this.placeHolder="Sélectionner un mois"
                        this.FilterSelected=""
                        this.FilterOptionValue="month"
                    break
                    case "week":
                        this.formatDate="WW"
                        this.placeHolder="Sélectionner une semaine"
                        this.FilterSelected=""
                        this.FilterOptionValue="week"
                    break
                    case "dates":
                        this.formatDate="dd/MMMM/yyyy"
                        this.placeHolder="Sélectionner un jour"
                        this.FilterSelected=""
                        this.FilterOptionValue="date"
                    break
                    case "datarange":
                        this.formatDate="dd/MMMM/yyyy"
                        this.placeHolder="Sélection personnalisée"
                        this.FilterSelected=""
                        this.FilterOptionValue="datarange"
                    break
                }
            },
               tableHeaderDepense({ row, column, rowIndex, columnIndex }) {
              if (rowIndex === 0) {
                return 'background-color: #9f0a19;color: #ffff; font-weight: 800;'
              }
            },
            isEmpty(obj) {
                for(var key in obj) {
                    if(obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            },
            detectFiles (e) {
                let fileList = e.target.files || e.dataTransfer.files
                Array.from(Array(fileList.length).keys()).map(x => {
                    // this.upload(fileList[x]);
                    this.preuveOperationFile = fileList[x];
                })
            },
            handleTabClick(tab, event){
                switch(this.activeName){

                    case "ajouter":
                    
                    break

                    case "liste":
                   
                    break

                    case "calendrier":
                        this.calendrier()
                    
                    break
                }
                
            },
            eventSelected(e){
              
              
                //console.log(target.indexOf(e))
                //let depenseId=e.id;
              
               this.depense.title=e.title;
               this.depense.type=e.type;
               this.depense.prixVenteUnitaire=e.prixVenteUnitaire;
               this.depense.quantite=e.quantite;
               this.depense.description=e.description;
               this.depense.dates.depenseDate=e.depenseDate;
               this.depense.preuve=e.urlFile;
               $('#modalDepense').modal('show');
               e.preventDefault();

                

            },
            //Calendrier
            calendrier(){
                let loader = Vue.$loading.show();
                    this.events=[];

                firebase.firestore().collection('depenses').where('projectId', '==',JSON.parse(localStorage.getItem('userSession')).projet).get()
                .then((querySnapshot) => {

                    querySnapshot.forEach((doc) => {
                    let idDoc=doc.id;
                       
                    let depense=doc.data();
                // console.log(recette);
                    let daterecette=this.dateFormat(depense.dates.depenseDate);
                    this.events.push({
                            'id':idDoc,
                            'title':depense.libelle,
                            'type':depense.type,
                            'prixVenteUnitaire':depense.prixVenteUnitaire,
                            'montant':depense.montant,
                            'quantite':depense.quantite,
                            'description':depense.description,
                            'depenseDate':depense.dates.depenseDate,
                            'urlFile':depense.url,
                            'start':daterecette,
                            'color': 'red'
                           
                    });
                        });
                        loader.hide();
      
                   
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                })
            },

            detectFile (e) {
                let fileList = e.target.files || e.dataTransfer.files
                Array.from(Array(fileList.length).keys()).map(x => {
                    // this.upload(fileList[x]);
                    this.preuveFactureFile = fileList[x];
                })
            },
            upload (file) {
                const metadata = {
                    contentType: file.type
                };
                let randomId= this.getRandomString(32)
                this.fileTask = this.storage.child('depenses/' +randomId+file.lastModified).put(file,metadata)

            },
            async onSubmit (evt){
                evt.preventDefault();
                let loader = Vue.$loading.show();
                     this.model.depenses.files=[];
             

                       await Promise.all(this.$refs.fichier.$children[0].$refs.child.fileList.map(async(item) => {
                    //   Array.from(Array(item).keys()).map(x => {
                        if(item.url && item.status=="ready"){
                        //    console.log("ItemData",item.raw.url)
                           this.fileItem= await fetch(item.url).then(r => r.blob())
                           const metadata = {
                             contentType: this.fileItem.type
                             };
                        let randomId= this.getRandomString(32)
                       this.taskRef = await
                        this.storage.child('recettes/' +randomId+this.fileItem.lastModified+item.uid).put(this.fileItem,metadata)
                        .then(snapshot => snapshot.ref.getDownloadURL())
                        .then((url) => {
                           let file={
                                  "fileUrl":url,
                                  "url":item.url,
                                  "uid":item.uid,
                                  "name":item.name,
                                  "percentage":item.percentage,
                                  "status":item.status,
                                  "size":item.size
                                //    "fileMetaRaw":item.raw
                             }
                             this.model.depenses.files.push(file)
                            //  console.log('New log',this.model.recettes.files)
                       
                         }); 
                        }
                    
                   
                    }))  
                    
                    this.tableData = [];
                    let message = '';
                    this.model.depenses.projectId = this.projectId;
                    // this.model.depenses.url = url;
                    this.model.depenses.createdAt = new Date();

                    this.ref.add(this.model.depenses)
                    .then((recettes) => {
                        Swal.fire({
                            type: 'success',
                            title: 'la depenses a  été enregistrée avec succès',
                            showConfirmButton: false,
                            timer: 2500
                        })
                        loader.hide();
                    })
                    .catch(function(error) {
                        Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                        loader.hide();
                        
                        // console.log(error);
                    });  
                
               
               
            },
           
            //quand on selectionne un client, banque ou vendeur
        /* onClientChange: function(val){
                let loader = Vue.$loading.show();
                let clientId = val.target.value;
                this.clients.forEach((client) => {
                    if(client.id == clientId){
                        this.recettes.client = client;
                        loader.hide();
                    }
                })
               
            },
            onProductChange: function(val){
                let loader = Vue.$loading.show();
                let productName = val.target.value;
                // console.log(produitId);
                this.produits.forEach((produit) => {
                    if(produit.nom == productName){
                        this.recettes.produit = produit;
                    }
                    loader.hide();
                })
            },
            onBankChange: function(val){
                let loader = Vue.$loading.show();
                let bankId = val.target.value;
                this.banques.forEach((bank) => {
                    if(bank.id == bankId){
                        this.recettes.banque = bank;
                        loader.hide();
                    }
                })
              
            },
            onSellerChange: function(val){
                let loader = Vue.$loading.show();
                let sellerId = val.target.value;
                this.vendeurs.forEach((vendeur) => {
                    if(vendeur.id == sellerId){
                        this.recettes.vendeur = vendeur;
                        loader.hide();
                    }
                })
            },*/
            onUpdate: function(evt){
                evt.preventDefault();
                this.tableData = []; //on reset le data du datatable pour éviter les doublons
                this.loading = true;
                this.recette.updatedAt = new Date();
                this.ref.doc(this.recette.id).update(this.recette)
                .then( (recette) => {
                    // loader.hide();
                    $('#modalEditRecette').modal('hide');
                    Swal.fire({
                        type: 'success',
                        title: 'Vous avez modifié un élément avec succès',
                        showConfirmButton: false,
                        timer: 2500
                    })
                    this.loading = false;
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Une erreur est survenue!',
                    })
                });
            },
            toggleSelection(rows) {
                if (rows) {
                rows.forEach(row => {
                    this.$refs.multipleTable.toggleRowSelection(row);
                    console.log("Lignes",row)
                });
                } else {
                this.$refs.multipleTable.clearSelection();
                }
       
            },
            deleteMultiple(){
                    Swal.fire({
                        title: 'Êtes-vous sûr?',
                        text: "Cette action est irréversible!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        cancelButtonText: 'j\'annule',
                        confirmButtonText: 'Oui, très sûr!'
                    }).then((result) => {
                        if (result.value) {
                            this.multipleSelection.forEach(row => {
                                this.deletefirestore(row.id);
                            });  
                   
                        }
                    })
            

                },
                handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log(val)
            },
            handleDelete(index, row) {
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Cette action est irréversible!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'j\'annule',
                    confirmButtonText: 'Oui, très sûr!'
                }).then((result) => {
                    if (result.value) {
                       
                        this.deletefirestore(row.id);
                    }
                })
            },
            handleEdit(data) {
            
            // $('#modalEditRecette').modal('show');
            // this.recette = row;
            this.$route.params.dataToUpdate=data
            this.activeName="ajouter"
            this.updateDepense()
            },
            updateDepense(){
                if(this.$route.params.dataToUpdate){
                  this.model.depenses={
                    vendeur: {
                        nom: '',
                    },
                    banque: {
                        nom: '',
                    },
                    
                    type: '',
                    libelle: '',
                    description:'',
                    quantite:1,
                    prixVenteUnitaire:0,
                    montant:0,
                    updatedAt: '',
                    deletedAt: '',
                    dates:{
                        depenseDate: '',
                    }
                  }
                  this.model.depenses.type=this.$route.params.dataToUpdate.type
                  this.model.depenses.libelle=this.$route.params.dataToUpdate.libelle
                  this.model.depenses.description=this.$route.params.dataToUpdate.description
                  this.model.depenses.quantite=this.$route.params.dataToUpdate.quantite
                  this.model.depenses.prixVenteUnitaire=this.$route.params.dataToUpdate.prixVenteUnitaire
                  this.model.depenses.montant=this.$route.params.dataToUpdate.montant
                  this.model.depenses.dates.depenseDate= new Date(this.dateFormat(this.$route.params.dataToUpdate.dates.depenseDate))
                  this.model.depenses.fournisseur.nom=this.$route.params.dataToUpdate.fournisseur.nom
                  this.model.depenses.fournisseur.telephone1=this.$route.params.dataToUpdate.fournisseur?.telephone1
                  this.model.depenses.fournisseur.email=this.$route.params.dataToUpdate.fournisseur?.email



                }
            },
            deletefirestore(id) {
                
            let loader = Vue.$loading.show();
            // this.tableData = []; //on reset le data pour éviter les doublons
            this.ref.doc(id).delete().then(()=>{
                    
                this.getDepense();
                console.log("Suppréssion réussie")
                loader.hide();
            }).catch(()=>{

            });
            },
            getDepense(){
                this.ref.
                where('projectId', '==', this.projectId).
                onSnapshot((querySnapshot) => {
                    this.tableData=[];
                    querySnapshot.forEach((doc) => {
                        let obj = doc.data();
                        // console.log(obj);
                        obj.id = doc.id;
                        obj.type = doc.data().type;
                        obj.libelle = doc.data().libelle;
                        obj.montant = obj.prixVenteUnitaire * obj.quantite;
                        obj.url = doc.data().url;

                        this.tableData.push(obj);
                    });
                    this.depenseFilter=this.tableData
               
                });
            },
            updateData(){
            let loader = Vue.$loading.show();
           
                Array.from(Array(this.fileList.length).keys()).map(x => {
                    this.upload(this.fileList[x]);
                })
            if (this.fileTask !== ''){
            this.fileTask
            .then(snapshot => snapshot.ref.getDownloadURL())
            .then((url) => {
                
                this.model.depenses.projectId = this.projectId;
                this.model.depenses.url = url;
                this.model.depenses.createdAt = new Date();

                this.ref.doc(this.$route.params.dataToUpdate.id).set(this.model.depenses)
                //Delete Old File
                let deleteFile=this.storage.child(this.$route.params.dataToUpdate.url)
                deleteFile.delete().then(()=>{
                    console.log('Suppression réussie')

                }).catch(()=>{
                    console.log('Problème lors de la suppression du fichier')
                })
                .then(()=>{
                    loader.hide();
                    swal({
                    title: "Mise à jour réussie!",
                    text: "Mise à jour enregistrée avec succès",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonText: "ok",
                    closeOnConfirm: false,
                    closeOnCancel: false
                    }).then((result) => {
                        if (result.value==true){
                            this.$router.push({name:this.$route.params.beforeRoute});
                       
                        }
                    }) 
                }).catch(function(error) {
                        console.log("Error getting document:", error);
                        loader.hide();
                    })
            
            })
            }else{

                this.model.depenses.projectId = this.projectId;
                this.model.depenses.url = this.$route.params.dataToUpdate.url;
                this.model.depenses.createdAt = new Date();
                this.ref.doc(this.$route.params.dataToUpdate.id).set(this.model.depenses)
                .then(()=>{
                    loader.hide();
                    swal({
                    title: "Mise à jour réussie!",
                    text: "Mise à jour enregistrée avec succès",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonText: "ok",
                    closeOnConfirm: false,
                    closeOnCancel: false
                    }).then((result) => {
                        if (result.value==true){
                            this.$router.push({name:this.$route.params.beforeRoute});
                       
                        }
                    }) 
                }).catch(function(error) {
                        console.log("Error getting document:", error);
                        loader.hide();
                    })
            }
            
           
             
            },
            getTypeDepense(){
                 this.paramsTypeDepenseRef
                .onSnapshot((querySnapshot)=>{
                       let field=this.schema.depenses.active.groups[0].fields.find(field=>field.model==='depenses.type');
                     field.value=[];
                    querySnapshot.forEach((doc)=>{
                        field.value.push({
                            'value':doc.data().depense,
                            'libelle':doc.data().depense
                        });
                    })
                })
            }
        },
        created(){
            this.$route.params.data.forEach(item=>{
                if(item=='lire'){
                this.lire=true
                }
                if(item=='ecrire'){
                this.ecrire=true
                }
            })
            this.$loading().close();
        },
  
        mounted () {
            let loader = Vue.$loading.show();
            //ajout des champs suppléméntaires au formulaire
            this.form.
            where('projectId', '==', this.projectId).
            where('form', '==', 'depense')
            .onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                if(!doc.empty){ 
                //this.model = doc.data();
                // this.schema=doc.get('schema'); 
                // this.model=doc.get('model');   
                loader.hide(); 
                this.loaded=true;                            
                }
                });
            });
            this.getDepense();
            this.getTypeDepense()
           
            this.fournisseur.
            where('projectId', '==', this.projectId).
            onSnapshot((querySnapshot) => {
                //console.log('Hello');
                let field=this.schema.fournisseur.active.groups[0].fields.find(field=>field.model==='fournisseur.nom');
                field.values=[''];
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    //console.log(obj);
                    this.fournisseurs=[],
                    this.fournisseurs.push(obj);
                    let field=this.schema.fournisseur.active.groups[0].fields.find(field=>field.model==='fournisseur.nom');
                    field.values.push(obj.nom);
                });
               
            });
            loader.hide();   

           
        }
    }
</script>
<style scoped>

.nav-link.show.active i,.nav-link.active i{
    color: #61b174;
}
span.stepTitle.active{
    color: #67757c !important;
    font-weight: 500 !important;
}
.nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: auto
}
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: auto
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color:#f0f0f052 !important
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #1E58B3;
        border-bottom-color: #15f57acc;
    }
    .nav.nav-tabs.customtab li {
        width: 33.3%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 153px;
        background-color: #ffffff;
        color: #000000;
    }
    .hidden-xs-down{
        font-size:17px;
        font-weight: bold;
    }
    .input-group-date {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #398bf7;
        border: 1px solid #ced4da;
    }
    .customtab li a.nav-link.active {
    border-bottom: 2px solid #ffffff;
    color: #ffffff; }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
  
    .mydatepicker {
        font-size: smaller;
        font-weight: bold;
    }
    input[readonly] {
        background-color: #ffffff;
    }
    .readOnlyClass {
        color: #000000;
        background-color: #f0f0f0;
    }


        .modal-header{
            color:#fff;
            padding:9px 15px;
            border-bottom:1px solid #eee;
            background-color: #e41212;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
   
    .modal-title{
        color:#fff;
    }
 
</style>

