<template>
     <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Recettes</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/bp/home">Accueil</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="bp/suivi"> Finances</a>
                            </li>
                            <li class="breadcrumb-item">Recettes</li>
                        </ol>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" role="tab" href="#ajouter">
                                            <span><i class="fas fa-plus"></i></span>
                                            <span class="hidden-xs-down">Ajouter une entrée</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" role="tab" href="#liste">
                                            <span><i class="fas fa-table"></i></span>
                                            <span class="hidden-xs-down">Liste des entrées</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" role="tab" href="#calendrier">
                                            <span><i class="ti-wallet"></i></span>
                                            <span class="hidden-xs-down">Vue calendrier</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="ajouter">
                                        <form class="form-horizontal" @submit="onSubmit">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <fieldset class="fieldset" style="background-color: #F0F0F0; font-weight: bold">
                                                        <div class="input-group mb-1 mt-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >Type de l'entrée<span style="color:red">*</span></span>
                                                            </div>
                                                            <select v-model="recettes.type" class="form-control" id="type">
                                                                <option value="Vente">Vente</option>
                                                                <option value="Vente produit">Vente produit</option>
                                                                <option value="Vente service">Vente service</option>
                                                                <option value="Vente exceptionnel">Vente exceptionnel</option>
                                                                <option value="Vente exceptionnel">Reliquat</option>
                                                                <option value="Vente exceptionnel">Don / Aide</option>
                                                            </select>
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >Nom de l'entrée<span style="color:red">*</span></span>
                                                            </div>
                                                            <select v-model="recettes.libelle" @change="onProductChange" class="form-control" id="vendeur">
                                                                <option v-for="(prd, key) in produits" :value="prd.nom" :key="key">
                                                                    {{prd.nom}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >Montant reçu<span style="color:red">*</span>&nbsp;&nbsp;&nbsp;</span>
                                                                <vue-numeric
                                                                    :currency="currentCurrencyMask['currency']"
                                                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                    output-type="String"
                                                                    :empty-value="0"
                                                                    :precision="currentCurrencyMask['precision']"
                                                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                    read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                    :read-only=false
                                                                    v-model.number="recettes.montantRecu"
                                                                    class="form-control text-right">
                                                                </vue-numeric>
                                                            </div>
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-date">
                                                                    <label for="customm-1">Date</label>
                                                                </div>
                                                            </div>
                                                            <input type="date" v-model="recettes.montantRecuDate" class="form-control mydatepicker"/>
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >Quantité<span style="color:red">*</span></span>
                                                            </div>
                                                            <input v-model="recettes.quantite" min="1" class="form-control" type="number" id="quantite">
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="fieldset">
                                                        <div class="input-group mb-1 mt-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Montant facturé&nbsp;&nbsp;&nbsp;</span>
                                                                <vue-numeric
                                                                    :currency="currentCurrencyMask['currency']"
                                                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                    output-type="String"
                                                                    :empty-value="0"
                                                                    :precision="currentCurrencyMask['precision']"
                                                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                    read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                    :read-only=false
                                                                    v-model.number="recettes.montantFacture"
                                                                    class="form-control text-right">
                                                                </vue-numeric>
                                                            </div>
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-date">
                                                                    <label for="customm-1">Date</label>
                                                                </div>
                                                            </div>
                                                            <input type="date" v-model="recettes.montantFactureDate" class="form-control mydatepicker">
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Reste à percevoir&nbsp;&nbsp;&nbsp;</span>
                                                                <vue-numeric
                                                                    :currency="currentCurrencyMask['currency']"
                                                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                    output-type="String"
                                                                    :empty-value="0"
                                                                    :precision="currentCurrencyMask['precision']"
                                                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                    read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                    :read-only=false
                                                                    v-model.number="recettes.restAPercevoir"
                                                                    class="form-control text-right">
                                                                </vue-numeric>
                                                            </div>
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-date">
                                                                    <label for="customm-1">Date</label>
                                                                </div>
                                                            </div>
                                                            <input type="date" v-model="recettes.resteAPercevoirDate" class="form-control mydatepicker">
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="fieldset">
                                                        <div class="input-group mb-1 mt-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    Versement&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </span>
                                                                <vue-numeric
                                                                    :currency="currentCurrencyMask['currency']"
                                                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                    output-type="String"
                                                                    :empty-value="0"
                                                                    :precision="currentCurrencyMask['precision']"
                                                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                    read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                    :read-only=false
                                                                    v-model.number="recettes.versement"
                                                                    class="form-control text-right">
                                                                </vue-numeric>
                                                            </div>
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-date">
                                                                    <label for="customm-1">Date</label>
                                                                </div>
                                                            </div>
                                                            <input type="date" v-model="recettes.versementDate" class="form-control mydatepicker">
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    Banque&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </span>
                                                                <select v-model="recettes.banquenom" @change="onBankChange" class="form-control" id="banque">
                                                                    <option v-for="banque in banques" :value="banque.id" :key="banque.id">
                                                                        {{banque.nom}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-date">
                                                                    <label for="customm-1">Lieu&nbsp;</label>
                                                                </div>
                                                            </div>
                                                            <input type="text" readonly v-model="recettes.banque.quartier" class="form-control">
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="fieldset">
                                                        <div class="input-group mb-1 mt-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >Vendeur</span>
                                                            </div>
                                                            <select v-model="recettes.vendeurnom" @change="onSellerChange" class="form-control" id="vendeur">
                                                                <option v-for="vendeur in vendeurs" :value="vendeur.id" :key="vendeur.id">
                                                                    {{vendeur.prenom !== undefined ? vendeur.nom+' '+vendeur.prenom:vendeur.nom}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >phone vendeur</span>
                                                            </div>
                                                            <input v-model="recettes.vendeur.tel1" readonly placeholder="" class="form-control" type="text" id="activite">
                                                        </div>

                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >Lieu de vente</span>
                                                            </div>
                                                            <input v-model="recettes.vendeur.lieuVente" class="form-control" type="text" id="lieu">
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="fieldset">
                                                        <div class="input-group mb-1 mt-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >Preuve opération</span>
                                                            </div>
                                                            <input class="form-control" type="file" id="preuveOperation" @change="detectFiles($event)">
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >Preuve facture</span>
                                                            </div>
                                                            <input class="form-control" type="file" id="preuveFacture" @change="detectFile($event)">
                                                        </div>
                                                        <div class="mb-1">
                                                            <button type="button" class="btn btn-info">
                                                                <i class="fas fa-plus-circle"></i>
                                                            </button>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mt-1 row-fieldset">
                                                        <div class="col-md-7 mt-1">
                                                            <textarea class="form-control" style="background-color:#fff" readonly v-html="produit.description" placeholder="Caractéristique" rows="8"></textarea>
                                                        </div>
                                                        <div class="col-md-5 mt-1 mb-1 el-element-overlay">
                                                            <div class="card">
                                                                <div class="el-card-item">
                                                                    <div class="el-card-avatar el-overlay-1">
                                                                        <img src="/images/no_image.jpg" alt="produit" style="width:100%;"/>
                                                                        <div class="el-overlay" style="height:100%">
                                                                            <ul class="el-info">
                                                                                <li>
                                                                                    <a class="btn default btn-outline image-popup-vertical-fit" href="/images/no_image.jpg">
                                                                                    <i class="icon-magnifier"></i></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <fieldset class="fieldset">
                                                        <div class="input-group mb-1 mt-2">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Client</span>
                                                            </div>
                                                            <select v-model="recettes.clientnom" @change="onClientChange" class="form-control" id="client">
                                                                <option v-for="client in clients" :value="client.id" :key="client.id">
                                                                    {{client.prenom !== undefined ? client.nom+' '+client.prenom:client.nom}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" >Type de client</span>
                                                            </div>
                                                            <input v-model="recettes.client.type" readonly class="form-control" type="text" id="typeclient">
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Tel du client</span>
                                                            </div>
                                                            <input v-model="recettes.client.tel1" readonly class="form-control" type="text" id="lieu">
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Mail du client</span>
                                                            </div>
                                                            <input v-model="recettes.client.mail" readonly class="form-control" type="text" id="lieu">
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Adresse client</span>
                                                            </div>
                                                            <input v-model="recettes.client.adresse" readonly class="form-control" type="text" id="lieu">
                                                        </div>
                                                        <div class="mb-1 mt-1">
                                                            <button type="button" class="btn btn-info">
                                                                <i class="fas fa-plus-circle"></i>
                                                            </button>
                                                        </div>
                                                    </fieldset>
                                                    <div class="mb-1 mt-1 ml-2">
                                                        <button type="button" class="btn btn-info">
                                                            <i class="fas fa-plus-circle"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="text-xs-right mb-2 mt-2 ml-3">
                                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="liste" role="">
                                        <div class="col-md-12 mt-1">
                                            <div class="table-responsive" style="background-color:#fff">
                                                    <table id="recetteTable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Type</th>
                                                                <th>Nom</th>
                                                                <th>M. reçu</th>
                                                                <th>Quantité</th>
                                                                <th>M. facturé</th>
                                                                <th>Vendeur</th>
                                                                <th>Versement</th>
                                                                <th>Banque</th>
                                                                <th>Client</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th>Type</th>
                                                                <th>Nom</th>
                                                                <th>M. reçu</th>
                                                                <th>Quantité</th>
                                                                <th>M. facturé</th>
                                                                <th>Vendeur</th>
                                                                <th>Versement</th>
                                                                <th>Banque</th>
                                                                <th>Client</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="calendrier" role="">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <full-calendar :events="events" :config="config"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<style scoped>
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #f0f0f0 !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 33.3%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 153px;
        background-color: #ffffff;
        color: #000000;
    }
    .input-group-date {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #398bf7;
        border: 1px solid #ced4da;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .mydatepicker {
        font-size: smaller;
        font-weight: bold;
    }
    input[readonly] {
        background-color: #ffffff;
    }
</style>

<script>
    import Vue from 'vue'
    import VueNumeric from 'vue-numeric'
    import currenciesMaskMixin from '../../bp/mixins/currenciesMask'
    import BaseImageInput from '../../bp/baseImageInput'
    import Datepicker from 'vuejs-datepicker'
    import Loading from 'vue-loading-overlay'
    import 'vue-loading-overlay/dist/vue-loading.css'
    import Swal from 'sweetalert2'
    import firebase from 'firebase'
    import { FullCalendar } from 'vue-full-calendar'
    import 'fullcalendar/dist/fullcalendar.css'
    import 'fullcalendar/dist/locale/fr'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    // Init plugin


    export default {
        components: {
            VueNumeric,BaseImageInput,Datepicker,FullCalendar
        },
        name: 'recette',
        mixins:[currenciesMaskMixin],
        data() {
            return {
                events: [
                    {
                        title  : 'event1',
                        start  : '2010-01-01',
                    },
                    {
                        title  : 'Rendez vous',
                        start  : '2019-08-20',
                        end    : '2019-08-20',
                    },
                    {
                        title  : 'event3',
                        start  : '2010-01-09T12:30:00',
                        allDay : false,
                    },
                ],
                config: {
                    locale: 'fr',
                },
                ref: firebase.firestore().collection('recettes'),
                storage: firebase.storage().ref(),
                banqueRef: firebase.firestore().collection('banque'),
                vendeurRef: firebase.firestore().collection('vendeurs'),
                clientRef: firebase.firestore().collection('clients'),
                produitRef: firebase.firestore().collection('financier'),
                banques: [],
                vendeurs: [],
                clients: [],
                produits: [],
                produit: {},
                client: {},
                vendeur: {},
                fileTask:'',
                preuveOperationFile: '',
                preuveFactureFile: '',
                imageUpload: '',
                banque: {},
                recettes: {
                    client: {},
                    vendeur: {},
                    banque: {},
                    montantFactureDate: '',
                    montantRecuDate: '',
                    restAPercevoirDate: '',
                    versementDate: ''
                },
                projetId: JSON.parse(localStorage.getItem('userSession')).projet
            }
        },
        created () {
            let loader = Vue.$loading.show();
            /* $('.singledate').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
            });
            $('.mydatepicker').datepicker(); */

            //let's populate banque select with data
            this.banqueRef
            .where('projectId', '==', this.projetId)
            .onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.banques.push(obj);
                    loader.hide();
                });
            });

            //let's populate vendeur select with data
            this.vendeurRef.
            where('projectId', '==', this.projetId)
            .onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.vendeurs.push(obj);
                    loader.hide();
                });
            });

            //let's populate client select with data
            this.clientRef
            .where('projectId', '==', this.projetId)
            .onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.clients.push(obj);
                    loader.hide();
                });
            });

            this.produitRef.doc(this.projetId).get().then((doc) => {
                let obj = doc.data().produits;
                obj['articles'].forEach((produit, index) => {
                    this.produits.push(produit);
                })
            });
        },
        methods: {
            detectFiles (e) {
                let fileList = e.target.files || e.dataTransfer.files
                Array.from(Array(fileList.length).keys()).map(x => {
                    // this.upload(fileList[x]);
                    this.preuveOperationFile = fileList[x];
                })
            },
            detectFile (e) {
                let fileList = e.target.files || e.dataTransfer.files
                Array.from(Array(fileList.length).keys()).map(x => {
                    // this.upload(fileList[x]);
                    this.preuveFactureFile = fileList[x];
                })
            },
            upload (file) {
                const metadata = {
                    contentType: file.type
                };
                this.fileTask = this.storage.child('suivi/' + file.lastModified).put(file,metadata)

            },
            onSubmit: function(evt){
                let loader = Vue.$loading.show();
                //on empêhce le comportement par defaut de la page
                evt.preventDefault();
                let message = '';
                this.recettes.projectId = this.projetId;

                //on vérifie si les fichiers sont uploades
                if(this.preuveOperationFile !== '' && this.preuveFactureFile !== '' )
                {
                    //on cherche le type de fichier preuveOperation
                    const metadata = {
                        contentType: this.preuveOperationFile.type
                    };
                    //on cherche le type de fichier preuveFactureFile
                    const datameta = {
                        contentType: this.preuveFactureFile.type
                    };

                    //on upload le fichier preuveOperationFile
                    this.storage.child('suivi/' + this.preuveOperationFile.lastModified).put(this.preuveOperationFile,metadata)
                    .then(snapshot => snapshot.ref.getDownloadURL())
                    .then((url) => {
                        this.recettes.preuveOperationFileUrl = url;
                        this.recettes.preuveOperationFileName = this.preuveOperationFile.lastModified;
                        //on upload le fichier preuveFactureFile
                        this.storage.child('suivi/' + this.preuveFactureFile.lastModified).put(this.preuveFactureFile,datameta)
                        .then(snapshot => snapshot.ref.getDownloadURL()
                            .then((url) => {
                                this.recettes.preuveFactureFileUrl = url;
                                this.recettes.preuveFactureFile = this.preuveFactureFile.lastModified;
                                this.ref.add(this.recettes)
                                .then((recettes) => {
                                    Toast.fire({
                                        type: 'success',
                                        title: 'la recette a bien été enregistrée avec succès',
                                        customClass:  "bg-success"
                                    });
                                    loader.hide();
                                    //on refresh le datatable pour prendre en compte le nouvel enregistrement
                                    recettes.btnAction =
                                    '<a href="#"><i id="' + recettes.id + '" data-id="'+recettes.id+'" data-toggle="modal" data-target="#modalClients" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;'
                                    +'<a href="#" style="color:red!important"><i id="' + recettes.id + '" data-id="'+recettes.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-trash-alt"></i></a>';

                                    this.dtTable.row.add([
                                        recettes.type,
                                        recettes.libelle,
                                        recettes.montantRecu,
                                        recettes.quantite,
                                        recettes.montantFacture,
                                        recettes.vendeurnom,
                                        recettes.versement,
                                        recettes.banquenom,
                                        recettes.clientnom,
                                        recettes.btnAction,
                                    ]);
                                    this.dtTable.order([0, 'asc']).draw();

                                    //on efface les champs
                                    this.clients.type = '',
                                    this.clients.nom = '',
                                    this.clients.prenom = '',
                                    this.clients.age = '',
                                    this.clients.tel1 = '',
                                    this.clients.quartier = '',
                                    this.clients.adresse = '',
                                    this.clients.ville = '';
                                    this.clients.mailcontact = '';
                                })
                                .catch(function(error) {
                                    Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                                    console.log(error);
                                });
                            })
                            .catch((error) => {
                                loader.hide();
                                switch (error.code) {
                                    case 'storage/unauthorized':
                                    message = 'Vous n\'avez pas les authorisations requises';
                                    break;
                                    case 'storage/canceled':
                                    message = 'Le fichier a été supprimé';
                                    break;
                                    case 'storage/unknown':
                                    message = 'Erreur inattendue est survenue. Veillez réessayer';
                                    break;
                                }
                                    console.log(error);
                            })
                        );
                    })
                    .catch((error) => {
                        loader.hide();
                        switch (error.code) {
                            case 'storage/unauthorized':
                            message = 'Vous n\'avez pas les authorisations requises';
                            break;
                            case 'storage/canceled':
                            message = 'Le fichier a été supprimé';
                            break;
                            case 'storage/unknown':
                            message = 'Erreur inattendue est survenue. Veillez réessayer';
                            break;
                        }
                            console.log(error);
                    });
                } else if(this.preuveOperationFile == '')
                {
                    //on cherche le type de fichier preuveFactureFile
                    const datameta = {
                        contentType: this.preuveFactureFile.type
                    };

                    //on upload le fichier preuveFactureFile
                    this.storage.child('suivi/' + this.preuveFactureFile.lastModified).put(this.preuveFactureFile,datameta)
                    .then(snapshot => snapshot.ref.getDownloadURL())
                    .then((url) => {
                        this.recettes.preuveFactureFileUrl = url;
                        this.recettes.preuveFactureFile = this.preuveFactureFile.lastModified;
                        this.ref.add(this.recettes)
                        .then((recettes) => {
                            Toast.fire({
                                type: 'success',
                                title: 'la recette a bien été enregistrée avec succès',
                                customClass:  "bg-success"
                            });
                            loader.hide();
                            //on refresh le datatable pour prendre en compte le nouvel enregistrement
                            recettes.btnAction =
                            '<a href="#"><i id="' + recettes.id + '" data-id="'+recettes.id+'" data-toggle="modal" data-target="#modalClients" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;'
                            +'<a href="#" style="color:red!important"><i id="' + recettes.id + '" data-id="'+recettes.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-trash-alt"></i></a>';

                            this.dtTable.row.add([
                                recettes.type,
                                recettes.libelle,
                                recettes.montantRecu,
                                recettes.quantite,
                                recettes.montantFacture,
                                recettes.vendeurnom,
                                recettes.versement,
                                recettes.banquenom,
                                recettes.clientnom,
                                recettes.btnAction,
                            ]);
                            this.dtTable.order([0, 'asc']).draw();

                            //on efface les champs
                            this.clients.type = '',
                            this.clients.nom = '',
                            this.clients.prenom = '',
                            this.clients.age = '',
                            this.clients.tel1 = '',
                            this.clients.quartier = '',
                            this.clients.adresse = '',
                            this.clients.ville = '';
                            this.clients.mailcontact = '';
                        })
                        .catch(function(error) {
                            Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                            console.log(error);
                        });
                    })
                    .catch((error) => {
                        loader.hide();
                        switch (error.code) {
                            case 'storage/unauthorized':
                            message = 'Vous n\'avez pas les authorisations requises';
                            break;
                            case 'storage/canceled':
                            message = 'Le fichier a été supprimé';
                            break;
                            case 'storage/unknown':
                            message = 'Erreur inattendue est survenue. Veillez réessayer';
                            break;
                        }
                        console.log(error);
                    });
                } else if (this.preuveFactureFile == '')
                {
                    //on cherche le type de fichier preuveOperation
                    const metadata = {
                        contentType: this.preuveOperationFile.type
                    };

                    //on upload le fichier preuveOperationFile
                    this.storage.child('suivi/' + this.preuveOperationFile.lastModified).put(this.preuveOperationFile,metadata)
                    .then(snapshot => snapshot.ref.getDownloadURL())
                    .then((url) => {
                        this.recettes.preuveOperationFileUrl = url;
                        this.recettes.preuveOperationFileName = this.preuveOperationFile.lastModified;
                        this.ref.add(this.recettes)
                        .then((recettes) => {
                            Toast.fire({
                                type: 'success',
                                title: 'la recette a bien été enregistrée avec succès',
                                customClass:  "bg-success"
                            });
                            loader.hide();
                            //on refresh le datatable pour prendre en compte le nouvel enregistrement
                            recettes.btnAction =
                            '<a href="#"><i id="' + recettes.id + '" data-id="'+recettes.id+'" data-toggle="modal" data-target="#modalClients" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;'
                            +'<a href="#" style="color:red!important"><i id="' + recettes.id + '" data-id="'+recettes.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-trash-alt"></i></a>';

                            this.dtTable.row.add([
                                recettes.type,
                                recettes.libelle,
                                recettes.montantRecu,
                                recettes.quantite,
                                recettes.montantFacture,
                                recettes.vendeurnom,
                                recettes.versement,
                                recettes.banquenom,
                                recettes.clientnom,
                                recettes.btnAction,
                            ]);
                            this.dtTable.order([0, 'asc']).draw();

                            //on efface les champs
                            this.clients.type = '',
                            this.clients.nom = '',
                            this.clients.prenom = '',
                            this.clients.age = '',
                            this.clients.tel1 = '',
                            this.clients.quartier = '',
                            this.clients.adresse = '',
                            this.clients.ville = '';
                            this.clients.mailcontact = '';
                        })
                        .catch(function(error) {
                            Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                            console.log(error);
                        });
                    })
                    .catch((error) => {
                        loader.hide();
                        switch (error.code) {
                            case 'storage/unauthorized':
                            message = 'Vous n\'avez pas les authorisations requises';
                            break;
                            case 'storage/canceled':
                            message = 'Le fichier a été supprimé';
                            break;
                            case 'storage/unknown':
                            message = 'Erreur inattendue est survenue. Veillez réessayer';
                            break;
                        }
                    });
                } else {
                    console.log('videeee');
                    //on upload le fichier preuveOperationFile
                    this.ref.add(this.recettes)
                    .then((recettes) => {
                        Toast.fire({
                            type: 'success',
                            title: 'la recette a bien été enregistrée avec succès',
                            customClass:  "bg-success"
                        });
                        loader.hide();
                        //on refresh le datatable pour prendre en compte le nouvel enregistrement
                        recettes.btnAction =
                        '<a href="#"><i id="' + recettes.id + '" data-id="'+recettes.id+'" data-toggle="modal" data-target="#modalClients" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;'
                        +'<a href="#" style="color:red!important"><i id="' + recettes.id + '" data-id="'+recettes.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-trash-alt"></i></a>';

                        this.dtTable.row.add([
                            recettes.type,
                            recettes.libelle,
                            recettes.montantRecu,
                            recettes.quantite,
                            recettes.montantFacture,
                            recettes.vendeurnom,
                            recettes.versement,
                            recettes.banquenom,
                            recettes.clientnom,
                            recettes.btnAction,
                        ]);
                        this.dtTable.order([0, 'asc']).draw();

                        //on efface les champs
                        this.clients.type = '',
                        this.clients.nom = '',
                        this.clients.prenom = '',
                        this.clients.age = '',
                        this.clients.tel1 = '',
                        this.clients.quartier = '',
                        this.clients.adresse = '',
                        this.clients.ville = '';
                        this.clients.mailcontact = '';
                    })
                    .catch(function(error) {
                        Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                        console.log(error);
                    });
                }
            },
            //quand on selectionne un client, banque ou vendeur
            onClientChange: function(val){
                let loader = Vue.$loading.show();
                let clientId = val.target.value;
                this.clients.forEach((client) => {
                    if(client.id == clientId){
                        this.recettes.client = client;
                        loader.hide();
                    }
                })
                /* this.clientRef.doc(clientId).get().then((doc) => {
                    this.recettes.client = doc.data();
                    loader.hide();
                }); */
            },
            onProductChange: function(val){
                let loader = Vue.$loading.show();
                let productName = val.target.value;
                // console.log(produitId);
                this.produits.forEach((produit) => {
                    if(produit.nom == productName){
                        this.produit = produit;
                    }
                    loader.hide();
                })
            },
            onBankChange: function(val){
                let loader = Vue.$loading.show();
                let bankId = val.target.value;
                this.banques.forEach((bank) => {
                    if(bank.id == bankId){
                        this.recettes.banque = bank;
                        loader.hide();
                    }
                })
                /* this.banqueRef.doc(bankId).get().then((doc) => {
                    loader.hide();
                    this.banque = doc.data();
                }); */
            },
            onSellerChange: function(val){
                let loader = Vue.$loading.show();
                let sellerId = val.target.value;
                this.vendeurs.forEach((vendeur) => {
                    if(vendeur.id == sellerId){
                        this.recettes.vendeur = vendeur;
                        loader.hide();
                    }
                })
            },
        },
        mounted () {
            let clientList = {};
            this.dtTable = $('#recetteTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel', 'pdf'
                ]
            });
            this.ref.
            where('projectId', '==', this.projetId).
            onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    // obj.country = this.paysList[obj.pays].nom_fr;
                    obj.btnAction =
                    '<a href="#"><i id="' + obj.id + '" data-id="'+obj.id+'" data-toggle="modal" data-target="#modalClients" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;'
                    +'<a href="#" style="color:red!important"><i id="' + obj.id + '" data-id="'+obj.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-trash-alt"></i></a>';
                    this.dtTable.row.add([
                        obj.type,
                        obj.libelle,
                        obj.montantRecu,
                        obj.quantite,
                        obj.montantFacture,
                        obj.vendeur.nom,
                        obj.versement,
                        obj.banque.nom,
                        obj.client.nom,
                        obj.btnAction,
                    ]);
                    this.dtTable.order([0, 'asc']).draw();
                });
            });
        }
    }
</script>
