<template>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Soldes</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/bp/home">Accueil</a>
            </li>
            <li class="breadcrumb-item">
              <a href="bp/suivi">Finances</a>
            </li>
            <li class="breadcrumb-item">Soldes</li>
          </ol>
        </div>
      </div>
      <!-- Composant pour afficher le solde -->
      <HeaderSold
        :recetteFilter="recetteFilter"
        :depenseFilter="depenseFilter"
        :smartphone="smartphone"
      />
      <div class="row">
        <div class="col-md-12">
          <!-- <el-tabs v-model="activeName" @tab-click="handleClickTab" type="card">
            <el-tab-pane name="annee">
              <template slot="label"> -->
          <el-select
            :class="{ selectresize: smartphone }"
            :default-first-option="true"
            v-model="FilterOptionValue"
            @change="filterChange"
            placeholder="Filtrer par:"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
          <el-date-picker
            :class="{ selectresize: smartphone }"
            v-model="FilterSelected"
            :firstDayOfWeek="weekStart"
            :type="this.FilterOptionValue"
            :format="this.formatDate"
            @change="dateFilter()"
            range-separator="à"
            start-placeholder="Date de début"
            end-placeholder="Date de fin"
            :placeholder="this.placeHolder"
          >
          </el-date-picker>
          <el-button :class="{ selectresize: smartphone }" @click="clearFilter"
            >Effacer tout les filtres</el-button
          >

          <el-button
            :class="[
              { selectresize: smartphone },
              { selectboutton: smartphone },
            ]"
            v-if="ecrire"
            type="success"
            ><export-excel
              :data="this.recetteFilter"
              :fields="this.recetteFields"
              name="Export-resultats.xls"
            >
              <i class="mdi mdi-download">
                <strong>Export Recettes </strong>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="24"
                  height="24"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"
                >
                  <g
                    fill="none"
                    fill-rule="nonzero"
                    stroke="none"
                    stroke-width="1"
                    stroke-linecap="butt"
                    stroke-linejoin="miter"
                    stroke-miterlimit="10"
                    stroke-dasharray=""
                    stroke-dashoffset="0"
                    font-family="none"
                    font-weight="none"
                    font-size="none"
                    text-anchor="none"
                    style="mix-blend-mode: normal"
                  >
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#ffffff">
                      <path
                        d="M86,21.5l-71.66667,14.33333v100.33333l71.66667,14.33333zM100.33333,35.83333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h50.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-86c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667zM129,50.16667h14.33333v14.33333h-14.33333zM29.92643,59.46094h12.73763l6.62077,15.87305c0.5375,1.29717 0.94208,2.80149 1.35775,4.50716h0.18197c0.2365,-1.02483 0.7179,-2.59064 1.44173,-4.63314l7.37663,-15.74707h11.61784l-13.87142,26.30111l14.27734,26.77702h-12.3877l-7.97852,-17.30078c-0.301,-0.60917 -0.65799,-1.83567 -0.95182,-3.54134h-0.11198c-0.17917,0.817 -0.5403,2.04015 -1.0778,3.68132l-8.0485,17.16081h-12.44368l14.76725,-26.56706zM129,78.83333h14.33333v14.33333h-14.33333zM129,107.5h14.33333v14.33333h-14.33333z"
                      ></path>
                    </g>
                  </g></svg
              ></i>
            </export-excel>
          </el-button>

          <el-button
            :class="[
              { selectresize: smartphone },
              { selectboutton: smartphone },
            ]"
            v-if="ecrire"
            type="success"
            ><export-excel
              :data="this.depenseFilter"
              :fields="this.depenseFields"
              name="Export-resultats.xls"
            >
              <i class="mdi mdi-download">
                <strong>Export Dépenses </strong>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="24"
                  height="24"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"
                >
                  <g
                    fill="none"
                    fill-rule="nonzero"
                    stroke="none"
                    stroke-width="1"
                    stroke-linecap="butt"
                    stroke-linejoin="miter"
                    stroke-miterlimit="10"
                    stroke-dasharray=""
                    stroke-dashoffset="0"
                    font-family="none"
                    font-weight="none"
                    font-size="none"
                    text-anchor="none"
                    style="mix-blend-mode: normal"
                  >
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#ffffff">
                      <path
                        d="M86,21.5l-71.66667,14.33333v100.33333l71.66667,14.33333zM100.33333,35.83333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h50.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-86c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667zM129,50.16667h14.33333v14.33333h-14.33333zM29.92643,59.46094h12.73763l6.62077,15.87305c0.5375,1.29717 0.94208,2.80149 1.35775,4.50716h0.18197c0.2365,-1.02483 0.7179,-2.59064 1.44173,-4.63314l7.37663,-15.74707h11.61784l-13.87142,26.30111l14.27734,26.77702h-12.3877l-7.97852,-17.30078c-0.301,-0.60917 -0.65799,-1.83567 -0.95182,-3.54134h-0.11198c-0.17917,0.817 -0.5403,2.04015 -1.0778,3.68132l-8.0485,17.16081h-12.44368l14.76725,-26.56706zM129,78.83333h14.33333v14.33333h-14.33333zM129,107.5h14.33333v14.33333h-14.33333z"
                      ></path>
                    </g>
                  </g></svg
              ></i>
            </export-excel>
          </el-button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- <downloadExcel
                  :data="this.recettes">
                  Download Data
                 
              </downloadExcel> -->
          <h4><strong>Recettes</strong></h4>

          <el-table
            ref="table"
            class="table-responsive"
            :data="this.recetteFilter"
            stripe
            :header-cell-style="tableHeaderColor"
            :cell-style="tableCellColor"
            style="width: 100%"
            height="1000"
            :default-expand-all="false"
          >
            <el-table-column fixed="left" style="width: auto" type="expand">
              <template slot-scope="props">
                <!-- <p>État: {{ props.row.state }}</p>
                    <p>Ville: {{ props.row.city }}</p>
                    <p>Adresse: {{ props.row.address }}</p>
                    <p>Zip: {{ props.row.zip }}</p> -->
                <p><strong>Détails recette:</strong></p>
                <td
                  class="children"
                  v-for="(children, index) in props.row.products"
                  :key="index"
                >
                  <p><strong>Produit:</strong> {{ children.libelle }}</p>
                  <p>
                    <strong>Montant recu: </strong>
                    <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="
                        currentCurrencyMask['currency-symbol-position']
                      "
                      output-type="String"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="
                        currentCurrencyMask['decimal-separator']
                      "
                      :thousand-separator="
                        currentCurrencyMask['thousand-separator']
                      "
                      read-only-class="item-total"
                      v-bind:min="currentCurrencyMask.min"
                      read-only
                      :value="children.montantRecu.value"
                    >
                    </vue-numeric>
                  </p>
                  <p>
                    <strong>Reste: </strong> :
                    <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="
                        currentCurrencyMask['currency-symbol-position']
                      "
                      output-type="String"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="
                        currentCurrencyMask['decimal-separator']
                      "
                      :thousand-separator="
                        currentCurrencyMask['thousand-separator']
                      "
                      read-only-class="item-total"
                      v-bind:min="currentCurrencyMask.min"
                      read-only
                      :value="children.resteAPayer.value"
                    >
                    </vue-numeric>
                  </p>
                  <p>
                    <strong>Date Reste:</strong>
                    {{
                      new Date(children.dateReste.value.seconds * 1000)
                        | moment("Do MMMM YYYY")
                    }}
                  </p>
                </td>
                <p><strong>Client:</strong></p>

                <div class="children">
                  <p><strong>Nom:</strong> {{ props.row.client.nom }}</p>
                  <p><strong>Prénom:</strong> {{ props.row.client.prenom }}</p>
                  <p>
                    <strong>Téléphone:</strong>
                    {{ props.row.client.telephone1 }}
                  </p>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              fixed="left"
              prop="recette"
              label="Libelle"
              width="auto"
            >
            </el-table-column>
            <el-table-column
              fixed="left"
              prop="address"
              label="Montant"
              width="auto"
              sortable
            >
              <template slot-scope="scope">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="item-total"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="getTotalMontantRecu(scope.row.products)"
                >
                </vue-numeric>
              </template>
            </el-table-column>
            <el-table-column
              prop="createdAt"
              label="Date"
              sortable
              width="auto"
              column-key="date"
              :filters="this.listDatesRecettes"
              :filter-method="filterHandler"
            >
              <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span style="margin-left: 10px">{{
                  new Date(scope.row.createdAt.seconds * 1000)
                    | moment("Do MMMM YYYY")
                }}</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="type"
              label="Type"
              width="auto"
              :filters="[
                { text: 'Vente', value: 'vente' },
                { text: 'Vente service', value: 'Vente service' },
              ]"
              :filter-method="filterTag"
              filter-placement="bottom-end"
            >
              <template slot-scope="scope">
                <el-tag
                  :type="scope.row.type === 'Home' ? 'primary' : 'success'"
                  disable-transitions
                  >{{ scope.row.type }}</el-tag
                >
              </template>
            </el-table-column>
            <el-table-column prop="reste" label="Reste" width="auto" sortable>
              <template slot-scope="scope">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="item-total"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="getTotalMontantReste(scope.row.products)"
                >
                </vue-numeric>
              </template>
            </el-table-column>
            <el-table-column
              prop="client"
              label="Client"
              witdh="auto"
              :filters="listClientsFilter"
              :filter-method="filterClient"
              filter-placement="bottom-end"
            >
              <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                  <p>Prenom: {{ scope.row.client.prenom }}</p>

                  <p>Téléphone: {{ scope.row.client.telephone1 }}</p>
                  <div slot="reference" class="name-wrapper">
                    <el-tag size="medium">{{ scope.row.client.nom }}</el-tag>
                  </div>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column fixed="right" v-if="ecrire" label="Opérations">
              <template slot-scope="scope">
                <el-tooltip
                  v-if="scope.row.etatPaiement === false"
                  class="item"
                  effect="dark"
                  content="Le délai de paiement est dépassé "
                  placement="top"
                >
                  <i style="color:red;" class="fas fa-exclamation-triangle"></i>
                </el-tooltip>

                <el-button
                  v-if="scope.row.etatPaiement === false"
                  size="mini"
                  @click="recetteEdit(scope.row)"
                  >Paiement</el-button
                >
              </template>
            </el-table-column>
          </el-table>
          <h4 class="mt-5"><strong>Dépenses</strong></h4>
          <el-table
            class="table-responsive"
            ref="tableDepense"
            :data="this.depenseFilter"
            stripe
            height="1000"
            :header-cell-style="tableHeaderDepense"
            style="width: 100%"
            :default-expand-all="false"
          >
            <el-table-column style="width: auto" type="expand">
              <template slot-scope="props">
                <!-- <p>État: {{ props.row.state }}</p>
                                      <p>Ville: {{ props.row.city }}</p>
                                      <p>Adresse: {{ props.row.address }}</p>
                                      <p>Zip: {{ props.row.zip }}</p> -->
                <p>Description:</p>
                <p>{{ props.row.description }}</p>
              </template>
            </el-table-column>

            <!-- <p>État: {{ props.row.state }}</p>
                                  <p>Ville: {{ props.row.city }}</p>
                                  <p>Adresse: {{ props.row.address }}</p>
                                  <p>Zip: {{ props.row.zip }}</p> -->

            <el-table-column
              prop="createdAt"
              label="Date"
              sortable
              width="auto"
              column-key="date"
              :filters="listDatesDepenses"
              :filter-method="filterHandler"
            >
              <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span style="margin-left: 10px">{{
                  new Date(scope.row.createdAt.seconds * 1000)
                    | moment("Do MMMM YYYY")
                }}</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="type"
              label="Type"
              width="auto"
              :filters="this.listTypeDepenses"
              :filter-method="filterTag"
              filter-placement="bottom-end"
            >
              <template slot-scope="scope">
                <el-tag
                  :type="scope.row.type === 'Home' ? 'primary' : 'success'"
                  disable-transitions
                  >{{ scope.row.type }}</el-tag
                >
              </template>
            </el-table-column>
            <el-table-column prop="libelle" label="Libelle" width="auto">
            </el-table-column>
            <el-table-column prop="montant" label="Montant" sortable>
              <template slot-scope="scope">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="item-total"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="scope.row.prixVenteUnitaire * scope.row.quantite"
                >
                </vue-numeric>
              </template>
            </el-table-column>

            <!-- 
                              <el-table-column
                                prop="type"
                                label="Client"
                                width="100"
                                :filters="[{ text: 'Vente', value: 'vente' }, { text: 'Vente service', value: 'Vente service' }]"
                                :filter-method="filterTag"
                                filter-placement="bottom-end">
                                <template slot-scope="scope">
                                  <el-tag
                                    :type="scope.row.type === 'Home' ? 'primary' : 'success'"
                                    disable-transitions>{{scope.row.type}}</el-tag>
                                </template>
                              </el-table-column> -->
            <!-- <el-table-column
                                prop="client"
                                label="Client"
                                witdh="200"
                                :filters="listVendeurs"
                                :filter-method="filterVendeur"
                                filter-placement="bottom-end">
                                <template slot-scope="scope">
                                  <el-tag
                                    :type="scope.row.vendeur.nom === 'Home' ? 'primary' : 'success'"
                                    disable-transitions>{{scope.row.vendeur.nom}}</el-tag>
                                </template>
                              </el-table-column>
                 -->
          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import VueNumeric from "vue-numeric";
import currenciesMaskMixin from "../../bp/mixins/currenciesMask";
import BaseImageInput from "../../bp/baseImageInput";
import Datepicker from "vuejs-datepicker";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import firebase from "firebase";
import { FullCalendar } from "vue-full-calendar";
import "fullcalendar/dist/fullcalendar.css";
import "fullcalendar/dist/locale/fr";
import VueBootstrap4Table from "vue-bootstrap4-table";
import helper from "../../../services/helper";
import Router from "../../../routes";
import HeaderSold from "./components/headerSold";

// Init plugin

export default {
  components: {
    VueNumeric,
    BaseImageInput,
    Datepicker,
    FullCalendar,
    VueBootstrap4Table,
    HeaderSold,
  },
  name: "soldes",
  mixins: [currenciesMaskMixin, helper],

  data() {
    return {
      smartphone: false,
      lire: false,
      ecrire: false,
      events: [],
      sum: {
        totalDepenses: "",
        totalRecettes: "",
        totalReste: "",
      },
      config: {
        locale: "fr",
      },

      totalProduits: 0,
      activeName: "annee",
      depenseFilter: [],
      recetteFilter: [],
      ref: firebase.firestore().collection("depenses"),
      banqueRef: firebase.firestore().collection("banque"),
      vendeurRef: firebase.firestore().collection("vendeurs"),
      clientRef: firebase.firestore().collection("clients"),
      produitRef: firebase.firestore().collection("financier"),
      messageRef: firebase.firestore().collection("messages"),
      memberRef: firebase.firestore().collection("vendeurs"),
      userId: JSON.parse(localStorage.getItem("userSession")).uid,
      userTo: "",
      banques: [],
      vendeurs: [],
      members: [],
      sumRecettes: 0,
      sumDepenses: 0,
      listClients: [],
      listClientsFilter: [],
      listDatesRecettes: [],
      listDatesDepenses: [],
      listDatesRecettesFilter: [],
      listDatesDepensesFilter: [],
      listTypeDepenses: [],
      message: "",
      clients: [],
      produits: [],
      recettes: [],
      recette: {},
      client: {},
      vendeur: {},
      listVendeurs: [],
      depenses: [],
      preuveOperationFile: "",
      preuveFactureFile: "",
      imageUpload: "",
      banque: {},
      totalDepenses: "",
      weekStart: 1,
      totalRecettes: "",
      depense: {
        projectId: JSON.parse(localStorage.getItem("userSession")).projet,
      },
      projectId: JSON.parse(localStorage.getItem("userSession")).projet,
      //EXPORT TO EXCEL
      recetteFields: {
        Date: {
          field: "createdAt",
          callback: (value) => {
            return this.dateFormat(value);
          },
        },
        Produits: {
          field: "products",
          callback: (value) => {
            let libelle = [];
            for (let i in value) {
              libelle.push(value[i].libelle);
            }
            return libelle;
          },
        },
        "Type Recette": "type",
        Recette: "recette",
        "Montant Reçu": {
          field: "products",
          callback: (value) => {
            let montant = 0;
            for (let i in value) {
              montant += value[i].montantRecu.value;
            }
            return montant;
          },
        },
        "Montant Restant": {
          field: "products",
          callback: (value) => {
            let montant = 0;
            for (let i in value) {
              montant += value[i].resteAPayer.value;
            }
            return montant;
          },
        },
        "Client Nom": "client.nom",
        "Client prenom": "client.prenom",
        "Client email": "client.email",
        "Client téléphone": "client.telephone1",
      },
      depenseFields: {
        Date: {
          field: "createdAt",
          callback: (value) => {
            return this.dateFormat(value);
          },
        },
        "Type Dépense": "type",
        Recette: "recette",
        Montant: "montant",
        Libelle: "libelle",
        Description: "description",
        "Vendeur Nom": "vendeur.nom",
        // 'Vendeur prenom':'vendeur.prenom',
        // 'Vendeur email':'vendeur.email',
        // 'Vendeur téléphone':'vendeur.telephone1'
      },

      json_meta: [
        [
          {
            key: "charset",
            value: "utf-8",
          },
        ],
      ],
      //FILTERS OPTIONS
      options: [
        {
          value: "year",
          label: "Année",
        },
        {
          value: "month",
          label: "mois",
        },
        {
          value: "week",
          label: "Semaine",
        },
        {
          value: "dates",
          label: "Jour",
        },
        {
          value: "daterange",
          label: "Filtre personnalisé",
        },
      ],
      FilterOptionValue: "year",
      FilterSelected: new Date(),
      formatDate: "yyyy",
      placeHolder: "",

      //TABLE DATA
      rows: [],
      columns: [
        {
          label: "Type",
          name: "type.depense",
          filter: {
            type: "simple",
            placeholder: "Filter par type",
          },
          sort: true,
        },
        {
          label: "Libelle",
          name: "depense.libelle",
          sort: true,
        },
        {
          label: "Montant",
          name: "montant.depense",
        },
      ],
      actions: [
        {
          btn_text: "Excel",
          event_name: "on-download",
          class: "btn btn-primary my-custom-class",
          event_payload: {
            msg: "my custom msg",
          },
        },
      ],
      config: {
        checkbox_rows: false,
        rows_selectable: true,
        show_refresh_button: false, // default is also true
        show_reset_button: false, // default is also true
      },
      //CHAT
    };
  },
  created() {
    // let loader = Vue.$loading.show();
    firebase
      .firestore()
      .collection("depenses")
      .where("projectId", "==", this.projectId)
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let depense = doc.data();
          this.depenses.push(depense);
          this.depenseFilter.push(depense);
          this.listVendeurs.push({
            text: depense.vendeur.nom,
            value: depense.vendeur.nom,
          });
          this.listDatesDepenses.push({
            text: this.dateFormat(depense.createdAt),
            value: this.dateFormat(depense.createdAt),
          });
          this.listTypeDepenses.push({
            text: depense.type,
            value: depense.type,
          });
          //console.log(this.depenses.libelle)
        });
        this.calcultotalDepenses(this.depenses);
        //console.log('Hello');
        //loader.hide();
      })
      .catch(function(error) {
        // console.log("Error getting document:", error);
      });

    //Recettes

    firebase
      .firestore()
      .collection("recettes")
      .where("projectId", "==", this.projectId)
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc, index) => {
          // this.recette.id=doc.id()
          let recette = doc.data();
          recette.id = doc.id;
          this.recettes.push(recette);
          this.recetteFilter.push(recette);
          //console.log(this.depenses.libelle)
          this.listClients.push({
            text: recette.client.nom + " " + recette.client.prenom,
            value: recette.client.nom,
          });

          //   var cache3={};
          //   this.listClientsFilter = this.listClients.filter((elem,index,array)=>{
          //   return cache3[elem.text]?0:cache3[elem.text]=1;
          // });
          // let date=this.dateFormat(recette.createdAt)
          // let dateText=moment(date,"MM-DD-YYYY");
          this.listDatesRecettes.push({
            text: this.dateFormat(recette.createdAt),
            value: this.dateFormat(recette.createdAt),
          });
        });
        this.listClientsFilter = this.doublonDelete(this.listClients);

        this.calcultotalRecettes(this.recettes);
        // loader.hide();
        //loader.hide();
      })
      .catch(function(error) {
        console.log("Error getting document:", error);
      });
    this.$route.params.data.forEach((item) => {
      if (item == "lire") {
        this.lire = true;
      }
      if (item == "ecrire") {
        this.ecrire = true;
      }
    });
    window.addEventListener("resize", this.onResize);
    this.$loading().close();
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },
  mounted() {
    this.$watch(
      () => this.$refs.table.tableData.length,
      (value) => {
        this.sumRecettes = value;
      }
    );
    this.$watch(
      () => this.$refs.tableDepense.tableData.length,
      (value) => {
        this.sumDepenses = value;
      }
    );
    this.$watch(() => this.calcultotalRecettes(this.$refs.table.tableData));
    this.$watch(() => this.calcultotalReste(this.$refs.table.tableData));
    this.$watch(() =>
      this.calcultotalDepenses(this.$refs.tableDepense.tableData)
    );
    this.onResize();

    //  firebase.database().ref('messages').once('value').then((snapshot)=> {
    //    // var username = (snapshot.val() && snapshot.val().username) || 'Anonymous';
    //     this.messageList.push(snapshot.val())
    //     // console.log("HELLO",snapshot.val())
    //   });

    // const message=firebase.database().ref('messages');
    // const query=message.orderByChild('userId').equalTo(this.userId);
    // console.log(query)
    // query.on('value',snapshot=>{
    //   console.log("log",snapshot.val())
    //   this.messageList.push(snapshot.val())
    // })
  },

  methods: {
    onResize() {
      if (window.innerWidth < 900) {
        this.smartphone = true;
      } else {
        this.smartphone = false;
      }
    },
    //  modify the table header the background color
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #007bff;color: #fff;font-weight: 800;";
      }
    },
    tableHeaderDepense({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #e41212;color: #fff;font-weight: 800;";
      }
    },
    tableCellColor({ row, column, rowIndex, columnIndex }) {
      // if (rowIndex === 0) {
      //   return 'background-color: #00ba8b;color: #fff;font-weight: 500;'
      // }
      //console.log("cellule",this.dateFormat(row.products.dateReste.value))

      // row.products.forEach(item=>{
      //   console.log("Date SS",item.dateReste.value)
      // })
      for (let i in row.products) {
        let dateReste = new Date(
          this.dateFormat(row.products[i].dateReste.value)
        );
        let dateActu = new Date();
        if (
          (dateReste.getFullYear() == dateActu.getFullYear() &&
            dateReste.getMonth() <= dateActu.getMonth() &&
            dateReste.getDate() < dateActu.getDate()) ||
          row.products[i].resteAPayer.value > 0
        ) {
          row.etatPaiement = false;
          return "background-color:rgb(222, 222, 216);";
        }
        // console.log("testContent",row.products[i])
      }
    },

    //Fontion SOMME
    // getSummariesRecette(param) {
    //     const { columns, data } = param;
    //     const sums = [];
    //     console.log('Données pour la somme Recette',data)
    //     // console.log('Prev',prev)
    //     console.log('Colonnes',columns)
    //     columns.forEach((column, index) => {
    //       if (index === 1) {
    //         sums[index] = 'Total ';
    //         return;
    //       }
    //       const values = data.products.map(item => Number(item[column.property]));
    //       if (!values.every(value => isNaN(value))) {
    //         sums[index] = '$ ' + values.reduce((prev, curr) => {
    //           const value = Number(curr);
    //           if (!isNaN(value)) {
    //             return prev + curr;
    //           } else {
    //             return prev;
    //           }
    //         }, 0);
    //       } else {
    //         sums[index] = 'BAD FORMAT';
    //       }
    //     });

    //     return sums;
    // },
    // getSummariesDepense(param) {
    //     const { columns, data } = param;
    //     const sums = [];
    //     console.log('Données pour la somme',data)
    //     // console.log('Prev',prev)
    //     console.log('Colonnes',columns)
    //     columns.forEach((column, index) => {
    //       if (index === 1) {
    //         sums[index] = 'Total ';
    //         return;
    //       }
    //       const values = data.products.map(item => Number(item[column.property]));
    //       if (!values.every(value => isNaN(value))) {
    //         sums[index] = '$ ' + values.reduce((prev, curr) => {
    //           const value = Number(curr);
    //           if (!isNaN(value)) {
    //             return prev + curr;
    //           } else {
    //             return prev;
    //           }
    //         }, 0);
    //       } else {
    //         sums[index] = 'BAD FORMAT';
    //       }
    //     });

    //     return sums;
    // },

    resetDateFilter() {
      this.$refs.table.clearFilter("date");
      this.calcultotalRecettes(this.recetteFilter);
      this.calcultotalDepenses(this.depenseFilter);
    },
    clearFilter() {
      this.$refs.table.clearFilter();
      this.$refs.tableDepense.clearFilter();
      this.calcultotalRecettes(this.recetteFilter);
      this.calcultotalDepenses(this.depenseFilter);
      this.recetteFilter = this.recettes;
      this.depenseFilter = this.depenses;
    },
    formatter(row, column) {
      return row.address;
    },
    filterTag(value, row) {
      return row.type === value;
      this.calcultotalRecettes(this.recetteFilter);
      this.calcultotalDepenses(this.depenseFilter);
      //console.log(row.type)
    },
    filterClient(value, row) {
      //console.log("Data",this.$refs.table.tableData);
      return row.client.nom === value;

      // console.log("Data",)
      // console.log(row.client.nom)
    },
    filterVendeur(value, row) {
      return row.vendeur.nom === value;
      this.calcultotalRecettes(this.recetteFilter);
      this.calcultotalDepenses(this.depenseFilter);
      // console.log(row.client.nom)
    },
    filterHandler(value, row, column) {
      const property = column["property"];
      return row[property] === value;
      this.calcultotalRecettes(this.recettes);
      this.calcultotalDepenses(this.depenseFilter);
    },

    //GetTotalMontant
    getTotalMontantRecu(produits) {
      //console.log(produits)
      var totalProduits = 0;
      if (produits === undefined) {
        return 0;
      } else {
        produits.forEach((prod) => {
          totalProduits += prod.montantRecu.value;
          //console.log(prod.totalPayer.value)
        });
        return totalProduits;
      }
    },

    //GetTotalMontant
    getTotalMontantReste(produits) {
      //console.log(produits)
      var totalProduits = 0;
      if (produits === undefined) {
        return 0;
      } else {
        if (!this.isEmpty(produits)) {
          produits.forEach((prod) => {
            if (prod.resteAPayer.value) {
              totalProduits += prod.resteAPayer.value;
              //console.log(prod.totalPayer.value)
            }
          });
          return totalProduits;
        }
      }
    },

    calcultotalRecettes(data) {
      //Depense
      // Total Recettes
      let recettes = data;
      let totalrec = 0;
      data.forEach((rec) => {
        // rec.products.map(produit=>{
        //   totalrec = totalrec + produit.montantRecu.value * produit.qte.value;
        // })
        for (let i in rec.products) {
          // console.log( "HI",rec.products[i])
          totalrec = totalrec + rec.products[i].montantRecu.value;
        }
      });

      this.sum.totalRecettes = totalrec;
    },
    calcultotalReste(data) {
      //Depense
      // Total Recettes
      let totalReste = 0;
      data.forEach((rec) => {
        for (let i in rec.products) {
          // console.log( "HI",rec.products[i])
          totalReste = totalReste + rec.products[i].resteAPayer.value;
        }
      });

      this.sum.totalReste = totalReste;
    },
    calcultotalDepenses(data) {
      //Depense
      let depenses = data;
      let totaldep = 0;
      depenses.forEach((depense) => {
        totaldep = totaldep + depense.montant;
      });
      this.sum.totalDepenses = totaldep;
    },
    listeDepense() {
      // let loader = Vue.$loading.show();
      this.rows = [];
      firebase
        .firestore()
        .collection("depenses")
        .where("projectId", "==", this.projectId)
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            let depense = doc.data();

            this.rows.push({
              type: {
                depense: depense.type,
              },
              depense: {
                libelle: depense.libelle,
              },
              montant: {
                depense: depense.montantRecu,
              },
            });
          });
          // loader.hide();
        })
        .catch(function(error) {
          console.log("Error getting document:", error);
        });
    },

    //FILTRES
    dateFilter() {
      // alert('Hello')
      //console.log("CLOSE",this.FilterSelected)

      if (this.FilterSelected === null) {
      } else {
        this.recetteFilter = [];
        this.depenseFilter = [];

        //let todayDate=this.dateFormat(today).getMonth();
        //var timestamp= today.getTime();
        // let loader = Vue.$loading.show();
        let totaldep = 0;
        let totalrec = 0;
        switch (this.FilterOptionValue) {
          case "month":
            this.recetteFilter = [];
            this.depenses.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.createdAt));

              if (
                date.getMonth() == this.FilterSelected.getMonth() &&
                date.getYear() == this.FilterSelected.getYear()
              ) {
                this.depenseFilter.push(doc);
              }
            });

            this.recettes.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.createdAt));
              if (
                date.getMonth() == this.FilterSelected.getMonth() &&
                date.getFullYear() == this.FilterSelected.getFullYear()
              ) {
                this.recetteFilter.push(doc);
              }
            });

            this.calcultotalDepenses(this.depenseFilter);
            this.calcultotalRecettes(this.recetteFilter);

            // loader.hide();

            break;
          case "year":
            // console.log(this.FilterSelected)
            this.depenses.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.dates.depenseDate));

              if (date.getFullYear() == this.FilterSelected.getFullYear()) {
                this.depenseFilter.push(doc);
              }
            });
            this.recettes.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.createdAt));

              if (date.getFullYear() == this.FilterSelected.getFullYear()) {
                this.recetteFilter.push(doc);
              }
            });

            this.calcultotalDepenses(this.depenseFilter);
            this.calcultotalRecettes(this.recetteFilter);
            //console.log(this.activeName)

            // loader.hide();

            break;

          case "date":
            // alert('Hello');
            // var today = new Date();
            this.depenses.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.dates.depenseDate));

              if (
                date.getDate() == this.FilterSelected.getDate() &&
                date.getMonth() == this.FilterSelected.getMonth() &&
                date.getFullYear() == this.FilterSelected.getFullYear()
              ) {
                this.depenseFilter.push(doc);
              }
            });
            // console.log(today.getDate());
            this.recettes.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.createdAt));

              if (
                date.getDate() == this.FilterSelected.getDate() &&
                date.getMonth() == this.FilterSelected.getMonth() &&
                date.getFullYear() == this.FilterSelected.getFullYear()
              ) {
                this.recetteFilter.push(doc);
              }
            });

            this.calcultotalDepenses(this.depenseFilter);
            this.calcultotalRecettes(this.recetteFilter);

            //console.log(this.activeName)

            // loader.hide();

            break;

          case "week":
            this.depenses.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.dates.depenseDate));

              if (
                date.getDate() >= this.FilterSelected.getDate() &&
                date.getMonth() == this.FilterSelected.getMonth() &&
                date.getFullYear() == this.FilterSelected.getFullYear() &&
                date.getDate() <= this.FilterSelected.getDate() + 7
              ) {
                this.depenseFilter.push(doc);
              }
            });
            this.recettes.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.createdAt));

              if (
                date.getDate() >= this.FilterSelected.getDate() &&
                date.getMonth() == this.FilterSelected.getMonth() &&
                date.getFullYear() == this.FilterSelected.getFullYear() &&
                date.getDate() <= this.FilterSelected.getDate() + 7
              ) {
                this.recetteFilter.push(doc);
              }
            });

            this.calcultotalDepenses(this.depenseFilter);
            this.calcultotalRecettes(this.recetteFilter);
            //console.log(this.activeName)

            // loader.hide();

            break;
          case "daterange":
            // console.log("Console Log",this.FilterSelected)
            //alert('HOLLA')
            this.depenses.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.createdAt));

              if (
                date.getDate() >= this.FilterSelected[0].getDate() &&
                date.getDate() <= this.FilterSelected[1].getDate() &&
                date.getMonth() >= this.FilterSelected[0].getMonth() &&
                date.getMonth() <= this.FilterSelected[1].getMonth() &&
                date.getFullYear() >= this.FilterSelected[0].getFullYear() &&
                date.getFullYear() <= this.FilterSelected[1].getFullYear()
              ) {
                this.depenseFilter.push(doc);
              }
            });
            this.recettes.forEach((doc) => {
              let date = new Date(this.dateFormat(doc.createdAt));

              if (
                date.getDate() >= this.FilterSelected[0].getDate() &&
                date.getDate() <= this.FilterSelected[1].getDate() &&
                date.getMonth() >= this.FilterSelected[0].getMonth() &&
                date.getMonth() <= this.FilterSelected[1].getMonth() &&
                date.getFullYear() >= this.FilterSelected[0].getFullYear() &&
                date.getFullYear() <= this.FilterSelected[1].getFullYear()
              ) {
                this.recetteFilter.push(doc);
              }
            });

            this.calcultotalDepenses(this.depenseFilter);
            this.calcultotalRecettes(this.recetteFilter);
            //console.log(this.activeName)

            // loader.hide();

            break;

          default:
            this.recetteFilter = [];
            this.depenseFilter = [];
            this.recetteFilter = this.recettes;
            this.depenseFilter = this.depenses;
            // loader.hide();
            break;
        }
      }
      //  console.log("FIELD",this.FilterOptionValue)
    },
    filterChange() {
      switch (this.FilterOptionValue) {
        case "year":
          this.formatDate = "yyyy";
          this.placeHolder = "Sélectionner une année";
          this.FilterSelected = "";
          this.FilterOptionValue = "year";

          break;
        case "month":
          this.formatDate = "MMMM-yyyy";
          this.placeHolder = "Sélectionner un mois";
          this.FilterSelected = "";
          this.FilterOptionValue = "month";

          break;
        case "week":
          this.formatDate = "WW";
          this.placeHolder = "Sélectionner une semaine";
          this.FilterSelected = "";
          this.FilterOptionValue = "week";

          break;
        case "dates":
          this.formatDate = "dd/MMMM/yyyy";
          this.placeHolder = "Sélectionner un jour";
          this.FilterSelected = "";
          this.FilterOptionValue = "date";

          break;
        case "datarange":
          this.formatDate = "dd/MMMM/yyyy";
          this.placeHolder = "Sélection personnalisée";
          this.FilterSelected = "";
          this.FilterOptionValue = "datarange";

          break;
      }
    },
    //RECETTE EDIT FUNCTION
    recetteEdit(data) {
      // console.log(data.id)
      this.$router.push({
        name: "suivi-recettes",
        params: { dataToUpdate: data, beforeRoute: this.$route.name },
      });
    },
    // beforeGenerateXls(){
    //  // console.log("Mundo")
    //   // let loader = Vue.$loading.show();
    // },
    // afterGenerateXls(){
    // // console.log("Mundo")
    //   // loader.hide();
    // }
  },
};
</script>

<style scoped>
.page-titles{
  margin: 20px auto;
}
.page-titles .text-themecolor{
  color: #1976d2;
  font-size: 21px;
  font-weight: 500;
}
.nav-link.show.active i,
.nav-link.active i {
  color: #61b174;
}
span.stepTitle.active {
  color: #67757c !important;
  font-weight: 500 !important;
}
.nav-link {
  font-weight: normal;
  text-transform: normal;
  color: #67757c;
  height: 100%;
}
.nav-pills > li.nav-item {
  display: block;
  width: 50%;
  text-align: center;
}
.nav-pills > li.nav-item a {
  margin: 1px auto;
  padding: 1px 0px;
  border-radius: 2px;
  font-size: 0.9rem;
  background-color: #c8cacd;
  height: 100%;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #61b174;
}
.mat-3x {
  font-size: 2.5rem;
}
.card-body {
  padding: 0px 5px;
  background-color: #f0f0f0 !important;
}
.nav.nav-tabs.customtab li a {
  text-align: center;
  padding: 5px 10px;
}
.nav.nav-tabs.customtab li a.active {
  background-color: #0080003b;
  border-bottom-color: #f32b2bcc;
}
.nav.nav-tabs.customtab li {
  width: 33.3%;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}
.input-group-text {
  width: 153px;
  background-color: #ffffff;
  color: #000000;
}
.input-group-date {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  background-color: #398bf7;
  border: 1px solid #ced4da;
}

.fieldset {
  border: 1px solid #ced4da !important;
  padding: 0 0.4em 0 0.4em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.row-fieldset {
  border: 1px solid #ced4da !important;
  padding: 0 0.2em 0 0.2em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.mydatepicker {
  font-size: smaller;
  font-weight: bold;
}
input[readonly] {
  background-color: #ffffff;
}
.tableheaderbesoins {
  background-color: #812222;
  color: rgb(243, 240, 240);
}
.tableheaderressources {
  background-color: #7d85f1;
  color: rgb(12, 11, 11);
}
.tableheaderproduits {
  background-color: #e769dd;
  color: rgb(19, 16, 16);
}
.besoinscolor {
  color: #b82621;
}
.ressourcescolor {
  color: #0918f0;
}
.recettecolor {
  background-color: #00ba8b;
  color: rgb(255, 255, 255);
}

.tablefooterbesoins {
  background-color: #cdced1;
  color: rgb(19, 17, 17);
}

.el-tabs__header {
  margin: 0 0 0px !important;
}
.content-solde {
  margin-top: 5px;
}

.el-table .success-relance {
  background: #f50000;
}

.el-table__column-filter-trigger i {
  color: #fff;
  font-size: 20px;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
.sectionsold {
  font-size: 15px !important;
}
.selectresize {
  width: 100% !important;
  margin-top: 5px;
}
.selectboutton {
  margin-left: 0px !important;
}
</style>
