<template>
    <div>
        <div v-loading="load">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-5">
                    <h4>Détails</h4><br>
                    <div class="row">
                        <!-- Poids -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Poids" :disabled="!formModelAchat.poids">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.poids" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Longueur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Longueur" :disabled="!formModelAchat.longueur">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.longueur" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Largeur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Largeur" :disabled="!formModelAchat.largeur">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.largeur" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Hauteur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Hauteur" :disabled="!formModelAchat.hauteur">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.hauteur" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Surface -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Surface" :disabled="!formModelAchat.surface">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.surface" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Volume -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Volume" :disabled="!formModelAchat.volume">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.volume" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Client -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Créance Client" :disabled="!formModelAchat.client">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.client" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Stock Global -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Stock Global" :disabled="!formModelAchat.stock">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.stock" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Fournisseur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Fournisseur" :disabled="!formModelAchat.fournisseur">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.fournisseur" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Famille -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Famille" :disabled="!formModelAchat.famille">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.famille" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Type -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Type" :disabled="!formModelAchat.type">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.type" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Nature -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Nature" :disabled="!formModelAchat.nature">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.nature" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Notes -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control" value="Notes" :disabled="!formModelAchat.notes">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelAchat.notes" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                    <el-button type="primary" @click="updateAchatModel">Mettre à jour</el-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import  ErpModel from '../models/erp';
export default {
    data() {
        return {
            load: true,
            formModelAchat: {
                titre: true,
                prixTTC: true,
                prixHT: true,
                tva: true,
                gamme: true,
                description: true,
                poids: true,
                longueur: true,
                largeur: true,
                hauteur: true,
                surface: true,
                volume: true,
                client: true,
                stock: true,
                fournisseur: true,
                famille: true,
                type: true,
                nature: true,
                notes: true,
            },
            projectID: JSON.parse(localStorage.getItem('userSession')).projet,
        }
    },
    methods: {
        getModelFormsArticle() {
            ErpModel.getDocumentSubCollection('params', this.projectID, 'formArticleAchat').then((snapshot) => {
                this.formModelAchat = snapshot.docs[0].data()
                this.formModelAchat.id = snapshot.docs[0].id
                this.load = false;
            })
        },
        updateAchatModel() {
            this.load = true;
            var id = this.formModelAchat.id
            delete this.formModelAchat.id;
            ErpModel.updateDocumentSubcollection('params', this.projectID, 'formArticleAchat', id, this.formModelAchat).then(() => {
                ErpModel.updateNotification();
                this.getModelFormsArticle();
            });
        },
    },
    created() {
        this.getModelFormsArticle();
    },
}
</script>