<template>
    <div>
        <div v-loading="load">
            <div class="accordion" id="accordionExample">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <!-- TVA -->
                        <div class="card">
                            <div class="card-header" id="headingTva">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTva" aria-expanded="false" aria-controls="collapseTva">
                                    TVA
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseTva" class="collapse" aria-labelledby="headingTva" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="tva.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addTva()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="tvaData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Gamme -->
                        <div class="card">
                            <div class="card-header" id="headingGa">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseGa" aria-expanded="false" aria-controls="collapseGa">
                                    Gamme
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseGa" class="collapse" aria-labelledby="headingGa" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="gamme.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addGamme()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="gammeData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Nature -->
                        <div class="card">
                            <div class="card-header" id="headingNat">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNat" aria-expanded="false" aria-controls="collapseNat">
                                Nature
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseNat" class="collapse" aria-labelledby="headingNat" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" v-model="nature.libelle">
                                                    </div>
                                                    <div class="col-12 mt-2">
                                                        <el-button @click="addNature()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="natureData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Type -->
                        <div class="card">
                            <div class="card-header" id="headingType">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseType" aria-expanded="false" aria-controls="collapseType">
                                Type
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseType" class="collapse" aria-labelledby="headingType" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="type.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addType()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="typeData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Famille -->
                        <div class="card">
                            <div class="card-header" id="headingFa">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFa" aria-expanded="false" aria-controls="collapseFa">
                                    Famille
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFa" class="collapse" aria-labelledby="headingFa" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="famille.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addFamille()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="familleData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <!-- Poids -->
                        <div class="card">
                            <div class="card-header" id="headingTva">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseP" aria-expanded="false" aria-controls="collapseP">
                                    Poids
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseP" class="collapse" aria-labelledby="headingTva" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="poids.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addPoids()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="poidsData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Longueur -->
                        <div class="card">
                            <div class="card-header" id="headingGa">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseLong" aria-expanded="false" aria-controls="collapseLong">
                                    Longueur
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseLong" class="collapse" aria-labelledby="headingGa" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="longueur.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addLongueur()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="longueurData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Largeur -->
                        <div class="card">
                            <div class="card-header" id="headingNat">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseLar" aria-expanded="false" aria-controls="collapseLar">
                                        Largeur
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseLar" class="collapse" aria-labelledby="headingNat" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="largeur.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addLargeur()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="largeurData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hauteur -->
                        <div class="card">
                            <div class="card-header" id="headingType">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseHaut" aria-expanded="false" aria-controls="collapseHaut">
                                        Hauteur
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseHaut" class="collapse" aria-labelledby="headingType" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="hauteur.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addHauteur()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="hauteurData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Surface -->
                        <div class="card">
                            <div class="card-header" id="headingFa">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSur" aria-expanded="false" aria-controls="collapseSur">
                                    Surface
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSur" class="collapse" aria-labelledby="headingFa" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="surface.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addSurface()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="surfaceData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Volume -->
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseVol" aria-expanded="false" aria-controls="collapseVol">
                                    Volume
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseVol" class="collapse" aria-labelledby="headingVol" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-12 mb-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" v-model="volume.libelle">
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <el-button @click="addVolume()" class="btn btn-dark btn-block">Sauvegarder</el-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-12 mb-3">
                                            <el-table :data="volumeData" border>
                                                <el-table-column prop="libelle" label="Libellé"></el-table-column>
                                                <el-table-column label="Actions"></el-table-column>
                                            </el-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .card .card-header{
        border: 0.2px solid black;
        margin: 3px;
        border-radius: 10px !important;
       
    }
    .accordion .card {
        margin-bottom: 15px;
    }
</style>
<script>
import  ErpModel from '../models/erp';
export default {
    data() {
        return {
            load: true,
            projectID: JSON.parse(localStorage.getItem('userSession')).projet,

            tva: {libelle: ''},
            gamme: {libelle: ''},
            nature: {libelle: ''},
            type: {libelle: ''},
            famille: {libelle: ''},
            poids: {libelle: ''},
            longueur: {libelle: ''},
            largeur: {libelle: ''},
            hauteur: {libelle: ''},                                                        
            volume: {libelle: ''},
            surface: {libelle: ''},

            tvaData: [],
            gammeData: [],
            natureData: [],
            typeData: [],
            familleData: [],
            poidsData: [],
            longueurData: [],
            largeurData: [],
            hauteurData: [],
            surfaceData: [],
            volumeData: [],
        }
    },
    methods: {
        addTva() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'tvaArticle', this.tva).then(() => {
                this.tva.libelle = '';
                this.getAll();
            })
        },
        addGamme() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'gammeArticle', this.gamme).then(() => {
                this.gamme.libelle = '';
                this.getAll();
            })
        },
        addNature() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'natureArticle', this.nature).then(() => {
                this.nature.libelle = '';
                this.getAll();
            })
        },
        addType() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'typeArticle', this.type).then(() => {
                this.type.libelle = '';
                this.getAll();
            })
        },
        addFamille() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'familleArticle', this.famille).then(() => {
                this.famille.libelle = '';
                this.getAll();
            })
        },
        addPoids() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'poidsArticle', this.poids).then(() => {
                this.poids.libelle = '';
                this.getAll();
            })
        },
        addLongueur() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'longueurArticle', this.longueur).then(() => {
                this.longueur.libelle = '';
                this.getAll();
            })
        },
        addLargeur() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'largeurArticle', this.largeur).then(() => {
                this.largeur.libelle = '';
                this.getAll();
            })
        },
        addHauteur() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'hauteurArticle', this.hauteur).then(() => {
                this.hauteur.libelle = '';
                this.getAll();
            })
        },
        addSurface() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'surfaceArticle', this.surface).then(() => {
                this.surface.libelle = '';
                this.getAll();
            })
        },
        addVolume() {
            this.load = true;
            ErpModel.saveDocumentSubCollection('params', this.projectID, 'volumeArticle', this.volume).then(() => {
                this.volume.libelle = '';
                this.getAll();
            })
        },
        getAll() {
            const tva = ErpModel.getDocumentSubCollection('params', this.projectID, 'tvaArticle')
            this.tvaData = ErpModel.foreachItem(tva);

            const gamme = ErpModel.getDocumentSubCollection('params', this.projectID, 'gammeArticle')
            this.gammeData = ErpModel.foreachItem(gamme);

            const nature = ErpModel.getDocumentSubCollection('params', this.projectID, 'natureArticle')
            this.natureData = ErpModel.foreachItem(nature);

            const type = ErpModel.getDocumentSubCollection('params', this.projectID, 'typeArticle')
            this.typeData = ErpModel.foreachItem(type);

            const famille = ErpModel.getDocumentSubCollection('params', this.projectID, 'familleArticle')
            this.familleData = ErpModel.foreachItem(famille);
            
            const poids = ErpModel.getDocumentSubCollection('params', this.projectID, 'poidsArticle')
            this.poidsData = ErpModel.foreachItem(poids);

            const longueur = ErpModel.getDocumentSubCollection('params', this.projectID, 'longueurArticle')
            this.longueurData = ErpModel.foreachItem(longueur);

            const largeur = ErpModel.getDocumentSubCollection('params', this.projectID, 'largeurArticle')
            this.largeurData = ErpModel.foreachItem(largeur);

            const hauteur = ErpModel.getDocumentSubCollection('params', this.projectID, 'hauteurArticle')
            this.hauteurData = ErpModel.foreachItem(hauteur);

            const surface = ErpModel.getDocumentSubCollection('params', this.projectID, 'surfaceArticle')
            this.surfaceData = ErpModel.foreachItem(surface);

            const volume = ErpModel.getDocumentSubCollection('params', this.projectID, 'volumeArticle')
            this.volumeData = ErpModel.foreachItem(volume);

            this.load = false
        },
    },
    created() {
        this.getAll()
    },
}
</script>