<template>
    <div>
        <div v-loading="load">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-5">
                    <h4>Détails</h4><br>
                    <div class="row">
                        <!-- Poids -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Poids" :disabled="!formModelVente.poids">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.poids" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Longueur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Longueur" :disabled="!formModelVente.longueur">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.longueur" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Largeur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Largeur" :disabled="!formModelVente.largeur">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.largeur" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Hauteur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Hauteur" :disabled="!formModelVente.hauteur">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.hauteur" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Surface -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Surface" :disabled="!formModelVente.surface">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.surface" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Volume -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Volume" :disabled="!formModelVente.volume">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.volume" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Client -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Créance Client" :disabled="!formModelVente.client">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.client" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Stock Global -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Stock Global" :disabled="!formModelVente.stock">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.stock" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Fournisseur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Fournisseur" :disabled="!formModelVente.fournisseur">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.fournisseur" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Famille -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Famille" :disabled="!formModelVente.famille">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.famille" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Type -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Type" :disabled="!formModelVente.type">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.type" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Nature -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Nature" :disabled="!formModelVente.nature">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.nature" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Notes -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Notes" :disabled="!formModelVente.notes">
                                </div>
                                <div class="col-2">
                                    <el-switch v-model="formModelVente.notes" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                    <el-button type="primary" @click="updateVenteModel">Mettre à jour</el-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import  ErpModel from '../models/erp';
export default {
    data() {
        return {
            load: true,
            formModelVente: {
                titre: true,
                prixTTC: true,
                prixHT: true,
                tva: true,
                coutVariable: true,
                refCompt: true,
                gamme: true,
                description: true,
                poids: true,
                longueur: true,
                largeur: true,
                hauteur: true,
                surface: true,
                volume: true,
                client: true,
                stock: true,
                fournisseur: true,
                famille: true,
                type: true,
                nature: true,
                notes: true,
            },
            idModel: '',
            projectID: JSON.parse(localStorage.getItem('userSession')).projet,
        }
    },
    methods: {
        updateVenteModel() {
            this.load = true;
            ErpModel.updateDocumentSubcollection('params', this.projectID, 'formArticleVente', this.idModel, this.formModelVente).then(() => {
                ErpModel.updateNotification();
                this.getModelFormsArticle();
            });
        },
        getModelFormsArticle() {
            ErpModel.getDocumentSubCollection('params', this.projectID, 'formArticleVente').then((snapshot) => {
                this.formModelVente = snapshot.docs[0].data()
                this.idModel = snapshot.docs[0].id
                this.load = false;
            })
        },
    },
    created() {
        this.getModelFormsArticle();
    },
}
</script>