<template>
    <div>
        <div v-loading="load">
            <div class="row">
                <div class="col-12 mb-3">
                    <h4>Détails</h4><br>
                    <div class="row">
                        <!-- Poids -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Adresse" :disabled="!formModelClient.adresse">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.adresse" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Longueur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Code Postal" :disabled="!formModelClient.codePostal">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.codePostal" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Largeur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Ville" :disabled="!formModelClient.ville">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.ville" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Hauteur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Pays" :disabled="!formModelClient.pays">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.pays" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Surface -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Quartier" :disabled="!formModelClient.quartier">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.quartier" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Volume -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Arrondissement" :disabled="!formModelClient.arrondissement">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.arrondissement" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Client -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Région" :disabled="!formModelClient.region">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.region" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Stock Global -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Province" :disabled="!formModelClient.province">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.province" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Famille -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Téléphone 1" :disabled="!formModelClient.tel1">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.tel1" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Type -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Téléphone 2" :disabled="!formModelClient.tel2">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.tel2" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Nature -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Note" :disabled="!formModelClient.note">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formModelClient.note" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                    <el-button type="primary" @click="updateClientModel">Mettre à jour</el-button>
                </div>
            </div> 
        </div>
    </div>
</template>
<script>
import  ErpModel from '../models/erp';
export default {
    data() {
        return {
            load: true,
            formModelClient: {},
            projectID: JSON.parse(localStorage.getItem('userSession')).projet,
        }
    },
    methods: {
        getData() {
            ErpModel.getDocumentSubCollection('params', this.projectID, 'formRhClient').then((res) => {
                this.formModelClient = res.docs[0].data()
                this.formModelClient.id = res.docs[0].id
                this.load = false;
            })
        },
        updateClientModel() {
            this.load = true;
            var id = this.formModelClient.id
            delete this.formModelClient.id;
            ErpModel.updateDocumentSubcollection('params', this.projectID, 'formRhClient', id, this.formModelClient).then(() => {
                ErpModel.updateNotification();
                this.getData();
            });
        },
    },
    created() {
        this.getData()
    },
}
</script>