<template>
    <div>
        <div v-loading='load'>
            <div class="row">
                <div class="col-12 mb-3">
                    <h4>Détails</h4><br>
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Code Postal" :disabled="!formFournisseurModel.codePostal">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.codePostal" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Largeur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Ville" :disabled="!formFournisseurModel.ville">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.ville" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Hauteur -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Pays" :disabled="!formFournisseurModel.pays">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.pays" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Surface -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Quartier" :disabled="!formFournisseurModel.quartier">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.quartier" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Volume -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Arrondissement" :disabled="!formFournisseurModel.arrondissement">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.arrondissement" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Région -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Région" :disabled="!formFournisseurModel.region">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.region" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Province -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Province" :disabled="!formFournisseurModel.province">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.province" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Famille -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Téléphone 1" :disabled="!formFournisseurModel.tel1">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.tel1" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Type -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Téléphone 2" :disabled="!formFournisseurModel.tel2">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.tel2" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <!-- Nature -->
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Email" :disabled="!formFournisseurModel.email">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.email" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Whatsapp" :disabled="!formFournisseurModel.whatsapp">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.whatsapp" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Zoom" :disabled="!formFournisseurModel.zoom">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.zoom" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Skype" :disabled="!formFournisseurModel.skype">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.skype" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" value="Notes" :disabled="!formFournisseurModel.notes">
                                </div>
                                <div class="col-2 pt-2">
                                    <el-switch v-model="formFournisseurModel.notes" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                    <el-button type="primary" @click="updateFournisseurModel">Mettre à jour</el-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import  ErpModel from '../models/erp';
export default {
    data() {
        return {
            formFournisseurModel: {},
            load: true,
            projectID: JSON.parse(localStorage.getItem('userSession')).projet,
        }
    },
    methods: {
        getData() {
            ErpModel.getDocumentSubCollection('params', this.projectID, 'formRhFour').then((res) => {
                this.formFournisseurModel = res.docs[0].data()
                this.formFournisseurModel.id = res.docs[0].id
                this.load = false;
            })
        },
        updateFournisseurModel() {
            this.load = true;
            var id = this.formFournisseurModel.id
            delete this.formFournisseurModel.id;
            ErpModel.updateDocumentSubcollection('params', this.projectID, 'formRhFour', id, this.formFournisseurModel).then(() => {
                ErpModel.updateNotification();
                this.getData();
            });
        },
    },
    created() {
        this.getData();
    },
}
</script>