<template>
  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Row -->
      <div class="card mb-3">
        <div class="card-body p-1">
          <h2>
            <center class="bg-amortissement">
              Amortissements (HT) sur 3 ans
            </center>
          </h2>
          <div class="d-flex d-flex-row mt-3">
            <!-- en-tete de la page -->
            <div class="col-sm-4 text-left">
              <h4 class="font-weight-bold">Années d'exercices</h4>
            </div>
            <div class="text-left text-lg-right col-sm">
              <h4 class="font-weight-bold">Durée</h4>
            </div>
            <div class="col-sm text-left text-lg-right">
              <h4 class="font-weight-bold">Année 1</h4>
            </div>
            <div class="col-sm text-left text-lg-right">
              <h4 class="font-weight-bold">Année 2</h4>
            </div>
            <div class="col-sm text-left text-lg-right">
              <h4 class="font-weight-bold">Année 3</h4>
            </div>
            <!-- /en-tete -->
          </div>
        </div>
      </div>

      <!-- Immo Corporelle -->
      <b-card v-if="lire" no-body class="mb-2">
        <b-card-header class="d-flex d-flex-row p-1 bg-amortissement">
          <div class="col-sm col-lg-6 col-md-5 text-left">
            <h4
              class="text-white mt-2 text-capitalize font-weight-bold"
              v-b-toggle.collapseImmoIncorp.collapseImmoCorporelle.collapseMatInfo.collapseMobilier.collapseMateriel.collapseBatiment.collapseVoiture
            >
              <i class="fa fa-plus-square when-closed"></i>
              <i class="fa fa-minus-square when-opened"></i
              ><span class="mx-1"
                >Amortissements Immobilisations</span
              >
            </h4>
          </div>
          <div class="col-sm text-left text-md-right">
            <span class="float-left d-md-none text-white"> Annee 1:</span>
            <vue-numeric
              :currency="currentCurrencyMask['currency']"
              :currency-symbol-position="
                currentCurrencyMask['currency-symbol-position']
              "
              output-type="String"
              empty-value="0"
              :precision="currentCurrencyMask['precision']"
              :decimal-separator="currentCurrencyMask['decimal-separator']"
              :thousand-separator="currentCurrencyMask['thousand-separator']"
              read-only-class="font-weight-bold text-white"
              read-only
              :value="totalAmortisCorporelleAnnuel.annee1 + totalAmortisIncorporelleAnnuel.annee1"
            >
            </vue-numeric>
          </div>
          <div class="col-sm text-left text-md-right">
            <span class="float-left d-md-none text-white"> Annee 2:</span>
            <vue-numeric
              :currency="currentCurrencyMask['currency']"
              :currency-symbol-position="
                currentCurrencyMask['currency-symbol-position']
              "
              output-type="String"
              empty-value="0"
              :precision="currentCurrencyMask['precision']"
              :decimal-separator="currentCurrencyMask['decimal-separator']"
              :thousand-separator="currentCurrencyMask['thousand-separator']"
              read-only-class="font-weight-bold text-white"
              read-only
              :value="totalAmortisCorporelleAnnuel.annee2 + totalAmortisIncorporelleAnnuel.annee2"
            >
            </vue-numeric>
          </div>
          <div class="col-sm text-left text-md-right">
            <span class="float-left d-md-none text-white"> Annee 3:</span>
            <vue-numeric
              :currency="currentCurrencyMask['currency']"
              :currency-symbol-position="
                currentCurrencyMask['currency-symbol-position']
              "
              output-type="String"
              empty-value="0"
              :precision="currentCurrencyMask['precision']"
              :decimal-separator="currentCurrencyMask['decimal-separator']"
              :thousand-separator="currentCurrencyMask['thousand-separator']"
              read-only-class="font-weight-bold text-white d-sm-inline-block"
              read-only
              :value="totalAmortisCorporelleAnnuel.annee3 + totalAmortisIncorporelleAnnuel.annee3"
            >
            </vue-numeric>
          </div>
        </b-card-header>

        <b-card-body class="pb-2">
          <!-- items immo incorporels -->
          <div
            class="d-flex d-flex-row mt-3 bg-shade-amortissement"
            id="panelMatInfo"
          >
            <div class="col-sm col-lg-4 text-left bg-shade-amortissement">
              <h4 v-b-toggle.collapseIncorporelle class="font-weight-bold">
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span>Immobilisations incorporelles</span>
              </h4>
            </div>
            <div
              class="col-sm text-right bg-shade-amortissement font-weight-bold text-dark"
            >
              Par an
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="totalAmortisIncorporelleAnnuel.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="totalAmortisIncorporelleAnnuel.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="totalAmortisIncorporelleAnnuel.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <b-collapse id="collapseIncorporelle">
            <div
              class="d-flex d-flex-row line-item"
              v-for="(immoIncorp, index) in besoins.immoIncorporelle"
              :key="'incorporel-' + index"
            >
              <div class="col-sm col-lg-4 text-justify item-title">
                {{ immoIncorp.titre }}
              </div>
              <div class="col-sm text-right">
                <span> {{ immoIncorp.amortissement }} </span>
                <span v-if="immoIncorp.amortissement > 1">ans</span>
                <span v-else>an</span>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(
                      immoIncorp,
                      activeTva.value / 100
                    ).annee1
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(
                      immoIncorp,
                      activeTva.value / 100
                    ).annee2
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(
                      immoIncorp,
                      activeTva.value / 100
                    ).annee3
                  "
                >
                </vue-numeric>
              </div>
            </div>
          </b-collapse>

          <!-- items immo corporelles materiel info -->
          <div
            class="d-flex d-flex-row mt-3 bg-shade-amortissement"
            id="panelMatInfo"
          >
            <div class="col-sm col-lg-4 text-left bg-shade-amortissement">
              <h4 v-b-toggle.collapseMatInfo class="font-weight-bold">
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span>Matériel informatique</span>
              </h4>
            </div>
            <div
              class="col-sm text-right bg-shade-amortissement font-weight-bold text-dark"
            >
              Par an
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="subTotalAmortisAnnuelImmoCorpMatInfo.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="subTotalAmortisAnnuelImmoCorpMatInfo.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="subTotalAmortisAnnuelImmoCorpMatInfo.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <b-collapse id="collapseMatInfo">
            <div
              class="d-flex d-flex-row line-item"
              v-for="(immoCorpMatInfo, index) in besoins.immoCorporelle
                .materielinfo"
              :key="'materielinfo-' + index"
            >
              <div class="col-sm col-lg-4 text-justify item-title">
                {{ immoCorpMatInfo.titre }}
              </div>
              <div class="col-sm text-right">
                <span> {{ immoCorpMatInfo.amortissement }} </span>
                <span v-if="immoCorpMatInfo.amortissement > 1">ans</span>
                <span v-else>an</span>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(
                      immoCorpMatInfo,
                      activeTva.value / 100
                    ).annee1
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(
                      immoCorpMatInfo,
                      activeTva.value / 100
                    ).annee2
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(
                      immoCorpMatInfo,
                      activeTva.value / 100
                    ).annee3
                  "
                >
                </vue-numeric>
              </div>
            </div>
          </b-collapse>

          <!-- items immo corporelles mobilier -->
          <div
            class="d-flex d-flex-row mt-3 bg-shade-amortissement"
            id="panelMobilier"
          >
            <div class="col-sm col-lg-4 text-left bg-shade-amortissement">
              <h4 v-b-toggle.collapseMobilier class="font-weight-bold">
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span> Mobilier</span>
              </h4>
            </div>
            <div
              class="col-sm text-right bg-shade-amortissement font-weight-bold text-dark"
            >
              Par an
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="subTotalAmortisAnnuelImmoCorpMobilier.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="subTotalAmortisAnnuelImmoCorpMobilier.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="subTotalAmortisAnnuelImmoCorpMobilier.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <b-collapse id="collapseMobilier">
            <div
              class="d-flex d-flex-row line-item"
              v-for="(immoCorpMobilier, index) in besoins.immoCorporelle
                .mobilier"
              :key="'mobilier-' + index"
            >
              <div class="col-sm col-lg-4 text-justify item-title">
                {{ immoCorpMobilier.titre }}
              </div>
              <div class="col-sm text-right">
                <span> {{ immoCorpMobilier.amortissement }} </span>
                <span v-if="immoCorpMobilier.amortissement > 1">ans</span>
                <span v-else>an</span>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(
                      immoCorpMobilier,
                      activeTva.value / 100
                    ).annee1
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(
                      immoCorpMobilier,
                      activeTva.value / 100
                    ).annee2
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(
                      immoCorpMobilier,
                      activeTva.value / 100
                    ).annee3
                  "
                >
                </vue-numeric>
              </div>
            </div>
          </b-collapse>

          <!-- items immo corporelles materiel machine outil -->
          <div
            class="d-flex d-flex-row mt-3 bg-shade-amortissement"
            id="panelMateriel"
          >
            <div class="col-sm col-lg-4 text-left bg-shade-amortissement">
              <h4 v-b-toggle.collapseMateriel class="font-weight-bold">
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span>Mat&eacute;riels/Machines/Outils</span>
              </h4>
            </div>
            <div
              class="col-sm text-right bg-shade-amortissement font-weight-bold text-dark"
            >
              Par an
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="
                  subTotalAmortisAnnuelImmoCorpMatMachOutil.annee1
                "
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="
                  subTotalAmortisAnnuelImmoCorpMatMachOutil.annee2
                "
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="
                  subTotalAmortisAnnuelImmoCorpMatMachOutil.annee3
                "
              >
              </vue-numeric>
            </div>
          </div>
          <b-collapse id="collapseMateriel" class="pb-2">
            <div
              class="d-flex d-flex-row line-item"
              v-for="(immoCorpMachine, index) in besoins.immoCorporelle[
                'materiel-machine-outil'
              ]"
              :key="'materiel-' + index"
            >
              <div class="col-sm col-lg-4 text-justify item-title">
                {{ immoCorpMachine.titre }}
              </div>
              <div class="col-sm text-right">
                <span> {{ immoCorpMachine.amortissement }} </span>
                <span v-if="immoCorpMachine.amortissement > 1">ans</span>
                <span v-else>an</span>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(immoCorpMachine).annee1
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(immoCorpMachine).annee2
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(immoCorpMachine).annee3
                  "
                >
                </vue-numeric>
              </div>
            </div>
          </b-collapse>

          <!-- items immo corporelles batiment location espace vente -->
          <div
            class="d-flex d-flex-row mt-3 bg-shade-amortissement"
            id="panelBatiment"
          >
            <div class="col-sm col-lg-4 text-left bg-shade-amortissement">
              <h4 v-b-toggle.collapseBatiment class="font-weight-bold">
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span>Batiment/Local/Espace de vente</span>
              </h4>
            </div>
            <div
              class="col-sm text-right bg-shade-amortissement font-weight-bold text-dark"
            >
              Par an
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="
                  subTotalAmortisAnnuelImmoCorpBatLocEspaceVente.annee1
                "
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="
                  subTotalAmortisAnnuelImmoCorpBatLocEspaceVente.annee2
                "
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="
                  subTotalAmortisAnnuelImmoCorpBatLocEspaceVente.annee3
                "
              >
              </vue-numeric>
            </div>
          </div>
          <b-collapse id="collapseBatiment">
            <div
              class="d-flex d-flex-row line-item"
              v-for="(immoCorpBatLoc, index) in besoins.immoCorporelle[
                'batiment-local-espacevente'
              ]"
              :key="'batiment-' + index"
            >
              <div class="col-sm col-lg-4 text-justify item-title">
                {{ immoCorpBatLoc.titre }}
              </div>
              <div class="col-sm text-right">
                <span> {{ immoCorpBatLoc.amortissement }} </span>
                <span v-if="immoCorpBatLoc.amortissement > 1">ans</span>
                <span v-else>an</span>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(immoCorpBatLoc).annee1
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(immoCorpBatLoc).annee2
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(immoCorpBatLoc).annee3
                  "
                >
                </vue-numeric>
              </div>
            </div>
          </b-collapse>

          <!-- items immo corporelles voiture autre -->
          <div
            class="d-flex d-flex-row mt-3 bg-shade-amortissement"
            id="panelVoiture"
          >
            <div class="col-sm col-lg-4 text-left bg-shade-amortissement">
              <h4
                v-b-toggle.collapseVoiture
                aria-expanded="true"
                class="font-weight-bold"
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span>Mat&eacute;riel roulant</span>
              </h4>
            </div>
            <div
              class="col-sm text-right bg-shade-amortissement font-weight-bold text-dark"
            >
              Par an
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="subTotalAmortisAnnuelImmoCorpVoitAutre.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="subTotalAmortisAnnuelImmoCorpVoitAutre.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-amortissement">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold text-dark"
                v-bind:min="currentCurrencyMask.min"
                read-only
                v-model.number="subTotalAmortisAnnuelImmoCorpVoitAutre.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <b-collapse id="collapseVoiture">
            <div
              class="d-flex d-flex-row line-item"
              v-for="(immoCorpVoitAutre, index) in besoins.immoCorporelle[
                'voiture-autres'
              ]"
              :key="'voiture-' + index"
            >
              <div class="col-sm col-lg-4 text-justify item-title">
                {{ immoCorpVoitAutre.titre }}
              </div>
              <div class="col-sm text-right">
                <span> {{ immoCorpVoitAutre.amortissement }} </span>
                <span v-if="immoCorpVoitAutre.amortissement > 1">ans</span>
                <span v-else>an</span>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(immoCorpVoitAutre).annee1
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(immoCorpVoitAutre).annee2
                  "
                >
                </vue-numeric>
              </div>
              <div class="col-sm text-right">
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=""
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="
                    calculAmortissementImmoCorporelle(immoCorpVoitAutre).annee3
                  "
                >
                </vue-numeric>
              </div>
            </div>
          </b-collapse>
          <div class="p-1">
            <a href="#" @click.prevent="printPdf()">
                <boutonDownloadPdf  
                    v-if="telecharger" 
                    :titre-projet="this.infoProjet.projettitre"
                    element-telecharger="DETAILS DES AMORTISSEMENTS"
                />
            </a>
        </div>
        </b-card-body>
      </b-card>
    </div>
  </div>
</template>

<style scoped>
@import "../../../../../../resources/assets/sass/financier.scss";
@import "../../../../../../resources/assets/sass/tiny-inputs.scss";
@import "../../../../../../resources/assets/sass/etat-financier/common.scss";
/* h2 > center {
        background-color: 
    } */
    .bg-amortissement{
      background-color: #398bf7 !important;
    }
    .bg-shade-amortissement{
      background-color: rgba(57, 139, 247, 0.071) !important;
    }
</style>

<script lang="js">
import Vue from "vue";
import Swal from "sweetalert2";
import VueNumeric from "vue-numeric";
// Import de la fonction qui génère le Pdf
import DetailsAmortissementsPdf from "../../../pdf/financier/detailsAmortissements/detailsAmortissementsPdf";
import boutonDownloadPdf from "../components/boutonDownloadPdf.vue";
// Import des fonctiions pr le choix de la money
import currenciesMaskMixin from "../mixins/currenciesMask";
// Import component for loading
import Loading from "vue-loading-overlay";
// Import stylesheet for loading
import "vue-loading-overlay/dist/vue-loading.css";
// import des fonctions de calculs des besoins :
import besoinsCalculator from "../mixins/financier/besoins";
import {
  arround,
  isEmpty,
  HT,
  convertFieldToHT,
} from "../../../services/helper";
import firebase from "firebase";
// bootstrap-vue for the open/close button effects
import BootstrapVue from "bootstrap-vue";
// tva par defaut
import defaultParamTvaFinancier from "./default.tva.json";
import tva from '../../../models/tva.js';
import { isNullOrUndefined } from "util";
// empty objects
import defaultEmptyBesoins from "./default.emptyBesoins.json";
import metaData from "../../../store/metaData";
// Init plugin
Vue.use(BootstrapVue);

export default {
  mixins: [besoinsCalculator, currenciesMaskMixin],
  components: {
    boutonDownloadPdf,
    VueNumeric,
  },
  data() {
    return {
      lire: false,
      telecharger: false,
      besoins: defaultEmptyBesoins,
    };
  },
  created() {
    this.$route.params.data.forEach((item) => {
      if (item == "lire") {
        this.lire = true;
      }
      if (item == "telecharger") {
        this.telecharger = true;
      }
    });
    // recuperation des elements de calcul
    firebase
      .firestore()
      .collection("financier")
      .doc(this.projet)
      .get()
      .then((docSnap) => {
        if (docSnap.exists) {
          // tva parametree du projet
          if (!isEmpty(docSnap.get("parametres"))) {
            if (isEmpty(docSnap.get("parametres")["tva"])) {
              Toast.fire({
                type: "warning",
                title:
                  "Votre Projet n'a pas de Tva configurée, nous utiliserons un parametre par défaut",
                customClass: "bg-saphire",
              });
            } else {
              if (docSnap.get("parametres")["tva"].length > 1) {
                this.paramTva = docSnap.get("parametres")["tva"].map( item => new tva({...item}));
              }
            }
          } 
          
          // definition HT pour les besoins
          if (!isEmpty(docSnap.get("besoins"))) {
            // immobilisations incorporelles
            if (!isEmpty(docSnap.get("besoins")["immoIncorporelle"])) {
              this.besoins["immoIncorporelle"] = docSnap.get("besoins")["immoIncorporelle"];
                this.calculTotalAmortissementAnnuelImmoIncorp(this.besoins["immoIncorporelle"]);
            }
            // immo corporelle
            if (!isEmpty(docSnap.get("besoins")["immoCorporelle"])) {
              // materiel informatique
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"]["materielinfo"]
                )
              ) {
                this.besoins["immoCorporelle"]["materielinfo"] = docSnap
                  .get("besoins")
                  ["immoCorporelle"]["materielinfo"];
                this.calculSubTotalImmoCorpMatInfo(
                  this.besoins["immoCorporelle"]["materielinfo"]
                );
                this.calculTotalAmortisAnnuelImmoCorpMatInfo(
                  this.besoins["immoCorporelle"]["materielinfo"]
                );
              }
              // mobilier
              if (
                !isEmpty(docSnap.get("besoins")["immoCorporelle"]["mobilier"])
              ) {
                this.besoins["immoCorporelle"]["mobilier"] = docSnap
                  .get("besoins")
                  ["immoCorporelle"]["mobilier"];
                this.calculSubTotalImmoCorpMobilier(
                  this.besoins["immoCorporelle"]["mobilier"]
                );
                this.calculTotalAmortisAnnuelImmoCorpMobilier(
                  this.besoins["immoCorporelle"]["mobilier"]
                );
              }
              // materiel-machine-outils
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"][
                    "materiel-machine-outil"
                  ]
                )
              ) {
                this.besoins["immoCorporelle"]["materiel-machine-outil"] =
                  docSnap
                    .get("besoins")
                    ["immoCorporelle"]["materiel-machine-outil"];
                this.calculSubTotalImmoCorpMatMachOutil(
                  this.besoins["immoCorporelle"]["materiel-machine-outil"]
                );
                this.calculTotalAmortisAnnuelImmoCorpMatMachOutil(
                  this.besoins["immoCorporelle"]["materiel-machine-outil"]
                );
              }
              // batiment-local-espacevente
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"][
                    "batiment-local-espacevente"
                  ]
                )
              ) {
                this.besoins["immoCorporelle"]["batiment-local-espacevente"] =
                  docSnap
                    .get("besoins")
                    ["immoCorporelle"]["batiment-local-espacevente"];
                this.calculSubTotalImmoCorpBatLocEspaceVente(
                  this.besoins["immoCorporelle"]["batiment-local-espacevente"]
                );
                this.calculTotalAmortisAnnuelImmoCorpBatLocEspaceVente(
                  this.besoins["immoCorporelle"]["batiment-local-espacevente"]
                );
              }
              // voiture-autres
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"]["voiture-autres"]
                )
              ) {
                this.besoins["immoCorporelle"]["voiture-autres"] = docSnap
                  .get("besoins")
                  ["immoCorporelle"]["voiture-autres"];
                this.calculSubTotalImmoCorpVoitAutre(
                  this.besoins["immoCorporelle"]["voiture-autres"]
                );
                this.calculTotalAmortisAnnuelImmoCorpVoitAutre(
                  this.besoins["immoCorporelle"]["voiture-autres"]
                );
              }
            }
          }
        }
        this.$loading().close();
      })
      .catch((error) => {
        switch (error.code) {
          case "auth/invalid-email":
            Swal.fire(
              "Une erreur est survenue",
              '<span class="text-danger text-bold">L\'adresse email est invalide</span>',
              "error"
            );
            break;

          case "auth/user-not-found":
            Swal.fire(
              "Une erreur est survenue",
              "<span class=\"text-danger text-bold\">L'adresse email n'existe pas!</span>!",
              "error"
            );
            break;
          case "auth/network-request-failed":
            Swal.fire(
              "Une erreur est survenue",
              '<span class="text-danger text-bold" >Aucune connexion internet! <br/>Veuillez vérifier votre connection internet et réessayez!</span>',
              "error"
            );
            break;

          default:
            Swal.fire("Une erreur est survenue", error.message, "error");
            break;
        }
        this.$loading().close();
      });
  },
  methods: {
    HT(amount, tva) {
      return HT(amount, tva);
    },
    arround(amount, precision) {
      return arround(amount, precision);
    },
    getItems(items) {
      let tabs = [];
      items.forEach((item) => {
        tabs.push({
          titre: item.titre,
          amortissement: item.amortissement,
          annee1: this.calculAmortissementImmoCorporelle(
            item,
            this.activeTva.value / 100
          ).annee1,
          annee2: this.calculAmortissementImmoCorporelle(
            item,
            this.activeTva.value / 100
          ).annee2,
          annee3: this.calculAmortissementImmoCorporelle(
            item,
            this.activeTva.value / 100
          ).annee3,
        });
      });
      return tabs;
    },
    printPdf: async function () {
      this.$loading();
      const meta = await metaData(this.userId);
      this.$loading().close();
      const password = "1234";
      const swal = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-info",
          cancelButton: "btn btn-success ml-2",
        },
        buttonsStyling: false,
      });
      let elements = [
        {
          titre: "Immobilisations",
          amortissement: "",
          annee1: this.totalAmortisCorporelleAnnuel.annee1 + this.totalAmortisIncorporelleAnnuel.annee1,
          annee2: this.totalAmortisCorporelleAnnuel.annee2 + this.totalAmortisIncorporelleAnnuel.annee2,
          annee3: this.totalAmortisCorporelleAnnuel.annee3 + this.totalAmortisIncorporelleAnnuel.annee3,
        },
        {
          titre: "Immobilisations incorporelles",
          amortissement: "Par an",
          annee1: this.totalAmortisIncorporelleAnnuel.annee1,
          annee2: this.totalAmortisIncorporelleAnnuel.annee2,
          annee3: this.totalAmortisIncorporelleAnnuel.annee3,
          children: this.getItems(this.besoins.immoIncorporelle)
        },
        {
          titre: "Matériel informatique",
          amortissement: "Par an",
          annee1: this.subTotalAmortisAnnuelImmoCorpMatInfo.annee1,
          annee2: this.subTotalAmortisAnnuelImmoCorpMatInfo.annee2,
          annee3: this.subTotalAmortisAnnuelImmoCorpMatInfo.annee3,
          children: this.getItems(this.besoins.immoCorporelle["materielinfo"]),
        },
        {
          titre: "Mobilier",
          amortissement: "Par an",
          annee1: this.subTotalAmortisAnnuelImmoCorpMobilier.annee1,
          annee2: this.subTotalAmortisAnnuelImmoCorpMobilier.annee2,
          annee3: this.subTotalAmortisAnnuelImmoCorpMobilier.annee3,
          children: this.getItems(this.besoins.immoCorporelle["mobilier"]),
        },
        {
          titre: "Materiels/Machines/Outils",
          amortissement: "Par an",
          annee1: this.subTotalAmortisAnnuelImmoCorpMatMachOutil.annee1,
          annee2: this.subTotalAmortisAnnuelImmoCorpMatMachOutil.annee2,
          annee3: this.subTotalAmortisAnnuelImmoCorpMatMachOutil.annee3,
          children: this.getItems(
            this.besoins.immoCorporelle["materiel-machine-outil"]
          ),
        },
        {
          titre: "Batiment/Local/Espace de vente",
          amortissement: "Par an",
          annee1: this.subTotalAmortisAnnuelImmoCorpBatLocEspaceVente.annee1,
          annee2: this.subTotalAmortisAnnuelImmoCorpBatLocEspaceVente.annee2,
          annee3: this.subTotalAmortisAnnuelImmoCorpBatLocEspaceVente.annee3,
          children: this.getItems(
            this.besoins.immoCorporelle["batiment-local-espacevente"]
          ),
        },
        {
          titre: "Matériel roulant",
          amortissement: "Par an",
          annee1: this.subTotalAmortisAnnuelImmoCorpVoitAutre.annee1,
          annee2: this.subTotalAmortisAnnuelImmoCorpVoitAutre.annee2,
          annee3: this.subTotalAmortisAnnuelImmoCorpVoitAutre.annee3,
          children: this.getItems(
            this.besoins.immoCorporelle["voiture-autres"]
          ),
        },
      ];
      let paramsMoney = {
        precision: this.currentCurrencyMask[":precision"],
        currency: this.currentCurrencyMask["currency"],
      };
      swal
        .fire({
          showCancelButton: true,
          confirmButtonText: "Télécharger Pdf",
          cancelButtonText: "Annuler",
        //   footer: `Mot de passe Pdf : ${password}`,
          showLoaderOnConfirm: true,
        })
        .then((result) => {
          if (result.value) {
            const pdf = new DetailsAmortissementsPdf(
              {
                data: {
                  projet: this.infoProjet,
                  paramsMoney,
                  elements,
                },
                title: "Details des Amortissements",
              },
              { meta }
            );
            pdf.downloadPdf();
          }
        });
    },
  },
  computed: {
    paramTva: () => { return defaultParamTvaFinancier.map( item => new tva({...item})) },
    activeTva: function() {
        return this.paramTva.find((item) => item.active === true)
    },
    infoProjet: () => { return JSON.parse(localStorage.getItem("userSession")); },
    projet: () => { return JSON.parse(localStorage.getItem("userSession")).projet },
    userId: () => { return JSON.parse(localStorage.getItem("userSession")).uid },
  }
};
</script>
