
<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Row -->
            <div class="card mb-3">
                <div class="card-body p-1">
                    <h2><center class="bg-bfr">BESOINS EN FONDS DE ROULEMENT (HT) sur 3 ans</center></h2>
                    <div class="d-flex d-flex-row mt-3">
                        <!-- en-tete de la page -->
                        <div class="col-sm-4 text-left"> <h4 class="font-weight-bold">Années d'exercices</h4></div>
                        <div class="col-sm text-left text-lg-right"><h4 class="font-weight-bold">Année 1</h4></div>
                        <div class="col-sm text-left text-lg-right"><h4 class="font-weight-bold">Année 2</h4></div>
                        <div class="col-sm text-left text-lg-right"><h4 class="font-weight-bold">Année 3</h4></div>
                        <!-- /en-tete -->
                    </div>
                </div>
            </div>

            <!-- BFR d'Ouverture -->
            <b-card no-body v-if="lire" class="mt-3 pb-2 ">
                <b-card-header class="d-flex d-flex-row p-1 bg-bfr">
                    <div class="col-sm col-lg-4 col-md-5 text-left">
                        <h4 class="text-white mt-2 text-capitalize font-weight-bold" v-b-toggle.collapseBfrOuverture>
                            <i class="fa fa-square"></i>
                            <span class="mx-1">BFR d'ouverture</span>
                        </h4>
                    </div>
                    <div class="col-sm  text-left text-md-right">
                        <vue-numeric
                            :currency="currentCurrencyMask['currency']"
                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                            output-type=String
                            empty-value=0
                            :precision="currentCurrencyMask[':precision']"
                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                            read-only-class="font-weight-bold text-white"
                            read-only
                            v-model.number="totalBfrOuverture" >
                        </vue-numeric>
                    </div>
                    <div class="col-sm text-left text-md-right">&nbsp;</div>
                    <div class="col-sm  text-left text-md-right">&nbsp;</div>
                </b-card-header>

                <b-card-body class="mt-2">                
                    <div id="collapseBfrOuverture" visible>
                        <div class="d-flex d-flex-row line-item" v-for="(bfrOuverture, index) in besoins.bfr['bfrOuverture']" :key="'materielinfo-'+index" >
                            <div class="col-sm col-lg-4 text-justify item-title">{{bfrOuverture.titre}}</div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    :value="calculTotalItemBfrOuverture(bfrOuverture)" >
                                </vue-numeric>
                            </div>
                            <div class="col-sm text-right"> - </div>
                            <div class="col-sm text-right"> - </div>
                        </div>
                    </div>
                </b-card-body>
            </b-card>

            <!-- BFR d'Exploitation -->
            <b-card no-body class="mb-2">
                <!-- BFR d'Exploitation -->
                <b-card-header class="d-flex d-flex-row p-1 bg-bfr">
                    <div class="col-sm col-lg-4 col-md-5 text-left">
                        <h4 class="text-white mt-2 text-capitalize font-weight-bold"
                        v-b-toggle.collapseBfrStock.collapseBfrCreanceClient.collapseBfrDetteFournisseur>
                            <i class="fa fa-plus-square when-closed"></i> <i class="fa fa-minus-square when-opened"></i>
                            <span class="mx-1">BFR d'exploitation</span>
                        </h4>
                    </div>
                    <div class="col-sm  text-left text-md-right">
                        <vue-numeric
                            :currency="currentCurrencyMask['currency']"
                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                            output-type=String
                            empty-value=0
                            :precision="currentCurrencyMask[':precision']"
                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                            read-only-class="font-weight-bold text-white"
                            read-only
                            v-model.number="totalBfrExploitation.annee1" >
                        </vue-numeric>
                    </div>
                    <div class="col-sm text-left text-md-right">
                        <vue-numeric
                            :currency="currentCurrencyMask['currency']"
                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                            output-type=String
                            empty-value=0
                            :precision="currentCurrencyMask[':precision']"
                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                            read-only-class="font-weight-bold text-white"
                            read-only
                            v-model.number="totalBfrExploitation.annee2" >
                        </vue-numeric>
                    </div>
                    <div class="col-sm  text-left text-md-right">
                        <vue-numeric
                            :currency="currentCurrencyMask['currency']"
                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                            output-type=String
                            empty-value=0
                            :precision="currentCurrencyMask[':precision']"
                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                            read-only-class="font-weight-bold text-white d-sm-inline-block"
                            read-only
                            v-model.number="totalBfrExploitation.annee3" >
                        </vue-numeric>
                    </div>
                </b-card-header>

                <b-card-body class="">
                    <!-- items BFr Stocks -->
                    <div class="d-flex d-flex-row mt-3 bg-shade-bfr" id="panelBfrStock">
                        <div class="col-sm col-lg-4 text-left bg-shade-bfr">
                            <h4 v-b-toggle.collapseBfrStock class="font-weight-bold">
                                <i class="fa fa-plus-square when-closed"></i> <i class="fa fa-minus-square when-opened"></i>
                                <span >Stocks</span>
                            </h4>
                        </div>
                        <div class="col-sm text-right bg-shade-bfr">
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type=String
                                empty-value=0
                                :precision="currentCurrencyMask[':precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="font-weight-bold text-dark" v-bind:min="currentCurrencyMask.min"
                                read-only
                                v-model.number="subTotalBfrStock.annee1" >
                            </vue-numeric>
                        </div>
                        <div class="col-sm text-right bg-shade-bfr">
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type=String
                                empty-value=0
                                :precision="currentCurrencyMask[':precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="font-weight-bold text-dark" v-bind:min="currentCurrencyMask.min"
                                read-only
                                v-model.number="subTotalBfrStock.annee2" >
                            </vue-numeric>
                        </div>
                        <div class="col-sm text-right bg-shade-bfr">
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type=String
                                empty-value=0
                                :precision="currentCurrencyMask[':precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="font-weight-bold text-dark" v-bind:min="currentCurrencyMask.min"
                                read-only
                                v-model.number="subTotalBfrStock.annee3">
                            </vue-numeric>
                        </div>
                    </div>
                    
                    <b-collapse id="collapseBfrStock">
                        <div class="d-flex d-flex-row line-item" v-for="(stock, index) in besoins.bfr.stock" :key="'stock-'+index" >
                            <div class="col-sm col-lg-4 text-justify item-title">{{stock.titre}}</div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    v-model.number="stock.annee1" >
                                </vue-numeric>
                            </div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    v-model.number="stock.annee2" >
                                </vue-numeric>
                            </div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    v-model.number="stock.annee3" >
                                </vue-numeric>
                            </div>
                        </div>
                    </b-collapse>
                    
                    <!-- items BFr Creances clients -->
                    <div class="d-flex d-flex-row mt-3 bg-shade-bfr" id="panelBfrCreanceClient">
                        <div class="col-sm col-lg-4 text-left bg-shade-bfr">
                            <h4 v-b-toggle.collapseBfrCreanceClient class="font-weight-bold">
                                <i class="fa fa-plus-square when-closed"></i> <i class="fa fa-minus-square when-opened"></i>
                                <span>Créances clients</span>
                            </h4>
                        </div>
                        <div class="col-sm text-right bg-shade-bfr">
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type=String
                                empty-value=0
                                :precision="currentCurrencyMask[':precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="font-weight-bold text-dark" v-bind:min="currentCurrencyMask.min"
                                read-only
                                v-model.number="subTotalBfrCreanceCli.annee1" >
                            </vue-numeric>
                        </div>
                        <div class="col-sm text-right bg-shade-bfr">
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type=String
                                empty-value=0
                                :precision="currentCurrencyMask[':precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="font-weight-bold text-dark" v-bind:min="currentCurrencyMask.min"
                                read-only
                                v-model.number="subTotalBfrCreanceCli.annee2" >
                            </vue-numeric>
                        </div>
                        <div class="col-sm text-right bg-shade-bfr">
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type=String
                                empty-value=0
                                :precision="currentCurrencyMask[':precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="font-weight-bold text-dark" v-bind:min="currentCurrencyMask.min"
                                read-only
                                v-model.number="subTotalBfrCreanceCli.annee3">
                            </vue-numeric>
                        </div>
                    </div>
                    
                    <b-collapse id="collapseBfrCreanceClient">
                        <div class="d-flex d-flex-row line-item" v-for="(creance, index) in besoins.bfr.creanceClient" :key="'creance-'+index" >
                            <div class="col-sm col-lg-4 text-justify item-title">{{creance.titre}}</div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    :value="creance.annee1" >
                                </vue-numeric>
                            </div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    :value="creance.annee2" >
                                </vue-numeric>
                            </div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    :value="creance.annee3" >
                                </vue-numeric>
                            </div>
                        </div>
                    </b-collapse>
                    
                    <!-- items BFr Dettes aux fournisseurs -->
                    <div class="d-flex d-flex-row mt-3 bg-shade-bfr" id="panelBfrDetteFournisseur">
                        <div class="col-sm col-lg-4 text-left bg-shade-bfr">
                            <h4 v-b-toggle.collapseBfrDetteFournisseur class="font-weight-bold">
                                <i class="fa fa-plus-square when-closed"></i> <i class="fa fa-minus-square when-opened"></i>
                                <span>Dettes</span>
                            </h4>
                        </div>
                        <div class="col-sm text-right bg-shade-bfr">
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type=String
                                empty-value=0
                                :precision="currentCurrencyMask[':precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="font-weight-bold text-dark" v-bind:min="currentCurrencyMask.min"
                                read-only
                                v-model.number="subTotalBfrDetFour.annee1" >
                            </vue-numeric>
                        </div>
                        <div class="col-sm text-right bg-shade-bfr">
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type=String
                                empty-value=0
                                :precision="currentCurrencyMask[':precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="font-weight-bold text-dark" v-bind:min="currentCurrencyMask.min"
                                read-only
                                v-model.number="subTotalBfrDetFour.annee2" >
                            </vue-numeric>
                        </div>
                        <div class="col-sm text-right bg-shade-bfr">
                            <vue-numeric
                                :currency="currentCurrencyMask['currency']"
                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                output-type=String
                                empty-value=0
                                :precision="currentCurrencyMask[':precision']"
                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                read-only-class="font-weight-bold text-dark" v-bind:min="currentCurrencyMask.min"
                                read-only
                                v-model.number="subTotalBfrDetFour.annee3">
                            </vue-numeric>
                        </div>
                    </div>
                    
                    <b-collapse id="collapseBfrDetteFournisseur">
                        <div class="d-flex d-flex-row line-item" v-for="(dette, index) in besoins.bfr.dettes" :key="'dette-'+index" >
                            <div class="col-sm col-lg-4 text-justify item-title">{{dette.titre}}</div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    :value="dette.annee1" >
                                </vue-numeric>
                            </div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    :value="dette.annee2" >
                                </vue-numeric>
                            </div>
                            <div class="col-sm text-right">
                                <vue-numeric
                                    :currency="currentCurrencyMask['currency']"
                                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                    output-type=String
                                    empty-value=0
                                    :precision="currentCurrencyMask[':precision']"
                                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                                    read-only-class="" v-bind:min="currentCurrencyMask.min"
                                    read-only
                                    :value="dette.annee3" >
                                </vue-numeric>
                            </div>
                        </div>
                    </b-collapse>

                    <div class="p-1">
                        <a href="#" @click.prevent="printPdf()">
                            <boutonDownloadPdf  
                                v-if="telecharger" 
                                :titre-projet="this.infoProjet.projettitre"
                                element-telecharger="BESOINS EN FONDS DE ROULEMENT"
                            />
                        </a>
                    </div>
                </b-card-body>
                
            </b-card>

                
        </div>
    </div>
</template>

<style scoped>
    @import '../../../../../../resources/assets/sass/financier.scss';
    @import '../../../../../../resources/assets/sass/tiny-inputs.scss';    
    @import '../../../../../../resources/assets/sass/etat-financier/common.scss';
    .page-wrapper{
        padding-top: 0px !important;
    }
    .bg-bfr{
        background-color: #398bf7 !important;
    }
    .bg-shade-bfr {
        background-color: rgba(57, 139, 247, 0.071) !important;
    }
</style>

<script>
    import Vue from 'vue'
    import Swal from 'sweetalert2'
    import VueNumeric from 'vue-numeric'
    import currenciesMaskMixin from '../mixins/currenciesMask'
    // Import de la fonction qui génère le Pdf
    import BfrPdf from '../../../pdf/financier/bfr/bfrPdf'
    import boutonDownloadPdf from "../components/boutonDownloadPdf.vue";
    // Import component for loading
    import Loading from 'vue-loading-overlay';    
    // Import stylesheet for loading
    import 'vue-loading-overlay/dist/vue-loading.css';
    // import des fonctions de calculs des besoins :
    import besoinsCalculator from "../mixins/financier/besoins"
    import {arround, isEmpty, HT, convertFieldToHT} from '../../../services/helper'
    import firebase from 'firebase'
    // bootstrap-vue for the open/close button effects
    import BootstrapVue from 'bootstrap-vue'
    // tva par defaut
    import defaultParamTvaFinancier from "./default.tva.json";
    import tva from '../../../models/tva.js';
    import { isNullOrUndefined } from 'util'
    // empty objects
    import defaultEmptyBesoins from './default.emptyBesoins.json'
    import metaData from "../../../store/metaData";
    // Init plugin
    Vue.use(BootstrapVue);

    export default {
        components: {
            boutonDownloadPdf,
            VueNumeric
        },
        mixins: [besoinsCalculator, currenciesMaskMixin],
        data(){
            return {
                userId: JSON.parse(localStorage.getItem("userSession")).uid,
                paramTva: defaultParamTvaFinancier.map( item => new tva({...item})),
                lire:false,
                telecharger:false,
                projet: JSON.parse(localStorage.getItem('userSession')).projet,
                besoins: defaultEmptyBesoins,
                infoProjet: JSON.parse(localStorage.getItem('userSession')),
            }
        },
        created(){

            this.$route.params.data.forEach(item=>{
                if(item=='lire'){
                this.lire=true
                }
                if(item=='telecharger'){
                this.telecharger=true
                }
            })
            // recuperation des elements de calcul
            firebase.firestore().collection('financier').doc(this.projet).get()
            .then( (docSnap) => {
                if(docSnap.exists){
                    // tva parametree du projet
                    if(!isEmpty(docSnap.get('parametres'))) {
                        if(isEmpty(docSnap.get('parametres')['tva'])) {
                            Toast.fire({
                                type: 'warning',
                                title: 'Votre Projet n\'a pas de Tva configurée, nous utiliserons un parametre par défaut',
                                customClass:  "bg-saphire"
                            });
                        } else {
                            if(docSnap.get('parametres')['tva'].length > 0) {
                                this.paramTva = docSnap.get('parametres')['tva'].map( item => new tva({...item}));
                            }
                        };
                    }
                    // definition HT pour les besoins
                    if(! isEmpty(docSnap.get('besoins'))) {
                        // bfr
                        if(! isEmpty(docSnap.get('besoins')['bfr'])) {
                            // bfr ouverture
                            if(! isEmpty(docSnap.get('besoins')['bfr']['bfrOuverture'])) {
                                this.besoins['bfr']['bfrOuverture'] = docSnap.get('besoins')['bfr']['bfrOuverture'].map(item => convertFieldToHT(item,'coutMensuel', this.activeTva.value/100, this.currentCurrencyMask[':precision']));
                                this.calculTotalBfrOuverture(this.besoins.bfr['bfrOuverture']);
                            }
                            // stocks
                            if(! isEmpty(docSnap.get('besoins')['bfr']['stock'])) {
                                this.besoins['bfr']['stock'] = docSnap.get('besoins')['bfr']['stock'].map(item => convertFieldToHT(item,['annee1', 'annee2', 'annee3'], this.activeTva.value/100, this.currentCurrencyMask[':precision']));
                                this.calculSubTotalBfrStockAnnee1(this.besoins.bfr['stock']);
                                this.calculSubTotalBfrStockAnnee2(this.besoins.bfr['stock']);
                                this.calculSubTotalBfrStockAnnee3(this.besoins.bfr['stock']);
                            }
                            // creance client
                            if(! isEmpty(docSnap.get('besoins')['bfr']['creanceClient'])) {
                                this.besoins['bfr']['creanceClient'] = docSnap.get('besoins')['bfr']['creanceClient'].map(item => convertFieldToHT(item,['annee1', 'annee2', 'annee3'], this.activeTva.value/100, this.currentCurrencyMask[':precision']));
                                this.calculSubTotalBfrCreanceCliAnnee1(this.besoins.bfr['creanceClient']);
                                this.calculSubTotalBfrCreanceCliAnnee2(this.besoins.bfr['creanceClient']);
                                this.calculSubTotalBfrCreanceCliAnnee3(this.besoins.bfr['creanceClient']);
                            }
                            // dettes
                            if(! isEmpty(docSnap.get('besoins')['bfr']['dettes'])) {
                                this.besoins['bfr']['dettes'] = docSnap.get('besoins')['bfr']['dettes'].map(item => convertFieldToHT(item,['annee1', 'annee2', 'annee3'], this.activeTva.value/100, this.currentCurrencyMask[':precision']));
                                this.calculSubTotalBfrDetFourAnnee1(this.besoins.bfr['dettes']);
                                this.calculSubTotalBfrDetFourAnnee2(this.besoins.bfr['dettes']);
                                this.calculSubTotalBfrDetFourAnnee3(this.besoins.bfr['dettes']);
                            }
                        }
                    }
                }
                this.$loading().close();
            }).catch( (error) => {
                switch (error.code) {
                    case 'auth/invalid-email':
                        Swal.fire(
                            'Une erreur est survenue',
                            '<span class="text-danger text-bold">L\'adresse email est invalide</span>',
                            'error'
                        );
                        break;

                    case 'auth/user-not-found':
                        Swal.fire(
                            'Une erreur est survenue',
                            '<span class="text-danger text-bold">L\'adresse email n\'existe pas!</span>!',
                            'error'
                        );
                        break;
                    case 'auth/network-request-failed':
                        Swal.fire(
                            'Une erreur est survenue',
                            '<span class="text-danger text-bold" >Aucune connexion internet! <br/>Veuillez vérifier votre connection internet et réessayez!</span>',
                            'error'
                        )
                        break;

                    default:
                        Swal.fire(
                            'Une erreur est survenue',
                            error.message,
                            'error'
                        );
                        break;
                };
                this.$loading().close();
            })
        },
        methods: {
            getItems (items) {
                let tabs = []; 
                items.forEach(item => {
                    tabs.push({
                        'titre': item.titre,
                        'group': item.group,
                        'annee1': this.calculTotalItemBfrOuverture(item),
                        'annee2': '-',
                        'annee3': '-'
                    })
                });
                return tabs
            },
            printPdf: async function () {
                this.$loading()
                const meta = await metaData(this.userId)
                this.$loading().close()
                // const password = '1234'
                const swal = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-info',
                        cancelButton: 'btn btn-success ml-2'
                    },
                    buttonsStyling: false
                })
                let elements = [
                    {
                        'titre': 'BFR d\'ouverture',
                        'annee1': this.totalBfrOuverture,
                        'annee2': '-',
                        'annee3': '-',
                        'children': this.getItems(this.besoins.bfr.bfrOuverture)
                    },
                    {
                        'titre': 'BFR d\'exploitation',
                        'annee1': this.totalBfrExploitation.annee1,
                        'annee2': this.totalBfrExploitation.annee2,
                        'annee3': this.totalBfrExploitation.annee3,
                        'children': [
                            {
                                'titre': 'Stock',
                                'annee1': this.subTotalBfrStock.annee1,
                                'annee2': this.subTotalBfrStock.annee2,
                                'annee3': this.subTotalBfrStock.annee3,
                                'children': this.besoins.bfr.stock,
                            },
                            {
                                'titre': 'Créances clients',
                                'annee1': this.subTotalBfrCreanceCli.annee1,
                                'annee2': this.subTotalBfrCreanceCli.annee2,
                                'annee3': this.subTotalBfrCreanceCli.annee3,
                                'children': this.besoins.bfr.creanceClient
                            },
                            {
                                'titre': 'Dettes aux fournisseurs',
                                'annee1': this.subTotalBfrDetFour.annee1,
                                'annee2': this.subTotalBfrDetFour.annee2,
                                'annee3': this.subTotalBfrDetFour.annee3,
                                'children': this.besoins.bfr.dettes
                            }
                        ]
                    }
                ]
                let paramsMoney = {
                    'precision': this.currentCurrencyMask[':precision'],
                    'currency': this.currentCurrencyMask['currency']
                }
                swal.fire({
                    showCancelButton: true,
                    confirmButtonText: 'Télécharger Pdf',
                    cancelButtonText: 'Annuler',
                    // footer: `Mot de passe Pdf : ${password}`,
                    showLoaderOnConfirm: true
                }).then((result) => {
                    if (result.value) {
                        const pdf = new BfrPdf({
                            data: {
                                projet: this.infoProjet, paramsMoney, elements
                            }, title: 'Besoins de fons de roulement'
                        }, {meta})
                        pdf.downloadPdf()
                        //this.printPdfBfr(this.infoProjet, paramsMoney, elements, images, password)
                    }
                })
            }
        },
        computed: {
            activeTva: function() {
                return this.paramTva.find((item) => item.active === true)
            }
        }
    }
</script>