<template>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body p-1">
          <h2>
            <center class="bg-dark text-white text-uppercase">
              Bilan Previsionnel HT
            </center>
          </h2>
          <div class="d-flex d-flex-row mt-3">
            <!-- en-tete de la page -->
            <div class="col-sm-4 text-left">
              <h4 class="font-weight-bold">Années d'exercices</h4>
            </div>
            <div class="col-sm text-left text-lg-right">
              <h4
                class="font-weight-bold pointer"
                @click="changeAnneeEnCours(1)"
              >
                Année 1
              </h4>
            </div>
            <div class="col-sm text-left text-lg-right">
              <h4
                class="font-weight-bold pointer"
                @click="changeAnneeEnCours(2)"
              >
                Année 2
              </h4>
            </div>
            <div class="col-sm text-left text-lg-right">
              <h4
                class="font-weight-bold pointer"
                @click="changeAnneeEnCours(3)"
              >
                Année 3
              </h4>
            </div>
            <!-- /en-tete -->
          </div>
        </div>
      </div>

      <section v-if="lire" class="el-container md-vertical lg-horizontal">
        <section class="el-container mx-1 flex-pole is-vertical">
          <el-header class="mb-3 p-2 text-center"> Actif </el-header>
          <section class="el-container mb-1 is-vertical">
            <el-header class="d-flex p-2"
              >Actifs immobilisés
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold ml-auto"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="subTotalActifsImmobilises"
              >
              </vue-numeric>
            </el-header>

            <el-main class="p-2">
              <!-- Immo incorporelle -->
              <h4
                class="font-weight-bold d-flex pointer"
                v-b-toggle.collapseImmoIncorp
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Immobilisations incorporelles</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.immoIncorporelle.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse visible id="collapseImmoIncorp" class="pb-3">
                <div
                  class="d-flex p-2 line-item"
                  v-for="(incorp, index) in dataSource.immoIncorporelle.items"
                  :key="'indexIncorp-' + index"
                >
                  <span>{{ incorp.titre }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="incorp.prix * incorp.quantite"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
              <!-- Immo Corporelle -->
              <h4
                class="font-weight-bold d-flex pointer"
                v-b-toggle.collapseImmoCorp
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Immobilisations corporelles</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.immoCorporelle.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse visible id="collapseImmoCorp" class="pb-3">
                <!-- Items immo Corporelle -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(corp, index) in dataSource.immoCorporelle.items"
                  :key="'indexImmoCorp-' + index"
                >
                  <span>{{ corp.titre }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="corp.prix * corp.quantite"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
              <!-- Immo Financière -->
              <h4
                class="font-weight-bold d-flex pointer"
                v-b-toggle.collapseImmoFin
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Immobilisations financières</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class=" ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.immoFinanciere.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse visible id="collapseImmoFin" class="pb-3">
                <!-- Items immo Financière -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(fin, index) in dataSource.immoFinanciere.items"
                  :key="'indexImmoFin-' + index"
                >
                  <span>{{ fin.titre }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="fin.montant * fin.quantite"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
              <!-- Immo Corporelle -->
              <h4
                class="font-weight-bold d-flex pointer"
                v-b-toggle.collapseAvanceImmoCorp
                v-if="anneeEnCours > 1"
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Amortissements</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.amortissementCorporelle.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse
                visible
                id="collapseAvanceImmoCorp"
                class="pb-3"
                v-if="anneeEnCours > 1"
              >
                <!-- Items immo Corporelle -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(corp, index) in dataSource.amortissementCorporelle
                    .items"
                  :key="'indexImmoCorp-' + index"
                >
                  <span>{{ corp.titre }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="corp.prix * corp.quantite"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
            </el-main>
          </section>
          <section class="el-container mb-3 is-vertical">
            <el-header class="d-flex p-2"
              >Actifs circulants
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold ml-auto"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="subTotalActifsCirculants"
              >
              </vue-numeric>
            </el-header>

            <el-main class="p-2">
              <!-- stock en cours  -->
              <h4
                class="font-weight-bold d-flex pointer"
                v-b-toggle.collapseStock
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Stocks en cours</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.stockEnCours.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse visible id="collapseStock" class="pb-3">
                <!-- Items stocks en cours -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(stock, index) in dataSource.stockEnCours.items"
                  :key="'indexStock-' + index"
                >
                  <span>{{ stock.titre }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="stock.montant"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
              <!-- créances client en cours  -->
              <h4
                class="font-weight-bold d-flex pointer"
                v-b-toggle.collapseCreance
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Créance</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.creance.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse visible id="collapseCreance" class="pb-3">
                <!-- Items créances -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(creance, index) in dataSource.creance.items"
                  :key="'indexCréance-' + index"
                >
                  <span>{{ creance.titre }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    v-model="creance.montant"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
              <!-- comptes courants associés  -->
              <h4
                class="font-weight-bold d-flex pointer"
                v-b-toggle.collapseCompte
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Compte courant</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.compteCourant.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse visible id="collapseCompte" class="pb-3">
                <!-- Items comptes courants associés -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(compte, index) in dataSource.compteCourant.items"
                  :key="'indexCompteCourant-' + index"
                >
                  <span>{{ compte.identite }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="compte.montant * compte.quantite"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
            </el-main>
          </section>
          <el-footer class="d-flex p-2 mb-3">
            Total Actif
            <vue-numeric
              :currency="currentCurrencyMask['currency']"
              :currency-symbol-position="
                currentCurrencyMask['currency-symbol-position']
              "
              output-type="String"
              empty-value="0"
              :precision="currentCurrencyMask[':precision']"
              :decimal-separator="currentCurrencyMask['decimal-separator']"
              :thousand-separator="currentCurrencyMask['thousand-separator']"
              read-only-class=" ml-auto"
              v-bind:min="currentCurrencyMask.min"
              read-only
              :value="totalActif"
            >
            </vue-numeric>
          </el-footer>
        </section>
        <section class="el-container mx-1 flex-pole is-vertical">
          <el-header class="mb-3 p-2 text-center">Passif</el-header>
          <section class="el-container mb-1 is-vertical">
            <el-header class="d-flex p-2"
              >Capitaux propres
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold ml-auto"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="subTotalCapitauxPropresAvecResultatNet"
              >
              </vue-numeric>
            </el-header>

            <el-main class="p-2">
              <!-- Capital  -->
              <h4 class="font-weight-bold d-flex" v-b-toggle.collapseCapital>
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Capitaux numéraire et nature</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.capital.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse visible id="collapseCapital" class="pb-3">
                <!-- Items capital -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(cap, index) in dataSource.capital.items"
                  :key="'indexCapital-' + index"
                >
                  <span>{{ cap.identite }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="cap.montant * cap.quantite"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
              <!-- Emprunts  -->
              <h4 class="font-weight-bold d-flex" v-b-toggle.collapseEmprunt>
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Emprunts</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.emprunt.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse :visible="true" id="collapseEmprunt" class="pb-3">
                <!-- Items capital -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(emp, index) in dataSource.emprunt.items"
                  :key="'indexEmprunt-' + index"
                >
                  <span>{{ emp.titre }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="emp.montant"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
              <!-- Résultat net  -->
              <h4 class="font-weight-bold d-flex">
                <i class="fa fa-square"></i>
                <span class="mx-1">Résultat net</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  :value="resultatNet"
                >
                </vue-numeric>
              </h4>
            </el-main>
          </section>
          <section class="el-container mb-3 is-vertical">
            <el-header class="d-flex p-2"
              >Dettes
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold ml-auto"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="subTotalDettes"
              >
              </vue-numeric>
            </el-header>

            <el-main class="p-2">
              <!-- Dette fournisseur  -->
              <h4
                class="font-weight-bold d-flex pointer"
                v-b-toggle.collapseDetteFournisseur
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Dettes commerciales</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.detteFournisseur.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse visible id="collapseDetteFournisseur" class="pb-3">
                <!-- Items capital -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(dette, index) in dataSource.detteFournisseur.items"
                  :key="'indexEmprunt-' + index"
                >
                  <span>{{ dette.titre }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="dette.montant"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
              <!-- Remboursements des emprunts  -->
              <h4
                class="font-weight-bold d-flex pointer"
                v-b-toggle.collapseDetteDiverse
              >
                <i class="fa fa-plus-square when-closed"></i>
                <i class="fa fa-minus-square when-opened"></i>
                <span class="mx-1">Autres dettes</span>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  output-type="String"
                  empty-value="0"
                  :precision="currentCurrencyMask[':precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  read-only-class="font-weight-bold ml-auto"
                  v-bind:min="currentCurrencyMask.min"
                  read-only
                  v-model.number="dataSource.detteDiverse.result"
                >
                </vue-numeric>
              </h4>
              <b-collapse visible id="collapseDetteDiverse" class="pb-3">
                <!-- Items capital -->
                <div
                  class="d-flex p-2 line-item"
                  v-for="(remboursement, index) in dataSource.detteDiverse
                    .items"
                  :key="'indexDetteDiverse-' + index"
                >
                  <span>{{ remboursement.titre }}</span>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    output-type="String"
                    empty-value="0"
                    :precision="currentCurrencyMask[':precision']"
                    :decimal-separator="
                      currentCurrencyMask['decimal-separator']
                    "
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    read-only-class=" ml-auto"
                    v-bind:min="currentCurrencyMask.min"
                    :read-only="true"
                    :value="remboursement.montant"
                  >
                  </vue-numeric>
                </div>
              </b-collapse>
            </el-main>
          </section>
          <el-footer class="d-flex p-2">
            Total Passif
            <vue-numeric
              :currency="currentCurrencyMask['currency']"
              :currency-symbol-position="
                currentCurrencyMask['currency-symbol-position']
              "
              output-type="String"
              empty-value="0"
              :precision="currentCurrencyMask[':precision']"
              :decimal-separator="currentCurrencyMask['decimal-separator']"
              :thousand-separator="currentCurrencyMask['thousand-separator']"
              read-only-class=" ml-auto"
              v-bind:min="currentCurrencyMask.min"
              read-only
              :value="totalPassifAvecResultatNet"
            >
            </vue-numeric>
          </el-footer>
        </section>
      </section>
      <a href="#" @click.prevent="printPdf()">
        <boutonDownloadPdf  
          v-if="telecharger" 
          :titre-projet="this.infoProjet.projettitre"
          element-telecharger="Bilan Prévisionnel"
        />
      </a>
    </div>
  </div>
</template>

<style scoped>
@import "../../../../../../resources/assets/sass/financier.scss";
@import "../../../../../../resources/assets/sass/tiny-inputs.scss";
h4.font-weight-bold.d-flex {
  cursor: pointer;
}
.el-header,
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  height: auto !important ;
}

.d-flex.line-item {
  line-height: 0.64em;
  font-weight: bolder;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
}
/*-- ============================================================== 
 Small Desktop & above all (1024px) 
 ============================================================== */

@media (min-width: 1120px) {
  .el-container.lg-horizontal > .el-container.flex-pole {
    flex-basis: 50%;
  }
  .el-container.lg-horizontal {
    flex-direction: row !important;
  }
  .el-container.lg-vertical {
    flex-direction: column !important;
  }
}

/*-- ============================================================== 
 Phone and below ipad(767px) 
 ============================================================== */

@media (max-width: 1118px) {
  .el-container.md-horizontal {
    flex-direction: row !important;
  }
  .el-container.md-vertical {
    flex-direction: column !important;
  }
  span.ml-auto {
    position: relative;
    display: block;
    float: right;
  }
}

body > .el-container {
  margin-bottom: 40px;
}
.page-wrapper{
  padding-top: 0 !important;
}
/* .el-header{
  background-color: #398bf7 !important;
} */
</style>

<script>
import Vue from "vue";
import firebase from "firebase";
import VueNumeric from "vue-numeric";
import currenciesMaskMixin from "../mixins/currenciesMask";
// Import component for loading
import Loading from "vue-loading-overlay";
// Import stylesheet for loading
import "vue-loading-overlay/dist/vue-loading.css";
// import des fonctions de calculs des besoins et ressources:
import produitsCalculator from "../mixins/financier/produits";
import chargesCalculator from "../mixins/financier/charges";
import ressouresCalculator from "../mixins/financier/ressources";
import besoinsCalculator from "../mixins/financier/besoins";

// default datas bp financier
import defaultEmptyBesoins from "./default.emptyBesoins.json";
import defaultEmptyRessources from "./default.emptyRessources.json";
import defaultEmptyProduits from "./default.emptyProduits.json";
import defaultEmptyCharges from "./default.emptyCharges.json";
import defaultChargePatronale from "./default.chargePatronale.json";
import {
  isEmpty,
  checkValue,
  HT,
  convertFieldToHT,
  arround,
  versement,
  cumulVersementAnnuel,
} from "../../../services/helper";
// tva par defaut
import defaultParamTvaFinancier from "./default.tva.json";
import tva from '../../../models/tva.js';
// bootstrap-vue for the open/close button effects
import BootstrapVue from "bootstrap-vue";
import { isNullOrUndefined, isArray } from "util";
import PdfBilanPrevisionnel from "./pdf/pdfBilanPrevisionnel";
import boutonDownloadPdf from "../components/boutonDownloadPdf.vue";
import metaData from "../../../store/metaData";
import Swal from "sweetalert2";
// Init plugin
Vue.use(BootstrapVue);
const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 4000
});

export default {
  components: {
    boutonDownloadPdf,
    VueNumeric,
  },
  mixins: [
    produitsCalculator,
    chargesCalculator,
    currenciesMaskMixin,
    ressouresCalculator,
    besoinsCalculator,
  ],
  data() {
    return {
      userId: JSON.parse(localStorage.getItem("userSession")).uid,
      infoProjet: JSON.parse(localStorage.getItem("userSession")),
      lire: false,
      telecharger: false,
      projet: JSON.parse(localStorage.getItem("userSession")).projet,
      besoins: defaultEmptyBesoins,
      ressources: defaultEmptyRessources,
      produits: defaultEmptyProduits,
      charges: defaultEmptyCharges,
      paramTva: defaultParamTvaFinancier.map( item => new tva({...item})),
      dataSource: {
        immoIncorporelle: { items: [], result: 0 },
        immoCorporelle: { items: [], result: 0 },
        amortissementCorporelle: { items: [], result: 0 },
        immoFinanciere: { items: [], result: 0 },
        stockEnCours: { items: [], result: 0 },
        creance: { items: [], result: 0 },
        compteCourant: { items: [], result: 0 },
        capital: { items: [], result: 0 },
        emprunt: { items: [], result: 0 },
        detteFournisseur: { items: [], result: 0 },
        detteDiverse: { items: [], result: 0 },
      },
      anneeEnCours: 0,
    };
  },
  computed: {
    activeTva: function() {
        return this.paramTva.find((item) => item.active === true)
    },
    subTotalActifsCirculants() {
      return (
        this.dataSource.creance.result +
        this.dataSource.stockEnCours.result +
        this.dataSource.compteCourant.result
      );
    },
    subTotalActifsImmobilises() {
      return (
        this.dataSource.immoIncorporelle.result +
        this.dataSource.immoCorporelle.result +
        this.dataSource.immoFinanciere.result +
        this.dataSource.amortissementCorporelle.result
      );
    },
    totalActif() {
      return this.subTotalActifsCirculants + this.subTotalActifsImmobilises;
    },
    subTotalCapitauxPropres() {
      return this.dataSource.capital.result + this.dataSource.emprunt.result;
    },
    subTotalCapitauxPropresAvecResultatNet() {
      return this.subTotalCapitauxPropres + this.resultatNet;
    },
    subTotalDettes() {
      return (
        this.dataSource.detteFournisseur.result +
        this.dataSource.detteDiverse.result
      );
    },
    totalPassif() {
      return this.subTotalCapitauxPropres + this.subTotalDettes;
    },
    totalPassifAvecResultatNet() {
      return this.subTotalCapitauxPropresAvecResultatNet + this.subTotalDettes;
    },
    resultatNet() {
      return this.totalActif - this.totalPassif;
    },
  },
  methods: {
    isNullOrUndefined(something) {
      return isNullOrUndefined(something);
    },
    changeAnneeEnCours: function (value) {
      let loader = Vue.$loading.show();
      let annee = "annee0";
      this.anneeEnCours = value;
      // init dataSource ...
      for (let property in this.dataSource) {
        this.dataSource[property] = { items: [], result: 0 };
      }
      /* calcul de tous les totaux  */
      /* emprunts et subventions (seulement la premiere année) */
      this.calculSubTotalEmpruntBanque(this.ressources.emprunts["banque"]);
      this.calculSubTotalEmpruntMicroFin(
        this.ressources.emprunts["microfinance"]
      );
      this.calculSubTotalAidBanque(this.ressources["subventions-aides"].banque);
      this.calculSubTotalAidInstitution(
        this.ressources["subventions-aides"].institution
      );
      this.calculSubTotalAidAutre(this.ressources["subventions-aides"].autres);
      /** calcul des remboursements des emprunts */
      this.calculTotalRemboursAnnuelEmpruntBanque(
        this.ressources.emprunts["banque"]
      );
      this.calculTotalRemboursAnnuelEmpruntMicroFin(
        this.ressources.emprunts["microfinance"]
      );
      this.calculTotalRemboursAnnuelAidBanque(
        this.ressources["subventions-aides"].banque
      );
      this.calculTotalRemboursAnnuelAidInstitution(
        this.ressources["subventions-aides"].institution
      );
      this.calculTotalRemboursAnnuelAidAutre(
        this.ressources["subventions-aides"].autres
      );

      switch (value) {
        case 1: // bilan previsionnel de la 1ere année
          /** emprunt initial contracté */
          this.dataSource.emprunt.result =
            this.totalSubventionAide.montant +
            this.totalEmpruntBancaire.montant;
          this.dataSource.emprunt.items = this.ressources.emprunts["banque"]
            .concat(
              this.ressources.emprunts["microfinance"],
              this.ressources["subventions-aides"].banque,
              this.ressources["subventions-aides"].institution,
              this.ressources["subventions-aides"].autres
            )
            .map((item) => {
              return {
                titre: isNullOrUndefined(item.fournisseur)
                  ? item.creancier
                  : item.fournisseur,
                montant: item.montantPret,
              };
            });

          /** stocks en cours et creances clients  et dettes */
          this.calculSubTotalBfrStockAnnee1(this.besoins.bfr.stock);
          this.calculSubTotalBfrCreanceCliAnnee1(
            this.besoins.bfr.creanceClient
          );
          this.calculSubTotalBfrDetFourAnnee1(this.besoins.bfr.dettes);
          break;
        case 2: // bilan previsionnel de la 2e année
          annee = "annee1";
          /** stocks en cours et creances clients  et dettes */
          this.calculSubTotalBfrStockAnnee2(this.besoins.bfr.stock);
          this.calculSubTotalBfrCreanceCliAnnee2(
            this.besoins.bfr.creanceClient
          );
          this.calculSubTotalBfrDetFourAnnee2(this.besoins.bfr.dettes);
          break;
        case 3: // bilan previsionnel de la 3e année
          annee = "annee2";
          /** stocks en cours et creances clients  et dettes */
          this.calculSubTotalBfrStockAnnee3(this.besoins.bfr.stock);
          this.calculSubTotalBfrCreanceCliAnnee3(
            this.besoins.bfr.creanceClient
          );
          this.calculSubTotalBfrDetFourAnnee3(this.besoins.bfr.dettes);
          break;
      }

      /* capitaux (propre)  / sans provision */
      this.calculSubTotalCapAppNumeraire(this.ressources.capital.numeraire);
      this.calculSubTotalCapAppNature(this.ressources.capital.nature);
      this.dataSource.capital.items = this.ressources.capital.numeraire.concat(
        this.ressources.capital.nature
      );
      this.dataSource.capital.result =
        this.subTotalCapAppNature + this.subTotalCapAppNumeraire;
      /** fill immo incorporelle pour toutes les années */
      this.dataSource.immoIncorporelle.items = this.besoins.immoIncorporelle;
      this.calculTotalImmoIncorporelle(this.dataSource.immoIncorporelle.items);
      this.dataSource.immoIncorporelle.result = this.totalImmoIncorporelle;

      /* immo corporelle materiel informatique dépréciées */
      let materielInfo = [];
      this.besoins.immoCorporelle.materielinfo.forEach((item) => {
        // retrait de la valeur de l'amortissement
        let amortissementCumule =
          this.calculAmortissementUnitaireImmoCorporelle(item)[annee];
        materielInfo.push({
          prix: isNullOrUndefined(amortissementCumule)
            ? item.prix
            : item.prix - amortissementCumule,
          titre: item.titre,
          quantite: item.quantite,
        });
        // remplissage du tableau des amortissemens cumulés payés
        if (value > 1 && amortissementCumule > 0) {
          this.dataSource.amortissementCorporelle.items.push({
            prix: amortissementCumule,
            quantite: item.quantite,
            titre: item.titre,
          });
        }
      });
      /* immo corporelle mobilier dépréciées */
      let mobilier = [];
      this.besoins.immoCorporelle.mobilier.forEach((item) => {
        // retrait de la valeur de l'amortissement
        let amortissementCumule =
          this.calculAmortissementUnitaireImmoCorporelle(item)[annee];
        mobilier.push({
          prix: isNullOrUndefined(amortissementCumule)
            ? item.prix
            : item.prix - amortissementCumule,
          titre: item.titre,
          quantite: item.quantite,
        });
        // remplissage du tableau des amortissemens cumulés payés
        if (value > 1 && amortissementCumule > 0) {
          this.dataSource.amortissementCorporelle.items.push({
            prix: amortissementCumule,
            quantite: item.quantite,
            titre: item.titre,
          });
        }
      });
      /* immo corporelle machines / outils dépréciées */
      let materielMachineOutil = [];
      this.besoins.immoCorporelle["materiel-machine-outil"].forEach((item) => {
        // retrait de la valeur de l'amortissement
        let amortissementCumule =
          this.calculAmortissementUnitaireImmoCorporelle(item)[annee];
        materielMachineOutil.push({
          prix: isNullOrUndefined(amortissementCumule)
            ? item.prix
            : item.prix - amortissementCumule,
          titre: item.titre,
          quantite: item.quantite,
        });
        // remplissage du tableau des amortissemens cumulés payés
        if (value > 1 && amortissementCumule > 0) {
          this.dataSource.amortissementCorporelle.items.push({
            prix: amortissementCumule,
            quantite: item.quantite,
            titre: item.titre,
          });
        }
      });
      /* immo corporelle batiment / local dépréciées */
      let batimentLocalEspacevente = [];
      this.besoins.immoCorporelle["batiment-local-espacevente"].forEach(
        (item) => {
          // retrait de la valeur de l'amortissement
          let amortissementCumule =
            this.calculAmortissementUnitaireImmoCorporelle(item)[annee];
          batimentLocalEspacevente.push({
            prix: isNullOrUndefined(amortissementCumule)
              ? item.prix
              : item.prix - amortissementCumule,
            titre: item.titre,
            quantite: item.quantite,
          });
          // remplissage du tableau des amortissemens cumulés payés
          if (value > 1 && amortissementCumule > 0) {
            this.dataSource.amortissementCorporelle.items.push({
              prix: amortissementCumule,
              quantite: item.quantite,
              titre: item.titre,
            });
          }
        }
      );
      /* immo corporelle matériel roulant dépréciées */
      let voitureAutres = [];
      this.besoins.immoCorporelle["voiture-autres"].forEach((item) => {
        // retrait de la valeur de l'amortissement
        let amortissementCumule =
          this.calculAmortissementUnitaireImmoCorporelle(item)[annee];
        voitureAutres.push({
          prix: isNullOrUndefined(amortissementCumule)
            ? item.prix
            : item.prix - amortissementCumule,
          titre: item.titre,
          quantite: item.quantite,
        });
        // remplissage du tableau des amortissemens cumulés payés
        if (value > 1 && amortissementCumule > 0) {
          this.dataSource.amortissementCorporelle.items.push({
            prix: amortissementCumule,
            quantite: item.quantite,
            titre: item.titre,
          });
        }
      });
      /* calcul des totaux des immo corporelles de l'année en cours */
      this.calculSubTotalImmoCorpMatInfo(materielInfo);
      this.calculSubTotalImmoCorpMobilier(mobilier);
      this.calculSubTotalImmoCorpMatMachOutil(materielMachineOutil);
      this.calculSubTotalImmoCorpBatLocEspaceVente(batimentLocalEspacevente);
      this.calculSubTotalImmoCorpVoitAutre(voitureAutres);

      this.dataSource.immoCorporelle.result = this.totalImmoCorporelle.prix;
      this.dataSource.immoCorporelle.items = materielInfo.concat(
        mobilier,
        materielMachineOutil,
        batimentLocalEspacevente,
        voitureAutres
      );

      /* calcul des totaux des paiements des ammortissement corporelles */
      this.calculTotalAmortisAnnuelImmoCorpMatInfo(
        this.besoins.immoCorporelle.materielinfo
      );
      this.calculTotalAmortisAnnuelImmoCorpMobilier(
        this.besoins.immoCorporelle.mobilier
      );
      this.calculTotalAmortisAnnuelImmoCorpMatMachOutil(
        this.besoins.immoCorporelle["materiel-machine-outil"]
      );
      this.calculTotalAmortisAnnuelImmoCorpBatLocEspaceVente(
        this.besoins.immoCorporelle["batiment-local-espacevente"]
      );
      this.calculTotalAmortisAnnuelImmoCorpVoitAutre(
        this.besoins.immoCorporelle["voiture-autres"]
      );
      for (let i = value - 1; i >= 1; i--) {
        this.dataSource.amortissementCorporelle.result += isNullOrUndefined(
          this.totalAmortisCorporelleAnnuel["annee" + i]
        )
          ? 0
          : this.totalAmortisCorporelleAnnuel["annee" + i];
      }

      /* comptes courant */
      this.dataSource.compteCourant.items = this.ressources.comptes;
      this.calculTotalCompteAssocie(this.ressources.comptes);
      this.dataSource.compteCourant.result = this.totalCompteAssocie;

      // this.dataSource.stockEnCours = this.besoins.bfr.stocks.map()

      /* immo financiere */
      this.calculSubTotalImmoFinCaution(this.besoins.immoFinanciere.cautions);
      this.calculSubTotalImmoFinDepGarantie(this.besoins.immoFinanciere.depots);
      this.calculSubTotalImmoFinAutre(this.besoins.immoFinanciere.autres);
      this.dataSource.immoFinanciere.items =
        this.besoins.immoFinanciere.cautions.concat(
          this.besoins.immoFinanciere.depots,
          this.besoins.immoFinanciere.autres
        );
      this.dataSource.immoFinanciere.result = this.totalImmoFinanciere;

      /** total stocks de l'annee en cours */
      this.dataSource.stockEnCours.result =
        this.subTotalBfrStock["annee" + value];
      this.besoins.bfr.stock.forEach((stock) => {
        this.dataSource.stockEnCours.items.push({
          titre: stock.titre,
          montant: stock["annee" + value],
        });
      });
      /** total créances clients de l'annee en cours */
      this.dataSource.creance.result =
        this.subTotalBfrCreanceCli["annee" + value];
      this.besoins.bfr.creanceClient.forEach((creance) => {
        this.dataSource.creance.items.push({
          titre: creance.titre,
          montant: creance["annee" + value],
        });
      });
      /** total dettes fournisseurs (commerciale) année en cours */
      this.dataSource.detteFournisseur.result =
        this.subTotalBfrDetFour["annee" + value];
      this.besoins.bfr.dettes.forEach((dette) => {
        this.dataSource.detteFournisseur.items.push({
          titre: dette.titre,
          montant: dette["annee" + value],
        });
      });

      /** emprunt initial (annee1) ou déprécié après un an et plus */
      // calcul des remboursements annuels cumulés
      let remboursementAnnuelCumuleSubvention = 0;
      let remboursementAnnuelCumuleEmprunt = 0;
      for (let i = value - 1; i >= 1; i--) {
        remboursementAnnuelCumuleEmprunt += isNullOrUndefined(
          this.totalRemboursementAnnuelEmprunt["annee" + i]
        )
          ? 0
          : this.totalRemboursementAnnuelEmprunt["annee" + i].montant;
        remboursementAnnuelCumuleSubvention += isNullOrUndefined(
          this.totalRemboursementAnnuelSubvention["annee" + i]
        )
          ? 0
          : this.totalRemboursementAnnuelSubvention["annee" + i].montant;
      }

      this.dataSource.emprunt.result = Math.max(
        this.totalSubventionAide.montant -
          remboursementAnnuelCumuleSubvention +
          this.totalEmpruntBancaire.montant -
          remboursementAnnuelCumuleEmprunt,
        0
      );
      // concatenation des emprunts conctractés (banque|microfinance|subventions)
      this.ressources.emprunts["banque"]
        .concat(
          this.ressources.emprunts["microfinance"],
          this.ressources["subventions-aides"].banque,
          this.ressources["subventions-aides"].institution,
          this.ressources["subventions-aides"].autres
        )
        .forEach((item) => {
          let cumulRemboursement = 0;
          for (let i = value - 1; i >= 1; i--) {
            cumulRemboursement += isNullOrUndefined(
              this.calculRemboursement(item)["annee" + i]
            )
              ? 0
              : this.calculRemboursement(item)["annee" + i].montant;
          }
          this.dataSource.emprunt.items.push({
            titre: isNullOrUndefined(item.fournisseur)
              ? item.creancier
              : item.fournisseur,
            montant: Math.max(item.montantPret - cumulRemboursement, 0),
          });
          // remplissage du tbleau de dettes déja | en cours de remboursement
          this.dataSource.detteDiverse.items.push({
            titre: isNullOrUndefined(item.fournisseur)
              ? item.creancier
              : item.fournisseur,
            montant: this.calculRemboursement(item)["annee" + value].montant,
          });
          this.dataSource.detteDiverse.result =
            this.totalRemboursementAnnuelEmprunt["annee" + value].montant +
            this.totalRemboursementAnnuelSubvention["annee" + value].montant;
        });

      loader.hide();
    },
    headerTotaux() {
      return {
        circulants: this.subTotalActifsCirculants,
        immobilises: this.subTotalActifsImmobilises,
        capitauxPropres: this.subTotalCapitauxPropresAvecResultatNet,
        dettes: this.subTotalDettes,
        totalActif: this.totalActif,
        totalPassif: this.totalPassifAvecResultatNet,
      };
    },
    printPdf: async function () {
      this.$loading();
      const meta = await metaData(this.userId);
      this.$loading().close();
      const password = "1234";
      const swal = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-info",
          cancelButton: "btn btn-success ml-2",
        },
        buttonsStyling: false,
      });
      const pdf = new PdfBilanPrevisionnel(
        {
          data: {
            dataSource: this.dataSource,
            headerTotaux: this.headerTotaux(),
            resultatNet: this.resultatNet,
          },
          title:
            this.infoProjet.projettitre.toUpperCase() +
            " BILAN PREVISIONNEL HT",
        },
        {
          meta,
          projet: this.infoProjet.projettitre,
          password,
        }
      );
      swal
        .fire({
          showCancelButton: true,
          confirmButtonText: "Télécharger Pdf",
          cancelButtonText: "Annuler",
          // footer: `Mot de passe Pdf : ${password}`,
          showLoaderOnConfirm: true,
        })
        .then((result) => {
          if (result.value) {
            pdf.downloadPdf();
          }
        });
    },
  },
  created() {
    this.$route.params.data.forEach((item) => {
      if (item == "lire") {
        this.lire = true;
      }
      if (item == "telecharger") {
        this.telecharger = true;
      }
    });
    firebase
      .firestore()
      .collection("financier")
      .doc(this.projet)
      .get()
      .then((docSnap) => {
        if (docSnap.exists) {
          // tva parametree du projet
          if (!isEmpty(docSnap.get("parametres"))) {
            if (isEmpty(docSnap.get("parametres")["tva"])) {
              Toast.fire({
                type: "warning",
                title:
                  "Votre Projet n'a pas de Tva configurée, nous utiliserons un parametre par défaut",
                customClass: "bg-saphire",
              });
            } else {
              if (docSnap.get("parametres")["tva"].length > 0) {
                this.paramTva = docSnap.get("parametres")["tva"].map( item => new tva({...item}));
              }
            }
            // recuperer les charges patronales definies du projet
            if (!isEmpty(docSnap.get("parametres"))) {
              if (
                !isNullOrUndefined(docSnap.get("parametres")["chargePatronale"])
              ) {
                // affectation directe
                this.chargeSocialeEmploye =
                  docSnap.get("parametres")["chargePatronale"].employe;
                this.chargeSocialeDirigeant =
                  docSnap.get("parametres")["chargePatronale"].dirigeant;
              }
            }
          }
          // definition HT pour les besoins
          if (!isEmpty(docSnap.get("besoins"))) {
            // immobilisations incorporelles
            if (!isEmpty(docSnap.get("besoins")["immoIncorporelle"])) {
              this.besoins["immoIncorporelle"] = docSnap
                .get("besoins")
                ["immoIncorporelle"].map((item) =>
                  convertFieldToHT(
                    item,
                    "prix",
                    this.activeTva.value / 100,
                    this.currentCurrencyMask[":precision"]
                  )
                );
            }
            // immo corporelle
            if (!isEmpty(docSnap.get("besoins")["immoCorporelle"])) {
              // materiel informatique
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"]["materielinfo"]
                )
              ) {
                this.besoins["immoCorporelle"]["materielinfo"] = docSnap
                  .get("besoins")
                  ["immoCorporelle"]["materielinfo"].map((item) =>
                    convertFieldToHT(
                      item,
                      "prix",
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // mobilier
              if (
                !isEmpty(docSnap.get("besoins")["immoCorporelle"]["mobilier"])
              ) {
                this.besoins["immoCorporelle"]["mobilier"] = docSnap
                  .get("besoins")
                  ["immoCorporelle"]["mobilier"].map((item) =>
                    convertFieldToHT(
                      item,
                      "prix",
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // materiel-machine-outils
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"][
                    "materiel-machine-outil"
                  ]
                )
              ) {
                this.besoins["immoCorporelle"]["materiel-machine-outil"] =
                  docSnap
                    .get("besoins")
                    ["immoCorporelle"]["materiel-machine-outil"].map((item) =>
                      convertFieldToHT(
                        item,
                        "prix",
                        this.activeTva.value / 100,
                        this.currentCurrencyMask[":precision"]
                      )
                    );
              }
              // batiment-local-espacevente
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"][
                    "batiment-local-espacevente"
                  ]
                )
              ) {
                this.besoins["immoCorporelle"]["batiment-local-espacevente"] =
                  docSnap
                    .get("besoins")
                    ["immoCorporelle"]["batiment-local-espacevente"].map(
                      (item) =>
                        convertFieldToHT(
                          item,
                          "prix",
                          this.activeTva.value / 100,
                          this.currentCurrencyMask[":precision"]
                        )
                    );
              }
              // voiture-autres
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"]["voiture-autres"]
                )
              ) {
                this.besoins["immoCorporelle"]["voiture-autres"] = docSnap
                  .get("besoins")
                  ["immoCorporelle"]["voiture-autres"].map((item) =>
                    convertFieldToHT(
                      item,
                      "prix",
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
            }
            // bfr
            if (!isEmpty(docSnap.get("besoins")["bfr"])) {
              // bfr ouverture
              if (!isEmpty(docSnap.get("besoins")["bfr"]["bfrOuverture"])) {
                this.besoins["bfr"]["bfrOuverture"] = docSnap
                  .get("besoins")
                  ["bfr"]["bfrOuverture"].map((item) =>
                    convertFieldToHT(
                      item,
                      "coutMensuel",
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // stocks
              if (!isEmpty(docSnap.get("besoins")["bfr"]["stock"])) {
                this.besoins["bfr"]["stock"] = docSnap
                  .get("besoins")
                  ["bfr"]["stock"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["annee1", "annee2", "annee3"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // creance client
              if (!isEmpty(docSnap.get("besoins")["bfr"]["creanceClient"])) {
                this.besoins["bfr"]["creanceClient"] = docSnap
                  .get("besoins")
                  ["bfr"]["creanceClient"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["annee1", "annee2", "annee3"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // dettes
              if (!isEmpty(docSnap.get("besoins")["bfr"]["dettes"])) {
                this.besoins["bfr"]["dettes"] = docSnap
                  .get("besoins")
                  ["bfr"]["dettes"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["annee1", "annee2", "annee3"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
            }
            // immo financiere
            if (!isEmpty(docSnap.get("besoins")["immoFinanciere"])) {
              // cautions
              if (
                !isEmpty(docSnap.get("besoins")["immoFinanciere"]["cautions"])
              ) {
                this.besoins["immoFinanciere"]["cautions"] = docSnap
                  .get("besoins")
                  ["immoFinanciere"]["cautions"].map((item) =>
                    convertFieldToHT(
                      item,
                      "montant",
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // depots de garantie
              if (
                !isEmpty(docSnap.get("besoins")["immoFinanciere"]["depots"])
              ) {
                this.besoins["immoFinanciere"]["depots"] = docSnap
                  .get("besoins")
                  ["immoFinanciere"]["depots"].map((item) =>
                    convertFieldToHT(
                      item,
                      "montant",
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // autres
              if (
                !isEmpty(docSnap.get("besoins")["immoFinanciere"]["autres"])
              ) {
                this.besoins["immoFinanciere"]["autres"] = docSnap
                  .get("besoins")
                  ["immoFinanciere"]["autres"].map((item) =>
                    convertFieldToHT(
                      item,
                      "montant",
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
            }
          }

          // definition HT pour les ressources
          if (!isEmpty(docSnap.get("ressources"))) {
            // capital
            if (!isEmpty(docSnap.get("ressources")["capital"])) {
              // numeraire
              if (!isEmpty(docSnap.get("ressources")["capital"]["numeraire"])) {
                this.ressources["capital"]["numeraire"] = docSnap
                  .get("ressources")
                  ["capital"]["numeraire"].map((item) =>
                    convertFieldToHT(
                      item,
                      "montant",
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // nature
              if (!isEmpty(docSnap.get("ressources")["capital"]["nature"])) {
                this.ressources["capital"]["nature"] = docSnap
                  .get("ressources")
                  ["capital"]["nature"].map((item) =>
                    convertFieldToHT(
                      item,
                      "montant",
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
            }
            // comptes courants associes
            if (!isEmpty(docSnap.get("ressources")["comptes"])) {
              this.ressources["comptes"] = docSnap
                .get("ressources")
                ["comptes"].map((item) =>
                  convertFieldToHT(
                    item,
                    "montant",
                    this.activeTva.value / 100,
                    this.currentCurrencyMask[":precision"]
                  )
                );
            }
            // emprunts
            if (!isEmpty(docSnap.get("ressources")["emprunts"])) {
              // banque
              if (!isEmpty(docSnap.get("ressources")["emprunts"]["banque"])) {
                this.ressources["emprunts"]["banque"] = docSnap
                  .get("ressources")
                  ["emprunts"]["banque"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["montantPret", "montantRemboursement"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // microfinance
              if (
                !isEmpty(docSnap.get("ressources")["emprunts"]["microfinance"])
              ) {
                this.ressources["emprunts"]["microfinance"] = docSnap
                  .get("ressources")
                  ["emprunts"]["microfinance"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["montantPret", "montantRemboursement"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
            }
            // subventions-aides
            if (!isEmpty(docSnap.get("ressources")["subventions-aides"])) {
              // banque
              if (
                !isEmpty(
                  docSnap.get("ressources")["subventions-aides"]["banque"]
                )
              ) {
                this.ressources["subventions-aides"]["banque"] = docSnap
                  .get("ressources")
                  ["subventions-aides"]["banque"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["montantPret", "montantRemboursement"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // institution
              if (
                !isEmpty(
                  docSnap.get("ressources")["subventions-aides"]["institution"]
                )
              ) {
                this.ressources["subventions-aides"]["institution"] = docSnap
                  .get("ressources")
                  ["subventions-aides"]["institution"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["montantPret", "montantRemboursement"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // autres
              if (
                !isEmpty(
                  docSnap.get("ressources")["subventions-aides"]["autres"]
                )
              ) {
                this.ressources["subventions-aides"]["autres"] = docSnap
                  .get("ressources")
                  ["subventions-aides"]["autres"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["montantPret", "montantRemboursement"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
            }
          }
          // definition HT pour les produits
          if (!isEmpty(docSnap.get("produits"))) {
            // calcul du chiffre d'affaires articles
            if (!isEmpty(docSnap.get("produits")["articles"])) {
              this.produits.articles = docSnap.get("produits")["articles"];
            }
            // volume de vente
            if (!isEmpty(docSnap.get("produits")["volumeVente"])) {
              this.produits["volumeVente"] =
                docSnap.get("produits")["volumeVente"];
            }
            // resultats exceptionnels
            if (!isEmpty(docSnap.get("produits")["resultatsExceptionnels"])) {
              // entrees
              if (
                !isEmpty(
                  docSnap.get("produits")["resultatsExceptionnels"]["entrees"]
                )
              ) {
                this.produits["resultatsExceptionnels"]["entrees"] =
                  docSnap.get("produits")["resultatsExceptionnels"]["entrees"];
              }
              // sorties
              if (
                !isEmpty(
                  docSnap.get("produits")["resultatsExceptionnels"]["sorties"]
                )
              ) {
                this.produits["resultatsExceptionnels"]["sorties"] =
                  docSnap.get("produits")["resultatsExceptionnels"]["sorties"];
              }
            }
          }

          /**
           ** Calcul du remboursement emprunt
           **/

          // definition HT pour les charges
          if (!isEmpty(docSnap.get("charges"))) {
            // services exterieurs
            if (!isEmpty(docSnap.get("charges")["services-exterieurs"])) {
              this.charges["services-exterieurs"] = docSnap
                .get("charges")
                ["services-exterieurs"].map((item) =>
                  convertFieldToHT(
                    item,
                    ["annee1", "annee2", "annee3", "prix"],
                    this.activeTva.value / 100,
                    this.currentCurrencyMask[":precision"]
                  )
                );
            }
            // frais de personnel
            if (!isEmpty(docSnap.get("charges")["frais-personnel"])) {
              // stagiaires
              if (
                !isEmpty(
                  docSnap.get("charges")["frais-personnel"]["stagiaires"]
                )
              ) {
                this.charges["frais-personnel"]["stagiaires"] = docSnap
                  .get("charges")
                  ["frais-personnel"]["stagiaires"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["annee1", "annee2", "annee3", "salaire"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // salaries
              if (
                !isEmpty(docSnap.get("charges")["frais-personnel"]["salaries"])
              ) {
                this.charges["frais-personnel"]["salaries"] = docSnap
                  .get("charges")
                  ["frais-personnel"]["salaries"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["annee1", "annee2", "annee3", "salaire"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // dirigeants
              if (
                !isEmpty(
                  docSnap.get("charges")["frais-personnel"]["dirigeants"]
                )
              ) {
                this.charges["frais-personnel"]["dirigeants"] = docSnap
                  .get("charges")
                  ["frais-personnel"]["dirigeants"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["annee1", "annee2", "annee3", "salaire"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
            }
            // taxes et impots
            if (!isEmpty(docSnap.get("charges")["taxes-impots"])) {
              // impots
              if (!isEmpty(docSnap.get("charges")["taxes-impots"]["impots"])) {
                this.charges["taxes-impots"]["impots"] = docSnap
                  .get("charges")
                  ["taxes-impots"]["impots"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["annee1", "annee2", "annee3", "prix"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
              // mairie
              if (!isEmpty(docSnap.get("charges")["taxes-impots"]["mairie"])) {
                this.charges["taxes-impots"]["mairie"] = docSnap
                  .get("charges")
                  ["taxes-impots"]["mairie"].map((item) =>
                    convertFieldToHT(
                      item,
                      ["annee1", "annee2", "annee3", "prix"],
                      this.activeTva.value / 100,
                      this.currentCurrencyMask[":precision"]
                    )
                  );
              }
            }
            // depenses produits
            if (
              !isEmpty(
                docSnap.get("charges")["matieres-premieres"][
                  "depenses-produits"
                ]
              )
            ) {
              this.charges["matieres-premieres"]["depenses-produits"] = docSnap
                .get("charges")
                ["matieres-premieres"]["depenses-produits"].map((item) =>
                  convertFieldToHT(
                    item,
                    ["annee1", "annee2", "annee3", "prix"],
                    this.activeTva.value / 100,
                    this.currentCurrencyMask[":precision"]
                  )
                );
            }
            // charges variables
            if (
              !isEmpty(
                docSnap.get("charges")["matieres-premieres"][
                  "charges-variables-produits"
                ]
              )
            ) {
              this.charges["matieres-premieres"]["charges-variables-produits"] =
                docSnap.get("charges")["matieres-premieres"][
                  "charges-variables-produits"
                ];
            }
          }
        }
        this.$loading().close();
      })
      .catch((error) => {
        this.$loading().close();
        switch (error.code) {
          case "unavailable":
            Swal.fire(
              "erreur ",
              '<span class="text-danger text-bold">Pas de connexion internet</span>',
              "error"
            );
            break;
        }
      })
      .then((value) => {
        // calcul du bilan initial
        this.changeAnneeEnCours(1);
        this.$loading().close();
      });
  },
};
</script>
