<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row card">
                <div class="col-lg-12 col-xlg-12 col-md-12">
                    <div class="card-body p-3">
                        <h2 class="head-line"><center>Ech&eacute;anciers de prêts bancaires</center></h2>
                    </div>
                </div>
                <!-- Row -->
                <div class="col-lg-12 col-xlg-12 col-md-12">
                    <div class="row">
                        <!-- Column -->
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="d-flex no-block align-items-center">
                                            <h4 class="card-title">Banque</h4>
                                            <div class="ml-auto">
                                                <select class="custom-select">
                                                    <option selected="">January</option>
                                                    <option value="1">February</option>
                                                    <option value="2">March</option>
                                                    <option value="3">April</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-title">
                                        <div class="d-flex no-block align-items-center">
                                            <div>
                                                <h4 class="card-title m-b-0">Emprunts</h4>
                                            </div>
                                            <div class="ml-auto">
                                                <select class="custom-select">
                                                    <option selected="">March</option>
                                                    <option value="1">February</option>
                                                    <option value="2">May</option>
                                                    <option value="3">April</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- details du pret bancaire -->
                                    <div class="container-fluid">
                                        <div class="m-b-2">
                                            <div class="no-block d-flex d-flex-row m-b-0">
                                                <label class="control-label text-left m-b-0">Montant du prêt :</label>
                                                <div class="m-b-0 ml-auto">
                                                    <p class="form-control-static">
                                                        <vue-numeric
                                                            :currency="currentCurrencyMask['currency']"
                                                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                            output-type="String"
                                                            empty-value=0
                                                            :precision="currentCurrencyMask['precision']"
                                                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                            read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                            read-only
                                                            value=0 >
                                                        </vue-numeric>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-b-0 m-t-3">
                                            <div class="d-flex no-block d-flex-row m-b-0">
                                                <div>
                                                    <h5 class="m-b-0">Taux d'intérêt annuel :</h5>
                                                </div>
                                                <div class="m-b-0 ml-auto">
                                                    <p class="form-control-static"> 12%</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-b-0 d-flex d-flex-row m-t-3">
                                            <div>
                                                <h5 class="m-b-0">Durée du prêt (en années) :</h5>
                                            </div>
                                            <div class="m-b-0 ml-auto">
                                                <p class="form-control-static"> 2 ans</p>
                                            </div>
                                        </div>
                                        <div class="m-b-0 d-flex d-flex-row">
                                            <div>
                                                <h5 class="m-b-0">Nombre de paiements par an :</h5>
                                            </div>
                                            <div class="m-b-0 ml-auto">
                                                <p class="form-control-static"> 12</p>
                                            </div>
                                        </div>
                                        <div class="m-b-3">
                                            <div class="no-block d-flex d-flex-row m-b-0">
                                                <div>
                                                    <h5 class="m-b-0">Nombre total d'échéances :</h5>
                                                </div>
                                                <div class="m-b-0 ml-auto">
                                                    <p class="form-control-static"> 24 </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-b-0 mt-3">
                                            <div class="d-flex no-block d-flex-row m-b-0">
                                                <label class="control-label text-left m-b-0">Paiement par échéance :</label>
                                                <div class="m-b-0 ml-auto">
                                                    <p class="form-control-static">
                                                        <vue-numeric
                                                            :currency="currentCurrencyMask['currency']"
                                                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                            output-type="String"
                                                            empty-value=0
                                                            :precision="currentCurrencyMask['precision']"
                                                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                            read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                            read-only
                                                            value=0 >
                                                        </vue-numeric>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-b-0">
                                            <div class="d-flex d-flex-row m-b-0 no-block">
                                                <label class="control-label text-left m-b-0">Total des int&eacute;rêts vers&eacute;s :</label>
                                                <div class="m-b-0 ml-auto">
                                                    <p class="form-control-static">
                                                        <vue-numeric
                                                            :currency="currentCurrencyMask['currency']"
                                                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                            output-type="String"
                                                            empty-value=0
                                                            :precision="currentCurrencyMask['precision']"
                                                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                            read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                            read-only
                                                            value=0 >
                                                        </vue-numeric>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-b-0">
                                            <div class="d-flex d-flex-row m-b-0 no-block" >
                                                <label class="control-label text-left m-b-0">Total des paiements:</label>
                                                <div class="m-b-0 ml-auto">
                                                    <p class="form-control-static">
                                                        <vue-numeric
                                                            :currency="currentCurrencyMask['currency']"
                                                            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                            output-type="String"
                                                            empty-value=0
                                                            :precision="currentCurrencyMask['precision']"
                                                            :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                            read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                            read-only
                                                            value=0 >
                                                        </vue-numeric>
                                                    </p>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row">
                                        <table data-toggle="table" data-height="250" data-mobile-responsive="true" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th><h4><center>Ann&eacute;e</center></h4></th>
                                                    <th><h4><center>Capital</center></h4></th>
                                                    <th><h4><center>Int&eacute;rêt</center></h4></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2018</td>
                                                    <td>
                                                        <center>
                                                            <vue-numeric
                                                                :currency="currentCurrencyMask['currency']"
                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                output-type="String"
                                                                empty-value=0
                                                                :precision="currentCurrencyMask['precision']"
                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                                read-only
                                                                value=0 >
                                                            </vue-numeric>
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            <vue-numeric
                                                                :currency="currentCurrencyMask['currency']"
                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                output-type="String"
                                                                empty-value=0
                                                                :precision="currentCurrencyMask['precision']"
                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                                read-only
                                                                value=0 >
                                                            </vue-numeric>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"> <center> Ech&eacute;ancier mensuel de remboursement </center> </h4>
                                    <div class="d-flex flex-row table-responsive">
                                        <table data-toggle="table" data-height="250" data-mobile-responsive="true" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th><h4><center>Échéance</center></h4></th>
                                                    <th><h4><center>Paiement</center></h4></th>
                                                    <th><h4><center>Capital</center></h4></th>
                                                    <th><h4><center>Intérêts</center></h4></th>
                                                    <th><h4><center>Total des intérêts versés</center></h4></th>
                                                    <th><h4><center>Montant à rembourser</center></h4></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> Mois 1</td>
                                                    <td>
                                                        <center>
                                                            <vue-numeric
                                                                :currency="currentCurrencyMask['currency']"
                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                output-type="String"
                                                                empty-value=0
                                                                :precision="currentCurrencyMask['precision']"
                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                                read-only
                                                                value=0 >
                                                            </vue-numeric>
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            <vue-numeric
                                                                :currency="currentCurrencyMask['currency']"
                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                output-type="String"
                                                                empty-value=0
                                                                :precision="currentCurrencyMask['precision']"
                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                                read-only
                                                                value=0 >
                                                            </vue-numeric>
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            <vue-numeric
                                                                :currency="currentCurrencyMask['currency']"
                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                output-type="String"
                                                                empty-value=0
                                                                :precision="currentCurrencyMask['precision']"
                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                                read-only
                                                                value=0 >
                                                            </vue-numeric>
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            <vue-numeric
                                                                :currency="currentCurrencyMask['currency']"
                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                output-type="String"
                                                                empty-value=0
                                                                :precision="currentCurrencyMask['precision']"
                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                                read-only
                                                                value=0 >
                                                            </vue-numeric>
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            <vue-numeric
                                                                :currency="currentCurrencyMask['currency']"
                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                output-type="String"
                                                                empty-value=0
                                                                :precision="currentCurrencyMask['precision']"
                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                                                                read-only
                                                                value=0 >
                                                            </vue-numeric>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Column -->
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
    </div>

</template>

<style scoped>
    @import '../../../../../../resources/assets/sass/financier.scss';
    @import '../../../../../../resources/assets/sass/tiny-inputs.scss';
</style>

<script>
    import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import VueNumeric from 'vue-numeric'
    import currenciesMaskMixin from '../mixins/currenciesMask'

    // Import component for loading
    import Loading from 'vue-loading-overlay';
    // Import stylesheet for loading
    import 'vue-loading-overlay/dist/vue-loading.css';
    // import des fonctions de calculs des besoins et ressources:
    import produitsCalculator from "../mixins/financier/produits"
    import chargesCalculator from "../mixins/financier/charges"

    // elements de menus
    import AppHeader from '../../../layouts/header-bp-suivi.vue'
    import AppFooter from '../../../layouts/footer-bp.vue'
    import sideMenu from '../../../layouts/sidebar-financier'

    import firebase from 'firebase'

    export default {
        components: {
            VueNumeric, AppHeader, AppFooter, sideMenu
        },
        mixins: [produitsCalculator, chargesCalculator, currenciesMaskMixin],
        data() {
            return {
              projet: JSON.parse(localStorage.getItem('userSession')).projet
            }
        },

    }
</script>
