<template>
  <div class="page-main recap-main">
    <div class="container-fluid">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">
                Provisions et dépreciations inscrites au bilan
            </h3>
        </div>
        <div class="table-responsive">
            <table
            class="table color-bordered-table default-bordered-table"
            >
                <thead>
                    <tr>
                        <th width="30%" scope="col" class="th-left">
                            Situation
                            <hr>
                            Nature
                        </th>
                        <th width="20%" scope="col" class="text-center">
                        Provision à l'ouverture de l'exercice
                        </th>
                        <th width="20%" scope="col" class="text-right-tab">Dotation</th>
                        <th width="20%" scope="col" class="text-right-tab">Reprise</th>
                        <th width="10%" scope="col">Solde</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="head-provision">
                        <td>
                            1. Provision réglémentées
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="head-provision">
                        <td>
                            2. Provision des immobilisations
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>                           
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="head-provision">
                        <td>
                            3. Dépréciations des immobilisations
                        </td>
                        <td>
                            0
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>                          
                    </tr>
                    <tr
                        class="subline"
                        v-for="(deprecier, index) in subtline"
                        :key="'deprecierinfo-' + index"
                        >
                        <td>
                            {{ deprecier }}
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                        <td>
                            <input
                                v-model="value"
                                type="number"
                                class="text-dark form-control text-right"
                            />
                        </td>
                    </tr>
                    <!-- total -->
                    <tr class="table-group-header">
                        <td>Total provisions pour risques</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td><span>4. Dépréciations des stocks</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr>
                        <td><span>5. Dépréciations actif circulant HAO</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr>
                        <td><span>6. Dépréciations fournisseurs</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr>
                        <td><span>7. Dépréciations clients</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr>
                        <td><span>8. Dépréciations des autres créances</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr>
                        <td><span>9. Dépréciations des titres de placement</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr>
                        <td><span>10. Dépréciations des valeurs à encaisser</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr>
                        <td><span>11. Dépréciations disponibilité</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr>
                        <td><span>12. Dépréciations et provisions pour risques à court termes exploitation</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr>
                        <td><span>12. Dépréciations et provisions pour risques à court termes à carctère financier</span></td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                        <td>
                            <input
                                    v-model="value"
                                    type="number"
                                    class="text-dark form-control text-right"
                                />
                        </td>
                    </tr>
                    <tr class="table-group-header">
                        <td>Total charges pour dépreciations et provisions à court terme</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex d-flex-row p-1 bg-grey my-3 business-summary">
            <div class="col-sm col-lg-4 text-left">
            <h5
                class="mt-2 text-capitalize font-weight-bold"
            >
                <span class="mx-1">TOTAL PROVISIONS ET DEPRECIATIONS</span>
            </h5>
            </div>
            <div class="col-sm text-right">
            <span class="float-left d-md-none text-white"
                >Initial 1:</span
            >
            0
            </div>
            <div class="col-sm text-right">
            <span class="float-left d-md-none text-white"
                >Annee 1:</span
            >
            0
            </div>
            <div class="col-sm text-right">
            <span class="float-left d-md-none text-white"
                >Annee 2:</span
            >
            0
            </div>
            <div class="col-sm text-right">
            <span class="float-left d-md-none text-white"
                >Annee 3:</span
            >
            0
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import VueNumeric from "vue-numeric"
export default {
    VueNumeric,
    name: 'provision-table',
    data(){
        return{
            value: 0,
            subtline:[
                    "Dépréciation des immobilisations incorporelles",
                    "Dépréciation des terrains",                       
                    "Dépréciation du matériel, du mobiliser et de l'actif biologique",
                    "Dépréciation des avancs et acomptes versées sur immobilisations",
                    "Dépréciation des titres de participation",
                    "Dépréciation des autres immobilisations financières"
                ]
        }
    },
    mounted(){
            this.$loading().close();
    }
}
</script>

<style scoped>
    .page-main h3 {
    font-weight: 600;
    color: #1976d2;
    }
    .head-provision{
        color: rgb(79, 79, 79);
        background-image: linear-gradient(to right, rgba(158, 158, 158, 0.27), rgb(255, 255, 255) 100%);
        font-weight: 600;
    }
    td, th{
        vertical-align: middle !important;
    }
    th{
        text-align: center;
        background-color: rgba(164, 196, 238, 0.25);
        color: #034091;
    }
    td{
        text-align: right;
        color: rgb(40, 40, 40);
        font-weight: 400;
        padding: .21rem;
        min-height: calc(1.24rem + 2px) !important;
    }
    td span{
        display: inline-block;
        padding: .75rem;
    }
    td:first-child, th:first-child{
        text-align: left;
    }
    td li{
        color: #67757c;
        padding: .75rem;
    }
    .subline td:first-child{
        padding-left: 20px;
    }
    .th-left{
        text-align: left;
        position: relative;
    }
    hr{
        margin: 0 !important;
        border-top: 1px solid #034091;
    }
    .th-left span:first-child{
        position: absolute;
        right: 0;
    }
    .business-summary{
        background: #eee;
        align-items: center;
        border-radius: 3px;
        border: 1px solid #ccc;
    }
    .page-main tr.table-group-header {
    background-image: linear-gradient(to right, rgba(158, 158, 158, 0.52), rgb(255, 255, 255) 100%) !important;
    }
    .page-main input.form-control{
        min-height: 30px !important;
        height: calc(1.25rem + 2px) !important;
        padding: 0.155rem 0.4rem !important;
        font-size: 0.86rem;
        border: 1px solid rgba(164, 196, 238, 0.36);
        border-radius: 1px !important;
    }
</style>