<template>
  <div class="page-wrapper mt-1">
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- Row -->
      <div class="card mb-3">
        <div class="card-body p-1">
          <h2>
            <center class="bg-shade-solde">
              Soldes Interm&eacute;diaires de Gestion (HT)
            </center>
          </h2>
          <div class="d-flex d-flex-row mt-3">
            <!-- en-tete de la page -->
            <div class="col-sm text-left">
              <h4 class="font-weight-bold">Années d'exercices</h4>
            </div>
            <div class="col-sm text-right">
              <h4 class="font-weight-bold">{{ annee1 }}</h4>
            </div>
            <div class="col-sm text-right">
              <h4 class="font-weight-bold">{{ annee2 }}</h4>
            </div>
            <div class="col-sm text-right">
              <h4 class="font-weight-bold">{{ annee3 }}</h4>
            </div>
            <!-- /en-tete -->
          </div>
        </div>
      </div>

      <b-card v-if="lire" no-body class="mb-2">
        <b-card-body>
          <!-- chiffre d'affaires -->
          <div class="d-flex d-flex-row mt-3 bg-shade-solde">
            <div
              class="col-sm col-lg-4 text-left text-uppercase bg-shade-solde"
            >
              <h4 class="font-weight-bold">Chiffre d'Affaires</h4>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalChiffreAffaireHT.annee1.montant"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalChiffreAffaireHT.annee2.montant"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalChiffreAffaireHT.annee3.montant"
              >
              </vue-numeric>
            </div>
          </div>
          <!-- Achats Consommes -->
          <div class="d-flex d-flex-row">
            <div class="col-sm col-lg-4 text-left">
              <i class="fa fa-minus mr-1"></i>Achats Consomm&eacute;s
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalAchatMpDepVariable.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalAchatMpDepVariable.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalAchatMpDepVariable.annee3"
              >
              </vue-numeric>
            </div>
          </div>

          <!-- marge brute commerciale -->
          <div class="d-flex d-flex-row mt-3 bg-shade-solde">
            <div
              class="col-sm col-lg-4 text-left text-uppercase bg-shade-solde"
            >
              <h4 class="font-weight-bold">Marge Brute Commerciale</h4>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="margeBruteCommerciale.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="margeBruteCommerciale.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="margeBruteCommerciale.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <!-- Services Ext&eacute;rieurs -->
          <div class="d-flex d-flex-row">
            <div class="col-sm col-lg-4 text-left">
              <i class="fa fa-minus mr-1"></i>Services Ext&eacute;rieurs
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalServExtFrais.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalServExtFrais.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalServExtFrais.annee3"
              >
              </vue-numeric>
            </div>
          </div>

          <!-- valeur ajoutee -->
          <div class="d-flex d-flex-row bg-shade-solde">
            <div
              class="col-sm col-lg-4 text-left text-uppercase bg-shade-solde"
            >
              <h4 class="font-weight-bold">Valeur Ajout&eacute;e</h4>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="valeurAjoutee.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="valeurAjoutee.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="valeurAjoutee.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <!-- Impôts et Taxes -->
          <div class="d-flex d-flex-row">
            <div class="col-sm col-lg-4 text-left">
              <i class="fa fa-minus mr-1"></i>Impôts et Taxes
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalTaxeImpot.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalTaxeImpot.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalTaxeImpot.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <!-- Frais du Personnel -->
          <div class="d-flex d-flex-row">
            <div class="col-sm col-lg-4 text-left">
              <i class="fa fa-minus mr-1"></i>Frais du Personnel
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalFraisPersonnel.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalFraisPersonnel.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalFraisPersonnel.annee3"
              >
              </vue-numeric>
            </div>
          </div>

          <!-- excedent brut d'exploitation -->
          <div class="d-flex d-flex-row bg-shade-solde">
            <div
              class="col-sm col-lg-4 text-left text-uppercase bg-shade-solde"
            >
              <h4 class="font-weight-bold">
                Exc&eacute;dent Brut d'Exploitation
              </h4>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="excedentBrutExploitation.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="excedentBrutExploitation.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="excedentBrutExploitation.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <!-- Dotation aux amortissements -->
          <div class="d-flex d-flex-row">
            <div class="col-sm col-lg-4 text-left">
              <i class="fa fa-minus mr-1"></i>Dotation aux amortissements
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalAmortisCorporelleAnnuel.annee1 + totalAmortisIncorporelleAnnuel.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalAmortisCorporelleAnnuel.annee2 + totalAmortisIncorporelleAnnuel.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalAmortisCorporelleAnnuel.annee3 + totalAmortisIncorporelleAnnuel.annee3"
              >
              </vue-numeric>
            </div>
          </div>

          <!-- resultat brut d'exploitation -->
          <div class="d-flex d-flex-row mt-3 bg-shade-solde">
            <div
              class="col-sm col-lg-4 text-left text-uppercase bg-shade-solde"
            >
              <h4 class="font-weight-bold">
                R&eacute;sultat Brut d'Exploitation
              </h4>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatBrutExploitation.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatBrutExploitation.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatBrutExploitation.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <!-- resultat Financier -->
          <div class="d-flex d-flex-row">
            <div class="col-sm col-lg-4 text-left">
              <i class="fa fa-plus mr-1"></i>Produits Financiers
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="this.subTotalProduitsFinanciers.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="this.subTotalProduitsFinanciers.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="this.subTotalProduitsFinanciers.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <!-- Charges Financières -->
          <div class="d-flex d-flex-row">
            <div class="col-sm col-lg-4 text-left">
              <i class="fa fa-minus mr-1"></i>Charges financi&egrave;res
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalInterets.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalInterets.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalInterets.annee3"
              >
              </vue-numeric>
            </div>
          </div>

          <!-- Resultats courants -->
          <div class="d-flex d-flex-row mt-3 bg-shade-solde">
            <div
              class="col-sm col-lg-4 text-left text-uppercase bg-shade-solde"
            >
              <h4 class="font-weight-bold">R&eacute;sultat Courant</h4>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatCourant.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatCourant.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatCourant.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <!-- solde exceptionnelles -->
          <div class="d-flex d-flex-row">
            <div class="col-sm col-lg-4 text-left">
              <i class="fa fa-plus mr-1"></i>Solde exceptionnel
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalSoldeExceptionnel.annee1.montant"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalSoldeExceptionnel.annee2.montant"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="totalSoldeExceptionnel.annee3.montant"
              >
              </vue-numeric>
            </div>
          </div>

          <!-- resultat net avant impot -->
          <div class="d-flex d-flex-row mt-3 bg-shade-solde">
            <div
              class="col-sm col-lg-4 text-left text-uppercase bg-shade-solde"
            >
              <h4 class="font-weight-bold">R&eacute;sultat Courant Avant Impôts</h4>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatCourantAvantImpot.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatCourantAvantImpot.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatCourantAvantImpot.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <!-- impots regalien -->
          <div class="d-flex d-flex-row">
            <div class="col-sm col-lg-4 text-left">
              <i class="fa fa-minus mr-1"></i>Impôts <small>({{this.impotFiscal}}%)</small> sur mes
              b&eacute;n&eacute;fices
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="impotSurBenefice.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="impotSurBenefice.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="impotSurBenefice.annee3"
              >
              </vue-numeric>
            </div>
          </div>

          <!-- resultat apres impots regalien -->
          <div class="d-flex d-flex-row mt-3 mb-3 bg-shade-solde">
            <div
              class="col-sm col-lg-4 text-left text-uppercase bg-shade-solde"
            >
              <h4 class="font-weight-bold">
                R&eacute;sultat Net Apr&egrave;s Impôts
              </h4>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatNetApresImpots.annee1"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatNetApresImpots.annee2"
              >
              </vue-numeric>
            </div>
            <div class="col-sm text-right bg-shade-solde">
              <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="
                  currentCurrencyMask['currency-symbol-position']
                "
                output-type="String"
                empty-value="0"
                :precision="currentCurrencyMask[':precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="font-weight-bold"
                v-bind:min="currentCurrencyMask.min"
                read-only
                :value="resultatNetApresImpots.annee3"
              >
              </vue-numeric>
            </div>
          </div>
          <div class="p-1">
              <a href="#" @click.prevent="printPdf()">
                  <boutonDownloadPdf  
                      v-if="telecharger" 
                      :titre-projet="this.infoProjet.projettitre"
                      element-telecharger="SOLDES INTERMEDIAIRES DE GESTION"
                  />
              </a>
          </div>
        </b-card-body>
      </b-card>
      <!-- Row -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
    </div>
  </div>
</template>

<style scoped>
@import "../../../../../../resources/assets/sass/financier.scss";
@import "../../../../../../resources/assets/sass/tiny-inputs.scss";
@import "../../../../../../public/bp/assets/plugins/bootstrap-table/dist/bootstrap-table.min.css";
@import "../../../../../../resources/assets/sass/etat-financier/common.scss";
.bg-shade-solde span {
  display: inline-block;
}
.bg-shade-solde span,
.bg-shade-solde h5,
.bg-shade-solde h4 {
  color: #fff !important;
  margin-top: 4px;
  margin-bottom: 4px;
}
</style>

<script>
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import VueNumeric from "vue-numeric";
import currenciesMaskMixin from "../mixins/currenciesMask";
// Import component for loading
import Loading from "vue-loading-overlay";
// Import stylesheet for loading
import "vue-loading-overlay/dist/vue-loading.css";
// tva par defaut
import defaultParamTvaFinancier from "./default.tva.json";
import tva from '../../../models/tva.js';
import { isNullOrUndefined } from "util";

import firebase from "firebase";
// elements de menus
import AppHeader from "../../../layouts/header-bp-suivi.vue";
import AppFooter from "../../../layouts/footer-bp.vue";
import sideMenu from "../../../layouts/sidebar-financier";
// elements de bp financier par defaut
import defaultEmptyBesoins from "./default.emptyBesoins.json";
import defaultEmptyRessources from "./default.emptyRessources.json";
import defaultEmptyProduits from "./default.emptyProduits.json";
import defaultEmptyCharges from "./default.emptyCharges.json";
import {BCard, BCardBody}   from 'bootstrap-vue';
// import de mixins
import produitsMixins from "../mixins/financier/produits";
import chargesMixins from "../mixins/financier/charges";
import ressourcesMixins from "../mixins/financier/ressources";
import besoinsMixins from "../mixins/financier/besoins";
// helping
import {
  versement,
  cumulVersementAnnuel,
  arround,
  isEmpty,
  convertFieldToHT,
} from "../../../services/helper.js";
import solde from "../mixins/summary/soldeGestionToPdfmake";
import SoldeIntermediairesGestionPdf from "../../../pdf/financier/soldesIntermediairesGestion/soldeIntermediairesGestionPdf";
import boutonDownloadPdf from "../components/boutonDownloadPdf.vue";
import metaData from "../../../store/metaData";
import Swal from "sweetalert2";
export default {
  components: {
    boutonDownloadPdf,
    VueNumeric,
    AppHeader,
    AppFooter,
    sideMenu,
    'b-card':BCard, 'b-card-body': BCardBody
  },
  mixins: [
    solde,
    produitsMixins,
    chargesMixins,
    ressourcesMixins,
    besoinsMixins,
    currenciesMaskMixin,
  ],
  data() {
    return {
      lire: false,
      telecharger: false,
      besoins: defaultEmptyBesoins,
      ressources: defaultEmptyRessources,
      produits: defaultEmptyProduits,
      charges: defaultEmptyCharges,
      annee1: "Année 1",
      annee2: "Année 2",
      annee3: "Année 3",
      impotFiscal: 33,
      paramTva: defaultParamTvaFinancier.map( item => new tva({...item})),
    };
  },
  watch: {
    "produits.articles": function(listeArticles) {
      this.calculTotalChiffreAffaireAnnee1(listeArticles);
      this.calculTotalChiffreAffaireAnnee2(listeArticles);
      this.calculTotalChiffreAffaireAnnee3(listeArticles);
    },
    "produits.resultatsExceptionnels.entrees": function(ventes) {
      this.calculSubTotalVentesExceptionnelles(ventes);
    },
    "produits.resultatsExceptionnels.sorties": function(achats) {
      this.calculSubTotalAchatsExceptionnels(achats);
    },
    'produits.produitsFinanciers': function(items) {
        this.calculSubTotalProduitsFinanciers(items);
    },
    "besoins.immoIncorporelle": function(immo) {      
      this.calculTotalImmoIncorporelle(immo);
      this.calculTotalAmortissementAnnuelImmoIncorp(immo);
    },
    "besoins.immoCorporelle.materielinfo": function(matInfo) {
      this.calculSubTotalImmoCorpMatInfo(matInfo);
      this.calculTotalAmortisAnnuelImmoCorpMatInfo(matInfo);
    },
    "besoins.immoCorporelle.mobilier": function(immos) {
      this.calculSubTotalImmoCorpMobilier(immos);
      this.calculTotalAmortisAnnuelImmoCorpMobilier(immos);
    },
    "ressources.emprunts.banque": function(emprunts) {
      this.calculSubTotalEmpruntBanque(emprunts);
      this.calculTotalRemboursAnnuelEmpruntBanque(emprunts);
    },
    "ressources.emprunts.microfinance": function(emprunts) {
      this.calculSubTotalEmpruntMicroFin(emprunts);
      this.calculTotalRemboursAnnuelEmpruntMicroFin(emprunts);
    },
  },
  created() {
    this.$route.params.data.forEach((item) => {
      if (item == "lire") {
        this.lire = true;
      }
      if (item == "telecharger") {
        this.telecharger = true;
      }
    });
    this.$loading().close();
    let loader = Vue.$loading.show();
    firebase
      .firestore()
      .collection("financier")
      .doc(this.projet)
      .get()
      .then((docSnap) => {
        loader.hide();
        if (docSnap.exists) {
          // tva parametree du projet
          if (!isEmpty(docSnap.get("parametres"))) {
            if (isEmpty(docSnap.get("parametres")["tva"])) {
              Toast.fire({
                type: "warning",
                title:
                  "Votre Projet n'a pas de Tva configurée, nous utiliserons un parametre par défaut",
                customClass: "bg-saphire",
              });
            } else {
              if (docSnap.get("parametres")["tva"].length > 0) {
                this.paramTva = docSnap.get("parametres")["tva"].map( item => new tva({...item}));
              }
            }
            // recuperer les charges patronales definies du projet
            if (
              !isNullOrUndefined(docSnap.get("parametres")["chargePatronale"])
            ) {
              // affectation directe
              this.chargeSocialeEmploye =
                docSnap.get("parametres")["chargePatronale"].employe;
              this.chargeSocialeDirigeant =
                docSnap.get("parametres")["chargePatronale"].dirigeant;
            }
            
            // check du parametre impotfiscal
            if (! isNullOrUndefined(docSnap.get("parametres")["impotFiscal"]) ) {
              this.impotFiscal =
                docSnap.get("parametres")["impotFiscal"];
            }
          }
          
          // definition HT pour les produits
          if (!isEmpty(docSnap.get("produits"))) {
            // calcul du chiffre d'affaires articles
            if (!isEmpty(docSnap.get("produits")["articles"])) {
              this.produits["articles"] = docSnap.get("produits")["articles"];
            }
            // resultats exceptionnels
            if (!isEmpty(docSnap.get("produits")["resultatsExceptionnels"])) {
              // entrees
              if (
                !isEmpty(
                  docSnap.get("produits")["resultatsExceptionnels"]["entrees"]
                )
              ) {
                this.produits["resultatsExceptionnels"]["entrees"] =
                  docSnap.get("produits")["resultatsExceptionnels"]["entrees"];                
              }
              // sorties
              if (
                !isEmpty(
                  docSnap.get("produits")["resultatsExceptionnels"]["sorties"]
                )
              ) {
                this.produits["resultatsExceptionnels"]["sorties"] =
                  docSnap.get("produits")["resultatsExceptionnels"]["sorties"];
              }
            }
            // produits financiers
            if(! isEmpty(docSnap.get('produits')['produitsFinanciers'])) {
                this.produits['produitsFinanciers'] = docSnap.get('produits')['produitsFinanciers'];
            }
          }

          // definition HT pour les charges
          if (!isEmpty(docSnap.get("charges"))) {
            // services exterieurs
            if (!isEmpty(docSnap.get("charges")["services-exterieurs"])) {
              this.charges["services-exterieurs"] = docSnap.get("charges")["services-exterieurs"];
              this.calculTotalServExtFraisHT(this.charges["services-exterieurs"], this.activeTva.value / 100);
            }
            // frais de personnel
            if (!isEmpty(docSnap.get("charges")["frais-personnel"])) {
              // salaries
              if (
                !isEmpty(docSnap.get("charges")["frais-personnel"]["salaries"])
              ) {
                this.charges["frais-personnel"]["salaries"] = docSnap.get("charges")["frais-personnel"]["salaries"];
                this.calculSubTotalFraisSalarieHT(this.charges["frais-personnel"]["salaries"], this.activeTva.value / 100);
              }
              // dirigeants
              if (
                !isEmpty(
                  docSnap.get("charges")["frais-personnel"]["dirigeants"]
                )
              ) {
                this.charges["frais-personnel"]["dirigeants"] = docSnap.get("charges")["frais-personnel"]["dirigeants"];
                this.calculSubTotalFraisDirigeantHT(this.charges["frais-personnel"]["dirigeants"], this.activeTva.value / 100);
              }
              // stagiaires
              if (
                !isEmpty(
                  docSnap.get("charges")["frais-personnel"]["stagiaires"]
                )
              ) {
                this.charges["frais-personnel"]["stagiaires"] = docSnap.get("charges")["frais-personnel"]["stagiaires"];
                this.calculSubTotalFraisStagiaireHT(this.charges["frais-personnel"]["stagiaires"], this.activeTva.value / 100);
              }
            }
            // taxes et impots
            if (!isEmpty(docSnap.get("charges")["taxes-impots"])) {
              // impots
              if (!isEmpty(docSnap.get("charges")["taxes-impots"]["impots"])) {
                this.charges["taxes-impots"]["impots"] = docSnap
                  .get("charges")
                  ["taxes-impots"]["impots"];
                this.calculSubTotalTaxImpImpotHT(
                  this.charges["taxes-impots"].impots, this.activeTva.value / 100
                );
              }
              // mairie
              if (!isEmpty(docSnap.get("charges")["taxes-impots"]["mairie"])) {
                this.charges["taxes-impots"]["mairie"] = docSnap
                  .get("charges")
                  ["taxes-impots"]["mairie"];
                this.calculSubTotalTaxeImpMairieHT(
                  this.charges["taxes-impots"].mairie, this.activeTva.value / 100
                );
              }
            }
            // matieres premieres
            if (!isEmpty(docSnap.get("charges")["matieres-premieres"])) {
              // depenses produits
              if (
                !isEmpty(
                  docSnap.get("charges")["matieres-premieres"][
                    "depenses-produits"
                  ]
                )
              ) {
                this.charges["matieres-premieres"]["depenses-produits"] =
                  docSnap
                    .get("charges")
                    ["matieres-premieres"]["depenses-produits"];
                this.calculTotalAchatMpDepVariable(
                  this.charges["matieres-premieres"]["depenses-produits"]
                );
              }
              // charges variables
              if (
                !isEmpty(
                  docSnap.get("charges")["matieres-premieres"][
                    "charges-variables-produits"
                  ]
                )
              ) {
                this.charges["matieres-premieres"][
                  "charges-variables-produits"
                ] =
                  docSnap.get("charges")["matieres-premieres"][
                    "charges-variables-produits"
                  ];
                this.calculTotalAchatMpCharVariable(
                  this.charges["matieres-premieres"][
                    "charges-variables-produits"
                  ]
                );
              }
            }
          }

          // definition HT pour les besoins
          if (!isEmpty(docSnap.get("besoins"))) {
            // immobilisations incorporelles
            if (!isEmpty(docSnap.get("besoins")["immoIncorporelle"])) {
              this.besoins["immoIncorporelle"] = docSnap.get("besoins")["immoIncorporelle"];
            }
            // immo corporelle
            if (!isEmpty(docSnap.get("besoins")["immoCorporelle"])) {
              // materiel informatique
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"]["materielinfo"]
                )
              ) {
                this.besoins["immoCorporelle"]["materielinfo"] = docSnap.get("besoins")["immoCorporelle"]["materielinfo"];
              }
              // mobilier
              if (
                !isEmpty(docSnap.get("besoins")["immoCorporelle"]["mobilier"])
              ) {
                this.besoins["immoCorporelle"]["mobilier"] = docSnap.get("besoins")["immoCorporelle"]["mobilier"];
              }
              // materiel-machine-outils
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"][
                    "materiel-machine-outil"
                  ]
                )
              ) {
                this.besoins["immoCorporelle"]["materiel-machine-outil"] =
                  docSnap
                    .get("besoins")
                    ["immoCorporelle"]["materiel-machine-outil"];
                this.calculSubTotalImmoCorpMatMachOutil(
                  this.besoins["immoCorporelle"]["materiel-machine-outil"]
                );
                this.calculTotalAmortisAnnuelImmoCorpMatMachOutil(
                  this.besoins["immoCorporelle"]["materiel-machine-outil"]
                );
              }
              // batiment-local-espacevente
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"][
                    "batiment-local-espacevente"
                  ]
                )
              ) {
                this.besoins["immoCorporelle"]["batiment-local-espacevente"] =
                  docSnap
                    .get("besoins")
                    ["immoCorporelle"]["batiment-local-espacevente"];
                this.calculSubTotalImmoCorpBatLocEspaceVente(
                  this.besoins["immoCorporelle"]["batiment-local-espacevente"]
                );
                this.calculTotalAmortisAnnuelImmoCorpBatLocEspaceVente(
                  this.besoins["immoCorporelle"]["batiment-local-espacevente"]
                );
              }
              // voiture-autres
              if (
                !isEmpty(
                  docSnap.get("besoins")["immoCorporelle"]["voiture-autres"]
                )
              ) {
                this.besoins["immoCorporelle"]["voiture-autres"] = docSnap
                  .get("besoins")
                  ["immoCorporelle"]["voiture-autres"];
                this.calculSubTotalImmoCorpVoitAutre(
                  this.besoins["immoCorporelle"]["voiture-autres"]
                );
                this.calculTotalAmortisAnnuelImmoCorpVoitAutre(
                  this.besoins["immoCorporelle"]["voiture-autres"]
                );
              }
            }
          }

          // definition HT pour les ressources (remboursements / charges financieres)
          if (!isEmpty(docSnap.get("ressources"))) {
            // comptes courants associes
            if (!isEmpty(docSnap.get("ressources")["comptes"])) {
              this.ressources["comptes"] = docSnap
                .get("ressources")
                ["comptes"];
            }
            // subventions-aides
            if (!isEmpty(docSnap.get("ressources")["subventions-aides"])) {
              // banque
              if (
                !isEmpty(
                  docSnap.get("ressources")["subventions-aides"]["banque"]
                )
              ) {
                this.ressources["subventions-aides"]["banque"] = docSnap
                  .get("ressources")
                  ["subventions-aides"]["banque"];
                this.calculSubTotalAidBanque(
                  this.ressources["subventions-aides"].banque
                );
                this.calculTotalRemboursAnnuelAidBanque(
                  this.ressources["subventions-aides"].banque
                );
              }
              // institution
              if (
                !isEmpty(
                  docSnap.get("ressources")["subventions-aides"]["institution"]
                )
              ) {
                this.ressources["subventions-aides"]["institution"] = docSnap
                  .get("ressources")
                  ["subventions-aides"]["institution"];
                this.calculSubTotalAidInstitution(
                  this.ressources["subventions-aides"].institution
                );
                this.calculTotalRemboursAnnuelAidInstitution(
                  this.ressources["subventions-aides"].institution
                );
              }
              // autres
              if (
                !isEmpty(
                  docSnap.get("ressources")["subventions-aides"]["autres"]
                )
              ) {
                this.ressources["subventions-aides"]["autres"] = docSnap
                  .get("ressources")
                  ["subventions-aides"]["autres"];
                this.calculSubTotalAidAutre(
                  this.ressources["subventions-aides"].autres
                );
                this.calculTotalRemboursAnnuelAidAutre(
                  this.ressources["subventions-aides"].autres
                );
              }
            }
            // emprunts
            if (!isEmpty(docSnap.get("ressources")["emprunts"])) {
              // banque
              if (!isEmpty(docSnap.get("ressources")["emprunts"]["banque"])) {
                this.ressources["emprunts"]["banque"] = docSnap.get("ressources")["emprunts"]["banque"];
              }
              // microfinance
              if (
                !isEmpty(docSnap.get("ressources")["emprunts"]["microfinance"])
              ) {
                this.ressources["emprunts"]["microfinance"] = docSnap.get("ressources")["emprunts"]["microfinance"];
              }
            }
          }
        } else {
          loader.hide();
        }
      })
      .catch((error) => {
        loader.hide();
        Swal.fire("Une erreur est survenue", error.message, "error");
      });
  },
  computed: {
    userId: () => { return JSON.parse(localStorage.getItem("userSession")).uid },
    infoProjet: () => { return JSON.parse(localStorage.getItem("userSession")) },
    projet: () => { return JSON.parse(localStorage.getItem("userSession")).projet },
    activeTva: function() {
        return this.paramTva.find((item) => item.active === true)
    },
    totalInterets() {
      // charges financiere
      let result = { annee1: 0, annee2: 0, annee3: 0, annee4: 0 };
      result.annee1 =
        this.totalRemboursementAnnuelEmprunt.annee1.interet +
        this.totalRemboursementAnnuelSubvention.annee1.interet;
      result.annee2 =
        this.totalRemboursementAnnuelEmprunt.annee2.interet +
        this.totalRemboursementAnnuelSubvention.annee2.interet;
      result.annee3 =
        this.totalRemboursementAnnuelEmprunt.annee3.interet +
        this.totalRemboursementAnnuelSubvention.annee3.interet;
      result.annee4 =
        this.totalRemboursementAnnuelEmprunt.annee4.interet +
        this.totalRemboursementAnnuelSubvention.annee4.interet;
      return {
        annee1: arround(result.annee1, this.currentCurrencyMask[":precision"]),
        annee2: arround(result.annee2, this.currentCurrencyMask[":precision"]),
        annee3: arround(result.annee3, this.currentCurrencyMask[":precision"]),
        annee4: arround(result.annee4, this.currentCurrencyMask[":precision"]),
      };
    },
    margeBruteCommerciale: function () {
      let result = { annee1: 0, annee2: 0, annee3: 0 };
      result.annee1 =
        this.totalChiffreAffaireHT.annee1.montant -
        this.totalAchatMpDepVariable.annee1;
      result.annee2 =
        this.totalChiffreAffaireHT.annee2.montant -
        this.totalAchatMpDepVariable.annee2;
      result.annee3 =
        this.totalChiffreAffaireHT.annee3.montant -
        this.totalAchatMpDepVariable.annee3;
      return {
        annee1: arround(result.annee1, this.currentCurrencyMask[":precision"]),
        annee2: arround(result.annee2, this.currentCurrencyMask[":precision"]),
        annee3: arround(result.annee3, this.currentCurrencyMask[":precision"]),
      };
    },
    valeurAjoutee: function () {
      let result = { annee1: 0, annee2: 0, annee3: 0 };
      result.annee1 =
        this.margeBruteCommerciale.annee1 - this.totalServExtFrais.annee1;
      result.annee2 =
        this.margeBruteCommerciale.annee2 - this.totalServExtFrais.annee2;
      result.annee3 =
        this.margeBruteCommerciale.annee3 - this.totalServExtFrais.annee3;
      return {
        annee1: arround(result.annee1, this.currentCurrencyMask[":precision"]),
        annee2: arround(result.annee2, this.currentCurrencyMask[":precision"]),
        annee3: arround(result.annee3, this.currentCurrencyMask[":precision"]),
      };
    },
    excedentBrutExploitation: function () {
      let result = { annee1: 0, annee2: 0, annee3: 0 };
      result.annee1 =
        this.valeurAjoutee.annee1 -
        this.totalTaxeImpot.annee1 -
        this.totalFraisPersonnel.annee1;
      result.annee2 =
        this.valeurAjoutee.annee2 -
        this.totalTaxeImpot.annee2 -
        this.totalFraisPersonnel.annee2;
      result.annee3 =
        this.valeurAjoutee.annee3 -
        this.totalTaxeImpot.annee3 -
        this.totalFraisPersonnel.annee3;
      return {
        annee1: arround(result.annee1, this.currentCurrencyMask[":precision"]),
        annee2: arround(result.annee2, this.currentCurrencyMask[":precision"]),
        annee3: arround(result.annee3, this.currentCurrencyMask[":precision"]),
      };
    },
    resultatBrutExploitation: function () {
      let result = { annee1: 0, annee2: 0, annee3: 0 };
      result.annee1 =
        this.excedentBrutExploitation.annee1 -
        this.totalAmortisCorporelleAnnuel.annee1 -
        this.totalAmortisIncorporelleAnnuel.annee1;
      result.annee2 =
        this.excedentBrutExploitation.annee2 -
        this.totalAmortisCorporelleAnnuel.annee2 -
        this.totalAmortisIncorporelleAnnuel.annee2;
      result.annee3 =
        this.excedentBrutExploitation.annee3 -
        this.totalAmortisCorporelleAnnuel.annee3 -
        this.totalAmortisIncorporelleAnnuel.annee3;
      return {
        annee1: arround(result.annee1, this.currentCurrencyMask[":precision"]),
        annee2: arround(result.annee2, this.currentCurrencyMask[":precision"]),
        annee3: arround(result.annee3, this.currentCurrencyMask[":precision"]),
      };
    },
    resultatCourant: function () {
      let result = { annee1: 0, annee2: 0, annee3: 0 };
      result.annee1 = this.subTotalProduitsFinanciers.annee1 + this.resultatBrutExploitation.annee1 - this.totalInterets.annee1;
      result.annee2 = this.subTotalProduitsFinanciers.annee2 + this.resultatBrutExploitation.annee2 - this.totalInterets.annee2;
      result.annee3 = this.subTotalProduitsFinanciers.annee3 + this.resultatBrutExploitation.annee3 - this.totalInterets.annee3;
      return {
        annee1: arround(result.annee1, this.currentCurrencyMask[":precision"]),
        annee2: arround(result.annee2, this.currentCurrencyMask[":precision"]),
        annee3: arround(result.annee3, this.currentCurrencyMask[":precision"]),
      };
    },
    resultatCourantAvantImpot: function () {
      let result = { annee1: 0, annee2: 0, annee3: 0 };
      result.annee1 =
        this.resultatCourant.annee1 +
        this.totalSoldeExceptionnel.annee1.montant;
      result.annee2 =
        this.resultatCourant.annee2 +
        this.totalSoldeExceptionnel.annee2.montant;
      result.annee3 =
        this.resultatCourant.annee3 +
        this.totalSoldeExceptionnel.annee3.montant;
      return {
        annee1: arround(result.annee1, this.currentCurrencyMask[":precision"]),
        annee2: arround(result.annee2, this.currentCurrencyMask[":precision"]),
        annee3: arround(result.annee3, this.currentCurrencyMask[":precision"]),
      };
    },
    impotSurBenefice() {
      let result = { annee1: 0, annee2: 0, annee3: 0 };
      result.annee1 = this.resultatCourantAvantImpot.annee1 * this.impotFiscal / 100;
      result.annee2 = this.resultatCourantAvantImpot.annee2 * this.impotFiscal / 100;
      result.annee3 = this.resultatCourantAvantImpot.annee3 * this.impotFiscal / 100;
      // let prelevement = this.resultatCourantAvantImpot.annee3 * 0.33;
      // result.annee3 = prelevement >= 1000000 ? prelevement : 1000000;
      return {
        annee1: arround(result.annee1, this.currentCurrencyMask[":precision"]),
        annee2: arround(result.annee2, this.currentCurrencyMask[":precision"]),
        annee3: arround(result.annee3, this.currentCurrencyMask[":precision"]),
      };
    },
    resultatNetApresImpots: function () {
      let result = { annee1: 0, annee2: 0, annee3: 0 };
      result.annee1 =
        this.resultatCourantAvantImpot.annee1 - this.impotSurBenefice.annee1;
      result.annee2 =
        this.resultatCourantAvantImpot.annee2 - this.impotSurBenefice.annee2;
      result.annee3 =
        this.resultatCourantAvantImpot.annee3 - this.impotSurBenefice.annee3;
      return {
        annee1: arround(result.annee1, this.currentCurrencyMask[":precision"]),
        annee2: arround(result.annee2, this.currentCurrencyMask[":precision"]),
        annee3: arround(result.annee3, this.currentCurrencyMask[":precision"]),
      };
    },
  },
  methods: {
    printPdf: async function () {
      this.$loading();
      const meta = await metaData(this.userId);
      this.$loading().close();
      const password = "1234";
      const swal = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-info",
          cancelButton: "btn btn-success ml-2",
        },
        buttonsStyling: false,
      });
      let paramsMoney = {
        precision: this.currentCurrencyMask[":precision"],
        currency: this.currentCurrencyMask["currency"],
      };
      let years = {
        annee1: this.annee1,
        annee2: this.annee2,
        annee3: this.annee3,
      };
      let solde = {
        ca: {
          titre: "Chiffre d'Affaires",
          annee1: this.totalChiffreAffaireHT.annee1.montant,
          annee2: this.totalChiffreAffaireHT.annee2.montant,
          annee3: this.totalChiffreAffaireHT.annee3.montant,
          children: {
            totalAchatMpDepVariable: {
              titre: "-Achats Consommés ",
              annee1: this.totalAchatMpDepVariable.annee1,
              annee2: this.totalAchatMpDepVariable.annee2,
              annee3: this.totalAchatMpDepVariable.annee3,
            },
          },
        },
        marge: {
          titre: "Marge Brute Commerciale",
          annee1: this.margeBruteCommerciale.annee1,
          annee2: this.margeBruteCommerciale.annee2,
          annee3: this.margeBruteCommerciale.annee3,
          children: {
            totalServExtFrais: {
              titre: "-Services Extérieurs",
              annee1: this.totalServExtFrais.annee1,
              annee2: this.totalServExtFrais.annee2,
              annee3: this.totalServExtFrais.annee3,
            },
          },
        },
        valeurA: {
          titre: "Valeur Ajoutée ",
          annee1: this.valeurAjoutee.annee1,
          annee2: this.valeurAjoutee.annee2,
          annee3: this.valeurAjoutee.annee3,
          children: {
            totalTaxeImpot: {
              titre: "-Impôts et Taxes",
              annee1: this.totalTaxeImpot.annee1,
              annee2: this.totalTaxeImpot.annee2,
              annee3: this.totalTaxeImpot.annee3,
            },
            totalFraisPersonnel: {
              titre: "-Frais du Personnel",
              annee1: this.totalFraisPersonnel.annee1,
              annee2: this.totalFraisPersonnel.annee2,
              annee3: this.totalFraisPersonnel.annee3,
            },
          },
        },
        excedentBE: {
          titre: "Excédent Brut d'Exploitation",
          annee1: this.excedentBrutExploitation.annee1,
          annee2: this.excedentBrutExploitation.annee2,
          annee3: this.excedentBrutExploitation.annee3,
          children: {
            totalAmortisCorporelleAnnuel: {
              titre: "-Dotation aux amortissements",
              annee1: this.totalAmortisCorporelleAnnuel.annee1 + this.totalAmortisIncorporelleAnnuel.annee1,
              annee2: this.totalAmortisCorporelleAnnuel.annee2 + this.totalAmortisIncorporelleAnnuel.annee2,
              annee3: this.totalAmortisCorporelleAnnuel.annee3 + this.totalAmortisIncorporelleAnnuel.annee3,
            },
          },
        },
        resultBD: {
          titre: "Résultat Brut d'Exploitation",
          annee1: this.resultatBrutExploitation.annee1,
          annee2: this.resultatBrutExploitation.annee2,
          annee3: this.resultatBrutExploitation.annee3,
          children: {
            resultF: {
              titre: "-Résultat Financier",
              annee1: 0,
              annee2: 0,
              annee3: 0,
            },
            totalInterets: {
              titre: "-Charges financières",
              annee1: this.totalInterets.annee1,
              annee2: this.totalInterets.annee2,
              annee3: this.totalInterets.annee3,
            },
          },
        },
        resultC: {
          titre: "Résultat Courant",
          annee1: this.resultatCourant.annee1,
          annee2: this.resultatCourant.annee2,
          annee3: this.resultatCourant.annee3,
          children: {
            totalSoldeExceptionnel: {
              titre: "+Solde exceptionnel",
              annee1: this.totalSoldeExceptionnel.annee1.montant,
              annee2: this.totalSoldeExceptionnel.annee2.montant,
              annee3: this.totalSoldeExceptionnel.annee3.montant,
            },
          },
        },
        resultNAI: {
          titre: "Résultat Net Avant Impôts",
          annee1: this.resultatCourantAvantImpot.annee1,
          annee2: this.resultatCourantAvantImpot.annee2,
          annee3: this.resultatCourantAvantImpot.annee3,
          children: {
            impotSurBenefice: {
              titre: "-Impôts sur mes bénéfices ",
              annee1: this.impotSurBenefice.annee1,
              annee2: this.impotSurBenefice.annee2,
              annee3: this.impotSurBenefice.annee3,
            },
          },
        },
        resultNPI: {
          titre: "Résultat Net Après Impôts",
          annee1: this.resultatNetApresImpots.annee1,
          annee2: this.resultatNetApresImpots.annee2,
          annee3: this.resultatNetApresImpots.annee3,
        },
      };
      swal
        .fire({
          showCancelButton: true,
          confirmButtonText: "Télécharger Pdf",
          cancelButtonText: "Annuler",
        //   footer: `Mot de passe Pdf : ${password}`,
          showLoaderOnConfirm: true,
        })
        .then((result) => {
          if (result.value) {
            const pdf = new SoldeIntermediairesGestionPdf(
              {
                data: {
                  projet: this.infoProjet,
                  solde,
                  paramsMoney,
                  years,
                },
                title: "Soldes Intemediaires de Gestion",
              },
              { meta }
            );
            pdf.downloadPdf();
          }
        });
    },
  },
};
</script>
