<template>
  <div class="base-image-input" :style="{ 'background-image': `url(${imageData})` }" @click="chooseImage" >
    <span v-if="!imageData" class="placeholder" >
      Choisir une image
    </span>
    <input class="file-input" ref="fileInput" type="file" @input="onSelectFile" accept="image/*" >
    <!-- img class="preview" :src="imageData" -->
    <!-- error dialog displays any potential errors -->    
    <div v-if="errorDialog" max-width="300">      
      <card>
        <span class="subheading">{{errorText}}</span>
        <button @click="errorDialog = false" flat>Ok!</button>
      </card>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      imageData: null, // we will store base64 format of image in this string
      errorDialog: null,      
      errorText: '',      
      uploadFieldName: 'file',      
      maxSize: 1024 
    }
  },
  methods: {
    chooseImage () {
        this.$refs.fileInput.click();
    },
    onSelectFile () {
      // Reference to the DOM input element
      const input = this.$refs.fileInput;
      const file = input.files[0];
      //check if user actually selected a file        
      if (input.value.length > 0) {       
        let size = file.size / this.maxSize / this.maxSize;
        if (!file.type.match('image.*')) {           
          // check whether the upload is an image            
          this.errorDialog = true;
          this.errorText = 'Please choose an image file'
        } else if (size>1) {            
          // check whether the size is greater than the size limit            
          this.errorDialog = true;
          this.errorText = 'Your file is too big! Please select an image under 1MB'          } else {            
          /* Append file into FormData & turn file into image URL
          let formData = new FormData()
          let imageURL = URL.createObjectURL(file)
          formData.append(fieldName, imageFile)
          */
        }
        // create a new FileReader to read this image and convert to base64 format
        const reader = new FileReader();
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
            // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
            // Read image as base64 and set to imageData
            this.imageData = e.target.result;
        }
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsDataURL(file);
        let blob = URL.createObjectURL(file);
        let name = input.value;
        // on envoie pas le base64 mais plutot
        // this.$emit('input', { name, blob, file });
        this.$emit('input', blob );
      }
    },
    reset() {
      this.imageData = null;
      this.$refs.fileInput.value = null;
      this.errorDialog= null;
      this.errorText= '';
    }
  }
}
</script>

<style scoped>
.base-image-input {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
}
.placeholder {
    background: #F0F0F0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 18px;
    font-family: Helvetica;
}
.placeholder:hover {
    background: #E0E0E0;
}
.file-input {
    display: none;
}
</style>