<template>
    <div class="page-wrapper">

        <div class="container-fluid">

            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Accueil</h3>
                </div>
            </div>

            <div class="row">
             
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-list"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Produits</h6>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-table"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Eléments de base</h6>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-calculator"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Calcul de prêts</h6>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Plan de financement</h6>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-edit"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Compte</h6>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-sitemap"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Calcul du BFR</h6>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-balance-scale"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Seuil de rentabilité</h6>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-briefcase"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Trésorerie Annuelle</h6>
                        </div>
                    </a>
                </div>
              
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="ti ti-dashboard"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Tableau de bord</h6>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-cogs"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Paramètres</h6>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="card bg-bp">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">
                                    <i class="fas fa-book"></i>
                                </div>
                            </div>
                            <h6 class="text-white m-t-10 text-center">Business Model Canvas</h6>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    
</template>

<script>
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'
    export default {
        data(){
            return {
                users_count: '',
                tasks_count: '',
                recent_incomplete_tasks: {},
                todos: [],
                todoForm: new Form({
                    'todo': ''
                }),
                show_todo_status: ''
            }
        },
        components : { ClickConfirm },
        mounted() {
           
        },
        methods: {
            getTodos(){
                axios.get('/api/todo?show_todo_status='+this.show_todo_status).then(response =>  {
                    this.todos = response.data;
                });
            },
            storeTodo(){
                this.todoForm.post('/api/todo').then(response => {
                    toastr['success'](response.message);
                    this.todos.unshift(response.data)
                }).catch(response => {
                    toastr['error'](response.message);
                });
            },
            deleteTodo(todo){
                axios.delete('/api/todo/'+todo.id).then(response => {
                    toastr['success'](response.data.message);
                    this.getTodos();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },
            toggleTodoStatus(todo){
                axios.post('/api/todo/status',{id:todo.id}).then(response => {
                    todo.status = !todo.status;
                }).catch(error => {
                    toastr['error'](error.response.message);
                });
            },
            filterTodo(){
                this.getTodos();
            },
            getProgress(task){
                return 'width: '+task.progress+'%;';
            },
            getProgressColor(task){
                return helper.taskColor(task.progress);
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style>
    .strikethrough{
      text-decoration: line-through;
    }
</style>
