<template>
    <div class="page-wrapper">
        <div style="margin-top:100px;" class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <div class="col-lg-12 col-xlg-12 col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="pdf" class="row divRecap">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h3 class="card-title">1. Présentation du projet</h3>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label> <h4>1.0 Titre / Libellé du projet :</h4></label><p>{{summary.titre}}</p>
                                                                <label> <h4>1.1 Secteur d'activité </h4></label>
                                                                <p v-if="summary.secteurActivite == 1">
                                                                    Secteur primaire
                                                                </p>
                                                                <p v-else-if="summary.secteurActivite == 2">
                                                                    Secteur secondaire
                                                                </p>
                                                                <p v-else-if="summary.secteurActivite == 3">
                                                                    Secteur tertiaire
                                                                </p>

                                                                <label> <h4>1.2 Branche d'activité</h4></label><p>{{summary.branche}}</p>
                                                                <label> <h4>1.3 activité</h4></label><p></p>
                                                                <label> <h4>1.4 Activité génératrice de revenu</h4></label><p>{{summary.statutActivite}}</p>
                                                                <label> <h4>1.5 Heure de travail sur le projet</h4></label><p>{{summary.heureTravaille}}</p>
                                                                <label>
                                                                    <h4>1.6 Description synthétique du projet/Entreprise et sa forme juridique</h4>
                                                                </label><br>
                                                                <b>Forme Juridique :</b> <p>{{summary.formJuridique}}</p>
                                                                <b>Description synthétique :</b><p v-html="summary.descrSynthetique">{{ summary.descrSynthetique}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="descrOpportunite"><h4>1.7 Description de l'opportunité(problème à resoudre) et l'impact du projet:</h4></label>
                                                                <p id="descrOpportunite" v-html="summary.descrOpportunite">{{summary.descrOpportunite}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label><h4>1.8 Description de la situation actuelle du projet/Entreprise:</h4></label>
                                                                <p v-html="summary.situationActu"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="card-title">2. Présentation du porteur de projet</h3>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label><h4>2.1 Porteur de projet</h4></label>
                                                                <div class="table-responsive">
                                                                    <table class="table editable-table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table">
                                                                        <thead>
                                                                        <tr>
                                                                            <th width="35%" scope="col">Nom & prénom</th>
                                                                            <th width="10%" scope="col">Sexe</th>
                                                                            <th width="10%" scope="col">Age</th>
                                                                            <th width="10%" scope="col">Niveau</th>
                                                                            <th width="35%" scope="col">Compétence</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <td>
                                                                            {{summary.porteur.nomPorteur}}
                                                                            </td>
                                                                            <td>
                                                                                {{summary.porteur.sexe}}
                                                                            </td>
                                                                            <td>
                                                                                {{summary.porteur.age}}
                                                                            </td>
                                                                            <td>
                                                                                {{summary.porteur.niveauPorteur}}
                                                                            </td>
                                                                            <td>
                                                                                {{summary.porteur.competence}}
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <table class="table editable-table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table">
                                                            <thead>
                                                            <tr>
                                                                <th width="10%" scope="col">Français</th>
                                                                <th width="10%" scope="col">Anglais</th>
                                                                <th width="10%" scope="col">Espagnol</th>
                                                                <th width="10%" scope="col">Autre</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="demo-checkbox">
                                                                        <input
                                                                        type="checkbox" readonly="true"
                                                                        v-model="summary.porteur.langue.Francais.parlé"
                                                                        id="md_checkbox_21"
                                                                        class="filled-in chk-col-purple"
                                                                        true-value="oui"
                                                                        false-value="non"
                                                                        />
                                                                        <label for="md_checkbox_21">Parlé</label>

                                                                        <input
                                                                            type="checkbox" readonly="true"
                                                                            v-model="summary.porteur.langue.Francais.lu"
                                                                            id="md_checkbox_22"
                                                                            class="filled-in chk-col-purple"
                                                                            true-value="oui"
                                                                            false-value="non"/>
                                                                        <label for="md_checkbox_22">Lu</label>

                                                                        <input
                                                                            v-model="summary.porteur.langue.Francais.écrit"
                                                                            type="checkbox" readonly="true"
                                                                            id="md_checkbox_23"
                                                                            class="filled-in chk-col-purple"
                                                                            true-value="oui"
                                                                            false-value="non"/>
                                                                        <label for="md_checkbox_23">Ecrit</label>

                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="demo-checkbox">
                                                                        <input
                                                                        type="checkbox" readonly="true"
                                                                        v-model="summary.porteur.langue.Anglais.parlé"
                                                                        id="checkbox_eng_parle"
                                                                        class="filled-in chk-col-purple"
                                                                        true-value="oui"
                                                                        false-value="non"
                                                                        />
                                                                        <label for="checkbox_eng_parle">Parlé</label>

                                                                        <input
                                                                            type="checkbox" readonly="true"
                                                                            v-model="summary.porteur.langue.Anglais.lu"
                                                                            id="checkbox_eng_lu"
                                                                            class="filled-in chk-col-purple"
                                                                            true-value="oui"
                                                                            false-value="non"/>
                                                                        <label for="checkbox_eng_lu">Lu</label>

                                                                        <input
                                                                            v-model="summary.porteur.langue.Anglais.écrit"
                                                                            type="checkbox" readonly="true"
                                                                            id="checkbox_eng_ecrit"
                                                                            class="filled-in chk-col-purple"
                                                                            true-value="oui"
                                                                            false-value="non"/>
                                                                        <label for="checkbox_eng_ecrit">Ecrit</label>

                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="demo-checkbox">
                                                                        <input
                                                                        type="checkbox" readonly="true"
                                                                        v-model="summary.porteur.langue.Espagnol.parlé"
                                                                        id="checkbox_es_parle"
                                                                        class="filled-in chk-col-purple"
                                                                        true-value="oui"
                                                                        false-value="non"
                                                                        />
                                                                        <label for="checkbox_es_parle">Parlé</label>

                                                                        <input
                                                                            type="checkbox" readonly="true"
                                                                            v-model="summary.porteur.langue.Espagnol.lu"
                                                                            id="checkbox_es_lu"
                                                                            class="filled-in chk-col-purple"
                                                                            true-value="oui"
                                                                            false-value="non"/>
                                                                        <label for="checkbox_es_lu">Lu</label>

                                                                        <input
                                                                            v-model="summary.porteur.langue.Espagnol.écrit"
                                                                            type="checkbox" readonly="true"
                                                                            id="checkbox_es_ecrit"
                                                                            class="filled-in chk-col-purple"
                                                                            true-value="oui"
                                                                            false-value="non"/>
                                                                        <label for="checkbox_es_ecrit">Ecrit</label>

                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="demo-checkbox">
                                                                        <input
                                                                        type="checkbox" readonly="true"
                                                                        v-model="summary.porteur.langue.Autre.parlé"
                                                                        id="checkbox_aut_parle"
                                                                        class="filled-in chk-col-purple"
                                                                        true-value="oui"
                                                                        false-value="non"
                                                                        />
                                                                        <label for="checkbox_aut_parle">Parlé</label>

                                                                        <input
                                                                            type="checkbox" readonly="true"
                                                                            v-model="summary.porteur.langue.Autre.lu"
                                                                            id="checkbox_aut_lu"
                                                                            class="filled-in chk-col-purple"
                                                                            true-value="oui"
                                                                            false-value="non"/>
                                                                        <label for="checkbox_aut_lu">Lu</label>

                                                                        <input
                                                                            v-model="summary.porteur.langue.Autre.écrit"
                                                                            type="checkbox" readonly="true"
                                                                            id="checkbox_aut_ecrit"
                                                                            class="filled-in chk-col-purple"
                                                                            true-value="oui"
                                                                            false-value="non"/>
                                                                        <label for="checkbox_aut_ecrit">Ecrit</label>

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label><h4>2.2 Associés</h4></label>
                                                                <div class="table-responsive">
                                                                    <table class="table editable-table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table">
                                                                        <thead>
                                                                        <tr>
                                                                            <th width="30%" scope="col">Nom & prénom</th>
                                                                            <th width="10%" scope="col">Sexe</th>
                                                                            <th width="10%" scope="col">Age</th>
                                                                            <th width="10%" scope="col">Niveau d'étude</th>
                                                                            <th width="40%" scope="col">Compétence</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr v-for="(associe, index) in summary.associe" :key="index">
                                                                            <td>
                                                                                {{associe.nom}}
                                                                            </td>
                                                                            <td>
                                                                                {{associe.sexe}}
                                                                            </td>
                                                                            <td>
                                                                                {{associe.age}}
                                                                            </td>
                                                                            <td>
                                                                                {{associe.niveau}}
                                                                            </td>
                                                                            <td>
                                                                                {{associe.competence}}
                                                                            </td>

                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label><h4>2.3 Naissance du projet / idée :</h4></label>
                                                                <p v-html="summary.naissProjet"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label><h4>2.4 Vision à court terme :</h4></label>
                                                                <div class="table-responsive">
                                                                    <table class="table editable-table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table">
                                                                        <thead>
                                                                        <tr>
                                                                            <th scope="col">Objectif(s)</th>
                                                                            <th scope="col">Plan d'action</th>
                                                                            <th scope="col">Date début</th>
                                                                            <th scope="col">Date fin</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr v-for="(vision, k) in summary.visionCourt" :key="k">
                                                                            <td>
                                                                                {{vision.objectif}}
                                                                            </td>
                                                                            <td>
                                                                                {{vision.plan}}
                                                                            </td>
                                                                            <td>
                                                                                {{vision.dateDebut}}
                                                                            </td>
                                                                            <td>
                                                                                {{vision.dateFin}}
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label><h4>2.5 Vision à long terme :</h4></label>
                                                                <div class="table-responsive">
                                                                    <table class="table editable-table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table">
                                                                        <thead>
                                                                        <tr>
                                                                            <th scope="col">Objectif(s)</th>
                                                                            <th scope="col">Plan d'action</th>
                                                                            <th scope="col">Date début</th>
                                                                            <th scope="col">Date fin</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr v-for="(vision, k) in summary.visionLong" :key="k">
                                                                            <td>
                                                                                {{vision.objectif}}
                                                                            </td>
                                                                            <td>
                                                                                {{vision.plan}}
                                                                            </td>
                                                                            <td>
                                                                                {{vision.dateDebut}}
                                                                            </td>
                                                                            <td>
                                                                                {{vision.dateFin}}
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="card-title">3. Présentation du produit/service</h3>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label><h4>4.1 Produits</h4></label>
                                                                <div class="table-responsive">
                                                                    <table class="table editable-table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table">
                                                                        <thead>
                                                                        <tr>
                                                                            <th scope="col">Produits/services phares</th>
                                                                            <th scope="col">Solutions (désagrément à éradiquer)</th>
                                                                            <th scope="col">Valeur ajoutée apportées aux clients</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr v-for="(produit, k) in summary.produits" :key="k">
                                                                            <td>
                                                                                {{produit.produit}}
                                                                            </td>
                                                                            <td>
                                                                                {{produit.solution}}
                                                                            </td>
                                                                            <td>
                                                                                {{produit.valeurAjoute}}
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label><h4>3.2 Clients</h4></label>
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Aspiration de vos clients</th>
                                                                        <th>Problèmes (qui gènent les clients)</th>
                                                                        <th>Bénéfices(au delà de leurs attentes)</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr v-for="(client, index) in summary.clients" :key="index">
                                                                        <td>
                                                                            {{client.aspiration}}
                                                                        </td>
                                                                        <td>
                                                                            {{ client.probleme }}
                                                                        </td>
                                                                        <td>
                                                                            {{client.benefice}}

                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label><h4>3.3 Vos concurrents directs</h4></label>
                                                            <p v-html="summary.concurrent"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label><h4> 3.4 Vos zones de ventes et votre part de marché</h4></label>
                                                            <p v-html="summary.zone"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="card-title">4. Business Model Canvas</h3>
                                                <div class="row">
                                                    <div class="span12">
                                                        <div style="width: 100%; margin-left: 10%" class="widget widget-table action-table">
                                                            <div class="widget-header"><i class="icon-list-alt"></i>
                                                                <h5>Business Model Canvas du projet : <b>{{summary.titre}}</b></h5>
                                                            </div>
                                                            <!-- /widget-header -->
                                                            <div class="widget-content">

                                                                <table id="bizcanvas" border="1">
                                                                    <tr>
                                                                        <td colspan="2" rowspan="2">
                                                                            <h4>
                                                                                <i class="fas fa-handshake"></i><a href="#">
                                                                                Partenaires clés</a>
                                                                            </h4>
                                                                            <textarea readonly="true"  class="" v-model="summary.bmc.partenaire" placeholder="Partenaires clés"></textarea>
                                                                        </td>
                                                                        <td colspan="2">
                                                                            <h4>
                                                                                <i class="icon-cogs"></i>
                                                                                <a href="#">Activitiés clés</a>
                                                                            </h4>
                                                                            <textarea readonly="true"  class="btn_modal" v-model="summary.bmc.activite" placeholder="Activitiés clés"></textarea>
                                                                        </td>
                                                                        <td colspan="2" rowspan="2">
                                                                            <h4>
                                                                                <i class="icon-gift"></i>
                                                                                <a href="#">Proposition de valeur</a>
                                                                            </h4>
                                                                            <textarea readonly="true"  class="btn_modal" v-model="summary.bmc.proposition_valeur" data-id="proposition" data-target="#partenairecles" placeholder="Proposition de valeur"></textarea>
                                                                        </td>
                                                                        <td colspan="2">
                                                                            <h4>
                                                                                <i class="icon-heart"></i>
                                                                                <a href="#">Relation Clients</a>
                                                                            </h4>
                                                                            <textarea readonly="true"  class="btn_modal" v-model="summary.bmc.relation" data-target="#partenairecles" placeholder="Relation Clients"></textarea>
                                                                        </td>
                                                                        <td colspan="2" rowspan="2">
                                                                            <h4>
                                                                                <i class="fas fa-users"></i>
                                                                                <a href="#">Segments Clients</a>
                                                                            </h4>
                                                                            <textarea readonly="true"  class="btn_modal" v-model="summary.bmc.segment_client" placeholder="Segments Clients"></textarea>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <h4>
                                                                                <i class="icon-tags"></i>
                                                                                <a href="#">Ressources Clés</a>
                                                                            </h4>
                                                                            <textarea readonly="true"  class="btn_modal" v-model="summary.bmc.ressource" data-target="#partenairecles" placeholder="Ressources Clés"></textarea>
                                                                        </td>

                                                                        <td colspan="2">
                                                                            <h4>
                                                                                <i class="icon-truck"></i>
                                                                                <a href="#">Canaux de distribution</a>
                                                                            </h4>
                                                                            <textarea readonly="true"  class="btn_modal" v-model="summary.bmc.canaux" data-target="#partenairecles" placeholder="Canaux de distribution"></textarea>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="5">
                                                                            <h4>
                                                                                <i class="icon-edit"></i>
                                                                                <a href="#">Structure des coûts</a>
                                                                            </h4>
                                                                            <textarea readonly="true"  class="btn_modal" v-model="summary.bmc.structure_cout" data-target="#partenairecles" placeholder="Structure des coûts"></textarea>
                                                                        </td>
                                                                        <td colspan="5">
                                                                            <h4>
                                                                                <i class="icon-money"></i>
                                                                                <a href="#">Sources de Revenus</a>
                                                                            </h4>
                                                                            <textarea readonly="true"  class="btn_modal" v-model="summary.bmc.source_revenu" placeholder="Sources de Revenus"></textarea>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> <br/>
                                                <h3 class="card-title">5. Chiffres clés Vente-Charge</h3>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table color-bordered-table default-bordered-table">
                                                                <thead>
                                                                    <tr>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr style="background-color: #99abb4; color:#fff" >
                                                                        <td colspan="4">Besoins (investissement)</td>
                                                                        <td>Coût</td>
                                                                    </tr>
                                                                    <tr v-for="(besoin, k) in summary.besoins" :key="k">
                                                                        <td colspan="4">
                                                                            {{besoin.besoin}}
                                                                        </td>
                                                                        <td style="font-weight: normal">
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="besoin.cout">
                                                                            </vue-numeric>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="background-color: #f3f1f1" class="table-group-header total">
                                                                        <td colspan="4">TOTAL DES BESOINS</td>
                                                                        <td>
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="totalBesoins">
                                                                            </vue-numeric>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="background-color: #06d79c; color:#fff" class="table-group-header">
                                                                        <td colspan="4">Ressources (capital)</td>
                                                                        <td>Coût</td>
                                                                    </tr>
                                                                    <tr v-for="(ressource, k) in summary.ressources" :key="k">
                                                                        <td colspan="4">
                                                                            {{ressource.besoin}}
                                                                        </td>
                                                                        <td style="font-weight: normal">
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="ressource.cout">
                                                                            </vue-numeric>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="background-color: #f3f1f1" class="table-group-header total">
                                                                        <td colspan="4">TOTAL DES RESSOURCES</td>
                                                                        <td>
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="totalRessources">
                                                                            </vue-numeric>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="table-group-header" :style="solde >= 0 ? 'background-color: #ffb22b': 'background-color: #fb3a3a'">
                                                                        <td colspan="4">SOLDE CUMULE</td>
                                                                        <td>
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                :value="solde">
                                                                            </vue-numeric>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="background-color: #398bf7; color:#fff" class="table-group-header">
                                                                        <td>Ventes</td>
                                                                        <td>Qtté</td>
                                                                        <td>PU</td>
                                                                        <td>Mois</td>
                                                                        <td>Année</td>
                                                                    </tr>
                                                                    <tr v-for="(vente, k) in summary.ventes" :key="k">
                                                                        <td>
                                                                            {{vente.besoin}}
                                                                        </td>
                                                                        <td style="font-weight: normal;">
                                                                            {{vente.quantite}}
                                                                        </td>
                                                                        <td style="font-weight: normal">
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="vente.punitaire">
                                                                            </vue-numeric>
                                                                        </td>
                                                                        <td style="font-weight: normal;">
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="vente.ptotal">
                                                                            </vue-numeric>
                                                                        </td>
                                                                        <td style="font-weight: normal;">
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="vente.ptotVenteAnnuel">
                                                                            </vue-numeric>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="background-color: #f3f1f1" class="table-group-header total">
                                                                        <td colspan="3">TOTAL DES VENTES</td>
                                                                        <td>
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="totalVentes.mensuel">
                                                                            </vue-numeric>
                                                                        </td>
                                                                        <td>
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="totalVentes.annuel">
                                                                            </vue-numeric>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="background-color: #745af2; color:#fff" class="table-group-header">
                                                                        <td>Charges</td>
                                                                        <td>Qtté</td>
                                                                        <td>PU</td>
                                                                        <td>Mois</td>
                                                                        <td>Année</td>
                                                                    </tr>
                                                                    <tr v-for="(charge, k) in summary.charges" :key="k">
                                                                        <td>
                                                                            {{charge.besoin}}
                                                                        </td>
                                                                        <td style="font-weight: normal;">
                                                                            {{charge.quantite}}
                                                                        </td>
                                                                        <td style="font-weight: normal">
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="charge.punitaire">
                                                                            </vue-numeric>
                                                                        </td>
                                                                        <td style="font-weight: normal">
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="charge.ptotal">
                                                                            </vue-numeric>
                                                                        </td>
                                                                        <td style="font-weight: normal">
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="charge.ptotChargeAnnuel">
                                                                            </vue-numeric>
                                                                        </td>

                                                                    </tr>
                                                                    <tr style="background-color: #f3f1f1" class="table-group-header total">
                                                                        <td colspan="3">TOTAL DES CHARGES</td>
                                                                        <td>
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                :value="totalCharges.mensuel">
                                                                            </vue-numeric>
                                                                        </td>
                                                                        <td>
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                v-model.number="totalCharges.annuel">
                                                                            </vue-numeric>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="table-group-header" :style="beneficeMensuel >= 0 ? 'background-color: #ffb22b': 'background-color: #fb3a3a'">
                                                                        <td colspan="3">RESULTAT NET</td>
                                                                        <td>
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                :value="beneficeMensuel">
                                                                            </vue-numeric>
                                                                        </td>
                                                                        <td>
                                                                            <vue-numeric
                                                                                :currency="currentCurrencyMask['currency']"
                                                                                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                                output-type="String"
                                                                                :empty-value="0"
                                                                                :precision="currentCurrencyMask['precision']"
                                                                                :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                                :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                                read-only-class="item-total" :min="currentCurrencyMask['min']"
                                                                                read-only
                                                                                :value="beneficeAnnuel">
                                                                            </vue-numeric>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <loading :active.sync="isLoading" :is-full-page="fullPage"></loading>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
    </div>
</template>
<script>
    import firebase from 'firebase'
    import VueNumeric from 'vue-numeric'
    import currenciesMaskMixin from './mixins/currenciesMask'
    import summaryToPdfmake from './mixins/summary/summaryToPdfmake'
    import calculations from "./mixins/summary/functions"
    import Router from '../../routes'

    export default {
        components: {
            VueNumeric
        },
        mixins: [summaryToPdfmake, calculations, currenciesMaskMixin],
        props:  {
            id: {
                type:[String, Number],
                required: true
            },
        },
        data() {
            return {
                summary: [],
                totalRessources:0,
                totalBesoins:0,
                // reformes
                totalVentes: {
                    'mensuel':0,
                    'annuel':0
                },
                totalCharges: {
                    'mensuel':0,
                    'annuel':0
                },
                fullPage:true,
                isLoading: false,
            }
        },
        mounted() {
            let a;
            // recherche de l'executiv summary
            var docRef = firebase.firestore().collection('summary').doc(this.id);
            console.log('Mon Id', this.id);
            docRef.get().then((doc) =>{
                if (doc.exists) {
                    this.summary = doc.data();
                    this.summary['branche'] = "";
                    this.summary['secteur'] = "";
                    let props = ['age', 'niveauPorteur', 'nomPorteur', 'prenom', 'sexe'];

                    props.forEach(prop => {
                       if (!this.summary.porteur.hasOwnProperty(prop))
                           this.summary.porteur[prop] = ""
                    });

                    // on va chercher la clef etrangere branche activite
                    if (this.summary.brancheActivite) {
                        firebase.firestore().collection('branches').doc(this.summary.brancheActivite).get()
                        .then((doc) => {
                            if(doc.exists) {
                                this.summary['branche'] = doc.data().libelle;
                            }
                        });
                    } else {
                        this.summary['branche'] = ""
                    }

                    // on va chercher les clefs etrangere
                    if (this.summary.activite) {
                        firebase.firestore().collection('activites')
                            .doc(this.summary.activite).get()
                            .then((doc) => {
                                if(doc.exists) {
                                    this.summary.secteur = doc.data().libelle;
                                }
                            });
                    } else {
                        this.summary.secteur = ""
                    }


                    // calcul des totaux grace aux fonctions qui sont stockees dans la mixin
                    this.totalVentes = this.calculTotalVente(this.summary.ventes);
                    this.totalBesoins = this.calculTotalBesoin(this.summary.besoins);
                    this.totalRessources = this.calculTotalRessource(this.summary.ressources);
                    this.totalCharges = this.calculTotalCharge(this.summary.charges);
                    //console.clear();
                    this.printPdfSummary(this.summary, {
                        "ressources":this.totalRessources, 
                        "ventes": this.totalVentes,
                        "besoins": this.totalBesoins,
                        "charges": this.totalCharges,
                        "solde": this.solde,
                        "beneficeAnnuel": this.beneficeAnnuel,
                        "beneficeMensuel": this.beneficeMensuel,
                    });
                } else {
                    // doc.data() will be undefined in this case
                    console.log("No such document!");
                }
            }).catch(function(error) {
                console.log("Error getting document:", error);
            });
        },
        computed: {
            solde(){
                return this.totalRessources - this.totalBesoins;
            },
            beneficeMensuel(){
                return this.totalVentes.mensuel - this.totalCharges.mensuel;
            },
            beneficeAnnuel(){
                return this.totalVentes.annuel - this.totalCharges.annuel;
            },

        }
    }
</script>

<style scoped>
    .strikethrough{
        text-decoration: line-through;
    }

    H1 {
        font-weight: 900;
    }

    body {
        font-weight: 430 !important;
    }

    #bizcanvas {
        border: 3px solid #3160AA;
        width: 100%;
    }

    #bizcanvas td {
        vertical-align: top;
        height: 200px;
        width: 200px;
        padding: 6px;
    }

    /* icon des cases bus. model*/
    [class^="icon-"], [class*=" icon-"] {
        font-size: 18px;
        margin-right: 5px;
    }

    #bizcanvas H4 {
        font-weight: 700;
        font-size: 1em;
    }

    h4 a {
        color: #3160AA;
    }

    #bizcanvas H5 {
        font-weight: 700;
        font-size: 0.7em;
    }

    #bizcanvas p {
        font-weight: 300;
        font-size: 0.8em;
    }

    textarea {
        width: 96%;
        max-width: 96%;
        min-width: 96%;
        padding: 10px 2%;
        height: 240px;
        border: none;
    }

    .my-card {
        border: solid 1px #398bf7 !important;
    }
</style>
