<template>
  <div class="page-wrapper home-footer-space">
    <div class="container-fluid">
      <div class="template-grid">
        <!-- first cards -->
        <el-col class="over1">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <router-link
              :to="{ name: 'singleSummary', params: { id: this.projet } }"
            >
              <img
                src="/bp/assets/images/background/summary.png"
                class="image"
              />
            </router-link>
            <!-- <router-link v-else >
                            <img src="/bp/assets/images/background/summary.png" class="image-disable">
                        </router-link > -->
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="resumeOpModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item
                      icon="el-icon-folder-opened"
                      @click.native="goProjet()"
                      >Projet</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-user"
                      @click.native="goPorteur()"
                      >Porteur</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-box"
                      @click.native="goProduit()"
                      >Produit/Service</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-s-tools"
                      @click.native="goBusiness()"
                      >Business Model</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-edit-outline"
                      @click.native="goVente()"
                      >Ventes-Charges</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col>
        <el-col v-if="this.bpeconomique" class="over2">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <a href="#">
              <img
                src="/bp/assets/images/background/bpeconomique.png"
                :class="{
                  image: this.bpeconomique,
                  'image-disable': !this.bpeconomique,
                }"
              />
            </a>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="etudeMarModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-plus"
                      >Action 1</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-plus"
                      >Action 2</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-plus-outline"
                      >Action 3</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-check"
                      >Action 4</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-check"
                      >Action 5</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col>
        <el-col class="over3">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <router-link
              v-if="this.financierPerm"
              :to="{ name: 'dashboardFinancier' }"
            >
              <img
                src="/bp/assets/images/background/bpfinancier.png"
                class="image"
              />
            </router-link>
            <router-link v-else>
              <img
                src="/bp/assets/images/background/bpfinancier.png"
                class="image-disable"
              />
            </router-link>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="busiPlanModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-tickets"
                      >Besoins</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-suitcase"
                      >Produits</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-coin"
                      >Plan Financement</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-pie-chart"
                      >Bilan Prévisionnel</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col>

        <!-- second cards -->
        <el-col class="over4">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <a href="#" @click="accessSuivi()">
              <img src="/bp/assets/images/background/suivi.png" class="image" />
            </a>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="execProjModal = true"
                  >Détails</el-button
                >
              </div>
            </div>
          </el-card>
        </el-col>
        <el-col v-if="this.erpPerm" class="over5">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <a v-if="this.suiviPerm" href="#" @click="accessErp()">
              <img src="/bp/assets/images/background/erp.png" class="image" />
            </a>
            <a v-else>
              <img
                src="/bp/assets/images/background/erp.png"
                class="image-disable"
              />
            </a>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="erpGestiModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-coin"
                      >Finances</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-user"
                      >Les Tiers</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-shopping-cart-1"
                      >Achats</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-finished"
                      >Ventes</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col>
        <el-col v-if="agiPerm" class="over6">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <a href="#">
              <img
                src="/bp/assets/images/background/agilite.png"
                class="image"
              />
            </a>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="agiEchelModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-plus"
                      >Action 1</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-plus"
                      >Action 2</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-plus-outline"
                      >Action 3</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-check"
                      >Action 4</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-check"
                      >Action 5</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col>
      </div>


      <!-- <el-row class="mb-3" :gutter="10">
        <el-col class="over1" :span="8">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <router-link
              :to="{ name: 'singleSummary', params: { id: this.projet } }"
            >
              <img
                src="/bp/assets/images/background/summary.png"
                class="image"
              />
            </router-link> -->

            <!-- <router-link v-else >
                            <img src="/bp/assets/images/background/summary.png" class="image-disable">
                        </router-link > -->

            <!-- <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="resumeOpModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item
                      icon="el-icon-folder-opened"
                      @click.native="goProjet()"
                      >Projet</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-user"
                      @click.native="goPorteur()"
                      >Porteur</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-box"
                      @click.native="goProduit()"
                      >Produit/Service</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-s-tools"
                      @click.native="goBusiness()"
                      >Business Model</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-edit-outline"
                      @click.native="goVente()"
                      >Ventes-Charges</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col>
        <el-col v-if="this.bpeconomique" class="over2" :span="8">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <a href="#">
              <img
                src="/bp/assets/images/background/bpeconomique.png"
                :class="{
                  image: this.bpeconomique,
                  'image-disable': !this.bpeconomique,
                }"
              />
            </a>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="etudeMarModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-plus"
                      >Action 1</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-plus"
                      >Action 2</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-plus-outline"
                      >Action 3</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-check"
                      >Action 4</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-check"
                      >Action 5</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col>
        <el-col class="over3" :span="8">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <router-link
              v-if="this.financierPerm"
              :to="{ name: 'dashboardFinancier' }"
            >
              <img
                src="/bp/assets/images/background/bpfinancier.png"
                class="image"
              />
            </router-link>
            <router-link v-else>
              <img
                src="/bp/assets/images/background/bpfinancier.png"
                class="image-disable"
              />
            </router-link>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="busiPlanModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-tickets"
                      >Besoins</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-suitcase"
                      >Produits</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-coin"
                      >Plan Financement</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-pie-chart"
                      >Bilan Prévisionnel</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col>
      </el-row> -->
      <!-- <el-row :gutter="10">
        <el-col class="over4" :span="8">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <a href="#" @click="accessSuivi()">
              <img src="/bp/assets/images/background/suivi.png" class="image" />
            </a>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="execProjModal = true"
                  >Détails</el-button
                >
              </div>
            </div>
          </el-card>
        </el-col>
        <el-col v-if="this.erpPerm" class="over5" :span="8">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <a v-if="this.suiviPerm" href="#" @click="accessErp()">
              <img src="/bp/assets/images/background/erp.png" class="image" />
            </a>
            <a v-else>
              <img
                src="/bp/assets/images/background/erp.png"
                class="image-disable"
              />
            </a>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="erpGestiModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-coin"
                      >Finances</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-user"
                      >Les Tiers</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-shopping-cart-1"
                      >Achats</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-finished"
                      >Ventes</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col>
        <el-col v-if="agiPerm" class="over6" :span="8">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
            <a href="#">
              <img
                src="/bp/assets/images/background/agilite.png"
                class="image"
              />
            </a>
            <div style="padding: 5px">
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button
                  type="text"
                  class="button"
                  @click="agiEchelModal = true"
                  >Détails</el-button
                >
                <el-dropdown
                  placement="top"
                  class="float-right"
                  trigger="click"
                >
                  <span class="el-dropdown-link">
                    <i class="el-icon-more"> </i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-plus"
                      >Action 1</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-plus"
                      >Action 2</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-plus-outline"
                      >Action 3</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-check"
                      >Action 4</el-dropdown-item
                    >
                    <el-dropdown-item icon="el-icon-circle-check"
                      >Action 5</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
          </el-card>
        </el-col> -->
      <!-- </el-row> -->

      <el-dialog :visible.sync="resumeOpModal" width="40%">
        <div class="card-body">
          <h3>1: Résumé Opérationnel</h3>
          <hr />
          <ul>
            <li>- Une idée assez claire de la vision du porteur de projet</li>
            <li>
              - De la solution présentée afin de résoudre le(s) problème(s)
              identifié(s)
            </li>
            <li>- Du model économique associé</li>
            <li>- Des chiffres clés de la partie financière.</li>
          </ul>
        </div>
      </el-dialog>
      <el-dialog :visible.sync="etudeMarModal" width="40%">
        <div class="card-body">
          <h3>2: Etude de Marché</h3>
          <hr />
          <ul>
            <li>- Contexte économique et contraintes possibles</li>
            <li>- Etude de marché</li>
            <li>- Produits / Services</li>
            <li>- Stratégie de développement</li>
          </ul>
        </div>
      </el-dialog>
      <el-dialog :visible.sync="busiPlanModal" width="40%">
        <div class="card-body">
          <h3>3: Business Plan Financier</h3>
          <hr />
          <ul>
            <li>-Eléments de bases</li>
            <li>-Plan de Financement</li>
            <li>-Compte de Résultat</li>
            <li>-Plan de Trésorerie</li>
            <li>-Besoin en fond de roulement</li>
            <li>-Seuil de rentabilité et point mort</li>
            <li>-Bilan</li>
            <li>-Solde intermédiaire de Gestions</li>
            <li>-Echeancier de prêt bancaires</li>
            <li>-Amortissement</li>
            <li>-Tableau de bord</li>
          </ul>
        </div>
      </el-dialog>
      <el-dialog :visible.sync="execProjModal" width="40%">
        <div class="card-body">
          <h3>4: Exécution Suivi-Projet</h3>
          <hr />
          <ul>
            <li>- Recettes</li>
            <li>- Dépenses</li>
            <li>- Solde</li>
            <li>- Tâches</li>
            <li>- Communication</li>
            <li>- Acteurs</li>
            <li>- Fiscalité</li>
            <li>- Paramètres</li>
          </ul>
        </div>
      </el-dialog>
      <el-dialog :visible.sync="erpGestiModal" width="40%">
        <div class="card-body">
          <h3>5: ERP Gestion</h3>
          <hr />
          <ul>
            <li>- Facturation</li>
            <li>- Ventes</li>
            <li>- Finances</li>
            <li>- Achats</li>
            <li>- CRM</li>
            <li>- RH & LES TIERS</li>
            <li>- Stocks</li>
            <li>- Documents</li>
            <li>- Finances</li>
          </ul>
        </div>
      </el-dialog>
      <el-dialog :visible.sync="agiEchelModal" width="40%">
        <div class="card-body">
          <h3>6: Agilité a l'échelle</h3>
          <hr />
          <ul>
            <li>- Recettes</li>
            <li>- Dépenses</li>
            <li>- Solde</li>
            <li>- Tâches</li>
            <li>- Communication</li>
            <li>- Acteurs</li>
            <li>- Fiscalité</li>
            <li>- Paramètres</li>
          </ul>
        </div>
      </el-dialog>
      <!-- <div  class="row home-menu-line">
                <div  class="col-lg-4 col-sm-4 over1 mg-1">
                    <router-link v-if="this.$route.params.data.executiveSummary.state" :to="{ name:'singleSummary',params:{id:this.projet} }"  class="card bg-cbs" id="summary">
                        <div v-intro="'Le résumé opérationnel d\'un projet est régulirèment utilisé lors des pré-sélection des concours de plan d\'affaires '" v-intro-step="1" class="card-body" >
                            <div class="d-flex no-block"></div>
                            <h3 class="overlay">1: Résumé Opérationnel
                            <h4 class="contentpresent">Il permet aux organisateurs du concours d'avoir: </h4>
                            <h4 class="contentpresent">1.1 Une idée assez claire de la vision du porteur de projet</h4>
                            <h4 class="contentpresent">1.2 De la solution présentée afin de résoudre le(s) problème(s) identifié(s) </h4>
                            <h4 class="contentpresent">1.3 Du model économique associé   </h4>
                            <h4 class="contentpresent">1.4 Des chiffres clés de la partie financière.   </h4>
                             </h3>
                          
                        </div>
                    </router-link>
                    <router-link  v-else :to="{ name:'singleSummary',params:{id:this.projet} }"  class="card bg-cbs" id="summaryDisabled">
                        <div v-intro="'Le résumé opérationnel d\'un projet est régulirèment utilisé lors des pré-sélection des concours de plan d\'affaires '" v-intro-step="1" class="card-body" >
                            <div class="d-flex no-block"></div>
                            <h3 class="overlay">1: Résumé Opérationnel
                            <h4 class="contentpresent">Il permet aux organisateurs du concours d'avoir: </h4>
                            <h4 class="contentpresent">1.1 Une idée assez claire de la vision du porteur de projet</h4>
                            <h4 class="contentpresent">1.2 De la solution présentée afin de résoudre le(s) problème(s) identifié(s) </h4>
                            <h4 class="contentpresent">1.3 Du model économique associé   </h4>
                            <h4 class="contentpresent">1.4 Des chiffres clés de la partie financière.   </h4>
                            </h3>
                          
                        </div>
                    </router-link>
                </div>
                <div class="col-lg-4 col-sm-4 over2 mg-2">
                    <a v-if="this.bpeconomique" href="/bp/bpeconomique" class="card bg-cbs home-menu-img" id="bpeconomique">
                        <div   v-intro="'La partie economique du business plan a pour but de présenter le montage complet du projet de création d\'entreprise et d\'en justifier la cohérence selon un contexte bien précis qui sera analysé minutieusement après une étude de marché '" v-intro-step="2" class="card-body" >
                            <div class="d-flex no-block">
                                <div class="centrer">
                                </div>
                            </div>
                            <h3 class="overlay">2: Etude de Marché

                                <h4 class="contentpresent">2.1 Contexte économique et contraintes possibles</h4>
                                <h4 class="contentpresent">2.2 Etude de marché</h4>
                                <h4 class="contentpresent">2.3 Produits / Services</h4>
                                <h4 class="contentpresent">2.4 Stratégie de développement  </h4>
                            </h3>
                           

                        </div>
                    </a>
                    <a v-else href="#" class="card bg-cbs home-menu-img" id="bpeconomiqueDisabled">
                        <div   v-intro="'La partie economique du business plan a pour but de présenter le montage complet du projet de création d\'entreprise et d\'en justifier la cohérence selon un contexte bien précis qui sera analysé minutieusement après une étude de marché '" v-intro-step="2" class="card-body" >
                            <div class="d-flex no-block">
                                <div class="centrer">
                                </div>
                            </div>
                            <h3 class="overlay">2: Etude de Marché

                                <h4 class="contentpresent">2.1 Contexte économique et contraintes possibles</h4>
                                <h4 class="contentpresent">2.2 Etude de marché</h4>
                                <h4 class="contentpresent">2.3 Produits / Services</h4>
                                <h4 class="contentpresent">2.4 Stratégie de développement  </h4>
                            </h3>
                           

                        </div>
                    </a>
                </div>
                 <div class="col-lg-4 col-sm-4 over3 mg-1">
                    <router-link v-if="this.financierPerm" :to="{ name:'dashboardFinancier'}"  class="card bg-cbs" id="bpfinancier">
                        <div  v-intro="'La partie Financière est la dernière phase de réalisation du Business Plan, sa rédaction dépend d\’une planification méticuleuse  et d\’une réalisation rigoureuse de l\’étude de marché faite dans la partie économique. '" v-intro-step="3" class="card-body" >

                            <div class="d-flex no-block">
                                <div class="centrer">
                                </div>
                            </div>
                            <h3 class="overlay">3: Business plan Financier

                                <h4 class="contentpresent">3.1 Eléments de bases</h4>
                                <h4 class="contentpresent">3.2 Plan de Financement </h4>
                                <h4 class="contentpresent">3.3 Compte de Résultat </h4>
                                <h4 class="contentpresent">3.4 Plan de Trésorerie   </h4>
                                <h4 class="contentpresent">3.4 Besoin en fond de roulement   </h4>
                                <h4 class="contentpresent">3.5 Seuil de rentabilité et point mort</h4>
                                <h4 class="contentpresent">3.6 Bilan </h4>
                                <h4 class="contentpresent">3.7 Solde intermédiaire de Gestions</h4>
                                <h4 class="contentpresent">3.8 Echeancier de prêt bancaires</h4>
                                <h4 class="contentpresent">3.9 Amortissement</h4>
                                <h4 class="contentpresent">3.10 Tableau de bord</h4>

                              

                            </h3>
                        </div>
                    </router-link>
                    <router-link v-else :to="{ name:'dashboardFinancier'}"  class="card bg-cbs" id="bpfinancierDisabled">
                        <div  v-intro="'La partie Financière est la dernière phase de réalisation du Business Plan, sa rédaction dépend d\’une planification méticuleuse  et d\’une réalisation rigoureuse de l\’étude de marché faite dans la partie économique. '" v-intro-step="3" class="card-body" >

                            <div class="d-flex no-block">
                                <div class="centrer">
                                </div>
                            </div>
                            <h3 class="overlay">3: Business plan Financier

                                <h4 class="contentpresent">3.1 Eléments de bases</h4>
                                <h4 class="contentpresent">3.2 Plan de Financement </h4>
                                <h4 class="contentpresent">3.3 Compte de Résultat </h4>
                                <h4 class="contentpresent">3.4 Plan de Trésorerie   </h4>
                                <h4 class="contentpresent">3.4 Besoin en fond de roulement   </h4>
                                <h4 class="contentpresent">3.5 Seuil de rentabilité et point mort</h4>
                                <h4 class="contentpresent">3.6 Bilan </h4>
                                <h4 class="contentpresent">3.7 Solde intermédiaire de Gestions</h4>
                                <h4 class="contentpresent">3.8 Echeancier de prêt bancaires</h4>
                                <h4 class="contentpresent">3.9 Amortissement</h4>
                                <h4 class="contentpresent">3.10 Tableau de bord</h4>

                              

                            </h3>
                        </div>
                    </router-link>
                </div>
            </div> -->
      <div class="row home-menu-line">
        <!-- <div class="col-lg-4 col-sm-4 over4 mg-2">
                    <a v-if="this.suiviPerm" href="#" @click="accessSuivi()" id="suivi" class="card bg-cbs">
                        <div  v-intro="'Le suivi permet au porteurs de projets à l\'incubateur et aux bailleurs de fonds d\'avoir en temps réel l\'état d\'avancement du projet'" v-intro-step="4" class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">

                                </div>
                            </div>
                            <h3 class="overlay">4: Suivi du projet

                                <h4 class="contentpresent">4.1 Recettes</h4>
                                <h4 class="contentpresent">4.2 Dépenses </h4>
                                <h4 class="contentpresent">4.3 Solde </h4>
                                <h4 class="contentpresent">4.4 Tâches </h4>
                                <h4 class="contentpresent">4.5 Communication </h4>
                                <h4 class="contentpresent">4.6 Acteurs </h4>
                                <h4 class="contentpresent">4.7 Fiscalité </h4>
                                <h4 class="contentpresent">4.8 Paramètres </h4>
                               
                            </h3>

                        </div>
                    </a>
                    <a v-else @click="accessSuivi()"  href="#" id="suiviDisabled" class="card bg-cbs">
                        <div  v-intro="'Le suivi permet au porteurs de projets à l\'incubateur et aux bailleurs de fonds d\'avoir en temps réel l\'état d\'avancement du projet'" v-intro-step="4" class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">

                                </div>
                            </div>
                            <h3 class="overlay">4: Suivi du projet

                                <h4 class="contentpresent">4.1 Recettes</h4>
                                <h4 class="contentpresent">4.2 Dépenses </h4>
                                <h4 class="contentpresent">4.3 Solde </h4>
                                <h4 class="contentpresent">4.4 Tâches </h4>
                                <h4 class="contentpresent">4.5 Communication </h4>
                                <h4 class="contentpresent">4.6 Acteurs </h4>
                                <h4 class="contentpresent">4.7 Fiscalité </h4>
                                <h4 class="contentpresent">4.8 Paramètres </h4>
                               
                            </h3>

                        </div>
                    </a>
                </div> -->

        <!-- <div class="col-lg-4 col-sm-4 over4 mg-2">
                    <a v-if="this.suiviPerm" href="#" id="suivi" class="card bg-cbs">
                        <div  v-intro="'Le suivi permet au porteurs de projets à l\'incubateur et aux bailleurs de fonds d\'avoir en temps réel l\'état d\'avancement du projet'" v-intro-step="4" class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">

                                </div>
                            </div>
                            <h3 class="overlay">5: ERP Gestion

                                <h4 class="contentpresent">5.1 Facturation</h4>
                                <h4 class="contentpresent">5.2 Ventes </h4>
                                <h4 class="contentpresent">5.3 Finances </h4>
                                <h4 class="contentpresent">5.4 Achats </h4>
                                <h4 class="contentpresent">5.5 CRM </h4>
                                <h4 class="contentpresent">5.6 RH & LES TIERS </h4>
                                <h4 class="contentpresent">5.7 Stocks </h4>
                                <h4 class="contentpresent">5.8 Documents </h4>
                                <h4 class="contentpresent">5.9 Finances </h4>
                               
                            </h3>

                        </div>
                    </a>
                    <a v-else href="#" id="suiviDisabled" class="card bg-cbs">
                        <div  v-intro="'Le suivi permet au porteurs de projets à l\'incubateur et aux bailleurs de fonds d\'avoir en temps réel l\'état d\'avancement du projet'" v-intro-step="4" class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">

                                </div>
                            </div>
                              <h3 class="overlay">5: ERP Gestion

                                <h4 class="contentpresent">5.1 Facturation</h4>
                                <h4 class="contentpresent">5.2 Ventes </h4>
                                <h4 class="contentpresent">5.3 Finances </h4>
                                <h4 class="contentpresent">5.4 Achats </h4>
                                <h4 class="contentpresent">5.5 CRM </h4>
                                <h4 class="contentpresent">5.6 RH & LES TIERS </h4>
                                <h4 class="contentpresent">5.7 Stocks </h4>
                                <h4 class="contentpresent">5.8 Documents </h4>
                                <h4 class="contentpresent">5.9 Finances </h4>
                               
                            </h3>

                        </div>
                    </a>
                </div> -->
        <!-- <div class="col-lg-4 col-sm-4 over4 mg-2">
                    <a v-if="this.suiviPerm" href="#" id="suivi" class="card bg-cbs">
                        <div  v-intro="'Le suivi permet au porteurs de projets à l\'incubateur et aux bailleurs de fonds d\'avoir en temps réel l\'état d\'avancement du projet'" v-intro-step="4" class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">

                                </div>
                            </div>
                            <h3 class="overlay">6: AGILITE A L'ECHELLE

                                <h4 class="contentpresent">4.1 Recettes</h4>
                                <h4 class="contentpresent">4.2 Dépenses </h4>
                                <h4 class="contentpresent">4.3 Solde </h4>
                                <h4 class="contentpresent">4.4 Tâches </h4>
                                <h4 class="contentpresent">4.5 Communication </h4>
                                <h4 class="contentpresent">4.6 Acteurs </h4>
                                <h4 class="contentpresent">4.7 Fiscalité </h4>
                                <h4 class="contentpresent">4.8 Paramètres </h4>
                               
                            </h3>

                        </div>
                    </a>
                    <a v-else href="#" id="suiviDisabled" class="card bg-cbs">
                        <div  v-intro="'Le suivi permet au porteurs de projets à l\'incubateur et aux bailleurs de fonds d\'avoir en temps réel l\'état d\'avancement du projet'" v-intro-step="4" class="card-body">
                            <div class="d-flex no-block">
                                <div class="centrer">

                                </div>
                            </div>
                            <h3 class="overlay">6: AGILITE A L'ECHELLE

                                 <h4 class="contentpresent">4.1 Recettes</h4>
                                <h4 class="contentpresent">4.2 Dépenses </h4>
                                <h4 class="contentpresent">4.3 Solde </h4>
                                <h4 class="contentpresent">4.4 Tâches </h4>
                                <h4 class="contentpresent">4.5 Communication </h4>
                                <h4 class="contentpresent">4.6 Acteurs </h4>
                                <h4 class="contentpresent">4.7 Fiscalité </h4>
                                <h4 class="contentpresent">4.8 Paramètres </h4> -->

        <!-- </h3> -->

        <!-- </div> -->
        <!-- </a> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import helper from "../../services/helper";
import ClickConfirm from "click-confirm";
import firebase from "firebase";
import VueIntro from "vue-introjs";
import "intro.js/introjs.css";
export default {
  data() {
    return {
      users_count: "",
      tasks_count: "",
      resumeOpModal: false,
      etudeMarModal: false,
      busiPlanModal: false,
      execProjModal: false,
      erpGestiModal: false,
      agiEchelModal: false,
      recent_incomplete_tasks: {},

      todos: [],
      todoForm: new Form({
        todo: "",
      }),
      projet: JSON.parse(localStorage.getItem("userSession")).projet,
      firstTimeConnection: false,
      financierPerm: false,
      suiviPerm: false,
      bpeconomonique: false,
      currentDate: "",
      bpeconomique: false,
      erpPerm: false,
      agiPerm: false,
    };
  },
  components: { ClickConfirm },
  created() {
    if (this.$route.params.data.suivi) {
      this.$route.params.data.suivi.forEach((item) => {
        if (item.checked) {
          this.suiviPerm = true;
        }
      });
    }

    if (this.$route.params.data.bpFinancier) {
      this.$route.params.data.bpFinancier.forEach((item) => {
        if (item.checked) {
          this.financierPerm = true;
        }
      });
    }

    this.$loading().close();
  },
  mounted() {
    let dateInitial = new Date(this.firstTimeConnection);
    let currentDate = new Date();
    //  console.log('Date actuelle',currentDate)
    // console.log('Date initiale',dateInitial)
    if (
      dateInitial.getFullYear() == currentDate.getFullYear() &&
      dateInitial.getMonth() == currentDate.getMonth() &&
      dateInitial.getDay() == currentDate.getDay()
    ) {
      //  console.log('HOLLA MUNDO')
      this.$intro()
        .setOptions({
          nextLabel: "Suivant",
          prevLabel: "Précédent",
          skipLabel: "Quitter",
          doneLabel: "Terminer",
        })
        .start();
    }
  },
  methods: {
    accessSuivi() {
      this.$route.params.data.suivi.forEach((itemarray, index1) => {
        if (itemarray.checked && !itemarray.haschildren) {
          this.$router.replace({ name: itemarray.route });
        }
        if (itemarray.checked && itemarray.haschildren) {
          itemarray.content.forEach((itemcontent, index2) => {
            this.$router.push({
              name: "suivi-dashboard",
              params: { routeIndex1: index1, beforeRoute: this.$route.name },
            });
          });
        }
      });
    },
    accessErp() {
      this.$router.push({ name: "erp-home" });
    },
    disabledNotification() {
      this.$message("Vous n'avez pas les droits d'accès à ce module.");
    },

    // Résumé Opérationnel

    goProjet() {
      this.$router.push({ name: "singleSummary", params: { id: this.projet } });
    },
    goPorteur() {
      this.$router.push({
        name: "singleSummary",
        params: { id: this.projet, activeTab: 1 },
      });
    },
  },
  computed: {},
  filters: {
    moment(date) {
      return helper.formatDate(date);
    },
    momentWithTime(date) {
      return helper.formatDateTime(date);
    },
  },
};
</script>
<style>
.strikethrough {
  text-decoration: line-through;
}

.over {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.596); /* Black see-through */
  color: #f1f1f1;
  width: 95%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 50px;
  margin-right: 50px;
  text-align: left;
}
.contentpresent {
  color: #f1f1f1;
  text-align: left;
  font-size: 15px;
}

.over1:hover .overlay {
  opacity: 1;
}
.over2:hover .overlay {
  opacity: 1;
}
.over3:hover .overlay {
  opacity: 1;
}
.over4:hover .overlay {
  opacity: 1;
}
.over5:hover .overlay {
  opacity: 1;
}
.over6:hover .overlay {
  opacity: 1;
}

.over1:hover img {
  opacity: 0.7;
}
.over2:hover img {
  opacity: 0.7;
}
.over3:hover img {
  opacity: 0.7;
}
.over4:hover img {
  opacity: 0.7;
}
.over5:hover img {
  opacity: 0.7;
}
.over6:hover img {
  opacity: 0.7;
}
.image {
  width: 100%;
  display: block;
  transition: filter 0.5s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.image-disable {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
}
.el-icon-more {
  cursor: pointer;
  font-size: 20px;
}

.template-grid {
  display: grid;
  gap: 30px;
  margin: 34px 0;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
</style>
