<template>
  <div class="image-preview" v-if="imageData.length > 0">
    <img ref="preview" class="preview" src="" />
  </div>
</template>

<script>
export default {
    data () {
        return {
        imageData: null // we will store base64 format of image in this string
        }
    },
    watch: {
        imageData () {
            const reader = new FileReader();
            // Define a callback function to run, when FileReader finishes its job
            reader.onload = (e) => {
                // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                // Read image as base64 and set to imageData
                this.$refs.preview.src = e.target.result;
            }
            // Start the reader job - read file as a data url (base64 format)
            reader.readAsDataURL(this.imageData);
        }
    }
}
</script>

<style scoped>
img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}
.image-preview {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 20px;
}
</style>