<template>
    <div class="card">
        <div class="card-body">
            <h4>3. Présentation du produit/service: </h4>
            <div :class="noteTotal() <10 ? 'rectangle rectangle-danger': 'rectangle rectangle-success'">
                <span style="font-size: 45px">{{noteTotal()}}/20</span>
            </div>
        </div>
        <div> <hr> </div>
        <div class="card-body">
            <h4>Evaluateur : {{getAuthUserFullName()}} </h4>
            <p class="text-muted m-b-30 font-13"> critères au choix </p>
            <form class="form-horizontal">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select" id="inlineFormCustomSelect">
                            <option value="1">Solutions</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere1Mention" :item-size="13" v-model="note3.rating1"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication">Solutions : {{this.mentionCritere1}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select">
                            <option value="2">Valeur A.</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere2Mention" :item-size="13" v-model="note3.rating2"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication">Valeur Ajoutée : {{this.mentionCritere2}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select">
                            <option value="3">Problème</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere3Mention" :item-size="13" v-model="note3.rating3"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication">Problème : {{this.mentionCritere3}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select">
                            <option value="3">Bénéfice</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere4Mention" :item-size="13" v-model="note3.rating4"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication">Bénéfice : {{this.mentionCritere4}}</span>
                    </div>
                </div>

            </form>
        </div>
        <div> <hr> </div>
        <div class="card-body">
            <h5>Indications</h5>
            <p>
                <ul>
                    <li style="list-style-type: disc !important;">1 étoile&nbsp;&nbsp; = <span style="color:red"> Médiocre</span></li>
                    <li style="list-style-type: disc !important;">2 étoiles = <span style="color:orange"> insuffisant</span></li>
                    <li style="list-style-type: disc !important;">3 étoiles = <span style="color:blue"> assez-bien</span></li>
                    <li style="list-style-type: disc !important;">4 étoiles = <span style="color:#06d79c"> bien</span></li>
                    <li style="list-style-type: disc !important;">5 étoiles = <span style="color:#06d79c"> Excellent</span></li>
                </ul>
            </p>
        </div>
    </div>
</template>

<script>
    import {StarRating} from 'vue-rate-it'
    import firebase from 'firebase'
    import mention from './mixins/evaluateur/mention'

    export default {
        name: 'some',
        mixins: [mention],
        props: {
            summary: {
                type: Object
            },
            reference: {
                type: String
            },
        },
        components: {
            StarRating
        },
        computed: {
            note(){
                return this.note3.rating1+this.note3.rating2+this.note3.rating3+this.note3.rating4;
            }
        },
        data() {
            return {
                note3: {
                    rating1:0,
                    rating2:0,
                    rating3:0,
                    rating4:0
                }
            }
        },
            created(){
                const sum = firebase.firestore().collection('summary').doc(this.reference);
                let db = firebase.firestore();
                db.collection('evaluation').where('summary', '==', sum).get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    this.note3.rating1 = doc.data().produit.Solution
                    this.note3.rating2 = doc.data().produit.Valeur
                    this.note3.rating3 = doc.data().produit.Problème
                    this.note3.rating4 = doc.data().produit.Bénéfice
                })
            })
            },
        watch: {
            note: function () {
                this.$emit('noteInterfaceTrois',this.eval());
            }
        },
        methods:{
            noteTotal : function () {
                return this.note3.rating1+this.note3.rating2+this.note3.rating3+this.note3.rating4;
            },
            eval : function () {
                var evalu = {
                    Solution: this.note3.rating1,
                    'Valeur': this.note3.rating2,
                    'Problème': this.note3.rating3,
                    'Bénéfice': this.note3.rating4,
                    'note3': this.noteTotal()
                }
                return evalu;
            },
            getAuthUserFullName(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let profileName = userInfo.displayName;
                    return profileName           
                }   
            },

        }
    }
</script>

<style scoped>
    @import '../../../../../resources/assets/sass/tiny-inputs.scss';

    .explication {
        font-size:12px; 
        font-style: italic; 
        color:red; 
        margin-left:2px !important;
    }
</style>
