<template>
    <div class="card">
        <div class="card-body">
            <h4>5. Chiffres clés Ventes-Charges : </h4>
            <div :class="noteTotal() <10 ? 'rectangle rectangle-danger': 'rectangle rectangle-success'">
                <span style="font-size: 45px">{{noteTotal()}}/20</span>
            </div>
        </div>
        <div> <hr> </div>
        <div class="card-body">
            <h4>Evaluateur : {{getAuthUserFullName()}} </h4>
            <p class="text-muted m-b-30 font-13"> critères au choix </p>
            <form class="form-horizontal">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select" id="inlineFormCustomSelect">
                            <option value="1">Besoins</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere1Mention" :item-size="13" v-model="note5.rating1"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication" style="">Pertinence, utilité des besoins:  {{this.mentionCritere1}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select">
                            <option value="2">Ressources</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere2Mention" :item-size="13" v-model="note5.rating2"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication" style="">Suffisance des ressources:  {{this.mentionCritere2}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select">
                            <option value="3">Ventes</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere3Mention" :item-size="13" v-model="note5.rating3"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication" style="">Réalisme des ventes:  {{this.mentionCritere3}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select">
                            <option value="3">Charges</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere4Mention" :item-size="13" v-model="note5.rating4"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication">Cohérence des charges:  {{this.mentionCritere4}}</span>
                    </div>
                </div>

            </form>
        </div>
        <div> <hr> </div>
        <div class="card-body">
            <h5>Indications</h5>
            <p>
                <ul class="indication">
                    <li style="list-style-type: disc !important;">1 étoile&nbsp;&nbsp; = <span style="color:red"> Médiocre</span></li>
                    <li style="list-style-type: disc !important;">2 étoiles = <span style="color:orange"> insuffisant</span></li>
                    <li style="list-style-type: disc !important;">3 étoiles = <span style="color:blue"> assez-bien</span></li>
                    <li style="list-style-type: disc !important;">4 étoiles = <span style="color:#06d79c"> bien</span></li>
                    <li style="list-style-type: disc !important;">5 étoiles = <span style="color:#06d79c"> Excellent</span></li>
                </ul>
            </p>
        </div>
    </div>
</template>

<script>
    import {StarRating} from 'vue-rate-it'
    import firebase from 'firebase'
    import mention from './mixins/evaluateur/mention'

    export default {
        name: 'some',
        mixins: [mention],
        props: {
            summary: {
                type: Object
            },
            reference: {
                type: String
            },
        },
        components: {
            StarRating
        },
        computed: {
            note(){
                return this.note5.rating1+this.note5.rating2+this.note5.rating3+this.note5.rating4+this.note5.rating5;
            }
        },
        data() {
            return {
                note5: {
                    rating1:0,
                    rating2:0,
                    rating3:0,
                    rating4:0
                }
            }
        },
        watch: {
            note: function () {
                this.$emit('noteInterfaceCinq',this.eval());
            }
        },
            created(){
                const sum = firebase.firestore().collection('summary').doc(this.reference);
                let db = firebase.firestore();
                db.collection('evaluation').where('summary', '==', sum).get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    this.note5.rating1 = doc.data().chiffre.Besoin
                    this.note5.rating2 = doc.data().chiffre.Ressource
                    this.note5.rating3 = doc.data().chiffre.Vente
                    this.note5.rating4 = doc.data().chiffre.Charge
                })
                })
            },
        methods:{
            noteTotal : function () {
                return this.note5.rating1+this.note5.rating2+this.note5.rating3+this.note5.rating4;
            },
            eval : function () {
                var evalu = {
                    Besoin: this.note5.rating1,
                    'Ressource': this.note5.rating2,
                    'Vente': this.note5.rating3,
                    'Charge': this.note5.rating4,
                    'note5': this.noteTotal()
                }
                return evalu;
            },
            getAuthUserFullName(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let profileName = userInfo.displayName;
                    return profileName           
                }   
            },
        }
    }
</script>
<style scoped>
    @import '../../../../../resources/assets/sass/tiny-inputs.scss';

    .explication {
        font-size:12px; 
        font-style: italic; 
        color:red; 
        margin-left:2px !important;
    }
    ul .indication>li {
        list-style-type: disc !important;
    }
</style>
