<template>
    <div class="card">
        <div class="card-body">
            <h4>4. Business Model Canvas : </h4>
            <div :class="noteTotal() <10 ? 'rectangle rectangle-danger': 'rectangle rectangle-success'">
                <span style="font-size: 45px">{{noteTotal()}}/20</span>
            </div>
        </div>
        <div> <hr> </div>
        <div class="card-body">
            <h4>Evaluateur : {{getAuthUserFullName()}} </h4>
            <p class="text-muted m-b-30 font-13"> critères au choix </p>
            <form class="form-horizontal">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select" id="inlineFormCustomSelect">
                            <option value="1">Cohérent</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span>
                            <star-rating @rating-selected="setCritere1Mention" :item-size="13" v-model="note4.rating1"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication" style="">Cohérent : {{this.mentionCritere1}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select">
                            <option value="2">Viable</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere2Mention" :item-size="13" v-model="note4.rating2"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication" style="">Viable : {{this.mentionCritere2}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select">
                            <option value="3">Faisabilité</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere3Mention" :item-size="13" v-model="note4.rating3"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication" style="">Faisabilité : {{this.mentionCritere3}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select">
                            <option value="3">Extensible</option>
                        </select>
                    </div>
                    <div class="col-sm-6 etoile">
                        <span><star-rating @rating-selected="setCritere4Mention" :item-size="13" v-model="note4.rating4"></star-rating></span>
                    </div>
                    <div class="col-sm-12">
                        <span class="explication" style="">Extensible : {{this.mentionCritere4}}</span>
                    </div>
                </div>

            </form>
        </div>
        <div> <hr> </div>
        <div class="card-body">
            <h5>Indications</h5>
            <p>
                <ul>
                    <li style="list-style-type: disc !important;">1 étoile&nbsp;&nbsp; = <span style="color:red"> Médiocre</span></li>
                    <li style="list-style-type: disc !important;">2 étoiles = <span style="color:orange"> insuffisant</span></li>
                    <li style="list-style-type: disc !important;">3 étoiles = <span style="color:blue"> assez-bien</span></li>
                    <li style="list-style-type: disc !important;">4 étoiles = <span style="color:#06d79c"> bien</span></li>
                    <li style="list-style-type: disc !important;">5 étoiles = <span style="color:#06d79c"> Excellent</span></li>
                </ul>
            </p>
        </div>
    </div>
</template>

<script>
    import {StarRating} from 'vue-rate-it'
    import firebase from 'firebase'
    import mention from './mixins/evaluateur/mention'

    export default {
        name: 'some',
        mixins: [mention],
        props: {
            summary: {
                type: Object
            },
            reference: {
                type: String
            },
        },
        components: {
            StarRating
        },
        computed: {
            note(){
                return this.note4.rating1+this.note4.rating2+this.note4.rating3+this.note4.rating4;
            }
        },
        data() {
            return {
                note4: {
                    rating1:0,
                    rating2:0,
                    rating3:0,
                    rating4:0,
                }
            }
        },
        watch: {
            note: function () {
                this.$emit('noteInterfaceQuatre',this.eval());
            }
        },
            created(){
                const sum = firebase.firestore().collection('summary').doc(this.reference);
                let db = firebase.firestore();
                db.collection('evaluation').where('summary', '==', sum).get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    this.note4.rating1 = doc.data().bmc.Cohérence
                    this.note4.rating2 = doc.data().bmc.Viable
                    this.note4.rating3 = doc.data().bmc.Faisabilité
                    this.note4.rating4 = doc.data().bmc.Extensible
                })
                })
            },
        methods:{
            noteTotal : function () {
                return this.note4.rating1+this.note4.rating2+this.note4.rating3+this.note4.rating4;
            },
            eval : function () {
                var evalu = {
                    Cohérence: this.note4.rating1,
                    'Viable': this.note4.rating2,
                    'Faisabilité': this.note4.rating3,
                    'Extensible': this.note4.rating4,
                    'note4': this.noteTotal()
                }
                return evalu;
            },
            getAuthUserFullName(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let profileName = userInfo.displayName;
                    return profileName           
                }   
            },

        }
    }
</script>

<style scoped>
    @import '../../../../../resources/assets/sass/tiny-inputs.scss';

    .explication {
        font-size:12px; 
        font-style: italic; 
        color:red; 
        margin-left:2px !important;
    }
</style>
