<template>
    <div> <p> Mise a jour des collections financier pour ajout des resultats exceptionnels</p> </div>
</template>

<script>
    import Vue from 'vue'
    import Loading from 'vue-loading-overlay'
    import 'vue-loading-overlay/dist/vue-loading.css'
    import firebase from 'firebase'
    import helper from '../../services/helper'
    import produit from './financier/default.produits.json'
    import aucuneTva from './financier/default.tvaaucune.json'
    import tvaNormale from './financier/default.tvanormale.json'
    import defaultTva from './financier/default.tva.json'
    import defaultProduit from './financier/default.produits.json'
    import defaultCharge from './financier/default.charges.json'
    import produitMixin from './mixins/financier/produits'
    import produitsPerdus from './financier/produitPerdu.json'

    export default {
        mixins: [helper, produitMixin],
        data() {
            return {
                
            }
        },
        created() {
            // Do it for everything
            firebase.firestore().collection('financier').get().then( (querySnapshot) => {
                querySnapshot.forEach( (doc) => { 
                    this.scaffoldParametreFinancier(doc);
                })
            });

            /* Do it for one 
            firebase.firestore().collection('financier').doc("9YSse6dCd6OSMU9xx9Cl").get()
            .then( (doc) => {
                this.scaffoldChargeVariablesProduits(doc);
            }); */

            /*
            produitsPerdus.forEach( document => {
                firebase.firestore().collection('financier').doc(document.id).get()
                .then( (doc) => {
                    let produits = doc.get('produits');
                    produits['articles'] = document.articles ;
                    firebase.firestore().collection('financier').doc(document).update({produits: produits});
                })
            }); */
            /*
            firebase.firestore().collection('financier').doc("9YSse6dCd6OSMU9xx9Cl").get()
                .then( (doc) => {
                    this.scaffoldChiffreMensuelProduits(doc);
                }) */

            return console.log(true);
        },
        mounted() {
            
        },
        methods: {
            /** 
             * creation conditionnelle d'un nouveau champ "resultatsExceptionnels"
             * dans les produits financiers
             * */
            scaffoldParametreFinancier: function (doc) {
                
                /* this.listBpFinancier.forEach( (doc) => {
                    firebase.firestore().collection('financier')
                    .doc('9YSse6dCd6OSMU9xx9Cl').get().then( (doc) => { */
                        let data = doc.data();
                        if(!data.hasOwnProperty('parametres')){
                            firebase.firestore().collection('financier')
                              .doc(doc.id).update({ parametres: {"tva": defaultTva, currency: null}})
                              .then( result => { console.log('parametres tva done ', doc.id)});
                        }
                        console.log(' - - - - - - ');
                // });
            },
            scaffoldResultatsExceptionnels: function() {
                firebase.firestore().collection('financier').get().then( (querySnapshot) => {
                    querySnapshot.forEach( (doc) => {
                    /** firebase.firestore().collection('financier')
                    .doc('9YSse6dCd6OSMU9xx9Cl').get().then( (doc) => { **/
                        console.log(doc.id, ' => ', doc.data());
                        let id = doc.id;
                        let produits = doc.get('produits');
                        if(produits.hasOwnProperty('resultatsExceptionnels')){
                            if(this.isEmpty(produits.exceptionnel)) {
                                firebase.firestore().collection('financier')
                                .doc(id).update({ produits: produits})
                                .then( result => { console.log('done')});
                            }
                        }else {
                            produits['resultatsExceptionnels'] = defaultProduit['resultatsExceptionnels'];
                            firebase.firestore().collection('financier')
                            .doc(id).update({ produits: produits})
                                .then( result => { console.log('done')});
                        }
                        console.log(' - - - - - - ');
                    });
                });
            },
            scaffoldTvaProduits: function(doc) {
                /*this.listBpFinancier.forEach( (doc) => {
                /* firebase.firestore().collection('financier')
                .doc('9YSse6dCd6OSMU9xx9Cl').get().then( (doc) => {  */
                console.log(doc.id, ' => ', doc.data());
                let id = doc.id;
                let produits = doc.get('produits');
                // creation de champs tva et prixIncludeTaxe
                if(produits.hasOwnProperty('articles')){
                    if(!this.isEmpty(produits['articles'])){
                        produits['articles'].forEach( (article) => {
                            if(!article.hasOwnProperty('tva')){
                                article['tva'] = tvaNormale;
                                article['prixIncludeTaxe'] = true;
                            }
                        });
                        firebase.firestore().collection('financier')
                            .doc(id).update({ produits: produits})
                            .then( result => { console.log('done', id)});
                    }
                }
                else if(produits.hasOwnProperty('produit-service')){
                    if(!this.isEmpty(produits['produit-service'])){
                        produits['produit-service'].forEach( (article) => {
                            if(!article.hasOwnProperty('tva')){
                                article['tva'] = tvaNormale;
                                article['prixIncludeTaxe'] = true;
                            }
                        });
                        firebase.firestore().collection('financier')
                            .doc(id).update({ produits: produits})
                            .then( result => { console.log('done', id)});

                    }
                }            
            },
            scaffoldChiffreAffaireProduits: function(doc) {
                /*this.listBpFinancier.forEach( (doc) => {
                /* firebase.firestore().collection('financier')
                .doc('9YSse6dCd6OSMU9xx9Cl').get().then( (doc) => {  */
                let id = doc.id;
                let produits = defaultProduit;
                let format = {};
                let articles = [];
                // creation de champs tva et prixIncludeTaxe
                if(doc.get('produits').hasOwnProperty('articles')){
                    if(!this.isEmpty(doc.get('produits')['articles'])){
                        articles = doc.get('produits')['articles'].map( (article) => {                                
                            for (let property in article) {
                                if(property!="annee1" && property!="annee2"&& property!="annee3"){
                                    format[property] = article[property];
                                }
                            }
                            let annee1 = {
                                    "accroissement":format.chiffreAffaire.annee1.accroissement,
                                    "ttc":this.isEmpty(format.chiffreAffaire.annee1.montant) ? format.chiffreAffaire.annee1.ttc : format.chiffreAffaire.annee1.montant,
                                    "ht":format.chiffreAffaire.annee1.quantiteVendue *  this.calculPrixProduit(article, 'ht'),
                                    "tva":format.chiffreAffaire.annee1.quantiteVendue *  this.calculTvaProduit(article),
                                    "quantiteVendue":format.chiffreAffaire.annee1.quantiteVendue
                                };

                            let annee2 = {
                                "accroissement":format.chiffreAffaire.annee2.accroissement,
                                "ttc":this.isEmpty(format.chiffreAffaire.annee2.montant) ? format.chiffreAffaire.annee2.ttc : format.chiffreAffaire.annee2.montant,
                                "ht":annee1.ht + (annee1.ht * annee1.accroissement / 100),
                                "tva":annee1.tva + (annee1.tva * annee1.accroissement / 100),
                                "quantiteVendue":format.chiffreAffaire.annee2.quantiteVendue
                            };
                            let annee3 = {
                                "ttc":this.isEmpty(format.chiffreAffaire.annee3.montant) ? format.chiffreAffaire.annee3.ttc : format.chiffreAffaire.annee3.montant,
                                "ht":annee2.ht + (annee2.ht * annee2.accroissement / 100),
                                "tva":annee2.tva + (annee2.tva * annee2.accroissement / 100),
                                "quantiteVendue":format.chiffreAffaire.annee3.quantiteVendue
                            }                            
                            format.chiffreAffaire['annee1'] = annee1;
                            format.chiffreAffaire['annee2'] = annee2;
                            format.chiffreAffaire['annee3'] = annee3;
                            if(!format.hasOwnProperty('isService')){
                                format['isService'] = true;
                            }
                            return format;
                        });

                        produits['resultatsExceptionnels'] = doc.get('produits')['resultatsExceptionnels'];
                        produits['volumeVente'] = doc.get('produits')['volumeVente'];
                        produits['articles'] = articles;
                        firebase.firestore().collection('financier')
                            .doc(id).update({ produits: produits})
                            .then( result => { console.log('done ', id)});

                    }
                }
            },
            scaffoldChiffreMensuelProduits: function(doc) {
                /*this.listBpFinancier.forEach( (doc) => {
                /* firebase.firestore().collection('financier')
                .doc('9YSse6dCd6OSMU9xx9Cl').get().then( (doc) => {  */
                console.log(doc.id, ' => ', doc.data());
                let id = doc.id;
                let produits = {}; let articles = [];
                // creation de champs tva et prixIncludeTaxe
                if(doc.get('produits').hasOwnProperty('articles')){
                    if(!this.isEmpty(doc.get('produits')['articles'])){
                        produits = doc.get('produits');
                        /*
                        articles = doc.get('produits')['articles'].map( (article) => {
                            for (let property in article.ventes) {
                                article.ventes[property]['ht'] = this.calculPrixProduit(article,'ht') * article.ventes[property].venteMensuelle;
                                article.ventes[property]['ttc'] = this.calculPrixProduit(article,'ttc')* article.ventes[property].venteMensuelle;
                                article.ventes[property]['tva'] = this.calculTvaProduit(article)* article.ventes[property].venteMensuelle;
                            }
                            return article;
                        }); */
                        produits['articles'] = articles;
                        firebase.firestore().collection('financier')
                            .doc(id).update({ produits: produits})
                            .then( (result) => { console.log('done ', id, result)});
                        console.log(' - - - - - - ');
                    }
                }
            },
            scaffoldChargeVariablesProduits: function (doc) {
                let id = doc.id;
                
                let produits = doc.get('produits');
                if (!this.isEmpty(produits) ){ 
                    if(produits.hasOwnProperty('articles')){
                        if(!this.isEmpty(produits['articles'])) {
                            let oldCharges = doc.get('charges');
                            let chargeUpdates = [];
                            let oldProduits = produits['articles'];
                            oldProduits.forEach( (article) => {
                                let newCharge = null;
                                if(article.chargeVariable > 0){
                                    newCharge = this.convertProductToCharge(article);
                                }
                                if(newCharge != null) { 
                                    chargeUpdates.push(newCharge);
                                }
                            });
                            
                            if(!this.isEmpty(chargeUpdates)) {
                                oldCharges['matieres-premieres']['depenses-produits'] = chargeUpdates;
                                firebase.firestore().collection('financier')
                                    .doc(id).update({ charges: oldCharges})
                                    .then( result => { console.log('done', id, chargeUpdates)});
                            }
                            console.log('done', id, chargeUpdates)
                        }
                    }
                 }
            }
        }
    }
</script>