<template>
    <table :class="classes">
        <slot name="cols"> </slot>
		<thead>
			<tr>
				<!--th>
					<label class="form-checkbox">
                        <input type="checkbox" v-model="selectAll" @click="select" />
                        <i class="form-icon"></i>
                    </label>
				</th -->
                <slot name="headers"> </slot>
			</tr>
		</thead>
		<tbody>
			<!--tr v-for="i in items">
				<td>
					<label class="form-checkbox">
    					<input type="checkbox" :value="i.id" v-model="selected">
						<i class="form-icon"></i>
  					</label>
				</td>
				<td>{{i.id}}</td>
				<td>{{i.name}}</td>
				<td>{{i.email}}</td>
			</tr-->
            <slot name="rows" :collection="itemCollection"> Here you can iterate through your collection items and 
                don't forget to add the first 
                <td>
					<label class="form-checkbox">
    					<input type="checkbox" :value="index" v-model="selected" />
						<i class="form-icon"></i>
  					</label>
				</td>
            </slot>
		</tbody>
	</table>
</template>

<style scoped>
    body {
        padding: 50px;
    }
</style>

<script>
    export default {
        props: ['itemCollection','classes'],
        data: () => ({
            items: [],
            selected: [],
            selectAll: false
        }),
        methods: {
            select() {
                this.selected = [];
                if (!this.selectAll) {
                    for (let i in this.items) {
                        this.selected.push(this.items[i].id);
                    }
                }
            },
            afterDelete() {
                this.$emit('deletion-completed');
            },
            addRow(){
                this.$emit('insert-row');
            },

        },
        created() {
            console.log(this.itemCollection);
        }
    }
</script>
    