<template>
  <div class="page-wrapper mt-4 body bg-platinum">
    <div class="mt-4"></div>
    <div class="container-fluid">
      <div v-if="!this.isEmpty(notifyList)" class="card">
        <div
          v-for="(notify, indexnotif) in notifyList"
          :key="indexnotif"
          class="card-body"
        >
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Notification</h4>
              <h6 class="card-subtitle">
                Bonjour vous avez été identifié comme membre du projet
                <strong>{{ notify.projet }} </strong>
              </h6>
              <a
                class="popup-gmaps btn btn-info"
                href="#"
                @click="confirmNotify(notify.docId, notify.id, notify.projet)"
                >Rejoindre</a
              >
              <a
                class="popup-youtube btn btn-danger"
                href="#"
                @click="deleteNotify(notify.docId, notify.id)"
                >Annuler</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row align-row">
        <div class="col-xs-2 col-sm-4 col-md-7 space">
          <!-- <div class="float-left">
            <button v-if="ecrire" class="btn btn-block cyb-btn">
              <a href="/bp/summary" class="cyb-white">
                <i class="fas fa-plus-circle"></i> Executive summary
              </a>
            </button>
            <p v-if="recherche != ''" class="nbProjets mt-4">
              Résultat(s) :
              <span class="badge badge-dark font-weight-bold" type="warning">
                {{
                  filterUserProjects.length +
                    filterShareProjects.length +
                    filterMemberProjects.length
                }}
              </span>
            </p>
          </div> -->
          <div class="float-left">
            <button v-if="ecrire" class="btn btn-block cyb-btn btn-create">
              <a href="summary" class="cyb-white">
                <i class="fas fa-plus-circle"></i> Créer un projet
              </a>
            </button>
          </div>
        </div>
        
        <div class="col-xs-10 col-sm-8 col-md-5 space">
          <div class="input-group float-right">
            <input
              type="text"
              class="form-control cyb-input"
              placeholder="Recherche"
              v-model="recherche"
            />
            <div class="input-group-append">
              <button class="btn btn-success cyb-add-on" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <el-divider v-if="filterUserProjects.length > 0" content-position="left"
        >MES PROJETS :
        <span class="badge badge-dark font-weight-bold" type="warning">
          {{ filterUserProjects.length }}
        </span></el-divider
      >
      <div class="row">
        <div
          class="col-lg-3 col-md-4 col-sm-6"
          v-for="(projet, index) in filterUserProjects"
          :key="'user' + index"
        >
          <div
            class="card card-project"
            :style="[
              !projet.etat || projet.etat == 'Terminé'
                ? { backgroundColor: settingsIn.color }
                : { backgroundColor: 'red' },
            ]"
            :ref="'card'+ index"
          >
            <div class="card-header">
              <div class="main-title">
                <div class="content-title">
                  <PlusNewTask :userId="currentUId" :item="projet" />
                </div>
                <div class="content-btn-icon">
                  <el-dropdown trigger="click">
                    <span class="el-dropdown-link btn btn-sm">
                      <i class="fas fa-ellipsis-v cyb-white"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                      <!-- <el-dropdown-item   @click.native="selectProject(projet.id,projet.titre) icon="el-icon-circle-plus">Ouvrir</el-dropdown-item> -->
                      <el-dropdown-item
                        v-if="adminId != 'NheJKFkN00d0vGslRz6sRsngbwj2'"
                        @click.native="selectProject(projet.id, projet.titre)"
                        icon="el-icon-view"
                        >Ouvrir</el-dropdown-item
                      >
                      <el-dropdown-item
                        @click.native="
                          $refs.assignUserToProject.openModalUser(
                            projet.id,
                            currentUId,
                            projet.titre
                          )
                        "
                      >
                        <span size="mini">
                          <i class="el-icon-user"></i>Assigner</span
                        >
                      </el-dropdown-item>
                      <el-dropdown-item
                        @click.native="
                          editSummary(projet.id, projet.titre, projet)
                        "
                        icon="el-icon-edit"
                        >Modifier</el-dropdown-item
                      >
                      <el-dropdown-item
                        @click.native="deleteProject(projet.id)"
                        icon="el-icon-delete"
                        >Supprimer</el-dropdown-item
                      >
                      <el-dropdown-item
                        @click.native="
                          $refs.param.openModalParam(projet, index)
                        "
                        icon="el-icon-s-tools"
                        >Parametres</el-dropdown-item
                      >
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="card-body">
                <div class="d-flex no-block">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="m-r-20 align-self-center">
                        <!-- <img src="/bp/assets/images/default.png" alt="Projet" /> -->
                        <img
                        v-if="projet.logo"
                        :src="'data:image/png;base64,' + projet.logo"
                        class="dark-logo"
                      />
                      <img
                        v-else
                        src="https://sortlist-core-api.s3.eu-west-1.amazonaws.com/798k47k1hdyyjyqni07cm7dpfebt"
                        alt="Projet"
                        width="40"
                      />
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="align-self-center">
                        <h5 v-if="projet.createdAt" class="m-t-5">
                          {{
                            new Date(projet.createdAt.seconds * 1000)
                              | moment("Do MMMM YYYY")
                          }}
                        </h5>
                        <h5 v-if="projet.createdAt" class="m-t-5">
                          {{
                            new Date(projet.createdAt.seconds * 1000)
                              | moment("hh:mm:ss")
                          }}
                        </h5>
                        <h5 v-if="projet.etat" class="m-t-5">
                          {{ projet.etat }}
                        </h5>
                        <h5 v-else class="m-t-5">Terminé</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row" v-if="selectProjectFilters === null">
                    <div class="col-md-12 cyb-msg" role="alert">Aucun projet trouver</div>
                </div> -->
      </div>
      <el-divider v-if="filterShareProjects.length > 0" content-position="left"
        >PROJETS PARTAGES :
        <span class="badge badge-dark font-weight-bold" type="warning">
          {{ filterShareProjects.length }}
        </span></el-divider
      >
      <div class="row">
        <div
          class="col-lg-3 col-md-4 col-sm-6"
          v-for="(projet, index) in filterShareProjects"
          :key="'share' + index"
        >
          <div :style="{ backgroundColor: settingsIn.color }" class="card card-project">
            <div class="card-header">
              <div class="main-title">
                <div class="content-title">
                  <PlusNewTask :userId="currentUId" :item="projet" />
                </div>
                <div class="content-btn-icon">
                  <el-dropdown v-if="ecrire" trigger="click">
                    <span class="el-dropdown-link btn btn-sm">
                      <i class="fas fa-ellipsis-v cyb-white"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                      <!-- <el-dropdown-item icon="el-icon-circle-plus">Gérer</el-dropdown-item> -->
                      <el-dropdown-item
                        v-if="adminId != 'NheJKFkN00d0vGslRz6sRsngbwj2'"
                        @click.native="selectProject(projet.id, projet.titre)"
                        icon="el-icon-view"
                        >Ouvrir</el-dropdown-item
                      >
                      <el-dropdown-item
                        @click.native="
                          $refs.assignUserToProject.openModalUser(
                            projet.id,
                            currentUId,
                            projet.titre
                          )
                        "
                      >
                        <span size="mini">
                          <i class="el-icon-user"></i>Assigner</span
                        >
                      </el-dropdown-item>
                      <el-dropdown-item
                        @click.native="
                          editSummary(projet.id, projet.titre, projet)
                        "
                        icon="el-icon-edit"
                        >Modifier</el-dropdown-item
                      >

                      <el-dropdown-item
                        @click.native="
                          $refs.param.openModalParam(projet, index)
                        "
                        icon="el-icon-s-tools"
                        >Parametres</el-dropdown-item
                      >
                      <!-- <el-dropdown-item   @click.native="editSummary(projet.id,projet.titre)" icon="el-icon-edit">Modifier</el-dropdown-item>
                                            -->

                      <el-popover placement="right" width="400" trigger="hover">
                        <el-row>
                          <el-col :span="3">
                            <div class="grid-content">Nom:</div>
                          </el-col>
                          <el-col :span="21">
                            <div class="grid-content"></div>
                            {{ projet.user.first_name }}
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="4">
                            <div class="grid-content">Prenom:</div>
                          </el-col>
                          <el-col :span="20">
                            <div class="grid-content"></div>
                            {{ projet.user.last_name }}
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="5">
                            <div class="grid-content">Fonction:</div>
                          </el-col>
                          <el-col :span="19"
                            ><div class="grid-content"></div>
                            {{ projet.user.fonction }}</el-col
                          >
                        </el-row>
                        <el-row>
                          <el-col :span="5"
                            ><div class="grid-content">Téléphone:</div></el-col
                          >
                          <el-col :span="19"
                            ><div class="grid-content"></div>
                            {{ projet.user.telephone }}</el-col
                          >
                        </el-row>
                        <el-row>
                          <el-col :span="3"
                            ><div class="grid-content">Email:</div></el-col
                          >
                          <el-col :span="21"
                            ><div class="grid-content"></div>
                            {{ projet.user.email }}</el-col
                          >
                        </el-row>

                        <el-dropdown-item slot="reference" icon="el-icon-user"
                          >Propriétaire</el-dropdown-item
                        >
                      </el-popover>
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="card-body">
                <div class="d-flex no-block">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="m-r-20 align-self-center">
                        <!-- <i class="mdi mdi-account-multiple group"></i> -->
                        <img
                        v-if="projet.logo"
                        :src="'data:image/png;base64,' + projet.logo"
                        class="dark-logo"
                        style="width:90px"
                      />
                      <img
                        v-else
                        src="https://sortlist-core-api.s3.eu-west-1.amazonaws.com/798k47k1hdyyjyqni07cm7dpfebt"
                        alt="Projet"
                        width="40"
                      />
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="align-self-center">
                        <h5 v-if="projet.createdAt" class="m-t-5">
                          {{
                            new Date(projet.createdAt.seconds * 1000)
                              | moment("Do MMMM YYYY")
                          }}
                        </h5>
                        <h5 v-if="projet.createdAt" class="m-t-5">
                          {{
                            new Date(projet.createdAt.seconds * 1000)
                              | moment("hh:mm:ss")
                          }}
                        </h5>
                        <h5 v-if="projet.etat" class="m-t-5">
                          {{ projet.etat }}
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Membres -->
        <div
          class="col-lg-3 col-md-4 col-sm-6"
          v-for="(projet, index) in filterMemberProjects"
          :key="'member' + index"
        >
          <div class="card bg-info">
            <div class="card-header">
              <div class="row">
                <div class="col-md-10">
                  <h4 v-if="projet.titre" class="text-white m-t-5 m-b-0">
                    {{ projet.titre | cyb_txt_split | capitalized }}
                  </h4>
                  <h4 v-else class="text-white m-t-5 m-b-0">
                    {{ "titre indéfini" | capitalized }}
                  </h4>
                </div>
                <div class="col-md-2">
                  <el-dropdown v-if="ecrire" trigger="click">
                    <span class="el-dropdown-link btn btn-sm">
                      <i class="fas fa-ellipsis-v cyb-white"></i>
                    </span>
                    <el-dropdown slot="dropdown">
                      <!-- <el-dropdown-item icon="el-icon-circle-plus">Gérer</el-dropdown-item> -->
                      <el-dropdown-item
                        @click.native="selectProject(projet.id, projet.titre)"
                        icon="el-icon-view"
                        >Ouvrir</el-dropdown-item
                      >
                      <el-dropdown-item
                        @click.native="
                          editSummary(projet.id, projet.titre, projet)
                        "
                        icon="el-icon-edit"
                        >Modifier</el-dropdown-item
                      >
                      <el-dropdown-item
                        @click.native="deleteProject(projet.id)"
                        icon="el-icon-delete"
                        >Supprimer</el-dropdown-item
                      >
                    </el-dropdown>
                  </el-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="card-body">
                <div class="d-flex no-block">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="m-r-20 align-self-center">
                        <i class="mdi mdi-account-multiple group"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-for="(prog, index) in tousLesConcours" :key="index" class="row">
        <el-divider v-if="prog.projets.length != 0" content-position="left"
          >{{ prog.libelleConcours }}
          <span class="badge badge-dark font-weight-bold" type="warning">{{
            prog.projets.length
          }}</span></el-divider
        >

        <div
          class="col-lg-3 col-md-4 col-sm-6"
          v-for="(projet, index) in prog.projets"
          :key="index"
        >
          <div
            class="card"
            v-bind:class="{
              progress: projet.etat && projet.etat == 'En cours',
              'bg-info': !projet.etat || projet.etat == 'Terminé',
            }"
          >
            <div class="card-header">
              <div class="row">
                <div class="col-md-10">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    :content="projet.titre"
                    placement="top-start"
                  >
                    <h4 v-if="projet.titre" class="text-white m-t-5 m-b-0">
                      {{ projet.titre | cyb_txt_split | capitalized }}
                    </h4>
                    <h4 v-else class="text-white m-t-5 m-b-0">
                      {{ "titre indéfini" | capitalized }}
                    </h4>
                  </el-tooltip>
                </div>
                <div class="col-md-2">
                  <el-dropdown v-if="ecrire" trigger="click">
                    <span class="el-dropdown-link btn btn-sm">
                      <i class="fas fa-ellipsis-v cyb-white"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                      <!-- <el-dropdown-item icon="el-icon-circle-plus">Gérer</el-dropdown-item> -->
                      <el-dropdown-item
                        @click.native="selectProject(projet.id, projet.titre)"
                        icon="el-icon-view"
                        >Ouvrir</el-dropdown-item
                      >
                      <el-dropdown-item
                        @click.native="
                          $refs.assignUserToProject.openModalUser(
                            projet.id,
                            currentUId,
                            projet.titre
                          )
                        "
                      >
                        <span size="mini">
                          <i class="el-icon-user"></i>Assigner</span
                        >
                      </el-dropdown-item>

                      <el-dropdown-item
                        @click.native="
                          editSummary(projet.id, projet.titre, projet)
                        "
                        icon="el-icon-edit"
                        >Modifier</el-dropdown-item
                      >
                      <el-dropdown-item
                        @click.native="deleteProject(projet.id)"
                        icon="el-icon-delete"
                        >Supprimer</el-dropdown-item
                      >
                      <!-- <el-dropdown-item   @click.native="editSummary(projet.id,projet.titre)" icon="el-icon-edit">Modifier</el-dropdown-item> -->
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
              </div>
            </div>
            <div>
              <div class="card-body">
                <div class="d-flex no-block">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="m-r-20 align-self-center">
                        <img src="/bp/assets/images/default.png" alt="Projet" />
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="align-self-center">
                        <h5 v-if="projet.createdAt" class="m-t-5 text-white">
                          {{
                            new Date(projet.createdAt.seconds * 1000)
                              | moment("Do MMMM YYYY")
                          }}
                        </h5>
                        <h5 v-if="projet.createdAt" class="m-t-5 text-white">
                          {{
                            new Date(projet.createdAt.seconds * 1000)
                              | moment("hh:mm:ss")
                          }}
                        </h5>
                        <h5 v-if="projet.etat" class="m-t-5 text-white">
                          {{ projet.etat }}
                        </h5>
                        <h5 v-else class="m-t-5 text-white">Terminé</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ProjectByEval v-if="adminId" ref="projectByEval" />

      <Orientation ref="Orientation" />
      <Parametrage ref="param" />
      <AssignUserToProject ref="assignUserToProject" />
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import helper from "../../services/helper";
import ClickConfirm from "click-confirm";
import Swal from "sweetalert2";
import firebase from "firebase";
import moment from "moment";
moment.locale("fr");
// tva par defaut
import tvaNormale from "./financier/default.tvanormale.json";
import tvaReduite from "./financier/default.tvareduite.json";
import aucuneTva from "./financier/default.tvaaucune.json";
import defaultChargePatronale from "./financier/default.chargePatronale.json";
import { isEmpty } from "../../services/helper";
import { Message, Loading, Notification } from "element-ui";
import ProjectByEval from "./components/projetByEval";
import Parametrage from "./components/parametrage";
import PlusNewTask from "../admin/concours/components/listTicket/plusNewTask";
import AssignUserToProject from "../admin/concours/components/assignUserToProject";
import Orientation from "../admin/concours/components/orientation";

export default {
  components: {
    PlusNewTask,
    ProjectByEval,
    Parametrage,
    AssignUserToProject,
    Orientation,
  },
  props: {
    settingsIn: {
      default() {
        return {};
      },
      type: Object,
    },
  },
  mixins: [helper],
  data() {
    return {
      member: firebase.firestore().collection("vendeurs"),
      summaryRef: firebase.firestore().collection("summary"),
      concoursRef: firebase.firestore().collection("concours"),
      memberRef: firebase.firestore().collection("membres"),
      users: firebase.firestore().collection("users"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      adminId: JSON.parse(localStorage.getItem("userSession")).adminId,
      userSession: JSON.parse(localStorage.getItem("userSession")),
      projetsProg: [],
      userProjectList: [],
      tousLesConcours: [],
      shareProjectList: [],
      membersProjectList: [],
      //Mes tickets
      dialogMyTickets: false,
      //WorkSpace Data
      dialogWorkSpace: false,
      //
      notifyList: [],
      userNotify: {},
      recherche: "",
      lire: false,
      ecrire: false,
      permission: {
        liste: [
          {
            libelle: "FINANCE",
            icon: "mdi mdi-currency-eur",
            checked: true,
            content: [
              {
                libelle: "Recettes",
                write: true,
                checked: true,
                path: "/bp/suivi/recettes",
                icon: "",
                image: "/bp/assets/images/menusuivi/entree.png",
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Dépenses",
                path: "/bp/suivi/depenses",
                icon: "",
                image: "/bp/assets/images/menusuivi/depense.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Soldes",
                path: "/bp/suivi/soldes",
                icon: "",
                image: "/bp/assets/images/menusuivi/soldes.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "TACHE",
            icon: "mdi mdi-calendar",
            checked: true,

            content: [
              {
                libelle: "Taches",
                path: "/bp/suivi/taches",
                icon: "mdi mdi-table-edit icon-white",
                image: "/bp/assets/images/menusuivi/taches.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Calendrier",
                icon: "mdi mdi-calendar-blank icon-white",
                image: "/bp/assets/images/menusuivi/calendrier.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Feuille de route",
                icon: "mdi mdi-book-open-page-variant icon-white",
                image: "/bp/assets/images/menusuivi/feuillederoute.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Kanban",
                path: "/bp/suivi/kanban",
                icon: "mdi mdi-book-open-page-variant icon-white",
                image: "/bp/assets/images/menusuivi/kanban.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "DEVIS",
            icon: "mdi mdi-receipt",
            checked: true,

            content: [
              {
                libelle: "Devis",
                path: "/bp/suivi/devis/statistiques",
                icon: "mdi mdi-receipt",
                image: "/bp/assets/images/menusuivi/feuillederoute.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "OBJECTIFS",
            icon: "mdi mdi-flash",
            checked: true,

            content: [
              {
                libelle: "objectifs",
                path: "/bp/suivi/objectif",
                icon: "mdi mdi-flash",
                image: "/bp/assets/images/menusuivi/clients.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "COMMUNICATION",
            icon: "mdi mdi-table",
            checked: true,

            content: [
              {
                libelle: "Rendez-vous",
                icon: "mdi mdi-book icon-white",
                image: "/bp/assets/images/menusuivi/calendrier.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Alertes",
                icon: "mdi mdi-bell icon-white",
                image: "/bp/assets/images/menusuivi/alertes.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Messages",
                icon: "mdi mdi-message icon-white",
                image: "/bp/assets/images/menusuivi/messages.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "ACTEURS",
            icon: "mdi mdi-account-multiple",
            checked: true,

            content: [
              {
                libelle: "Clients",
                path: "/bp/suivi/acteurs/clients",
                icon: "mdi mdi-message icon-white",
                image: "/bp/assets/images/menusuivi/clients.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Fournisseurs",
                path: "/bp/suivi/acteurs/fournisseurs",
                icon: "mdi mdi-bank icon-white",
                image: "/bp/assets/images/menusuivi/fournisseurs.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "FISCALITE",
            icon: "fas fa-balance-scale",
            checked: true,

            content: [
              {
                libelle: "Fiscalité",
                path: "/bp/suivi/acteurs/fiscalite",
                icon: "mdi mdi-bank icon-white",
                image: "/bp/assets/images/menusuivi/fiscalites.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "PARAMETRES",
            icon: "mdi mdi-settings",
            checked: true,

            content: [
              {
                libelle: "Formulaires",
                checked: true,
                path: "/bp/suivi/parametres/formulaire",
                icon: "mdi mdi-book icon-white",
                image: "/bp/assets/images/menusuivi/formulaires.png",

                content: [
                  {
                    libelle: "Produits",
                    path: "/bp/suivi/parametres/produits",
                    icon: "mdi mdi-book icon-white",
                    image: "",
                    write: true,
                    checked: true,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Recettes",
                    path: "/bp/suivi/parametres/formulaires/recettes",
                    icon: "mdi mdi-bank icon-white",
                    image: "",
                    write: true,
                    checked: true,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Dépenses",
                    path: "/bp/suivi/parametres/formulaires/depenses",
                    icon: "mdi mdi-bank icon-white",
                    image: "",
                    write: true,
                    checked: true,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Taches",
                    path: "/bp/suivi/parametres/taches",
                    icon: "mdi mdi-table-edit icon-white",
                    image: "/bp/assets/images/menusuivi/tache.png",
                    write: true,
                    checked: true,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Clients",
                    path: "/bp/suivi/parametres/formulaires/clients",
                    icon: "mdi mdi-message icon-white",
                    image: "",
                    write: true,
                    checked: true,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Fournisseurs",
                    path: "/bp/suivi/parametres/fournisseurs",
                    icon: "mdi mdi-bank icon-white",
                    image: "",
                    write: true,
                    checked: true,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Fiscalite",
                    path: "/bp/suivi/parametres/fiscalite",
                    icon: "mdi mdi-bank icon-white",
                    image: "",
                    write: true,
                    checked: true,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                ],
              },
              {
                libelle: "Membres",
                checked: true,
                path: "/bp/suivi/parametres/fiscalite",
                icon: "mdi mdi-account-multiple icon-white",
                image: "/bp/assets/images/menusuivi/membres.png",

                content: [
                  {
                    libelle: "Fonctions",
                    path: "/bp/suivi/acteurs/roles",
                    icon: "mdi mdi-bell icon-white",
                    image: "",
                    write: true,
                    checked: true,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Equipe",
                    path: "/bp/suivi/acteurs/membres",
                    icon: "mdi mdi-account-plus icon-white",
                    image: "/bp/assets/images/menusuivi/membres.png",
                    write: true,
                    checked: true,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                ],
              },
              {
                libelle: "Produits",
                path: "/bp/suivi/produits",
                icon: "mdi mdi-book icon-white",
                image: "/bp/assets/images/menusuivi/produits.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Pays",
                path: "/bp/suivi/pays",
                icon: "fas fa-flag icon-white",
                image: "/bp/assets/images/menusuivi/pays.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Workflow",
                path: "/bp/suivi/taches/workflow",
                icon: "fas fa-flag icon-white",
                image: "/bp/assets/images/menusuivi/workflow.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },

              {
                libelle: "Devis",
                path: "/bp/suivi/devis/nouveau",
                icon: "mdi mdi-receipt",
                image: "/bp/assets/images/menusuivi/feuillederoute.png",
                write: true,
                checked: true,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
        ],
        role: "",
      },
      cardRef: "",
    };
  },

  methods: {
    createWorkSpace() {
      this.$store.commit("agilite/setMode", "creation");
      this.dialogWorkSpace = true;
    },
    loadV2Beta() {
      window.location.href = "http://35.157.87.214/agilite/espaces";
      this.$store.commit("agilite/setUserSession", this.userSession);
    },
    myTickets() {
      this.$store.commit("agilite/setMode", "creation");
      this.dialogMyTickets = true;
    },
    selectProject(id, titre) {
      let userSession = JSON.parse(localStorage.getItem("userSession"));
      userSession.projet = id;
      userSession.denomination = titre;
      userSession.projettitre = titre;
      //Admin perm
      userSession.perm = this.permission.liste;
      localStorage.setItem("userSession", JSON.stringify(userSession));
      this.$router.push("/bp/home");
    },
    editSummary(idProjet, titre, projet) {
      if (projet.type && projet.type == "workspace") {
      } else {
        let userSession = JSON.parse(localStorage.getItem("userSession"));
        userSession.projet = idProjet;
        userSession.projettitre = titre;
        userSession.denomination = titre;
        //Admin perm
        userSession.perm = this.permission.liste;
        localStorage.setItem("userSession", JSON.stringify(userSession));

        localStorage.setItem("userSession", JSON.stringify(userSession));
        this.$router.push({
          name: "singleSummary",
          params: { id: idProjet },
        });
      }
    },
    confirmNotify(id, notifyid, projet) {
      //  let loader = Vue.$loading.show();
      this.memberRef
        .doc(id)
        .update({
          confirm: true,
        })
        .then((snapshot) => {
          //supprimer la notifiction après validation
          firebase
            .firestore()
            .collection("notifications")
            .doc(notifyid)
            .delete();
          //supprimer la notifiction après validation
          this.notifyList = [];
          let notify = firebase.firestore().collection("notifications");
          notify
            .where(
              "email",
              "==",
              JSON.parse(localStorage.getItem("userSession")).email
            )
            .get()
            .then((docSnaps) => {
              docSnaps.forEach((doc) => {
                if (doc.exists) {
                  let result = {
                    id: doc.id,
                    projet: doc.get("projet"),
                    docId: doc.get("docId"),
                    createdAt: doc.get("createdAt"),
                  };

                  this.notifyList.push(result);
                } else {
                  // doc.data() will be undefined in this case
                }
                // TODO: sort projects by last modified data
              });
            });

          let ref = firebase.firestore().collection("summary");
          ref
            .where(
              "user",
              "==",
              JSON.parse(localStorage.getItem("userSession")).uid
            )
            .get()
            .then((docSnaps) => {
              docSnaps.forEach((doc) => {
                if (doc.exists) {
                  let result = {
                    id: doc.id,
                    titre: doc.get("titre"),
                    // TODO: regler l'affichage de date avec la librairie date.js
                    createdAt: doc.get("createdAt"),
                  };

                  this.userProjectList.push(result);
                  Toast.fire({
                    type: "success",
                    title:
                      "Vous avez été ajouté  avec succès au projet " +
                      projet +
                      " ",
                  });
                  // loader.hide();
                } else {
                  // doc.data() will be undefined in this case
                  //loader.hide();
                  // alert("Bad");
                }
                // TODO: sort projects by last modified data
              });
              // loader.hide();
            });
          this.getAssignProjects();
        });
    },
    getAssignProjects() {
      this.shareProjectList = [];
      //RECUPERATION DES PROJETS ASSIGNES

      this.memberRef
        .where(
          "email",
          "==",
          JSON.parse(localStorage.getItem("userSession")).email
        )
        .where("confirm", "==", true)
        .get()
        .then((docSnaps) => {
          docSnaps.forEach((doc) => {
            if (doc.exists) {
              let projectId = doc.get("projectId");
              firebase
                .firestore()
                .collection("summary")
                .doc(projectId)
                .get()
                .then((doc) => {
                  if (doc.exists) {
                    firebase
                      .firestore()
                      .collection("users")
                      .doc(doc.data().user)
                      .get()
                      .then((userDoc) => {
                        if (userDoc.exists) {
                          let result = {
                            id: doc.id,
                            titre: doc.get("titre"),
                            etat: "Projet partagé",
                            user: userDoc.data(),
                            createdAt: doc.get("createdAt"),
                            group: true,
                          };
                          this.shareProjectList.push(result);

                          this.getUserNotif(projectId);
                        } else {
                        }
                      });
                  } else {
                    console.log("bad");
                  }
                })
                .catch((err) => {
                  console.log("Error getting document", err);
                });

              // TODO: regler l'affichage de date avec la librairie date.js
            } else {
              // doc.data() will be undefined in this case
              //loader.hide();
              console.log("Doc dont exist!!!");
              return;
            }
            // TODO: sort projects by last modified data
          });
          //loader.hide();
        });
    },
    deleteNotify(id, notifyid) {
      Swal.fire({
        title: "Êtes-vous sûr?",
        text: "Cette action est irréversible!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Annuler",
        confirmButtonText: "Oui!",
      }).then((result) => {
        if (result.value) {
          // let loader = Vue.$loading.show();
          firebase
            .firestore()
            .collection("notifications")
            .doc(notifyid)
            .delete();
          firebase.firestore().collection("vendeurs").doc(id).delete();
          this.notifyList = [];
          let notify = firebase.firestore().collection("notifications");
          notify
            .where(
              "email",
              "==",
              JSON.parse(localStorage.getItem("userSession")).email
            )
            .get()
            .then((docSnaps) => {
              docSnaps.forEach((doc) => {
                if (doc.exists) {
                  let result = {
                    id: doc.id,
                    projet: doc.get("projet"),
                    docId: doc.get("docId"),
                    createdAt: doc.get("createdAt"),
                  };

                  this.notifyList.push(result);
                } else {
                  // doc.data() will be undefined in this case
                }
                // TODO: sort projects by last modified data
              });
            });
          // loader.hide();
        }
      });
    },
    deleteProject(id) {
      // console.log(id);
      Swal.fire({
        title: "Êtes-vous sûr?",
        text: "Cette action est irréversible!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Annuler",
        confirmButtonText: "Oui!",
      }).then((result) => {
        if (result.value) {
          // let loader = Vue.$loading.show();
          firebase.firestore().collection("summary").doc(id).delete();
          firebase.firestore().collection("financier").doc(id).delete();
          firebase
            .firestore()
            .collection("banque")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("clients")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("depenses")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("formulaires")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("fournisseurs")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("modeldevis")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("notifications")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("produits")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("recettes")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("roles")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          firebase
            .firestore()
            .collection("vendeurs")
            .where("projectId", "==", id)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                doc.ref.delete();
              });
            });
          this.getProjects();
          this.selectMembersProjects();
          //  this.getMembersProjects();

          loader.hide();
        }
      });
    },
    selectProjectSuivi(id, titre) {
      // let loader = Vue.$loading.show();
      let userSession = JSON.parse(localStorage.getItem("userSession"));
      userSession.projet = id;
      userSession.projettitre = titre;
      userSession.denomination = titre;
      //Permissions

      firebase
        .firestore()
        .collection("vendeurs")
        .where(
          "mail",
          "==",
          JSON.parse(localStorage.getItem("userSession")).email
        )
        .where("projectId", "==", id)
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            if (doc.exists) {
              console.log("mierdé");

              let roleId = doc.get("type");
              //Récupération du role
              firebase
                .firestore()
                .collection("permissions")
                .where("role", "==", roleId)
                .get()
                .then((querySnapshot) => {
                  querySnapshot.forEach((doc) => {
                    if (doc.exists) {
                      userSession.perm = doc.get("liste");
                      localStorage.setItem(
                        "userSession",
                        JSON.stringify(userSession)
                      );

                      window.location.pathname = "/bp/suivi";
                      // loader.hide();
                    }
                  });
                });
            } else {
              // doc.data() will be undefined in this case
              console.log("mierda");
            }
            // TODO: sort projects by last modified data
          });
        })
        .catch((err) => {
          console.log("Error getting document", err);
        });
    },
    copySummaries() {
      firebase
        .firestore()
        .collection("summary")
        .where(
          "user",
          "==",
          JSON.parse(localStorage.getItem("userSession")).uid
        )
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            let summary = doc.data();
            let id = doc.id;
            firebase.firestore().collection("projects").add({
              id: id,
              background: "bg-info",
              modification: new Date(),
              creation: summary.createdAt,
              currency: "/monnaies/xaf",
              icon: "null",
              title: summary.titre,
              user: summary.user,
            });
          });
        })
        .catch(function (error) {
          console.log("Error getting documents: ", error);
        });
    },
    selectMembersProjects(Id) {
      Loading.service({ fullscreen: true });
      let shareProjects = new Promise((resolve, reject) => {
        firebase
          .firestore()
          .collection("summary")
          .where("adminId", "==", (Id = this.currentUId))
          .get()
          .then((querySnapshot) => {
            Loading.service({ fullscreen: true });
            if (querySnapshot.docChanges().length != 0) {
              querySnapshot.docChanges().forEach((change) => {
                // console.log("Log",change.type)
                if (change.type === "added") {
                  // console.log("New city: ", change.doc.data());
                }
                if (change.type === "modified") {
                  console.log("ChangeData", change.doc.data());
                  firebase
                    .firestore()
                    .collection("users")
                    .doc(change.doc.data().userUpdate)
                    .get()
                    .then((userDocUpdate) => {
                      console.log("userUpdate", userDocUpdate.data());
                    });
                }
                if (change.type === "removed") {
                  // console.log("Removed city: ", change.doc.id);
                }
              });

              querySnapshot.forEach((doc) => {
                if (doc.exists) {
                  firebase
                    .firestore()
                    .collection("users")
                    .doc(doc.get("user"))
                    .get()
                    .then((userDoc) => {
                      if (userDoc.exists) {
                        this.shareProjectList = [];
                        if (userDoc.data().roleId) {
                          userDoc
                            .data()
                            .roleId.get()
                            .then((roleIddoc) => {
                              let objrole = roleIddoc.data().titre;
                              let result = {
                                id: doc.id,
                                titre: doc.get("titre"),
                                etat: "Projet partagé",
                                role: objrole,
                                user: userDoc.data(),
                                createdAt: doc.get("createdAt"),
                                group: true,
                              };
                              resolve(
                                this.shareProjectList.push(result),
                                this.getUserNotif(result.id)
                                // alert(dresult.id)
                              );
                            });
                        } else {
                          this.$loading().close();
                        }
                      } else {
                        reject("Erreur");
                      }
                    });
                } else {
                  throw new TypeError("Oups, ceci n'est pas du JSON !");

                  reject("Erreur");
                }
              });
            } else {
              reject("Erreur");
            }

            shareProjects
              .then((sucess) => {
                this.$loading().close();
              })
              .catch((error) => {
                this.$loading().close();
              })
              .finally(() => {
                this.$loading().close();
                // console.log('OULALA')
              });
          });
      });
    },

    getMembersProjects(Id) {
      Loading.service({ fullscreen: true });
      let membersProjects = new Promise((resolve, reject) => {
        firebase
          .firestore()
          .collection("summary")
          .get()
          .then((querySnapshot) => {
            Loading.service({ fullscreen: true });
            querySnapshot.forEach((doc) => {
              if (doc.exists) {
                doc
                  .get("members")
                  .doc(this.currentUId)
                  .get()
                  .then((userDoc) => {
                    if (userDoc.exists) {
                      this.membersProjectList = [];
                      let result = {
                        id: doc.id,
                        titre: doc.get("titre"),
                        etat: "Projet partagé",
                        group: true,
                      };
                      resolve(this.membersProjectList.push(result));
                    } else {
                      reject("Erreur");
                    }
                  });
              } else {
                console.log("bad");
                throw new TypeError("Oups, ceci n'est pas du JSON !");

                reject("Erreur");
              }
            });

            membersProjects
              .then((sucess) => {
                this.$loading().close();
                console.log("ok", doc);
              })
              .catch((error) => {
                this.$loading().close();
                console.log("bad", doc);
              })
              .finally(() => {
                this.$loading().close();
                // console.log('OULALA')
              });
          });
      });
    },
    getProjects() {
      this.summaryRef
        .where(
          "user",
          "==",
          JSON.parse(localStorage.getItem("userSession")).uid
        )
        .get()
        .then((querySnapshot) => {
          this.userProjectList = [];
          if (querySnapshot.docChanges().length != 0) {
            querySnapshot.docChanges().forEach((change) => {
              // console.log("Log",change.type)
              if (change.type === "added") {
                console.log("New city: ", change.doc.id);
              }
              if (change.type === "modified") {
                // Notification({
                // title: 'Modification',
                // type: 'warning',
                // message: 'Le projet '+change.doc.data().titre+' a été modifié',
                // duration: 0
                // });
              }
              if (change.type === "removed") {
                console.log("Removed city: ", change.doc.data());
              }
            });
          }
          querySnapshot.forEach((doc) => {
            if (doc.exists) {
              let data = doc.data();
              data.id = doc.id;
              this.userProjectList.push(data);
              this.getUserNotif(doc.id);
              // mise a jour des parametres financier

              let defaultTva = []; // doc.get("parametres").tva;
              defaultTva.push(aucuneTva);
              defaultTva.push(tvaReduite);
              defaultTva.push(tvaNormale);
            } else {
              return;
            }
          });
        });
    },

    isEmpty(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false;
      }
      return true;
    },
    closeNotif() {
      alert("Bullshit");
    },
    async getNotifData(task, taskType) {
      if (task.userId) {
        task.userId.get().then((user) => {
          task.user = user.data();
          task.summaryId.get().then((project) => {
            task.project = project.data();
            task.refCategorie.get().then((groupe) => {
              task.groupe = groupe.data();

              switch (taskType) {
                case "add":
                  if (task.user.denomination) {
                    let userName = task.user.denomination;
                    this.$notify({
                      duration: 0,
                      onClose: function () {
                        task.collectionRef
                          .doc(task.id)
                          .update({
                            "action.archive": true,
                          })
                          .then(async () => {})
                          .catch(() => {});
                      },
                      dangerouslyUseHTMLString: true,
                      position: "bottom-right",
                      message:
                        '<img src="data:image/png;base64,' +
                        task.user.photo +
                        '" class="user-pic" alt="...">' +
                        userName +
                        ' a <span class="badge bg-success text-white">rajouté </span> l\'action <strong>' +
                        task.titre +
                        "</strong> au groupe <strong>" +
                        task.groupe.libelle +
                        "</strong> du projet <strong>" +
                        task.project.titre +
                        '</strong>  le    <i class="el-icon-time"></i><span>' +
                        task.date +
                        "</span> ",
                    });
                  }
                  if (task.user.first_name && task.user.last_name) {
                    let userName =
                      task.user.first_name + " " + task.user.last_name;
                    this.$notify({
                      duration: 0,
                      onClose: function () {
                        task.collectionRef
                          .doc(task.id)
                          .update({
                            "action.archive": true,
                          })
                          .then(async () => {})
                          .catch(() => {});
                      },
                      dangerouslyUseHTMLString: true,
                      position: "bottom-right",
                      message:
                        '<img src="data:image/png;base64,' +
                        task.user.photo +
                        '" class="user-pic" alt="...">' +
                        userName +
                        ' a <span class="badge bg-success text-white">rajouté </span> l\'action <strong>' +
                        task.titre +
                        "</strong> au groupe <strong>" +
                        task.groupe.libelle +
                        "</strong> du projet <strong>" +
                        task.project.titre +
                        '</strong>  le   <i class="el-icon-time"></i><span>' +
                        task.date +
                        "</span> ",
                    });
                  }

                  break;
                case "changeState":
                  if (task.user.denomination) {
                    let userName = task.user.denomination;
                    this.$notify({
                      duration: 0,
                      onClose: function () {
                        task.collectionRef
                          .doc(task.id)
                          .update({
                            "action.archive": true,
                          })
                          .then(async () => {})
                          .catch(() => {});
                      },
                      dangerouslyUseHTMLString: true,
                      position: "bottom-right",
                      message:
                        '<img src="data:image/png;base64,' +
                        task.user.photo +
                        '" class="user-pic" alt="...">' +
                        userName +
                        ' a <span class="badge bg-warning text-white">modifié </span> l\'action <strong>' +
                        task.titre +
                        "</strong> du groupe <strong>" +
                        task.groupe.libelle +
                        "</strong> du projet <strong>" +
                        task.project.titre +
                        '</strong>  le   <i class="el-icon-time"></i><span>' +
                        task.date +
                        "</span> ",
                    });
                  }
                  if (task.user.first_name && task.user.last_name) {
                    let userName =
                      task.user.first_name + " " + task.user.last_name;
                    this.$notify({
                      duration: 0,
                      onClose: function () {
                        task.collectionRef
                          .doc(task.id)
                          .update({
                            "action.archive": true,
                          })
                          .then(async () => {})
                          .catch(() => {});
                      },
                      dangerouslyUseHTMLString: true,
                      position: "bottom-right",
                      message:
                        '<img src="data:image/png;base64,' +
                        task.user.photo +
                        '" class="user-pic" alt="...">' +
                        userName +
                        ' a <span class="badge bg-warning text-white">modifié </span> l\'action <strong>' +
                        task.titre +
                        "</strong> du groupe <strong>" +
                        task.groupe.libelle +
                        "</strong> du projet <strong>" +
                        task.project.titre +
                        '</strong>  le   <i class="el-icon-time"></i><span>' +
                        task.date +
                        "</span>",
                    });
                  }

                  break;

                case "delete":
                  if (task.user.denomination) {
                    let userName = task.user.denomination;
                    this.$notify({
                      duration: 0,
                      onClose: function () {
                        task.collectionRef
                          .doc(task.id)
                          .update({
                            "action.archive": true,
                          })
                          .then(async () => {})
                          .catch(() => {});
                      },
                      dangerouslyUseHTMLString: true,
                      position: "bottom-right",
                      message:
                        '<img src="data:image/png;base64,' +
                        task.user.photo +
                        '" class="user-pic" alt="...">' +
                        userName +
                        ' a <span class="badge bg-danger text-white">supprimé </span> l\'action <strong>' +
                        task.titre +
                        "</strong> du groupe <strong>" +
                        task.groupe.libelle +
                        "</strong> du projet <strong>" +
                        task.project.titre +
                        '</strong>  le   <i class="el-icon-time"></i><span>' +
                        task.date +
                        "</span> ",
                    });
                  }
                  if (task.user.first_name && task.user.last_name) {
                    let userName =
                      task.user.first_name + " " + task.user.last_name;
                    this.$notify({
                      duration: 0,
                      onClose: function () {
                        task.collectionRef
                          .doc(task.id)
                          .update({
                            "action.archive": true,
                          })
                          .then(async () => {})
                          .catch(() => {});
                      },
                      dangerouslyUseHTMLString: true,
                      position: "bottom-right",
                      message:
                        '<img src="data:image/png;base64,' +
                        task.user.photo +
                        '" class="user-pic" alt="...">' +
                        userName +
                        ' a <span class="badge bg-danger text-white">supprimé </span> l\'action <strong>' +
                        task.titre +
                        "</strong> du groupe <strong>" +
                        task.groupe.libelle +
                        "</strong> du projet <strong>" +
                        task.project.titre +
                        '</strong> le <i class="el-icon-time"></i><span>' +
                        task.date +
                        "</span> ",
                    });
                  }

                  break;

                default:
                  break;
              }
            });
          });
        });
      } else {
        return;
      }
    },

    getUserNotif(projectId) {
      this.userNotify[projectId] = firebase
        .firestore()
        .collection("notifications")
        .doc(this.currentUId)
        .collection(projectId);
      this.userNotify[projectId].onSnapshot(async (querySnapshot) => {
        querySnapshot.docChanges().forEach(async (change) => {
          if (change.type === "added") {
            if (
              change.doc.data().action.archive == false &&
              change.doc.data().actionType == "add"
            ) {
              let task = change.doc.data().action;
              if (change.doc.data().createdAt) {
                task.date = moment(
                  new Date(change.doc.data().createdAt.seconds * 1000)
                ).format("Do MMMM YYYY HH:mm");
              } else {
                task.date = "";
              }
              //  console.log("Data",change.doc.data())
              task.id = change.doc.id;
              task.collectionRef = this.userNotify[projectId];
              let taskType = change.doc.data().actionType;
              await this.getNotifData(task, taskType);
            }
            if (
              change.doc.data().action.archive == false &&
              change.doc.data().actionType == "changeState"
            ) {
              let task = change.doc.data().action;
              task.id = change.doc.id;
              task.collectionRef = this.userNotify[projectId];
              // var start = moment.utc("2021-03-08 06:30:10 UTC", "YYYY-MM-DD HH:mm:ss Z");
              // var now = moment.utc();
              // var duration = moment.duration(now.diff(start));
              // console.log('Duration',duration.asHours());
              if (task.editAt) {
                task.date = moment(new Date(task.editAt.seconds * 1000)).format(
                  "Do MMMM YYYY HH:mm"
                );
              }
              let taskType = change.doc.data().actionType;
              await this.getNotifData(task, taskType);
            }
            if (
              change.doc.data().action.archive == false &&
              change.doc.data().actionType == "delete"
            ) {
              let task = change.doc.data().action;
              if (change.doc.data().createdAt) {
                task.date = moment(
                  new Date(change.doc.data().createdAt.seconds * 1000)
                ).format("Do MMMM YYYY HH:mm");
              } else {
                task.date = "";
              }
              task.id = change.doc.id;
              task.collectionRef = this.userNotify[projectId];
              let taskType = change.doc.data().actionType;
              await this.getNotifData(task, taskType);
            }
          }
          if (change.type === "modified") {
            let task = change.doc.data().action;
            //  await this.getUser(task);

            // console.log("Data",task)
          }
          if (change.type === "removed") {
          }
        });
      });
    },
  },
  filters: {
    /*
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          } */
  },
  async created() {
    this.$route.params.data.forEach((item) => {
      if (item == "lire") {
        this.lire = true;
      }
      if (item == "ecrire") {
        this.ecrire = true;
      }
    });
    this.concoursRef
      .where("adminId", "==", this.currentUId)
      .onSnapshot((onSnapshot) => {
        this.tousLesConcours = [];
        if (!onSnapshot.empty) {
          onSnapshot.forEach((doc) => {
            let concours = doc.data();
            concours.id = doc.id;

            this.summaryRef
              .where("adminId", "==", this.currentUId)
              .where("concoursId", "==", this.concoursRef.doc(doc.id))
              .get()
              .then((querySnapshot) => {
                this.projetsProg = [];
                querySnapshot.forEach((doc) => {
                  var projet = doc.data();
                  projet.id = doc.id;
                  this.projetsProg.push(projet);
                  //  console.log('projet',projet)
                });
                concours.projets = this.projetsProg;
                // console.log('Liste',this.projetsProg)
              });

            this.tousLesConcours.push(concours);
          });
        }
      });
    this.$loading().close();
  },
  async mounted() {
    this.userProjectList = [];
    let ref = firebase.firestore().collection("summary");
    let notify = firebase.firestore().collection("notifications");
    notify
      .where(
        "email",
        "==",
        JSON.parse(localStorage.getItem("userSession")).email
      )
      .onSnapshot((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          if (doc.exists) {
            let result = {
              id: doc.id,
              projet: doc.get("projet"),
              docId: doc.get("docId"),
              createdAt: doc.get("createdAt"),
            };

            this.notifyList.push(result);
          } else {
            // doc.data() will be undefined in this case
          }
        });
      });

    //RECUPERATION DES PROJETS ASSIGNES
    this.memberRef
      .where(
        "mail",
        "==",
        JSON.parse(localStorage.getItem("userSession")).email
      )
      .where("confirm", "==", true)
      .get()
      .then((docSnaps) => {
        docSnaps.forEach((doc) => {
          if (doc.exists) {
            let projectId = doc.get("projectId");
            firebase
              .firestore()
              .collection("summary")
              .doc(doc.get("projectId"))
              .get()
              .then((doc) => {
                if (!doc.exists) {
                } else {
                  let result = {
                    id: doc.id,
                    titre: doc.get("titre"),
                    etat: "Projet partagé",
                    // TODO: regler l'affichage de date avec la librairie date.js
                    createdAt: doc.get("createdAt"),
                    group: true,
                  };

                  this.userProjectList.push(result);
                  this.getUserNotif(doc.id);
                }
              })
              .catch((err) => {
                console.log("Error getting document", err);
              });

            // TODO: regler l'affichage de date avec la librairie date.js
          } else {
            // doc.data() will be undefined in this case

            console.log("Doc dont exist!!!");
            return;
          }
          // TODO: sort projects by last modified data
        });
      });

    this.getProjects();
    if (this.adminId !== undefined) {
      this.selectMembersProjects(this.adminId);
    } else {
      this.selectMembersProjects();
    }
    this.getAssignProjects();
    this.$loading().close();
    this.$refs.projectByEval.loadData(this.adminId);
    // console.log('tester taille: ', this.$refs.card2);
  },
  computed: {
    filterShareProjects() {
      if (this.recherche) {
        // console.log(this.recherche)
        return this.shareProjectList.filter((item) => {
          return (
            item.titre.toLowerCase().indexOf(this.recherche.toLowerCase()) > -1
          );
        });
      } else {
        return this.shareProjectList;
      }
    },
    filterUserProjects() {
      if (this.recherche) {
        return this.userProjectList.filter((item) => {
          return (
            item.titre.toLowerCase().indexOf(this.recherche.toLowerCase()) > -1
          );
        });
      } else {
        return this.userProjectList;
      }
    },
    filterMemberProjects() {
      if (this.recherche) {
        return this.membersProjectList.filter((item) => {
          return (
            item.titre.toLowerCase().indexOf(this.recherche.toLowerCase()) > -1
          );
        });
      } else {
        return this.membersProjectList;
      }
    },
    userSession: {
      get() {
        return this.$store.state.agilite.userSession;
      },
    },
  },
};
</script>
<style scoped>
@import "../../../sass/selection-projet/selection-projet.scss";

.strikethrough {
  text-decoration: line-through;
}
.align-row{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: wrap;
}
.align-row .btn-create{
  margin-left: 1.5rem;
}
.main-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-title .content-title{
  width: 100%;
}
.dark-logo{
  width: 55px !important;
  height: 55px !important;
  object-fit: cover;
  object-position: center;
}
.card-project{
  border-radius: 3px;
}
.card-project .card-body{
  background: #ffffff;
  color: #000;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.group {
  font-size: 40px;
  color: white;
}
.text-red {
  color: red;
}

.progress {
  background-color: #f73939;
}
.nbProjets {
  font-size: 18px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 200;
  margin-bottom: 0px;
}
.hideMessage {
  visibility: hidden;
}
.showMessage {
  visibility: visible;
  position: relative;
  top: 70px;
  left: 30px;
  padding-bottom: 20px;
  font-weight: 200;
  font-size: 15px;
}
.col-md-10 {
  cursor: pointer;
}
/* .page-wrapper {
  padding-top: 5px;
} */
.header-section {
  border: 0.2px solid grey;
  padding: 0.5%;
  background: white;
  margin-bottom: 15px !important;
}

.verion-title a {
  position: relative;
  font-size: 0.8rem !important;
  font-weight: 500;
}
.verion-title a strong {
  background: #f1872ae6;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}
@media  (max-width: 600px) {
  .align-row .btn-create{
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
</style>
