<template>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Executive summary</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Accueil</a></li>
                        <li class="breadcrumb-item active">Executive summary</li>
                    </ol>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <h3>Note : </h3>
                        </div>
                        <div> <hr> </div>
                        <div class="card-body">
                            <h4>Evaluateur : Moussavou Jean </h4>
                            <p class="text-muted m-b-30 font-13"> critères au choix </p>
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select class="custom-select" id="inlineFormCustomSelect">
                                            <option value="1">Visibilité</option>
                                            <option value="2">Marché</option>
                                            <option value="3">Impact</option>
                                            <option value="3">Extensivité</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 etoile">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select class="custom-select" id="inlineFormCustomSelect">
                                            <option value="1">Visibilité</option>
                                            <option value="2">Marché</option>
                                            <option value="3">Impact</option>
                                            <option value="3">Extensivité</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 etoile">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select class="custom-select" id="inlineFormCustomSelect">
                                            <option value="1">Visibilité</option>
                                            <option value="2">Marché</option>
                                            <option value="3">Impact</option>
                                            <option value="3">Extensivité</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 etoile">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select class="custom-select" id="inlineFormCustomSelect">
                                            <option value="1">Visibilité</option>
                                            <option value="2">Marché</option>
                                            <option value="3">Impact</option>
                                            <option value="3">Extensivité</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 etoile">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select class="custom-select" id="inlineFormCustomSelect">
                                            <option value="1">Visibilité</option>
                                            <option value="2">Marché</option>
                                            <option value="3">Impact</option>
                                            <option value="3">Extensivité</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 etoile">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div> <hr> </div>
                        <div class="card-body">
                            <h4>Attentes</h4>
                            <p>
                                Il s’agit d’évaluer le candidat sur la pertinence de son projet ou de son entreprise.
                                Le contenu doit tenir sur une page A4 au maximum et une mise en forme peut-être réalisée dans cette zone de texte.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body wizard-content">
                                        <form action="#" class="tab-wizard wizard-circle">
                                            <!-- Step 1 -->
                                            <h6>Présentation succinte du projet/Entreprise</h6>
                                            <section>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Forme juridique :</label>
                                                        <input type="checkbox" id="basic_checkbox_2" class="filled-in" />
                                                        <label for="basic_checkbox_2">EURL</label>
                                                        <input type="checkbox" id="basic_checkbox_3" class="filled-in" />
                                                        <label for="basic_checkbox_3">SARL</label>
                                                        <input type="checkbox" id="basic_checkbox_4" class="filled-in" />
                                                        <label for="basic_checkbox_4">EI</label>
                                                        <input type="checkbox" id="basic_checkbox_5" class="filled-in" />
                                                        <label for="basic_checkbox_5">SAS</label>
                                                        <input type="checkbox" id="basic_checkbox_6" class="filled-in" />
                                                        <label for="basic_checkbox_6">SASU</label>
                                                        <input type="checkbox" id="basic_checkbox_7" class="filled-in" />
                                                        <label for="basic_checkbox_7">SA</label>
                                                        <input type="checkbox" id="basic_checkbox_8" class="filled-in" />
                                                        <label for="basic_checkbox_4">GIE</label>
                                                        <input type="checkbox" id="basic_checkbox_9" class="filled-in" />
                                                        <label for="basic_checkbox_4">AUTRES</label>
                                                        <textarea name="vision_court" id="vision_court" rows="6" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="probleme">1.2 Déscription de l'opportunité(problème à resoudre) et l'impact du projet</label>
                                                        <textarea name="probleme" id="probleme" rows="6" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="situation">1.3 Déscription de la situation actuelle du projet/Entreprise</label>
                                                        <textarea name="situation" id="situation" rows="6" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- Step 2 -->
                                            <h6>Présentation du porteur du projet</h6>
                                            <section>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="card card-outline-info my-card">
                                                            <div class="card-header">
                                                                <h4 class="m-b-0 text-white">2.1. Porteur de projet</h4></div>
                                                            <div class="card-body">
                                                                <div class="form-group row">
                                                                    <label for="nom" class="col-sm-3 text-right control-label col-form-label">Nom</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="nom" placeholder="Nom & prénom">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="sexe" class="col-sm-3 text-right control-label col-form-label">Sexe</label>
                                                                    <div class="col-sm-9">
                                                                        <select class="form-control" id="sexe" name="sexe">
                                                                            <option value="">Feminin</option>
                                                                            <option value="India">Masculin</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="age" class="col-sm-3 text-right control-label col-form-label">Age</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" min="18" class="form-control" id="age">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="niveau" class="col-sm-3 text-right control-label col-form-label">Niveau d'étude</label>
                                                                    <div class="col-sm-9">
                                                                        <select class="custom-select form-control" id="niveau" name="niveau">
                                                                            <option value="">BEPC</option>
                                                                            <option value="India">BAC</option>
                                                                            <option value="India">LICENCE</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="competence" class="col-sm-3 text-right control-label col-form-label">Compétence</label>
                                                                    <div class="col-sm-9">
                                                                        <textarea name="competence" id="competence" rows="4" class="form-control"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="card card-outline-info my-card">
                                                            <div class="card-header">
                                                                <h4 class="m-b-0 text-white">2.2. Associé</h4></div>
                                                            <div class="card-body">
                                                                <div class="form-group row">
                                                                    <label for="nom1" class="col-sm-3 text-right control-label col-form-label">Nom</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="nom1" placeholder="Nom & prénom">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="sexe1" class="col-sm-3 text-right control-label col-form-label">Sexe</label>
                                                                    <div class="col-sm-9">
                                                                        <select class="form-control" id="sexe1" name="sexe">
                                                                            <option value="">Feminin</option>
                                                                            <option value="India">Masculin</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="age1" class="col-sm-3 text-right control-label col-form-label">Age</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="number" min="18" class="form-control" id="age1">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="niveau1" class="col-sm-3 text-right control-label col-form-label">Niveau d'étude</label>
                                                                    <div class="col-sm-9">
                                                                        <select class="custom-select form-control" id="niveau1" name="niveau1">
                                                                            <option value="">BEPC</option>
                                                                            <option value="India">BAC</option>
                                                                            <option value="India">LICENCE</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="competence1" class="col-sm-3 text-right control-label col-form-label">Compétence</label>
                                                                    <div class="col-sm-9">
                                                                        <textarea name="competence1" id="competence1" rows="4" class="form-control"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="idee">2.3 Naissance du projet / idée :</label>
                                                            <textarea name="idee" id="idee" rows="6" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="vision_court">2.4 Vision à court terme :</label>
                                                            <textarea name="vision_court" id="vision_court1" rows="6" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="vision_long">2.5 Vision à long terme :</label>
                                                            <textarea name="vision_long" id="vision_long" rows="6" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- Step 3 -->
                                            <h6>Produit/Service et son potentiel</h6>
                                            <section>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>4.1 Produits</label>
                                                        <div class="table-responsive">
                                                            <table id="editable-datatable" class="table editable-table table-bordered m-b-0 color-bordered-table info-bordered-table">
                                                                <thead>
                                                                <tr>
                                                                    <th>Prouits/services phares</th>
                                                                    <th>Solutions (désagrément à éradiquer)</th>
                                                                    <th>Valeur ajoutée apportées aux clients</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>Car</td>
                                                                    <td>100</td>
                                                                    <td>200</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Bike</td>
                                                                    <td>330</td>
                                                                    <td>240</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>4.2 Clients</label>
                                                        <div class="table-responsive">
                                                            <table id="mainTable1" class="table editable-table table-bordered m-b-0 color-bordered-table info-bordered-table">
                                                                <thead>
                                                                <tr>
                                                                    <th>Les aspirations des clients</th>
                                                                    <th>Problèmes qui gènent les clients</th>
                                                                    <th>Bénéfices (au délà de leurs attents</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>Car</td>
                                                                    <td>100</td>
                                                                    <td>200</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Bike</td>
                                                                    <td>330</td>
                                                                    <td>240</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>4.3 Vos concurrents directes</label>
                                                        <textarea name="concurrent" id="concurrent" rows="6" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="zone">
                                                            4.3 Vos zones de ventes et votre part de marché
                                                        </label>
                                                        <textarea name="zone" id="zone" rows="6" class="form-control"></textarea>
                                                    </div>
                                                </div>

                                            </section>
                                            <!-- Step 4 -->
                                            <h6>Business Model Canvas</h6>
                                            <section>
                                                <div class="row">
                                                    <div class="span12">
                                                        <div style="width: 100%" class="widget widget-table action-table">
                                                            <div class="widget-header"><i class="icon-list-alt"></i>
                                                                <h5>Business Model Canvas du projet : </h5>
                                                            </div>
                                                            <!-- /widget-header -->
                                                            <div class="widget-content">

                                                                <table id="bizcanvas" border="1">
                                                                    <tr>
                                                                        <td colspan="2" rowspan="2">
                                                                            <h4>
                                                                                <i class="fas fa-handshake"></i><a class=""
                                                                                                                   data-original-title="Partenaires clés"
                                                                                                                   data-content="Qui sont vos partenaires clés ?
                                                                 Qui sont vos fournisseurs clés ?"
                                                                                                                   data-placement="bottom"
                                                                                                                   rel="popover" href="#">
                                                                                Partenaires clés</a>
                                                                            </h4>
                                                                            <textarea class="btn_modal" data-toggle="modal" data-title="Partenaires clés" data-id="partenaire" data-target="#partenairecles" placeholder="Partenaires clés"></textarea>
                                                                        </td>
                                                                        <td colspan="2">
                                                                            <h4>
                                                                                <i class="icon-cogs"></i><a class=""
                                                                                                            data-original-title="Activitiés clés"
                                                                                                            data-content="Quelles sont les activités clés nécessaires pour produire l’offre ? (logistique, marketing, production…)
                                                                 Quel lien avec les canaux de distribution ?"
                                                                                                            data-placement="bottom"
                                                                                                            rel="popover" href="#">
                                                                                Activitiés clés</a>
                                                                            </h4>
                                                                            <textarea class="btn_modal" data-toggle="modal" data-title="Activitiés clés" data-id="activite" data-target="#partenairecles" placeholder="Activitiés clés"></textarea>
                                                                        </td>
                                                                        <td colspan="2" rowspan="2">
                                                                            <h4>
                                                                                <i class="icon-gift"></i><a class=""
                                                                                                            data-original-title="Proposition de valeur"
                                                                                                            data-content="Quelle proposition de valeur pour les clients ?
                                                                 Quelles solutions concrètes l’offre apporte-t-elle aux clients ?"
                                                                                                            data-placement="bottom"
                                                                                                            rel="popover" href="#">
                                                                                Proposition de valeur</a>
                                                                            </h4>
                                                                            <textarea class="btn_modal" data-toggle="modal" data-title="Proposition de valeur" data-id="proposition" data-target="#partenairecles" placeholder="Proposition de valeur"></textarea>
                                                                        </td>
                                                                        <td colspan="2">
                                                                            <h4>
                                                                                <i class="icon-heart"></i><a class=""
                                                                                                             data-original-title="Relation Clients"
                                                                                                             data-content="Quel type de relation chaque segment de clientèle attend-il de l’entreprise ?
                                                                 Lister les types de relations client.Comment la relation client s’intègre-t-elle au reste du modèle économique ?"
                                                                                                             data-placement="bottom"
                                                                                                             rel="popover" href="#">
                                                                                Relation Clients</a>
                                                                            </h4>
                                                                            <textarea class="btn_modal" data-toggle="modal" data-title="Relation Clients" data-id="relation" data-target="#partenairecles" placeholder="Relation Clients"></textarea>
                                                                        </td>
                                                                        <td colspan="2" rowspan="2">
                                                                            <h4>
                                                                                <i class="fas fa-users"></i><a class=""
                                                                                                               data-original-title="Segments Clients"
                                                                                                               data-content="Quels sont les segments de clientèle cibles ?
                                                                 Pour qui crée-t-on de la valeur ?"
                                                                                                               data-placement="bottom"
                                                                                                               rel="popover" href="#">
                                                                                Segments Clients</a>
                                                                            </h4>
                                                                            <textarea class="btn_modal" data-toggle="modal" data-title="Segments Clients" data-id="segments" data-target="#partenairecles" placeholder="Segments Clients"></textarea>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <h4>
                                                                                <i class="icon-tags"></i><a class=""
                                                                                                            data-original-title="Ressources Clés"
                                                                                                            data-content="Quelles ressources clés la production de l’offre requiert-elle ?
                                                                 Quelles ressources sont nécessaires en fonction des canaux de distribution choisis, et du type de relation client visé ?"
                                                                                                            data-placement="bottom"
                                                                                                            rel="popover" href="#">
                                                                                Ressources Clés</a>
                                                                            </h4>
                                                                            <textarea class="btn_modal" data-toggle="modal" data-title="Ressources Clés" data-id="ressource" data-target="#partenairecles" placeholder="Ressources Clés"></textarea>
                                                                        </td>

                                                                        <td colspan="2">
                                                                            <h4>
                                                                                <i class="icon-truck"></i> <a class=""
                                                                                                              data-original-title="Canaux de distribution"
                                                                                                              data-content="A travers quels canaux de distribution souhaite-t-on atteindre les différents segments de clientèle ?
                                                                 Comment les différents canaux s’intègrent-ils ?"
                                                                                                              data-placement="bottom"
                                                                                                              rel="popover" href="#">
                                                                                Canaux de distribution</a>
                                                                            </h4>
                                                                            <textarea class="btn_modal" data-toggle="modal" data-title="Canaux de distribution" data-id="canaux" data-target="#partenairecles" placeholder="Canaux de distribution"></textarea>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="5">
                                                                            <h4>
                                                                                <i class="icon-edit"></i><a class=""
                                                                                                            data-original-title="Structure des coûts"
                                                                                                            data-content="Quels sont les coûts (dépenses) les plus importants générés par le modèle économique ?
                                                                 Quelles ressources-clés sont les plus coûteuses ?"
                                                                                                            data-placement="bottom"
                                                                                                            rel="popover" href="#">
                                                                                Structure des coûts</a>
                                                                            </h4>
                                                                            <textarea class="btn_modal" data-toggle="modal" data-title="Structure des coûts" data-id="structure" data-target="#partenairecles" placeholder="Structure des coûts"></textarea>
                                                                        </td>
                                                                        <td colspan="5">
                                                                            <h4>
                                                                                <i class="icon-money"></i><a class=""
                                                                                                             data-original-title="Sources de Revenus"
                                                                                                             data-content="Pour quelle proposition de valeur les consommateurs sont-ils prêts à payer ? Combien sont-ils prêts à payer ?
                                                                 Quel est le mode de paiement préféré des consommateurs ?"
                                                                                                             data-placement="bottom"
                                                                                                             rel="popover" href="#">
                                                                                Sources de Revenus</a>
                                                                            </h4>
                                                                            <textarea class="btn_modal" data-toggle="modal" data-title="Sources de Revenus" data-id="source" data-target="#partenairecles" placeholder="Sources de Revenus"></textarea>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- Step 5 -->
                                            <h6>Chiffres clés Besoins-Réssources</h6>
                                            <section>
                                                <div class="row">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">5.1. Budget Prévisionnel de Financement au démarrage</h4>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="table-responsive">
                                                                        <table class="table color-bordered-table danger-bordered-table">
                                                                            <thead>
                                                                            <tr width="80%">
                                                                                <th>5.1.1 BESOINS</th>
                                                                                <th>FCFA</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr>
                                                                                <td>Total Formalités de Création d’entreprise</td>
                                                                                <td> FCFA</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Total Matériel Informatique</td>
                                                                                <td> FCFA</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Total Mobilier
                                                                                </td>
                                                                                <td> FCFA</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Total Matériel/Outillage/Machines/Véhicule
                                                                                </td>
                                                                                <td> FCFA</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="table-responsive col-md-6">
                                                                    <table class="table color-bordered-table success-bordered-table">
                                                                        <thead>
                                                                        <tr>
                                                                            <th width="80%">5.1.2 RESSOURCES</th>
                                                                            <th>FCFA</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <td>Capital: Apport en argent pour le créateur</td>
                                                                            <td> FCFA</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Capital: Apport en matériel du créateur </td>
                                                                            <td> FCFA</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Total Mobilier
                                                                            </td>
                                                                            <td> FCFA</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Total Matériel/Outillage/Machines/Véhicule
                                                                            </td>
                                                                            <td> FCFA</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <div class="right-sidebar">
                <div class="slimscrollright">
                    <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                    <div class="r-panel-body">
                        <ul id="themecolors" class="m-t-20">
                            <li><b>With Light sidebar</b></li>
                            <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                            <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                            <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                            <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                            <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                            <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                            <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                            <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                            <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                            <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                            <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                            <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                            <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                        </ul>
                        <ul class="m-t-20 chatonline">
                            <li><b>Chat option</b></li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>



    </div>

</template>

<script>
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'
    export default {
        data(){
            return {
                users_count: '',
                tasks_count: '',
                recent_incomplete_tasks: {},
                todos: [],
                todoForm: new Form({
                    'todo': ''
                }),
                show_todo_status: ''
            }
        },
        components : { ClickConfirm },
        mounted() {
            axios.get('/api/user/dashboard').then(response =>  {
                this.users_count = response.data.users_count;
                this.tasks_count = response.data.tasks_count;
                this.recent_incomplete_tasks = response.data.recent_incomplete_tasks;
            });
            this.getTodos();
        },
        methods: {
            getTodos(){
                axios.get('/api/todo?show_todo_status='+this.show_todo_status).then(response =>  {
                    this.todos = response.data;
                });
            },
            storeTodo(){
                this.todoForm.post('/api/todo').then(response => {
                    toastr['success'](response.message);
                    this.todos.unshift(response.data)
                }).catch(response => {
                    toastr['error'](response.message);
                });
            },
            deleteTodo(todo){
                axios.delete('/api/todo/'+todo.id).then(response => {
                    toastr['success'](response.data.message);
                    this.getTodos();
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });
            },
            toggleTodoStatus(todo){
                axios.post('/api/todo/status',{id:todo.id}).then(response => {
                    todo.status = !todo.status;
                }).catch(error => {
                    toastr['error'](error.response.message);
                });
            },
            filterTodo(){
                this.getTodos();
            },
            getProgress(task){
                return 'width: '+task.progress+'%;';
            },
            getProgressColor(task){
                return helper.taskColor(task.progress);
            }
        },
        computed: {
        },
        filters: {
            moment(date) {
                return helper.formatDate(date);
            },
            momentWithTime(date) {
                return helper.formatDateTime(date);
            }
        }
    }
</script>
<style>
    .strikethrough{
        text-decoration: line-through;
    }
</style>

<style>
    .strikethrough{
        text-decoration: line-through;
    }

    H1 {
        font-weight: 900;
    }

    #bizcanvas {
        border: 3px solid #3160AA;
        width: 100%;
    }

    #bizcanvas td {
        vertical-align: top;
        height: 200px;
        width: 200px;
        padding: 6px;
    }

    /* icon des cases bus. model*/
    [class^="icon-"], [class*=" icon-"] {
        font-size: 18px;
        margin-right: 5px;
    }

    #bizcanvas H4 {
        font-weight: 700;
        font-size: 1em;
    }

    h4 a {
        color: #3160AA;
    }

    #bizcanvas H5 {
        font-weight: 700;
        font-size: 0.7em;
    }

    #bizcanvas p {
        font-weight: 300;
        font-size: 0.8em;
    }

    textarea {
        width: 96%;
        max-width: 96%;
        min-width: 96%;
        padding: 10px 2%;
        height: 240px;
        border:none;
    }

    .my-card {
        border: solid 1px #398bf7 !important;
    }
</style>