<template>
    <div v-if="editing">
        <textarea readonly style="background-color:#ff000014" v-model="tempValue" class="form-control input-large" rows="7" placeholder="Vous aurez les remarques de l'évaluateur ici"></textarea>
        <div class="editable-buttons editable-buttons-bottom">
            <button 
            @click="disableEditing" 
            class="btn btn-danger btn-sm editable-cancel"
            data-toggle="tooltip" 
            data-placement="right" 
            title="Cliquez ici pour fermer">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div v-else-if="!editing">
        <button 
            type='button' 
            @click="enableEditing" 
            class="mytooltip tooltip-effect-9 btn btn-danger"
        >
                <i class="fas fa-edit"></i>
                <span class="tooltip-content2">Annotation ici</span>
        </button>
    </div>
</template>

<script>
    import firebase from 'firebase'
    export default {
        name: 'xeditable',
        props: {
            partie: {
                type: Object
            },
            summary: {
                type: String
            },
            savedValue: {
                type: String
            },
        },
        data() {
            return {
                // value: '',
                tempValue: this.savedValue,
                editing: true,
                // db: firebase.firestore().collection('summary').doc(this.summary),
            }
        },
        
        methods:{
            enableEditing: function(){
                this.tempValue = this.savedValue,
                this.editing = true;
            },
            disableEditing: function(){
                this.tempValue = this.savedValue,
                this.editing = false;
            },
            /* saveEdit: function(){
                // However we want to save it to the database
                this.value = this.tempValue;
                let parti = this.partie;
                firebase.firestore().collection('summary').doc(this.summary).update(this.partie).then(function ()
                {
                    Swal.fire(
                    'Annotation Réussie',
                    'Cette partie est annotée!',
                    'success'
                    )
                }).catch(function (error)
                {
                    Swal.fire(
                    'Erreur d\'annotation',
                    'Veullez réessayer!',
                    'error'
                    )
                });
                // this.disableEditing();
            } */
        }
    }
</script>