<template>
  <div>
    <el-popover v-if="alert" placement="top-start" width="400" trigger="hover">
      <span>
        vous avez dépassé le délai de traitement de ce ticket de
        <strong
          >{{ Math.abs(result.daysDifference) }} Jour/s :
          {{ result.hoursDifference }} Heure/s
        </strong>
      </span>
      <div slot="reference" class="animated bounceIn slow infinite">
        <i class="el-icon-warning color-red"></i>
      </div>
    </el-popover>
    <el-popover
      v-if="warning"
      placement="top-start"
      width="400"
      trigger="hover"
    >
      <span>
        Il vous reste
        <strong
          >{{ Math.abs(result.daysDifference) }} Jour/s :
          {{ result.hoursDifference }} Heure/s
        </strong>
        avant la date de fin de traitement!!
      </span>
      <div slot="reference">
        <i class="el-icon-alarm-clock color-warning"></i>
      </div>
    </el-popover>
  </div>
</template>
<script>
import firebase from "firebase";
import helper from "../../../../../services/helper";
import action from "../../../../bp/mixins/admin/actionPlanNew.js";
import Ticket from "../../../../bp/erp/models/agilite/ticket";
export default {
  mixins: [action, helper],
  props: {
    tr: {
      default() {
        return {};
      },
      type: Object,
    },
    etat: {
      default: "1",
      type: String,
    },
  },
  watch: {
    etat: async function(val) {
      if (this.tr.dates) {
        this.result = await this.timeDifference(
          new Date(this.tr.dates[1]),
          new Date()
        );
        //Logique ALert
        if (
          (this.result.daysDifference == 0 ||
            this.result.daysDifference == -1) &&
          this.tr.etat != "3"
        ) {
          this.warning = true;
        } else {
          this.warning = false;
        }
        if (this.result.daysDifference < -2 && this.tr.etat != "3") {
          this.alert = true;
        } else {
          this.alert = false;
        }
      }
    },
  },
  data() {
    return {
      alert: false,
      warning: false,
      result: {},
    };
  },

  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    selectedActivite: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
  },
  async mounted() {
    console.log("Data Alert", this.tr);
    console.log("Now", new Date());
    if (this.tr.dates) {
      this.result = await this.timeDifference(
        new Date(this.tr.dates[1]),
        new Date()
      );
      //Logique ALert
      if (
        (this.result.daysDifference == 0 || this.result.daysDifference == -1) &&
        this.tr.etat != "3"
      ) {
        this.warning = true;
      } else {
        this.warning = false;
      }
      if (this.result.daysDifference < -2 && this.tr.etat != "3") {
        this.alert = true;
      } else {
        this.alert = false;
      }
    }
  },
};
</script>
<style scoped>
div {
  padding-top: 5px;
}
.color-red {
  color: red !important;
  font-size: 30px;
  cursor: pointer;
}
.color-warning {
  color: rgb(226, 156, 6) !important;
  font-size: 30px;
  cursor: pointer;
}
</style>
