<template>
  <div v-if="calcul">
    <div v-if="loading">
      <div class="mt-5">
        <el-skeleton :loading="loading" animated>
          <template slot="template">
            <el-row :gutter="10">
              <el-col :span="24">
                <el-skeleton-item variant="h1" style="width: 100%;" />
              </el-col>
            </el-row>
          </template>
        </el-skeleton>
      </div>
    </div>
    <div v-else>
      <div>
        <span
          >Tickets :<strong class="tag-ticket">
            {{ this.totalTicket }}
          </strong>
        </span>
        <div>
          <span>
            Terminés:<strong class="tag-ticket">
              {{ this.totalDone }}
            </strong>
          </span>
        </div>
      </div>
      <div class="mb-1">
        <el-progress
          v-if="percentCalcul == 0"
          :text-inside="true"
          :stroke-width="width"
          class="percentage"
          color="#909399"
          :percentage="percentCalcul"
        ></el-progress>
        <el-progress
          v-else-if="percentCalcul > 0 && percentCalcul < 100"
          :text-inside="true"
          :stroke-width="width"
          class="percentage"
          color="#E6A23C"
          :percentage="percentCalcul"
        ></el-progress>
        <el-progress
          v-else-if="
            percentCalcul == 100 || percentCalcul == 99 || percentCalcul > 100
          "
          :text-inside="true"
          :stroke-width="width"
          class="percentage"
          color="#12c96e"
          :percentage="percentCalcul"
        ></el-progress>
      </div>
    </div>
  </div>
  <div v-else>
    <el-progress
      v-if="percent == 0"
      :text-inside="true"
      :stroke-width="width"
      class="percentage"
      color="#909399"
      :percentage="percent"
    ></el-progress>
    <el-progress
      v-else-if="percent > 0 && percent < 100"
      :text-inside="true"
      :stroke-width="width"
      class="percentage"
      color="#E6A23C"
      :percentage="percent"
    ></el-progress>
    <el-progress
      v-else-if="percent == 100"
      :text-inside="true"
      :stroke-width="width"
      class="percentage"
      color="#12c96e"
      :percentage="percent"
    ></el-progress>
  </div>
</template>
<script>
import firebase from "firebase";
import action from "../../../../bp/mixins/admin/actionPlanNew.js";
import Ticket from "../../../../bp/erp/models/agilite/ticket";
import WorkerAvancement from "worker-loader!./workerAvancement";
export default {
  mixins: [action],
  props: {
    percent: {
      default: 0,
      type: Number,
    },
    width: {
      default: 15,
      type: Number,
    },
    calcul: {
      default: false,
      type: Boolean,
    },
    docId: {
      default: "",
      type: String,
    },
    itemsLength: {
      default: 0,
      type: Number,
    },
    tr: {
      default() {
        return {};
      },
      type: Object,
    },
  },
  watch: {
    totalDone: function(va) {
      this.percentCalcul = Math.round(
        (this.totalDone * 100) / this.totalTicket
      );
    },
    percent: function(val) {
      if (val == 100 || val == 99 || val > 100) {
        this.percent = 100; //Gestion de la marge d'erreur
        let etat = "3";
        let state = true;
        this.tr.ref.update({ state: state, etat: etat }).then((doc) => {
          this.$emit("update:state", state);
          this.$emit("update:etat", etat);
          // this.getAllSubtasks();
        });
      } else if (val > 0 && val < 100) {
        let etat = "2";
        let state = false;
        this.tr.ref.update({ state: state, etat: etat }).then((doc) => {
          this.$emit("update:state", state);
          this.$emit("update:etat", etat);
          // this.getAllSubtasks();
        });
      } else if (val == 0) {
        let etat = "1";
        let state = false;
        this.tr.ref.update({ state: state, etat: etat }).then((doc) => {
          this.$emit("update:state", state);
          this.$emit("update:etat", etat);
        });
      }
    },
    itemsLength: function() {
      this.initData();
    },
  },
  data() {
    return {
      loading: true,
      percentCalcul: 0,
      totalDone: 0,
      totalTicket: 0,
    };
  },
  methods: {
    async initData() {
      if (this.calcul) {
        this.loading = true;
        await this.getAllTicketsDone();
        await this.getAllTickets();
        this.percentCalcul = Math.round(
          (this.totalDone * 100) / this.totalTicket
        );

        this.loading = false;
      }
    },
    async getAllTicketsDone() {
      let summary = this.idSummarySelected;
      let docId = this.docId;
      const workerAvancement = new WorkerAvancement();
      workerAvancement.postMessage([summary, docId]);

      workerAvancement.onmessage = (event) => {
        this.totalDone = event.data;
        console.log("Total Done", event.data);
      };
      workerAvancement.onerror = console.error;
    },
    async getAllTickets() {
      this.totalTicket = await firebase
        .firestore()
        .collection("planAction")
        .doc(this.idSummarySelected)
        .collection(this.docId)
        .get()
        .then((querySnapshot) => {
          return querySnapshot.size;
        });
      this.totalTicket =
        this.totalTicket +
        (await firebase
          .firestore()
          .collection("tasks")
          .doc(this.idSummarySelected)
          .collection("activites")
          .doc(this.docId)
          .collection("tickets")
          .get()
          .then((querySnapshot) => {
            return querySnapshot.size;
          }));
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    selectedActivite: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
  },

  async mounted() {
    this.initData();
  },
};
</script>
<style scoped>
div {
  padding-top: 5px;
}
</style>
