<template>
  <div class="card">
    <div class="d-flex justify-content-center">
      <strong class="mt-2 titre">
        <i class="el-icon-pie-chart title-icon" style="font-size: 1.2rem; color: #398bf7bf"></i> Répartition des tickets par
        statut</strong
      >
    </div>
    <span class="d-flex justify-content-center" v-if="!this.loading"
      >Total Tickets :&nbsp; <strong> {{ this.totalTicket }}</strong>
    </span>
    <div class="mr-4 ml-auto" v-if="!this.loading">
      <el-button icon="el-icon-refresh" circle @click="initData()"></el-button>
    </div>
    <div class="d-flex justify-content-center loading" v-if="this.loading">
      <span v-loading="loading"></span>
    </div>
    <highcharts v-else :options="options" style="background: none; height: 300px; width: 500px"></highcharts>
  </div>
</template>
<script>
import firebase from "firebase";
import action from "../../../../bp/mixins/admin/actionPlanNew.js";
import Highcharts from "highcharts";
import Priorite from "../../../../bp/erp/models/priorite";
import Version from "../../../../bp/erp/models/version";
import Etiquette from "../../../../bp/erp/models/etiquette";
import typeTicket from "../../../../bp/erp/models/globalTicket/typeTicket";
import HighchartsVue from "highcharts-vue";
import item from "highcharts/modules/item-series";
import more from "highcharts/highcharts-more";
import lollipop from "highcharts/highcharts-more";
// import clients from '../tiers/clients.vue'
Vue.use(HighchartsVue, {
  highcharts: Highcharts,
});
more(Highcharts);
lollipop(Highcharts);
item(Highcharts);
export default {
  props: {
    type: {
      default: "pie",
      type: String,
    },
    title: {
      default: "",
      type: String,
    },
    collection: {
      default: null,
      type: String,
    },
    icon: {
      default: "",
      type: String,
    },
  },
  watch: {
    tasksRef: function() {
      this.initData();
    },
  },
  data() {
    return {
      loading: true,
      percentCalcul: 0,
      totalDone: 0,
      totalTicket: 1,
      totalInProgress: 0,
      percentInProgress: 0,
      totalToDo: 0,
      totalpPiorite: 0,
      totalVersion: 0,
      totalEtiquette: 0,
      allTicket: [],
      ticketPromise: null,
      //charts
      options: {},
      // Graphe des statuts
      chartOptions1: {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: "pie",
        },
        title: {
          text: "",
        },
        tooltip: {
          pointFormat: "<b> Total: {point.z}</b>",
        },
        accessibility: {
          point: {
            valueSuffix: "%",
          },
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              format:
                "<b>{point.name}</b>: {point.z} ({point.percentage:.1f} %)",
            },
          },
        },
        series: [
          {
            colorByPoint: true,
            data: [],
          },
        ],
      },
      // Graphe des priorités
      chartOptions2: {
        chart: {
          type: "column",
        },
        title: {
          text: "",
        },
        subtitle: {
          text: "",
        },
        accessibility: {
          announceNewData: {
            enabled: true,
          },
        },
        xAxis: {
          type: "category",
        },
        yAxis: {
          title: {
            text: "Total percent market share",
          },
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
          series: {
            borderWidth: 0,
            dataLabels: {
              enabled: true,
              format: "{point.y:.1f}%",
            },
          },
        },

        tooltip: {
          headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
          pointFormat:
            '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>',
        },

        series: [
          {
            name: "Browsers",
            colorByPoint: true,
            data: [],
          },
        ],
        drilldown: {
          series: [
            {
              name: "Chrome",
              id: "Chrome",
              data: [
                ["v65.0", 0.1],
                ["v64.0", 1.3],
                ["v63.0", 53.02],
                ["v62.0", 1.4],
                ["v61.0", 0.88],
                ["v60.0", 0.56],
                ["v59.0", 0.45],
                ["v58.0", 0.49],
                ["v57.0", 0.32],
                ["v56.0", 0.29],
                ["v55.0", 0.79],
                ["v54.0", 0.18],
                ["v51.0", 0.13],
                ["v49.0", 2.16],
                ["v48.0", 0.13],
                ["v47.0", 0.11],
                ["v43.0", 0.17],
                ["v29.0", 0.26],
              ],
            },
            {
              name: "Firefox",
              id: "Firefox",
              data: [
                ["v58.0", 1.02],
                ["v57.0", 7.36],
                ["v56.0", 0.35],
                ["v55.0", 0.11],
                ["v54.0", 0.1],
                ["v52.0", 0.95],
                ["v51.0", 0.15],
                ["v50.0", 0.1],
                ["v48.0", 0.31],
                ["v47.0", 0.12],
              ],
            },
            {
              name: "Internet Explorer",
              id: "Internet Explorer",
              data: [
                ["v11.0", 6.2],
                ["v10.0", 0.29],
                ["v9.0", 0.27],
                ["v8.0", 0.47],
              ],
            },
            {
              name: "Safari",
              id: "Safari",
              data: [
                ["v11.0", 3.39],
                ["v10.1", 0.96],
                ["v10.0", 0.36],
                ["v9.1", 0.54],
                ["v9.0", 0.13],
                ["v5.1", 0.2],
              ],
            },
            {
              name: "Edge",
              id: "Edge",
              data: [
                ["v16", 2.6],
                ["v15", 0.92],
                ["v14", 0.4],
                ["v13", 0.1],
              ],
            },
            {
              name: "Opera",
              id: "Opera",
              data: [
                ["v50.0", 0.96],
                ["v49.0", 0.82],
                ["v12.1", 0.14],
              ],
            },
          ],
        },
      },
      // Graphe Version
      chartOptions3: {
        chart: {
          type: "line",
        },
        title: {
          text: "",
        },
        subtitle: {
          text: "",
        },
        accessibility: {
          announceNewData: {
            enabled: true,
          },
        },
        xAxis: {
          type: "category",
        },
        yAxis: {
          title: {
            text: "Total percent market share",
          },
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
          line: {
            dataLabels: {
              enabled: true,
            },
            enableMouseTracking: false,
          },
        },

        tooltip: {
          headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
          pointFormat:
            '<span style="color:{point.color}; padding:0">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>',
        },

        series: [
          {
            name: "Browsers",
            colorByPoint: true,
            data: [],
          },
        ],
        drilldown: {
          series: [
            {
              name: "Chrome",
              id: "Chrome",
              data: [
                ["v65.0", 0.1],
                ["v64.0", 1.3],
                ["v63.0", 53.02],
                ["v62.0", 1.4],
                ["v61.0", 0.88],
                ["v60.0", 0.56],
                ["v59.0", 0.45],
                ["v58.0", 0.49],
                ["v57.0", 0.32],
                ["v56.0", 0.29],
                ["v55.0", 0.79],
                ["v54.0", 0.18],
                ["v51.0", 0.13],
                ["v49.0", 2.16],
                ["v48.0", 0.13],
                ["v47.0", 0.11],
                ["v43.0", 0.17],
                ["v29.0", 0.26],
              ],
            },
            {
              name: "Firefox",
              id: "Firefox",
              data: [
                ["v58.0", 1.02],
                ["v57.0", 7.36],
                ["v56.0", 0.35],
                ["v55.0", 0.11],
                ["v54.0", 0.1],
                ["v52.0", 0.95],
                ["v51.0", 0.15],
                ["v50.0", 0.1],
                ["v48.0", 0.31],
                ["v47.0", 0.12],
              ],
            },
            {
              name: "Internet Explorer",
              id: "Internet Explorer",
              data: [
                ["v11.0", 6.2],
                ["v10.0", 0.29],
                ["v9.0", 0.27],
                ["v8.0", 0.47],
              ],
            },
            {
              name: "Safari",
              id: "Safari",
              data: [
                ["v11.0", 3.39],
                ["v10.1", 0.96],
                ["v10.0", 0.36],
                ["v9.1", 0.54],
                ["v9.0", 0.13],
                ["v5.1", 0.2],
              ],
            },
            {
              name: "Edge",
              id: "Edge",
              data: [
                ["v16", 2.6],
                ["v15", 0.92],
                ["v14", 0.4],
                ["v13", 0.1],
              ],
            },
            {
              name: "Opera",
              id: "Opera",
              data: [
                ["v50.0", 0.96],
                ["v49.0", 0.82],
                ["v12.1", 0.14],
              ],
            },
          ],
        },
      },
      // Graphe Etiquette
      chartOptions4: {
        chart: {
          type: "packedbubble",
          height: "100%",
        },
        title: {
          text: "Répartition des tickets par Etiquette",
        },

        // accessibility: {
        //   announceNewData: {
        //     enabled: true,
        //   },
        // },
        // xAxis: {
        //   type: "category",
        // },
        // yAxis: {
        //   title: {
        //     text: "Total percent market share",
        //   },
        // },
        // legend: {
        //   enabled: true,
        // },
        plotOptions: {
          // maxSize: '300',
          // minSize: '100',
          // zMin: 500,
          // zMax: 1000,
          packedbubble: {
            dataLabels: {
              enabled: true,
              format: "{point.name}",
              style: {
                color: "black",
                textOutline: "none",
                fontWeight: "normal",
              },
            },
            // minPointSize: 10
          },
        },
        tooltip: {
          useHTML: true,
          pointFormat: "<b>{point.name}:</b> {point.y}</sub>",
        },
        series: [
          {
            // name: '{point.name}',
            colorByPoint: true,
            data: [],
          },
        ],
        // },
      },
      chartOptions5: {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: "lollipop",
        },
        title: {
          text: "Répartition des tickets par type de ticket",
        },
        tooltip: {
          shared: true,
        },
        accessibility: {
          point: {
            valueDescriptionFormat: "{index}. {xDescription}, {point.y}.",
          },
        },
        // plotOptions: {
        //   pie: {
        //     allowPointSelect: true,
        //     cursor: "pointer",
        //     dataLabels: {
        //       enabled: true,
        //       format: "<b>{point.name}</b>: {point.percentage:.1f} %",
        //     },
        //   },
        // },
        series: [
          {
            name: "Brands",
            colorByPoint: true,
            data: [],
          },
        ],
      },
    };
  },
  methods: {
    async getAllTicketsDone() {
      this.totalDone = await this.tasksRef
        .where("etat", "==", "3")
        .get()
        .then((query) => {
          console.log("All Done", query.size);
          return query.size;
        });
    },
    async getAllTicketsInProgress() {
      this.totalInProgress = await this.tasksRef
        .where("etat", "==", "2")
        .get()
        .then((query) => {
          return query.size;
        });
    },
    async getAllTicketsToDo() {
      this.totalToDo = await this.tasksRef
        .where("etat", "==", "1")
        .get()
        .then((query) => {
          return query.size;
        });
    },
    getParams() {
      return Priorite.getAllDocumentSubCollection(
        "agilite",
        this.idSummarySelected,
        "params"
      ).get();

      // .then((querySnapshot) => {
      //   alert("Into then function");
      //   this.priorites = [];
      //   querySnapshot.forEach(async (doc) => {
      //     this.totalPriorite = 0;
      //     const data = doc.data();
      //     data.id = doc.id;
      //     console.log("Get Priorité", doc.data());
      //     await this.getAllTicketsPriorite(doc.data().libelle, doc.ref);

      //     //   this.priorites.push(data);
      //   });
      // });
    },

    async getAllTickets() {
      return this.tasksRef.get();
    },
    getTypeTicket() {
      typeTicket.getAllDocument("globalTypeTicket").then((querySnapshot) => {
        const typeTicketTab = [];
        querySnapshot.forEach((doc) => {
          let data = doc.data();
          data.id = doc.id;
          typeTicket
            .getAllDocumentSubCollection(
              "planAction",
              this.idSummarySelected,
              this.selectedActivite
            )
            .where("typeTicket", "==", doc.ref)
            .get()
            .then((item) => {
              console.log("type ", item.size);
            });
        });
      });
    },

    async getAllTicketsPriorite(libelle, ref) {
      this.tasksRef
        .where("priorite", "==", ref)
        .get()
        .then((querySnapshot) => {
          this.chartOptions2.series[0].data.push({
            name: libelle,
            y: Math.round((querySnapshot.size * 100) / this.totalTicket),
            drilldown: null,
          });
          console.log("series prioriété ", this.chartOptions2.series[0]);
        });
    },
    // l'ensemble des Versions
    async getAllTicketsVersion(libelle, ref) {
      firebase
        .firestore()
        .collection("planAction")
        .doc(this.idSummarySelected)
        .collection(this.selectedActivite)
        .where("version", "==", ref)
        .get()
        .then((querySnapshot) => {
          this.chartOptions3.series[0].data.push({
            name: libelle,
            y: Math.round((querySnapshot.size * 100) / this.totalTicket),
            drilldown: null,
          });
          // console.log("series versions ", this.chartOptions3.series[0]);
        });
    },
    // récupération des Versions
    getVersion() {
      Version.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "versions"
      ).then((querySnapshot) => {
        this.version = [];
        querySnapshot.forEach(async (doc) => {
          this.totalVersion = 0;
          const data = doc.data();
          data.id = doc.id;
          // this.version.push(data)
          // console.log("versions", data.id);
          await this.getAllTicketsVersion(doc.data().libelle, doc.ref);
          // console.log("TOTAL Version", this.totalVersion);
        });
      });
    },
    // l'ensemble des étiquettes
    async getAllTicketsEtiquette(libelle, ref) {
      firebase
        .firestore()
        .collection("planAction")
        .doc(this.idSummarySelected)
        .collection(this.selectedActivite)
        .where("etiquette", "==", ref)
        .get()
        .then((querySnapshot) => {
          this.chartOptions4.series[0].data.push({
            name: libelle,
            value: Math.round((querySnapshot.size * 100) / this.totalTicket),
            drilldown: null,
          });
          console.log("series Etiquettes ", this.chartOptions4.series[0]);
        });
    },
    // récupération des étiquettes
    getEtiquette() {
      Etiquette.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "etiquettes"
      ).then((querySnapshot) => {
        this.etiquette = [];
        querySnapshot.forEach(async (doc) => {
          this.totalEtiquette = 0;
          const data = doc.data();
          data.id = doc.id;
          // this.version.push(data)
          // console.log("Etiquette", data.id);
          await this.getAllTicketsEtiquette(doc.data().libelle, doc.ref);
          // console.log("TOTAL Etiquette", this.totalEtiquette);
        });
      });
    },
    async initData() {
      switch (this.type) {
        case "pie":
          this.loading = true;
          await this.getAllTicketsToDo();
          await this.getAllTicketsInProgress();
          await this.getAllTicketsDone();
          let allTicketPromise = await this.getAllTickets();
          this.totalTicket = allTicketPromise.size;
          this.percentCalcul = Math.round(
            (this.totalDone * 100) / this.totalTicket
          );
          this.percentInProgress = Math.round(
            (this.totalInProgress * 100) / this.totalTicket
          );

          let data = [
            {
              name: "A faire",
              y: 100 - (this.percentInProgress + this.percentCalcul),
              z: this.totalToDo,
              color: "#909399",
            },
            {
              name: "En cours",
              y: this.percentInProgress,
              z: this.totalInProgress,
              color: "#E6A23C",
            },
            {
              name: "Terminé",
              y: this.percentCalcul,
              z: this.totalDone,
              color: "#12c96e",
            },
          ];
          this.chartOptions1.series[0].data = data;
          this.options = this.chartOptions1;
          this.loading = false;
          break;
        case "collumn":
          let totalTicket = await this.getAllTickets();
          this.totalTicket = totalTicket.size;
          firebase
            .firestore()
            .collection("agilite")
            .doc(this.idSummarySelected)
            .collection("params")
            .get()
            .then((query) => {
              console.log("QUERY", query.size);
            });

          // console.log("Params", params.docs);
          // console.log("ID", this.idSummarySelected);
          // this.options = this.chartOptions2;
          // this.loading = false;
          break;

        case "line":
          await this.getAllTickets();
          await this.getVersion();
          this.options = this.chartOptions3;
          this.loading = false;
          break;

        case "packedbubble":
          await this.getAllTickets();
          await this.getEtiquette();
          this.options = this.chartOptions4;
          break;

        // case "lollipop":
        //   await this.getAllTypeTickets();
        //   this.options = this.chartOptions5;
        //   break;
        // default:
        //   break;
      }
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    selectedActivite: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
  },
  async created() {
    this.initData();
    this.getTypeTicket();
  },
};
</script>
<style scoped>
.card .title-icon strong{
    display: flex;
    align-items: center;
  }
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  height: 400px;
  /* width: 894px; */
}
 svg {
    overflow: hidden;
    vertical-align: middle;
    height: 244px;
 }
</style>
