<template>
  <div>
    <div v-if="loading">
      <el-skeleton :loading="loading" animated>
        <template slot="template">
          <el-skeleton-item variant="h1" />
        </template>
      </el-skeleton>
    </div>
    <div v-else class="etiq-tag">
      <!-- <el-col class="eti-reduce" :span="2"> -->
      <el-tag
        class="eti-text"
        v-if="etiquette != ''"
        :style="{
          backgroundColor: etiquette.color,
          borderColor: etiquette.color,
          color: 'white',
          fontWeight: 'bold',
        }"
        >{{ etiquette.libelle }}</el-tag
      >
      <span v-if="!refEtiquette"
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      >
      <!-- </el-col> -->
    </div>
  </div>
</template>
<script>
export default {
  name: "etiquetteTicket",
  props: {
    refEtiquette: {
      default() {
        return {};
      },
      type: Object,
    },
  },
  watch: {
    refEtiquette: function(val) {
      this.getEtiquette();
    },
  },
  data() {
    return {
      loading: true,
      etiquette: "",
    };
  },
  methods: {
    async getEtiquette() {
      this.refEtiquette.get().then((doc) => {
        this.loading = false;
        this.etiquette = doc.data();
        this.loading = false;
      });
    },
  },
  async mounted() {
    await this.getEtiquette();

    // console.log("USER", this.userId);
  },
};
</script>
<style scoped>
.etiq-tag {
  padding-top: 8px;
}
</style>
