<template>
  <div>
    <div class="col-xl-2 col-lg-2 col-6 ">
      <span
        size="mini"
        v-if="tr.files && tr.files.length > 0"
        @click="$refs.showUploadFiles.showModal(tr.files)"
        class="el-icon-document icon-size icon-blue cursor"
      ></span>
      <!-- <el-button size="mini" v-if="tr.commentaire && tr.commentaire != ''" @click="loadComment(tr)" icon="el-icon-document icon-size icon-blue"></el-button> -->
    </div>
    <show-upload-files ref="showUploadFiles" />
  </div>
</template>
<script>
import ShowUploadFiles from "../typeTickets/showUploadFiles.vue";
export default {
  components: {
    ShowUploadFiles,
  },
  props: {
    tr: {
      default: null,
      default: null,
      type: Object,
    },
  },
};
</script>
<style scoped>
  .cursor{
    cursor: pointer;
  }
</style>
