<template>
  <div>
    <i v-if="this.links.length != 0" class="el-icon-link"> </i>
  </div>
</template>
<script>
import firebase from "firebase";
export default {
  props: {
    links: {
      default() {
        return [];
      },
      type: Array,
    },
  },
  watch: {},
  data() {
    return {};
  },
  methods: {},
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    selectedActivite: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
  },
};
</script>
<style scoped>
div {
  padding-top: 5px;
}
.el-icon-link {
  font-size: 30px;
  cursor: pointer;
}
</style>
