<template>
  <div>
    <!-- <el-col class="task-reduce" :span="3"> -->
    <el-progress
      v-if="(percentSubAction(tr) > 0) & (percentSubAction(tr) < 100)"
      :text-inside="true"
      :stroke-width="15"
      class="percentage "
      color="#E6A23C"
      :percentage="percentSubAction(tr)"
    ></el-progress>
    <el-progress
      v-else-if="percentSubAction(tr) == 100 && tr.verdict == '1'"
      :text-inside="true"
      :stroke-width="15"
      class="percentage "
      color="#F56C6C"
      :percentage="percentSubAction(tr)"
    ></el-progress>
    <el-progress
      v-else-if="percentSubAction(tr) == 100 && tr.verdict == '2'"
      :text-inside="true"
      :stroke-width="15"
      class="percentage "
      color="#E6A23C"
      :percentage="percentSubAction(tr)"
    ></el-progress>
    <el-progress
      v-else-if="percentSubAction(tr) == 100"
      :text-inside="true"
      :stroke-width="15"
      class="percentage "
      color="#67C23A"
      :percentage="percentSubAction(tr)"
    ></el-progress>
    <el-progress
      v-else-if="percentSubAction(tr) == 0"
      :text-inside="true"
      :stroke-width="15"
      class="percentage "
      color="#909399"
      :percentage="percentSubAction(tr)"
    ></el-progress>
    <!-- </el-col> -->
  </div>
</template>
<script>
import helper from "../../../../../services/helper";
import action from "../../../../bp/mixins/admin/actionPlan.js";
export default {
  mixins: [helper, action],
  props: {
    tr: {
      default: null,
      type: Object,
    },
  },
};
</script>
