<template>
  <div>
    <div class="col-xl-2 col-lg-2 col-6 plus-btn">
      <el-dropdown placement="top-end" trigger="hover">
        <span class="el-dropdown-link">
          <i class="el-icon-more icon-size"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item v-if="commenter" @click.native="loadComment(tr)">
            <span size="mini"><i class="el-icon-s-comment"></i>Commenter</span>
          </el-dropdown-item>
          <el-dropdown-item
            v-if="afficher"
            @click.native="showTicket(tr, subTasks, links)"
          >
            <span size="mini"><i class="el-icon-view"></i>Afficher</span>
          </el-dropdown-item>
          <el-dropdown-item
            v-if="assigner"
            @click.native="$refs.assignUser.openModalUser(tr.id, tr.ref, tr)"
          >
            <span size="mini"><i class="el-icon-edit"></i>Assigner</span>
          </el-dropdown-item>
          <el-dropdown-item>
            <el-popconfirm
              v-if="archiver"
              confirmButtonText="Oui"
              cancelButtonText="Non"
              icon="el-icon-info"
              iconColor="red"
              @confirm="archiverTicket(tr.ref)"
              title="Voulez vous vraiment archiver cet élément??"
            >
              <span size="mini" slot="reference"
                ><i class="el-icon-takeaway-box"></i>Archiver</span
              >
            </el-popconfirm>
          </el-dropdown-item>
          <el-dropdown-item
            v-if="modifier"
            @click.native="editAction(tr, subTasks, links)"
          >
            <span size="mini"><i class="el-icon-edit"></i>Modifier</span>
          </el-dropdown-item>
          <el-dropdown-item
            v-if="dupliquer"
            @click.native="duplicate(tr, subTasks, links)"
          >
            <span size="mini"
              ><i class="el-icon-document-copy"></i>Dupliquer</span
            >
          </el-dropdown-item>
          <el-dropdown-item v-if="supprimer">
            <el-popconfirm
              confirmButtonText="Oui"
              cancelButtonText="Non"
              icon="el-icon-info"
              iconColor="red"
              @confirm="deleteAction(tr.id, tr.ref)"
              title="Voulez vous vraiment supprimer cet élément??"
            >
              <span size="mini" slot="reference"
                ><i class="el-icon-delete"></i>Supprimer</span
              >
            </el-popconfirm>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <AssignUser
      :ticketRef="tr.ref"
      @assign:user="$emit('assign:user', $event)"
      :projectId="idSummarySelected"
      ref="assignUser"
    />
    <Comment
      @update:display="display = $event"
      @update:comment="$emit('update:comment', $event)"
      :ticketRef="tr.ref"
      v-if="display"
      :tr="tr"
      :display="display"
    />
    <Ticket
      @close:modalAddTicket="closeModalTicket"
      @savedTicket="$emit('savedTicket')"
      v-if="show"
      ref="ticket"
    />
  </div>
</template>
<script>
import AssignUser from "../assignUser";
import Comment from "../comment.vue";
import { mapState } from "vuex";
import Ticket from "../ticket/ticket.vue";
export default {
  components: { AssignUser, Ticket, Comment },
  props: {
    tr: {
      default: {},
      type: Object,
    },
    subTasks: {
      default() {
        return [];
      },
      type: Array,
    },
    links: {
      default() {
        return [];
      },
      type: Array,
    },
    afficher: {
      default: false,
      type: Boolean,
    },
    assigner: {
      default: false,
      type: Boolean,
    },
    modifier: {
      default: false,
      type: Boolean,
    },
    dupliquer: {
      default: false,
      type: Boolean,
    },
    supprimer: {
      default: false,
      type: Boolean,
    },
    commenter: {
      default: false,
      type: Boolean,
    },
    archiver: {
      default: false,
      type: Boolean,
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
  },
  data() {
    return {
      loadingDelete: false,
      show: false,
      typeTicketSelected: "",
      display: false,
    };
  },
  methods: {
    async deleteAction(idAction, ref) {
      this.loadingDelete = true;
      if (ref) {
        ref
          .delete()
          .then(async () => {
            this.loadingDelete = false;
            this.$notify({
              title: "Succès",
              message: "Suppéssion réussie",
              type: "success",
            });
            this.$emit("delete:ticket");
          })
          .catch((error) => {
            this.loadingDelete = false;
            this.$notify({
              title: "Erreur",
              message:
                "Une erreur s'est produite contactez votre administrateur",
              type: "error",
            });
          });
      } else {
        this.$notify({
          title: "Succès",
          message: "Suppéssion réussie",
          type: "success",
        });
        this.$emit("delete:ticket");
      }
    },
    loadComment() {
      this.display = true;
    },
    async archiverTicket(ref) {
      // this.loadingDelete = true;
      ref
        .update({ archive: true })
        .then(async () => {
          this.loadingDelete = false;
          this.$notify({
            title: "Succès",
            message: "Archivage réussie",
            type: "success",
          });
          this.$emit("archive:ticket");
        })
        .catch((error) => {
          this.loadingDelete = false;
          this.$notify({
            title: "Erreur",
            message: "Une erreur s'est produite contactez votre administrateur",
            type: "error",
          });
        });
    },
    // Modification du ticket
    editAction(task, subTasks, links) {
      // this.typeTicketSelected = task.typeTicket.id;
      this.$store.commit("agilite/setMode", "modification");
      this.$store.commit("agilite/setDuplicate", false);
      this.$store.commit("agilite/setTask", "");
      let data = task;
      data.subTasks = subTasks;
      data.links = links;
      this.$store.commit("agilite/setTypeTicketSelected", data.typeTicket.id);
      this.$store.commit("agilite/setTask", data);
      this.$store.commit("agilite/setSummary", data.summaryId.id);
      this.$store.commit("agilite/setEtatTask", data.etat);
      this.$store.commit("agilite/setCurrentUId", data.userId.id);
      this.$store.commit("agilite/setPriorite", data.priorite.id);
      this.$store.commit("agilite/setEtiquette", data.refEtiquette.id);
      //passage au mode affichage
      console.log("Task", task);
      console.log("SubTasks", subTasks);
      console.log("etiquette", data.refEtiquette.id);
      this.show = true;
      this.$store.commit("agilite/setTicketDialog", true);
    },
    duplicate(task, subTasks, links) {
      // this.typeTicketSelected = task.typeTicket.id;
      let data = task;
      data.subTasks = subTasks;
      data.subTasks = links;
      this.$store.commit("agilite/setTypeTicketSelected", data.typeTicket.id);
      this.$store.commit("agilite/setTask", data);
      this.$store.commit("agilite/setSummary", data.summaryId.id);
      this.$store.commit("agilite/setEtatTask", data.etat);
      this.$store.commit("agilite/setCurrentUId", data.userId.id);
      this.$store.commit("agilite/setPriorite", data.priorite.id);
      this.$store.commit("agilite/setEtiquette", data.refEtiquette.id);
      //passage au mode affichage
      this.$store.commit("agilite/setMode", "modification");
      // duplicate true
      this.$store.commit("agilite/setDuplicate", true);
      //passage au mode affichage
      console.log("Task", task, this.$store.state.agilite.duplicate);
      console.log("SubTasks", subTasks);
      console.log("etiquette", data.refEtiquette.id);
      this.show = true;
      this.$store.commit("agilite/setTicketDialog", true);
    },
    showTicket(task, subTasks, links) {
      let data = task;
      data.subTasks = subTasks;
      data.links = links;
      this.$store.commit("agilite/setTask", data);
      //passage au mode affichage

      //passage au mode affichage
      this.$store.commit("agilite/setDuplicate", false);

      this.$store.commit("agilite/setTypeTicketSelected", task.typeTicket.id);
      this.show = true;
      this.$store.commit("agilite/setTicketDialog", true);
      this.$store.commit("agilite/setMode", "affichage");
    },
    closeModalTicket() {
      this.$store.commit("agilite/setMode", "creation");
      this.$store.commit("agilite/setTask", "");
    },
  },
  mounted() {
    // console.log("SHow", this.$store.state.agilite.planActionRef);
  },
};
</script>
<style scoped>
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.el-popper .popper__arrow {
  display: none !important;
}
/* @media (max-width: 320px){
  .plus-btn{
    margin-right: 10px;
  }
} */
</style>
