<template>
  <div>
    <span v-if="config == 'space'">
      <el-badge
        v-if="data.length > 0"
        :value="data.length"
        class="item"
        type="warning"
      >
        <el-tooltip
          class="item"
          effect="dark"
          :content="item.titre"
          placement="top"
        >
          <h4 v-if="item.titre" class="text-white m-t-5 m-b-0">
            {{ item.titre | cyb_title_project_plit | capitalized }}
          </h4>
          <h4 v-else class="text-white m-t-5 m-b-0">
            {{ "titre indéfini" | capitalized }}
          </h4>
        </el-tooltip>
      </el-badge>
      <div v-else>
        <el-tooltip
          class="item"
          effect="dark"
          :content="item.titre"
          placement="top"
        >
          <h4 v-if="item.titre" class="text-white m-t-5 m-b-0">
            {{ item.titre | cyb_title_project_plit | capitalized }}
          </h4>
          <h4 v-else class="text-white m-t-5 m-b-0">
            {{ "titre indéfini" | capitalized }}
          </h4>
        </el-tooltip>
      </div>
    </span>
    <span v-else-if="config == 'activity'">
      <el-badge
        v-if="data.length > 0"
        :value="data.length"
        class="item-activity"
        type="warning"
      >
        <el-tooltip
          class="item"
          effect="dark"
          :content="item.libelle"
          placement="top"
        >
          <h4 v-if="item.libelle" class="text-white m-t-5 m-b-0">
            {{ item.libelle | cyb_desc_split | capitalized }}
          </h4>
          <h4 v-else class="text-white m-t-5 m-b-0">
            {{ "titre indéfini" | libelle }}
          </h4>
        </el-tooltip>
      </el-badge>
      <div v-else>
        <el-tooltip
          class="item"
          effect="dark"
          :content="item.libelle"
          placement="top"
        >
          <h4 v-if="item.libelle" class="text-white m-t-5 m-b-0">
            {{ item.libelle | cyb_desc_split | capitalized }}
          </h4>
          <h4 v-else class="text-white m-t-5 m-b-0">
            {{ "titre indéfini" | capitalized }}
          </h4>
        </el-tooltip>
      </div>
    </span>
  </div>
</template>

<script>
import firebase from "firebase";
import helper from "../../../../../services/helper";
import action from "../../../../bp/mixins/admin/actionPlanNew.js";
import Ticket from "../../../../bp/erp/models/agilite/ticket";
import WorkerSpace from "worker-loader!./workerSpace";
import WorkerActivity from "worker-loader!./workerActivity";
export default {
  mixins: [action, helper],
  props: {
    item: {
      default() {
        return {};
      },
      type: Object,
    },
    userId: {
      type: String,
      default: "",
    },
    config: {
      default: "space",
      type: String,
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
  },
  watch: {
    item: function(val) {
      this.data = [];
      switch (this.config) {
        case "space":
          this.initDataProject();
          break;
        case "activity":
          this.initDataActivity();
          break;

        default:
          break;
      }
    },
  },
  data() {
    return {
      data: [],
      result: 0,
    };
  },
  methods: {
    async initDataProject() {
      firebase
        .firestore()
        .collection("params")
        .doc(this.item.id)
        .collection("typeCategorie")
        .get()
        .then((docs) => {
          docs.forEach((doc) => {
            firebase
              .firestore()
              .collection("tasks")
              .doc(this.item.id)
              .collection("activites")
              .doc(doc.id)
              .collection("tickets")
              .get()
              .then((querySnapshot) => {
                querySnapshot.forEach(async (doc) => {
                  if (
                    doc.data().userId &&
                    doc.data().userId.id == this.userId
                  ) {
                    let result = await this.timeDifference(
                      new Date(this.dateFormat(doc.data().createdAt)),
                      new Date()
                    );
                    if (
                      result.daysDifference == 0 ||
                      result.daysDifference == -1
                    ) {
                      let data = doc.data();
                      data.id = doc.id;
                      data.ref = doc.ref;
                      this.data.push(data);
                    }
                  } else {
                    doc.ref
                      .collection("subTasks")
                      .get()
                      .then((docs) => {
                        docs.forEach(async (doc) => {
                          if (
                            doc.data().userId &&
                            doc.data().userId.id == this.userId
                          ) {
                            let result = await this.timeDifference(
                              new Date(this.dateFormat(doc.data().createdAt)),
                              new Date()
                            );
                            if (
                              result.daysDifference == 0 ||
                              result.daysDifference == -1
                            ) {
                              let data = doc.data();
                              data.id = doc.id;
                              data.ref = doc.ref;
                              this.data.push(data);
                            }
                          }
                        });
                      });
                  }
                });
              })
              .catch((error) => {});
          });
        });
    },

    async initDataActivity() {},
    initWorkerSpace() {
      let userId = this.userId;
      let id = this.item.id;
      const workerSpace = new WorkerSpace();
      workerSpace.postMessage([userId, id]);

      workerSpace.onmessage = (event) => {
        this.data.push(event.data);
      };
      workerSpace.onerror = console.error; // This will be executed in case of any errors
    },
    initWorkerActivity() {
      let userId = this.userId;
      let id = this.item.id;
      let summaryId = this.idSummarySelected;
      const workerActivity = new WorkerActivity();
      workerActivity.postMessage([userId, id, summaryId]);

      workerActivity.onmessage = (event) => {
        this.data.push(event.data);
      };
      workerActivity.onerror = console.error; // This will be executed in case of any errors
    },
  },
  mounted() {
    this.data = [];
    switch (this.config) {
      case "space":
        this.initWorkerSpace();
        // this.initWorker();
        // this.initDataProject();
        break;
      case "activity":
        this.initWorkerActivity();
        break;

      default:
        break;
    }
  },
};
</script>

<style scoped>
.item {
  /* margin-top: 10px; */
  margin-right: 5px;
  inline-size: max-content;
}
.item-activity {
  margin-top: 10px;
  margin-right: 10px;
}
</style>
