<template>
  <div>
    <div v-if="mobileView == false && tabletView == false && screenView == false">
      <div v-if="loading">
        <el-skeleton :loading="loading" animated>
          <template slot="template">
            <el-skeleton-item variant="h1" />
          </template>
        </el-skeleton>
      </div>
      <div v-else class="etiq-tag">
        <!-- <el-col class="eti-reduce" :span="2"> -->
        <el-tag
          class="eti-text"
          v-if="priorite"
          :style="{
            backgroundColor: priorite.color,
            borderColor: priorite.color,
            color: 'white',
            fontWeight: 'bold',
          }"
          >{{ priorite.libelle }}</el-tag
        >
        <!-- <span v-if="!tr.refEtiquette"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
        > -->
        <!-- </el-col> -->
      </div>
    </div>

    <!-- Version Tablette -->
    <div v-if="mobileView == false && tabletView == true && screenView == false">
      <div v-if="loading">
        <el-skeleton :loading="loading" animated>
          <template slot="template">
            <el-skeleton-item variant="h1" />
          </template>
        </el-skeleton>
      </div>
      <div v-else class="etiq-tag">
        <!-- <el-col class="eti-reduce" :span="2"> -->
        <el-tag
          class="eti-text"
          v-if="priorite"
          :style="{
            backgroundColor: priorite.color,
            borderColor: priorite.color,
            color: 'white',
            fontWeight: 'bold',
          }"
          >{{ priorite.libelle }}</el-tag
        >
        <!-- <span v-if="!tr.refEtiquette"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
        > -->
        <!-- </el-col> -->
      </div>
    </div>

    <!-- Version Mobile -->
    <div  v-if="mobileView == true && tabletView == false && screenView == false">
      <div v-if="loading">
        <el-skeleton :loading="loading" animated>
          <template slot="template">
            <el-skeleton-item variant="h1" />
          </template>
        </el-skeleton>
      </div>
      <div v-else class="etiq-tag">
        <!-- <el-col class="eti-reduce" :span="2"> -->
        <span
          class="type-btn"          
          v-if="priorite"
          :style="{
            backgroundColor: priorite.color,
            color: 'white',
            fontSize: '17px',
            padding: '4px',
          }"
          :class="priorite.propretyIcon.iconClass"
          >{{ priorite.propretyIcon.NameIcon }}
          </span>
        <!-- <span v-if="!tr.refEtiquette"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
        > -->
        <!-- </el-col> -->
      </div>
    </div>
</div>
</template>
<script>
export default {
  props: {
    prioriteRef: {
      default() {
        return {};
      },
      type: Object,
    },
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    }
  },
  data() {
    return {
      priorite: {},
      loading: false,
    };
  },
  methods: {
    async getPriorite() {
      this.loading = true;
      this.prioriteRef.get().then((doc) => {
        this.priorite = doc.data();
        console.log('icônes ',this.priorite);
        this.loading = false;
      });
    },
  },
  async mounted() {
    await this.getPriorite();
  },
};
</script>

<style scoped>
.etiq-tag {
  padding-top: 8px;
}
.type-btn{
  border-radius: 4px;
}
</style>
