<template>
  <div>
    <div :gutter="3">
      <el-col :span="2">
        <div class="drop">
          <el-dropdown trigger="hover">
            <div class="drop-item">
              <el-dropdown-item v-if="tr.etat == '1'">
                <el-button size="mini"> A faire</el-button>
              </el-dropdown-item>
              <el-dropdown-item v-if="tr.etat == '2'">
                <el-button size="mini" type="warning">En cours</el-button>
              </el-dropdown-item>
              <el-dropdown-item v-else-if="tr.etat == '3'">
                <el-button size="mini" type="success">Terminé</el-button>
              </el-dropdown-item>
            </div>
          </el-dropdown>
        </div>
      </el-col>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    tr: {
      default: null,
      type: Object,
    },
  },
};
</script>
<style scoped>
  .drop {
    padding-top: 10px;
  }
  .el-dropdown-menu__item {
    padding: 0 !important;
  }
  .el-button--mini, .el-button--mini.is-round {
      padding: 7px 15px !important;
      border: 1px solid #DCDFE6 !important;
    }
     @media (max-width: 1223px){
      .drop {
      padding-top: 0;
    }
  }
</style>
