<template>
  <div>
    <el-checkbox
      key="0"
      v-if="tr.etat == '3'"
      size="small"
      @change.native="switchStateSub(false)"
      checked
    >
    </el-checkbox>
    <el-checkbox
      key="1"
      v-else
      size="small"
      @change.native="switchStateSub(true)"
      unchecked
    >
    </el-checkbox>
  </div>
</template>
<script>
export default {
  name: "userTicket",
  props: {
    tr: {
      default: null,
      type: Object,
    },
  },
  computed: {
    currentUId: {
      get() {
        return this.$store.state.agilite.currentUId;
      },
      set(value) {
        this.$store.commit("agilite/setCurrentUId", value);
      },
    },
  },
  data() {
    return {
      loading: true,
      user: "",
    };
  },

  methods: {
    switchStateSub(state) {
      this.$emit("update:state", state);
    },
  },
};
</script>
