<template>
  <div class="cards-ticket-user">
    <div class="d-flex justify-content-center">
      <strong class="mt-2 title-icon">
        <i
          class="mdi mdi-account-multiple group  mr-1"
          style="font-size: 1.2rem; color: #398bf7bf"
        ></i>
        Répartition des tickets par utilisateur</strong
      >
    </div>
    <span class="d-flex justify-content-center" v-if="!this.loadingUsers"
      >Total utilisateurs :&nbsp;
      <strong> {{ this.allUsers.length }}</strong>
    </span>
    <div class="mr-4 ml-auto" v-if="!this.loadingUsers">
      <el-button icon="el-icon-refresh" circle @click="getUsers()"></el-button>
    </div>

    <div class="mt-2">
      <!-- <el-row
        class="mt-3 ml-5"
        v-for="(item, index) in allUsers"
        :key="index"
        :gutter="20"
      >
        <el-col :span="6">
          <div>
            <img
              v-if="item.photo"
              :src="'data:image/png;base64,' + item.photo"
              class="user-pic"
            />
            <img
              v-else
              src="/bp/assets/images/users/logodefaultuser.png"
              class="user-pic"
            />
          </div>
        </el-col>
        <el-col :span="6">
          <div>
            <strong> {{ item.totalDone }}</strong>
          </div></el-col
        >
        <el-col :span="6">
          <div>
            <strong> {{ item.totalInProgress }}</strong>
          </div>
        </el-col>
        <el-col :span="6">
          <div>
            <strong> {{ item.totalToDo }}</strong>
          </div>
        </el-col>
      </el-row> -->
      <el-table
        show-summary
        sum-text="Total"
        v-loading="loadingUsers"
        :data="allUsers"
        style="width: 100%"
      >
        <el-table-column label="Utilisateur" width="180">
          <template slot-scope="scope">
            <el-popover trigger="hover" placement="top">
              <p>{{ scope.row.first_name + " " }} {{ scope.row.last_name }}</p>
              <p></p>
              <div slot="reference" class="name-wrapper">
                <img
                  v-if="scope.row.photo"
                  :src="'data:image/png;base64,' + scope.row.photo"
                  class="user-pic"
                />
                <img
                  v-else
                  src="/bp/assets/images/users/logodefaultuser.png"
                  class="user-pic"
                />
              </div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="totalDone" sortable label="Terminé" width="180">
          <template slot-scope="scope">
            <div slot="reference" class="name-wrapper">
              <el-tag type="success" size="medium">
                <strong>{{ scope.row.totalDone }}</strong></el-tag
              >
            </div>
          </template>
        </el-table-column>
        <el-table-column
          prop="totalInProgress"
          sortable
          label="En cours"
          width="180"
        >
          <template slot-scope="scope">
            <div slot="reference" class="name-wrapper">
              <el-tag type="warning" size="medium">
                <strong>{{ scope.row.totalInProgress }}</strong></el-tag
              >
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="totalToDo" sortable label="A faire" width="180">
          <template slot-scope="scope">
            <div slot="reference" class="name-wrapper">
              <el-tag type="info" size="medium"
                ><strong>{{ scope.row.totalToDo }}</strong></el-tag
              >
            </div>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import action from "../../../../bp/mixins/admin/actionPlanNew.js";

export default {
  props: {},
  watch: {},
  data() {
    return {
      loadingUsers: true,
      users: firebase.firestore().collection("users"),
      adminId: JSON.parse(localStorage.getItem("userSession")).adminId,
      allUsers: [],
      tickets: [],
      totalToDo: 0,
      totalInProgress: 0,
      totalDone: 0,
    };
  },
  watch: {
    tasksRef: function() {
      this.getUsers();
    },
  },

  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    selectedActivite: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
  },
  methods: {
    //Récupération des utilisateurs
    async getUsers(adminId = this.adminId, defaultUser = this.currentUId) {
      this.loadingUsers = true;
      this.users
        .where("adminId", "==", this.adminId)
        .onSnapshot(async (query) => {
          this.allUsers = [];
          if (!query.empty) {
            await Promise.all(
              query.docs.map(async (doc) => {
                this.totalToDo = 0;
                this.totalInProgress = 0;
                this.totalDone = 0;
                let user = doc.data();
                user.id = doc.id;
                const todo = await this.getAllTicketsToDo(doc.ref);
                user.totalToDo = todo.size;
                const progress = await this.getAllTicketsInProgress(doc.ref);
                user.totalInProgress = progress.size;
                const done = await this.getAllTicketsDone(doc.ref);
                user.totalDone = done.size;

                if (
                  user.totalDone != 0 ||
                  user.totalInProgress != 0 ||
                  user.totalToDo != 0
                ) {
                  this.allUsers.push(user);
                }
              })
            );
            this.allUsers.sort(function(a, b) {
              return b.totalDone - a.totalDone;
            });
            this.loadingUsers = false;
          }
        });
    },
    async getAllTicketsDone(docRef) {
      return this.tasksRef
        .where("userId", "==", docRef)
        .where("etat", "==", "3")
        .get();
    },
    async getAllTicketsInProgress(docRef) {
      return this.tasksRef
        .where("userId", "==", docRef)
        .where("etat", "==", "2")
        .get();
    },
    async getAllTicketsToDo(docRef) {
      return this.tasksRef
        .where("userId", "==", docRef)
        .where("etat", "==", "1")
        .get();
    },
    async getAllTickets() {
      await this.tasksRef.get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let data = doc.data();
          doc.id = doc.id;
          doc.ref = doc.ref;
          this.tickets.push(data);
        });
      });
    },
  },
  mounted() {
    this.getUsers();
  },
};
</script>
<style scoped>
.cards-ticket-user {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: auto;
  height: 400px;
}
.cards-ticket-user .title-icon {
  display: flex;
  align-items: center;
}
.cards-ticket-user .titre {
  align-items: center;
  justify-content: center;
}
.cards-ticket-user .el-table__body-wrapper {
  overflow-y: scroll !important;
  height: 260px !important;
  margin-left: 20px;
}
.cards-ticket-user .el-table__footer,
.el-table__header {
  width: 100% !important;
}
.cards-ticket-user .el-table--fit {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
</style>
