<template>
  <div>
    <div class="etiq-tag">
      <el-col class="eti-reduce" :span="4">
        <el-tag
          class="eti-text"
          v-if="tr.ticket"
          :style="{
            backgroundColor: tr.ticket.couleur,
            borderColor: tr.ticket.couleur,
            color: 'white',
            fontWeight: 'bold',
          }"
          >{{ tr.ticket.libelle }}</el-tag
        >
        <span v-if="!tr.ticket"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
        >
      </el-col>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    tr: {
      default: null,
      default: null,
      type: Object,
    },
  },
};
</script>
