<template>
  <div>
    <div v-if="loading">
      <el-skeleton :loading="loading" animated>
        <template slot="template">
          <el-skeleton-item variant="image" class="user-pic" />
        </template>
      </el-skeleton>
    </div>
    <div v-if="!loading" class="col-xl-2 col-lg-2 col-6 mr-7">
      <el-popover placement="top-start" width="400" trigger="hover">
        <p class="user-name" v-if="user.denomination">
          {{ user.denomination }}
        </p>
        <span v-else>{{ user.first_name + " " + user.last_name }}</span>
        <a slot="reference" @click="loadImage(user.photo, user)" href="#">
          <img
            v-if="user.photo"
            :src="'data:image/png;base64,' + user.photo"
            class="user-pic"
          />
          <img
            v-else
            src="/bp/assets/images/users/logodefaultuser.png"
            class="user-pic"
          />
        </a>
      </el-popover>
    </div>
    <el-dialog title="" :visible.sync="modalImage" width="50%" center>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <img
              :src="'data:image/png;base64,' + this.selectedPhoto"
              class="user-pic-show"
            />
          </div>
          <div class="col-sm-6 col-md-6">
            <span>
              Nom :
              <strong>{{ this.selectedUser.first_name }}</strong> </span
            ><br />
            <span>
              Prénom :
              <strong>{{ this.selectedUser.last_name }}</strong> </span
            ><br />
            <span>
              Email :
              <strong>{{ this.selectedUser.email }} </strong></span
            ><br />
            <span>
              Téléphone :
              <strong>{{ this.selectedUser.telephone }} </strong> </span
            ><br />
            <span>
              Fonction :
              <strong>{{ this.selectedUser.fonction }} </strong></span
            >
          </div>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="modalImage = false">Fermer</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  name: "userTicket",
  props: {
    userId: {
      default: {},
      type: Object,
    },
  },
  watch: {
    userId: function(val) {
      this.getUser();
    },
  },
  data() {
    return {
      loading: true,
      user: "",
      selectedUser: "",
      modalImage: false,
      selectedPhoto: "",
    };
  },
  methods: {
    async getUser() {
      this.userId.get().then((doc) => {
        this.loading = false;
        this.user = doc.data();
        console.log("User", this.user);
        this.loading = false;
      });
    },
    loadImage(photo, user) {
      this.selectedUser = "";
      this.selectedPhoto = "";
      this.selectedPhoto = photo;
      this.selectedUser = user;
      this.modalImage = true;
    },
  },
  async mounted() {
    await this.getUser();

    // console.log("USER", this.userId);
  },
};
</script>
