<template>
     <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Clients</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/bp/suivi"> Paramètres</a>
                            </li>
                            <li class="breadcrumb-item">Clients</li>
                        </ol>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" role="tab" href="#ajouter">
                                            <span><i class="fas fa-plus"></i></span>
                                            <span class="hidden-xs-down">Ajouter un client</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" role="tab" href="#liste">
                                            <span><i class="fas fa-table"></i></span>
                                            <span class="hidden-xs-down">Liste des clients</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content" style="padding: 15px;">
                                    <div class="tab-pane active" id="ajouter">  
                                        <div class="row m-b-30 m-t-15">
                                            <div class="col-md-4 text-blue">Réf</div>
                                            <div class="col-md-8 text-blue">Crée le {{ new Date() | moment("Do MMMM YYYY, h:mm") }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 p-l-0">
                                                    <div class="text-xs-right mb-2">
                                                    <button type="submit" data-toggle="modal" @click="onClick" data-whatever="test" class="btn btn-success">Ajouter</button>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="clientTable" class="display table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Type</th>
                                                                <th>Nom</th>
                                                                <th>Tél</th>
                                                                <th>Quartier</th>
                                                                <th>Adresse</th>
                                                                <th>Ville</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th>Type</th>
                                                                <th>Nom</th>
                                                                <th>Tél</th>
                                                                <th>Quartier</th>
                                                                <th>Adresse</th>
                                                                <th>Ville</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                                <div class="form-group row mt-5">
                                                    <button class="btn btn-primary m-l-15" >Afficher la liste complète</button>
                                                    <button class="btn btn-warning m-l-40">Imprimer la liste</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="liste" role="">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="clientTable" class="display table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Type</th>
                                                            <th>Nom</th>
                                                            <th>Prenom</th>
                                                            <th>Tel 1</th>
                                                            <th>Email</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Type</th>
                                                            <th>Nom</th>
                                                            <th>Prenom</th>
                                                            <th>Tel 1</th>
                                                            <th>Email</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="modalClients" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajout Client</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onSubmit">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mb-1">
                                                                <label for="example-text-input" class="col-5 col-form-label p-r-0">
                                                                    <span class="text-red">*</span> Type Client
                                                                </label>
                                                                <div class="col-7">
                                                                    <select class="form-control" @change="hideSomeFields" id="type" v-model="clients.type">
                                                                        <option value="Particulier">Particulier</option>
                                                                        <option value="Entreprise">Entreprise</option>
                                                                        <option value="Fournisseur">Fournisseur</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.nom" type="text" id="nom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Prénom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.prenom" type="text" id="prenom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Age
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model.number="clients.age" type="number" id="age">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Téléphone 1
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.tel1" type="text" id="te11">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Site web
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.site" type="text" id="site">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Localisation</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.localisation" type="text" id="localisation">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Adresse</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.adresse" type="text" id="adresse">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Quartier</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.quartier" type="text" id="quartier">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Ville</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.ville" type="text" id="ville">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Code postal</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.codepostal" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Pays</label>
                                                                <div class="col-7">
                                                                    <select v-model="clients.pays" class="form-control" id="pays">
                                                                        <option v-for="country in countries" :value="country.id" :key="country.id">
                                                                            {{country.nom_fr}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Nom contact</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.nomcontact" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Tel contact</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.telcontact" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Mail contact</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.mailcontact" type="email" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Téléphone 2
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.tel2" type="text" id="te12">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Mail
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.mail" type="email" id="mail">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Note</label>
                                                                <vue-editor id="note" :editorToolbar="customToolbar" v-model="clients.note"></vue-editor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success">Enregistrer</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<style scoped>
    .input-group-text1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #7eb1f5;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        /* background-color: #D0E6ED !important; */
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .text-red {
        color: red !important;
    }
</style>

<script>
    import BaseImageInput from '../../bp/baseImageInput'
    import Swal from 'sweetalert2'
    import { VueEditor, Quill } from "vue2-editor"
    import firebase from 'firebase'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        components: {
            BaseImageInput, VueEditor, Quill

        },
        name: 'clients',
        data() {
            return {
                ref: firebase.firestore().collection('clients'),
                clientRef: firebase.firestore().collection('typeClient'),
                paysRef: firebase.firestore().collection('pays'),
                isParticulier: false, //si le type de client est particulier
                isProfessionnel: true, //si le type de client est particulier
                typeClients : [],
                countries : [],
                listClients : [],
                clients : {
                    adresse: '',
                    codepostal: '',
                    localisation: '',
                    mailcontact: '',
                    nom: '',
                    nomcontact: '',
                    note: '',
                    pays: '',
                    quartier: '',
                    site: '',
                    tel1: '',
                    tel2: '',
                    telcontact: '',
                    type: '',
                    ville: '',
                    age: '',
                    prenom: '',
                    mail: '',
                },
                dtTable: null,
                paysList: [],
                projetId: JSON.parse(localStorage.getItem('userSession')).projet,
                //projetId: JSON.parse(localStorage.getItem('userSession')).projet,
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
//                    [{ 'font': [] }],
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme

                    ['clean']                                         // remove formatting button
                ],
            }
        },
        created () {
            this.clientRef.get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.typeClients.push(obj);
                });
            });
            this.paysRef.get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.countries.push(obj);
                });
            });
        },
        methods: {
            hideSomeFields : function(event){
                let val = event.target.value;
                //si c'est un particulier
                if(val == 'Particulier') {
                    this.isParticulier = true;
                    this.isProfessionnel = false;
                } else {
                    //sinon c'est un professionnel ou fournisseur
                    this.isParticulier = false;
                    this.isProfessionnel = true;
                }
            },

            onSubmit: function(evt){
                evt.preventDefault();
                this.clients.projectId = this.projetId;
                this.ref.add(this.clients)
                .then((clients) => {

                    Toast.fire({
                        type: 'success',
                        title: 'le client '+this.clients.nom +' enregistré avec succès',
                        customClass:  "bg-success"
                    });
                    let objet = this.paysList[this.clients.pays];
                    // clients.country = objet.nom_fr;
                    //on refresh le datatable pour prendre en compte le nouvel enregistrement
                    clients.btnAction =
                    '<a href="#"><i id="' + clients.id + '" data-id="'+clients.id+'" data-toggle="modal" data-target="#modalClients" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;'
                    +'<a href="#" style="color:red!important"><i id="' + clients.id + '" data-id="'+clients.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-trash-alt"></i></a>';

                    this.dtTable.row.add([
                        this.clients.type,
                        this.clients.nom,
                        this.clients.tel1,
                        this.clients.quartier,
                        this.clients.adresse,
                        this.clients.ville,
                        clients.btnAction,
                    ]);
                    this.dtTable.order([0, 'asc']).draw();

                    //on efface les champs
                    this.clients.type = '',
                    this.clients.nom = '',
                    this.clients.prenom = '',
                    this.clients.age = '',
                    this.clients.tel1 = '',
                    this.clients.quartier = '',
                    this.clients.adresse = '',
                    this.clients.ville = '';
                    this.clients.mailcontact = '';

                    $('#modalClients').modal('hide');
                })
                .catch(function(error) {
                    Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                    // console.log(error);
                });
            },
            onClick: function(){
                $('#modalClients').modal('show');
            },
            getPaysById: function(id){
                let paysList = {};
                this.paysRef.doc(id).get().then((doc) => {
                    paysList[doc.id] = doc.data();
                });
                return paysList;
            }
        },
        mounted () {
            let clientList = {};
            let paysList = {};
            this.paysRef.get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    paysList[doc.id] = doc.data();
                });
            });
            this.dtTable = $('#clientTable').DataTable({});
            this.ref.
            where('projectId', '==', this.projetId).
            onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    // obj.country = this.paysList[obj.pays].nom_fr;
                    obj.btnAction =
                    '<a href="#"><i id="' + obj.id + '" data-id="'+obj.id+'" data-toggle="modal" data-target="#modalClients" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;'
                    +'<a href="#" style="color:red!important"><i id="' + obj.id + '" data-id="'+obj.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-trash-alt"></i></a>';

                    this.dtTable.row.add([
                        obj.type,
                        obj.nom,
                        obj.tel1,
                        obj.quartier,
                        obj.adresse,
                        obj.ville,
                        obj.btnAction,
                    ]);
                    this.dtTable.order([0, 'asc']).draw();
                });
            });
        }
    }
</script>
