<template>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row page-titles mt-4">
        <div class="col-xl-5 col-lg-5 col-md-6 col-12">
          <h3 class="text-themecolor titre-erp">Articles d'achat</h3>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-6 col-12 ml-auto">
          <ol class="breadcrumb">
            <li class="breadcrumb-item titre-erp">
              <router-link :to="{ name: 'erp-tiers-dashboard' }"
                >ERP</router-link
              >
            </li>
            <li class="breadcrumb-item titre-erp">
              <router-link :to="{ name: 'erp-articles-dashboard' }"
                >Tableau de Bord</router-link
              >
            </li>
            <li class="breadcrumb-item titre-erp">Article d'achat</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="tab-content">
                <div class="row mb-3">
                  <div class="col-xl-9 col-lg-9 col-md-9 col-12">
                    <button
                      type="submit"
                      data-toggle="modal"
                      @click="openParamModal"
                      class="btn btn-info btn-rounded"
                    >
                      <i class="fa fa-plus"></i> Ajouter un Article Achat
                    </button>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <el-input placeholder="Rechercher..."></el-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <data-tables
                      v-loading="loading"
                      element-loading-text="Chargement ..."
                      element-loading-spinner="el-icon-loading"
                      :filters="filters"
                      :data="articles"
                      :current-page="1"
                      :page-size="10"
                      :pagination-props="{
                        background: true,
                        pageSizes: [10, 30, 50, 100],
                      }"
                    >
                      <el-table-column
                        v-for="title in tableTitles"
                        :prop="title.prop"
                        :label="title.label"
                        :key="title.prop"
                        sortable="custom"
                      >
                      </el-table-column>
                      <el-table-column
                        label="Actions"
                        fixed="right"
                        width="100"
                      >
                        <template slot-scope="scope">
                          <el-button
                            @click="editRow(scope.row)"
                            type="primary"
                            size="mini"
                            icon="el-icon-edit"
                            circle
                          >
                          </el-button>
                          <el-button
                            @click="deleteRow(scope.row.id, scope.$index)"
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            circle
                          ></el-button>
                        </template>
                      </el-table-column>
                    </data-tables>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <el-dialog
        :visible.sync="openModal"
        width="80%"
        top="2vh"
        :close-on-click-modal="false"
        :before-close="handleClose"
      >
        <div v-loading="load">
          <el-form ref="form" label-width="auto" label-position="right">
            <div class="row">
              <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6">
                <h5 :style="{ color: 'orange' }">
                  <i class="fa fa-shopping-cart"></i> Créer un Article d'achat
                </h5>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-1">
                <div class="header-title">
                  Résumé de la Fiche
                </div>
              </div>
              <div class="col-xl-5 col-lg-8 col-md-10 col-10">
                <el-form-item class="no-mar-left elradio">
                  <el-radio-group v-model="newArticle.typeArticle">
                    <el-radio label="Matière Première"
                      >Matière Première</el-radio
                    >
                    <el-radio label="Autres Charges">Autres Charges</el-radio>
                  </el-radio-group>
                </el-form-item>
              </div>
            </div>
            <FormPartOne
              :model="model"
              ref="formPartOne"
              :newArticle="newArticle"
              :validations="$v"
            />
            <div class="row">
              <div class="col-1 ml-auto">
                <div
                  class="btn-close"
                  v-if="!plus"
                  @click="$refs.formPartTwo.hideSection(), switchAction()"
                >
                  <i class="far fa-2x fa-minus-square"></i>
                </div>
                <div
                  class="btn-close"
                  v-if="plus"
                  @click="$refs.formPartTwo.hideSection(), switchAction()"
                >
                  <i class="far fa-2x fa-plus-square"></i>
                </div>
              </div>
            </div>
            <FormPartTwo
              :model="model"
              ref="formPartTwo"
              :newArticle="newArticle"
              :validations="$v"
            />
          </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button
            v-if="editMode == false"
            type="primary"
            @click="saveArticleAchat"
            >Enregistrer</el-button
          >
          <el-button
            v-if="editMode == true"
            type="success"
            @click="updateArticleAchat"
            >Modifier</el-button
          >
          <el-button type="danger" @click="handleClose">Annuler</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import { required } from "vuelidate/lib/validators";
import FormPartOne from "../components/achat/formPartOne";
import FormPartTwo from "../components/achat/formPartTwo";
import ErpModel from "../models/erp";
// import { required , minLength, email, maxLength, numeric } from 'vuelidate/lib/validators';
import { Notification } from "element-ui";
export default {
  // props:{
  //     projectId:{
  //         default: null
  //     }
  // },
  components: {
    FormPartOne,
    FormPartTwo,
  },
  data() {
    return {
      submitMode: false,
      openModal: false,
      editMode: false,
      plus: false,
      load: true,
      loading: true,
      type: "produit",
      projectId: JSON.parse(localStorage.getItem("userSession")).projet,
      model: {},
      articles: [],
      tableTitles: [
        {
          prop: "titre",
          label: "Libellé",
          width: "120",
        },
        {
          prop: "prixTTC",
          label: "Prix TTC",
          width: "150",
        },
        {
          prop: "prixHT",
          label: "Prix HT",
          width: "150",
        },
        {
          prop: "tva",
          label: "TVA",
          width: "120",
        },
        {
          prop: "typeArticle",
          label: "Type",
          width: "150",
        },
      ],
      filters: [
        {
          prop: ["type", "nom", "quartier", "ville"],
          value: "",
        },
      ],
      newArticle: {
        typeArticle: "Matière Première",
        titre: "",
        prixTTC: "",
        prixHT: "",
        tva: "",
        gamme: "",
        image: "",
        description: "",
        poids: "",
        longueur: "",
        largeur: "",
        hauteur: "",
        surface: "",
        volume: "",
        client: "",
        stock: "",
        fournisseur: "",
        famille: "",
        type: "",
        nature: "",
        notes: "",
        image: "",
      },
    };
  },

  validations: {
    newArticle: {
      titre: { required },
      prixHT: { required },
      gamme: { required },
      prixTTC: { required },
      tva: { required },
      description: {},
      poids: {},
      largeur: {},
      surface: {},
      creanceClient: {},
      fournisseur: {},
      type: { required },
      notes: {},
      longueur: {},
      hauteur: {},
      volume: {},
      stockeGlobal: {},
      famille: {},
      nature: {},
    },
  },
  created() {
    this.$loading().close();
    this.getArticleAchat();
  },
  methods: {
    editRow(item) {
      // ouverture bouton modifier
      this.newArticle = item;
      this.editMode = true;
      this.openModal = true;
      // this.load = false
      console.log(item);
    },
    //suppression d'un element client et message de confirmation
    deleteRow(id, index) {
      Swal.fire({
        title: "Voulez-vous supprimer cet élément?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Oui",
        confirmButtonText: "Non",
      }).then((result) => {
        if (result.value) {
          ErpModel.deleteDocumentSubcollection(
            "erp",
            this.projectId,
            "articleAchat",
            id
          );
          this.getArticleAchat();
          this.articleAchat.splice(index, 1);
          Notification.success({
            title: "Success",
            message: "L'élémént a été supprimé avec succès",
          });
        }
      });
    },
    //Fin suppression d'un element client et message de confirmation

    getArticleAchat() {
      this.articles = [];
      ErpModel.getDocumentSubCollection(
        "erp",
        this.projectId,
        "articleAchat"
      ).then((snapshot) => {
        snapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.articles.push(data);
          console.log("Data", data);
        });
        this.loading = false;
      });
    },

    openParamModal() {
      ErpModel.getDocumentSubCollection(
        "params",
        this.projectId,
        "formArticleAchat"
      ).then((snapshot) => {
        snapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.model = data;
        });
        this.openModal = true;
        this.load = false;
      });
    },
    switchAction() {
      this.plus = !this.plus;
    },

    saveArticleAchat() {
      // this.$v.$touch()
      //      if (this.$v.$invalid) {
      //          alert('cooool')
      //      }
      this.submitMode = true;
      // Upload de l'image et renvoie de l'URL
      // ErpModel.uploadImage('erp/articles/'+ this.newArticle.image.name, this.newArticle.image)
      // .snapshot.ref.getDownloadURL().then((url) => {
      // Après renvoie de l'URL, on la stoke dans l'objet newClient pour insertion en base
      // this.newArticle.image = url;
      // this.newArticle.matricule = ErpModel.generateMatricule(6);
      const test = ErpModel.saveDocumentSubCollection(
        "erp",
        this.projectId,
        "articleAchat",
        this.newArticle
      );
      console.log(test, " merci");
      ErpModel.createNotification();
      this.newArticle = {
        typeArticle: "Matière Première",
        titre: "",
        prixTTC: "",
        prixHT: "",
        tva: "",
        gamme: "",
        description: "",
        poids: "",
        longueur: "",
        largeur: "",
        hauteur: "",
        surface: "",
        volume: "",
        client: "",
        stock: "",
        fournisseur: "",
        famille: "",
        type: "",
        nature: "",
        notes: "",
        image: "",
      };
      this.load = true;
      this.getArticleAchat();
      this.openModal = false;
      this.submitMode = false;
      // })
    },

    updateArticleAchat() {
      // bouton de modification
      const id = this.newArticle.id;
      delete this.newArticle.id;
      ErpModel.updateDocumentSubcollection(
        "erp",
        this.projetId,
        "articleAchat",
        id,
        this.newArticle
      ).then(() => {
        Notification.success({
          title: "Success",
          message: "L'élémént a été modifié avec succès",
        });
        this.getArticleAchat();
        this.handleClose();
      });
      //    console.log(this.newArticle)
      console.log(id);
    },

    handleClose() {
      // Vider les champs de la modale après modification
      this.openModal = false;
      this.newArticle = {
        typeArticle: "Matière Première",
        titre: "",
        prixTTC: "",
        prixHT: "",
        tva: "",
        gamme: "",
        description: "",
        poids: "",
        longueur: "",
        largeur: "",
        hauteur: "",
        surface: "",
        volume: "",
        client: "",
        stock: "",
        fournisseur: "",
        famille: "",
        type: "",
        nature: "",
        notes: "",
        image: "",
      };
      this.editMode = false;
    },
  },
};
</script>
<style>
.img-article {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.breadcrumb-item a {
  color: #1e58b3;
}
.breadcrumb-item:hover a {
  color: #67757c !important;
}
.breadcrumb-item a:hover {
  color: rgb(0, 0, 0);
}
.titre-erp {
  font-weight: bold;
  /* color: #1e58b3; */
}
.mini-sidebar .page-wrapper {
  margin-left: 0 !important;
}
.full {
  width: 100% !important;
}
.img-client {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  margin-top: 5px;
}
.is-active {
  background-color: orange !important;
  color: black !important;
  font-weight: bold !important;
}
.no-mar-left .el-form-item__content {
  margin-left: 0 !important;
}
.no-pad-lr {
  padding-right: 0 !important;
}
.no-mar-left .el-form-item__label-wrap {
  margin-left: 0 !important;
}

.header-title {
  background-color: orange !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 900 !important;
  padding: 3%;
}
/* .el-form-item {
    margin-bottom: 0 !important;
    } */
.header {
  background: rgb(167 120 60 / 48%) !important;
  border: 1px solid #dcdfe6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  padding: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.disabled {
  background-color: #d4d3d361 !important;
}
.param-text:hover {
  cursor: pointer;
  color: orange !important;
}
input::placeholder {
  font-weight: bolder;
  text-align: right !important;
}
.pourcentage::placeholder {
  text-align: center !important;
}
.el-radio__label {
  font-size: 21px !important;
}

.el-form-item__label {
  color: black !important;
}
.el-dialog__body {
  background: rgb(238, 242, 245) !important;
  padding-top: 5px !important;
}
.b-black {
  background: rgba(87, 88, 89, 0.31) !important;
  color: black !important;
  font-weight: bold !important;
}
.b-blue {
  background: rgba(197, 220, 242, 0.83) !important;
}
.w-30 {
  width: 30% !important;
}
.w-input {
  width: 50% !important;
}
.w-20 {
  width: 20% !important;
}
.el-dialog__header {
  padding: 10px 10px !important;
  background: rgb(238, 242, 245) !important;
}
.el-dialog__footer {
  padding: 5px 10px 10px !important;
  background: rgb(238, 242, 245) !important;
}

.btn-close:hover {
  cursor: pointer;
}
/* mon code css */

@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 12px !important;
  }
  .param-text span {
    display: none !important;
  }
  h4 {
    font-size: 10px !important;
  }
  .el-form-item__label-wrap {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }
  .el-form-item__content {
    margin-left: 0 !important;
  }
  .el-input--small {
    margin-top: 0 !important;
  }
  .second-section {
    margin-top: 15px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  }
  .el-form-item__label {
    margin-bottom: -6px;
  }
  p {
    margin-top: 15px;
  }
}
p {
  font-style: italic;
  opacity: 0.5;
}
.second-section {
  margin-left: 102px;
}
@media (max-width: 576px) {
  #params .el-dialog {
    width: 90% !important;
  }
  .container-fluid {
    margin-top: 80px !important;
  }
  .btn-close {
    margin-left: -20px !important;
  }
}
</style>
