<template>
  <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles p-4">
                <div class="col-xl-5 col-lg-5 col-md-5 col-12 align-self-center">
                    <h3 class="text-themecolor">Articles de vente</h3>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-12 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'erp-tiers-dashboard'}">Accueil</router-link>
                        </li>
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'erp-articles-dashboard'}">Article Dashboard</router-link>
                        </li>
                        <li class="breadcrumb-item">Article de vente</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                    <div class="tab-content" style="padding: 15px">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="text-xs-right m-b-10">
                                    <button type="submit" data-toggle="modal" @click="openModal = true" class="btn btn-info btn-rounded">
                                        <i class="fa fa-plus"></i> Ajouter un article Vente
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <data-tables
                                    v-loading="loading"
                                    element-loading-text="Chargement ..."
                                    element-loading-spinner="el-icon-loading"
                                    :filters="filters"
                                    :data="articlesListe" 
                                    :current-page="1"
                                    :page-size="10"
                                    :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                    >
                                    <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                    </el-table-column>
                                    <el-table-column label="Actions">
                                        <template slot-scope="scope">
                                            <el-button
                                                type="primary"
                                                size="mini"
                                                icon="el-icon-edit" circle>
                                            </el-button>
                                            <el-button
                                                @click="deleteRow(scope.row.id, scope.$index)"
                                                size="mini"
                                                type="danger"
                                                icon="el-icon-delete" circle></el-button>
                                        </template>
                                    </el-table-column>
                                </data-tables>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>

    <!-- Modals -->
        <el-dialog :visible.sync="openModal" width="80%" top="2vh" :close-on-click-modal="false">
            <div>
                <el-form ref="form" label-width="auto" label-position="right">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6">
                            <h3 :style="{color: 'rgb(79, 147, 236)'}"><i class="fa fa-shopping-cart"></i> Ajouter un Article de Vente</h3>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12 mb-1">
                            <div class="header-title">
                                Résumé de la Fiche
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-10">
                            <el-form-item class="no-mar-left">
                                <el-radio-group v-model="newVente.typeArticle">
                                    <el-radio label="Produit">Produit</el-radio>
                                    <el-radio label="Service">Service</el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </div>
                    </div>
                    <FormPartOne ref="formPartOne" :model="model" :newVente="newVente" :validations="$v"/>
                    <div class="row">
                        <div class="col-1 ml-auto">
                            <div class="btn-close" v-if="!plus" @click="$refs.formPartTwo.hideSection(), switchAction()"><i class="far fa-2x fa-minus-square"></i></div>
                            <div class="btn-close" v-if="plus" @click="$refs.formPartTwo.hideSection(), switchAction()"><i class="far fa-2x fa-plus-square"></i></div>
                        </div>
                    </div>
                    <FormPartTwo ref="formPartTwo" :model="model" :newVente="newVente" :validations="$v"/>            
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="addArticleVente">Enregistrer</el-button>
                <el-button type="danger" @click="openModal = false">Annuler</el-button>
            </span>
        </el-dialog>
    </div>
      </div>
</template>
<script>
    import FormPartOne from '../components/vente/formPartOne';
    import FormPartTwo from '../components/vente/formPartTwo';
    import ErpModel from '../models/erp'
    import { required } from 'vuelidate/lib/validators'
    import { Notification } from "element-ui";

    export default {
        components: {
            FormPartOne,
            FormPartTwo
        },
        data() {
            return {
                openModal: false,
                paramModal: false,
                plus: false,
                loading: true,
                articlesListe: [],
                projectId: JSON.parse(localStorage.getItem("userSession")).projet,
                text: '',
                model: {},
                newVente: {
                    typeArticle: 'Produit',
                    titre: '',
                    prixTTC: '',
                    prixHT: '',
                    tva: '',
                    coutVariable: '',
                    refCompt: '',
                    gamme: '',
                    description: '',
                    poids: '',
                    longueur: '',
                    largeur: '',
                    hauteur: '',
                    surface: '',
                    volume: '',
                    client: '',
                    stock: '',
                    fournisseur: '',
                    famille: '',
                    type: '',
                    nature: '',
                    notes: '',
                },
                tableTitles: [
                    {
                        prop: "titre",
                        label: "Libellé",
                        width: "20%"
                    }, 
                    {
                        prop: "prixTTC",
                        label: "Prix TTC",
                        width: "10%"
                    },
                    {
                        prop: "prixHT",
                        label: "Prix HT",
                        width: "10%"
                    },
                    {
                        prop: "tva",
                        label: "TVA",
                        width: "10%"
                    },
                    {
                        prop: "typeArticle",
                        label: "Type",
                        width: "15%"
                    },
                ],
                filters: [
                    {
                        prop: ['type','nom','quartier','ville'],
                        value: '',
                    }
                ],
            }
        },
        validations: {
            titre: { required},
            prixTTC: { required},
            prixHT: { required},
            tva: { required},
            coutVariable: { required},
            refCompt: { required},
            gamme: { required},
            description: { required},
            poids: { required},
            longueur: { required},
            largeur: { required},
            hauteur: { required},
            surface: { required},
            volume: { required},
            client: { required},
            stock: { required},
            fournisseur: { required},
            famille: { required},
            type: { required},
            nature: { required},
            notes: { required}
        },
        created() {
            // this.getArticlesVente()
            this.$loading().close();
            this.openParamModal();        
        },
        methods: {
            // deleteRow(id, index) {
            //     ErpModel.deleteDocumentSubcollection('erp', this.projectId, 'articleVente', id).then(() => {
            //         this.articlesListe.splice(index, 1)
            //         Notification.success({
            //             title: 'Success',
            //             message: 'L\'élémént a été supprimé avec succès',
            //         });
            //     })
            // },
            openParamModal() {
                ErpModel.getDocumentSubCollection('params', this.projectId, 'articleVente').then((snapshot) => {
                    snapshot.forEach((doc) => {
                        const data = doc.data()
                        data.id = doc.id
                        this.model = data
                    })
                    this.openModal = true
                    this.load = false
                })
            },
            // getArticlesVente() {
            //     this.articlesListe = [];
            //     ErpModel.getDocumentSubCollection('erp', this.projectId, 'articleVente').then((snapshot) => {
            //         snapshot.forEach((doc) => {
            //             const data = doc.data()
            //             data.id = doc.id
            //             this.articlesListe.push(data);
            //         })
            //         this.loading = false;
            //     })
            // },
            switchAction() {
                this.plus = !this.plus;
            },
            addArticleVente() {
                this.$v.$touch()
                if (this.$v.$invalid) {
                    return
                }
                console.log(this.newVente)
                ErpModel.saveDocumentSubCollection('erp', this.projectId, 'articleVente', this.newVente)
                ErpModel.createNotification()
                this.loading = true;
                this.newVente = {
                    typeArticle: 'Produit',
                    titre: '',
                    prixTTC: '',
                    prixHT: '',
                    tva: '',
                    coutVariable: '',
                    refCompt: '',
                    gamme: '',
                    description: '',
                    poids: '',
                    longueur: '',
                    largeur: '',
                    hauteur: '',
                    surface: '',
                    volume: '',
                    client: '',
                    stock: '',
                    fournisseur: '',
                    famille: '',
                    type: '',
                    nature: '',
                    notes: '',
                }
                this.getArticlesVente();
                this.openModal = false
            }
        },
    }
</script>
<style>
    .mini-sidebar .page-wrapper {
        margin-left: 0 !important;
    }
    h2{
        opacity: 0.5;
        font-size: 22px;
        font-style: italic;
    }
    .full {
        width: 100% !important;
    }
    .img-client {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 100%;
        margin-top: 5px;
    }
    .is-active {
        background-color: rgb(79, 147, 236) !important;
        color: white !important;
        font-weight: 900 !important;
    }
    .no-mar-left .el-form-item__content {
        margin-left: 0 !important;
    }
    .no-pad-lr {
        padding-right: 0 !important;
    }
    .no-mar-left .el-form-item__label-wrap {
        margin-left: 0 !important;
    }
    .header-title {
        background-color: rgb(79, 147, 236) !important;
        color: white !important;
        font-weight: 900 !important;
        padding: 3%;
    }
    .el-form-item {
        margin-bottom: 0 !important;
    }
    .header {
        padding-top: 2%;
        background: rgba(197, 220, 242, 0.83);
        border: 1px solid #dcdfe6;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 5px;
    }
    .disabled {
        background-color: #d4d3d361 !important;
    }
    .param-text:hover {
        cursor: pointer;
        color: rgb(79, 147, 236) !important;
    }
    input::placeholder {
        font-weight: bolder;
        text-align: right !important;
    }
    .pourcentage::placeholder {
        text-align: center !important;
    }
    .el-radio__label {
        font-size: 21px !important;
    }

    .el-form-item__label{
        color: black !important;
    }
    .el-dialog__body {
        background: rgb(238, 242, 245) !important;
        padding-top: 5px !important;
    }
    .b-black {
        background: rgba(87, 88, 89, 0.31) !important;
        color: black !important;
        font-weight: bold !important;
    }
    .b-blue {
        background: rgba(197, 220, 242, 0.83) !important;
    }
    .w-30 {
        width: 30% !important;
    }
    .w-input {
        width: 50% !important;
    }
    .w-20 {
        width: 20% !important;
    }
    .el-dialog__header {
        padding: 10px 10px !important;
        background: rgb(238, 242, 245) !important;
    }
    .el-dialog__footer {
        padding: 5px 10px 10px !important;
        background: rgb(238, 242, 245) !important;
    }

    .btn-close:hover {
        cursor: pointer;
    }
    .text-themecolor{
        font-weight: bold;
        color: #1e58b3;
    }
    .breadcrumb-item{
        font-weight: bold;
    }
    /* mon code css */

    @media only screen and (max-width: 600px) {
        .header-title {
            font-size: 12px !important;
        }
        .param-text span {
            display: none !important;
        }
        h4 {
            font-size: 10px !important;
        }
        .el-form-item__label-wrap {
            margin-left: 0 !important;
            margin-bottom: 0 !important;
        }
        .el-form-item__content {
            margin-left: 0 !important;
        }
        .el-input--small {
            margin-top: 0 !important;
        }
        .second-section {
            margin-top: 15px;
            margin-bottom: 0 !important;
            margin-left: 0 !important;
        }
        .el-form-item__label {
            margin-bottom: -6px;
        }
        p {
            margin-top: 15px;
        }
    }
    p {
        font-style: italic;
        opacity: 0.5;
    }
    .second-section {
        margin-left: 102px;
    }
    @media (max-width: 576px) {
        #params .el-dialog {
            width: 90% !important;
        }
        .container-fluid{
            margin-top: 80px !important;
        }
        .btn-close{
            margin-left: -20px !important;
        }
    }
</style>
