<template>
   <div class="page-wrapper">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-xl-11 col-lg-11 col-9">
                <h3 class="titre-erp">Tableau de Bord</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-g-4 mb-4 col-md-6 col-12">
                <el-card shadow="hover" class="box-card card-autre" @click.native="accesVentes()">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title size-title"><strong>Articles de vente</strong></h2>
                  </div>
                    <highcharts :options="chartOptions1"></highcharts>
                </el-card> 
            </div>
            <div class="col-xl-3 col-g-4 mb-4 col-md-6 col-12">
                 <el-card shadow="hover" class="box-card card-autre" @click.native="accesAchat()">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title size-title"><strong>Articles d'achats</strong></h2>
                  </div>
                  <highcharts :options="chartOptions2"></highcharts>
                </el-card> 
            </div>
            <div class="col-xl-3 col-g-4 mb-4 col-md-6 col-12">
                 <el-card shadow="hover" class="box-card card-autre" @click.native="accesResour()">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title size-title"><strong>Ressources</strong></h2>
                  </div>
                  <highcharts :options="chartOptions3"></highcharts>
                  <!-- <img src="https://cdn0.iconfinder.com/data/icons/financial-diagrams-1/100/explodedpie-512.png" class="card-img-bottom" alt="image de trending fincance"> -->
                </el-card> 
            </div>
            <div class="col-xl-3 col-g-4 mb-4 col-md-6 col-12">
                 <el-card shadow="hover" class="box-card card-autre" @click.native="accesInvest()">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title size-title"><strong>Besoins d'investissements</strong></h2>
                  </div>
                  <highcharts :options="chartOptions4"></highcharts>
                </el-card> 
            </div>
        </div>
    </div>
   </div>
</template>
<script>
import Highcharts from 'highcharts'
import HighchartsVue from 'highcharts-vue';
Vue.use(HighchartsVue, {
    highcharts: Highcharts
})
export default {
    props:{Highcharts},
    // components:{Highcharts},
    data() {
        return {
              chartOptions1: {
                chart: {
                    margin: [100, 50],
                    spacingBottom: 40,
                    type: 'spline',
                    inverted: true
                },
                title: {
                    style: {
                        display: 'none'
                    }
                },
               xAxis: {
                    reversed: false,
                    labels: {
                        format: '{value} km'
                    },
                    accessibility: {
                        rangeDescription: 'Range: 0 to 80 km.'
                    },
                    maxPadding: 0.05,
                    showLastLabel: true
                },
                yAxis: {
                    title: {
                        text: 'Temperature'
                    },
                    labels: {
                        format: '{value}°'
                    },
                    accessibility: {
                        rangeDescription: 'Range: -90°C to 20°C.'
                    },
                    lineWidth: 2
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br/>',
                    pointFormat: '{point.x} km: {point.y}°C'
                },
                plotOptions: {
                    spline: {
                        marker: {
                            enable: false
                        }
                    }
                },
                series: [
                         {
                    name: 'Temperature',
                    data: [[0, 15], [10, -50], [20, -56.5], [30, -46.5], [40, -22.1],
                        [50, -2.5], [60, -27.7], [70, -55.7], [80, -76.5]]
                }],
                responsive: {
                     
                    rules: [{
                        condition: {
                            maxWidth: 500,

                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'center',
                                layout: 'horizontal'
                            },
                            //  plotOptions:{
                            //      margin:[100]
                            //  },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            },
            chartOptions2: {
                chart: {
                    margin: [100, 50],
                    spacingBottom: 40,
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    style: {
                        display: 'none'
                    }
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                  plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [
                         {
                     name: 'ERP Finance',
                        colorByPoint: true,
                        data: [{
                            name: 'Client',
                            y: 61.41,
                            sliced: true,
                            selected: true
                        }, 
                        {
                            name: 'Fournisseur',
                            y: 11.84
                        }, 
                        {
                            name: 'Article',
                            y: 10.85
                        }, 
                        {
                            name: 'Vente',
                            y: 4.67
                        },
                         {
                            name: 'Scrum',
                            y: 4.18
                        }, 
                        {
                            name: 'Autre',
                            y: 7.05
                        }]
                                }
                            ],
                responsive: {
                     
                    rules: [{
                        condition: {
                            maxWidth: 500,

                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'center',
                                layout: 'horizontal'
                            },
                            //  plotOptions:{
                            //      margin:[100]
                            //  },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            },
            chartOptions3: {
                chart: {
                    margin: [100, 50],
                    spacingBottom: 40,
                     type: "area"
                },
                title: {
                    style: {
                        display: 'none'
                    }
                },
                  xAxis: {
                    allowDecimals: false,
                    labels: {
                    formatter: function() {
                        return this.value; // clean, unformatted number for year
                    }
                    }
                },
                yAxis: {
                    title: {
                    text: "Nuclear weapon states"
                    },
                    labels: {
                    formatter: function() {
                        return this.value / 1000 + "k";
                    }
                    }
                },
                tooltip: {
                    pointFormat:
                    "{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}"
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    area: {
                    pointStart: 1940,
                    marker: {
                        enabled: false,
                        symbol: "circle",
                        radius: 2,
                        states: {
                        hover: {
                            enabled: true
                        }
                        }
                    }
                    }
                },
                    series: [
                  {
                    name: "Salariés BTP",
                    data: [
                        null,
                        null,
                        null,
                        null,
                        null,
                        6,
                        11,
                        32,
                        110,
                        235,
                        369,
                        640,
                        1005,
                        1436,
                        2063,
                        3057,
                        4618,
                        6444,
                        9822,
                        15468,
                        20434,
                        24126,
                        27387,
                        29459,
                        31056,
                        31982,
                        32040,
                        31233,
                        29224,
                        27342,
                        26662,
                        26956,
                        27912,
                        28999,
                        28965,
                        27826,
                        25579,
                        25722,
                        24826,
                        24605,
                        24304,
                        23464,
                        23708,
                        24099,
                        24357,
                        24237,
                        24401,
                        24344,
                        23586,
                        22380,
                        21004,
                        17287,
                        14747,
                        13076,
                        12555,
                        12144,
                        11009,
                        10950,
                        10871,
                        10824,
                        10577,
                        10527,
                        10475,
                        10421,
                        10358,
                        10295,
                        10104
                    ]
                },
                        ],
                responsive: {
                     
                    rules: [{
                        condition: {
                            maxWidth: 500,

                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'center',
                                layout: 'horizontal'
                            },
                            //  plotOptions:{
                            //      margin:[100]
                            //  },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            },
            chartOptions4: {
                chart: {
                    margin: [100, 50],
                    spacingBottom: 40,
                    type: "column"
                },
                title: {
                    style: {
                        display: 'none'
                    }
                },
               xAxis: {
                    type: "category"
                },
                legend: {
                    enabled: false
                },
               plotOptions: {
                    series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true
                    }
                    }
                },
                series: [
                         {
                        name: "Gestion Compte",
                        data: [
                            {
                            name: "Apple",
                            y: 5,
                            drilldown: "Apple"
                            },
                            {
                            name: "Google",
                            y: 2,
                            drilldown: "Google"
                            },
                            {
                            name: "Samsung",
                            y: 4,
                            drilldown: "Samsung"
                            }
                        ]
                                }
                            ],

                            drilldown: {
                                series: [
                                {
                                    id: "animals",
                                    data: [["Cats", 4], ["Dogs", 2], ["Cows", 1], ["Sheep", 2], ["Pigs", 1]]
                                },
                                {
                                    id: "fruits",
                                    data: [
                                    {
                                        name: "Apples",
                                        y: 4
                                    },
                                    {
                                        name: "Oranges",
                                        y: 2,
                                        drilldown: "third-leves"
                                    }
                                    ]
                                },
                                {
                                    id: "cars",
                                    data: [["Toyota", 4], ["Opel", 2], ["Volkswagen", 2]]
                                },
                                {
                                    id: "third-leves",
                                    data: [["Toyota", 4], ["Opel", 2], ["Volkswagen", 2]]
                                }
                                ]
                            },
                responsive: {
                     
                    rules: [{
                        condition: {
                            maxWidth: 500,

                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'center',
                                layout: 'horizontal'
                            },
                            //  plotOptions:{
                            //      margin:[100]
                            //  },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            },
        }
    },
    created() {
        this.$loading().close();
    },
    
    methods: {
         // compteur sur client (dashboard)
        getClients() {
            // console.log(this.clients);
            ErpModel.getDocumentSubCollection("erp", this.projetId, "client").then((snapshot) => {
                this.nbrClients = snapshot.docs.length ;
              console.log(snapshot.docs.length);
            })
        },
        accesVentes() {
            this.$router.push({name: 'erp-articles-ventes'})
        },
        accesAchat() {
             this.$router.push({name: 'erp-articles-achats'})
        },
        accesResour() {

        },
        accesInvest() {

        },
    },
}
</script>
<style>
.mini-sidebar .page-wrapper {
        margin-left: 0 !important;
    }
.box-card{
    height: 100% !important;
    margin-bottom: 10px !important;
    border-radius: 20px !important;
}
.box-card:hover{
    cursor: pointer;
}
.titre-erp{
    font-weight: bold;
    
}

@media (max-width: 576px) {
    h1{
        font-size: 1.3rem;
    }
    .size-title{
        font-size: 19px;
    }
    .icon-param i{
        font-size: 2rem !important;
    }
    .icon-param{
        margin-right: 40px !important;
    }
    .container-fluid{
        margin-top: 80px !important;
    }
}

</style>