<template>
  <div>
    <h4>Ajouter vos articles d'achat</h4>
    <div class="row">
      <div class="col-12 col-xl-12">
        <table class="table ">
          <thead>
            <tr>
              <th
                v-for="(item, index) in header"
                :key="'header' + index"
                :style="{ backgroundColor: couleur }"
              >
                {{ item }}
              </th>
              <th :style="{ backgroundColor: couleur }">
                Actions
              </th>
            </tr>
          </thead>
          <tbody
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification'
            "
          >
            <tr v-for="(item, index) in trs" :key="'tr' + index">
              <td>{{ index + 1 }}</td>
              <td>
                <select v-model="item.ref" class="form-control">
                  <option
                    v-for="(article, idx) in tableReservation"
                    @click="selectRef(index, article)"
                    :key="idx"
                    :value="article.ref"
                  >
                    <strong> {{ article.ref }} </strong>
                  </option>
                </select>
              </td>
              <td>{{ item.titre }}</td>
              <td>
                <el-image style="width: 40px; height: 40px" :src="item.images">
                </el-image>
              </td>
              <td></td>
              <td>{{ item.qte }}</td>
              <td>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  :min="0"
                  :minus="true"
                  empty-value="1"
                  :read-only="true"
                  :precision="0"
                  :value="item.prixTTC"
                  class="form-control text-center"
                ></vue-numeric>
              </td>
              <td>{{ item.prixTTC * item.qte }} FCFA</td>
              <td></td>
              <td>
                <el-popconfirm
                  confirm-button-text="Oui"
                  cancel-button-text="Non"
                  icon="el-icon-info"
                  @confirm="deleteraw(index)"
                  icon-color="red"
                  title="Voulez vraiment supprimer cet élément?"
                >
                  <el-button icon="el-icon-delete" slot="reference"></el-button>
                </el-popconfirm>
              </td>
            </tr>
          </tbody>
          <tbody v-else-if="$store.state.agilite.mode == 'affichage'">
            <tr v-for="(item, index) in trs" :key="'tr' + index">
              <td>{{ index + 1 }}</td>
              <td>
                <strong> {{ item.titre }} </strong>
              </td>
              <td>{{ item.titre }}</td>
              <td>{{ item.description }}</td>
              <td>none</td>
              <td>
                <strong>{{ item.qte }}</strong>
              </td>
              <td>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  :min="0"
                  :minus="true"
                  empty-value="1"
                  :read-only="true"
                  :precision="0"
                  :value="item.prixTTC"
                  class="form-control text-center"
                ></vue-numeric>
              </td>
              <td>{{ item.prixTTC * item.qte }} FCFA</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <el-button
                  @click="add"
                  type="primary"
                  icon="el-icon-plus"
                  circle
                  size="mini"
                ></el-button>
              </td>
              <td class="bg-gray text-center"><strong>TOTAL</strong></td>
              <td class="bg-gray text-center">
                <strong>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    :min="0"
                    :minus="true"
                    empty-value="1"
                    :precision="0"
                    :read-only="true"
                    :value="totalAchat()"
                    class="form-control text-center"
                  ></vue-numeric>
                </strong>
              </td>
              <td class="bg-gray">
                <strong><i class="el-icon-chat-round"></i></strong>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import ErpModel from "../../../erp/models/erp";
import VueNumeric from "vue-numeric";
// config vue numeric
import monnaies from "../../../mixins/currenciesMask";
import ParamOptionReserv from "../../../erp/models/paramOptionReserv";
export default {
  name: "achatTab",
  mixins: [monnaies],
  components: { VueNumeric },
  props: {
    couleur: {
      default: "#000",
    },
    header: {
      default: [],
      type: Array,
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/setSummary", value);
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
  },
  data() {
    return {
      tableReservation: [],
      trs: [], //variable pour les données
      linShow: false,
      refSelection: "",
    };
  },
  methods: {
    totalAchat() {
      let total = 0;
      this.trs.forEach((item) => {
        total = item.prixTTC * item.qte + total;
      });
      this.$emit("totalAchat", total);
      return total;
    },
    getSalle() {
      ParamOptionReserv.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "salles"
      ).then((querySnapshot) => {
        this.tableReservation = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.tableReservation.push(data);
          // console.log('recupération des donnees: ',  this.tableReservation);
        });
      });
    },
    add() {
      let raw = {
        ref: "",
        articles: "",
        images: "http://placehold.jp/60x60.png",
        dates: ["", ""],
        qte: 0,
        prixUttc: 0,
        titre: "",
      };
      this.trs.push(raw);
      // this.getSalle()
    },
    selectRef(index, item) {
      // this.getSalle();
      console.log("cool ", item, index);

      this.trs[index].titre = item.titre;
      this.trs[index].prixTTC = item.prixUttc;
       this.trs[index].images = item.nomDeSalle;
      this.totalAchat();
      // alert(index);
    },
    deleteraw(index) {
      // alert(index);
      this.trs.splice(0, index);
      this.totalAchat();
    },
  },
  mounted() {
    // this.getSalle()
    // switch (this.$store.state.agilite.mode) {
    //   case "creation":
    //     this.getSalle();
    //     break;
    //   case "affichage":
    //     this.trs = this.$store.state.agilite.task.articles;

    //     break;
    //   case "modification":
    //     this.getSalle();
    //     this.trs = this.$store.state.agilite.task.articles;
    //     break;
    //   default:
    //     break;
    // }
    this.getSalle();
  },
};
</script>
<style scoped>
.selection .custom-select {
  background: none !important;
}
.table {
  margin-bottom: 0 !important;
}
.table thead {
  width: 100% !important;
  background: #e6e9f0;
}
.table th:first-child {
  border-top-left-radius: 10px !important;
}
.table th:last-child:last-child {
  border-top-right-radius: 10px !important;
}
.table th i,
td i {
  font-size: 1.2rem;
}
.table-bordered {
  border: none !important;
}
.table thead th,
.table th {
  font-weight: bold !important;
  padding: 10px 15px;
  font-size: 1em !important;
  text-align: center !important;
  color: #fff;
}
.table tbody tr td {
  padding: 10px 15px !important;
  text-align: center !important;
}
.table tbody tr {
  border-top: 5px solid rgb(236 238 239 / 67%);
  background: white;
}
.table tfoot td:last-child {
  text-align: right;
  border-bottom-right-radius: 10px !important;
}

.ic-date {
  font-size: 2rem;
  color: #d98238;
}
.material-icons-outlined {
  /* background-color: #d98238; */
  color: #fff;
  padding: 6px 8px;
  margin: 0;
}
.taille {
  width: 15px;
  height: 15px;
}
</style>
