<template>
    <div>     
        <div class="col-12 comment">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="py-3">commentaire</h5>
                <div class="btn-note d-flex align-items-center">
                    <i class="el-icon-circle-plus mr-2"></i>
                    <el-tag type="info">note2</el-tag>
                </div>
            </div>
            <transition name="fade" mode="out-in">
                <vue-editor></vue-editor>
            </transition>
        </div>                               
    </div>
</template>
<script>
import { VueEditor, Quill } from "vue2-editor";
export default {
    name : 'description',
    components:{
      VueEditor  
    },
  data () {
    return{}
  },     
}
</script>
<style scoped>
    .quillWrapper{
        border: .1px solid #f4caa5  !important;
    }
    .ql-container.ql-snow {
        border: .1px solid #f4caa5  !important;
    }
    .comment .ql-editor{
        min-height: 90px !important;    
    }
    .comment1 .ql-editor{
        min-height: 62px !important;    
    }
    .quillWrapper .ql-snow.ql-toolbar {
        border: 1px solid #fff4ea !important;
        background: #fff4ea !important;
        
    }
    .custom-select-categorie select{
        border: 1px solid #ced4da !important;
        border-radius: 5px 0 0 5px !important;
        padding: 2px 10px !important;
    }
 
    
    
  
</style>
