<template>
  <div>
    <div class="row container-fluid mt-3">
      <div class="col  d-flex align-items-center">
        <h6 class="font-weight-bolder fs-3">Protocole de la demande d'achat</h6>
      </div>
      <div class="col w-25">
        <div class="form-group">
          <div class="col-xl-12 d-flex ">
            <div class="input-group-append">
              <span class="material-icons-outlined">manage_accounts</span>
            </div>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Protocole du Service Achat</option>
              <option>2</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 ">
        <el-col class="time-progres">
          <el-progress
            :text-inside="true"
            :stroke-width="26"
            :percentage="50"
            status="success"
            class="progres"
          ></el-progress>
        </el-col>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "contentTache",
  data() {
    return {};
  },
  created() {
    this.$loading().close();
  },
};
</script>
<style scoped>
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
</style>
