<template>
  <div>
    <div class="title-tab mt-3 mb-1">
      <span class="mr-5"><strong>Le bénéficiaire</strong></span>
      <el-button type="success"
        ><export-excel
          :data="this.tabSalariers"
          :fields="this.salairesFields"
          name="Export-salaires.xls"
        >
          <i class="mdi mdi-download">
            <strong>Export salaires EXCEL </strong>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="24"
              height="24"
              viewBox="0 0 172 172"
              style=" fill:#000000;"
            >
              <g
                fill="none"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#ffffff">
                  <path
                    d="M86,21.5l-71.66667,14.33333v100.33333l71.66667,14.33333zM100.33333,35.83333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h50.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-86c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667zM129,50.16667h14.33333v14.33333h-14.33333zM29.92643,59.46094h12.73763l6.62077,15.87305c0.5375,1.29717 0.94208,2.80149 1.35775,4.50716h0.18197c0.2365,-1.02483 0.7179,-2.59064 1.44173,-4.63314l7.37663,-15.74707h11.61784l-13.87142,26.30111l14.27734,26.77702h-12.3877l-7.97852,-17.30078c-0.301,-0.60917 -0.65799,-1.83567 -0.95182,-3.54134h-0.11198c-0.17917,0.817 -0.5403,2.04015 -1.0778,3.68132l-8.0485,17.16081h-12.44368l14.76725,-26.56706zM129,78.83333h14.33333v14.33333h-14.33333zM129,107.5h14.33333v14.33333h-14.33333z"
                  ></path>
                </g>
              </g></svg
          ></i>
        </export-excel>
      </el-button>
      <el-button type="success"
        ><export-excel
          :data="this.tabSalariers"
          :fields="this.salairesFieldsCsv"
          type="csv"
          name="Export-salaires.xls"
        >
          <i class="mdi mdi-download">
            <strong>Export salaires CSV </strong>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="24"
              height="24"
              viewBox="0 0 172 172"
              style=" fill:#000000;"
            >
              <g
                fill="none"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#ffffff">
                  <path
                    d="M86,21.5l-71.66667,14.33333v100.33333l71.66667,14.33333zM100.33333,35.83333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h50.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-86c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667zM129,50.16667h14.33333v14.33333h-14.33333zM29.92643,59.46094h12.73763l6.62077,15.87305c0.5375,1.29717 0.94208,2.80149 1.35775,4.50716h0.18197c0.2365,-1.02483 0.7179,-2.59064 1.44173,-4.63314l7.37663,-15.74707h11.61784l-13.87142,26.30111l14.27734,26.77702h-12.3877l-7.97852,-17.30078c-0.301,-0.60917 -0.65799,-1.83567 -0.95182,-3.54134h-0.11198c-0.17917,0.817 -0.5403,2.04015 -1.0778,3.68132l-8.0485,17.16081h-12.44368l14.76725,-26.56706zM129,78.83333h14.33333v14.33333h-14.33333zM129,107.5h14.33333v14.33333h-14.33333z"
                  ></path>
                </g>
              </g></svg
          ></i>
        </export-excel>
      </el-button>
    </div>
    <div class="row">
      <div class="col-12 col-xl-12">
        <table class="table ">
          <thead>
            <tr>
              <th
                v-for="(item, index) in header"
                :key="'header' + index"
                :style="{ backgroundColor: couleur }"
              >
                {{ item }}
              </th>
              <th :style="{ backgroundColor: couleur }">
                <i class="el-icon-edit-outline"></i>
              </th>
            </tr>
          </thead>
          <tbody
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification'
            "
          >
            <tr v-for="(item, index) in tabSalariers" :key="'tr' + index">
              <td>{{ index + 1 }}</td>
              <td>
                <input
                  v-model="item.matricule"
                  type="text"
                  class="form-control-sm"
                  id="basic-url"
                  aria-describedby="basic-addon3"
                  placeholder="matricule"
                />
              </td>
              <td>
                <select v-model="item.nom" class="form-control-sm">
                  <option>
                    <strong> {{ item.nom }} </strong>
                  </option>
                </select>
              </td>
              <td>
                <select v-model="item.prenom" class="form-control-sm">
                  <option>
                    <strong> {{ item.prenom }} </strong>
                  </option>
                </select>
              </td>
              <!-- <td>
                <select class="form-control-sm">
                  <option>
                    <strong> SANPI-INF-25 </strong>
                  </option>
                  <option>
                    <strong> SANPI-INF-30 </strong>
                  </option>
                  <option>
                    <strong> SANPI-INF-27 </strong>
                  </option>
                  <option>
                    <strong> SANPI-INF-28 </strong>
                  </option>
                  <option>
                    <strong> SANPI-INF-26 </strong>
                  </option>
                </select>
              </td> -->
              <td>
                <el-avatar icon="el-icon-user-solid"></el-avatar>
              </td>
              <td>
                <select class="form-control-sm">
                  <option selected>
                    <strong> Informatique </strong>
                  </option>
                  <option>
                    <strong> Management </strong>
                  </option>
                </select>
              </td>
              <!-- <td>
                <select class="form-control-sm">
                  <option selected>
                    <strong> Infographe</strong>
                  </option>
                  <option>
                    <strong> Comptable </strong>
                  </option>
                </select>
              </td> -->
              <td>
                <select
                  @change="selectMonth($event.target.value)"
                  v-model="item.mois"
                  class="form-control-sm"
                >
                  <option>
                    <strong> {{ item.mois }} </strong>
                  </option>
                </select>
              </td>
              <td>
                <input
                  v-model="item.montant"
                  type="text"
                  class="form-control-sm"
                  id="basic-url"
                  aria-describedby="basic-addon3"
                  :placeholder="item.montant"
                />
              </td>
              <td>
                <select @change="chooseItem($event)" class="form-control-sm">
                  <option
                    v-for="(pay, indexes) in payStatus"
                    :key="'pay' + indexes"
                    selected
                  >
                    <strong>{{ pay.status }} </strong>
                    <!-- <strong> A PAYER</strong>
                  </option>
                  <option>
                    <strong> EN ATTENTE </strong>
                  </option>
                  <option>
                    <strong> NON PAYER </strong> -->
                  </option>
                </select>
              </td>
              <td>
                <i class="el-icon-more"></i>
              </td>
            </tr>
          </tbody>
          <tbody v-else-if="mode == 'affichage'">
            <tr v-for="(item, index) in tabSalariers" :key="'tr' + index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.matricule }}</td>
              <td>
                <strong> {{ item.nom }} </strong>
              </td>
              <td>{{ item.prenom }}</td>
              <td>
                <el-avatar icon="el-icon-user-solid"></el-avatar>
              </td>
              <td>
                NONE
              </td>
              <td>{{ item.mois }}</td>
              <td>{{ item.montant }} FCFA</td>
              <td></td>
              <td><i class="el-icon-more"></i></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7" class="text-left">
                <el-button
                  v-if="mode != 'affichage'"
                  @click="add"
                  type="primary"
                  icon="el-icon-plus"
                  circle
                  size="mini"
                ></el-button>
              </td>
              <td>
                <!-- <strong>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  :min="0"
                  :minus="true"
                  :empty-value="0"
                  :precision="0"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  :read-only="true"
                  :value="totalAchat"
                  class="form-control  p-1 fs-3 align-middle  text-start"
                ></vue-numeric>
              </strong> -->
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import ErpModel from "../../../erp/models/erp";
import Salariers from "../../../erp/models/salariers";
import VueNumeric from "vue-numeric";
// config vue numeric
import monnaies from "../../../mixins/currenciesMask";
export default {
  name: "tabSalaire",
  mixins: [monnaies],
  components: { VueNumeric },
  props: {
    couleur: {
      default: "#000",
    },
    header: {
      default: [],
      type: Array,
    },
  },

  watch: {
    mode: function(val) {
      switch (val) {
        case "creation":
          this.getSalarier();
          break;

        case "affichage":
          this.tabSalariers = this.$store.state.agilite.task.tabSalariers;
          // this.totalMontant(this.tabSalariers);
          break;
        case "modification":
          this.tabSalariers = this.$store.state.agilite.task.tabSalariers;
          // this.totalMontant(this.tabSalariers);
          break;
        default:
          break;
      }
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/setSummary", value);
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
      set(value) {
        this.$store.commit("agilite/setTypeTicketSelected", value);
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  data() {
    return {
      tabSalariers: [],
      trs: [], //variable pour les données
      linShow: false,
      refSelection: "",
      salairesFields: {
        code: "code",
        matricule: "matricule",
        nom: "nom",
        prenom: "prenom",
        montant: "montant",
      },
      salairesFieldsCsv: {
        code: "code",
        matricule: "matricule",
        nom: "nom",
        prenom: "prenom",

        montant: "montant",
      },
      payStatus: [
        {
          status: "PAYER",
          color: "#f8c81a",
        },
        {
          status: "NON PAYER",
          color: "#ff0202",
        },
        {
          status: "EN ATTENTE",
          color: "#54e600",
        },
      ],
    };
  },
  methods: {
    chooseItem(event) {
      console.log("tester ", event.target.value);
    },
    totalMontant(tab) {
      let total = 0;
      tab.forEach((item) => {
        total = parseInt(item.montant) + total;
      });
      this.$emit("totalMontant", total);
      return total;
    },
    // Récupération des salariers
    async getSalarier() {
      await Salariers.getDocumentSubSubCollection(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "salariers"
      ).then((querySnapshot) => {
        this.tabSalariers = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.tabSalariers.push(data);
        });
        this.loading = false;
        this.totalMontant(this.tabSalariers);
        console.log("Data", this.tabSalariers);
      });
    },

    add(item) {
      let raw = {
        nom: this.nom,
        prenom: this.prenom,
        montant: this.montant,
        mois: this.mois,
      };
      this.trs.push(raw);
      this.getSalarier();
      this.totalMontant(this.tabSalariers);
    },

    selectMonth(item) {
      this.$emit(
        "update:salarier",
        Salariers.getDocumentSubSubCollectionDoc(
          "agilite",
          this.idSummarySelected,
          "params",
          this.typeTicketSelected,
          "salariers"
        ).doc(item)
      );
    },

    deleteraw(index) {
      this.trs.splice(0, index);
      this.totalMontant(this.tabSalariers);
    },
  },
  mounted() {
    switch (this.mode) {
      case "creation":
        this.getSalarier();
        break;

      case "affichage":
        this.tabSalariers = this.$store.state.agilite.task.salarier;
        console.log("Log", this.$store.state.agilite.task);
        // this.trs = this.$store.state.agilite.task.tabSalariers;
        this.totalMontant(this.tabSalariers);
        break;
      case "modification":
        // this.trs = this.$store.state.agilite.task.tabSalariers;
        this.tabSalariers = this.$store.state.agilite.task.salarier;
        this.totalMontant(this.tabSalariers);
        break;
      default:
        break;
    }
    this.selectMonth();
  },
};
</script>
<style scoped>
.title-tab .el-button--success {
  padding: 5px !important;
}
.form-control-sm {
  padding: 0.25rem 0.2rem !important;
  width: 90% !important;
  text-align: center !important;
  border: solid 1px #ccc;
  color: #0d0d0d;
  border-radius: 0.2rem;
}
.selection .custom-select {
  background: none !important;
}
.table {
  margin-bottom: 0 !important;
}
.table thead {
  width: 100% !important;
  background: #e6e9f0;
}
.table th:first-child {
  border-top-left-radius: 10px !important;
}
.table th:last-child:last-child {
  border-top-right-radius: 10px !important;
}
.table th i,
td i {
  font-size: 1.2rem;
}
.table-bordered {
  border: none !important;
}
.table thead th,
.table th {
  font-weight: bold !important;
  padding: 10px 5px !important;
  font-size: 1em !important;
  text-align: center !important;
  color: #fff;
}
.table tbody tr td {
  padding: 5px 0 !important;
  text-align: center !important;
  vertical-align: inherit !important;
}
.table tbody tr {
  border-top: 5px solid rgb(236 238 239 / 67%);
  background: white;
}
.table tfoot td:last-child {
  text-align: center;
  border-bottom-right-radius: 10px !important;
}

.ic-date {
  font-size: 2rem;
  color: #d98238;
}
.material-icons-outlined {
  /* background-color: #d98238; */
  color: #fff;
  padding: 6px 8px;
  margin: 0;
}
.taille {
  width: 15px;
  height: 15px;
}
</style>
