<template>
  <div>
    <div class="container-fluid pl-3 welcome-page">
      <div class="row page-titles">
        <div class="col-md-12">
          <ol class="breadcrumb mr-3 py-2 float-right">
            <li class="breadcrumb-item">
              <router-link to="/bp/admin/dashboard">Dashboard</router-link>
            </li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="title-welcom">
              <h4 class="px-3 py-2">Bienvue sur votre espace utilisateur </h4>
            </div>
            <hr class="mt-0 mb-0">
            <div class="card-body">
              <div class="text-center">
                <h2>
                Bonjour
                <span> {{ this.user.name + " " + this.user.firstName }}!</span> 👋
                </h2>
                <p>Suivre et gérer plus facilement les efforts de développement des équipes</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3>Tableau de bord</h3>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zM6 19h12V9.157l-6-5.454-6 5.454V19zm6-4a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z" fill="#4A88DA"/></svg>
              <h5 class="mt-2">Bienvenue</h5>
              <p>
                Se familiariser avec le tableau de bord, voici quelques pistes pour commencer
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M21 4H7a2 2 0 1 0 0 4h14v13a1 1 0 0 1-1 1H7a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4h13a1 1 0 0 1 1 1v1zM5 18a2 2 0 0 0 2 2h12V10H7a3.982 3.982 0 0 1-2-.535V18zM20 7H7a1 1 0 1 1 0-2h13v2z" fill="#4A88DA"/></svg>
              <h5 class="mt-2">commencer</h5>
              <p>
                Créer un nouveau projet et explorez toutes les fonctionnalités que nous avons à offrir. 
                Notre outil complet et facile à utiliser vous 
                permettra de donner vie à votre idée en un rien de temps.
              </p>
              <div class="btn-section">
                <button> 
                  <i class="el-icon-folder-add"></i>
                  <router-link to="/bp/summary">  Créer un projet </router-link>
                 </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M14 14.252v2.09A6 6 0 0 0 6 22l-2-.001a8 8 0 0 1 10-7.748zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm6 6v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z" fill="#4A88DA"/></svg>
              <h5 class="mt-2">Utilisateurs et sous-comptes</h5>
              <p>
                Invite ton équpe en ajout des sous-comptes ou des administrateurs et gérer plus facilement les efforts de développement des équipes
              </p>
              <div class="btn-section">
                <button> 
                  <i class="el-icon-plus"></i>
                  <router-link to="/bp/admin/parametres/membres/utilisateur">  
                    Ajouter un utilisateur
                  </router-link>
                </button>
                <button> 
                  <i class="el-icon-right"></i>
                  <router-link to="/bp/admin/parametres/membres/role">   Créer un sous-compte </router-link>
                 </button>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- 
      <div class="row pl-3 pb-1">
        <div class="col-md-5">
          <h3 class="text-themecolor"><b>Tableau de bord</b></h3>
        </div>
      </div>

      <div class="row ml-3 mr-1" style="background-color: white">
        <div class="col-lg-12">
          <h1 style="font-size: 30px" class="pl-3 pt-5">
            Bonjour
            <span> {{ this.user.name + " " + this.user.firstName }}</span>
          </h1>
          <h1 style="font-size: 25px" class="pl-3 pb-5">
            Bienvue sur votre espace utilisateur
          </h1>
        </div>
      </div> -->
    </div>
  </div>
</template>
<style scoped>
  .align-self-center h6 {
    font-size: 18px;
  }
  /* .page-wrapper {
    margin-top: 0px !important;
  } */
  .welcome-page h1, h2, h3, h4, h5, h6{
    color: #464545 !important;
  }
  .welcome-page h5{
    font-weight: 500 !important;
  }
  .welcome-page p{
    font-size: .9rem;
  }
  .welcome-page button{
    display: block;
    font-size: .8rem;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
    border: none;
    color: #4A88DA;
    margin: 5px 0;
  }
  .welcome-page button a{
    color: #4A88DA;
  }
  .welcome-page{
    color: #464545;
  }
  .welcome-page .card{
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 2px 0px;
    min-height: 13rem;
  }
</style>
<script>
export default {
  data() {
    return {
      user: JSON.parse(localStorage.getItem("userSession")),
    };
  },
};
</script>
