.page-main{
  background-image: linear-gradient(to top, #f7f7f7 0%, #fafdff 100%) !important;
  // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);    
  // background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  // background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding-top: 0 !important;
}
.page-main .vue-form-wizard .wizard-tab-content{
  background: #fff !important ;
  border-radius: 3px;
  margin: 33px auto;
  padding: 16px 10px 10px;
  box-shadow: 0px -1px 2.5px rgba(0, 0, 0, 0.24);
}
.page-main .vue-form-wizard .wizard-header{
 padding: 0 !important;
}
.page-main .container-fluid {
  padding: 15px 25px;
}
.page-main  .table td, .table th {
  border: none !important;
  vertical-align: middle !important;
}
.page-main  .table td{
  padding: 0.21rem !important;
  min-height: calc(1.24rem + 2px) !important;
}

.page-main .table th{
  background-color: rgba(164, 196, 238, 0.25) !important;
  color: #034091 !important;
  padding: 10px 2px !important;
}
.bg-info{
  background-color: transparent !important;
}
.page-main .table-bordered{
  border: none !important;
}
.page-main .table .bg-info{
  background-color: rgba(164, 196, 238, 0.25) !important;
  color: #034091 !important;
}
.page-main .color-bordered-table.info-bordered-table{
  border: none !important;
}
.page-main table .table-bordered td{
  border: none !important;
}
.page-main table thead tr{
  border: none !important;
}
.page-main th:nth-child(1){
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.page-main th:nth-child(6){
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.page-main th:not(:first-child){
  text-align: center !important;
}
.page-main .mdi-comment-question-outline,
.page-main .mdi-comment-text{
  font-size: 20px !important;
  font-weight: 500 !important;
  border-radius: 3px !important;
  padding: 4px 6px !important;
  background: #5959591a !important;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}
.page-main .mdi-comment-question-outline{
  color: #939393 !important;
}
.page-main .mdi-comment-text{
  color: #fcfcfc !important;
  background: #5f81ff !important;
}
.page-main .vue-form-wizard .wizard-card-footer .wizard-footer-left  .wizard-btn:first-child{
  border-color: #accbee !important;
  color: #034091a1 !important;
  background-image: linear-gradient(to right, #accbee 0%, #e7f0fd 100%) !important;
}
.page-main .vue-form-wizard .wizard-card-footer  .wizard-footer-right  .wizard-btn:first-child{
  border-color: rgba(119, 202, 139, 0.8) !important;
  color: #159947 !important;
  background-image: linear-gradient(to right, rgba(119, 202, 139, 0.8), rgb(255, 255, 255) 100%) !important;
}
.page-main thead{
  border-bottom: 5px solid #fff;
}
.page-main thead th:first-child{
  padding-left: 10px !important;
}
.page-main tbody tr{
  background: #fff;
}
.page-main tbody tr:first-child{
  border: none !important;
}
.page-main tbody tr td:last-child .el-button--mini{
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
  float: right !important;
}
.page-main .table-total{
  border: none !important;
  background-image: linear-gradient(to right, rgba(119, 202, 139, 0.8), rgb(255, 255, 255) 100%);
}
.page-main tr.table-group-header {
  // border-bottom: 5px solid #fff;
  background-image: linear-gradient(to right, rgba(158, 158, 158, 0.52), rgb(255, 255, 255) 100%) !important;
}
.page-main .table-total td{
  background: #15994726 !important;
  // color: #159947 !important;
  color: #484848  !important;
  font-weight: 500 !important;
}
.page-main .tab-content .recap-business span{
  color: red !important;
}
.page-main .table-total td:nth-child(1){
  color: #fff !important;
}
.page-main tbody tr:nth-child(3), .page-main tbody tr:nth-child(4){
  border: none !important;
}
.page-main .table-total td:nth-child(1){
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: .75rem !important;
}
.page-main .table-total td:nth-child(6){
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.page-main .table-group-header td{
  color: #595959 !important;
  font-weight: 500 !important;
}
.page-main .table-group-header td:nth-child(1){
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: .75rem !important;
}
.page-main .table-group-header td:nth-child(6){
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
tbody tr:nth-child(odd) {
  background-color: rgba(164, 196, 238, 0.09);
}
.page-main input.form-control, .page-main select.form-control{
  min-height: 30px !important;
  height: calc(1.25rem + 2px) !important;
  padding: 0.155rem 0.4rem !important;
  font-size: 0.86rem;
  border: 1px solid rgba(164, 196, 238, 0.36);
  border-radius: 1px !important;
}
.page-main .stepTitle{
  font-weight: 500 !important;
}
.page-main .nav-pills .nav-link {
  border-radius: 2px;
  color: #034091 !important;
  font-weight: 500;
}
.page-main .stepTitle .active{
  color: #4A88DA;
}
.page-main .vue-form-wizard .wizard-nav-pills li.active .wizard-icon{
  color: rgb(255, 255, 255) !important;
}
.page-main .vue-form-wizard .wizard-nav-pills li.active .wizard-icon-container{
  background-color: rgb(97, 177, 116) !important;
}
.page-main .wizard-icon-circle.md.checked .wizard-icon{
  color: rgb(97, 177, 116) !important;
}

// Modal comment 
.page-main .el-dialog .el-dialog__title, .page-main .el-dialog .el-dialog__headerbtn{
font-size: 23px !important;
color: #595959 !important;
font-weight: 500;
}
.page-main .el-dialog .el-dialog__body label{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}
.page-main .el-dialog .el-dialog__body .el-textarea__inner{
  border: 1px solid rgba(164, 196, 238, 0.36);
}
.page-main .el-dialog__footer .el-button{
  border: none;
  background: #4A88DA;
  color: #fff;
  font-weight: 400;
}
.page-main .el-dialog{
  width: 650px;
  border-radius: 5px;
}
.page-main .input-group-prepend.pointer,
.page-main .table th button.pointer .text-uppercase{
  cursor: pointer !important;
}
.page-main .add-btn .btn.btn-success{
color: #fff !important;
border: none !important;
outline: none !important;
padding: 3px 17px !important;
border-radius: 3px !important;
font-size: 20px !important;
display: flex;
align-items: center;
}
.page-main .add-btn .btn.btn-success i{
font-size: 24px;
}
.text-right-tab{
  text-align: right !important;
}