
h5, h4.text-uppercase[aria-controls] {
    color: #2f3d4a !important;
    white-space: nowrap;
}
.line-item {
    font-weight: normal;
}
h5[aria-controls] .fa, h5[data-toggle='collapse'] .fa{
    color: #a3a3a3 !important;
    margin-left: 1.5rem!important;
}
h2 > center{
    text-transform: uppercase;
    background: #398bf7;
    color: white;
}
h5[aria-controls]{
    text-align: left;
}
h4.text-uppercase[aria-controls], h4.text-uppercase[data-toggle='collapse'] {
    font-size: 1em;
}
.item-title {
    text-indent: 3em;
    white-space: nowrap;
}    
.text-white {
    color: rgba(255, 255, 255, 0.986) !important;
    padding-top: 4px !important; padding-bottom: 2px !important;
    margin-top: 0px !important; margin-bottom: 0px !important;
}
.notify {
    top: -12px;
    right: -16px;
}
[data-toggle="collapse"], [aria-controls]  {
    margin-bottom: 0px !important;
    cursor: pointer;
    margin-top: 0.12rem !important;
}