<template>
    <div id="content">
        <div>
            <img src="/bp/assets/images/icon/pdf.png" />
        </div>
        <div id="text-content">
            <h6>{{ elementTelecharger }}</h6>
            <h6>{{ titreProjet }}</h6>
        </div>
    </div>
</template>
<script>

export default {
    props: ['titreProjet', 'elementTelecharger']
}
</script>
<style scoped>
#content {
    width: max-content;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

#text-content {
    padding: 0 10px;
}

#text-content h6:first-of-type {
    font-size: 18px;
    font-weight: bold;
}

#text-content h6:last-of-type {
    font-size: 13px;
    font-weight: lighter;
}
</style>