<template>
  <div>
    <el-dialog
      :visible.sync="paramModal"
      width="60%"
      :close-on-click-modal="false"
      :before-close="handleClose"
    >
      <el-tabs type="border-card" stretch="true">
        <!-- <el-tab-pane label="Plan comptable">
                    <div class="mb-3"></div>
                    <div class="row" v-loading="this.loading">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <h1 class="text-center">{{planComptable.libelle}}</h1>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-1">
                                        
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <div class="col-12" v-for="(item, index) in planComptable.classe" :key="item">
                                                <div class="row mb-2">
                                                    <div class="col-12">
                                                        <div class="row mb-1">
                                                            <div class="col-12 nopadding">
                                                                <div :id="'span_'+index" :style="{ marginBottom: '3px'}">
                                                                    <input v-bind:value="item.code +'.'+ item.libelle" :style="{backgroundColor: item.color, borderRadius: '5px', padding: '1%', fontWeight: 'bold', width: '81%', border: '2px solid '+ item.color, color: 'white'}" @click="actifInput(index)" placeholder="Code.Libellé">&nbsp;&nbsp;
                                                                    <el-switch v-model="item.active" active-color="#13ce66" inactive-color="#ff4949" @change="changeStateOne($event, index)"></el-switch>
                                                                    <el-button size="mini" icon="el-icon-arrow-down" @click="hideClasse(index)"></el-button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" :id="'classe_' +index">
                                                    <div class="col-1">
                                                       
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="row">
                                                            <div class="col-12" v-for="(itemOne, indexSubOne) in item.child" :key="indexSubOne">
                                                                <div class="row mb-2">
                                                                    <div class="col-12 nopadding">
                                                                        <div :id="'span_'+index+''+indexSubOne" :style="{ marginBottom: '3px'}">
                                                                            <input v-bind:value="itemOne.code +'.'+ itemOne.libelle" :style="{backgroundColor: item.color, borderRadius: '5px', padding: '1%', fontWeight: 'bold', width: '79%', border: '2px solid '+ item.color, color: 'white'}" @click="actifInput(index+''+indexSubOne)" placeholder="Code.Libellé">&nbsp;&nbsp;
                                                                            <el-switch v-model="itemOne.active" active-color="#13ce66" inactive-color="#ff4949" @change="changeStateTwo($event, index, indexSubOne)"></el-switch>
                                                                            <el-button size="mini" icon="el-icon-arrow-down" @click="hideSousClasseOne(index, indexSubOne)"></el-button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" :id="'sousclasse_'+ index+indexSubOne">
                                                                    <div class="col-1">
                                                                       
                                                                    </div>
                                                                    <div class="col-11">
                                                                        <div class="row">
                                                                            <div class="col-12" v-for="(itemTwo, indexSubTwo) in itemOne.child" :key="indexSubTwo">
                                                                                <div class="row mb-2">
                                                                                    <div class="col-12 nopadding">
                                                                                        <div :id="'span_'+index+''+indexSubOne+''+indexSubTwo" :style="{ marginBottom: '3px'}">
                                                                                            <input v-bind:value="itemTwo.code +'.'+ itemTwo.libelle" :style="{border: '2px solid '+item.color, borderRadius: '5px', padding: '1%', fontWeight: 'bold', width: '77%'}" @click="actifInput(index+''+indexSubOne+''+indexSubTwo)" placeholder="Code.Libellé">&nbsp;&nbsp;
                                                                                            <el-switch v-model="itemTwo.active" active-color="#13ce66" inactive-color="#ff4949" @change="changeStateThree($event, index, indexSubOne, indexSubTwo)"></el-switch>
                                                                                            <el-button size="mini" icon="el-icon-arrow-down" @click="hideSousClasseTwo(index, indexSubOne, indexSubTwo)"></el-button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row" :id="'sousclasseTwo_'+ index+indexSubOne+indexSubTwo">
                                                                                    <div class="col-1">
                                                                                      
                                                                                    </div>
                                                                                    <div class="col-11">
                                                                                        <div class="row">
                                                                                            <div class="col-12" v-for="(itemThree, indexSubThree) in itemTwo.child" :key="indexSubThree">
                                                                                                <div class="row mb-2">
                                                                                                    <div class="col-12 nopadding">
                                                                                                        <div :id="'span_'+index+''+indexSubOne+''+indexSubTwo+''+indexSubThree" :style="{ marginBottom: '3px'}">
                                                                                                            <input v-bind:value="itemThree.code +'.'+ itemThree.libelle" :style="{border: 'none', borderBottom: '2px solid '+item.color, borderRadius: '5px', padding: '1%', fontWeight: 'bold', width: '74.5%'}" @click="actifInput(index+''+indexSubOne+''+indexSubTwo+''+indexSubThree)" placeholder="Code.Libellé">&nbsp;&nbsp;
                                                                                                             <el-switch v-model="itemThree.active" active-color="#13ce66" inactive-color="#ff4949" @change="changeStateFour($event, index, indexSubOne, indexSubTwo, indexSubThree)"></el-switch>
                                                                                                            <el-button size="mini" icon="el-icon-arrow-down" @click="hideSousClasseTrois(index, indexSubOne, indexSubTwo, indexSubThree)"></el-button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row mb-2" :id="'sousclasseTrois_'+index+indexSubOne+indexSubTwo+indexSubThree">
                                                                                                    <div class="col-1">
                                                                                                        <el-button circle size="mini" type="danger" icon="el-icon-plus" @click="addSousClasseFour(index,indexSubOne,indexSubTwo,indexSubThree)"></el-button>
                                                                                                    </div>
                                                                                                    <div class="col-11">
                                                                                                        <div class="row">
                                                                                                            <div class="col-12" v-for="(itemFour, indexSubFour) in itemThree.child" :key="indexSubFour">
                                                                                                                <div class="row mb-2">
                                                                                                                    <div class="col-12 nopadding">
                                                                                                                        <div :id="'span_'+index+''+indexSubOne+''+indexSubTwo+''+indexSubThree+''+indexSubFour">
                                                                                                                            <input v-bind:value="itemFour.code +'.'+ itemFour.libelle" :style="{border: 'none', borderBottom: '2px solid grey', borderRadius: '5px', padding: '1%', fontWeight: 'bold', width: '72%'}" @click="actifInput(index+''+indexSubOne+''+indexSubTwo+''+indexSubThree+''+indexSubFour)" placeholder="Code.Libellé">&nbsp;&nbsp;
                                                                                                                            <el-switch v-model="itemFour.active" active-color="#13ce66" inactive-color="#ff4949" @change="changeStateFive($event, index, indexSubOne, indexSubTwo, indexSubThree, indexSubFour)"></el-switch>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="mb-3"></div>
                </el-tab-pane> -->
        <el-tab-pane label="Logo Projet">
          <Upload
            emitFunction="logoEntreprise"
            @logoEntreprise="getLogoEntreprise"
            :userImage="projectLogo"
          />
        </el-tab-pane>
        <el-tab-pane label="Plan Comptable"> plan comptable </el-tab-pane>
      </el-tabs>
    </el-dialog>
  </div>
</template>
<script>
import firebase from "firebase";
import Upload from "../profile/components/upload.vue";
export default {
  components: { Upload },
  data() {
    return {
      paramModal: false,
      summaryRef: firebase.firestore().collection("summary"),
      idProjet: "",
      planComptable: {},
      planComptableID: "",
      projectLogo: "",
      loading: false,
    };
  },
  methods: {
    async getLogoEntreprise(image) {
      await this.summaryRef.doc(this.idProjet).update({
        logo: image,
      });
      this.$loading().close();
    },
    async openModalParam(projet) {
      this.loading = true;
      this.idProjet = projet.id;
      this.summaryRef
        .doc(this.idProjet)
        .get()
        .then((doc) => {
          if (doc.data().logo) {
            this.projectLogo = doc.data().logo;
          }
        });
      this.paramModal = true;
    },

    async getProjectLogo() {
      this.summaryRef.doc(this.idProjet).get();
    },
    handleClose() {
      this.planComptable = {};
      this.paramModal = false;
    },
    hideClasse(index) {
      $("#classe_" + index).toggle();
    },
    hideSousClasseOne(index, indexOne) {
      $("#sousclasse_" + index + indexOne).toggle();
    },
    hideSousClasseTwo(index, indexSubOne, indexSubTwo) {
      $("#sousclasseTwo_" + index + indexSubOne + indexSubTwo).toggle();
    },
    hideSousClasseTrois(index, indexSubOne, indexSubTwo, indexSubThree) {
      $(
        "#sousclasseTrois_" + index + indexSubOne + indexSubTwo + indexSubThree
      ).toggle();
    },
    async changeStateOne(event, index) {
      console.log(event);
      this.planComptable.classe[index].active = event;
      this.planComptable.classe[index].child.forEach((el) => {
        el.active = event;
        el.child.forEach((sub) => {
          sub.active = event;
          sub.child.forEach((sub2) => {
            sub2.active = event;
            sub2.child.forEach((sub3) => {
              sub3.active = event;
            });
          });
        });
      });
      await this.updatePC();
    },
    async changeStateTwo(event, index, indexTwo) {
      this.planComptable.classe[index].child[indexTwo].active = event;
      this.planComptable.classe[index].child[indexTwo].child.forEach((el) => {
        el.active = event;
        el.child.forEach((sub) => {
          sub.active = event;
          sub.child.forEach((sub2) => {
            sub2.active = event;
          });
        });
      });
      await this.updatePC();
    },
    async changeStateThree(event, index, indexTwo, indexThree) {
      this.planComptable.classe[index].child[indexTwo].child[
        indexThree
      ].active = event;
      this.planComptable.classe[index].child[indexTwo].child[
        indexThree
      ].child.forEach((el) => {
        el.active = event;
        el.child.forEach((sub) => {
          sub.active = event;
          sub.child.forEach((sub2) => {
            sub2.active = event;
          });
        });
      });
      await this.updatePC();
    },
    async changeStateFour(event, index, indexTwo, indexThree, indexFour) {
      this.planComptable.classe[index].child[indexTwo].child[indexThree].child[
        indexFour
      ].active = event;
      this.planComptable.classe[index].child[indexTwo].child[indexThree].child[
        indexFour
      ].child.forEach((el) => {
        el.active = event;
        el.child.forEach((sub) => {
          sub.active = event;
          sub.child.forEach((sub2) => {
            sub2.active = event;
          });
        });
      });
      await this.updatePC();
    },
    async changeStateFive(
      event,
      index,
      indexTwo,
      indexThree,
      indexFour,
      indexFive
    ) {
      this.planComptable.classe[index].child[indexTwo].child[indexThree].child[
        indexFour
      ].child[indexFive].active = event;
      this.planComptable.classe[index].child[indexTwo].child[indexThree].child[
        indexFour
      ].child[indexFive].child.forEach((el) => {
        el.active = event;
        el.child.forEach((sub) => {
          sub.active = event;
          sub.child.forEach((sub2) => {
            sub2.active = event;
          });
        });
      });
      await this.updatePC();
    },
    async updatePC() {
      firebase
        .firestore()
        .collection("params")
        .doc(this.idProjet)
        .collection("typePlanCompta")
        .doc(this.planComptableID)
        .set(this.planComptable)
        .then((res) => {
          this.$notify({
            title: "Succès",
            message: "Plan Comptable mis à jour",
            type: "success",
          });
        });
      // console.log(this.planComptableID)
    },
  },
};
</script>
<style scoped></style>
