<template>
<div>
    <div v-for="(prog,index) in tousLesConcours" :key="index"  class="row">
        <el-divider v-if="prog.projets.length!=0" content-position="left">{{ prog.libelleConcours }} <span class="badge badge-dark font-weight-bold" type="warning">{{prog.projets.length}}</span></el-divider>

        <div class="col-lg-3 col-md-4 col-sm-6" v-for="(projet, index) in prog.projets" :key="index">
                  
            <div  class="card" v-bind:class="{ progress:projet.etat && projet.etat=='En cours','bg-info':!projet.etat || projet.etat=='Terminé' }"      >
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 v-if="projet.titre" class="text-white m-t-5 m-b-0" @click.native="$parent.selectProject(projet.id,projet.titre)">{{projet.titre | cyb_txt_split | capitalized}}</h4>
                            <h4 v-else class="text-white m-t-5 m-b-0" @click.native="$parent.selectProject(projet.id,projet.titre)">{{'titre indéfini' | capitalized}}</h4>
                        </div>
                        <div class="col-md-2">                                
                            <el-dropdown trigger="click"   >
                                <span class="el-dropdown-link btn btn-sm">
                                    <i class="fas fa-ellipsis-v cyb-white"></i> 
                                </span>
                                <el-dropdown-menu   slot="dropdown">
                                        
                                    <!-- <el-dropdown-item icon="el-icon-circle-plus">Gérer</el-dropdown-item> -->
                                    <el-dropdown-item   @click.native="$parent.selectProject(projet.id,projet.titre)" icon="el-icon-view">Ouvrir</el-dropdown-item>
                                    <el-dropdown-item   @click.native="$parent.editSummary(projet.id,projet.titre)" icon="el-icon-edit">Modifier</el-dropdown-item>
                                     <el-dropdown-item
                                    @click.native="
                                        $refs.planAction.openModalActionProgram(
                                            projet
                                        )
                                    "
                                    icon="el-icon-s-order"
                                    >Tâches</el-dropdown-item>
                                    <el-dropdown-item  @click.native="$parent.deleteProject(projet.id)" icon="el-icon-delete">Supprimer</el-dropdown-item>
                                    <!-- <el-dropdown-item   @click.native="editSummary(projet.id,projet.titre)" icon="el-icon-edit">Modifier</el-dropdown-item> -->
                                        
                                </el-dropdown-menu>
                            </el-dropdown >  
                        </div>
                    </div>
                </div>
                <div   @click.native="$parent.selectProject(projet.id,projet.titre)">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="row">
                            <div class="col-md-3">
                                <div  class="m-r-20 align-self-center">
                                    <img src="/bp/assets/images/default.png" alt="Projet">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="align-self-center">
                                    <h5 v-if="projet.createdAt" class="m-t-5 text-white">{{ new Date(projet.createdAt.seconds*1000) | moment("Do MMMM YYYY") }}</h5>
                                    <h5 v-if="projet.createdAt" class="m-t-5 text-white">{{ new Date(projet.createdAt.seconds*1000) | moment("hh:mm:ss") }}</h5>
                                    <h5 v-if="projet.etat" class="m-t-5 text-white">{{ projet.etat }}</h5>
                                    <h5 v-else  class="m-t-5 text-white">Terminé</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</div>
      <PlanAction ref="planAction" />
</div>

</template>

<script>
    import helper from '../../../services/helper'
    import ClickConfirm from 'click-confirm'
    import Swal from 'sweetalert2'
    import firebase from 'firebase'
    import {isEmpty} from '../../../services/helper'
    import { Message,Loading,Notification  } from 'element-ui';
    import PlanAction from '../../admin/concours/components/planAction'

export default {
     components:{PlanAction},
    data(){
        return{
            summaryRef:firebase.firestore().collection('summary'),
            concoursRef:firebase.firestore().collection('concours'),
            users:firebase.firestore().collection('users'),
            currentUId:JSON.parse(localStorage.getItem('userSession')).uid,
            tousLesConcours: [],
            projetsProg:[]

        }
    },
methods:{
    async loadData (adminId) {      
        this.concoursRef.where('adminId','==',adminId)
        .onSnapshot((onSnapshot) =>{
            this.tousLesConcours = [];
            if(!onSnapshot.empty){
                onSnapshot.forEach(async(doc) =>{
                let concours = doc.data();
                concours.id = doc.id;
                  
                await this.summaryRef
                .where('adminId','==',adminId).
                 where('eval','==',this.users.doc(this.currentUId)).
                where('concoursId','==', this.concoursRef.doc(doc.id)).get().then((querySnapshot)=>{
                    this.projetsProg=[];
                      querySnapshot.forEach((doc)=>{
                          var projet=doc.data()
                             projet.program=concours
                             projet.id=doc.id
                             projet.idSummary=doc.id
                            this.projetsProg.push(projet)
                            //  console.log('projet',projet)
                      })
                    concours.projets=this.projetsProg
                    // console.log('Liste',this.projetsProg)
                }) 
                    
                   
                this.tousLesConcours.push(concours);
                })
            };
                
            });
        this.$loading().close();
           
    },
    // selectProject(id,title){
    //     // let id=id;
    //     // let title=title;
    //     this.$parent.selectProject(id,title)
    // },
    // editSummary(id,title){
    //     this.$parent.selectProject()
    // }

}
}
</script>