<template>
  <div class="page-wrapper pl-3">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->

    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Rôles</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link :to="{ name: 'suivi' }">Accueil</router-link>
            </li>
            <li class="breadcrumb-item">
              <a href="/bp/suivi"> Suivi</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/bp/suivi"> Equipe</a>
            </li>
            <li class="breadcrumb-item">Rôles</li>
          </ol>
        </div>
      </div>

      <el-tabs
        class="nav-tabs customtab"
        role="tablist"
        v-model="activeName"
        @tab-click="handleTabClick"
        type="border-card"
      >
        <el-tab-pane name="ajouter">
          <div slot="label" class="tabLink">
            <span class="hidden-xs-down"
              ><i class="el-icon-circle-plus-outline"></i> Rôles</span
            >
          </div>
          <el-button
            v-if="ecrire"
            @click="loadModalPerm()"
            style="position: absolute; left: 15px"
            type="primary"
            >Ajouter</el-button
          >
          <div
            class="mt-5 mb-3"
            style="display: inline-block; width: 50%; float: left"
          >
            <el-input
              v-model="recherche"
              size="small"
              placeholder="Rechercher"
            />
          </div>

          <div
            v-if="ecrire"
            style="margin-top: 40px; margin-bottom: 20px; float: right"
          >
            <el-tooltip
              v-if="this.multipleSelection.length != 0"
              class="item"
              effect="dark"
              content="Supprimer les éléments sélectionnés"
              placement="top"
            >
              <el-button type="danger" @click="deleteMultiple()"
                >Supprimer ({{ this.multipleSelection.length }})
              </el-button>
            </el-tooltip>

            <el-button @click="toggleSelection()"
              >Effacer la sélection</el-button
            >
          </div>
          <el-table
            v-if="lire"
            ref="multipleTable"
            :data="tableData"
            v-loading="loadingTable"
            @selection-change="handleSelectionChange"
            :header-cell-style="tableHeaderColor"
            style="width: 100%"
          >
            <el-table-column type="selection" width="30"> </el-table-column>
            <el-table-column label="Date" width="150">
              <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span style="margin-left: 10px"
                  >{{
                    new Date(scope.row.createdAt.seconds * 1000)
                      | moment("Do MMMM YYYY")
                  }}
                </span>
              </template>
            </el-table-column>
            <el-table-column label="Role" width="150">
              <template slot-scope="scope">
                <div slot="reference" class="name-wrapper">
                  <el-tag size="medium">{{ scope.row.titre }}</el-tag>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Description" width="400">
              <template slot-scope="scope">
                <p>{{ scope.row.desc }}</p>
              </template>
            </el-table-column>

            <el-table-column
              v-if="ecrire"
              fixed="right"
              label="Opérations"
              width="120"
            >
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  icon="el-icon-delete"
                  type="danger"
                  @click="deleteElement(scope.row.id)"
                ></el-button>
              </template>
            </el-table-column>
            <el-table-column
              v-if="ecrire"
              fixed="right"
              label="Permissions"
              width="150"
            >
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  icon="el-icon-edit"
                  @click="loadModalPermUpdate(scope.row)"
                ></el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <!-- <el-tab-pane name="liste">
                        <div slot="label">
                            <span ><i class="el-icon-tickets"></i>Liste rôles</span>
                        </div>
                       
                            <h1>Liste UD</h1>                
                                            
                                              
                    </el-tab-pane> -->

        <!-- <li v-if="this.perms=='ecrire'" class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" href="#ajouter">
                        <span><i class="fas fa-plus"></i></span>
                        <span class="hidden-xs-down">Ajouter une entrée</span>
                    </a>
                </li>
                                   
                <li class="nav-item" >
                    <a  :class="this.perms=='lire' ? 'nav-link active': 'nav-link'" data-toggle="tab" role="tab" href="#liste">
                        <span><i class="fas fa-table"></i></span>
                        <span class="hidden-xs-down">Liste des entrées</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"  @click="calendrier()" href="#calendrier">
                        <span><i class="ti-wallet"></i></span>
                        <span class="hidden-xs-down">Vue calendrier</span>
                    </a>
                </li> -->
      </el-tabs>

      <el-dialog
        v-if="ecrire"
        title="Ajouter un rôle"
        :visible.sync="dialogVisible"
        width="30%"
      >
        <div class="input-group mb-1 mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Rôle</span>
          </div>
          <input v-model="role.titre" class="form-control" type="text" />
        </div>
        <textarea
          v-model="role.desc"
          id="description"
          rows="5"
          class="form-control"
          placeholder="Description"
        ></textarea>
        <el-collapse accordion>
          <el-collapse-item name="admin">
            <template slot="title">
              <i class="mdi mdi-monitor icon"></i> MODULE ADMIN
            </template>
            <div class="block">
              <div class="form-group">
                <div class="table-responsive">
                  <table class="table editable-table">
                    <tbody>
                      <tr
                        v-for="(perms, keyperms) in permissionIncubateur.liste"
                        :value="perms.libelle"
                        :key="keyperms"
                      >
                        <td>
                          <el-checkbox v-model="perms.checked">{{
                            perms.libelle
                          }}</el-checkbox>
                          <!-- Material checked -->
                          <div v-if="perms.checked">
                            <div
                              v-for="(item, key) in perms.content"
                              :key="key"
                              class="form-check"
                            >
                              <el-row>
                                <el-col :span="12"
                                  ><div class="grid-content">
                                    <el-checkbox v-model="item.checked">{{
                                      item.libelle
                                    }}</el-checkbox>
                                  </div></el-col
                                >
                                <el-col :span="12"
                                  ><div class="grid-content">
                                    <el-select
                                      multiple
                                      v-if="item.checked"
                                      v-model="item.value"
                                      class="permSelect"
                                      size="mini"
                                      placeholder="droits"
                                    >
                                      <el-option
                                        v-for="itemop in item.options"
                                        :key="itemop.value"
                                        :label="itemop.label"
                                        :value="itemop.value"
                                      >
                                      </el-option>
                                    </el-select></div
                                ></el-col>
                              </el-row>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <sapn>Prévisualisation du menu </sapn>
              <el-menu default-active="2" class="el-menu-vertical-demo">
                <router-link
                  v-for="(item, index) in menuLevel1Admin"
                  :key="index"
                  :to="{ name: item.route }"
                >
                  <el-menu-item :index="index">
                    <i :class="item.icon"></i>
                    <span>{{ item.libelle }}</span>
                  </el-menu-item>
                </router-link>
                <el-submenu
                  v-for="(item, index) in menuLevel2Admin"
                  :key="index"
                  :index="index"
                >
                  <template slot="title">
                    <i :class="item.icon"></i>
                    <span>{{ item.libelle }}</span>
                  </template>

                  <router-link
                    v-for="(itemlevel2, indexlevel2) in item.content"
                    :key="indexlevel2"
                    :to="{ name: itemlevel2.route }"
                  >
                    <el-menu-item
                      v-if="itemlevel2.checked"
                      :index="index + '-' + indexlevel2"
                      >{{ itemlevel2.libelle }}</el-menu-item
                    >
                  </router-link>
                </el-submenu>

                <!-- <el-submenu index="3">
                            <template slot="title">
                            <i class="el-icon-setting"></i>
                            <span>Parametres</span>
                            </template>
                            <el-submenu index="3-1">
                            <template slot="title">Membres</template>
                            <router-link  :to="{name:'setting-members-user'}">
                            <el-menu-item  index="3-1-1">
                                Créer
                                </el-menu-item>
                                </router-link>
        
                                <router-link  :to="{name:'setting-members-role'}">
                                <el-menu-item index="3-1-2">
                                Rôles
                                </el-menu-item>
                                </router-link>
           
          
                            </el-submenu>
                        </el-submenu> -->
              </el-menu>
            </div>
          </el-collapse-item>
          <el-collapse-item name="executiveSumary">
            <template slot="title">
              <i class="mdi mdi-format-line-weight icon"></i>RESUME OPERATIONNEL
            </template>
            <div class="block">
              <div class="form-group">
                <el-checkbox v-model="permissionExecutiveSummary.state"
                  >Formulaire de création de projets</el-checkbox
                >
              </div>
            </div>
          </el-collapse-item>
          <el-collapse-item name="bpFinancier">
            <template slot="title">
              <i class="mdi mdi-cash-multiple icon"></i>BUSINESS PLAN FINANCIER
            </template>
            <div class="block">
              <div class="form-group">
                <label>Permissions <span class="text-danger"></span>:</label>
                <div class="table-responsive">
                  <table class="table editable-table">
                    <tbody>
                      <tr
                        v-for="(perms, keyperms) in permissionBpFinanicer.liste"
                        :value="perms.libelle"
                        :key="keyperms"
                      >
                        <td>
                          <el-checkbox v-model="perms.checked">{{
                            perms.libelle
                          }}</el-checkbox>
                          <!-- Material checked -->
                          <div v-if="perms.checked">
                            <div
                              v-for="(item, key) in perms.content"
                              :key="key"
                              class="form-check"
                            >
                              <el-row>
                                <el-col :span="12"
                                  ><div class="grid-content">
                                    <el-checkbox v-model="item.checked">{{
                                      item.libelle
                                    }}</el-checkbox>
                                  </div></el-col
                                >
                                <el-col :span="12"
                                  ><div class="grid-content">
                                    <el-select
                                      multiple
                                      v-if="item.checked"
                                      v-model="item.value"
                                      class="permSelect"
                                      size="mini"
                                      placeholder="droits"
                                    >
                                      <el-option
                                        v-for="itemop in item.options"
                                        :key="itemop.value"
                                        :label="itemop.label"
                                        :value="itemop.value"
                                      >
                                      </el-option>
                                    </el-select></div
                                ></el-col>
                              </el-row>
                            </div>
                            <div
                              v-for="(itemlevel3, key3) in item"
                              :key="key3"
                              class="form-check"
                            >
                              <el-checkbox v-model="itemlevel3.checked">{{
                                itemlevel3.libelle
                              }}</el-checkbox>
                              <el-select
                                multiple
                                v-if="itemlevel3.checked"
                                class="permSelect"
                                size="mini"
                                v-model="itemlevel3.value"
                                placeholder="droits"
                              >
                                <el-option
                                  v-for="itemop in itemlevel3.options"
                                  :key="itemop.value"
                                  :label="itemop.label"
                                  :value="itemop.value"
                                >
                                </el-option>
                              </el-select>
                              <el-select
                                multiple
                                v-else
                                class="permSelect"
                                size="mini"
                                disabled
                                v-model="itemlevel3.value"
                                placeholder="droits"
                              >
                                <el-option
                                  v-for="itemop in itemlevel3.options"
                                  :key="itemop.value"
                                  :label="itemop.label"
                                  :value="itemop.value"
                                >
                                </el-option>
                              </el-select>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <span>Prévisualisation du menu </span>
              <el-menu
                default-active="2"
                class="el-menu-vertical-demo"
                background-color="#242a33"
                text-color="#fff"
                active-text-color="#ffd04b"
              >
                <router-link
                  v-for="(item, index) in menuLevel1Bp"
                  :key="index"
                  :to="{ name: item.route }"
                >
                  <el-menu-item :index="index">
                    <i :class="item.icon"></i>
                    <span>{{ item.libelle }}</span>
                  </el-menu-item>
                </router-link>
                <el-submenu
                  v-for="(item, index) in menuLevel2Bp"
                  :key="index"
                  :index="index"
                >
                  <template slot="title">
                    <i :class="item.icon"></i>
                    <span>{{ item.libelle }}</span>
                  </template>

                  <router-link
                    v-for="(itemlevel2, indexlevel2) in item.content"
                    :key="indexlevel2"
                    :to="{ name: itemlevel2.route }"
                  >
                    <el-menu-item
                      v-if="itemlevel2.checked"
                      :index="index + '-' + indexlevel2"
                      >{{ itemlevel2.libelle }}</el-menu-item
                    >
                  </router-link>
                </el-submenu>

                <!-- <el-submenu index="3">
                                <template slot="title">
                                <i class="el-icon-setting"></i>
                                <span>Parametres</span>
                                </template>
                                <el-submenu index="3-1">
                                <template slot="title">Membres</template>
                                <router-link  :to="{name:'setting-members-user'}">
                                <el-menu-item  index="3-1-1">
                                    Créer
                                    </el-menu-item>
                                    </router-link>
        
                                    <router-link  :to="{name:'setting-members-role'}">
                                    <el-menu-item index="3-1-2">
                                    Rôles
                                    </el-menu-item>
                                    </router-link>
           
          
                                </el-submenu>
                            </el-submenu> -->
              </el-menu>
            </div>
          </el-collapse-item>
          <el-collapse-item name="suivi">
            <template slot="title">
              <i class="mdi mdi-monitor-multiple icon"></i>SUIVI
            </template>
            <div class="block">
              <div class="form-group">
                <label>Permissions <span class="text-danger"></span>:</label>
                <div class="table-responsive">
                  <table class="table editable-table">
                    <tbody>
                      <tr
                        v-for="(perms, keyperms) in permissionSuivi.liste"
                        :value="perms.libelle"
                        :key="keyperms"
                      >
                        <td>
                          <el-checkbox v-model="perms.checked">{{
                            perms.libelle
                          }}</el-checkbox>
                          <!-- Material checked -->
                          <div v-if="perms.checked">
                            <div
                              v-for="(item, key) in perms.content"
                              :key="key"
                              class="form-check"
                            >
                              <el-row>
                                <el-col :span="12"
                                  ><div class="grid-content">
                                    <el-checkbox v-model="item.checked">{{
                                      item.libelle
                                    }}</el-checkbox>
                                  </div></el-col
                                >
                                <el-col :span="12"
                                  ><div class="grid-content">
                                    <el-select
                                      multiple
                                      v-if="item.checked"
                                      v-model="item.value"
                                      class="permSelect"
                                      size="mini"
                                      placeholder="droits"
                                    >
                                      <el-option
                                        v-for="itemop in item.options"
                                        :key="itemop.value"
                                        :label="itemop.label"
                                        :value="itemop.value"
                                      >
                                      </el-option>
                                    </el-select></div
                                ></el-col>
                              </el-row>
                            </div>
                            <div
                              v-for="(itemlevel3, key3) in item"
                              :key="key3"
                              class="form-check"
                            >
                              <el-checkbox v-model="itemlevel3.checked">{{
                                itemlevel3.libelle
                              }}</el-checkbox>
                              <el-select
                                v-model="itemlevel3.value"
                                placeholder="droits"
                              >
                                <el-option
                                  v-for="itemop in itemlevel3.options"
                                  :key="itemop.value"
                                  :label="itemop.label"
                                  :value="itemop.value"
                                >
                                </el-option>
                              </el-select>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <span>Prévisualisation du menu </span>
              <el-menu
                default-active="2"
                class="el-menu-vertical-demo"
                background-color="#242a33"
                text-color="#fff"
                active-text-color="#ffd04b"
              >
                <router-link
                  v-for="(item, index) in menuLevel1Suivi"
                  :key="index"
                  :to="{ name: item.route }"
                >
                  <el-menu-item :index="index">
                    <i :class="item.icon"></i>
                    <span>{{ item.libelle }}</span>
                  </el-menu-item>
                </router-link>
                <el-submenu
                  v-for="(item, index) in menuLevel2Suivi"
                  :key="index"
                  :index="index"
                >
                  <template slot="title">
                    <i :class="item.icon"></i>
                    <span>{{ item.libelle }}</span>
                  </template>

                  <router-link
                    v-for="(itemlevel2, indexlevel2) in item.content"
                    :key="indexlevel2"
                    :to="{ name: itemlevel2.route }"
                  >
                    <el-menu-item
                      v-if="itemlevel2.checked"
                      :index="index + '-' + indexlevel2"
                      >{{ itemlevel2.libelle }}</el-menu-item
                    >
                  </router-link>
                </el-submenu>

                <!-- <el-submenu index="3">
                                <template slot="title">
                                <i class="el-icon-setting"></i>
                                <span>Parametres</span>
                                </template>
                                <el-submenu index="3-1">
                                <template slot="title">Membres</template>
                                <router-link  :to="{name:'setting-members-user'}">
                                <el-menu-item  index="3-1-1">
                                    Créer
                                    </el-menu-item>
                                    </router-link>
        
                                    <router-link  :to="{name:'setting-members-role'}">
                                    <el-menu-item index="3-1-2">
                                    Rôles
                                    </el-menu-item>
                                    </router-link>
           
          
                                </el-submenu>
                            </el-submenu> -->
              </el-menu>
            </div>
          </el-collapse-item>
        </el-collapse>

        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">Fermer</el-button>
          <el-button
            type="primary"
            v-if="this.roleId != ''"
            :loading="loadingSavePerm"
            @click="updateRole()"
            >Mise à jour</el-button
          >
          <el-button
            type="primary"
            v-else
            :loading="loadingSavePerm"
            @click="saveRole()"
            >Enregister</el-button
          >
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import helper from "../../../../services/helper";

export default {
  components: {},
  mixin: [helper],
  name: "typeClient",
  data() {
    return {
      perms: firebase.firestore().collection("permissions"),
      roles: firebase.firestore().collection("roles"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      activeName: "ajouter",
      tableData: [],
      permissionExecutiveSummary: {
        state: false,
      },
      recherche: "",
      ecrire: false,
      lire: false,
      loadingSavePerm: false,
      loadingTable: false,
      multipleSelection: [],
      dialogVisible: false,
      roleId: "",
      permissionIncubateur: {
        liste: [
          {
            libelle: "Tableau de bord",
            icon: "el-icon-menu",
            checked: false,
            route: "admin-concours",
            write: false,
            haschildren: false,
          },
          {
            libelle: "Concours",
            icon: "el-icon-s-opportunity",
            checked: false,
            haschildren: true,
            content: [
              {
                libelle: "Créer",
                write: false,
                checked: false,
                route: "admin-concours",
                icon: "",
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Participants",
                route: "admin-concours-participants",
                icon: "",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Projets",
                route: "admin-concours-projets",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "Projets",
            icon: "el-icon-s-platform",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Créer",
                route: "admin-projets-créer",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Liste",
                route: "admin-projets-liste",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "Modules",
            icon: "mdi mdi-puzzle",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Resumé opérationnel",
                route: "resume-opp",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Bpfinancier",
                route: "admin-projets-liste",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Suivi",
                route: "admin-projets-liste",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },

          {
            libelle: "Parametres",
            icon: "el-icon-setting",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Rôles",
                route: "setting-members-role",
                image: "",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Utilisateurs",
                route: "setting-members-user",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
        ],
        role: "",
        quotaConcours: 100,
      },
      permissionBpFinanicer: {
        liste: [
          {
            libelle: "Tableau de bord",
            icon: "el-icon-menu",
            checked: false,
            route: "dashboardFinancier",
            write: false,
            haschildren: false,
          },
          {
            libelle: "Données (TTC)",
            icon: "mdi mdi-database iconMenu",
            checked: false,
            haschildren: true,
            content: [
              {
                libelle: "Besoins",
                write: false,
                checked: false,
                route: "besoins",
                icon: "",
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Ressources",
                route: "ressources",
                icon: "",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Produits",
                route: "produits",
                icon: "",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Charges",
                route: "charges",
                icon: "",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "Etats Financiers",
            icon: "mdi mdi-view-sequential icon",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Plan de financement",
                route: "planFinancement",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Compte de résultats",
                route: "compteResultat",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Trésorerie de lancement",
                route: "planTresorerie",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Besoins en fonds de roulement",
                route: "bfr",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Seuil de rentabilité",
                route: "seuilRentabilite",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Bilan prévisionnel",
                route: "bilanPrevisionnel",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Soldes intermediaires de gestion",
                route: "soldeIntermediaireGestion",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Echeancier de prêts bancaires",
                route: "echeancierPretBancaire",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Détails des amortissements",
                route: "amortissements",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },

          {
            libelle: "Parametres",
            icon: "el-icon-setting",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Impot sociétal",
                route: "none",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },

              {
                libelle: "TVA",
                route: "none",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Devises",
                route: "none",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Années",
                route: "none",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
        ],
        role: "",
      },
      permissionSuivi: {
        liste: [
          {
            libelle: "Tableau de bord",
            icon: "el-icon-menu",
            checked: false,
            route: "suivi-dashboard",
            write: false,
            haschildren: false,
          },
          {
            libelle: "Finance",
            icon: "mdi mdi-cash-multiple iconMenu",
            checked: false,
            haschildren: true,
            content: [
              {
                libelle: "Recettes",
                write: false,
                checked: false,
                route: "suivi-recettes",
                icon: "",
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Dépenses",
                route: "suivi-depenses",
                icon: "",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Soldes",
                route: "suivi-soldes",
                icon: "suivi-soldes",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "TACHES",
            icon: "mdi mdi-calendar icon",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Créer",
                route: "suivi-taches",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Kanban",
                route: "suivi-kanban",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "Devis",
            icon: "mdi mdi-view-sequential icon",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Devis",
                route: "Devis",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "Execution du Bp",
            icon: "mdi mdi-playlist-check icon",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Bp exécutif",
                route: "suivi-execution-financier",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },

          {
            libelle: "Acteurs",
            icon: "mdi mdi-account-multiple icon",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Clients",
                route: "suivi-acteurs-clients",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Fournisseurs",
                route: "planFinancement",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "Fiscalité",
            icon: "mdi mdi-bank icon",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Créer",
                route: "planFinancement",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "Parametres",
            icon: "el-icon-setting",
            checked: false,
            haschildren: true,

            content: [
              {
                libelle: "Formulaire",
                route: "none",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },

              {
                libelle: "Membres",
                route: "none",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "produits",
                route: "none",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Pays",
                route: "suivi-pays",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Workflow",
                route: "none",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Devis",
                route: "suivi-nouveau-devis",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
        ],
        role: "",
      },

      permission: {
        quotaProjets: "",
        liste: [
          {
            libelle: "FINANCE",
            icon: "mdi mdi-currency-eur",
            checked: false,
            content: [
              {
                libelle: "Recettes",
                write: false,
                checked: false,
                path: "/bp/suivi/recettes",
                icon: "",
                image: "/bp/assets/images/menusuivi/entree.png",
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Dépenses",
                path: "/bp/suivi/depenses",
                icon: "",
                image: "/bp/assets/images/menusuivi/depense.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Soldes",
                path: "/bp/suivi/soldes",
                icon: "",
                image: "/bp/assets/images/menusuivi/soldes.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "TACHE",
            icon: "mdi mdi-calendar",
            checked: false,

            content: [
              {
                libelle: "Taches",
                path: "/bp/suivi/taches",
                icon: "mdi mdi-table-edit icon-white",
                image: "/bp/assets/images/menusuivi/taches.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Calendrier",
                icon: "mdi mdi-calendar-blank icon-white",
                image: "/bp/assets/images/menusuivi/calendrier.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Feuille de route",
                icon: "mdi mdi-book-open-page-variant icon-white",
                image: "/bp/assets/images/menusuivi/feuillederoute.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Kanban",
                path: "/bp/suivi/kanban",
                icon: "mdi mdi-book-open-page-variant icon-white",
                image: "/bp/assets/images/menusuivi/kanban.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "COMMUNICATION",
            icon: "mdi mdi-table",
            checked: false,

            content: [
              {
                libelle: "Rendez-vous",
                icon: "mdi mdi-book icon-white",
                image: "/bp/assets/images/menusuivi/calendrier.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Alertes",
                icon: "mdi mdi-bell icon-white",
                image: "/bp/assets/images/menusuivi/alertes.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Messages",
                icon: "mdi mdi-message icon-white",
                image: "/bp/assets/images/menusuivi/messages.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "ACTEURS",
            icon: "mdi mdi-account-multiple",
            checked: false,

            content: [
              {
                libelle: "Clients",
                path: "/bp/suivi/acteurs/clients",
                icon: "mdi mdi-message icon-white",
                image: "/bp/assets/images/menusuivi/clients.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Fournisseurs",
                path: "/bp/suivi/acteurs/fournisseurs",
                icon: "mdi mdi-bank icon-white",
                image: "/bp/assets/images/menusuivi/fournisseurs.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "FISCALITE",
            icon: "fas fa-balance-scale",
            checked: false,

            content: [
              {
                libelle: "Fiscalite",
                path: "/bp/suivi/acteurs/fiscalite",
                icon: "mdi mdi-bank icon-white",
                image: "/bp/assets/images/menusuivi/fiscalites.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
          {
            libelle: "PARAMETRES",
            icon: "mdi mdi-settings",
            checked: false,

            content: [
              {
                libelle: "Formulaires",
                checked: false,
                path: "/bp/suivi/parametres/formulaire",
                icon: "mdi mdi-book icon-white",
                image: "/bp/assets/images/menusuivi/formulaires.png",

                content: [
                  {
                    libelle: "Produits",
                    path: "/bp/suivi/parametres/produits",
                    icon: "mdi mdi-book icon-white",
                    image: "",
                    write: false,
                    checked: false,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Recettes",
                    path: "/bp/suivi/parametres/formulaires/recettes",
                    icon: "mdi mdi-bank icon-white",
                    image: "",
                    write: false,
                    checked: false,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Dépenses",
                    path: "/bp/suivi/parametres/formulaires/depenses",
                    icon: "mdi mdi-bank icon-white",
                    image: "",
                    write: false,
                    checked: false,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Taches",
                    path: "/bp/suivi/parametres/taches",
                    icon: "mdi mdi-table-edit icon-white",
                    image: "/bp/assets/images/menusuivi/tache.png",
                    write: false,
                    checked: false,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Clients",
                    path: "/bp/suivi/parametres/formulaires/clients",
                    icon: "mdi mdi-message icon-white",
                    image: "",
                    write: false,
                    checked: false,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Fournisseurs",
                    path: "/bp/suivi/parametres/fournisseurs",
                    icon: "mdi mdi-bank icon-white",
                    image: "",
                    write: false,
                    checked: false,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Fiscalite",
                    path: "/bp/suivi/parametres/fiscalite",
                    icon: "mdi mdi-bank icon-white",
                    image: "",
                    write: false,
                    checked: false,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                ],
              },
              {
                libelle: "Membres",
                checked: false,
                path: "/bp/suivi/parametres/fiscalite",
                icon: "mdi mdi-account-multiple icon-white",
                image: "/bp/assets/images/menusuivi/membres.png",

                content: [
                  {
                    libelle: "Fonctions",
                    path: "/bp/suivi/acteurs/roles",
                    icon: "mdi mdi-bell icon-white",
                    image: "",
                    write: false,
                    checked: false,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                  {
                    libelle: "Equipe",
                    path: "/bp/suivi/acteurs/membres",
                    icon: "mdi mdi-account-plus icon-white",
                    image: "/bp/assets/images/menusuivi/membres.png",
                    write: false,
                    checked: false,
                    options: [
                      {
                        value: "lire",
                        label: "Lire",
                      },
                      {
                        value: "ecrire",
                        label: "Ecrire",
                      },
                    ],
                    value: "ecrire",
                  },
                ],
              },
              {
                libelle: "Produits",
                path: "/bp/suivi/produits",
                icon: "mdi mdi-book icon-white",
                image: "/bp/assets/images/menusuivi/produits.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Pays",
                path: "/bp/suivi/pays",
                icon: "fas fa-flag icon-white",
                image: "/bp/assets/images/menusuivi/pays.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
              {
                libelle: "Workflow",
                path: "/bp/suivi/taches/workflow",
                icon: "fas fa-flag icon-white",
                image: "/bp/assets/images/menusuivi/workflow.png",
                write: false,
                checked: false,
                options: [
                  {
                    value: "lire",
                    label: "Lire",
                  },
                  {
                    value: "ecrire",
                    label: "Ecrire",
                  },
                ],
                value: "ecrire",
              },
            ],
          },
        ],
        role: "",
      },

      role: {
        titre: "",
        desc: "",
        projet: "",
        createdAt: firebase.firestore.FieldValue.serverTimestamp(),
        permissions: {
          executiveSummary: {
            state: false,
          },
        },
      },
    };
  },
  computed: {
    menuLevel1Admin: function () {
      return this.permissionIncubateur.liste.filter(
        (i) => i.haschildren == false && i.checked
      );
    },
    menuLevel2Admin: function () {
      return this.permissionIncubateur.liste.filter(
        (i) => i.haschildren && i.checked
      );
    },
    menuLevel1Bp: function () {
      return this.permissionBpFinanicer.liste.filter(
        (i) => i.haschildren == false && i.checked
      );
    },
    menuLevel2Bp: function () {
      return this.permissionBpFinanicer.liste.filter(
        (i) => i.haschildren && i.checked
      );
    },
    menuLevel1Suivi: function () {
      return this.permissionSuivi.liste.filter(
        (i) => i.haschildren == false && i.checked
      );
    },
    menuLevel2Suivi: function () {
      return this.permissionSuivi.liste.filter(
        (i) => i.haschildren && i.checked
      );
    },
  },
  created() {
    this.$route.params.data.forEach((item) => {
      if (item == "lire") {
        this.lire = true;
      }
      if (item == "ecrire") {
        this.ecrire = true;
      }
    });
    this.$loading().close();
  },
  methods: {
    onSubmit() {
      let loader = Vue.$loading.show();
      this.docref
        .add(this.role)
        .then((role) => {
          const db = firebase.firestore();
          let userSession = JSON.parse(localStorage.getItem("userSession"));
          let projetid = userSession.projet;
          db.collection("roles").doc(role.id).update({
            projet: projetid,
          });

          this.ref
            .add(this.permission)
            .then((permission) => {
              this.isLoading = false;
              //console.log(tache.id);
              db.collection("permissions").doc(permission.id).update({
                role: role.id,
              });
              loader.hide();

              Swal.fire({
                title: "Enregistrement Réussi",
                text: "Votre role a été enregistré avec succès!",
                type: "success",
                showCancelButton: false,
                confirmButtonText: "OK",
              });
              //storyRef.update({ id: increment });
            })
            .catch(function (error) {
              loader.hide();
              Swal.fire("Oops...", "Erreur!", "error");
            });
        })
        .catch(function (error) {
          loader.hide();
          Swal.fire("Oops...", "Erreur!", "error");
        });
    },
    addNewRowVisionCourt() {
      this.permissions.liste.push({
        libelle: "",
      });
    },
    handleTabClick(tab, event) {
      switch (this.activeName) {
        case "ajouter":
          alert("Hello");
          break;
      }
    },
    deleteRowVisionCourt(index, perm) {
      var idx = this.permission.liste.indexOf(perm);
      if (idx > -1) {
        Swal.fire({
          title: "Attention",
          text: "Vous ne pourrez pas revenir en arrière !",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "je confirme",
          cancelButtonText: "j'annule",
        }).then((result) => {
          if (result.value) {
            this.permission.liste.splice(idx, 1);
          }
        });
      }
    },
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #F5F7FA;;color: #606266;font-weight: 800;";
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },

    getRoles(adminId = this.currentUId) {
      //FIREBASE GET RECETTES

      // let loader = Vue.$loading.show();

      this.roles.where("userId", "==", adminId).onSnapshot((querySnapshot) => {
        this.tableData = [];
        querySnapshot.forEach((doc) => {
          let obj = doc.data();
          // console.log(obj);
          obj.id = doc.id;
          this.tableData.push(obj);
        });
        // loader.hide();
      });
      //
    },
    async saveRole() {
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        this.currentUId = await JSON.parse(localStorage.getItem("userSession"))
          .adminId;
      }
      this.loadingSavePerm = true;
      this.role.permissions.admin = this.permissionIncubateur.liste;
      this.role.permissions.quotaProjets = this.permission.quotaProjets;
      this.role.permissions.bpFinancier = this.permissionBpFinanicer.liste;
      this.role.permissions.executiveSummary.state =
        this.permissionExecutiveSummary.state;
      this.role.permissions.suivi = this.permissionSuivi.liste;
      this.role.userId = this.currentUId;
      this.roles
        .add(this.role)
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "Permission enregistrée avec succès",
            type: "success",
          });
          (this.loadingSavePerm = false), (this.dialogVisible = false);
        })
        .catch(() => {
          this.loadingSavePerm = false;
          this.$notify.error({
            title: "Error",
            message: "Erreur lors de l'enregistrement",
          });
        });
    },
    async updateRole() {
      this.loadingSavePerm = true;
      this.role.permissions.admin = this.permissionIncubateur.liste;
      this.role.permissions.bpFinancier = this.permissionBpFinanicer.liste;
      this.role.permissions.suivi = this.permissionSuivi.liste;
      this.role.permissions.executiveSummary.state =
        this.permissionExecutiveSummary.state;
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        this.role.userId = await JSON.parse(localStorage.getItem("userSession"))
          .adminId;
      } else {
        this.role.userId = this.currentUId;
      }

      this.roles
        .doc(this.roleId)
        .set(this.role)
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "Mise à jour  effectuée avec succès",
            type: "success",
          });
          (this.loadingSavePerm = false), (this.dialogVisible = false);
        })
        .catch(() => {
          this.loadingSavePerm = false;
          this.$notify.error({
            title: "Error",
            message: "Erreur lors de la mise à jour",
          });
        });
    },
    async loadModalPerm(adminId = this.currentUId) {
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        adminId = await JSON.parse(localStorage.getItem("userSession")).adminId;
      }
      this.roleId = "";
      this.perms
        .doc(adminId)
        .get()
        .then((doc) => {
          if (doc.exists) {
            if (doc.data().admin) {
              (this.permissionIncubateur.liste = []),
                doc.data().admin.forEach((item) => {
                  if (item.checked) {
                    this.permissionIncubateur.liste.push(item);
                  }
                });
            }

            if (doc.data().bpFinancier) {
              (this.permissionBpFinanicer.liste = []),
                doc.data().bpFinancier.forEach((item) => {
                  if (item.checked) {
                    this.permissionBpFinanicer.liste.push(item);
                  }
                });
            }
            if (doc.data().executiveSummary) {
              this.permissionExecutiveSummary.state =
                doc.data().executiveSummary.state;
            }
            if (doc.data().quotaProjets) {
              this.permission.quotaProjets = doc.data().quotaProjets;
            }

            if (doc.data().suivi) {
              (this.permissionSuivi.liste = []),
                doc.data().suivi.forEach((item) => {
                  if (item.checked) {
                    this.permissionSuivi.liste.push(item);
                  }
                });
            }

            this.dialogVisible = true;
          } else {
            this.dialogVisible = false;
            this.$notify.error({
              title: "Error",
              message: "Erreur permissions",
            });
          }
        }).catch;
    },

    async loadModalPermUpdate(data, adminId = this.currentUId) {
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        adminId = await JSON.parse(localStorage.getItem("userSession")).adminId;
      }
      this.roleId = data.id;
      this.role.titre = data.titre;
      this.role.desc = data.desc;
      this.perms
        .doc(adminId)
        .get()
        .then((doc) => {
          if (doc.exists) {
            if (data.permissions.admin) {
              (this.permissionIncubateur.liste = []),
                data.permissions.admin.forEach((item) => {
                  this.permissionIncubateur.liste.push(item);
                });
            }
            if (doc.data().executiveSummary) {
              this.permissionExecutiveSummary.state =
                doc.data().executiveSummary.state;
            }
            if (data.permissions.bpFinancier) {
              (this.permissionBpFinanicer.liste = []),
                data.permissions.bpFinancier.forEach((item) => {
                  this.permissionBpFinanicer.liste.push(item);
                });
            }

            if (data.permissions.suivi) {
              (this.permissionSuivi.liste = []),
                data.permissions.suivi.forEach((item) => {
                  this.permissionSuivi.liste.push(item);
                });
            }

            this.dialogVisible = true;
          } else {
            this.dialogVisible = false;
            this.$notify.error({
              title: "Error",
              message: "Erreur permissions",
            });
          }
        }).catch;
    },
    deleteElement(id) {
      // console.log(id);
      Swal.fire({
        title: "Êtes-vous sûr?",
        text: "Cette action est irréversible!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Annuler",
        confirmButtonText: "Oui!",
      }).then((result) => {
        if (result.value) {
          // let loader = Vue.$loading.show();
          firebase.firestore().collection("roles").doc(id).delete();
          if (JSON.parse(localStorage.getItem("userSession")).adminId) {
            this.getRoles(
              JSON.parse(localStorage.getItem("userSession")).adminId
            );
          } else {
            this.getRoles();
          }

          loader.hide();
        }
      });
    },
    deleteMultiple() {
      Swal.fire({
        title: "Êtes-vous sûr?",
        text: "Cette action est irréversible!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Annuler",
        confirmButtonText: "Oui!",
      }).then((result) => {
        if (result.value) {
          // let loader = Vue.$loading.show();
          this.multipleSelection.forEach((item) => {
            firebase.firestore().collection("roles").doc(item.id).delete();
          });
          if (JSON.parse(localStorage.getItem("userSession")).adminId) {
            this.getRoles(
              JSON.parse(localStorage.getItem("userSession")).adminId
            );
          } else {
            this.getRoles();
          }
          this.$notify({
            title: "Succès",
            message: "Suppréssion réussie",
            type: "success",
          });
        }
      });
    },
  },
  mounted() {
    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.getRoles(JSON.parse(localStorage.getItem("userSession")).adminId);
    } else {
      this.getRoles();
    }
  },
};
</script>
<style scoped>
.nav-link.show.active i,
.nav-link.active i {
  color: #61b174;
}
span.stepTitle.active {
  color: #67757c !important;
  font-weight: 500 !important;
}
.nav-link {
  font-weight: normal;
  text-transform: normal;
  color: #67757c;
  height: 100%;
}
.nav-pills > li.nav-item {
  display: block;
  width: 50%;
  text-align: center;
}
.nav-pills > li.nav-item a {
  margin: 1px auto;
  padding: 1px 0px;
  border-radius: 2px;
  font-size: 0.9rem;
  background-color: #c8cacd;
  height: 100%;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #61b174;
}
.card-body {
  padding: 0px 5px;
  background-color: #d0e6ed !important;
}
.nav.nav-tabs.customtab li a {
  text-align: center;
  padding: 5px 10px;
}
.nav.nav-tabs.customtab li a.active {
  background-color: #0080003b;
  border-bottom-color: #f32b2bcc;
}
.nav.nav-tabs.customtab li {
  width: 50%;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}
.input-group-text {
  /* width: 150px; */
  background-color: #398bf7;
  color: #ffffff;
}
.input-group-montant {
  width: 125px !important;
}

.fieldset {
  border: 1px solid #ffffff !important;
  padding: 0 0.4em 0 0.4em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.row-fieldset {
  border: 1px solid #ced4da !important;
  padding: 0 0.2em 0 0.2em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.permission {
  min-width: 0;
  width: 120px;
  height: 20px;
  align-content: right;
}
.icon {
  padding-right: 10px;
  font-size: 20px;
}
.iconMenu {
  padding-right: 15px;
}
.permSelect {
  width: 200px;
  float: right;
}
.bg-purple-dark {
  background: #99a9bf;
}
.right {
  float: right;
}
.el-row {
  margin-bottom: 10px;
}
</style>
