<template>
  <div class="page-wrapper pl-3">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->

    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Membres</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link :to="{ name: 'suivi-home' }">Accueil</router-link>
            </li>
            <li class="breadcrumb-item">
              <a href="bp/suivi"> Paramètres</a>
            </li>
            <li class="breadcrumb-item">Membres</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body" style="background-color: #fff !important">
              <div class="tab-content" style="padding: 15px">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-xs-right m-b-10">
                      <el-button
                        v-if="ecrire"
                        @click="dialogVisible = true"
                        type="primary"
                      >
                        <i class="fa fa-plus"></i> Ajouter un Membre
                      </el-button>
                    </div>
                    <div
                      class="mt-5 mb-3"
                      style="display: inline-block; width: 50%; float: left"
                    >
                      <el-input
                        v-model="recherche"
                        size="small"
                        placeholder="Rechercher"
                      />
                    </div>

                    <div
                      v-if="ecrire"
                      style="
                        margin-top: 40px;
                        margin-bottom: 20px;
                        float: right;
                      "
                    >
                      <el-tooltip
                        v-if="this.multipleSelection.length != 0"
                        class="item"
                        effect="dark"
                        content="Activer les éléments sélectionnés"
                        placement="top"
                      >
                        <el-button
                          size="mini"
                          type="success"
                          @click="MultipleswitchState(activate.desactivated)"
                          >Activer ({{ this.multipleSelection.length }})
                        </el-button>
                      </el-tooltip>
                      <el-tooltip
                        v-if="this.multipleSelection.length != 0"
                        class="item"
                        effect="dark"
                        content="Activer les éléments sélectionnés"
                        placement="top"
                      >
                        <el-button
                          size="mini"
                          type="danger"
                          @click="MultipleswitchState(activate.activated)"
                          >Désactiver ({{ this.multipleSelection.length }})
                        </el-button>
                      </el-tooltip>
                      <el-tooltip
                        v-if="this.multipleSelection.length != 0"
                        class="item"
                        effect="dark"
                        content="Supprimer les éléments sélectionnés"
                        placement="top"
                      >
                        <el-button
                          size="mini"
                          type="danger"
                          @click="deleteMultiple()"
                          >Supprimer ({{ this.multipleSelection.length }})
                        </el-button>
                      </el-tooltip>

                      <el-button size="mini" @click="toggleSelection()"
                        >Effacer la sélection</el-button
                      >
                    </div>
                    <el-table
                      v-if="lire"
                      ref="multipleTable"
                      :data="tableData"
                      :v-loading="loadingTable"
                      @selection-change="handleSelectionChange"
                      :header-cell-style="tableHeaderColor"
                      style="width: 100%"
                    >
                      <el-table-column type="selection" width="30">
                      </el-table-column>
                      <el-table-column label="Date" width="150">
                        <template slot-scope="scope">
                          <i class="el-icon-time"></i>
                          <span style="margin-left: 10px"
                            >{{
                              new Date(
                                scope.row.firstTimeConnection.seconds * 1000
                              ) | moment("Do MMMM YYYY")
                            }}
                          </span>
                        </template>
                      </el-table-column>
                      <el-table-column label="Role" width="150">
                        <template slot-scope="scope">
                          <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{
                              scope.row.roleTitre
                            }}</el-tag>
                          </div>
                        </template>
                      </el-table-column>
                      <el-table-column label="Email" width="200">
                        <template slot-scope="scope">
                          <p>{{ scope.row.email }}</p>
                        </template>
                      </el-table-column>
                      <el-table-column label="Nom" width="180">
                        <template slot-scope="scope">
                          <p>{{ scope.row.first_name }}</p>
                        </template>
                      </el-table-column>
                      <el-table-column label="Prénom" width="180">
                        <template slot-scope="scope">
                          <p>{{ scope.row.last_name }}</p>
                        </template>
                      </el-table-column>
                      <el-table-column label="Sexe" width="150">
                        <template slot-scope="scope">
                          <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.sexe }}</el-tag>
                          </div>
                        </template>
                      </el-table-column>
                      <el-table-column label="Fontion" width="150">
                        <template slot-scope="scope">
                          <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{
                              scope.row.fonction
                            }}</el-tag>
                          </div>
                        </template>
                      </el-table-column>
                      <el-table-column label="Fontion" width="150">
                        <template slot-scope="scope">
                          <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{
                              scope.row.telephone
                            }}</el-tag>
                          </div>
                        </template>
                      </el-table-column>

                      <el-table-column
                        v-if="ecrire"
                        label="Etat"
                        fixed="right"
                        width="150"
                      >
                        <template slot-scope="scope">
                          <el-button
                            v-if="scope.row.activated"
                            size="mini"
                            type="success"
                            @click="
                              switchState(scope.row.id, scope.row.activated)
                            "
                            >Actif</el-button
                          >
                          <el-button
                            v-else
                            size="mini"
                            @click="
                              switchState(scope.row.id, scope.row.activated)
                            "
                            type="danger"
                            >inactif</el-button
                          >
                        </template>
                      </el-table-column>
                      <el-table-column
                        v-if="ecrire"
                        fixed="right"
                        label="Supprimer"
                        width="120"
                      >
                        <template slot-scope="scope">
                          <el-button
                            size="mini"
                            icon="el-icon-delete"
                            type="danger"
                            @click="
                              deleteElement(
                                scope.row.id,
                                scope.row.memberId,
                                scope.row.email
                              )
                            "
                          ></el-button>
                        </template>
                      </el-table-column>
                      <el-table-column
                        v-if="ecrire"
                        fixed="right"
                        label="Rôle"
                        width="120"
                      >
                        <template slot-scope="scope">
                          <el-button
                            size="mini"
                            icon="mdi mdi-account-convert"
                            @click="
                              changeRole(
                                scope.row.id,
                                scope.row.memberId,
                                scope.row.idRole
                              )
                            "
                          ></el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </div>
                </div>
              </div>
              <div
                class="modal fade"
                ref="modalVendeur"
                id="modalVendeur"
                tabindex="-1"
                role="dialog"
              >
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Ajout Membre</h4>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" @submit="onSubmit">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row mb-1">
                              <label
                                for="example-text-input"
                                class="col-5 col-form-label p-r-0"
                              >
                                <span class="text-red">*</span> Type
                              </label>
                              <div class="col-7">
                                <select
                                  class="form-control"
                                  id="type"
                                  required
                                  v-model="vendeurs.type"
                                >
                                  <option
                                    v-for="(roles, index) in roles.liste"
                                    :value="roles.id"
                                    :key="index"
                                  >
                                    {{ roles.titre }}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">
                                <span class="text-red">*</span> Nom
                              </label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  required
                                  v-model="vendeurs.nom"
                                  type="text"
                                  id="nom"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">
                                <span class="text-red">*</span> Prénom(s)
                              </label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  required
                                  v-model="vendeurs.prenom"
                                  type="text"
                                  id="prenom"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                ><span class="text-red">*</span>E-mail</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  required
                                  v-model="vendeurs.mail"
                                  type="email"
                                  id="mail"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">
                                Représentant
                              </label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeurs.representant"
                                  type="text"
                                  id="representant"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">Age</label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeurs.age"
                                  type="text"
                                  id="age"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Téléphone 1</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeurs.tel1"
                                  type="text"
                                  id="tel1"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Téléphone 2</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeurs.tel2"
                                  type="text"
                                  id="tel2"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Adresse</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeurs.adr"
                                  type="text"
                                  id="adr"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Quartier</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeurs.quartier"
                                  type="text"
                                  id="quartier"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">Ville</label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeurs.ville"
                                  type="text"
                                  id="ville"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Code postal</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeurs.codepostal"
                                  type="text"
                                  id="codepostal"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">Pays</label>
                              <div class="col-7">
                                <select
                                  v-model="vendeurs.pays"
                                  class="form-control"
                                  id="pays"
                                >
                                  <option
                                    v-for="country in countries"
                                    :value="country.id"
                                    :key="country.id"
                                  >
                                    {{ country.nom_fr }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Note</label>
                              <vue-editor
                                id="note"
                                :editorToolbar="customToolbar"
                                v-model="vendeurs.note"
                              ></vue-editor>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <span class="mytooltip tooltip-effect-5">
                            <input
                              type="checkbox"
                              id="basic_checkbox_2"
                              v-model="saveAndContinu"
                              class="filled-in chk-col-blue"
                            />
                            <label for="basic_checkbox_2"></label>
                            <span class="tooltip-content clearfix">
                              <span class="tooltip-text p-t-1">
                                Cocher pour enregistrer plusieurs fois.
                              </span>
                            </span>
                          </span>
                          <button
                            type="submit"
                            class="btn btn-rounded btn-success"
                          >
                            Enregistrer
                          </button>
                          <button
                            type="button"
                            class="btn btn-rounded btn-danger"
                            data-dismiss="modal"
                          >
                            Fermer
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="modal fade"
                ref="modalEditVendeur"
                id="modalEditVendeur"
                tabindex="-1"
                role="dialog"
              >
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Modification d'un Vendeur</h4>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" @submit="onUpdate">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row mb-1">
                              <label
                                for="example-text-input"
                                class="col-5 col-form-label p-r-0"
                              >
                                <span class="text-red">*</span> Type de Vendeur
                              </label>
                              <div class="col-7">
                                <select
                                  class="form-control"
                                  id="type"
                                  v-model="vendeur.type"
                                >
                                  <option value="Particulier">
                                    Particulier
                                  </option>
                                  <option value="Entreprise">Entreprise</option>
                                </select>
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">
                                <span class="text-red">*</span> Nom
                              </label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.nom"
                                  type="text"
                                  id="nom"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">
                                <span class="text-red">*</span> Prénom(s)
                              </label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.prenom"
                                  type="text"
                                  id="prenom"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">
                                <span class="text-red">*</span> Représentant
                              </label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.representant"
                                  type="text"
                                  id="representant"
                                />
                              </div>
                            </div>

                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">Age</label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.age"
                                  type="text"
                                  id="age"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Téléphone 1</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.tel1"
                                  type="text"
                                  id="tel1"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Téléphone 2</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.tel2"
                                  type="text"
                                  id="tel2"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">Mail</label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.mail"
                                  type="email"
                                  id="mail"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Adresse</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.adr"
                                  type="text"
                                  id="adr"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Quartier</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.quartier"
                                  type="text"
                                  id="quartier"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">Ville</label>
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.ville"
                                  type="text"
                                  id="ville"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label"
                                >Code postal</label
                              >
                              <div class="col-7">
                                <input
                                  class="form-control"
                                  v-model="vendeur.codepostal"
                                  type="text"
                                  id="codepostal"
                                />
                              </div>
                            </div>
                            <div class="form-group row mb-1">
                              <label class="col-5 col-form-label">Pays</label>
                              <div class="col-7">
                                <select
                                  v-model="vendeur.pays"
                                  class="form-control"
                                  id="pays"
                                >
                                  <option
                                    v-for="country in countries"
                                    :value="country.id"
                                    :key="country.id"
                                  >
                                    {{ country.nom_fr }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Note</label>
                              <vue-editor
                                id="note"
                                :editorToolbar="customToolbar"
                                v-model="vendeur.note"
                              ></vue-editor>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-success">
                            Modifier
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                          >
                            Fermer
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <el-dialog
              v-if="ecrire"
              title="Ajouter un membre"
              :visible.sync="dialogVisible"
              width="35%"
            >
              <center><span id="check_error"></span></center>
              <div class="form-group">
                <div class="col-xs-6">
                  <el-select
                    v-model="roleType"
                    placeholder="Rôle"
                    style="width: 430px"
                  >
                    <el-option
                      v-for="(item, index) in roles.liste"
                      :key="index"
                      :label="item.titre"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <input
                    type="text"
                    name="first_name"
                    class="form-control"
                    placeholder="Nom"
                    v-model="registerForm.first_name"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <input
                    type="text"
                    name="last_name"
                    class="form-control"
                    placeholder="Prénom"
                    v-model="registerForm.last_name"
                  />
                </div>
              </div>
              <el-row :gutter="5">
                <el-col :span="12"
                  ><div class="grid-content">
                    <el-date-picker
                      type="date"
                      format="dd MMMM yyyy"
                      placeholder="Date de naissance"
                      v-model="registerForm.dateNaissance"
                    ></el-date-picker></div
                ></el-col>
                <el-col :span="12"
                  ><div class="grid-content">
                    <el-select v-model="registerForm.sexe" placeholder="Sexe">
                      <el-option
                        v-for="item in sexe"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select></div
                ></el-col>
              </el-row>
              <div class="form-group">
                <div style="display: inline-block; width: 265px"></div>
                <div style="display: inline-block"></div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <input
                    type="text"
                    name="phone"
                    class="form-control"
                    placeholder="Téléphone"
                    v-model="registerForm.telephone"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <input
                    type="text"
                    name="email"
                    class="form-control"
                    placeholder="Email"
                    v-model="registerForm.email"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <input
                    type="text"
                    name="Adresse"
                    class="form-control"
                    placeholder="Adresse"
                    v-model="registerForm.addr"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <input
                    type="text"
                    name="Fonction"
                    class="form-control"
                    placeholder="Fonction au sein de la structure"
                    v-model="registerForm.fonction"
                  />
                </div>
              </div>

              <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Fermer</el-button>
                <el-button
                  type="primary"
                  :loading="loadingSaveMember"
                  @click="SaveMember()"
                  >Enregistrer</el-button
                >
              </span>
            </el-dialog>
            <el-dialog
              title="Rôle"
              :visible.sync="dialogVisibleRole"
              width="33%"
            >
              <el-select
                v-model="roleIdSelected"
                filterable
                placeholder="Choisissez le role"
                style="width: 400px"
              >
                <el-option
                  v-for="(item, index) in tableDataRole"
                  :key="index"
                  :label="item.titre"
                  :value="item.id"
                >
                </el-option>
              </el-select>

              <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleRole = false">Fermer</el-button>
                <el-button
                  type="primary"
                  v-if="this.multipleSelection.length != 0"
                  :loading="loading"
                  @click="saveLinkMultiple()"
                  >Assigner {{ this.multipleSelection.length }}</el-button
                >
                <el-button
                  type="primary"
                  v-else
                  :loading="loadingRole"
                  @click="saveNewRole()"
                  >Assigner</el-button
                >
              </span>
            </el-dialog>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import BaseImageInput from "../../../bp/baseImageInput";
import { VueEditor, Quill } from "vue2-editor";
import Swal from "sweetalert2";
import firebase from "firebase";
// import * as admin from 'firebase-admin';

import helper, { makeId } from "../../../../services/helper";

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 4000,
});

export default {
  components: {
    BaseImageInput,
    VueEditor,
    Quill,
  },

  mixins: [helper],
  data() {
    return {
      ref: firebase.firestore().collection("vendeurs"),
      users: firebase.firestore().collection("users"),
      groupref: firebase.firestore().collection("usergroup"),
      membresRef: firebase.firestore().collection("membres"),
      rolesRef: firebase.firestore().collection("roles"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      userIdSelected: "",
      activeName: "liste",
      tableData: [],
      tableDataRole: [],
      roleIdSelected: "",
      lire: false,
      ecrire: false,
      loadingRole: false,
      loadingSaveMember: false,
      multipleSelection: [],
      stateLoading: {},
      loadingTable: false,
      activate: {
        activated: true,
        desactivated: false,
      },
      recherche: "",
      dialogVisible: false,
      loadingSavePerm: false,
      fullscreenLoading: false,
      dialogVisibleRole: false,
      roleType: "",
      registerForm: {
        activated: true,
        profile: "",
        password: "",
        adminId: "",
        roleId: "",
        telephone: "",
        email: "",
        sexe: "",
        firstTimeConnection: "",
      },
      member: {
        admindId: "",
        userId: "",
      },
      sexe: [
        {
          value: "Masculin",
          label: "Masculin",
        },
        {
          value: "Féminin",
          label: "Féminin",
        },
      ],
      roles: {
        liste: [],
      },
      loading: true,
      load: "",
      saveAndContinu: "",
      tableTitles: [
        {
          prop: "type",
          label: "Type",
        },
        {
          prop: "nom",
          label: "Nom(s)",
        },
        {
          prop: "prenom",
          label: "Prenom",
        },
        {
          prop: "tel1",
          label: "Tel",
        },
        {
          prop: "mail",
          label: "Mail",
        },
        {
          prop: "adr",
          label: "Adresse",
        },
        {
          prop: "quartier",
          label: "Quartier",
        },
        {
          prop: "ville",
          label: "Ville",
        },
      ],
      filters: [
        {
          prop: ["type", "nom", "prenom", "adr", "quartier", "ville"],
          value: "",
        },
      ],
      vendeur: {}, //pour la mise à jour
      paysRef: firebase.firestore().collection("pays"),
      vendeurs: {
        adr: "",
        age: "",
        codepostal: "",
        mail: "",
        nom: "",
        note: "",
        pays: "",
        prenom: "",
        quartier: "",
        representant: "",
        tel1: "",
        tel2: "",
        type: "",
        ville: "",
        updatedAt: "",
        deletedAt: "",
      },
      notify: {},
      listVendeurs: [],
      countries: [],
      projectId: JSON.parse(localStorage.getItem("userSession")).projet,
      projectlibelle: JSON.parse(localStorage.getItem("userSession"))
        .projettitre,
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons

        [{ list: "ordered" }, { list: "bullet" }],
        //                    [{ 'font': [] }],
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme

        ["clean"], // remove formatting button
      ],
    };
  },
  created() {
    this.$route.params.data.forEach((item) => {
      if (item == "lire") {
        this.lire = true;
      }
      if (item == "ecrire") {
        this.ecrire = true;
      }
    });
    this.$loading().close();
    this.paysRef
      .orderBy("alpha2", "asc")
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let obj = doc.data();
          obj.id = doc.id;
          this.countries.push(obj);
        });
      });
  },
  methods: {
    //on show le modal d'ajout de vendeur
    onClick: function () {
      $("#modalVendeur").modal("show");
    },
    onSubmit: function (evt) {
      evt.preventDefault();
      let loader = Vue.$loading.show();
      this.tableData = []; //on reset le data pour éviter les doublons
      this.vendeurs.confirm = false;
      this.vendeurs.projectId = this.projectId;
      this.vendeurs.createdAt = new Date();

      this.notify.createdAt = new Date();
      this.notify.projectId = this.projectId;
      this.notify.email = this.vendeurs.mail;
      this.notify.projet = this.projectlibelle;
      //VERIFICATION MEMBRE
      let userref = firebase.firestore().collection("users");

      userref
        .where("email", "==", this.vendeurs.mail)
        .get()
        .then((docSnaps) => {
          docSnaps.forEach((doc) => {
            this.vendeurs.userId = doc.id;
            if (doc.exists) {
              let ref = firebase.firestore().collection("vendeurs");
              this.ref
                .add(this.vendeurs)
                .then((vendeurs) => {
                  this.notify.docId = vendeurs.id;
                  firebase
                    .firestore()
                    .collection("notifications")
                    .add(this.notify);

                  //vider les champs
                  (this.vendeurs.type = ""),
                    (this.vendeurs.nom = ""),
                    (this.vendeurs.prenom = ""),
                    (this.vendeurs.representant = ""),
                    (this.vendeurs.age = ""),
                    (this.vendeurs.tel1 = ""),
                    (this.vendeurs.tel2 = ""),
                    (this.vendeurs.mail = ""),
                    (this.vendeurs.adr = "");
                  this.vendeurs.quartier = "";
                  this.vendeurs.ville = "";
                  this.vendeurs.codepostal = "";
                  this.vendeurs.note = "";
                  this.vendeurs.pays = "";

                  Toast.fire({
                    type: "success",
                    title:
                      "le membre " +
                      this.vendeurs.nom +
                      " enregistré avec succès",
                  });

                  //si le bouton saveAndContinu n'est pas coché
                  if (!this.saveAndContinu) {
                    $("#modalVendeur").modal("hide");
                  }
                })
                .catch(function (error) {
                  // Swal.fire('Oops...', 'Une erreur est survenue, veillez réessayer!!!', error);
                  console.log(error);
                });
            } else {
              // doc.data() will be undefined in this case
              $("#modalVendeur").modal("hide");
              alert("Hello");
            }
            // TODO: sort projects by last modified data
          });
          loader.hide();
        });
    },
    onUpdate: function (evt) {
      evt.preventDefault();
      this.tableData = []; //on reset le data du datatable pour éviter les doublons
      this.loading = true;
      this.ref
        .doc(this.vendeur.id)
        .update(this.vendeur)
        .then((vendeur) => {
          // loader.hide();
          $("#modalEditVendeur").modal("hide");
          Toast.fire({
            type: "success",
            title:
              "le vendeur " + this.vendeur.nom + " a été modifié avec succès",
            customClass: "bg-success",
          });
          this.loading = false;
        })
        .catch((error) => {
          loader.hide();
          Swal.fire({
            type: "error",
            title: "Oops...",
            text: "Une erreur est survenue!",
          });
        });
    },
    handleEdit(index, row) {
      $("#modalEditVendeur").modal("show");
      this.vendeur = row;
    },
    async SaveMember(admindId = this.currentUId) {
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        adminId = await JSON.parse(localStorage.getItem("userSession")).adminId;
      }

      this.loadingSaveMember = true;
      this.registerForm.password = makeId();
      this.registerForm.roleId = this.rolesRef.doc(this.roleType);
      this.registerForm.adminId = admindId;
      this.registerForm.profile = firebase
        .firestore()
        .collection("profile")
        .doc("4");
      //toastr['error'](this.registerForm.email);
      firebase
        .auth()
        .createUserWithEmailAndPassword(
          this.registerForm.email,
          this.registerForm.password
        )
        .then(() => {
          let authId = firebase.auth().currentUser.uid;

          firebase
            .firestore()
            .collection("users")
            .doc(authId)
            .set(this.registerForm)
            .then((doc) => {
              this.$notify({
                title: "Succès",
                message: "Compte enregistrée avec succès",
                type: "success",
                duration: 6000,
              });

              this.member.userId = firebase
                .firestore()
                .collection("users")
                .doc(authId);
              this.member.adminId = firebase
                .firestore()
                .collection("users")
                .doc(admindId);
              this.membresRef.add(this.member);
              firebase
                .auth()
                .currentUser.sendEmailVerification()
                .then(() => {
                  this.$notify({
                    title: "Succès",
                    message:
                      "un Email de validation de compte vient d'être envoyé à " +
                      this.registerForm.email,
                    type: "info",
                    duration: 10000,
                  });

                  firebase
                    .auth()
                    .sendPasswordResetEmail(this.registerForm.email)
                    .then((response) => {
                      this.$notify({
                        title: "Succès",
                        message:
                          "un Email de réinitialisation de mot de passe vient d'être envoyé à " +
                          this.registerForm.email,
                        type: "info",
                        duration: 15000,
                      });
                      this.loadingSaveMember = false;
                      if (
                        JSON.parse(localStorage.getItem("userSession")).adminId
                      ) {
                        this.getMembers(
                          JSON.parse(localStorage.getItem("userSession"))
                            .adminId
                        );
                      } else {
                        this.getMembers();
                      }

                      //console.log(this.passwordForm.email);
                    })
                    .catch((error) => {
                      console.log(error);
                      var errorCode = error.code;
                      //alert(errorCode);
                      // ...
                      switch (errorCode) {
                        case "auth/user-not-found":
                          this.loadingSaveMember = false;
                          document.getElementById("check_error").innerHTML =
                            '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>L\'adresse Email est invalide </div>';

                          break;

                        default:
                          break;
                      }
                    });

                  //document.getElementById('check_error').innerHTML = '<div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span><i class="icon-help"></i>&nbsp;&nbsp; Un mail de validation a été envoyé sur votre boîte! Allez cliquer sur le lien.</div>';
                  //this.closealert();
                });

              //redirection vers l'authentification
            });
          //document.getElementById('check_error').innerHTML = '<div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span><i class="icon-help"></i>&nbsp;&nbsp; Un mail de validation a été envoyé sur votre boîte! Allez cliquer sur le lien.</div>';
          //this.closealert();
        })
        .catch((error) => {
          // Handle Errors here.
          var errorCode = error.code;

          //alert(errorCode);
          // ...
          switch (errorCode) {
            case "auth/email-already-in-use":
              this.loadingSaveMember = false;
              this.loadingSavePerm = false;
              this.$notify.error({
                title: "Error",
                message:
                  "Erreur lors de l'enregistrement cette adresse mail a déjà été utilisé",
                duration: 6000,
              });

              break;
            case "auth/phone-number-already-exists":
              document.getElementById("check_error").innerHTML =
                '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Le numero de téléphone est déjà utilisé!</div>';

              break;
            case "auth/network-request-failed":
              document.getElementById("check_error").innerHTML =
                '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Aucune connexion internet</div>';

              break;

            default:
              break;
          }
        });
    },
    getMembers(admindId = this.currentUId) {
      //FIREBASE GET RECETTES
      this.loadingTable = true;
      // let loader = Vue.$loading.show();
      let referenceUser = this.users.doc(admindId);
      this.membresRef
        .where("adminId", "==", referenceUser)
        // where('profile', '==','4').
        .onSnapshot((querySnapshot) => {
          this.tableData = [];
          querySnapshot.forEach((doc) => {
            let obj = doc.data();
            //  console.log('Log Object',obj);

            obj.userId.get().then((user) => {
              obj.id = doc.id;
              let userObj = user.data();
              userObj.roleId.get().then((role) => {
                if (role.exists) {
                  userObj.id = user.id;
                  userObj.idRole = role.id;
                  userObj.roleTitre = role.data().titre;
                  userObj.memberId = doc.id;
                  this.tableData.push(userObj);
                } else {
                  userObj.id = user.id;
                  userObj.memberId = doc.id;
                  this.tableData.push(userObj);
                }
              });
            });
            // this.tableData.push(obj);
            // obj.client = doc.data().client.nom;
            // obj.montant = obj.produit.prixVenteUnitaire * obj.quantite;
          });
          // loader.hide();
        });
      this.loadingTable = false;
      //
    },
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #F5F7FA;;color: #606266;font-weight: 800;";
      }
    },
    deleteElement(id, memberId, email) {
      Swal.fire({
        title: "Êtes-vous sûr?",
        text: "Cette action est irréversible!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Annuler",
        confirmButtonText: "Oui!",
      }).then((result) => {
        if (result.value) {
          // let loader = Vue.$loading.show();
          firebase.firestore().collection("membres").doc(memberId).delete();
          firebase.firestore().collection("users").doc(id).delete();
          if (JSON.parse(localStorage.getItem("userSession")).adminId) {
            this.getMembers(
              JSON.parse(localStorage.getItem("userSession")).adminId
            );
          } else {
            this.getMembers();
          }
          this.$notify({
            title: "Succès",
            message: "Suppréssion réussie",
            type: "success",
          });
          loader.hide();
        }
      });
    },
    deleteMultiple() {
      Swal.fire({
        title: "Êtes-vous sûr?",
        text: "Cette action est irréversible!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Annuler",
        confirmButtonText: "Oui!",
      }).then((result) => {
        if (result.value) {
          // let loader = Vue.$loading.show();
          this.multipleSelection.forEach((item) => {
            firebase.firestore().collection("users").doc(item.id).delete();
            firebase
              .firestore()
              .collection("membres")
              .doc(item.memberId)
              .delete();
          });
          if (JSON.parse(localStorage.getItem("userSession")).adminId) {
            this.getMembers(
              JSON.parse(localStorage.getItem("userSession")).adminId
            );
          } else {
            this.getMembers();
          }

          this.$notify({
            title: "Succès",
            message: "Suppréssion réussie",
            type: "success",
          });
        }
      });
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    switchState(id, state) {
      let stateActivated;
      if (state) {
        stateActivated = false;
      } else {
        stateActivated = true;
      }
      this.users
        .doc(id)
        .update({
          activated: stateActivated,
        })
        .then(() => {
          if (JSON.parse(localStorage.getItem("userSession")).adminId) {
            this.getMembers(
              JSON.parse(localStorage.getItem("userSession")).adminId
            );
          } else {
            this.getMembers();
          }
        });
    },
    MultipleswitchState(state) {
      this.multipleSelection.forEach((item) => {
        //   console.log(item.id,state)
        this.switchState(item.id, state);
      });
    },
    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    changeRole(id, memberId, idRole) {
      this.roleIdSelected = idRole;
      this.dialogVisibleRole = true;
      this.userIdSelected = id;
      // this.getMembers()
    },
    getRoles(adminId = this.currentUId) {
      //FIREBASE GET RECETTES

      // let loader = Vue.$loading.show();

      this.rolesRef
        .where("userId", "==", adminId)
        .onSnapshot((querySnapshot) => {
          this.tableData = [];
          querySnapshot.forEach((doc) => {
            let obj = doc.data();
            // console.log(obj);
            obj.id = doc.id;
            this.tableDataRole.push(obj);
          });
          // loader.hide();
        });
      //
    },
    roleList(adminId = this.currentUId) {
      this.rolesRef
        .where("userId", "==", adminId)
        .get()
        .then((docSnaps) => {
          docSnaps.forEach((doc) => {
            if (doc.exists) {
              let result = {
                id: doc.id,
                titre: doc.get("titre"),
                createdAt: doc.get("createdAt"),
              };
              // console.log(result);
              this.roles.liste.push(result);
            } else {
              // doc.data() will be undefined in this case
              loader.hide();
              return;
            }
            // TODO: sort projects by last modified data
          });
          // loader.hide();
        });
    },
    saveNewRole() {
      this.loadingRole = true;
      let idSelectd = this.rolesRef.doc(this.roleIdSelected);
      this.users
        .doc(this.userIdSelected)
        .update({
          roleId: idSelectd,
        })
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "Le role vient d' être assigné",
            type: "success",
          });
          this.loadingRole = false;
        })
        .catch(() => {
          this.loadingRole = false;
          this.$notify.error({
            title: "Error",
            message: "Une erreur s'est produite",
          });
        });
    },
  },
  mounted() {
    let user = firebase.auth().currentUser;

    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.getMembers(JSON.parse(localStorage.getItem("userSession")).adminId);
      this.getRoles(JSON.parse(localStorage.getItem("userSession")).adminId);
      this.roleList(JSON.parse(localStorage.getItem("userSession")).adminId);
    } else {
      this.getMembers();
      this.getRoles();
      this.roleList();
    }
    this.tableData = []; //on reset le data pour éviter les doublons
    this.ref
      .where("projectId", "==", this.projectId)
      .onSnapshot((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let obj = doc.data();
          obj.id = doc.id;

          this.tableData.push(obj);
        });
        this.loading = false;
      });

    // le loader en mode plugin
    //let loader = this.$loading.show();
  },
};
</script>
<style scoped>
.input-group-text1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #7eb1f5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.nav-link.show.active i,
.nav-link.active i {
  color: #61b174;
}
span.stepTitle.active {
  color: #67757c !important;
  font-weight: 500 !important;
}
.nav-link {
  font-weight: normal;
  text-transform: normal;
  color: #67757c;
  height: 100%;
}
.nav-pills > li.nav-item {
  display: block;
  width: 50%;
  text-align: center;
}
.nav-pills > li.nav-item a {
  margin: 1px auto;
  padding: 1px 0px;
  border-radius: 2px;
  font-size: 0.9rem;
  background-color: #c8cacd;
  height: 100%;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #61b174;
}
.card-body {
  padding: 0px 5px;
  background-color: #d0e6ed !important;
}
.nav.nav-tabs.customtab li a {
  text-align: center;
  padding: 5px 10px;
}
.nav.nav-tabs.customtab li a.active {
  background-color: #0080003b;
  border-bottom-color: #f32b2bcc;
}
.nav.nav-tabs.customtab li {
  width: 50%;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}
.input-group-text {
  width: 150px;
  background-color: #398bf7;
  color: #ffffff;
}
.input-group-montant {
  width: 125px !important;
}

.fieldset {
  border: 1px solid #ced4da !important;
  padding: 0 0.4em 0 0.4em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.row-fieldset {
  border: 1px solid #ced4da !important;
  padding: 0 0.2em 0 0.2em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.text-red {
  color: red !important;
}
.el-select {
  padding: 0 !important;
}
</style>
