<template>
  <div class="element mb-5 mt-2">
      <table>
        <tr>
          <th class="font-weight-bold" v-for="(item, index) in selectedElement" :key="index">
            {{ item.libelle}}
          </th>
        </tr>
        <tr>
          <td v-for="(item, index) in selectedElement" :key="index">
            <input type="text" v-model="item.content" readonly class="unselectable" disabled>
          </td>
        </tr>
      </table>
      <div class="button-plus">
          <button type='button' class="btn btn-sm btn-info" @click="dialogFormVisible = true">
          <i class="fas fa-plus-circle"></i>
        </button>
      </div>
      <div>
        <el-dialog class="pl-3 styling" :visible.sync="dialogFormVisible">
          <el-form v-for="(element, index) in tableData1" :key="index" class="mb-2">
            <div class="mt-4">
                <el-switch
                  style="display: inline"
                  v-model="element.state"
                  active-color="#13ce66"
                  inactive-color="#ff4949"
                  active-text="Activé"
                  inactive-text="Désactivé"
                  :disabled="element.default"
                  >
                </el-switch>
                <span :class="!element.state ? ['disabled', 'select'] : ['enabled', 'select']">{{ element.libelle }}</span> 
            </div>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">Annuler</el-button>
            <el-button type="primary" @click="confirm">Confirmer</el-button>
          </span>
        </el-dialog>
      </div>   
  </div>
</template>

<script>
  export default {
    name: 'BasicInfosTable',
    props:  ['tableData1', 'selectedElement'],
    data() {
      return {
        dialogFormVisible: false,
        
      }
    },
    methods:{
      confirm(){
        this.selectedElement = this.tableData1.filter(element =>{
         return element.state === true
        });

        this.dialogFormVisible = false
      }
   },
  
  
}
  
</script>
<style>
.button{
  margin-left: 5%;
  margin-top: 2%; 
  margin-bottom: 2%;
}
.button-plus{
  position: absolute;
  right: 10px;
  bottom: 40px;
}
.element{
  position: relative;
  top: 0;
  left: 0;
}
.select{
  padding: 8px;
  border-radius: 3px;
  margin-left: 30px;
  color: white;
  width: 228px!important;
  display: inline-block;
  text-align: center;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
 }
 .disabled{background-color: #ff4949;}
 .enabled{ background-color: #06d79c;}
.styling .el-dialog__body{
    margin-left: 50px;
 }
</style>