<template>
  <div>
    <el-col :span="12">
      <span class="logo ml-3 mt-5">Logo de l'entreprise</span>
      <!-- Popover for image cropping -->
      <el-dialog
        class="popover-style"
        :visible.sync="centerDialogVisible"
        width="30%"
        center>
        <Cropper
            classname="upload-example-cropper"
            ref="cropper"
            :auto-zoom="true"
            :stencil-size="defaultSize"
            :stencil-props="{
            movable: false,
            scalable: true
            }"
            :src="image"
            image-restriction="stencil"
          /> <br> <br>
          <span class="text-danger error-message">{{errorMessage}}</span> <br>
          <span class="size-style"><i class="fa fa-info-circle"></i> Taille recommandée</span> <br>
          <span class="size-style warning">Largeur : 370pixels</span> <br>
          <span class="size-style warning">Hauteur : 150pixels</span> <br>
        <span slot="footer" class="dialog-footer">
          <el-button @click="centerDialogVisible = false">Annuler</el-button>
          <el-button type="primary" @click="cropImage(); centerDialogVisible = false">Confirmer</el-button>
        </span>
      </el-dialog>

      <div class="cropped-image">
        <i v-if="!isUploaded" class="fa fa-plus-circle" @click="$refs.file.click()"></i>
        <img v-if="this.isEdit && this.logo!=''" :src="'data:image/png;base64,' + logo" width="370" height="150" @click="$refs.file.click()" alt="Logo de l'entreprise">
        <img v-else :src="cropimage" width="370" height="150" @click="$refs.file.click()" alt="Logo de l'entreprise">
      </div>
      
      <div style="display:inline-block;margin-bottom: 2%;margin-left: 3%;">
        <div class="upload-example">
          <div class="button-wrapper">
              <input type="file" ref="file" @change="uploadImage($event)" accept="image/*">
          </div>
        </div>
      </div>
      <el-button type="primary" 
      v-if="isUploaded"
      style="display:inline-block;margin-bottom: 2%;" 
      @click="centerDialogVisible = true">Modifier</el-button>
      
      
      <div class="pl-3">
       <vue-editor :editorToolbar="customToolbar" v-model="informations" @text-change="emitData" class="editor-width"></vue-editor>
      </div>
      <vue-editor :editorToolbar="customToolbar" v-model="extraInfos" @text-change="emitExtra" class="editor-extras"></vue-editor>

      <!-- <el-card shadow="always" class="bd-left mt-4 mb-4 ml-3">
        <span>Prestation : </span><input type="text" v-model="titre" readonly>
      </el-card> -->
    </el-col>

  </div>   
</template>

<script>
import { VueEditor} from "vue2-editor"
import { Cropper } from 'vue-advanced-cropper'
import firebase from 'firebase'
export default {
   name: "enterpriseInfos",
   components:{VueEditor,Cropper},
   props: {
     isEdit: {
      default: false,
      type:Boolean
     },
     logo: {
      default:"",
      type:String,
     },
     enterpriseInfos: {
      default:"",
      type:String,
     },
     extra: {
      default:"",
      type:String,
     }
   },
   watch:{
    enterpriseInfos(value){
      this.informations =value
    },
    extra(value){
      this.extraInfos=value
    }
   },
   data() {
    return {
        centerDialogVisible: false,
        isUploaded:false,
        image: "",
        extraInfos:'',
        errorMessage: null,
        cropimage: '/suivi/assets/images/default-logo.png',
        storage: firebase.storage().ref("logos"),
        informations: "<h6>Siège : </h6><h6>Email : </h6><h6>Site web : </h6><h6>Tel : </h6>",
        idDevis:localStorage.getItem("idDevis"),
        titre: "",
        customToolbar: [
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'font': [] }],
          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme

          ['clean']                                         // remove formatting button
        ],
        coordinates: {
				width: 0,
				height: 0,
				left: 0,
				top: 0
			}
     }
  },
  methods:{
    defaultSize() {
			return {
				width: 370,
				height: 150,
			}
		},
    uploadImage(event) {
      this.centerDialogVisible = true;
      let input = event.target;
      // Get file infos
      let file = input.files[0];
      let isTrue = this.beforeUpload(file);
      if(isTrue){
        this.fileName = file.name + file.lastModified;
		  	if (input.files && input.files[0]) {
        
					let reader = new FileReader();
					reader.onload = (e) => {
              this.image = e.target.result;
					}
					// convert to (base64 format)
          reader.readAsDataURL(input.files[0]);
          
			  }
      } 
    },
    cropImage(file){
      const {coordinates, canvas} = this.$refs.cropper.getResult()
			this.coordinates = coordinates;
      this.cropimage = canvas.toDataURL();
      this.isUploaded = true;
      let base64Image = this.cropimage.split(",")[1];
      this.storage.child('logos/' + this.fileName).putString(base64Image, 'base64').then(() =>{
            this.$emit("emitLogo", base64Image);
          });
    },
    emitData(){
      this.$emit("fields", this.informations)
    },
    emitExtra(){
      this.$emit("extra", this.extraInfos)
    },
    beforeUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isLt2M) {
        this.errorMessage = 'Le logo ne peut pas excéder 2Mb !';
      }
      return isLt2M
    }
    
  },
  created(){
    this.emitData()
  }
}
</script>

<style scoped>
.error-message{
  font-size: 14px;
  font-weight: normal;
}
div.cropped-image{
  border: 1px dashed #c0ccda;
  border-radius: 6px;
  width: 370px;
	height: 150px;
  margin-left: 3%;
  margin-bottom: 3%;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}
.cropped-image .fa{
  position: absolute;
  left: 48%;
  bottom: 40%;
  color: black;
  font-size: 25px;
}
.size-style{
  font-size: 14px;
  font-weight: normal;
}
.editor-extras{
  width: 100%!important;
  height: 20%!important;
}
.logo{
  font-size: 15px!important;
  display: block;
  padding-bottom: 10px;
}

/* .bd-left{
  border-left: 2px solid #00c875;
  padding-left: 2px;
  width: 90%!important;
} */
.item{
  color: black;
  line-height: 1.5em
}
/* input{
  padding: 6px;
  border: 0;
}
span{
  font-weight: bold;
  font-size: 20px;
} */
textarea{
  padding: 10px!important;
  border: 1px solid #DCDFE6
}
.upload-example-cropper {
	border: solid 1px #EEE;
	height: 300px;
	width: 100%;
}
.upload {
	color: #fff;
	font-size: 14px;
  background-color:#409EFF;
	cursor: pointer;
	transition: background 0.5s;
  padding: 12px 20px;
  border-radius: 4px;
}

.upload:hover {
  background-color: #38d890;
}

.button-wrapper input {
	display: none;
}
div.el-dialog__body {
    margin-left: 0!important;
}
.warning {
 color:red
}

</style>