<template>
  <div>
    <el-col :span="12">
      <div class="pl-5">
        <img :src="'data:image/png;base64,'+imageUrl" width="364" height="152" />
      </div>
      <div class="grid-content pl-3 mb-3">
        <div class="pl-5" v-html="entrepriseInfos">{{entrepriseInfos}}</div>
      </div>
    </el-col>
    <div>
      <el-col :span="8">
        <div class="grid-content marg-left mb-1">
          <div class="title-head font-weight-bold text-center mb-4">{{numeroFacture}}</div>
          <el-select v-model="type" placeholder="Par type Client" size="mini" class="mb-2">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              @click.native="filterCustomerByType(item.value)"
            ></el-option>
          </el-select>

          <el-select
            v-model="informationsClients[0].inputName"
            size="mini"
            placeholder="Sélectionner un client"
          >
            <el-option
              v-for="(customer, index) in filteredCustomers"
              :key="index"
              :label="customer.nom"
              :value="customer.nom"
              @click.native="selectCustomer(customer)"
            ></el-option>
          </el-select>
        </div>
        <div class="input-element" v-for="(element, index) in informationsClients" :key="index">
          <div class="mt-1">
            <el-input
              v-if="element.state && element.key!== 'nom'"
              size="mini"
              v-model="element.inputName"
              readonly
              class="input"
            >
              <template slot="prepend" v-if="element.key!== 'nom'">
                <i :class="element.icon"></i>
              </template>
            </el-input>
          </div>
        </div>
      </el-col>
    </div> 
  <br>
 
                  <el-col :span="12">
                    <el-card class="el-card border-none" shadow="never">
                      <vue-editor
                        :editorToolbar="customToolbar"
                        v-model="extra"
                        @text-change="$emit('change-extra',extra)"
                        class="editor-width"
                      ></vue-editor>
                    </el-card>
                  </el-col>

  
    <el-card shadow="always" class="bd-left">
      <span class="before">Prestation :</span>
      <textarea
        class="form-control pl-3"
        id="message-text"
        rows="1"
        v-model="prestation.value"
        placeholder="Saisir la prestation"
      ></textarea>
    </el-card>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import firebase from "firebase";
export default {
  name: "HeaderInfos",
  components: {
    VueEditor
  },
  props: [
    "numeroFacture",
    "imageUrl",
    "informationsClients",
    "prestation",
    "entrepriseInfos",
    "extra",
    "customToolbar"
  ],
  data() {
    return {
      filteredCustomers: [],
      projectId: JSON.parse(localStorage.getItem("userSession")).projet,
      clientRef: firebase.firestore().collection("clients"),
      // modelfactureref: firebase.firestore().collection("devisfacture"),
      idDevis: localStorage.getItem("idDevis"),
      client: "",
      customers: [],
      // customersId: [],
      informations: this.entrepriseInfos,
      options: [
        {
          value: "Particulier",
          label: "Particulier",
        },
        {
          value: "Entreprise",
          label: "Entreprise",
        },
      ],
      type: "",
    };
  },
  methods: {
    //  Permet de filtrer les clients par type : Entreprise, Particulier
    filterCustomerByType(type) {
      this.client = "Nom Client";
      if (type === "Entreprise") {
        this.client = "Nom Entreprise";
      }
      this.filteredCustomers = this.customers.filter((customer) => {
        return customer.type === type;
      });
    },

    // Recupération des infos du client sélectionné
    selectCustomer(customer) {
      this.informationsClients.forEach((obj) => {
        if (obj.key === "nom") {
          obj.inputName = customer.nom;
        } else if (obj.key === "phone") {
          obj.inputName = customer.tel1;
        } else if (obj.key === "adresse") {
          obj.inputName = customer.quartier;
        } else if (obj.key === "site") {
          obj.inputName = customer.site;
        }
      });
    },
  },
  created() {
    //  Appear by default(Fields) when no customer is selected
    // Get customers stored in the DB
    this.clientRef
      .where("projectId", "==", this.projectId)
      .onSnapshot((querySnapshot) => {
        if (!querySnapshot.empty) {
          querySnapshot.forEach((doc) => {
            let obj = doc.data();
            this.customers.push(obj);
            this.filteredCustomers.push(obj);
          });
        }
      });
  },
};
</script>

<style scoped>
textarea {
  resize: vertical !important;
  padding-left: 0 !important;
  border: 0 !important;
  width: 86%;
}
.title-head {
  background-color: #f2f6fc !important;
  width: 228px !important;
  color: black !important;
  padding: 10px;
}
div.el-input-group__prepend i {
  font-size: 14px !important;
}
.input {
  width: 228px !important;
}
/* .input .el-input-group__prepend .el-input__inner{
    border: none!important;
} */
.input-element {
  margin-left: 77%;
}
.bd-left {
  border-left: 2px solid #00c875;
  padding-left: 2px;
  width: 93.8% !important;
  margin-bottom: 2%;
  margin-left: 2.5%;
}
.item {
  color: black;
  line-height: 1.5em;
  font-weight: bolder;
}
span {
  font-weight: bold;
  font-size: 20px !important;
  float: left;
  padding-right: 1%;
}
</style>