<template>
    <div class="mt-4 element">
        <table>
          <tr>
            <th class="font-weight-bold" v-for="(item, index) in selectedElement2" :key="index">
              {{item.libelle}}
            </th>
          </tr>
          <tr>
            <td v-for="(item, index) in selectedElement2" :key="index">
              <input type="text" value="" readonly class="unselectable">
            </td>
          </tr>
        </table>
        <div class="button-plus">
          <button type='button' class="btn btn-sm btn-info" @click="dialogFormVisible2 = true">
            <i class="fas fa-plus-circle"></i>
          </button>
        </div>
        <div>
          <el-dialog class="pl-3 styling" :visible.sync="dialogFormVisible2">
            <el-form  v-for="(element, index) in tableData2" :key="index" class="mb-2">
              <div class="mt-4">
                  <el-switch
                    style="display: inline"
                    v-model="element.state"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    active-text="Activé"
                    inactive-text="Désactivé"
                    :disabled="element.default">
                  </el-switch>
                  <span :class="!element.state ? ['disabled', 'select'] : ['enabled', 'select']">{{ element.libelle }}</span> 
              </div>
            </el-form>
            <span slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible2 = false">Annuler</el-button>
              <el-button type="primary" @click="confirm">Confirmer</el-button>
            </span>
          </el-dialog>
        </div> 
    </div>
</template>

<script>
  export default {
    name: 'ProductsTable',
    props:['tableData2', 'selectedElement2'],
    data() {
      return {
        dialogFormVisible2: false
      }
    },
    methods:{
      confirm(){
        this.selectedElement2 = this.tableData2.filter(element =>{
         return element.state === true
        });

        this.dialogFormVisible2 = false
      }
  }
}
</script>
<style>
  .button{
    margin-left: 5%;
    margin-top: 2%; 
    margin-bottom: 2%;
  }
  .button-plus{
    position: absolute;
    right: 10px;
    bottom: 30px;
  }
  .element{
    position: relative;
    top: 0;
    left: 0;
  }
</style>