<template>
    <div id="screenshot" class="container" @mousemove="move" @mousedown="mouseDown">
      <div class="overlay" :class="{ 'highlighting' : isMouseDown }" :style="{ borderWidth: borderWidth }"></div>
      <div class="crosshairs" :class="{ 'hidden' : isDraggingMouse }" :style="{ left: crossHairsLeft + 'px', top: crossHairsTop + 'px' }"></div>
    </div>
</template>

<script>
import html2canvas from 'html2canvas';

export default{
    

    data(){
        return{
             crossHairsLeft: 500,
            crossHairsTop: 500,
            startX: 500,
            startY: 500,
            isMouseDown: false,
            isDraggingMouse: false,
            imageUrl:''
        }
    },
    methods:{
         move(event) {
          var startY       = this.startY,
              startX       = this.startX,
              endX         = event.clientX,
              endY         = event.clientY,
              windowWidth  = window.innerWidth,
              windowHeight = window.innerHeight;
          this.crossHairsTop = event.clientY;
          this.crossHairsLeft = event.clientX;
          if (this.isMouseDown) {
            if (endX >= startX && endY >= startY) {
              this.isDragging = true;
              this.borderWidth = startY + "px " + (windowWidth - endX) + "px " + (windowHeight - endY) + "px " + startX + "px";
            }
          }
        },
        mouseDown(event) {
          this.startX = event.clientX;
          this.startY = event.clientY;
          this.isMouseDown = true;
        },
         mouseUp (e) {
            this.borderWidth = 0; // resetting the overlay

            if (this.isDragging) {
              // Don't take the screenshot unless the mouse moved somehow.
              this.tookScreenShot = true;
            }

            this.isDragging = false;
            this.mouseIsDown = false;

            this.takeScreenshot();

        },
        takeScreenshot () {
            html2canvas(document.querySelector('body')).then(canvas => {
              let croppedCanvas = document.createElement('canvas'),
                  croppedCanvasContext = croppedCanvas.getContext('2d');

              croppedCanvas.width  = this.croppedImageWidth;
              croppedCanvas.height = this.croppedImageHeight;

              croppedCanvasContext.drawImage(canvas, this.startX, this.startY, this.croppedImageWidth, this.croppedImageHeight, 0, 0, this.croppedImageWidth, this.croppedImageHeight);

              this.imageUrl = croppedCanvas.toDataURL();
            });
          }

    }
}


</script>