<template>
  <div>
      <table>
          <tr>
            <th 
               :style="BackgroundStyle"
               class="font-weight-bold">
                {{ paiementsInfos.paiement.libelle }}
            </th>
            <th
               :style="BackgroundStyle"
                class="font-weight-bold">
                {{ paiementsInfos.accompte.libelle }}
            </th>
            <th
               :style="BackgroundStyle"
                 class="font-weight-bold">
                {{ paiementsInfos.reste.libelle }}
            </th>
          
            <th 
              :style="BackgroundStyle"
               class="font-weight-bold">
                {{ paiementsInfos.date.libelle }}
            </th>
          </tr>
          <tr>
            <td>
              <vue-numeric
                v-model="paiementsInfos.paiement.montant"
                class="text-right text-dark"
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                output-type="Number"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                readonly
              ></vue-numeric>
            </td>
            <td>
              <vue-numeric
                v-model="paiementsInfos.accompte.montant"
                class="text-right"
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                output-type="Number"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                 @input="calculPart()"
              ></vue-numeric>
            </td>
            <td>
              <vue-numeric
                v-model="paiementsInfos.reste.montant"
                class="text-right text-dark"
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                output-type="Number"
                empty-value="0"
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                readonly
              ></vue-numeric>
            </td>
            <td class="style3">
              <el-date-picker
                format="dd MMM yyyy"
                value-format="dd MMM yyyy"
                v-model="paiementsInfos.date.value"
                type="date"
                placeholder="Choisir la date"
                >
              </el-date-picker>
          </td> 
        </tr>
      </table>
      <div class="money-toLetter" v-if="paiementsInfos.paiementTtc">
        {{ this.mention }}
        <b>
          <i :style="{color:couleur}">{{ Math.round(parseInt(paiementsInfos.paiementTtc))  | toLetter }} francs CFA.</i> 
        </b>
      </div>
  </div>
</template>

<script>
import currenciesMaskMixin from "../../../bp/mixins/currenciesMask";
import {arround} from "../../../../services/helper"
import VueNumeric from "vue-numeric";
// import helper from "../../../../services/helper"
export default {
name: 'SecondTable',
components:{VueNumeric},
props : {
   paiementsInfos: {
    type: Object,
    default: {}
   },
   couleur: {
    type : String,
    default: '#fffff',
   },
   mention: {
    type : String,
    default: '',
   }
},
mixins: [currenciesMaskMixin],
data() {
  return {
    part: 0,
    BackgroundStyle: {
        backgroundColor: "",
      },
    }
  },
  //  created(){
 
  //      let allSelected=document.querySelectorAll("th")
  //       allSelected.forEach(element => {
  //       element.style.backgroundColor  = this.couleur;
  //     });
  //  },
  methods:{
     calculPart(){
       if(this.paiementsInfos.paiement.montant && this.paiementsInfos.accompte.montant){
         let reste = this.paiementsInfos.paiement.montant - this.paiementsInfos.accompte.montant;
         this.paiementsInfos.reste.montant= reste;
         let part = arround((reste/this.paiementsInfos.paiement.montant)*100, 2);
         this.$emit("getPart", part);
       }
      }
  },
  watch:{
    "paiementsInfos.paiement.montant":function(){
      this.calculPart()
    },
    "couleur" : function () {
      this.BackgroundStyle.backgroundColor = this.couleur;
    },
  },
  created() {
      this.BackgroundStyle.backgroundColor = this.couleur;
    }

}
</script>
<style scoped>
.money-toLetter{
padding-top: 7%;
margin-left: 5%;
font-size: 20px;
}
  table {
   border-collapse: collapse;
   width: 45%; 
   margin-top: 5%;
  }
  .style2{
    width: 18%!important;
    color:black!important;
  }
  .style3{
    width: 34%!important;
  }
  table th{
    padding: 5px;
    font-size: 14px!important;
  }
  table th, table td{
    border: 1px solid #ebeef5;
  }
</style>