<template>
  <div>
    <el-col :span="8"> 
      <div class="grid-content marg-left pt-2 mb-3">
        <div class="title font-weight-bold text-center mb-5">N° FACTURE</div>
        <el-dropdown split-button type="primary">
          Sélectionner un client
        </el-dropdown>
      </div>
      <div class="input-element">
         <el-select v-model="value" placeholder="Type Client" class="el-select">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              :disabled="item.disabled">
            </el-option>
          </el-select>
        <div class="mt-2" v-for="(element, index) in selectedInputs" :key="index"> 
          <el-input  class="input" v-if="element.state && !element.type" :value="element.inputName" readonly></el-input>
        </div>
      </div>
      <div class="button float-right">
          <button type='button' class="btn btn-sm btn-info" @click="dialogFormVisible3 = true">
            <i class="fas fa-plus-circle"></i>
          </button>
        </div>
        <div>
          <el-dialog class="pl-3" :visible.sync="dialogFormVisible3">
            <el-form  v-for="(element, index) in allInputs" :key="index" class="mb-2">
              <div class="mt-4">
                  <el-switch
                    style="display: inline"
                    v-model="element.state"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    active-text="Activé"
                    inactive-text="Désactivé"
                    :disabled="element.default">
                  </el-switch>
                  <input :class="!element.state ? ['disabled', 'select'] : ['enabled', 'select']" :value="element.inputName" readonly>
              </div>
            </el-form>
            <span slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible3 = false">Annuler</el-button>
              <el-button type="primary" @click="confirm">Confirmer</el-button>
            </span>
          </el-dialog>
        </div>     
    </el-col>
  </div>
</template>

<script>
export default {
  name: 'SelectButton',
  props: {
    selectedInputs: {
      default: [],
      type: Array
    }
  },
  data(){
    return{
      dialogFormVisible3: false,
    
      allInputs:[
        {
          inputName : "Nom Client",
          state: true,
          default: true,
          key: "nom"
        },
        {
          inputName : "Téléphone",
          state: true,
          default: true,
          key:"phone",
          icon:"el-icon-phone"
        },
        {
          inputName : "Adresse",
          state: true,
          default: true,
          key:"adresse",
          icon:"el-icon-s-home"
        },
        {
          inputName : "Site internet",
          state: true,
          default: true,
          key:"site",
          icon:"fa fa-globe"
        }
        // {
        //   inputName : "Type Client",
        //   state: true,
        //   default: true,
        //   type: true,
        //   key:"type"
        // }
      ], 
      options: [{
          value: 'Particulier',
          label: 'Particulier',
          disabled: true
        }, {
          value: 'Entreprise',
          label: 'Entreprise',
          disabled: true
        }],
       clients: [
        {},
        {},
        {}],
        value: ''     
    }
  },
  methods:{
    confirm(){
      this.selectedInputs = this.allInputs.filter(element =>{
        return element.state === true
      });
      this.$emit('change-clientInfo',this.selectedInputs)
      this.dialogFormVisible3 = false
    }
  },

}
</script>

<style scoped>
.title {
  background-color: #f2f6fc!important;
  width: 228px !important;
  color: black!important;
  padding: 10px;
  margin-top: 10%;
}
input{
   border-radius: 0!important;
   width: 200px;
   font-size: 15px;
 }
.el-tag + .el-tag {
    margin-left: 10px;
}
.el-tag{
  display: block!important;
  width: 90%!important;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 0;
  border-left: 4px solid #00c875;
  background-color: white;
  font-size: 14px;
}
.box-card {
  width: 100%;
}
.marg-left{
  margin-left: 77%;
  width: 80%;
}
.el-card{
  border-radius: 0;
}
.bd-left{
  border-left: 2px solid #00c875;
  padding-left: 2px;
}
.text-center{
  background-color: #409EFF;
  color: white;
}
.input{
  width: 228px!important;
}
.input-element{
  margin-left: 77%;
}
.dropdown-button{
  padding: 0px!important;
  padding-left:  6px!important;
  margin-right: 5px!important;
}
.button{
  margin-right: 12%;
  margin-top: 2%;
}
input.select{
  padding: 8px;
  border-radius: 3px!important;
  border: none;
  text-align: center;
  margin-left: 30px;
  color: white;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
 }
 .disabled{background-color: #ff4949;}
 .enabled{ background-color: #06d79c;}
.el-select{
  width: 228px!important;
}

</style>