<template>
  <div class="ml-3 mt-2 position-fixed content">
        <!-- Nav tabs -->
        <!-- Nav tabs -->
       
        <ul class="nav customtab" role="tablist">
           
            <li :class="['nav-item', 'step-nav', {'active': activeIndex === 1}]" @click="moveToStatistiquesPage(index = 1)">
                <span><i class=" fas fa-chart-bar"></i></span>
                <span class="hidden-xs-down">Statitisques</span>
            </li>
           
            <li :class="['nav-item', 'step-nav', {'active': activeIndex === 2}]" @click="moveToModeldevisPage(index = 2)">
                <span><i class="fas fa-plus-circle"></i></span>
                <span class="hidden-xs-down">Créer Devis / Factures</span>
            </li>
            <li :class="['nav-item', 'step-nav', {'active': activeIndex === 3}]" @click="moveToOperationsPage(index = 3)">
                <span><i class="fas fa-retweet"></i></span>
                <span class="hidden-xs-down">Opérations</span>
            </li>
            <li class="nav-item step-nav">
                <span><i class="fas fa-cog"></i></span>
                <span class="hidden-xs-down">Paramétrages</span>
            </li>
         
        </ul>
    </div>
</template>

<script>
export default {
    name: "StepNav",
    props:["activeIndex"],
    data(){
      return {
        
      }
    },
    methods:{
      moveToStatistiquesPage(index){
        this.$router.push({name : "Statistiques"});
      },

      moveToModeldevisPage(index){
        this.$router.push({name : "Devis"});
      },

      moveToOperationsPage(index){
        this.$router.push({name : "Operations"});
      }
    }

}
</script>

<style scoped>
  li.nav-item{
    font-size: 18px!important;
    width: 24.6%;
    text-align: center;
    background: white;
    padding: 20px;
  }
  .step-nav{
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
    margin-top: 1%;
    z-index: 2000;
    background-color:#f5f7fa;
  }
  .step-nav:hover{
    background-color: #198cf0!important;
    color: white!important;
    cursor: pointer;
  }
  .step-nav:active{
    background-color: #198cf0!important;
    color: white!important;
    cursor: pointer;
  }
  .active{
    background-color: #198cf0!important;
    color: white!important;
  }
  div.content{
    z-index: 1000;
    width: 81%;
  }
</style>