<template>
  <div>
    <table>
      <!-- Affichage Montant Total Facturé -->
      <tr>
        <th class="font-weight-bold">Montant Total Facturé
         <el-select v-model="lesMontants.firstSelect.type" size="mini" class="col-md-4 px-0"  @change="showElement(lesMontants.firstSelect.type)">
          <el-option
            v-for="item in lesMontants.firstSelect.datas"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            >
          </el-option>
          </el-select>
        </th>

        <td class="td-total">
          <vue-numeric
          v-model="lesMontants.montantTotalHt.value"
          v-if="lesMontants.isVisible === 'HT'"
          :currency="currentCurrencyMask['currency']"
          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
          output-type="Number"
          empty-value="0"
          :precision="currentCurrencyMask['precision']"
          
          :thousand-separator="currentCurrencyMask['thousand-separator']"
          readOnly
        ></vue-numeric>

        <vue-numeric
          v-if="lesMontants.isVisible === 'TTC'"
          v-model="lesMontants.montantTotalTtc.value"
          :currency="currentCurrencyMask['currency']"
          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
          output-type="Number"
          empty-value="0"
          :precision="currentCurrencyMask['precision']"
          :thousand-separator="currentCurrencyMask['thousand-separator']"
          readOnly
        ></vue-numeric>
        </td>
      </tr>
    <!-- fin de mtf -->
       <tr v-if="remiseExist">
        <th>Remise Totale
            <el-select v-model="remise" size="mini" class="col-md-4 px-0">
            <el-option
              v-for="item in remises"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <vue-numeric
            class="remise-col"
            currency="%"
            output-type="Number"
            currency-symbol-position="suffix"
            :max="100"
            :min="0"
            :minus="false"
            empty-value="0"
            :precision="1"
             v-model="lesMontants.remiseTotalMontant.percent"
             @input="calculTotalRemise()"
          ></vue-numeric>
        </th>
        <td class="bg-color">
         <vue-numeric
          v-model="lesMontants.remiseTotalMontant.value"
          :currency="currentCurrencyMask['currency']"
          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
          output-type="Number"
          empty-value="0"
          :precision="currentCurrencyMask['precision']"
          :decimal-separator="currentCurrencyMask['decimal-separator']"
          :thousand-separator="currentCurrencyMask['thousand-separator']"
          readOnly
        ></vue-numeric>
        </td>
      </tr>
      <!-- Affichage des taux : TVA et TPS -->
      <tr>
        <th>
          <span class="pr-4">Taxes :</span>
          <el-select v-model="lesMontants.taxesSelectLibelle.libelle" placeholder="Select" size="mini" class="col-md-4 px-0" @change="showElement3(lesMontants.taxesSelectLibelle.libelle)">
          <el-option
            v-for="item in lesMontants.taxesSelectLibelle.datas"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            >
          </el-option>
          </el-select>

          <el-select v-model="lesMontants.taxesSelectTaux.tps.taux" placeholder="Select" size="mini" class="col-md-4 px-0 options" v-if="lesMontants.isVisible3 === 'TPS' " @change="selectTva(lesMontants.taxesSelectTaux.tps.taux)">
            <el-option
                v-for="item in lesMontants.taxesSelectTaux.tps.datas"
                :key="item.value"
                :value="item.value"
                :label="item.label +  '%'"
                >
                <vue-numeric
                  v-model="item.value"
                  read-only
                  currency="%"
                  currency-symbol-position="suffix"
                  :max=200 :min=0 :minus=false
                  empty-value=0 :precision=0
                >
                </vue-numeric>
            </el-option>
          </el-select>
          
          <el-select v-model="lesMontants.taxesSelectTaux.tva.taux" placeholder="Select" size="mini" class="col-md-4 px-0 options" v-if="lesMontants.isVisible3 === 'TVA'" @change="selectTva(lesMontants.taxesSelectTaux.tva.taux)">
            <el-option
                v-for="item in lesMontants.taxesSelectTaux.tva.datas"
                :key="item.value"
                :value="item.value"
                :label="item.label +  '%'"
                >
                <vue-numeric
                  v-model="item.value"
                  read-only
                  currency="%"
                  currency-symbol-position="suffix"
                  :max=200 :min=0 :minus=false
                  empty-value=0 :precision=0
                >
                </vue-numeric>
            </el-option>
          </el-select>
        </th>
        <td class="bg-color">
          <vue-numeric
          v-if="lesMontants.isVisible3 ==='TVA'"
          v-model="lesMontants.tva.montant"
          :currency="currentCurrencyMask['currency']"
          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
          output-type="Number"
          empty-value="0"
          :precision="currentCurrencyMask['precision']"
          :decimal-separator="currentCurrencyMask['decimal-separator']"
          :thousand-separator="currentCurrencyMask['thousand-separator']"
          readOnly
        ></vue-numeric>

         <vue-numeric
          v-if="lesMontants.isVisible3 ==='TPS'"
          v-model="lesMontants.tps.montant"
          :currency="currentCurrencyMask['currency']"
          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
          output-type="Number"
          empty-value="0"
          :precision="currentCurrencyMask['precision']"
          :decimal-separator="currentCurrencyMask['decimal-separator']"
          :thousand-separator="currentCurrencyMask['thousand-separator']"
          readOnly
        ></vue-numeric>
        </td>
      </tr>
      <tr
        v-for="(item, $i) in alltaxes"
        :key="$i"
        >
        <th class="tableHeight">
          <div class="buttonSpace">
            <button @click="removeTaxe(item)" type="button" class="btn btn-sm btn-danger">
              <i class="fas fa-trash"></i>
            </button>
          </div>
          <div class="taxInput">
            <el-input
            placeholder="Libellé"
            v-model="item.libelle"
            class="font-weight-bold w-100"
            size="small"
            >

            </el-input>
          </div>
          <div class="taxeValeur pl-1 ">
            <vue-numeric
                currency="%"
                output-type="Number"
                currency-symbol-position="suffix"
                class="form-control form-control-sm w-100"
                :max="100"
                :min="0"
                :minus="false"
                :read-only="!item.libelle"
                v-model="item.valeur"
                @input="computetaxes()"
                :precision="1"
            ></vue-numeric> 
          </div>
        </th>
        <td class="bg-color">
            <vue-numeric
                  v-model="item.taxable"
                  class="text-right font-weight-bold"
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="Number"
                  empty-value="0"
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  readonly
            ></vue-numeric>
        </td>
      </tr>
      <tr>
        <th>
          <button @click="addNewTax()" type="button" class="btn btn-sm btn-info">
              <i class="fas fa-plus-circle"></i>
            </button>
        </th>
      </tr>
      <!-- Fin Affichage des taux : TVA et TPS -->
      <!-- Affichage Montant Total à payer -->
      <tr>
        <th class="font-weight-bold">Montant Total à payer
          <el-select v-model="lesMontants.montantTotalSelect.type" placeholder="Select" size="mini" class="col-md-4 px-0" @change="showElement2(lesMontants.montantTotalSelect.type)">
          <el-option
            v-for="item in lesMontants.montantTotalSelect.datas"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            >
          </el-option>
          </el-select>
        </th>
        <td class="td-total"
        >
          <vue-numeric
          v-if="lesMontants.isVisible2 === 'HT'"
          v-model="lesMontants.montantTotalHt.value"
          :currency="currentCurrencyMask['currency']"
          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
          output-type="Number"
          empty-value="0"
          :precision="currentCurrencyMask['precision']"
          :decimal-separator="currentCurrencyMask['decimal-separator']"
          :thousand-separator="currentCurrencyMask['thousand-separator']"
          readOnly
        ></vue-numeric>
        <vue-numeric
          v-if="lesMontants.isVisible2 === 'TTC' || lesMontants.isVisible2 === 'NET'  "
          v-model="lesMontants.montantTotalTtc.value"
          :currency="currentCurrencyMask['currency']"
          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
          output-type="Number"
          empty-value="0"
          :precision="currentCurrencyMask['precision']"
          :decimal-separator="currentCurrencyMask['decimal-separator']"
          :thousand-separator="currentCurrencyMask['thousand-separator']"
          readOnly
        ></vue-numeric>
        </td>
      </tr>
      <!-- Fin Affichage Montant Total à payer -->
    </table>
  </div>
</template>

<script>
import VueNumeric from "vue-numeric";
import firebase from "firebase"
import currenciesMaskMixin from "../../../bp/mixins/currenciesMask";
import {arround} from "../../../../services/helper"
export default {
    name: 'TotalTable',
    props: ['remiseExist', 'lesMontants', 'idDevis', "modelfactureref","projectId","couleur"],
    components:{VueNumeric},
    mixins: [currenciesMaskMixin],
    data(){
      return{
          libelleTaxe:"",
          taxeValeur:"",
          remise: "HT",
          cssState:true,
          alltaxes:[],
          remises: [{
            value: 'HT',
            label: 'HT'}
        ],
      }
    },
    methods:{
      removeTaxe(e){
        this.alltaxes = this.alltaxes.filter(ft=> ft.libelle != e.libelle);
        this.lesMontants.montantTotalTtc.value = arround(this.lesMontants.montantTotalTtc.value-e.taxable, 0)
      },
      addNewTax(){
      let taxe={
        valeur:this.taxeValeur,
        libelle:this.libelleTaxe,
        taxable:(this.lesMontants.montantTotalHt.value*parseInt(this.taxeValeur)/100)
      }
      this.alltaxes.push(taxe);
      },
      computetaxes() {
        if(this.lesMontants.taxesSelectLibelle.libelle === "TVA"){
       this.selectTva(this.lesMontants.taxesSelectTaux.tva.taux, 'tva')
        }
        else if(this.lesMontants.taxesSelectLibelle.libelle === "TPS"){
          this.selectTva(this.lesMontants.taxesSelectTaux.tps.taux, 'tps')
        }
        
      },
      // Calcul du montant total TTC sans remise
      calculMontantTtcSansRemise(){
        if(this.lesMontants.taxesSelectLibelle.libelle === "TVA"){
            this.lesMontants.montantTotalTtc.value = arround(this.lesMontants.montantTotalHt.value*(1+ this.lesMontants.taxesSelectTaux.tva.taux/100), 0);
            this.lesMontants.montantCSS.value = arround(this.lesMontants.montantTotalTtc.value/100, 0) 
        }
        else if(this.lesMontants.taxesSelectLibelle.libelle === "TPS"){
          this.lesMontants.montantTotalTtc.value = arround(this.lesMontants.montantTotalHt.value/0.905 , 0)
          this.lesMontants.montantCSS.value = arround(this.lesMontants.montantTotalTtc.value/100, 0)
        }
        
      },

      // Calcul du montant total TTC avec remise
      calculMontantTtcAvecRemise(){
        let netCommercial = this.lesMontants.montantTotalHt.value - this.lesMontants.remiseTotalMontant.value;
        if(this.lesMontants.taxesSelectLibelle.libelle === "TVA" && this.lesMontants.montantTotalHt.value){
          this.lesMontants.montantTotalTtc.value = netCommercial + this.lesMontants.montantTotalHt.value*this.lesMontants.taxesSelectTaux.tva.taux/100;
        }
        else if(this.lesMontants.taxesSelectLibelle.libelle === "TPS" && this.lesMontants.montantTotalHt.value){
          this.lesMontants.montantTotalTtc.value = netCommercial - (this.lesMontants.montantTotalHt.value*this.lesMontants.taxesSelectTaux.tps.taux/100);
        }
        this.lesMontants.montantCSS.value = arround(this.lesMontants.montantTotalTtc.value/100, 0)
      },

      /* Cette fonction vérifie si la remise existe ou non 
       et calcul le montant TTC
      */
      checkIfRemiseOrNot(){
        if(this.remiseExist){
          this.calculMontantTtcAvecRemise()
        }
        else{
          this.calculMontantTtcSansRemise()
        }
      },

      selectTva(value, type='tva'){
        this.lesMontants.taxesSelectTaux.tva.taux = value;
        this.calculMontantTaxes();
        this.checkIfRemiseOrNot();
        this.montantSubtaxes()
      },
      montantSubtaxes(){
        this.alltaxes.forEach(item=>{
        item.taxable = item.valeur ==''?0:arround(this.lesMontants.montantTotalHt.value*parseInt(item.valeur)/100, 0);
        this.lesMontants.montantTotalTtc.value = this.lesMontants.montantTotalTtc.value +item.taxable

        })
      },
      calculMontantTaxes(){
       switch ( this.lesMontants.isVisible3 ) {
        case 'TVA':
          this.calculTva();
          this.montantSubtaxes()
          break;
          case 'TPS':
          this.calculTps();
          this.montantSubtaxes()
          break;
        default:
          break;
       }
       
      },
      calculTps() {
        this.lesMontants.montantTotalSelect.type ="NET";
         let montantHt = this.lesMontants.montantTotalHt.value
         this.lesMontants.tps.montant = (montantHt/0.905)-montantHt;
         this.lesMontants.montantTotalTtc.value = montantHt + this.lesMontants.tps.montant
      },
      calculTva() {
        this.lesMontants.tva.montant = this.lesMontants.montantTotalHt.value*this.lesMontants.taxesSelectTaux.tva.taux/100;
      },
      showElement(value){
       if(value === "HT"){
         this.lesMontants.isVisible = "HT"
       }
       else{
         this.lesMontants.isVisible = "TTC"
       }
     },
     showElement2(value){
       if(value === "HT"){
         this.lesMontants.isVisible2 = "HT"
       }
       else{
         this.lesMontants.isVisible2 = "TTC"
       }
     },
      showElement3(value){
       if(value === "TVA"){
         this.lesMontants.isVisible3 = "TVA"
       }
       else{
         this.lesMontants.isVisible3 = "TPS";   
        this.calculTps();
       }
     },
       calculTotalRemise(){
      this.lesMontants.remiseTotalMontant.value=((this.lesMontants.remiseTotalMontant.percent/100) * this.lesMontants.montantTotalHt.value)
      },
       changeColor(){
         let allSelected=document.querySelectorAll(".td-total")
        allSelected.forEach(element => {
          element.style.backgroundColor  = this.couleur;
          // alert( this.couleur)
        });
      },
    },
   
    created(){
      // Appel des fonctions de calcul
        this.checkIfRemiseOrNot();
        this.calculMontantTaxes();
        this.calculTotalRemise()
      // End
    },
    mounted(){
      this.changeColor()
    },
    beforeUpdate () {
      this.changeColor()
    },
    watch: {
      "lesMontants.montantTotalHt.value": function(){
        this.checkIfRemiseOrNot();
        this.calculMontantTaxes()
      },
      "lesMontants.remiseTotalMontant.value":function(){
        this.calculMontantTtcAvecRemise()
      },
      "lesMontants.tps.taux":function(){
        this.calculMontantTtcAvecRemise()
      },
      "lesMontants.tps.montant ":function(){
       // alert("Hi");
      }
      
    }
  }
</script>
<style scoped lang="scss">
.options{
  width: 70% !important;
}
.tableHeight{
  display: grid;
  grid-template-columns: 18% 33% 34%;
}
.taxInput, .taxeValeur{
  
  .el-input--small .el-input__inner {
  height: 23px !important;
  line-height: 24px !important;
}
}
td{
   width:239px!important;
   font-weight: bold;
   padding-right: 10px;
   text-align: right!important;
   position: relative;
   top: 0;
   left: 0;
   color: white;
} 
td.bg-color{
  color:black!important;
}
th{
   background-color: #fff;
   color:black;
}
::placeholder{
  color: white!important;
}
.first-element th{
  font-weight: bold;
}
th, td{
  border: 0!important;
  border-bottom: 1px solid #DCDFE6!important;
  font-size: 14px;
}
</style>