<template>
  <div>
    <!-- Popover for image cropping -->
      <el-dialog
        class="popover-style"
        :visible.sync="centerDialogVisible"
        width="30%"
        center>
        <Cropper
            classname="upload-example-cropper"
            ref="cropper"
            :defaultSize="defaultSize"
            :stencil-props="{
            movable: true,
            scalable: true,
            aspectRatio: 1
            }"
            :src="image"
          /> <br> <br>
          <span class="text-danger error-message">{{errorMessage}}</span> <br>
          <span class="size-style"><i class="fa fa-info-circle"></i> Taille recommandée</span> <br>
          <span class="size-style">Largeur : 148pixels</span>
          <span class="size-style">Hauteur : 148pixels</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="centerDialogVisible = false">Annuler</el-button>
          <el-button type="primary" @click="cropImage(); centerDialogVisible = false">Confirmer</el-button>
        </span>
      </el-dialog>
     <div class="signature-image" @click="$refs.file.click()">
       <i v-if="!isUploaded" class="fa fa-plus-circle" @click="$refs.file.click()"></i>
       <!-- afficher -->
       <img :src="cropimage" alt="Signature" class="pl-2 pt-2">
       <!-- Boutton de chargement de fichier -->
       <div class="button-wrapper">
            <input type="file" ref="file" @change="uploadImage($event)" accept="image/*">
        </div>
     </div>
      <el-button type="primary" 
        class="ml-5 mt-1"
        v-if="isUploaded"
        @click="centerDialogVisible = true">Modifier</el-button>
  </div>
</template>

<script>
import firebase from 'firebase'
import { Cropper } from 'vue-advanced-cropper'

export default {
    name: "Upload",
    components:{Cropper},
    data() {
      return {
        centerDialogVisible: false,
        isUploaded:false,
        errorMessage: null,
        isUploaded: false,
        storage: firebase.storage().ref("signatures"),
        cropimage: '/suivi/assets/images/signature.png',
        fileName: "",
        dialogVisible: false,
        image: null
      };
    },
    methods: {
      defaultSize() {
        return {
          width: 148,
          height: 148,
        }
		  },
      uploadImage(event) {
        this.centerDialogVisible = true;
        let input = event.target;
        // Get file infos
        let file = input.files[0];
        let isTrue = this.beforeUpload(file);
        if(isTrue){
          this.fileName = file.name + file.lastModified;
          if (input.files && input.files[0]) {
          
            let reader = new FileReader();
            reader.onload = (e) => {
               this.image = e.target.result;
            }
            // convert to (base64 format)
            reader.readAsDataURL(input.files[0]);
            
          }
        } 
    },
    cropImage(file){
      this.isUploaded = true
      const {coordinates, canvas} = this.$refs.cropper.getResult()
			this.coordinates = coordinates;
      this.cropimage = canvas.toDataURL();
      this.isUploaded = true;
      let base64Image = this.cropimage.split(",")[1];
      this.storage.child('signatures/' + this.fileName).putString(base64Image, 'base64').then((url) =>{
            this.$emit("imageSignature", base64Image);
           
        });
    },
     beforeUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isLt2M) {
        this.errorMessage = 'L\'image de la signature ne peut pas excéder 2Mb !';
      }
      return isLt2M
    }
   }
  }
</script> 

<style scoped>
.upload-example-cropper {
	border: solid 1px #EEE;
	height: 300px;
	width: 100%;
}
.error-message{
  font-size: 14px;
}
div.signature-image{
  border: 1px dashed #c0ccda;
  border-radius: 6px;
  width: 165px;
  height: 165px;
  cursor: pointer;
  margin-left: 20%;
  position: relative;
  top: 0;
  left: 0;
}
.signature-image .fa{
  position: absolute;
  left: 40%;
  bottom: 60%;
  color: black;
  font-size: 25px;
}
.button-wrapper input {
	display: none;
}
</style>