<template>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Clients</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link :to="{ name: 'suivi' }">Accueil</router-link>
            </li>
            <li class="breadcrumb-item">
              <router-link :to="{ name: 'suivi-acteurs' }">Acteurs</router-link>
            </li>
            <li class="breadcrumb-item">Clients</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="tab-content" style="padding: 15px;">
                <div class="row">
                  <div class="col-md-12">
                    <div
                      v-if="this.perms == 'ecrire'"
                      class="text-xs-right m-b-10"
                    >
                      <button
                        type="submit"
                        data-toggle="modal"
                        @click="onClick"
                        data-whatever="test"
                        class="btn btn-info btn-rounded"
                      >
                        <i class="fa fa-plus"></i> Ajouter un client
                      </button>
                    </div>
                    <div class="m-b-10">
                      <el-row>
                        <el-col :span="5">
                          <el-input
                            v-model="filters[0].value"
                            placeholder="Rechercher..."
                          ></el-input>
                        </el-col>
                      </el-row>
                    </div>
                    <data-tables
                      v-loading="loading"
                      element-loading-text="Chargement..."
                      element-loading-spinner="el-icon-loading"
                      :filters="filters"
                      :table-props="tableProps"
                      :data="tableData"
                      :current-page="1"
                      :page-size="10"
                      :pagination-props="{
                        background: true,
                        pageSizes: [10, 30, 50, 100],
                      }"
                    >
                      <el-table-column
                        v-for="title in tableTitles"
                        :prop="title.prop"
                        :label="title.label"
                        :key="title.prop"
                        sortable="custom"
                      >
                      </el-table-column>
                      <el-table-column
                        v-if="this.perms == 'ecrire'"
                        label="Actions"
                      >
                        <template slot-scope="scope">
                          <el-button
                            type="primary"
                            size="mini"
                            icon="el-icon-edit"
                            circle
                            @click="handleEdit(scope.$index, scope.row)"
                          >
                          </el-button>
                          <el-button
                            size="mini"
                            type="danger"
                            icon="el-icon-delete"
                            circle
                            @click="handleDelete(scope.$index, scope.row)"
                          ></el-button>
                        </template>
                      </el-table-column>
                    </data-tables>
                  </div>
                </div>
              </div>
      
              <el-dialog title="Ajout client" :visible.sync="dialogCustomerVisible">
                <div>
                  <div >
                    <div class="modal-body">
                      <el-form
                        ref="form"
                        :model="clients"
                        label-width="120px"
                        size="medium"
                      >
                        <el-form-item label="TYPE CLIENT">
                          <el-radio-group v-model="clients.type" size="medium">
                            <el-radio border label="Particulier"></el-radio>
                            <el-radio border label="Entreprise"></el-radio>
                          </el-radio-group>
                        </el-form-item>
                      </el-form>
                      <Particulier
                        v-if="clients.type == 'Particulier'"
                        @onClose="onClose"
                        @submitComponentForm="submitComponentForm"
                      />
                      <Entreprise
                        v-if="clients.type == 'Entreprise'"
                        @onClose="onClose"
                        @submitComponentForm="submitComponentForm"
                      />
                    </div>
                  </div>
                </div>
              </el-dialog>
              <el-dialog title="Modification client" :visible.sync="dialogCustomerVisibleEdit">
                <div class="modal-body">
                      <el-form
                        ref="form"
                        :model="clients"
                        label-width="120px"
                        size="medium"
                      >
                        <el-form-item label="TYPE CLIENT">
                          <el-radio-group v-model="client.type" size="medium">
                            <el-radio
                              border
                              :disabled="client.type == 'Entreprise'"
                              label="Particulier"
                            ></el-radio>
                            <el-radio
                              border
                              :disabled="client.type == 'Particulier'"
                              label="Entreprise"
                            ></el-radio>
                          </el-radio-group>
                        </el-form-item>
                      </el-form>
                      <Particulier-edit
                        v-if="client.type == 'Particulier'"
                        :client="client"
                        :loadingButton="loadingButton"
                        @emitUpdateEvent="onUpdate"
                        @close="closeEdit()"
                      />
                      <Entreprise-edit
                        v-if="client.type == 'Entreprise'"
                        :client="client"
                        :loadingButton="loadingButton"
                        @emitUpdateEvent="onUpdate"
                        @close="closeEdit()"
                      />
                    </div>
              </el-dialog>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BaseImageInput from "../../bp/baseImageInput";
import Swal from "sweetalert2";
import { VueEditor, Quill } from "vue2-editor";
import firebase from "firebase";
import table from "../../bp/mixins/suivi/data-tables";
import Client from "../../../store/collection/clients";
import Particulier from "./components/clients/particulier";
import Entreprise from "./components/clients/entreprise";
import EntrepriseEdit from "./components/clients/entreprise-edit";
import ParticulierEdit from "./components/clients/particulier-edit";

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 4000,
});

export default {
  components: {
    BaseImageInput,
    VueEditor,
    Quill,
    Particulier,
    Entreprise,
    EntrepriseEdit,
    ParticulierEdit,
  },
  name: "clients",
  mixins: [table],
  data() {
    return {
      perms: JSON.parse(localStorage.getItem("userSession")).perm[3].content[0]
        .value,
      provinceRef: firebase.firestore().collection("province"),
      ref: firebase.firestore().collection("clients"),
      paysRef: firebase.firestore().collection("pays"),
      villeRef: firebase.firestore().collection("ville"),
      loading: true,
      loadingButton: false, //button loading dans le composant entreprise/particulier
      saveAndContinu: "",
      dialogCustomerVisible:false,
      dialogCustomerVisibleEdit:false,
      tableTitles: [
        {
          prop: "type",
          label: "Type",
          width: "10%",
        },
        {
          prop: "nomPrenom",
          label: "Nom(s)",
        },
        {
          prop: "tel1",
          label: "Tel",
        },
        {
          prop: "quartier",
          label: "Quartier",
        },
        {
          prop: "villeName",
          label: "Ville",
        },
        {
          prop: "paysName",
          label: "Pays",
        },
      ],
      filters: [
        {
          prop: ["type", "nom", "quartier", "ville"],
          value: "",
        },
      ],
      client: {}, //pour la mise à jour
      clients: {
        type: "Particulier",
        updatedAt: "",
        deletedAt: "",
      },
      dtTable: null,
      projetId: JSON.parse(localStorage.getItem("userSession")).projet,
    };
  },
  created() {
    this.$loading().close();
  },
  methods: {
    submitComponentForm: function(client) {
      this.onClose();
      this.tableData = []; //on reset le data pour éviter les doublons
      client.projectId = this.projetId;
      client.pays = this.paysRef.doc(client.pays);
      client.province = this.provinceRef.doc(client.province);
      client.ville = this.villeRef.doc(client.ville);
      client.createdAt = new Date();
      this.ref
        .add(client)
        .then((client) => {
          Toast.fire({
            type: "success",
            title: "Client enregistré avec succès",
            customClass: "bg-success",
          });
         
        })
        .catch(function(error) {
          Swal.fire("Oops...", "Vérifiez votre connexion internet!", "error");
          // console.log(error);
        });
    },
    onUpdate: function(client, spinnerStatus) {
      this.tableData = []; //on reset le data pour éviter les doublons
      client.updatedAt = new Date();
      this.ref
        .doc(client.id)
        .update(client)
        .then((client) => {
          Toast.fire({
            type: "success",
            title: "Client mis à jour avec succès",
            customClass: "bg-success",
          });
          this.closeEdit();
        })
        .catch((error) => {
          loader.hide();
          Swal.fire({
            type: "error",
            title: "Oops...",
            text: "Une erreur est survenue!",
          });
        });
    },
    handleEdit(index, row) {
      this.dialogCustomerVisibleEdit = true
      this.client = row;
      this.loadingButton = false;
    },
    closeEdit() {
      this.dialogCustomerVisibleEdit = false
    },
    onClick: function() {
      this.dialogCustomerVisible = true

    },
    onClose: function() {
      this.dialogCustomerVisible = false
    },
  },
};
</script>
<style scoped>
.input-group-text1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #7eb1f5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.nav-link.show.active i,
.nav-link.active i {
  color: #61b174;
}
span.stepTitle.active {
  color: #67757c !important;
  font-weight: 500 !important;
}
.nav-link {
  font-weight: normal;
  text-transform: normal;
  color: #67757c;
  height: 100%;
}
.nav-pills > li.nav-item {
  display: block;
  width: 50%;
  text-align: center;
}
.nav-pills > li.nav-item a {
  margin: 1px auto;
  padding: 1px 0px;
  border-radius: 2px;
  font-size: 0.9rem;
  background-color: #c8cacd;
  height: 100%;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #61b174;
}
.card-body {
  padding: 0px 5px;
  /* background-color: #D0E6ED !important; */
}
.nav.nav-tabs.customtab li a {
  text-align: center;
  padding: 5px 10px;
}
.nav.nav-tabs.customtab li a.active {
  background-color: #0080003b;
  border-bottom-color: #f32b2bcc;
}
.nav.nav-tabs.customtab li {
  width: 50%;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}
.input-group-text {
  width: 150px;
  background-color: #398bf7;
  color: #ffffff;
}
.input-group-montant {
  width: 125px !important;
}

.fieldset {
  border: 1px solid #ced4da !important;
  padding: 0 0.4em 0 0.4em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.row-fieldset {
  border: 1px solid #ced4da !important;
  padding: 0 0.2em 0 0.2em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.text-red {
  color: red !important;
}
</style>
