<template>
     <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Fournisseurs</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi-acteurs'}">Acteurs</router-link>
                            </li>
                            <li class="breadcrumb-item">Fournisseurs</li>
                        </ol>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body" style="background-color: #FFF !important;">
                                <div class="tab-content" style="padding: 15px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div  v-if="this.perms=='ecrire'" class="text-xs-right m-b-10">
                                                <button type="button" data-toggle="modal" @click="onClick" class="btn btn-info btn-rounded">
                                                    <i class="fa fa-plus"></i> Ajouter un Fournisseur
                                                </button>
                                            </div>
                                            <div class="m-b-10">
                                                <el-row>
                                                    <el-col :span="5">
                                                        <el-input v-model="filters[0].value" placeholder="Rechercher..."></el-input>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                            <data-tables
                                                v-loading="loading"
                                                element-loading-text="Loading..."
                                                element-loading-spinner="el-icon-loading"
                                                :filters="filters" 
                                                :table-props="tableProps" 
                                                :data="tableData" 
                                                :current-page="1"
                                                :page-size="10"
                                                :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                                >
                                                <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                                </el-table-column>
                                                <el-table-column  v-if="this.perms=='ecrire'" label="Actions">
                                                     <template slot-scope="scope">
                                                        <el-button
                                                            type="primary"
                                                            size="mini"
                                                            icon="el-icon-edit" circle
                                                            @click="handleEdit(scope.$index, scope.row)">
                                                        </el-button>
                                                        <el-button
                                                            size="mini"
                                                            type="danger"
                                                            icon="el-icon-delete" circle
                                                            @click="handleDelete(scope.$index, scope.row)"></el-button>
                                                    </template>
                                                </el-table-column>
                                            </data-tables>
                                        </div>
                                    </div>
                                </div>
                                <div  v-if="this.perms=='ecrire'" class="modal fade" id="modalFournisseur" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajout Fournisseur</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onSubmit">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">
                                                                    Nom <span class="text-red">*</span>
                                                                </label>
                                                                <div class="col-8">
                                                                    <input class="form-control" required v-model="fournisseurs.nom" type="text" id="nom">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Téléphone 1</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.tel1" type="text" id="tel1">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Téléphone 2</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.tel2" type="text" id="tel2">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Email</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.email" type="email" id="mail">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Pays</label>
                                                                <div class="col-8">
                                                                    <select v-model="fournisseurs.pays" class="form-control" id="pays">
                                                                        <option v-for="country in pays" :value="country.id" :key="country.id">
                                                                            {{country.nom_fr}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Province</label>
                                                                <div class="col-8">
                                                                    <select v-model="fournisseurs.province" @change="getProvince" class="form-control">
                                                                        <option v-for="province in provinces" :value="province.id" :key="province.code">
                                                                            {{province.libelle}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Ville</label>
                                                                <div class="col-8">
                                                                    <select v-model="fournisseurs.ville" class="form-control">
                                                                        <option v-for="ville in villes" :value="ville.id" :key="ville.code">
                                                                            {{ville.libelle}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Quartier</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.quartier" type="text" id="quartier">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Code postal</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.codepostal" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Note</label>
                                                                <vue-editor id="note" :editorToolbar="customToolbar" v-model="fournisseurs.note"></vue-editor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <span class="mytooltip tooltip-effect-5">
                                                            <input type="checkbox" id="basic_checkbox_2" v-model="saveAndContinu" class="filled-in chk-col-blue" />
                                                            <label for="basic_checkbox_2"></label>
                                                            <span class="tooltip-content clearfix">
                                                                <span class="tooltip-text p-t-1">
                                                                    Cocher pour enregistrer plusieurs fois.
                                                                </span> 
                                                            </span>
                                                        </span>
                                                        <button type="submit" class="btn btn-rounded btn-success">Enregistrer</button>
                                                        <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Annuler</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  v-if="this.perms=='ecrire'" class="modal fade" id="modalEditFournisseur" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Modification d'un fournisseur</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onUpdate">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-8">
                                                                    <input class="form-control" required v-model="fournisseurs.nom" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Téléphone 1</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.tel1" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Téléphone 2</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.tel2" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Mail</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.email" type="email">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Pays</label>
                                                                <div class="col-8">
                                                                    <select v-model="fournisseurs.pays" class="form-control">
                                                                        <option v-for="country in pays" :value="country.ref" :key="country.id">
                                                                            {{country.nom_fr}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Province</label>
                                                                <div class="col-8">
                                                                    <select v-model="fournisseurs.province" @change="getProvince" class="form-control">
                                                                        <option v-for="province in provinces" :value="province.ref" :key="province.code">
                                                                            {{province.libelle}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Ville</label>
                                                                <div class="col-8">
                                                                    <select v-model="fournisseurs.ville" class="form-control" id="ville">
                                                                        <option v-for="ville in villes" :value="ville.id" :key="ville.code">
                                                                            {{ville.libelle}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Quartier</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.quartier" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-4 col-form-label">Code postal</label>
                                                                <div class="col-8">
                                                                    <input class="form-control" v-model="fournisseurs.codepostal" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Note</label>
                                                                <vue-editor id="note" :editorToolbar="customToolbar" v-model="fournisseurs.note"></vue-editor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <el-button type="primary" round native-type="submit" :loading="buttonLoading">Modifier</el-button>
                                                        <el-button type="danger" round data-dismiss="modal">Fermer</el-button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<style scoped>
    .input-group-text1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #7eb1f5;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #D0E6ED !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .text-red {
        color: red !important;
    }
</style>

<script>
    import Vue from 'vue'
    import BaseImageInput from '../../bp/baseImageInput'
    import { VueEditor, Quill } from "vue2-editor"
    import Swal from 'sweetalert2'
    import firebase from 'firebase'
    import PaysModel from '../../../store/collection/pays'
    import VilleModel from '../../../store/collection/ville'
    import table from '../../bp/mixins/suivi/data-tables'
    import formulaire from '../../bp/mixins/suivi/formulaire'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        components: {
            BaseImageInput, VueEditor, Quill
        },
        name: 'fournisseurs',
        mixins: [table,formulaire],
        data() {
            return {
                perms:JSON.parse(localStorage.getItem('userSession')).perm[3].content[0].value,
                ref: firebase.firestore().collection('fournisseurs'),
                loading: true,
                buttonLoading: false,
                saveAndContinu:'',
                tableTitles: [
                    {
                        prop: "nom",
                        label: "Nom(s)",
                        width:"15%"
                    },
                    {
                        prop: "tel1",
                        label: "Tel1",
                        width:"15%"
                    },
                    {
                        prop: "tel2",
                        label: "Tel2",
                        width:"15%"
                    },
                    {
                        prop: "email",
                        label: "Email",
                        width:"20%"
                    },
                    {
                        prop: "paysName",
                        label: "Pays",
                        width:"10%"
                    },
                    {
                        prop: "villeName",
                        label: "Ville",
                        width:"10%"
                    },
                    {
                        prop: "quartier",
                        label: "Quartier",
                        width:"10%"
                    },
                ],
                filters: [
                    {
                        prop: ['nom','quartier','ville'],
                        value: '',
                    }
                ],
                fournisseurs : {
                    codepostal:'',
                    mail:'',
                    nom:'',
                    note:'',
                    pays: 'L3X2KXkxLIbzfQOMUMRg',//defaut selected country
                    quartier:'',
                    tel1:'',
                    tel2:'',
                    type:'',
                    ville:'',
                    updatedAt: '',
                    deletedAt: '',
                },
                projectId: JSON.parse(localStorage.getItem("userSession")).projet,
            }
        },
        created () {
            this.$loading().close();
        },
        methods: {
            //on show le modal d'ajout de fournisseur
            onClick: function(){
                this.resetInputs();
                $('#modalFournisseur').modal('show');
            },

            //reset inputs
            resetInputs: function(){
                this.fournisseurs = {}
            },
            
            onSubmit: function(evt){
                evt.preventDefault();
                this.tableData = []; //on reset le data pour éviter les doublons
                this.fournisseurs.projectId = this.projectId;
                this.fournisseurs.pays = this.paysRef.doc(this.fournisseurs.pays);
                this.fournisseurs.province = this.provinceRef.doc(this.fournisseurs.province);
                this.fournisseurs.createdAt = new Date();
                this.ref.add(this.fournisseurs)
                .then((fournisseurs) => {
                    Toast.fire({
                        type: 'success',
                        title: 'le fournisseur ' +this.fournisseurs.nom +' a été enregistré avec succès',
                    });
                    this.resetInputs();
                    //si le bouton saveAndContinu n'est pas coché
                    if(!this.saveAndContinu){
                        $('#modalFournisseur').modal('hide');
                    }

                })
                .catch(function(error) {
                    Swal.fire('Oops...', 'Une erreur est survenue, veillez réessayer!!!', error);
                });
            },
            onUpdate: function(evt){
                evt.preventDefault();
                this.buttonLoading = true;
                this.tableData = []; //on reset le data du datatable pour éviter les doublons
                this.ref.doc(this.fournisseurs.id).update(this.fournisseurs)
                .then( (four) => {
                    this.buttonLoading = false;
                    Toast.fire({
                        type: 'success',
                        title: 'Fournisseur mis à jour avec succès',
                    });
                    $('#modalEditFournisseur').modal('hide');
                    this.resetInputs();
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Une erreur est survenue!',
                    })
                });
            },
            handleEdit(index, row) {
                $('#modalEditFournisseur').modal('show');
                this.fournisseurs = row;
            },
            async getProvince(idProvince){
                this.loadingData=true
                this.villes=[];
                this.fournisseurs.ville=''
                await this.villeRef.where('idProvince', '==', this.provinceRef.doc(idProvince.target.value)).get().then((querySnapshot)=>{
                    querySnapshot.forEach((doc)=> {
                        this.villes.push({
                        'libelle':doc.data().libelle,
                        'id':this.villeRef.doc(doc.id)
                        })
                    });
                }); 
                this.loadingData=false
            }
        },
        mounted () {
            let Pays = new PaysModel('pays')
            let Ville = new VilleModel('ville')
            this.ref.where('projectId', '==', this.projectId)
            .onSnapshot((querySnapshot) => {
                querySnapshot.forEach(async (doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    obj.nomPrenom = doc.data().nom+' '+doc.data().prenom
                    obj.paysName = await Pays.getData(doc.data().pays.id, 'nom_fr', 'pays')
                    obj.villeName = await Ville.getData(doc.data().ville.id, 'libelle', 'ville')
                    this.tableData.push(obj);
                });
                this.loading = false;
            });
        }
    }
</script>
