<template>
    <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Membres</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi-home'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="bp/suivi"> Paramètres</a>
                            </li>
                            <li class="breadcrumb-item">Membres</li>
                        </ol>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body" style="background-color: #FFF !important;">
                                <div class="tab-content" style="padding: 15px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div  v-if="this.perms=='ecrire'" class="text-xs-right m-b-10">
                                                <button type="button" data-toggle="modal" @click="onClick" class="btn btn-info btn-rounded">
                                                    <i class="fa fa-plus"></i> Ajouter un Membre
                                                </button>
                                            </div>
                                            <div class="m-b-10">
                                                <el-row>
                                                    <el-col :span="5">
                                                        <el-input v-model="filters[0].value" placeholder="Rechercher..."></el-input>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                            <data-tables
                                                v-loading="loading"
                                                element-loading-text="Chargement..."
                                                element-loading-spinner="el-icon-loading"
                                                :filters="filters" 
                                                :table-props="tableProps" 
                                                :data="tableData" 
                                                :current-page="1"
                                                :page-size="10"
                                                :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                                >
                                                <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                                </el-table-column>
                                                <el-table-column label="Confirmation">
                                                    <template slot-scope="scope">
                                                       
                                                        <el-button v-if="scope.row.confirm"
                                                            size="mini"
                                                            type="success"
                            
                                                           >
                                                            Confirmé
                                                            </el-button>
                                                        <el-button v-else
                                                            size="mini"
                                                            type="danger"
                            
                                                        >
                                                            En attente
                                                            </el-button>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column  v-if="this.perms=='ecrire'" label="Actions">
                                                    <template slot-scope="scope">
                                                        <el-button
                                                            type="primary"
                                                            size="mini"
                                                            icon="el-icon-edit" circle
                                                            @click="handleEdit(scope.$index, scope.row)">
                                                        </el-button>
                                                        <el-button
                                                            size="mini"
                                                            type="danger"
                                                            icon="el-icon-delete" circle
                                                            @click="handleDelete(scope.$index, scope.row)"></el-button>
                                                    </template>
                                                </el-table-column>
                                            </data-tables>
                                        </div>
                                    </div>
                                </div>
                                <div  v-if="this.perms=='ecrire'" class="modal fade" ref="modalVendeur" id="modalVendeur" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajout Membre</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onSubmit">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mb-1">
                                                                <label for="example-text-input" class="col-5 col-form-label p-r-0">
                                                                    <span class="text-red">*</span> Type 
                                                                </label>
                                                                <div class="col-7">
                                                                    <select class="form-control" id="type" required v-model="vendeurs.type">
                                                                        <option v-for="(roles, index) in roles.liste" :value="roles.id" :key="index"  >{{ roles.titre}}</option>
                                                                       
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" required v-model="vendeurs.nom" type="text" id="nom">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Prénom(s)
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" required v-model="vendeurs.prenom" type="text" id="prenom">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label"><span class="text-red">*</span>E-mail</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" required v-model="vendeurs.mail" type="email" id="mail">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Représentant
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeurs.representant" type="text" id="representant">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Age</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeurs.age" type="text" id="age">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Téléphone 1</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeurs.tel1" type="text" id="tel1">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Téléphone 2</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeurs.tel2" type="text" id="tel2">
                                                                </div>
                                                            </div>

                                                            

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Adresse</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeurs.adr" type="text" id="adr">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Quartier</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeurs.quartier" type="text" id="quartier">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Ville</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeurs.ville" type="text" id="ville">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Code postal</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeurs.codepostal" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Pays</label>
                                                                <div class="col-7">
                                                                    <select v-model="vendeurs.pays" class="form-control" id="pays">
                                                                        <option v-for="country in countries" :value="country.id" :key="country.id">
                                                                            {{country.nom_fr}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Note</label>
                                                                <vue-editor id="note" :editorToolbar="customToolbar" v-model="vendeurs.note"></vue-editor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <span class="mytooltip tooltip-effect-5">
                                                            <input type="checkbox" id="basic_checkbox_2" v-model="saveAndContinu" class="filled-in chk-col-blue" />
                                                            <label for="basic_checkbox_2"></label>
                                                            <span class="tooltip-content clearfix">
                                                                <span class="tooltip-text p-t-1">
                                                                    Cocher pour enregistrer plusieurs fois.
                                                                </span> 
                                                            </span>
                                                        </span>
                                                        <button type="submit" class="btn btn-rounded btn-success">Enregistrer</button>
                                                        <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Annuler</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  v-if="this.perms=='ecrire'" class="modal fade" ref="modalEditVendeur" id="modalEditVendeur" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Modification d'un Vendeur</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onUpdate">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mb-1">
                                                                <label for="example-text-input" class="col-5 col-form-label p-r-0">
                                                                    <span class="text-red">*</span> Type de Vendeur
                                                                </label>
                                                                <div class="col-7">
                                                                    <select class="form-control" id="type" v-model="vendeur.type">
                                                                        <option value="Particulier">Particulier</option>
                                                                        <option value="Entreprise">Entreprise</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.nom" type="text" id="nom">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Prénom(s)
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.prenom" type="text" id="prenom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Représentant
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.representant" type="text" id="representant">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Age</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.age" type="text" id="age">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Téléphone 1</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.tel1" type="text" id="tel1">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Téléphone 2</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.tel2" type="text" id="tel2">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Mail</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.mail" type="email" id="mail">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Adresse</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.adr" type="text" id="adr">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Quartier</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.quartier" type="text" id="quartier">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Ville</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.ville" type="text" id="ville">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Code postal</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="vendeur.codepostal" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Pays</label>
                                                                <div class="col-7">
                                                                    <select v-model="vendeur.pays" class="form-control" id="pays">
                                                                        <option v-for="country in countries" :value="country.id" :key="country.id">
                                                                            {{country.nom_fr}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Note</label>
                                                                <vue-editor id="note" :editorToolbar="customToolbar" v-model="vendeur.note"></vue-editor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success">Modifier</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<style scoped>
    .input-group-text1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #7eb1f5;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
.nav-link.show.active i,.nav-link.active i{
    color: #61b174;
}
span.stepTitle.active{
    color: #67757c !important;
    font-weight: 500 !important;
}
.nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
}
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #D0E6ED !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .text-red {
        color: red !important;
    }
</style>

<script>
    import Vue from 'vue'
    import BaseImageInput from '../../bp/baseImageInput'
    import { VueEditor, Quill } from "vue2-editor"
    import Swal from 'sweetalert2'
    import firebase from 'firebase'
    import table from '../../bp/mixins/suivi/data-tables'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        components: {
            BaseImageInput, VueEditor, Quill

        },
        props: {
            projet: {
                type: [String,Number],
                required: true
            }
        },
        mixins: [table],
        data() {
            return {
                ref: firebase.firestore().collection('vendeurs'),
                perms:JSON.parse(localStorage.getItem('userSession')).perm[0].content[0].value,
               
                groupref: firebase.firestore().collection('usergroup'),
                roles:{
                    'liste': [
                  

                    ],
                    

                },
                loading: true,
                load: '',
                saveAndContinu:'',
                tableTitles: [
                    {
                        prop: "type",
                        label: "Type",
                    }, 
                    {
                        prop: "nom",
                        label: "Nom(s)"
                    }, 
                    {
                        prop: "prenom",
                        label: "Prenom"
                    },
                    {
                        prop: "tel1",
                        label: "Tel"
                    },
                    {
                        prop: "mail",
                        label: "Mail"
                    },
                    {
                        prop: "adr",
                        label: "Adresse"
                    },
                    {
                        prop: "quartier",
                        label: "Quartier"
                    },
                    {
                        prop: "ville",
                        label: "Ville"
                    },
                ],
                filters: [
                    {
                        prop: ['type','nom','prenom','adr','quartier','ville'],
                        value: '',
                    }
                ],
                vendeur : {}, //pour la mise à jour
                paysRef: firebase.firestore().collection('pays'),
                vendeurs : {
                    adr:'',
                    age:'',
                    codepostal:'',
                    mail:'',
                    nom:'',
                    note:'',
                    pays:'',
                    prenom:'',
                    quartier:'',
                    representant:'',
                    tel1:'',
                    tel2:'',
                    type:'',
                    ville:'',
                    updatedAt: '',
                    deletedAt: '',
                },
                notify:{
                   
                },
                listVendeurs : [],
                countries : [],
                projectId: JSON.parse(localStorage.getItem("userSession")).projet,
                projectlibelle: JSON.parse(localStorage.getItem("userSession")).projettitre,
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
//                    [{ 'font': [] }],
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme

                    ['clean']                                         // remove formatting button
                ],
            }
        },
        created () {
            this.paysRef.orderBy("alpha2", "asc").get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.countries.push(obj);
                });
            });
        },
        methods: {
            //on show le modal d'ajout de vendeur
            onClick: function(){
                $('#modalVendeur').modal('show');
            },
            onSubmit: function(evt){
                evt.preventDefault();
                let loader = Vue.$loading.show();
                this.tableData = []; //on reset le data pour éviter les doublons
                this.vendeurs.confirm = false;
                this.vendeurs.projectId = this.projectId;
                this.vendeurs.createdAt = new Date();
                
                this.notify.createdAt = new Date();
                this.notify.projectId = this.projectId;
                this.notify.email = this.vendeurs.mail;
                this.notify.projet = this.projectlibelle;
                //VERIFICATION MEMBRE
                let  userref= firebase.firestore().collection('users');

                userref.where('email', '==', this.vendeurs.mail)
                .get().then( (docSnaps) => {
                    docSnaps.forEach( (doc) => {
                        this.vendeurs.userId = doc.id;
                        if (doc.exists) {
                            let ref = firebase.firestore().collection('vendeurs');
                            this.ref.add(this.vendeurs)
                            .then((vendeurs) => {
                                this.notify.docId =vendeurs.id;
                                firebase.firestore().collection('notifications').add(this.notify);
                                
                              

                                //vider les champs
                                this.vendeurs.type = '',
                                this.vendeurs.nom = '',
                                this.vendeurs.prenom = '',
                                this.vendeurs.representant = '',
                                this.vendeurs.age = '',
                                this.vendeurs.tel1 = '',
                                this.vendeurs.tel2 = '',
                                this.vendeurs.mail = '',
                                this.vendeurs.adr = '';
                                this.vendeurs.quartier = '';
                                this.vendeurs.ville = '';
                                this.vendeurs.codepostal = '';
                                this.vendeurs.note = '';
                                this.vendeurs.pays = '';
                               
                                Toast.fire({
                                    type: 'success',
                                    title: 'le membre ' +this.vendeurs.nom +' enregistré avec succès',
                        
                                })

                                //si le bouton saveAndContinu n'est pas coché
                                if(!this.saveAndContinu){
                                    $('#modalVendeur').modal('hide');
                                }

                            })
                            .catch(function(error) {
                               // Swal.fire('Oops...', 'Une erreur est survenue, veillez réessayer!!!', error);
                               console.log(error);
                            });

                           
                        } else {
                            // doc.data() will be undefined in this case
                           $('#modalVendeur').modal('hide');
                           alert('Hello');
                            
                        }
                        // TODO: sort projects by last modified data
                    });
                    loader.hide();
                });
              
            },
            onUpdate: function(evt){
                evt.preventDefault();
                this.tableData = []; //on reset le data du datatable pour éviter les doublons
                this.loading = true;
                this.ref.doc(this.vendeur.id).update(this.vendeur)
                .then( (vendeur) => {
                    // loader.hide();
                    $('#modalEditVendeur').modal('hide');
                    Toast.fire({
                        type: 'success',
                        title: 'le vendeur ' +this.vendeur.nom +' a été modifié avec succès',
                        customClass:  "bg-success"
                    });
                    this.loading = false;
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Une erreur est survenue!',
                    })
                });
            },
            handleEdit(index, row) {
                $('#modalEditVendeur').modal('show');
                this.vendeur = row;
            },
        },
        mounted () {
            this.tableData = []; //on reset le data pour éviter les doublons
            this.ref
            .where('projectId', '==', this.projectId)
            .onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;

                    this.tableData.push(obj);
                });
                this.loading = false;
            });

            let roles = firebase.firestore().collection('roles');
            // le loader en mode plugin
            //let loader = this.$loading.show();

            roles.where('projet', '==', JSON.parse(localStorage.getItem("userSession")).projet)
                .get().then( (docSnaps) => {
                    docSnaps.forEach( (doc) => {
                        if (doc.exists) {
                            let result = {
                                id: doc.id,
                                titre: doc.get('titre'),
                                createdAt: doc.get('createdAt')
                            };
                        // console.log(result);
                            this.roles.liste.push(result);
                        } else {
                            // doc.data() will be undefined in this case
                            loader.hide();
                            return ;
                        }
                        // TODO: sort projects by last modified data
                    });
                // loader.hide();
                }); 
        }
    }
</script>
