<template>
     <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Banques</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="bp/suivi"> Paramètres</a>
                            </li>
                            <li class="breadcrumb-item">Banques</li>
                        </ol>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content" style="padding: 15px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-xs-right m-b-10">
                                                <button type="button" data-toggle="modal" @click="onClick" class="btn btn-info btn-rounded">
                                                    <i class="fa fa-plus"></i> Ajouter une banque
                                                </button>
                                            </div>
                                            <div class="m-b-10">
                                                <el-row>
                                                    <el-col :span="5">
                                                        <el-input v-model="filters[0].value" placeholder="Rechercher..."></el-input>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                            <data-tables
                                                v-loading="loading"
                                                element-loading-text="Loading..."
                                                element-loading-spinner="el-icon-loading"
                                                :filters="filters" 
                                                :table-props="tableProps" 
                                                :data="tableData" 
                                                :current-page="1"
                                                :page-size="10"
                                                :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                                >
                                                <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                                </el-table-column>
                                                <el-table-column label="Actions">
                                                     <template slot-scope="scope">
                                                        <el-button
                                                            type="primary"
                                                            size="mini"
                                                            icon="el-icon-edit" circle
                                                            @click="handleEdit(scope.$index, scope.row)">
                                                        </el-button>
                                                        <el-button
                                                            size="mini"
                                                            type="danger"
                                                            icon="el-icon-delete" circle
                                                            @click="handleDelete(scope.$index, scope.row)"></el-button>
                                                    </template>
                                                </el-table-column>
                                            </data-tables>
                                        </div>
                                    </div>
                                </div> 
                                <div class="modal fade" id="modalBanque" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajout Banque</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onSubmit">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="banque.nom" type="text" id="nom">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Téléphone 1</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="banque.tel1" type="text" id="tel1">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Téléphone 2</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="banque.tel2" type="text" id="tel2">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Mail</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="banque.mail" type="email" id="mail">
                                                                </div>
                                                            </div>
                                                            <!-- <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Adresse</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="banque.adresse" type="text" id="adresse">
                                                                </div>
                                                            </div> -->
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Quartier</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="banque.quartier" type="text" id="quartier">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Ville</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="banque.ville" type="text" id="ville">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Code postal</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="banque.codepostal" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-2">
                                                                <label class="col-5 col-form-label">Pays</label>
                                                                <div class="col-7">
                                                                    <select v-model="banque.pays" class="form-control" id="pays">
                                                                        <option v-for="country in countries" :value="country.id" :key="country.id">
                                                                            {{country.nom_fr}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <span class="mytooltip tooltip-effect-5">
                                                            <input type="checkbox" id="basic_checkbox_2" v-model="saveAndContinu" class="filled-in chk-col-blue" />
                                                            <label for="basic_checkbox_2"></label>
                                                            <span class="tooltip-content clearfix">
                                                                <span class="tooltip-text p-t-1">
                                                                    Cocher pour enregistrer plusieurs fois.
                                                                </span> 
                                                            </span>
                                                        </span>
                                                        <button type="submit" class="btn btn-rounded btn-success">Enregistrer</button>
                                                        <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Annuler</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="modalEditBanque" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Modification Banque</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onUpdate">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="bank.nom" type="text" id="nom">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Téléphone 1</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="bank.tel1" type="text" id="tel1">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Téléphone 2</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="bank.tel2" type="text" id="tel2">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Mail</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="bank.mail" type="email" id="mail">
                                                                </div>
                                                            </div>
                                                            <!-- <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Adresse</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="bank.adresse" type="text" id="adresse">
                                                                </div>
                                                            </div> -->
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Quartier</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="bank.quartier" type="text" id="quartier">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Ville</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="bank.ville" type="text" id="ville">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Code postal</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="bank.codepostal" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-2">
                                                                <label class="col-5 col-form-label">Pays</label>
                                                                <div class="col-7">
                                                                    <select v-model="bank.pays" class="form-control" id="pays">
                                                                        <option v-for="country in countries" :value="country.id" :key="country.id">
                                                                            {{country.nom_fr}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-rounded btn-success">Modifier</button>
                                                        <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Annuler</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<style scoped>
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #ffffff !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 110px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .text-red {
        color: red !important;
    }
</style>

<script>
    import BaseImageInput from '../../bp/baseImageInput'
    import Swal from 'sweetalert2'
    import firebase from 'firebase'
    import table from '../../bp/mixins/suivi/data-tables'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        components: {
            BaseImageInput,

        },
        name: 'banques',
        mixins: [table],
        data() {
            return {
                ref: firebase.firestore().collection('banque'),
                paysRef: firebase.firestore().collection('pays'),
                loading: true,
                saveAndContinu:'',
                tableTitles: [ 
                    {
                        prop: "nom",
                        label: "Nom(s)"
                    },
                    {
                        prop: "tel1",
                        label: "Tel"
                    },
                    {
                        prop: "mail",
                        label: "Mail"
                    },
                    {
                        prop: "quartier",
                        label: "Quartier"
                    },
                    {
                        prop: "ville",
                        label: "Ville"
                    },
                ],
                filters: [
                    {
                        prop: ['nom','tel1','quartier','ville'],
                        value: '',
                    }
                ],
                bank: {},
                banque : {
                    codepostal: '',
                    mail: '',
                    nom: '',
                    pays: '',
                    quartier: '',
                    tel1: '',
                    tel2: '',
                    ville: '',
                },
                banques : [],
                countries : [],
                dtTable: null,
                projectId: JSON.parse(localStorage.getItem('userSession')).projet
            }
        },
        created () {
            this.paysRef.orderBy("alpha2", "asc").get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.countries.push(obj);
                });
            });
        },
        methods: {
            onClick: function(){
                $('#modalBanque').modal('show');
            },
            onSubmit: function(evt){
                evt.preventDefault();
                this.tableData = []; //on reset le data pour éviter les doublons
                this.banque.projectId = this.projectId;
                this.banque.createdAt = new Date();

                this.ref.add(this.banque)
                .then((banque) => {
                    Swal.fire({
                        type: 'success',
                        title: 'la banque ' +this.banque.nom +' enregistrée avec succès',
                        showConfirmButton: false,
                        timer: 2500
                    })

                    //on dismiss la modal
                    $('#modalBanque').modal('hide');

                    //vider les champs
                    this.banque.nom = '',
                    this.banque.tel1 = '',
                    this.banque.tel2 = '',
                    this.banque.mail = '',
                    this.banque.quartier = '';
                    this.banque.ville = '';
                    this.banque.codepostal = '';
                })
                .catch(function(error) {
                    // console.log(error);
                    Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error')
                });
            },
            onUpdate: function(evt){
                evt.preventDefault();
                this.tableData = []; //on reset le data du datatable pour éviter les doublons
                this.loading = true;
                this.ref.doc(this.bank.id).update(this.bank)
                .then( (bank) => {
                    // loader.hide();
                    $('#modalEditBanque').modal('hide');
                    Toast.fire({
                        type: 'success',
                        title: 'la banque ' +this.bank.nom +' a été modifiée avec succès',
                        customClass:  "bg-success"
                    });
                    this.loading = false;
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Une erreur est survenue!',
                    })
                });
            },
            handleEdit(index, row) {
                $('#modalEditBanque').modal('show');
                this.bank = row;
            },
        },
        mounted () {
            this.ref
            .where('projectId', '==', this.projectId)
            .onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;

                    this.tableData.push(obj);
                });
                this.loading = false;
            });
        }
    }
</script>
