<template>
     <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Pays</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/bp/suivi"> Paramètres</a>
                            </li>
                            <li class="breadcrumb-item">Pays</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal" @submit="onSubmit">
                                    <fieldset class="fieldset">
                                        <div class="input-group mb-1 mt-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Code</span>
                                            </div>
                                            <input v-model="pays.code" class="form-control" type="number" id="code">
                                        </div>
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Alpha2</span>
                                            </div>
                                            <input v-model="pays.alpha2" class="form-control" type="text" id="alpha2">
                                        </div>
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Alpha3</span>
                                            </div>
                                            <input v-model="pays.alpha3" class="form-control" type="text" id="alpha3">
                                        </div>
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Nom Anglais</span>
                                            </div>
                                            <input v-model="pays.nom_ang" class="form-control" type="text" id="nom_ang">
                                        </div>
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Nom Français</span>
                                            </div>
                                            <input v-model="pays.nom_fr" class="form-control" type="text" id="nom_fr">
                                        </div>

                                    <div class="text-xs-right mb-2 mt-2">
                                        <button type="submit" class="btn btn-success">Enregistrer</button>
                                    </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <fieldset class="fieldset">
                                    <div class="table-responsive">
                                        <table id="paysList" class="display table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Alpha2</th>
                                                    <th>Alpha3</th>
                                                    <th>Nom Anglais</th>
                                                    <th>Nom Français</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Alpha2</th>
                                                    <th>Alpha3</th>
                                                    <th>Nom Anglais</th>
                                                    <th>Nom Français</th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modalEditPays" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1">Modification Pays</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" @submit="onSubmit">
                                        <div class="input-group mb-1 mt-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Code</span>
                                            </div>
                                            <input v-model="pays.code" class="form-control" type="number" id="code">
                                        </div>
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Alpha2</span>
                                            </div>
                                            <input v-model="pays.alpha2" class="form-control" type="text" id="alpha2">
                                        </div>
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Alpha3</span>
                                            </div>
                                            <input v-model="pays.alpha3" class="form-control" type="text" id="alpha3">
                                        </div>
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Nom Anglais</span>
                                            </div>
                                            <input v-model="pays.nom_ang" class="form-control" type="text" id="nom_ang">
                                        </div>
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Nom Français</span>
                                            </div>
                                            <input v-model="pays.nom_fr" class="form-control" type="text" id="nom_fr">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Send message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<style scoped>
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #D0E6ED !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
</style>

<script>
    import BaseImageInput from '../../bp/baseImageInput'
    import Swal from 'sweetalert2'
    import firebase from 'firebase'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        components: {
            BaseImageInput,

        },
        name: 'pays',
        data() {
            return {
                ref: firebase.firestore().collection('pays'),
                listpays : [],
                pays : {},
                dtTable: null,
                projet: JSON.parse(localStorage.getItem('userSession')).projet
            }
        },
        methods: {
            onSubmit: function(evt){
                evt.preventDefault();

                this.ref.add(this.pays)
                .then((pays) => {

                    Toast.fire({
                        type: 'success',
                        title: 'le pays ' +this.pays.nom_fr +' enregistré avec succès',
                        customClass:  "bg-success"
                    });

                    //refresh pays datatable
                    pays.btnAction =
                    '<i id="' + pays.id + '"  data-id="'+pays.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-edit"></i>&nbsp;'
                    +'<button type="button" id="' + pays.id + '" class="btn btn-danger btn_delete"><i class="fa fa-trash-alt"></i></button>';

                    this.dtTable.row.add([
                        this.pays.code,
                        this.pays.alpha2,
                        this.pays.alpha3,
                        this.pays.nom_ang,
                        this.pays.nom_fr,
                        pays.btnAction,
                    ]);
                    this.dtTable.order([0, 'asc']).draw(false);

                    //erase form fields
                    this.pays.code = '',
                    this.pays.alpha2 = '',
                    this.pays.alpha3 = '',
                    this.pays.nom_ang = '',
                    this.pays.nom_fr = '';
                })
                .catch(function(error) {
                    Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                    // console.log(error);
                });
            }
        },
        mounted () {
            this.dtTable = $('#paysList').DataTable({});
            this.ref.get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    var obj = doc.data();
                    obj.id = doc.id;
                    obj.btnAction =
                    '<a href="#"><i id="' + obj.id + '" data-id="'+obj.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;'
                    +'<a href="#" style="color:red!important"><i id="' + obj.id + '" data-id="'+obj.id+'" data-toggle="modal" data-target="#modalEditPays" class="fa fa-trash-alt"></i></a>';

                    this.dtTable.row.add([
                        obj.code,
                        obj.alpha2,
                        obj.alpha3,
                        obj.nom_ang,
                        obj.nom_fr,
                        obj.btnAction,
                    ]);
                    this.dtTable.order([0, 'asc']).draw(false);
                });
            });
        }
    }
</script>
