<template>
     <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Produits</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/bp/home">Accueil</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="bp/suivi"> Paramètres</a>
                            </li>
                            <li class="breadcrumb-item">Produits</li>
                        </ol>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content" style="padding: 15px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                                <div class="text-xs-right mb-2">
                                                <button type="submit" data-toggle="modal" data-target="#modalProduit" data-whatever="test" class="btn btn-info btn-rounded">
                                                    <i class="fa fa-plus"></i> Ajouter un produit
                                                </button>
                                            </div>
                                            <div class="m-b-10">
                                                <el-row>
                                                    <el-col :span="5">
                                                        <el-input v-model="filters[0].value" placeholder="Rechercher..."></el-input>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                            <data-tables
                                                v-loading="loading"
                                                element-loading-text="Loading..."
                                                element-loading-spinner="el-icon-loading"
                                                :filters="filters" 
                                                :table-props="tableProps" 
                                                :data="tableData" 
                                                :current-page="1"
                                                :page-size="10"
                                                :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                                >
                                                <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                                </el-table-column>
                                                <el-table-column label="Actions">
                                                     <template slot-scope="scope">
                                                        <el-button
                                                            type="primary"
                                                            size="mini"
                                                            icon="el-icon-edit" circle
                                                            @click="handleEdit(scope.$index, scope.row)">
                                                        </el-button>
                                                        <el-button
                                                            size="mini"
                                                            type="danger"
                                                            icon="el-icon-delete" circle
                                                            @click="handleDelete(scope.$index, scope.row)"></el-button>
                                                    </template>
                                                </el-table-column>
                                            </data-tables>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="modalProduit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajout Produit</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="uploadProductFile">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="productForm.nom" type="text" id="nom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Prix V.U(TTC)
                                                                </label>
                                                                <div class="col-7">
                                                                    <vue-numeric
                                                                        :currency="currentCurrencyMask['currency']"
                                                                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                        :max="currentCurrencyMask['max']"
                                                                        :min="currentCurrencyMask['min']"
                                                                        :minus="currentCurrencyMask['minus']"
                                                                        output-type="currentCurrencyMask['output-type']"
                                                                        :empty-value="currentCurrencyMask['empty-value']"
                                                                        :precision="currentCurrencyMask['precision']"
                                                                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                        v-model="productForm.prixVenteUnitaire"
                                                                        class="form-control text-center">
                                                                    </vue-numeric>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Charges Variables/CA
                                                                </label>
                                                                <div class="col-7">
                                                                    <vue-numeric
                                                                        currency="%"
                                                                        currency-symbol-position="suffix"
                                                                        :max=200 :min=0 :minus=false
                                                                        empty-value=0 :precision=0
                                                                        v-model="productForm.chargeVariable"
                                                                        class="form-control text-center">
                                                                    </vue-numeric>
                                                                </div>
                                                            </div>    
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Délais client
                                                                </label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisClient.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:small"> payés dans </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisClient.delaisPayement"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Stock P. finis
                                                                </label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockProduitFini.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:x-small"> dépassent <br/>un délais de </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockProduitFini.delaisStockage"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Stock(MP)</label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockMatierePremiere.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:x-small"> dépassent <br/> un délais de</span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockMatierePremiere.delaisStockage"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Délais fourni</label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisFournisseur.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:small"> payés dans </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisFournisseur.delaisPayement"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="fileupload fileupload-new pull-right" data-provides="fileupload">
                                                                <div class="fileupload-new thumbnail" style="width:190px; height: 170px;">
                                                                    <img id="imageDefault" :src="imageUrl==''?'/images/no_image.jpg':imageUrl" alt="img" style="max-width: 190px; max-height: 170px;"/>
                                                                </div>
                                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                                    style="width:190px; height: 170px;max-width: 190px; max-height: 170px; line-height: 10px;">
                                                                </div>
                                                                <div style="text-align:center1;">
                                                                    <span class="btn btn-file btn-primary" @click="pickFile">
                                                                        Choisir une autre image
                                                                    </span>
                                                                    <input type="file" ref="image" @change="onFilePicked" style="display:none"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success">Enregistrer</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="modalEditProduit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajout Produit</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="uploadProductFile">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="productForm.nom" type="text" id="nom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Prix V.U(TTC)
                                                                </label>
                                                                <div class="col-7">
                                                                    <vue-numeric
                                                                        :currency="currentCurrencyMask['currency']"
                                                                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                        :max="currentCurrencyMask['max']"
                                                                        :min="currentCurrencyMask['min']"
                                                                        :minus="currentCurrencyMask['minus']"
                                                                        output-type="currentCurrencyMask['output-type']"
                                                                        :empty-value="currentCurrencyMask['empty-value']"
                                                                        :precision="currentCurrencyMask['precision']"
                                                                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                        v-model="productForm.prixVenteUnitaire"
                                                                        class="form-control text-center">
                                                                    </vue-numeric>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Charges Variables/CA
                                                                </label>
                                                                <div class="col-7">
                                                                    <vue-numeric
                                                                        currency="%"
                                                                        currency-symbol-position="suffix"
                                                                        :max=200 :min=0 :minus=false
                                                                        empty-value=0 :precision=0
                                                                        v-model="productForm.chargeVariable"
                                                                        class="form-control text-center">
                                                                    </vue-numeric>
                                                                </div>
                                                            </div>    
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Délais client
                                                                </label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisClient.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:small"> payés dans </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisClient.delaisPayement"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Stock P. finis
                                                                </label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockProduitFini.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:x-small"> dépassent <br/>un délais de </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockProduitFini.delaisStockage"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Stock(MP)</label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockMatierePremiere.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:x-small"> dépassent <br/> un délais de</span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockMatierePremiere.delaisStockage"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Délais fourni</label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisFournisseur.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:small"> payés dans </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisFournisseur.delaisPayement"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="fileupload fileupload-new pull-right" data-provides="fileupload">
                                                                <div class="fileupload-new thumbnail" style="width:190px; height: 170px;">
                                                                    <img id="imageDefault" :src="imageUrl==''?'/images/no_image.jpg':imageUrl" alt="img" style="max-width: 190px; max-height: 170px;"/>
                                                                </div>
                                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                                    style="width:190px; height: 170px;max-width: 190px; max-height: 170px; line-height: 10px;">
                                                                </div>
                                                                <div style="text-align:center1;">
                                                                    <span class="btn btn-file btn-primary" @click="pickFile">
                                                                        Choisir une autre image
                                                                    </span>
                                                                    <input type="file" ref="image" @change="onFilePicked" style="display:none"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success">Enregistrer</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<style scoped>
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        /* background-color: #D0E6ED !important; */
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    /* .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    } */
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
</style>

<script>
    import VueNumeric from 'vue-numeric'
    import currenciesMaskMixin from '../../bp/mixins/currenciesMask'
    import BaseImageInput from '../../bp/baseImageInput'
    import Swal from 'sweetalert2'
    import firebase from 'firebase'
    import table from '../../bp/mixins/suivi/data-tables'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        components: {
            VueNumeric,BaseImageInput,

        },
        name: 'produits',
        mixins:[currenciesMaskMixin, table],
        data() {
            return {
                ref: firebase.firestore().collection('financier'),
                loading: true,
                tableTitles: [
                    {
                        prop: "nom",
                        label: "Nom(s)"
                    },
                    {
                        prop: "prixVenteUnitaire",
                        label: "Prix V.U(HT)"
                    },
                    {
                        prop: "img",
                        label: "Image"
                    },
                    {
                        prop: "chargeVariable",
                        label: "CV/CA"
                    },
                ],
                filters: [
                    {
                        prop: ['nom','prixVenteUnitaire','chargeVariable'],
                        value: '',
                    }
                ],
                produit : {}, //pour la mise à jour
                suivi : {
                    recettes: {
                        client : {},
                    }
                },
                fileTask: "",
                imageName: "",
                imageUrl: "",
                imageFile: "",
                charges: {}, //charge object
                bpfinancier:{
                    "produit-service":[],
                    "volumeVente":[
                        {
                            "order":"01",
                            "nom":"JAN",
                            "jours":31,
                            "dimanches":4,
                            "samedis":4,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":0,
                            "produitsVendus":[]
                        },
                        {
                            "order":"02",
                            "nom":"FEV",
                            "jours":28,
                            "dimanches":4,
                            "samedis":4,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"03",
                            "nom":"MAR",
                            "jours":31,
                            "dimanches":5,
                            "samedis":5,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"04",
                            "nom":"AVR",
                            "jours":30,
                            "dimanches":4,
                            "samedis":4,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"05",
                            "nom":"MAI",
                            "jours":31,
                            "dimanches":4,
                            "samedis":4,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"06",
                            "nom":"JUN",
                            "jours":30,
                            "dimanches":5,
                            "samedis":5,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"07",
                            "nom":"JUL",
                            "jours":31,
                            "dimanches":4,
                            "samedis":4,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"08",
                            "nom":"AUO",
                            "jours":31,
                            "dimanches":4,
                            "samedis":5,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"09",
                            "nom":"SEP",
                            "jours":30,
                            "dimanches":5,
                            "samedis":4,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"10",
                            "nom":"OCT",
                            "jours":31,
                            "dimanches":4,
                            "samedis":4,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"11",
                            "nom":"NOV",
                            "jours":30,
                            "dimanches":4,
                            "samedis":5,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        },
                        {
                            "order":"12",
                            "nom":"DEC",
                            "jours":31,
                            "dimanches":5,
                            "samedis":4,
                            "feries":0,
                            "ouvrables":1,
                            "accroissement":2,
                            "produitsVendus":[]
                        }
                    ]
                },
                productForm : {
                    "nom":'',
                    "prixVenteUnitaire": '',
                    "delaisClient": '',
                    "stockProduitFini":{
                        "taux": '',
                        "delaisStockage": ''
                    },
                    "stockMatierePremiere":{
                        "taux": '',
                        "delaisStockage": ''
                    },
                    "delaisFournisseur":{
                        "taux": '',
                        "delaisPayement": ''
                    },
                    "chargeVariable": '',
                    "description": '',
                    "image":{ "nom":"", "url":""},
                    "ventes":{
                        "01":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "02":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "03":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "04":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "05":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "06":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "07":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "08":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "09":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "10":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "11":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        },
                        "12":{
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                            "id":""
                        }
                    },
                    "chiffreAffaire": {
                        "annee1": {
                            "accroissement":2,
                            "montant":0,
                            "quantiteVendue":0
                        },
                        "annee2": {
                            "accroissement":2,
                            "montant":0,
                            "quantiteVendue":0
                        },
                        "annee3": {
                            "montant":0,
                            "quantiteVendue":0
                        }
                    },
                    // indice du produit qui sera creer ou modifier
                    "target": -1
                },
                projetId: JSON.parse(localStorage.getItem('userSession')).projet
            }
        },
        created : function () {
            let loader = Vue.$loading.show();
            this.ref.doc(this.projetId).get().then((doc) => {
                loader.hide();
                if (doc.exists) {
                    let produit = doc.data().produits;
                    if(!this.isEmpty(produit)) {
                        this.bpfinancier = produit;
                    }
                    // on recupere les charges du projet
                    let charges = doc.data().charges;
                    
                    if(!this.isEmpty(charges)) {
                        this.charges = charges;
                    }
                }
            })
            .catch( (error) => {
                loader.hide();
            });
        },
        methods: {
            isEmpty(obj) {
                for(var key in obj) {
                    if(obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            },
            convertProductToCharge(product){
                let result = null;
                if(!this.isEmpty(product)) {
                    if(!this.isEmpty(product.nom) && product.hasOwnProperty('nom') && product.hasOwnProperty('prixVenteUnitaire')
                     && product.hasOwnProperty('chargeVariable')){
                        let prixAchat = product.prixVenteUnitaire * product.chargeVariable / 100;
                        if(product.chargeVariable > 0){
                            result = {
                                "titre": product.nom,
                                "quantite": product.chiffreAffaire.annee1.quantiteVendue,
                                "prix": prixAchat,
                                "annee1": product.chiffreAffaire.annee1.quantiteVendue * prixAchat,
                                "commentaire":"",
                                "accroissement1": product.chiffreAffaire.annee1.accroissement,
                                "annee2": product.chiffreAffaire.annee2.montant * product.chargeVariable / 100,
                                "accroissement2": product.chiffreAffaire.annee2.accroissement,
                                "annee3": product.chiffreAffaire.annee3.montant * product.chargeVariable / 100,
                                "group": "depenses-produits"
                            };
                        }
                    }
                }
                return result;
            },
            syncProductAndCharge(productItem){
            // on va creer une charge en matiere premiere
                let chargeUpdate = this.convertProductToCharge(productItem);

                let indiceCharge = this.charges['matieres-premieres']["depenses-produits"].findIndex( (charge) => {
                    return charge.titre === productItem.nom
                });

                if(indiceCharge > -1) {
                    // le nom du produit n'a pas changer, le produit existe
                    this.charges['matieres-premieres']["depenses-produits"][indiceCharge] = chargeUpdate;
                    
                }else if(chargeUpdate != null) {
                    // on va supprimer la charge desuette car le produit a ete renomee
                    let clear =[] ;
                    this.charges['matieres-premieres']["depenses-produits"].forEach( (charge) => {
                        this.bpfinancier['articles'].forEach( (produit) => {
                            if (produit.nom === charge.titre) { clear.push(charge);}
                        })
                    });
                    this.charges['matieres-premieres']["depenses-produits"] = clear;
                    // on insere le nouvel element dans les charges de matiere premiere
                    this.charges['matieres-premieres']["depenses-produits"].push(chargeUpdate);
                

                }

            },
             storeProduct(data) {

                // this.resetProduct();
                // insertion d'une donnee
                if(data.target == -1) {

                    this.bpfinancier['articles'].push({
                        "nom":data.nom,
                        "prixVenteUnitaire": data.prixVenteUnitaire,
                        "delaisClient": data.delaisClient,
                        "stockProduitFini":{
                            "taux": data.stockProduitFini.taux,
                            "delaisStockage": data.stockProduitFini.delaisStockage
                        },
                        "stockMatierePremiere":{
                            "taux": data.stockMatierePremiere.taux,
                            "delaisStockage": data.stockMatierePremiere.delaisStockage
                        },
                        "delaisFournisseur":{
                            "taux": data.delaisFournisseur.taux,
                            "delaisPayement": data.delaisFournisseur.delaisPayement
                        },
                        "chargeVariable": data.chargeVariable,
                        "description": data.description,
                        "image": data.image,
                        "ventes":{
                            "01":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "02":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "03":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "04":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "05":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "06":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "07":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "08":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "09":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "10":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "11":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            },
                            "12":{
                                "venteMensuelle":0,
                                "venteJournaliere":0,
                                "id":""
                            }
                        },
                        "chiffreAffaire": {
                            "annee1": {
                                "accroissement":2,
                                "montant":0,
                                "quantiteVendue":0
                            },
                            "annee2": {
                                "accroissement":2,
                                "montant":0,
                                "quantiteVendue":0
                            },
                            "annee3": {
                                "montant":0,
                                "quantiteVendue":0
                            }
                        }
                    });
                    // toastr.success('Nouveau produit enregistre!', 'Merci CBS');
                    this.bpfinancier.volumeVente.forEach( (mois) => {
                        mois.produitsVendus.push({
                            "nom": data.nom,
                            "venteMensuelle":0,
                            "venteJournaliere":0,
                        });
                    });

                    // la charge sur ce produit sera mise a jour en temps reel avec le volume vente
                    let chargeVide = this.convertProductToCharge(this.bpfinancier['articles'][-1 + this.bpfinancier['articles'].length]);
                    if(chargeVide){ this.charges['matieres-premieres']["depenses-produits"].push(chargeVide)}

                }else {
                // modification d'un tuple existant
                    // remplissage du formulaire avec l'element selectionne
                    this.bpfinancier['articles'][data.target]['nom'] = data["nom"] ;
                    this.bpfinancier['articles'][data.target]['prixVenteUnitaire'] = data["prixVenteUnitaire"];
                    this.bpfinancier['articles'][data.target]['delaisClient'] = data["delaisClient"];
                    this.bpfinancier['articles'][data.target]['stockProduitFini'] = data["stockProduitFini"];
                    this.bpfinancier['articles'][data.target]['stockMatierePremiere'] = data["stockMatierePremiere"] ;
                    this.bpfinancier['articles'][data.target]['delaisFournisseur'] = data["delaisFournisseur"] ;
                    this.bpfinancier['articles'][data.target]['chargeVariable'] = data["chargeVariable"] ;
                    this.bpfinancier['articles'][data.target]['description'] = data["description"];
                    this.bpfinancier['articles'][data.target]['image'] = data["image"];
                    // synchronisations des produits et charges de matiere premiere
                    this.syncProductAndCharge(this.bpfinancier['articles'][data.target]);

                    data['target'] = -1;

                }

            },
            onSubmit: function(){
                let loader = Vue.$loading.show();

                this.ref.doc(this.projetId).update(
                    {
                        produits: this.bpfinancier,
                        charges: this.charges
                    })
                    .then( (financier) => {
                    loader.hide();
                    Swal.fire(
                        {
                            title: 'Enregistrement',
                            text: "Vous avez enregistrer avec succès les produits",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok',
                        }
                    );
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire(
                        {
                            title: 'Erreur',
                            text: "Une erreur est survenue ",
                            type: 'error',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Ok',
                            cancelButtonText: 'j\'annule'
                        }
                    )
                })
            },

            pickFile() {
                this.$refs.image.click();
            },
            uploadProductFile (evt) {
                evt.preventDefault();
                if(this.fileTask != ""){
                    firebase.storage().ref()
                    .child('/produits/'+this.fileTask.lastModified+"_"+this.productForm.nom+"_"+this.fileTask.name)
                    .put(this.fileTask, {"contentType": this.productForm.image.type})
                    .then( (snapshot) => {
                        snapshot.ref.getDownloadURL()
                            .then( (url) => {
                                this.productForm.image = {
                                    "nom": this.fileTask.lastModified+"_"+this.productForm.nom+"_"+this.fileTask.name,
                                    "url": url
                                }
                                
                                this.storeProduct(this.productForm);
                                this.onSubmit();
                            })
                            .catch((error) => {
                                loader.hide();
                                switch (error.code) {
                                    case 'storage/unauthorized':
                                    message = 'Vous n\'avez pas les authorisations requises';
                                    break;
                                    case 'storage/canceled':
                                    message = 'Le fichier a été supprimé';
                                    break;
                                    case 'storage/unknown':
                                    message = 'Erreur inattendue est survenue. Veillez réessayer';
                                    break;
                                }
                            })
                    });
                }
                else{
                    // on balance direct le produit sur le store
                    this.storeProduct(this.productForm);
                    this.onSubmit();
                }
            },
            onFilePicked(e) {
                const files = e.target.files;
                if (files[0] !== undefined) {
                    this.imageName = files[0].name;
                    if (this.imageName.lastIndexOf(".") <= 0) {
                    return;
                    }
                    const fr = new FileReader();
                    fr.readAsDataURL(files[0]);
                    fr.addEventListener("load", () => {
                    this.imageUrl = fr.result;
                    this.imageFile = files[0]; // this is an image file that can be sent to server...
                    //this.getImages();
                    
                    });
                } else {
                    this.imageName = "";
                    this.imageFile = "";
                    this.imageUrl = "";
                }
            },
            handleEdit(index, row) {
                $('#modalEditProduit').modal('show');
                this.produit = row;
            },
            deletefirestore(id) {
                this.tableData = []; //on reset le data du datatable pour éviter les doublons
                this.ref.doc(id).delete().then(function () {
                    Swal.fire({
                        position: 'top-end',
                        type: 'success',
                        title: 'Vous avez supprimé un produit avec succès',
                        showConfirmButton: false,
                        timer: 2500
                    })
                }).catch( (error) => {
                    loader.hide();
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Une erreur est survenue!',
                    })
                });
            },
            handleDelete(index, row) {
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Cette action est irréversible!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'j\'annule',
                    confirmButtonText: 'Oui, très sûr!'
                }).then((result) => {
                    if (result.value) {
                        this.deletefirestore(row.id);
                    }
                })
            }
        },
        mounted () {
            this.dtTable = $('#produitTable').DataTable({});
            this.ref.doc(this.projetId).get().then((doc) => {
                let obj = doc.data().produits;
                obj['articles'].forEach((produit, index) => {
                    produit.img = '<img src="'+produit.image.url+'" width="50" height="50"/>'

                    this.tableData.push(produit);
                })
                this.loading = false;
            });
        }
    }
</script>
