<template>
    <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Rôles</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/bp/suivi"> Suivi</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/bp/suivi"> Equipe</a>
                            </li>
                            <li class="breadcrumb-item">Rôles</li>
                        </ol>
                    </div>
                </div>

            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <fieldset class="fieldset">
                                        <div class="input-group mb-1 mt-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Rôle</span>
                                            </div>
                                            <input v-model="role.titre" class="form-control" type="text">
                                        </div>
                                        <textarea v-model="role.desc" id="description" rows="5" class="form-control" placeholder="Description"></textarea>
                                    </fieldset>
                                    <fieldset class="fieldset">
                                        <div class="form-group" >
                                            <label>Permissions <span class="text-danger">*</span>:</label>
                                            <div class="table-responsive">
                                                <table class="table editable-table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table">
                                                    <thead>
                                                    <tr>
                                                        <th width="100%" >Modules</th>
                                        
                                                       
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(perms, keyperms) in permission.liste" :value="perms.libelle" :key="keyperms" >
                                                        <td>
                                                           
                                                            <el-checkbox v-model="perms.checked">{{ perms.libelle }}</el-checkbox>
                                                            <!-- Material checked -->
                                                            <div v-if="perms.checked">
                                                            <div   v-for="(item, key) in perms.content"  :key="key"  class="form-check">
                                                            <el-checkbox  v-model="item.checked">{{ item.libelle }}</el-checkbox>
                                                                <el-select v-model="item.value" placeholder="droits">
                                                                    <el-option
                                                                    v-for="itemop in item.options"
                                                                    :key="itemop.value"
                                                                    :label="itemop.label"
                                                                    :value="itemop.value">
                                                                    </el-option>
                                                                </el-select>
                                                            </div>
                                                            </div>
                                                            
                                                           
                                                        </td>
                                                      
                                
                                                       
                                                    </tr>
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="text-xs-right mb-2 mt-2">
                                        <button   @click="onSubmit" type="button" class="btn btn-success">Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                             
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</template>
<style scoped>
.nav-link.show.active i,.nav-link.active i{
    color: #61b174;
}
span.stepTitle.active{
    color: #67757c !important;
    font-weight: 500 !important;
}
.nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
}
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #D0E6ED !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        /* width: 150px; */
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ffffff !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .permission {
        min-width: 0;
        width: 120px;
        height:20px;
        align-content: right;
       
    }
</style>

<script>
    import firebase from 'firebase'
   
    export default {
        components: {},
        name: 'typeClient',
    data() {
            return {
                ref: firebase.firestore().collection('permissions'),
                docref: firebase.firestore().collection('roles'),
               
                permission:{
                    'liste': [
                        {
                            libelle: 'FINANCE',
                            icon:'mdi mdi-currency-eur',
                            checked:false,
                            'content':[
                                {
                                    libelle:'Recettes',
                                    write:false,
                                    checked:false,
                                    path:'/bp/suivi/recettes',
                                    icon:'',
                                    image:'/bp/assets/images/menusuivi/entree.png',
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Dépenses',
                                    path:'/bp/suivi/depenses',
                                    icon:'',
                                    image:'/bp/assets/images/menusuivi/depense.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Soldes',
                                    path:'/bp/suivi/soldes',
                                    icon:'',
                                    image:'/bp/assets/images/menusuivi/soldes.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                }
                            ]
                           
                        },
                        {
                            libelle: 'TACHE',
                            icon:'mdi mdi-calendar',
                            checked:false,

                            'content':[
                                {
                                    libelle:'Taches',
                                    path: '/bp/suivi/taches',
                                    icon:'mdi mdi-table-edit icon-white',
                                    image:'/bp/assets/images/menusuivi/taches.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Calendrier',
                                    icon:'mdi mdi-calendar-blank icon-white',
                                    image:'/bp/assets/images/menusuivi/calendrier.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Feuille de route',
                                    icon:'mdi mdi-book-open-page-variant icon-white',
                                    image:'/bp/assets/images/menusuivi/feuillederoute.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Kanban',
                                    path: '/bp/suivi/kanban',
                                    icon:'mdi mdi-book-open-page-variant icon-white',
                                    image:'/bp/assets/images/menusuivi/kanban.png',
                                    write:false,
                                checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                               


                            ]

                           
                           
                        },
                        {
                            libelle: 'COMMUNICATION',
                            icon:'mdi mdi-table',
                        checked:false,

                            'content':[
                               
                                {
                                    libelle:'Rendez-vous',
                                    icon:'mdi mdi-book icon-white',
                                    image:'/bp/assets/images/menusuivi/calendrier.png',
                                    write:false,
                                checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Alertes',
                                    icon:'mdi mdi-bell icon-white',
                                    image:'/bp/assets/images/menusuivi/alertes.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Messages',
                                    icon:'mdi mdi-message icon-white',
                                    image:'/bp/assets/images/menusuivi/messages.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },

                            ]
                           
                           
                        },
                        {
                            libelle: 'ACTEURS',
                            icon:'mdi mdi-account-multiple',
                        checked:false,

                            'content':[
                               
                                {
                                    libelle:'Clients',
                                    path: '/bp/suivi/acteurs/clients',
                                    icon:'mdi mdi-message icon-white',
                                    image:'/bp/assets/images/menusuivi/clients.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Fournisseurs',
                                    path: '/bp/suivi/acteurs/fournisseurs',
                                    icon:'mdi mdi-bank icon-white',
                                    image:'/bp/assets/images/menusuivi/fournisseurs.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                               

                            ]
                           
                           
                        },
                        {
                            libelle: 'FISCALITE',
                            icon:'fas fa-balance-scale',
                            checked:false,

                            'content':[
                               
                                
                                {
                                    libelle:'Fiscalite',
                                    path:'/bp/suivi/acteurs/fiscalite',
                                    icon:'mdi mdi-bank icon-white',
                                    image:'/bp/assets/images/menusuivi/fiscalites.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },

                            ]
                           
                           
                        },
                        {
                            libelle: 'PARAMETRES',
                            icon:'mdi mdi-settings',
                            checked:false,

                            'content':[
                                {
                                    libelle:'Formulaires',
                                    checked:false,
                                    path: '/bp/suivi/parametres/formulaire',
                                    icon:'mdi mdi-book icon-white',
                                    image:'/bp/assets/images/menusuivi/formulaires.png',

                                    'content':[
                               
                                        {
                                            libelle:'Produits',
                                            path:'/bp/suivi/parametres/produits',
                                            icon:'mdi mdi-book icon-white',
                                            image:'',
                                            write:false,
                                            checked:false,
                                            options: [{
                                            value: 'lire',
                                            label: 'Lire'
                                            },
                                            {
                                            value: 'ecrire',
                                            label: 'Ecrire'
                                            },
                                            ],
                                            value:'ecrire'
                                        },
                                        {
                                            libelle:'Recettes',
                                            path:'/bp/suivi/parametres/formulaires/recettes',
                                            icon:'mdi mdi-bank icon-white',
                                            image:'',
                                            write:false,
                                            checked:false,
                                            options: [{
                                            value: 'lire',
                                            label: 'Lire'
                                            },
                                            {
                                            value: 'ecrire',
                                            label: 'Ecrire'
                                            },
                                            ],
                                            value:'ecrire'
                                        },
                                        {
                                            libelle:'Dépenses',
                                            path:'/bp/suivi/parametres/formulaires/depenses',
                                            icon:'mdi mdi-bank icon-white',
                                            image:'',
                                            write:false,
                                            checked:false,
                                            options: [{
                                            value: 'lire',
                                            label: 'Lire'
                                            },
                                            {
                                            value: 'ecrire',
                                            label: 'Ecrire'
                                            },
                                            ],
                                            value:'ecrire'
                                        },
                                        {
                                            libelle:'Taches',
                                            path: '/bp/suivi/parametres/taches',
                                            icon:'mdi mdi-table-edit icon-white',
                                            image:'/bp/assets/images/menusuivi/tache.png',
                                            write:false,
                                            checked:false,
                                            options: [{
                                            value: 'lire',
                                            label: 'Lire'
                                            },
                                            {
                                            value: 'ecrire',
                                            label: 'Ecrire'
                                            },
                                            ],
                                            value:'ecrire'
                                        },
                                        {
                                            libelle:'Clients',
                                            path: '/bp/suivi/parametres/formulaires/clients',
                                            icon:'mdi mdi-message icon-white',
                                            image:'',
                                            write:false,
                                            checked:false,
                                            options: [{
                                            value: 'lire',
                                            label: 'Lire'
                                            },
                                            {
                                            value: 'ecrire',
                                            label: 'Ecrire'
                                            },
                                            ],
                                            value:'ecrire'
                                        },
                                        {
                                            libelle:'Fournisseurs',
                                            path: '/bp/suivi/parametres/fournisseurs',
                                            icon:'mdi mdi-bank icon-white',
                                            image:'',
                                            write:false,
                                            checked:false,
                                            options: [{
                                            value: 'lire',
                                            label: 'Lire'
                                            },
                                            {
                                            value: 'ecrire',
                                            label: 'Ecrire'
                                            },
                                            ],
                                            value:'ecrire'
                                        },
                                        {
                                            libelle:'Fiscalite',
                                            path:'/bp/suivi/parametres/fiscalite',
                                            icon:'mdi mdi-bank icon-white',
                                            image:'',
                                            write:false,
                                            checked:false,
                                            options: [{
                                            value: 'lire',
                                            label: 'Lire'
                                            },
                                            {
                                            value: 'ecrire',
                                            label: 'Ecrire'
                                            },
                                            ],
                                            value:'ecrire'
                                        },

                                    ]
                                   
                                },
                                {
                                    libelle:'Membres',
                                    checked:false,
                                    path:'/bp/suivi/parametres/fiscalite',
                                    icon:'mdi mdi-account-multiple icon-white',
                                    image:'/bp/assets/images/menusuivi/membres.png',

                                    'content':[
                               
                                
                                        {
                                            libelle:'Fonctions',
                                            path:'/bp/suivi/acteurs/roles',
                                            icon:'mdi mdi-bell icon-white',
                                            image:'',
                                            write:false,
                                            checked:false,
                                            options: [{
                                            value: 'lire',
                                            label: 'Lire'
                                            },
                                            {
                                            value: 'ecrire',
                                            label: 'Ecrire'
                                            },
                                            ],
                                            value:'ecrire'
                                        },
                                        {
                                            libelle:'Equipe',
                                            path:'/bp/suivi/acteurs/membres',
                                            icon:'mdi mdi-account-plus icon-white',
                                            image:'/bp/assets/images/menusuivi/membres.png', 
                                            write:false,
                                            checked:false,
                                            options: [{
                                            value: 'lire',
                                            label: 'Lire'
                                            },
                                            {
                                            value: 'ecrire',
                                            label: 'Ecrire'
                                            },
                                            ],
                                            value:'ecrire'
                                        },

                                    ]
                                   
                                },
                                {
                                    libelle:'Produits',
                                    path: '/bp/suivi/produits',
                                    icon:'mdi mdi-book icon-white',
                                    image:'/bp/assets/images/menusuivi/produits.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Pays',
                                    path: '/bp/suivi/pays',
                                    icon:'fas fa-flag icon-white',
                                    image:'/bp/assets/images/menusuivi/pays.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                },
                                {
                                    libelle:'Workflow',
                                    path: '/bp/suivi/taches/workflow',
                                    icon:'fas fa-flag icon-white',
                                    image:'/bp/assets/images/menusuivi/workflow.png',
                                    write:false,
                                    checked:false,
                                    options: [{
                                    value: 'lire',
                                    label: 'Lire'
                                    },
                                    {
                                    value: 'ecrire',
                                    label: 'Ecrire'
                                    },
                                    ],
                                    value:'ecrire'
                                }
                            ]
                        
                           
                        },

                    ],
                    role:'',

                },
               
                role:{
                    titre:'',
                    desc:'',
                    projet:'',
                    createdAt:firebase.firestore.FieldValue.serverTimestamp(),
                }
              
            }
        },
        created () {
           
        },
        methods: {
            onSubmit() {
               
                let loader = Vue.$loading.show();
                this.docref.add(this.role
                )
                    .then((role) => {


                        const db = firebase.firestore();
                        let userSession = JSON.parse(localStorage.getItem('userSession'));
                        let projetid=userSession.projet;
                        db.collection("roles")
                        .doc(role.id)
                        .update({
                        'projet':projetid,
                        });
                       
                        this.ref.add(this.permission
                        )
                            .then((permission) => {
                                this.isLoading=false;
                                //console.log(tache.id);
                                db.collection("permissions")
                                .doc(permission.id)
                                .update({
                                'role':role.id,
                                });
                                loader.hide();
                      
                                Swal.fire({
                                    title:'Enregistrement Réussi',
                                    text:'Votre role a été enregistré avec succès!',
                                    type:'success',
                                    showCancelButton: false,
                                    confirmButtonText: 'OK',
                                   
                                }); 
                                //storyRef.update({ id: increment });                       
                            })
                            .catch(function(error) {
                                loader.hide();
                                Swal.fire('Oops...', 'Erreur!', 'error')
                            }); 
                      
                                          
                    })
                    .catch(function(error) {
                        loader.hide();
                     Swal.fire('Oops...', 'Erreur!', 'error')
                    });

               
            },
            addNewRowVisionCourt() {
                this.permissions.liste.push({
                    libelle: '',
                    
                });
            },
            deleteRowVisionCourt(index, perm) {
                var idx = this.permission.liste.indexOf(perm);
                if (idx > -1) {
                    Swal.fire({
                        title: 'Attention',
                        text: "Vous ne pourrez pas revenir en arrière !",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'je confirme',
                        cancelButtonText: 'j\'annule'
                    }).then((result) => {
                        if (result.value) {
                            this.permission.liste.splice(idx, 1);
                        }
                    });

                }
            },
          
            
        },
        mounted () {
            
        }
    }
</script>
