<template>
     <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Vendeurs</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'suivi'}">Accueil</router-link>
                        </li>
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'suivi-acteurs'}">Acteurs</router-link>
                        </li>
                        <li class="breadcrumb-item">Vendeurs</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" style="padding: 15px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div v-if="this.perms=='ecrire'" class="text-xs-right m-b-10">
                                            <button type="submit" data-toggle="modal" @click="onClick" data-whatever="test" class="btn btn-info btn-rounded">
                                                <i class="fa fa-plus"></i> Ajouter un vendeur
                                            </button>
                                        </div>
                                        <div class="m-b-10">
                                            <el-row>
                                                <el-col :span="5">
                                                    <el-input v-model="filters[0].value" placeholder="Rechercher..."></el-input>
                                                </el-col>
                                            </el-row>
                                        </div>
                                        <data-tables
                                            v-loading="loading"
                                            element-loading-text="Chargement..."
                                            element-loading-spinner="el-icon-loading"
                                            :filters="filters" 
                                            :table-props="tableProps" 
                                            :data="tableData" 
                                            :current-page="1"
                                            :page-size="10"
                                            :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                            >
                                            <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                            </el-table-column>
                                            <el-table-column v-if="this.perms=='ecrire'" label="Actions">
                                                    <template slot-scope="scope">
                                                    <el-button
                                                        type="primary"
                                                        size="mini"
                                                        icon="el-icon-edit" circle
                                                        @click="handleEdit(scope.$index, scope.row)">
                                                    </el-button>
                                                    <el-button
                                                        size="mini"
                                                        type="danger"
                                                        icon="el-icon-delete" circle
                                                        @click="handleDelete(scope.$index, scope.row)"></el-button>
                                                </template>
                                            </el-table-column>
                                        </data-tables>
                                    </div>
                                </div>
                            </div>  
                            <div  v-if="this.perms=='ecrire'" class="modal fade" id="modalvendeurs" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title"><strong>Ajout Vendeur</strong></h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <el-form ref="form" :model="vendeurs" label-width="150px" size="medium">
                                                <el-form-item label="TYPE VENDEUR">
                                                    <el-radio-group v-model="vendeurs.type" size="medium">
                                                        <el-radio border label="Particulier"></el-radio>
                                                        <el-radio border label="Entreprise"></el-radio>
                                                    </el-radio-group>
                                                </el-form-item>
                                            </el-form>
                                            <Particulier v-if="vendeurs.type == 'Particulier'" @submitComponentForm="submitComponentForm" />
                                            <Entreprise v-if="vendeurs.type == 'Entreprise'" @submitComponentForm="submitComponentForm"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div  v-if="this.perms=='ecrire'" class="modal fade" id="modalEditvendeur" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Modification Vendeur</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <el-form ref="form" :model="vendeurs" label-width="150px" size="medium">
                                                <el-form-item label="TYPE VENDEUR">
                                                    <el-radio-group v-model="vendeur.type" size="medium">
                                                        <el-radio border :disabled="vendeur.type=='Entreprise'" label="Particulier"></el-radio>
                                                        <el-radio border :disabled="vendeur.type=='Particulier'" label="Entreprise"></el-radio>
                                                    </el-radio-group>
                                                </el-form-item>
                                            </el-form>
                                            <Particulier-edit v-if="vendeur.type == 'Particulier'" :vendeur="vendeur" @emitUpdateEvent="onUpdate" />
                                            <Entreprise-edit v-if="vendeur.type == 'Entreprise'" :vendeur="vendeur" @emitUpdateEvent="onUpdate"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BaseImageInput from '../../bp/baseImageInput'
    import Swal from 'sweetalert2'
    import { VueEditor, Quill } from "vue2-editor"
    import firebase from 'firebase'
    import table from '../../bp/mixins/suivi/data-tables'
    import Vendeur from '../../../store/collection/vendeurs'
    import Particulier from './components/vendeurs/particulier'
    import Entreprise from './components/vendeurs/entreprise'
    import EntrepriseEdit from './components/vendeurs/entreprise-edit'
    import ParticulierEdit from './components/vendeurs/particulier-edit'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        components: {
            BaseImageInput, VueEditor, Quill,Particulier,Entreprise, EntrepriseEdit, ParticulierEdit
        },
        name: 'vendeurs',
        mixins: [table],
        data() {
            return {
                perms:JSON.parse(localStorage.getItem('userSession')).perm[3].content[0].value,
                provinceRef: firebase.firestore().collection('province'),
                ref: firebase.firestore().collection('vendeurs'),
                paysRef: firebase.firestore().collection('pays'),
                loading: true,
                tableTitles: [
                    {
                        prop: "type",
                        label: "Type",
                        width: "10%"
                    }, 
                    {
                        prop: "nomPrenom",
                        label: "Nom(s)"
                    }, 
                    {
                        prop: "tel1",
                        label: "Tel1"
                    },
                    {
                        prop: "tel2",
                        label: "Tel2"
                    },
                    {
                        prop: "quartier",
                        label: "Quartier"
                    },
                    {
                        prop: "villeName",
                        label: "Ville"
                    },
                    {
                        prop: "paysName",
                        label: "Pays"
                    },
                ],
                filters: [
                    {
                        prop: ['type','nom','quartier','ville'],
                        value: '',
                    }
                ],
                vendeur : {}, //pour la mise à jour
                vendeurs : {
                    type: 'Particulier',
                    updatedAt: '',
                    deletedAt: '',
                },
                dtTable: null,
                projetId: JSON.parse(localStorage.getItem('userSession')).projet,
            }
        },
        created () {
            this.$loading().close();
        },
        methods: {
            submitComponentForm: function(vendeur){
                this.tableData = []; //on reset le data pour éviter les doublons
                vendeur.projectId = this.projetId;
                vendeur.pays = this.paysRef.doc(vendeur.pays);
                vendeur.province = this.provinceRef.doc(vendeur.province);
                vendeur.createdAt = new Date();
                this.ref.add(vendeur)
                .then((vendeur) => {
                    Toast.fire({
                        type: 'success',
                        title: 'Vous avez enregistré un vendeur avec succès',
                        customClass:  "bg-success"
                    });
                })
                .catch(function(error) {
                    Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                    // console.log(error);
                });
            },
            onUpdate: function(vendeur){
                this.tableData = []; //on reset le data pour éviter les doublons
                vendeur.updatedAt = new Date();
                this.ref.doc(vendeur.id).update(vendeur)
                .then( (vendeur) => {
                    $('#modalEditvendeur').modal('hide');
                    Toast.fire({
                        type: 'success',
                        title: 'Vendeur mis à jour avec succès',
                    });
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Une erreur est survenue!',
                    })
                });
            },
            handleEdit(index, row) {
                $('#modalEditvendeur').modal('show');
                this.vendeur = row;
            },
            onClick: function(){
                $('#modalvendeurs').modal('show');
            },
        },
    }
</script>