<template>
    <div class="page-wrapper mt-5">
        <div class="container">
            
               <div class="row">
                <div  v-for="(item, key) in menuitem"  :key="key"  class="col-lg-2">
                    <a v-if="item.checked" :href="item.path" class="card bg-light" >
                        <div  class="card-body">
                            <div class="d-flex no-block">
                                <div class="center">
                                    <img :src="item.image" :alt="item.image" class="img-fluid">   
                                 </div>
                            </div>
                            <h5 class="m-t-2 text-center">{{ item.libelle }}</h5>
                        </div>
                    </a>
               
                </div>
                </div>
               
               
               
            
           
        </div>
       
    </div>

</template>

<script>
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'
    import firebase from 'firebase'
    import VueIntro from 'vue-introjs';
    import 'intro.js/introjs.css';
    //CALENDAR
  
    //CHAT
    import CloseIcon from 'vue-beautiful-chat/src/assets/close-icon.png'
    import OpenIcon from 'vue-beautiful-chat/src/assets/logo-no-bg.svg'
    import FileIcon from 'vue-beautiful-chat/src/assets/file.svg'
    import CloseIconSvg from 'vue-beautiful-chat/src/assets/close.svg'

    export default {
        data(){
            return {
                perms:JSON.parse(localStorage.getItem('userSession')).perm,
                users_count: '',
                tasks_count: '',
                recent_incomplete_tasks: {},
                menuitem: [],

                todos: [],
                todoForm: new Form({
                    'todo': ''
                }),
                projet: JSON.parse(localStorage.getItem('userSession')).projet,

                /*** */
                icons:{
                    open:{
                    img: OpenIcon,
                    name: 'default',
                    },
                    close:{
                    img: CloseIcon,
                    name: 'default',
                    },
                    file:{
                    img: FileIcon,
                    name: 'default',
                    },
                    closeSvg:{
                    img: CloseIconSvg,
                    name: 'default',
                    },
                },
                participants: [
                    {
                    id: 'user1',
                    name: 'Matteo',
                    imageUrl: 'https://avatars3.githubusercontent.com/u/1915989?s=230&v=4'
                    },
                    {
                    id: 'user2',
                    name: 'Support',
                    imageUrl: 'https://avatars3.githubusercontent.com/u/37018832?s=200&v=4'
                    }
                ], // the list of all the participant of the conversation. `name` is the user name, `id` is used to establish the author of a message, `imageUrl` is supposed to be the user avatar.
                titleImageUrl: 'https://a.slack-edge.com/66f9/img/avatars-teams/ava_0001-34.png',
                messageList: [
                    { type: 'text', author: `me`, data: { text: `Say yes!` } },
                    { type: 'text', author: `user1`, data: { text: `No.` } }
                ], // the list of the messages to show, can be paginated and adjusted dynamically
                newMessagesCount: 0,
                isChatOpen: false, // to determine whether the chat window should be open or closed
                showTypingIndicator: '', // when set to a value matching the participant.id it shows the typing indicator for the specific user
                colors: {
                    header: {
                    bg: '#4e8cff',
                    text: '#ffffff'
                    },
                    launcher: {
                    bg: '#4e8cff'
                    },
                    messageList: {
                    bg: '#ffffff'
                    },
                    sentMessage: {
                    bg: '#4e8cff',
                    text: '#ffffff'
                    },
                    receivedMessage: {
                    bg: '#eaeaea',
                    text: '#222222'
                    },
                    userInput: {
                    bg: '#f4f7f9',
                    text: '#565867'
                    }
                }, // specifies the color scheme for the component
                alwaysScrollToBottom: false, // when set to true always scrolls the chat to the bottom when new events are in (new message, user starts typing...)
                messageStyling: true // enables *bold* /emph/ _underline_ and such (more info at github.com/mattezza/msgdown)
            }
        },
        components : { ClickConfirm },
       
      
        methods: {
           
            /*
            menuitem(){

               
            },*/

          
            
           
            /* */
            sendMessage (text) {
            if (text.length > 0) {
                this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1
                this.onMessageWasSent({ author: 'support', type: 'text', data: { text } })
            }
            },
            onMessageWasSent (message) {
            // called when the user sends a message
            this.messageList = [ ...this.messageList, message ]
            },
            openChat () {
            // called when the user clicks on the fab button to open the chat
            this.isChatOpen = true
            this.newMessagesCount = 0
            },
            closeChat () {
            // called when the user clicks on the botton to close the chat
            this.isChatOpen = false
            },
            handleScrollToTop () {
            // called when the user scrolls message list to top
            // leverage pagination for loading another page of messages
            },
            handleOnType () {
            console.log('Emit typing event')
            },
            editMessage(message){
            const m = this.messageList.find(m=>m.id === message.id);
            m.isEdited = true;
            m.data.text = message.data.text;
            }
        },
        computed: {
        },
        mounted() {

            //.log('item');
            //console.log('Bonjour La famille');
            //alert('Hello')
           let perms=JSON.parse(localStorage.getItem('userSession')).perm;
               perms.forEach( (item, key)=> {
                    //console.log(key);
                    console.log(item);
                item.content.content.forEach( (itemContent, keycontent)=> {
                        //console.log(key);
                        //console.log(item);
                        //alert('itemContent');
                    this.menuitem.push(itemContent);
                    });
                });

        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style>
    .strikethrough{
      text-decoration: line-through;
    }

    .over {
        position: relative;
        width: 100%;
    }



    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 95%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 40px;
        font-weight: bold;
        padding: 50px;
        margin-right:50px;
        text-align: center;
    }

    .over1:hover .overlay {
        opacity: 0.8;
    }
    .over2:hover .overlay {
        opacity: 0.8;
    }
    .over3:hover .overlay {
        opacity: 0.8;
    }
    .over4:hover .overlay {
        opacity: 0.8;
    }

</style>
