<template>
    <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"><b>Formulaire Recettes</b></h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/bp/home">Accueil</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="bp/suivi"> Finances</a>
                            </li>
                            <li class="breadcrumb-item">Recettes</li>
                        </ol>
                    </div>
                </div>
            <div class="row">
                <div class="col-4">
                   
                    <div class="card">
                        <div class="card-body">
                            
                            <vue-form-generator :schema="schema.produits.active" :model="model" :options="formOptions">
                                //this would be the general template for each field
                                <template slot="field" slot-scope="props">
                                    <tr  v-if="props.field.required">
                                        <td><h1>{{ props.field.label }}</h1><td>
                                        <td>
                                            <!-- but in this place I dont want to override the original <component....> template-->
                                        </td>
                                    </tr>
                                </template>
                                       
                            <span slot="firstName-before" class="input-group-addon">
                                <i class="fa fa-search"></i>
                                </span>
                            <span slot="lastName-after" class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
	
                            </vue-form-generator>
                            <div class="mb-1">
                                <button  @click="handleAddProd()" type="button" class="btn btn-info">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                    <div class="col-4">
                   
                    <div class="card">
                        <div class="card-body">
                            
                            <vue-form-generator :schema="schema.client" :model="model" :options="formOptions">
                                //this would be the general template for each field
                                <template slot="field" slot-scope="props">
                                    <tr>
                                        <td><h1>{{ props.field.label }}</h1><td>
                                        <td>
                                            <!-- but in this place I dont want to override the original <component....> template-->
                                        </td>
                                    </tr>
                                </template>
                                       
                            <span slot="firstName-before" class="input-group-addon">
                                <i class="fa fa-search"></i>
                                </span>
                            <span slot="lastName-after" class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
	
                            </vue-form-generator>
                            <div class="mb-1">
                                <button  @click="handleAddProd()" type="button" class="btn btn-info">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                        <div class="card">
                            <div class="card-body">
                            
                                <vue-form-generator :schema="schema.vendeur" :model="model" :options="formOptions">
                                    //this would be the general template for each field
                                    <template slot="field" slot-scope="props">
                                        <tr>
                                            <td><h1>{{ props.field.label }}</h1><td>
                                            <td>
                                                <!-- but in this place I dont want to override the original <component....> template-->
                                            </td>
                                        </tr>
                                    </template>
                                       
                                <span slot="firstName-before" class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                    </span>
                                <span slot="lastName-after" class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
	
                                </vue-form-generator>
                                <div class="mb-1">
                                    <button  @click="handleAddProd()" type="button" class="btn btn-info">
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                   
                        <div class="card">
                            <div class="card-body">
                            
                                <vue-form-generator :schema="schema.image" :model="model" :options="formOptions">
                                    //this would be the general template for each field
                                    <template slot="field" slot-scope="props">
                                        <tr>
                                            <td><h1>{{ props.field.label }}</h1><td>
                                            <td>
                                                <!-- but in this place I dont want to override the original <component....> template-->
                                            </td>
                                        </tr>
                                    </template>
                                       
                                <span slot="firstName-before" class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                    </span>
                                <span slot="lastName-after" class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
	
                                </vue-form-generator>
                                <div class="mb-1">
                                    <button  @click="handleAddProd()" type="button" class="btn btn-info">
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </div>
                            
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                            
                                <vue-form-generator :schema="schema.fichiers" :model="model" :options="formOptions">
                                    //this would be the general template for each field
                                    <template slot="field" slot-scope="props">
                                        <tr>
                                            <td><h1>{{ props.field.label }}</h1><td>
                                            <td>
                                                <!-- but in this place I dont want to override the original <component....> template-->
                                            </td>
                                        </tr>
                                    </template>
                                       
                                <span slot="firstName-before" class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                    </span>
                                <span slot="lastName-after" class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
	
                                </vue-form-generator>
                                <div class="mb-1">
                                    <button  @click="handleAddProd()" type="button" class="btn btn-info">
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </div>
                            
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="click2edit m-b-40">Cliquez sur le boutton enregistrer pour sauvegarder toutes les modifications.</div>
                      
                                <button id="save" class="btn btn-success btn-rounded" onclick="save()" type="button">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                    
                
            </div>
           
            <div class="row">
                      

                    <!-- Modale Calendar -->
                    <div class="modal fade" ref="modalRecette" id="modalRecette" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal!</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <h1>Modal</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalAddInput" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajout d'un nouveau Champs</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <!--
                                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Edition</a> </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Aperçu</a> </li>
                                                   
                                            </ul>
                                            -->
                                            <div class="modal-body">
                                                    
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group row mb-1">
                                                                <label for="example-text-input" class="col-5 col-form-label p-r-0">
                                                                    <span class="text-red">*</span> Section
                                                                </label>
                                                                    
                                                                <div class="col-12">
                                                                    <select v-model="model.section" class="form-control" id="type">
                                                                           
                                                                        <option value="sectProduits">Produits</option>
                                                                        <option value="sectMontant">Montant</option>
                                                                        <option value="sectVersement">Versement</option>
                                                                        <option value="sectLieu">Lieu</option>
                                                                        <option value="sectPreuve">Preuve</option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="example-text-input" class="col-5 col-form-label p-r-0">
                                                                    <span class="text-red">*</span> Type Champs
                                                                </label>
                                                                    
                                                                <div class="col-12">
                                                                    <select @change="onInputChange" v-model="model.typeChamp" class="form-control" id="type">
                                                                           
                                                                        <option value="inputText">Input Texte</option>
                                                                        <option value="inpuNumber">Input number</option>
                                                                        <option value="inpuSelect">Input Select</option>
                                                                        <option value="inputDate">Date</option>
                                                                        <option value="inputTextArea">Zone de texte</option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                              
                                                                                                                                                                                    
                                                                                                                       
                                                                                                                            
                                                                
                                                        </div>
                                                        <div  class="col-md-6">
                                                        <div v-if="model.typeChamp=='inputText'">
                                                        <div v-for="(input, index) in schema.texte.fields" :key="index">
                                                            
                                                        <div class="form-group row mb-1">
                                                               
                                                            <label class="col-5 col-form-label">Libellé</label>
                                                            <div class="col-7">
                                                                <input v-model="input.label" class="form-control" type="text" id="lieu">
                                                            </div>
                                                        </div>
                                                                
                                                        <div class="form-group row mb-1">
                                                            <label class="col-5 col-form-label">PlaceHolder</label>
                                                            <div class="col-7">
                                                                <input v-model="input.placeholder" class="form-control" type="text" id="lieu">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-1">
                                                        <label class="col-5 col-form-label">Obligatoire</label>
                                                        <el-switch
                                                            style="display: inline"
                                                            v-model="input.required"
                                                            active-color="#13ce66"
                                                            inactive-color="#ff4949"
                                                            active-text="oui"
                                                            inactive-text="non">
                                                        </el-switch>
                                                        </div>
                                            
                                                        </div>
                                                        <div>
                                                            <div class="mb-1">
                                                                <button  @click="onInputChange()" type="button" class="btn btn-info">
                                                                    <i class="fas fa-plus-circle"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                                
                                                        </div>
                                                                
                                                        <div class="col-md-6">
                                                                
                                                            <vue-form-generator v-if="this.model.typeChamp=='inputText'" :schema="schema.texte" :model="model" :options="formOptions"></vue-form-generator>   
                                                                
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button @click="addInputForm()" class="btn btn-rounded btn-success">Enregistrer</button>
                                                        <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Annuler</button>
                                                    </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 
</template>
<style scoped>
.nav-link.show.active i,.nav-link.active i{
    color: #61b174;
}
span.stepTitle.active{
    color: #67757c !important;
    font-weight: 500 !important;
}
.nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
}
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #f4f6f9;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 5px 15px;
        background-color: #ffffff !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 33.3%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 153px;
        background-color: #ffffff;
        color: #000000;
    }
    .input-group-date {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #398bf7;
        border: 1px solid #ced4da;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .mydatepicker {
        font-size: smaller;
        font-weight: bold;
    }
    input[readonly] {
        background-color: #ffffff;
    }
    .readOnlyClass {
        color: #000000;
        background-color: #f0f0f0;
    }
    
    .visibilite{
        padding-bottom: 50px;
    }
</style>

<script>
    import Vue from 'vue'
    import VueNumeric from 'vue-numeric'
    import currenciesMaskMixin from '../../../bp/mixins/currenciesMask'
    import BaseImageInput from '../../../bp/baseImageInput'
    import datePicker from 'vue-bootstrap-datetimepicker'
    import Datepick from 'vuejs-datepicker'
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    import Loading from 'vue-loading-overlay'
    import 'vue-loading-overlay/dist/vue-loading.css'
    import Swal from 'sweetalert2'
    import firebase from 'firebase'
    import { FullCalendar } from 'vue-full-calendar'
    import 'fullcalendar/dist/fullcalendar.css'
    import 'fullcalendar/dist/locale/fr'
    import helper from '../../../../services/helper'
    import table from '../../../bp/mixins/suivi/data-tables'
    import VueFormGenerator from "vue-form-generator"
    import 'vue-form-generator/dist/vfg.css'
   
 
    Vue.use(VueFormGenerator);

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    // Init plugin
  

    export default {
        components: {
            VueNumeric,BaseImageInput,datePicker,Datepick,FullCalendar,
            
        },
        name: 'recette',
        mixins:[currenciesMaskMixin,helper,table],
        computed: {
            montantFacture(){
                return this.recettes.produit.prixVenteUnitaire * this.recettes.quantite;
            },
            restAPercevoir(){
                return (this.recettes.produit.prixVenteUnitaire * this.recettes.quantite) - this.recettes.montantRecu;
            },
        },
        data() {
            return {
                //formgenerator
                index:'',
                model: {
                id: 1,
                name: "",
                password: "J0hnD03!x4",
                skills: ["Javascript", "VueJS"],
                email: "john.doe@gmail.com",
                status: true,
                typeChamp:"",
                type:"produits",
                section:"",
                produits:[],
                recettes:{
                    produits:[],
                    
                }
                   
                },

                schema: {
                    produits:{
                  
                            
                            active:{
                                groups:[
                                    {
                                        legend: "Produits",
                                        fields: [
                                        {
                                            type: "select",
                                            label: "Type de l\'entrée",
                                            model: "recettes.type",
                                            values: [
                                                "Vente produit",
                                                "Vente service",
                                                "Vente exceptionnelle",
                                                "Reliquat",
                                                "Don / Aide"
                                            ],
                                            featured: true,
                                            required: true,
                                            enabled:true,
                                            hideNoneSelectedText:false,
                                            noneSelectedText:"Aucun"

                                           
                                        },
                                            {
                                                type: "select",
                                                label: "Produit/Service",
                                                model: "recettes.libelle",
                                                values: [],
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                                onChanged: function(val) {
                                                    let loader = Vue.$loading.show();
                                                    let productName = this.model.recettes.libelle;
                                                    this.model.produits.forEach((produit) => {
                                                        if(produit.nom == productName){
                                                            this.model.recettes.produit = produit;
                                                            this.model.recettes.quantite=1;
                                                            this.model.recettes.montantFacture= this.model.recettes.produit.prixVenteUnitaire * this.model.recettes.quantite;
                                                        }
                                                        loader.hide();
                                                    })
                                                    
                                                },
                                                hideNoneSelectedText:false,
                                                noneSelectedText:"Aucun"

                                           
                                            }, 
                                            {
                                                type: "input",
                                                inputType: "number",
                                                label: "Montant reçu",
                                                model: "recettes.montantRecu",
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                               

                                           
                                            }, 
                                            {
                                                type: "dateTimePicker",
                                                label: "Date Réception",
                                                model: "recettes.montantRecuDate",
                                                dateTimePickerOptions: {
                                                    format: 'DD/MM/YYYY',
                                                    useCurrent: true,
                                                },
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                              
                                               
                                            },
                                            {
                                                type: "input",
                                                inputType: "number",
                                                label: "Prix unitaire",
                                                model: "recettes.produit.prixVenteUnitaire",
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                                readonly: true,
                                                disabled: true
                                               

                                           
                                            },  
                                            {
                                                type: "input",
                                                inputType: "number",
                                                label: "Quantité",
                                                model: "recettes.quantite",
                                                featured: true,
                                               
                                                required: true,
                                                enabled:true,
                                                onChanged: function(val) {
                                                    let loader = Vue.$loading.show();
                                                    
                                                    this.model.recettes.montantFacture= this.model.recettes.produit.prixVenteUnitaire * this.model.recettes.quantite;                                             
                                                    loader.hide();
                                                    console.log(this.model.recettes.montantFacture)
                                                },
                                               

                                           
                                            },   
                                            {
                                                type: "input",
                                                inputType: "number",
                                                label: "Montant Facturé",
                                                model: "recettes.montantFacture",
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                                readonly: true,
                                                disabled: true
                                               

                                           
                                            }, 
                                            {
                                                type: "dateTimePicker",
                                                label: "Date Facturation",
                                                model: "recettes.montantFactureDate",
                                                dateTimePickerOptions: {
                                                    format: 'DD/MM/YYYY',
                                                    useCurrent: true,
                                                },
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                              
                                               
                                            },
                                            {
                                                type: "input",
                                                inputType: "number",
                                                label: "Reste à percevoir",
                                                model: "recettes.restAPercevoir",
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                               

                                           
                                            },
                                            {
                                                type: "dateTimePicker",
                                                label: "Date Reste",
                                                model: "recettes.montantFactureDate",
                                                dateTimePickerOptions: {
                                                    format: 'DD/MM/YYYY',
                                                    useCurrent: true,
                                                },
                                                featured: true,
                                                required: true,
                                                enabled:true,
                                              
                                               
                                            },
                                        
                                
                           
                                        ] 

                                    }
                                ]
                                 
                            },
                    inactive:{
                        groups:[
                            {
                                legend: "Produits",
                                fields: [
                                    {
                                        type: 'input',
                                        inputType: 'text',
                                        label: 'ID (disabled text field)',
                                        model: 'id',
                                        readonly: true,
                                        featured: true,
                                        required: true,
                                        enabled:false
                                           
                                    },
                                    {
                                        type: 'input',
                                        inputType: 'text',
                                        label: 'Name',
                                        model: 'name',
                                        placeholder: 'Your name',
                                        featured: true,
                                        required: true,
                                        enabled:false
                                    },
                                
                               
                                
                           
                                ] 


                            }
                        ]
                                 
                    },
                           
                           
                        
                   
                },
                    client:{
                        groups: [
                            {
                                legend: "Client",
                                fields: [
                                {
                                    type: 'input',
                                    inputType: 'text',
                                    label: 'ID (disabled text field)',
                                    model: 'id',
                                    readonly: true,
                                    featured: true,
                                    required: true,
                                    "styleClasses": [
                                        "classinput"
                                    ]
                                },
                                {
                                    type: 'input',
                                    inputType: 'text',
                                    label: 'Name',
                                    model: 'name',
                                    placeholder: 'Your name',
                                    featured: true,
                                    required: true
                                }
                           
                                ]
                            }
                        ],
                    
                        status:true,
                    fields: [
                    
                    ]
                    },
                    vendeur:{
                        groups: [
                            {
                                legend: "Vendeur",
                                fields: [
                                    {
                                        type: "input",
                                        inputType: "text",
                                        label: "Name",
                                        model: "name"
                                    },
                                    {
                                        type: "input",
                                        inputType: "number",
                                        id: "current_age",
                                        label: "Age",
                                        model: "age"
                                    }
                                ]
                            }
                        ],
                    
                        status:true,
                    fields: [
                    
                    ]
                    },
                    image:{
                        groups: [
                            {
                                legend: "Image",
                                fields: [
                                    {
                                        type: "image",
                                        label: "Avatar",
                                        model: "recettes.avatar",
                                        required: true,
                                        browse: true,
                                        preview: true
                                    },
                                   
                                   
                                   
                                ]
                            }
                        ],
                    
                        status:true,
                    fields: [
                    
                    ]
                    },
                    fichiers:{
                        groups: [
                            {
                                legend: "Fichiers",
                                
                                fields: [
                                    
                                    {
                                        type: "input",
                                        inputType: "file",
                                        label: "Preuve opération",
                                        model: "recettes.restAPercevoir",
                                        files: true,
                                        multiple: false,
                                        featured: true,
                                        required: true,
                                        enabled:true,
                                               

                                           
                                    },
                                   
                                   
                                ]
                            }
                        ],
                    
                        status:true,
                    fields: [
                    
                    ]
                    }

                },
 
                formOptions: {
                validateAfterLoad: true,
                validateAfterChanged: true
                },
               
                //formgenerator
                events:[],           
                config: {
                    locale: 'fr',
                },
                ref: firebase.firestore().collection('recettes'),
                form: firebase.firestore().collection('formulaires'),
                perms:JSON.parse(localStorage.getItem('userSession')).perm[0].content[0].value,
                loading: true,
                tableTitles: [
                    {
                        prop: "type",
                        label: "Type",
                        width: "10%"
                    }, 
                    {
                        prop: "libelle",
                        label: "Nom"
                    }, 
                    {
                        prop: "montantRecu",
                        label: "M. reçu"
                    },
                    {
                        prop: "quantite",
                        label: "Quantité"
                    },
                    {
                        prop: "montant",
                        label: "M. facturé"
                    },
                    {
                        prop: "client",
                        label: "Client"
                    },
                    {
                        prop: "vendeur",
                        label: "Vendeur"
                    },
                    {
                        prop: "versement",
                        label: "Versement"
                    },
                    {
                        prop: "banque",
                        label: "Banque"
                    },
                ],
                filters: [
                    {
                        prop: ['type','nom','montantRecu'],
                        value: '',
                    }
                ],
                recette : {}, //pour la mise à jour
                storage: firebase.storage().ref(),
                banqueRef: firebase.firestore().collection('banque'),
                vendeurRef: firebase.firestore().collection('vendeurs'),
                clientRef: firebase.firestore().collection('clients'),
                produitRef: firebase.firestore().collection('financier'),
                banques: [],
                vendeurs: [],
                clients: [],
                produits: [],
                client: {},
                vendeur: {},
                fileTask:'',
                preuveOperationFile: '',
                preuveFactureFile: '',
                imageUpload: '',
                banque: {},
                recettes: {
                    client: {
                        nom: '',
                    },
                    vendeur: {
                        nom: '',
                    },
                    banque: {
                        nom: '',
                    },
                    produit: {},
                    montantFactureDate: new Date(),
                    montantRecuDate: new Date(),
                    restAPercevoirDate: new Date(),
                    versementDate: new Date(),
                    libelle: '',
                    montantFacture: 0,
                    montantRecu: 0,
                    quantite: 1,
                    type: '',
                    updatedAt: '',
                    deletedAt: '',
                },
                recette: {
                    client: {
                        nom: '',
                    },
                    vendeur: {
                        nom: '',
                    },
                    banque: {
                        nom: '',
                    },
                    montantFactureDate: new Date(),
                    montantRecuDate: new Date(),
                    restAPercevoirDate: new Date(),
                    versementDate: new Date(),
                    libelle: '',
                    montantFacture: 0,
                    montantRecu: 0,
                    quantite: 1,
                    type: '',
                    updatedAt: '',
                    deletedAt: '',
                },
                projectId: JSON.parse(localStorage.getItem('userSession')).projet,
                options: {
                    format: 'DD/MM/YYYY',
                    useCurrent: true,
                } 
            }
        },
        created () {
            let loader = Vue.$loading.show();

            //let's populate banque select with data
            this.banqueRef
            .where('projectId', '==', this.projectId)
            .onSnapshot((querySnapshot) => {
                if(!querySnapshot.empty){
                    querySnapshot.forEach((doc) => {
                        let obj = doc.data();
                        obj.id = doc.id;
                        this.banques.push(obj);
                        loader.hide();
                    });
                }
            });

            //let's populate vendeur select with data
            this.vendeurRef.
            where('projectId', '==', this.projectId)
            .onSnapshot((querySnapshot) => {
                if(!querySnapshot.empty){
                    querySnapshot.forEach((doc) => {
                        let obj = doc.data();
                        obj.id = doc.id;
                        this.vendeurs.push(obj);
                        loader.hide();
                    });
                }
                
            });

            //let's populate client select with data
            this.clientRef
            .where('projectId', '==', this.projectId)
            .onSnapshot((querySnapshot) => {
                if(!querySnapshot.empty){
                    querySnapshot.forEach((doc) => {
                        let obj = doc.data();
                        obj.id = doc.id;
                        this.clients.push(obj);
                        loader.hide();
                    });
                }
                
            });
            //let's populate product select with data
            this.produitRef.doc(this.projectId).get().then((doc) => {
                let obj = doc.data().produits;
                if(!this.isEmpty(obj)) {
                    obj['articles'].forEach((produit, index) => {
                       
                        this.model.produits.push(produit);
                        let field=this.schema.produits.active.groups[0].fields.find(field=>field.model==='recettes.libelle');
                        field.values.push(produit.nom);
                    // alert(field.model);
                    })
                }
            });
            loader.hide();
        },
        methods: {
            isEmpty(obj) {
                for(var key in obj) {
                    if(obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            },
            detectFiles (e) {
                let fileList = e.target.files || e.dataTransfer.files
                Array.from(Array(fileList.length).keys()).map(x => {
                    // this.upload(fileList[x]);
                    this.preuveOperationFile = fileList[x];
                })
            },
            //Calendrier Event click
            eventSelected(){
                $('#modalRecette').modal('show');

            },
            //Calendrier
            calendrier(){
                let loader = Vue.$loading.show();
                    this.events=[];

                firebase.firestore().collection('recettes').where('projectId', '==',JSON.parse(localStorage.getItem('userSession')).projet).get()
                .then((querySnapshot) => {

                    querySnapshot.forEach((doc) => {
                       
                    let recette=doc.data();
                // console.log(recette);
                    let daterecette=this.dateFormat(recette.montantRecuDate);
                    this.events.push({
                            'title':recette.libelle,
                            'start':daterecette,
                            'color': 'green'
                           
                    });
                        });
                        loader.hide();
      
                   
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                })
            },

            detectFile (e) {
                let fileList = e.target.files || e.dataTransfer.files
                Array.from(Array(fileList.length).keys()).map(x => {
                    // this.upload(fileList[x]);
                    this.preuveFactureFile = fileList[x];
                })
            },
            upload (file) {
                const metadata = {
                    contentType: file.type
                };
                this.fileTask = this.storage.child('suivi/' + file.lastModified).put(file,metadata)

            },
            onSubmit: function(evt){
                let loader = Vue.$loading.show();
                evt.preventDefault();
                this.tableData = [];
                let message = '';
                this.recettes.projectId = this.projectId;
                this.recettes.createdAt = new Date();

                this.ref.add(this.recettes)
                .then((recettes) => {
                    Swal.fire({
                        type: 'success',
                        title: 'la recette a bien été enregistrée avec succès',
                        showConfirmButton: false,
                        timer: 2500
                    })
                    loader.hide();
                })
                .catch(function(error) {
                    Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                    // console.log(error);
                });
            },
            //Ajout des champs du formulaire
            addInputForm(){
            // alert('Hello');
                $('#modalAddInput').modal('hide');
                let loader = Vue.$loading.show();
                this.model.projectId = this.projectId;
                this.model.schema=this.schema;
                this.model.formOptions=this.formOptions
                this.form.add(this.model)
                .then((form) => {
                    Swal.fire({
                        type: 'success',
                        title: 'Ajout du champ réussi',
                        showConfirmButton: false,
                        timer: 2500
                    })
                    loader.hide();
                })
                .catch(function(error) {
                // Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                    // console.log(error);
                });

            },
            onInputChange: function(){
              
                //alert(size);
                let obj={
                    type: "input",
                    inputType: "text",
                    label: "Libelle",
                    model: "name",
                    placeholder: "Your name",
                    required: false,
                };
                this.schema.produits.inactive.groups[0].fields.push(obj)
                //this.index=size
            // let size=this.schema.texte.fields.length;
                /* this.clientRef.doc(clientId).get().then((doc) => {
                    this.recettes.client = doc.data();
                    loader.hide();
                }); */
            },
            onVisibleChange: function(obj,index){
               
            if (obj.enabled){
                this.schema.produits.inactive.groups[0].fields.splice(index,1)
                this.schema.produits.active.groups[0].fields.push(obj)

              

            }
            else {
            // alert(index);
                this.schema.produits.active.groups[0].fields.splice(index,1)
                this.schema.produits.inactive.groups[0].fields.push(obj)

            }
                //alert(size);
               
                //this.schema.texte.fields.push(obj);
                //this.index=size
            // let size=this.schema.texte.fields.length;
                /* this.clientRef.doc(clientId).get().then((doc) => {
                    this.recettes.client = doc.data();
                    loader.hide();
                }); */
            },
            //quand on selectionne un client, banque ou vendeur
            onClientChange: function(val){
                let loader = Vue.$loading.show();
                let clientId = val.target.value;
                this.clients.forEach((client) => {
                    if(client.id == clientId){
                        this.recettes.client = client;
                        loader.hide();
                    }
                })
                /* this.clientRef.doc(clientId).get().then((doc) => {
                    this.recettes.client = doc.data();
                    loader.hide();
                }); */
            },
            onProductChange: function(val){
                let loader = Vue.$loading.show();
                let productName = val.target.value;
                // console.log(produitId);
                this.produits.forEach((produit) => {
                    if(produit.nom == productName){
                        this.recettes.produit = produit;
                    }
                    loader.hide();
                })
            },
            onBankChange: function(val){
                let loader = Vue.$loading.show();
                let bankId = val.target.value;
                this.banques.forEach((bank) => {
                    if(bank.id == bankId){
                        this.recettes.banque = bank;
                        loader.hide();
                    }
                })
                /* this.banqueRef.doc(bankId).get().then((doc) => {
                    loader.hide();
                    this.banque = doc.data();
                }); */
            },
           
            onSellerChange: function(val){
                let loader = Vue.$loading.show();
                let sellerId = val.target.value;
                this.vendeurs.forEach((vendeur) => {
                    if(vendeur.id == sellerId){
                        this.recettes.vendeur = vendeur;
                        loader.hide();
                    }
                })
            },
            onUpdate: function(evt){
                evt.preventDefault();
                this.tableData = []; //on reset le data du datatable pour éviter les doublons
                this.loading = true;
                this.recette.updatedAt = new Date();
                this.ref.doc(this.recette.id).update(this.recette)
                .then( (recette) => {
                    // loader.hide();
                    $('#modalEditRecette').modal('hide');
                    Swal.fire({
                        type: 'success',
                        title: 'Vous avez modifié un élément avec succès',
                        showConfirmButton: false,
                        timer: 2500
                    })
                    this.loading = false;
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Une erreur est survenue!',
                    })
                });
            },
            handleAddProd() {
                $('#modalAddInput').modal('show');
                //this.recette = row;
            },
        },
        mounted () {
            this.ref.
            where('projectId', '==', this.projectId).
            onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    // console.log(obj);
                    obj.id = doc.id;
                    obj.vendeur = doc.data().vendeur.nom;
                    obj.banque = doc.data().banque.nom;
                    obj.client = doc.data().client.nom;
                    obj.montant = obj.produit.prixVenteUnitaire * obj.quantite;

                    this.tableData.push(obj);
                });
                this.loading = false;
            });
        }
    }
</script>
