<template>
  <div class="global-ticket">
    <el-dialog
      :close-on-click-modal="false"
      top="15%"
      width="98%"
      :visible.sync="display"
      @close="$emit('close:modalAddTicket')"
      append-to-body
    > 
      <!-- TICKET-->
      <transition-group name="fade">
        <add-ticket-normal
          :key="typeTicketSelected"
          v-if="typeTicketSelected == 'tsPnb7SxsRj0IkTHzKzj'"
          :tabletView="tabletView"
          :screenView="screenView"
          :mobileView="mobileView"
          :tabTypeTickets="tabTypeTickets"
          :typeTicketSelected.sync="typeTicketSelected"
          @update:typeTicketSelected="changeTypeTicket"
          @update:idSummarySelected="changeProject"
          @savedTicket="$emit('savedTicket')"
          :activites="activites"
          :listLinkType="listLinkType"
          :filterTaskList="filterTaskList"
          :listeProjets="listeProjets"
          :paramsTypeEtiquetteRef="paramsTypeEtiquetteRef"
          :paramsTypeCategorieRef="paramsTypeCategorieRef"
          :users="users"
          :planActionRef="planActionRef"
          :adminId="adminId"
          :currentUId="currentUId"
          couleur="#167ce3"
          ref="ticketNormal"
        />

        <add-ticket-reservation
          :key="typeTicketSelected"
          v-if="typeTicketSelected == 'pU6CAxuEsytiEDIQL4Q5'"
          :tabletView="tabletView"
          :screenView="screenView"
          :mobileView="mobileView"
          @update:typeTicketSelected="changeTypeTicket"
          @update:idSummarySelected="changeProject"
          :tabTypeTickets="tabTypeTickets"
          :typeTicketSelected="typeTicketSelected"
          @savedTicket="$emit('savedTicket')"
          :activites="activites"
          :listeProjets="listeProjets"
          :paramsTypeEtiquetteRef="paramsTypeEtiquetteRef"
          :paramsTypeCategorieRef="paramsTypeCategorieRef"
          :idSummarySelected="idSummarySelected"
          :user="userInfos"
          :planActionRef="planActionRef"
          :adminId="adminId"
          :currentUId="currentUId"
          :categorieSelectedId="categorieSelectedId"
          couleur="#C7Cd79"
          ref="addTicketReservation"
        />

        <add-ticket-courrier-entrant
          :key="typeTicketSelected"
          v-if="typeTicketSelected == 'boj0xiEGmhbQ5iO405au'"
          :tabletView="tabletView"
          :screenView="screenView"
          :mobileView="mobileView"
          @update:typeTicketSelected="changeTypeTicket"
          @update:idSummarySelected="changeProject"
          :tabTypeTickets="tabTypeTickets"
          :typeTicketSelected="typeTicketSelected"
          :activites="activites"
          @savedTicket="$emit('savedTicket')"
          :listeProjets="listeProjets"
          :paramsTypeEtiquetteRef="paramsTypeEtiquetteRef"
          :paramsTypeCategorieRef="paramsTypeCategorieRef"
          :idSummarySelected="idSummarySelected"
          :filterTaskList="filterTaskList"
          :user="userInfos"
          :planActionRef="planActionRef"
          :adminId="adminId"
          :currentUId="currentUId"
          :categorieSelectedId="categorieSelectedId"
          couleur="#d98238"
          ref="ticketCourrierEntrant"
        />

        <add-ticket-courrier-sortant
          :key="typeTicketSelected"
          v-if="typeTicketSelected == 'zePxnZth8my6IqvdEcbH'"
          :tabletView="tabletView"
          :screenView="screenView"
          :mobileView="mobileView"
          @update:typeTicketSelected="changeTypeTicket"
          @savedTicket="$emit('savedTicket')"
          :tabTypeTickets="tabTypeTickets"
          :typeTicketSelected="typeTicketSelected"
          :activites="activites"
          :listeProjets="listeProjets"
          :paramsTypeEtiquetteRef="paramsTypeEtiquetteRef"
          :paramsTypeCategorieRef="paramsTypeCategorieRef"
          :idSummarySelected="idSummarySelected"
          :user="userInfos"
          :planActionRef="planActionRef"
          :adminId="adminId"
          :currentUId="currentUId"
          :categorieSelectedId="categorieSelectedId"
          couleur="#28a745de"
          ref="ticketCourrierSortant"
        />

        <add-ticket-demande-achat
          :key="typeTicketSelected"
          v-if="typeTicketSelected == 'bSbxtOZwfB260rsxhQzt'"
          :tabletView="tabletView"
          :screenView="screenView"
          :mobileView="mobileView"
          @update:typeTicketSelected="changeTypeTicket"
          @update:idSummarySelected="changeProject"
          :tabTypeTickets="tabTypeTickets"
          :typeTicketSelected="typeTicketSelected"
          @savedTicket="$emit('savedTicket')"
          :activites="activites"
          :listeProjets="listeProjets"
          :paramsTypeEtiquetteRef="paramsTypeEtiquetteRef"
          :paramsTypeCategorieRef="paramsTypeCategorieRef"
          :idSummarySelected="idSummarySelected"
          :user="userInfos"
          :planActionRef="planActionRef"
          :adminId="adminId"
          :currentUId="currentUId"
          :categorieSelectedId="categorieSelectedId"
          couleur="#e03202"
          ref="addTicketDemandeAchat"
        />
        <add-ticket-salaire 
         :key="typeTicketSelected"
          v-if="typeTicketSelected == 'aOMYovrTmjL13MQjojqY'"
          :tabletView="tabletView"
          :screenView="screenView"
          :mobileView="mobileView"
          @update:typeTicketSelected="changeTypeTicket"
          @update:idSummarySelected="changeProject"
          :tabTypeTickets="tabTypeTickets"
          :typeTicketSelected="typeTicketSelected"
          @savedTicket="$emit('savedTicket')"
          :activites="activites"
          :listeProjets="listeProjets"
          :paramsTypeEtiquetteRef="paramsTypeEtiquetteRef"
          :paramsTypeCategorieRef="paramsTypeCategorieRef"
          :idSummarySelected="idSummarySelected"
          :user="userInfos"
          :planActionRef="planActionRef"
          :adminId="adminId"
          :currentUId="currentUId"
          :categorieSelectedId="categorieSelectedId"
          couleur="#70ad47ff"          
          ref="addTicketSalaire"
        />
        <add-user-story 
         :key="typeTicketSelected"
          v-if="typeTicketSelected == 'EsvVrvROp3NMViJatHpS'"
          @update:typeTicketSelected="changeTypeTicket"
          @update:idSummarySelected="changeProject"
          :tabTypeTickets="tabTypeTickets"
          :typeTicketSelected="typeTicketSelected"
          @savedTicket="$emit('savedTicket')"
          :activites="activites"
          :listeProjets="listeProjets"
          :paramsTypeEtiquetteRef="paramsTypeEtiquetteRef"
          :paramsTypeCategorieRef="paramsTypeCategorieRef"
          :idSummarySelected="idSummarySelected"
          :user="userInfos"
          :planActionRef="planActionRef"
          :adminId="adminId"
          :currentUId="currentUId"
          :categorieSelectedId="categorieSelectedId"
          couleur="#008b9c"          
          ref="addUserStory"
        />
      </transition-group>
    </el-dialog>
  </div>
</template>
<script>
import firebase from "firebase";
import Notification from "../../../../../store/collection/notifications";
import VueNumeric from "vue-numeric";
import currenciesMaskMixin from "../../../../bp/mixins/currenciesMask";
import Fichier from "../../../../../store/collection/fichiers";
import AddTicketNormal from "../typeTickets/addTicketNormal.vue";
import AddTicketCourrierEntrant from "../../../../bp/agile/tickets/addCourrierEntrant.vue";
import AddTicketCourrierSortant from "../../../../bp/agile/tickets/addCourrierSortant.vue";
import AddTicketReservation from "../../../../bp/agile/tickets/addTicketReservation.vue";
import AddTicketDemandeAchat from "../../../../bp/agile/tickets/addTicketDemandeAchat";
import addTicketSalaire from "../../../../bp/agile/tickets/addTicketSalaire.vue";
import addUserStory from "../../../../bp/agile/tickets/addUserStory";


export default {
  name: "ticket",
  mixins: [currenciesMaskMixin],
  components: {
    VueNumeric,
    AddTicketNormal,
    addUserStory,
    AddTicketCourrierEntrant,
    AddTicketCourrierSortant,
    AddTicketReservation,
    AddTicketDemandeAchat,
    addTicketSalaire
  },
  props: {
    formAction: {
      default: "98%",
      type: String,
    },
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    categorieSelectedId: {
      default: null,
    },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    idSummarySelected: {
      default: null,
    },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    listeProjets: {
      default() {
        return [];
      },
      type: Array,
    },
    activites: {
      default: [],
    },
    tabTypeTickets: {
      default: [],
    },
    listLinkType: {
      default: [],
      type: Array,
    },
    filterTaskList: {
      default: [],
      type: Array,
    },
  },
  computed: {
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
      set(value) {
        this.$store.commit("agilite/setTypeTicketSelected", value);
      },
    },
    display: {
      get() {
        return this.$store.state.agilite.ticketDialog;
      },
      set() {
        this.$store.commit("agilite/setTicketDialog", false);
      },
    },
  },
  data() {
    return {
      summaryRef: firebase.firestore().collection("summary"),
      users: firebase.firestore().collection("users"),
      descriptionEdit: true,
      resultatAttenduEdit: true,
      priorites: [],
      activeAction: false,
      userInfos: JSON.parse(localStorage.getItem("userSession")),
      projets: [],
      action: {
        dates: "",
        titre: "",
        description: "",
        etat: "1",
        subActions: [],
        commentaire: "",
        effort: 0,
        etiquette: "",
        refEtiquette: "",
        refCategorie: "",
        categorie: "",
      },
      efforts: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
      ],
      percentTotal: 0,
      rules: {
        etat: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        titre: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        dates: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        // checkDate:[
        //   {validator:validateDate,trigger:'blur'}
        // ]
      },
      //users data
      allUsers: [],
      userImage: "",
      //users data
      loadingSave: false,
      fichiers: [],
      userNotify: "",
      //Etiquettes
      Etiquettes: [],
      libelle: "",
      swicth: true,
      loadingUsers: false,
    };
  },
  // mounted ( ) {
  //       this.paramsTypeCategorieRef = firebase.firestore().collection("params").doc(this.idSummarySelected).collection("typeCategorie")
  // },

  methods: {
    //EMIT EVENT
    changeTypeTicket(id) {
      this.$emit("update:typeTicketSelected", id);
    },
    changeProject(id) {
      this.$emit("update:idSummarySelected", id);
    },
    editAction(idAction) {
      this.editActionId = idAction;
      this.getEtiquettes();
      this.planActionRef
        .doc(idAction)
        .get()
        .then((doc) => {
          this.action = doc.data();
          this.action.dates[0] = new Date(doc.data().dates[0].seconds * 1000);
          this.action.dates[1] = new Date(doc.data().dates[1].seconds * 1000);
          //Date subActions
          // doc.data().subActions.forEach((item, index) => {
          //     this.action.subActions[index].dates[0] = new Date(item.dates[0].seconds * 1000);
          //     this.action.subActions[index].dates[1] = new Date(item.dates[1].seconds * 1000);
          // });
          this.activeAction = true;
          this.editMode = true;
        });
    },
    //  openModalCreateAction(data) {
    //     // this.editMode = false;
    //      this.projets = data
    //     this.activeAction = true;
    //     // this.getEtiquettes();
    //     // this.getCategories();
    //     this.ReloadfieldsAction();

    // },
    getEtiquettes() {
      this.Etiquettes = [];
      this.libelle = "";
      this.color = "#8D9395";
      this.swicth = false;
      this.paramsTypeEtiquetteRef.get().then((querySnapshot) => {
        if (querySnapshot) {
          querySnapshot.forEach((doc) => {
            this.Etiquettes.push({
              id: doc.id,
              libelle: doc.data().libelle,
              color: doc.data().color,
            });
          });
        }
      });
    },
    ReloadfieldsAction() {
      this.limitAddSub = false;
      this.action = {
        dates: "",
        titre: "",
        description: "",
        etat: "1",
        subActions: [],
        commentaire: "",
        etiquette: "",
      };
    },

    onBlur(val) {
      switch (val) {
        case "description":
          this.descriptionEdit = false;
          break;
        case "resultat":
          this.resultatAttenduEdit = false;
      }
    },
    onFocusField(val) {
      switch (val) {
        case "description":
          this.descriptionEdit = true;
          break;
        case "resultat":
          this.resultatAttenduEdit = true;
          break;
      }
    },
    deleteSubAction(index) {
      this.action.subActions.splice(index, 1);
      this.calculPourcentage();
    },
    addSubAction() {
      // console.log('Index',index)

      let newIndex = this.action.subActions.length + 1;
      this.action.subActions.push({
        state: false,
        title: "sous tâche " + newIndex,
        dates: [],
        percent: 0,
        editPercent: false,
      });
      this.calculPourcentage();
    },
    saveEditAction(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.loadingSave = true;
          this.action.editAt = firebase.firestore.FieldValue.serverTimestamp();
          if (this.action.etiquette && this.action.etiquette != "") {
            this.action.refEtiquette = this.paramsTypeEtiquetteRef.doc(
              this.action.etiquette
            );
          }
          if (this.categorieSelectedId && this.categorieSelectedId != "") {
            this.action.refCategorie = this.paramsTypeCategorieRef.doc(
              this.categorieSelectedId
            );
          }
          this.planActionRef
            .doc(this.editActionId)
            .set(this.action)
            .then(async () => {
              this.$notify({
                title: "Succès",
                message: "L'action a été Modifiée",
                type: "success",
              });
              if (this.adminId) {
                this.notify.adminId = this.users.doc(this.adminId);
              } else {
                this.notify.adminId = this.users.doc(this.currentUId);
              }
              // this.notify.userId=this.users.doc(this.currentUId)
              // this.notify.createdAt=firebase.firestore.FieldValue.serverTimestamp()
              // this.notify.projectId=this.summaryRef.doc(this.idSummarySelected)
              // this.notify.action=this.action
              // this.notify.state=false
              // this.notify.actionType="edit";
              // this.notify.actionText="modifier";

              // //CREATE A NOTIFICATION
              // let notification=  new Notification('notifications',this.notify.createdAt,this.notify.projectId,this.notify.action,this.notify.state,this.notify.actionType,this.notify.actionText,this.notify.adminId,this.notify.userId,'');
              // await notification.saveDocument('notifications',notification.data)

              this.actionsData = [];
              // this.getActions()
              this.loadingSave = false;
              this.activeAction = false;
              this.editMode = false;
              // this.getActions()
            })
            .catch((error) => {
              // this.$notify.error({
              //     title: "Error",
              //     message: "Une erreur s'est produite",
              // });
              console.log("Erreur", error);
              this.loadingSave = false;
            });
        } else {
          return false;
        }
      });
    },
    async saveAction(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //INSERTION FICHIERS
          this.loadingSave = true;
          let urlFiles = [];
          const resultFile = new Promise((resolve, reject) => {
            if (this.fichiers.length != 0) {
              this.fichiers.forEach((fileItem) => {
                const file = new Fichier(this.categorieSelectedId);
                urlFiles.push(
                  file
                    .saveToStorage(this.categorieSelectedId, fileItem.raw)
                    .then((snapshot) => snapshot.ref.getDownloadURL())
                    .then((url) => {
                      let data = {};
                      data.url = url;
                      data.name = fileItem.raw.name;
                      data.type = fileItem.raw.type;
                      data.size = fileItem.raw.size;
                      return data;
                    })
                );
              });
              resolve(urlFiles);
            } else {
              reject(urlFiles);
            }
          });
          Promise.all([Promise.all(urlFiles)]).then((value) => {
            let files = value[0];
            this.action.files = files;
            this.action.userId = this.users.doc(this.currentUId);
            this.action.type = "projet";
            if (this.action.etiquette && this.action.etiquette != "") {
              this.action.refEtiquette = this.paramsTypeEtiquetteRef.doc(
                this.action.etiquette
              );
            }
            if (this.categorieSelectedId && this.categorieSelectedId != "") {
              this.action.refCategorie = this.paramsTypeCategorieRef.doc(
                this.categorieSelectedId
              );
            }
            this.action.archive = false;
            this.action.createdAt = firebase.firestore.FieldValue.serverTimestamp();
            this.action.summaryId = this.summaryRef.doc(this.idSummarySelected);
            if (this.adminId) {
              this.action.adminId = this.users.doc(this.adminId);
            } else {
              this.action.adminId = this.users.doc(this.currentUId);
            }
            this.planActionRef
              .add(this.action)
              .then(async () => {
                this.$notify({
                  title: "Succès",
                  message: "L'action a été ajoutée",
                  type: "success",
                });

                // if (this.adminId) {
                //     this.notify.adminId = this.users.doc(this.adminId);
                // } else {
                //     this.notify.adminId = this.users.doc(this.currentUId);
                // }
                // this.notify.userId = this.users.doc(this.currentUId);
                // this.notify.createdAt = firebase.firestore.FieldValue.serverTimestamp();
                // this.notify.projectId = this.summaryRef.doc(this.idSummarySelected);
                // this.notify.action = this.action;
                // this.notify.state = false;
                // this.notify.actionType = "add";
                // this.notify.actionText = "action";
                // //CREATE A NOTIFICATION
                // let notification = await new Notification("notifications",this.notify.createdAt,this.notify.projectId,this.notify.action,this.notify.state,this.notify.actionType,this.notify.actionText,this.notify.adminId,this.notify.userId,"");
                // this.allUsers.forEach(async(user)=>{
                //      await notification.saveDocumentSubCollection("notifications",user.userId,this.idSummarySelected,notification.data);
                // })
                // // this.getActions()
                this.loadingSave = false;
                this.activeAction = false;
                // this.$parent.getActions()
                // this.activeTabAction="liste-action"
              })
              .catch((error) => {
                this.$notify.error({
                  title: "Error",
                  message: "Une erreur s'est produite",
                });
                this.loadingSave = false;
                console.log("Erreur", error);
              });
          });
        } else {
          return false;
        }
      });
    },
    loadImage(photo, user) {
      this.selectedUser = "";
      this.selectedPhoto = "";
      this.selectedPhoto = photo;
      this.selectedUser = user;
      this.modalImage = true;
    },
    loadFiles(files) {
      this.files = [];
      this.files = files;
      this.displayModalFiles = true;
    },
    //file change Method
    handleChangeFile(value, fileList) {
      this.fichiers = fileList;
      console.log("fichier", value);
    },
    /** Custome File Upload */
    handleRemove(id) {
      let index = this.$refs.refUpload.uploadFiles.findIndex(
        (item) => item.id === id
      );
      this.$refs.refUpload.uploadFiles.splice(index, 1);
    },
    calculPourcentage() {
      let totalUsepercent = this.totalPercent(this.action.subActions);
      let totalCountEdit = this.totalElement(this.action.subActions);
      this.action.subActions.forEach((item, index) => {
        let percent =
          (100 - totalUsepercent) /
          (this.action.subActions.length - totalCountEdit);
        //  let totalPercent=100
        // if(item.editPercent){
        //   totalPercent-item.percent
        //  }
        if (!item.editPercent) {
          this.action.subActions[index].percent = percent;
          this.action.subActions[index].duree = this.calculDuree(
            percent,
            index
          );
          let date = new Date(this.calculDuree(percent, index));
          if (index == 0) {
            //  alert('Hello')
            this.action.subActions[index].dates[0] = this.action.dates[0];
            this.action.subActions[index].dates[1] = date;
          } else {
            //  alert('Holla')
            let prevIndex = index - 1;
            let initDate =
              this.action.subActions[prevIndex].duree + 1000 * 60 * 60 * 24;
            this.action.subActions[index].dates[0] = new Date(initDate);
            this.action.subActions[index].dates[1] = date;
          }
        }
        this.calculEffort(percent, index);
      });
    },
    totalElement(data) {
      let count = 0;
      data.forEach((element) => {
        if (element.editPercent) count++;
      });
      return count;
    },
    totalPercent(data) {
      let percent = 0;
      data.forEach((element) => {
        if (element.editPercent) percent = parseInt(element.percent) + percent;
      });
      this.percentTotal = percent;
      return percent;
    },
    //Fonction de calcul des durées des soues taches
    calculDuree(percent, index) {
      //sous tache initiale
      if (index == 0) {
        let dateInit = new Date(this.action.dates[0]);
        let dateFinal = new Date(this.action.dates[1]);
        let nbJoursTotal = Math.ceil(
          Math.abs(dateFinal - dateInit) / (1000 * 60 * 60 * 24)
        );

        let msday = ((percent * nbJoursTotal) / 100) * 1000 * 60 * 60 * 24;
        return dateInit.getTime() + msday;
      }
      //Sous tache n
      else {
        let prevIndex = index - 1;
        let dateInit = new Date(this.action.subActions[prevIndex].dates[1]);
        let dateFinal = new Date(this.action.dates[1]);
        let nbJoursTotal = Math.ceil(
          Math.abs(dateFinal - dateInit) / (1000 * 60 * 60 * 24)
        );

        let msday =
          ((percent * nbJoursTotal) / 100) * 1000 * 60 * 60 * 24 +
          1000 * 60 * 60 * 24;
        return dateInit.getTime() + msday;
      }
    },
    calculEffort(percent, index) {
      this.action.subActions[index].effort = (percent * 20) / 100;
    },
    recalculEffort(indexAction) {
      this.action.subActions[indexAction].percent =
        (this.action.subActions[indexAction].effort * 100) / 20;
      this.action.subActions[indexAction].editPercent = true;
      let totalEdit = this.totalPercent(this.action.subActions);
      let totalCountEdit = this.totalElement(this.action.subActions);

      this.action.subActions.forEach((item, index) => {
        if (!item.editPercent) {
          let totalPercent = 100 - totalEdit;
          let totalElement = this.action.subActions.length - totalCountEdit;
          let percent = totalPercent / totalElement;
          this.action.subActions[index].percent = percent;
          this.action.subActions[index].duree = this.calculDuree(
            percent,
            index
          );
          let date = this.calculDuree(percent, index);
          this.calculEffort(percent, index);
          // this.action.subActions[index].dates=new Date(this.dateFormatSeconds(date))
          //Calcul de l'effort de la valeur modifiée
        } else {
          this.action.subActions[index].duree = this.calculDuree(
            this.action.subActions[index].percent,
            index
          );
          //  let date=this.calculDuree(percent)
        }
      });
    },
    recalculPourcentage(indexAction) {
      this.action.subActions[indexAction].editPercent = true;
      let totalEdit = this.totalPercent(this.action.subActions);
      let totalCountEdit = this.totalElement(this.action.subActions);

      this.action.subActions.forEach((item, index) => {
        if (!item.editPercent) {
          let totalPercent = 100 - totalEdit;
          let totalElement = this.action.subActions.length - totalCountEdit;
          let percent = totalPercent / totalElement;
          this.action.subActions[index].percent = percent;
          this.calculEffort(percent, index);
          this.action.subActions[index].duree = this.calculDuree(
            percent,
            index
          );
          this.calculDuree(percent, index);
          //  let date=new Date(this.calculDuree(percent))
          //  this.action.subActions[index].dates.push(date)
          //  alert(date)
          //Calcul de l'effort de la valeur modifiée
        } else {
          this.calculEffort(this.action.subActions[index].percent, index);
          this.action.subActions[index].duree = this.calculDuree(
            this.action.subActions[index].percent,
            index
          );
          //  let date=this.calculDuree(percent)
        }
      });
    },
    duplicate(idAction) {
      this.editMode = false;
      this.editActionId = idAction;
      this.getEtiquettes();
      this.planActionRef
        .doc(idAction)
        .get()
        .then((doc) => {
          this.action = doc.data();
          this.action.dates[0] = new Date(doc.data().dates[0].seconds * 1000);
          this.action.dates[1] = new Date(doc.data().dates[1].seconds * 1000);
          // doc.data().subActions.forEach((item, index) => {
          //     this.action.subActions[index].dates[0] = new Date(item.dates[0].seconds * 1000);
          //     this.action.subActions[index].dates[1] = new Date(item.dates[1].seconds * 1000);
          // });
          this.activeAction = true;
          let listFile = [];
          let fileSet = new Promise((resolve, reject) => {
            this.action.files.forEach((item) => {
              let file = {
                url: item,
              };
              listFile.push(file);
            });
            resolve(listFile);
          });
          Promise.all([fileSet]).then((value) => {
            this.$refs.refUpload.uploadFiles = value[0];
          });
        });
    },

    //Récupération des utilisateurs
    async getUsers(adminId = this.adminId) {
      this.loadingUsers = true;
      this.users.where("adminId", "==", this.adminId).onSnapshot((query) => {
        this.allUsers = [];
        if (!query.empty) {
          const result = new Promise((resolve, reject) => {
            query.forEach((doc) => {
              let user = doc.data();
              user.id = doc.id;
              this.allUsers.push(user);
            });
            resolve(this.allUsers);
          });
          Promise.all([result]).then(() => {
            //   alert("Hello")
            this.changeUserAssign(this.currentUId);
            this.loadingUsers = false;
            // console.log("Result",result)
          });
        }
      });
    },
    changeUserAssign(id) {
      let indexUser = this.allUsers.findIndex((item) => item.id === id);
      this.userImage = this.allUsers[indexUser].photo;
    },
    getPriority() {
      Priorite.getDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "priorites"
      ).then((querySnapshot) => {
        //default
        let defautlData = [
          {
            libelle: "Important",
            color: "#F4C407",
            descPriority: "A finir",
            propretyIcon: {
              iconClass: "material-icons-outlined",
              NameIcon: "upgrade",
            },
          },
          {
            libelle: "Urgent",
            color: "#EB9101",
            descPriority: "Doit finir absolument",
            propretyIcon: {
              iconClass: "material-icons-outlined",
              NameIcon: "batch_prediction",
            },
          },
          {
            libelle: "Bloquant",
            color: "#E60202",
            descPriority: "A envoyer au ministère",
            propretyIcon: {
              iconClass: "material-icons-outlined",
              NameIcon: "label",
            },
          },
        ];
        this.tabPriority = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.priorites.push(data);
        });
      });
    },
  },

  mounted() {},
};
</script>
<style>
.form-control,
.el-range-editor.el-input__inner {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input-group .material-icons-outlined {
  color: #fff;
  padding: 6px 7px;
  margin: 0;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.el-dialog {
  background-image: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
  /* width: 98% !important; */
  margin-top: 5px !important;
  box-shadow: 0 0 0 1000px #0006;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
.el-form-item {
  margin-bottom: 6px !important;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* propriété pour le masque des modals */
.v-modal {
  z-index: auto !important;
}
</style>
