<template>
    <div>                                    
        <h5><i class="el-icon-top-right"></i> <strong>Accord</strong> <i class="el-icon-edit mr-3"></i></h5> 
        <hr>  
        <div>
            <div v-for="(priority, index) in tabAccord" :key="'priority-' + index">
                <div class="row mb-3">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-1">
                        <button v-if="priority" :style="{backgroundColor: priority.color, borderColor: priority.color, color: colorIcon}" type="button" class="btn btn-outline-primary" :class="priority.propretyIcon.iconClass">{{ priority.propretyIcon.NameIcon }}</button>
                        <!-- <el-button :style="{backgroundColor: eti.color, borderColor: eti.color, color: colorIcon, textTransform:textTransform, fontSize:fontSize}" :class="iconClass" :icon="addIcon" size="mini">  </el-button> -->
                    </div>                                                        
                    <div class="col-xl-3 col-lg-3 col-md-4 col-10">
                        <h4> 
                            <el-tooltip
                            class="item"
                            effect="dark"
                            :content=" priority.libelle"
                            placement="bottom"
                            >
                                <span :style="{backgroundColor: priority.color, borderColor: priority.color}" @click="updateEtiquette()" class="badge eti-color-list ml-3 p-2 pr-3 pl-3 text-capitalize" > {{ priority.libelle | cyb_title_param_plit }} </span>
                            </el-tooltip>
                        </h4>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-7 col-12"> 
                        <el-tooltip
                            class="item"
                            effect="dark"
                            :content=" priority.description"
                            placement="bottom"
                            >                 
                            <el-tag type="info">{{ priority.description | cyb_desc_split }}</el-tag> 
                        </el-tooltip>
                    </div>
                    <div class="col-1 my-2">
                         <el-switch
                            v-model="priority.default"
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            @change="updatDefaultState($event, priority.id)"
                            >
                        </el-switch>
                    </div>
                    <div class="col-xl-2 col-lg-12 my-lg-2 col-md-10 col-10 ml-auto">
                        <span> {{priority.radio}} </span>
                        <el-button size="small" icon="el-icon-edit" @click="hidePriority(priority)" circle></el-button>
                        <el-button size="small" icon="el-icon-delete" @click="deletePriority(priority.id, index)" circle></el-button>
                    </div>
                </div>
            </div>
            <div v-if="!addEtiquetteActif" class="row">
                <div class="col-6">
                    <el-button type="primary" icon="el-icon-plus" circle @click="addEtiquetteActif = true" size="mini"></el-button>
                </div>
            </div>
        </div> 
        <div v-if="addEtiquetteActif">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-7 col-10">
                    <el-input v-model="libelle" maxlength="50" autofocus="true" class="mb-4 eti-color-select" :style="myStyle" placeholder="Décision de paiement" ></el-input>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-1">
                    <el-color-picker v-model="color" size="medium" color-format="hex"></el-color-picker>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-6 icon-material">                                                                   
                    <el-dropdown trigger="click" class="mx-2" @command="priorityIcons">
                        <el-button class="el-dropdown-link">
                            Choix d'icône<i class="el-icon-arrow-down el-icon--right"></i>
                        </el-button>
                        <el-dropdown-menu style= "width: 72%; margin-left: 18%" slot="dropdown" class="icon-item">
                            <el-dropdown-item v-for="(iconClass, icon) in iconChoose" :key="icon" :command="[iconClass, icon]" :icon="iconClass" :class="iconClass"> <span class="d-flex justify-content-center"> {{ icon }} </span> </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <button v-if="propretyIcon" type="button" class="btn btn-outline-secondary" :class="propretyIcon.iconClass">{{propretyIcon.NameIcon }}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-3">                  
                    <el-input type="textarea" v-model="description" placeholder="Ajouter un commentaire..."  rows="4" cols="50">  </el-input>  
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <el-button v-if="editEtiquetteActif == true"  type="primary" size="mini" @click="updatePriority()">Modifier</el-button>
                    <el-button v-else type="primary" size="mini" @click="addPriorityLabel">Ajouter</el-button>
                    <el-button type="danger" size="mini" @click="addEtiquetteActif = false">Annuler</el-button>
                </div>
            </div>
        </div>                                                                                                                                                                                                          
    </div>
</template>
<script>
import firebase from "firebase"
import Accord from '../../erp/models/accords'
import Notification from "../../../../store/collection/notifications";
import icons from '../../../bp/agile/icon.json';

export default {
    name:'accord',
    props:{
       projectSelected:{
            default: null
        },
       typeId:{
           default: null
       }
    },
    data() {
        return {
            default: false,
            radio: 'radio',
            // icône priorité
            iconChoose: icons,
            updatePriorityAdd: {
                libelle: "",
                color:"",
                description:""
            },
            propretyIcon: {
                iconClass: 'material-icons-outlined',
                NameIcon: 'close_fullscreen'
            },
            description:"",
            updateLabelEtiquette:{
                labelEtiquette: "",
                color: "",
                descText:""
            },
            descText: "",
            addLabelActif: false,
            paramsTable: [],
            indicatortitle: true,
            // modale ticket
            addPriority: false,
            value1: false,
            value2: false,    
            value3: false,    
            value4: false,    
            allUsers:[],
            // Etiquettes variables
            editEtiquetteActif: false,
            addEtiquetteActif: false,
            editEtiquetteData: {},
            paramsTypeEtiquetteRef: "",
             colorIcon: "#fff",
            color: "#8D9395",
            myStyle: {
                backgroundColor: "#8D9395",
                color: "white",
                fontWeight: "bold",
                textTransform: "capitalize",
            },
            libelle: "",
            tabAccord: [],
            swicth: false,
            //Loading CONTAINER
            loadingCat:false,
            loadingActions:false,

            etiquettePromise:null,
            categoriePromise:null,
            //Promise
            planActionRef: null,
        };
    },

    methods: {
        addTiltleIndicator(){            
            // this.indicatortitle = !this.indicatortitle
        },
        updatDefaultState(value, id){
            if(!this.default){
                Accord.updateDocumentSubSubCollectionField("agilite", this.projectSelected, "params", this.typeId, "accords", id,  value)
                .then(() =>{
                    this.$notify({
                        title: "Succès",
                        message: "Vous avez choisi l'élément par défaut",
                        type: "success",
                        });
                })
            }else {
                this.$notify({
                    title: "Attention",
                    message:"Vous retirez l'élément par défaut",
                    type: "warning",
                });
            }
        },
        chooseSize(elementReplace){
            const elementIndexChange = elementReplace[1]        
            const index = elementReplace[0]
            // const elementChange = this.tabAccord[index]
            this.tabAccord[index] = elementIndexChange
            // this.tabAccord[this.tabAccord.indexOf(elementIndexChange)] = elementChange            
        },
/***************** section de priorité *******************/
        // choix des l'icon prioritté
        priorityIcons(command){
            console.log('test ',command);
            console.log('second' ,this.propretyIcon);
            this.propretyIcon.iconClass = command[0]
            // this.tabAccord[0].propretyIcon.iconClass = command[0]
            this.propretyIcon.NameIcon = command[1]
            // console.log(this.tabAccord[0].propretyIcon.NameIcon, ' click on item, ' + command, this.propretyIcon.NameIcon)
        },
        // modifier la priorité
        updatePriority(){ 
                this.updatePriorityAdd.libelle = this.libelle,
                this.updatePriorityAdd.color = (this.color.length === 0) ? this.updatePriorityAdd.color : this.color
                this.updatePriorityAdd.description = this.description,
                this.updatePriorityAdd.propretyIcon = this.propretyIcon,               
                this.addEtiquetteActif = false 
                this.editEtiquetteActif =false
                Accord.updateDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "accords", this.updatePriorityAdd.id, this.updatePriorityAdd)
                .then(()=>{
                    this.$notify({
                        title: "Succès",
                        message: "La décision a été Modifiée",
                        type: "success",
                    });
                    this.libelle = "" 
                    this.color = ""
                    this.description = " "
                    this.getPriority()
                })
            .catch(()=>{
                this.$notify({
                    title: "Attention",
                    message: "Veuillez renseigner une priorité suppérieur à 3 lettres",
                    type: "warning",
                });
            }) 
        },
        // Caché label Etiquette
        hidePriority(obj){            
            this.addEtiquetteActif = true
            this.editEtiquetteActif = true
            this.libelle = obj.libelle;
            this.color = obj.color;
            this.description = obj.description;
            this.propretyIcon = obj.propretyIcon;
            this.updatePriorityAdd.id = obj.id;
        },
        // suppression de priorité
        deletePriority(id, index) {
            Accord.deleteDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "accords", id)
            this.tabAccord.splice(index, 1)
                this.$notify({
                    title: "Succès",
                    message:"La décison a été supprimée",
                    type: "success",
                });
        },
        // ajout des priorités
        addPriorityLabel(){
            var obj = {
                libelle: this.libelle,
                color: this.color,
                description: this.description,
                propretyIcon:{
                    iconClass: this.propretyIcon.iconClass,
                    NameIcon: this.propretyIcon.NameIcon
                },
                default: this.default
            };
            if (obj.libelle != "") {               
                this.libelle = ""
                this.description = ""
                this.addEtiquetteActif = false;
                this.default = false
                Accord.saveDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "accords", obj)
                console.log(this.typeId);
            } else {
                this.$notify({
                    title: "Attention",
                    message:"Veuillez renseigner une décision",
                    type: "warning",
                });
            }
            this.getPriority()  
      
        },
        // Récupération des priorités
        getPriority(){
             Accord.getDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "accords").then((querySnapshot) =>{
          
                this.tabAccord = []
                querySnapshot.forEach((doc)=>{
                    const data = doc.data()
                    data.id = doc.id
                    this.tabAccord.push(data)
                })
            })
        },       
    },
    mounted(){
        this.getPriority()
    },
};
</script>

<style scoped>
    .el-tag.el-tag--info {
        padding: 0 !important;
        margin-top: 0 !important;
    }
</style>

