<template>
  <div>
    <div>
      <h5>
        <i class="el-icon-s-finance"></i> <strong>Classeur</strong>
        <i class="el-icon-edit mr-3"></i>
      </h5>
      <hr />
      <div>
        <!-- Affichage -->
        <div v-for="(classeur, index) in tabClasseur" :key="'eti-' + index">
          <div class="row mb-3">
            <div class="col-xl-1 col-lg-1 col-md-1 col-1">
              <button
                v-if="classeur.propretyIcon"
                :style="{
                  backgroundColor: classeur.color,
                  borderColor: classeur.color,
                  color: colorIcon,
                }"
                type="button"
                class="btn btn-outline-primary"
                :class="classeur.propretyIcon.iconClass"
              >
                {{ classeur.propretyIcon.NameIcon }}
              </button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-10">
              <h4>
                <el-tooltip
                  class="item"
                  effect="dark"
                  :content="classeur.libelle"
                  placement="bottom"
                  >
                  <span
                    :style="{
                      backgroundColor: classeur.color,
                      borderColor: classeur.color,
                    }"
                    @click="updateclasseurquette()"
                    class="badge eti-color-list ml-3 p-2 pr-3 pl-3 text-capitalize"
                  >
                    {{ classeur.libelle | cyb_title_param_plit }}</span
                  >
                </el-tooltip>
              </h4>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-7 col-12">
              <el-tooltip
                class="item"
                effect="dark"
                :content="classeur.description"
                placement="bottom"
                >
                <el-tag type="info">{{ classeur.description | cyb_desc_split }}</el-tag>
              </el-tooltip>
            </div>
            <div class="col-1 my-2">
              <el-switch
                v-model="classeur.default"
                active-color="#13ce66"
                inactive-color="#ff4949"
                @change="updatDefaultState($event, classeur.id)"
              >
              </el-switch>
            </div>
            <div class="col-xl-2 col-lg-12 my-lg-2 col-md-10 col-10 ml-auto">
              <el-button
                size="small"
                icon="el-icon-edit"
                @click="hideClasser(classeur)"
                circle
              ></el-button>
              <el-button
                size="small"
                icon="el-icon-delete"
                @click="deleteClasser(classeur.id, index)"
                circle
              ></el-button>
            </div>
          </div>
        </div>
        <!-- Affichage -->
        <!-- boutton Ad  -->
        <div v-if="!addClasseurActif" class="row">
          <div class="col-6">
            <el-button
              type="primary"
              icon="el-icon-plus"
              circle
              @click="addClasseurActif = true"
              size="mini"
            ></el-button>
          </div>
        </div>
        <!-- boutton Ad  -->
      </div>
      <!-- formulaire -->
      <div v-if="addClasseurActif">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-7 col-10">
            <el-input
              v-model="libelle"
              maxlength="16"
              autofocus="true"
              class="mb-4 eti-color-select"
              :style="myStyle"
              placeholder="Libellé du classeur"
            ></el-input>
          </div>
          <div class="col-xl-1 col-lg-1 col-md-1 ">
            <el-color-picker
              v-model="color"
              size="medium"
              color-format="hex"
            ></el-color-picker>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-5 col-6">
            <el-dropdown trigger="click" class="mx-2" @command="classeurIcons">
              <el-button class="el-dropdown-link">
                Choix d'icône<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu style= "width: 72%; margin-left: 18%" slot="dropdown">
                <el-dropdown-item
                  v-for="(iconClasse, icoClasser) in icoClasseur"
                  :key="icoClasser"
                  :command="[iconClasse, icoClasser]"
                  :icon="iconClasse"
                  :class="iconClasse"
                >
                  <span class="d-flex justify-content-center"> {{ icoClasser }} </span>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <button
              v-if="propretyIcon"
              type="button"
              class="btn btn-outline-secondary"
              :class="propretyIcon.iconClass"
            >
              {{ propretyIcon.NameIcon }}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-3">
            <el-input
              type="textarea"
              v-model="description"
              placeholder="Ajouter un commentaire..."
              rows="4"
              cols="50"
            >
            </el-input>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <el-button
              v-if="editEtiquetteActif == true"
              type="primary"
              size="mini"
              @click="updateClasser()"
              >Modifier</el-button
            >
            <el-button v-else type="primary" size="mini" @click="addClasser"
              >Ajouter</el-button
            >
            <el-button
              type="danger"
              size="mini"
              @click="addClasseurActif = false"
              >Annuler</el-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import Notification from "../../../../store/collection/notifications";
import Classeur from "../../../bp/erp/models/classeur";
import icons from "../../../bp/agile/icon.json";
export default {
  name: "classeur",
  props: {
    projectSelected: {
      default: null,
    },
    typeId: {
      default: null,
    },
  },
  data() {
    return {
      radio: "radio",
      // icône classeur
      propretyIcon: {
        iconClass: "material-icons-outlined",
        NameIcon: "outbox",
      },
      icoClasseur: icons,
      description: "",
      updateClasseurAdd: {
        libelle: "",
        color: "",
        description: "",
      },
      tabClasseur: [],
      libelle: "",
      libelle: "",
      addClasseurActif: false,
      planActionRefOld: firebase.firestore().collection("planAction"),
      // allUsers:[],
      editEtiquetteActif: false,
      addEtiquetteActif: false,
      editEtiquetteData: {},
      paramsTypeEtiquetteRef: "",
      color: "#8D9395",
      myStyle: {
        backgroundColor: "#8D9395",
        color: "white",
        fontWeight: "bold",
        textTransform: "capitalize",
      },
      colorIcon: "#fff",
      swicth: false,
      loadingCat: false,
      loadingActions: false,
      etiquettePromise: null,
      categoriePromise: null,
      planActionRef: null,
    };
  },
  methods: {
    updatDefaultState(value, id) {
      if (!this.default) {
        Classeur.updateDocumentSubSubCollectionField(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "classeurs",
          id,
          value
        ).then(() => {
          this.$notify({
            title: "Succès",
            message: "Vous avez choisi l'élément par défaut",
            type: "success",
          });
        });
      } else {
        this.$notify({
          title: "Attention",
          message: "Vous retirez l'élément par défaut",
          type: "warning",
        });
      }
    },
    // choix icône Etiquette
    classeurIcons(command) {
      (this.propretyIcon.iconClass = command[0]),
        (this.propretyIcon.NameIcon = command[1]);
    },
    // ajout du classeur
    addClasser() {
      var obj = {
        libelle: this.libelle,
        color: this.color,
        description: this.description,
        propretyIcon: {
          iconClass: this.propretyIcon.iconClass,
          NameIcon: this.propretyIcon.NameIcon,
        },
        // default: this.default,
      };
      if (obj.libelle != "") {
        this.libelle = "";
        this.description = "";
        this.default = false;
        Classeur.saveDocumentSubSubCollection(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "classeurs",
          obj
        );
      } else {
        this.$notify({
          title: "Attention",
          message: "Veuillez renseigner un classeur",
          type: "warning",
        });
      }
      this.addClasseurActif = false;
      this.getClasser();
    },
    // modifier le classeur
    updateClasser() {
        (this.updateClasseurAdd.libelle = this.libelle),
          (this.updateClasseurAdd.color =
            this.color.length === 0
              ? this.updateClasseurAdd.color
              : this.color);
        (this.updateClasseurAdd.description = this.description),
        this.updateClasseurAdd.propretyIcon = this.propretyIcon
        this.addClasseurActif = false;
        this.editEtiquetteActif = false;
        Classeur.updateDocumentSubSubCollection(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "classeurs",
          this.updateClasseurAdd.id,
          this.updateClasseurAdd
        ).then(() => {
          this.$notify({
            title: "Succès",
            message: "Le classeur a été Modifiée",
            type: "success",
          });
          this.color = "";
          this.description = " ";
          this.libelle = "";
          this.getClasser()         
        }).catch(()=>{
           this.$notify({
            title: "Attention",
            message: "Veuillez renseigner une priorité suppérieur à 3 lettres",
            type: "warning",
          });
        })  

     
    },
    // Caché le classeur
    hideClasser(obj) {
      this.addClasseurActif = true;
      this.editEtiquetteActif = true;
      this.libelle = obj.libelle;
      this.color = obj.color;
      this.description = obj.description;
      this.propretyIcon = obj.propretyIcon;
      this.updateClasseurAdd.id = obj.id;
    },
    // suppression de classeurs
    deleteClasser(id, index) {
      Classeur.deleteDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "classeurs",
        id
      );
      this.tabClasseur.splice(index, 1);
      this.$notify({
        title: "Succès",
        message: "Le classeur a été supprimée",
        type: "success",
      });
    },
    // Récupération des classeurs
    getClasser() {
      Classeur.getDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "classeurs"
      ).then((querySnapshot) => {
        let defautlt = [
          {
            libelle: "Ministère",
            color: "#F4C407",
            description: "A faire",
            propretyIcon: {
              iconClass: "material-icons-outlined",
              NameIcon: "outbox",
            },
          },
        ];
        this.tabClasseur = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.tabClasseur.push(data);
        });
      });
    },
  },
  mounted() {
    this.getClasser();
  },
};
</script>

<style scoped>
   .el-tag.el-tag--info {
      padding: 0 !important;
      margin-top: 0 !important;
    }
</style>
