<template>
    <div>                                    
        <h5><i class="el-icon-top-right"></i> <strong>Composant</strong> <i class="el-icon-edit mr-3"></i></h5> 
        <hr>  
        <div>
            <div v-for="(composant, index) in tabcomposant" :key="'composant-' + index">
                <div class="row mb-3">
                    <div class="col-1">
                        <button v-if="composant" :style="{backgroundColor: composant.color, borderColor: composant.color, color: colorIcon}" type="button" class="btn btn-outline-primary" :class="composant.propretyIcon.iconClass">{{ composant.propretyIcon.NameIcon }}</button>
                        <!-- <el-button :style="{backgroundColor: eti.color, borderColor: eti.color, color: colorIcon, textTransform:textTransform, fontSize:fontSize}" :class="iconClass" :icon="addIcon" size="mini">  </el-button> -->
                    </div>                                                        
                    <div class="col-2">
                        <h4> <span :style="{backgroundColor: composant.color, borderColor: composant.color}" @click="updateEtiquette()" class="badge eti-color-list ml-3 p-2 pr-3 pl-3 text-capitalize" > {{ composant.libelle }} </span> </h4>
                    </div>
                    <div class="col-5">                  
                        <el-tag type="info">{{ composant.description }}</el-tag> 
                    </div>
                    <div class="col-1 d-flex align-items-center">
                         <el-switch
                            v-model="composant.default"
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            @change="updatDefaultState($event, composant.id)"
                            >
                        </el-switch>
                    </div>
                    <div v-if="!editEtiquetteActif && !addComposantActif" class="col-2 ml-auto">
                        <el-button size="small" icon="el-icon-edit" @click="hideComposant(composant)" circle></el-button>
                        <el-button size="small" icon="el-icon-delete" @click="deleteComposant(composant.id, index)" circle></el-button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <el-button type="primary" icon="el-icon-plus" circle @click="addComposantActif = true" size="mini"></el-button>
                </div>
            </div>
        </div> 
        <div v-if="addComposantActif">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-7 col-10">
                    <el-input v-model="libelle" maxlength="50" autofocus="true" class="mb-4 eti-color-select" :style="myStyle" placeholder="libellé de composant" ></el-input>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-1">
                    <el-color-picker v-model="color" size="medium" color-format="hex"></el-color-picker>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-6 icon-material">                                                                   
                    <el-dropdown trigger="click" class="mx-2" @command="composantIcons">
                        <el-button class="el-dropdown-link">
                            Choix d'icône<i class="el-icon-arrow-down el-icon--right"></i>
                        </el-button>
                        <el-dropdown-menu slot="dropdown" class="icon-item">
                            <el-dropdown-item v-for="(iconClass, icon) in iconChoose" :key="icon" :command="[iconClass, icon]" :icon="iconClass" :class="iconClass"> <span> {{ icon }} </span> </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <button v-if="propretyIcon" type="button" class="btn btn-outline-secondary" :class="propretyIcon.iconClass">{{propretyIcon.NameIcon }}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-3">                  
                    <el-input type="textarea" v-model="description" placeholder="Ajouter un commentaire..."  rows="4" cols="50">  </el-input>  
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <el-button v-if="editEtiquetteActif == true"  type="primary" size="mini" @click="updateComposant">Modifier</el-button>
                    <el-button v-else type="primary" size="mini" @click="addComposant">Ajouter</el-button>
                    <el-button type="danger" size="mini" @click="addComposantActif = false">Annuler</el-button>
                </div>
            </div>
        </div>                                                                                                                                                                                                          
    </div>
</template>
<script>
import firebase from "firebase"
// import Version from '../../erp/models/version'
import Composant from '../../erp/models/composant'
import Notification from "../../../../store/collection/notifications";
import icons from '../../../bp/agile/icon.json';

export default {
    name:'composant',
    props:{
       projectSelected:{
            default: null
        },
       typeId:{
           default: null
       }
    },
    data() {
        return {
            // icône priorité
            iconChoose: icons,
            updateComposantAdd: {
                libelle: "",
                color:"",
                description:""
            },
            propretyIcon: {
                iconClass: 'material-icons-outlined',
                NameIcon: 'close_fullscreen'
            },
            libelle:"",
            updateLabelEtiquette:{
                labelEtiquette: "",
                color: "",
                description:""
            },
            description: "",
            // addLabelActif: false,
            paramsTable: [],
            indicatortitle: true,
            // modale ticket
            addPriority: false,  
            planActionRefOld: firebase.firestore().collection("planAction"),
            allUsers:[],
            // Etiquettes variables
            editEtiquetteActif: false,
            addComposantActif: false,
            editEtiquetteData: {},
            paramsTypeEtiquetteRef: "",
            colorIcon: "#fff",
            color: "#8D9395",
            myStyle: {
                backgroundColor: "#8D9395",
                color: "white",
                fontWeight: "bold",
                textTransform: "capitalize",
            },
            libelle: "",
            libelle: "",
            tabcomposant: [],
            planActionRef: null,
        };
    },

    methods: {
        updatDefaultState(value, id){
            if(!this.default){
                Composant.updateDocumentSubSubCollectionField("agilite", this.projectSelected, "params", this.typeId, "composants", id,  value)
                .then(() =>{
                    this.$notify({
                        title: "Succès",
                        message: "Vous avez choisi l'élément par défaut",
                        type: "success",
                        });
                })
            }else {
                this.$notify({
                    title: "Attention",
                    message:"Vous retirez l'élément par défaut",
                    type: "warning",
                });
            }
        },
        // choix des l'icon prioritté
        composantIcons(command){
            this.propretyIcon.iconClass = command[0]
            this.propretyIcon.NameIcon = command[1]
        },
        // modifier la priorité
        updateComposant(){ 
            if(this.libelle.length > 3){
                this.updateComposantAdd.libelle = this.libelle,
                this.updateComposantAdd.color = (this.color.length === 0) ? this.updateComposantAdd.color : this.color
                this.updateComposantAdd.libelle = this.libelle,
                this.updateComposantAdd.description = this.description,                
                this.addComposantActif = false
                this.editEtiquetteActif = false
                Composant.updateDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "composants", this.updateComposantAdd.id, this.updateComposantAdd)
                .then(()=>{
                    this.$notify({
                    title: "Succès",
                    message: "La composant a été Modifiée",
                    type: "success",
                    });
                    this.color = ""
                    this.libelle = ""
                    this.description = "";
                    this.getComposant()
                })
            } else{
                this.$notify({
                    title: "Attention",
                    message:"Veuillez renseigner une composant suppérieur à 3 lettres",
                    type: "warning",
                });
            } 
        },
        // Caché label Etiquette
        hideComposant(obj){            
            this.addComposantActif = true
            this.editEtiquetteActif = true
            this.libelle = obj.libelle;
            this.color = obj.color;
            this.description = obj.description;
            this.propretyIcon = obj.propretyIcon;
            this.updateComposantAdd.id = obj.id;
        },
        // suppression de priorité
        deleteComposant(id, index) {
            Composant.deleteDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "composants", id)
            this.tabcomposant.splice(index, 1)
                this.$notify({
                    title: "Succès",
                    message:"La version a été supprimée",
                    type: "success",
                });
        },
        // ajout des priorités
        addComposant(){
            var obj = {
                libelle: this.libelle,
                color: this.color,
                description: this.description,
                propretyIcon:{
                    iconClass: this.propretyIcon.iconClass,
                    NameIcon: this.propretyIcon.NameIcon
                },
                // default: this.default
            };
            if (obj.libelle != "") {               
                // this.libelle = ""
                // this.description = ""
                this.addComposantActif = false;
                // this.default = false
                Composant.saveDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "composants", obj)
            } else {
                this.$notify({
                    title: "Attention",
                    message:"Veuillez renseigner une version",
                    type: "warning",
                });
            }
             this.getComposant()       
        },
        getComposant(){
             Composant.getDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "composants").then((querySnapshot) =>{
                this.tabcomposant = []
                querySnapshot.forEach((doc)=>{
                    const data = doc.data()
                    data.id = doc.id
                    this.tabcomposant.push(data)
                })
            })
        },       
    },
    mounted(){
        this.getComposant()
    },
};
</script>

<style scoped>
    .el-tag.el-tag--info {
        padding: 0 !important;
        margin-top: 0 !important;
    }
</style>

