<template>
    <div>                                    
        <h5><i class="el-icon-top-right"></i> <strong>Coursier</strong> <i class="el-icon-edit mr-3"></i></h5> 
        <hr>  
        <div>
            <div v-for="(identity, index) in contacts" :key="'identity-' + index">
                <div class="row mb-3">
                    <div class="col-3">                  
                        <el-tag type="info">{{ identity.nom }}</el-tag> 
                    </div>
                    <div class="col-3">                  
                        <el-tag type="info">{{ identity.prenom }}</el-tag> 
                    </div>
                    <div class="col-3">                  
                        <el-tag type="info">{{ identity.email }}</el-tag> 
                    </div>
                    <div class="col-2">                  
                        <el-tag type="info">{{ identity.contact }}</el-tag> 
                    </div>
                    <div class="col-1 ml-auto">
                        <span class="cursor" role="button" @click="hideCoursier(identity)"><strong> <i class="el-icon-edit"></i> </strong></span>
                        <span class="cursor" @click="deleteCoursier(identity.id, index)"><strong> <i class="el-icon-delete"></i> </strong></span>
                    </div>
                </div>
            </div>
            <div v-if="!addEtiquetteActif" class="row">
                <div class="col-6">
                    <el-button type="primary" icon="el-icon-plus" circle @click="addEtiquetteActif = true" size="mini"></el-button>
                </div>
            </div>
        </div> 
        <div v-if="addEtiquetteActif">
            <div class="row">
                <div class="col-3">
                    <el-input v-model="nom" maxlength="50" autofocus="true" class="mb-3 eti-color-select" :style="myStyle" placeholder="Entrez le nom du coursier" ></el-input>
                </div>
                <div class="col-3">
                    <el-input v-model="prenom" maxlength="50" autofocus="true" class="mb-4 eti-color-select" :style="myStyle" placeholder="Entrez le prénom du coursier" ></el-input>
                </div>
                <div class="col-3">
                    <input type="email" name="" id="" class="form-control" v-model="email" placeholder="Entrez l'email du coursier">
                </div>
                <div class="col-3">
                    <el-input v-model="contact" maxlength="50" autofocus="true" class="mb-4 eti-color-select" :style="myStyle" placeholder="Entrez le contact du coursier" ></el-input>
                </div>
                <!-- <div class="col-1">
                    <el-color-picker v-model="color" size="medium" color-format="hex"></el-color-picker>
                </div> -->
 
            </div>
            <div class="row">
                <div class="col-12">
                    <el-button v-if="editEtiquetteActif == true"  type="primary" size="mini" @click="updateCousier()">Modifier</el-button>
                    <el-button v-else type="primary" size="mini" @click="addCoursier">Ajouter</el-button>
                    <el-button type="danger" size="mini" @click="addEtiquetteActif = false">Annuler</el-button>
                </div>
            </div>
        </div>                                                                                                                                                                                                          
    </div>
</template>
<script>
import firebase from "firebase"
import Coursier from '../../../bp/erp/models/coursier';
import Notification from "../../../../store/collection/notifications";
import icons from '../../../bp/agile/icon.json';

export default {
    name:'coursier',
    props:{
       projectSelected:{
            default: null
        },
       typeId:{
           default: null
       }
    },
    data() {
        return {
            addLabelActif: false,
            addPriority: false,  
            editEtiquetteActif: false,
            addEtiquetteActif: false,
            editEtiquetteData: {},
            paramsTypeEtiquetteRef: "",
             colorIcon: "#fff",
            color: "#8D9395",
            myStyle: {
                backgroundColor: "#8D9395",
                color: "white",
                fontWeight: "bold",
                textTransform: "capitalize",
            },
            nom: "",
            prenom: "",
            contact:"",
            email:"",
            contacts: [],
            updateCousierAdd: {
                 nom: "",
                prenom: "",
                contact:"",
                email:"",
                contacts: [],
            },
            swicth: false,
            //Loading CONTAINER
            loadingCat:false,
            loadingActions:false,
            etiquettePromise:null,
            categoriePromise:null,
            //Promise
            planActionRef: null,
        };
    },

    methods: {
        // modifier la priorité
        updateCousier(){ 
            this.updateCousierAdd.nom = this.nom,
            this.updateCousierAdd.prenom = this.prenom,
            this.updateCousierAdd.contact = this.contact,
            this.updateCousierAdd.email = this.email,
            this.addEtiquetteActif = false 
            this.editEtiquetteActif = false
            Coursier.updateDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "coursiers", this.updateCousierAdd.id, this.updateCousierAdd)
            .then(()=>{
                this.$notify({
                title: "Succès",
                message: "L'identité a été Modifié",
                type: "success",
                });
                this.nom = "",
                this.prenom = "",
                this.contact = "",
                this.email = "",
                this.getCoursier()
            })
        },
        // Caché label Etiquette
        hideCoursier(obj){            
            this.addEtiquetteActif = true,
            this.editEtiquetteActif = true,
            this.nom = obj.nom
            this.prenom = obj.prenom
            this.contact = obj.contact
            this.email = obj.email
            this.updateCousierAdd.id = obj.id
        },
        deleteCoursier(id, index) {
            Coursier.deleteDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "coursiers", id)
            this.contacts.splice(index, 1)
                this.$notify({
                    title: "Succès",
                    message:"L'identité ont été supprimé",
                    type: "success",
                });
        },
        // ajout des coursiers
        addCoursier(){
            const obj = {
                nom: this.nom,
                prenom: this.prenom,
                contact: this.contact,
                email: this.email
            };             
            this.nom = "",
            this.prenom = "",
            this.contact = "",
            this.email = ""
            this.addEtiquetteActif = false;
            Coursier.saveDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "coursiers", obj)
            .catch(()=>{
                 this.$notify({
                    title: "Attention",
                    message:"Veuillez renseigner vos données",
                    type: "warning",
                });
            })
            this.getCoursier()  
        },
        // Récupération des coursiers
        getCoursier(){
             Coursier.getDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "coursiers").then((querySnapshot) =>{    
                this.contacts = []
                querySnapshot.forEach((doc)=>{
                    const data = doc.data()
                    data.id = doc.id
                    this.contacts.push(data)
                    console.log(this.contacts);
                })
            })
        },       
    },
    mounted(){
        this.getCoursier()
    },
};
</script>

<style scoped>
    .cursor{
        cursor: pointer;
        font-weight: 700;
        margin: 0 5px;
    }
    .cursor i{
        font-size: 1.2rem;
    }
    .el-tag.el-tag--info {
        padding: 0 !important;
        margin-top: 0 !important;
    }
</style>

