<template>
  <div>
    <!-- le label (Etiquettes) -->
    <h5>
      <i class="el-icon-s-management"></i> <strong>Etiquettes</strong>
      <i class="el-icon-edit mr-3"></i>
    </h5>
    <hr />
    <div>
      <div v-for="(etiquette, index) in tabEtique" :key="'etiquette-' + index">
        <div class="row mb-3">
          <div class="col-xl-1 col-lg-1 col-md-1 col-1">
            <button
              v-if="etiquette.propretyIcon"
              :style="{
                backgroundColor: etiquette.color,
                borderColor: etiquette.color,
                color: colorIcon,
              }"
              type="button"
              class="btn btn-outline-primary"
              :class="etiquette.propretyIcon.iconClass"
            >
              {{ etiquette.propretyIcon.NameIcon }}
            </button>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-10">
            <h4>
              <el-tooltip
                class="item"
                effect="dark"
                :content="etiquette.libelle"
                placement="bottom"
              >
                <span
                  :style="{
                    backgroundColor: etiquette.color,
                    borderColor: etiquette.color,
                  }"
                  @click="updateEtiquette()"
                  class="badge eti-color-list ml-3 p-2 pr-3 pl-3 text-capitalize"
                  >{{ etiquette.libelle | cyb_title_param_plit }}</span
                >
              </el-tooltip>
            </h4>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-7 col-12">
            <el-tooltip
              class="item"
              effect="dark"
              :content="etiquette.description"
              placement="bottom"
            >
              <el-tag type="info">{{
                etiquette.description | cyb_desc_split
              }}</el-tag>
            </el-tooltip>
          </div>
          <div class="col-1 my-2">
            <el-switch
              v-model="etiquette.default"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="updatDefaultState($event, etiquette.id)"
            >
            </el-switch>
          </div>
          <div class="col-xl-2 col-lg-12 my-lg-2 col-md-10 col-10 ml-auto">
            <el-button
              size="small"
              icon="el-icon-edit"
              @click="hideLabelEtique(etiquette)"
              circle
            ></el-button>
            <el-button
              size="small"
              icon="el-icon-delete"
              @click="deleteLabelEtiquette(etiquette.id, index)"
              circle
            ></el-button>
          </div>
        </div>
      </div>
      <div v-if="!addEtiquetteActif" class="row">
        <div class="col-6">
          <el-button
            type="primary"
            icon="el-icon-plus"
            circle
            @click="addEtiquetteActif = true"
            size="mini"
          ></el-button>
        </div>
      </div>
    </div>
    <div v-if="addEtiquetteActif">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-7 col-10">
          <el-input
            v-model="libelle"
            maxlength="16"
            autofocus="true"
            class="mb-4 eti-color-select"
            :style="myStyle"
            placeholder="Libellé de l'Etiquette"
          ></el-input>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-1">
          <el-color-picker
            v-model="color"
            size="medium"
            color-format="hex"
          ></el-color-picker>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-6">
          <el-dropdown trigger="click" class="mx-2" @command="labelEtIcons">
            <el-button class="el-dropdown-link">
              Choix d'icône<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu
              style="width: 72%; margin-left: 18%"
              slot="dropdown"
            >
              <el-dropdown-item
                v-for="(icoClasse, icoLabel) in icoChooseLabel"
                :key="icoLabel"
                :command="[icoClasse, icoLabel]"
                :icon="icoClasse"
                :class="icoClasse"
              >
                <span class="d-flex justify-content-center">
                  {{ icoLabel }}
                </span>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <button
            v-if="propretyIcon"
            type="button"
            class="btn btn-outline-secondary"
            :class="propretyIcon.iconClass"
          >
            {{ propretyIcon.NameIcon }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-11">
          <el-input
            type="textarea"
            v-model="description"
            placeholder="Ajouter un commentaire..."
            rows="4"
            cols="50"
          >
          </el-input>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <el-button
            v-if="editEtiquetteActif == true"
            type="primary"
            size="mini"
            @click="updateLabelEtique()"
            >Modifier</el-button
          >
          <el-button
            v-else
            type="primary"
            size="mini"
            @click="addLabelEtiquette"
            >Ajouter</el-button
          >
          <el-button
            type="danger"
            size="mini"
            @click="addEtiquetteActif = false"
            >Annuler</el-button
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import Notification from "../../../../store/collection/notifications";
import Etiquette from "../../../bp/erp/models/etiquette";
import icons from "../../../bp/agile/icon.json";

export default {
  name: "etiquette",
  props: {
    projectSelected: {
      default: null,
    },
    typeId: {
      default: null,
    },
  },
  data() {
    return {
      radio: "radio",
      addLabelActif: false,
      propretyIcon: {
        iconClass: "material-icons-outlined",
        NameIcon: "label_important",
      },
      //// iconChoose: icons,
      icoChooseLabel: icons,
      updateLabelEtiquette: {
        libelle: "",
        color: "",
        description: "",
      },
      description: "",
      //// label étiquette
      libelle: "",
      tabEtique: [],
      editEtiquetteActif: false,
      addEtiquetteActif: false,
      editEtiquetteData: {},
      paramsTypeEtiquetteRef: "",
      color: "#8D9395",
      myStyle: {
        backgroundColor: "#8D9395",
        color: "white",
        fontWeight: "bold",
        textTransform: "capitalize",
      },
      colorIcon: "#fff",
      planActionRef: null,
    };
  },

  methods: {
    updatDefaultState(value, id) {
      if (!this.default) {
        Etiquette.updateDocumentSubSubCollectionField(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "etiquettes",
          id,
          value
        ).then(() => {
          this.$notify({
            title: "Succès",
            message: "Vous avez choisi l'élément par défaut",
            type: "success",
          });
        });
      } else {
        this.$notify({
          title: "Attention",
          message: "Vous retirez l'élément par défaut",
          type: "warning",
        });
      }
    },
    labelEtIcons(command) {
      (this.propretyIcon.iconClass = command[0]),
        (this.propretyIcon.NameIcon = command[1]);
    },
    // ajout du label étiquette
    addLabelEtiquette() {
      var obj = {
        libelle: this.libelle,
        color: this.color,
        description: this.description,
        propretyIcon: {
          iconClass: this.propretyIcon.iconClass,
          NameIcon: this.propretyIcon.NameIcon,
        },
      };
      if (obj.libelle != "") {
        // console.log('Test Etiquette2',this.tabEtique)
        this.libelle = "";
        this.description = "";
        this.default = false;
        this.addEtiquetteActif = false;
        Etiquette.saveDocumentSubSubCollection(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "etiquettes",
          obj
        );
      } else {
        this.$notify({
          title: "Attention",
          message: "Veuillez renseigner un libellé pour cette étiquette",
          type: "warning",
        });
      }
      this.getLabEtiquettes();
      this.addLabelActif = false;
    },
    // Récupération
    getLabEtiquettes() {
      Etiquette.getDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "etiquettes"
      ).then((querySnapshot) => {
        // if(!query.metadata.hasPendingWrites){
        this.tabEtique = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.tabEtique.push(data);
        });
        // }
      });
    },
    deleteLabelEtiquette(id, index) {
      // this.tabEtique = [];
      Etiquette.deleteDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "etiquettes",
        id
      );
      this.tabEtique.splice(index, 1);
      this.$notify({
        title: "Succès",
        message: "Etiquette a été supprimée",
        type: "success",
      });
    },
    // fonction de modification
    updateLabelEtique() {
      (this.updateLabelEtiquette.libelle = this.libelle),
        (this.updateLabelEtiquette.color =
          this.color.length === 0
            ? this.updateLabelEtiquette.color
            : this.color);
      (this.updateLabelEtiquette.description = this.description),
        (this.updateLabelEtiquette.propretyIcon = this.propretyIcon);
      this.addEtiquetteActif = false;
      this.editEtiquetteActif = false;
      Etiquette.updateDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "etiquettes",
        this.updateLabelEtiquette.id,
        this.updateLabelEtiquette
      )
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "L'étiquette a été Modifiée",
            type: "success",
          });
          this.libelle = "";
          this.color = " ";
          this.description = " ";
          this.getLabEtiquettes();
        })
        .catch(() => {
          this.$notify({
            title: "Attention",
            message: "Veuillez renseigner un libellé suppérieur à 3 lettres",
            type: "warning",
          });
        });
    },
    // Caché label Etiquette
    hideLabelEtique(obj) {
      this.addEtiquetteActif = true;
      this.editEtiquetteActif = true;
      this.libelle = obj.libelle;
      this.color = obj.color;
      this.description = obj.description;
      this.propretyIcon = obj.propretyIcon;
      this.updateLabelEtiquette.id = obj.id;
    },
  },
  mounted() {
    this.getLabEtiquettes();
  },
};
</script>

<style scoped>
.el-tag.el-tag--info {
  padding: 0 !important;
  margin-top: 0 !important;
}
</style>
