<template>
    <div>  
        <el-card class="box-card" shadow="hover">                                  
            <h5><i class="el-icon-top-right"></i> <strong>Priorité</strong> <i class="el-icon-edit mr-3"></i></h5> 
            <hr>  
            <div>
                <div v-for="(priority, index) in Etiquettes" :key="'priority-' + index">
                    <div class="row mb-3">
                        <div class="col-1">
                            <button v-if="priority" :style="{backgroundColor: priority.color, borderColor: priority.color, color: colorIcon}" type="button" class="btn btn-outline-primary" :class="priority.propretyIcon.iconClass">{{ priority.propretyIcon.NameIcon }}</button>
                            <!-- <el-button :style="{backgroundColor: eti.color, borderColor: eti.color, color: colorIcon, textTransform:textTransform, fontSize:fontSize}" :class="iconClass" :icon="addIcon" size="mini">  </el-button> -->
                        </div>                                                        
                        <div class="col-2">
                            <h4> <span :style="{backgroundColor: priority.color, borderColor: priority.color}" @click="updateEtiquette()" class="badge eti-color-list ml-3 p-2 pr-3 pl-3 text-capitalize" > {{ priority.libelle }} </span> </h4>
                        </div>
                        <div class="col-5">                  
                            <el-tag type="info">{{ priority.descPriority }}</el-tag> 
                        </div>
                        <div class="col-2">
                            <el-dropdown trigger="click" class="mx-2" @command="chooseSize">
                                <el-button type="success" plain class="el-dropdown-link" size="mini">
                                    {{ index }} <i class="el-icon-arrow-down el-icon--right"></i>
                                </el-button>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item v-for="(order, indexSecond) in Etiquettes" :command="[indexSecond, priority]" :key="indexSecond"> {{ indexSecond }}</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                        <div v-if="!editEtiquetteActif && !addEtiquetteActif" class="col-2 ml-auto">
                            <el-button size="small" icon="el-icon-edit" @click="hidePriority(priority)" circle></el-button>
                            <el-button size="small" icon="el-icon-delete" @click="deletePriority(priority.id, index)" circle></el-button>
                        </div>
                    </div>
                </div>
                <div v-if="!editEtiquetteActif && !addEtiquetteActif" class="row">
                    <div class="col-6">
                        <el-button type="primary" icon="el-icon-plus" circle @click="addEtiquetteActif = true" size="mini"></el-button>
                    </div>
                </div>
            </div> 
            <div v-if="addEtiquetteActif">
                <div class="row">
                    <div class="col-6">
                        <el-input v-model="libelle" maxlength="16" autofocus="true" class="mb-4 eti-color-select" :style="myStyle" placeholder="Libellé du priorité" ></el-input>
                    </div>
                    <div class="col-1">
                        <el-color-picker v-model="color" size="medium" color-format="hex"></el-color-picker>
                    </div>
                    <div class="col-3 icon-material">                                                                   
                        <el-dropdown trigger="click" class="mx-2" @command="priorityIcons">
                            <el-button class="el-dropdown-link">
                                Choix d'icône<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-dropdown-menu slot="dropdown" class="icon-item">
                                <el-dropdown-item v-for="(iconClass, icon) in iconChoose" :key="icon" :command="[iconClass, icon]" :icon="iconClass" :class="iconClass"> <span> {{ icon }} </span> </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                        <button v-if="propretyIcon" type="button" class="btn btn-outline-secondary" :class="propretyIcon.iconClass">{{propretyIcon.NameIcon }}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">                  
                        <el-input type="textarea" v-model="descPriority" placeholder="Ajouter un commentaire..."  rows="4" cols="50">  </el-input>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <el-button v-if="editEtiquetteActif == true"  type="primary" size="mini" @click="updatePriority()">Modifier</el-button>
                        <el-button v-else type="primary" size="mini" @click="addPriorityLabel">Ajouter</el-button>
                        <el-button type="danger" size="mini" @click="addEtiquetteActif = false">Annuler</el-button>
                    </div>
                </div>
            </div> 
        </el-card>                                                                                                                                                                                                         
    </div>
</template>
<script>
import firebase from "firebase"
// import Etiquette from '../../../bp/erp/models/etiquette';
import Priorite from '../../erp/models/priorite';
import Notification from "../../../../store/collection/notifications";
import icons from '../../../bp/agile/icon.json';

export default {
    name:'normal',
    props:[
       "projectSelected" 
    ],
    data() {
        return {
            // icône priorité
            iconChoose: icons,
            updatePriorityAdd: {
                libelle: "",
                color:"",
                descPriority:""
            },
            propretyIcon: {
                iconClass: 'material-icons-outlined',
                NameIcon: 'close_fullscreen'
            },
            descPriority:"",
            updateLabelEtiquette:{
                labelEtiquette: "",
                color: "",
                descText:""
            },
            descText: "",
            addLabelActif: false,
            paramsTable: [],
            indicatortitle: true,
            // modale ticket
            addPriority: false,
            value1: false,
            value2: false,    
            value3: false,    
            value4: false,    
            planActionRefOld: firebase.firestore().collection("planAction"),
            allUsers:[],
            // Etiquettes variables
            editEtiquetteActif: false,
            addEtiquetteActif: false,
            editEtiquetteData: {},
            paramsTypeEtiquetteRef: "",
             colorIcon: "#fff",
            color: "#8D9395",
            myStyle: {
                backgroundColor: "#8D9395",
                color: "white",
                fontWeight: "bold",
                textTransform: "capitalize",
            },
            libelle: "",
            Etiquettes: [
                
            ],
            swicth: false,
            //Loading CONTAINER
            loadingCat:false,
            loadingActions:false,

            etiquettePromise:null,
            categoriePromise:null,
            //Promise
            planActionRef: null,
        };
    },

    methods: {
        addTiltleIndicator(){            
            // this.indicatortitle = !this.indicatortitle
        },
        chooseSize(elementReplace){
            const elementIndexChange = elementReplace[1]        
            const index = elementReplace[0]
            // const elementChange = this.Etiquettes[index]
            this.Etiquettes[index] = elementIndexChange
            // this.Etiquettes[this.Etiquettes.indexOf(elementIndexChange)] = elementChange            
        },
/***************** section de priorité *******************/
        // choix des l'icon prioritté
        priorityIcons(command){
            console.log('test ',command);
            console.log('second' ,this.propretyIcon);
            this.propretyIcon.iconClass = command[0]
            this.propretyIcon.NameIcon = command[1]
        },
        // modifier la priorité
        updatePriority(){
            if(this.libelle.length > 3){
                this.updatePriorityAdd.libelle = this.libelle,
                this.updatePriorityAdd.color = (this.color.length === 0) ? this.updatePriorityAdd.color : this.color
                this.updatePriorityAdd.descPriority = this.descPriority,
                this.libelle = "" 
                this.color = ""
                this.descPriority = " "
                this.addEtiquetteActif = !this.addEtiquetteActif 
                this.editEtiquetteActif =!this.editEtiquetteActif
                Priorite.updateDocumentSubcollection("agilite", this.projectSelected, "priorites", this.updatePriorityAdd.id, this.updatePriorityAdd)
                .then(()=>{
                    this.$notify({
                    title: "Succès",
                    message: "La priorité a été Modifiée",
                    type: "success",
                    });
                })
            } else{
                this.$notify({
                    title: "Attention",
                    message:"Veuillez renseigner une priorité suppérieur à 3 lettres",
                    type: "warning",
                });
            } 
        },
        // Caché label Etiquette
        hidePriority(obj){            
            this.addEtiquetteActif = !this.addEtiquetteActif
            this.editEtiquetteActif = this.addEtiquetteActif
            this.updatePriorityAdd = obj
        },
        // suppression de priorité
        deletePriority(id, index) {
            this.Etiquettes = []
            Priorite.deleteDocumentSubcollection("agilite", this.projectSelected, "priorites", id)
            // this.getPriority()
            this.Etiquettes.splice(index, 1)
                this.$notify({
                    title: "Succès",
                    message:"La priorité a été supprimée",
                    type: "success",
                });
        },
        // ajout des priorités
        addPriorityLabel(){
            var obj = {
                libelle: this.libelle,
                color: this.color,
                descPriority: this.descPriority,
                propretyIcon:{
                    iconClass: this.propretyIcon.iconClass,
                    NameIcon: this.propretyIcon.NameIcon
                }
            };
            if (obj.libelle != "") {               
                this.libelle = ""
                this.descPriority = ""
                this.addEtiquetteActif = false;
                Priorite.saveDocumentSubCollection("agilite", this.projectSelected, "priorites", obj)
            } else {
                this.$notify({
                    title: "Attention",
                    message:"Veuillez renseigner une priorité",
                    type: "warning",
                });
            }
            this.getPriority()  
            // this.choixIcon()       
        },
        // Récupération des priorités
        getPriority(){
             Priorite.getDocumentSubCollection('agilite', this.projectSelected, 'priorites').then((querySnapshot) =>{
                 //default
                 let defautlData = [
                       {
                        libelle: "Important",
                        color: "#F4C407",
                        descPriority: "A finir",
                        propretyIcon: {
                            iconClass: 'material-icons-outlined',
                            NameIcon: 'upgrade'
                        },
                    },
                    {
                        libelle: "Urgent",
                        color: "#EB9101",
                        descPriority: "Doit finir absolument",
                        propretyIcon: {
                            iconClass: 'material-icons-outlined',
                            NameIcon: 'batch_prediction'
                        },
                    },
                    {
                        libelle: "Bloquant",
                        color: "#E60202",
                        descPriority: "A envoyer au ministère",
                        propretyIcon: {
                            iconClass: 'material-icons-outlined',
                            NameIcon: 'label'
                        },
                    }
                 ]
                this.Etiquettes = []
                querySnapshot.forEach((doc)=>{
                    const data = doc.data()
                    data.id = doc.id
                    this.Etiquettes.push(data)
                })
            })
        },       
    },
    mounted(){
        this.getPriority()
    },
};
</script>

<style scoped>

</style>

