<template>
  <div>
    <div>
      <div>
        <h5>
          <i class="el-icon-arrow-down"></i> <strong>protocole</strong>
          <i class="el-icon-edit mr-3"></i>
        </h5>
        <hr />
        <div>
          <div v-for="(protocole, index) in tabProtocole" :key="'eti-' + index">
            <div class="row mb-3">
              <div class="col-xl-1 col-lg-1 col-md-1 col-1">
                <button
                  v-if="protocole.propretyIcon"
                  :style="{
                    backgroundColor: protocole.color,
                    borderColor: protocole.color,
                    color: colorIcon,
                  }"
                  type="button"
                  class="btn btn-outline-primary"
                  :class="protocole.propretyIcon.iconClass"
                >
                  {{ protocole.propretyIcon.NameIcon }}
                </button>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-10">
                <h4>
                  <el-tooltip
                    class="item"
                    effect="dark"
                    :content="protocole.libelle"
                    placement="bottom"
                  >
                    <span
                      :style="{
                        backgroundColor: protocole.color,
                        borderColor: protocole.color,
                      }"
                      @click="updateProtocole()"
                      class="badge eti-color-list ml-3 p-2 pr-3 pl-3 text-capitalize"
                    >
                      {{ protocole.libelle | cyb_title_param_plit }}</span
                    >
                  </el-tooltip>
                </h4>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-7 col-12">
                <el-tooltip
                  class="item"
                  effect="dark"
                  :content="protocole.description"
                  placement="bottom"
                >
                  <el-tag type="info">{{
                    protocole.description | cyb_desc_split
                  }}</el-tag>
                </el-tooltip>
              </div>
              <div class="col-1 my-2">
                <el-switch
                  v-model="protocole.default"
                  active-color="#13ce66"
                  inactive-color="#ff4949"
                  @change="updatDefaultState($event, protocole.id)"
                >
                </el-switch>
              </div>
              <div class="col-2">
                <el-button
                  size="small"
                  icon="el-icon-edit"
                  @click="hideProtocole(protocole)"
                  circle
                ></el-button>
                <el-button
                  size="small"
                  icon="el-icon-delete"
                  @click="deleteProtocole(protocole.id, index)"
                  circle
                ></el-button>
              </div>
            </div>
          </div>
          <div v-if="!showInsert" class="row">
            <div class="col-6">
              <el-button
                type="primary"
                icon="el-icon-plus"
                circle
                @click="showInsert = true"
                size="mini"
              ></el-button>
            </div>
          </div>
        </div>
        <div v-if="showInsert">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-10">
              <el-input
                v-model="protocole.libelle"
                maxlength="50"
                autofocus="true"
                class="mb-4 eti-color-select"
                :style="myStyle"
                placeholder="Ajout du protocole"
              ></el-input>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-1">
              <el-color-picker
                v-model="color"
                size="medium"
                color-format="hex"
              ></el-color-picker>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-6">
              <el-dropdown
                trigger="click"
                class="mx-2"
                @command="protoIcoChoose"
              >
                <el-button class="el-dropdown-link">
                  Choix d'icône<i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>
                <el-dropdown-menu
                  style="width: 72%; margin-left: 18%"
                  slot="dropdown"
                >
                  <el-dropdown-item
                    v-for="(iconClass, icoProto) in icoChooseProv"
                    :key="icoProto"
                    :command="[iconClass, icoProto]"
                    :icon="iconClass"
                    :class="iconClass"
                  >
                    <span class="d-flex justify-content-center">
                      {{ icoProto }}
                    </span>
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              <button
                v-if="propretyIcon"
                type="button"
                class="btn btn-outline-secondary"
                :class="propretyIcon.iconClass"
              >
                {{ propretyIcon.NameIcon }}
              </button>
            </div>
          </div>
          <div class="col-12 mb-3">
            <SubTaskTicket
              :protocoleProcess="protocole.subActions"
              :protocole="updateProtocoleAdd.id"
              ref="SubTaskTicket"
            />
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-11">
              <el-input
                type="textarea"
                v-model="protocole.description"
                placeholder="Ajouter un commentaire..."
                rows="4"
                cols="50"
              >
              </el-input>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <el-button
                v-if="editEtiquetteActif == true"
                type="primary"
                size="mini"
                @click="updateProtocole()"
                >Modifier</el-button
              >
              <el-button
                v-else
                type="primary"
                size="mini"
                @click="addProtocole()"
                >Ajouter</el-button
              >
              <el-button type="danger" size="mini" @click="showInsert = false"
                >Annuler</el-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import Notification from "../../../../store/collection/notifications";
import icons from "../../../bp/agile/icon.json";
import Protocole from "../../../bp/erp/models/protocole";
import SubTaskTicket from "../tickets/composantCourrier/subTaskTicket.vue";
export default {
  name: "protocole",
  components: {
    SubTaskTicket,
  },
  props: {
    projectSelected: {
      default: null,
    },
    typeId: {
      default: null,
    },
  },
  data() {
    return {
      // icône protocole
      radio: "radio",
      propretyIcon: {
        iconClass: "material-icons-outlined",
        NameIcon: "exit_to_app",
      },
      icoChooseProv: icons,
      description: "",
      updateProtocoleAdd: {
        libelle: "",
        color: "",
        description: "",
        subActions: [],
      },
      editEtiquetteActif: false,
      tabProtocole: [],
      colorIcon: "#fff",
      showInsert: false,
      addEtiquetteActif: false,
      planActionRefOld: firebase.firestore().collection("planAction"),
      paramsTypeEtiquetteRef: "",
      color: "#8D9395",
      myStyle: {
        backgroundColor: "#8D9395",
        color: "white",
        fontWeight: "bold",
        textTransform: "capitalize",
      },
      colorIcon: "#fff",
      rubrique: {
        titre: "",
        public: false,
        group: [],
        idIncubateur: "",
      },
      protocole: {
        libelle: "",
        color: "white",
        description: "",
        subActions: [],
        default: false,
        propretyIcon: {
          iconClass: "",
          NameIcon: "",
        },
      },
      swicth: false,
      libelle: "",
      planActionRef: null,
    };
  },

  methods: {
    updatDefaultState(value, id) {
      if (!this.default) {
        Protocole.updateDocumentSubSubCollectionField(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "protocoles",
          id,
          value
        ).then(() => {
          this.$notify({
            title: "Succès",
            message: "Vous avez choisi l'élément par défaut",
            type: "success",
          });
        });
      } else {
        this.$notify({
          title: "Attention",
          message: "Vous retirez l'élément par défaut",
          type: "warning",
        });
      }
    },
    // choix icône Etiquette
    protoIcoChoose(command) {
      (this.propretyIcon.iconClass = command[0]),
        (this.propretyIcon.NameIcon = command[1]);
    },
    // modifier la protocole
    updateProtocole() {
      (this.updateProtocoleAdd.libelle = this.protocole.libelle),
        (this.updateProtocoleAdd.color =
          this.protocole.color.length === 0
            ? this.updateProtocoleAdd.color
            : this.color);
      (this.updateProtocoleAdd.description = this.protocole.description),
        (this.updateProtocoleAdd.propretyIcon = this.protocole.propretyIcon);
      this.updateProtocoleAdd.subActions = this.$refs.SubTaskTicket.action.subActions;
      this.showInsert = false;
      this.editEtiquetteActif = false;
      Protocole.updateDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "protocoles",
        this.updateProtocoleAdd.id,
        this.updateProtocoleAdd
      )
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "La protocole a été Modifiée",
            type: "success",
          });
          this.protocole.libelle = "";
          this.protocole.color = "";
          this.protocole.description = "";
          this.getProtocole();
        })
        .catch(() => {
          this.$notify({
            title: "Attention",
            message: "Veuillez renseigner une protocole suppérieur à 3 lettres",
            type: "warning",
          });
        });
    },
    // ajout de la protocole
    addProtocole() {
      //Saved component subActions
      (this.protocole.color = this.color),
        (this.protocole.propretyIcon.iconClass = this.propretyIcon.iconClass),
        (this.protocole.propretyIcon.NameIcon = this.propretyIcon.NameIcon),
        (this.protocole.subActions = this.$refs.SubTaskTicket.action.subActions);
      //Saved component subActions

      Protocole.saveDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "protocoles",
        this.protocole
      )
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "Le protocole a été ajouté",
            type: "success",
          });
          this.protocole.libelle = "";
          this.protocole.description = "";
        })
        .catch(() => {
          this.$notify({
            title: "Erreur",
            message: "Une erreur s'est produite",
            type: "danger",
          });
        });
      this.getProtocole();
      this.showInsert = false;
    },
    // Caché la protocole
    hideProtocole(protocole) {
      this.showInsert = true;
      this.editEtiquetteActif = true;
      this.protocole.subActions = protocole.subActions[0];
      this.protocole.libelle = protocole.libelle;
      this.protocole.color = protocole.color;
      this.protocole.description = protocole.description;
      this.protocole.propretyIcon = protocole.propretyIcon;
      this.protocole.subActions = protocole.subActions;
      this.updateProtocoleAdd.id = protocole.id;
      console.log("Log Before", this.protocole.subActions);
    },
    deleteProtocole(id, index) {
      Protocole.deleteDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "protocoles",
        id
      );
      this.tabProtocole.splice(index, 1);
      this.$notify({
        title: "Succès",
        message: "La protocole a été supprimée",
        type: "success",
      });
    },
    // Récupération des protocoles
    getProtocole() {
      Protocole.getDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "protocoles"
      ).then((querySnapshot) => {
        this.tabProtocole = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.tabProtocole.push(data);
        });
      });
    },
  },
  mounted() {
    this.getProtocole();
  },
};
</script>

<style scoped>
.el-tag.el-tag--info {
  padding: 0 !important;
  margin-top: 0 !important;
}
</style>
