<template>
  <div>
    <div>
      <div>
        <h5>
          <i class="el-icon-arrow-down"></i> <strong>Provenance</strong>
          <i class="el-icon-edit mr-3"></i>
        </h5>
        <hr />
        <div>
          <div
            v-for="(provenance, index) in tabProvenance"
            :key="'eti-' + index"
          >
            <div class="row mb-3">
              <div class="col-xl-1 col-lg-1 col-md-1 col-1">
                <button
                  :style="{
                    backgroundColor: provenance.color,
                    borderColor: provenance.color,
                    color: colorIcon,
                  }"
                  type="button"
                  class="btn btn-outline-primary"
                  :class="provenance.propretyIcon.iconClass"
                >
                  {{ provenance.propretyIcon.NameIcon }}
                </button>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-10">
                <h4>
                  <el-tooltip
                    class="item"
                    effect="dark"
                    :content="provenance.libelle"
                    placement="bottom"
                    >
                  <span
                    :style="{
                      backgroundColor: provenance.color,
                      borderColor: provenance.color,
                    }"
                    @click="updateEtiquette()"
                    class="badge eti-color-list ml-3 p-2 pr-3 pl-3 text-capitalize"
                  >
                    {{ provenance.libelle | cyb_title_param_plit }}</span
                  >
                  </el-tooltip>
                </h4>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-7 col-12">
                <el-tooltip
                  class="item"
                  effect="dark"
                  :content="provenance.description"
                  placement="bottom"
                  >
                    <el-tag type="info">{{ provenance.description | cyb_desc_split }}</el-tag>
                </el-tooltip>
              </div>
              <div class="col-1 my-2">
                <el-switch
                  v-model="provenance.default"
                  active-color="#13ce66"
                  inactive-color="#ff4949"
                  @change="updatDefaultState($event, provenance.id)"
                >
                </el-switch>
              </div>
              <div class="col-xl-2 col-lg-12 my-lg-2 col-md-10 col-10 ml-auto">
                <el-button
                  size="small"
                  icon="el-icon-edit"
                  @click="hideProvenance(provenance)"
                  circle
                ></el-button>
                <el-button
                  size="small"
                  icon="el-icon-delete"
                  @click="deleteProvenance(provenance.id, index)"
                  circle
                ></el-button>
              </div>
            </div>
          </div>
          <div v-if="!addPovenanceActif" class="row">
            <div class="col-6">
              <el-button
                type="primary"
                icon="el-icon-plus"
                circle
                @click="addPovenanceActif = true"
                size="mini"
              ></el-button>
            </div>
          </div>
        </div>
        <div v-if="addPovenanceActif">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-7 col-10">
              <el-input
                v-model="libelle"
                maxlength="16"
                autofocus="true"
                class="mb-4 eti-color-select"
                :style="myStyle"
                placeholder="Ajout de la provenance"
              ></el-input>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-1">
              <el-color-picker
                v-model="color"
                size="medium"
                color-format="hex"
              ></el-color-picker>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-6">
              <el-dropdown
                trigger="click"
                class="mx-2"
                @command="provenanceEtIcons"
              >
                <el-button class="el-dropdown-link">
                  Choix d'icône<i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>
                <el-dropdown-menu style= "width: 72%; margin-left: 18%" slot="dropdown">
                  <el-dropdown-item
                    v-for="(iconClasse, icoProvenance) in icoChooseProv"
                    :key="icoProvenance"
                    :command="[iconClasse, icoProvenance]"
                    :icon="iconClasse"
                    :class="iconClasse"
                  >
                    <span class="d-flex justify-content-center"> {{ icoProvenance }} </span>
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              <button
                type="button"
                class="btn btn-outline-secondary"
                :class="propretyIcon.iconClass"
              >
                {{ propretyIcon.NameIcon }}
              </button>
            </div>
          </div>
          <div class="row">
            <div class="l-xl-6 col-lg-6 col-md-11">
              <el-input
                type="textarea"
                v-model="description"
                placeholder="Ajouter un commentaire..."
                rows="4"
                cols="50"
              >
              </el-input>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <el-button
                v-if="editEtiquetteActif == true"
                type="primary"
                size="mini"
                @click="updateProvenance()"
                >Modifier</el-button
              >
              <el-button
                v-else
                type="primary"
                size="mini"
                @click="addProvenance"
                >Ajouter</el-button
              >
              <el-button
                type="danger"
                size="mini"
                @click="addPovenanceActif = false"
                >Annuler</el-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import Notification from "../../../../store/collection/notifications";
import icons from "../../../bp/agile/icon.json";
import Provenance from "../../../bp/erp/models/provenance";
export default {
  name: "provenance",
  props: {
    projectSelected: {
      default: null,
    },
    typeId: {
      default: null,
    },
  },
  data() {
    return {
      // icône provenance
      radio: "radio",
      propretyIcon: {
        iconClass: "material-icons-outlined",
        NameIcon: "exit_to_app",
      },
      icoChooseProv: icons,
      description: "",
      updateProvenancerAdd: {
        libelle: "",
        color: "",
        description: "",
      },
      editEtiquetteActif: false,
      // provenance
      libelle: "",
      tabProvenance: [],
      colorIcon: "#fff",
      addPovenanceActif: false,
      addEtiquetteActif: false,
      // modale ticket
      addPriority: false,
      paramsTypeEtiquetteRef: "",
      color: "#8D9395",
      myStyle: {
        backgroundColor: "#8D9395",
        color: "white",
        fontWeight: "bold",
        textTransform: "capitalize",
      },
      colorIcon: "#fff",
      rubrique: {
        titre: "",
        public: false,
        group: [],
        idIncubateur: "",
      },
      swicth: false,
      categoriePromise: null,
      //Promise
      planActionRef: null,
    };
  },

  methods: {
    updatDefaultState(value, id) {
      if (!this.default) {
        Provenance.updateDocumentSubSubCollectionField(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "provenances",
          id,
          value
        ).then(() => {
          this.$notify({
            title: "Succès",
            message: "Vous avez choisi l'élément par défaut",
            type: "success",
          });
        });
      } else {
        this.$notify({
          title: "Attention",
          message: "Vous retirez l'élément par défaut",
          type: "warning",
        });
      }
    },
    // choix icône Etiquette
    provenanceEtIcons(command) {
      (this.propretyIcon.iconClass = command[0]),
        (this.propretyIcon.NameIcon = command[1]);
      console.log(this.propretyIcon.NameIcon, " click on item, " + command);
    },
    // modifier la provenance
    updateProvenance() {
      if (this.libelle.length != "") {
        (this.updateProvenancerAdd.libelle = this.libelle),
          (this.updateProvenancerAdd.color =
            this.color.length === 0
              ? this.updateProvenancerAdd.color
              : this.color);
        (this.updateProvenancerAdd.description = this.description),
        this.updateProvenancerAdd.propretyIcon = this.propretyIcon
        this.addPovenanceActif = false;
        this.editEtiquetteActif = false;
        Provenance.updateDocumentSubSubCollection(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "provenances",
          this.updateProvenancerAdd.id,
          this.updateProvenancerAdd
        ).then(() => {
          this.$notify({
            title: "Succès",
            message: "La provenance a été Modifiée",
            type: "success",
          });
          this.libelle = ""
          this.color = "";
          this.description = " ";
          this.getProvenance();
        });
      } else {
        this.$notify({
          title: "Attention",
          message: "Veuillez renseigner une provenance",
          type: "warning",
        });
      }
    },
    // ajout de la provenance
    addProvenance() {
      var obj = {
        libelle: this.libelle,
        color: this.color,
        description: this.description,
        propretyIcon: {
          iconClass: this.propretyIcon.iconClass,
          NameIcon: this.propretyIcon.NameIcon,
        },
        // default: this.default,
      };
      if (obj.libelle != "") {
        this.libelle = "";
        this.description = " ";
        this.default = false;
        Provenance.saveDocumentSubSubCollection(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "provenances",
          obj
        );
      } else {
        this.$notify({
          title: "Attention",
          message: "Veuillez renseigner un libellé pour cette étiquette",
          type: "warning",
        });
      }
      this.addPovenanceActif = false;
      this.getProvenance();
    },
    // Caché la provenance
    hideProvenance(obj) {
      this.addPovenanceActif = true;
      this.editEtiquetteActif = true;
      this.libelle = obj.libelle;
      this.color = obj.color;
      this.description = obj.description;
      this.propretyIcon = obj.propretyIcon;
      this.updateProvenancerAdd.id = obj.id;
    },
    deleteProvenance(id, index) {
      Provenance.deleteDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "provenances",
        id
      );
      this.tabProvenance.splice(index, 1);
      this.$notify({
        title: "Succès",
        message: "La provenance a été supprimée",
        type: "success",
      });
    },
    // Récupération des Provenances
    getProvenance() {
      Provenance.getDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "provenances"
      ).then((querySnapshot) => {
        this.tabProvenance = []
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.tabProvenance.push(data);
        });
      });
    },
  },
  mounted() {
    this.getProvenance();
  },
};
</script>

<style scoped>
   .el-tag.el-tag--info {
      padding: 0 !important;
      margin-top: 0 !important;
    }
</style>
