<template>
  <div>
    <h5>
      <i class="el-icon-top-right"></i> <strong>Reservation de Salle</strong>
      <i class="el-icon-edit mr-3"></i>
    </h5>
    <hr />
    <!--  affichage des éléménts -->
    <div>
      <div v-for="(reservation, index) in tableRservation" :key="'reservation-' + index">
        {{ reservation }}
          <div class="row mb-3">
              <div class="col-1">  
                    <span class="text-center">Réf</span>               
                  <el-tag type="info">{{ reservation.ref }}</el-tag> 
              </div>
              <div class="col-2">  
                    <span class="text-center">Articles</span>               
                  <el-tag type="info">{{ reservation.articles }}</el-tag> 
              </div>
              <div class="col-1">   
                    <span class="text-center">Image</span>               
                  <el-tag type="info">{{ reservation.images }}</el-tag> 
              </div>
              <div class="col-2">  
                    <span class="text-center">Date de début</span>               
                  <el-tag type="info">{{ reservation.dates[0].seconds * 1000  | moment( " Do MMMM YYYY") }}</el-tag>  
              </div>
              <div class="col-2">   
                    <span class="text-center">Date de fin</span>               
                  <el-tag type="info">{{ reservation.dates[1].seconds * 1000  | moment( " Do MMMM YYYY") }}</el-tag>  
              </div>
              <div class="col-1">  
                 <span class="text-center">Quanité</span>                
                  <el-tag type="info">{{ reservation.qte }}</el-tag>
              </div>
              <div class="col-1">
                  <span class="text-center">prixUttc</span>                  
                  <el-tag type="info">{{ reservation.prixUttc }}</el-tag>
              </div>

            <div
              v-if="!editEtiquetteActif && !addEtiquetteActif"
              class="col-1 ml-auto"
            >
              <!-- <el-button size="small" icon="el-icon-edit" @click="hidePriority(identity)" circle></el-button> -->
              <el-button
                size="small"
                icon="el-icon-delete"
                @click="deleteCoursier(reservation.id, index)"
                circle
              ></el-button>
            </div>
        </div>
      </div>
      <div v-if="!editEtiquetteActif && !addEtiquetteActif" class="row">
        <div class="col-6">
          <el-button
            type="primary"
            icon="el-icon-plus"
            circle
            @click="addEtiquetteActif = true"
            size="mini"
          ></el-button>
        </div>
      </div>
    </div>

    <!-- creation des elements -->

    <div v-if="addEtiquetteActif">
      <div class="row">
        {{typeReservation}}
      </div>
      <div class="row">
        <div class="col-11">
          <el-input
            type="text"
            v-model="typeReservation"
            maxlength="50"
            autofocus="true"
            class="mb-3 eti-color-select"
            :style="myStyle"
            placeholder="Entrez le type de sréservation"
          ></el-input>
        </div>
        <div class="col-1">
          <el-button
            type="primary"
            icon="el-icon-plus"
            circle
            @click="addTypeTicket"
            size="mini"
          ></el-button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <el-input
            type="text"
            v-model="titre"
            maxlength="50"
            autofocus="true"
            class="mb-3 eti-color-select"
            :style="myStyle"
            placeholder="Entrez le nom de la salle à réserver"
          ></el-input>
        </div>
      </div>
      <div class="row">
          <div class="col-4">
            <el-input
              type="text"
              v-model="ref"
              maxlength="50"
              autofocus="true"
              class="mb-3 eti-color-select"
              :style="myStyle"
              placeholder="Entrez la référence"
            ></el-input>
          </div>
          <div class="col-4">
            <el-input
              type="text"
              v-model="articles"
              maxlength="50"
              autofocus="true"
              class="mb-3 eti-color-select"
              :style="myStyle"
              placeholder="Entrez le nom de l'article"
            ></el-input>
          </div>
          <div class="col-4">
            <!-- <div class="block"><el-avatar shape="square" :size="50" :src="squareUrl"></el-avatar></div> -->
            <el-input
              type="text"
              v-model="images"
              maxlength="50"
              autofocus="true"
              class="mb-4 eti-color-select"
              :style="myStyle"
              placeholder="Entrez une image"
            ></el-input>
          </div>
      </div>
      <div class="row">
          <div class="col-4 ">
            <el-form-item prop="dates">
              <el-date-picker
                style="width: 100%"
                class=""
                format="dd-MMMM-yyyy"
                v-model="dates"
                type="datetimerange"
                range-separator="à"
                start-placeholder="Date de début"
                end-placeholder="Date de fin"
                :default-value="new Date()"
              ></el-date-picker>
            </el-form-item>
            <!-- <el-input type="text" v-model="dates" maxlength="50" autofocus="true" class="mb-4 eti-color-select" :style="myStyle" placeholder="Entrez une date de début" ></el-input>                     -->
          </div>
          <div class="col-4">
            <input
              type="number"
              name=""
              id=""
              class="form-control"
              v-model="qte"
              placeholder="Qté (s)"
            />
          </div>
          <div class="col-4">
            <input
              type="number"
              name=""
              id=""
              class="form-control"
              v-model="prixUttc"
              placeholder="Prix"
            />
          </div>
        <!-- <div class="col-1">
                    <el-color-picker v-model="color" size="medium" color-format="hex"></el-color-picker>
                </div> -->
      </div>
      <div class="row">
        <div class="col-12">
          <el-button
            v-if="editEtiquetteActif == true"
            type="primary"
            size="mini"
            @click="updatePriority()"
            >Modifier</el-button
          >
          <el-button v-else type="primary" size="mini" @click="addReservation"
            >Ajouter</el-button
          >
          <el-button
            type="danger"
            size="mini"
            @click="addEtiquetteActif = false"
            >Annuler</el-button
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from 'firebase';
// import Coursier from '../../erp/models/coursier';
import ParamOptionReserv from '../../erp/models/paramOptionReserv';
import Notification from '../../../../store/collection/notifications';
import icons from '../../../bp/agile/icon.json';

export default {
  name: 'reservationAfaire',
  props: {
    projectSelected: {
      default: null,
    },
    typeId: {
      default: null,
    },
  },
  data() {
    return {
      addLabelActif: false,
      addPriority: false,
      editEtiquetteActif: false,
      addEtiquetteActif: false,
      editEtiquetteData: {},
      paramsTypeEtiquetteRef: '',
      colorIcon: '#fff',
      color: '#8D9395',
      myStyle: {
        backgroundColor: '#8D9395',
        color: 'white',
        fontWeight: 'bold',
        textTransform: 'capitalize',
      },
      titre: '',
      ref: '',
      articles: '',
      images: '',
      dates: '',
      qte: '',
      prixUttc: '',
      typeReservation: '',
      tableauTypeReservation:[],
      tableRservation: [],
      swicth: false,
      //Loading CONTAINER
      loadingCat: false,
      loadingActions: false,

      etiquettePromise: null,
      categoriePromise: null,
      //Promise
      planActionRef: null,
    };
  },

  methods: {
    // fonction permettant d'ajouter le type de ticket
    addTypeTicket() {
      this.tableauTypeReservation.push(this.typeReservation)
      this.typeReservation = ''
      alert("bonjour")
      // console.log('bonjour');
    },
    // modifier la priorité
    updatePriority() {
      if (this.libelle.length > 3) {
        (this.updatePriorityAdd.libelle = this.libelle),
          (this.updatePriorityAdd.color =
            this.color.length === 0
              ? this.updatePriorityAdd.color
              : this.color);
        (this.updatePriorityAdd.descPriority = this.descPriority),
          (this.libelle = '');
        this.color = '';
        this.descPriority = ' ';
        this.addEtiquetteActif = !this.addEtiquetteActif;
        this.editEtiquetteActif = !this.editEtiquetteActif;
        Salariers.updateDocumentSubSubCollection(
          'agilite',
          this.projectSelected,
          'params',
          this.typeId,
          'priorites',
          this.updatePriorityAdd.id,
          this.updatePriorityAdd
        ).then(() => {
          this.$notify({
            title: 'Succès',
            message: 'La priorité a été Modifiée',
            type: 'success',
          });
        });
      } else {
        this.$notify({
          title: 'Attention',
          message: 'Veuillez renseigner une priorité suppérieur à 3 lettres',
          type: 'warning',
        });
      }
    },
    // Caché label Etiquette
    // hidePriority(obj){
    //     this.addEtiquetteActif = !this.addEtiquetteActif
    //     this.editEtiquetteActif = !this.editEtiquetteActif
    //     this.updatePriorityAdd = obj
    // },
    deleteCoursier(id, index) {
      ParamOptionReserv.deleteDocumentSubSubCollection(
        'agilite',
        this.projectSelected,
        'params',
        this.typeId,
        'salles',
        id
      );
      this.tableRservation.splice(index, 1);
      this.$notify({
        title: 'Succès',
        message: 'Le identifiés ont été supprimée',
        type: 'success',
      });
    },
    // ajout des salariers
    addReservation() {
      const obj = {
        typeReservation: this.typeReservation,
        titre: this.titre,
        ref: this.ref,
        articles: this.articles,
        images: this.images,
        dates: this.dates,
        qte: this.qte,
        prixUttc: this.prixUttc,
      };
      if (obj.titre != '') {
          (this.ref = ''),
          (this.articles = ''),
          (this.images = ''),
          (this.dates = '');
          (this.qte = ''),
          (this.prixUttc = ''),
        this.addEtiquetteActif = false;
        ParamOptionReserv.saveDocumentSubSubCollection(
          'agilite',
          this.projectSelected,
          'params',
          this.typeId,
          'salles',
          obj
        ).then(() => {
          this.$notify({
            title: 'Succès',
            message: 'Succès',
            type: 'success',
          });
        });
      } else {
        this.$notify({
          title: 'Attention',
          message: 'Veuillez renseignez tous les champs',
          type: 'warning',
        });
      }
      // this.getSalle()
    },
    // Récupération des salariers
    getSalle() {
      ParamOptionReserv.getDocumentSubSubCollection(
        'agilite',
        this.projectSelected,
        'params',
        this.typeId,
        'salles'
      ).then((querySnapshot) => {
        this.tableRservation = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.tableRservation.push(data);
          console.log('data room ', this.tableRservation);
        });
      });
    },
  },
  mounted() {
    this.getSalle();
  },
};
</script>

<style scoped>
.el-tag.el-tag--info {
  padding: 0 !important;
  margin-top: 0 !important;
}
</style>
