<template>
    <div>                                    
        <h5><i class="el-icon-top-right"></i> <strong>Salariés</strong> <i class="el-icon-edit mr-3"></i></h5> 
        <hr>  
        <div>
            <div v-for="(identity, index) in tabSalariers" :key="'identity-' + index">
                <div class="row mb-3">
                    <div class="col-2">                  
                        <el-tag type="info">{{ identity.matricule }}</el-tag> 
                    </div>
                    <div class="col-3">                  
                        <el-tag type="info">{{ identity.nom }}</el-tag> 
                    </div>
                    <div class="col-3">                  
                        <el-tag type="info">{{ identity.prenom }}</el-tag> 
                    </div>
                    <div class="col-2">                  
                        <el-tag type="info">{{ identity.mois }}</el-tag>  
                    </div>
                    <div class="col-2">                  
                        <el-tag type="info">{{ identity.montant }}</el-tag>
                    </div>
                    
                    <div class="col-3 mt-2">
                        <el-button size="small" icon="el-icon-edit" @click="hideSalariers(identity)" circle></el-button>
                        <el-button size="small" icon="el-icon-delete" @click="deleteSalarier(identity.id, index)" circle></el-button>
                    </div>
                </div>
            </div>
            <div v-if="!addEtiquetteActif" class="row">
                <div class="col-6">
                    <el-button type="primary" icon="el-icon-plus" circle @click="addEtiquetteActif = true" size="mini"></el-button>
                </div>
            </div>
        </div> 
        <div v-if="addEtiquetteActif">
            <div class="row">
                <div class="col-2">
                    <el-input type="text" v-model="matricule" maxlength="50" autofocus="true" class="mb-3 eti-color-select" :style="myStyle" placeholder="Entrez le matricule" ></el-input>
                </div>
                <div class="col-3">
                    <el-input type="text" v-model="nom" maxlength="50" autofocus="true" class="mb-3 eti-color-select" :style="myStyle" placeholder="Entrez le nom du salarier" ></el-input>
                </div>
                <div class="col-2">
                    <el-input type="text" v-model="prenom" maxlength="50" autofocus="true" class="mb-4 eti-color-select" :style="myStyle" placeholder="Entrez le prénom du salarier" ></el-input>
                </div>
                <div class="col-3">
                    <el-input type="text" v-model="mois" maxlength="50" autofocus="true" class="mb-4 eti-color-select" :style="myStyle" placeholder="Entrez le mois payer" ></el-input>                    
                </div>
                <div class="col-2">
                    <input type="number" name="" id="" class="form-control" v-model="montant" placeholder="Entrez le montant">
                </div>
                <!-- <div class="col-1">
                    <el-color-picker v-model="color" size="medium" color-format="hex"></el-color-picker>
                </div> -->
 
            </div>
            <div class="row">
                <div class="col-12">
                    <el-button v-if="editEtiquetteActif == true"  type="primary" size="mini" @click="updateSalariers()">Modifier</el-button>
                    <el-button v-else type="primary" size="mini" @click="addSalariers">Ajouter</el-button>
                    <el-button type="danger" size="mini" @click="addEtiquetteActif = false">Annuler</el-button>
                </div>
            </div>
        </div>                                                                                                                                                                                                          
    </div>
</template>
<script>
import firebase from "firebase"
// import Coursier from '../../erp/models/coursier';
import Salariers from '../../erp/models/salariers'
import Notification from "../../../../store/collection/notifications";
import icons from '../../../bp/agile/icon.json';

export default {
    name:'salarier',
    props:{
       projectSelected:{
            default: null
        },
       typeId:{
           default: null
       }
    },
    data() {
        return {
            addLabelActif: false,
            addPriority: false,  
            editEtiquetteActif: false,
            addEtiquetteActif: false,
            editEtiquetteData: {},
            paramsTypeEtiquetteRef: "",
             colorIcon: "#fff",
            color: "#8D9395",
            myStyle: {
                backgroundColor: "#8D9395",
                color: "white",
                fontWeight: "bold",
                textTransform: "capitalize",
            },
            code: "",
            matricule: "",
            nom: "",
            prenom: "",
            montant:"",
            mois:"",
            updateSalarier:{
                code: "",
                matricule: "",
                nom: "",
                prenom: "",
                montant:"",
                mois:"",
            },
            tabSalariers: [],
            swicth: false,
            loadingCat:false,
            loadingActions:false,
            etiquettePromise:null,
            categoriePromise:null,
            planActionRef: null,
        };
    },

    methods: {
        // modifier la priorité
        updateSalariers(){      
            this.updateSalarier.nom = this.nom,
            this.updateSalarier.prenom = this.prenom,
            this.updateSalarier.mois = this.mois,
            this.updateSalarier.montant = this.montant,
            this.updateSalarier.matricule = this.matricule,
            this.addEtiquetteActif = false, 
            this.editEtiquetteActif = false,
            Salariers.updateDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "salariers", this.updateSalarier.id, this.updateSalarier)
            .then(()=>{
                this.$notify({
                title: "Succès",
                message: "Les données du salarié ont été Modifiées",
                type: "success",
                });
                this.matricule = "",             
                this.nom = "",
                this.prenom = "",
                this.montant = "",
                this.mois = ""
                this.getSalarier()
            })
            .catch(()=>{
                this.$notify({
                title: "Attention",
                message:"Veuillez renseigner données du salarié",
                type: "warning",
            });
        })
        },
        // Caché label Etiquette
        hideSalariers(obj){            
            this.addEtiquetteActif = true
            this.editEtiquetteActif = true
            this.matricule = obj.matricule
            this.nom = obj.nom;
            this.prenom = obj.prenom;
            this.mois = obj.mois;
            this.montant = obj.montant;
            this.updateSalarier.id = obj.id
            console.log('salariers ', obj);
        },
        deleteSalarier(id, index) {
            Salariers.deleteDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "salariers", id)
            this.tabSalariers.splice(index, 1)
                this.$notify({
                    title: "Succès",
                    message:"Le identifiés ont été supprimée",
                    type: "success",
                });
        },
        // ajout des salariers
        addSalariers(){
            const obj = {
                code: "900",
                matricule: this.matricule,
                nom: this.nom,
                prenom: this.prenom,
                montant: this.montant,
                mois: this.mois
            };
            this.code = "900",             
            this.matricule = "",             
            this.nom = "",
            this.prenom = "",
            this.montant = "",
            this.mois = ""
            this.addEtiquetteActif = false;
            Salariers.saveDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "salariers", obj)
            .catch(()=>{
                this.$notify({
                    title: "Attention",
                    message:"Veuillez renseigner votre nom",
                    type: "warning",
                })
            })
            this.getSalarier()  
      
        },
        // Récupération des salariers
        getSalarier(){
             Salariers.getDocumentSubSubCollection("agilite", this.projectSelected, "params", this.typeId, "salariers").then((querySnapshot) =>{    
                this.tabSalariers = []
                querySnapshot.forEach((doc)=>{
                    const data = doc.data()
                    data.id = doc.id
                    this.tabSalariers.push(data)
                })
            })
        },       
    },
    mounted(){
        this.getSalarier()
    },
};
</script>

<style scoped>
    .el-tag.el-tag--info {
        padding: 0 !important;
        margin-top: 0 !important;
    }
</style>

