<template>
  <div>
    <div>
      <h5>
        <i class="el-icon-s-finance"></i> <strong>Sprint</strong>
        <i class="el-icon-edit mr-3"></i>
      </h5>
      <hr />
      <div>
        <div v-for="(sprint, index) in tabSprint" :key="'eti-' + index">
          <div class="row mb-3">
            <div v-if="sprint.propretyIcon" class="col-1">
              <button
                :style="{
                  backgroundColor: sprint.color,
                  borderColor: sprint.color,
                  color: colorIcon,
                }"
                type="button"
                class="btn btn-outline-primary"
                :class="sprint.propretyIcon.iconClass"
              >
                {{ sprint.propretyIcon.NameIcon }}
              </button>
            </div>
            <div class="col-xl-3 col-lg-3">
              <el-tag v-if="sprint.dates.dateDebut" type="info">
                <strong>Début : </strong>
                {{
                  (sprint.dates.dateDebut.seconds * 1000)
                    | moment("ddd Do MMM YY")
                }}</el-tag
              >
            </div>
            <div class="col-xl-3 col-lg-3">
              <el-tag v-if="sprint.dates.dateFin" type="info">
                <strong>Fin : </strong>
                {{
                  (sprint.dates.dateFin.seconds * 1000)
                    | moment("ddd Do MMM YY")
                }}</el-tag
              >
            </div>
            <div class="col-xl-2 col-lg-3">
              <h4>
                <span
                  :style="{
                    backgroundColor: sprint.color,
                    borderColor: sprint.color,
                  }"
                  @click="updateclasseurquette()"
                  class="badge eti-color-list ml-3 p-2 pr-3 pl-3 text-capitalize"
                >
                  {{ sprint.libelle }}</span
                >
              </h4>
            </div>
            <div class="col-xl-3 col-lg-2">
                <el-tooltip
                class="item"
                effect="dark"
                :content=" sprint.description"
                placement="bottom"
                >
              <el-tag type="info">{{ sprint.description | cyb_desc_split }}</el-tag>
              </el-tooltip>
            </div>
            <div class="col-xl-1 col-lg-1 my-2 d-flex align-items-center">
              <el-switch
                v-model="sprint.default"
                active-color="#13ce66"
                inactive-color="#ff4949"
                @change="updatDefaultState($event, sprint.id)"
              >
              </el-switch>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 my-2">
              <el-button
                size="small"
                icon="el-icon-edit"
                @click="hideSprint(sprint)"
                circle
              ></el-button>
              <el-button
                size="small"
                icon="el-icon-delete"
                @click="deleteSprint(sprint.id, index)"
                circle
              ></el-button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <el-button
              v-if="!editEtiquetteActif"
              type="primary"
              icon="el-icon-plus"
              circle
              @click="addSprintActif = true"
              size="mini"
            ></el-button>
          </div>
        </div>
      </div>
      <div v-if="addSprintActif">
        <div class="row mt-3">
          <div class="col-xl-6 col-lg-6 col-md-10 col-10">
            <el-input
              v-model="libelle"
              maxlength="16"
              autofocus="true"
              class="mb-4 eti-color-select"
              :style="myStyle"
              placeholder="Libellé du sprint"
            ></el-input>
          </div>
          <div class="col-xl-1 col-lg-1 col-md-1 col-1">
            <el-color-picker
              v-model="color"
              size="medium"
              color-format="hex"
            ></el-color-picker>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-12 col-12 icon-material">
            <el-dropdown trigger="click" class="mx-2" @command="propretyIconns">
              <el-button class="el-dropdown-link">
                Choix d'icône<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu style= "width: 72%; margin-left: 18%" slot="dropdown">
                <el-dropdown-item
                  v-for="(iconClass, icoClasser) in icons"
                  :key="icoClasser"
                  :command="[iconClass, icoClasser]"
                  :icon="iconClass"
                  :class="iconClass"
                >
                  <span class="d-flex justify-content-center"> {{ icoClasser }} </span>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <button
              type="button"
              class="btn btn-outline-secondary"
              :class="propretyIcon.iconClass"
            >
              {{ propretyIcon.NameIcon }}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-3">
            <el-input
              type="textarea"
              v-model="description"
              placeholder="Définissez les objectifs de votre sprint..."
              rows="4"
              cols="50"
            >
            </el-input>
          </div>
          <div class="col-6">
            <el-form-item label="Date" prop="dates">
              <el-date-picker
                style="width: 100%"
                class=""
                format="dd-MMMM-yyyy"
                v-model="dates"
                type="datetimerange"
                range-separator="à"
                start-placeholder="Date de début"
                end-placeholder="Date de fin"
                :default-value="new Date()"
              ></el-date-picker>
            </el-form-item>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <el-button
              v-if="editEtiquetteActif == true"
              type="primary"
              size="mini"
              @click="updateSprints(sprint)"
              >Modifier</el-button
            >
            <el-button v-else type="primary" size="mini" @click="addSprint"
              >Ajouter</el-button
            >
            <el-button type="danger" size="mini" @click="addSprintActif = false"
              >Annuler</el-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import Notification from "../../../../store/collection/notifications";
import Sprint from "../../../bp/erp/models/sprint";
import icons from "../../../bp/agile/icon.json";
import moment from "moment";
moment.locale("fr");
export default {
  name: "sprint",
  props: {
    projectSelected: {
      default: null,
    },
    typeId: {
      default: null,
    },
  },
  data() {
    return {
      default: false,
      dateDebut: "",
      dateDebut: "",
      dates: [],
      // icône classeur
      propretyIcon: {
        iconClass: "material-icons-outlined",
        NameIcon: "outbox",
      },
      icons: icons,
      description: "",
      updateSprint: {
        libelle: "",
        color: "",
        description: "",
        dates: {
          dateDebut: "",
          dateDebut: "",
        },
      },
      tabSprint: [],
      libelle: "",
      // sprintActif: false,
      ////planActionRefOld: firebase.firestore().collection("planAction"),
      // allUsers:[],
      editEtiquetteActif: false,
      addEtiquetteActif: false,
      // editSprintActif: false,
      addSprintActif: false,
      editSprintData: {},
      paramsTypeEtiquetteRef: "",
      color: "#8D9395",
      myStyle: {
        backgroundColor: "#8D9395",
        color: "white",
        fontWeight: "bold",
        textTransform: "capitalize",
      },
      colorIcon: "#fff",
      ////swicth: false,
      planActionRef: null,
    };
  },
  methods: {
    // choix icône
    updatDefaultState(value, id) {
      if (!this.default) {
        Sprint.updateDocumentSubSubCollectionField(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "sprints",
          id,
          value
        ).then(() => {
          this.$notify({
            title: "Succès",
            message: "Vous avez choisi l'élément par défaut",
            type: "success",
          });
        });
      } else {
        this.$notify({
          title: "Attention",
          message: "Vous retirez l'élément par défaut",
          type: "warning",
        });
      }
    },
    propretyIconns(command) {
      (this.propretyIcon.iconClass = command[0]),
        (this.propretyIcon.NameIcon = command[1]);
    },
    // ajout du sprint
    addSprint() {
      let obj = {
        libelle: this.libelle,
        color: this.color,
        description: this.description,
        dates: {},
        propretyIcon: {
          iconClass: this.propretyIcon.iconClass,
          NameIcon: this.propretyIcon.NameIcon,
        },
        default: this.default,
      };
      if (this.dates.length != 0) {
        obj.dates.dateDebut = this.dates[0];
        obj.dates.dateFin = this.dates[1];
      }

      if (obj.libelle != "") {
        this.libelle = "";
        this.description = "";
        this.default = false;
        Sprint.saveDocumentSubSubCollection(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "sprints",
          obj
        );
        // console.log('tester ',this.dates[0], this.dates);
      } else {
        this.$notify({
          title: "Attention",
          message: "Veuillez renseigner un sprint",
          type: "warning",
        });
        console.log("data ", obj);
      }
      this.addSprintActif = false;
      this.getSprint();
    },
    // modifier le sprint
    updateSprints() {
      if (this.libelle != "") {
        (this.updateSprint.libelle = this.libelle),
          (this.updateSprint.color =
            this.color.length === 0 ? this.updateSprint.color : this.color);
        (this.updateSprint.description = this.description),
          (this.updateSprint.propretyIcon = this.propretyIcon);
        if (this.dates.length != 0) {
          this.updateSprint.dates.dateDebut = this.dates[0];
          this.updateSprint.dates.dateFin = this.dates[1];
        }
        this.addSprintActif = false;
        this.editEtiquetteActif = false;
        Sprint.updateDocumentSubSubCollection(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "sprints",
          this.updateSprint.id,
          this.updateSprint
        ).then(() => {
          this.$notify({
            title: "Succès",
            message: "Le sprint a été Modifiée",
            type: "success",
          });
          this.libelle = "";
          this.color = "";
          this.description = " ";
          this.getSprint();
        });
      } else {
        this.$notify({
          title: "Attention",
          message: "Veuillez renseigner un  sprint suppérieur à 3 lettres",
          type: "warning",
        });
      }
    },
    //Caché le sprint
    hideSprint(obj) {
      this.dates = [];
      this.addSprintActif = true;
      this.editEtiquetteActif = true;
      this.libelle = obj.libelle;
      this.color = obj.color;
      this.description = obj.description;
      this.propretyIcon = obj.propretyIcon;
      this.updateSprint.id = obj.id;
      this.dates.push(new Date(obj.dates.dateDebut.seconds * 1000));
      this.dates.push(new Date(obj.dates.dateFin.seconds * 1000));
    },
    // suppression de  sprint
    deleteSprint(id, index) {
      Sprint.deleteDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "sprints",
        id
      );
      this.tabSprint.splice(index, 1);
      this.$notify({
        title: "Succès",
        message: "Le sprint a été supprimée",
        type: "success",
      });
    },
    // Récupération des  sprint
    getSprint() {
      Sprint.getDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "sprints"
      ).then((querySnapshot) => {
        this.tabSprint = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          console.log();
          this.tabSprint.push(data);
        });
      });
    },
  },
  mounted() {
    this.getSprint();
  },
};
</script>

<style scoped>
.el-tag.el-tag--info {
  padding: 0 !important;
  margin-top: 0 !important;
}
</style>
