<template>
  <div>
    <h5>
      <i class="el-icon-top-right"></i> <strong>Version</strong>
      <i class="el-icon-edit mr-3"></i>
    </h5>
    <hr />
    <div>
      <div v-for="(version, index) in tabVersion" :key="'version-' + index">
        <div class="row mb-3">
          <div v-if="version.propretyIcon" class="col-1">
            <button
              :style="{
                backgroundColor: version.color,
                borderColor: version.color,
                color: colorIcon,
              }"
              type="button"
              class="btn btn-outline-primary"
              :class="version.propretyIcon.iconClass"
            >
              {{ version.propretyIcon.NameIcon }}
            </button>
          </div>
          <div class="col-2">
            <h4>
              <span
                :style="{
                  backgroundColor: version.color,
                  borderColor: version.color,
                }"
                @click="updateEtiquette()"
                class="badge eti-color-list ml-3 p-2 pr-3 pl-3 text-capitalize"
              >
                {{ version.libelle }}
              </span>
            </h4>
          </div>
          <div class="col-5">
            <el-tag type="info">{{ version.description }}</el-tag>
          </div>
          <div class="col-1 d-flex align-items-center">
            <el-switch
              v-model="version.default"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="updatDefaultState($event, version.id)"
            >
            </el-switch>
          </div>
          <div class="col-2 ml-auto">
            <el-button
              size="small"
              icon="el-icon-edit"
              @click="hidePriority(version)"
              circle
            ></el-button>
            <el-button
              size="small"
              icon="el-icon-delete"
              @click="deletePriority(version.id, index)"
              circle
            ></el-button>
          </div>
        </div>
      </div>
      <div v-if="!editEtiquetteActif" class="row">
        <div class="col-6">
          <el-button
            type="primary"
            icon="el-icon-plus"
            circle
            @click="addVersionActif = true"
            size="mini"
          ></el-button>
        </div>
      </div>
    </div>
    <div v-if="addVersionActif">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-7 col-10">
          <el-input
            v-model="libelle"
            maxlength="16"
            autofocus="true"
            class="mb-4 eti-color-select"
            :style="myStyle"
            placeholder="Libellé du priorité"
          ></el-input>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-1">
          <el-color-picker
            v-model="color"
            size="medium"
            color-format="hex"
          ></el-color-picker>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-6 icon-material">
          <el-dropdown trigger="click" class="mx-2" @command="versionIcons">
            <el-button class="el-dropdown-link">
              Choix d'icône<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown" class="icon-item">
              <el-dropdown-item
                v-for="(iconClass, icon) in iconChoose"
                :key="icon"
                :command="[iconClass, icon]"
                :icon="iconClass"
                :class="iconClass"
              >
                <span> {{ icon }} </span>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <button
            v-if="propretyIcon"
            type="button"
            class="btn btn-outline-secondary"
            :class="propretyIcon.iconClass"
          >
            {{ propretyIcon.NameIcon }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-3">
          <el-input
            type="textarea"
            v-model="description"
            placeholder="Ajouter un commentaire..."
            rows="4"
            cols="50"
          >
          </el-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <el-button
            v-if="editEtiquetteActif == true"
            type="primary"
            size="mini"
            @click="updateVersion()"
            >Modifier</el-button
          >
          <el-button v-else type="primary" size="mini" @click="addVersion"
            >Ajouter</el-button
          >
          <el-button type="danger" size="mini" @click="addVersionActif = false"
            >Annuler</el-button
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import Version from "../../erp/models/version";
import Notification from "../../../../store/collection/notifications";
import icons from "../../../bp/agile/icon.json";

export default {
  name: "version",
  props: {
    projectSelected: {
      default: null,
    },
    typeId: {
      default: null,
    },
  },
  data() {
    return {
      // icône priorité
      radio: "radio",
      iconChoose: icons,
      updateVersionAdd: {
        libelle: "",
        color: "",
        description: "",
      },
      propretyIcon: {
        iconClass: "material-icons-outlined",
        NameIcon: "close_fullscreen",
      },
      description: "",
      updateLabelEtiquette: {
        labelEtiquette: "",
        color: "",
        description: "",
      },
      description: "",
      addLabelActif: false,
      // paramsTable: [],
      indicatortitle: true,
      // modale ticket
      addPriority: false,
      planActionRefOld: firebase.firestore().collection("planAction"),
      // allUsers:[],
      // Etiquettes variables
      editEtiquetteActif: false,
      addVersionActif: false,
      addVersionActif: false,
      editEtiquetteData: {},
      paramsTypeEtiquetteRef: "",
      colorIcon: "#fff",
      color: "#8D9395",
      myStyle: {
        backgroundColor: "#8D9395",
        color: "white",
        fontWeight: "bold",
        textTransform: "capitalize",
      },
      libelle: "",
      tabVersion: [],
      planActionRef: null,
    };
  },

  methods: {
    updatDefaultState(value, id) {
      if (!this.default) {
        Version.updateDocumentSubSubCollectionField(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "versions",
          id,
          value
        ).then(() => {
          this.$notify({
            title: "Succès",
            message: "Vous avez choisi l'élément par défaut",
            type: "success",
          });
        });
      } else {
        this.$notify({
          title: "Attention",
          message: "Vous retirez l'élément par défaut",
          type: "warning",
        });
      }
    },
    // choix des l'icon prioritté
    versionIcons(command) {
      this.propretyIcon.iconClass = command[0];
      this.propretyIcon.NameIcon = command[1];
    },
    // modifier la priorité
    updateVersion() {
      (this.updateVersionAdd.libelle = this.libelle),
        (this.updateVersionAdd.color =
          this.color.length === 0 ? this.updateVersionAdd.color : this.color);
      (this.updateVersionAdd.description = this.description),
        (this.updateVersionAdd = this.propretyIcon.iconClass),
        (this.updateVersionAdd = this.propretyIcon.NameIcon),
        (this.addVersionActif = false);
      this.editEtiquetteActif = false;
      Version.updateDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "versions",
        this.updateVersionAdd.id,
        this.updateVersionAdd
      )
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "La version a été Modifiée",
            type: "success",
          });
          this.libelle = "";
          this.color = "";
          this.description = "";
          this.getVersion();
        })
        .catch(() => {
          this.$notify({
            title: "Attention",
            message: "Veuillez renseigner une version suppérieur à 3 lettres",
            type: "warning",
          });
        });
    },
    // Caché label Etiquette
    hidePriority(obj) {
      this.addVersionActif = true;
      this.editEtiquetteActif = true;
      this.libelle = obj.libelle;
      this.color = obj.color;
      this.description = obj.description;
      this.propretyIcon = obj.propretyIcon;
      this.updateVersionAdd.id = obj.id;
    },
    // suppression de priorité
    deletePriority(id, index) {
      Version.deleteDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "versions",
        id
      );
      this.tabVersion.splice(index, 1);
      this.$notify({
        title: "Succès",
        message: "La version a été supprimée",
        type: "success",
      });
    },
    // ajout des priorités
    addVersion() {
      var obj = {
        libelle: this.libelle,
        color: this.color,
        description: this.description,
        propretyIcon: {
          iconClass: this.propretyIcon.iconClass,
          NameIcon: this.propretyIcon.NameIcon,
        },
      };
      if (obj.libelle != "") {
        this.libelle = "";
        this.description = "";
        this.addVersionActif = false;
        this.default = false;
        Version.saveDocumentSubSubCollection(
          "agilite",
          this.projectSelected,
          "params",
          this.typeId,
          "versions",
          obj
        );
        console.log(this.typeId, " ", obj);
      } else {
        this.$notify({
          title: "Attention",
          message: "Veuillez renseigner une version",
          type: "warning",
        });
      }
      this.getVersion();
      // this.choixIcon()
    },
    // Récupération des priorités
    getVersion() {
      Version.getDocumentSubSubCollection(
        "agilite",
        this.projectSelected,
        "params",
        this.typeId,
        "versions"
      ).then((querySnapshot) => {
        this.tabVersion = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.tabVersion.push(data);
          console.log("icon version ", this.tabVersion);
        });
      });
    },
  },
  mounted() {
    this.getVersion();
  },
};
</script>

<style scoped>
.el-tag.el-tag--info {
  padding: 0 !important;
  margin-top: 0 !important;
}
</style>
