<template>
  <div>
    <!-- Vue liste-->
    <span slot="label"
      ><i class="el-icon-s-operation"></i>
      <!-- <strong>Vue Liste ({{ filterTaskList.length }})</strong> -->
    </span>
    <!-- Plan d'action-->
    <div class="container-card-body">
      <el-row :gutter="5">
        <!-- Projet headerTicket-->
        <el-col :span="3">
          <el-form ref="form" label-position="top">
            <Projet ref="projet" libelle="Projet :" :isFilter="true" />
          </el-form>
        </el-col>
        <!-- Activité -->
        <el-col :span="4">
          <el-form ref="form" label-position="top">
            <Activite
              :typeTicketSelected="typeTicketSelected"
              :idSummarySelected="idSummarySelected"
              libelle="Activité"
              ref="activite"
              :isFilter="true"
            />
          </el-form>
        </el-col>
        <!-- type de ticket headerTicket -->
        <el-col :span="4">
          <el-form ref="form" label-position="top">
            <TypeTicketHeader
              @update:typeTicketSelectedFilter="
                itemFilter($event, 'typeTicket')
              "
              ref="typeTicketHeader"
              :isFilter="true"
            />
          </el-form>
        </el-col>
        <!-- statut headerticket -->
        <el-col :span="3">
          <!-- <el-form ref="form" label-position="top">
                  <StatutHeader
                    @update:actionFilter="itemFilter($event, 'etat')"
                    ref="statutHeader"
                    :isFilter="true"
                  />
                </el-form> -->
        </el-col>

        <el-col :span="3">
          <!-- <el-form ref="form" label-position="top">
                  <EtiquetteInput
                    @update:etiquetteFilter="
                      itemFilter($event.id, 'refEtiquette')
                    "
                    :isFilter="true"
                  />
                </el-form> -->
        </el-col>
        <el-col :span="3">
          <!-- <el-form ref="form" label-position="top">
                  <PrioriteInput
                    @update:prioriteFilter="
                      itemFilter($event.id, 'priorite')
                    "
                    ref="priorite"
                    :isFilter="true"
                  />
                </el-form> -->
        </el-col>
        <el-col :span="3">
          <!-- <el-form ref="form" label-position="top">
                  <SprintInput
                    @update:sprintFilter="itemFilter($event.id, 'sprint')"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    libelle="Période"
                    ref="sprint"
                    :isFilter="true"
                  />
                </el-form> -->
        </el-col>
        <el-col :span="10">
          <el-form ref="form" label-position="top">
            <div>
              <Affecte
                @update:userFilter="itemFilter($event.id, 'userId')"
                :adminId="$store.state.agilite.adminId"
                :isFilter="true"
                :isInput="false"
                label="Affecté à :"
                ref="affecte"
              />
            </div>
          </el-form>
        </el-col>

        <!-- <el-col :span="3"> </el-col> -->
      </el-row>
      <!-- Priorite & etiquette -->

      <!-- <h1>{{ this.querySize }}</h1> -->
      <div v-if="loading">
        <el-skeleton :rows="querySize" :loading="loading" animated>
          <template slot="template">
            <el-row
              v-for="index in querySize"
              :key="'raw' + index"
              :gutter="10"
            >
              <el-col :span="24">
                <!-- Checkbox-->
                <el-skeleton-item
                  variant="h1"
                  style="width: 100%; height:50px; border-radius-top-left:5px; border-radius-top-right:5px"
                />
              </el-col>
            </el-row>
          </template>
        </el-skeleton>
      </div>
      <div v-else>
        <Container
          group-name="col"
          drag-class="card-ghost"
          drop-class="card-ghost-drop"
          @drop="onDrop"
          :drop-placeholder="dropPlaceholderOptions"
        >
          <Draggable
            v-for="(tr, index) in filterTaskList"
            :key="tr.id + '-drag'"
            class="tache"
          >
            <!-- <div
                v-for="(tr, index) in filterTaskList"
                :key="tr.id"
                class="tache"
              > -->
            <ticket-task-old
              v-if="!tr.version"
              :tabletView="tabletView"
              :mobileView="mobileView"
              :tr="tr"
            />
            <ticket-task-New
              v-else
              :idSummarySelected="idSummarySelected"
              :categorieSelectedId="categorieSelectedId"
              :tabletView="tabletView"
              :screenView="screenView"
              :mobileView="mobileView"
              :tr="tr"
              @update:etat="filterTaskList[index].etat = $event"
              @update:state="filterTaskList[index].state = $event"
              @savedTicket="savedTicket"
              :index="index"
              @assign:user="filterTaskList[index].userId = $event"
              @delete:ticket="deleteTicket(index)"
              @archive:ticket="deleteTicket(index)"
              @update:visibility="filterTaskList[index].visibility = $event"
            />
            <!-- </div> -->
          </Draggable>
        </Container>
      </div>
      <div v-if="emptyTicket">
        <el-empty description="aucun ticket"></el-empty>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import Projet from "./tickets/composantCourrier/composantHeaderTicket/projet";
import Activite from "./tickets/composantCourrier/composantHeaderTicket/activite";
import TypeTicketHeader from "./tickets/composantCourrier/composantHeaderTicket/typeTicketHeader";
import Affecte from "./tickets/composantCourrier/contentRigth/affecte";
import TicketTaskOld from "../../admin/concours/components/ticketTaskOld";
import TicketTaskNew from "../../admin/concours/components/ticketTaskNew";
import { Container, Draggable } from "vue-dndrop";
import helper from "../../../services/helper";
import action from "../mixins/admin/actionPlan";

export default {
  components: {
    Projet,
    Activite,
    TypeTicketHeader,
    Affecte,
    TicketTaskOld,
    TicketTaskNew,
    Container,
    Draggable,
  },
  mixins: [helper, action],
  computed: {
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    categorieSelectedId: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    // planActionRef: {
    //   get() {
    //     return this.$store.state.agilite.planActionRef;
    //   },
    // },
    // tasksRef: {
    //   get() {
    //     return this.$store.state.agilite.tasksRef;
    //   },
    // },
  },
  data() {
    return {
      loading: true,
      actionsData: [],
      emptyTicket: false,
      filterTaskList: [],
      querySize: 0,
      screenView: false,
      mobileView: false,
      tabletView: false,
      isMobile: "90%",
    };
  },
  methods: {
    // drag and drop
    onDrop(item) {
      const removedIndex = item.removedIndex;
      const addedIndex = item.addedIndex;
      let add = this.filterTaskList[addedIndex];
      let remove = this.filterTaskList[removedIndex];

      this.filterTaskList.splice(addedIndex, 1, remove);

      this.filterTaskList.splice(removedIndex, 1, add);
      console.log("index ", this.filterTaskList[addedIndex], removedIndex);
      this.filterTaskList[addedIndex].ref.update({ index: addedIndex });

      this.filterTaskList[removedIndex].ref.update({ index: removedIndex });
    },
    itemFilter(id, field) {
      switch (field) {
        case "typeTicket":
          if (id != "none") {
            this.filterTaskList = this.actionsData;
            this.filterTaskList = this.filterTaskList.filter((item) => {
              if (item[field] && item[field].id) {
                item[field].visibility = false;
                return item[field].id == id;
              } else {
                return item[field] == id;
              }
            });
          } else {
            this.filterTaskList = this.actionsData;
            this.$store.commit("agilite/setTypeTicketSelected", "none");
          }
          break;

        default:
          if (id != "none") {
            this.filterTaskList = this.filterTaskList.filter((item) => {
              if (item[field] && item[field].id) {
                item[field].visibility = false;
                return item[field].id == id;
              } else {
                return item[field] == id;
              }
            });
          } else {
            this.filterTaskList = this.actionsData;
            this.$store.commit("agilite/setTypeTicketSelected", "none");
          }
          break;
      }
    },
    onResize() {
      if (window.innerWidth <= 950) {
        this.mobileView = true;
        this.isMobile = "95%";
        this.screenView = false;
        this.formAction = "95%";
        this.modalActionSize = "80%";
      } else if (window.innerWidth < 1233) {
        this.screenView = true;
        this.mobileView = false;
        this.tabletView = false;
        this.isMobile = "98%";
        this.formAction = "90%";
        this.modalActionSize = "35%";
      } else {
        this.mobileView = false;
        this.screenView = false;
        this.tabletView = false;
        this.isMobile = "90%";
        this.formAction = "90%";
        this.modalActionSize = "35%";
      }
    },
    async getActions() {
      let i = 0;
      this.loading = true;
      this.actionsData = [];
      this.filterTaskList = [];
      this.emptyTicket = false;
      //Size calculation
      firebase
        .firestore()
        .collection("planAction")
        .doc(this.$route.params.idProjet)
        .collection(this.$route.params.idActivite)
        .get()
        .then((query) => {
          this.querySize = query.size;
          firebase
            .firestore()
            .collection("tasks")
            .doc(this.$route.params.idProjet)
            .collection("activites")
            .doc(this.$route.params.idActivite)
            .collection("tickets")
            .get()
            .then((query) => {
              this.querySize = this.querySize + query.size;
            });
        });

      await firebase
        .firestore()
        .collection("planAction")
        .doc(this.$route.params.idProjet)
        .collection(this.$route.params.idActivite)
        .orderBy("createdAt", "desc")
        .get()
        .then((querySnapshot) => {
          this.actionsData = [];
          querySnapshot.forEach(async (doc) => {
            if (!doc.data().archive) {
              let obj = doc.data();
              if (doc.data().dates) {
                console.log("Dates", doc.data().dates);
                obj.dates[0] = new Date(doc.data().dates[0].seconds * 1000);
                obj.dates[1] = new Date(doc.data().dates[1].seconds * 1000);
              }
              obj.id = doc.id;
              obj.ref = doc.ref;

              if (
                this.getSumSubActionDone(obj.subActions) !=
                this.getSumSubActionAll(obj.subActions)
              ) {
                obj.visibility = true;
              } else {
                obj.visibility = false;
              }
              // if (obj.refEtiquette) {
              //   obj.refEtiquette.get().then((etiquette) => {
              //     obj.etiquette = etiquette.data();
              //     // alert("Hello");
              //   });
              // }
              // this.getEtiquette(obj);
              this.getTypeTicket(obj);
              // this.getUser(obj);
              obj.index = i;
              this.actionsData.push(obj);
              this.filterTaskList.push(obj);
              obj.ref.update({ index: i });
              i++;
              console.log("Data index old", obj);

              // this.idAction++;

              // this.actionsData.push(obj);
              this.loading = false;
              this.$store.commit("agilite/setListTickets", this.actionsData);
            }
          });
        });

      //NEW COLLECTION
      await firebase
        .firestore()
        .collection("tasks")
        .doc(this.$route.params.idProjet)
        .collection("activites")
        .doc(this.$route.params.idActivite)
        .collection("tickets")
        .where("archive", "==", false)
        .orderBy("createdAt", "desc")
        // .orderBy("index", "asc")
        .get()
        .then((querySnapshot) => {
          this.actionsData = [];
          if (!querySnapshot.empty) {
            querySnapshot.forEach(async (doc) => {
              let obj = doc.data();
              if (doc.data().dates) {
                obj.dates[0] = new Date(doc.data().dates[0].seconds * 1000);
                obj.dates[1] = new Date(doc.data().dates[1].seconds * 1000);
              }
              obj.id = doc.id;
              obj.ref = doc.ref;

              if (
                this.getSumSubActionDone(obj.subActions) !=
                this.getSumSubActionAll(obj.subActions)
              ) {
                obj.visibility = true;
              } else {
                obj.visibility = false;
              }
              this.getTypeTicket(obj);
              // this.getUser(obj);
              obj.index = i;
              this.actionsData.push(obj);
              this.filterTaskList.push(obj);
              this.loading = false;
              //Ajout de l'index en base
              if (obj.index) {
              } else {
                obj.ref.update({ index: i });
                i++;
              }

              this.$store.commit("agilite/setListTickets", this.actionsData);
            });
          } else {
            this.emptyTicket = true;
          }
        });
    },
    async getUser(data) {
      data.userId.get().then((doc) => {
        return doc.data();
      });
    },

    getCategorie(task) {
      this.categoriePromise = new Promise((resolve, reject) => {
        if (task.refCategorie) {
          task.refCategorie.get().then((categorie) => {
            task.categorie = categorie.data();
            resolve(task.categorie);
          });
        } else {
          return;
        }
      });
    },
    getEtiquette(task) {
      this.etiquettePromise = new Promise((resolve, reject) => {
        if (task.refEtiquette) {
          task.refEtiquette.get().then((etiquette) => {
            task.etiquette = etiquette.data();
            resolve(task.etiquette);
          });
        } else {
          return;
        }
      });
    },
    getTypeTicket(task) {
      this.ticketPromise = new Promise((resolve, reject) => {
        if (task.typeTicket) {
          task.typeTicket.get().then((typeTicket) => {
            task.ticket = typeTicket.data();
            resolve(task.ticket);
          });
        } else {
          return;
        }
      });
    },
    getUserEdit(task) {
      if (task.userEditId) {
        task.userEditId.get().then((user) => {
          task.userEdit = user.data();
        });
      } else {
        return;
      }
    },
    getUser(task) {
      if (task.userId) {
        task.userId.get().then((user) => {
          task.user = user.data();
        });
      } else {
        return;
      }
    },
  },
  created() {
    window.addEventListener("resize", this.onResize);
    // this.$on('change-type-ticket', function(data) {
    //   console.log('vue on submit', data);
  },
  mounted() {
    this.$loading().close();
    this.getActions();
    this.onResize();
  },
};
</script>

<style>
/* ====== design card ========= */
.card-actitvity {
  background: #fff;
  box-shadow: 0 2px 6px #d2d2d291;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
  padding: 10px;
}
.card-actitvity:hover {
  transition: all 0.5s ease-out;
  box-shadow: 0px 8px 8px #d2d2d2;
  top: -4px;
}
.card-actitvity .header {
  font-weight: 800;
  /* color: #3F4144; */
  padding: 10px;
  text-transform: uppercase;
}
.card-actitvity .content-card {
  width: 100%;
  margin: 5px 0;
  height: 125px;
}
.card-actitvity .content-card p {
  font-size: 0.8rem;
  color: #3f4144cc;
  font-weight: 600;
}

.card-actitvity .foot-card button {
  background: #abb5d2;
  color: #4967de;
  border: none;
  outline: none;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
  width: 100%;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s ease-in;
}
.card-actitvity .foot-card button:hover {
  transition: 0.25s ease-out;
  background: #4967de;
  color: #fff;
}
/* =========== End =============*/

.chart .highcharts-container {
  margin: 10px 0 !important;
}
.tag-ticket {
  color: #e6a23c !important;
  font-style: 16px;
  font-weight: 500;
}
.el-dialog__body {
  padding: 0 20px !important;
}
/* .el-dialog {
  width: 100%;
} */
.drop .drop-item .el-button--default {
  padding: 8px 21px !important;
}
.el-progress--text-inside .el-progress-bar {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.el-checkbox.is-bordered.el-checkbox--small {
  margin-left: 25px !important;
}

.etiq-tag .el-tag {
  border: none !important;
  height: 28px !important;
}
.el-progress .el-progress-bar__outer {
  margin-top: 5px !important;
  height: 15px !important;
}
.sous-tache-check .el-col-3 {
  padding-left: 40px !important;
}
.sous-tache-check .p-2 {
  padding: 0.535rem !important;
  margin-right: 10px !important;
  width: 40% !important;
}
.container-card-body .card-body {
  border-radius: 7px !important;
  padding: 0.2rem !important;
  margin: 0.3rem 10px !important;
  background: #ffffffad !important;
  border: 1px solid #e4e7edb0;
}
.container-card-body .card-body:hover {
  transition: ease-out 0.3s !important;
  box-shadow: 0 0.5px 8px #03030362 !important;
  /* transform: scale(1.1); */
}
.supprime {
  margin-top: 20px;
  border: 1px solid #007bff;
  color: #606266;
}
/** arrière plan de tâches */
.el-tabs--border-card > .el-tabs__content {
  background: #eeeff3 !important;
}
.el-tabs__nav-wrap {
  background: #007bff !important;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #007bff !important;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item {
  color: #fff !important;
}
.container-card-body .main-Task .el-checkbox__inner {
  height: 19px !important;
  width: 19px !important;
  border-radius: 50% !important;
}
.container-card-body .main-Task .el-dropdown-menu__item {
  line-height: 20px !important;
}

.container-card-body .card-body .el-checkbox__inner {
  height: 15px !important;
  width: 15px !important;
  border-radius: 50% !important;
}
/** icon joinFile style */
.el-icon-document {
  content: "\E785";
  font-size: 25px;
  color: #6b6c70;
  font-weight: 600;
}
.el-icon-document {
  margin-top: 5px !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 100%;
}
.activite-title {
  color: #1f74ff !important;
}
/** End icon joinFile style */

/** .user-pic */
.user-pic {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.el-progress-bar__outer {
  height: 6px;
  border-radius: 100px;
  background-color: #ebeef5;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  margin-top: 11px !important;
}
/** End user-pic */

/* header.vs-card--header{
        background: #2173fa !important;
        color: white !important;
    } */
.con-vs-card:hover {
  cursor: pointer;
  background-color: rgb(238, 233, 233);
}
.el-select {
  padding: 0 !important;
  background-color: black;
}
.el-tag {
  width: 95% !important;
  text-align: center;
}
.el-card:hover {
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}
.cursor:hover {
  color: #2173fa !important;
}
.eti-color {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.eti-color-list {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.text-white {
  color: white;
}
.user-pic-show {
  width: 350px;
  height: 350px;
}
.el-icon-check {
  color: white;
  font-weight: 200;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.icon-font-size {
  font-size: 25px;
}
.custom-container {
  margin-left: 5%;
  margin-right: 5%;
}

/** Upload File Style */
.upload-file {
  margin-top: 10px !important;
}
.down-file {
  margin-top: 20px !important;
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif;
  color: #606266;
  font-weight: 600;
}
/** End Upload File Style */

@media (max-width: 900px) {
  .vs-button--text {
    font-size: 13px !important;
  }
  .el-tag {
    width: 100% !important;
    font-size: 9px !important;
  }
  .el-radio__label {
    font-size: 12px !important;
  }
}

@media (max-width: 1280px) {
  .titre-reduce {
    font-size: 12px !important;
  }
  .sub-task {
    margin-bottom: 5px;
  }
  .eti-text {
    font-size: 10px !important;
  }
  .eti-reduce {
    margin-bottom: 5px;
    width: 70px !important;
  }
  .etat {
    float: right;
  }
  .el-tag[data-v-9210fb78] {
    font-size: 9px !important;
    text-align: center !important;
  }
  h6 {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    margin: 7px;
    margin-bottom: 7px;
  }
  .el-button--mini,
  .el-button--mini.is-round {
    padding: 7px 15px;
    border: none;
  }
  .sous-tache-check .p-2 {
    padding: 0.535rem !important;
    margin-right: 10px !important;
    width: 54% !important;
  }
  .eti-reduce {
    margin-bottom: 5px;
    width: 90px !important;
  }
}

.mobile-view h6 {
  font-size: 12px !important;
}

.tabletView .titre {
  font-size: 12px !important;
}
.screenView .titre {
  font-size: 12px !important;
}
.tabletView h6 {
  font-size: 13px !important;
}
.tabletView .time {
  font-size: 12px !important;
}

.filename {
  font-size: 10px !important;
}
h6 {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  margin: 7px;
  margin-bottom: 7px;
}
.el-checkbox.is-bordered.el-checkbox--small {
  padding: 3px 3px 3px 3px;
  border-radius: 3px;
  height: 26px;
}
</style>
