<template>
    <div class="page-wrapper mt-5">
        <div class="container">
            
               <div class="row">
                <div  v-for="(item, key) in menuitem"  :key="key"  class="col-lg-2">
                    <router-link v-if="item.checked" :to="item.path" class="card bg-light" >
                        <div  class="card-body">
                            <div class="d-flex no-block">
                                <div class="center">
                                    <img :src="item.image" :alt="item.image" class="img-fluid">   
                                 </div>
                            </div>
                            <h5 class="m-t-2 text-center">{{ item.libelle }}</h5>
                        </div>
                    </router-link>
               
                </div>
            </div>
           
        </div>
       
    </div>

</template>

<script>
    import helper from '../../services/helper'
    import ClickConfirm from 'click-confirm'
    import firebase from 'firebase'
    import VueIntro from 'vue-introjs';
    import 'intro.js/introjs.css';
    //CALENDAR
  
    //CHAT
    // import CloseIcon from 'vue-beautiful-chat/src/assets/close-icon.png'
    // import OpenIcon from 'vue-beautiful-chat/src/assets/logo-no-bg.svg'
    // import FileIcon from 'vue-beautiful-chat/src/assets/file.svg'
    // import CloseIconSvg from 'vue-beautiful-chat/src/assets/close.svg'

    export default {
        data(){
            return {
                perms:JSON.parse(localStorage.getItem('userSession')).perm,
                users_count: '',
                tasks_count: '',
                recent_incomplete_tasks: {},
                menuitem: [],

                todos: [],
                todoForm: new Form({
                    'todo': ''
                }),
                projet: JSON.parse(localStorage.getItem('userSession')).projet,

                /*** */
              
                 // the list of all the participant of the conversation. `name` is the user name, `id` is used to establish the author of a message, `imageUrl` is supposed to be the user avatar.
             
            }
        },
        components : { ClickConfirm },
       
      
        methods: {
           
            /*
            menuitem(){

               
            },*/

          
            
           
            /* */
            sendMessage (text) {
            if (text.length > 0) {
                this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1
                this.onMessageWasSent({ author: 'support', type: 'text', data: { text } })
            }
            },
            onMessageWasSent (message) {
            // called when the user sends a message
            this.messageList = [ ...this.messageList, message ]
            },
            openChat () {
            // called when the user clicks on the fab button to open the chat
            this.isChatOpen = true
            this.newMessagesCount = 0
            },
            closeChat () {
            // called when the user clicks on the botton to close the chat
            this.isChatOpen = false
            },
            handleScrollToTop () {
            // called when the user scrolls message list to top
            // leverage pagination for loading another page of messages
            },
            handleOnType () {
            console.log('Emit typing event')
            },
            editMessage(message){
            const m = this.messageList.find(m=>m.id === message.id);
            m.isEdited = true;
            m.data.text = message.data.text;
            }
        },
        computed: {
        },
        mounted() {

            //.log('item');
            //console.log('Bonjour La famille');
            //alert('Hello')
           let perms=JSON.parse(localStorage.getItem('userSession')).perm;
               perms.forEach( (item, key)=> {
                    //console.log(key);
                    console.log(item);
                item.content.forEach( (itemContent, keycontent)=> {
                        //console.log(key);
                        //console.log(item);
                        //alert('itemContent');
                    this.menuitem.push(itemContent);
                    });
                });

        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        }
    }
</script>
<style>
    .strikethrough{
      text-decoration: line-through;
    }

    .over {
        position: relative;
        width: 100%;
    }



    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 95%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 40px;
        font-weight: bold;
        padding: 50px;
        margin-right:50px;
        text-align: center;
    }

    .over1:hover .overlay {
        opacity: 0.8;
    }
    .over2:hover .overlay {
        opacity: 0.8;
    }
    .over3:hover .overlay {
        opacity: 0.8;
    }
    .over4:hover .overlay {
        opacity: 0.8;
    }

</style>
