<template>
<div>
    <div class="row">
        <div class="col-xs-12 form-inline">
            <div class="form-group">
                <label for="filter" class="sr-only">Filter</label>
                <input type="text" class="form-control" v-model="filter" placeholder="Filter">
            </div>
        </div>
    </div>

    <div class="row">
        <div id="table" class="col-xs-12 table-responsive">
            <datatable :columns="columns" :data="rows" :filter-by="filter"></datatable>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-inline">
            <datatable-pager v-model="page" type="abbreviated" :per-page="per_page"></datatable-pager>
        </div>
    </div>
</div>
</template>

<script>
    import Vue from 'vue';
    import { VuejsDatatableFactory } from 'vuejs-datatable';

    Vue.use(DatatableFactory);

    export default {
        name: 'DatatablePage'
    }
</script>