<template>
  <div>
    {{ libelle }}
  </div>
</template>
<script>
import firebase from "firebase";
export default {
  props: {
    itemLink: {
      default: "",
      type: String,
    },
    type: {
      default: "",
      type: String,
    },
  },
  data() {
    return {
      provincesRef: firebase.firestore().collection("province"),
      villesRef: firebase.firestore().collection("ville"),
      libelle: "",
    };
  },
  methods: {
    getProvince() {
      this.provincesRef
        .doc(this.itemLink)
        .get()
        .then((doc) => {
          this.$emit("update:province", doc.data().libelle);
          this.libelle = doc.data().libelle;
        });
    },
    getVille() {
      this.villesRef
        .doc(this.itemLink)
        .get()
        .then((doc) => {
          this.$emit("update:ville", doc.data().libelle);
          this.libelle = doc.data().libelle;
        });
    },
  },
  mounted() {
    switch (this.type) {
      case "province":
        this.getProvince();
        break;

      case "ville":
        this.getVille();
        break;

      default:
        break;
    }
  },
};
</script>
