<template>
  <div>
    <el-row>
      <el-col :span="18">
        <div class="grid-content">
          Total utilisateurs:<span
            class="badge badge-dark font-weight-bold"
            type="warning"
            >{{ this.participants.length }}</span
          >
        </div>
      </el-col>
      <el-col :span="6">
        <el-button size="mini" type="success">
          <export-excel
            :data="this.participants"
            :fields="this.tableDataFields"
            name="Export-participants"
          >
            <i class="mdi mdi-download">
              <strong style="padding-left:5px">Export Participants </strong>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="24"
                height="24"
                viewBox="0 0 172 172"
                style=" fill:#000000;"
              >
                <g
                  fill="none"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                >
                  <path d="M0,172v-172h172v172z" fill="none"></path>
                  <g fill="#ffffff">
                    <path
                      d="M86,21.5l-71.66667,14.33333v100.33333l71.66667,14.33333zM100.33333,35.83333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h50.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-86c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667zM129,50.16667h14.33333v14.33333h-14.33333zM29.92643,59.46094h12.73763l6.62077,15.87305c0.5375,1.29717 0.94208,2.80149 1.35775,4.50716h0.18197c0.2365,-1.02483 0.7179,-2.59064 1.44173,-4.63314l7.37663,-15.74707h11.61784l-13.87142,26.30111l14.27734,26.77702h-12.3877l-7.97852,-17.30078c-0.301,-0.60917 -0.65799,-1.83567 -0.95182,-3.54134h-0.11198c-0.17917,0.817 -0.5403,2.04015 -1.0778,3.68132l-8.0485,17.16081h-12.44368l14.76725,-26.56706zM129,78.83333h14.33333v14.33333h-14.33333zM129,107.5h14.33333v14.33333h-14.33333z"
                    ></path>
                  </g>
                </g></svg
            ></i>
          </export-excel>
        </el-button>
      </el-col>
    </el-row>

    <el-table
      ref="table"
      height="500"
      :data="participants"
      v-loading="loading"
      style="width: 100%"
    >
      <el-table-column type="selection" width="30"> </el-table-column>
      <el-table-column label="Date Création" width="150">
        <template slot-scope="scope">
          <el-popover placement="top-start" width="200" trigger="hover">
            <el-tag slot="reference" size="medium">
              <i class="el-icon-time"></i>
              <span v-if="scope.row.createdAt" style="margin-left: 10px"
                >{{
                  new Date(scope.row.createdAt.seconds * 1000)
                    | moment("Do MMMM YYYY")
                    | cyb_date_split
                }}
              </span>
            </el-tag>
            <span v-if="scope.row.createdAt">
              {{
                new Date(scope.row.createdAt.seconds * 1000)
                  | moment("Do MMMM YYYY")
              }}
            </span>
            <span v-if="scope.row.createAt">
              {{
                new Date(scope.row.createAt.seconds * 1000)
                  | moment("Do MMMM YYYY")
              }}
            </span>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="Nom" width="220">
        <template slot-scope="scope">
          <el-badge v-if="scope.row.new" value="Nouveau" class="item_new">
            <strong>{{ scope.row.first_name | cyb_name_plit }}</strong>
          </el-badge>
          <strong v-else>{{ scope.row.first_name | cyb_name_plit }}</strong>
        </template>
      </el-table-column>
      <el-table-column label="Prénom" width="180">
        <template slot-scope="scope">
          <strong>{{ scope.row.last_name | cyb_name_plit }}</strong>
        </template>
      </el-table-column>
      <el-table-column label="Téléphone" width="150">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium">{{ scope.row.telephone }}</el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Email" width="300">
        <template slot-scope="scope">
          <p>{{ scope.row.email }}</p>
        </template>
      </el-table-column>
      <el-table-column label="Province" width="300">
        <template slot-scope="scope">
          <p>
            <link-item
              @update:province="
                $emit('update:province', {
                  data: $event,
                  index: scope.$index,
                })
              "
              :itemLink="scope.row.province"
              type="province"
            />
            <!-- {{ scope.row.email }} -->
          </p>
        </template>
      </el-table-column>
      <el-table-column label="Province" width="300">
        <template slot-scope="scope">
          <p>
            <link-item
              @update:ville="
                $emit('update:ville', {
                  data: $event,
                  index: scope.$index,
                })
              "
              :itemLink="scope.row.ville"
              type="ville"
            />
            <!-- {{ scope.row.email }} -->
          </p>
        </template>
      </el-table-column>

      <el-table-column label="Quartier" width="100">
        <template slot-scope="scope">
          <p>{{ scope.row.quartier }}</p>
        </template>
      </el-table-column>

      <el-table-column label="Date Connexion" width="140">
        <template slot-scope="scope">
          <el-popover placement="top-start" width="200" trigger="hover">
            <i class="el-icon-time"></i>
            <span
              slot="reference"
              v-if="scope.row.firstTimeConnection"
              style="margin-left: 10px"
              >{{
                new Date(scope.row.firstTimeConnection.seconds * 1000)
                  | moment("Do MMMM YYYY")
                  | cyb_date_split
              }}
            </span>
            <span slot="reference" v-else style="margin-left: 10px"> </span>

            <span v-if="scope.row.firstTimeConnection">
              {{
                new Date(scope.row.firstTimeConnection.seconds * 1000)
                  | moment("Do MMMM YYYY")
              }}
            </span>
          </el-popover>
        </template>
      </el-table-column>

      <el-table-column label="Etat" fixed="right" width="100">
        <template slot-scope="scope">
          <el-button
            v-if="scope.row.activated && scope.row.program == 'businessPlan'"
            size="mini"
            type="success"
            @click="switchState(scope.row.id, scope.row.activated)"
            >Actif</el-button
          >
          <el-button
            v-if="!scope.row.activated && scope.row.program == 'businessPlan'"
            size="mini"
            :loading="stateLoading[scope.row.id]"
            @click="switchState(scope.row.id, scope.row.activated)"
            type="danger"
            >inactif</el-button
          >
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Supprimer" width="100">
        <template slot-scope="scope">
          <el-button
            size="mini"
            icon="el-icon-delete"
            type="danger"
            @click="deleteElement(scope.row.id)"
          ></el-button>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Message" width="100">
        <template slot-scope="scope">
          <el-button
            size="mini"
            icon="el-icon-s-promotion"
            @click="$refs.Message.loadModalMessage(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Permissions" width="150">
        <template slot-scope="scope">
          <el-button
            size="mini"
            icon="el-icon-edit"
            @click="loadModalPermUpdate(scope.row.id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <Message ref="Message" />
    <el-dialog title="Modules" :visible.sync="dialogVisible" width="30%">
      <span>Assigner un ou plusieurs modules</span>

      <el-collapse accordion>
        <el-collapse-item name="executiveSumary">
          <template slot="title">
            <i class="mdi mdi-format-line-weight icon"></i>RESUME OPERATIONNEL
          </template>
          <div class="block">
            <div class="form-group">
              <el-checkbox v-model="permissionExecutiveSummary.state"
                >Formulaire de création de projets</el-checkbox
              >
            </div>
          </div>
        </el-collapse-item>

        <el-collapse-item name="bpFinancier">
          <template slot="title">
            <i class="mdi mdi-cash-multiple icon"></i>BUSINESS PLAN FINANCIER
          </template>
          <div class="block">
            <div class="form-group">
              <label>Permissions <span class="text-danger"></span>:</label>
              <div class="table-responsive">
                <table class="table editable-table">
                  <tbody>
                    <tr
                      v-for="(perms, keyperms) in permissionBpFinanicer.liste"
                      :value="perms.libelle"
                      :key="keyperms"
                    >
                      <td>
                        <el-checkbox v-model="perms.checked">{{
                          perms.libelle
                        }}</el-checkbox>
                        <!-- Material checked -->
                        <div v-if="perms.checked">
                          <div
                            v-for="(item, key) in perms.content"
                            :key="key"
                            class="form-check"
                          >
                            <el-row>
                              <el-col :span="12"
                                ><div class="grid-content">
                                  <el-checkbox v-model="item.checked">{{
                                    item.libelle
                                  }}</el-checkbox>
                                </div></el-col
                              >
                              <el-col :span="12"
                                ><div class="grid-content">
                                  <el-select
                                    multiple
                                    v-if="item.checked"
                                    v-model="item.value"
                                    class="permSelect"
                                    size="mini"
                                    placeholder="droits"
                                  >
                                    <el-option
                                      v-for="itemop in item.options"
                                      :key="itemop.value"
                                      :label="itemop.label"
                                      :value="itemop.value"
                                    >
                                    </el-option>
                                  </el-select></div
                              ></el-col>
                            </el-row>
                          </div>
                          <div
                            v-for="(itemlevel3, key3) in item"
                            :key="key3"
                            class="form-check"
                          >
                            <el-checkbox v-model="itemlevel3.checked">{{
                              itemlevel3.libelle
                            }}</el-checkbox>
                            <el-select
                              multiple
                              v-if="itemlevel3.checked"
                              class="permSelect"
                              size="mini"
                              v-model="itemlevel3.value"
                              placeholder="droits"
                            >
                              <el-option
                                v-for="itemop in itemlevel3.options"
                                :key="itemop.value"
                                :label="itemop.label"
                                :value="itemop.value"
                              >
                              </el-option>
                            </el-select>
                            <el-select
                              multiple
                              v-else
                              class="permSelect"
                              size="mini"
                              disabled
                              v-model="itemlevel3.value"
                              placeholder="droits"
                            >
                              <el-option
                                v-for="itemop in itemlevel3.options"
                                :key="itemop.value"
                                :label="itemop.label"
                                :value="itemop.value"
                              >
                              </el-option>
                            </el-select>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <span>Prévisualisation du menu </span>
            <el-menu
              default-active="2"
              class="el-menu-vertical-demo"
              background-color="#242a33"
              text-color="#fff"
              active-text-color="#ffd04b"
            >
              <router-link
                v-for="(item, index) in menuLevel1Bp"
                :key="index"
                :to="{ name: item.route }"
              >
                <el-menu-item :index="index">
                  <i :class="item.icon"></i>
                  <span>{{ item.libelle }}</span>
                </el-menu-item>
              </router-link>
              <el-submenu
                v-for="(item, index) in menuLevel2Bp"
                :key="index"
                :index="index"
              >
                <template slot="title">
                  <i :class="item.icon"></i>
                  <span>{{ item.libelle }}</span>
                </template>

                <router-link
                  v-for="(itemlevel2, indexlevel2) in item.content"
                  :key="indexlevel2"
                  :to="{ name: itemlevel2.route }"
                >
                  <el-menu-item
                    v-if="itemlevel2.checked"
                    :index="index + '-' + indexlevel2"
                    >{{ itemlevel2.libelle }}</el-menu-item
                  >
                </router-link>
              </el-submenu>

              <!-- <el-submenu index="3">
                                <template slot="title">
                                <i class="el-icon-setting"></i>
                                <span>Parametres</span>
                                </template>
                                <el-submenu index="3-1">
                                <template slot="title">Membres</template>
                                <router-link  :to="{name:'setting-members-user'}">
                                <el-menu-item  index="3-1-1">
                                    Créer
                                    </el-menu-item>
                                    </router-link>
        
                                    <router-link  :to="{name:'setting-members-role'}">
                                    <el-menu-item index="3-1-2">
                                    Rôles
                                    </el-menu-item>
                                    </router-link>
           
          
                                </el-submenu>
                            </el-submenu> -->
            </el-menu>
          </div>
        </el-collapse-item>
        <el-collapse-item name="suivi">
          <template slot="title">
            <i class="mdi mdi-monitor-multiple icon"></i>SUIVI
          </template>
          <div class="block">
            <div class="form-group">
              <label>Permissions <span class="text-danger"></span>:</label>
              <div class="table-responsive">
                <table class="table editable-table">
                  <tbody>
                    <tr
                      v-for="(perms, keyperms) in permissionSuivi.liste"
                      :value="perms.libelle"
                      :key="keyperms"
                    >
                      <td>
                        <el-checkbox v-model="perms.checked">{{
                          perms.libelle
                        }}</el-checkbox>
                        <!-- Material checked -->
                        <div v-if="perms.checked">
                          <div
                            v-for="(item, key) in perms.content"
                            :key="key"
                            class="form-check"
                          >
                            <el-row>
                              <el-col :span="12"
                                ><div class="grid-content">
                                  <el-checkbox v-model="item.checked">{{
                                    item.libelle
                                  }}</el-checkbox>
                                </div></el-col
                              >
                              <el-col :span="12"
                                ><div class="grid-content">
                                  <el-select
                                    multiple
                                    v-if="item.checked"
                                    v-model="item.value"
                                    class="permSelect"
                                    size="mini"
                                    placeholder="droits"
                                  >
                                    <el-option
                                      v-for="itemop in item.options"
                                      :key="itemop.value"
                                      :label="itemop.label"
                                      :value="itemop.value"
                                    >
                                    </el-option>
                                  </el-select></div
                              ></el-col>
                            </el-row>
                          </div>
                          <div
                            v-for="(itemlevel3, key3) in item"
                            :key="key3"
                            class="form-check"
                          >
                            <el-checkbox v-model="itemlevel3.checked">{{
                              itemlevel3.libelle
                            }}</el-checkbox>
                            <el-select
                              v-model="itemlevel3.value"
                              placeholder="droits"
                            >
                              <el-option
                                v-for="itemop in itemlevel3.options"
                                :key="itemop.value"
                                :label="itemop.label"
                                :value="itemop.value"
                              >
                              </el-option>
                            </el-select>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <span>Prévisualisation du menu </span>
            <el-menu
              default-active="2"
              class="el-menu-vertical-demo"
              background-color="#242a33"
              text-color="#fff"
              active-text-color="#ffd04b"
            >
              <router-link
                v-for="(item, index) in menuLevel1Suivi"
                :key="index"
                :to="{ name: item.route }"
              >
                <el-menu-item :index="index">
                  <i :class="item.icon"></i>
                  <span>{{ item.libelle }}</span>
                </el-menu-item>
              </router-link>
              <el-submenu
                v-for="(item, index) in menuLevel2Suivi"
                :key="index"
                :index="index"
              >
                <template slot="title">
                  <i :class="item.icon"></i>
                  <span>{{ item.libelle }}</span>
                </template>

                <router-link
                  v-for="(itemlevel2, indexlevel2) in item.content"
                  :key="indexlevel2"
                  :to="{ name: itemlevel2.route }"
                >
                  <el-menu-item
                    v-if="itemlevel2.checked"
                    :index="index + '-' + indexlevel2"
                    >{{ itemlevel2.libelle }}</el-menu-item
                  >
                </router-link>
              </el-submenu>

              <!-- <el-submenu index="3">
                                <template slot="title">
                                <i class="el-icon-setting"></i>
                                <span>Parametres</span>
                                </template>
                                <el-submenu index="3-1">
                                <template slot="title">Membres</template>
                                <router-link  :to="{name:'setting-members-user'}">
                                <el-menu-item  index="3-1-1">
                                    Créer
                                    </el-menu-item>
                                    </router-link>
        
                                    <router-link  :to="{name:'setting-members-role'}">
                                    <el-menu-item index="3-1-2">
                                    Rôles
                                    </el-menu-item>
                                    </router-link>
           
          
                                </el-submenu>
                            </el-submenu> -->
            </el-menu>
          </div>
        </el-collapse-item>
      </el-collapse>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Annuler</el-button>

        <el-button
          type="primary"
          :loading="loadingSavePerm"
          @click="savePermission()"
          >Enregister</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>
<script>
import firebase from "firebase";
import helper from "../../../../services/helper";
import Message from "../../concours/components/message";
import LinkItem from "./linkItem.vue";
export default {
  components: { Message, LinkItem },
  mixins: [helper],
  watch: {
    participants: function(val) {
      console.log("Data", val);
    },
  },
  props: {
    participants: {
      default() {
        return [];
      },
      type: Array,
    },
    type: {
      default: "bp",
      type: String,
    },
  },
  data() {
    return {
      ref: firebase.firestore().collection("permissions"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      dialogVisible: false,
      idUserIndex: "",
      loadingSavePerm: false,
      tableDataFields: {
        Date: {
          field: "createdAt",
          callback: (value) => {
            return this.dateFormat(value);
          },
        },
        Programme: "concours",
        Horraire: "horraire",
        Nom: "first_name",
        Prénom: "last_name",
        Sexe: "sexe",
        numOne: "numOne",
        Téléphone: "telephone",
        Email: "email",
        profession: "profession",
        Niveau: "etude",
        Province: "provinceLib",
        Ville: "villeLib",
        Quartier: "quartier",
      },
      permissions: {
        executiveSummary: {},
      },
      permissionIncubateur: {
        liste: [],
        role: "",
      },
      permissionBpFinanicer: {
        liste: [],
        role: "",
      },
      permissionSuivi: {
        liste: [],
        role: "",
      },
      permissionExecutiveSummary: {
        state: true,
      },

      role: {
        titre: "",
        desc: "",
        projet: "",
        createdAt: firebase.firestore.FieldValue.serverTimestamp(),
      },
      idUserProfil: "",
      loading: false,
    };
  },
  methods: {
    savePermission() {
      this.loadingSavePerm = true;
      this.permissions.executiveSummary.state = this.permissionExecutiveSummary.state;
      this.permissions.quotaProjets = 1;
      this.permissions.bpFinancier = this.permissionBpFinanicer.liste;
      this.permissions.suivi = this.permissionSuivi.liste;
      this.permissions.role = this.idUserProfil;
      // console.log('Fonction call')
      this.ref
        .doc(this.idUserIndex)
        .set(this.permissions)
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "Permission enregistrée avec succès",
            type: "success",
          });
          this.loadingSavePerm = false;
        })
        .catch(() => {
          this.loadingSavePerm = false;
          this.$notify.error({
            title: "Error",
            message: "Erreur lors de l'enregistrement",
          });
        });
    },
    loadModalPermUpdate(id, profilId) {
      // this.fullscreenLoading=true
      (this.idUserIndex = id),
        // this.idUserProfil=profilId
        this.ref
          .doc(this.currentUId)
          .get()
          .then((doc) => {
            if (doc.exists) {
              if (doc.data().admin) {
                (this.permissionIncubateur.liste = []),
                  doc.data().admin.forEach((item) => {
                    if (item.checked) {
                      this.permissionIncubateur.liste.push(item);
                    }
                  });
              }

              if (doc.data().bpFinancier) {
                (this.permissionBpFinanicer.liste = []),
                  doc.data().bpFinancier.forEach((item) => {
                    if (item.checked) {
                      this.permissionBpFinanicer.liste.push(item);
                    }
                  });
              }

              if (doc.data().suivi) {
                (this.permissionSuivi.liste = []),
                  doc.data().suivi.forEach((item) => {
                    if (item.checked) {
                      this.permissionSuivi.liste.push(item);
                    }
                  });
              }
              this.fullscreenLoading = false;
              this.dialogVisible = true;
            } else {
              console.log("No such document!");
              this.fullscreenLoading = false;
              this.dialogVisible = true;
            }
          }).catch;
    },
  },
};
</script>
