<template>
  <div>
    <el-form>
      <el-form-item label="Programme :" prop="sexe">
        <el-select
          :loading="loading"
          loading-text="chargement..."
          v-model="programme"
          placeholder="Sélectionnez un programme"
          @change="$emit('change:programme', $event)"
        >
          <el-option
            v-for="item in tousLesConcours"
            :key="item.id"
            :label="item.libelleConcours"
            :value="item.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import firebase from "firebase";
export default {
  data() {
    return {
      concoursRef: firebase.firestore().collection("concours"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      users: firebase.firestore().collection("users"),
      programme: "",
      tousLesConcours: [],
      loading: true,
    };
  },
  methods: {
    async loadProgram(adminId = this.currentUId) {
      await this.concoursRef
        .where("adminId", "==", adminId)
        .orderBy("createdAt", "desc")
        .onSnapshot((onSnapshot) => {
          this.tousLesConcours = [];
          if (!onSnapshot.empty) {
            onSnapshot.forEach((doc) => {
              let concours = doc.data();
              concours.id = doc.id;
              this.tousLesConcours.push(concours);
            });
          }
        });
      this.loading = false;
    },
  },
  mounted() {
    this.loadProgram();
  },
};
</script>
