<template>

    <div class="page-wrapper mt-5">
        <div class="mt-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a href="/bp/suivi/taches/workflow" class="card bg-light" >
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="center"> <i class="ti ti-plus" style="font-size:x-large"></i></div>
                            </div>
                            <h5 class="m-t-2 text-center">Créer un tableau</h5>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3" v-for="(board, index) in userboardList" :key="index">
                    <a href="#" @click="selectWorkflow(board.id)" class="card bg-info" >
                        <div class="card-body">
                            <div class="d-flex no-block">

                                <div class="align-self-center">
                                    <h4 v-if="board.titre" class="text-white m-t-5 m-b-0">{{board.titre}}</h4>
                                    <h4 v-else class="text-white m-t-10 m-b-0">titre indéfini</h4>

                                    <h5 v-if="board.createdAt" class="m-t-5 text-white">{{ formatDateTime(Date(board.createdAt), 'fr') }}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import helper from '../../../services/helper'
    import ClickConfirm from 'click-confirm'
    import VueIntro from 'vue-introjs';
    import Router from '../../../routes';
    import 'intro.js/introjs.css';
    import Vue from 'vue'
    import Vuelidate from 'vuelidate'
    import Swal from 'sweetalert2'
    import 'vue-loading-overlay/dist/vue-loading.css'
    import firebase from 'firebase'

    // Un toast reutilisable
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        data(){
            return {
                userboardList: []
            }
        },
        mixins:[helper],
        mounted() {
            this.$intro().setOptions({ 'nextLabel': 'Suivant', 'prevLabel': 'Précédent', 'skipLabel': 'Quitter', 'doneLabel': 'Terminer'}).start();
        },
        methods: {
            selectWorkflow(id){
                let userSession = JSON.parse(localStorage.getItem('userSession'));
                userSession.board = id;
                localStorage.setItem('userSession', JSON.stringify(userSession));
                Router.replace('/bp/suivi/kanban');
            }
        },
        computed: {
        },
        filters: {
          moment(date) {
            return helper.formatDate(date);
          },
          momentWithTime(date) {
            return helper.formatDateTime(date);
          }
        },
        mounted() {

            let ref = firebase.firestore().collection('board');
            // le loader en mode plugin
            let loader = Vue.$loading.show();

            ref.where('projet', '==', JSON.parse(localStorage.getItem("userSession")).projet)
                .get().then( (docSnaps) => {
                    docSnaps.forEach( (doc) => {
                        if (doc.exists) {
                            let result = {
                                id: doc.id,
                                titre: doc.get('titre'),
                                createdAt: doc.get('createdAt')
                            };

                            this.userboardList.push(result);
                        } else {
                            // doc.data() will be undefined in this case
                            loader.hide();
                            return ;
                        }
                        // TODO: sort projects by last modified data
                    });
                    loader.hide();
                });

        },

    }
</script>
<style scoped>
    .strikethrough{
      text-decoration: line-through;
    }
</style>
