<template>

    <div class="page-wrapper" id="main" >
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            

            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Tâches</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/bp/home">Accueil</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="bp/suivi"> Tâches</a>
                            </li>
                            <li class="breadcrumb-item">Tâches</li>  
                        </ol>
                    </div>
                </div>
               
            </div>
           
            <kanban-board :stages="stages" :blocks="blocks" @update-block="updateBlock">
            <div v-for="block in blocks" :slot="block.id" :key="block.id">
                <div>
                <strong>Titre:</strong> {{ block.titre }}
                </div>
                <div>
                {{ block.titre }}
                </div>
                
            </div>
            </kanban-board>
           
        </div>
</template>



<script>
    import VueNumeric from 'vue-numeric'
    import mask from '../../../currencies.mask.json'
    import BaseImageInput from '../../bp/baseImageInput'
    import 'vue-loading-overlay/dist/vue-loading.css'
    import firebase from 'firebase'
    export default {
        components: {
            VueNumeric,BaseImageInput
           
        },
        name: 'recette',
        data() {
            return {
                 stages: ['on-hold', 'in-progress', 'needs-review', 'approved'],
                  blocks: [
                    {
                      id: 1,
                      status: 'on-hold',
                      title: 'Test',
                    },
                  ],
                ref: firebase.firestore().collection('board').doc('d16tcXik4vLvs8t1sMI0'),
                suivi : {
                    recettes: {
                        client : {},
                    }
                },
                currentCurrencyMask:{},
                currenciesMaskConfig : mask,
              
               

            }
        },
        methods: {
            updateBlock(id,status) {
               
                console.log(id);
                //this.blocks.find(b => b.id === Number(id)).status = status;
                
                const db = firebase.firestore();
                db.collection("tache")
                .doc(id)
                .update({
                   'status':status,
                }); 
           
            }
        },
        mounted() {
            // let boardid=JSON.parse(localStorage.getItem("userSession")).board;
            // let loader = Vue.$loading.show();
            // this.ref.get()
            // .then((querySnapshot) => {

            //      querySnapshot.forEach((doc) => {
                       
            //     let liste=doc.data();
            //      liste.liste.forEach((item)=> {
            //      this.stages.push(item.libelle);
                
            //     });
            //         })
               
               

                
                   
            // }).catch(function(error) {
            //     console.log("Error getting document:", error);
            // });
          
            // let docRef = firebase.firestore().collection('tache').get()
            //     .then((querySnapshot) => {
            //     querySnapshot.forEach((doc) => {
               
            //        //console.log("Document data:", doc.data());
            //        let tache=doc.data();
            //         this.blocks.push(tache);                   
            // });
                   
            // }).catch(function(error) {
            //     console.log("Error getting document:", error);
            // });
            // loader.hide();

        },
        beforeMount: function () {
            // `this` points to the vm instance
            this.currentCurrencyMask = this.currenciesMaskConfig.xaf;
        }
    }
</script>
<style lang="scss" scoped>
    $ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);

    ul.drag-list, ul.drag-inner-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .drag-container {
        max-width: 1000px;
        margin: 20px auto;
    }

    .drag-list {
        display: flex;
        align-items: flex-start;

        @media (max-width: 690px) {
            display: block;
        }
    }

    .drag-column {
        flex: 1;
        margin: 0 10px;
        position: relative;
        background: rgba(black, 0.2);
        overflow: hidden;

        @media (max-width: 690px) {
            margin-bottom: 30px;
        }

        h2 {
            font-size: 0.8rem;
            margin: 0;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    .drag-column-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .drag-inner-list {
        min-height: 50px;
        color: white;
    }

    .drag-item {
        padding: 10px;
        margin: 10px;
        height: 100px;
        background: rgba(black, 0.4);
        transition: $ease-out;

        &.is-moving {
            transform: scale(1.5);
            background: rgba(black, 0.8);
        }

    }

    .drag-header-more {
        cursor: pointer;
    }

    .drag-options {
        position: absolute;
        top: 44px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        transform: translateX(100%);
        opacity: 0;
        transition: $ease-out;

        &.active {
            transform: translateX(0);
            opacity: 1;
        }

        &-label {
            display: block;
            margin: 0 0 5px 0;

            input {
                opacity: 0.6;
            }

            span {
                display: inline-block;
                font-size: 0.9rem;
                font-weight: 400;
                margin-left: 5px;
            }
        }
    }

    /* Dragula CSS  */

    .gu-mirror {
      position: fixed !important;
      margin: 0 !important;
      z-index: 9999 !important;
      opacity: 0.8;
        list-style-type: none;
    }

    .gu-hide {
      display: none !important;
    }

    .gu-unselectable {
      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
    }

    .gu-transit {
      opacity: 0.2;
    }
</style>
<style scoped>
    .input-group-text1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #7eb1f5;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
.nav-link.show.active i,.nav-link.active i{
    color: #61b174;
}
span.stepTitle.active{
    color: #67757c !important;
    font-weight: 500 !important;
}
.nav-link {
        font-weight: normal;
        color:#67757c;
        height: 100%
}
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }    
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {        
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background: rgb(228,227,240);
        background: linear-gradient(to right, #00bfff, #1e90ff);
        border-bottom-color: green;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
    }
    .nav.nav-tabs.customtab li {
        width: 33.3%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;        
    }
    .input-group-text {
        width: 160px;
        background-color: #0bf5f1;
        color: #000000;
    }
    .input-group-montant {
        width: 160px;
    }
    #main{
        margin-top:50px;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }

    .etoile {
        color: red;
    }

    #description {
        width: 100%;
        height: 50%;
        border : 1px solid #d1d3d5;
    }

    .autres {
        width: 100%;
        height: 16%;
        border : 1px solid #d1d3d5;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .photo {
        float:right;
        margin-top:-40px;
        width: 23%;
        height: 80px;
        border: 1px solid #d1d3d5;
        margin-bottom:5px;
        margin-right: 20px;

    }

    #file {
        padding: 2px;
    }

    .sous {
        font-size: 25px;
    }
</style>
