 <template>
    <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            

            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Tâches</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi-taches'}">Tâches</router-link>
                            </li>
                            <li class="breadcrumb-item">Tâches</li>
                        </ol>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body" style="padding:0">                                        
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li  v-if="this.perms=='ecrire'" class="nav-item">
                                        <a class="nav-link active" style="border-radius:0" data-toggle="tab" role="tab" href="#ajouter">
                                            <span><i class="fas fa-plus"></i></span>
                                            <span class="hidden-xs-down">Ajouter une tâche</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a :class="this.perms=='lire' ? 'nav-link active': 'nav-link'" style="border-radius:0" data-toggle="tab" role="tab" href="#liste">
                                            <span><i class="fas fa-table"></i></span>
                                            <span class="hidden-xs-down">Liste des tâches</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="border-radius:0" data-toggle="tab" role="tab" href="#calendrier">
                                            <span><i class="ti-wallet"></i></span>
                                            <span class="hidden-xs-down">Vue calendrier</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content p-1">
                                    <div  v-if="this.perms=='ecrire'" class="tab-pane active" id="ajouter">  
                                        <form class="form-horizontal" @submit="onSubmit">
                                            <!-- Bolck 1 -->
                                            <fieldset class="fieldset" style="background-color:#fff;font-weight: bold;padding:15px !important;">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="row col-md-12 text-blue m-b-20"> 
                                                            <div class="col-md-3"><span>JES-5</span></div>
                                                            <div class="col-md-9 text-center">
                                                                <span>Créer le vendredi 09 Aout 2019 à 15h 30</span>
                                                            </div>
                                                        </div>
                                                        <!-- Titre -->
                                                        <div class="row col-md-12">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Titre<span class="text-red">*</span>
                                                                    </span>
                                                                </div>
                                                                <input  v-model="tache.titre"  type="text" class="form-control">
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text" style="padding: 0;">
                                                                        <select  v-model="tache.status" style="width:100%;background-color:#398bf7;height:100%;color:#fff;border:none;">
                                                                            <option value="on-hold">A faire</option>
                                                                            
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- EndTitre -->
                                                        <!-- Type de tache -->
                                                        <div class="row col-md-12"> 
                                                            <div class="col-md-8" style="padding-left:0 !important;">
                                                                <div class="input-group mb-1">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text bg-white" style="color: black !important;">
                                                                            Type de Tâche<span class="text-red">*</span>
                                                                        </span>
                                                                    </div>
                                                                    <select v-model="tache.type" class="form-control">
                                                                        <option>Rendez vous</option>
                                                                        <option>Bilan</option>
                                                                        <option>Prospection</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                             <div class="col-md-8" style="padding-left:0 !important;">
                                                                <div class="input-group mb-1">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text bg-white" style="color: black !important;">
                                                                         Tableau<span class="text-red">*</span>
                                                                        </span>
                                                                    </div>
                                                                    <select v-model="tache.board"  @change="onBoardChange" class="form-control">
                                                                        <option v-for="(board, index) in board.liste" :value="board.id" :key="index"  >{{board.titre}}</option>
                                                                        
                                                                    </select>
                                                                </div>
                                                            </div>
                                                             <div class="col-md-8" style="padding-left:0 !important;">
                                                                <div class="input-group mb-1">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text bg-white" style="color: black !important;">
                                                                         ETAPE<span class="text-red">*</span>
                                                                        </span>
                                                                    </div>
                                                                    <select v-model="tache.status" class="form-control">
                                                                        <option v-for="(step, index) in steps" :key="index" :value="step">{{ step }}</option>
                                                                       
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="padding-left:0 !important;padding-right:0 !important;">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <div class="input-group-date bg-white" style="color: black !important;">
                                                                            <label for="customm-1">Début<span class="text-red">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                    <input v-model="tache.debut"  type="date" class="form-control" style="font-size: 9px !important;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Type de tache et date debut -->
                                                        
                                                        <div class="row col-md-12"> 
                                                            <div class="col-md-8" style="padding-left:0 !important;">
                                                                <div class="input-group mb-1">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text bg-white" style="color: black !important;">
                                                                            Priorité<span class="text-red">*</span>
                                                                        </span>
                                                                    </div>
                                                                    <select v-model="tache.priorite" class="form-control">
                                                                        <option>Très élevée</option>
                                                                        <option>Moyenne</option>
                                                                        <option>Basse</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="padding-left:0 !important;padding-right:0 !important;">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <div class="input-group-date bg-white" style="color: black !important;">
                                                                            <label for="customm-1">Fin<span class="text-red">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                    <input v-model="tache.fin" type="date" class="form-control" style="font-size: 9px !important;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Type de tache et date debut -->
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="row col-md-12 text-blue m-b-20"> 
                                                            <span>Affecter à: </span>
                                                        </div>
                                                        <div class="row col-md-12 m-b-5">
                                                            <select class="btn bg-cbs" style="font-size:15px !important;width:100%">
                                                                <option>Liste de membre</option>
                                                                <option>Jean Obama Ndong Tel : +241 07 14 14 57</option>
                                                            </select>
                                                        </div>
                                                        <div class="row col-md-12 m-b-5">
                                                            <button class="btn bg-cbs" style="width:100%">Commentaires</button>
                                                        </div>
                                                        
                                                        <div class="row col-md-12 m-b-5">
                                                            <button class="btn bg-cbs" style="width:100%">Afficher</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <!-- End Block1 -->
                                            <!-- Block 2 -->
                                            <fieldset class="fieldset" style="background-color:#fff;font-weight: bold;padding:15px !important;">
                                                <div class="row">
                                                    <!-- Textearea -->
                                                    <div class="col-md-7"> 
                                                        <!-- Description -->
                                                        <div class="col-md-12" style="padding-left:0;">
                                                            <div class="form-group">
                                                                <label>Description:</label>
                                                                <vue-editor id="desc" :editorToolbar="customToolbar" v-model="test"></vue-editor>
                                                            </div>
                                                        </div>
                                                        <!-- Fin description -->
                                                        <!-- Prérequis -->
                                                        <div class="col-md-12" style="padding-left:0;">
                                                            <div class="form-group">
                                                                <label>Prérequis (DOR):</label>
                                                                <vue-editor id="desc" :editorToolbar="customToolbar" v-model="test"></vue-editor>
                                                            </div>
                                                        </div>
                                                        <!-- End Prérequis -->
                                                        
                                                        <!-- Terminé (DOD)  -->
                                                        <div class="col-md-12" style="padding-left:0;">
                                                            <div class="form-group">
                                                                <label>Terminé (DOD):</label>
                                                                <vue-editor id="desc" :editorToolbar="customToolbar" v-model="test"></vue-editor>
                                                            </div>
                                                        </div>
                                                        <!-- End Terminé (DOD)  -->
                                                        <!-- Taches Liées -->
                                                        <div class="row col-md-12" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Tâches liées
                                                                    </span>
                                                                </div>
                                                                <select class="form-control">
                                                                    <option>Tâche 1</option>
                                                                    <option>Tâche 2</option>
                                                                    <option>Tâche 3</option>
                                                                </select>
                                                            </div>
                                                            <div class="mb-1 mt-1">
                                                                <button type="button" class="btn btn-info">
                                                                    <i class="fas fa-plus-circle"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- End Taches Liées -->
                                                        <!-- Pièces Jointes -->
                                                        <div class="row col-md-12" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Pièces Jointes
                                                                    </span>
                                                                </div>
                                                            <input class="form-control" type="file" id="piece_jointes" style="padding:5px">
                                                            </div>
                                                            <div class="mb-1 mt-1">
                                                                <button type="button" class="btn btn-info">
                                                                    <i class="fas fa-plus-circle"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- End Pièces Jointes -->
                                                        <!-- Sous Tâches -->
                                                        <div class="row col-md-12" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Sous tâches
                                                                    </span>
                                                                </div>
                                                                <select class="form-control">
                                                                    <option>Sous Tâche 1</option>
                                                                    <option>Sous Tâche 2</option>
                                                                    <option>Sous Tâche 3</option>
                                                                </select>
                                                            </div>
                                                            <div class="mb-1 mt-1">
                                                                <button type="button" class="btn btn-info">
                                                                    <i class="fas fa-plus-circle"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- End Sous Tâches -->
                                                        <!-- Commentaire  -->
                                                        <div class="col-md-12" style="padding-left:0;">
                                                            <div class="form-group">
                                                                <label>Commentaire:</label>
                                                                <vue-editor id="desc" :editorToolbar="customToolbar" v-model="test"></vue-editor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End TexteArea -->
                                                    <div class="col-md-5">
                                                        <!-- Name Porteur Projet -->
                                                        <div class="row col-md-12" style="padding-right:0;">
                                                            <span>
                                                                Créée par : <strong>Luc Pierre Moussavou</strong>
                                                            </span>
                                                        </div>
                                                        <!-- End Name Porteur Projet -->
                                                        <!-- Sprint -->
                                                        <div class="row col-md-12 m-b-15" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Sprint
                                                                    </span>
                                                                </div>
                                                                <select class="form-control">
                                                                    <option>Sprint 1</option>
                                                                    <option>Sprint 2</option>
                                                                    <option>Sprint 3</option>
                                                                    <option>Sprint 4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- Avancement -->
                                                        <div class="row col-md-12 m-b-15" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Avancement
                                                                    </span>
                                                                </div>
                                                                <div class="progress" style="width:40%;margin-left:15px;">
                                                                    <div class="progress-bar" style="width:100%">70%</div>
                                                                </div> 
                                                            </div>
                                                        </div>
                                                        <!-- End Avancement -->
                                                        <!-- Satisfaction -->
                                                        <div class="row col-md-12 m-b-15" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend m-r-15">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Satisfaction
                                                                    </span>
                                                                </div>
                                                                <star-rating
                                                                    :item-size="27" 
                                                                    v-model="note1">
                                                                </star-rating>
                                                            </div>
                                                        </div>
                                                        <!-- End Satisfaction -->
                                                        <!-- Cout en durée -->
                                                        <div class="row col-md-12 m-b-15" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Coût en durée
                                                                    </span>
                                                                </div>
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                        <!-- End Cout en durée -->
                                                        <!-- Cout en Argent -->
                                                        <div class="row col-md-12 m-b-15" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Coût en Argent
                                                                    </span>
                                                                </div>
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                        <!-- End Cout en Argent -->
                                                        <!-- Section -->
                                                        <div class="row col-md-12 m-b-15" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Section
                                                                    </span>
                                                                </div>
                                                                <select class="form-control">
                                                                    <option>Section 1</option>
                                                                    <option>Section 2</option>
                                                                    <option>Section 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- End Section -->
                                                        <!-- Composant -->
                                                        <div class="row col-md-12 m-b-15" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Composant
                                                                    </span>
                                                                </div>
                                                                <select class="form-control">
                                                                    <option>Composant 1</option>
                                                                    <option>Composant 2</option>
                                                                    <option>Composant 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- End Composant -->
                                                        <!-- Version -->
                                                        <div class="row col-md-12 m-b-15" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Version
                                                                    </span>
                                                                </div>
                                                                <select class="form-control">
                                                                    <option>Version 1</option>
                                                                    <option>Version 2</option>
                                                                    <option>Version 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- End Version -->
                                                        <!-- Section -->
                                                        <div class="row col-md-12 m-b-15" style="padding-right:0;">
                                                            <div class="input-group mb-1">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text bg-white" style="color: black !important;">
                                                                        Section
                                                                    </span>
                                                                </div>
                                                                <select class="form-control">
                                                                    <option>Section 1</option>
                                                                    <option>Section 2</option>
                                                                    <option>Section 3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- End Section -->
                                                    </div>
                                                    <!-- End Info supplemtaire -->
                                                </div>
                                            </fieldset>
                                            <!-- End Block2 -->
                                            <div class="text-xs-right mb-2 mt-2">
                                                <button type="submit" class="btn btn-success">Enregistrer</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div :class="this.perms=='lire' ? 'tab-pane active': 'tab-pane'" id="liste" role="">                                                
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                En cours d'intégration
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane p-2" id="calendrier" role="">                                                
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                En cours d'intégration
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>



<style scoped>
.nav-link.show.active i,.nav-link.active i{
    color: #61b174;
}
span.stepTitle.active{
    color: #67757c !important;
    font-weight: 500 !important;
}
.nav-link {
        font-weight: normal;   
        text-transform: normal;
        color:#67757c;
        height: 100%
}
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }    
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {        
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #D0E6ED !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .text-red {
        color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 33.3%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;        
    }
    .input-group-text {
        width: 153px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-date {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #398bf7;
        border: 1px solid #ced4da;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .bg-cbs {
        background-color: #398bf7;
        color: #fff;
    }
</style>


<script>
    import Vue from 'vue';
    import VueNumeric from 'vue-numeric'
    import mask from '../../../currencies.mask.json'
    import BaseImageInput from '../../bp/baseImageInput'
    import firebase from 'firebase'
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
    import { VueEditor, Quill } from "vue2-editor"
    import {StarRating} from 'vue-rate-it'
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    window.Vue = Vue;

    
    export default {
        components: {
            VueNumeric,BaseImageInput, VueEditor, Quill, StarRating,Loading
        },
        name: 'recette',
        data() {
            return {
                //ref: firebase.firestore().collection('tache'),
                workflowRef: firebase.firestore().collection('workflow'),
                ref: firebase.firestore().collection('tache'),
            perms:JSON.parse(localStorage.getItem('userSession')).perm[1].content[0].value,
               steps:[],
                tache : {
                   time: firebase.firestore.FieldValue.serverTimestamp(),
                   id:"",
                },
                 tache:{
                    'liste': [
                  

                    ],
                    

                },
                board:{
                    'liste': [
                  

                    ],
                    

                },
                test:'',
                
                    listBoard: [
                        {
                           'titre': 'Hello'
                        }
                    ],
                
                currentCurrencyMask:{},
                currenciesMaskConfig : mask,
                isLoading: false,
                fullPage: true,   
            }
        },
        methods: {
            loading(){
            return 15;
            },
            onBoardChange: function(val){
                let loader = Vue.$loading.show();
                let boardId = val.target.value;
               // console.log(boardId);
               
                firebase.firestore().collection('workflow').where('board', '==', boardId).get()
                .then((querySnapshot) => {

                    querySnapshot.forEach((doc) => {
                       
                    let liste=doc.data();
                    liste.liste.forEach((item)=> {
                        console.log(item.liste);
                        this.steps.push(item.libelle);
                
                    });
                        });
                        loader.hide();
                      
               
               

                
                   
                }).catch(function(error) {
                    console.log("Error getting document:", error);
                });
            },
            onSubmit: function(evt){
                evt.preventDefault();
                
                

              
                let loader = Vue.$loading.show();
                this.ref.add(this.tache
               )
                .then((tache) => {
                    this.isLoading=false;
                    console.log(tache.id);
                    const db = firebase.firestore();
                    db.collection("tache")
                    .doc(tache.id)
                    .update({
                    'id':tache.id,
                    });
                    Swal.fire({
                        title:'Enregistrement Réussi',
                        text:'Votre tâche a été enregistrée avec Succès!',
                        type:'success',
                        showCancelButton: true,
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Annuler',
                    }); 
                    loader.hide();
                    //storyRef.update({ id: increment });                       
                })
                .catch(function(error) {
                    Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error')
                });
            }
        },
        beforeMount: function () {
            // `this` points to the vm instance
            this.currentCurrencyMask = this.currenciesMaskConfig.xaf;
        },
        mounted(){
            let ref = firebase.firestore().collection('board');
            // le loader en mode plugin
            //let loader = this.$loading.show();

            ref.where('projet', '==', JSON.parse(localStorage.getItem("userSession")).projet)
                .get().then( (docSnaps) => {
                    docSnaps.forEach( (doc) => {
                        if (doc.exists) {
                            let result = {
                                id: doc.id,
                                titre: doc.get('titre'),
                                createdAt: doc.get('createdAt')
                            };
                          // console.log(result);
                            this.board.liste.push(result);
                        } else {
                            // doc.data() will be undefined in this case
                            loader.hide();
                            return ;
                        }
                        // TODO: sort projects by last modified data
                    });
                   // loader.hide();
                }); 
            

        }
        
    }
</script>   


