<template>
    <div>
        <div class="container-fluid mb-10">
            <div class="row">
                <div class="col-6">
                    <h2>Liste des Catégories</h2>
                </div>
            </div>
            <el-tabs type="border-card" stretch="true">
                <el-tab-pane label="Dépenses">
                    <div class="container-content">
                        <div class="row">
                            <div class="col-9">
                                <button href="" class="btn btn-primary"  @click="addCategorieDepense = true">Ajouter</button>
                            </div>
                        </div> <hr>
                        <div class="row">
                            <div class="col-12">
                                <el-table :data="depenses" style="width: 100%" max-height="400">
                                    <el-table-column label="Libellé">
                                        <template slot-scope="scope">
                                            <div slot="reference" class="name-wrapper">
                                                <el-tag size="medium">{{ scope.row.depense }}</el-tag>
                                            </div>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="Opérations" fixed="right" width="200">
                                        <template slot-scope="scope">
                                            <el-button size="mini" @click="handleEditDepense(scope.row)">Editer</el-button>
                                            <el-button size="mini" type="danger" @click="handleDeleteDepense(scope.row.id)">Supprimer</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="Recettes">
                    <div class="container-content">
                        <div class="container-content">
                            <div class="row">
                                <div class="col-9">
                                    <button href="" class="btn btn-primary"  @click="addCategorieRecette = true">Ajouter</button>
                                </div>
                            </div> <hr>
                            <div class="row">
                                <div class="col-12">
                                    <el-table :data="recettes" style="width: 100%" max-height="400">
                                        <el-table-column label="Libellé">
                                            <template slot-scope="scope">
                                                <div slot="reference" class="name-wrapper">
                                                    <el-tag size="medium">{{ scope.row.recette }}</el-tag>
                                                </div>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="Opérations" fixed="right" width="200">
                                            <template slot-scope="scope">
                                                <el-button size="mini" @click="handleEditRecette(scope.row)">Editer</el-button>
                                                <el-button size="mini" type="danger" @click="handleDeleteRecette(scope.row.id)">Supprimer</el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="Prestations">
                    <div class="container-content">
                        <div class="container-content">
                            <div class="row">
                                <div class="col-9">
                                    <button href="" class="btn btn-primary"  @click="addCategoriePrestation = true">Ajouter</button>
                                </div>
                            </div> <hr>
                            <div class="row">
                                <div class="col-12">
                                    <el-table :data="prestations" style="width: 100%" max-height="400">
                                        <el-table-column label="Libellé">
                                            <template slot-scope="scope">
                                                <div slot="reference" class="name-wrapper">
                                                    <el-tag size="medium">{{ scope.row.prestation }}</el-tag>
                                                </div>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="Opérations" fixed="right" width="200">
                                            <template slot-scope="scope">
                                                <el-button size="mini" @click="handleEditPrestation(scope.row)">Editer</el-button>
                                                <el-button size="mini" type="danger" @click="handleDeletePrestation(scope.row.id)">Supprimer</el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="Paiements">
                    <div class="container-content">
                        <div class="container-content">
                            <div class="row">
                                <div class="col-9">
                                    <button href="" class="btn btn-primary"  @click="addCategoriePaiement = true">Ajouter</button>
                                </div>
                            </div> <hr>
                            <div class="row">
                                <div class="col-12">
                                    <el-table :data="paiements" style="width: 100%" max-height="400">
                                        <el-table-column label="Libellé">
                                            <template slot-scope="scope">
                                                <div slot="reference" class="name-wrapper">
                                                    <el-tag size="medium">{{ scope.row.paiement }}</el-tag>
                                                </div>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="Opérations" fixed="right" width="200">
                                            <template slot-scope="scope">
                                                <el-button size="mini" @click="handleEditPaiement(scope.row)">Editer</el-button>
                                                <el-button size="mini" type="danger" @click="handleDeletePaiement(scope.row.id)">Supprimer</el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>

            <!-- Modal of dépense -->

            <el-dialog title="Ajouter un type" :visible.sync="addCategorieDepense" width="20%" :before-close="handleClose">
                <div class="row">
                    <div class="col-12">
                        <el-input v-model="libelle" autofocus="true" placeholder="Libellé du type" ></el-input>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <el-button type="primary" size="mini" @click="addSaveCateDepense()">Ajouter</el-button>
                        <el-button type="danger" size="mini" @click="handleClose()">Fermer</el-button>
                    </div>
                </div>
            </el-dialog>
            <el-dialog title="Modifier un type" :visible.sync="editCategorieDepense" width="20%" :before-close="handleClose">
                <div class="row">
                    <div class="col-12">
                        <el-input v-model="libelleEdit" autofocus="true" placeholder="Libellé du type" ></el-input>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <el-button type="success" size="mini" @click="editSaveCateDepense()">Modifier</el-button>
                        <el-button type="danger" size="mini" @click="handleClose()">Fermer</el-button>
                    </div>
                </div>
            </el-dialog>

            <!-- Modal of recette -->

            <el-dialog title="Ajouter un type" :visible.sync="addCategorieRecette" width="20%" :before-close="handleClose">
                <div class="row">
                    <div class="col-12">
                        <el-input v-model="libelle" autofocus="true" placeholder="Libellé du type" ></el-input>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <el-button type="primary" size="mini" @click="addSaveCateRecette()">Ajouter</el-button>
                        <el-button type="danger" size="mini" @click="handleClose()">Fermer</el-button>
                    </div>
                </div>
            </el-dialog>
            <el-dialog title="Modifier un type" :visible.sync="editCategorieRecette" width="20%" :before-close="handleClose">
                <div class="row">
                    <div class="col-12">
                        <el-input v-model="libelleEdit" autofocus="true" placeholder="Libellé du type" ></el-input>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <el-button type="success" size="mini" @click="editSaveCateRecette()">Modifier</el-button>
                        <el-button type="danger" size="mini" @click="handleClose()">Fermer</el-button>
                    </div>
                </div>
            </el-dialog>

            <!-- Modal of prestation -->

            <el-dialog title="Ajouter une prestation" :visible.sync="addCategoriePrestation" width="20%" :before-close="handleClose">
                <div class="row">
                    <div class="col-12">
                        <el-input v-model="libelle" autofocus="true" placeholder="Libellé du type" ></el-input>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <el-button type="primary" size="mini" @click="addSaveCatePrestation()">Ajouter</el-button>
                        <el-button type="danger" size="mini" @click="handleClose()">Fermer</el-button>
                    </div>
                </div>
            </el-dialog>
            <el-dialog title="Modifier une prestation" :visible.sync="editCategoriePrestation" width="20%" :before-close="handleClose">
                <div class="row">
                    <div class="col-12">
                        <el-input v-model="libelleEdit" autofocus="true" placeholder="Libellé du type" ></el-input>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <el-button type="success" size="mini" @click="editSaveCatePrestation()">Modifier</el-button>
                        <el-button type="danger" size="mini" @click="handleClose()">Fermer</el-button>
                    </div>
                </div>
            </el-dialog>

            <!-- Modal of paiement -->

            <el-dialog title="Ajouter un paiement" :visible.sync="addCategoriePaiement" width="20%" :before-close="handleClose">
                <div class="row">
                    <div class="col-12">
                        <el-input v-model="libelle" autofocus="true" placeholder="Libellé du type" ></el-input>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <el-button type="primary" size="mini" @click="addSaveCatePaiement()">Ajouter</el-button>
                        <el-button type="danger" size="mini" @click="handleClose()">Fermer</el-button>
                    </div>
                </div>
            </el-dialog>
            <el-dialog title="Modifier un paiement" :visible.sync="editCategoriePaiement" width="20%" :before-close="handleClose">
                <div class="row">
                    <div class="col-12">
                        <el-input v-model="libelleEdit" autofocus="true" placeholder="Libellé du type" ></el-input>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <el-button type="success" size="mini" @click="editSaveCatePaiement()">Modifier</el-button>
                        <el-button type="danger" size="mini" @click="handleClose()">Fermer</el-button>
                    </div>
                </div>
            </el-dialog>
        </div>
    </div>
</template>
<style scoped>
    .container-fluid{
        padding-top: 3%;
        margin-top: 5%;
    }
    .container-end{
        padding: 2%;
        margin-top: 2%;
    }
    .el-tabs__header{
        padding: 2% !important;
    }
    .el-tabs__item {
        width: 200px !important;
        color: red !important;
    }
    .mb-10{
        margin-bottom: 5%;
    }
    .btn-primary{
        background:rgb(32, 113, 235) !important;
        border: 1px solid rgb(32, 113, 235) !important;
    }
</style>
<script>
import firebase from "firebase";
export default {
    name: 'suivi-categories',
    data() {
        return {
            libelle: "",
            libelleEdit: "",
            idEdit: "",

            addCategorieDepense: false,
            editCategorieDepense: false,

            addCategorieRecette: false,
            editCategorieRecette: false,

            addCategoriePrestation: false,
            editCategoriePrestation: false,
        
            addCategoriePaiement: false,
            editCategoriePaiement: false,

            prestations: [],
            paiements: [],
            depenses: [],
            recettes: [],

            paramsTypePrestationRef: firebase.firestore().collection('params').doc(JSON.parse(localStorage.getItem('userSession')).projet).collection('typePrestation'),
            paramsTypePaiementRef: firebase.firestore().collection('params').doc(JSON.parse(localStorage.getItem('userSession')).projet).collection('typePaiement'),
            paramsTypeDepenseRef: firebase.firestore().collection('params').doc(JSON.parse(localStorage.getItem('userSession')).projet).collection('typeDepense'),
            paramsTypeRecetteRef: firebase.firestore().collection('params').doc(JSON.parse(localStorage.getItem('userSession')).projet).collection('typeRecette'),
        }
    },
    methods: {
        // Globale function
        handleClose() {
            this.libelle = ""

            this.addCategorieDepense = false;
            this.addCategorieRecette = false;
            this.addCategoriePaiement = false;
            this.addCategoriePrestation = false;
           
            this.editCategorieDepense = false;
            this.editCategorieRecette = false;
            this.editCategoriePaiement = false;
            this.editCategoriePrestation = false;

            this.libelleEdit = ""
            this.idEdit = ""
        },

        // Functions Depenses
        fetchTypeDepense() {
            this.paramsTypeDepenseRef.get().then((querySnapshot)=> {
                if(querySnapshot.size > 0) {
                    querySnapshot.forEach(doc => {
                        this.depenses.push({id: doc.id, depense: doc.data().depense})
                    });
                } else {
                    this.depenses = [];
                }
            })
        },
        addSaveCateDepense() {
            if(this.libelle != "") {
                this.depenses = [];
                var obj = {depense: this.libelle}
                this.paramsTypeDepenseRef.add(obj).then((querySnapshot) => {
                    this.$notify({
                        title: "Succès",
                        message: "Nouveau type ajouté.",
                        type: "success",
                    });
                    this.handleClose();
                    this.fetchTypeDepense();
                })
            } else {
            }
        },
        editSaveCateDepense() {
            this.depenses = [];
            this.paramsTypeDepenseRef.doc(this.idEdit).set({depense: this.libelleEdit}).then(() => {
                this.$notify({
                    title: "Succès",
                    message: "Mise à jour effectuée",
                    type: "success",
                });
                this.handleClose();
                this.fetchTypeDepense();
            })
        },
        handleEditDepense(row) {
            this.editCategorieDepense = true;
            this.libelleEdit = row.depense;
            this.idEdit = row.id
        },
        async handleDeleteDepense(depense) {
            this.depenses = [];
            this.paramsTypeDepenseRef.doc(depense).delete().then(() => {
                this.$notify({
                    title: "Succès",
                    message: "Suppression effectuée",
                    type: "success",
                });
                this.fetchTypeDepense();
            })
        },

        // Functions Recettes
        fetchTypeRecette() {
            this.paramsTypeRecetteRef.get().then((querySnapshot)=> {
                if(querySnapshot.size > 0) {
                    querySnapshot.forEach(doc => {
                        this.recettes.push({id: doc.id, recette: doc.data().recette})
                    });
                } else {
                    this.recettes = [];
                }
            })
        },
        addSaveCateRecette() {
            if(this.libelle != "") {
                this.recettes = [];
                var obj = {recette: this.libelle}
                this.paramsTypeRecetteRef.add(obj).then((querySnapshot) => {
                    this.$notify({
                        title: "Succès",
                        message: "Nouveau type ajouté.",
                        type: "success",
                    });
                    this.handleClose();
                    this.fetchTypeRecette();
                })
            } else {
            }
        },
        editSaveCateRecette() {
            this.recettes = [];
            this.paramsTypeRecetteRef.doc(this.idEdit).set({recette: this.libelleEdit}).then(() => {
                this.$notify({
                    title: "Succès",
                    message: "Mise à jour effectuée",
                    type: "success",
                });
                this.handleClose();
                this.fetchTypeRecette();
            })
        },
        handleEditRecette(row) {
            this.editCategorieRecette = true;
            this.libelleEdit = row.recette;
            this.idEdit = row.id
        },
        async handleDeleteRecette(recette) {
            this.recettes = [];
            this.paramsTypeRecetteRef.doc(recette).delete().then(() => {
                this.$notify({
                    title: "Succès",
                    message: "Suppression effectuée",
                    type: "success",
                });
                this.fetchTypeRecette();
            })
        },
       
       // Functions Prestation
        fetchTypePrestation() {
            this.paramsTypePrestationRef.get().then((querySnapshot)=> {
                if(querySnapshot.size > 0) {
                    querySnapshot.forEach(doc => {
                        this.prestations.push({id: doc.id, prestation: doc.data().prestation})
                    });
                } else {
                    this.prestations = [];
                }
            })
        },
        addSaveCatePrestation() {
            if(this.libelle != "") {
                this.prestations = [];
                var obj = {prestation: this.libelle}
                this.paramsTypePrestationRef.add(obj).then((querySnapshot) => {
                    this.$notify({
                        title: "Succès",
                        message: "Nouveau type ajouté.",
                        type: "success",
                    });
                    this.handleClose();
                    this.fetchTypePrestation();
                })
            } else {
            }
        },
        editSaveCatePrestation() {
            this.prestations = [];
            this.paramsTypePrestationRef.doc(this.idEdit).set({prestation: this.libelleEdit}).then(() => {
                this.$notify({
                    title: "Succès",
                    message: "Mise à jour effectuée",
                    type: "success",
                });
                this.handleClose();
                this.fetchTypePrestation();
            })
        },
        handleEditPrestation(row) {
            this.editCategoriePrestation = true;
            this.libelleEdit = row.prestation;
            this.idEdit = row.id
        },
        async handleDeletePrestation(prestation) {
            this.prestations = [];
            this.paramsTypePrestationRef.doc(prestation).delete().then(() => {
                this.$notify({
                    title: "Succès",
                    message: "Suppression effectuée",
                    type: "success",
                });
                this.fetchTypePrestation();
            })
        },

          // Functions Paiement
        fetchTypePaiement() {
            this.paramsTypePaiementRef.get().then((querySnapshot)=> {
                if(querySnapshot.size > 0) {
                    querySnapshot.forEach(doc => {
                        this.paiements.push({id: doc.id, paiement: doc.data().paiement})
                    });
                } else {
                    this.paiements = [];
                }
            })
        },
        addSaveCatePaiement() {
            if(this.libelle != "") {
                this.paiements = [];
                var obj = {paiement: this.libelle}
                this.paramsTypePaiementRef.add(obj).then((querySnapshot) => {
                    this.$notify({
                        title: "Succès",
                        message: "Nouveau type ajouté.",
                        type: "success",
                    });
                    this.handleClose();
                    this.fetchTypePaiement();
                })
            } else {
            }
        },
        editSaveCatePaiement() {
            this.paiements = [];
            this.paramsTypePaiementRef.doc(this.idEdit).set({paiement: this.libelleEdit}).then(() => {
                this.$notify({
                    title: "Succès",
                    message: "Mise à jour effectuée",
                    type: "success",
                });
                this.handleClose();
                this.fetchTypePaiement();
            })
        },
        handleEditPaiement(row) {
            this.editCategoriePaiement = true;
            this.libelleEdit = row.paiement;
            this.idEdit = row.id
        },
        async handleDeletePaiement(paiement) {
            this.paiements = [];
            this.paramsTypePaiementRef.doc(paiement).delete().then(() => {
                this.$notify({
                    title: "Succès",
                    message: "Suppression effectuée",
                    type: "success",
                });
                this.fetchTypePaiement();
            })
        },
    },
    async mounted() {
        this.fetchTypeDepense();
        this.fetchTypeRecette();
        this.fetchTypePrestation();
        this.fetchTypePaiement();
        setTimeout(() => {
            this.$loading().close()
        }, 3000);
    },
}
</script>