<template>
     <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Clients</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/bp/suivi"> Paramètres</a>
                            </li>
                            <li class="breadcrumb-item">Clients</li>
                        </ol>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content" style="padding: 15px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div  class="text-xs-right m-b-10">
                                                <button type="submit" data-toggle="modal" @click="onClick" data-whatever="test" class="btn btn-info btn-rounded">
                                                    <i class="fa fa-plus"></i> Ajouter un client
                                                </button>
                                            </div>
                                            <div class="m-b-10">
                                                <el-row>
                                                    <el-col :span="5">
                                                        <el-input v-model="filters[0].value" placeholder="Rechercher..."></el-input>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                            <data-tables
                                                v-loading="loading"
                                                element-loading-text="Chargement..."
                                                element-loading-spinner="el-icon-loading"
                                                :filters="filters" 
                                                :table-props="tableProps" 
                                                :data="tableData" 
                                                :current-page="1"
                                                :page-size="10"
                                                :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                                >
                                                <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                                </el-table-column>
                                                <el-table-column label="Actions">
                                                     <template slot-scope="scope">
                                                        <el-button
                                                            type="primary"
                                                            size="mini"
                                                            icon="el-icon-edit" circle
                                                            @click="handleEdit(scope.$index, scope.row)">
                                                        </el-button>
                                                        <el-button
                                                            size="mini"
                                                            type="danger"
                                                            icon="el-icon-delete" circle
                                                            @click="handleDelete(scope.$index, scope.row)"></el-button>
                                                    </template>
                                                </el-table-column>
                                            </data-tables>
                                        </div>
                                    </div>
                                </div>  
                                <div class="modal fade" id="modalClients" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajout Client</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onSubmit">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mb-1">
                                                                <label for="example-text-input" class="col-5 col-form-label p-r-0">
                                                                    <span class="text-red">*</span> Type Client
                                                                </label>
                                                                <div class="col-7">
                                                                    <select class="form-control" @change="hideSomeFields" id="type" v-model="clients.type">
                                                                        <option value="Particulier">Particulier</option>
                                                                        <option value="Entreprise">Entreprise</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.nom" type="text" id="nom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Prénom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.prenom" type="text" id="prenom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Age
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model.number="clients.age" type="number" id="age">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Téléphone 1
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.tel1" type="text" id="te11">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Site web
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.site" type="text" id="site">
                                                                </div>
                                                            </div>
                                                            <!-- <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Adresse</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.adresse" type="text" id="adresse">
                                                                </div>
                                                            </div> -->
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Quartier</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.quartier" type="text" id="quartier">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Ville</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.ville" type="text" id="ville">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Code postal</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.codepostal" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Pays</label>
                                                                <div class="col-7">
                                                                    <select v-model="clients.pays" class="form-control" id="pays">
                                                                        <option v-for="country in countries" :value="country.id" :key="country.id">
                                                                            {{country.nom_fr}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Nom contact</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.nomcontact" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Tel contact</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.telcontact" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Mail contact</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.mailcontact" type="email" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Téléphone 2
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.tel2" type="text" id="te12">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Mail
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="clients.mail" type="email" id="mail">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Note</label>
                                                                <vue-editor id="note" :editorToolbar="customToolbar" v-model="clients.note"></vue-editor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <span class="mytooltip tooltip-effect-5">
                                                            <input type="checkbox" id="basic_checkbox_2" v-model="saveAndContinu" class="filled-in chk-col-blue" />
                                                            <label for="basic_checkbox_2"></label>
                                                            <span class="tooltip-content clearfix">
                                                                <span class="tooltip-text p-t-1">
                                                                    Cocher pour enregistrer plusieurs fois.
                                                                </span> 
                                                            </span>
                                                        </span>
                                                        <button type="submit" class="btn btn-rounded btn-success">Enregistrer</button>
                                                        <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Annuler</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="modalEditClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Modification Client</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onUpdate">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row mb-1">
                                                                <label for="example-text-input" class="col-5 col-form-label p-r-0">
                                                                    <span class="text-red">*</span> Type Client
                                                                </label>
                                                                <div class="col-7">
                                                                    <select class="form-control" @change="hideSomeFields" id="type" v-model="client.type">
                                                                        <option value="Particulier">Particulier</option>
                                                                        <option value="Entreprise">Entreprise</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.nom" type="text" id="nom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="client.type=1" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Prénom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.prenom" type="text" id="prenom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Age
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model.number="client.age" type="number" id="age">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Téléphone 1
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.tel1" type="text" id="te11">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Site web
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.site" type="text" id="site">
                                                                </div>
                                                            </div>
                                                            <!-- <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Adresse</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.adresse" type="text" id="adresse">
                                                                </div>
                                                            </div> -->
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Quartier</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.quartier" type="text" id="quartier">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Ville</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.ville" type="text" id="ville">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Code postal</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.codepostal" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Pays</label>
                                                                <div class="col-7">
                                                                    <select v-model="client.pays" class="form-control" id="pays">
                                                                        <option v-for="country in countries" :value="country.id" :key="country.id">
                                                                            {{country.nom_fr}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Nom contact</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.nomcontact" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Tel contact</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.telcontact" type="text" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div v-if="isProfessionnel" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Mail contact</label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.mailcontact" type="email" id="codepostal">
                                                                </div>
                                                            </div>
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Téléphone 2
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.tel2" type="text" id="te12">
                                                                </div>
                                                            </div>
                                                            
                                                            <div v-if="isParticulier" class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Mail
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="client.mail" type="email" id="mail">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Note</label>
                                                                <vue-editor id="note" :editorToolbar="customToolbar" v-model="client.note"></vue-editor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-rounded btn-success">Modifier</button>
                                                        <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Annuler</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<style scoped>
    .input-group-text1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #7eb1f5;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        /* background-color: #D0E6ED !important; */
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .text-red {
        color: red !important;
    }
</style>

<script>
    import BaseImageInput from '../../bp/baseImageInput'
    import Swal from 'sweetalert2'
    import { VueEditor, Quill } from "vue2-editor"
    import firebase from 'firebase'
    import table from '../../bp/mixins/suivi/data-tables'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        components: {
            BaseImageInput, VueEditor, Quill

        },
        name: 'clients',
        mixins: [table],
        data() {
            return {
                
                ref: firebase.firestore().collection('clients'),
                clientRef: firebase.firestore().collection('typeClient'),
                paysRef: firebase.firestore().collection('pays'),
                loading: true,
                saveAndContinu:'',
                tableTitles: [
                    {
                        prop: "type",
                        label: "Type",
                        width: "10%"
                    }, 
                    {
                        prop: "nom",
                        label: "Nom(s)"
                    }, 
                    {
                        prop: "tel1",
                        label: "Tel"
                    },
                    {
                        prop: "quartier",
                        label: "Quartier"
                    },
                    {
                        prop: "ville",
                        label: "Ville"
                    },
                ],
                filters: [
                    {
                        prop: ['type','nom','quartier','ville'],
                        value: '',
                    }
                ],
                client : {}, //pour la mise à jour
                isParticulier: false, //si le type de client est particulier
                isProfessionnel: true, //si le type de client est particulier
                typeClients : [],
                countries : [],
                listClients : [],
                clients : {
                    adresse: '',
                    codepostal: '',
                    localisation: '',
                    mailcontact: '',
                    nom: '',
                    nomcontact: '',
                    note: '',
                    pays: '',
                    quartier: '',
                    site: '',
                    tel1: '',
                    tel2: '',
                    telcontact: '',
                    type: '',
                    ville: '',
                    age: '',
                    prenom: '',
                    mail: '',
                    updatedAt: '',
                    deletedAt: '',
                },
                dtTable: null,
                paysList: [],
                projetId: JSON.parse(localStorage.getItem('userSession')).projet,
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
//                    [{ 'font': [] }],
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme

                    ['clean']                                         // remove formatting button
                ],
            }
        },
        created () {
            this.clientRef.get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.typeClients.push(obj);
                });
            });
            this.paysRef.orderBy("alpha2", "asc").get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.countries.push(obj);
                });
            });
        },
        methods: {
            hideSomeFields : function(event){
                let val = event.target.value;
                //si c'est un particulier
                if(val == 'Particulier') {
                    this.isParticulier = true;
                    this.isProfessionnel = false;
                } else {
                    //sinon c'est un professionnel ou fournisseur
                    this.isParticulier = false;
                    this.isProfessionnel = true;
                }
            },

            onSubmit: function(evt){
                evt.preventDefault();
                this.tableData = []; //on reset le data pour éviter les doublons
                this.clients.projectId = this.projetId;
                this.clients.createdAt = new Date();
                this.ref.add(this.clients)
                .then((clients) => {

                    Toast.fire({
                        type: 'success',
                        title: 'le client '+this.clients.nom +' enregistré avec succès',
                        customClass:  "bg-success"
                    });

                    //on efface les champs
                    this.clients.type = '',
                    this.clients.nom = '',
                    this.clients.prenom = '',
                    this.clients.age = '',
                    this.clients.tel1 = '',
                    this.clients.quartier = '',
                    // this.clients.adresse = '',
                    this.clients.ville = '';
                    this.clients.mailcontact = '';

                    //si le bouton saveAndContinu n'est pas coché
                    if(!this.saveAndContinu){
                        $('#modalClients').modal('hide');
                    }
                })
                .catch(function(error) {
                    Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error');
                    // console.log(error);
                });
            },
            onUpdate: function(evt){
                evt.preventDefault();
                this.loading = true;
                this.tableData = []; //on reset le data pour éviter les doublons
                this.loading = true;
                this.clients.updatedAt = new Date();
                this.ref.doc(this.client.id).update(this.client)
                .then( (client) => {
                    // loader.hide();
                    $('#modalEditClient').modal('hide');
                    Swal.fire({
                        type: 'success',
                        title: 'Un client a été mis à jour avec succès',
                        showConfirmButton: false,
                        timer: 2500
                    })
                    this.loading = false;
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Une erreur est survenue!',
                    })
                });
            },
            handleEdit(index, row) {
                $('#modalEditClient').modal('show');
                this.client = row;
            },
            onClick: function(){
                $('#modalClients').modal('show');
            },
            getPaysById: function(id){
                let paysList = {};
                this.paysRef.doc(id).get().then((doc) => {
                    paysList[doc.id] = doc.data();
                });
                return paysList;
            }
        },
        mounted () {
            let clientList = {};
            let paysList = {};
            this.paysRef.get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    paysList[doc.id] = doc.data();
                });
            });
            this.ref.
            where('projectId', '==', this.projetId).
            onSnapshot((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;

                    this.tableData.push(obj);
                });
                this.loading = false;
            });
        }
    }
</script>
