<template>
     <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Produits</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/bp/home">Accueil</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="bp/suivi"> Paramètres</a>
                            </li>
                            <li class="breadcrumb-item">Produits</li>
                        </ol>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content" style="padding: 15px;">
                                    <div class="row">
                                        <div  v-if="this.perms=='ecrire'" class="col-md-6 mb-2">
                                            <div class="pull-left text-left">
                                                <button type="submit" data-toggle="modal" @click="onClick" data-whatever="test" class="btn btn-info btn-rounded">
                                                    <i class="fa fa-plus"></i> Ajouter un produit
                                                </button>
                                            </div>
                                        </div>
                                        <div  v-if="this.perms=='ecrire'" class="col-md-6">
                                            <div class="pull-right text-right button-box">
                                                <button type="button" @click="copyFinancierProducts" class="btn btn-primary btn-rounded" data-toggle="tooltip" data-placement="bottom" title="some title" data-original-title="Tooltip on bottom">
                                                    Importer les produits
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="m-b-10">
                                                <el-row>
                                                    <el-col :span="4">
                                                        <el-input v-model="filters[0].value" placeholder="Rechercher..."></el-input>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                            <data-tables
                                                :filters="filters" 
                                                :table-props="tableProps" 
                                                :data="tableData" 
                                                :current-page="1"
                                                :page-size="10"
                                                :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                                >
                                                <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                                </el-table-column>
                                                <el-table-column label="Image">
                                                     <template slot-scope="scope">
                                                        <el-image
                                                            style="width: 50px; height: 50px"
                                                            :src="scope.row.image.url">
                                                        </el-image>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column  v-if="this.perms=='ecrire'" label="Actions">
                                                     <template slot-scope="scope">
                                                        <el-button
                                                            type="primary"
                                                            size="mini"
                                                            icon="el-icon-edit" circle
                                                            @click="handleEdit(scope.$index, scope.row)">
                                                        </el-button>
                                                        <el-button
                                                            size="mini"
                                                            type="danger"
                                                            icon="el-icon-delete" circle
                                                            @click="handleDelete(scope.$index, scope.row)"></el-button>
                                                    </template>
                                                </el-table-column>
                                            </data-tables>
                                        </div>
                                    </div>
                                </div>
                                <div  v-if="this.perms=='ecrire'" class="modal fade" id="modalProduit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ajout Produit</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="uploadProductFile">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="productForm.nom" type="text" id="nom">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Prix V.U(TTC)
                                                                </label>
                                                                <div class="col-7">
                                                                    <vue-numeric
                                                                        :currency="currentCurrencyMask['currency']"
                                                                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                        :max="currentCurrencyMask['max']"
                                                                        :min="currentCurrencyMask['min']"
                                                                        :minus="currentCurrencyMask['minus']"
                                                                        output-type="currentCurrencyMask['output-type']"
                                                                        :empty-value="currentCurrencyMask['empty-value']"
                                                                        :precision="currentCurrencyMask['precision']"
                                                                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                        v-model="productForm.prixVenteUnitaire"
                                                                        class="form-control text-center">
                                                                    </vue-numeric>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Charges Variables/CA
                                                                </label>
                                                                <div class="col-7">
                                                                    <vue-numeric
                                                                        currency="%"
                                                                        currency-symbol-position="suffix"
                                                                        :max=200 :min=0 :minus=false
                                                                        empty-value=0 :precision=0
                                                                        v-model="productForm.chargeVariable"
                                                                        class="form-control text-center">
                                                                    </vue-numeric>
                                                                </div>
                                                            </div>    
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Délais client
                                                                </label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisClient"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:small"> avant paiement </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Stock P. finis
                                                                </label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockProduitFini.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:x-small"> dépassent <br/>un délais de </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockProduitFini.delaisStockage"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Stock(MP)</label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockMatierePremiere.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:x-small"> dépassent <br/> un délais de</span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.stockMatierePremiere.delaisStockage"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Délais fourni</label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisFournisseur.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:small"> payés dans </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="productForm.delaisFournisseur.delaisPayement"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="fileupload fileupload-new pull-right" data-provides="fileupload">
                                                                <div class="fileupload-new thumbnail" style="width:190px; height: 170px;">
                                                                    <img id="imageDefault" :src="imageUrl==''?'/images/no_image.jpg':imageUrl" alt="Image produit" style="max-width: 190px; max-height: 170px;"/>
                                                                </div>
                                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                                    style="width:190px; height: 170px;max-width: 190px; max-height: 170px; line-height: 10px;">
                                                                </div>
                                                                <div style="text-align:center1;">
                                                                    <span class="btn btn-file btn-primary" @click="pickFile">
                                                                        Choisir une autre image
                                                                    </span>
                                                                    <input type="file" ref="image" @change="onFilePicked" style="display:none"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <span class="mytooltip tooltip-effect-5">
                                                            <input type="checkbox" id="basic_checkbox_2" v-model="saveAndContinu" class="filled-in chk-col-blue" />
                                                            <label for="basic_checkbox_2"></label>
                                                            <span class="tooltip-content clearfix">
                                                                <span class="tooltip-text p-t-1">
                                                                    Cocher pour enregistrer plusieurs fois.
                                                                </span> 
                                                            </span>
                                                        </span>
                                                        <button type="submit" class="btn btn-rounded btn-success">Enregistrer</button>
                                                        <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  v-if="this.perms=='ecrire'" class="modal fade" id="modalEditProduit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Modification Produit</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" @submit="onUpdate">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Nom
                                                                </label>
                                                                <div class="col-7">
                                                                    <input class="form-control" v-model="produit.nom" type="text">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    <span class="text-red">*</span> Prix V.U(TTC)
                                                                </label>
                                                                <div class="col-7">
                                                                    <vue-numeric
                                                                        :currency="currentCurrencyMask['currency']"
                                                                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                                                                        :max="currentCurrencyMask['max']"
                                                                        :min="currentCurrencyMask['min']"
                                                                        :minus="currentCurrencyMask['minus']"
                                                                        output-type="currentCurrencyMask['output-type']"
                                                                        :empty-value="currentCurrencyMask['empty-value']"
                                                                        :precision="currentCurrencyMask['precision']"
                                                                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                                                                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                        v-model="produit.prixVenteUnitaire"
                                                                        class="form-control text-center">
                                                                    </vue-numeric>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Charges Variables/CA
                                                                </label>
                                                                <div class="col-7">
                                                                    <vue-numeric
                                                                        currency="%"
                                                                        currency-symbol-position="suffix"
                                                                        :max=200 :min=0 :minus=false
                                                                        empty-value=0 :precision=0
                                                                        v-model="produit.chargeVariable"
                                                                        class="form-control text-center">
                                                                    </vue-numeric>
                                                                </div>
                                                            </div>    
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Délais client
                                                                </label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="produit.delaisClient"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:small"> avant paiement </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">
                                                                    Stock P. finis
                                                                </label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="produit.stockProduitFini.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:x-small"> dépassent <br/>un délais de </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="produit.stockProduitFini.delaisStockage"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Stock(MP)</label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="produit.stockMatierePremiere.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:x-small"> dépassent <br/> un délais de</span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="produit.stockMatierePremiere.delaisStockage"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label class="col-5 col-form-label">Délais fourni</label>
                                                                <div class="col-7">
                                                                    <div class="input-group">
                                                                        <vue-numeric
                                                                            currency="%"
                                                                            currency-symbol-position="suffix"
                                                                            :min=1 :max=100
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="produit.delaisFournisseur.taux"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text" style="font-size:small"> payés dans </span>
                                                                        </div>
                                                                        <vue-numeric
                                                                            currency="jours"
                                                                            currency-symbol-position="suffix"
                                                                            :max="currentCurrencyMask['max']"
                                                                            :min="currentCurrencyMask['min']"
                                                                            :minus="currentCurrencyMask['minus']"
                                                                            output-type="currentCurrencyMask['output-type']"
                                                                            :empty-value="currentCurrencyMask['empty-value']"
                                                                            :precision=0
                                                                            decimal-separator=" "
                                                                            :thousand-separator="currentCurrencyMask['thousand-separator']"
                                                                            v-model.number="produit.delaisFournisseur.delaisPayement"
                                                                            class="form-control text-center">
                                                                        </vue-numeric>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="fileupload fileupload-new pull-right" data-provides="fileupload">
                                                                <div class="fileupload-new thumbnail" style="width:190px; height: 170px;">
                                                                    <img id="imageDefault" :src="imageUrl==''? produit.image.url : imageUrl" :alt="produit.nom" style="max-width: 190px; max-height: 170px;"/>
                                                                </div>
                                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                                    style="width:190px; height: 170px;max-width: 190px; max-height: 170px; line-height: 10px;">
                                                                </div>
                                                                <div style="text-align:center1;">
                                                                    <span class="btn btn-file btn-primary" @click="pickFile">
                                                                        Choisir une autre image
                                                                    </span>
                                                                    <input type="file" ref="image" @change="onFilePicked" style="display:none"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-rounded btn-success">Modifier</button>
                                                        <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Annuler</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<style scoped>
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        /* background-color: #D0E6ED !important; */
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    /* .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    } */
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
</style>

<script>
    import VueNumeric from 'vue-numeric'
    import currenciesMaskMixin from '../../bp/mixins/currenciesMask'
    import BaseImageInput from '../../bp/baseImageInput'
    import Swal from 'sweetalert2'
    import firebase from 'firebase'
    import table from '../../bp/mixins/suivi/data-tables'

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    });

    export default {
        components: {
            VueNumeric,BaseImageInput,

        },
        name: 'produits',
        mixins:[currenciesMaskMixin, table],
        data() {
            return {
                refFinancier: firebase.firestore().collection('financier'),
                perms:JSON.parse(localStorage.getItem('userSession')).perm[5].content[0].value,
                ref: firebase.firestore().collection('produits'),
                saveAndContinu:'',
                // loading: true,
                tableTitles: [
                    {
                        prop: "nom",
                        label: "Nom(s)"
                    },
                    {
                        prop: "prixVenteUnitaire",
                        label: "Prix V.U(HT)"
                    },
                    {
                        prop: "chargeVariable",
                        label: "CV/CA"
                    },
                ],
                filters: [
                    {
                        prop: ['nom','prixVenteUnitaire','chargeVariable'],
                        value: '',
                    }
                ],
                produit : {
                    "stockProduitFini":{
                        "taux": '',
                        "delaisStockage": ''
                    },
                    "stockMatierePremiere":{
                        "taux": '',
                        "delaisStockage": ''
                    },
                    "delaisFournisseur":{
                        "taux": '',
                        "delaisPayement": ''
                    },
                    "image": {
                        "url": '',
                        "nom": '',
                    }
                }, //pour la mise à jour
                suivi : {
                    recettes: {
                        client : {},
                    }
                },
                fileTask: "",
                imageName: "",
                imageUrl: "",
                imageFile: "",
                charges: {}, //charge object
                productForm : {
                    "nom":'',
                    "prixVenteUnitaire": '',
                    "delaisClient": '',
                    "stockProduitFini":{
                        "taux": '',
                        "delaisStockage": ''
                    },
                    "stockMatierePremiere":{
                        "taux": '',
                        "delaisStockage": ''
                    },
                    "delaisFournisseur":{
                        "taux": '',
                        "delaisPayement": ''
                    },
                    "chargeVariable": '',
                    "description": '',
                    "image":{ "nom":"", "url":""},
                    // indice du produit qui sera creer ou modifier
                    "target": -1
                },
                projectId: JSON.parse(localStorage.getItem('userSession')).projet
            }
        },
        methods: {
            isEmpty(obj) {
                for(var key in obj) {
                    if(obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            },
            onClick: function(){
                $('#modalProduit').modal('show');
            },
            importProduct (obj){
                let loader = Vue.$loading.show();
                firebase.firestore().collection('produits').add( 
                    obj
                ).then( (obj) => {
                    loader.hide();
                    Swal.fire(
                        {
                            title: 'Import',
                            text: 'Vous avez importé avec succès les produits',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok',
                        }
                    );
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire(
                        {
                            title: 'Erreur',
                            text: 'Oups!!! Une erreur est survenue. VEillez réessayer',
                            type: 'danger',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok',
                        }
                    );
                })
            },
            copyFinancierProducts(){
                // let loader = Vue.$loading.show();
                this.refFinancier.doc(this.projectId).get()
                .then((doc) => {
                    let obj = doc.data().produits;
                    let produits = obj['articles'];
                    let message = '';
                    let type = '';
                    produits.forEach((produit) => {
                        produit.projectId = this.projectId;
                        produit.createdAt = new Date();
                        produit.updatedAt = '';
                        produit.deletedAt = '';
                        if(!this.isEmpty(this.tableData)){
                            this.tableData.forEach((data) => {
                                if((data.nom = produit.nom) && (data.prixVenteUnitaire = produit.prixVenteUnitaire)){
                                    // loader.hide();
                                    Swal.fire(
                                        {
                                            title: 'Import',
                                            text: 'Vous avez déjà importé tous les produits',
                                            type: 'warning',
                                            showCancelButton: false,
                                            confirmButtonColor: '#3085d6',
                                            confirmButtonText: 'Ok',
                                        }
                                    );
                                } else {
                                    this.tableData = [];
                                    this.importProduct(produit);
                                }
                            })
                        } else {
                            this.tableData = [];
                            this.importProduct(produit);
                        }
                    });
                })
                .catch(function(error) {
                    Swal.fire(
                        {
                            title: 'Erreur',
                            text: 'Oups!!! Une erreur est survenue. VEillez réessayer',
                            type: 'danger',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok',
                        }
                    );
                });
            },
            onSubmit: function(){
                this.tableData = []; //on reset le data pour éviter les doublons
                this.productForm.projectId = this.projectId;
                this.ref.add(this.productForm)
                    .then( (produit) => {
                    // loader.hide();
                    Swal.fire(
                        {
                            title: 'Enregistrement',
                            text: "Vous avez enregistrer avec succès les produits",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok',
                        }
                    );

                    //si le bouton saveAndContinu n'est pas coché
                    if(!this.saveAndContinu){
                        $('#modalProduit').modal('hide');
                    }
                })
                .catch( (error) => {
                    // loader.hide();
                    Swal.fire(
                        {
                            title: 'Erreur',
                            text: "Une erreur est survenue ",
                            type: 'error',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Ok',
                            cancelButtonText: 'j\'annule'
                        }
                    )
                })
            },

            pickFile() {
                this.$refs.image.click();
            },
            uploadProductFile (evt) {
                evt.preventDefault();
                let loader = Vue.$loading.show();
                if(this.imageFile != ""){ 
                    firebase.storage().ref()
                    .child('/produits/'+this.imageFile.lastModified+"_"+this.imageFile.name)
                    .put(this.imageFile, {"contentType": this.productForm.image.type})
                    .then( (snapshot) => { 
                        snapshot.ref.getDownloadURL()
                            .then( (url) => {
                                this.productForm.image = {
                                    "nom": this.imageFile.lastModified+"_"+this.imageFile.name,
                                    "url": url
                                }
                                loader.hide();
                                this.onSubmit();
                            })
                            .catch((error) => {
                                loader.hide();
                                switch (error.code) {
                                    case 'storage/unauthorized':
                                    message = 'Vous n\'avez pas les authorisations requises';
                                    break;
                                    case 'storage/canceled':
                                    message = 'Le fichier a été supprimé';
                                    break;
                                    case 'storage/unknown':
                                    message = 'Erreur inattendue est survenue. Veillez réessayer';
                                    break;
                                }
                            })
                    });
                }
                else{
                    loader.hide();
                    // le produit n'a pas d'image, on le save directly le produit
                    this.onSubmit();
                }
            },
            onUpdate: function(evt){
                evt.preventDefault();
                this.tableData = []; //on reset le data pour éviter les doublons
                this.produit.updatedAt = new Date();
                if(this.imageUrl !='' && this.imageUrl != this.produit.image.url){
                    firebase.storage().ref()
                    .child('/produits/'+this.imageFile.lastModified+"_"+this.imageFile.name)
                    .put(this.imageFile, {"contentType": this.produit.image.type})
                    .then( (snapshot) => { 
                        snapshot.ref.getDownloadURL()
                            .then( (url) => {
                                this.produit.image = {
                                    "nom": this.imageFile.lastModified+"_"+this.imageFile.name,
                                    "url": url
                                }
                            })
                            .catch((error) => {
                                loader.hide();
                                switch (error.code) {
                                    case 'storage/unauthorized':
                                    message = 'Vous n\'avez pas les authorisations requises';
                                    break;
                                    case 'storage/canceled':
                                    message = 'Le fichier a été supprimé';
                                    break;
                                    case 'storage/unknown':
                                    message = 'Erreur inattendue est survenue. Veillez réessayer';
                                    break;
                                }
                            })
                    });
                }
                this.ref.doc(this.produit.id).update(this.produit)
                .then( (client) => {
                    loader.hide();
                    $('#modalEditProduit').modal('hide');
                    Swal.fire({
                        type: 'success',
                        title: 'Un produit a été mis à jour avec succès',
                        showConfirmButton: false,
                        timer: 2500
                    })
                })
                .catch( (error) => {
                    loader.hide();
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Une erreur est survenue!',
                    })
                });
            },
            onFilePicked(e) {
                const files = e.target.files;
                if (files[0] !== undefined) {
                    this.imageName = files[0].name;
                    if (this.imageName.lastIndexOf(".") <= 0) {
                    return;
                    }
                    const fr = new FileReader();
                    fr.readAsDataURL(files[0]);
                    fr.addEventListener("load", () => {
                        this.imageUrl = fr.result;
                        this.imageFile = files[0]; // this is an image file that can be sent to server...
                    });
                } else {
                    this.imageName = "";
                    this.imageFile = "";
                    this.imageUrl = "";
                }
            },
            handleEdit(index, row) {
                $('#modalEditProduit').modal('show');
                this.produit = row;
            },
        },
        mounted () {
            this.ref
            .where('projectId', '==', this.projectId)
            .onSnapshot((querySnapshot) => {
                let loader = Vue.$loading.show();
                querySnapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    this.tableData.push(obj);
                });
                loader.hide();
            });
        }
    }
</script>
