<template>
     <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Type client</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/bp/suivi"> Paramètres</a>
                            </li>
                            <li class="breadcrumb-item">Type client</li>
                        </ol>
                    </div>
                </div>

               <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <form @submit="onSubmit">
                                    <fieldset class="fieldset">
                                        <div class="input-group mb-1 mt-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Libelle type</span>
                                            </div>
                                            <input v-model="typeClient.libelle" class="form-control" type="text">
                                        </div>
                                        <textarea v-model="typeClient.descr" id="description" rows="5" class="form-control" placeholder="Description"></textarea>
                                    </fieldset>

                                    <div class="text-xs-right mb-2 mt-2">
                                        <button type="submit" class="btn btn-success">Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <fieldset class="fieldset">
                                    <div class="table-responsive m-t-20">
                                        <table id="typeClient" class="display table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Libellé</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Libellé</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</template>
<style scoped>
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #D0E6ED !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        /* width: 150px; */
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ffffff !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
</style>

<script>
    import BaseImageInput from '../../bp/baseImageInput'
    import firebase from 'firebase'
    export default {
        components: {
            BaseImageInput,

        },
        name: 'typeClient',
    data() {
            return {
                ref: firebase.firestore().collection('typeClient'),
                suivi : {
                    recettes: {
                        client : {},
                    },
                },
                typeClient : {},
                listTypeClient : [],
                dtTable: null,
                projet: JSON.parse(localStorage.getItem('userSession')).projet
            }
        },
        created () {
            this.getData();
        },
        methods: {
            onSubmit: function(evt){
                evt.preventDefault();

                this.ref.add(this.typeClient)
                .then((suivi) => {
                    this.typeClient.libelle = '',
                    this.typeClient.descr = '',
                    Swal.fire({
                        title:'Enregistrement Réussi',
                        text:'Le type de client a bien été enregistrées!',
                        type:'success',
                        showCancelButton: true,
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Annuler',
                    });
                    this.suivi.typeClient = {};
                })
                .catch(function(error) {
                    Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error')
                });
            },

            getData: function() {
                this.dtTable = $('#typeClient').DataTable({});
                this.ref.get().then((querySnapshot) => {
                    this.dtTable.clear();
                    querySnapshot.forEach((doc) => {
                        var obj = doc.data();
                        obj.id = doc.id;
                        obj.btnAction =
                        '<button type="button" id="' + obj.id + '" class="btn btn-primary btn_edit" name="btn_edit"><i class="fa fa-edit"></i></button>&nbsp;'
                        +'<button type="button" id="' + obj.id + '" class="btn btn-danger btn_delete"><i class="fa fa-trash-alt"></i></button>';

                        this.dtTable.row.add([
                            obj.libelle,
                            obj.descr,
                            obj.btnAction,
                        ]);
                        // console.log(this.banques);
                        this.dtTable.order([0, 'desc']).draw();
                    });
                });
            },
        },
        mounted () {
            this.getData();
        }
    }
</script>
