<template>
  <div>
    <div v-if="loading">
      <el-skeleton :loading="loading" animated>
        <template slot="template">
          <el-row class="mt-4 ml-5" :gutter="10">
            <el-col :span="1">
              <!-- Checkbox-->
              <el-skeleton-item variant="image" class="user-pic skeleton" />
            </el-col>
            <el-col :span="20">
              <!-- Checkbox-->
              <el-skeleton-item
                skeleton
                variant="h1"
                style="height: 25px; width: 350px"
              />
            </el-col>
            <el-col :span="1">
              <!-- Checkbox-->
              <el-skeleton-item variant="image" class="user-pic skeleton" />
            </el-col>
          </el-row>
        </template>
      </el-skeleton>
    </div>
    <div v-else id="main-wrapper" class="bpheader">
      <header
        :style="{
          backgroundColor: settings.color,
        }"
        class="topbarbp"
      >
        <!-- <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <div
            v-if="this.settings == ''"
            class="col-xs-1 col-sm-3 col-md-2 space"
          >
            <div class="navbar-header">
              <a class="navbar-brand" href="/bp/projets"> </a>
            </div>
          </div>
          <div v-else class="col-xs-1 col-sm-3 col-md-6 space">
            <div class="navbar-header">
              <a class="navbar-brand" href="/bp/projets">
                <b>
                  <img src="" alt="" class="light-logo" />
                  <img
                    :src="'data:image/png;base64,' + settings.logo"
                    class="dark-logo img-fluid"
                    style="height: 50px"
                  />
                </b>
                <span class="logo">
                  <img src="" alt="" class="light-logo" />

                  <span style="color: white">
                    <strong>{{ this.settings.denomination }}</strong></span
                  >
                </span>
              </a>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-3 space">
            <div v-if="this.$route.name != 'projets'" class="float-left">
              <ProjectSwitch />
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 space">
            <div class="float-right xs-profile">
              <Profile :displayName="displayName" :userImage="userImage" />
            </div>
          </div>
        </nav> -->
        <nav class="navigation">
          <div
            v-if="this.settings == ''"
            class="space side-left"
          >
            <div class="navbar-header">
              <a class="navbar-brand" href="/bp/projets"> </a>
            </div>
          </div>
          <div v-else class="side-left space">
            <div class="navbar-header">
              <a class="navbar-brand" href="/bp/projets">
                <b>
                  <img src="" alt="" class="light-logo" />
                  <img
                    :src="'data:image/png;base64,' + settings.logo"
                    class="dark-logo img-fluid"
                    style="height: 50px"
                  />
                </b>
                <span class="logo">
                  <img src="" alt="" class="light-logo" />
                  <!-- Light Logo text -->
                  <span style="color: white">
                    <strong>{{ this.settings.denomination }}</strong></span
                  >
                </span>
              </a>
            </div>
          </div>
          <div class="side-center space">
            <div v-if="this.$route.name != 'projets'" class="float-left">
              <ProjectSwitch />
            </div>
          </div>
          <div class="side-right space">
            <div class="float-right xs-profile summary-profil">
              <Profile :displayName="displayName" :userImage="userImage" />
            </div>
          </div>
        </nav>
      </header>
    </div>
  </div>
</template>

<script>
import helper from "../../services/helper";
import firebase from "firebase";
import VueIntro from "vue-introjs";
import "intro.js/introjs.css";
import Vue from "vue";
import Profile from "./profile";
import ProjectSwitch from "./projectSwitch";
import { Loading } from "element-ui";

export default {
  components: { Profile, ProjectSwitch },
  props: ["userImage", "displayName", "settingsIn"],
  watch: {
    settingsIn(val) {
      this.settings = val;
    },
  },
  data() {
    return {
      concoursRef: firebase.firestore().collection("concours"),
      username: JSON.parse(localStorage.getItem("userSession")).displayName,
      userId: JSON.parse(localStorage.getItem("userSession")).uid,
      adminId: JSON.parse(localStorage.getItem("userSession")).adminId,
      usersRef: firebase.firestore().collection("users"),
      tousLesConcours: [],
      settings: "",
      loading: true,
    };
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(function () {
          // Sign-out successful.
          localStorage.clear();
          //redirection vers l'accueil
          window.location.pathname = "/login";
        })
        .catch(function (error) {
          alert(error);
        });
    },
    // selectProject(id,titre){

    //     let userSession = JSON.parse(localStorage.getItem('userSession'));
    //     userSession.projet = id;
    //     userSession.projettitre = titre;

    //     localStorage.setItem('userSession', JSON.stringify(userSession));
    //     //this.$router.push('/bp/home');
    //     window.location.reload();

    // },
    // listProjet(){

    // let userSession = JSON.parse(localStorage.getItem('userSession'));
    // userSession.projet = "";
    // userSession.projettitre = "";

    // localStorage.setItem('userSession', JSON.stringify(userSession));
    // window.location.pathname = "/bp/projets";

    // },
    profile() {
      //redirection vers l'accueil
      window.location.pathname = "/bp/profile/user";
    },
    getAuthUserFullName() {
      if (localStorage.getItem("userSession")) {
        let userInfo = JSON.parse(localStorage.getItem("userSession"));
        let datef = userInfo.firstTimeConnection;
        let date = new Date(datef).toLocaleString();
        //console.log(userInfo);
        let profileName = userInfo.displayName;
        return profileName;
      }
    },
    getAuthUserEmail() {
      if (localStorage.getItem("userSession")) {
        let userInfo = JSON.parse(localStorage.getItem("userSession"));
        let datef = userInfo.firstTimeConnection;
        let date = new Date(datef).toLocaleString();
        //console.log(userInfo);
        let email = userInfo.email;
        return email;
      }
    },
    getAuthUser(name) {
      return this.$store.getters.getAuthUser(name);
    },

    getAccountSettings() {
      //For others Users
      if (this.adminId) {
        this.usersRef
          .doc(this.adminId)
          .get()
          .then((doc) => {
            this.settings = doc.data();
            this.$emit("settings", this.settings);
            this.loading = false;
          });
      }
      //For admin Users
      else {
        this.usersRef
          .doc(this.userId)
          .get()
          .then((doc) => {
            this.settings = doc.data();
            this.$emit("settings", this.settings);
            this.loading = false;
          });
      }
    },
  },
  computed: {
    getAvatar() {
      return "/images/users/" + this.getAuthUser("avatar");
    },
  },
  created() {
    this.getAccountSettings();
  },
  mounted() {
    $(".dropdown-toggle").dropdown();
    $(".collapse").collapse("hide");

    this.concoursRef.orderBy("createdAt", "desc").onSnapshot((onSnapshot) => {
      this.tousLesConcours = [];
      if (!onSnapshot.empty) {
        onSnapshot.forEach((doc) => {
          let obj = doc.data();
          obj.id = doc.id;
          this.tousLesConcours.push(obj);
        });
      }
    });

    // let ref = firebase.firestore().collection('summary');
    // le loader en mode plugin

    // ref.where('user', '==', JSON.parse(localStorage.getItem("userSession")).uid)
    //     .get().then( (docSnaps) => {
    //         docSnaps.forEach( (doc) => {
    //             if (doc.exists) {
    //                 let result = {
    //                     id: doc.id,
    //                     titre: doc.get('titre'),
    //                     createdAt: doc.get('createdAt')
    //                 };

    //                 this.userProjectList.push(result);
    //             } else {
    //                 // doc.data() will be undefined in this case
    //                 return ;
    //             }
    //             // TODO: sort projects by last modified data
    //         });
    //     });
  },
};
</script>
<style>
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-center .dropdown-toggle::after{
  display: none;
}
.summary-profil .el-badge{
  display: none;
}
.summary-profil .dropdown-menu.dropdown-menu-right{
  left: -200px !important;
  bottom: 0 !important;
  min-height: 107px !important;
  top: 42px !important;
}
@media (max-width: 700px) {
  .displayName {
    display: none;
  }
  .logo {
    display: none;
  }
}
@media (max-width: 600px) {
  /* .space {
    width: 50%;
  } */
  .projettitre {
    font-size: 10px !important;
  }
  .xs-profile {
    float: left !important;
  }
}
li {
  list-style: none;
}
.home-header-profile > div {
  display: inline-block;
}
.home-header-profile div {
  margin-left: 5px;
}
.home-header-profile #dropdown-profile {
  color: #ffffff;
}
.home-header-profile #dropdown-profile:hover {
  color: rgba(0, 0, 0, 0.5);
}
.projettitre {
  color: #ffffff;
  margin-top: 14px;
  font-size: 17px;
}
.titreprojet {
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
i.mdi-chevron-down {
  color: rgb(251, 251, 255);
}
.ellipsis {
  text-overflow: ellipsis;
  display: block;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
}
/* .skeleton {
  position: absolute;
} */
/* .dropdown-menu{
        z-index:1000 !important
    } */
</style>
