<template>
  <div class="home-header-profile">
    <el-badge :value="this.notifyData.length">
      <!-- <el-popover
                placement="bottom"
                title="Notifications"
                width="400"
                :visible-arrow="true"
                trigger="click"
                    >
                <i class="el-icon-message-solid" slot="reference"></i>
              
               
            </el-popover> -->
      <i @click="drawerOpen = true" class="el-icon-message-solid"></i>
    </el-badge>
    <div class="drawer-notify">
      <el-drawer
        title="Notifications"
        :modal="false"
        :visible.sync="drawerOpen"
        :with-header="true"
      >
        <!-- <div v-for="(notify,index) in notifyData" :key="index"> 
                <el-card class="el-card" shadow="hover">
                    <div slot="header" class="clearfix">
                        <el-row :gutter="20">
                        <el-col :span="2"> 
                        <img v-if="notify.userData.photo"
                        :src="'data:image/png;base64,'+notify.userData.photo"
                        class="profile-notify img-fluid"
                        />
                        <img v-else src="/bp/assets/images/users/logodefaultuser.png"  class="profile-notify img-fluid"/>
                        </el-col>
                            
                        <el-col :span="18"><strong class="user-name">{{notify.userData.first_name+" "+notify.userData.last_name}}</strong></el-col>
                        <el-col :span="4">
                            <el-tooltip class="item" effect="dark" content="Fermer" placement="top-start">
                                <el-button @click="changeState(notify.id)" class="button-close" icon="el-icon-close" style="float: right" type="text"></el-button>
                            </el-tooltip>
                              
                            
                        </el-col>
                                
                        </el-row>
                            
                    </div>
                    <el-row >
                        <el-col v-if="notify.actionType=='add' && notify.actionText=='action' " :span="24"> <el-tag effect="dark" type="success"> a rajouté  <strong>{{ notify.action.titre}}</strong> </el-tag> </el-col>
                        <el-col v-if="notify.actionType=='edit' && notify.actionText=='modifier' " :span="24"> <el-tag effect="dark" type="warning"> a Modifier  <strong>{{ notify.action.titre}}</strong> </el-tag> </el-col>
                        <el-col v-if="notify.actionType=='changestate' && notify.actionState=='1' " :span="24"> <span> a changé l'état de :  <strong>{{ notify.action.titre}}</strong> </span> à <el-tag effect="dark" > A faire</el-tag> </el-col>
                        <el-col v-if="notify.actionType=='changestate' && notify.actionState=='2' " :span="24"> <span> a changé l'état de :   <strong>{{ notify.action.titre}}</strong> </span> à <el-tag effect="dark" type="warning" > En cours</el-tag> </el-col>
                        <el-col v-if="notify.actionType=='changestate' && notify.actionState=='3' " :span="24"> <span> a changé l'état de :  <strong>{{ notify.action.titre}}</strong> </span> à <el-tag effect="dark" type="success" > Terminé</el-tag> </el-col>
                       
                    </el-row>
                    <el-row >
                    <el-col :span="24"><span></span> <strong>{{notify.projectData.titre}}</strong> </el-col>
                       
                    </el-row>
                    <el-row >
                       
                    <el-col :span="24"> <span>le :</span> {{  new Date(notify.createdAt.seconds*1000) | moment("Do MMMM YYYY HH:mm:ss ") }} </el-col>
                    </el-row>
                       
                </el-card>
                 
                  
            </div> -->
      </el-drawer>
    </div>
    <div class="dropdown">
      <a
        class="nav-link dropdown-toggle"
        aria-haspopup="true"
        aria-expanded="false"
        href="#"
        data-toggle="dropdown"
        id="dropdown-profile"
      >
        <!-- <img :src="`data:image/png;base64,${userImage.encodedImage}`"  alt="user" class="profile-pic"/> -->
        <el-tooltip effect="dark" :content="displayName" placement="top-start">
          <img
            v-if="userImage"
            :src="'data:image/png;base64,' + userImage"
            class="profile-notify"
          />
          <img
            v-else
            src="/bp/assets/images/users/logodefaultuser.png"
            class="profile-pic"
          />
        </el-tooltip>
        <!-- <span class="displayName">{{ this.displayName }}</span> -->
      </a>
      <div
        class="dropdown-menu dropdown-menu-right animated flipInY"
        aria-labelledby="dropdown-profile"
      >
        <ul class="dropdown-user">
          <li role="separator" class="divider"></li>
          <li>
            <router-link to="/bp/profile/user"
              ><i class="ti-user"></i> Mon Profil</router-link
            >
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#" v-on:click="logout()"
              ><i class="fa fa-power-off"></i> Déconnexion
            </a>
            <form
              id="logout-form"
              action=""
              method="POST"
              style="display: none;"
            ></form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
export default {
  props: ["userImage", "displayName"],
  data() {
    return {
      planActionRef: firebase.firestore().collection("planAction"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      adminId: JSON.parse(localStorage.getItem("userSession")).adminId,
      summaryRef: firebase.firestore().collection("summary"),
      users: firebase.firestore().collection("users"),
      ref: firebase.firestore().collection("summary"),
      notifyRef: firebase.firestore().collection("notifications"),
      projettitre: JSON.parse(localStorage.getItem("userSession")).projettitre,
      username: JSON.parse(localStorage.getItem("userSession")).displayName,
      userId: JSON.parse(localStorage.getItem("userSession")).uid,
      profileUser: JSON.parse(localStorage.getItem("userSession")).profile,
      concoursId: JSON.parse(localStorage.getItem("userSession")).concoursId,
      notifyData: [],
      drawerOpen: false,
    };
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(function() {
          if (JSON.parse(localStorage.getItem("userSession")).concoursId) {
            let idconcours = JSON.parse(localStorage.getItem("userSession"))
              .concoursId;
            localStorage.clear();
            window.location.pathname = "/concours/login/" + idconcours;
          } else {
            localStorage.clear();
            window.location.pathname = "/";
          }
        })
        .catch(function(error) {
          alert(error);
        });
    },
    getNotifications() {
      //FIREBASE GET RECETTES

      this.notifyRef
        // where('adminId', '==',this.users.doc(this.currentUId)).
        .where("adminId", "==", this.users.doc(this.currentUId))
        .where("state", "==", false)
        .onSnapshot((querySnapshot) => {
          this.notifyData = [];
          querySnapshot.forEach(async (doc) => {
            let obj = await doc.data();
            obj.id = doc.id;
            if (obj.userId) {
              obj.userId.get().then((doc) => {
                obj.userData = doc.data();
                obj.projectId.get().then((docProject) => {
                  obj.projectData = docProject.data();
                  this.notifyData.push(obj);
                });
              });
            }
          });
        });
      //
    },
    changeState(id) {
      this.notifyRef
        .doc(id)
        .update({
          state: true,
        })
        .then(() => {
          this.$notify({
            title: "",
            message: "La notification a été archivée",
            position: "bottom-left",
          });
        })
        .catch(() => {});
    },
  },

  mounted() {
    // this.getNotifications()
  },
};
</script>
<style scoped>
.el-icon-message-solid {
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 10px;
}
.item {
  margin-top: 20px !important;
  margin-right: 40px !important;
}
.profile-notify {
  width: 30px;
  border-radius: 100%;
}
.user-name {
  font-size: 12px !important;
  padding-left: 5px;
  padding-top: 5px;
}
.el-card {
  margin-bottom: 10px !important;
}
.button-close {
  margin-top: 0px !important;
}

/* .popover{
        max-height: 25em;
        overflow-x: hidden;
    } */
.drawer-notify {
  /* overflow-x: hidden;   */
  overflow: auto !important;
}
</style>
