<template>
  <div v-if="projettitre" class="dropdown">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      data-hover="dropdown"
    >
      <h3 class="projettitre">
        <strong>{{ this.projettitre | capitalized }}</strong>
        <i class="mdi mdi-chevron-down"></i>
      </h3>
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown pull-center">
        <a @click="listProjet()" class="titreprojet" href="#"
          >TOUS LES PROJETS</a
        >
      </li>
      <li
        @click="selectProject(projet.id, projet.titre)"
        style="cursor: pointer"
        v-for="(projet, index) in userProjectList"
        :key="index"
        class="px-1 dropdown pull-right"
      >
        <a class="titreprojet" href="#"
          ><strong>{{
            projet.titre | cyb_txt_switch_split | capitalized
          }}</strong></a
        >
      </li>
    </ul>
  </div>
</template>

<script>
import firebase from "firebase";
import VueIntro from "vue-introjs";
import "intro.js/introjs.css";

export default {
  data() {
    return {
      userProjectList: [],
      projettitre: JSON.parse(localStorage.getItem("userSession")).denomination,
      username: JSON.parse(localStorage.getItem("userSession")).displayName,
      userId: JSON.parse(localStorage.getItem("userSession")).uid,
      memberRef: firebase.firestore().collection("membres"),
      summaryRef: firebase.firestore().collection("summary"),
      concoursRef: firebase.firestore().collection("concours"),
      users: firebase.firestore().collection("users"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      adminId: JSON.parse(localStorage.getItem("userSession")).adminId,
      profileUser: JSON.parse(localStorage.getItem("userSession")).profile,
      concoursId: JSON.parse(localStorage.getItem("userSession")).concoursId,
    };
  },
  methods: {
    getProjectByAdmin() {
      this.summaryRef
        .where("adminId", "==", this.currentUId)
        .get()
        .then((querySnapshot) => {
          this.projetsProg = [];
          querySnapshot.forEach((doc) => {
            let result = {
              id: doc.id,
              titre: doc.get("titre"),
              createdAt: doc.get("createdAt"),
            };
            this.userProjectList.push(result);
            //  console.log('projet',projet)
          });

          // console.log('Liste',this.projetsProg)
        });
    },
    getAssignProjects() {
      this.memberRef
        .where(
          "email",
          "==",
          JSON.parse(localStorage.getItem("userSession")).email
        )
        .where("confirm", "==", true)
        .get()
        .then((docSnaps) => {
          docSnaps.forEach((doc) => {
            if (doc.exists) {
              let projectId = doc.get("projectId");
              this.summaryRef
                .doc(doc.get("projectId"))
                .get()
                .then((doc) => {
                  if (doc.exists) {
                    this.users
                      .doc(doc.get("user"))
                      .get()
                      .then((userDoc) => {
                        if (userDoc.exists) {
                          this.shareProjectList = [];
                          if (userDoc.data().roleId) {
                            userDoc
                              .data()
                              .roleId.get()
                              .then((roleIddoc) => {
                                let objrole = roleIddoc.data().titre;
                                let result = {
                                  id: doc.id,
                                  titre: doc.get("titre"),
                                  etat: "Projet partagé",
                                  role: objrole,
                                  user: userDoc.data(),
                                  createdAt: doc.get("createdAt"),
                                  group: true,
                                };
                                this.userProjectList.push(result);
                              });
                          } else {
                            this.$loading().close();
                          }
                        } else {
                        }
                      });
                  } else {
                    console.log("bad");
                    throw new TypeError("Oups, ceci n'est pas du JSON !");

                    reject("Erreur");
                  }
                })
                .catch((err) => {
                  console.log("Error getting document", err);
                });

              // TODO: regler l'affichage de date avec la librairie date.js
            } else {
              // doc.data() will be undefined in this case
              //loader.hide();
              console.log("Doc dont exist!!!");
              return;
            }
            // TODO: sort projects by last modified data
          });
          //loader.hide();
        });
    },

    selectProject(id, titre) {
      let userSession = JSON.parse(localStorage.getItem("userSession"));
      userSession.projet = id;
      userSession.denomination = titre;
      userSession.projettitre = titre;

      localStorage.setItem("userSession", JSON.stringify(userSession));
      //this.$router.push('/bp/home');
      window.location.reload();
    },
    listProjet() {
      let userSession = JSON.parse(localStorage.getItem("userSession"));
      userSession.projet = "";
      userSession.projettitre = "";

      localStorage.setItem("userSession", JSON.stringify(userSession));

      if (JSON.parse(localStorage.getItem("userSession")).concoursId) {
        window.location.pathname = "/bp/soumission/projets";
      } else {
        window.location.pathname = "/bp/projets";
      }
    },
    getOwnProject() {
      this.summaryRef
        .where(
          "user",
          "==",
          JSON.parse(localStorage.getItem("userSession")).uid
        )
        .get()
        .then((docSnaps) => {
          docSnaps.forEach((doc) => {
            if (doc.exists) {
              let result = {
                id: doc.id,
                titre: doc.get("titre"),
                createdAt: doc.get("createdAt"),
              };

              this.userProjectList.push(result);
            } else {
              // doc.data() will be undefined in this case
              return;
            }
            // TODO: sort projects by last modified data
          });
        });
    },
  },

  created() {},
  mounted() {
    this.getOwnProject();
    this.getProjectByAdmin();
    this.getAssignProjects();
  },
};
</script>
<style></style>
