<template>
    <div>
        <div class="row header">
            <div class="col-12">
                <div :class="{ 'form-group--error': validations.titre.$error }">
                    <el-form-item label="Titre">
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" v-model="newVente.titre" :disabled="!model.titre" v-model.trim="validations.titre.$model">
                        </div>
                        <div class="error" v-if="validations.titre.$error">Ce champ est requis</div>
                    </el-form-item>
                </div>
            </div>
            <div class="col-xl-5 col-lg-12 col-12">
                <div :class="{ 'form-group--error': validations.prixTTC.$error }">
                    <el-form-item label="Prix Vente U.">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="newVente.prixTTC" :disabled="!model.prixTTC" v-model.trim="validations.prixTTC.$model">
                            <div class="input-group-prepend w-30">
                                <div class="input-group-text b-black w-100">TTC</div>
                            </div>
                        </div>
                        <div class="error" v-if="validations.prixTTC.$error">Ce champ est requis</div>
                    </el-form-item>
                </div>
                <div :class="{ 'form-group--error': validations.prixHT.$error }">
                    <el-form-item label="Prix vente">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="newVente.prixHT" :disabled="!model.prixHT" v-model.trim="validations.prixHT.$model">
                            <div class="input-group-prepend w-30">
                                <div class="input-group-text b-black w-100">HT</div>
                            </div>
                        </div>
                        <div class="error" v-if="validations.prixHT.$error">Ce champ est requis</div>
                    </el-form-item>
                </div>
                <el-form-item label="TVA">
                    <div :class="{ 'form-group--error': validations.tva.$error }">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="newVente.tva" :disabled="!model.tva" v-model.trim="validations.tva.$model">
                            <div class="input-group-prepend w-30">
                                <select id="" class="form-control">
                                    <option>20%</option>
                                    <option>18%</option>
                                    <option>9.5%</option>
                                    <option>5.5%</option>
                                </select>                               
                            </div>
                        </div>
                    </div>
                    <div class="error" v-if="validations.tva.$error">Ce champ est requis</div>
                </el-form-item>
                <el-form-item label="Coût variables / CA">
                    <div :class="{ 'form-group--error': validations.coutVariable.$error }">
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="FCFA" maxlength="20" v-model="newVente.coutVariable" :disabled="!model.coutVariable">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-exchange-alt"></i></div>
                            </div>
                            <input type="text" class="form-control pourcentage" placeholder="%" maxlength="8">
                        </div>
                    </div>
                    <div class="error" v-if="validations.coutVariable.$error">Ce champ est requis</div>
                </el-form-item>                    
            </div>
            <div class="col-xl-5 col-lg-12 col-12">
                <el-form-item label="Réf. Comptable">
                    <div :class="{ 'form-group--error': validations.refCompt.$error }">
                        <select id="" class="form-control" v-model="newVente.refCompt" :disabled="!model.refCompt">
                            <option value="701">701. Ventes de produits finis</option>
                        </select>
                    </div>
                    <div class="error" v-if="validations.refCompt.$error">Ce champ est requis</div>
                </el-form-item>
                <el-form-item label="Gamme">
                    <div :class="{ 'form-group--error': validations.gamme.$error }">
                        <select id="" class="form-control" v-model="newVente.gamme" :disabled="!model.gamme">
                            <option value="Gamme 1">Gamme 1</option>
                            <option value="Gamme 2">Gamme 2</option>
                        </select>
                    </div>
                    <div class="error" v-if="validations.gamme.$error">Ce champ est requis</div>
                </el-form-item>
                <el-form-item label="Description">
                    <div :class="{ 'form-group--error': validations.description.$error }">
                        <textarea rows="4" class="form-control" placeholder="Entrer une description" v-model="newVente.description" :disabled="!model.description"></textarea>
                    </div>
                    <div class="error" v-if="validations.gamme.$error">Ce champ est requis</div>
                </el-form-item>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['model', 'newVente', 'validations'],
    data() {
        return {
        }
    },
    methods: {
      
    },
}
</script>
<style>
    .form-group--error input, .form-group--error select, .form-group--error textarea{
        border: 2px solid #f04124;
        border-radius: 5px;
    }
    .form-group--error, .error{
        color: #f04124;
    }
    .el-radio__label{
        font-size: 21px;
    }
    @media (max-width: 576px) {
        .el-radio__label{
            font-size: 13px !important;
        }
        .el-form-item .el-form-item__label{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__label-wrap{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__content{
            margin-left: 0 !important;
        }
    }
</style>