<template>
    <div>
        <div class="row" id="section-2">
            <div class="col-12">
                <el-tabs type="border-card" :stretch="true">
                    <el-tab-pane label="Détails">
                        <div id="content-1">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-12">
                                            <p class="second-section text-center">Dimensions</p>
                                            <div class="content">
                                                <el-form-item label="Poids">
                                                <div class="input-group">
                                                        <input type="text" class="form-control" v-model="newVente.poids" :disabled="!model.poids">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>g</option>
                                                                <option>kg</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Longueur">
                                                    <div class="input-group mb-2">
                                                        <input type="text" class="form-control" v-model="newVente.longueur" :disabled="!model.longueur">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>cm</option>
                                                                <option>m</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Largeur">
                                                <div class="input-group mb-2">
                                                        <input type="text" class="form-control" v-model="newVente.largeur" :disabled="!model.largeur">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>cm</option>
                                                                <option>m</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Hauteur">
                                                    <div class="input-group mb-2">
                                                        <input type="text" class="form-control" v-model="newVente.hauteur" :disabled="!model.hauteur">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>cm</option>
                                                                <option>m</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Surface">
                                                <div class="input-group mb-2">
                                                        <input type="text" class="form-control" v-model="newVente.surface" :disabled="!model.surface">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>m²</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Volume">
                                                <div class="input-group">
                                                        <input type="text" class="form-control" v-model="newVente.volume" :disabled="!model.volume">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>m3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </el-form-item>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-12">
                                            <p class="text-center">BFR (Besoins en Fonds de Roulement)</p>
                                            <el-form-item label="Créance Client / CA">
                                            <div class="input-group mb-2">
                                                    <input type="text" class="form-control w-input" placeholder="FCFA" maxlength="20" v-model="newVente.client" :disabled="!model.client">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fa fa-exchange-alt"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control pourcentage" placeholder="%" maxlength="8" v-model="newVente.client" :disabled="!model.client">
                                                </div>
                                            </el-form-item>
                                            <el-form-item label="Stock Global / CA">
                                            <div class="input-group mb-2">
                                                    <input type="text" class="form-control w-input" placeholder="FCFA" maxlength="20" v-model="newVente.stock" :disabled="!model.stock">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fa fa-exchange-alt"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control pourcentage" placeholder="%" maxlength="8" v-model="newVente.stock" :disabled="!model.stock">
                                                </div>
                                            </el-form-item>
                                            <el-form-item label="Fournisseur / CA">
                                            <div class="input-group mb-2">
                                                    <input type="text" class="form-control w-input" placeholder="FCFA" maxlength="20" v-model="newVente.fournisseur" :disabled="!model.fournisseur">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fa fa-exchange-alt"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control pourcentage" placeholder="%" maxlength="8" v-model="newVente.fournisseur" :disabled="!model.fournisseur">
                                                </div>
                                            </el-form-item>
                                            <p class="text-center">Typologie</p>
                                            <el-form-item label="Famille">
                                                <select id="" class="form-control" v-model="newVente.famille" :disabled="!model.famille">
                                                
                                                </select>
                                            </el-form-item>
                                            <el-form-item label="Type">
                                                <select id="" class="form-control" v-model="newVente.type" :disabled="!model.type">
                                                
                                                </select>
                                            </el-form-item>
                                            <el-form-item label="Nature">
                                                <select id="" class="form-control" v-model="newVente.nature" :disabled="!model.nature">
                                                
                                                </select>
                                            </el-form-item>
                                        </div>
                                        <div class="col-12">
                                            <p class="second-section">Informations</p>
                                            <el-form-item label="Notes">
                                                <textarea rows="2" class="form-control" v-model="newVente.notes" :disabled="!model.notes"></textarea>
                                            </el-form-item>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <!-- catégorie tarifaire -->
                    <el-tab-pane label="Catégories Tarifaires">
                    </el-tab-pane>
                    <el-tab-pane label="Fournisseurs">
                    </el-tab-pane>
                    <el-tab-pane label="Documents">
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['model', 'newVente'],
    data() {
        return {
            plus: false,
        }
    },
    methods: {
         async hideSection() {
            this.plus = !this.plus;
            $("#content-1").toggle()
            $("#content-2").toggle()
            $("#content-3").toggle()
            $("#content-4").toggle()
        },
    },
}
</script>
<style>
.titre{
    color: rgb(79, 147, 236);
}
.text-muted{
    font-style: italic;
}
.titre-footer{
    color: orange;
}
td, th{
    border: 1px solid #ffff !important;
}
th{
    background-color: #409eff !important;
    color: #ffff !important;
    text-align: center !important;
}
.itail{
    font-size: 20px !important;
    cursor: pointer !important;
}
</style>