<template>
    <apexchart :type="type" width="100%" height="350" :options="options" :series="series" />    
</template>

<script>
    import Vue from 'vue'
    import VueApexCharts from 'vue-apexcharts'    
    import { isNullOrUndefined } from 'util'
    // import apex types
    import ApexAnnotations from './ApexAnnotations'
    import ApexChart from './ApexChart'
    import ApexDataLabels from './ApexDataLabels'
    import ApexFill from './ApexFill'
    import ApexGrid from './ApexGrid'
    // import ApexLegend from './ApexLegend'
    import ApexMarkers from './ApexMarkers'
    import ApexNoData from './ApexNoData'
    import ApexPlotOptions from './ApexPlotOptions'
    import ApexResponsive from './ApexResponsive'
    import ApexStates from './ApexStates'
    import ApexStroke from './ApexStroke'
    import ApexTitle from './ApexTitle'
    import ApexSubTitle from './ApexSubTitle'
    import ApexTheme from './ApexTheme'
    import ApexTooltip from './ApexTooltip'
    import ApexXAxis from './ApexXAxis'
    import ApexYAxis from './ApexYAxis'
    Vue.use(VueApexCharts);

    export default {
        components: {
            apexchart: VueApexCharts
        },
        props: {
            type:{
                type: String,
                required: true,
                default: "line"
            },
            series:{
                type: Array,
                required: true,
                // default: 100
            },
            width:{
                type: Number,
                required: true,
                default: 100
            },
            height:{
                type: Number,
                required: true,
                default: 350
            },
            options:{
                type: Object,
                required: true,
                // default: this.chartOptions
            },
            seuil: {
                type: Number,
                required: true,
                defaut: 0
            },
            pointMort: {
                type: Number,
                required: true,
                default: 0
            },
            annee: {
                type: Number,
                required: true,
                default: 0
            },
        },
        data(){
            return {
                chartOptions: {
                    annotations: {
                        "position": 'front',
                        xaxis:[], yaxis: [],
                        points: [], texts:[],
                        shapes:[]
                    },
                    // chart: ApexChart,
                    colors: [],
                    //dataLabels: ApexDataLabels,
                    //fill: ApexFill,
                    //grid: ApexGrid,
                    labels: [],
                    //legend: ApexLegend,
                    //markers: ApexMarkers,
                    //noData: ApexNoData,
                    //plotOptions: ApexPlotOptions,
                    // responsive: ApexResponsive,
                    series: [], // ApexAxisChartSeries, // | ApexNonAxisChartSeries
                    //states: ApexStates,
                    //stroke: ApexStroke,
                    //subtitle: ApexSubTitle,
                    // theme: ApexTheme,
                    //title: ApexTitle,
                    //tooltip: ApexTooltip,
                    xaxis: [], // ApexXAxis,
                    yaxis: [] // ApexYAxis
                }
            }
        },
        computed: {
            YAnnotationSeuilRentabilite: {
                get: function(){
                    return {
                        y: this.seuil,
                        borderColor: '#FFFF00',
                        label: {
                            borderColor: '#00E396',
                            style: {
                            color: '#fff',
                            background: '#00E396'
                            },
                            text: 'Seuil de rentabilité'
                        }
                    }
                }
            },
            XAnnotationPointMort: {
                get: function(){
                    return {
                        x: this.pointMort,
                        borderColor: '#00E396',
                        label: {
                            borderColor: '#00E396',
                            style: {
                                color: '#fff',
                                background: '#00E396'
                            },
                            orientation: 'horizontal',
                            text: 'Point Mort'
                        }
                    }
                }
            }
        },
        methods: {
            colorisePointMort: function({ value, seriesIndex, w }, pointMort) {
                if(pointMort == 0) {
                    if(seriesIndex == 0) {
                        return '#00E396'
                    } else return '#008FFB'
                } else {
                    if(seriesIndex + 1 == pointMort) {
                        return '#00E396'
                    } else return '#008FFB'
                }
            },
        },
        mounted() {
            console.log('created');
            this.options["labels"] = [];
            for(let i = 0; i<this.series[0].length; i++) {
                this.options.labels.push( "Mois "+ (i+1));
            }

            this.options["labels"] = [];
            this.options['xaxis'] = {"categories":[], "type": 'category'};
            this.series.forEach( (item, index) => {
                // this.options.labels.push( "Mois "+ (index+1));
                this.options.xaxis.categories.push( "Mois "+ (index+1));
            });
            console.log('before annotations');
            this.$apexcharts.exec(this.options.chart.id,'updateOptions', this.options);
            /*
            this.$apexcharts.exec(this.options.chart.id,'addXaxisAnnotation', this.XAnnotationPointMort, false);
            this.$apexcharts.exec(this.options.chart.id,'addYaxisAnnotation', this.YAnnotationSeuilRentabilite, false);
            */
            // chart.updateOptions();
            console.log('after annotations');

        }
    }
</script>

<style scoped>

</style>