<template>

    <div class="tab-pane" id="settings" role="tabpanel">
        <div class="card-body">
            <form class="form-horizontal form-material">
                <div class="form-group">
                    <label class="col-md-12">Nom</label>
                    <div class="col-md-12">
                        <input type="text" v-model="user.nom" class="form-control form-control-line">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Prénom</label>
                    <div class="col-md-12">
                        <input type="text" v-model="user.prenom" class="form-control form-control-line">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-12">Téléphone</label>
                    <div class="col-md-12">
                        <input type="text" v-model="user.telephone" class="form-control form-control-line">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-email" class="col-md-12">Email</label>
                    <div class="col-md-12">
                        <input type="email" readonly v-model="user.email" class="form-control form-control-line" name="example-email" id="example-email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Mot de passe</label>
                    <div class="col-md-12">
                        <input type="password" readonly value="password" class="form-control form-control-line">
                    </div>
                </div>
                                  
                                   
                                 
                                  
                            
                <div class="form-group">
                    <div class="col-sm-12">
                        <el-button type="success" @click="updateUser()">Mise à Jour</el-button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</template>
    <script>
    /**IMPORT */


    export default{


        data(){
            return{
                user:{
                    nom:this.$route.params.user.first_name,
                    prenom:this.$route.params.user.last_name,
                    email:this.$route.params.user.email,
                    telephone:this.$route.params.user.telephone,
                },    
            }
        },
    
        methods:{
            
                updateUser(){
                this.$emit('updatePerson',this.user)
                }
        }


    }
    </script>
