<template>
    <div>               
        <el-card class="box-card mt-3">
            <el-form ref="form" :model="form" label-width="80px">
                <div class="row">
                    <div class="col-xl-10 col-lg-10">
                    <el-form-item label="Affecté à:">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text material-icons-outlined" id="basic-addon2">person</span>                                                               
                            </div>
                            <select id="" class="form-control" >
                                <option value="affecte">Simplice.cyberschool@gmail.com</option>
                                <option value="affecte">Max.cyberschool@gmail.com</option>
                            </select>
                        </div>
                    </el-form-item>
                    </div>
                    <div class="delete col-xl-2 col-lg-2 col-12 no-pad-l image d-flex justify-content-end">
                        <el-avatar :size="40" :fit="cover">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrYHc57LnHHNxETIprMqp_bbygXAwPddl6Yw&usqp=CAU" class='img-client img-responsive'>
                        </el-avatar>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <el-form-item label="Crée par:">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text material-icons-outlined" id="basic-addon2">person</span>                                                               
                                </div>
                                <select id="" class="form-control" >
                                    <option value="401">Max MANAKAKA</option>
                                    <option value="402">Perez</option>
                                </select>
                            </div>
                        </el-form-item>
                        <el-form-item label="Priorité:">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text material-icons-outlined" id="basic-addon2">north_east</span>                                                               
                                </div>
                                <select id="" class="form-control" >
                                    <option value="401">Elévé</option>
                                    <option value="402">Stable</option>
                                </select>
                            </div>
                        </el-form-item>
                        <el-form-item label="Budget:">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text material-icons-outlined" id="basic-addon2">account_balance_wallet</span>                                                               
                                </div>
                                <input type="number" class="form-control" placeholder="2000" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </el-form-item>
                        <el-form-item  label="Début:">
                        <div class="d-flex justify-content-between align-items-center">
                            <el-date-picker                                                        
                            placeholder="Date 08/06/15"
                            width="500px"
                            v-model="value1"
                            type="date">
                            </el-date-picker>
                            <i class="ic-date el-icon-date"></i>
                        </div>
                        </el-form-item>
                        <div class="side-bar">
                            <el-form-item label="Fin :">
                                <div class="d-flex justify-content-between align-items-center">
                                    <el-date-picker                                                        
                                    placeholder="Date 08/06/15"
                                    width="500px"
                                    v-model="value1"
                                    type="date">
                                    </el-date-picker>
                                    <i class="ic-date el-icon-date"></i>
                                </div>
                            </el-form-item>
                                <el-form-item label="Réalisation:" label-width="92px">
                                    <div class="row">
                                        <div class="col-xl-8">
                                            <el-col class="time-progres">
                                                <el-progress :text-inside="true" :stroke-width="26" :percentage="70" status="success" class="progres"></el-progress>
                                            </el-col>
                                        </div>
                                    </div>
                            </el-form-item>
                        </div>
                    </div>
                </div>
            </el-form>                                      
        </el-card>                       
    </div>                    
</template>
<script>
</script>
<style scoped>
   .material-icons-outlined{
        background-color: #C7CD79;
        color: #fff;
        padding: 6px 8px;
        margin: 0;
    }
    .el-form-item {
        margin-bottom: 6px !important;
    }
</style>