<template>
  <div>
    <el-form ref="form" label-width="0px">
      <div class="d-flex flex-column"  v-if="
            $store.state.agilite.mode == 'creation' ||
              $store.state.agilite.mode == 'modification'
          ">
        <div class="d-flex flex-row  ">
            <typeReservation
              :style="{ backgroundColor: couleur }"
              :couleur="couleur"
            ref="typeReservation"
            />
            <titreDemandeReservation
            ref="titreDemandeReservation"
            />
      </div>
      <div class="d-flex flex-row  justify-content-between" >
        <div class="d-flex flex-column h-25 "
        >
          <el-form-item label="">
            <div class="margebas">Début</div>
            <el-col :span="11">
              <el-date-picker
                type="date"
                placeholder="Date "
                format="dd/MM/yyyy"
                @change="$emit('choixDateDebut:dateDebut', $event)"
                v-model="form.dateDebut"
                :default-value="new Date()"
                style="width: 100%;marginTop:1"
              >
              </el-date-picker>
            </el-col>
            <el-col :span="11">
              <el-time-picker
                placeholder="Heure"
                @change="$emit('choixHeureDebut:heureDebut', $event)"
                v-model="form.heureDebut"
                style="width: 100%;"
              ></el-time-picker>
            </el-col>
          </el-form-item>
          <el-form-item label="">
            <div class="margebas">Fin</div>
            <el-col :span="11">
              <el-date-picker
                type="date"
                placeholder="Date"
                format="dd/MM/yyyy"
                @change="$emit('choixDateFin:dateFin', $event)"
                :default-value="new Date()"
                v-model="form.dateFin"
                style="width: 100%;"
              ></el-date-picker>
            </el-col>
            <el-col :span="11">
              <el-time-picker
                placeholder="Heure"
                @change="$emit('choixHeureFin:heureFin', $event)"
                v-model="form.heureFin"
                style="width: 100%;"
              >
              </el-time-picker>
            </el-col>
          </el-form-item>
        </div>
          <div class="d-flex content-ttcc shadow flex-row" >
            <div class="d-flex flex-row montant align-items-center">
              <p class=" p-2 text-secondary">TOTAL (TTC): </p>
              <div class="p-2">
                <strong>
                  <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="
                      currentCurrencyMask['currency-symbol-position']
                    "
                    :min="0"
                    :minus="true"
                    :empty-value="0"
                    :precision="0"
                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                    :thousand-separator="
                      currentCurrencyMask['thousand-separator']
                    "
                    :read-only="true"
                    :value="totalAchat"
                    class="form-control  p-1 fs-3 align-middle  text-start"
                  ></vue-numeric>
                </strong>
              </div>
            </div>
            <!-- <div class=" col-7">
              <p class=" p-2 text-secondary">Durée</p>
              <div class="row border-top p-1">
                <div class="col  p-1 fs-3 montant align-middle text-start">
                
                </div>
                <el-divider direction="vertical"></el-divider>
                <div class="col  p-1 fs-3 montant align-middle text-start">
              
                </div>
              </div>
            </div> -->
          </div>
      </div>
      </div>
      <div class="d-flex flex-row justify-content-between"  v-if="$store.state.agilite.mode == 'affichage'">
        <div
          class="d-flex flex-column h-25 "
         
        >
          <div class="d-flex mb-3 justify-content-between">
            <div class="margebas mt-2 mt-2 fw-bolder ">Début</div>
            <div class="mt-2 ">
              {{
                new Date($store.state.agilite.task.dateDebut.seconds * 1000)
                  | moment("Do MMMM YYYY")
              }}
            </div>
            <div class="ms-2 mt-2 ">
              {{
                new Date($store.state.agilite.task.heureDebut.seconds * 1000)
                  | moment("H:MM:SS")
              }}
            </div>
          </div>
          <div class="d-flex mt-4 justify-content-between">
            <div class="margebas mt-2 fw-bolder ">Fin</div>
            <div class="mt-2 ">
              {{
                new Date($store.state.agilite.task.dateFin.seconds * 1000)
                  | moment("Do MMMM YYYY")
              }}
            </div>
            <div class="ms-2 mt-2 ">
              {{
                new Date($store.state.agilite.task.heureFin.seconds * 1000)
                  | moment("H:MM:SS")
              }}
            </div>
          </div>
        </div>
        <div class="d-flex content-ttcc shadow flex-row">
          <div class="col-5  border--end">
            <p class=" p-2 text-secondary">TOTAL (TTC)</p>
            <div class="row border-top  montant p-2">
             
              <strong>
                <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="
                    currentCurrencyMask['currency-symbol-position']
                  "
                  :min="0"
                  :minus="true"
                  :empty-value="0"
                  :precision="0"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="
                    currentCurrencyMask['thousand-separator']
                  "
                  :read-only="true"
                  :value="totalAchat"
                  class="form-control  p-1 fs-3 align-middle  text-start"
                ></vue-numeric>
              </strong>
            </div>
          </div>
          <!-- <div class=" col-7">
            <p class=" p-2 text-secondary">Durée</p>
            <div class="row border-top p-1">
              <div class="col  p-1 fs-3 montant align-middle text-start">
               
              </div>
              <el-divider direction="vertical"></el-divider>
              <div class="col  p-1 fs-3 montant align-middle text-start">
             
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </el-form>
  </div>
</template>
<script>
import typeReservation from "../reservationCourrier/typeReservation";
import titreDemandeReservation from "../reservationCourrier/titreDemandeReservation";
import VueNumeric from "vue-numeric";
import monnaies from "../../../mixins/currenciesMask";
// import action from "../../mixins/admin/actionPlan.js";
import { VueEditor, Quill } from "vue2-editor";
export default {
  name: "contentReservationLeft",
  mixins: [monnaies],
  props: {
    totalAchat: {
      type: Number,
      default: 0,
    },
  },
  // mixins: [ action],
  components: {
    VueEditor,
    VueNumeric,
    typeReservation,
    titreDemandeReservation
    // headerTicket
  },
  name: "contentLeftSort",
  data() {
    return {
      form: {
        dateDebut: "",
        heureDebut: "",
        dateFin: "",
        heureFin: "",
      },
    };
  },
  // mounted() {
  //   // this.ticketId = firebase.firestore.FieldValue.serverTimestamp();
  //   switch (this.$store.state.agilite.mode) {
  //     case "modification":
  //       this.form.dateDebut = new Date(
  //         this.$store.state.agilite.task.dateDebut.seconds * 1000
  //       );
  //       this.form.dateFin = new Date(
  //         this.$store.state.agilite.task.dateFin.seconds * 1000
  //       );
  //       break;

  //     default:
  //       break;
  //   }
  // },
};
</script>
<style scoped>
/* .quillWrapper{
        border: .1px solid #f4caa5  !important;
    }
    .ql-container.ql-snow {
        border: .1px solid #f4caa5  !important;
    }
    .comment .ql-editor{
        min-height: 90px !important;    
    }
    .comment1 .ql-editor{
        min-height: 62px !important;    
    }
    .quillWrapper .ql-snow.ql-toolbar {
        border: 1px solid #fff4ea !important;
        background: #fff4ea !important;        
    }   
    .ic-date {
        font-size: 2rem;
        color: #d98238;
    } */
.material-icons-outlined {
  background-color: #c7cd79;
  color: #fff;
  padding: 6px 8px;
  margin: 0;
}
.el-form-item {
  margin-bottom: 6px !important;
}
.content-ttc {
  background: darkgray;
  height: 50% !important;
  width: 90% !important;
  color: #fff;
  margin-left: 40px !important;
  font-size: 14px;
  font-weight: bold;
  background: #c7cd79;
  margin-top: 20px !important;
}
.content-ttcc {
  background: darkgray;
  height: 60% !important;
  width: 60% !important;
  color: #fff;
  margin-left: 60px !important;
  font-size: 14px;
  font-weight: bold;
  background: #c7cd79;
  margin-top: 21px !important;
}
.margebas {
  font-size: 12px !important;
  height: 20% !important;
  margin-bottom: -13px !important;
  margin-top: -11px !important;
}
.total-ttc {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px !important;
}
.montant {
  /* text-align: left; */
  height: 70% !important;
  font-size: 18px !important;
  padding: 20px !important;
}

</style>
