<template>
    <div>   
        <h4> Offre à location faisans suite à la demande</h4>
        <div class="row">
            <div class="col-12 col-xl-12 col-lg-12 col-md-12" >
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Réf</th>
                            <th>Article</th>
                            <th>Images</th>
                            <th >Début</th>  
                            <th>Fin</th>
                            <th>Quantité</th>
                            <th>PrixU TTC</th>
                            <th>TOTAL TTC</th>
                            <th>Commentaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SGP-1</td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>1248</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>001841</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>PRESIDENCE</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>PRIMATURE</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <el-date-picker                                                        
                                    placeholder="Date 08/06/15"
                                    width="500px"
                                    v-model="value1"
                                    type="dates">
                                    </el-date-picker>
                                    <!-- <i class="ic-date el-icon-date"></i> -->
                                </div>
                            </td>
                             <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <el-date-picker                                                        
                                    placeholder="Date 08/06/15"
                                    width="500px"
                                    v-model="value1"
                                    type="dates">
                                    </el-date-picker>
                                    <!-- <i class="ic-date el-icon-date"></i> -->
                                </div>
                            </td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <select class="form-control " id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                     <div class="col-xl-4 col-lg-4 col-5 mt-2">                                            
                        <el-button slot="trigger" size="small" type="primary"><i class="el-icon-plus"></i></el-button>
                    </div>
            </div>
        </div>              
    </div>
</template>
<script>
</script>
<style scoped>
  .table td, .table th {
        padding: 0.50rem;
    }
    .selection .custom-select{
        background: none !important;
    }
    .table {
        margin-bottom: 0 !important;
    }
    .table thead{
        width: 100% !important;
    }
   .table thead th, .table th{
       border: 1px solid #C7CD79;
       color: #fff !important;
       background: #C7CD79 !important;
       padding: 10px 15px;
       font-size: 1rem !important;
       text-align: center !important;
   }
    .table tbody tr td{
        border: 1px solid #C7CD79;
        padding: 5!important;
    }
    .form-control {
         border: 1px solid #C7CD79 !important;

    }
    .selection .custom-select{
        background: none !important;
    }    
    .ic-date {
        font-size: 2rem;
        color: #C7CD79;
    }
</style>