<template>
  <div>
    <el-form>
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="marge-bot">{{ label + " :" }}</div>
        <el-form-item>
          <div class="input-group">
            <div class="input-group-append">
              <span
                  :style="
                    errorObjet
                      ? { backgroundColor: 'red' }
                      : { backgroundColor: couleur }
                  "
                class="material-icons-outlined"
                >radar</span
              >
            </div>
            <!-- mode création -->
            <input
              v-if="
                  $store.state.agilite.mode == 'creation' ||
                    $store.state.agilite.mode == 'modification'
                "
            
            
              @input="$emit('update:objetCourrier', $event.target.value)"
              type="text"
              v-model="objet"
              class="form-control"
              placeholder="------ Saisir l'objet de votre courrier  -----"
              aria-label="Username"
              aria-describedby="basic-addon1"
              :class="{' border border-danger ': errorObjet}"
            />
            <!-- mode affichage -->
              <span
                  class="ml-2"
                  v-else-if="$store.state.agilite.mode == 'affichage'"
                >
                  <strong>{{ $store.state.agilite.task.objet }}</strong>
              </span>
          </div>
              <span v-if="errorObjet" :style="{color: activeColor}"></span> 
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>
<script>
export default {
  name: "objetCourrierEntrant",
  props: {
    couleur: {
      default: "#d98238",
    },
    errorObjet:{
      default: false,
      type:Boolean,
    },
    objet: {
      default: "",
      type: String,
    },
    label: {
      default: "",
      type: String,
    },
  },
  data() {
    return {
      // activeColor:"red",
      objet: "",
    };
  },
  computed: {
    // idSummarySelected: (state) => state.agilite.idSummarySelected,
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/initData", value);
        console.log("TEST", this.$store.state.agilite.idSummarySelected);
      },
    },
  },
  methods: {},
  mounted() {
    this.$emit("update:idSummarySelected", this.idSummarySelected);
    // console.log("TEST", this.$store.state.agilite.idSummarySelected);
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.objet = this.$store.state.agilite.task.objet;
        // this.dates.dateCourrier = this.$store.state.agilite.task.dateCourrier;
        // this.numCourrier = this.$store.state.agilite.task.num;

        break;

      default:
        break;
    }
  },
};
</script>
<style scoped>
.marge-bot {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
</style>
