<template>
  
     <div class="w-75">
                <el-input placeholder="--Titre de votre demande--" v-model="input"></el-input>
            </div>
 
</template>
<script>


export default {
  name: "titreDemandeReservation",
  

};
</script>

<style scoped>

</style>
