<template>
  
    <div class=" d-flex flex-row mb-3 w-25 " >
        <span
             class="material-icons-outlined rounded-start"
             >date_range</span
           >
          <el-select class="" v-model="value" placeholder="Réservation">
         <el-option
           v-for="item in options"
           :key="item.value"
           :label="item.label"
           :value="item.value">
         </el-option>
       </el-select>
      </div>
  
</template>
<script>


export default {
 

  props: {
    couleur: {
      default: "#000",
    },
  },
  name: "typeReservation",
  

};
</script>

<style scoped>

</style>
