<template>
  <div class="page-wrapper">
    <!-- <img src="/site/img/bp1.jpg"> -->
    <div
      v-if="groupProgram.idIncubateur == 'UxyEQvKsf8Y3L87rpdimtc6dLbl2'"
      id="cm-blured-box"
      class="full-width-box"
      style="height: 350px !important;"
    >
      <div
        class="fwb-bg fwb-blur"
        style="height: 350px ; background-image: url('/site/img/jes.jpg'); opacity:1"
      >
        <div class="overlay"></div>
      </div>

      <div class="container" style="height: 250px !important;">
        <div class="row" style="height: 250px !important;">
          <div
            class="content-box col-sm-7 col-md-7"
            style="height: 250px !important;margin:0 !important;"
          ></div>
          <div class="images-box col-sm-5 col-md-5">
            <!-- <img src="content/img/blur.png" style="height: 200px !important;width: 350px;"> -->
          </div>
        </div>
      </div>
    </div>
    <!-- .full-width-box -->
    <div class="container-fluid pl-5">
      <div class="row page-titles">
        <el-row :gutter="10">
          <el-col :xs="6" :sm="4" :md="4" :lg="4" :xl="4">
            <img
              :src="'data:image/png;base64,' + incubateurLogo"
              alt=""
              class="profile-notify"
            />
          </el-col>
          <el-col :xs="18" :sm="20" :md="20" :lg="20" :xl="20">
            <div class="title-container">
              <h6 class="text-themecolor title-font-size">
                <b>{{ this.incubateurName }}</b>
              </h6>
              <h6 class="text-themecolor title-font-size">
                Téléphone : {{ this.incubateurPhone }}
              </h6>
              <h6 class="text-themecolor title-font-size">
                Email : {{ this.incubateurEmail }}
              </h6>
            </div>
          </el-col>
        </el-row>

        <!-- <div class="col-md-12">
                <ol class="breadcrumb mr-3 py-2">
                              
                    <li class="breadcrumb-item">
                        <router-link :to="'/programs/all/'+this.$route.params.id">Tous les programmes</router-link>
                    </li>
                </ol>
            </div> -->
      </div>
      <el-tabs v-model="activeName">
        <el-tab-pane>
          <div slot="label" class="tabLink">
            <h3 class="hidden-xs-down title"
              ><i class="el-icon-menu"></i> <strong>{{ this.groupProgram.titre }}</strong> </h3
            >
          </div>
          <div class="row">
            <div
              class="col-lg-3 col-md-3"
              v-for="(concours, index) in tousLesConcours"
              :key="index"
            >
              <!-- Card -->
              <div class="card border-style hvr-glow">
                <div v-if="isLoading">
                  <el-skeleton :loading="isLoading" animated>
                    <template slot="template">
                      <div class="card-img-top img-responsive">
                        <el-skeleton-item
                          variant="image"
                          style="height: 250px;"
                        />
                      </div>
                    </template>
                  </el-skeleton>
                </div>
                <img
                  v-show="!isLoading"
                  class="card-img-top img-responsive"
                  :src="concours.logoConcours"
                  alt="Card image cap"
                  @load="loaded"
                />

                <div class="card-body">
                  <h6
                    class="card-title ellipsis"
                    :title="concours.libelleConcours"
                  >
                    <strong>{{ concours.libelleConcours }}</strong>
                  </h6>
                  <div
                    class="card-text"
                    :inner-html.prop="
                      concours.descriptionConcours | reduceParagraphLength
                    "
                  >
                    <p>{{ concours.descriptionConcours }}</p>
                  </div>
                  <div class="mt-2"
                    v-if="concoursDatas.adminId=='CCCCGGQJQIIU'"
                  >
                    <span>
                      <strong><i class="mdi mdi-clock"></i> Début :</strong>
                      {{ concours.dateConcours[0].slice(0, 15) }}
                    </span>
                    <br />
                    <span>
                      <strong> <i class="mdi mdi-clock"></i> Fin :</strong>
                      {{ concours.dateConcours[1].slice(0, 15) }}
                    </span>
                    <br />

                    <strong style="color:#007bff">
                      <i class="mdi mdi-account-multiple"></i> Inscrits :

                      {{ concours.nbParticipantsInscris.length }}
                    </strong>
                    <br />
                    <span style="color:red">
                      <i class="mdi mdi-alert"></i> Places limitées!</span
                    >
                  </div>
                  <p
                    v-if="
                      groupProgram.idIncubateur !=
                        'UxyEQvKsf8Y3L87rpdimtc6dLbl2' &&
                        concours.id == 'sdxpFdX8nvZjtOjukacP'
                    "
                  >
                    <span
                      v-if="
                        concours.nbParticipantsInscris.length ==
                          concours.participants ||
                          concours.nbParticipantsInscris.length >
                            concours.participants
                      "
                      class="font-weight-bold"
                      style="color:red;"
                    >
                      inscriptions terminées</span
                    >
                    <span v-else class="font-weight-bold" style="color:#455a64;"
                      >{{ concours.nbParticipantsInscris.length }}/{{
                        concours.participants
                      }}
                      participants</span
                    >
                  </p>
                  <p v-else>
                    <span
                      v-if="concours.id == 'slheCKXIhN9Uwc3hG5wD'"
                      class="font-weight-bold"
                      style="color:red;"
                      >Inscriptions terminées!!</span
                    >
                    <span
                      v-else-if="concours.id == 'AvYXQ96GFxx0P8WnhHzw'"
                      class="font-weight-bold"
                      style="color:red;"
                      >Inscriptions terminées!!!!</span
                    >
                  </p>

                  <el-row
                    v-if="
                      groupProgram.idIncubateur ==
                        't4IuXuA2jOdO5pqprBgAgGG0cLj1'
                    "
                    :gutter="1"
                  >
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                      <el-button
                        v-if="concours.typeProgram == 'autreProgram'"
                        class="condition"
                        size="small"
                        @click="accesAutreProgramRegister(concours.id)"
                        type="success"
                      >
                        Inscription
                      </el-button>
                    </el-col>

                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                      <el-button
                        class="button"
                        size="small"
                        type="primary"
                        @click="loadConditions(concours)"
                        ><span>Détails</span></el-button
                      >
                    </el-col>
                  </el-row>
                  <el-row
                    v-else-if="
                      groupProgram.idIncubateur ==
                        'UxyEQvKsf8Y3L87rpdimtc6dLbl2'
                    "
                    :gutter="1"
                  >
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                      <el-button
                        v-if="concours.typeProgram == 'autreProgram'"
                        class="condition"
                        size="small"
                        @click="accesAutreProgramRegister(concours.id)"
                        type="success"
                      >
                        Réservation
                      </el-button>
                    </el-col>

                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                      <!-- <el-button class="button" size="small" type="primary" ><span>Connexion</span></el-button> -->
                      <el-button
                        class="button"
                        size="small"
                        type="primary"
                        @click="loadConditions(concours)"
                        ><span>Détails</span></el-button
                      >
                    </el-col>
                  </el-row>
                  <el-row v-else>
                    <el-col
                      v-if="
                        concours.nbParticipantsInscris.length ==
                          concours.participants ||
                          concours.nbParticipantsInscris.length >
                            concours.participants
                      "
                      :xs="6"
                      :sm="6"
                      :md="6"
                      :lg="6"
                      :xl="6"
                    >
                      <!-- <el-button class="button" size="small" type="primary" ><span>Connexion</span></el-button> -->
                      <el-button
                        v-if="concours.typeProgram == 'businessPlan'"
                        class="button"
                        size="small"
                        type="primary"
                      >
                        <router-link :to="'/concours/login/' + concours.id"
                          ><b>Connexion</b></router-link
                        ></el-button
                      >
                    </el-col>
                    <el-button
                      class="button"
                      size="small"
                      type="success"
                      @click="loadConditions(concours)"
                      ><span>Détails</span></el-button
                    >
                  </el-row>

                  <!-- <router-link :to="'/concours/login/'+concours.id" class="text-info m-l-5"><el-button size="small" type="primary" >Connexion</el-button></router-link> -->
                </div>
              </div>
              <!-- Card -->
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- MODALE -->
    <el-dialog :visible.sync="centerDialogVisible" width="80%" center>
      <el-dialog
        width="40%"
        :title="concoursDatas.libelleConcours"
        :visible.sync="innerVisible"
        append-to-body
      >
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="body-text card-body">
                <div class="form-group ">
                  <div class="col-xs-12">
                    <el-input
                      placeholder="Nom"
                      v-model="participant.first_name"
                    ></el-input>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    <el-input
                      placeholder="Prénom"
                      v-model="participant.last_name"
                    ></el-input>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    <el-input
                      placeholder="Numéro ONE"
                      v-model="participant.numOne"
                    ></el-input>
                  </div>
                </div>
                <div class="form-group ">
                  <el-row :gutter="10">
                    <el-col :span="14">
                      <div class="grid-content">
                        <el-date-picker
                          type="date"
                          format="dd MMMM yyyy"
                          placeholder="Date de naissance"
                          v-model="participant.dateNaissance"
                        ></el-date-picker>
                      </div>
                    </el-col>
                    <el-col :span="10">
                      <div class="grid-content">
                        <el-select
                          v-model="participant.sexe"
                          placeholder="Sexe"
                        >
                          <el-option
                            v-for="item in sexe"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                          >
                          </el-option>
                        </el-select></div
                    ></el-col>
                  </el-row>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    <el-input
                      placeholder="Téléphone"
                      v-model="participant.telephone"
                    ></el-input>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    <el-input
                      placeholder="Email"
                      v-model="participant.email"
                    ></el-input>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12 residence">
                    <span>Lieu de Résidence:</span>
                  </div>
                  <el-row :gutter="20">
                    <el-col :span="8">
                      <div class="grid-content">
                        <el-select
                          @change="getProvince"
                          v-model="participant.province"
                          placeholder="Province"
                        >
                          <el-option
                            v-for="item in province"
                            :key="item.code"
                            :label="item.libelle"
                            :value="item.id"
                          >
                          </el-option>
                        </el-select>
                      </div>
                    </el-col>
                    <el-col :span="8">
                      <div class="grid-content">
                        <el-select
                          :loading="this.loadingData"
                          v-model="participant.ville"
                          placeholder="Ville"
                        >
                          <el-option
                            v-for="item in ville"
                            :key="item.value"
                            :label="item.libelle"
                            :value="item.id"
                          >
                          </el-option>
                        </el-select>
                      </div>
                    </el-col>
                    <el-col :span="8">
                      <div class="grid-content">
                        <el-input
                          placeholder="Quartier"
                          v-model="participant.quartier"
                        ></el-input></div
                    ></el-col>
                  </el-row>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pb-5">
          <div class="float-right">
            <span slot="footer" class="dialog-footer">
              <el-button @click="innerVisible = false">Fermer</el-button>

              <el-button @click="saveInscription()" type="success"
                >S'inscrire</el-button
              >
            </span>
          </div>
        </div>
      </el-dialog>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="body-text content-dialog card-body">
              <!-- <img
                    :src="'data:image/png;base64,'+incubateurLogo"
                    alt="" class="image-back img-responsive"
                    />  -->
              <el-row :gutter="1">
                <el-col
                  class="padding-col"
                  :xs="6"
                  :sm="4"
                  :md="4"
                  :lg="2"
                  :xl="2"
                >
                  <img
                    class="profile-notify-dialog"
                    :src="concoursDatas.logoConcours"
                    alt="Card image cap"
                  />
                </el-col>

                <el-col :xs="18" :sm="20" :md="20" :lg="22" :xl="22">
                  <h3>{{ concoursDatas.libelleConcours }}</h3>
                </el-col>
              </el-row>

              <div class="col-lg-2"></div>

              <div class="pl-3 mt-5">
                <!-- <span class="font-weight-bold font-size-17">Description</span> -->
                <p
                  class="font-size-18 paragraphe"
                  v-html="concoursDatas.descriptionConcours"
                >
                  {{ concoursDatas.descriptionConcours }}
                </p>
              </div>
              <div class="pl-3 pt-2">
                <!-- <span class="font-weight-bold font-size-17">Critères d'évaluation</span> -->
                <p
                  class="font-size-18 paragraphe"
                  v-html="concoursDatas.criteresEvaluation"
                >
                  {{ concoursDatas.criteresEvaluation }}
                </p>
              </div>
              <!-- <div class="pl-3">
                    <span class="font-weight-bold font-size-18"> Date de debut </span> <span class="font-size-17">: {{concoursDatas.dateConcours[0]}}</span>
                    <span class="font-weight-bold font-size-18 pl-2"> Date de fin </span><span class="font-size-17">: {{concoursDatas.dateConcours[1]}}</span>
                    </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="pb-5">
        <el-row :gutter="20">
          <el-col :span="16"><div class="grid-content"></div></el-col>
          <el-col :span="8"><div class="grid-content"></div></el-col>
        </el-row>
      </div>
      <el-row v-if="concoursDatas.typeProgram == 'businessPlan'">
        <el-col :xs="2" :sm="1" :md="1" :lg="1" :xl="1"
          ><el-checkbox v-model="agreeConditions"></el-checkbox
        ></el-col>
        <el-col :xs="22" :sm="23" :md="23" :lg="23" :xl="23">
          <strong
            >J'ai lu, j'accepte les conditions et je remplis les critères
            ci-dessus</strong
          >
        </el-col>
      </el-row>

      <span slot="footer" class="dialog-footer">
        <el-button
          @click="(centerDialogVisible = false), (agreeConditions = false)"
          >Fermer</el-button
        >

        <el-button
          v-if="groupProgram.idIncubateur == 'UxyEQvKsf8Y3L87rpdimtc6dLbl2'"
          @click="accesAutreProgramRegister(concoursDatas.id)"
          type="primary"
        >
          Réservation
        </el-button>
        <el-button
          v-else-if="
            agreeConditions && concoursDatas.typeProgram == 'businessPlan'
          "
          type="primary"
        >
          <router-link
            class="vuer-router"
            :to="'/concours/preview/' + concoursDatas.id"
          >
            Inscription
          </router-link></el-button
        >
        <el-button
          v-else-if="concoursDatas.typeProgram == 'autreProgram'"
          @click="accesAutreProgramRegister(concoursDatas.id)"
          type="primary"
        >
          Inscription
        </el-button>

        <el-button v-else type="primary" disabled>Inscription</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import firebase from "firebase";
import { Loading } from "element-ui";
import GroupProgram from "../../../store/collection/groupProgram";

export default {
  data() {
    return {
      concoursRef: firebase.firestore().collection("concours"),
      users: firebase.firestore().collection("users"),
      provinceRef: firebase.firestore().collection("province"),
      villeRef: firebase.firestore().collection("ville"),
      isLoading: true,
      province: [],
      loadingData: false,
      ville: [],
      tousLesConcours: [],
      activeName: "0",
      participant: {
        ville: "",
        proince: "",
      },
      innerVisible: false,
      groupProgram: "",
      incubateurName: "",
      incubateurLogo: "",
      incubateurPhone: "",
      incubateurEmail: "",
      agreeConditions: false,
      concoursDatas: {
        libelleConcours: "",
        logoConcours: "",
        dateConcours: [],
        criteresEvaluation: "",
        etatDuConcours: "",
      },
      centerDialogVisible: false,
      nbQuotasUsed: "",
      concours: {
        nbParticipantsInscris: "",
      },
      sexe: [
        {
          value: "masculin",
          label: "Masculin",
        },
        {
          value: "feminin",
          label: "Féminin",
        },
      ],
    };
  },
  methods: {
    loaded() {
      this.isLoading = false;
    },
    async getprograms(idProgram) {
      this.tousLesConcours = [];
      await this.concoursRef
        .doc(idProgram)
        .get()
        .then((doc) => {
          let concours = doc.data();
          concours.id = doc.id;
          concours.nbParticipantsInscris = [];
          this.nbQuotasUsed = this.nbQuotasUsed + concours.participants;
          this.users
            .where("idConcours", "==", this.concoursRef.doc(doc.id))
            .onSnapshot((snapshot) => {
              if (!snapshot.metadata.hasPendingWrites) {
                concours.nbParticipantsInscris = [];
                if (!snapshot.empty) {
                  snapshot.forEach((doc) => {
                    let obj = doc.data();
                    obj.id = doc.id;
                    console.log("Candidat", obj.idConcours.id);
                    concours.nbParticipantsInscris.push(obj);
                  });
                }
              }
            });
          this.tousLesConcours.push(concours);
        });
    },
    async getIncubateur(idIncubateur) {
      await this.users
        .doc(idIncubateur)
        .get()
        .then((doc) => {
          this.incubateurName = doc.data().denomination;
          this.incubateurLogo = doc.data().photo;
          this.incubateurPhone = doc.data().phone;
          this.incubateurEmail = doc.data().email;
          // console.log(doc.data())
        });
    },

    loadConditions(concours) {
      //   alert('Holla Mundo')
      this.concoursDatas = {};
      this.concoursDatas = concours;
      this.centerDialogVisible = true;
      this.agreeConditions = false;
    },
    async getProvince(value) {
      // this.isLoading=true;

      this.loadingData = true;
      this.ville = [];
      this.participant.ville = "";
      await this.villeRef
        .where("idProvince", "==", this.provinceRef.doc(value))
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            // doc.data() is never undefined for query doc snapshots
            this.ville.push({
              libelle: doc.data().libelle,
              id: this.villeRef.doc(doc.id),
            });
          });
        });
      // this.isLoading=false;
      this.loadingData = false;
    },
    accesAutreProgramRegister(id, to) {
      //   to.params.idGroupe=this.$route.params.id
      this.$router.push("/programme/register/" + id);
    },
  },

  async created() {
    // await  this.getIncubateur();
    this.tousLesConcours = [];
    this.provinceRef
      .orderBy("code", "asc")
      .get()
      .then((querySnapshot) => {
        this.province = [];
        querySnapshot.forEach((doc) => {
          // doc.data() is never undefined for query doc snapshots
          this.province.push({
            libelle: doc.data().libelle,
            code: doc.data().code,
            id: doc.id,
          });
        });
      });

    await GroupProgram.getDocument(this.$route.params.id, "groupProgram").then(
      (doc) => {
        this.groupProgram = doc.data();
      }
    );
    await this.getIncubateur(this.groupProgram.idIncubateur);

    this.groupProgram.programs.forEach((item) => {
      this.getprograms(item);
    });
    this.$loading().close();
  },
};
</script>
<style scoped>
.ellipsis {
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
textarea {
  background-color: #f5f7fa;
}
p {
  font-weight: normal !important;
}
.border-style {
  border: 1px solid #ced4da !important;
}
.card-body {
  padding: 1rem !important;
}
.btn {
  font-size: 16px !important;
}
.pd-x {
  padding-left: 35px;
  padding-right: 35px;
}
/* Glow */
.hvr-glow {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.page-wrapper {
  background: #f8f8f8ed !important;
  /* background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */
}
.font-size-18 {
  font-size: 18px;
}
.condition {
  padding-left: 30px;
  padding-right: 30px;
}
.button {
  margin: 0 auto;
  display: block;
}

.image-back {
  /* pointer-events: none; */
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  opacity: 0.1;
}
.el-select {
  padding: 0px !important;
}

.paragraphe {
  /* white-space: pre-wrap; */
  word-break: keep-all; /*this stops the word breaking*/
}
.el-button--primary a {
  color: #ffffff !important;
}

.profile-notify {
  width: 80px;
  border-radius: 100%;
}
.profile-notify-dialog {
  width: 50px;
  border-radius: 100%;
}
.content-dialog {
  color: #313132 !important;
}
.padding-col {
  padding-right: 5px;
}
/**Image Background */
.full-width-box {
  overflow: hidden;
  padding: 76px 0;
  position: relative;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.full-width-box .fwb-blur {
  background-position: center top !important;
}
.full-width-box .fwb-bg {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 0;
}
.full-width-box .fwb-blur .blur-box {
  bottom: 0;
  display: block !important;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
}
.title-font-size {
  font-size: 12px;
  padding-left: 15px;
  margin-bottom: 1px;
}
.title{
  color: #007bff;
}
.title-container {
  padding-top: 10px;
}
/* .full-width-box .fwb-bg .overlay {
        background: rgb(12, 0, 122);
        height: 100%;
        opacity: .2;
        filter: alpha(opacity=20);
        width: 100%;
    } */
</style>
