<template>
    <div class="page-wrapper">      
      <div class="container-fluid pl-5">
          <div class="row page-titles">
              <div class="col-md-12">
                  <ol class="breadcrumb mr-3 py-2">
                      <li class="breadcrumb-item">
                          <router-link :to="{name:'suivi'}">Accueil</router-link>
                      </li>
                      <li class="breadcrumb-item">
                          <a href="/bp/suivi"> Suivi</a>
                      </li>
                      <li class="breadcrumb-item">
                          <a href="/bp/suivi"> Equipe</a>
                      </li>
                      <li class="breadcrumb-item">Rôles</li>
                  </ol>
              </div>
          </div>
          <div class="row">
              <!-- Card -->
             <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color:#009efb;color:#fff;">
                      <h4 class="m-b-0 text-white">Concours</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title pl-3">{{concoursDatas.libelleConcours}}</h3>
                        <div class="col-lg-6">
                          <img class="card-img-top img-responsive" :src="concoursDatas.logoConcours" alt="Card image cap">
                        </div>
                        <p class="card-text pl-3 pt-3 pr-2 text-justify" v-html="concoursDatas.descriptionConcours">{{concoursDatas.descriptionConcours}}</p>
                        <a href="#" class="btn btn-info ml-3 font-weight-bold" style="background-color:#009efb;color:#fff;border:1px solid #009efb">S'inscrire au concours</a>
                    </div>
                </div>
              </div>
              <!-- Card -->
          </div>
      </div>
    </div>
</template>
<style scoped>
  textarea{
    background-color: #F5F7FA;
  }
  p{
    font-weight: normal!important;
  }
  .border-style{border: 1px solid #ced4da!important;}
</style>

<script>
    import firebase from 'firebase'

    export default {
    name: 'PreviewConcours',
    data() {
      return {
          concoursRef: firebase.firestore().collection('concours'),
          concoursDatas: null,
      }
    },
    created(){
      let idConcours = this.$route.params.id;
      console.log(idConcours);
      this.concoursRef.doc(idConcours).get().then((doc) =>{
        if(doc.exists){
          this.concoursDatas = doc.data();
        } 
      })
    }
}
</script>
