<template>
  <div class="page-wrapper">
    <div class="container-fluid pl-5">
      <div class="row page-titles">
        <!-- <div class="col-md-12">
                  <ol class="breadcrumb mr-3 py-2">
                      <li class="breadcrumb-item">
                          <router-link to="/bp/admin/dashboard">Dashboard</router-link>
                      </li>
                      <li class="breadcrumb-item">
                          <router-link to="/bp/admin/concours">Programme</router-link>
                      </li>
                  </ol>
              </div> -->
      </div>
      <el-tabs type="border-card" v-model="activeName">
        <el-tab-pane v-if="this.ecrire">
          <div slot="label" class="tabLink">
            <span class="hidden-xs-down"
              ><i class="el-icon-circle-plus-outline"></i> Créer un
              programme</span
            >
          </div>
          <div class="row">
            <div class="col-md-12" style="padding: 20px">
              <el-radio
                v-model="concoursDatas.typeProgram"
                label="businessPlan"
                border
                >CONCOURS DE PLAN D'AFFAIRES</el-radio
              >
              <el-radio
                v-model="concoursDatas.typeProgram"
                label="autreProgram"
                border
                >AUTRE PROGRAMME</el-radio
              >
              <div class="py-3 font-weight-bold">
                Dénomination du programme <span class="text-danger">*</span>
              </div>
              <input
                type="text"
                required
                v-model="concoursDatas.libelleConcours"
                class="form-control"
                placeholder="Saisir la dénomination du concours"
              />
              <div class="py-3 font-weight-bold">
                Description du programme<span class="text-danger">*</span>
              </div>
              <vue-editor
                :editorToolbar="customToolbar"
                v-model="concoursDatas.descriptionConcours"
              ></vue-editor>
              <div class="block mb-2">
                <el-date-picker
                  style="width: 100%;"
                  class="mt-3"
                  format="dd-MMMM-yyyy HH:mm:ss"
                  value-format="dd-MMMM-yyyy HH:mm:ss"
                  v-model="concoursDatas.dateConcours"
                  type="datetimerange"
                  range-separator="à"
                  start-placeholder="Date de début"
                  end-placeholder="Date de fin"
                >
                </el-date-picker>
              </div>
              <div class="py-2 font-weight-bold">
                Critères d'évaluation<span class="text-danger">*</span>
              </div>
              <vue-editor
                :editorToolbar="customToolbar"
                v-model="concoursDatas.criteresEvaluation"
              ></vue-editor>
              <div class="py-2 font-weight-bold">Nombre de participants</div>
              <div>
                <input
                  type="number"
                  v-model.number="concoursDatas.participants"
                  min="0"
                  :max="quotasRestant"
                  class="form-control"
                  @input="verifieLaValeurSaisie"
                />
              </div>
              <!-- <div
                class="text-danger pl-1"
                v-if="
                  concoursDatas.participants === quotasRestant ||
                    ValueExceedQuota
                "
              >
                Vous avez atteint le quota des participants
              </div> -->
              <div class="py-2 font-weight-bold">
                Nombre de participants/séance
              </div>
              <div>
                <input
                  type="number"
                  class="form-control"
                  v-model.number="concoursDatas.participseance"
                />
              </div>
              <div class="py-2 font-weight-bold">Nombre d'espaces</div>
              <div>
                <input
                  type="number"
                  class="form-control"
                  v-model.number="concoursDatas.espace"
                />
              </div>
              <div class="font-weight-bold py-2">
                Quota restant des participants : {{ quotasRestant }}
              </div>
              <!-- Upload des fichiers -->
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Logo du programme</h4>
                      <label for="input-file-now-custom-1"
                        >Ajouter une image</label
                      >
                      <input
                        type="file"
                        ref="logoConcours"
                        @change="
                          getfilesUploaded(
                            $refs.logoConcours.files[0],
                            (name = 'logo')
                          )
                        "
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Image d'arrière plan</h4>
                      <label for="input-file-now-custom-1"
                        >Ajouter une image</label
                      >
                      <input
                        type="file"
                        ref="wallpaper"
                        @change="
                          getfilesUploaded(
                            $refs.wallpaper.files[0],
                            (name = 'wallpaper')
                          )
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="text-xs-right mb-2 col-lg-12"
              v-if="idConcours === null"
            >
              <button
                type="button"
                class="btn font-weight-bold mr-3"
                style="background-color:rgb(0, 158, 251); color: white; float:right;"
                @click="saveConcours()"
              >
                Enregistrer
              </button>
            </div>
            <div
              class="text-xs-right mb-2 col-lg-12"
              v-if="idConcours !== null"
            >
              <button
                type="button"
                class="btn font-weight-bold mr-3"
                style="background-color:rgb(0, 158, 251); color: white;float:right;"
                @click="updateConcours()"
              >
                Modifier
              </button>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane v-if="this.lire">
          <div slot="label" class="tabLink">
            <span class="hidden-xs-down"
              ><i class="el-icon-thumb"></i>Liste des programmes</span
            >
          </div>
          <div class="activity-box my-3">
            <div class="date-devider">
              <span style="font-size:18px">Liste de programmes</span>
            </div>
          </div>
          <el-button
            class="mb-5"
            type="primary"
            icon="el-icon-circle-plus"
            @click.native="loadModalGroup()"
            >Créer des groupes de Programmes</el-button
          >

          <div class="row">
            <div
              class="col-lg-4 col-md-4"
              v-for="(concours, index) in tousLesConcours"
              :key="index"
            >
              <!-- Card -->
              <div class="card border-style hvr-glow">
                <img
                  class="card-img-top img-responsive"
                  :src="concours.logoConcours"
                  alt="Card image cap"
                />
                <el-dropdown trigger="click">
                  <span class="el-dropdown-link btn btn-sm float-right mr-2">
                    <i class="fas fa-ellipsis-v cyb-white"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item
                      icon="el-icon-edit"
                      @click.native="modifyConcours(concours)"
                      >Modifier</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-delete"
                      @click.native="deleteCreatedConcours(concours.id, index)"
                      >Supprimer</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-link"
                      @click.native="copyConcoursLink(index)"
                      >Copier le lien du programme</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-s-claim"
                      @click.native="
                        $refs.planAction.openModalActionProgram(concours)
                      "
                      >Plan d'action</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
                <div class="card-body">
                  <h4
                    class="card-title ellipsis"
                    :title="concours.libelleConcours"
                  >
                    {{ concours.id }}
                  </h4>
                  <div
                    class="card-text"
                    :inner-html.prop="
                      concours.descriptionConcours | reduceParagraphLength
                    "
                  >
                    {{ concours.descriptionConcours }}
                  </div>
                  <p>
                    Crée le :
                    {{
                      new Date(
                        concours.createdAt.seconds * 1000
                      ).toLocaleDateString()
                    }}
                  </p>
                  <p>
                    <span class="font-weight-bold" style="color:#455a64;"
                      >{{ concours.nbParticipantsInscris.length }}/{{
                        concours.participants
                      }}</span
                    >
                    participants
                  </p>
                  <input
                    v-if="
                      hostname == 'www.cyberschool-gabon.com' &&
                        concours.typeProgram == 'businessPlan'
                    "
                    type="hidden"
                    :id="'link' + index"
                    :value="
                      'https://www.cyberschool-gabon.com/concours/preview/' +
                        concours.id
                    "
                  />
                  <input
                    v-if="
                      hostname !== 'www.cyberschool-gabon.com' &&
                        concours.typeProgram == 'businessPlan'
                    "
                    type="hidden"
                    :id="'link' + index"
                    :value="hostname + '/concours/preview/' + concours.id"
                  />
                  <input
                    v-if="
                      hostname == 'www.cyberschool-gabon.com' &&
                        concours.typeProgram == 'autreProgram'
                    "
                    type="hidden"
                    :id="'link' + index"
                    :value="
                      'https://www.cyberschool-gabon.com/programme/register/' +
                        concours.id
                    "
                  />
                  <input
                    v-if="
                      hostname !== 'www.cyberschool-gabon.com' &&
                        concours.typeProgram == 'autreProgram'
                    "
                    type="hidden"
                    :id="'link' + index"
                    :value="hostname + '/programme/register/' + concours.id"
                  />
                  <router-link
                    v-if="concours.typeProgram == 'businessPlan'"
                    class="btn"
                    :to="'/concours/preview/' + concours.id"
                    style="background-color:rgb(0, 158, 251);color:white;"
                    >Prévisualiser</router-link
                  >
                  <button
                    class="btn"
                    style="background-color:#06D79C;color:white;padding-right: 35px;padding-left: 30px;"
                    @click="changeConcoursState(true, concours.id)"
                    v-if="
                      !concours.etatDuConcours &&
                        concours.typeProgram == 'businessPlan'
                    "
                  >
                    Lancer
                  </button>
                  <button
                    class="btn"
                    style="background-color:#ef5350;color:white;padding-right: 35px;padding-left: 30px;"
                    @click="changeConcoursState(false, concours.id)"
                    v-if="
                      concours.etatDuConcours &&
                        concours.typeProgram == 'businessPlan'
                    "
                  >
                    Arrêter
                  </button>
                </div>
              </div>
              <!-- Card -->
            </div>
          </div>

          <!-- <el-button icon="el-icon-link" @click.native="copyProgramsLink()">Copier le lien de tous les programmes</el-button> -->
          <!-- <input type="hidden" v-if="hostname=='www.cyberschool-gabon.com'"  :id="'linkAll'" :value="'https://www.cyberschool-gabon.com/programs/all/'+this.currentUId">
              <input type="hidden" v-else  :id="'linkAll'" :value="hostname+'/programs/all/'+this.currentUId"> -->
        </el-tab-pane>
        <el-tab-pane v-if="this.lire">
          <div slot="label" class="tabLink">
            <span class="hidden-xs-down"
              ><i class="el-icon-thumb"></i>Groupes</span
            >
          </div>
          <div class="activity-box my-3">
            <div class="date-devider">
              <span style="font-size:18px">Liste de groupes</span>
            </div>
          </div>

          <div class="row">
            <div
              class="col-lg-4 col-md-4"
              v-for="(group, index) in allGroupPrograms"
              :key="index"
            >
              <!-- Card -->
              <div class="card border-style hvr-glow">
                <el-carousel
                  :autoplay="false"
                  :interval="4000"
                  type="card"
                  height="200px"
                >
                  <el-carousel-item
                    v-for="(source, index) in group.images"
                    :key="index"
                  >
                    <img
                      class="card-img-top img-responsive"
                      :src="source"
                      alt="Card image cap"
                    />
                  </el-carousel-item>
                </el-carousel>
                <el-dropdown trigger="click">
                  <span class="el-dropdown-link btn btn-sm float-right mr-2">
                    <i class="fas fa-ellipsis-v cyb-white"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item
                      icon="el-icon-edit"
                      @click.native="modifyConcours(group)"
                      >Modifier</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-delete"
                      @click.native="deleteCreatedConcours(group.id, index)"
                      >Supprimer</el-dropdown-item
                    >
                    <el-dropdown-item
                      icon="el-icon-link"
                      @click.native="copyGroupProgramLink(index)"
                      >Copier le lien du Groupe</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
                <div class="card-body">
                  <h4 class="card-title ellipsis" :title="group.titre">
                    {{ group.titre }}
                  </h4>
                  <input
                    type="hidden"
                    v-if="hostname == 'www.cyberschool-gabon.com'"
                    :id="'linkgroup' + index"
                    :value="
                      'https://www.cyberschool-gabon.com/programs/all/' +
                        group.id
                    "
                  />
                  <input
                    type="hidden"
                    v-else
                    :id="'linkgroup' + index"
                    :value="hostname + '/programs/all/' + group.id"
                  />
                  <!-- <div class="card-text" :inner-html.prop="concours.descriptionConcours | reduceParagraphLength">{{concours.descriptionConcours}}</div>
                          <p>Crée le : {{new Date(concours.createdAt.seconds*1000).toLocaleDateString()}} </p>
                          <p>
                            <span class="font-weight-bold" style="color:#455a64;">{{concours.nbParticipantsInscris.length}}/{{concours.participants}}</span> participants
                          </p>
                          <input type="hidden"  :id="'link'+ index" :value="'https://www.cyberschool-gabon.com/concours/preview/'+concours.id">
                          <router-link class="btn" :to="'/concours/preview/'+concours.id" style="background-color:rgb(0, 158, 251);color:white;">Prévisualiser</router-link>
                          <button class="btn" style="background-color:#06D79C;color:white;padding-right: 35px;padding-left: 30px;" 
                            @click="changeConcoursState(concours, concours.id)" v-if="!concours.etatDuConcours">Lancer
                          </button>
                          <button class="btn" style="background-color:#ef5350;color:white;padding-right: 35px;padding-left: 30px;" 
                            @click="changeConcoursState(concours, concours.id)" v-if="concours.etatDuConcours">Arrêter
                          </button> -->
                </div>
              </div>
              <!-- Card -->
            </div>
          </div>
          <!-- <el-button icon="el-icon-circle-plus" @click.native="loadModalGroup()">Créer des groupes de Programmes</el-button>
              <el-button icon="el-icon-link" @click.native="copyProgramsLink()">Copier le lien de tous les programmes</el-button>
              <input type="hidden" v-if="hostname=='www.cyberschool-gabon.com'"  :id="'linkAll'" :value="'https://www.cyberschool-gabon.com/programs/all/'+this.currentUId">
              <input type="hidden" v-else  :id="'linkAll'" :value="hostname+'/programs/all/'+this.currentUId"> -->
        </el-tab-pane>
      </el-tabs>
    </div>

    <el-dialog :visible.sync="centerDialogVisible" width="50%" center>
      <el-dialog
        width="30%"
        title="Ajoutez un titre au groupe"
        :visible.sync="innerVisible"
        append-to-body
      >
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="body-text card-body">
                <el-input placeholder="Titre" v-model="group.titre"></el-input>
                <el-switch
                  v-model="group.public"
                  active-text="Public"
                  inactive-text="Privé"
                >
                </el-switch>
              </div>
            </div>
          </div>
        </div>
        <div class="pb-5">
          <div class="float-right">
            <span slot="footer" class="dialog-footer">
              <el-button @click="innerVisible = false">Fermer</el-button>

              <el-button @click="createGrouppPogram()" type="primary"
                >Terminer(<span>{{ group.programs.length }}</span
                >)</el-button
              >
            </span>
          </div>
        </div>
      </el-dialog>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="body-text card-body">
              <!-- <div class="col-lg-12 col-md-12" v-for="(concours, index) in tousLesConcours" :key="index">
                      <h4 class="card-title ellipsis" :title="concours.libelleConcours">{{concours.libelleConcours}}</h4>
                    </div> -->
              <el-checkbox-group v-model="group.programs">
                <el-col
                  class="smallCard"
                  :span="6"
                  v-for="(concours, index) in tousLesConcours"
                  :key="index"
                >
                  <el-card class="hvr-glow">
                    <img
                      class="card-img-top img-responsive"
                      :src="concours.logoConcours"
                      alt="Card image cap"
                    />
                    <div style="padding: 14px;">
                      <span
                        :inner-html.prop="
                          concours.libelleConcours | cyb_txt_split
                        "
                        >{{ concours.libelleConcours }}</span
                      >
                      <div class="bottom clearfix">
                        <time class="time">{{ currentDate }}</time>
                        <!-- <el-button type="text" class="button">Operating</el-button> -->
                        <el-checkbox :label="concours.id">
                          <strong>sélectionner </strong></el-checkbox
                        >
                      </div>
                    </div>
                  </el-card>
                </el-col>
              </el-checkbox-group>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-5">
        <div class="float-left">
          <label for="input-file-now-custom-1"
            >Ajouter une image arrière plan</label
          ><br />
          <input type="file" ref="wallpaper" />
        </div>
        <div class="float-right">
          <span slot="footer" class="dialog-footer">
            <el-button @click="centerDialogVisible = false">Fermer</el-button>

            <el-button @click="innerVisible = true" type="primary"
              >Créer le groupe (<span>{{ group.programs.length }}</span
              >)</el-button
            >
          </span>
        </div>
      </div>
    </el-dialog>
    <el-dialog
      title="Créer une action"
      :visible.sync="dialogComment"
      width="50%"
    >
      <el-tabs
        type="card"
        v-model="activeTabAction"
        @tab-click="handleClickAction"
      >
        <el-tab-pane name="creer-action" label="Créer">
          <div class="py-3 font-weight-bold">
            Etat <span class="text-danger">*</span>
          </div>
          <div>
            <el-radio v-model="action.etat" label="1" border size="medium"
              >A Faire</el-radio
            >
            <el-radio v-model="action.etat" label="2" border size="medium"
              >En Cours</el-radio
            >
            <el-radio v-model="action.etat" label="3" border size="medium"
              >Terminé</el-radio
            >
          </div>
          <div class="py-3 font-weight-bold">
            Titre <span class="text-danger">*</span>
          </div>
          <input
            type="text"
            required
            v-model="action.titre"
            class="form-control"
            placeholder="Titre"
          />
          <div class="py-3 font-weight-bold">
            Description <span class="text-danger">*</span>
          </div>
          <vue-editor
            id="comment"
            v-model="action.description"
            @input="$v.action.description.$touch()"
            :editorToolbar="customToolbar"
          ></vue-editor>
          <!-- <el-row calss= :gutter="20">
                  <el-col :span="12"><div class="grid-content ">
                      <el-date-picker
                      v-model="action.dates.debut"
                      type="date"
                      placeholder="Date début"
                      format="dd-MMMM-yyyy"
                      value-format="dd-MMMM-yyyy">
                      </el-date-picker>
                  </div></el-col>
                  <el-col :span="12"><div class="grid-content ">
                      <el-date-picker
                      v-model="action.dates.fin"
                      type="date"
                      placeholder="Date fin"
                      format="dd-MMMM-yyyy"
                      value-format="dd-MMMM-yyyy">
                      </el-date-picker>   
                            
                  </div></el-col>
                  </el-row> -->
          <el-date-picker
            style="width: 100%;"
            class="mt-3"
            format="dd-MMMM-yyyy"
            value-format="dd-MMMM-yyyy"
            v-model="action.dates"
            type="daterange"
            range-separator="à"
            start-placeholder="Date de début"
            end-placeholder="Date de fin"
            :default-value="new Date()"
          >
          </el-date-picker>
          <div class="footer-modal">
            <el-button @click="dialogComment = false">Fermer</el-button>

            <el-button
              v-if="editMode"
              type="primary"
              :loading="loadingComment"
              @click="saveEditAction()"
              >Modifier</el-button
            >
            <el-button
              v-else
              type="primary"
              :loading="loadingComment"
              @click="saveAction()"
              >Confirmer</el-button
            >
          </div>
        </el-tab-pane>
        <el-tab-pane name="liste-action" label="Liste">
          <el-table :data="actionsData">
            <el-table-column label="Titre" width="180">
              <template slot-scope="scope">
                <span style="margin-left: 10px"
                  ><strong>{{ scope.row.titre | cyb_txt_split }}</strong>
                </span>
              </template>
            </el-table-column>
            <el-table-column label="Description" width="150">
              <template slot-scope="scope">
                <el-popover
                  placement="top-start"
                  :title="scope.row.titre"
                  width="400"
                  trigger="hover"
                >
                  <span :inner-html.prop="scope.row.description">{{
                    scope.row.description
                  }}</span>
                  <span
                    slot="reference"
                    :inner-html.prop="scope.row.description | cyb_txt_split"
                    >{{ scope.row.description }}</span
                  >
                </el-popover>

                <!-- <span style="margin-left: 10px">{{ scope.row.description }} </span>                                                             -->
              </template>
            </el-table-column>
            <el-table-column label="Date début" width="160">
              <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span style="margin-left: 10px">{{ scope.row.dates[0] }} </span>
              </template>
            </el-table-column>
            <el-table-column label="Date Fin" width="160">
              <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span style="margin-left: 10px">{{ scope.row.dates[1] }} </span>
              </template>
            </el-table-column>

            <el-table-column label="Crée le" width="150">
              <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span style="margin-left: 10px"
                  >{{
                    new Date(scope.row.createdAt.seconds * 1000)
                      | moment("Do MMMM YYYY")
                  }}
                </span>
              </template>
            </el-table-column>
            <el-table-column fixed="right" label="Etat" width="150">
              <template slot-scope="scope">
                <el-button v-if="scope.row.etat == '1'" size="mini">
                  A faire
                </el-button>
                <el-button
                  v-if="scope.row.etat == '2'"
                  size="mini"
                  type="warning"
                >
                  En cours
                </el-button>
                <el-button
                  v-if="scope.row.etat == '3'"
                  size="mini"
                  type="success"
                >
                  Terminé
                </el-button>
                <!-- <el-button
                      v-else
                      size="mini"
                      type="warning"
                      @click="switchState(scope.row.id,scope.row.etat)"
                      > En cours</el-button> -->
                <el-dropdown trigger="click">
                  <span>
                    <i class="fas fa-ellipsis-v cyb-white"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item
                      @click.native="switchState(scope.row.id, 1)"
                      >A Faire</el-dropdown-item
                    >
                    <el-dropdown-item
                      @click.native="switchState(scope.row.id, 2)"
                      >En cours
                    </el-dropdown-item>
                    <el-dropdown-item
                      @click.native="switchState(scope.row.id, 3)"
                      >Terminé</el-dropdown-item
                    >
                  </el-dropdown-menu>
                </el-dropdown>
                <!-- <el-tooltip :content="'Valeur de l\'état: ' + value" placement="top">
                      <el-switch
                          v-model="value"
                          active-color="#13ce66"
                          inactive-color="#ff4949"
                          active-value="100"
                          inactive-value="0">
                      </el-switch>
                      </el-tooltip>
                                                    -->
              </template>
            </el-table-column>
            <el-table-column fixed="right" label="Modifier" width="100">
              <template slot-scope="scope">
                <el-button
                  icon="el-icon-edit"
                  size="mini"
                  @click="editAction(scope.row.id)"
                >
                </el-button>
              </template>
            </el-table-column>
            <el-table-column fixed="right" label="Supprimer" width="100">
              <template slot-scope="scope">
                <!-- <el-button
                       @click="deleteAction(scope.row.id,index)"     
                      size="mini"
                      icon="el-icon-delete" 
                      type="danger"
                      > </el-button> -->
                <el-popconfirm
                  confirmButtonText="Oui"
                  cancelButtonText="Non"
                  icon="el-icon-info"
                  iconColor="red"
                  @onConfirm="deleteAction(scope.row.id, index)"
                  title="Voulez vous vraiment supprimer cet élément??"
                >
                  <el-button
                    size="mini"
                    type="danger"
                    icon="el-icon-delete"
                    slot="reference"
                  ></el-button>
                </el-popconfirm>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
      <!-- <span slot="footer" class="dialog-footer">
                   
          </span> -->
    </el-dialog>
    <PlanAction ref="planAction" />
  </div>
</template>

<script>
import firebase from "firebase";
import { VueEditor } from "vue2-editor";
import helper from "../../../services/helper";
import { Message, Loading } from "element-ui";
import GroupProgram from "../../../store/collection/groupProgram";
import PlanAction from "../concours/components/planAction";

export default {
  components: { VueEditor, Loading, PlanAction },
  mixins: [helper],
  name: "Concours",
  data() {
    return {
      users: firebase.firestore().collection("users"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      adminId: JSON.parse(localStorage.getItem("userSession")).adminId,
      planActionRef: firebase.firestore().collection("planAction"),
      concoursRef: firebase.firestore().collection("concours"),
      permissionsRef: firebase.firestore().collection("permissions"),
      storageRef: firebase.storage().ref(),
      lire: false,
      ecrire: false,
      hostname: window.location.host,
      activeName: "",
      editActionId: "",
      allGroupPrograms: "",
      centerDialogVisible: false,
      innerVisible: false,
      activeTabAction: "creer-action",
      actionsData: [],
      dialogComment: false,
      loadingComment: false,
      action: {
        dates: "",
        titre: "",
        description: "",
        etat: "1",
      },
      groupePrograms: {
        titre: "",
        programs: [],
        idIncubateur: "",
      },
      group: {
        titre: "",
        public: false,
        programs: [],
        idIncubateur: "",
      },
      loadingDelete: false,
      editMode: false,
      idConcours: null,
      idProgramSelected: "",
      ValueExceedQuota: false,
      quotaConcours: 0,
      nbQuotasUsed: 0,
      quotasRestant: null,
      tousLesConcours: [],
      concoursDatas: {
        libelleConcours: null,
        descriptionConcours: null,
        dateConcours: null,
        criteresEvaluation: null,
        logoConcours: null,
        typeProgram: "businessPlan",
        edition: "bb3",
        wallpaper: null,
        participants: 0,
        createdAt: new Date(),
        incubateur: JSON.parse(localStorage.getItem("userSession")).displayName,
        adminId: JSON.parse(localStorage.getItem("userSession")).uid,
        etatDuConcours: false,
        quotasRestant: 0,
      },
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"],

        [{ list: "ordered" }, { list: "bullet" }],
        [{ font: [] }],
        [{ color: [] }, { background: [] }],

        ["clean"],
      ],
    };
  },
  methods: {
    getfilesUploaded(file, type) {
      this.$loading({ fullscreen: true });
      let fileName = file.name + file.lastModified;
      this.storageRef
        .child("concours/" + fileName)
        .put(file)
        .then(() => {
          this.getDownloadUrlImage(fileName, type);
        });
    },
    getDownloadUrlImage(fileName, type) {
      this.storageRef
        .child("concours/" + fileName)
        .getDownloadURL()
        .then((url) => {
          if (type === "logo") {
            this.$loading().close();
            this.concoursDatas.logoConcours = url;
            this.$notify({
              title: "Success",
              message: "Votre logo a été enregistré",
              type: "success",
            });
          } else if (type === "wallpaper") {
            this.$loading().close();
            this.concoursDatas.wallpaper = url;
            this.$notify({
              title: "Success",
              message: "Votre image d'arrière plan a été enregistrée",
              type: "success",
            });
          }
        })
        .catch(() => {
          this.$notify({
            title: "Erreur",
            message: "l'image n'a pas été uploadée",
            type: "Error",
          });
        });
    },
    saveConcours() {
      if (
        this.concoursDatas.libelleConcours !== null &&
        this.concoursDatas.descriptionConcours !== null &&
        this.concoursDatas.dateConcours !== null &&
        this.concoursDatas.criteresEvaluation !== null &&
        this.concoursDatas.participants !== 0
      ) {
        this.concoursRef
          .add(this.concoursDatas)
          .then(() => {
            this.calculQuotasRestant();
            Swal.fire({
              title: "Enregistrement Réussi",
              text: "Votre concours a été enregistré avec succès !",
              type: "success",
              showCancelButton: false,
              confirmButtonText: "OK",
            }).then((result) => {
              if (result.value) {
                window.scroll(0, 0);
                this.activeName = "1";
              }
            });
          })
          .catch(() => {
            Swal.fire({
              title: "Votre concours n'a pas été enregistré !",
              text: "Une erreur est survenue",
              type: "error",
              showCancelButton: false,
              confirmButtonText: "OK",
            });
          });
      } else {
        Swal.fire({
          text: "Veuillez vérifier tous les champs !",
          type: "error",
          showCancelButton: false,
          confirmButtonText: "OK",
        });
      }
    },
    updateConcours() {
      this.concoursRef
        .doc(this.idConcours)
        .get()
        .then((doc) => {
          if (doc.exists) {
            this.concoursRef
              .doc(this.idConcours)
              .update(this.concoursDatas)
              .then(() => {
                this.calculQuotasRestant();
                Swal.fire({
                  title: "Réussi !",
                  text: "Votre concours a été mise à jour",
                  type: "success",
                  showCancelButton: false,
                  confirmButtonText: "OK",
                }).then((result) => {
                  if (result.value) {
                    window.scroll(0, 0);
                    this.activeName = "1";
                  }
                });
              })
              .catch(() => {
                Swal.fire({
                  title: "Erreur !",
                  text: "Votre concours n'a pas été mise à jour",
                  type: "error",
                  showCancelButton: false,
                  confirmButtonText: "OK",
                });
              });
          }
        });
    },
    modifyConcours(concours) {
      (this.activeName = "0"), (concours.quotasRestant = this.quotasRestant);
      this.concoursDatas = concours;
      this.idConcours = concours.id;
    },
    deleteCreatedConcours(idConcours, index) {
      Swal.fire({
        title: "Attention!",
        text: "Voulez vous supprimer ce concours?",
        type: "info",
        showCancelButton: true,
        cancelButtonText: "Annuler",
        confirmButtonText: "OK",
      }).then((result) => {
        if (result.value) {
          this.concoursRef
            .doc(idConcours)
            .delete()
            .then(() => {
              this.tousLesConcours.splice(index, 1);
              Swal.fire({
                title: "Suppression terminée",
                text: "Votre concours a été supprimé avec succès!",
                type: "success",
                showCancelButton: false,
                confirmButtonText: "OK",
              });
            });
        }
      });
    },
    deleteAction(idAction, index) {
      this.loadingDelete = true;
      this.planActionRef
        .doc(idAction)
        .delete()
        .then(() => {
          this.loadingDelete = false;
          this.$notify({
            title: "Succès",
            message: "Suppéssion réussie",
            type: "success",
          });
        })
        .cath((error) => {
          this.loadingDelete = false;
          this.$notify({
            title: "Erreur",
            message: "Une erreur s'est produite contactez votre administrateur",
            type: "error",
          });
        });
    },
    editAction(idAction) {
      this.editActionId = idAction;
      this.planActionRef
        .doc(idAction)
        .get()
        .then((doc) => {
          this.action = doc.data();
          this.activeTabAction = "creer-action";
          this.editMode = true;
        });
    },
    changeConcoursState(state, idConcours) {
      this.concoursRef.doc(idConcours).update({ etatDuConcours: state });
    },
    calculQuotasRestant() {
      this.nbQuotasUsed = 0;
      this.tousLesConcours.forEach((obj) => {
        this.nbQuotasUsed = this.nbQuotasUsed + obj.participants;
      });
      this.quotasRestant = this.quotaConcours - this.nbQuotasUsed;
      this.concoursDatas.quotasRestant = this.quotasRestant;
    },
    verifieLaValeurSaisie(event) {
      let value = event.target.value;
      if (value > this.quotasRestant) {
        this.ValueExceedQuota = true;
      } else {
        this.ValueExceedQuota = false;
      }
    },
    copyConcoursLink(index) {
      let input = document.getElementById("link" + index);
      input.setAttribute("type", "text");
      input.select();
      let message = document.execCommand("copy");
      message
        ? this.$message({
            message: "Le lien du concours a été copié",
            type: "success",
          })
        : this.$message({
            message: "Le lien du concours n'a pas été copié",
            type: "error  ",
          });

      //  Unselect input
      input.setAttribute("type", "hidden");
      window.getSelection().removeAllRanges();
    },
    copyGroupProgramLink(index) {
      let input = document.getElementById("linkgroup" + index);
      input.setAttribute("type", "text");
      input.select();
      let message = document.execCommand("copy");
      message
        ? this.$message({
            message: "Le lien du groupe a été copié",
            type: "success",
          })
        : this.$message({
            message: "Le lien lien du groupe n'a pas été copié",
            type: "error  ",
          });

      //  Unselect input
      input.setAttribute("type", "hidden");
      window.getSelection().removeAllRanges();
    },
    copyProgramsLink() {
      let input = document.getElementById("linkAll");
      input.setAttribute("type", "text");
      input.select();
      let message = document.execCommand("copy");
      message
        ? this.$message({
            message: "Le lien d'accès aux programmes a été copié",
            type: "success",
          })
        : this.$message({
            message: "Le lien d'accès aux programmes n'a pas été copié",
            type: "error  ",
          });

      //  Unselect input
      input.setAttribute("type", "hidden");
      window.getSelection().removeAllRanges();
    },
    loadModalGroup() {
      this.centerDialogVisible = true;
      // let Group= new GroupProgram();
      // console.log(Group)
    },
    async createGrouppPogram() {
      // Loading.service({ fullscreen: true });
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        this.group.idIncubateur = JSON.parse(
          localStorage.getItem("userSession")
        ).adminId;
      } else {
        this.group.idIncubateur = this.currentUId;
      }

      let groupProgram = await new GroupProgram(
        "groupProgram",
        this.group.titre,
        this.group.public,
        this.group.programs,
        this.group.idIncubateur
      );
      //  console.log(groupProgram)
      await groupProgram.saveDocument("groupProgram", groupProgram.data);
      this.innerVisible = false;
      (this.centerDialogVisible = false), (this.allGroupPrograms = "");
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        this.allGroupPrograms = GroupProgram.getAllDocumentByAdminId(
          "groupProgram",
          JSON.parse(localStorage.getItem("userSession")).adminId
        );
        this.activeName = "1";
      } else {
        this.allGroupPrograms = GroupProgram.getAllDocumentByAdminId(
          "groupProgram",
          this.currentUId
        );
      }

      this.activeName = "2";

      this.$loading().close();
    },
    openModalComment(idProgram) {
      this.idProgramSelected = idProgram;
      this.dialogComment = true;
    },
    saveAction() {
      this.loadingComment = true;
      this.action.userId = this.users.doc(this.currentUId);
      this.action.createdAt = firebase.firestore.FieldValue.serverTimestamp();
      (this.action.type = "program"),
        (this.action.programId = this.concoursRef.doc(this.idProgramSelected));
      if (this.adminId) {
        this.action.adminId = this.users.doc(this.adminId);
      } else {
        this.action.adminId = this.users.doc(this.currentUId);
      }
      this.planActionRef
        .add(this.action)
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "L'action a été ajoutée",
            type: "success",
          });

          // this.dialogComment=false

          this.actionsData = [];
          this.getActions();
          this.loadingComment = false;
          this.activeTabAction = "liste-action";
        })
        .catch(() => {
          this.$notify.error({
            title: "Error",
            message: "Une erreur s'est produite",
          });
          this.loadingComment = false;
        });
    },
    saveEditAction() {
      this.loadingComment = true;
      this.action.editAt = firebase.firestore.FieldValue.serverTimestamp();
      this.planActionRef
        .doc(this.editActionId)
        .set(this.action)
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "L'action a été Modifiée",
            type: "success",
          });

          // this.dialogComment=false

          this.actionsData = [];
          this.getActions();
          this.loadingComment = false;
          this.activeTabAction = "liste-action";
        })
        .catch(() => {
          this.$notify.error({
            title: "Error",
            message: "Une erreur s'est produite",
          });
          this.loadingComment = false;
        });
    },
    getActions() {
      //FIREBASE GET RECETTES

      // let loader = Vue.$loading.show();
      // this.loading=true

      this.planActionRef
        .where("userId", "==", this.users.doc(this.currentUId))
        .where("programId", "==", this.concoursRef.doc(this.idProgramSelected))
        .onSnapshot((querySnapshot) => {
          this.actionsData = [];
          querySnapshot.forEach((doc) => {
            let obj = doc.data();
            // console.log(obj);

            obj.id = doc.id;

            // obj.eval.get().then(evaluateur=>{
            // obj.evaluateur=evaluateur.data().first_name+' '+evaluateur.data().last_name

            // })
            this.actionsData.push(obj);

            // obj.client = doc.data().client.nom;
            // obj.montant = obj.produit.prixVenteUnitaire * obj.quantite;
          });
          this.actionsData = this.actionsData.sort(this.FilterbyDate);

          // sort by timestamps
        });
      //
    },
    handleClickAction() {
      switch (this.activeTabAction) {
        case "creer-action":
          this.editMode = false;
          break;

        case "liste-action":
          this.actionsData = [];
          this.getActions();
          break;
      }
    },
    switchState(id, state) {
      console.log(state);
      this.planActionRef.doc(id).update({
        etat: state,
      });
      // this.stateLoading[id]=false
    },
    loadProgram(adminId = this.currentUId) {
      this.$loading({ fullscreen: true });
      this.concoursRef
        .where("adminId", "==", adminId)
        .onSnapshot((onSnapshot) => {
          this.tousLesConcours = [];
          if (!onSnapshot.empty) {
            onSnapshot.forEach((doc) => {
              let concours = doc.data();
              concours.id = doc.id;
              concours.nbParticipantsInscris = [];
              this.nbQuotasUsed = this.nbQuotasUsed + concours.participants;
              this.users
                .where("idConcours", "==", this.concoursRef.doc(doc.id))
                .onSnapshot((snapshot) => {
                  if (!snapshot.empty) {
                    snapshot.forEach((doc) => {
                      let obj = doc.data();
                      concours.nbParticipantsInscris.push(obj);
                      console.log("Data", concours);
                    });
                  }
                });
              this.tousLesConcours.push(concours);
            });
          }
          this.$loading().close();
        });

      this.permissionsRef
        .doc(this.concoursDatas.adminId)
        .get()
        .then((doc) => {
          let obj = doc.data();
          this.quotaConcours = obj.hasOwnProperty('quotaConcours') ? obj.quotaConcours : 0;
          this.quotasRestant = this.quotaConcours - this.nbQuotasUsed;
          this.concoursDatas.quotasRestant = this.quotasRestant;
          console.log("Quota utilisé", obj.quotaConcours);
        });
    },
  },
  created() {
    this.$route.params.data.forEach((item) => {
      if (item == "lire") {
        this.lire = true;
      }
      if (item == "ecrire") {
        this.ecrire = true;
      }
    });
  },
  mounted() {
    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.loadProgram(JSON.parse(localStorage.getItem("userSession")).adminId);
      this.allGroupPrograms = GroupProgram.getAllDocumentByAdminId(
        "groupProgram",
        JSON.parse(localStorage.getItem("userSession")).adminId
      );
    } else {
      this.loadProgram();
      this.allGroupPrograms = GroupProgram.getAllDocumentByAdminId(
        "groupProgram",
        this.currentUId
      );
    }

    if (this.$route.params.access == "creer") {
      this.activeName = "0";
      // console.log('Creer')
    } else if (this.$route.params.access == "liste") {
      this.activeName = "1";
      // console.log('Liste')
    }
  },
};
</script>

<style scoped>
.ellipsis {
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
textarea {
  background-color: #f5f7fa;
}
p {
  font-weight: normal !important;
}
.border-style {
  border: 1px solid #ced4da !important;
}
.card-body {
  padding: 1rem !important;
}
.btn {
  font-size: 16px !important;
}
.pd-x {
  padding-left: 35px;
  padding-right: 35px;
}
/* Glow */
.hvr-glow {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.smallCard {
  padding: 10px;
}
.footer-modal {
  padding-top: 10px;
  float: right;
}
</style>
