<template>
  <section
    class="page-wrapper"
    :style="{ 'background-image': 'url(' + concoursDatas.wallpaper + ')' }"
  >
    <div class="login-register">
      <div class="login-register login-section">
        <div class="login-box card">
          <div class="logo">
            <img
              :src="concoursDatas.logoConcours"
              width="45px;"
              class="logo-img img-responsive"
              alt=""
            />
          </div>
          <!-- .logo-box -->
          <div class="card-body">
            <form
              class="form-horizontal form-material"
              id="loginform"
              @submit.prevent="submit"
            >
              <h3 class="box-title m-b-20">Connexion</h3>
              <center><span id="check_error"></span></center>
              <div class="form-group ">
                <div class="col-xs-12">
                  <input
                    type="text"
                    name="email"
                    class="form-control"
                    v-model="loginForm.email"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <i
                    v-if="passwordFieldType == 'password'"
                    @click="switchVisibility"
                    class="fa fa-fw fa-eye-slash passwordEye"
                  ></i>
                  <i
                    v-else
                    @click="switchVisibility"
                    class="fa fa-fw fa-eye passwordEye"
                  ></i>
                  <input
                    :type="passwordFieldType"
                    name="password"
                    class="form-control passwordInput"
                    v-model="loginForm.password"
                    placeholder="Mot de passe"
                  />
                </div>
              </div>
              <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                  <button
                    v-loading.fullscreen.lock="fullscreenLoading"
                    class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                    type="submit"
                  >
                    Connexion
                  </button>
                </div>
              </div>
              <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                  <p>
                    Mot de passe oublié ?
                    <router-link to="/password" class="text-info m-l-5"
                      ><b>Modifier!</b></router-link
                    >
                  </p>
                  <p>
                    Vous avez un compte ?
                    <router-link
                      :to="'/concours/preview/' + concoursDatas.id"
                      class="text-info m-l-5"
                      ><b>Inscription</b></router-link
                    >
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// import GuestFooter from '../../layouts/guest-footer.vue'
import firebase from "firebase";
import devises from "../../bp/mixins/currenciesMask";
import { Loading } from "element-ui";

export default {
  mixins: [devises, Loading],
  data() {
    return {
      loginForm: {
        email: "",
        password: "",
      },
      fullscreenLoading: false,
      fullPage: true,
      concoursRef: firebase.firestore().collection("concours"),
      permissionRef: firebase.firestore().collection("permissions"),
      concoursRef: firebase.firestore().collection("concours"),
      concoursDatas: {},
      passwordFieldType: "password",
    };
  },
  methods: {
    switchVisibility() {
      this.passwordFieldType =
        this.passwordFieldType === "password" ? "text" : "password";
    },
    closealert() {
      window.setTimeout(function() {
        $(".alert").alert("close");
      }, 4000);
    },

    submit(e) {
      //   this.$loading({ fullscreen: true });
      this.fullscreenLoading = true;
      const db = firebase.firestore();

      firebase
        .auth()
        .signInWithEmailAndPassword(
          this.loginForm.email,
          this.loginForm.password
        )
        .then((response) => {
          //    if(response.user.emailVerified){
          let authId = firebase.auth().currentUser.uid;
          db.collection("users")
            .doc(authId)
            .get()
            .then((doc) => {
              if (doc.exists) {
                var userDB = doc.data();
                if(userDB.activated) {
                  if (userDB.idConcours.id != "Uzwyn9L6RDz7ZieR5nkAZSEEER") {
                  var userSession = {};
                  //console.log(userDB.profile.id);

                  var currentUser = firebase.auth().currentUser;
                  //console.log(doc);
                  if (userDB.firstTimeConnection === "") {
                    currentUser.updateProfile({
                      displayName: userDB.first_name + " " + userDB.last_name,
                      photoURL: currentUser.photo,
                      phoneNumber: userDB.tel,
                    });
                    firebase
                      .firestore()
                      .collection("users")
                      .doc(currentUser.uid)
                      .update({
                        firstTimeConnection: firebase.firestore.FieldValue.serverTimestamp(),
                      });
                    //userDB.firstTimeConnection = firebase.firestore.FieldValue.serverTimestamp();
                    //db.collection('users').doc(currentUser.uid).update(userDB);
                    //console.log(userDB.firstTimeConnection);
                    userSession = {
                      name: userDB.first_name,
                      firstName: userDB.last_name,
                      displayName: currentUser.displayName,
                      email: currentUser.email,
                      phoneNumber: userDB.tel,
                      profile: userDB.profile.id,
                      photoURL: currentUser.photo,
                      firstTimeConnection: firebase.firestore.FieldValue.serverTimestamp(),
                      uid: currentUser.uid,
                      currency: userDB.defaultCurrency
                        ? userDB.defaultCurrency
                        : "xaf",
                      projet: null,
                      adminId: userDB.adminId.id,
                      concoursId: userDB.idConcours.id,
                    };
                  } else {
                    ("");
                    userSession = {
                      name: userDB.last_name,
                      firstName: userDB.last_name,
                      displayName: currentUser.displayName,
                      email: currentUser.email,
                      profile: userDB.profile.id,
                      phoneNumber: userDB.tel,
                      photoURL: currentUser.photoURL,
                      firstTimeConnection: userDB.firstTimeConnection,
                      uid: currentUser.uid,
                      currency: userDB.defaultCurrency
                        ? userDB.defaultCurrency
                        : "xaf",
                      projet: null,
                      adminId: userDB.adminId.id,
                      concoursId: userDB.idConcours.id,
                    };
                  }
                  //console.log("Document data:", userSession);
                  //on met les infos dans la session
                  localStorage.setItem(
                    "userSession",
                    JSON.stringify(userSession)
                  );
                  // stockage de la configuration des monnaies
                  this.applyCurrencyMask(userSession.currency);

                  //redirection vers l'espace client

                  var profile = userDB.profile.id;

                  switch (profile) {
                    case "3":
                      firebase
                        .firestore()
                        .collection("users")
                        .doc(currentUser.uid)
                        .get()
                        .then((doc) => {
                          this.permissionRef
                            .doc(currentUser.uid)
                            .get()
                            .then((docPerm) => {
                              this.concoursRef
                                .doc(userDB.idConcours.id)
                                .get()
                                .then((concoursDoc) => {
                                  userSession = {
                                    name: userDB.nom,
                                    firstName: userDB.prenom,
                                    // permissionsFinances:doc.data().bpFinancier,
                                    // permissionsSuivi:doc.data().suivi,
                                    displayName:
                                      userDB.first_name +
                                      " " +
                                      userDB.last_name,
                                    permissions: docPerm.data(),
                                    email: currentUser.email,
                                    profile: userDB.profile.id,
                                    photoURL: currentUser.photo,
                                    firstTimeConnection:
                                      userDB.firstTimeConnection,
                                    uid: currentUser.uid,
                                    currency: userDB.defaultCurrency
                                      ? userDB.defaultCurrency
                                      : "xaf",
                                    projet: null,
                                    etatConcours: concoursDoc.data()
                                      .etatDuConcours,
                                    adminId: userDB.adminId.id,
                                    concoursId: userDB.idConcours.id,
                                  };
                                  localStorage.setItem(
                                    "userSession",
                                    JSON.stringify(userSession)
                                  );

                                  this.$router.replace(
                                    "/bp/soumission/projets"
                                  );

                                  // console.log(concoursDoc.data())
                                });

                              this.fullscreenLoading = false;
                            });
                          // currentUser.updateProfile({
                          //     displayName: userDB.no,
                          //     photoURL: currentUser.photo,
                          // });
                        });

                      break;

                    case "2":
                      // this.$router.replace('bp/evaluateur/projets');
                      this.$router.replace("/bp/superadmin/dashboard");
                      break;
                    default:
                      break;
                  }
                } else {
                  this.$notify.info({
                    title: "Info",
                    message: "Votre projet est en cours d'évaluation",
                    duration: 0,
                  });
                  document.getElementById("check_error").innerHTML =
                    '<div class="alert alert-info alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Votre projet est en cours d\'évaluation </div>';
                  this.closealert;
                  this.fullscreenLoading = false;
                }
                } else {
                  this.$notify.info({
                    title: "Info",
                    message: "Votre compte est désactivé",
                    duration: 0,
                  });
                  document.getElementById("check_error").innerHTML =
                    '<div class="alert alert-info alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Votre compte est désactivé</div>';
                  this.closealert;
                  this.fullscreenLoading = false;
                
                }
               
            
              } else {
                // doc.data() will be undefined in this case
                console.log("No such document!");
                //this.isLoading = false;
              }
            });
        })
        .catch((error) => {
          // Handle Errors here.
          var errorCode = error.code;
          //alert(errorCode);
          // ...
          switch (errorCode) {
            case "auth/invalid-email":
              document.getElementById("check_error").innerHTML =
                '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>L\'adresse email est invalide </div>';
              // this.closealert();
              this.fullscreenLoading = false;
              this.$loading().close();
              // this.fullscreenLoading=false
              break;

            case "auth/user-not-found":
              document.getElementById("check_error").innerHTML =
                '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Ce compte n\'existe pas!</div>';
              this.closealert();
              this.fullscreenLoading = false;
              this.$loading().close();
              break;

            case "auth/wrong-password":
              document.getElementById("check_error").innerHTML =
                '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Le mot de passe est érroné!</div>';
              this.closealert();
              this.fullscreenLoading = false;
              break;
            case "auth/network-request-failed":
              // document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Aucune connexion internet</div>';
              // this.closealert();
              this.fullscreenLoading = false;
              firebase
                .auth()
                .setPersistence(firebase.auth.Auth.Persistence.SESSION)
                .then(function() {
                  // Existing and future Auth states are now persisted in the current
                  // session only. Closing the window would clear any existing state even
                  // if a user forgets to sign out.
                  // ...
                  // New sign-in will be persisted with session persistence.
                  return firebase
                    .auth()
                    .signInWithEmailAndPassword(
                      this.loginForm.email,
                      this.loginForm.password
                    );
                  console.log("Mode offline activé");
                })
                .catch(function(error) {
                  // Handle Errors here.
                  var errorCode = error.code;
                  var errorMessage = error.message;
                });

              break;

            default:
              break;
          }
        });
    },
  },
  async created() {
    let idConcours = this.$route.params.id;
    await this.concoursRef
      .doc(idConcours)
      .get()
      .then((doc) => {
        if (doc.exists) {
          this.concoursDatas = doc.data();
          this.concoursDatas.id = doc.id;
        }
      });
    this.$loading().close();
  },
};
</script>
<style scoped>
#wrapper {
  margin: auto;
}
.page-wrapper {
  padding: 0 !important;
}
.passwordEye {
  display: inline-block !important;
  cursor: pointer;
  position: absolute;
  margin-bottom: 10px;
  padding: 10px;
  left: 400px;
  z-index: 100;

  /* top: 12px;
        flex: 1; */
  /* float:right */
}
</style>
