<template>
    <div class="page-wrapper ml-3">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Emploi de temps</h3>
                    </div>
                    <!-- <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">superadmin</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/bp/suivi"> Utilisateurs</a>
                            </li>
                        </ol>
                    </div> -->
                </div>
                <el-tabs type="border-card" v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane v-for="(concours, index) in tousLesConcours" :key="index" :label="concours.libelleConcours" :name="concours.id">
                        
                        
                        
                        {{ concours.libelleConcours }}
                        <el-calendar :range="['2019-03-04', '2021-03-24']">
                        </el-calendar>
                        <div v-for="(participants, index) in participantsData" :key="index">
                            <span>Nom {{participants.first_name +" "+ participants.last_name}}</span>
                           
                        </div>
                        
                </el-tab-pane>
                   
                </el-tabs>
          
            

            </div>
        </div>
</template>

<script>
    import firebase from 'firebase'
    import helper from '../../../services/helper'
    import { FullCalendar } from 'vue-full-calendar'
    import 'fullcalendar/dist/fullcalendar.css'
    import 'fullcalendar/dist/locale/fr'
    import GSTC from "vue-gantt-schedule-timeline-calendar";
    import dayjs from 'dayjs'
    let subs = [];
    // dayjs.locale('fr') // use locale globally
    // dayjs()
    // .locale('fr')
    // .format() 

    export default {
        components: {FullCalendar,GSTC},
        mixins:[helper],
        name: 'emploi-du-temps',
    data() {
            return {
                users: firebase.firestore().collection('users'),
                currentUId:JSON.parse(localStorage.getItem('userSession')).uid,
                lire:false,
                ecrire:false,
                concoursRef: firebase.firestore().collection('concours'),
                permissionsRef: firebase.firestore().collection('permissions'),
                storageRef: firebase.storage().ref(),
                hostname: window.location.host,
                activeName: '',
                allGroupPrograms:'',
                centerDialogVisible:false,
                participantsData:'',
                eventsCalendar:[], 
                configCalendar: {
                    locale: 'fr',
                },
                innerVisible:false,
                groupePrograms:{
                    titre:'',
                    programs:[],
                    idIncubateur:''

                },
                group:{
                    titre:'',
                    programs:[],
                    idIncubateur:''

                },
          
                idConcours: null,
                ValueExceedQuota: false,
                quotaConcours: 0,
                nbQuotasUsed: 0,
                quotasRestant: null,
                tousLesConcours: [],
                concoursDatas:{ 
                    libelleConcours: null,
                    descriptionConcours: null,
                    dateConcours: null,
                    criteresEvaluation: null,
                    logoConcours: null,
                    typeProgram:'businessPlan',
                    wallpaper: null,
                    participants: 0,
                    createdAt: new Date(),
                    incubateur: JSON.parse(localStorage.getItem('userSession')).displayName,
                    adminId: JSON.parse(localStorage.getItem('userSession')).uid,
                    etatDuConcours: false,
                    quotasRestant: 0,
                },
                customToolbar: [
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                ['bold', 'italic', 'underline', 'strike'],        

                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                            [{ 'font': [] }],
                [{ 'color': [] }, { 'background': [] }],        

                ['clean']                                       
                ],

                /***CALENDAR */
                config: {
                    height: 300,
                    list: {
                    rows: {
                        
                    },
                    columns: {
                        data: {
                        id: {
                            id: "id",
                            data: "id",
                            width: 200,
                            header: {
                            content: "Nom"
                            }
                        },
                        label: {
                            id: "label",
                            data: "label",
                            width: 200,
                            header: {
                            content: "Prenom"
                            }
                        }
                        }
                    }
                    },
                    chart: {
                    items: {
                        "1": {
                        id: "1",
                        rowId: "1",
                        label: "Absent",
                        time: {
                            start: new Date().getTime(),
                            end: new Date().getTime() + 24 * 60 * 60 * 1000
                        }
                        },
                        "2": {
                        id: "2",
                        rowId: "2",
                        label: "Absent",
                        time: {
                            start: new Date().getTime(),
                            end: new Date().getTime() + 24 * 60 * 60 * 1000
                        }
                        },
                       
                       
                       
                      
                    },
                    locale:{
                        name: 'fr',
                        weekdays: 'dimanche_lundi_mardi_mercredi_jeudi_vendredi_samedi'.split('_'),
                        weekdaysShort: 'dim._lun._mar._mer._jeu._ven._sam.'.split('_'),
                        weekdaysMin: 'di_lu_ma_me_je_ve_sa'.split('_'),
                        months: 'janvier_février_mars_avril_mai_juin_juillet_août_septembre_octobre_novembre_décembre'.split('_'),
                        monthsShort: 'janv._févr._mars_avr._mai_juin_juil._août_sept._oct._nov._déc.'.split('_'),
                        weekStart: 1,
                        yearStart: 4,
                        formats: {
                            LT: 'HH:mm',
                            LTS: 'HH:mm:ss',
                            L: 'DD/MM/YYYY',
                            LL: 'D MMMM YYYY',
                            LLL: 'D MMMM YYYY HH:mm',
                            LLLL: 'dddd D MMMM YYYY HH:mm'
                        },
                        relativeTime: {
                            future: 'dans %s',
                            past: 'il y a %s',
                            s: 'quelques secondes',
                            m: 'une minute',
                            mm: '%d minutes',
                            h: 'une heure',
                            hh: '%d heures',
                            d: 'un jour',
                            dd: '%d jours',
                            M: 'un mois',
                            MM: '%d mois',
                            y: 'un an',
                            yy: '%d ans'
                        },
                        ordinal: (n) => {
                            const o = n === 1 ? 'er' : ''
                            return `${n}${o}`
                        }
                    }
                    }
                }
            }
        },
        computed: {
     
        
         },
        created () {
            if(this.$route.params.data){
                this.$route.params.data.forEach(item=>{
                    if(item=='lire'){
                    this.lire=true
                    }
                    if(item=='ecrire'){
                    this.ecrire=true
                    }
                })
            }
       
           
        },
        methods: {
            
            getParticipants(){
                this.users.where('idConcours', '==',this.concoursRef.doc(this.activeName)).
                onSnapshot((querySnapshot) => {
                    this.participantsData=[];
                    // console.log('Hello')
                    let i=0;
                    querySnapshot.forEach((doc) => {
                        i++;
                        let obj = doc.data();
                        this.participantsData.push(obj)  
                        this.config.list.rows[i.toString()]={                                                                         
                                        id: i.toString(),
                                        label: obj.first_name                                           
                                          
                        }  
                        console.log(i)             
                    });
                   
                    // console.log(this.listPrograms)
                    // loader.hide();
                    
                });

            },
            getPrograms(){
                this.$loading({ fullscreen: true });
                this.concoursRef.where('adminId','==',this.currentUId)
                .onSnapshot((onSnapshot) =>{
                    this.tousLesConcours = [];
                    if(!onSnapshot.empty){
                        onSnapshot.forEach((doc) =>{
                        let concours = doc.data();
                        concours.id = doc.id;
                        concours.nbParticipantsInscris = [];
                        this.nbQuotasUsed = this.nbQuotasUsed + concours.participants;
                        this.users.where('idConcours', '==',this.concoursRef.doc(doc.id)).onSnapshot((snapshot) =>{
                        if(!snapshot.empty){
                            snapshot.forEach((doc) =>{
                            let obj = doc.data();
                            concours.nbParticipantsInscris.push(obj);
                            })
                            }
                        });
                        this.tousLesConcours.push(concours);
                        })
                    };
                    this.$loading().close();
                    });

                this.permissionsRef.doc(this.concoursDatas.adminId).get()
                    .then((doc) =>{
                    let obj = doc.data();
                    this.quotaConcours = obj.hasOwnProperty('quotaConcours') ? obj.quotaConcours : 0;
                    this.quotasRestant = this.quotaConcours - this.nbQuotasUsed;
                    this.concoursDatas.quotasRestant = this.quotasRestant;
                    });
            },
            handleClick(tab, event) {
                // console.log(tab.name, event);
                this.getParticipants()
            },
            onState(state) {
            this.state = state;
            subs.push(
                state.subscribe("config.chart.items.1", item => {
                console.log("item 1 changed", item);
                })
            );
            subs.push(
                state.subscribe("config.list.rows.1", row => {
                console.log("row 1 changed", row);
                })
            );
            }
         
            
            
        },
        mounted () {
            setTimeout(() => {
                const item1 = this.config.chart.items["1"];
                item1.label = "label changed dynamically";
                item1.time.end += 2 * 24 * 60 * 60 * 1000;
                }, 2000);
 
                this.getPrograms()
                this.$loading().close();
            },
            beforeDestroy() {
                subs.forEach(unsub => unsub());
          
            
        }
    }
</script>
<style scoped>
    .icon{
    padding-right: 10px;
    font-size:20px;
    }
    .iconMenu{
        padding-right: 15px;
    }
    .permSelect{
    width:200px;
    float:right
    }
    .el-col{
        margin-bottom: 20px !important;
    }
</style>
