<template>
    <div class="page-wrapper ml-3">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Participants</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">superadmin</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/bp/suivi"> Utilisateurs</a>
                            </li>
                        </ol>
                    </div>
                </div>
          
            <el-tabs v-if="ecrire" class="nav-tabs customtab" role="tablist" v-model="activeName"  @tab-click="handleTabClick" type="border-card">
                    <el-tab-pane name="liste_bp">
                        <div slot="label">
                            <span ><i class="el-icon-tickets"></i> Plan d'Affaires </span>
                        </div>
                        <el-row :gutter="10">
                        <el-col :span="8">
                                <el-input
                                v-model="recherche"
                                @input="filterData"
                                size="small"
                                placeholder="Rechercher"/>
                            </el-col>
                            <el-col :span="2">
                                <el-tooltip  v-if="multipleSelection.length!=0" class="item" effect="dark" content="Activer les éléments sélectionnés" placement="top">
                                    <el-button size="mini" type="success" @click="MultipleswitchState(activate.desactivated)">Activer ({{ this.multipleSelection.length }}) </el-button>    
                                </el-tooltip> 
                            </el-col>
                            <el-col  :span="3">
                                <el-tooltip  v-if="multipleSelection.length!=0" class="item" effect="dark" content="Activer les éléments sélectionnés" placement="top">
                                    <el-button size="mini" type="danger" @click="MultipleswitchState(activate.activated)">Désactiver ({{ this.multipleSelection.length }}) </el-button>    
                                </el-tooltip> 
                            </el-col>
                            <el-col  :span="3">
                                <el-tooltip   v-if="multipleSelection.length!=0" class="item" effect="dark" content="Supprimer les éléments sélectionnés" placement="top">
                                    <el-button  icon="el-icon-delete"  size="mini" type="danger" @click="deleteMultiple()">Supprimer ({{ this.multipleSelection.length }}) </el-button>    
                                </el-tooltip>  
                            </el-col>
                            <el-col :span="3">
                                <el-button   v-if="multipleSelection.length!=0" size="mini" icon="el-icon-s-promotion"   @click="$refs.Message.loadModalMessageMultiple(multipleSelection)" >Message ({{ this.multipleSelection.length }})</el-button>  
                               
                            </el-col>
                            <el-col :span="3">
                                <el-button size="mini" @click="toggleSelection()">Effacer la sélection</el-button>  
                            </el-col>
                          
                        </el-row>
                            <el-row >
                            <el-col :span="18">
                                <div class="grid-content">
                                    Total utilisateurs:<span class="badge badge-dark font-weight-bold" type="warning">{{this.totalUsers}}</span>
                                </div>
                                </el-col>
                                <el-col :span="6">
                                    <el-button size="mini" v-if="ecrire" type="success" >
                                        <export-excel
                                            :data="this.tableDataFilter"
                                            :fields="this.tableDataFields"
                                            name="Export-participants">
                                            <i class="mdi mdi-download"> <strong  style="padding-left:5px" >Export  Participants </strong> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                            width="24" height="24"
                                            viewBox="0 0 172 172"
                                            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,21.5l-71.66667,14.33333v100.33333l71.66667,14.33333zM100.33333,35.83333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h50.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-86c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667zM129,50.16667h14.33333v14.33333h-14.33333zM29.92643,59.46094h12.73763l6.62077,15.87305c0.5375,1.29717 0.94208,2.80149 1.35775,4.50716h0.18197c0.2365,-1.02483 0.7179,-2.59064 1.44173,-4.63314l7.37663,-15.74707h11.61784l-13.87142,26.30111l14.27734,26.77702h-12.3877l-7.97852,-17.30078c-0.301,-0.60917 -0.65799,-1.83567 -0.95182,-3.54134h-0.11198c-0.17917,0.817 -0.5403,2.04015 -1.0778,3.68132l-8.0485,17.16081h-12.44368l14.76725,-26.56706zM129,78.83333h14.33333v14.33333h-14.33333zM129,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg></i>
                  
                                        </export-excel>
                                    </el-button>    
                                </el-col>
                            </el-row>
                            
                           
                            <el-table v-if="lire"
                                ref="table"
                                height="500"
                                :data="dataFilter"
                                v-loading="loadingTable"
                                @selection-change="handleSelectionChange"
                                :header-cell-style="tableHeaderColor"
                                style="width: 100%">
                                <el-table-column
                                    type="selection"
                                    width="30">
                                </el-table-column>
                                <el-table-column
                                label="Date Création"
                                :filters="this.listDateCreation"
                                :filter-method="filterTagDateCreation"
                                width="150">

                                <template slot-scope="scope">
                                    <el-popover
                                        placement="top-start"
                                        width="200"
                                        trigger="hover"
                                        >
                                        <el-tag  slot="reference" size="medium">
                                        <i class="el-icon-time"></i>
                                        <span v-if="scope.row.createdAt" style="margin-left: 10px">{{  new Date(scope.row.createdAt.seconds*1000) | moment("Do MMMM YYYY") | cyb_date_split }} </span>
                                        </el-tag>
                                        <span > {{  new Date(scope.row.createdAt.seconds*1000) | moment("Do MMMM YYYY") }}  </span>
                                       
                                    </el-popover>
                                  
                                </template>
                                </el-table-column>
                                <el-table-column
                                label="Nom"
                                width="220">
                                <template slot-scope="scope">
                                    <el-badge v-if="scope.row.new" value="Nouveau" class="item_new">
                                        <strong>{{scope.row.first_name | cyb_name_plit }}</strong>
                                    </el-badge>
                                    <strong v-else>{{scope.row.first_name | cyb_name_plit }}</strong>
                                                       
                                   
                                                        
                                </template>
                                </el-table-column>
                                <el-table-column
                                    label="Prénom"
                                    width="180">
                                    <template slot-scope="scope">
                                                       
                                        <strong>{{scope.row.last_name | cyb_name_plit}}</strong>
                                                        
                                    </template>
                                </el-table-column>
                                 <el-table-column v-if="this.currentUId=='VuCP8K4T5qN4910GdFxUgxRRcmB2' || this.adminId=='VuCP8K4T5qN4910GdFxUgxRRcmB2'"
                                    label="Num ONE"
                                    width="100">
                                    <template slot-scope="scope">
                                                       
                                        <strong>{{scope.row.numOne}}</strong>
                                                        
                                    </template>
                                </el-table-column>
                               
                                <el-table-column
                                label="Programme"
                                :filters="this.listPrograms"
                                :filter-method="filterTagProgram"
                                width="200">
                                <template slot-scope="scope">
                                    <el-popover
                                        placement="top-start"
                                        width="200"
                                        trigger="hover"
                                        >
                                        <el-tag  slot="reference" size="medium">
                                        <span v-if="scope.row.concours"  >{{scope.row.concours | cyb_title_plit}}</span>
                                        </el-tag>
                                        <span v-if="scope.row.concours"  > {{scope.row.concours}}</span>
                                       
                                    </el-popover>
                                                       
                                </template>
                                </el-table-column>
                                <el-table-column
                                :filters="this.listHorraires"
                                :filter-method="filterTagHorraire"
                                label="Horraire"
                                width="100">
                                <template slot-scope="scope">
                                                        
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag  size="medium">{{scope.row.horraire}}</el-tag>
                                    </div>
                                                       
                                </template>
                                </el-table-column>
                              
                              
                                <el-table-column
                                label="Sexe"
                                :filters="this.listSexe"
                                :filter-method="filterTagSexe"
                                width="100">
                                <template slot-scope="scope">
                                                        
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium">{{ scope.row.sexe }}</el-tag>
                                    </div>
                                                       
                                </template>
                                </el-table-column>
                                <el-table-column
                                label="Téléphone"
                                width="150">
                                <template slot-scope="scope">
                                                        
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium">{{ scope.row.telephone }}</el-tag>
                                    </div>
                                                       
                                </template>
                                </el-table-column>
                                <el-table-column
                                        label="Email"
                                        width="300">
                                        <template slot-scope="scope">
                                                       
                                            <p>{{scope.row.email}}</p>
                                                        
                                        </template>
                                </el-table-column>
                                <el-table-column
                                label="Province"
                                :filters="this.listProvince"
                                :filter-method="filterTagProvince"
                                width="200">
                                <template slot-scope="scope">
                                    <el-popover
                                        placement="top-start"
                                        width="200"
                                        trigger="hover"
                                        >
                                        <el-tag  slot="reference" size="medium">
                                        <span v-if="scope.row.province"  >{{scope.row.province | cyb_title_plit}}</span>
                                        </el-tag>
                                        <span v-if="scope.row.province"  > {{scope.row.province}}</span>
                                       
                                    </el-popover>
                                                       
                                </template>
                                </el-table-column>
                                 <el-table-column
                                label="Ville"
                                :filters="this.listVille"
                                :filter-method="filterTagVille"
                                width="200">
                                <template slot-scope="scope">
                                    <el-popover
                                        placement="top-start"
                                        width="200"
                                        trigger="hover"
                                        >
                                        <el-tag  slot="reference" size="medium">
                                        <span v-if="scope.row.ville"  >{{scope.row.ville | cyb_title_plit}}</span>
                                        </el-tag>
                                        <span v-if="scope.row.ville"  > {{scope.row.ville}}</span>
                                       
                                    </el-popover>
                                                       
                                </template>
                                </el-table-column>
                                <el-table-column
                                        label="Quartier"
                                        width="100">
                                        <template slot-scope="scope">
                                                       
                                            <p>{{scope.row.quartier}}</p>
                                                        
                                        </template>
                                </el-table-column>
                                
                                <el-table-column
                                label="Date Connexion"
                                width="140">

                                <template slot-scope="scope">
                                    <el-popover
                                        placement="top-start"
                                        width="200"
                                        trigger="hover">
                                        
                                        <i class="el-icon-time"></i>
                                        <span slot="reference" v-if="scope.row.firstTimeConnection" style="margin-left: 10px">{{  new Date(scope.row.firstTimeConnection.seconds*1000) | moment("Do MMMM YYYY") | cyb_date_split }} </span>
                                        <span slot="reference" v-else style="margin-left: 10px"> </span>

                                       
                                        <span v-if="scope.row.firstTimeConnection" > {{  new Date(scope.row.firstTimeConnection.seconds*1000) | moment("Do MMMM YYYY") }}  </span>
                                       
                                    </el-popover>
                                </template>
                                </el-table-column>
                               
                               
            
                                <el-table-column
                                label="Etat"
                                fixed="right"
                                width="100"
                                >
                                                    
                                <template v-if="ecrire" slot-scope="scope">
                                    <el-button 
                                    v-if="scope.row.activated && scope.row.program=='businessPlan'"
                                    size="mini"
                                   
                                    type="success"
                                    @click="switchState(scope.row.id,scope.row.activated)"
                                    >Actif</el-button>
                                    <el-button
                                    v-if="!scope.row.activated && scope.row.program=='businessPlan'"
                                    size="mini"
                                    :loading="stateLoading[scope.row.id]"
                                    @click="switchState(scope.row.id,scope.row.activated)"
                                    type="danger"
                                    >inactif</el-button>
                                
                                  
                                                         
                                </template>
                                </el-table-column>                   
                                <el-table-column
                                fixed="right"
                                label="Supprimer"
                                width="100"
                                >
                                                    
                                <template v-if="ecrire" slot-scope="scope">
                                  
    
                                    <el-button
                                    size="mini"
                                    icon="el-icon-delete" 
                                    type="danger"
                                    @click="deleteElement(scope.row.id)"
                                    ></el-button>
                                                         
                                </template>
                                </el-table-column>
                                <el-table-column
                                fixed="right"
                                label="Message"
                                width="100"
                                >
                                <template v-if="ecrire" slot-scope="scope">
                                    <el-button
                                    v-if="scope.row.program=='businessPlan'"
                                    size="mini"
                                    icon="el-icon-s-promotion" 
                                    @click="$refs.Message.loadModalMessage(scope.row)"
                                    ></el-button>
                                </template>
                                                    
                           
                                </el-table-column>
                                <el-table-column
                                fixed="right"
                                label="Permissions"
                                width="150"
                                >
                                <template v-if="ecrire" slot-scope="scope">
                                    <el-button
                                    v-if="scope.row.program=='businessPlan'"
                                    size="mini"
                                    icon="el-icon-edit" 
                                    @click="loadModalPermUpdate(scope.row.id)"
                                    ></el-button>
                                </template>
                                                    
                           
                                </el-table-column>
                             
                            </el-table> 
                                <!-- <el-pagination
                                background
                                layout="prev, pager, next"
                                :total="totalUsers">
                                </el-pagination> -->
                                        
                                            
                                              
                    </el-tab-pane>
                    <el-tab-pane name="liste_autres">
                        <div slot="label">
                            <span ><i class="el-icon-tickets"></i> Autres   </span>
                        </div>
                        <el-row :gutter="10">
                        <el-col :span="13">
                                <el-input
                                v-model="rechercheAutre"
                                @input="filterDataAutre"
                                size="small"
                                placeholder="Rechercher"/>
                            </el-col>
                            <el-col :span="2">
                                <!-- <el-tooltip  v-if="multipleSelection.length!=0" class="item" effect="dark" content="Activer les éléments sélectionnés" placement="top">
                                    <el-button size="mini" type="success" @click="MultipleswitchState(activate.desactivated)">Activer ({{ this.multipleSelection.length }}) </el-button>    
                                </el-tooltip>  -->
                            </el-col>
                            <el-col  :span="3">
                                <!-- <el-tooltip  v-if="multipleSelection.length!=0" class="item" effect="dark" content="Activer les éléments sélectionnés" placement="top">
                                    <el-button size="mini" type="danger" @click="MultipleswitchState(activate.activated)">Désactiver ({{ this.multipleSelection.length }}) </el-button>    
                                </el-tooltip>  -->
                            </el-col>
                            <el-col  :span="3">
                                <el-tooltip   v-if="multipleSelectionAutre.length!=0" class="item" effect="dark" content="Supprimer les éléments sélectionnés" placement="top">
                                    <el-button  icon="el-icon-delete"  size="mini" type="danger" @click="deleteMultiple()">Supprimer ({{ this.multipleSelectionAutre.length }}) </el-button>    
                                </el-tooltip>  
                            </el-col>
                            <el-col :span="3">
                                <!-- <el-button size="mini" @click="toggleSelection()">Effacer la sélection</el-button>   -->
                            </el-col>
                        </el-row>
                            <el-row >
                            <el-col :span="18">
                                <div class="grid-content">
                                    Total utilisateurs:<span class="badge badge-dark font-weight-bold" type="warning">{{this.tableDataFilterAutre.length}}</span>
                                </div>
                                </el-col>
                                <el-col :span="6">
                                    <el-button size="mini" v-if="ecrire" type="success" ><export-excel
                                            :data="this.tableDataFilterAutre"
                                            :fields="this.tableDataFields"
                                            height="500"
                                            name="Export-participants">
                                            <i class="mdi mdi-download"> <strong  style="padding-left:5px" >Export  Participants </strong> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                            width="24" height="24"
                                            viewBox="0 0 172 172"
                                            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,21.5l-71.66667,14.33333v100.33333l71.66667,14.33333zM100.33333,35.83333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h50.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-86c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667zM129,50.16667h14.33333v14.33333h-14.33333zM29.92643,59.46094h12.73763l6.62077,15.87305c0.5375,1.29717 0.94208,2.80149 1.35775,4.50716h0.18197c0.2365,-1.02483 0.7179,-2.59064 1.44173,-4.63314l7.37663,-15.74707h11.61784l-13.87142,26.30111l14.27734,26.77702h-12.3877l-7.97852,-17.30078c-0.301,-0.60917 -0.65799,-1.83567 -0.95182,-3.54134h-0.11198c-0.17917,0.817 -0.5403,2.04015 -1.0778,3.68132l-8.0485,17.16081h-12.44368l14.76725,-26.56706zM129,78.83333h14.33333v14.33333h-14.33333zM129,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg></i>
                  
                                        </export-excel>
                                    </el-button>    
                                </el-col>
                            </el-row>
                            
                           
                            <el-table v-if="lire"
                                ref="tableAutre"
                                :data="tableDataAutre"
                                v-loading="loadingTable"
                                @selection-change="handleSelectionChangeAutre"
                                :header-cell-style="tableHeaderColor"
                                style="width: 100%">
                                <el-table-column
                                    type="selection"
                                    width="30">
                                </el-table-column>
                                <el-table-column
                                label="Date Création"
                                :filters="this.listDateCreationAutre"
                                :filter-method="filterTagDateCreation"
                                width="150">

                                <template slot-scope="scope">
                                    <el-popover
                                        placement="top-start"
                                        width="200"
                                        trigger="hover"
                                        >
                                        <el-tag  slot="reference" size="medium">
                                        <i class="el-icon-time"></i>
                                        <span v-if="scope.row.createdAt" style="margin-left: 10px">{{  new Date(scope.row.createdAt.seconds*1000) | moment("Do MMMM YYYY") | cyb_date_split }} </span>
                                        </el-tag>
                                        <span > {{  new Date(scope.row.createdAt.seconds*1000) | moment("Do MMMM YYYY") }}  </span>
                                       
                                    </el-popover>
                                  
                                </template>
                                </el-table-column>
                                <el-table-column
                                label="Nom"
                                width="220">
                                <template slot-scope="scope">
                                    <el-badge v-if="scope.row.new" value="Nouveau" class="item_new">
                                        <strong>{{scope.row.first_name | cyb_name_plit }}</strong>
                                    </el-badge>
                                    <strong v-else>{{scope.row.first_name | cyb_name_plit }}</strong>
                                                       
                                   
                                                        
                                </template>
                                </el-table-column>
                                <el-table-column
                                    label="Prénom"
                                    width="180">
                                    <template slot-scope="scope">
                                                       
                                        <strong>{{scope.row.last_name | cyb_name_plit}}</strong>
                                                        
                                    </template>
                                </el-table-column>
                                  <el-table-column v-if="this.currentUId=='VuCP8K4T5qN4910GdFxUgxRRcmB2' || this.adminId=='VuCP8K4T5qN4910GdFxUgxRRcmB2'"
                                    label="Num ONE"
                                    width="100">
                                    <template slot-scope="scope">
                                                       
                                        <strong>{{scope.row.numOne}}</strong>
                                                        
                                    </template>
                                </el-table-column>
                                <el-table-column
                                 v-if="currentUId=='UxyEQvKsf8Y3L87rpdimtc6dLbl2'"
                                    label="Rendez-Vous"
                                    width="180">
                                    <template slot-scope="scope">
                                                       
                                        <strong>{{  new Date(scope.row.dateRdv.seconds*1000) | moment("Do MMMM YYYY") }}</strong>               
                                    </template>
                                </el-table-column>
                               
                                <el-table-column
                                label="Programme"
                                :filters="this.listProgramsAutre"
                                :filter-method="filterTagProgram"
                                width="200">
                                <template slot-scope="scope">
                                    <el-popover
                                        placement="top-start"
                                        width="200"
                                        trigger="hover"
                                        >
                                        <el-tag  slot="reference" size="medium">
                                        <span v-if="scope.row.concours"  >{{scope.row.concours | cyb_title_plit}}</span>
                                        </el-tag>
                                        <span v-if="scope.row.concours"  > {{scope.row.concours}}</span>
                                       
                                    </el-popover>
                                                       
                                </template>
                                </el-table-column>
                                <el-table-column
                                :filters="this.listHorrairesAutre"
                                :filter-method="filterTagHorraire"
                                label="Horraire"
                                width="100">
                                <template slot-scope="scope">
                                                        
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag  size="medium">{{scope.row.horraire}}</el-tag>
                                    </div>
                                                       
                                </template>
                                </el-table-column>
                              
                              
                                <el-table-column
                                label="Sexe"
                                :filters="this.listSexeAutre"
                                :filter-method="filterTagSexe"
                                width="100">
                                <template slot-scope="scope">
                                                        
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium">{{ scope.row.sexe }}</el-tag>
                                    </div>
                                                       
                                </template>
                                </el-table-column>
                                <el-table-column
                                label="Téléphone"
                                width="150">
                                <template slot-scope="scope">
                                                        
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium">{{ scope.row.telephone }}</el-tag>
                                    </div>
                                                       
                                </template>
                                </el-table-column>
                                <el-table-column
                                        label="Email"
                                        width="300">
                                        <template slot-scope="scope">
                                                       
                                            <p>{{scope.row.email}}</p>
                                                        
                                        </template>
                                </el-table-column>
                                 <el-table-column
                                label="Province"
                                :filters="this.listProvince"
                                :filter-method="filterTagProvince"
                                width="200">
                                <template slot-scope="scope">
                                    <el-popover
                                        placement="top-start"
                                        width="200"
                                        trigger="hover"
                                        >
                                        <el-tag  slot="reference" size="medium">
                                        <span v-if="scope.row.province"  >{{scope.row.province | cyb_title_plit}}</span>
                                        </el-tag>
                                        <span v-if="scope.row.province"  > {{scope.row.province}}</span>
                                       
                                    </el-popover>
                                                       
                                </template>
                                </el-table-column>
                                 <el-table-column
                                label="Ville"
                                :filters="this.listVille"
                                :filter-method="filterTagVille"
                                width="200">
                                <template slot-scope="scope">
                                    <el-popover
                                        placement="top-start"
                                        width="200"
                                        trigger="hover"
                                        >
                                        <el-tag  slot="reference" size="medium">
                                        <span v-if="scope.row.ville"  >{{scope.row.ville | cyb_title_plit}}</span>
                                        </el-tag>
                                        <span v-if="scope.row.ville"  > {{scope.row.ville}}</span>
                                       
                                    </el-popover>
                                                       
                                </template>
                                </el-table-column>
                                <el-table-column
                                        label="Quartier"
                                        width="100">
                                        <template slot-scope="scope">
                                                       
                                            <p>{{scope.row.quartier}}</p>
                                                        
                                        </template>
                                </el-table-column>
                                <el-table-column
                                fixed="right"
                                label="Message"
                                width="100"
                                >
                                <template v-if="ecrire" slot-scope="scope">
                                    <el-button
                                    size="mini"
                                    icon="el-icon-s-promotion" 
                                    @click="$refs.Message.loadModalMessage(scope.row)"
                                    ></el-button>
                                </template>
                                                    
                           
                                </el-table-column>
                             
                               
                               
                             
                                <el-table-column
                                fixed="right"
                                label="Supprimer"
                                width="120"
                                >
                                                    
                                <template v-if="ecrire" slot-scope="scope">
                                  
    
                                    <el-button
                                    size="mini"
                                    icon="el-icon-delete" 
                                    type="danger"
                                    @click="deleteElement(scope.row.id)"
                                    ></el-button>
                                                         
                                </template>
                                </el-table-column>
                              
                             
                            </el-table> 

                                 
                                            
                                              
                    </el-tab-pane>
                    <el-dialog
                    title="Modules"
                    :visible.sync="dialogVisible"
                    width="30%"
                    >
                    <span>Assigner un ou plusieurs modules</span>
                    

                    <el-collapse accordion>
                        <el-collapse-item name="executiveSumary">
                            <template slot="title">
                            <i class="mdi mdi-format-line-weight icon"></i>RESUME OPERATIONNEL
                            </template>
                            <div class="block">
                            <div class="form-group" >
                                <el-checkbox v-model="permissionExecutiveSummary.state">Formulaire de création de projets</el-checkbox>
                            </div>
                            </div>
                        </el-collapse-item>
                   
                        <el-collapse-item name="bpFinancier">
                            <template slot="title">
                            <i class="mdi mdi-cash-multiple icon"></i>BUSINESS PLAN FINANCIER
                            </template>
                            <div class="block">
                                <div class="form-group" >
                                    <label>Permissions <span class="text-danger"></span>:</label>
                                    <div class="table-responsive">
                                        <table class="table editable-table">
                                        
                                            <tbody>
                                            <tr v-for="(perms, keyperms) in permissionBpFinanicer.liste" :value="perms.libelle" :key="keyperms" >
                                                <td>
                                                           
                                                    <el-checkbox v-model="perms.checked">{{ perms.libelle }}</el-checkbox>
                                                    <!-- Material checked -->
                                                    <div v-if="perms.checked">
                                                    <div   v-for="(item, key) in perms.content"  :key="key"  class="form-check">
                                                        <el-row>
                                                        <el-col :span="12"><div class="grid-content">
                                                            <el-checkbox v-model="item.checked" >{{ item.libelle }}</el-checkbox>
                                                        
                                                        </div></el-col>
                                                        <el-col :span="12"><div class="grid-content">
                                                            <el-select  multiple v-if="item.checked" v-model="item.value" class="permSelect"  size="mini" placeholder="droits">
                                                                <el-option
                                                                v-for="itemop in item.options"
                                                                :key="itemop.value"
                                                                :label="itemop.label"
                                                                :value="itemop.value">
                                                                </el-option>
                                                            </el-select>
                                                     
                                                        </div></el-col>
                                                        </el-row>
                                                    </div>
                                                    <div v-for="(itemlevel3,key3) in item" :key="key3" class="form-check">
                                                        <el-checkbox  v-model="itemlevel3.checked">{{ itemlevel3.libelle }}</el-checkbox>
                                                        <el-select  multiple v-if="itemlevel3.checked" class="permSelect"  size="mini" v-model="itemlevel3.value" placeholder="droits">
                                                            <el-option
                                                            v-for="itemop in itemlevel3.options"
                                                            :key="itemop.value"
                                                            :label="itemop.label"
                                                            :value="itemop.value">
                                                            </el-option>
                                                        </el-select>
                                                        <el-select  multiple v-else class="permSelect"  size="mini" disabled v-model="itemlevel3.value" placeholder="droits">
                                                            <el-option
                                                            v-for="itemop in itemlevel3.options"
                                                            :key="itemop.value"
                                                            :label="itemop.label"
                                                            :value="itemop.value">
                                                            </el-option>
                                                        </el-select>

                                                    </div>
                                                    </div>
                                                            
                                                           
                                                </td>
                                                      
                                
                                                       
                                            </tr>
                                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <span>Prévisualisation du menu </span>
                                <el-menu
                        
                                default-active="2"
                                class="el-menu-vertical-demo"
                                background-color="#242a33"
                                text-color="#fff"
                                active-text-color="#ffd04b"
      
                                >
                                <router-link v-for="(item,index) in menuLevel1Bp" :key="index" :to="{name:item.route}">
                                <el-menu-item :index="index">
                                    <i :class="item.icon"></i>
                                    <span>{{ item.libelle }}</span>
                                </el-menu-item>
                                </router-link>
                                <el-submenu v-for="(item,index) in menuLevel2Bp" :key="index" :index="index">
                                    <template slot="title">
                                    <i :class="item.icon"></i>
                                    <span>{{ item.libelle }}</span>
                                    </template>
      
                                    <router-link v-for="(itemlevel2,indexlevel2) in item.content" :key="indexlevel2" :to="{name:itemlevel2.route}">
                                        <el-menu-item v-if="itemlevel2.checked" :index="index+'-'+indexlevel2" >{{ itemlevel2.libelle }}</el-menu-item>
                                    </router-link>

                                </el-submenu>
                      
                                <!-- <el-submenu index="3">
                                    <template slot="title">
                                    <i class="el-icon-setting"></i>
                                    <span>Parametres</span>
                                    </template>
                                    <el-submenu index="3-1">
                                    <template slot="title">Membres</template>
                                    <router-link  :to="{name:'setting-members-user'}">
                                    <el-menu-item  index="3-1-1">
                                        Créer
                                        </el-menu-item>
                                        </router-link>
        
                                        <router-link  :to="{name:'setting-members-role'}">
                                        <el-menu-item index="3-1-2">
                                        Rôles
                                        </el-menu-item>
                                        </router-link>
           
          
                                    </el-submenu>
                                </el-submenu> -->
  
                                </el-menu>
                            </div>
                        
                        </el-collapse-item>
                        <el-collapse-item name="suivi">
                            <template slot="title">
                            <i class="mdi mdi-monitor-multiple icon"></i>SUIVI
                            </template>
                            <div class="block">
                                <div class="form-group" >
                                    <label>Permissions <span class="text-danger"></span>:</label>
                                    <div class="table-responsive">
                                        <table class="table editable-table">
                                        
                                            <tbody>
                                            <tr v-for="(perms, keyperms) in permissionSuivi.liste" :value="perms.libelle" :key="keyperms" >
                                                <td>
                                                           
                                                    <el-checkbox v-model="perms.checked">{{ perms.libelle }}</el-checkbox>
                                                    <!-- Material checked -->
                                                    <div v-if="perms.checked">
                                                    <div   v-for="(item, key) in perms.content"  :key="key"  class="form-check">
                                                        <el-row>
                                                        <el-col :span="12"><div class="grid-content">
                                                            <el-checkbox v-model="item.checked" >{{ item.libelle }}</el-checkbox>
                                                        
                                                        </div></el-col>
                                                        <el-col :span="12"><div class="grid-content">
                                                            <el-select  multiple v-if="item.checked" v-model="item.value" class="permSelect"  size="mini" placeholder="droits">
                                                                <el-option
                                                                v-for="itemop in item.options"
                                                                :key="itemop.value"
                                                                :label="itemop.label"
                                                                :value="itemop.value">
                                                                </el-option>
                                                            </el-select>
                                                     
                                                        </div></el-col>
                                                        </el-row>
                                                    </div>
                                                    <div v-for="(itemlevel3,key3) in item" :key="key3" class="form-check">
                                                        <el-checkbox  v-model="itemlevel3.checked">{{ itemlevel3.libelle }}</el-checkbox>
                                                        <el-select v-model="itemlevel3.value" placeholder="droits">
                                                            <el-option
                                                            v-for="itemop in itemlevel3.options"
                                                            :key="itemop.value"
                                                            :label="itemop.label"
                                                            :value="itemop.value">
                                                            </el-option>
                                                        </el-select>

                                                    </div>
                                                    </div>
                                                            
                                                           
                                                </td>
                                                      
                                
                                                       
                                            </tr>
                                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <span>Prévisualisation du menu </span>
                                <el-menu
                        
                                default-active="2"
                                class="el-menu-vertical-demo"
                                background-color="#242a33"
                                text-color="#fff"
                                active-text-color="#ffd04b"
      
                                >
                                <router-link v-for="(item,index) in menuLevel1Suivi" :key="index" :to="{name:item.route}">
                                <el-menu-item :index="index">
                                    <i :class="item.icon"></i>
                                    <span>{{ item.libelle }}</span>
                                </el-menu-item>
                                </router-link>
                                <el-submenu v-for="(item,index) in menuLevel2Suivi" :key="index" :index="index">
                                    <template slot="title">
                                    <i :class="item.icon"></i>
                                    <span>{{ item.libelle }}</span>
                                    </template>
      
                                    <router-link v-for="(itemlevel2,indexlevel2) in item.content" :key="indexlevel2" :to="{name:itemlevel2.route}">
                                        <el-menu-item v-if="itemlevel2.checked" :index="index+'-'+indexlevel2" >{{ itemlevel2.libelle }}</el-menu-item>
                                    </router-link>

                                </el-submenu>
                      
                                <!-- <el-submenu index="3">
                                    <template slot="title">
                                    <i class="el-icon-setting"></i>
                                    <span>Parametres</span>
                                    </template>
                                    <el-submenu index="3-1">
                                    <template slot="title">Membres</template>
                                    <router-link  :to="{name:'setting-members-user'}">
                                    <el-menu-item  index="3-1-1">
                                        Créer
                                        </el-menu-item>
                                        </router-link>
        
                                        <router-link  :to="{name:'setting-members-role'}">
                                        <el-menu-item index="3-1-2">
                                        Rôles
                                        </el-menu-item>
                                        </router-link>
           
          
                                    </el-submenu>
                                </el-submenu> -->
  
                                </el-menu>
                            </div>
                        
                        </el-collapse-item>
                   
                    </el-collapse>
                    
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible = false">Annuler</el-button>
                      
                        <el-button type="primary"  :loading="loadingSavePerm" @click="savePermission()" >Enregister</el-button>
                    </span>
                    </el-dialog>
                  <Message ref="Message" />
            </el-tabs>

            </div>
        </div>
</template>

<script>
    import firebase from 'firebase'
    import helper from '../../../services/helper'
    import { VueEditor, Quill } from "vue2-editor"
    import Message from '../concours/components/message'
    export default {
        components: {VueEditor,Message},
        mixins:[helper],
        name: 'participants',
    data() {
            return {
                ref: firebase.firestore().collection('permissions'),
                docref: firebase.firestore().collection('roles'),
                adminId:JSON.parse(localStorage.getItem('userSession')).adminId,
                users: firebase.firestore().collection('users'),
                messageRef: firebase.firestore().collection('messages'),
                currentUId:JSON.parse(localStorage.getItem('userSession')).uid,
                activeName:'liste_bp',
                tableData:[],
                tableDataAutre:[],
                tableDataFilter:[],
                tableDataFilterAutre:[],
                activeTabMessage:'creer-message',
                loadingMessage:false,
                editMode:false,
                dataFilter:'',
                dataFilterAutre:'',
                listHorraires:[],
                listHorrairesAutre:[],
                listDateCreation:[],
                listDateCreationAutre:[],
                totalUsers:'',
                totalUsersAutre:'',
                listSexe:[],
                listProvince:[],
                listVille:[],
                listSexeAutre:[],
                lire:false,
                ecrire:false,
                multipleSelection:[],
                multipleSelectionAutre:[],
                stateLoading:{},
                loadingTable:false,
                listPrograms:[],
                listProgramsAutre:[],
                listProgramsFilter:[],
                distinctListPrograms:[],
                activate:{
                    activated:true,
                    desactivated:false
                },
                //Config Vue Editor
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['bold', 'italic', 'underline', 'strike'], // toggled buttons

                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    // [{ 'font': [] }],
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme

                    ['clean']                                         // remove formatting button
                    
                ],
                recherche:'',
                rechercheAutre:'',
                dialogVisible:false,
                loadingSavePerm:false,
                fullscreenLoading:false,
                idUserIndex:'',
                idUserProfil:'',
                props: { multiple: true },

                
                permissions:{
                    executiveSummary:{}
                },
                permissionIncubateur:{
                    'liste':[],
                    role:'',

                },
                permissionBpFinanicer:{
                    'liste': [],
                    role:'',

                },
                permissionSuivi:{
                    'liste': [],
                    role:'',

                },
                permissionExecutiveSummary:{
                    state:true
                },
                tableDataFields:{
                        'Date' : {
                        field: 'createdAt',
                        callback: (value) => {
                            return this.dateFormat(value);
                        }
                        },
                    'Programme':'concours',
                    'Horraire':'horraire',
                    'Nom':'first_name',
                    'Prénom':'last_name',
                    'Sexe':'sexe',
                    'numOne':'numOne',
                    'Téléphone':'telephone',
                    'Email':'email',
                    'profession':'profession',
                    'Niveau':'etude',
                    'Province':'province',
                    'Ville':'ville',
                    'Quartier':'quartier'
                },
               
                role:{
                    titre:'',
                    desc:'',
                    projet:'',
                    createdAt:firebase.firestore.FieldValue.serverTimestamp(),
                }
              
            }
        },
        computed: {
        menuLevel1Admin: function () {
            return this.permissionIncubateur.liste.filter(i => i.haschildren==false && i.checked)
        },
        menuLevel2Admin: function () {
                return this.permissionIncubateur.liste.filter(i => i.haschildren && i.checked)
            },
        menuLevel1Bp: function () {
                return this.permissionBpFinanicer.liste.filter(i => i.haschildren==false && i.checked)
            },
        menuLevel2Bp: function () {
                    return this.permissionBpFinanicer.liste.filter(i => i.haschildren && i.checked)
                },
        menuLevel1Suivi: function () {
                    return this.permissionSuivi.liste.filter(i => i.haschildren==false && i.checked)
                },
        menuLevel2Suivi: function () {
                        return this.permissionSuivi.liste.filter(i => i.haschildren && i.checked)
                    },
        
        },
        created () {
            this.$route.params.data.forEach(item=>{
                if(item=='lire'){
                this.lire=true
                }
                if(item=='ecrire'){
                this.ecrire=true
                }
            })
           
        },
        methods: {
            onSubmit() {
               
                // let loader = Vue.$loading.show();
                this.docref.add(this.role
                )
                    .then((role) => {


                        const db = firebase.firestore();
                        let userSession = JSON.parse(localStorage.getItem('userSession'));
                        let projetid=userSession.projet;
                        db.collection("roles")
                        .doc(role.id)
                        .update({
                        'projet':projetid,
                        });
                       
                        this.ref.add(this.permission
                        )
                            .then((permission) => {
                                this.isLoading=false;
                                //console.log(tache.id);
                                db.collection("permissions")
                                .doc(permission.id)
                                .update({
                                'role':role.id,
                                });
                                // loader.hide();
                      
                                Swal.fire({
                                    title:'Enregistrement Réussi',
                                    text:'Votre role a été enregistré avec succès!',
                                    type:'success',
                                    showCancelButton: false,
                                    confirmButtonText: 'OK',
                                   
                                }); 
                                //storyRef.update({ id: increment });                       
                            })
                            .catch(function(error) {
                                // loader.hide();
                                Swal.fire('Oops...', 'Erreur!', 'error')
                            }); 
                      
                                          
                    })
                    .catch(function(error) {
                        // loader.hide();
                    Swal.fire('Oops...', 'Erreur!', 'error')
                    });

               
            },
            changePerm(e){
                // console.log('Logtest',this.$refs['permissionRef']) //Note 2: Get the label value
            },
            addNewRowVisionCourt() {
                this.permissions.liste.push({
                    libelle: '',
                    
                });
            },
            deleteRowVisionCourt(index, perm) {
                var idx = this.permission.liste.indexOf(perm);
                if (idx > -1) {
                    Swal.fire({
                        title: 'Attention',
                        text: "Vous ne pourrez pas revenir en arrière !",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'je confirme',
                        cancelButtonText: 'j\'annule'
                    }).then((result) => {
                        if (result.value) {
                            this.permission.liste.splice(idx, 1);
                        }
                    });

                }
            },
            handleTabClick(tab, event){
                switch(this.activeName){

                    case "ajouter":
                    
                    break

                    case "liste_bp":
                    if(JSON.parse(localStorage.getItem('userSession')).adminId){
                        this.getUsersBp(JSON.parse(localStorage.getItem('userSession')).adminId)
                    }else{
                        this.getUsersBp()
                        
                    }
                    break

                    case "liste_autres":
                        // alert("Hello")
                    if(JSON.parse(localStorage.getItem('userSession')).adminId){
                       
                        this.getUsersAutres(JSON.parse(localStorage.getItem('userSession')).adminId)
                    }else{
                        
                        this.getUsersAutres()
                    }
                    
                    break
                }
                
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
                this.multipleSelectionAutre = val;
               
            },
           getUsersAutres(adminId=this.currentUId){
            //    alert("Hello")
                this.users.where('adminId', '==',this.users.doc(adminId))
                .orderBy('createdAt','desc').
                onSnapshot((querySnapshot) => {
                    this.tableDataAutre=[];
                    const map = new Map();
                    querySnapshot.forEach((doc) => {
                        let obj = doc.data();
                        console.log("Other",obj);
                        this.stateLoading[doc.id]=false
                        obj.id = doc.id;
                        let dateInitial= new Date (this.dateFormat(obj.createdAt));
                        let currentDate=new Date();
                        if(dateInitial.getFullYear()==currentDate.getFullYear() && dateInitial.getMonth()==currentDate.getMonth() && dateInitial.getDay()==currentDate.getDay()){
                            obj.new= true;
                        }else{
                            obj.new= false;   
                        }
                        if(obj.profile){
                            obj.profile.get().then(snap=>{
                            obj.profil=snap.data().title 
                            obj.profilId=snap.id
                      
                        })
                        }
                         if(obj.villeId){
                            obj.villeId.get().then(ville=>{
                            obj.ville=ville.data().libelle 
                              if(ville.data().idProvince ){
                                ville.data().idProvince.get().then(province=>{
                                obj.province=province.data().libelle 
                                 if(!map.has(obj.province)){
                                        map.set(obj.province, true);    
                                        this.listProvince.push({
                                        "text":obj.province,
                                        "value":obj.province
                                    })  
                                   
                                }
                                 if(!map.has(obj.ville)){
                                        map.set(obj.ville, true);    
                                        this.listVille.push({
                                        "text":obj.ville,
                                        "value":obj.ville
                                    })  
                                   
                                }
                            })
                            }
                        })
                        }
                        if(obj.idConcours){
                            obj.idConcours.get().then(doc=>{
                            obj.concours=doc.data().libelleConcours 
                            obj.program=doc.data().typeProgram 
                            if(doc.data().typeProgram=='autreProgram'){
                                this.tableDataAutre.push(obj);
                                this.tableDataFilterAutre= this.tableDataAutre;
                                if(!map.has(obj.concours)){
                                        map.set(obj.concours, true);    // set any value to Map
                                        this.listProgramsAutre.push({
                                        "text":obj.concours,
                                        "value":obj.concours
                                        }) 
                                }
                            
                            
                                this.totalUsersAutre=this.tableDataAutre.length
                                if(!map.has(obj.horraire)){
                                        map.set(obj.horraire, true);    
                                        this.listHorrairesAutre.push({
                                        "text":obj.horraire,
                                        "value":obj.horraire
                                    }) 
                                   
                                }
                           
                                if(!map.has(obj.sexe)){
                                        map.set(obj.sexe, true);    
                                        this.listSexeAutre.push({
                                        "text":obj.sexe,
                                        "value":obj.sexe
                                    })  
                                   
                                }

                                if(!map.has(obj.createdAt.seconds)){
                                        map.set(obj.createdAt.seconds, true);    
                                        this.listDateCreationAutre.push({
                                        "text":this.dateFormat2(obj.createdAt),
                                        "value":obj.createdAt.seconds
                                    })  
                                   
                                }
                            }
                            
                      
                        })
                        }
                
                       
                    });
                    this.dataFilterAutre=this.tableDataAute
                   
                    // console.log(this.listPrograms)
                    // loader.hide();
                    
                });
                //  
            },
           async getUsersBp(adminId=this.currentUId){
                this.loadingTable=true
                let promiseUser= new Promise((resolve,reject)=>{
                      this.users.where('adminId', '==',this.users.doc(adminId))
                    // .orderBy('createdAt','desc')
                    .onSnapshot((querySnapshot) => {
                           if(!querySnapshot.empty){
                            this.tableData=[];
                            const map = new Map();
                            querySnapshot.forEach((doc) => {
                                let obj = doc.data();
                                obj.id = doc.id;
                                let dateInitial= new Date (this.dateFormat(obj.createdAt));
                                let currentDate=new Date();
                                if(dateInitial.getFullYear()==currentDate.getFullYear() && dateInitial.getMonth()==currentDate.getMonth() && dateInitial.getDay()==currentDate.getDay()){
                                    obj.new= true;
                                }else{
                                    obj.new= false;   
                                }
                                if(obj.profile){
                                    obj.profile.get().then(snap=>{
                                    obj.profil=snap.data().title 
                                    obj.profilId=snap.id
                      
                                })
                                }
                                if(obj.villeId){
                                    obj.villeId.get().then(ville=>{
                                    obj.ville=ville.data().libelle 
                                      if(ville.data().idProvince ){
                                        ville.data().idProvince.get().then(province=>{
                                        obj.province=province.data().libelle 
                                         if(!map.has(obj.province)){
                                                map.set(obj.province, true);    
                                                this.listProvince.push({
                                                "text":obj.province,
                                                "value":obj.province
                                            })  
                                   
                                        }
                                         if(!map.has(obj.ville)){
                                                map.set(obj.ville, true);    
                                                this.listVille.push({
                                                "text":obj.ville,
                                                "value":obj.ville
                                            })  
                                   
                                        }
                                    })
                                    }
                                })
                                }
                                if(obj.idConcours){
                                    obj.idConcours.get().then(doc=>{
                                    obj.concours=doc.data().libelleConcours 
                                    obj.program=doc.data().typeProgram 
                                    if(doc.data().typeProgram=='businessPlan'){
                                        this.tableData.push(obj);
                                        // this.tableDataFilter= this.tableData;
                                        if(!map.has(obj.concours)){
                                                map.set(obj.concours, true);    // set any value to Map
                                                this.listPrograms.push({
                                                "text":obj.concours,
                                                "value":obj.concours
                                                }) 
                                        }
                                        this.totalUsers=this.tableData.length
                                        if(!map.has(obj.horraire)){
                                                map.set(obj.horraire, true);    
                                                this.listHorraires.push({
                                                "text":obj.horraire,
                                                "value":obj.horraire
                                            }) 
                                   
                                        }
                           
                                       

                                        if(!map.has(obj.createdAt.seconds)){
                                                map.set(obj.createdAt.seconds, true);    
                                                this.listDateCreation.push({
                                                "text":this.dateFormat2(obj.createdAt),
                                                "value":obj.createdAt.seconds
                                            })  
                                   
                                        }
                                    }

                                })
                                } 
                            });
                             resolve(this.tableData,this.listPrograms,this.listDateCreation,this.listSexe,this.listHorraires)
                           

                           }else{
                             reject(this.tableData,this.listPrograms,this.listDateCreation,this.listSexe,this.listHorraires)
                           }
                         });
                })
                 Promise.allSettled([promiseUser]).then((values)=>{
                    this.dataFilter=this.tableData
                    this.loadingTable=false
                 })

              
            },
         
           
            loadModalPermUpdate(id,profilId){
                // this.fullscreenLoading=true
                this.idUserIndex=id,
                // this.idUserProfil=profilId  
                this.ref.doc(this.currentUId).get()
                .then((doc)=>{
                    if (doc.exists) {
                    if(doc.data().admin){
                        this.permissionIncubateur.liste=[],
                        doc.data().admin.forEach(item=>{
                            if(item.checked){
                                this.permissionIncubateur.liste.push(item)
                            }
                      
                        })
                    }
                 
                        if(doc.data().bpFinancier){
                            this.permissionBpFinanicer.liste=[],
                            doc.data().bpFinancier.forEach(item=>{
                                if (item.checked){
                                    this.permissionBpFinanicer.liste.push(item)
                                }
                                
                            })
                        }
                    
                        if(doc.data().suivi){
                            this.permissionSuivi.liste=[],
                            doc.data().suivi.forEach(item=>{
                                if (item.checked){
                                    this.permissionSuivi.liste.push(item)
                                }
                           
                            })
                        }
                    this.fullscreenLoading=false
                    this.dialogVisible=true
                   
                    } else {
                        console.log('No such document!');
                        this.fullscreenLoading=false;
                        this.dialogVisible=true
                   
                    }
                }).catch
               
            },

            savePermission(){
                this.loadingSavePerm=true
                this.permissions.executiveSummary.state=this.permissionExecutiveSummary.state
                this.permissions.quotaProjets=1
                this.permissions.bpFinancier=this.permissionBpFinanicer.liste
                this.permissions.suivi=this.permissionSuivi.liste
                this.permissions.role=this.idUserProfil
                // console.log('Fonction call')
                this.ref.doc(this.idUserIndex).set(this.permissions).
                then(()=>{
                    this.$notify({
                    title: 'Succès',
                    message: 'Permission enregistrée avec succès',
                    type: 'success'
                    });
                    this.loadingSavePerm=false
                }).catch(()=>{
                    this.loadingSavePerm=false
                    this.$notify.error({
                    title: 'Error',
                    message: 'Erreur lors de l\'enregistrement'
                    });
                })

            },
            tableHeaderColor({ row, column, rowIndex, columnIndex }) {
            if (rowIndex === 0) {
                return 'background-color: #F5F7FA;;color: #606266;font-weight: 800;'
            }
            },
             
            deleteElement(id){
            // console.log(id);
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Cette action est irréversible!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Annuler',
                    confirmButtonText: 'Oui!'
                }).then((result) => {
                    if (result.value) {
                        // let loader = Vue.$loading.show();
                        firebase.firestore().collection('users').doc(id).delete();
                        // this.getRoles();
                        this.$notify({
                        title: 'Succès',
                        message: 'Suppréssion réussie',
                        type: 'success'
                        });
                        loader.hide(); 
                                
                    }
                })
                       
            },
            deleteMultiple(){
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Cette action est irréversible!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Annuler',
                    confirmButtonText: 'Oui!'
                }).then((result) => {
                    if (result.value) {
                        // let loader = Vue.$loading.show();
                        this.multipleSelection.forEach(item=>{
                        firebase.firestore().collection('users').doc(item.id).delete();
                        })
                        // this.getRoles();
                        this.$notify({
                        title: 'Succès',
                        message: 'Suppréssion réussie',
                        type: 'success'
                        });
                        
                                
                    }
                })
                
            },
            handleSelectionChangeAutre(val) {
                this.multipleSelectionAutre = val;   
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;   
            },
            switchState(id,state){
             
                let stateActivated
                if(state)
                {
                stateActivated=false
                }
                else{
                    stateActivated=true  
                }
                this.users.doc(id).update({
                    activated: stateActivated
                }).then(()=>{
                this.getUsersBp();
                });
               
                
            },
            MultipleswitchState(state){
                this.multipleSelection.forEach(item=>{
            //   console.log(item.id,state)
                this.switchState(item.id,state)
                })
               
            },
            toggleSelection(rows) {
                if (rows) {
                rows.forEach(row => {
                    this.$refs.table.toggleRowSelection(row);
                });
                } else {
                this.$refs.table.clearSelection();
                }
            },
            filterTagProgram(value, row) {
            return row.concours === value;
            // this.totalUsers=this.tableData.length
            // this.calcultotalDepenses(this.depenseFilter);
            //console.log(row.type)
            // console.log('value',value)
            // console.log('row',row)
            },
             filterTagProvince(value, row) {
            return row.province === value;
            // this.totalUsers=this.tableData.length
            // this.calcultotalDepenses(this.depenseFilter);
            //console.log(row.type)
            // console.log('value',value)
            // console.log('row',row)
            },
            filterTagVille(value, row) {
            return row.ville === value;
            // this.totalUsers=this.tableData.length
            // this.calcultotalDepenses(this.depenseFilter);
            //console.log(row.type)
            // console.log('value',value)
            // console.log('row',row)
            },
            filterTagHorraire(value, row) {
            return row.horraire === value;
            // this.totalUsers=this.tableData.length
            // this.calcultotalDepenses(this.depenseFilter);
            //console.log(row.type)
            // console.log('value',value)
            // console.log('row',row)
            },
           
            filterTagSexe(value, row) {
            return row.sexe === value;
            // this.totalUsers=this.tableData.length
            // this.calcultotalDepenses(this.depenseFilter);
            //console.log(row.type)
            // console.log('value',value)
            // console.log('row',row)
            },
            filterTagDateCreation(value, row) {
            return row.createdAt.seconds === value;
           
            },
            
            doublonDelete(array){
                const result = [];
                const map = new Map();
                console.log('Hello world',this.listPrograms)
                this.listPrograms.forEach((item)=>{
                 
                })
              
            },
             filterData(val){
                        this.dataFilter=this.tableData.filter(data => !val || data.first_name.toLowerCase().includes(val.toLowerCase()) || data.last_name.toLowerCase().includes(val.toLowerCase()) || data.email.toLowerCase().includes(val.toLowerCase()))
             
                },
                filterDataAutre(val){
               
                        this.tableDataFilterAutre=this.dataFilterAutre.filter(data => !val || data.first_name.toLowerCase().includes(val.toLowerCase()) || data.last_name.toLowerCase().includes(val.toLowerCase()))
                },
            
        },
        mounted () {
            this.loadingTable=true
            this.$watch(() => this.$refs.table.tableData.length, (value) => { this.totalUsers = value;})
            this.$watch(() => this.$refs.table.tableData, (value) => { this.tableDataFilter = value;})
            this.$watch(() => this.$refs.tableAutre.tableDataAutre.length, (value) => { this.totalUsersAutre = value;})
            this.$watch(() => this.$refs.tableAutre.tableDataAutre, (value) => { this.tableDataFilterAutre = value;})
            if(JSON.parse(localStorage.getItem('userSession')).adminId){
                this.getUsersBp(JSON.parse(localStorage.getItem('userSession')).adminId)
                // this.getUsersAutres(JSON.parse(localStorage.getItem('userSession')).adminId)
            }else{
                this.getUsersBp()
                // this.getUsersAutres()
            }
        
            this.$loading().close();
        }
    }
</script>
<style scoped>
    .icon{
    padding-right: 10px;
    font-size:20px;
    }
    .iconMenu{
        padding-right: 15px;
    }
    .permSelect{
    width:200px;
    float:right
    }
    .el-col{
        margin-bottom: 20px !important;
    }
    .optionTable{
        float: left;
    }
    .item_new {
    margin-top: 10px;
    margin-right: 70px;
    }
</style>
