<template>
  <div
    class="page-wrapper"
    :style="{ 'background-image': 'url(' + concoursDatas.wallpaper + ')' }"
  >
    <div class="container-fluid pl-5">
      <div class="row">
        <section id="wrapper">
          <div class="login-register">
            <div class="login-box card">
              <div class="logo">
                <img
                  :src="concoursDatas.logoConcours"
                  width="45px;"
                  class="logo-img img-responsive"
                />
              </div>
              <!-- .logo-box -->
              <h4
                class="mt-3"
                v-if="concoursDatas.adminId == 'UxyEQvKsf8Y3L87rpdimtc6dLbl2'"
                style="padding-left: 20px;padding-top: 20px;"
              >
                Réservation :
              </h4>
              <h4
                class="mt-3"
                v-else
                style="padding-left: 20px;padding-top: 20px;"
              >
                Inscription :
              </h4>
              <h5 style="padding-left: 20px;">
                {{ concoursDatas.libelleConcours }}
              </h5>
              <div class="card-body">
                <el-form
                  :model="participant"
                  :rules="rules"
                  label-position="top"
                  ref="ruleForm"
                  class="demo-ruleForm"
                >
                  <el-form-item label="Nom :" prop="first_name">
                    <el-input v-model="participant.first_name"></el-input>
                  </el-form-item>
                  <el-form-item label="Prénom :" prop="first_name">
                    <el-input v-model="participant.last_name"></el-input>
                  </el-form-item>
                  <el-form-item
                    v-if="
                      concoursDatas.adminId == 'VuCP8K4T5qN4910GdFxUgxRRcmB2'
                    "
                    label="Numéro ONE :"
                    prop="numOne"
                  >
                    <el-input
                      placeholder="Numéro ONE"
                      v-model="participant.numOne"
                    ></el-input>
                  </el-form-item>
                  <el-form-item
                    v-if="
                      concoursDatas.adminId == 'VuCP8K4T5qN4910GdFxUgxRRcmB2'
                    "
                    label="Tranche horraire :"
                    prop="horraire"
                  >
                    <el-select
                      v-if="concoursDatas.id == 'LvXu8fpfbN2R4Rhy7Jtu'"
                      v-model="participant.horraire"
                      placeholder="Tranche horraire "
                    >
                      <el-option
                        v-for="item in horrairebureautique"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                    <el-select
                      v-else
                      v-model="participant.horraire"
                      placeholder="Tranche horraire "
                    >
                      <el-option
                        v-for="item in horraire"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item
                    v-if="
                      concoursDatas.adminId == 't4IuXuA2jOdO5pqprBgAgGG0cLj1' &&  concoursDatas.id != 's1HlxhbVXZx0fuueMevf'
                    "
                    label="Tranche horraire :"
                    prop="horraire"
                  >
                    <el-select
                      v-model="participant.horraire"
                      placeholder="Tranche horraire "
                    >
                      <el-option
                        v-for="item in horraire"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-row :gutter="10">
                    <el-col :xs="24" :sm="14" :md="14" :lg="14" :xl="14">
                      <el-form-item
                        v-if="
                          concoursDatas.adminId ==
                            'UxyEQvKsf8Y3L87rpdimtc6dLbl2'
                        "
                        label="Date de rendez vous :"
                        prop="dateRdv"
                      >
                        <el-date-picker
                          type="date"
                          format="dd/MM/yyyy"
                          placeholder="Exemple: 10/11/1991"
                          v-model="participant.dateRdv"
                        ></el-date-picker>
                      </el-form-item>
                      <el-form-item
                        v-else
                        label="Date de naissance :"
                        prop="dateNaissance"
                      >
                        <el-date-picker
                          class="date-style"
                          type="date"
                          format="dd/MM/yyyy"
                          placeholder="Exemple: 10/11/1991"
                          v-model="participant.dateNaissance"
                        ></el-date-picker>
                      </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                      <el-form-item label="Sexe :" prop="sexe">
                        <el-select
                          v-model="participant.sexe"
                          placeholder="Sexe"
                        >
                          <el-option
                            v-for="item in sexe"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                          >
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-form-item
                    v-if="
                      concoursDatas.adminId == 'VuCP8K4T5qN4910GdFxUgxRRcmB2' || concoursDatas.adminId == 't4IuXuA2jOdO5pqprBgAgGG0cLj1'  
                    "
                    label="Profession :"
                    prop="profession"
                  >
                    <el-select
                      v-model="participant.profession"
                      placeholder="Profession "
                    >
                      <el-option
                        v-for="item in profession"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item
                    v-if="
                      concoursDatas.adminId == 'VuCP8K4T5qN4910GdFxUgxRRcmB2' || concoursDatas.adminId == 't4IuXuA2jOdO5pqprBgAgGG0cLj1'
                    "
                    label="Niveau d'étude :"
                    prop="etude"
                  >
                    <el-select
                      v-model="participant.etude"
                      placeholder="Niveau d'étude "
                    >
                      <el-option
                        v-for="item in etude"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="Téléphone (nouvelle numérotation):" prop="telephone">
                    <el-input
                      placeholder="Exemple : 062111210"
                      v-model="participant.telephone"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="Email :" prop="email">
                    <el-input
                      placeholder="Email"
                      v-model="participant.email"
                    ></el-input>
                  </el-form-item>

                  <div class="col-xs-12 residence"></div>
                  <el-row :gutter="20">
                    <el-col :span="24">
                      <span>Lieu de résidence:</span>
                    </el-col>
                    <el-col :span="24">
                      <el-form-item label="Province :" prop="province">
                        <el-select
                          @change="getProvince"
                          v-model="participant.province"
                          placeholder="Province"
                        >
                          <el-option
                            v-for="item in province"
                            :key="item.code"
                            :label="item.libelle"
                            :value="item.id"
                          >
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                    <el-col :span="24">
                      <el-form-item label="Ville :" prop="ville">
                        <el-select
                          :loading="this.loadingData"
                          v-model="participant.ville"
                          placeholder="Ville"
                        >
                          <el-option
                            v-for="item in ville"
                            :key="item.value"
                            :label="item.libelle"
                            :value="item.id"
                          >
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                    <el-col :span="24">
                      <el-form-item label="Quartier :" prop="quartier">
                        <el-input
                          placeholder="Quartier"
                          v-model="participant.quartier"
                        ></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>

                  <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                      <!-- <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" @click="submitForm('ruleForm')" >S'INSCRIRE</button> -->
                      <el-button
                        v-if="
                          concoursDatas.adminId ==
                            'UxyEQvKsf8Y3L87rpdimtc6dLbl2'
                        "
                        class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                        type="primary"
                        @click="submitForm('ruleForm')"
                        >RESERVER</el-button
                      >
                      <el-button
                        v-else
                        class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                        type="primary"
                        @click="submitForm('ruleForm')"
                        >S'INSCRIRE</el-button
                      >
                    </div>
                  </div>
                </el-form>
              </div>
              <!-- <guest-footer></guest-footer> -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
// Import component
// import Loading from 'vue-loading-overlay';
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
import { Message, Loading } from "element-ui";
import numOne from "./components/numeroONE";
export default {
  components: { numOne },
  data() {
    var validedate = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Veuillez inserer une date"));
      } else {
        if (this.registerForm.dateNaissance != "") {
          let today = new Date().getFullYear();
          let age =
            today - new Date(this.participant.dateNaissance).getFullYear();
          if (age < 15 || age == 15) {
            callback(
              new Error(
                "Voous n'avez pas l'âge requis pour participer au programme"
              )
            );
          } else {
            callback();
          }
        }
      }
    };
    return {
      concoursRef: firebase.firestore().collection("concours"),
      permissionsRef: firebase.firestore().collection("permissions"),
      usersRef: firebase.firestore().collection("users"),
      provinceRef: firebase.firestore().collection("province"),
      villeRef: firebase.firestore().collection("ville"),
      passwordFieldType: "password",
      participant: {
        email: "",
        numOne: "",
        ville: "fHKCBBTijQ9IYTAaKDIb",
        province: "k2GBaf2IhfQpfS9xSfBW",
        tranche:''
      },
      drawer: false,
      concoursDatas: {},
      province: [],
      ville: [],
      quartier: "",
      backgroundImage: "",
      direction: "btt",
      loadingData: false,
      backgroundImageUrl: "",
      paysRef: firebase.firestore().collection("pays"),
      registerForm: {
        activated: false,
        typeAccount: "entrepreneur",
        firstTimeConnection: "",
        ville: "",
        province: "",
      },
      permissions: {
        executiveSummary: {
          state: false,
        },
        quotaProjets: 1,
      },
      registerPasswords: {
        password: "",
        password_confirmation: "",
      },
      sexe: [
        {
          value: "masculin",
          label: "Masculin",
        },
        {
          value: "feminin",
          label: "Féminin",
        },
      ],
      horraire: [
        {
          value: "8h30-10h30",
          label: "8h30 - 10h30",
        },
        {
          value: "11h00-13h30",
          label: "11h00 - 13h30",
        },
        {
          value: "14h00-16h00",
          label: "14h00 - 16h00",
        },
      ],
      horrairebureautique: [
        {
          value: "10h00-11h45",
          label: "10h00 - 11h45",
        },
        {
          value: "12h00-13h45",
          label: "12h00 - 13h45",
        },
        {
          value: "14h00-15h45",
          label: "14h00-15h45",
        },
      ],
      profession: [
        {
          value: "travailleur",
          label: "TRAVAILLEUR",
        },
        {
          value: "etudiant",
          label: "ETUDIANT",
        },
        {
          value: "chomeur",
          label: "CHÔMEUR",
        },
        {
          value: "eleve",
          label: "ELEVE",
        },
        {
          value: "entrepreneur",
          label: "ENTREPRENEUR",
        },
        {
          value: "autre",
          label: "AUTRE",
        },
      ],
      etude: [
        {
          value: "aucun",
          label: "AUCUN",
        },
        {
          value: "cep",
          label: "CEP",
        },
        {
          value: "bepc",
          label: "BEPC",
        },
        {
          value: "bac",
          label: "BAC",
        },
        {
          value: "licence",
          label: "LICENCE",
        },
        {
          value: "master",
          label: "MASTER",
        },
        {
          value: "doctorat",
          label: "DOCTORAT",
        },
      ],
      tranche10h: [],
      tranche13h: [],
      horraire2: [
        {
          value: "10h-12h",
          label: "10h00:12h00",
        },
        {
          value: "13h-15h:",
          label: "13h00-15h:00",
        },
      ],
      isLoading: false,
      fullPage: true,
      activeName: "particulier",
      countries: [],
      rules: {
        first_name: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        last_name: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        horraire: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        profession: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        etude: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        dateNaissance: [
          {
            type: "date",
            required: true,
            validator: validedate,
            trigger: "change",
          },
        ],
        dateRdv: [
          {
            type: "date",
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        telephone: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          {
            min: 9,
            max: 9,
            message: "le numéro doit comporter 9 chiffres",
            trigger: "blur",
          },
        ],
        // email: [
        //   { required: true, message: 'Ce champ est obligatoire', trigger: 'blur' }
        // ],
        province: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        ville: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        quartier: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
        ],

        date2: [
          {
            type: "date",
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        sexe: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        resource: [
          {
            required: true,
            message: "Please select activity resource",
            trigger: "change",
          },
        ],
        desc: [
          {
            required: true,
            message: "Please input activity form",
            trigger: "blur",
          },
        ],
      },
    };
  },

  methods: {
    disabledTranche8h() {
      let result =
        this.concoursDatas.participseance * this.concoursDatas.espace -
        this.tranche8h.length;
      let index = this.horraire.findIndex(
        (item) => item.value === "8h30-10h30"
      );
      if (result == 0 || result < 0) {
        this.horraire.splice(index, 1);
      }
      // console.log("10h",this.tranche10h.length)
    },
    disabledTranche11h() {
      let result =
        this.concoursDatas.participseance * this.concoursDatas.espace -
        this.tranche11h.length;
      let index = this.horraire.findIndex(
        (item) => item.value === "11h00-13h30"
      );
      if (result == 0 || result < 0) {
        this.horraire.splice(index, 1);
      }
      //  console.log("13h",this.tranche13h.length)
    },
    disabledTranche14h() {
      let result =
        this.concoursDatas.participseance * this.concoursDatas.espace -
        this.tranche14h.length;
      let index = this.horraire.findIndex(
        (item) => item.value === "14h00-16h00"
      );
      if (result == 0 || result < 0) {
        this.horraire.splice(index, 1);
      }
      //  console.log("13h",this.tranche13h.length)
    },
    defineHorraire() {
      this.$loading({ fullscreen: true });
      this.concoursRef
        .doc(this.$route.params.id)
        .get()
        .then((doc) => {
          let promiseUser = new Promise((resolve, reject) => {
            this.usersRef
              .where(
                "idConcours",
                "==",
                this.concoursRef.doc(this.$route.params.id)
              )
              .get()
              .then((snapshot) => {
                if (!snapshot.empty) {
                  snapshot.forEach((doc) => {
                    if (doc.data().horraire == "8h30-10h30}") {
                      this.tranche8h.push(doc.data().horraire);
                    }
                    if (doc.data().horraire == "11h00-13h30") {
                      this.tranche11h.push(doc.data().horraire);
                    }
                    if (doc.data().horraire == "14h00-16h00") {
                      this.tranche14h.push(doc.data().horraire);
                    }
                  });
                  resolve(this.tranche8h, this.tranche11h, tranche14h);
                } else {
                  reject(this.tranche8h, this.tranche11h, tranche14h);
                }
              });
          });
          Promise.allSettled([promiseUser]).then(() => {
            this.disabledTranche8h();
            this.disabledTranche11h();
            this.disabledTranche14h();
            this.$loading().close();
          });
        });
    },
    // loading(){
    // return 15;
    // },
    submitForm(formName) {
      let inscriptions = 0;
      this.$loading({ fullscreen: true });

 
      this.concoursRef
        .doc(this.$route.params.id)
        .get()
        .then((doc) => {
          let promiseUser = new Promise((resolve, reject) => {
            this.where(
              "idConcours",
              "==",
              this.concoursRef.doc(this.$route.params.id)
            )
              .get()
              .then((snapshot) => {
                if (!snapshot.empty) {
                  snapshot.forEach(() => {
                    inscriptions++;
                  });
                  resolve(inscriptions);
                } else {
                  reject(inscriptions);
                }
              });
          });
          Promise.allSettled([promiseUser]).then(() => {
            let quota = doc.data().participants;
            // console.log("Participants",inscriptions)
            console.log("Quota", quota);
            if (quota == inscriptions || inscriptions > quota) {
              Message.warning({
                dangerouslyUseHTMLString: true,
                message:
                  "<strong>Le quota d'inscriptions a été atteint </strong> ",
              });
              this.$loading().close();
            } else {
              this.$refs[formName].validate((valid) => {
                if (valid) {
                  Loading.service({ fullscreen: true });
                  this.participant.adminId = this.usersRef.doc(
                    this.concoursDatas.adminId
                  );
                  this.participant.idConcours = this.concoursRef.doc(
                    this.concoursDatas.id
                  );
                  this.participant.createdAt = firebase.firestore.FieldValue.serverTimestamp();
                  let villeReference = this.villeRef.doc(
                    this.participant.ville
                  );
                  (this.participant.villeId = villeReference),
                    this.usersRef
                      .add(this.participant)
                      .then((success) => {
                        // this.innerVisible=false,
                        // this.centerDialogVisible=false,
                        if (
                          this.concoursDatas.adminId ==
                          "UxyEQvKsf8Y3L87rpdimtc6dLbl2"
                        ) {
                          this.$notify({
                            title: "succès",
                            message:
                              "Réservation réussie. Nous vous rectacterons dans les plus brefs délais. cordialement",
                            type: "success",
                            duration: 0,
                          });
                        } else {
                          this.$notify({
                            title: "succès",
                            message:
                              "Enregistrement réussi.Votre inscription est en cours de validation, nous vous rectacterons dans les plus brefs délais. cordialement",
                            type: "success",
                            duration: 0,
                          });
                        }

                        this.$refs[formName].resetFields();
                        this.$loading().close();
                      })
                      .catch((errro) => {
                        this.$notify({
                          title: "Erreur",
                          message: "Echec Enregistrement.",
                          type: "error",
                          duration: 0,
                        });

                        this.$loading().close();
                      });
                } else {
                  this.$loading().close();
                  console.log("error submit!!");
                  return false;
                }
              });
            }
          });
        });
    },
    closealert() {
      window.setTimeout(function() {
        $(".alert").alert("close");
      }, 4000);
    },
    // async submit(e){

    // },
    switchVisibility() {
      this.passwordFieldType =
        this.passwordFieldType === "password" ? "text" : "password";
    },
    setImageBackground() {
      // this.backgroundImageUrl=this.concoursDatas.wallpaper
      this.backgroundImage = "";
      let that;
      let highResImageBackground = new Image();
      that = this;
      highResImageBackground.onload = () => {
        that.backgroundImage = that.backgroundImageUrl;
      };
      highResImageBackground.src = this.backgroundImageUrl;
      console.log("Function call", this.backgroundImageUrl);
    },
    async getProvince(value) {
      // this.isLoading=true;

      this.loadingData = true;
      this.ville = [];
      this.registerForm.ville = "";
      await this.villeRef
        .where("idProvince", "==", this.provinceRef.doc(value))
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            // doc.data() is never undefined for query doc snapshots
            this.ville.push({
              libelle: doc.data().libelle,
              id: doc.id,
            });
          });
        });
      // this.isLoading=false;
      this.loadingData = false;
    },
  },
  async created() {
    let idConcours = this.$route.params.id;
    this.provinceRef
      .orderBy("code", "asc")
      .get()
      .then((querySnapshot) => {
        this.province = [];
        querySnapshot.forEach((doc) => {
          // doc.data() is never undefined for query doc snapshots
          this.province.push({
            libelle: doc.data().libelle,
            code: doc.data().code,
            id: doc.id,
          });
        });
      });

    await this.concoursRef
      .doc(idConcours)
      .get()
      .then((doc) => {
        if (doc.exists) {
          this.concoursDatas = doc.data();
          this.concoursDatas.id = doc.id;
          this.backgroundImageUrl = this.concoursDatas.wallpaper;
          this.registerForm.idConcours = this.concoursRef.doc(
            this.concoursDatas.id
          );
          this.registerForm.adminId = this.usersRef.doc(
            this.concoursDatas.adminId
          );
          this.permissionsRef
            .doc(this.concoursDatas.adminId)
            .get()
            .then((doc) => {
              this.permissions.executiveSummary.state = doc.data().executiveSummary.state;
            });
        }
      });
    this.$loading().close();
  },
  mounted() {
    this.getProvince('k2GBaf2IhfQpfS9xSfBW'); //defaultProvince
    this.setImageBackground();
    this.defineHorraire();
  },
};
</script>
<style scoped>
#wrapper {
  margin: auto;
}
.page-wrapper {
  padding: 0 !important;
}
.el-select {
  padding: 0px !important;
}
.passwordEye {
  display: inline-block !important;
  cursor: pointer;
  position: absolute;
  margin-bottom: 7px;
  padding: 6px;
  /* left:200px; */
  z-index: 100;

  /* top: 12px;
      flex: 1; */
  /* float:right */
}
.showpassword {
  font-size: 15px;
}
.residence {
  color: #455a64;
  /* border-bottom: 1px solid #e0dede; */
  margin-bottom: 15px;
}
.residence span {
  color: #455a64;
  /* border-bottom: 1px solid #455a64; */
  /* margin-bottom: 30px; */
}
.date-style {
  width: 100%;
}
</style>
