<template>
  <div
    class="page-wrapper"
    :style="{ 'background-image': 'url(' + concoursDatas.wallpaper + ')' }"
  >
    <div class="container-fluid pl-5">
      <div class="row">
        <section id="wrapper">
          <div class="login-register">
            <div class="login-box card">
              <div class="logo">
                <img
                  :src="concoursDatas.logoConcours"
                  width="45px;"
                  class="logo-img img-responsive"
                />
              </div>
              <!-- .logo-box -->
              <h4 class="mt-3" style="padding-left: 20px;">
                Inscription au programme
              </h4>
              <div class="card-body">
                <el-form
                  :model="registerForm"
                  :rules="rules"
                  label-position="top"
                  ref="ruleForm"
                  class="demo-ruleForm"
                >
                  <el-form-item label="Nom :" prop="first_name">
                    <el-input v-model="registerForm.first_name"></el-input>
                  </el-form-item>
                  <el-form-item label="Prénom :" prop="first_name">
                    <el-input v-model="registerForm.last_name"></el-input>
                  </el-form-item>
                  <el-form-item
                    v-if="
                      concoursDatas.adminId == 'VuCP8K4T5qN4910GdFxUgxRRcmB2'
                    "
                    label="Numéro ONE :"
                    prop="numOne"
                  >
                    <el-input
                      placeholder="Numéro ONE"
                      v-model="registerForm.numOne"
                    ></el-input>
                  </el-form-item>
                  <el-form-item
                    v-if="
                      concoursDatas.adminId == 'VuCP8K4T5qN4910GdFxUgxRRcmB2'
                    "
                    label="Tranche horraire :"
                    prop="horraire"
                  >
                    <el-select
                      v-model="registerForm.horraire"
                      placeholder="Tranche horraire "
                    >
                      <el-option
                        v-for="item in horraire"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-row :gutter="10">
                    <el-col :xs="24" :sm="14" :md="14" :lg="14" :xl="14">
                      <el-form-item
                        label="Date de naissance :"
                        prop="dateNaissance"
                      >
                        <el-date-picker
                          class="date-style"
                          type="date"
                          format="dd/MM/yyyy"
                          placeholder="Exemple: 10/11/1991"
                          v-model="registerForm.dateNaissance"
                        ></el-date-picker>
                      </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="10" :md="10" :lg="10" :xl="10">
                      <el-form-item label="Sexe :" prop="sexe">
                        <el-select
                          v-model="registerForm.sexe"
                          placeholder="Sexe"
                        >
                          <el-option
                            v-for="item in sexe"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                          >
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-form-item
                    v-if="
                      concoursDatas.adminId == 'VuCP8K4T5qN4910GdFxUgxRRcmB2'
                    "
                    label="Profession :"
                    prop="profession"
                  >
                    <el-select
                      v-model="registerForm.profession"
                      placeholder="Profession "
                    >
                      <el-option
                        v-for="item in profession"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item
                    v-if="
                      concoursDatas.adminId == 'VuCP8K4T5qN4910GdFxUgxRRcmB2'
                    "
                    label="Niveau d'étude :"
                    prop="etude"
                  >
                    <el-select
                      v-model="registerForm.etude"
                      placeholder="Niveau d'étude "
                    >
                      <el-option
                        v-for="item in etude"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="Téléphone :" prop="telephone">
                    <el-input
                      placeholder="Exemple : 062111210"
                      v-model="registerForm.telephone"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="Email :" prop="email">
                    <el-input
                      placeholder="Email"
                      v-model="registerForm.email"
                    ></el-input>
                  </el-form-item>

                  <div class="col-xs-12 residence"></div>
                  <el-row :gutter="20">
                    <el-col :span="24">
                      <span>Lieu de résidence :</span>
                    </el-col>
                    <el-col :span="24">
                      <el-form-item label="Province :" prop="province">
                        <el-select
                          @change="getProvince"
                          v-model="registerForm.province"
                          placeholder="Province"
                        >
                          <el-option
                            v-for="item in province"
                            :key="item.code"
                            :label="item.libelle"
                            :value="item.id"
                          >
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                    <el-col :span="24">
                      <el-form-item label="Ville :" prop="ville">
                        <el-select
                          :loading="this.loadingData"
                          v-model="registerForm.ville"
                          placeholder="Ville"
                        >
                          <el-option
                            v-for="(item, index) in ville"
                            :key="index"
                            :label="item.libelle"
                            :value="item.id"
                          >
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                    <el-col :span="24">
                      <el-form-item label="Quartier :" prop="quartier">
                        <el-input
                          placeholder="Quartier"
                          v-model="registerForm.quartier"
                        ></el-input>
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-form-item label="Mot de passe :" prop="password">
                    <el-input
                      :type="passwordFieldType"
                      placeholder="Mot de passe (minimun 6 caractères)"
                      v-model="registerForm.password"
                    ></el-input>
                  </el-form-item>
                  <el-form-item
                    label="Confirmez le mot de passe :"
                    prop="password_confirmation"
                  >
                    <el-input
                      :type="passwordFieldType"
                      placeholder="Confirmez le mot de passe"
                      v-model="registerForm.password_confirmation"
                    ></el-input>
                  </el-form-item>
                  <div>
                    <span class="showpassword">
                      Voir le mot de passe
                      <i
                        v-if="passwordFieldType == 'password'"
                        @click="switchVisibility"
                        class="fa fa-fw fa-eye-slash passwordEye"
                      ></i>
                      <i
                        v-else
                        @click="switchVisibility"
                        class="fa fa-fw fa-eye passwordEye"
                      ></i>
                    </span>
                  </div>
                  <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                      <el-button
                        class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                        type="primary"
                        @click="submitForm('ruleForm')"
                        >S'INSCRIRE</el-button
                      >
                    </div>
                  </div>

                  <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                      <p>
                        Vous avez déjà un compte?
                        <router-link
                          :to="'/concours/login/' + concoursDatas.id"
                          class="text-info m-l-5"
                          ><b>Connexion</b></router-link
                        >
                      </p>
                    </div>
                  </div>

                  <!-- <div class="form-group text-center m-t-20">
                          <div class="col-xs-12">
                            
                            <el-button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="primary" @click="submitForm('ruleForm')">Créer</el-button>
                          </div>
                      </div> -->
                </el-form>
              </div>
              <!-- <guest-footer></guest-footer> -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
// Import component
// import Loading from 'vue-loading-overlay';
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
import { Message, Loading } from "element-ui";
import numOne from "./components/numeroONE";
export default {
  components: { numOne },
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Veuillez entrer le mot de passe"));
      } else {
        if (this.registerForm.password_confirmation !== "") {
          this.$refs.ruleForm.validateField("password_confirmation");
        }
        callback();
      }
    };
    var validedate = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Veuillez inserer une date"));
      } else {
        if (this.registerForm.dateNaissance != "") {
          let today = new Date().getFullYear();
          let age =
            today - new Date(this.registerForm.dateNaissance).getFullYear();
          if (age < 15 || age == 15) {
            callback(
              new Error(
                "Voous n'avez pas l'âge requis pour participer au programme"
              )
            );
          } else {
            callback();
          }
        }
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Veuillez entrer à nouveau le mot de passe"));
      } else if (value !== this.registerForm.password) {
        callback(new Error("Les deux entrées ne correspondent pas!"));
      } else {
        callback();
      }
    };
    return {
      concoursRef: firebase.firestore().collection("concours"),
      permissionsRef: firebase.firestore().collection("permissions"),
      usersRef: firebase.firestore().collection("users"),
      provinceRef: firebase.firestore().collection("province"),
      villeRef: firebase.firestore().collection("ville"),
      passwordFieldType: "password",
      concoursDatas: {},
      province: [],
      ville: [],
      quartier: "",
      backgroundImage: "",
      loadingData: false,
      backgroundImageUrl: "",
      paysRef: firebase.firestore().collection("pays"),
      registerForm: {
        activated: true,
        typeAccount: "entrepreneur",
        firstTimeConnection: "",
        ville: "",
        province: "",
      },
      profession: [
        {
          value: "travailleur",
          label: "TRAVAILLEUR",
        },
        {
          value: "etudiant",
          label: "ETUDIANT",
        },
        {
          value: "chomeur",
          label: "CHÔMEUR",
        },
        {
          value: "eleve",
          label: "ELEVE",
        },
        {
          value: "entrepreneur",
          label: "ENTREPRENEUR",
        },
        {
          value: "autre",
          label: "AUTRE",
        },
      ],
      tranche8h: [],
      tranche11h: [],
      tranche14h: [],
      etude: [
        {
          value: "aucun",
          label: "AUCUN",
        },
        {
          value: "cep",
          label: "CEP",
        },
        {
          value: "bepc",
          label: "BEPC",
        },
        {
          value: "bac",
          label: "BAC",
        },
        {
          value: "licence",
          label: "LICENCE",
        },
        {
          value: "master",
          label: "MASTER",
        },
        {
          value: "doctorat",
          label: "DOCTORAT",
        },
      ],
      horraire: [
        {
          value: "8h30-10h30",
          label: "8h30 - 10h30",
        },
        {
          value: "11h00-13h30",
          label: "11h00 - 13h30",
        },
        {
          value: "14h00-16h00",
          label: "14h00 - 16h00",
        },
      ],
      rules: {
        first_name: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        last_name: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        email: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],

        dateNaissance: [
          {
            type: "date",
            required: true,
            validator: validedate,
            trigger: "change",
          },
        ],
        telephone: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          {
            min: 9,
            max: 9,
            message: "le numéro doit comporter 9 chiffres",
            trigger: "change",
          },
        ],
        // email: [
        //   { required: true, message: 'Ce champ est obligatoire', trigger: 'blur' }
        // ],
        province: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        profession: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        etude: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        ville: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        quartier: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
        ],

        date2: [
          {
            type: "date",
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        sexe: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        password: [
          { required: true, validator: validatePass, trigger: "blur" },
        ],
        password_confirmation: [
          { required: true, validator: validatePass2, trigger: "change" },
        ],
      },
      permissions: {
        executiveSummary: {
          state: false,
        },
        quotaProjets: 1,
      },
      registerPasswords: {
        password: "",
        password_confirmation: "",
      },
      sexe: [
        {
          value: "masculin",
          label: "Masculin",
        },
        {
          value: "feminin",
          label: "Féminin",
        },
      ],
      isLoading: false,
      fullPage: true,
      activeName: "particulier",
      countries: [],
    };
  },

  methods: {
    // loading(){
    // return 15;
    // },
    disabledTranche8h() {
      let result =
        this.concoursDatas.participseance * this.concoursDatas.espace -
        this.tranche8h.length;
      let index = this.horraire.findIndex(
        (item) => item.value === "8h30-10h30"
      );
      if (result == 0 || result < 0) {
        this.horraire.splice(index, 1);
      }
      // console.log("10h",this.tranche10h.length)
    },
    disabledTranche11h() {
      let result =
        this.concoursDatas.participseance * this.concoursDatas.espace -
        this.tranche11h.length;
      let index = this.horraire.findIndex(
        (item) => item.value === "11h00-13h30"
      );
      if (result == 0 || result < 0) {
        this.horraire.splice(index, 1);
      }
      //  console.log("13h",this.tranche13h.length)
    },
    disabledTranche14h() {
      let result =
        this.concoursDatas.participseance * this.concoursDatas.espace -
        this.tranche14h.length;
      let index = this.horraire.findIndex(
        (item) => item.value === "14h00-16h00"
      );
      if (result == 0 || result < 0) {
        this.horraire.splice(index, 1);
      }
      //  console.log("13h",this.tranche13h.length)
    },
    defineHorraire() {
      this.$loading({ fullscreen: true });
      this.concoursRef
        .doc(this.$route.params.id)
        .get()
        .then((doc) => {
          let promiseUser = new Promise((resolve, reject) => {
            this.usersRef
              .where(
                "idConcours",
                "==",
                this.concoursRef.doc(this.$route.params.id)
              )
              .get()
              .then((snapshot) => {
                if (!snapshot.empty) {
                  snapshot.forEach((doc) => {
                    if (doc.data().horraire == "8h30-10h30}") {
                      this.tranche8h.push(doc.data().horraire);
                    }
                    if (doc.data().horraire == "11h00-13h30") {
                      this.tranche11h.push(doc.data().horraire);
                    }
                    if (doc.data().horraire == "14h00-16h00") {
                      this.tranche14h.push(doc.data().horraire);
                    }
                  });
                  resolve(this.tranche8h, this.tranche11h, tranche14h);
                } else {
                  reject(this.tranche8h, this.tranche11h, tranche14h);
                }
              });
          });
          Promise.allSettled([promiseUser]).then(() => {
            this.disabledTranche8h();
            this.disabledTranche11h();
            this.disabledTranche14h();
            this.$loading().close();
          });
        });
    },
    closealert() {
      window.setTimeout(function() {
        $(".alert").alert("close");
      }, 4000);
    },

    submitForm(formName) {
      let inscriptions = 0;
      this.$loading({ fullscreen: true });
      this.concoursRef
        .doc(this.$route.params.id)
        .get()
        .then((doc) => {
          let promiseUser = new Promise((resolve, reject) => {
            this.usersRef
              .where(
                "idConcours",
                "==",
                this.concoursRef.doc(this.$route.params.id)
              )
              .get()
              .then((snapshot) => {
                if (!snapshot.empty) {
                  snapshot.forEach(() => {
                    inscriptions++;
                  });
                  resolve(inscriptions);
                } else {
                  reject(inscriptions);
                }
              });
          });
          Promise.allSettled([promiseUser]).then(() => {
            let quota = doc.data().participants;
            // console.log("Participants",inscriptions)
            // console.log("Quota",quota)
            if (quota == inscriptions || inscriptions > quota) {
              Message.warning({
                dangerouslyUseHTMLString: true,
                message:
                  "<strong>Le quota d'inscriptions a été atteint </strong> ",
              });
              this.$loading().close();
            } else {
              this.$refs[formName].validate((valid) => {
                if (valid) {
                  this.$loading({ fullscreen: true });
                  const db = firebase.firestore();
                  let role = db.collection("profile").doc("3");
                  let villeReference = this.villeRef.doc(
                    this.registerForm.ville
                  );
                  (this.registerForm.villeId = villeReference),
                    (this.registerForm.profile = role);
                  this.registerForm.createdAt = firebase.firestore.FieldValue.serverTimestamp();

                  if (
                    this.registerForm.password.length >= 6 &&
                    this.registerForm.password ===
                      this.registerForm.password_confirmation
                  ) {
                    firebase
                      .auth()
                      .createUserWithEmailAndPassword(
                        this.registerForm.email,
                        this.registerForm.password
                      )
                      .then(() => {
                        firebase
                          .auth()
                          .currentUser.sendEmailVerification()
                          .then(() => {
                            let authId = firebase.auth().currentUser.uid;
                            delete this.registerForm.password;
                            delete this.registerForm.password_confirmation;

                            db.collection("users")
                              .doc(authId)
                              .set(this.registerForm)
                              .then((docRef) => {
                                this.permissionsRef
                                  .doc(authId)
                                  .set(this.permissions)
                                  .then((perm) => {
                                    this.$notify({
                                      title: "succès",
                                      message:
                                        "Inscription réussie accédez à votre adresse email pour valider votre compte.",
                                      type: "success",
                                      duration: 0,
                                    });
                                    // //redirection vers l'authentification
                                    // document.getElementById('check_error').innerHTML = '<div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Enregistrement Réussi votre compte est en cours de validation.</div>';

                                    // this.closealert();
                                    this.$loading().close();
                                    this.$router.replace(
                                      "/concours/login/" + this.$route.params.id
                                    );
                                  })
                                  .catch((error) => {
                                    this.$notify.error({
                                      title: "Erreur",
                                      message:
                                        "Une Erreur innatendue est survenue. contactez votre administrateur",
                                    });
                                    this.$loading().close();
                                    console.log(error);
                                  });
                              });
                            //document.getElementById('check_error').innerHTML = '<div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span><i class="icon-help"></i>&nbsp;&nbsp; Un mail de validation a été envoyé sur votre boîte! Allez cliquer sur le lien.</div>';
                            //this.closealert();
                          });
                      })
                      .catch((error) => {
                        // Handle Errors here.
                        var errorCode = error.code;

                        //alert(errorCode);
                        // ...
                        switch (errorCode) {
                          case "auth/email-already-in-use":
                            this.$notify({
                              title: "Erreur Email",
                              message:
                                " Cette adresse Email a déjà été utilisée !!",
                              type: "error",
                            });
                            // document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Cette adresse Email a déjà été utilisée!!</div>';
                            this.$loading().close();
                            // this.closealert();

                            break;

                          case "auth/network-request-failed":
                            // document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Aucune connexion internet</div>';
                            // this.closealert();
                            this.$loading().close();
                            break;

                          default:
                            break;
                        }
                      });
                  } else {
                    this.$notify({
                      title: "Erreur mot de passe",
                      message:
                        "les mots de passe doivent comporter minimum 6 caractères et doivent être identiques",
                      type: "error",
                    });
                    // var msg = '<div  class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span><strong>les mots de passe doivent comporter minimum 6 caractères et doivent être identiques</div>';
                    // document.getElementById('check_error').innerHTML =msg;
                    this.$loading().close();
                  }
                } else {
                  this.$loading().close();
                  console.log("error submit!!");

                  return false;
                }
              });
            }
          });
        });
    },
    switchVisibility() {
      this.passwordFieldType =
        this.passwordFieldType === "password" ? "text" : "password";
    },
    setImageBackground() {
      // this.backgroundImageUrl=this.concoursDatas.wallpaper
      this.backgroundImage = "";
      let that;
      let highResImageBackground = new Image();
      that = this;
      highResImageBackground.onload = () => {
        that.backgroundImage = that.backgroundImageUrl;
      };
      highResImageBackground.src = this.backgroundImageUrl;
      console.log("Function call", this.backgroundImageUrl);
    },
    quotaInscription() {},
    async getProvince(value) {
      // this.isLoading=true;
      this.loadingData = true;
      this.ville = [];
      this.registerForm.ville = "";
      await this.villeRef
        .where("idProvince", "==", this.provinceRef.doc(value))
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            // doc.data() is never undefined for query doc snapshots
            this.ville.push({
              libelle: doc.data().libelle,
              id: doc.id,
            });
          });
        });
      // this.isLoading=false;
      this.loadingData = false;
    },
  },
  async created() {
    let idConcours = this.$route.params.id;
    this.provinceRef
      .orderBy("code", "asc")
      .get()
      .then((querySnapshot) => {
        this.province = [];
        querySnapshot.forEach((doc) => {
          // doc.data() is never undefined for query doc snapshots
          this.province.push({
            libelle: doc.data().libelle,
            code: doc.data().code,
            id: doc.id,
          });
        });
      });

    await this.concoursRef
      .doc(idConcours)
      .get()
      .then((doc) => {
        if (doc.exists) {
          this.concoursDatas = doc.data();
          this.concoursDatas.id = doc.id;
          this.backgroundImageUrl = this.concoursDatas.wallpaper;
          this.registerForm.idConcours = this.concoursRef.doc(
            this.concoursDatas.id
          );
          this.registerForm.adminId = this.usersRef.doc(
            this.concoursDatas.adminId
          );
          this.permissionsRef
            .doc(this.concoursDatas.adminId)
            .get()
            .then((doc) => {
              this.permissions.executiveSummary.state = doc.data().executiveSummary.state;
            });
        }
      });
    this.$loading().close();
  },

  mounted() {
    this.setImageBackground();
    //  if(this.concoursDatas.adminId == "VuCP8K4T5qN4910GdFxUgxRRcmB2"){
    //    alert("Hi")
    //    this.defineHorraire()
    //  }
    this.defineHorraire();
  },
};
</script>
<style scoped>
#wrapper {
  margin: auto;
}
.page-wrapper {
  padding: 0 !important;
}
.el-select {
  padding: 0px !important;
}
.passwordEye {
  display: inline-block !important;
  cursor: pointer;
  position: absolute;
  margin-bottom: 7px;
  padding: 6px;
  /* left:200px; */
  z-index: 100;

  /* top: 12px;
      flex: 1; */
  /* float:right */
}
.showpassword {
  font-size: 15px;
}
.residence {
  color: #455a64;
  /* border-bottom: 1px solid #e0dede; */
  margin-bottom: 15px;
}
.residence span {
  color: #455a64;
  /* border-bottom: 1px solid #455a64; */
  /* margin-bottom: 30px; */
}
.el-form-item__label {
  line-height: 0px !important;
}
.date-style {
  width: 100%;
}
</style>
