<template>
  <div class="page-wrapper pl-3">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->

    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Projets</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link :to="{ name: 'suivi' }">admin</router-link>
            </li>
            <li class="breadcrumb-item">
              <a href="/bp/suivi"> Projets</a>
            </li>
          </ol>
        </div>
      </div>

      <el-tabs
        v-if="ecrire"
        class="nav-tabs customtab"
        role="tablist"
        v-model="activeName"
        @tab-click="handleTabClick"
        type="border-card"
      >
        <el-tab-pane name="liste">
          <div slot="label">
            <strong><i class="el-icon-tickets"></i>Liste projets </strong>
          </div>
          <el-row type="flex" class="row-bg" justify="space-between">
            <el-col :span="8"
              ><div class="grid-content">
                <el-input
                  v-model="recherche"
                  @input="handleSearch"
                  size="small"
                  placeholder="Rechercher"
                /></div
            ></el-col>

            <el-col v-if="ecrire" :span="10"
              ><div class="grid-content">
                <el-tooltip
                  v-if="this.multipleSelection.length != 0"
                  class="item"
                  effect="dark"
                  content="Supprimer les éléments sélectionnés"
                  placement="top"
                >
                  <el-button
                    size="mini"
                    icon="mdi mdi-account-switch"
                    @click="loadModalLink()"
                    >Assigner ({{ this.multipleSelection.length }})
                  </el-button>
                </el-tooltip>

                <el-tooltip
                  v-if="this.multipleSelection.length != 0"
                  class="item"
                  effect="dark"
                  content="Supprimer les éléments sélectionnés"
                  placement="top"
                >
                  <el-button size="mini" type="danger" @click="deleteMultiple()"
                    >Supprimer ({{ this.multipleSelection.length }})
                  </el-button>
                </el-tooltip>

                <el-button size="mini" @click="toggleSelection()"
                  >Effacer la sélection</el-button
                >
              </div></el-col
            >
          </el-row>

          <el-row type="flex" class="row-bg" justify="space-between">
            <el-col v-if="this.dataFilter.length > 1" :span="6"
              ><div class="grid-content">
                Projets :<span
                  class="badge badge-dark font-weight-bold"
                  type="warning"
                  >{{ this.dataFilter.length }}</span
                >
              </div></el-col
            >
            <el-col v-else :span="6">
              <div class="grid-content">
                Projet :
                <span
                  class="badge badge-dark font-weight-bold"
                  type="warning"
                  >{{ this.dataFilter.length }}</span
                >
              </div></el-col
            >
          </el-row>
          <el-table
            v-if="lire"
            ref="multipleTable"
            stripe
            :data="dataFilter"
            v-loading="loadingResultat"
            @selection-change="handleSelectionChange"
            :header-cell-style="tableHeaderColor"
            style="width: 100%"
          >
            <el-table-column type="selection" width="30"> </el-table-column>
            <el-table-column label="Date Création" width="150">
              <template slot-scope="scope">
                <el-popover placement="top-start" width="200" trigger="hover">
                  <el-tag slot="reference" size="medium">
                    <i class="el-icon-time"></i>
                    <span v-if="scope.row.createdAt" style="margin-left: 10px"
                      >{{
                        new Date(scope.row.createdAt.seconds * 1000)
                          | moment("Do MMMM YYYY hh:mm:ss")
                          | cyb_date_split
                      }}
                    </span>
                  </el-tag>
                  <span>
                    {{
                      new Date(scope.row.createdAt.seconds * 1000)
                        | moment("Do MMMM YYYY hh:mm:ss")
                    }}
                  </span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column label="Dénomination" width="210">
              <template slot-scope="scope">
                <el-popover placement="top-start" width="210" trigger="hover">
                  <strong slot="reference">{{
                    scope.row.titre | cyb_title_plit | capitalized
                  }}</strong>
                  <span> {{ scope.row.titre | capitalized }} </span>
                </el-popover>
              </template>
            </el-table-column>

            <el-table-column label="Sigle" width="100">
              <template slot-scope="scope">
                <p>{{ scope.row.sigle }}</p>
              </template>
            </el-table-column>
            <el-table-column label="Forme Juridique" width="150">
              <template slot-scope="scope">
                <div slot="reference" class="name-wrapper">
                  <el-tag size="medium">{{ scope.row.formJuridique }}</el-tag>
                </div>
              </template>
            </el-table-column>

            <el-table-column label="Statut Activité" width="150">
              <template slot-scope="scope">
                <el-popover placement="top-start" width="200" trigger="hover">
                  <el-tag slot="reference" size="medium">
                    <span>{{ scope.row.statutActivite | cyb_date_split }}</span>
                  </el-tag>
                  <span> {{ scope.row.statutActivite }} </span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column label="Etat Enregistrement" width="200">
              <template slot-scope="scope">
                <div slot="reference" class="name-wrapper">
                  <el-tag size="medium">{{ scope.row.etat }}</el-tag>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Etat Evaluation" width="200">
              <template slot-scope="scope">
                <div slot="reference" class="name-wrapper">
                  <el-tag size="medium">{{ scope.row.statut }}</el-tag>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Evaluateur" width="200">
              <template slot-scope="scope">
                <div class="name-wrapper">
                  <span>{{ scope.row.evaluateur }}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              v-if="ecrire"
              fixed="right"
              label="Supprimer"
              width="120"
            >
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  icon="el-icon-delete"
                  type="danger"
                ></el-button>
              </template>
            </el-table-column>
            <el-table-column
              v-if="ecrire"
              fixed="right"
              label="Actions"
              width="200"
            >
              <template slot-scope="scope">
                <el-button
                  @click="loadModalLink(scope.row.id)"
                  size="mini"
                  icon="mdi mdi-account-switch"
                  v-loading.fullscreen.lock="fullscreenLoading"
                  element-loading-background="#ffffff05"
                ></el-button>
                <el-button
                  @click="selectProject(scope.row.id, scope.row.titre)"
                  size="mini"
                  icon="mdi mdi-launch"
                  v-loading.fullscreen.lock="fullscreenLoading"
                  element-loading-background="#ffffff05"
                ></el-button>
                <el-button
                  icon="el-icon-s-order icon-size-btn"
                  size="mini"
                  @click="
                    $refs.planAction.openModalAction(scope.row.id, scope.row)
                  "
                ></el-button>
                <el-tooltip content="orientation" placement="top">
                  <el-button
                    size="mini"
                    @click="
                      $refs.Orientation.openModalOriantation(
                        scope.row.idSummary,
                        currentUId
                      )
                    "
                    ><i class="mdi mdi-exit-to-app icon-size-btn"></i
                  ></el-button>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
          <el-row
            type="flex"
            justify="end"
            class="margin-top-5 margin-bottom-5 row-pagination"
          >
            <el-button size="small" class="show-all">Afficher tout</el-button>
            <el-pagination
              background
              layout="->, prev, pager, next"
              :total="tableData.length"
              :data="tableData"
            >
            </el-pagination>
          </el-row>
        </el-tab-pane>
        <el-tab-pane name="resultats">
          <div slot="label">
            <strong><i class="el-icon-tickets"></i>Resultats </strong>
          </div>
          <el-row type="flex" class="row-bg" justify="space-between">
            <el-col :span="8"
              ><div class="grid-content">
                <el-input
                  v-model="recherche"
                  size="small"
                  placeholder="Rechercher"
                /></div
            ></el-col>
            <el-col :span="8"></el-col>
            <el-col v-if="ecrire" :span="8"
              ><div class="grid-content">
                <el-button type="success"
                  ><export-excel
                    :data="this.tableDataResultats"
                    :fields="this.resultatsFields"
                    name="Export-resultats.xls"
                  >
                    <i class="mdi mdi-download">
                      <strong style="padding-left:5px"
                        >Export Résultats
                      </strong>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="24"
                        height="24"
                        viewBox="0 0 172 172"
                        style=" fill:#000000;"
                      >
                        <g
                          fill="none"
                          fill-rule="nonzero"
                          stroke="none"
                          stroke-width="1"
                          stroke-linecap="butt"
                          stroke-linejoin="miter"
                          stroke-miterlimit="10"
                          stroke-dasharray=""
                          stroke-dashoffset="0"
                          font-family="none"
                          font-weight="none"
                          font-size="none"
                          text-anchor="none"
                          style="mix-blend-mode: normal"
                        >
                          <path d="M0,172v-172h172v172z" fill="none"></path>
                          <g fill="#ffffff">
                            <path
                              d="M86,21.5l-71.66667,14.33333v100.33333l71.66667,14.33333zM100.33333,35.83333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h-14.33333v14.33333h50.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-86c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667zM129,50.16667h14.33333v14.33333h-14.33333zM29.92643,59.46094h12.73763l6.62077,15.87305c0.5375,1.29717 0.94208,2.80149 1.35775,4.50716h0.18197c0.2365,-1.02483 0.7179,-2.59064 1.44173,-4.63314l7.37663,-15.74707h11.61784l-13.87142,26.30111l14.27734,26.77702h-12.3877l-7.97852,-17.30078c-0.301,-0.60917 -0.65799,-1.83567 -0.95182,-3.54134h-0.11198c-0.17917,0.817 -0.5403,2.04015 -1.0778,3.68132l-8.0485,17.16081h-12.44368l14.76725,-26.56706zM129,78.83333h14.33333v14.33333h-14.33333zM129,107.5h14.33333v14.33333h-14.33333z"
                            ></path>
                          </g>
                        </g></svg
                    ></i>
                  </export-excel>
                </el-button>
              </div>
            </el-col>
          </el-row>
          <el-row type="flex" class="row-bg" justify="space-between">
            <el-col v-if="this.tableDataResultats.length > 1" :span="6"
              ><div class="grid-content">
                Projets évalués :<span
                  class="badge badge-dark font-weight-bold"
                  type="warning"
                  >{{ this.tableDataResultats.length }}</span
                >
              </div></el-col
            >
            <el-col v-else :span="6">
              <div class="grid-content">
                Projets évalués :
                <span
                  class="badge badge-dark font-weight-bold"
                  type="warning"
                  >{{ this.tableDataResultats.length }}</span
                >
              </div></el-col
            >
          </el-row>
          <el-table
            v-if="ecrire"
            ref="multipleTable"
            stripe
            :data="tableDataResultats"
            v-loading="loadingResultat"
            @selection-change="handleSelectionChange"
            :header-cell-style="tableHeaderColor"
            style="width: 100%"
          >
            <el-table-column fixed="left" type="selection" width="30">
            </el-table-column>
            <el-table-column fixed="left" label="Date Evaluation" width="150">
              <template slot-scope="scope">
                <el-popover placement="top-start" width="200" trigger="hover">
                  <el-tag slot="reference" size="medium">
                    <i class="el-icon-time"></i>
                    <span v-if="scope.row.createdAt" style="margin-left: 10px"
                      >{{
                        new Date(scope.row.createdAt.seconds * 1000)
                          | moment("Do MMMM YYYY")
                          | cyb_date_split
                      }}
                    </span>
                  </el-tag>
                  <span>
                    {{
                      new Date(scope.row.createdAt.seconds * 1000)
                        | moment("Do MMMM YYYY")
                    }}
                  </span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column fixed="left" label="Dénomination" width="210">
              <template slot-scope="scope">
                <el-popover placement="top-start" width="210" trigger="hover">
                  <strong slot="reference">{{
                    scope.row.titre | cyb_title_plit | capitalized
                  }}</strong>
                  <span> {{ scope.row.titre | capitalized }} </span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column label="Nom" width="200">
              <template slot-scope="scope">
                <el-popover placement="top-start" width="200" trigger="hover">
                  <span slot="reference">{{
                    scope.row.user.first_name | cyb_title_plit | capitalized
                  }}</span>
                  <span> {{ scope.row.user.first_name | capitalized }} </span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column label="Prénom" width="200">
              <template slot-scope="scope">
                <el-popover placement="top-start" width="200" trigger="hover">
                  <span slot="reference">{{
                    scope.row.user.last_name | cyb_title_plit
                  }}</span>
                  <span> {{ scope.row.user.last_name }} </span>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column label="Téléphone" width="200">
              <template slot-scope="scope">
                <p>{{ scope.row.user.telephone }}</p>
              </template>
            </el-table-column>
            <el-table-column label="Email" width="200">
              <template slot-scope="scope">
                <p>{{ scope.row.user.email }}</p>
              </template>
            </el-table-column>
            <el-table-column label="Programme" width="200">
              <template slot-scope="scope">
                <p v-if="scope.row.program">
                  {{ scope.row.program.libelleConcours }}
                </p>
              </template>
            </el-table-column>
            <el-table-column label="Projet" width="200">
              <template slot-scope="scope">
                <p>{{ scope.row.projet.note1 }}</p>
              </template>
            </el-table-column>
            <el-table-column label="Porteur" width="200">
              <template slot-scope="scope">
                <p>{{ scope.row.porteur.note2 }}</p>
              </template>
            </el-table-column>
            <el-table-column label="Produit/Service" width="150">
              <template slot-scope="scope">
                <p>
                  {{ scope.row.produit.note3 }}
                </p>
              </template>
            </el-table-column>
            <el-table-column label="BMC" width="150">
              <template slot-scope="scope">
                <p>
                  {{ scope.row.bmc.note4 }}
                </p>
              </template>
            </el-table-column>
            <el-table-column label="Chiffres" width="150">
              <template slot-scope="scope">
                <p>
                  {{ scope.row.chiffre.note5 }}
                </p>
              </template>
            </el-table-column>
            <el-table-column fixed="right" label="Moyenne" width="150">
              <template slot-scope="scope">
                <strong>
                  {{ scope.row.note_global }}
                </strong>
              </template>
            </el-table-column>

            <el-table-column fixed="right" label="Actions" width="200">
              <template slot-scope="scope">
                <el-tooltip content="plan d'action" placement="top">
                  <el-button
                    icon="el-icon-s-order icon-size-btn"
                    v-if="scope.row.comment === ''"
                    size="mini"
                    @click="
                      $refs.planAction.openModalAction(
                        scope.row.comment,
                        scope.row
                      )
                    "
                  ></el-button>
                  <el-button
                    icon="el-icon-s-order icon-size-btn"
                    v-else
                    size="mini"
                    @click="
                      $refs.planAction.openModalAction(
                        scope.row.comment,
                        scope.row
                      )
                    "
                  ></el-button>
                </el-tooltip>
                <el-tooltip content="orientation" placement="top">
                  <el-button
                    size="mini"
                    @click="
                      $refs.Orientation.openModalOriantation(
                        scope.row.idSummary,
                        currentUId
                      )
                    "
                    ><i class="mdi mdi-exit-to-app icon-size-btn"></i
                  ></el-button>
                </el-tooltip>
                <el-tooltip content="Messages" placement="top">
                  <el-button
                    size="mini"
                    icon="el-icon-s-promotion icon-size-btn"
                    @click="$refs.Message.loadModalMessage(scope.row.user)"
                  ></el-button>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>

        <el-dialog title="Evaluateur" :visible.sync="dialogVisible" width="33%">
          <el-select
            v-model="userIdSelected"
            filterable
            placeholder="Choisissez l'évaluateur"
            style="width:400px;"
          >
            <el-option
              v-for="(item, index) in membersData"
              :key="index"
              :label="item.first_name + ' ' + item.last_name"
              :value="item.id"
            >
            </el-option>
          </el-select>

          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Fermer</el-button>
            <el-button
              type="primary"
              v-if="this.multipleSelection.length != 0"
              :loading="loading"
              @click="saveLinkMultiple()"
              >Assigner {{ this.multipleSelection.length }}</el-button
            >
            <el-button
              type="primary"
              v-else
              :loading="loading"
              @click="saveLink()"
              >Assigner</el-button
            >
          </span>
        </el-dialog>
      </el-tabs>
    </div>

    <Message ref="Message" />
    <Orientation ref="Orientation" />
    <PlanAction ref="planAction" />
  </div>
</template>

<script>
import { VueEditor, Quill } from "vue2-editor";
import firebase from "firebase";
import helper from "../../../services/helper";
import VueApexCharts from "vue-apexcharts";
import action from "../../bp/mixins/admin/actionPlan.js";
import Message from "../concours/components/message";
import Orientation from "../concours/components/orientation";
import PlanAction from "../concours/components/planAction";

export default {
  mixins: [helper, action],
  name: "projets-concours",
  components: {
    VueEditor,
    apexchart: VueApexCharts,
    Message,
    Orientation,
    PlanAction,
  },
  data() {
    return {
      ref: firebase.firestore().collection("permissions"),
      summaryRef: firebase.firestore().collection("summary"),
      docref: firebase.firestore().collection("roles"),
      users: firebase.firestore().collection("users"),
      membresRef: firebase.firestore().collection("membres"),
      planActionRef: firebase.firestore().collection("planAction"),
      concoursRef: firebase.firestore().collection("concours"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      adminId: JSON.parse(localStorage.getItem("userSession")).adminId,
      evaluationRef: firebase.firestore().collection("evaluation"),
      allItemDone: [],
      allItemInProgress: [],
      dataResultats: "",
      optionChart: {
        labels: ["Actions terminées", "Actions en cours", "Actions à faire"],
        colors: ["#67C23A", "#E6A23C", "#909399"],
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
              },
            },
          },
        },
      },
      allItemNotStarted: [],
      modalDescriptionData: "",
      dialogDescription: false,
      activeName: "liste",
      allActionsData: [],
      actionDone: 0,
      actionInProgress: 0,
      editMode: false,
      editActionId: "",
      loadingResultat: false,
      loadingTache: false,
      activeTabAction: "creer-action",
      loadingComment: false,
      summaryId: "",
      allPrograms: [],
      dialogComment: false,
      dialogOrientation: false,
      idSummarySelected: "",
      commentContent: "",
      loadingOrientation: false,
      lire: false,
      ecrire: false,
      tableData: [],
      tableDataResultats: [],
      membersData: [],
      actionsData: [],
      dataFilter: [],
      userIdSelected: "",
      userSelected: "",
      multipleSelection: [],
      loadingDelete: false,
      stateLoading: {},
      projectSelected: "",
      loading: false,
      loadingTable: false,
      recherche: "",
      dialogVisible: false,
      loadingSavePerm: false,
      fullscreenLoading: false,
      idUserIndex: "",
      idUserProfil: "",
      props: { multiple: true },
      permissions: {},
      permissionIncubateur: {
        liste: [],
        role: "",
      },
      permissionBpFinanicer: {
        liste: [],
        role: "",
      },
      permissionSuivi: {
        liste: [],
        role: "",
      },

      role: {
        titre: "",
        desc: "",
        projet: "",
        createdAt: firebase.firestore.FieldValue.serverTimestamp(),
      },
      resultatsFields: {
        Date: {
          field: "createdAt",
          callback: (value) => {
            return this.dateFormat(value);
          },
        },
        Titre: "titre",
        Nom: "user.first_name",
        Prenom: "user.last_name",
        telephone: "user.telephone",
        Email: "user.email",
        Projet: "projet.note1",
        Porteur: "porteur.note2",
        "Produit/Service": "produit.note3",
        BMC: "bmc.note4",
        Chiffres: "chiffre.note5",
        Moyenne: "note_global",
        // 'Vendeur prenom':'vendeur.prenom',
        // 'Vendeur email':'vendeur.email',
        // 'Vendeur téléphone':'vendeur.telephone1'
      },
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons

        [{ list: "ordered" }, { list: "bullet" }],
        // [{ 'font': [] }],
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme

        ["clean"], // remove formatting button
      ],
      //Fake TableData//
      gridData: [
        {
          date: "2016-05-02",
          name: "John Smith",
          address: "No.1518,  Jinshajiang Road, Putuo District",
        },
        {
          date: "2016-05-04",
          name: "John Smith",
          address: "No.1518,  Jinshajiang Road, Putuo District",
        },
        {
          date: "2016-05-01",
          name: "John Smith",
          address: "No.1518,  Jinshajiang Road, Putuo District",
        },
        {
          date: "2016-05-03",
          name: "John Smith",
          address: "No.1518,  Jinshajiang Road, Putuo District",
        },
      ],
    };
  },

  created() {
    this.$route.params.data.forEach((item) => {
      if (item == "lire") {
        this.lire = true;
      }
      if (item == "ecrire") {
        this.ecrire = true;
      }
    });
  },
  methods: {
    stateChangeProgram() {
      this.getAllItemsAtionsDoneProgram();
      this.getAllItemsAtionsInProgressProgram();
    },
    onSubmit() {
      // let loader = Vue.$loading.show();
      this.docref
        .add(this.role)
        .then((role) => {
          const db = firebase.firestore();
          let userSession = JSON.parse(localStorage.getItem("userSession"));
          let projetid = userSession.projet;
          db.collection("roles")
            .doc(role.id)
            .update({
              projet: projetid,
            });

          this.ref
            .add(this.permission)
            .then((permission) => {
              this.isLoading = false;
              //console.log(tache.id);
              db.collection("permissions")
                .doc(permission.id)
                .update({
                  role: role.id,
                });
              // loader.hide();

              Swal.fire({
                title: "Enregistrement Réussi",
                text: "Votre role a été enregistré avec succès!",
                type: "success",
                showCancelButton: false,
                confirmButtonText: "OK",
              });
              //storyRef.update({ id: increment });
            })
            .catch(function(error) {
              // loader.hide();
              Swal.fire("Oops...", "Erreur!", "error");
            });
        })
        .catch(function(error) {
          // loader.hide();
          Swal.fire("Oops...", "Erreur!", "error");
        });
    },
    changePerm(e) {
      // console.log('Logtest',this.$refs['permissionRef']) //Note 2: Get the label value
    },
    addNewRowVisionCourt() {
      this.permissions.liste.push({
        libelle: "",
      });
    },
    deleteRowVisionCourt(index, perm) {
      var idx = this.permission.liste.indexOf(perm);
      if (idx > -1) {
        Swal.fire({
          title: "Attention",
          text: "Vous ne pourrez pas revenir en arrière !",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "je confirme",
          cancelButtonText: "j'annule",
        }).then((result) => {
          if (result.value) {
            this.permission.liste.splice(idx, 1);
          }
        });
      }
    },
    async handleTabClick(tab, event) {
      switch (this.activeName) {
        case "ajouter":
          break;

        case "liste":
          // this.getUsers()
          break;

        case "resultats":
          if (JSON.parse(localStorage.getItem("userSession")).adminId) {
            this.getResultat(
              JSON.parse(localStorage.getItem("userSession")).adminId
            );
          } else {
            this.getResultat();
          }

          // this.loadingResultat=false
          break;
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    async filterData(val) {
      let dataFilter = this.tableData;
      this.dataFilter = dataFilter.filter(
        (data) => !val || data.titre.toLowerCase().includes(val.toLowerCase())
      );
    },
    handleSearch(val) {
      // this.multipleSelection = val;
      this.loading = true;

      this.filterData(val)
        .then(() => {
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          // console.log('Bad')
        });
    },
    loadModalLink(id) {
      this.dialogVisible = true;
      this.summaryId = id;
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        this.getMembers(
          JSON.parse(localStorage.getItem("userSession")).adminId
        );
      } else {
        this.getMembers();
      }
    },
    getMembers(adminId = this.currentUId) {
      //FIREBASE GET RECETTES

      // let loader = Vue.$loading.show();
      let referenceUser = this.users.doc(adminId);
      this.membresRef
        .where("adminId", "==", referenceUser)
        // where('profile', '==','4').
        .onSnapshot((querySnapshot) => {
          this.membersData = [];
          querySnapshot.forEach((doc) => {
            let obj = doc.data();
            //  console.log('Log Object',obj);
            // obj.id = doc.id;

            obj.userId.get().then((user) => {
              let member = user.data();
              member.id = user.id;
              this.membersData.push(member);
            });
            // this.tableData.push(obj);
            // obj.client = doc.data().client.nom;
            // obj.montant = obj.produit.prixVenteUnitaire * obj.quantite;
          });
          // loader.hide();
        });
      //
    },

    getProjects(adminId = this.currentUId) {
      //FIREBASE GET RECETTES
      this.loading = true;
      this.summaryRef
        .where("adminId", "==", adminId)
        .orderBy("createdAt", "desc")
        // where('concoursId','==',this.concoursRef.doc('sdxpFdX8nvZjtOjukacP'))
        .get()
        .then((querySnapshot) => {
          this.tableData = [];
          querySnapshot.forEach((doc) => {
            console.log("Data", doc.data());
            let obj = doc.data();
            obj.id = doc.id;
            obj.idSummary = doc.id;
            if (obj.concoursId) {
              obj.concoursId.get().then((prog) => {
                obj.program = prog.data();
                this.tableData.push(obj);
              });
            } else {
              this.tableData.push(obj);
            }
          });
          this.dataFilter = this.tableData;
          this.loading = false;
          // loader.hide();
        });

      //
    },

    getResultat(adminId = this.currentUId) {
      // this.loadingResultat = true;
      this.evaluationRef
        .where("adminId", "==", this.users.doc(adminId))
        .orderBy("createdAt", "desc")
        // .orderBy("note_global", "desc")
        .get()
        .then((querySnapshot) => {
          // const userPromesse = new Promise((resolve, reject) => {
          querySnapshot.forEach((doc) => {
            this.tableDataResultats = [];
            let obj = doc.data();
            obj.id = doc.id;
            obj.note_global = parseFloat(doc.data().note_global);
            if (obj.summary) {
              // Données Summary
              obj.summary.get().then((summ) => {
                if (summ.data()) {
                  obj.titre = summ.data().titre;
                  obj.userId = summ.data().user;
                  obj.test = false;
                  obj.summaryId = summ.id;
                  obj.idSummary = summ.id;
                  // Données Summary
                  // Données utilisateurs
                  this.users
                    .doc(obj.userId)
                    .get()
                    .then((user) => {
                      obj.user = user.data();
                      obj.user.id = user.id;
                      console.log("Resultat", obj);
                      this.tableDataResultats.push(obj);
                    });
                }
                // else {
                //   console.log("OLD", obj, summ.data());
                // }
              });
            }
          });
        });
      //   Promise.all([userPromesse]).then(() => {
      //     this.loadingResultat = false;
      //     alert("All Done");
      //   });
      // });

      //  resultatProgram.then((sucess)=>{
      // this.dataResultats= this.tableDataResultats
      // this.loadingResultat=false;
      // }).catch((error)=>{
      //     this.loadingResultat=false;
      // }).finally(()=>{
      //     this.loadingResultat=false;
      // })
    },
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #F5F7FA;;color: #606266;font-weight: 800;";
      }
    },

    saveLink() {
      this.loading = true;
      let idSelectd = this.users.doc(this.userIdSelected);
      this.summaryRef
        .doc(this.summaryId)
        .update({
          eval: idSelectd,
        })
        .then(() => {
          this.$notify({
            title: "Succès",
            message: "Le projet vient d' être assigné",
            type: "success",
          });
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
          this.$notify.error({
            title: "Error",
            message: "Une erreur s'est produite",
          });
        });
    },
    saveLinkMultiple() {
      this.multipleSelection.forEach((item) => {
        this.loading = true;
        let idSelectd = this.users.doc(this.userIdSelected);
        this.summaryRef
          .doc(item.id)
          .update({
            eval: idSelectd,
          })
          .then(() => {
            this.$notify({
              title: "Succès",
              message: "Le projet vient d' être assigné",
              type: "success",
            });
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
            this.$notify.error({
              title: "Error",
              message: "Une erreur s'est produite",
            });
          });
      });
    },
    deleteMultiple() {
      Swal.fire({
        title: "Êtes-vous sûr?",
        text: "Cette action est irréversible!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Annuler",
        confirmButtonText: "Oui!",
      }).then((result) => {
        if (result.value) {
          // let loader = Vue.$loading.show();
          this.multipleSelection.forEach((item) => {
            firebase
              .firestore()
              .collection("summary")
              .doc(item.id)
              .delete();
          });
          // this.getRoles();
          this.$notify({
            title: "Succès",
            message: "Suppréssion réussie",
            type: "success",
          });
        }
      });
    },
    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    selectProject(id, titre) {
      let userSession = JSON.parse(localStorage.getItem("userSession"));
      userSession.projet = id;
      userSession.projettitre = titre;
      // //Admin perm
      // userSession.perm = this.permission.liste;
      localStorage.setItem("userSession", JSON.stringify(userSession));

      // localStorage.setItem('userSession', JSON.stringify(userSession));
      const routeData = this.$router.resolve("/bp/home");
      window.open(routeData.href, "_blank");
      // this.$router.push('/bp/home');
    },

    getAllItemsAtionsDone(adminId = this.currentUId) {
      this.users
        .where("adminId", "==", adminId)
        .get()
        .then((querySnapshot) => {
          this.allItemDone = [];
          querySnapshot.forEach((doc) => {
            let item = doc.data();
            this.planActionRef
              .where("userId", "==", this.users.doc(doc.id))
              .where("type", "==", "projet")
              .where("etat", "==", 3)
              .onSnapshot((onSnapshot) => {
                let actionDone = 0;
                onSnapshot.forEach((action) => {
                  // if(action.data().programId="" || !action.data().programId ){

                  // }

                  actionDone++;
                });
                item.actionDone = actionDone;
                this.allItemDone.push(item);
              });
          });
        });
    },
    getAllItemsAtionsDoneProgram(adminId = this.currentUId) {
      this.concoursRef
        .where("adminId", "==", adminId)
        .where("typeProgram", "==", "businessPlan")
        .get()
        .then((querySnapshot) => {
          this.allItemDone = [];
          querySnapshot.forEach((doc) => {
            let item = doc.data();
            let actionDone = 0;

            this.summaryRef
              .where("concoursId", "==", this.concoursRef.doc(doc.id))
              .get()
              .then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                  //  console.log('Summary',doc.id)
                  this.planActionRef
                    .where("summaryId", "==", this.summaryRef.doc(doc.id))
                    .where("type", "==", "projet")
                    .where("etat", "==", 3)
                    .onSnapshot((onSnapshot) => {
                      onSnapshot.forEach((action) => {
                        // if(action.data().programId="" || !action.data().programId ){

                        // }

                        actionDone++;
                        // console.log('Hola mundo',actionDone,item.libelleConcours )
                      });
                    });
                });
                // console.log('Hola mundo',actionDone,item.libelleConcours)
              });
            item.actionDone = actionDone;
            this.allItemDone.push(item);
          });
        });
    },
    getAllItemsAtionsInProgressProgram(adminId = this.currentUId) {
      this.concoursRef
        .where("adminId", "==", adminId)
        .where("typeProgram", "==", "businessPlan")
        .get()
        .then((querySnapshot) => {
          this.allItemInProgress = [];
          querySnapshot.forEach((doc) => {
            let item = doc.data();
            let actionInProgress = 0;
            //   this.actionInProgress=0

            this.summaryRef
              .where("concoursId", "==", this.concoursRef.doc(doc.id))
              .get()
              .then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                  console.log("Summary", doc.id);
                  this.planActionRef
                    .where("summaryId", "==", this.summaryRef.doc(doc.id))
                    .where("type", "==", "projet")
                    .where("etat", "==", 2)
                    .onSnapshot((onSnapshot) => {
                      onSnapshot.forEach((action) => {
                        // if(action.data().programId="" || !action.data().programId ){

                        // }

                        actionInProgress++;
                        // console.log('Hola mundo',actionInProgress,item.libelleConcours )
                      });
                      this.actionInProgress = actionInProgress;
                    });
                });
              })
              .then(() => {
                // console.log('Hola mundo2',this.actionInProgress,item.libelleConcours)
                item.actionInProgress = this.actionInProgress;
                this.allItemInProgress.push(item);
              });
          });
        });
    },
    getAllItemsAtionsInProgress(adminId = this.currentUId) {
      this.users
        .where("adminId", "==", adminId)
        .get()
        .then((querySnapshot) => {
          this.allItemInProgress = [];
          querySnapshot.forEach((doc) => {
            let item = doc.data();
            let actionInProgress = 0;
            this.planActionRef
              .where("userId", "==", this.users.doc(doc.id))
              .where("type", "==", "projet")
              .where("etat", "==", 2)
              .onSnapshot((onSnapshot) => {
                onSnapshot.forEach((action) => {
                  actionInProgress++;
                });
                item.actionInProgress = actionInProgress;
                this.allItemInProgress.push(item);
              });
          });
        });
    },
    getAllItemsAtionsNotStarted(adminId = this.currentUId) {
      this.users
        .where("adminId", "==", adminId)
        .get()
        .then((querySnapshot) => {
          this.allItemNotStarted = [];
          querySnapshot.forEach((doc) => {
            let item = doc.data();
            let actionNotStarted = 0;
            this.planActionRef
              .where("userId", "==", this.users.doc(doc.id))
              .where("type", "==", "projet")
              .where("etat", "==", 1)
              .onSnapshot((onSnapshot) => {
                // onSnapshot.docChanges().forEach((change)=> {
                // //   this.getAllItemsAtionsNotStarted()
                //     if (change.type === "added") {
                //         this.getAllItemsAtionsNotStarted()
                //     }
                //     if (change.type === "modified") {
                //         this.getAllItemsAtionsNotStarted()
                //     }
                //     if (change.type === "removed") {
                //         this.getAllItemsAtionsNotStarted()
                //     }

                // });

                onSnapshot.forEach((action) => {
                  actionNotStarted++;
                });
                item.actionNotStarted = actionNotStarted;
                this.allItemNotStarted.push(item);
              });
          });
        });
    },
    getAllActions(adminId = this.currentUId) {
      this.planActionRef
        .where("adminId", "==", this.users.doc(adminId))
        .where("type", "==", "projet")
        .onSnapshot((onSnapshot) => {
          this.allActionsData = [];
          onSnapshot.forEach((doc) => {
            this.allActionsData.push(doc.data());
          });
        });
    },
  },
  mounted() {
    // // this.loadingTable=true
    // if(JSON.parse(localStorage.getItem('userSession')).email=='oneentreprendregabon@gmail.com'){
    //     this.getProjectsOne()
    //     this.$loading().close();
    // }
    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.getProjects(JSON.parse(localStorage.getItem("userSession")).adminId);
      // this.getAllItemsAtionsDone(JSON.parse(localStorage.getItem('userSession')).adminId)
      // this.getAllItemsAtionsInProgress(JSON.parse(localStorage.getItem('userSession')).adminId)
      // this.getAllItemsAtionsNotStarted(JSON.parse(localStorage.getItem('userSession')).adminId)
      // this.getAllActions(JSON.parse(localStorage.getItem('userSession')).adminId)
    } else {
      this.getProjects();
      // this.getAllItemsAtionsDone()
      // this.getAllItemsAtionsInProgress()
      // this.getAllItemsAtionsNotStarted()
      // this.getAllActions()
    }

    this.$loading().close();
    // this.sendEmail()
  },
};
</script>
<style>
.icon {
  padding-right: 10px;
  font-size: 20px;
}
.iconMenu {
  padding-right: 15px;
}
.fa-ellipsis-v {
  cursor: pointer;
}
.footer-modal {
  padding-top: 10px;
  float: right;
}
.number-task {
  margin-top: 10px !important;
}
.percentage {
  padding-top: 5px;
}
.profile-notify {
  width: 30px;
  border-radius: 100%;
}
.member-stat {
  margin-bottom: 5px;
}
.member-name {
  font-size: 12px;
  padding-top: 5px;
}
.icon-action {
  padding-bottom: 5px;
}
.row-element {
  margin-bottom: 10px;
}
.plus-icon {
  float: right;
}
.title {
  font-size: 17px;
}

.vs-input {
  width: 600px !important;
}
.el-el-checkbox {
  margin-top: 10px !important;
}
.el-icon-more {
  margin-top: 10px !important;
  margin-left: 5px !important;
}
.select-effort {
  padding-right: 5px;
  border: 1px solid rgb(0, 151, 252) !important;
}
.effort-tag {
  background-color: rgb(0, 151, 252) !important;
  color: #fff !important;
  border: 1px solid #4d9ff0;
  border-radius: 0.25rem;
}
.el-form-item__content {
  line-height: 0px !important;
  position: relative;
  font-size: 14px;
}
.icon-blue {
  color: rgb(103, 194, 58) !important;
  /* background-color:rgb(61, 58, 241)  */
}
.icon-size-btn {
  font-size: 15px;
}
.icon-size {
  font-size: 20px;
}
</style>
