<template>    
    <div class="page-wrapper mt-1">
        <div class="container mt-4">
            <b-navbar toggleable="lg" type="dark" variant="info" class="mt-4">
                <b-navbar-brand href="#">Exécution du Business Plan Financier</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                </b-collapse>
            </b-navbar>
            <b-card>
                <b-card-body class="px-0 mx-0">
                    <template v-if="isEmptyCollection"> 
                        <b-jumbotron text-variant="dark" bg-variant="white">
                            <template v-slot:header>Bienvenue</template>
                            <hr class="my-2">
                            <template v-slot:lead>
                            This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                            featured content or information.
                            </template>
                            <b-button variant="success" @click="loadFinancier">Commencer</b-button>
                        </b-jumbotron>
                    </template>
                    <template v-if="!isEmptyCollection" class="px-0 mx-0">
                        <el-tabs value="fifth" class="mb-2">
                            <el-tab-pane label="Besoins" name="fifth"> <form-besoin :besoins="exec.besoins" > </form-besoin> </el-tab-pane>
                            <el-tab-pane label="Ressources" name="second"> <form-ressource :ressources="exec.ressources" > </form-ressource> </el-tab-pane>
                            <el-tab-pane label="Produits" name="third"> </el-tab-pane>
                            <el-tab-pane label="Charges" name="fourth"> </el-tab-pane>
                            <el-tab-pane label="Récapitulatif" name="first" >                    
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="card bg-danger">
                                            <div class="card-body">
                                                <div class="d-flex no-block">
                                                    <div class="m-r-20 align-self-center">
                                                        <i class="fas fa-user"></i>
                                                    </div>
                                                    <div class="align-self-center">
                                                        <h6 class="text-white m-t-10 m-b-0">Besoins</h6>
                                                        <h2 class="m-t-0 text-white">987</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card bg-success">
                                            <div class="card-body">
                                                <div class="d-flex no-block">
                                                    <div class="m-r-20 align-self-center">
                                                        <i class="fas fa-user"></i>
                                                    </div>
                                                    <div class="align-self-center">
                                                        <h6 class="text-white m-t-10 m-b-0">Ressources</h6>
                                                        <h2 class="m-t-0 text-white">236</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card bg-info">
                                            <div class="card-body">
                                                <div class="d-flex no-block">
                                                    <div class="m-r-20 align-self-center">
                                                        <i class="fas fa-user"></i>
                                                    </div>
                                                    <div class="align-self-center">
                                                        <h6 class="text-white m-t-10 m-b-0">Produits</h6>
                                                        <h2 class="m-t-0 text-white">953</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card bg-primary">
                                            <div class="card-body">
                                                <div class="d-flex no-block">
                                                    <div class="m-r-20 align-self-center">
                                                        <i class="fas fa-user"></i>
                                                    </div>
                                                    <div class="align-self-center">
                                                        <h6 class="text-white m-t-10 m-b-0">Charges</h6>
                                                        <h2 class="m-t-0 text-white">987</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                </b-card-body>
            </b-card>
        </div>
    </div>
</template>

<script>
// This imports all the layout components such as <b-container>, <b-row>, <b-col>:
    import { BNav, BNavbar, BNavbarNav,BNavItem, BCard, BCardHeader, BCollapse, BNavbarBrand,
      BNavbarToggle, BJumbotron, BButton, BCardBody} from 'bootstrap-vue'
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'
    import formBesoin from './components/besoins'
    import formRessource from './components/ressources'
    import {NavbarPlugin} from 'bootstrap-vue'
    import currenciesMaskMixin from '../../bp/mixins/currenciesMask.js'
    import emptyBesoin from '../../bp/financier/default.emptyBesoins.json'
    import emptyRessource from '../../bp/financier/default.emptyRessources.json'
    import { isNullOrUndefined } from 'util'
    import firebase from 'firebase';

    Vue.use(NavbarPlugin)
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
    })


    export default {
        mixins: [currenciesMaskMixin],
        components: {
            'b-nav':BNav, 'b-navbar': BNavbar, 'b-navbar-nav': BNavbarNav, 'b-nav-item': BNavItem,
            'b-card':BCard, 'b-card-header':BCardHeader,
            'b-collapse': BCollapse, 'b-navbar-brand':BNavbarBrand, 'b-navbar-toggle':BNavbarToggle,
            'b-jumbotron': BJumbotron, 'b-button': BButton, 'b-card-body': BCardBody,
            formBesoin, formRessource
        },
        created(){
            // let loader = Vue.$loading.show();
            this.$firestore.collection('execfinancier').doc(this.projetId).get().then((doc) => {
                // loader.hide();
                if (doc.exists) {
                    this.isEmptyCollection = false
                    this.exec = doc.data()
                    // verifions si les collections sont synchronisées                    
                }
            })
            .catch( (error) => {
                // loader.hide();
            });
            
            this.$loading().close();
        },
        data() {
            return {
                showSideDrawer: false,
                showBottomDrawer: false,
                isEmptyCollection: true,
                synced: false,
                exec: {},
                projetId : JSON.parse(localStorage.getItem("userSession")).projet,
                
                totalImmoIncorporelle:0,
                totalDeltaImmoIncorporelle:0,
                totalDeltaImmoCorporelle:0,
                subTotalImmoCorpMatInfo: {
                    prix:0,
                    echeancier:0
                },
                totalDeltaImmoCorpMatInfo:0,
                subTotalAmortisAnnuelImmoCorpMatInfo: {
                    annee1:0,  annee2:0,  annee3:0, annee4: 0
                },
                totalDeltaImmoCorpMobilier:0,
                subTotalImmoCorpMobilier: {
                    prix:0,
                    echeancier:0
                },
                subTotalAmortisAnnuelImmoCorpMobilier: {
                    annee1:0,  annee2:0,  annee3:0, annee4: 0
                },
                totalDeltaImmoCorpMatMachOutil:0,
                subTotalImmoCorpMatMachOutil: {
                    prix:0,
                    echeancier:0
                },
                subTotalAmortisAnnuelImmoCorpMatMachOutil: {
                    annee1:0,  annee2:0,  annee3:0, annee4: 0
                },
                totalDeltaImmoCorpBatLocEspaceVente:0,
                subTotalImmoCorpBatLocEspaceVente: {
                    prix:0,
                    echeancier:0
                },
                subTotalAmortisAnnuelImmoCorpBatLocEspaceVente: {
                    annee1:0,  annee2:0,  annee3:0, annee4: 0
                },
                totalDeltaImmoCorpVoitAutre:0,
                subTotalImmoCorpVoitAutre: {
                    prix:0,
                    echeancier:0
                },
                subTotalAmortisAnnuelImmoCorpVoitAutre: {
                    annee1:0,  annee2:0,  annee3:0, annee4: 0
                },
                totalImmoCorporelle: {
                    prix:0,
                    echeancier:0
                },
                /* immobilisation financiere*/
                totalImmoFinanciere:0,
                totalDeltaImmoFinanciere:0,
                
                totalDeltaImmoFinCaution:0,
                subTotalImmoFinCaution:0,
                
                totalDeltaImmoFinDepGarantie:0,                
                subTotalImmoFinDepGarantie:0,
                totalDeltaImmoFinAutre:0,
                subTotalImmoFinAutre:0,
                /* BFR */
                totalDeltaBfrOuverture:0,
                totalBfrOuverture:0,
                totalBfrExploitation:{
                    annee1:0, annee2:0, annee3:0
                },
                subTotalBfrStock:{
                    annee1:0, annee2:0, annee3:0
                },
                subTotalBfrCreanceCli:{
                    annee1:0, annee2:0, annee3:0
                },
                subTotalBfrDetFour:{
                    annee1:0,  annee2:0,  annee3:0
                },
            };
        },
        methods: {            
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            },
            loadFinancier() {
                if(this.isEmptyCollection){
                    // let loader = Vue.$loading.show();
                    // verifier l'existence du bpfinancier
                    let isEmptyFinancier = true;
                    let financier = null;
                    this.$firestore.collection('financier').doc(this.projetId).get().then((doc) => {
                        // loader.hide();
                        if (doc.exists) {
                            financier = doc.data();
                            console.log('financier ',financier)
                            isEmptyFinancier = false;
                            // on va re créer la collection financier
                            this.exec['besoins'] = Object.assign({}, emptyBesoin)
                            this.exec['ressources'] = Object.assign({}, emptyRessource)
                            // parcours des besoins
                            if(!isNullOrUndefined(financier.besoins)){
                                // on va dans les immo incorporelle
                                if(!isNullOrUndefined(financier.besoins['immoIncorporelle'])){
                                    financier.besoins['immoIncorporelle'].map( (immo) => {
                                        this.exec.besoins['immoIncorporelle'].push({
                                            titre:immo.titre, quantite:immo.quantite, prix:immo.prix, suivi: false, locked: false,
                                            commentaire:immo.commentaire, oldQuantite: immo.quantite, oldPrix: immo.prix
                                        })
                                    })
                                }
                                // on va dans les immo financiere
                                if(!isNullOrUndefined(financier.besoins['immoFinanciere'])){
                                    for (let property in financier.besoins['immoFinanciere']){
                                        financier.besoins['immoFinanciere'][property].map( immo => {
                                            this.exec.besoins['immoFinanciere'][property].push({
                                                titre: immo.titre, quantite: immo.quantite, montant: immo.montant, commentaire: immo.commentaire,
                                                group: immo.group , oldQuantite: immo.quantite, oldMontant: immo.montant, suivi: false, locked: false
                                            })
                                        })
                                    }
                                }
                                // on va dans les bfr
                                if(!isNullOrUndefined(financier.besoins['bfr'])){
                                    // ouverture
                                    if(!isNullOrUndefined(financier.besoins['bfr']['bfrOuverture'])){
                                        financier.besoins['bfr']['bfrOuverture'].map( immo => {
                                            this.exec.besoins.bfr.bfrOuverture.push( {
                                                titre: immo.titre, coutMensuel: immo.coutMensuel, pourcentage: immo.pourcentage, commentaire: immo.commentaire, locked: false,
                                                group: immo.group, duree: immo.duree, oldDuree: immo.duree, oldCoutMensuel: immo.coutMensuel, oldPourcentage: immo.pourcentage
                                            })
                                        })
                                    }
                                    // stock
                                    if(!isNullOrUndefined(financier.besoins['bfr']['stock'])){
                                        financier.besoins['bfr']['stock'].map( immo => {
                                            this.exec.besoins.bfr['stock'].push({
                                                titre: immo.titre, annee1: immo.annee1, annee2: immo.annee2, annee3: immo.annee3, commentaire: immo.commentaire,
                                                group: immo.group, oldAnnee1: immo.annee1, oldAnnee2: immo.annee2, oldAnnee3: immo.annee3, suivi :false, locked: false
                                            })
                                        })
                                    }
                                    // creances
                                    if(!isNullOrUndefined(financier.besoins['bfr']['creanceClient'])){
                                        financier.besoins['bfr']['creanceClient'].map( immo => {
                                            this.exec.besoins.bfr['creanceClient'].push({
                                                titre: immo.titre, annee1: immo.annee1, annee2: immo.annee2, annee3: immo.annee3, commentaire: immo.commentaire,
                                                group: immo.group, oldAnnee1: immo.annee1, oldAnnee2: immo.annee2, oldAnnee3: immo.annee3, suivi :false, locked: false
                                            })
                                        })
                                    }
                                    // dettes
                                    if(!isNullOrUndefined(financier.besoins['bfr']['dettes'])){
                                        financier.besoins['bfr']['dettes'].map( immo => {
                                            this.exec.besoins.bfr['dettes'].push({
                                                titre: immo.titre, annee1: immo.annee1, annee2: immo.annee2, annee3: immo.annee3, commentaire: immo.commentaire,
                                                group: immo.group, oldAnnee1: immo.annee1, oldAnnee2: immo.annee2, oldAnnee3: immo.annee3, suivi :false, locked: false
                                            })
                                        })
                                    }
                                }
                                // on va dans les immo corporelle
                                if(!isNullOrUndefined(financier.besoins['immoCorporelle'])){
                                    for(let property in financier.besoins['immoCorporelle']) {
                                        financier.besoins['immoCorporelle'][property].map( immo => {
                                            this.exec.besoins['immoCorporelle'][property].push({
                                                titre: immo.titre, quantite: immo.quantite, prix: immo.prix, commentaire: immo.commentaire, suivi: false, locked: false,
                                                group: immo.group, amortissement: immo.amortissement, oldAmortissement: immo.amortissement, oldQuantite: immo.quantite, oldPrix: immo.prix
                                            })
                                        })
                                    }
                                }
                            }
                            // parcours des ressources
                            if(!isNullOrUndefined(financier.ressources)){
                                // capital
                                if(!isNullOrUndefined(financier.ressources['capital'])){
                                    for(let property in financier.ressources['capital']) {
                                        financier.ressources['capital'][property].forEach( ress => {
                                            this.exec.ressources['capital'][property].push({
                                                apporteur:ress.apporteur, identite:ress.identite, quantite:ress.quantite, montant:ress.montant, suivi: false,
                                                group:ress.group, commentaire:ress.commentaire, oldMontant: ress.montant, oldQuantite: ress.quantite, locked: false
                                            })
                                        })
                                    }
                                }
                                // comptes
                                if(!isNullOrUndefined(financier.ressources['comptes'])){
                                    financier.ressources['comptes'].forEach( ress => {
                                        this.exec.ressources['comptes'].push({
                                            apporteur: ress.apporteur, identite: ress.identite, quantite: ress.quantite, montant: ress.montant,
                                            commentaire: ress.commentaire,  oldQuantite: ress.quantite, oldMontant: ress.montant, suivi: false, locked: false
                                        })
                                    })
                                }
                                // emprunts
                                if(!isNullOrUndefined(financier.ressources['emprunts'])) {
                                    for(let property in financier.ressources['emprunts']) {
                                        financier.ressources['emprunts'][property].forEach( ress => {
                                            this.exec.ressources['emprunts'][property].push({
                                                creancier:ress.creancier, montantPret:ress.montantPret, duree:ress.duree, taux:ress.taux, group:ress.group, locked: false,
                                                commentaire: ress.commentaire, oldMontantPret:ress.montantPret, oldDuree:ress.duree, oldTaux:ress.taux, suivi: false
                                            })
                                        })
                                    }
                                }
                                // subventions et aides
                                if(!isNullOrUndefined(financier.ressources['subventions-aides'])) {
                                    for(let property in financier.ressources['subventions-aides']) {
                                        financier.ressources['subventions-aides'][property].forEach( ress => {
                                            this.exec.ressources['subventions-aides'][property].push({
                                                fournisseur:ress.fournisseur, montantPret:ress.montantPret, duree:ress.duree, taux:ress.taux, suivi:false, locked: false,
                                                group:ress.group, commentaire:ress.commentaire,  oldMontantPret:ress.montantPret, oldDuree:ress.duree, oldTaux:ress.taux,
                                            })
                                        })
                                    }
                                }                                

                            }
                            
                            this.isEmptyCollection = false;
                            this.$firestore.collection('execfinancier').doc(this.projetId).set({
                                besoins: this.exec.besoins,
                                ressources: this.exec.ressources,
                                user: JSON.parse(localStorage.getItem("userSession")).uid,
                                projet: this.projetId
                            })
                            .then( (suivi) => {
                                // loader.hide();                                
                                Toast.fire({
                                    type: 'success',
                                    title: 'Chargement du bp financier effectué avec succès',
                                    customClass:  "bg-success"
                                });                       
                            })
                            .catch( (error) => {
                                // loader.hide();
                                Swal.fire(
                                    'Une erreur est survenue',
                                    error.message,
                                    'error'
                                );
                            })
                            this.clone();

                        }
                    })
                    .catch( (error) => {
                        // loader.hide();
                    });
                }
            }
        }
    }
</script>

<style>
    .el-progress .el-progress__text {
        font-size: 12px !important;
    }
    .el-progress .el-progress__text i {
        font-size: x-large !important;
    }
</style>
