<template>
  <div>
    <el-form-item :label="label">
      <div class="input-group">
        <div class="input-group-append">
          <span
            class="input-group-text"
            :style="{ backgroundColor: this.style.color }"
            :class="this.style.class"
            id="basic-addon2"
            >{{ this.style.iconName }}</span
          >
        </div>
        <!-- mode création -->
        <select
          v-if="
            $store.state.agilite.mode == 'creation' ||
              $store.state.agilite.mode == 'modification'
          "
          @change="changeItem($event.target.value)"
          :style="{
            backgroundColor: this.style.color,
            color: this.style.text,
            fontWeight: this.style.weight,
          }"
          v-model="ticket.classeur"
          class="form-control"
        >
          <option
            @click="changeStyle(item)"
            v-for="item in classeurs"
            :key="item.id"
            :value="item.id"
            :selected="[item.default ? 'true' : 'false']"
            >{{ item.libelle }}
          </option>
        </select>
        <span class="ml-2" v-else-if="$store.state.agilite.mode == 'affichage'">
          {{ this.libelle }}
        </span>
      </div>
    </el-form-item>
  </div>
</template>
<script>
import Classeur from "../../../../bp/erp/models/classeur";
export default {
  name: "classeur",
  props: {
    //  libelle: {
    //   default: "Sprint",
    //   type: String,
    // },
    couleur: {
      default: "#000",
    },
    idSummarySelected: {
      default: null,
    },
    typeTicketSelected: {
      default: null,
    },
    label: {
      default: "",
      type: String,
    },
  },
  computed: {
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  watch: {
    mode: function(val) {
      this.initData(val);
    },
  },
  data() {
    return {
      libelle: "",
      classeurs: [],
      ticket: {
        classeur: "",
      },
      style: {
        class: "material-icons-outlined",
        iconName: "north_east",
        color: "",
        text: "#ffff",
        weight: "bold",
      },
    };
  },
  methods: {
    getClasseurs() {
      Classeur.getDocumentSubSubCollectionSnap(
        "agilite",
        this.idSummarySelected,
        "params",
        this.typeTicketSelected,
        "classeurs"
      ).onSnapshot((querySnapshot) => {
        this.classeurs = [];
        querySnapshot.forEach((doc) => {
          const data = doc.data();
          data.id = doc.id;
          this.classeurs.push(data);
          if (this.mode == "creation") {
            this.selectDefault(data);
          }
        });
      });
    },
    changeStyle(item) {
      this.style.class = item.propretyIcon.iconClass;
      this.style.iconName = item.propretyIcon.NameIcon;
      this.style.color = item.color;
    },
    selectDefault(data) {
      if (data.default) {
        this.ticket.classeur = data.id;
        this.style.color = data.color;
        this.style.class = data.propretyIcon.iconClass;
        this.style.iconName = data.propretyIcon.NameIcon;
        this.changeItem(data.id);
      }
    },
    changeItem(id) {
      this.$emit(
        "update:classeur",
        Classeur.getDocumentSubSubCollectionDoc(
          "agilite",
          this.idSummarySelected,
          "params",
          this.typeTicketSelected,
          "classeurs"
        ).doc(id)
      );
    },
    async initData(mode) {
      switch (mode) {
        case "affichage":
          this.libelle = await this.$store.state.agilite.task.classeur
            .get()
            .then((doc) => {
              return doc.data().libelle;
            });

          break;
        case "creation":
          this.getClasseurs();
          break;
        case "modification":
          this.$store.state.agilite.task.classeur.get().then((doc) => {
            let data = doc.data();
            this.ticket.classeur = doc.id;
            this.style.color = data.color;
            this.style.class = data.propretyIcon.iconClass;
            this.style.iconName = data.propretyIcon.NameIcon;
            this.changeItem(doc.id);
            this.getClasseurs();
          });
          break;

        default:
          break;
      }
    },
  },

  mounted() {
    this.initData(this.mode);
  },
};
</script>
<style scoped>
.el-form-item {
  margin-bottom: 6px !important;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
@media (max-device-width: 1257px) {
  .input-group {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
</style>
