<template>
    <div>                          
        <el-card class="box-card mt-3">                                 
            <el-form ref="form"  label-width="120px">
                <div class="comment1">
                    <h5 class="py-3">Description</h5>
                    <vue-editor></vue-editor>
                    <!-- <transition name="fade" mode="out-in">
                        <vue-editor @blur="onBlur('description')" v-if="descriptionEdit" id="zone" :editorToolbar="customToolbar" v-model="action.description"></vue-editor>
                        <div v-else>
                            <div class="hresize" v-html="action.description" placeholder="Description">
                                {{ action.description }}
                            </div>
                            <el-button size="mini" @click="onFocusField('description')" icon="el-icon-edit"></el-button>
                        </div>
                    </transition> -->
                </div>
            
                <div class="mt-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>Pièces jointes (1)</h4>
                        </div>                                                
                        <div class="col-xl-9 col-lg-9 col-9 d-flex justify-content-start">
                            <el-upload
                            class="upload-demo"
                            ref="upload"
                            action="https://jsonplaceholder.typicode.com/posts/"
                            :auto-upload="false">
                            <el-button slot="trigger" size="small" type="primary" class="mr-2"><i class="el-icon-plus"></i></el-button>
                            </el-upload>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <h4>Liens (1)</h4>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-12">
                            <select id="" class="form-control">
                                <option value="bloquer">Bloqué par</option>
                                <option value="bloquer">Bloqué</option>
                                <option value="lier">Lier avec</option>
                            </select>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-12"> 
                            <div class="input-group">
                                <div class="input-group-append">
                                <span class="material-icons-outlined">play_arrow</span>
                                </div>
                                <select id="" class="form-control">
                                    <option value="Libreville">Montage du mariage de Jean et julie</option>
                                    <option value="Franceville">Franceville</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-5">
                            <el-button slot="trigger" size="small" type="danger"><i class="el-icon-delete"></i></el-button>
                        </div>  
                        <div class="col-xl-4 col-lg-4 col-5 mt-2">                                            
                            <el-button slot="trigger" size="small" type="primary"><i class="el-icon-plus"></i></el-button>
                        </div>
                    </div>
                </div>
            </el-form>
        </el-card>              
    </div>
</template>
<script>
// import action from "../../mixins/admin/actionPlan.js";
import { VueEditor, Quill } from "vue2-editor";
export default {
    // mixins: [ action],
    components: {
        VueEditor,
        // headerTicket
    },
    name : 'contentLeft',
  data () {
    return {

    }
  },  
   
}
</script>
<style scoped>
    .quillWrapper{
        border: .1px solid #f4caa5  !important;
    }
    .ql-container.ql-snow {
        border: .1px solid #f4caa5  !important;
    }
    .comment .ql-editor{
        min-height: 90px !important;    
    }
    .comment1 .ql-editor{
        min-height: 62px !important;    
    }
    .quillWrapper .ql-snow.ql-toolbar {
        border: 1px solid #fff4ea !important;
        background: #fff4ea !important;        
    }   
    .ic-date {
        font-size: 2rem;
        color: #d98238;
    }
  
    .material-icons-outlined{
        background-color: #d98238;
        color: #fff;
        padding: 6px 8px;
        margin: 0;
    }
  
</style>
