<template>
    <div>              
        <div class="row mt-3">
            <div class="col-xl-4 d-flex align-items-center">
                <div class="taille-titre">Processus de traitement des courriers Entrant</div>
            </div>
            <div  class="col-xl-3">
                <div class="form-group">
                    <div class="col-xl-12 d-flex ">
                        <div class="input-group-append">
                                <span class="material-icons-outlined">manage_accounts</span>   
                        </div>
                        <select class="form-control " id="exampleFormControlSelect1">
                            <option>Protocole Primaire</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 mt-2">
                <el-col class="time-progres">
                    <el-progress :text-inside="true" :stroke-width="26" :percentage="50" status="success" class="progres"></el-progress>
                </el-col>
            </div>
        </div>       
    </div>
</template>
<script>

export default {
    name : 'contentTache',
  data () {
    return{}
  },  
  created() {
    this.$loading().close();
  },
   
}
</script>
<style scoped>
    .material-icons-outlined{
        background-color: #d98238;
        color: #fff;
        padding: 6px 7px;
        margin: 0;
    }
    .taille-titre{
        font-size: 15px !important;
    }
</style>
