<template>
  <div>
    <el-card class="box-card mt-3">
      <el-form ref="form" :model="form" label-width="80px">
        <div class="row mt-3">
          <div class="col-12">
            <!-- composant Affecter à-->
            <affecte :couleur="couleur" ref="affecte" />

            <!-- composant créer par -->
            <creerPar :couleur="couleur" ref="creer par" />

            <!--  composant Priorité -->
            <priorite :couleur="couleur" ref="priorite" />

            <!-- composant etiquette -->
            <etiquette :couleur="couleur" ref="etiquette" />

            <!-- composant date  -->
            <date :couleur="couleur" ref="date" />

            <!-- composant realisation -->
            <realisation :couleur="couleur" ref="realisation" />

            <!-- composant  -->
            <composant :couleur="couleur" ref="composant" />

            <!-- composant version -->
            <version :couleur="couleur" ref="version" />

            <!-- composant sprint -->
            <sprint :couleur="couleur" ref="sprint" />

            <!-- descriptionComment -->
            <!-- <descriptionComment ref='descriptionComment' /> -->
          </div>
        </div>
      </el-form>
    </el-card>
  </div>
</template>
<script>
// import style_courrier_entrant from '../../../../../../../../../public/bp/css/pages/style_courrier_entrant';
import sprint from "../composantCourrier/contentRigth/sprint";
// import composant from '../composantCourrier/contentRigth/composant';
import realisation from "../composantCourrier/contentRigth/realisation";
import date from "../composantCourrier/contentRigth/date";
import etiquette from "../composantCourrier/contentRigth/etiquette";
import priorite from "../composantCourrier/contentRigth/priorite";
import affecte from "../composantCourrier/contentRigth/affecte";
import creerPar from "../composantCourrier/contentRigth/creerPar";
import version from "../composantCourrier/contentRigth/version";
// import descriptionComment from '../composantCourrier/contentRigth/descriptionComment';
// import style_courrier_entrant from '../composantCourrier/contentRigth/priorite'

// import styleForm from '../composantCourrier/contentRigth/styleForm'
// import action from "../../mixins/admin/actionPlan.js";
export default {
  name: "contentRight",
  props: {
    couleur: {
      default: "#000",
    },
  },

  components: {
    affecte,
    creerPar,
    priorite,
    etiquette,
    // descriptionComment,
    date,
    realisation,
    // composant,
    version,
    sprint,
    // styleForm
  },
  // mixins: [ action],
  data() {
    return {
      myStyle: {
        background: "#000",
        couleur: "#d98238",
        marginBottom: "6",
      },
    };
  },
};
</script>
<style scoped>
.el-button.is-circle {
  padding: 5px;
}

.ic-date {
  font-size: 2rem;
  color: #d98238;
}

.el-progress-bar__inner {
  border-radius: 0 !important;
}
</style>
