<template>
    <div>     
        <div class="col-12 comment">
            <h5 class="py-3">Commentaires</h5>
            <transition name="fade" mode="out-in">
                <vue-editor></vue-editor>
                <!-- <vue-editor @blur="onBlur('description')" v-if="descriptionEdit" id="zone" :editorToolbar="customToolbar" v-model="action.description"></vue-editor>
                <div v-else>
                    <div class="hresize" v-html="action.description" placeholder="Description">
                        {{ action.description }}
                    </div>
                    <el-button size="mini" @click="onFocusField('description')" icon="el-icon-edit"></el-button>
                </div> -->
            </transition>
        </div>                               
    </div>
</template>
<script>
import { VueEditor, Quill } from "vue2-editor";
export default {
    name : 'contentComment',
    components:{
      VueEditor  
    },
  data () {
    return{}
  },     
}
</script>
<style scoped>
    .quillWrapper{
        border: .1px solid #f4caa5  !important;
    }
    .ql-container.ql-snow {
        border: .1px solid #f4caa5  !important;
    }
    .comment .ql-editor{
        min-height: 90px !important;    
    }
    .comment1 .ql-editor{
        min-height: 62px !important;    
    }
    .quillWrapper .ql-snow.ql-toolbar {
        border: 1px solid #fff4ea !important;
        background: #fff4ea !important;
        
    }
    .custom-select-categorie select{
        border: 1px solid #ced4da !important;
        border-radius: 5px 0 0 5px !important;
        padding: 2px 10px !important;
    }
 
    
    
  
</style>
