<template>
  <div class="shadow-sm p-3 bg-white rounded">
    <div class="mb-3 taille-titre">Enregistrement du courrier Entrant</div>
    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="parent-table">
          <table class="table ">
            <thead>
              <tr>
                <th>id</th>
                <th>n°</th>
                <th>n° courrier</th>
                <th>n° émetteur</th>
                <th>provenance</th>
                <th>classeur</th>
                <th>date arrivée</th>
                <th>date courrier</th>
                <th>coursier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">TCE-{{ ordre }}</td>
                <td>
                  {{ ordre }}
                </td>
                <td class="col-xl-1">
                  <div class="form-group row">
                    <div class="col-xl-12">
                      <!-- mode création -->
                      <input
                        v-if="$store.state.agilite.mode == 'creation'"
                        :class="{ ' border border-danger ': errorNumCourrier }"
                        v-model="numCourrier"
                        @input="$emit('update:numCourrier', $event.target.value)"
                        class="form-control "
                        id="exampleFormControlSelect1"
                        type="text"
                      />
                      <input
                        v-else-if="$store.state.agilite.mode == 'modification'"
                        v-model="numCourrier"
                        @input="$emit('update:numCourrier', $event.target.value)"
                        class="form-control "
                        id="exampleFormControlSelect1"
                        type="text"
                      />
                      <!-- mode affichage -->
                      <span
                        class="ml-2"
                        v-else-if="$store.state.agilite.mode == 'affichage'"
                      >
                        <strong>{{ $store.state.agilite.task.num }}</strong>
                      </span>
                    </div>
                    <span
                      v-if="errorNumCourrier"
                      :style="{ color: activeColor }"
                    ></span>
                  </div>
                </td>
                <td >
                  <div class="form-group row">
                    <div class="col-xl-12">
                      <!-- mode création -->
                      <input
                        v-if="$store.state.agilite.mode == 'creation'"
                        :class="{ ' border border-danger ': errorNumEmet }"
                        v-model="numEmet"
                        @input="$emit('update:numEmet', $event.target.value)"
                        class="form-control "
                        id="exampleFormControlSelect1"
                        type="text"
                      />
                      <input
                        v-else-if="$store.state.agilite.mode == 'modification'"
                        v-model="numEmet"
                        @input="$emit('update:numEmet', $event.target.value)"
                        class="form-control "
                        id="exampleFormControlSelect1"
                        type="text"
                      />
                      <!-- mode affichage -->
                      <span
                        class="ml-2"
                        v-else-if="$store.state.agilite.mode == 'affichage'"
                      >
                        <strong v-if="$store.state.agilite.task.numEmet">{{
                          $store.state.agilite.task.numEmet
                        }}</strong>
                      </span>
                    </div>
                    <span
                      v-if="errorNumCourrier"
                      :style="{ color: activeColor }"
                    ></span>
                  </div>
                </td>
                <td>
                  <Provenance
                    @update:provenance="$emit('update:provenance', $event)"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    :couleur="couleur"
                    ref="provenance"
                    label=""
                  />
                </td>
                <td >
                  <!-- <div class="form-group row">
                    <div class="col-xl-12"> -->
                      <Classeur
                        @update:classeur="$emit('update:classeur', $event)"
                        :typeTicketSelected="typeTicketSelected"
                        :idSummarySelected="idSummarySelected"
                        :couleur="couleur"
                        ref="classeur"
                      />
                    <!-- </div>
                  </div> -->
                </td>

                <td v-if="$store.state.agilite.mode == 'creation'">
                  <!-- <div class="d-flex justify-content-between align-items-center"> -->
                    <!-- mode creation -->
                    <el-date-picker
                      @change="$emit('update:dateArrive', $event)"
                      format="dd/MM/yyyy"
                      width="500px"
                      placeholder="Date arrivée"
                      v-model="dates.dateArrive"
                      type="date"
                      :default-value="new Date()"
                      :class="{ ' border border-danger ': errorDate }"
                    >
                    </el-date-picker>
                    <!-- controle date -->
                    <span v-if="errorDate" :style="{ color: activeColor }"></span>
                  <!-- </div> -->
                </td>

                <td v-if="$store.state.agilite.mode == 'creation'">
                  <!-- <div class="d-flex justify-content-between align-items-center"> -->
                    <el-date-picker
                      @change="$emit('update:dateCourrier', $event)"
                      style="width: 100%"
                      format="dd/MMM/yyyy HH:mm:ss"
                      placeholder="Date Courrier"
                      type="date"
                      v-model="dates.dateCourrier"
                      :default-value="new Date()"
                      :class="{ ' border border-danger ': errorDates }"
                    ></el-date-picker>
                  <!-- </div> -->
                  <span v-if="errorDates" :style="{ color: activeColor }"></span>
                </td>

                <!-- mode modification -->
                <!-- <div v-if="$store.state.agilite.mode == 'modification'"> -->
                  <td v-if="$store.state.agilite.mode == 'modification'">
                    <!-- <div
                      class="d-flex justify-content-between align-items-center"
                    > -->
                      <el-date-picker
                        :class="{ ' border border-danger ': errorDate }"
                        @change="$emit('update:dateArrive', $event)"
                        width="500px"
                        format="dd/MMM/yyyy HH:mm:ss"
                        v-model="dates.dateArrive"
                        type="date"
                        :default-value="new Date()"
                      >
                      </el-date-picker>

                      <!-- controle date -->
                      <span
                        v-if="errorDate"
                        :style="{ color: activeColor }"
                      ></span>
                    <!-- </div> -->
                  </td>

                  <td v-if="$store.state.agilite.mode == 'modification'">
                    <!-- <div
                      class="d-flex justify-content-between align-items-center"
                    > -->
                      <el-date-picker
                        :class="{ ' border border-danger ': errorDates }"
                        @change="$emit('update:dateCourrier', $event)"
                        width="500px"
                        format="dd/MMM/yyyy HH:mm:ss"
                        v-model="dates.dateCourrier"
                        type="date"
                        :default-value="new Date()"
                      >
                      </el-date-picker>
                    <!-- </div> -->
                    <span
                      v-if="errorDates"
                      :style="{ color: activeColor }"
                    ></span>
                  </td>
                <!-- </div> -->
                <!-- mode affichage -->
                <div v-else-if="$store.state.agilite.mode == 'affichage'">
                  <td>
                    <span>
                      <strong>
                        {{
                          new Date(
                            $store.state.agilite.task.dateArrive.seconds * 1000
                          ) | moment("Do MMMM YYYY")
                        }}
                      </strong>
                      <strong> </strong>
                    </span>
                  </td>
                  <td>
                    <span>
                      <strong>
                        {{
                          new Date(
                            $store.state.agilite.task.dateCourrier.seconds * 1000
                          ) | moment("Do MMMM YYYY")
                        }}
                      </strong>
                      <strong> </strong>
                    </span>
                  </td>
                </div>

                <td>
                  <coursier
                    @update:coursier="$emit('update:coursier', $event)"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    :couleur="couleur"
                    ref="coursier"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import Provenance from "../composantCourrier/provenance";
import Classeur from "../composantCourrier/classeur";
import coursier from "../composantCourrier/contentRigth/coursier";
import action from "../../../mixins/admin/actionPlanNew.js";
import { mapState } from "vuex";
// import provenanceCour from '../composantCourrier/provenanceCour'
export default {
  mixins: { action },
  name: "contentTab",
  components: {
    Provenance,
    Classeur,
    coursier,
  },
  props: {
    errorNumCourrier: {
      default: false,
      type: Boolean,
    },
    errorProvenance: {
      default: false,
      type: Boolean,
    },
    errorDate: {
      default: false,
      type: Boolean,
    },
    errorDates: {
      default: false,
      type: Boolean,
    },
    couleur: {
      default: "#000",
    },
    ordre: {
      default: null,
    },
    // classeur: {
    //   default: "",
    //   type: String,
    // },
    idSummarySelected: {
      default: null,
    },
    typeTicketSelected: {
      default: null,
    },
    typeTicketRef: {
      default: null,
    },
  },
  computed: {
    // ...mapState({
    //   ordre: (state) => state.agilite.listTickets,
    // }),
    ordre() {
      return (
        this.$store.state.agilite.listTickets.filter(this.selectTypeItem)
          .length + 1
      );
    },
  },
  data() {
    return {
      ordre: "",
      activeColor: "red",
      numCourrier: "",
      numEmet: "",
      messageRequired: "Ce champ est obligatoire",
      classeur: "",
      dates: {
        dateArrive: "",
        dateCourrier: "",
        ticketId: "",
      },
    };
  },
  mounted() {
    // this.ticketId = firebase.firestore.FieldValue.serverTimestamp();
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.dates.dateArrive = new Date(
          this.$store.state.agilite.task.dateArrive.seconds * 1000
        );
        this.dates.dateCourrier = new Date(
          this.$store.state.agilite.task.dateCourrier.seconds * 1000
        );
        this.numCourrier = this.$store.state.agilite.task.num;
        this.numEmet = this.$store.state.agilite.task.numEmet;

        break;

      default:
        break;
    }
  },
  methods: {
    selectTypeItem(item) {
      if (item.typeTicket) {
        return item.typeTicket.id == this.typeTicketSelected;
      }
    },
  },
};
</script>
<style scoped>
.table td,
.table th {
  padding: 0.5rem;
}
.selection .custom-select {
  background: none !important;
}
.table {
  margin-bottom: 0 !important;
}
.table thead {
  width: 100% !important;
  overflow-x: auto !important;
}
.table thead th {
  font-weight: bold !important;
}
.table thead th,
.table th {
  color: #fff !important;
  background: #d98238 !important;
  padding: 10px 15px;
  font-size: 1rem !important;
  text-align: center !important;
}
.table th:first-child {
  border-top-left-radius: 10px !important;
}
.table th:last-child:last-child {
  border-top-right-radius: 10px !important;
}
.table tbody tr {
  border-top: 5px solid rgb(236 238 239 / 67%);
  background: white;
}
.table tbody tr td {
  /* border: 1px solid #df8f4c57; */
  padding: 5 !important;
  text-align: center !important;
}
.form-control {
  border: 1px solid #e3bd9eb8 !important;
}
.selection .custom-select {
  background: none !important;
}
.ic-date i {
  font-size: 1.5rem;
  color: #d98238;
}
.error {
  color: red;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 6px 8px;
  margin: 0;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 150px !important;
}
.form-group {
  margin-bottom: 0px !important;
}
.el-input--suffix .el-input__inner {
  padding-left: 0 !important;
}
.taille-titre {
  font-size: 15px !important;
}
@media (max-device-width: 1257px) {
  .parent-table{
    overflow-x: scroll !important;
  }
  .table thead th[data-v-a667503a], .table th[data-v-a667503a] {
    padding: 5px !important;
    font-size: .8rem !important;
  }
  .table tbody tr td[data-v-a667503a] {
    padding: 5 !important;
    /* text-align: center !important; */
    width: 30%;
  }
}
</style>
