<template>
  <div>
    <el-form>
      <el-form-item label="">
        <div>{{ libelle }} :</div>
        <transition
          v-if="
            $store.state.agilite.mode == 'creation' ||
              $store.state.agilite.mode == 'modification'
          "
          name="fade"
          mode="out-in"
        >
          <vue-editor
            :editorToolbar="customToolbar"
            @input="$emit('update:description', $event)"
            @blur="onBlur('description')"
            id="zone"
            v-model="description"
          ></vue-editor>
          <!-- v-if="descriptionEdit" -->
          <div>
            <div class="hresize" placeholder="Description">
              {{ description }}
            </div>
            <el-button
              size="mini"
              @click="onFocusField('description')"
              icon="el-icon-edit"
            ></el-button>
          </div>
        </transition>
        <div v-else-if="$store.state.agilite.mode == 'affichage'">
          <span v-html="ticketDisplay">
            {{ ticketDisplay }}
          </span>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
export default {
  props: {
    couleur: {
      default: "#0000",
    },
    libelle: {
      default: "",
    },
    ticketDisplay: {
      default: "",
      type: String,
    },
  },

  data() {
    return {
      description: "",
      demandeRaison: "",
      descriptionEdit: true,
      test: "",
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons

        [{ list: "ordered" }, { list: "bullet" }],
        // [{ 'font': [] }],
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme

        ["clean"], // remove formatting button
      ],
    };
  },
  created() {
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.description = this.ticketDisplay;
        break;

      default:
        break;
    }
  },
  methods: {
    onBlur(val) {
      switch (val) {
        case "description":
          this.descriptionEdit = false;
          break;
        case "resultat":
          this.resultatAttenduEdit = false;
      }
    },
    onFocusField(val) {
      switch (val) {
        case "description":
          this.descriptionEdit = true;
          break;
        case "resultat":
          this.resultatAttenduEdit = true;
          break;
      }
    },
  },
};
</script>
<style>
.ql-editor {
  min-height: 100px !important;
  font-size: 16px;
}
.ql-toolbar.ql-snow {
  border: none !important;
  background-color: #f2f2f2;
}
.ql-container.ql-snow {
  /* border: none !important; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.quillWrapper .ql-snow.ql-toolbar {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.quillWrapper .ql-snow.ql-toolbar {
  padding: 2px !important;
  background-image: linear-gradient(
    to top,
    #e6e9f0 0%,
    #eef1f5 100%
  ) !important;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0 !important;
}
</style>
