<template>
  <div>
    <div class="input-group input-group-sm">
      <vue-numeric
        currency="%"
        currency-symbol-position="suffix"
        :max="100"
        :min="0"
        :minus="true"
        empty-value="0"
        :precision="1"
        @input.native="$emit('update:percent', $event.target.value)"
        v-model.number="percent"
        class="form-control text-center"
      ></vue-numeric>
      <span
        :style="{ backgroundColor: this.$store.state.agilite.couleur }"
        class="input-group-text"
        id="inputGroup-sizing-sm"
        >Effort</span
      >
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import VueNumeric from "vue-numeric";
export default {
  name: "Statut",
  components: { VueNumeric },
  props: {
     screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    index: {
      default: null,
      type: Number,
    },
    percent: {
      defaut: 0,
      type: Number,
    },
  },
  data() {
    return {
      statut: "1",
      couleur: "",
    };
  },
  // computed: {
  //   ...mapState("modules/agilite", {
  //     couleur: (state) => state.couleur,
  //   }),
  // },

  // mounted() {
  //   console.log("Statut", this.$store.state.agilite.couleur);
  // },
  methods: {},
};
</script>
<style scoped>
  .input-group-text {
    color: #ffff;
  }
</style>
