<template>
  <div>
    <el-upload
      v-if="this.$store.state.agilite.mode == 'creation'"
      ref="refUpload"
      class="upload-file"
      action="#"
      :on-change="handleChangeFile"
      list-type="picture-card"
      :auto-upload="false"
    >
      <i slot="default" class="el-icon-plus"></i>
      <div slot="file" slot-scope="{ file }">
        <img
          v-if="file.raw.type == 'image/jpeg' || file.raw.type == 'image/png'"
          class="el-upload-list__item-thumbnail"
          :src="file.url"
          alt=""
        />
        <div
          v-if="
            file.raw.type ==
              'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
          "
        >
          <img
            class="el-upload-list__item-thumbnail"
            src="/bp/assets/images/icon/w_icon.png"
          />
        </div>
        <div
          v-if="
            file.raw.type ==
              'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
          "
        >
          <img
            class="el-upload-list__item-thumbnail"
            src="/bp/assets/images/icon/w_excel.png"
          />
        </div>
        <div v-if="file.raw.type == 'application/pdf'">
          <img
            class="el-upload-list__item-thumbnail"
            src="/bp/assets/images/icon/w_pdf.png"
          />
        </div>

        <span class="el-upload-list__item-actions">
          <el-popconfirm
            confirmButtonText="Oui"
            cancelButtonText="Non"
            icon="el-icon-info"
            iconColor="red"
            @confirm="handleRemove(file.uid)"
            title="Voulez vous vraiment supprimer cet élément??"
          >
            <span
              slot="reference"
              v-if="!disabled"
              class="el-upload-list__item-delete"
            >
              <i class="el-icon-delete"></i>
            </span>
          </el-popconfirm>
        </span>
        <div>
          <span class="filename">{{ file.raw.name }}</span>
        </div>
      </div>
    </el-upload>
    <el-upload
      v-if="this.$store.state.agilite.mode == 'modification'"
      ref="refUpload"
      class="upload-file"
      action="#"
      :file-list="files"
      :on-change="handleChangeFile"
      list-type="picture-card"
      :auto-upload="false"
    >
      <i slot="default" class="el-icon-plus"></i>
      <div slot="file" slot-scope="{ file }">
        <div v-if="file.raw">
          <img
            v-if="file.raw.type == 'image/jpeg' || file.raw.type == 'image/png'"
            class="el-upload-list__item-thumbnail"
            :src="file.url"
            alt=""
          />
          <div
            v-if="
              file.raw.type ==
                'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
            "
          >
            <img
              class="el-upload-list__item-thumbnail"
              src="/bp/assets/images/icon/w_icon.png"
            />
          </div>
          <div
            v-if="
              file.raw.type ==
                'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            "
          >
            <img
              class="el-upload-list__item-thumbnail"
              src="/bp/assets/images/icon/w_excel.png"
            />
          </div>
          <div v-if="file.raw.type == 'application/pdf'">
            <img
              class="el-upload-list__item-thumbnail"
              src="/bp/assets/images/icon/w_pdf.png"
            />
          </div>

          <span class="el-upload-list__item-actions">
            <el-popconfirm
              confirmButtonText="Oui"
              cancelButtonText="Non"
              icon="el-icon-info"
              iconColor="red"
              @confirm="handleRemove(file.uid)"
              title="Voulez vous vraiment supprimer cet élément??"
            >
              <span
                slot="reference"
                v-if="!disabled"
                class="el-upload-list__item-delete"
              >
                <i class="el-icon-delete"></i>
              </span>
            </el-popconfirm>
          </span>
          <div>
            <span class="filename">{{ file.raw.name }}</span>
          </div>
        </div>
        <div v-else>
          <img
            v-if="file.type == 'image/jpeg' || file.type == 'image/png'"
            class="el-upload-list__item-thumbnail"
            :src="file.url"
            alt=""
          />
          <div
            v-if="
              file.type ==
                'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
            "
          >
            <img
              class="el-upload-list__item-thumbnail"
              src="/bp/assets/images/icon/w_icon.png"
            />
          </div>
          <div
            v-if="
              file.type ==
                'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            "
          >
            <img
              class="el-upload-list__item-thumbnail"
              src="/bp/assets/images/icon/w_excel.png"
            />
          </div>
          <div v-if="file.type == 'application/pdf'">
            <img
              class="el-upload-list__item-thumbnail"
              src="/bp/assets/images/icon/w_pdf.png"
            />
          </div>

          <span class="el-upload-list__item-actions">
            <el-popconfirm
              confirmButtonText="Oui"
              cancelButtonText="Non"
              icon="el-icon-info"
              iconColor="red"
              @confirm="handleRemove(file.uid)"
              title="Voulez vous vraiment supprimer cet élément??"
            >
              <span slot="reference" class="el-upload-list__item-delete">
                <i class="el-icon-delete"></i>
              </span>
            </el-popconfirm>
            <span style="font-size:10px" slot="reference">{{ file.name }}</span>
          </span>
        </div>
      </div>
    </el-upload>
    <div v-else-if="this.$store.state.agilite.mode == 'affichage'">
      <div
        v-for="(file, index) in $store.state.agilite.task.files"
        :key="'file' + index"
        class="col-sm-12 mt-5 col-md-12"
      >
        <!-- Old file management -->
        <div v-if="!file.url">
          <a
            v-if="
              file.split('?')[0].substr(file.split('?')[0].length - 3) == 'pdf'
            "
            target="_blank"
            :href="file"
          >
            <img
              class="mx-auto h-20 w-auto cursor shadow-lg"
              src="/bp/assets/images/icon/w_pdf.png"
              alt=""
            />
          </a>
          <a
            v-if="
              file.split('?')[0].substr(file.split('?')[0].length - 3) == 'docx'
            "
            target="_blank"
            :href="file"
          >
            <img
              class="mx-auto h-20 w-auto cursor shadow-lg"
              src="/bp/assets/images/icon/w_icon.png"
              alt=""
            />
          </a>
          <a
            v-if="
              file.split('?')[0].substr(file.split('?')[0].length - 3) == 'xlsx'
            "
            target="_blank"
            :href="file"
          >
            <img
              class="mx-auto h-20 w-auto cursor shadow-lg"
              src="/bp/assets/images/icon/w_excel.png"
              alt=""
            />
          </a>
          <a
            v-if="
              file.split('?')[0].substr(file.split('?')[0].length - 3) == 'jpg'
            "
            target="_blank"
            :href="file"
          >
            <img class="img-fluid" :src="file" alt="" />
          </a>
          <a
            v-if="
              file.split('?')[0].substr(file.split('?')[0].length - 3) == 'png'
            "
            target="_blank"
            :href="file"
          >
            <img class="img-fluid" :src="file" alt="" />
          </a>
          <!-- <a v-else :href="file">
                                  <img class="img-fluid" :src="file" />       
                            </a> -->
          <br /><br />
          <a class="filejoin" :href="file" target="_blank">Ouvrir le fichier</a>
        </div>
        <div v-else>
          <a
            v-if="file.type == 'application/pdf'"
            target="_blank"
            :href="file.url"
          >
            <img
              class="mx-auto h-20 w-auto cursor shadow-lg"
              src="/bp/assets/images/icon/w_pdf.png"
              alt=""
            />
          </a>
          <a
            v-if="
              file.type ==
                'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
            "
            target="_blank"
            :href="file.url"
          >
            <img
              class="mx-auto h-20 w-auto cursor shadow-lg"
              src="/bp/assets/images/icon/w_icon.png"
              alt=""
            />
          </a>
          <a
            v-if="
              file.type ==
                'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            "
            target="_blank"
            :href="file.url"
          >
            <img
              class="mx-auto h-20 w-auto cursor shadow-lg"
              src="/bp/assets/images/icon/w_excel.png"
              alt=""
            />
          </a>
          <a
            v-if="file.type == 'image/jpeg' || file.type == 'image/png'"
            target="_blank"
            :href="file.url"
          >
            <img class="img-fluid" :src="file.url" alt="" />
          </a>
          <!-- <a v-else :href="file">
                                  <img class="img-fluid" :src="file" />       
                            </a> -->
          <br /><br />
          <a class="filejoin" :href="file.url" target="_blank">{{
            file.name
          }}</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    fichiers: {
      default() {
        return [];
      },
      type: Array,
    },
  },
  watch: {
    files: function(val) {
      this.$emit("update:fichiers", val);
    },
  },
  data() {
    return {
      files: [],
    };
  },
  methods: {
    handleChangeFile(value, fileList) {
      // this.fichiers = fileList
      this.$emit("update:fichiers", fileList);
    },
    handleRemove(id) {
      let index = this.$refs.refUpload.uploadFiles.findIndex(
        (item) => item.id === id
      );
      this.$refs.refUpload.uploadFiles.splice(index, 1);
      this.$emit("update:fichiers", this.$refs.refUpload.uploadFiles);
    },
  },
  mounted() {
    switch (this.$store.state.agilite.mode) {
      case "affichage":
        this.files = this.$store.state.agilite.task.files;
        break;
      case "modification":
        this.files = this.$store.state.agilite.task.files;
        break;

      default:
        break;
    }
  },
};
</script>
