<template>
  <div>
    <div class="mt-3 shadow-sm p-3 bg-white rounded">
      <div class="row extern-marg">
        <div class="col-xl-1">
          <div class="mb-.3">Code :</div>
          <el-tag type="info">
            <span :style="{ color: couleur }"
              ><strong>{{ this.$store.state.agilite.codeProjet }}</strong></span
            >
          </el-tag>
        </div>
        <div class="col-xl-3">
          <el-form ref="form">
            <el-form-item label="Projet :">
              <div class="input-group">
                <div class="input-group-append">
                  <span
                    :style="{ backgroundColor: couleur }"
                    class="material-icons-outlined"
                    >source</span
                  >
                </div>

                <select
                  v-if="
                    $store.state.agilite.mode == 'creation' ||
                      $store.state.agilite.mode == 'modification'
                  "
                  v-model="idSummarySelected"
                  class="form-control"
                  :class="{ ' border border-danger': errorSummaryId }"
                >
                  <option
                    v-for="item in listProjets"
                    :key="item.id"
                    :value="item.id"
                    :selected="[
                      item.id == idSummarySelected ? 'true' : 'false',
                    ]"
                  >
                    <strong> {{ item.titre }}</strong>
                  </option>
                </select>
                <span
                  class="ml-2"
                  v-if="$store.state.agilite.mode == 'affichage'"
                >
                  <strong> {{ this.titreProjet }}</strong>
                </span>
                <!-- validation -->
                <span
                  v-if="errorSummaryId"
                  :style="{ color: activeColor }"
                ></span>
              </div>
            </el-form-item>
          </el-form>
        </div>
        <div class="col-xl-3">
          <el-form ref="form">
            <el-form-item label="Activité :">
              <div class="input-group">
                <div class="input-group-append">
                  <span
                    :style="{ backgroundColor: couleur }"
                    class="material-icons-outlined"
                    >dashboard</span
                  >
                </div>
                <select
                  v-if="
                    $store.state.agilite.mode == 'creation' ||
                      $store.state.agilite.mode == 'modification'
                  "
                  @change="
                    $emit('update:categorieSelectedId', $event.target.value)
                  "
                  v-model="selectedActivite"
                  class="form-control"
                >
                  <option
                    v-for="item in $store.state.agilite.activites"
                    :key="item.id"
                    :value="item.id"
                    :selected="[item.id == selectedActivite ? 'true' : 'false']"
                    >{{ item.libelle }}
                  </option>
                </select>
                <span
                  class="ml-2"
                  v-if="$store.state.agilite.mode == 'affichage'"
                >
                  <strong> {{ this.titreActivite }}</strong>
                </span>
                <!-- mode validation controle -->
                <!-- <span v-if="errorcategorieSelectedId" :style="{ color: activeColor }"></span> -->
              </div>
            </el-form-item>
          </el-form>
        </div>
        <div class="col-xl-3">
          <el-form ref="form">
            <el-form-item label="Type ticket :">
              <div class="input-group">
                <div class="input-group-append">
                  <span
                    :style="{ backgroundColor: couleur }"
                    class="material-icons-outlined"
                    >calendar_view_day</span
                  >
                </div>
                <select
                  v-if="
                    $store.state.agilite.mode == 'creation' ||
                      $store.state.agilite.mode == 'modification'
                  "
                  :class="{ ' border border-danger': errorTypeTicket }"
                  @change="changeTypeTicket($event.target.value)"
                  v-model="typeTicketSelected"
                  class="form-control"
                >
                  <option
                    v-for="item in $store.state.agilite.listTypesTickets"
                    :key="item.id"
                    :value="item.id"
                    :selected="[item.type == 'normal' ? 'true' : 'false']"
                    >{{ item.libelle }}
                  </option>
                </select>
                <span
                  class="ml-2"
                  v-if="$store.state.agilite.mode == 'affichage'"
                >
                  <strong> {{ this.titreTypeTicket }}</strong>
                </span>
                <!-- controle -->
                <span
                  v-if="errorTypeTicket"
                  :style="{ color: activeColor }"
                ></span>
              </div>
            </el-form-item>
          </el-form>
        </div>
        <!-- <div class="mt-4 col-xl-2 col-lg-2 col-12">
          <span class="item-setting" :style="{ color: couleur }"
            ><strong>Réglages</strong> <i class="el-icon-s-tools "></i
          ></span>
        </div> -->
      </div>
      <!-- modif en-tete -->
      <div class="mrg-top extern-marg mt-2">
        <el-form ref="form">
          <div class="row">
            <div class="col-xl-7 col-lg-7 col-12">
              <el-form-item label="Titre du Ticket :">
                <div class="input-group">
                  <div class="input-group-append">
                    <span
                      :style="
                        errorTitre
                          ? { backgroundColor: 'red' }
                          : { backgroundColor: couleur }
                      "
                      class="material-icons-outlined"
                      >create</span
                    >
                  </div>
                  <!-- mode creation -->
                  <input
                    v-if="
                      $store.state.agilite.mode == 'creation' ||
                        $store.state.agilite.mode == 'modification'
                    "
                    @input="$emit('update:titre', $event.target.value)"
                    type="text"
                    class="form-control"
                    placeholder="------Titre de ticket-----"
                    aria-label="Username"
                    v-model="titreTicket"
                    aria-describedby="basic-addon1"
                    :class="{ ' border border-danger ': errorTitre }"
                  />
                  <!-- mode affichage -->
                  <span
                    class="ml-2"
                    v-else-if="$store.state.agilite.mode == 'affichage'"
                  >
                    <strong>{{ $store.state.agilite.task.titre }}</strong>
                  </span>
                </div>
                <span v-if="errorTitre" :style="{ color: activeColor }"></span>
              </el-form-item>
            </div>
            <div class="col-xl-5 col-lg-5 col-12">
              <div class="row status">
                <div class="col-xl-7 col-lg-7 col-12">
                  <el-form-item label="Statut :">
                    <div class="input-group">
                      <div class="input-group-append">
                        <span
                          :style="{ backgroundColor: couleur }"
                          class="material-icons-outlined"
                          >flag</span
                        >
                      </div>
                      <select
                        v-if="
                          $store.state.agilite.mode == 'creation' ||
                            $store.state.agilite.mode == 'modification'
                        "
                        @change="$emit('update:action', $event.target.value)"
                        id=""
                        class="form-control"
                        v-model="etatTask"
                        :class="{ ' border border-danger ': errorEtat }"
                      >
                        <option
                          v-for="(item, index) in states"
                          :key="'state' + index"
                          :value="item.value"
                          :selected="[
                            item.value == etatTask ? 'true' : 'false',
                          ]"
                          >{{ item.libelle }}</option
                        >
                      </select>
                      <span
                        class="ml-2"
                        v-else-if="$store.state.agilite.mode == 'affichage'"
                      >
                        <span v-if="$store.state.agilite.task.etat == '1'">
                          <strong>A faire</strong>
                        </span>
                        <span v-else-if="$store.state.agilite.task.etat == '2'">
                          <strong> En cours </strong>
                        </span>
                        <span v-else-if="$store.state.agilite.task.etat == '3'">
                          <strong>Terminé</strong>
                        </span>
                      </span>
                      <span
                        v-if="errorEtat"
                        :style="{ color: activeColor }"
                      ></span>
                    </div>
                    <!-- <span v-if="errorTitre" :style="{ color: activeColor }">
                      {{ messageRequired }}</span
                    > -->
                  </el-form-item>
                </div>
                <div
                  v-if="
                    $store.state.agilite.mode == 'affichage' ||
                      $store.state.agilite.mode == 'modification'
                  "
                  class="col-xl-5 col-lg-5 col-12 progression"
                >
                  <span>Progression du ticket :</span> <br />

                  <Avancement
                    :width="26"
                    :percent="
                      percentSubAction(
                        $store.state.agilite.task.subTasks,
                        $store.state.agilite.task
                      )
                    "
                    ref="avancement"
                  />
                </div>
              </div>
            </div>
          </div>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import firebase from "firebase";
import Avancement from "../../../../admin/concours/components/listTicket/avancement.vue";
import action from "../../../mixins/admin/actionPlanNew.js";
// const { mapState, mapActions } = createNamespacedHelpers('module/agilite')
export default {
  // data() {
  //   return {
  //     activeColor: "red",
  //     messageRequired: "Ce champ est obligatoire",
  //   };
  // },
  name: "headerTicket",
  components: { Avancement },
  mixins: [action],
  props: {
    errorTitre: {
      default: false,
      type: Boolean,
    },
    errorEtat: {
      default: false,
      type: Boolean,
    },
    errorSummaryId: {
      default: false,
      type: Boolean,
    },
    // errorcategorieSelectedId: {
    //   default: false,
    //   type: Boolean,
    // },
    errorTypeTicket: {
      default: false,
      type: Boolean,
    },
    // validations,

    couleur: {
      default: "#000",
    },
    categorieSelectedId: {
      default: null,
    },
    // headerTicketControle:{
    //   type: Object,
    // },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    // idSummarySelected: {
    //   default: null,
    // },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default: [],
    },
    titre: {
      default: "",
      type: String,
    },
  },
  watch: {
    mode: async function(val) {
      switch (val) {
        case "affichage":
          await this.$store.state.agilite.task.summaryId.get().then((doc) => {
            this.titreProjet = doc.data().titre;
          });
          await this.$store.state.agilite.task.typeTicket.get().then((doc) => {
            this.titreTypeTicket = doc.data().libelle;
          });
          await this.$store.state.agilite.task.refCategorie
            .get()
            .then((doc) => {
              this.titreActivite = doc.data().libelle;
            });
          break;
        case "modification":
          this.titreTicket = this.$store.state.agilite.task.titre;

          break;

        default:
          break;
      }
    },
  },
  data() {
    return {
      states: [
        {
          libelle: "A faire",
          value: "1",
          selected: false,
        },
        {
          libelle: "En cours",
          value: "2",
          selected: false,
        },
        {
          libelle: "Terminé",
          value: "3",
          selected: false,
        },
      ],
      titreProjet: "",
      titreActivite: "",
      titreTypeTicket: "",
      titreTicket: "",
      activeColor: "red",
      messageRequired: "Ce champ est obligatoire",
    };
  },

  computed: {
    listProjets: {
      get() {
        return this.$store.state.agilite.listProjets;
      },
    },
    // idSummarySelected: (state) => state.agilite.idSummarySelected,
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/setSummary", value);
      },
    },
    selectedActivite: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
      set(value) {
        this.$store.commit("agilite/setSelectedActivite", value);
        // création de la nouvellle référence
        let tasksRef = firebase
          .firestore()
          .collection("tasks")
          .doc(this.idSummarySelected)
          .collection("activites")
          .doc(value)
          .collection("tickets");
        // Enregistremennt de la référence dans le store
        this.$store.commit("agilite/setTasksRef", tasksRef);
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
      set(value) {
        this.$store.commit("agilite/setTypeTicketSelected", value);
      },
    },
    etatTask: {
      get() {
        return this.$store.state.agilite.etatTask;
      },
      set(value) {
        this.$store.commit("agilite/setEtatTask", value);
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },

    // ...mapState({
    //   codeProjet: state => state.some.nested.module.a,

    // })
  },
  methods: {
    changeTypeTicket(value) {
      this.$store.commit("agilite/setTask", "");
      $emit("update:typeTicketSelected", value);
    },
    // changeProject(id) {
    //   this.$store.commit("agilite/initData", id);
    //   console.log("TEST", this.$store.state.agilite.idSummarySelected);
    //   // alert("Hello");
    // },
  },
  async mounted() {
    this.$emit("update:idSummarySelected", this.idSummarySelected);
    // console.log("TEST", this.$store.state.agilite.idSummarySelected);
    switch (this.$store.state.agilite.mode) {
      case "affichage":
        await this.$store.state.agilite.task.summaryId.get().then((doc) => {
          this.titreProjet = doc.data().titre;
        });
        await this.$store.state.agilite.task.typeTicket.get().then((doc) => {
          this.titreTypeTicket = doc.data().libelle;
        });
        await this.$store.state.agilite.task.refCategorie.get().then((doc) => {
          this.titreActivite = doc.data().libelle;
        });
        break;
      case "modification":
        this.titreTicket = this.$store.state.agilite.task.titre;

        break;

      default:
        break;
    }
  },
};
</script>
<style>
.status .colxl-7,
.status .col-lg-7 {
  padding-right: 5px !important;
}
.progression .el-progress--text-inside .el-progress-bar {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.extern-marg .el-form-item__label {
  line-height: 15px;
}
.item-setting {
  font-size: 0.9rem;
}
.item-setting i {
  font-size: 1.2rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.input-group .material-icons-outlined {
  color: #fff;
  padding: 6px 7px;
  margin: 0;
}
.el-tag.el-tag--info {
  padding: 2% !important;
  margin-top: 8% !important;
}
.required:after {
  content: " *";
  color: red;
}
.error {
  color: red;
}
.form-group--error input,
.form-group--error select {
  border: 1px solid red !important;
}
</style>
