<template>
  <div>
    <!-- <div class="col-xl-9 col-lg-7 col-12">
      <el-form-item> -->
        <div class="input-group">
          <!-- <div class="input-group-append">
            <span
              :style="{ backgroundColor: this.$store.state.agilite.couleur }"
              class="material-icons-outlined"
              >flag</span
            >
          </div> -->
          <select
            @change="$emit('update:statut', $event.target.value)"
            id=""
            v-model="statut"
            class="form-control"
          >
            <option
              v-for="item in states"
              :key="item.value"
              :value="item.value"
              :selected="item.selected"
            >
              {{ item.libelle }}
            </option></select
          >
        </div>
      <!-- </el-form-item>
    </div> -->
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "Statut",
  props: {
    index: {
      default: null,
      type: Number,
    },
    selected: {
      default: false,
      type: Boolean,
    },

    // computed: {
    //   ...mapState("modules/agilite", {
    //     couleur: (state) => state.couleur,
    //   }),
    // },

    // mounted() {
    //   console.log("Statut", this.$store.state.agilite.couleur);
    // },
  },
  watch: {
    selected: function(val) {
      if (val) {
        this.statut = "3";
        this.states[0].selected = false;
        this.states[1].selected = false;
        this.states[3].selected = true;
        this.$emit("update:statut", "3");
      } else {
        this.statut = "1";
        this.states[0].selected = true;
        this.states[1].selected = false;
        this.states[3].selected = false;
        this.$emit("update:statut", "1");
      }
    },
  },
  data() {
    return {
      statut: "1",
      couleur: "",
      states: [
        {
          value: "1",
          libelle: "A faire",
          selected: true,
        },
        {
          value: "2",
          libelle: "En cours",
          selected: false,
        },
        {
          value: "3",
          libelle: "Terminé",
          selected: false,
        },
      ],
    };
  },
};
</script>
