<template>
  <div>
    <el-divider content-position="left">Sous tâches</el-divider>
    <!-- <el-divider></el-divider> -->
    <div
      v-if="
        this.mode == 'creation' ||
          this.mode == 'modification' ||
          this.mode == 'filtres'
      "
      class="grid"
    >
      <Container
        drag-class="card-ghost"
        drop-class="card-ghost-drop"
        :animation-duration="500"
        @drop="onDrop"
        drag-handle-selector=".column-drag-handle"
      >
        <Draggable
          v-for="(subAction, index) in action.subActions"
          :key="index"
          class="tache on-drop"
        >
          <el-row :gutter="15">
            <!-- <div class="row"></div> -->
            <div
              class="d-flex justify-content-between align-items-center drag-bg"
            >
              <div
                class="column-drag-handle"
                style="float: left; padding: 0 10px; cursor: grab"
              >
                <span class="material-icons-outlined grab">
                  drag_indicator
                </span>
              </div>
              <el-col :xl="1" :xs="1" :sm="1" :md="1" :lg="1">
                <el-checkbox
                  v-if="subAction.etat == '3'"
                  @change="changeSubTask(subAction.etat, index)"
                  border
                  size="mini"
                  checked
                  v-model="subAction.state"
                ></el-checkbox>
                <el-checkbox
                  v-else
                  @change="changeSubTask(subAction.etat, index)"
                  border
                  size="mini"
                  unchecked
                  v-model="subAction.state"
                ></el-checkbox>
              </el-col>

              <el-col :xs="4" :sm="6" :md="4" :lg="5" :xl="7">
                <!-- <el-form-item label=""> -->
                <el-input
                  type="textarea"
                  :autosize="{ minRows: 1, maxRows: 2 }"
                  border
                  v-model.lazy="action.subActions[index].titre"
                  placeholder="Titre"
                ></el-input>
                <!-- </el-form-item> -->
              </el-col>
              <el-col :xs="3" :sm="3" :md="5" :lg="5" :xl="4">
                <DateDebutFin
                  @dateDebutFin="action.subActions[index].dates = $event"
                  label=""
                  :propsDates="subAction.dates"
                  usedBy="subTask"
                  ref="dateDebutFin"
                />
              </el-col>
              <el-col :span="4">
                <Effort
                  @update:percent="changePercent($event, index)"
                  :index="index"
                  :percent="Math.round(subAction.percent)"
                />
              </el-col>
              <!-- <el-col :xs="3" :sm="3" :md="4" :lg="3" :xl="3"> -->
              <Statut
                @update:statut="action.subActions[index].etat = $event"
                :index="index"
                :selected="subAction.state"
              />
              <!-- </el-col> -->

              <div class="affect-user">
                <el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">
                  <Affecte
                    v-if="subAction.userId"
                    @update:user="action.subActions[index].userId = $event"
                    :adminId="$store.state.agilite.adminId"
                    :currentUId="$store.state.agilite.currentUId"
                    :couleur="$store.state.agilite.couleur"
                    :defaultUser="subAction.userId.id"
                    :label="label"
                    :isInput="false"
                    ref="affecte"
                  />
                  <Affecte
                    v-else
                    @update:user="action.subActions[index].userId = $event"
                    :adminId="$store.state.agilite.adminId"
                    :currentUId="$store.state.agilite.currentUId"
                    :couleur="$store.state.agilite.couleur"
                    :defaultUser="currentUId"
                    :label="label"
                    :isInput="false"
                    ref="affecte"
                  />
                </el-col>
              </div>
              <div class="delete-btn">
                <el-col :span="1">
                  <plus-action-ticket
                    :assigner="true"
                    @assign:user="$emit('assign:user', $event)"
                    @delete:ticket="deleteSubAction(index)"
                    :tr="subAction"
                    :supprimer="true"
                    ref="plusActionTicket"
                  />
                </el-col>
              </div>
            </div>
          </el-row>
        </Draggable>
      </Container>
    </div>

    <!-- <vs-button v-if="this.limitAddSub || this.action.dates==''" circle disabled icon floating>
            <i class="el-icon-plus"></i>
        </vs-button> -->
    <vs-button
      v-if="
        $store.state.agilite.mode == 'creation' ||
          $store.state.agilite.mode == 'modification' ||
          $store.state.agilite.mode == 'filtres'
      "
      circle
      icon
      floating
      @click="addSubAction(index)"
    >
      <i class="el-icon-plus"></i>
    </vs-button>
    <!-- Affichage  -->
    <div v-if="$store.state.agilite.mode == 'affichage'" class="grid">
      <el-row
        v-for="(subAction, index) in action.subActions"
        :key="index"
        :gutter="20"
      >
        <el-col :span="2">
          <el-checkbox
            disabled
            border
            size="mini"
            v-model="subAction.state"
          ></el-checkbox>
        </el-col>

        <el-col :span="10">
          <el-form-item label="">
            <el-input
              type="textarea"
              :autosize="{ minRows: 1, maxRows: 2 }"
              border
              disabled
              v-model.lazy="subAction.titre"
              placeholder="Titre"
            ></el-input>
          </el-form-item>
          {{ subAction.titre }}
        </el-col>

        <el-col :span="4">
          <Effort
            @update:percent="changePercent($event, index)"
            :index="index"
            :percent="subAction.percent"
          />
        </el-col>
        <el-col :span="3">
          <Statut
            @update:statut="action.subActions[index].etat = $event"
            :index="index"
          />
        </el-col>
        <el-col :span="2">
          <div class="affichage">
            <Affecte
              v-if="subAction.userId"
              @update:user="action.subActions[index].userId = $event"
              :adminId="$store.state.agilite.adminId"
              :currentUId="$store.state.agilite.currentUId"
              :couleur="$store.state.agilite.couleur"
              :defaultUser="subAction.userId.id"
              :label="label"
              :isInput="false"
              ref="affecte"
            />
            <Affecte
              v-else
              @update:user="action.subActions[index].userId = $event"
              :adminId="$store.state.agilite.adminId"
              :currentUId="$store.state.agilite.currentUId"
              :couleur="$store.state.agilite.couleur"
              :defaultUser="currentUId"
              :label="label"
              :isInput="false"
              ref="affecte"
            />
          </div>
        </el-col>
        <el-col :span="1">
          <el-dropdown trigger="click">
            <span class="el-dropdown-link more btn btn-sm">
              <i class="el-icon-more"></i
            ></span>
            <plus-action-ticket
              :assigner="true"
              @assign:user="$emit('assign:user', $event)"
              @delete:ticket="deleteSubAction(index)"
              :tr="subAction"
              :supprimer="true"
              ref="plusActionTicket"
            />
          </el-dropdown>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import Statut from "./statut.vue";
import Affecte from "./contentRigth/affecte";
import DateDebutFin from "./contentRigth/dateDebutFin";
import Effort from "./effort.vue";
import PlusActionTicket from "../../../../admin/concours/components/listTicket/plusActionTicket.vue";
import { Container, Draggable } from "vue-dndrop";
export default {
  name: "subTasks",
  components: {
    Statut,
    Affecte,
    Effort,
    DateDebutFin,
    Container,
    Draggable,
    PlusActionTicket,
  },
  props: {
    protocoleProcess: {
      default() {
        return [];
      },
      type: Array,
    },
  },
  watch: {
    protocoleProcess: {
      handler: function(val, oldVal) {
        if (
          this.mode == "creation" ||
          this.mode == "filtres" ||
          this.mode == "modification"
        ) {
          this.action.subActions = val;
        }
      },
      deep: true,
      immediate: true,
    },
  },
  computed: {
    currentUId: {
      get() {
        return this.$store.state.agilite.currentUId;
      },
      set(value) {
        this.$store.commit("agilite/setCurrentUId", value);
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },

  data() {
    return {
      users: firebase.firestore().collection("users"),
      label: "",
      action: {
        subActions: [],
      },
      // Drag n drop
      removedIndex: "",
      addedIndex: "",
      // dropPlaceholderOptions: {
      //   animationDuration: "150",
      //   showOnTop: true,
      // },
    };
  },
  mounted() {
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.action.subActions = this.$store.state.agilite.task.subTasks;
        break;
      case "affichage":
        this.action.subActions = this.$store.state.agilite.task.subTasks;
        break;

      default:
        break;
    }
  },
  methods: {
    // drag and drop
    onDrop(item) {
      const removedIndex = item.removedIndex;
      const addedIndex = item.addedIndex;
      let add = this.action.subActions[addedIndex];
      let remove = this.action.subActions[removedIndex];
      this.action.subActions.splice(addedIndex, 1, remove);
      this.action.subActions.splice(removedIndex, 1, add);
    },
    addSubAction() {
      let newIndex = this.action.subActions.length + 1;
      let userId = this.users.doc(this.currentUId);
      this.action.subActions.push({
        state: false,
        titre: "sous tâche " + newIndex,
        dates: [],
        etat: "1",
        percent: 0,
        userId: userId,
        commentaire: "",
        editPercent: false,
      });
      this.calculPourcentage();
      // this.$emit("update:subAction",this.action.subActions)
    },
    deleteSubAction(index) {
      this.action.subActions.splice(index, 1);
      this.calculPourcentage();
      // this.$emit("update:subAction",this.action.subActions)
    },
    update(event, index) {
      console.log("Event", event, index);
    },
    changePercent(percent, index) {
      this.action.subActions[index].percent = percent;
      //Changement de mode du champ pourcentage
      this.action.subActions[index].editPercent = true;
      //Changement de mode du champ pourcentage
      // Recalcul pourcentage
      this.recalculPourcentage();
    },
    calculPourcentage() {
      // let totalUsepercent = this.totalPercent(this.action.subActions);
      // console.log("Total Percent", totalUsepercent);
      //Total ITEMS
      let totalItems = this.action.subActions.length;
      let totalPercent = 100;
      //Total ITEMS
      this.action.subActions.forEach((item, index) => {
        this.action.subActions[index].percent = totalPercent / totalItems;
        // let percent =
        //   (100 - totalUsepercent) /
        //   (this.action.subActions.length - totalCountEdit);
        // if (!item.editPercent) {
        //   this.action.subActions[index].percent = percent;
        //   this.action.subActions[index].duree = this.calculDuree(
        //     percent,
        //     index
        //   );
        //   let date = new Date(this.calculDuree(percent, index));
        //   if (index == 0) {
        //     //  alert('Hello')
        //     this.action.subActions[index].dates[0] = this.action.dates[0];
        //     this.action.subActions[index].dates[1] = date;
        //   } else {
        //     //  alert('Holla')
        //     let prevIndex = index - 1;
        //     let initDate =
        //       this.action.subActions[prevIndex].duree + 1000 * 60 * 60 * 24;
        //     this.action.subActions[index].dates[0] = new Date(initDate);
        //     this.action.subActions[index].dates[1] = date;
        //   }
        // }
        // this.calculEffort(percent, index);
      });
    },
    totalElement(data) {
      let count = 0;
      data.forEach((element) => {
        if (element.editPercent) count++;
      });
      return count;
    },
    totalPercent(data) {
      let percent = 0;
      data.forEach((element) => {
        if (element.editPercent) percent = parseInt(element.percent) + percent;
      });
      return percent;
    },
    //Fonction de calcul des durées des soues taches
    calculDuree(percent, index) {
      //sous tache initiale
      if (index == 0) {
        let dateInit = new Date(this.action.dates[0]);
        let dateFinal = new Date(this.action.dates[1]);
        let nbJoursTotal = Math.ceil(
          Math.abs(dateFinal - dateInit) / (1000 * 60 * 60 * 24)
        );

        let msday = ((percent * nbJoursTotal) / 100) * 1000 * 60 * 60 * 24;
        return dateInit.getTime() + msday;
      }
      //Sous tache n
      else {
        let prevIndex = index - 1;
        let dateInit = new Date(this.action.subActions[prevIndex].dates[1]);
        let dateFinal = new Date(this.action.dates[1]);
        let nbJoursTotal = Math.ceil(
          Math.abs(dateFinal - dateInit) / (1000 * 60 * 60 * 24)
        );

        let msday =
          ((percent * nbJoursTotal) / 100) * 1000 * 60 * 60 * 24 +
          1000 * 60 * 60 * 24;
        return dateInit.getTime() + msday;
      }
    },
    calculEffort(percent, index) {
      this.action.subActions[index].effort = (percent * 20) / 100;
    },
    recalculEffort(indexAction) {
      this.action.subActions[indexAction].percent =
        (this.action.subActions[indexAction].effort * 100) / 20;
      this.action.subActions[indexAction].editPercent = true;
      let totalEdit = this.totalPercent(this.action.subActions);
      let totalCountEdit = this.totalElement(this.action.subActions);

      this.action.subActions.forEach((item, index) => {
        if (!item.editPercent) {
          let totalPercent = 100 - totalEdit;
          let totalElement = this.action.subActions.length - totalCountEdit;
          let percent = totalPercent / totalElement;
          this.action.subActions[index].percent = percent;
          this.action.subActions[index].duree = this.calculDuree(
            percent,
            index
          );
          let date = this.calculDuree(percent, index);
          this.calculEffort(percent, index);
          // this.action.subActions[index].dates=new Date(this.dateFormatSeconds(date))
          //Calcul de l'effort de la valeur modifiée
        } else {
          this.action.subActions[index].duree = this.calculDuree(
            this.action.subActions[index].percent,
            index
          );
          //  let date=this.calculDuree(percent)
        }
      });
    },
    recalculPourcentage() {
      let totalEdit = this.totalPercent(this.action.subActions);
      let totalCountEdit = this.totalElement(this.action.subActions);

      this.action.subActions.forEach((item, index) => {
        if (!item.editPercent) {
          let totalPercent = 100 - totalEdit;
          let totalElement = this.action.subActions.length - totalCountEdit;
          let percent = totalPercent / totalElement;
          this.action.subActions[index].percent = percent;
          // this.calculEffort(percent, index);

          //  let date=new Date(this.calculDuree(percent))
          //  this.action.subActions[index].dates.push(date)
          //  alert(date)
          //Calcul de l'effort de la valeur modifiée
        }
      });
    },
    changeSubTask(changeSubTask, index) {
      if (changeSubTask == "3") {
        this.action.subActions[index].etat = "1";
      } else {
        this.action.subActions[index].etat = "3";
      }
    },
  },
};
</script>
<style scoped>
/* subTask Styles */
</style>
