<template>
    <div>
        <el-divider content-position="left">Sous tâches</el-divider>
        <el-divider></el-divider>
        <div class="grid">
            <el-row v-for="(subAction, index) in action.subActions" :key="index" :gutter="20">
                <el-col :span="2">
                    <el-checkbox border size="mini" v-model="subAction.state"></el-checkbox>
                </el-col>
                <el-col :span="17">
                    <el-form-item label="">
                        <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" border v-model="subAction.title" placeholder="Titre"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="4">
                    <div class="input-group input-group-sm">
                        <vue-numeric currency="%" currency-symbol-position="suffix" :max="100" :min="0" :minus="true" empty-value="0" :precision="1" @input.native="recalculPourcentage(index)" v-model.number="subAction.percent" class="form-control text-center"></vue-numeric>
                        <span class="input-group-text" id="inputGroup-sizing-sm">Effort</span>
                    </div>
                </el-col>
                <el-col :span="1">
                    <el-dropdown trigger="click">
                        <span class="el-dropdown-link more btn btn-sm"> <i class="el-icon-more"></i></span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item @click.native="deleteSubAction(index)" icon="el-icon-delete">Supprimer</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
            </el-row>
        </div>
          <!-- <vs-button v-if="this.limitAddSub || this.action.dates==''" circle disabled icon floating>
            <i class="el-icon-plus"></i>
        </vs-button> -->
        <vs-button  circle icon floating @click="addSubAction(index)">
            <i class="el-icon-plus"></i>
        </vs-button>
    </div>
</template>
<script>
export default {
    data () {
        return {
            action: {
                subActions: []
            }
        }
    },

methods: {
     addSubAction() {
        // console.log('Index',index)

        let newIndex = this.action.subActions.length + 1;
        this.action.subActions.push({
            state: false,
            title: "sous tâche " + newIndex,
            dates: [],
            percent: 0,
            editPercent: false,
        });
        this.calculPourcentage();
        // this.$emit("update:subAction",this.action.subActions)
    },
      deleteSubAction(index) {
        this.action.subActions.splice(index, 1);
        this.calculPourcentage();
        // this.$emit("update:subAction",this.action.subActions)
    },
     calculPourcentage() {
        let totalUsepercent = this.totalPercent(this.action.subActions);
        let totalCountEdit = this.totalElement(this.action.subActions);
        this.action.subActions.forEach((item, index) => {
            let percent =
                (100 - totalUsepercent) /
                (this.action.subActions.length - totalCountEdit);
            //  let totalPercent=100
            // if(item.editPercent){
            //   totalPercent-item.percent
            //  }
            if (!item.editPercent) {
                this.action.subActions[index].percent = percent;
                this.action.subActions[index].duree = this.calculDuree(
                    percent,
                    index
                );
                let date = new Date(this.calculDuree(percent, index));
                if (index == 0) {
                    //  alert('Hello')
                    this.action.subActions[
                        index
                    ].dates[0] = this.action.dates[0];
                    this.action.subActions[index].dates[1] = date;
                } else {
                    //  alert('Holla')
                    let prevIndex = index - 1;
                    let initDate =
                        this.action.subActions[prevIndex].duree +
                        1000 * 60 * 60 * 24;
                    this.action.subActions[index].dates[0] = new Date(
                        initDate
                    );
                    this.action.subActions[index].dates[1] = date;
                }
            }
            this.calculEffort(percent, index);
        });
    },
    totalElement(data) {
        let count = 0;
        data.forEach((element) => {
            if (element.editPercent) count++;
        });
        return count;
    },
    totalPercent(data) {
        let percent = 0;
        data.forEach((element) => {
            if (element.editPercent)
                percent = parseInt(element.percent) + percent;
        });
        this.percentTotal=percent
        return percent;
    },
    //Fonction de calcul des durées des soues taches
    calculDuree(percent, index) {
        //sous tache initiale
        if (index == 0) {
            let dateInit = new Date(this.action.dates[0]);
            let dateFinal = new Date(this.action.dates[1]);
            let nbJoursTotal = Math.ceil(
                Math.abs(dateFinal - dateInit) / (1000 * 60 * 60 * 24)
            );

            let msday =
                ((percent * nbJoursTotal) / 100) * 1000 * 60 * 60 * 24;
            return dateInit.getTime() + msday;
        }
        //Sous tache n
        else {
            let prevIndex = index - 1;
            let dateInit = new Date(
                this.action.subActions[prevIndex].dates[1]
            );
            let dateFinal = new Date(this.action.dates[1]);
            let nbJoursTotal = Math.ceil(
                Math.abs(dateFinal - dateInit) / (1000 * 60 * 60 * 24)
            );

            let msday =
                ((percent * nbJoursTotal) / 100) * 1000 * 60 * 60 * 24 +
                1000 * 60 * 60 * 24;
            return dateInit.getTime() + msday;
        }
    },
    calculEffort(percent, index) {
        this.action.subActions[index].effort = (percent * 20) / 100;
    },
    recalculEffort(indexAction) {
        this.action.subActions[indexAction].percent =
            (this.action.subActions[indexAction].effort * 100) / 20;
        this.action.subActions[indexAction].editPercent = true;
        let totalEdit = this.totalPercent(this.action.subActions);
        let totalCountEdit = this.totalElement(this.action.subActions);

        this.action.subActions.forEach((item, index) => {
            if (!item.editPercent) {
                let totalPercent = 100 - totalEdit;
                let totalElement =
                    this.action.subActions.length - totalCountEdit;
                let percent = totalPercent / totalElement;
                this.action.subActions[index].percent = percent;
                this.action.subActions[index].duree = this.calculDuree(
                    percent,
                    index
                );
                let date = this.calculDuree(percent, index);
                this.calculEffort(percent, index);
                // this.action.subActions[index].dates=new Date(this.dateFormatSeconds(date))
                //Calcul de l'effort de la valeur modifiée
            } else {
                this.action.subActions[index].duree = this.calculDuree(
                    this.action.subActions[index].percent,
                    index
                );
                //  let date=this.calculDuree(percent)
            }
        });
    },
    recalculPourcentage(indexAction) {
        this.action.subActions[indexAction].editPercent = true;
        let totalEdit = this.totalPercent(this.action.subActions);
        let totalCountEdit = this.totalElement(this.action.subActions);

        this.action.subActions.forEach((item, index) => {
            if (!item.editPercent) {
                let totalPercent = 100 - totalEdit;
                let totalElement =
                    this.action.subActions.length - totalCountEdit;
                let percent = totalPercent / totalElement;
                this.action.subActions[index].percent = percent;
                this.calculEffort(percent, index);
                this.action.subActions[index].duree = this.calculDuree(
                    percent,
                    index
                );
                this.calculDuree(percent, index);
                //  let date=new Date(this.calculDuree(percent))
                //  this.action.subActions[index].dates.push(date)
                //  alert(date)
                //Calcul de l'effort de la valeur modifiée
            } else {
                this.calculEffort(
                    this.action.subActions[index].percent,
                    index
                );
                this.action.subActions[index].duree = this.calculDuree(
                    this.action.subActions[index].percent,
                    index
                );
                //  let date=this.calculDuree(percent)
            }
        });
    },
}
}
</script>