.bg-platinum {
    background-color: #ede6e3;
}
.bg-shade-solde {
    border-color: #36a2eb !important;
    outline-color: #36a2eb !important;
    background-color: #36a2eb !important; 
}
.tresor th.el-table_1_column_15 {
    font-weight: 600;
  }
.tresor td.el-table_1_column_15 {
    background: #d7d7d761;
  }
  .el-table__fixed-right{
    
  }
.tresor .total-row td.el-table_1_column_15:first-child {
    background: #f8070761 !important;
  }
.bg-besoin {
    background-color: #f02d34ed !important;
    color: white !important;
}
.bg-shade-besoin {
    background-color: #e2acae4d !important;
    color: #2f3d4a !important;
}
.bg-ressource {
    background-color: #4352f9 !important;
    color: white !important;
}
.bg-shade-ressource {
    background-color: #a5bcd440 !important;
    color: #2f3d4a !important;
}
.bg-vente {
    background-color: #398bf7 !important;
    color: white !important;
}
.bg-shade-vente {
    background-color: #bae2b340 !important;
    color: #2f3d4a !important;
}
.bg-charge {
    background-color: #f02d34ed !important;
    color: white !important;
}
.bg-shade-charge {
    background-color: #e2acae4d !important;
    color: #2f3d4a !important;
}
.bg-amortissement {
    background-color: #4c8caa !important;
}
.bg-shade-amortissement {
    background-color: #287da54d !important;
}
.bg-bfr {
    /*background-color: #e02c6ffa !important; */
    background-color: #d33972fa !important;
}
.bg-seuil {
    background-color: #875faf !important;
}
.bg-shade-seuil {
    background-color: #6633997d !important;
}    
.bg-shade-bfr {
    background-color: #e02c6f33 !important;
}
.bg-jungle {
    background-color: #095256;
}
.bg-saphire {
    background-color: #1a5e63;
}
.bg-violet {
    background-color: #46237a;
}
.bg-positif {
    background-color: #27ae60 !important;        
}
.bg-negatif {
    background-color: #eb4d4b !important;
}
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
    display: none;
}
.card-body > ul.customtab > li > a.nav-link.show.active,.card-body > ul.customtab > li > a.nav-link.active {
    font-weight: 600;
    text-transform: uppercase;
    color:#67757c;
    opacity:1.1;
}
.nav-link.show.active i,.nav-link.active i{
   color: #61b174;
}
span.stepTitle.active{
   color: #67757c !important;
   font-weight: 500 !important;
}
.nav-link {
    font-weight: normal;
    text-transform: normal;
    color:#67757c;
}
.card-body > ul.customtab > li > a {
 opacity: 0.6;
}
.card-body table {
   font-size: 14px;
}
.table-head-first-red-column{
   text-align: left !important;
}
.color-bordered-table.info-bordered-table{
border-color: #398bf7 !important;
}
.color-bordered-table.info-bordered-table thead th {
    background-color: #398bf7;
    color: #ffffff;
    text-align: center;
}
.table-head-first-green-column{
background-color: white !important;
color: green !important;
text-align: justify !important;
}
.table-head-first-2f3d4a-column{
background-color: white !important;
color: #2f3d4a !important;
text-align: justify !important;
}
.table-group-header {
background-color: #dedede; color: #455a64; font-weight:800;
}
.bg-light-grey{
    background-color: #dedede !important; color: #2f3d4a !important;
}
.table-total {
background-color:#84d697b8; color:#2f3d4a; font-weight:800;
}
.table-group-header .item-total, .table-total .item-total {
    font-weight: 900;
}
.no-border-tr td{
border-color: transparent;
}
.vue-form-wizard .wizard-header {
    display: none;
    visibility: hidden;
}
.nav-pills > li.nav-item {
    display: block;
    width: 50%;
    text-align: center;
}
.nav-pills > li.nav-item a{
    margin: 1px auto;
    padding:1px 0px;
    border-radius: 2px;
    font-size: 0.9rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #61b174;
}
.card-body {
    padding: 0px 5px;
}
.nav.nav-tabs.customtab li a {
    text-align: center;
    padding: 5px 10px;
}
.nav.nav-tabs.customtab li a.active {
    background-color: #0080003b;
    border-bottom-color: #f32b2bcc;
}
.nav.nav-tabs.customtab li {
    width: 25%;
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
}
.dark-input {
    color:#455a64;
}

span.item-total {
    vertical-align: sub;
    font-weight: 500;
}
.bg-grey {
    background-color: #99abb4 !important;
    /* background-color: #cdced1 !important; */
}
.vue-loading {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(230, 233, 236, 0.8);
    cursor: wait;
    opacity: 0;
    transition: opacity .4s;
}
.csb-text-chart{
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, Verdana, Arial, sans-serif;
}
.cbs-text-donnut{
    font-size: 15px!important;
}

.pointer {
    cursor: pointer !important;
}

.mdi {
    font-size: medium;
}
/* tableau bilan financier */
.border-collapse { border-collapse: collapse !important; }

.border-0	{ border-width: 0px !important; }
.border-2	{ border-width: 2px !important; }
.border-4	{ border-width: 4px !important; }
.border-8	{ border-width: 8px !important; }
.border, .bordered	{ border-width: 1px !important; }
.border-t-0	{ border-top-width: 0px !important; }
.border-t-2	{ border-top-width: 2px !important; }
.border-t-4	{ border-top-width: 4px !important; }
.border-t-8	{ border-top-width: 8px !important; }
.border-t	{ border-top-width: 1px !important; }
.border-r-0	{ border-right-width: 0px !important; }
.border-r-2	{ border-right-width: 2px !important; }
.border-r-4	{ border-right-width: 4px !important; }
.border-r-8	{ border-right-width: 8px !important; }
.border-r	{ border-right-width: 1px !important; }
.border-b-0	{ border-bottom-width: 0px !important; }
.border-b-2	{ border-bottom-width: 2px !important; }
.border-b-4	{ border-bottom-width: 4px !important; }
.border-b-8	{ border-bottom-width: 8px !important; }
.border-b	{ border-bottom-width: 1px !important; }
.border-l-0	{ border-left-width: 0px !important; }
.border-l-2	{ border-left-width: 2px !important; }
.border-l-4	{ border-left-width: 4px !important; }
.border-l-8	{ border-left-width: 8px !important; }
.border-l	{ border-left-width: 1px !important; }
/* color utilities */
.text-orange-50 { color: #fff7ed !important;}
.bg-orange-50 { background-color: #fff7ed !important;}
.border-l-orange-50 { border-left-color: #fff7ed !important;}
.border-r-orange-50 { border-right-color: #fff7ed !important; }

.text-orange-100 { color: #ffedd5 !important;}
.bg-orange-100 { background-color: #ffedd5 !important;}
.border-l-orange-100 { border-left-color: #ffedd5 !important;}
.border-r-orange-100 { border-right-color: #ffedd5 !important; }

.text-orange-200 { color: #fed7aa !important;}
.bg-orange-200 { background-color: #fed7aa !important;}
.border-l-orange-200 { border-left-color: #fed7aa !important;}
.border-r-orange-200 { border-right-color: #fed7aa !important; }

.text-orange-300 { color: #fdba74 !important;}
.bg-orange-300 { background-color: #fdba74 !important;}
.border-r-orange-300 { border-right-color: #fdba74 !important;}
.border-l-orange-300 { border-left-color: #fdba74 !important; }

.text-orange-400 { color: #fb923c !important;}
.bg-orange-400 { background-color: #fb923c !important;}
.border-l-orange-400 { border-left-color: #fb923c !important;}
.border-r-orange-400 { border-right-color: #fb923c !important; }

.text-orange-500 { color: #f97316 !important;}
.bg-orange-500 { background-color: #f97316 !important;}
.border-l-orange-500 { border-left-color: #f97316 !important;}
.border-r-orange-500 { border-right-color: #f97316 !important; }

.text-orange-600 { color: #ea580c !important;}
.bg-orange-600 { background-color: #ea580c !important;}
.border-r-orange-600 { border-right-color: #ea580c !important;}
.border-l-orange-600 { border-left-color: #ea580c !important; }

.text-orange-700 { color: #c2410c !important;}
.bg-orange-700 { background-color: #c2410c !important;}
.border-r-orange-700 { border-right-color: #c2410c !important;}
.border-l-orange-700 { border-left-color: #c2410c !important; }

.text-orange-800 { color: #9a3412 !important;}
.bg-orange-800 { background-color:#9a3412  !important;}
.border-r-orange-800 { border-right-color: #9a3412 !important;}
.border-l-orange-800 { border-left-color: #9a3412 !important;}

.text-bolder {font-weight: 500 !important;}

.bg-slate-50 {
    background-color: #f8fafc
}

.bg-red-50 { background-color: #fef2f2; }
.bg-red-10 { background-color: #fee2e2; }
.bg-red-200 { background-color: #fecaca; }
.bg-red-300 { background-color: #fca5a5; }
.bg-red-400 { background-color: #f87171; }
.bg-red-500 { background-color: #ef4444; }
.bg-red-600 { background-color: #dc2626; }
.bg-red-700 { background-color: #b91c1c; }
.bg-red-800 { background-color: #991b1b; }
.bg-red-900 { background-color: #7f1d1d; }