.cbs-white-bg{
  background-color: #DCDCDC!important;
}
.cbs-title{
  color: black;
  font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
  size: 20px;
  font-size: 20px;
}
.cbs-link ul{
  display: block;
  vertical-align: center;
}
.cyb-btn-round{
  border-radius: 5px 5px 5px 5px;
  background-color: #0b93d5;
}
.cyb-add-on-subproject{
  background-color: #0b93d5!important;
  border:none!important;
}
.cbs-link li{
  float: right;
}

.cbs-link li a{
  display: block;
  text-align: center;
}
.cbs-percent{
  background-color: black;
  color: whitesmoke;
  border-radius: 50% 50% 50% 50%;
}
.cbc-c-style{
  border-radius: 15px 15px 15px 15px!important;
  line-height: 2;
}
.col-md-3 .cbc-c-style{
  right: 10px;
}
.cbs-titre{
  font-family: "Arial Black", arial-black;
  font-size: 16px;
  color: #0b0b0b;
  font-weight: bold;
}

.header-sidebar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.icons-example .vs-input{
  margin: 15px;
}
.cbs-btn{
  border-radius: inherit!important;
}