input.form-control, select.form-control {
    min-height: 30px !important;
    height: calc(1.25rem + 2px) !important;
    padding: .155rem .40rem !important;
    font-size: 0.86rem;
}
.input-group-append{
    min-height: 30px !important;
    height: calc(1.25rem + 2px) !important;
}
textarea.form-control,textarea{
    font-size: 0.86rem;
}
.input-group-text {
    font-size: 0.80rem;
    padding: .18rem .25rem;
    font-weight: 600;
}
.table td, .table th {
    padding: .21rem !important;
    min-height: calc(1.24rem + 2px) !important;
}
/***********
    la taille minimale ds input de monnaie formatee
    ********/
    .empty-numeric-placeholder {
        color: transparent;
        visibility: hidden;
        line-height: 0.1px !important;
    }
    
    
/*-- ============================================================== 
 Ipad & above all(768px) 
 ============================================================== */
@media(min-width:768px) {
    /** input number special width **/
    .two-digit-long {
      width: calc(3.5em + 1px) !important;
      line-height: 1.3px;
    }
  }
  

/*-- ============================================================== 
 Phone and below ipad(767px) 
 ============================================================== */

@media(max-width:767px) {
  
    /** input number special width **/
    .two-digit-long {
      width: calc(2.5em + 1px) !important;
      line-height: 1.3px;
    }
  }