
#sidebarnav > li.dropdowm {
    display:inline-block;
}
#sidebarnav li.dropdowm:hover {
    color: white;
    background-color: lightblue;
}
#sidebarnav li.dropdowm {
    margin-right:15px; 
    font-style: bolder;
    background-color: #80808020; 
    color: #ffffff80;
}
.sidebar-nav > ul > li.active > a {
    color: #ffffff !important;
    border-color: #61b174;
    background-color: #61b174 !important;
}
.titre {
    font-size: 16px;
    font-weight: bolder;
}
.icon-white {
    color: #ffffff !important;
}
.sidebar-nav .has-arrow::after {
    border-color: white;
}
.sidebar-nav .active > .has-arrow::after, .sidebar-nav li > .has-arrow.active::after, .sidebar-nav .has-arrow[aria-expanded=true]::after {
    border-color: white;
}
.sidebar-nav > ul.collapse.in {
    background-color: #3f4f5d;
}