<template>
    <div>
        <div class="row" id="section-2">
            <div class="col-12">
                <el-tabs type="border-card" :stretch="true">
                    <el-tab-pane label="Détails">
                        <div id="content-1">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xl-6 col-12">
                                            <p class="second-section text-center">Dimensions</p>
                                            <div class="content">
                                                <el-form-item label="Poids">
                                                <div class="input-group" :class="{ 'form-group--error': validations.newArticle.poids.$error }">

                                                <span class="input-group-text fa fa-balance-scale couleur-icons" id="basic-addon1"></span>

                                                        <input type="text" class="form-control" v-model="newArticle.poids" :disabled="!model.poids" v-model.trim="validations.newArticle.poids.$model">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>g</option>
                                                                <option>kg</option>
                                                            </select>

                                                        </div>
                                                        
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Longueur">
                                                    <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.poids.$error }">
                                                    <span class="input-group-text material-icons-outlined" id="basic-addon1">height</span>

                                                        <input type="text" class="form-control" v-model="newArticle.longueur" :disabled="!model.longueur" 
                                                        v-model.trim="validations.newArticle.longueur.$model">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>cm</option>
                                                                <option>m</option>
                                                            </select>
                                                        </div>
                                                    
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Largeur">
                                                <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.largeur.$error }">
                                                <span class="input-group-text material-icons-outlined" id="basic-addon1">height</span>
                                                <input type="text" class="form-control" v-model="newArticle.longueur" :disabled="!model.longueur" 
                                                        v-model.trim="validations.newArticle.longueur.$model">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>cm</option>
                                                                <option>m</option>
                                                            </select>
                                                        </div>
                                                    
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Hauteur">
                                                    <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.hauteur.$error }">
                                                    <span class="input-group-text material-icons-outlined" id="basic-addon1">arrow_upward</span>

                                                        <input type="text" class="form-control" v-model="newArticle.hauteur" :disabled="!model.hauteur" v-model.trim="validations.newArticle.hauteur.$model">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>cm</option>
                                                                <option>m</option>
                                                            </select>
                                                        </div>
                                                    
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Surface">
                                                <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.surface.$error }">
                                                <span class="input-group-text material-icons-outlined" id="basic-addon1">check_box_outline_blank</span>

                                                        <input type="text" class="form-control disabled" v-model="newArticle.surface" :disabled="!model.surface" v-model.trim="validations.newArticle.surface.$model">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>m²</option>
                                                            </select>
                                                        </div>
                                                    
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Volume">
                                                <div class="input-group" :class="{ 'form-group--error': validations.newArticle.volume.$error }">
                                                <span class="input-group-text material-icons-outlined" id="basic-addon1">science</span>

                                                        <input type="text" class="form-control disabled" v-model="newArticle.volume" :disabled="!model.volume" v-model.trim="validations.newArticle.volume.$model">
                                                        <div class="input-group-prepend w-30">
                                                            <select id="" class="form-control">
                                                                <option>m3</option>
                                                            </select>
                                                        </div>
                                                    
                                                    </div>
                                                </el-form-item>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-12">
                                            <p class="text-center">BFR (Besoins en Fonds de Roulement)</p>
                                            <el-form-item label="Créance Client / CA">
                                            <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.creanceClient.$error }">
                                            <span class="input-group-text material-icons-outlined" id="basic-addon1">savings</span>

                                                    <input type="text" class="form-control w-input" placeholder="FCFA" maxlength="20" v-model="newArticle.client" :disabled="!model.client" v-model.trim="validations.newArticle.creanceClient.$model">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fa fa-exchange-alt"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control pourcentage" placeholder="%" maxlength="8" v-model="newArticle.client" :disabled="!model.client">
                                                       
                                                </div>
                                            </el-form-item>
                                            <el-form-item label="Stock Global / CA">
                                            <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.stockeGlobal.$error }">
                                            <span class="input-group-text fa fa-archive couleur-icons" id="basic-addon1"></span>

                                                    <input type="text" class="form-control w-input" placeholder="FCFA" maxlength="20" v-model="newArticle.stock" :disabled="!model.stock" 
                                                    v-model.trim="validations.newArticle.stockeGlobal.$model">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fa fa-exchange-alt"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control pourcentage" placeholder="%" maxlength="8" v-model="newArticle.stock" :disabled="!model.stock">
                                                    
                                                </div>
                                            </el-form-item>
                                            <el-form-item label="Fournisseur / CA">
                                            <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.fournisseur.$error }">
                                            <span class="input-group-text material-icons-outlined" id="basic-addon1">point_of_sale</span>

                                                    <input type="text" class="form-control w-input" placeholder="FCFA" maxlength="20" v-model="newArticle.fournisseur" :disabled="!model.fournisseur" v-model.trim="validations.newArticle.fournisseur.$model">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fa fa-exchange-alt"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control pourcentage" placeholder="%" maxlength="8" v-model="newArticle.fournisseur" :disabled="!model.fournisseur">
                                               
                                                </div>
                                            </el-form-item>
                                            <p class="text-center">Typologie</p>
                                            <el-form-item label="Famille">
                                                <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.famille.$error }">
                                                    <span class="input-group-text material-icons-outlined" id="basic-addon1">family_restroom</span>
                                                <select id="" class="form-control" v-model="newArticle.famille" :disabled="!model.famille" v-model.trim="validations.newArticle.famille.$model">
                                                </select>
                                                </div>
                                               

                                            </el-form-item>
                                            <el-form-item label="Type">
                                                <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.famille.$error }">
                                                    <span class="input-group-text material-icons-outlined" id="basic-addon1">9k</span>
                                                <select id="" class="form-control" v-model="newArticle.type" :disabled="!model.type" v-model.trim="validations.newArticle.type.$model">
                                                </select>
                                                </div>
                                               

                                            </el-form-item> <br>
                                            <el-form-item label="Nature">
                                                <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.famille.$error }">
                                                <span class="input-group-text material-icons-outlined" id="basic-addon1">verified</span>
                                                <select id="" class="form-control" v-model="newArticle.nature" :disabled="!model.nature" v-model.trim="validations.newArticle.nature.$model">
                                                </select>
                                                </div>
                                               

                                            </el-form-item>
                                        </div>
                                        <div class="col-12">
                                            <p class="second-section">Informations</p>
                                            <el-form-item label="Notes">
                                                <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.famille.$error }">
                                                    <span class="input-group-text material-icons-outlined" id="basic-addon1">create</span>
                                                <textarea rows="2" class="form-control" v-model="newArticle.notes" :disabled="!model.notes" v-model.trim="validations.newArticle.notes.$model">
                                                </textarea>
                                                </div>
                                            </el-form-item>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <!-- catégorie tarifaire -->
                    <el-tab-pane label="Catégories Tarifaires">
                        <div id="content-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row mb-2">
                                        <div class="col-12">
                                           <h4 class='titre'><i class="el-icon-circle-plus"></i> Créer une nouvelle Catégorie de Client</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 class="text-muted">Catégorie Tarifaire</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Catégorie</th>
                                                        <th>Prix V.U (HT)</th>
                                                        <th>Prix V.U (TTC)</th>
                                                        <th>Description</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center"><el-button type="danger" icon="el-icon-delete" size="small"></el-button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Jacob</td>
                                                        <td>tdornton</td>
                                                        <td>@fat</td>
                                                        <td>@fat</td>
                                                        <td class="text-center"><el-button type="danger" icon="el-icon-delete" size="small"></el-button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Larry the Bird</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td class="text-center"><el-button type="danger" icon="el-icon-delete" size="small"></el-button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-2">
                                            <el-button type="primary" class="" icon="el-icon-plus">Ajouter une coordonnée</el-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Fournisseurs">
                        <div id="content-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row mb-2">
                                        <div class="col-12">
                                           <h4 class='titre'><i class="el-icon-circle-plus"></i> Créer une nouveau Fournisseur</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 class="text-muted">Liste des Fournisseurs</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" >
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Catégorie</th>
                                                        <th>Prix V.U (HT)</th>
                                                        <th>Prix V.U (TTC)</th>                                          <th >Description</th>  
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center"><el-button type="danger" icon="el-icon-delete" size="small"></el-button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Jacob</td>
                                                        <td>tdornton</td>
                                                        <td>@fat</td>
                                                        <td>@fat</td>
                                                        <td class="text-center"><el-button type="danger" icon="el-icon-delete" size="small"></el-button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Larry the Bird</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td class="text-center"><el-button type="danger" icon="el-icon-delete" size="small"></el-button></td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                           <h4 class='titre-footer'><i class="el-icon-circle-plus"></i> Ajouter une ligne</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Documents">
                        <div id="content-4">
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="text-muted">Liste des pièces jointes</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 mb-2">    
                                         <input type="text" class="form-control" id="inlineFormInput" placeholder="nom de la pièce jointe">                                          
                                    </div>
                                        <div class="col-xl-1">
                                                        
                                                <i class="el-icon-view"></i>
                                                </div>
                                                    <div>
                                                        <button>
                                                            <i class="el-icon-view"></i>
                                                        </button>
                                                    </div>           
                                                        <div class="col-xl-6">
                                                            <span>je vend des habits à bon prix salutttt</span>
                                                        </div>
                                                         <div class="col-xl-1">
                                                            
                                                                    <i class="el-icon-view"></i>
                                                                    <i class="el-icon-download"></i>
                                                                    <el-button type="danger" icon="el-icon-delete"></el-button>

                                                        </div>

                            </div>

                            <!-- deuxieme block document -->

                             <div class="row ">
                                <div class="col-xl-3 mb-1">    
                                         <input type="text" class="form-control" id="inlineFormInput" placeholder="nom de la pièce jointe">                                          
                                </div>
                                        <div class="col-xl-1">
                                                <i class="el-icon-s-platform"></i>
                                        </div>
                                                <div>
                                                    <button>
                                                        <i class="el-icon-view"></i>
                                                    </button>
                                                </div>           
                                                    <div class="col-xl-6">
                                                            <span>je vend des habits à bon prix salutttt</span>
                                                    </div>
                                                        <div class="col-xl-1">
                                                            
                                                                    <i class="el-icon-view"></i>
                                                                    <i class="el-icon-download"></i>
                                                                    <el-button type="danger" icon="el-icon-delete"></el-button>
                                                        </div>

                            </div>
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h4 class='titre-footer'><i class="el-icon-circle-plus"></i> Ajouter une pièce</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                             
                                 
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
    
</template>
<script>
export default {
    props: ['model', 'newArticle' , 'validations'],
    data() {
        return {
            plus: false,
        }
    },
    methods: {
         async hideSection() {
            this.plus = !this.plus;
            $("#content-1").toggle()
            $("#content-2").toggle()
            $("#content-3").toggle()
            $("#content-4").toggle()
        },
    },
    created() {
        
    },
}
</script>
<style>
.titre{
    color: rgb(79, 147, 236);
}
.text-muted{
    font-style: italic;
}
.titre-footer{
    color: orange;
}
td, th{
    border: 1px solid #ffff !important;
}
th{
    background-color: #409eff !important;
    color: #ffff !important;
    text-align: center !important;
}
.test{
    border: none !important;;
    color: rgb(7, 7, 7) !important;;
    font-size: 20px !important;; 
    cursor: pointer !important;; 
}
</style>