<template>
    <div>
        <div class="row header">
            <div class="col-12">
                <el-form-item label="Libelle">
                    <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.titre.$error }">
                          <span class="input-group-text material-icons-outlined" id="basic-addon1">create</span>
                        <input type="text" class="form-control"  v-model="newArticle.titre"  
                        v-model.trim="validations.newArticle.titre.$model">
                    </div>
                    <div class="error warn" v-if="validations.newArticle.titre.$error">Ce champ est requis</div>
                </el-form-item>
            </div>
            
            <div class="col-xl-5 col-12">
                <el-form-item label="Prix.Achat.U">
                    <div class="input-group" :class="{ 'form-group--error': validations.newArticle.prixTTC.$error }">
                        <span class="input-group-text material-icons-outlined" id="basic-addon1">payments</span>
                        <input type="text" class="form-control"  v-model="newArticle.prixTTC"
                         v-model.trim="validations.newArticle.prixTTC.$model">
                        <div class="input-group-prepend w-30">                            
                            <div class="input-group-text b-white w-100">TTC</div>
                        </div>
                    </div>
                    <div class="error warn" v-if="validations.newArticle.prixTTC.$error">Ce champ est requis</div>
                </el-form-item>
                <el-form-item label=".">
                    <div class="input-group" :class="{ 'form-group--error': validations.newArticle.prixHT.$error }">
                        <span class="input-group-text material-icons-outlined" id="basic-addon1">payments</span>
                        <input type="text" class="form-control"  v-model="newArticle.priHT" v-model.trim="validations.newArticle.prixHT.$model">
                        <div class="input-group-prepend w-30">
                            <div class="input-group-text b-white w-100">HT</div>
                        </div>
                    </div>
                    <div class="error warn" v-if="validations.newArticle.prixHT.$error">Ce champ est requis</div>
                </el-form-item>

                        <el-form-item label="TVA">
                        <div class="input-group" :class="{ 'form-group--error': validations.newArticle.tva.$error }">
                            <span class="input-group-text material-icons-outlined" id="basic-addon1">receipt_long</span>
                            <input type="text" class="form-control"  v-model="newArticle.tva">
                            <div class="input-group-prepend w-30">
                                <select id="" class="form-control" v-model.trim="validations.newArticle.tva.$model">
                                    <option>18%</option>
                                    <option>20%</option>
                                    <option>9.5%</option>
                                    <option>5.5%</option>
                                </select>                               
                            </div>
                        </div>
                        <div class="error warn" v-if="validations.newArticle.tva.$error">Ce champ est requis</div>
                    </el-form-item>      
                             
            </div>
            <div class="col-xl-5 col-12 ma-super-classe">
                <el-form-item label="Gamme" :disabled="!model.gamme" v-model="newArticle.gamme"> 
                   <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.tva.$error }">
                    <span class="input-group-text material-icons-outlined" id="basic-addon1">layers</span>
                    <select id="" class="form-control"  v-model.trim="validations.newArticle.gamme.$model">
                        <option>Gamme 1</option>
                        <option>Gamme 2</option>
                    </select>
                   </div>
                </el-form-item>                
                <el-form-item label="Description">
                    <div class="input-group mb-2" :class="{ 'form-group--error': validations.newArticle.tva.$error }">
                    <span class="input-group-text material-icons-outlined" id="basic-addon1">create</span>
                    <textarea rows="4" class="form-control" placeholder="Entrer une description"  v-model="newArticle.description"></textarea>
                    </div>
                </el-form-item>
            </div>
            <!------------------------- Uploder un fichier ---------------------------------------------->
            <div class="col-xl-2 col-lg-6 ml-auto col-6 col-12">
                  <el-dialog :visible.sync="dialogVisible" width="30%">
                    <div v-if="!previewImage">
                        <cropper 
                        ref="cropper"
                        :src="newArticle.image" 
                        :stencil-props="{
                        aspectRatio:10/10,
                        movable: true,
                        scalable: true,
                            }"
                            :canvas="{
                                maxHeight: 2048,
		                        maxWidth: 2048,
                            }"
                        class='img-responsive cropper'/>
                    </div>
                    <div v-if="previewImage">
                        <cropper 
                        :canvas="{
                                maxHeight: 256,
		                        maxWidth: 256,
                            }"
                        :src="previewImage"
                        ref="cropper"
                        :stencil-props="{
                        aspectRatio:10/10
                            }"
                         class='img-responsive cropper'/>
                    </div>
                    <button type="button" class="btn btn-primary" @click.prevent="crop">Confirmer</button>
                    <!-- <button type="button" class="btn btn-secondary" >Annuler</button>  -->
                </el-dialog>
                <div class="upload-image">
                    <div v-if="newArticle.id">
                        <img :src="newArticle.image" class='img-responsive'> 
                    </div>
                    <div v-else>
                        <img v-if="previewImage" :src="previewImage" class='img-responsive'>        
                        <img v-if="!previewImage" src="../../../../../../images/erp/newimage.jpg" class='img-responsive'>
                        <input type="file" accept="images/*" class="form-control"  @change="uploadImage($event)">
                    </div>
                </div>
                <p class="upload-text mt-3 text-center">Photo</p>
            </div>
        </div>
    </div>
</template>
<script>
import { Cropper } from 'vue-advanced-cropper';
export default {
    components: {
		Cropper,
	},
    props: ['model', 'newArticle', 'validations'],
    data() {
          return {
              coordinates: {
				width: 120,
				height: 120,
				left: 0,
				top: 0,
			},
            dialogVisible: false,
            image: null,
            canvas: null,
            type: 'produit',
            paramModal: false,
            previewImage: '',
             resume: [
                {
                    label: '',
                    type: '1',
                    child: [
                        {
                            libelle: ''
                        }
                    ],
                    active: false
                }
            ],
            detail: [
                {
                    label: '',
                    type: '1',
                    child: [
                        {
                            libelle: ''
                        }
                    ],
                    active: false
                }
            ],
            types: [
                {
                    id: '1',
                    libelle: 'Input'
                },
                {
                    id: '2',
                    libelle: 'Zone de saisie'
                },
                {
                    id: '3',
                    libelle: 'Select'
                },
            ]
        }
    },
     methods: {
        addDetail() {
            this.detail.push({label: '', type: '1', child: [], active: false})
        },
        addResume() {
            this.resume.push({label: '', type: '1', child: [], active: false})
        },
        addOptionRes(key) {
           this.resume[key].child.push({libelle: ''})
        },
        addOption(key) {
           this.detail[key].child.push({libelle: ''})
        },
        openParamModal() {
            this.paramModal = true;
        },  
        /** Uploader un fichier */
          uploadImage(e) {
            var reader = new FileReader();
            if(e.target.files[0]) {
                this.newArticle.image = e.target.files[0];
                reader.readAsDataURL( e.target.files[0]);
                reader.onload = () => {
                    this.previewImage = reader.result;
                },
                this.dialogVisible = true;
            }
        },
          // fonction de cropper
          crop() {
            const { coordinates, canvas } = this.$refs.cropper.getResult();
			this.coordinates = coordinates;
            const imgCrop = canvas.toDataURL();
            this.previewImage = imgCrop;
            this.dialogVisible = false;
            }, 
        
    },
    // created() {
    //     this.previewImage = ''
    // },
}
</script>

<style>
/** Upload File */
    .upload-text{
        color: #000 !important;
    }
    .upload-image{
        height: 80%;
        position: relative;
    }
    .upload-image input[type=file]{
           opacity: 0;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            z-index: 100;
            cursor: pointer;
    }
    .upload-image img{
        width: 100%;
        height: 70% !important;
        object-fit: cover;
    }
/** Couleur des icons */
.material-icons-outlined{
    font-family: "Material Icons Outlined";
   color: rgb(255, 255, 255) !important;
}
.couleur-icons {
    background-color: rgb(231, 159, 65);
    color: rgb(255, 255, 255);
}
.input-group-text{
    width: 50px !important;
    background-color: rgb(231, 159, 65);
}
/** contrôle du formulaire*/
    .form-group--error input{
        border: 1px solid red;
    }
    .el-radio__label{
        font-size: 21px;
    }
    .form-group--error .warn{
        color: red;
    }
    .warn{
        color: red;
    }
    .el-form-item{
        margin-bottom: 5px !important;
    }
    
/**fin du contrôle du formulaire*/

    @media (max-width: 576px) {
        .el-radio__label{
            font-size: 13px !important;
        }
        .el-form-item .el-form-item__label{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__label-wrap{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__content{
            margin-left: 0 !important;
        }
    }
</style>