/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*******************
/*Top bar
*******************/
.topbar {
    background: #1E58B3;
}
.topbarbp {
    background: #1E58B3;
    position:fixed;
    width:100%

}

.topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}

.topbarbp .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}
.topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: #ffffff !important;
}
.topbarbp .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: #ffffff !important;
}


.topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.8) !important;
}

/*******************
/*General Elements
*******************/
.lstick {
    background: #1976d2;
}

a.link:hover, a.link:focus {
    color: #1976d2 !important;
}

.bg-theme {
    background-color: #1976d2 !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #1976d2;
    border-color: #1976d2;
}

.right-sidebar .rpanel-title {
    background: #1976d2;
}

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
    border-left: 4px solid #1976d2;
}

.text-themecolor {
    color: #1976d2 !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
    border-bottom: 2px solid #1976d2;
    color: #1976d2;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
    color: #1976d2;
}

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
    background: #1976d2;
    color: #ffffff;
    border: 1px solid #1976d2;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
    background: #1976d2;
    opacity: 0.7;
    border: 1px solid #1976d2;
}

.btn-themecolor.active, .btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
    background: #028ee1;
}

/*******************
/*sidebar navigation
*******************/
.label-themecolor {
    background: #1976d2;
}

.sidebar-nav > ul > li.active > a {
    color: #00ba8b;
    border-color: #1976d2;
}

.sidebar-nav > ul > li.active > a i {
    color: #ffffff !important;
}

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #ffffff;
}

.sidebar-nav ul li a:hover {
    background-color: #00ba8b !important;
}


.sidebar-nav ul li a.active i {
    color: #00ba8b;
}

.sidebar-nav ul li a:hover i {
    color: #ffffff;
}

.sidebar-nav > ul > li > a i {
    color: #ffffff;
}
