<template>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
         
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste de projets ({{ this.tableData.length }} ) </h4>
                        <el-table
                            ref="multipleTable"
                            :data="tableData"
                            v-loading="loadingTable"
                            stripe
                            :header-cell-style="tableHeaderColor"
                            style="width: 100%">
                            <el-table-column
                                type="selection"
                                width="30">
                            </el-table-column>
                             <el-table-column
                                    fixed="left"
                                    label="Dénomination"
                                    width="210">
                                    <template slot-scope="scope">
                                                       
                                        <el-popover
                                            placement="top-start"
                                            width="210"
                                            trigger="hover"
                                            >
                                            <strong slot="reference">{{scope.row.titre| cyb_title_plit | capitalized}}</strong>
                                            <span > {{ scope.row.titre | capitalized }}  </span>
                                       
                                        </el-popover>
                                                        
                                    </template>
                            </el-table-column>
                             <el-table-column
                                    label="Nom"
                                    width="200">
                                    <template slot-scope="scope">
                                                       
                                         <el-popover
                                            placement="top-start"
                                            width="200"
                                            trigger="hover"
                                            >
                                            <span slot="reference">{{scope.row.user.first_name| cyb_title_plit | capitalized}}</span>
                                            <span > {{ scope.row.user.first_name | capitalized }}  </span>
                                       
                                        </el-popover>
                                                        
                                    </template>
                            </el-table-column>
                              <el-table-column
                                    label="Prénom"
                                    width="200">
                                    <template slot-scope="scope">
                                                       
                                         <el-popover
                                            placement="top-start"
                                            width="200"
                                            trigger="hover"
                                            >
                                            <span slot="reference">{{scope.row.user.last_name| cyb_title_plit}}</span>
                                            <span > {{ scope.row.user.last_name}}  </span>
                                       
                                        </el-popover>
                                                        
                                    </template>
                            </el-table-column>
                              <el-table-column
                                    label="Téléphone"
                                    width="200">
                                    <template slot-scope="scope">
                                                       
                                        <p>{{scope.row.user.telephone}}</p>
                                                        
                                    </template>
                            </el-table-column>
                             <el-table-column
                                    label="Email"
                                    width="200">
                                    <template slot-scope="scope">
                                                       
                                        <p>{{scope.row.user.email}}</p>
                                                        
                                    </template>
                            </el-table-column>
                             <el-table-column
                                  
                                    label="Programme"
                                    width="200">
                                    <template slot-scope="scope">
                                                       
                                        <p v-if="scope.row.program">{{scope.row.program.libelleConcours}}</p>
                                                        
                                    </template>
                            </el-table-column>
                            <el-table-column
                                    label="SIGLE"
                                    width="200">
                                    <template slot-scope="scope">
                                                       
                                        <p>{{scope.row.sigle}}</p>
                                                        
                                    </template>
                            </el-table-column>
                            <el-table-column
                            label="Forme Juridique"
                            width="150">
                            <template slot-scope="scope">
                                                        
                                <div slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{scope.row.formJuridique}}</el-tag>
                                </div>
                                                       
                            </template>
                            </el-table-column>
                               
                              
                              
                            <el-table-column
                            label="Statut Activité"
                            width="150">
                            <template slot-scope="scope">
                                                        
                                <div slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.statutActivite }}</el-tag>
                                </div>
                                                       
                            </template>
                            </el-table-column>
                            <el-table-column
                            label="Etat Enregistrement"
                            width="200">
                            <template slot-scope="scope">
                                                        
                                <div slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.etat }}</el-tag>
                                </div>
                                                       
                            </template>
                            </el-table-column>
                             <el-table-column
                            label="Date "
                            width="150">
                            <template slot-scope="scope">
                                 <el-popover
                                    placement="top-start"
                                    width="200"
                                    trigger="hover"
                                    >
                                    <el-tag  slot="reference" size="medium">
                                    <i class="el-icon-time"></i>
                                    <span v-if="scope.row.createdAt" style="margin-left: 10px">{{  new Date(scope.row.createdAt.seconds*1000) | moment("Do MMMM YYYY") | cyb_date_split }} </span>
                                    </el-tag>
                                    <span > {{  new Date(scope.row.createdAt.seconds*1000) | moment("Do MMMM YYYY") }}  </span>
                                       
                                </el-popover>
                            </template>
                            </el-table-column>
                        
                                       
                            <el-table-column
                            fixed="right"
                            label="Statut"
                            width="120"
                            >
                                                    
                            <template v-if="scope.row.statut=='Evalué'" slot-scope="scope">
                                  
                                <el-button
                                size="mini"
                                type="success"
                                >{{scope.row.statut}}</el-button>
                                                         
                            </template>
                                <template v-else slot-scope="scope">
                                  
                                    <el-button
                                    size="mini"
                                    type="danger"
                                    >{{scope.row.statut}}</el-button>
                                                         
                                </template>
                            </el-table-column>
                           
                            <el-table-column
                            v-if="ecrire"
                            fixed="right"
                            label="Evaluation"
                            width="100"
                            >
                                                    
                            <template slot-scope="scope">
                                <el-button
                                @click="makeEvaluation(scope.row.id)"
                                size="mini"
                                icon="mdi mdi-launch"
                                v-loading.fullscreen.lock="fullscreenLoading"
                                element-loading-background="#ffffff05"
                                ></el-button>
                                    
                                                         
                            </template>
                            </el-table-column>
                            <el-table-column
                            fixed="right"
                            label="Actions"
                            width="200">
                            <template slot-scope="scope">
                                <el-tooltip content="Créer une action" placement="top">
                                    <el-button icon="el-icon-s-order" v-if="scope.row.comment === ''" size="mini"  @click="$refs.PlanAction.openModalAction(scope.row.comment,scope.row)"></el-button>
                                    <el-button icon="el-icon-s-order" v-else size="mini"  @click="$refs.PlanAction.openModalAction(scope.row.comment,scope.row)"></el-button>
                                </el-tooltip>
                                 <el-tooltip content="orientation" placement="top">
                                  <el-button size="mini" @click="$refs.Orientation.openModalOriantation(scope.row.idSummary,scope.row.adminId)"><i class="mdi mdi-exit-to-app"></i></el-button> 
                                 </el-tooltip>  
                                 <el-tooltip content="Messages" placement="top">
                                      <el-button size="mini"
                                    icon="el-icon-s-promotion" 
                                    @click="$refs.Message.loadModalMessage(scope.row.user)"
                                    ></el-button>   
                                </el-tooltip>  
                                                       
                            </template>
                            </el-table-column>
                               
                        </el-table>       

                       

                    </div>
                </div>
            </div>
        </div>

        <el-dialog
        title="Créer une action"
        :visible.sync="dialogComment"
        width="70%"
        >
        <el-tabs type="card" v-model="activeTabAction" @tab-click="handleClickAction">
            <el-tab-pane name="creer-action" label="Créer">
                    <div class="py-3 font-weight-bold">Etat <span class="text-danger">*</span></div>
                    <div>
                        <el-radio v-model="action.etat" label="1" border size="medium">A Faire</el-radio>
                        <el-radio v-model="action.etat" label="2" border size="medium">En Cours</el-radio>
                        <el-radio v-model="action.etat" label="3" border size="medium">Terminé</el-radio>
                    </div>
                     <!-- <div class="py-3 font-weight-bold">Message <span class="text-danger"></span></div> -->
                      <!-- <div>
                        <el-checkbox v-model="message.email" label="1" border size="medium">Email</el-checkbox>
                        <el-checkbox v-model="message.notif" label="2" border size="medium">Notification</el-checkbox>
                        <el-checkbox v-model="message.sms" label="3" border size="medium">SMS</el-checkbox>
                    </div> -->
                    <div class="py-3 font-weight-bold">Titre <span class="text-danger">*</span></div>
                    <input type="text" required v-model="action.titre" class="form-control" placeholder="Titre">
                    <div class="py-3 font-weight-bold">Description <span class="text-danger">*</span></div>
                    <vue-editor id="comment" v-model="commentContent"  :editorToolbar="customToolbar" ></vue-editor>
                    <!-- <el-row calss= :gutter="20">
                    <el-col :span="12"><div class="grid-content ">
                        <el-date-picker
                        v-model="action.dates.debut"
                        type="date"
                        placeholder="Date début"
                        format="dd-MMMM-yyyy"
                        value-format="dd-MMMM-yyyy">
                        </el-date-picker>
                    </div></el-col>
                    <el-col :span="12"><div class="grid-content ">
                        <el-date-picker
                        v-model="action.dates.fin"
                        type="date"
                        placeholder="Date fin"
                        format="dd-MMMM-yyyy"
                        value-format="dd-MMMM-yyyy">
                        </el-date-picker>   
                            
                    </div></el-col>
                    </el-row> -->
                    <el-date-picker
                        style="width: 100%;"
                        class="mt-3"
                        format="dd-MMMM-yyyy"
                        value-format="dd-MMMM-yyyy"
                        v-model="action.dates"
                        type="daterange"
                        range-separator="à"
                        start-placeholder="Date de début"
                        end-placeholder="Date de fin"
                        :default-value="new Date()">
                    </el-date-picker>
                    <div class="footer-modal">
                    <el-button @click="dialogComment = false">Fermer</el-button>
                      
                        <el-button v-if="editMode" type="primary" :loading="loadingComment" @click="saveEditAction()">Modifier</el-button>
                            <el-button v-else type="primary" :loading="loadingComment" @click="saveAction()">Confirmer</el-button>
                            
                    </div>
                    
                </el-tab-pane>
            <el-tab-pane name="liste-action" label="Liste">
                <el-row :gutter="10">
                <el-col :span="2">  <el-button type="success" size="mini"  circle></el-button> <span class="number-task">{{ getSumActionDone(this.actionsData) }}</span>
                </el-col>
                <el-col :span="6">  
                <el-progress class="percentage" :percentage="percentActionsDone(this.actionsData)" :format="format" color="#67C23A"></el-progress>
                </el-col>

                <el-col :span="2">  <el-button type="warning" size="mini"  circle></el-button> <span class="number-task">{{getSumActionInProgress(this.actionsData)}}</span>
                </el-col>
                <el-col :span="6">  
                <el-progress class="percentage" :percentage="percentActionsInProgress(this.actionsData)" :format="format" color="#E6A23C"></el-progress>
                </el-col>


                <el-col :span="2">  <el-button type="info" size="mini"  circle></el-button> <span class="number-task">{{getSumActionNotStarted(this.actionsData)}}</span>
                </el-col>
                <el-col :span="6">  
                <el-progress class="percentage" :percentage="percentActionsNotStarted(this.actionsData)" :format="format" color="#909399"></el-progress>
                </el-col>

                <!-- <el-col :span="8"> <el-button type="info" size="mini" icon="el-icon-message" circle></el-button></el-col>
                <el-col :span="8">  <el-button type="warning" size="mini" icon="el-icon-star-off" circle></el-button></el-col> -->
                </el-row>
                <el-table 
                    :data="actionsData">
                    <el-table-column
                    label="Titre"
                    width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px"><strong>{{ scope.row.titre | cyb_txt_split }}</strong> </span>                                                            
                    </template>
                    </el-table-column>
                    <el-table-column
                    label="Description"
                    width="150">
                    <template slot-scope="scope">
                        <el-popover
                            placement="top-start"
                            :title="scope.row.titre"
                            width="400"
                            trigger="hover"
                        >
                            <span  :inner-html.prop="scope.row.description">{{scope.row.description}}</span>
                            <span slot="reference" :inner-html.prop="scope.row.description | cyb_txt_split ">{{scope.row.description}}</span>
                        </el-popover>
                    
                        <!-- <span style="margin-left: 10px">{{ scope.row.description }} </span>                                                             -->
                    </template>
                    </el-table-column>    
                    <el-table-column
                    label="Date début"
                    width="160">
                    <template slot-scope="scope">
                        <i class="el-icon-time"></i>
                        <span style="margin-left: 10px">{{  scope.row.dates[0] }} </span>                                                            
                    </template>
                    </el-table-column>  
                    <el-table-column
                    label="Date Fin"
                    width="160">
                    <template slot-scope="scope">
                        <i class="el-icon-time"></i>
                        <span style="margin-left: 10px">{{   scope.row.dates[1] }} </span>                                                            
                    </template>
                    </el-table-column>  
                    <el-table-column
                    label="Crée le"
                    width="150">
                    <template slot-scope="scope">
                        <i class="el-icon-time"></i>
                        <span style="margin-left: 10px">{{  new Date(scope.row.createdAt.seconds*1000) | moment("Do MMMM YYYY") }} </span>                                                            
                    </template>
                    </el-table-column>  
                    <el-table-column 
                    fixed="right"
                    label="Etat"
                    width="150"
                    >                            
                    <template  slot-scope="scope"> 
                          
                        <el-button
                            v-if="scope.row.etat=='1'"
                            size="mini"
                            > A faire
                        </el-button>  
                        <el-button
                            v-if="scope.row.etat=='2'"
                            size="mini"
                            type="warning"
                            > En cours
                        </el-button> 
                        <el-button
                            v-if="scope.row.etat=='3'"
                            size="mini"
                            type="success"
                            > Terminé
                        </el-button>   
                        <!-- <el-button
                        v-else
                        size="mini"
                        type="warning"
                        @click="switchState(scope.row.id,scope.row.etat)"
                        > En cours</el-button> -->
                        <el-dropdown trigger="click">
                            <span >
                                <i class="fas fa-ellipsis-v cyb-white"></i> 
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item  @click.native="switchState(scope.row.id,1,scope.row)">A Faire</el-dropdown-item>
                                <el-dropdown-item  @click.native="switchState(scope.row.id,2,scope.row)">En cours </el-dropdown-item>
                                <el-dropdown-item  @click.native="switchState(scope.row.id,3,scope.row)">Terminé</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>     
                        <!-- <el-tooltip :content="'Valeur de l\'état: ' + value" placement="top">
                        <el-switch
                            v-model="value"
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            active-value="100"
                            inactive-value="0">
                        </el-switch>
                        </el-tooltip>
                                                    -->
                    </template>
                    </el-table-column>  
                    <el-table-column 
                    fixed="right"
                    label="Modifier"
                    width="100"
                    >                            
                    <template  slot-scope="scope">       
                        <el-button
                        icon="el-icon-edit" 
                        size="mini"
                        @click="editAction(scope.row.id)"
                        > </el-button>
                           
                                                         
                    </template>
                    </el-table-column> 
                    <!-- <el-table-column 
                    fixed="right"
                    label="Supprimer"
                    width="100"
                    >                            
                    <template  slot-scope="scope">       
                        <el-popconfirm
                        confirmButtonText='Oui'
                        cancelButtonText='Non'
                        icon="el-icon-info"
                        iconColor="red"
                        @onConfirm="deleteAction(scope.row.id,index)"
                        title="Voulez vous vraiment supprimer cet élément??"
                        >
                        <el-button  size="mini"  type="danger" icon="el-icon-delete"  slot="reference"></el-button>
                        </el-popconfirm>
                           
                                                         
                    </template>
                    </el-table-column>    -->
                        
                </el-table>
            </el-tab-pane>
               
                
        </el-tabs>
            <!-- <span slot="footer" class="dialog-footer">
                   
            </span> -->
         

    
            
        </el-dialog>
         <Message ref="Message" />
         <Orientation ref="Orientation" />
          <PlanAction ref="PlanAction" />
         


    </div>

</template>


<script>
    import {FormWizard, TabContent} from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import helper from '../../../services/helper'
    import action  from "../../bp/mixins/admin/actionPlan.js"
    import firebase from 'firebase'
    import {StarRating} from 'vue-rate-it'
    import 'vue-good-table/dist/vue-good-table.css'
    import currenciesMaskMixin from '../../bp/mixins/currenciesMask'
    import Message from '../concours/components/message'
    import Orientation from '../concours/components/orientation'
    import PlanAction from '../concours/components/planAction'
    import { VueEditor, Quill } from "vue2-editor"
    
    export default {
        components: {
            FormWizard,
            TabContent,
            StarRating,
            VueEditor,
            Message,
            Orientation,
            PlanAction       
        },
        mixins:[helper,action],
        
        name: 'ProjetsList',
        data() {
            return {
                planActionRef:firebase.firestore().collection('planAction'),
                currentUId:JSON.parse(localStorage.getItem('userSession')).uid,
                adminId:JSON.parse(localStorage.getItem('userSession')).adminId,
                summaryRef:firebase.firestore().collection('summary'),
                users: firebase.firestore().collection('users'),
                ref: firebase.firestore().collection('summary'),
                notifyRef: firebase.firestore().collection('notifications'),
                messageRef: firebase.firestore().collection('notifications'),
                actionsData:[],
                notify:{
                },
                message:{
                    email:true,
                    notif:false,
                    sms:false,
                    stateEmail:false,
                    stateNotify:false,
                    stateSms:false,
                    errorEmail:'',
                    errorSms:'',
                    errorNotify:'',
                    archive:false
                },
                activeTabAction:'creer-action',
                loadingTable:false,
                idSummarySelected:'',
                editActionId:'',
                editMode:false,
                dialogComment:false,
                lire:false,
                ecrire:false,
                action:{
                    dates:'',
                    titre:'',
                    description:'',
                    etat:"1"
                },
                rating1:0,
                rating2:0,
                rating3:0,
                rating4:0,
                rating5:0,
                dataTable:null,
                projets: [],
                tableData:[],
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['bold', 'italic', 'underline', 'strike'], // toggled buttons

                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    // [{ 'font': [] }],
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme

                    ['clean']                                         // remove formatting button
                ],
                // userId:'',
                format:{},
                errors: [],
                columns: [
                    {
                        label: 'Identifiant',
                        field: 'identifiant',
                    },
                    {
                        label: 'Titre',
                        field: 'titre',
                        filterable: true,
                    },
                    {
                        label: 'Forme Juridique',
                        field: 'formJuridique'
                    },
                    {
                        label: 'Statut',
                        field: 'statut'
                    },
                    {
                        label: 'Action',
                        field: 'action',
                        html: true
                    },
                ],
                rows: [],
            }
        },
        created () {

            this.$route.params.data.forEach(item=>{
                if(item=='lire'){
                this.lire=true
                }
                if(item=='ecrire'){
                this.ecrire=true
                }
            })
            this.$loading().close();
            let userId = '';
            let userMail = '';
            if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    userId = userInfo.uid;     
                    userMail = userInfo.email;     
            };

            this.getListProjects()

            

        },
        methods: {

            getListProjects(){

                this.ref
                .where('eval', '==', this.users.doc(this.currentUId))
                // .where('statut', '==', 'Non Evalué')
                .onSnapshot((querySnapshot) => {
                    this.projets = [];
                    this.tableData=[];
                    querySnapshot.forEach((doc) => {
                        let obj = doc.data();
                         obj.idSummary = doc.id;
                         obj.id = doc.id
                        if(obj.concoursId){ 
                             obj.concoursId.get().then(prog=>{
                             obj.program=prog.data()
                                 this.users.doc(obj.user).get().then(async(user)=>{
                                 obj.user=user.data()
                                 obj.user.id=user.id
                                 this.tableData.push(obj); 
                                })
                                
                            })
                        }else{
                              this.tableData.push(obj); 
                        }
                        // this.tableData.push(obj)
                 
                    //    console.log(this.rows);
                    });
                });
            },
            
            getAuthUserFullName(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let profileName = userInfo.displayName;
                    this.userId = userInfo.uid;
                    return profileName           
                }   
            },
            makeEvaluation(id){
                this.$router.push('/bp/admin/evaluation/'+id);   
            },
         
  
            handleClickAction(){
                switch(this.activeTabAction){

                    case "creer-action":
                    this.editMode=false
                    break

                    case "liste-action":
                    this.actionsData=[];
                    this.getActions()
                    break

                   
                }    
            },
             tableHeaderColor({ row, column, rowIndex, columnIndex }) {
            if (rowIndex === 0) {
                return 'background-color: #F5F7FA;;color: #606266;font-weight: 800;'
            }
            },
         

        },
       
    }
</script>

<style>
    .strikethrough{
        text-decoration: line-through;
    }
</style>

<style>
    .strikethrough{
        text-decoration: line-through;
    }

    H1 {
        font-weight: 900;
    }

    #bizcanvas {
        border: 3px solid #3160AA;
        width: 100%;
    }

    #bizcanvas td {
        vertical-align: top;
        height: 200px;
        width: 200px;
        padding: 6px;
    }

    /* icon des cases bus. model*/
    [class^="icon-"], [class*=" icon-"] {
        font-size: 18px;
        margin-right: 5px;
    }

    #bizcanvas H4 {
        font-weight: 700;
        font-size: 1em;
    }

    h4 a {
        color: #3160AA;
    }

    #bizcanvas H5 {
        font-weight: 700;
        font-size: 0.7em;
    }

    #bizcanvas p {
        font-weight: 300;
        font-size: 0.8em;
    }

    textarea {
        width: 96%;
        max-width: 96%;
        min-width: 96%;
        padding: 10px 2%;
        height: 240px;
        border: none;
    }

    .my-card {
        border: solid 1px #398bf7 !important;
    }
    .footer-modal{
        padding-top: 10px;
        float: right;
    }
</style>