<template>
    <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->


    <div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"><b>Tableau de bord</b></h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/bp/home">Accueil</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="bp/suivi"> Bp</a>
                </li>
                <li class="breadcrumb-item">Dashboard</li>
               
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card bg-info">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Total recette</h6>
                            <h2 class="m-t-0 text-white">953</h2></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Total vente</h6>
                            <h2 class="m-t-0 text-white">236</h2></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Solde</h6>
                            <h2 class="m-t-0 text-white">987</h2></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Client</h6>
                            <h2 class="m-t-0 text-white">987</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Line Chart</h4>
                    <div id="morris-line-chart"></div>
                </div>
            </div>
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Donute Chart</h4>
                    <div id="morris-donut-chart"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
</template>

<script>
    // // import helper from '../../services/helper'
    // import firebase from 'firebase'
 
 export default{

     created(){
         this.$loading().close()
     }
 }
   
</script>

