<template>
    <div>
        <div class="container">
            <div class="">
                <div class="title-box" data-appear-animation="fadeInLeft">
                    <h1 class="title" style="font-size: 25px;">{{title}}</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
               <formation
                    v-for="oneFormation in allFormations"
                    v-bind:key="oneFormation.id"
                    v-bind:prix="oneFormation.prix"
                    v-bind:libelle="oneFormation.libelle"
                    v-bind:pathImg="oneFormation.pathImg"
                    v-bind:name="oneFormation.name"
                >
                </formation>
            </div>
        </div>
    </div>
</template>

<script>

    import formation from "./formation";

    export default {
        props: {
            formations: Array,
            title: String
        },
        data () {
            return {
                allFormations: []
            }
        },
        components: {
            formation
        },
        mounted () {
            this.allFormations = this.formations
        }
    }
</script>

