<template>
    <a :href="/formation/ + name">
        <div class="col-sm-1 col-md-1 employee">
            <div class="default">
            <div class="image">
                <img class="replace-2x" :src="pathImg" data-appear-animation="fadeInDown" alt="" title="" width="270" height="270">
            </div>
            <div class="description">
                <div class="vertical">
                <h3 class="name">{{ libelle}}</h3>
                <div class="role">{{ prix}}</div>
                </div>
            </div>
            </div>
        </div>
    </a><!-- .employee -->
</template>

<script>
    export default {
        props: {
            id: Number, pathImg: String, libelle: String, prix: Number, name: String
        },
        created(){
            this.$loading().close()
        }
    }
</script>

