<template>
    <b-badge pill :variant="badgeClassColor">{{actual}}/{{total}}</b-badge>
</template>

<script>
import BootsrapVue from 'bootstrap-vue'
import { BBadge } from 'bootstrap-vue'

export default {
    name: 'annotationBadge',
    components: {'b-badge': BBadge},
    props: {
        actual: {
            type: Number, required:true, default:0
        },
        total: {
            type: Number, required:true, default:0
        }
    },
    data(){
        return {

        }
    },
    computed: {
        badgeClassColor: {
            get: function() {
                let classColor = 'danger';
                let level = this.actual * 100 / this.total;
                switch (true) {
                    case (level <= 20):
                        return 'danger';
                        break;
                    case (level > 20 && level <= 40):
                        return 'warning';
                        break;
                    case (level > 40 && level <= 70):
                        return 'info';
                        break;
                    case (level > 70 && level <= 100):
                        return 'success';
                        break;
                };
                return classColor;
            }
        }
    }
}
</script>