<template>
    <el-dialog title="Shipping address" :visible.sync="visibility">
        <el-form :model="form">
            <el-form-item label="Promotion name" :label-width="formLabelWidth">
            <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Zones" :label-width="formLabelWidth">
            <el-select v-model="form.region" placeholder="Please select a zone">
                <el-option label="Zone No.1" value="shanghai"></el-option>
                <el-option label="Zone No.2" value="beijing"></el-option>
            </el-select>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">Cancel</el-button>
            <el-button type="primary" @click="dialogFormVisible = false">Confirm</el-button>
        </span>
    </el-dialog>
</template>

<script>
    import {isNullOrUndefined} from 'util'
    export default {
        props: {
            visibility: {
                type: Boolean,
                required: true,
            },
            item: {
                type: Object,
                required: true,                
            },
            dataType: {
                type: String,
                required: true,
                validator: function (value) {
                    return true
                /* La valeur passée doit être l'une de ces chaines de caractères
                    return [
                        'immo.incorporelle',
                        'immo.corporelle',
                        'immo.financiere',
                        'bfr.ouverture',
                        'bfr.exploitation',
                        'capital',
                        'compte',
                        'emprunt',
                        'subvention'
                    ].indexOf(value) !== -1 */
                }
            }
        },
        computed: {
        }
    }
</script>
    