<template>
  <div class="tab-pane active">
    <form-wizard
      step-size="sm"
      title subtitle
      nextButtonText="Suivant"
      backButtonText="Précédent"
      finishButtonText="Enregistrer"
      color="#61b174"
      shape="circle"
    >
      <tab-content title="1. Apport Capital" icon="ti-user">

        <div class="card-header mt-2 mb-4 bg-info text-white">
          <span class="text-left">Total Capital</span>
          <vue-numeric
            :currency="currentCurrencyMask['currency']"
            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
            output-type="String"
            empty-value=0 read-only
            :precision="currentCurrencyMask['precision']"
            :decimal-separator="currentCurrencyMask['decimal-separator']"
            :thousand-separator="currentCurrencyMask['thousand-separator']"
            read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
            :value="0" >
          </vue-numeric>
        </div>

        <!-- capital numéraire -->        
        <div class="card-header mt-4">
            <span class="text-left">Total Apports Numéraires </span>
            <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                output-type="String"
                empty-value=0 read-only
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                v-model.number="subTotalCapAppNumeraire" >
            </vue-numeric>
        </div>
        <el-table
          :data="ressources.capital.numeraire"
          style="width: 100%" border
          :row-class-name="capitalRowClassName">
          <el-table-column label="Statut" :width="statusWidth" fixed="left">
              <template slot-scope="scope" class="text-center">
                  <el-progress type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="exception"  v-if="isProgressLevel(scope.row,'low') == true && scope.row.suivi==false" > </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'mid') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'full') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="success"> </el-progress>
                  <el-progress v-if="scope.row.suivi" type="dashboard" :percentage="100" :stroke-width="2" :width="40" status="success"> </el-progress>
              </template>
          </el-table-column>
          <el-table-column prop="apporteur" label="Titre" :width="titreWidth * 0.7"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.apporteur" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.apporteur}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="identite" label="Nom / Prénom" :width="titreWidth * 1.3"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.identite" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.identite}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="quantite" label="Quantité" :width="quantiteWidth">
              <template slot-scope="scope">
                  <input type="number" v-model.number="scope.row.quantite" class="form-control text-center"
                      @input="calculSubTotalCapAppNumeraire(ressources.capital.numeraire)" min="1" :disabled="scope.row.locked" />
              </template>
          </el-table-column>
          <el-table-column prop="montant" label="Apport unitaire" :width="unitWidth">
              <template slot-scope="scope" class="text-center">
                  <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                      v-bind:max="currentCurrencyMask.max"
                      v-bind:min="currentCurrencyMask.min"
                      :minus="currentCurrencyMask['minus']"
                      :output-type="currentCurrencyMask['output-type']"
                      empty-value="0 000 000" :disabled="scope.row.locked" 
                      @input="calculSubTotalCapAppNumeraire(ressources.capital.numeraire)"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="currentCurrencyMask['decimal-separator']"
                      :thousand-separator="currentCurrencyMask['thousand-separator']"
                      v-model.number="scope.row.montant"
                      class="form-control text-center">
                  </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Montant total" :width="totalWidth">
              <template slot-scope="scope" class="text-center">
                  <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                      output-type="String"
                      empty-value=0
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="currentCurrencyMask['decimal-separator']"
                      :thousand-separator="currentCurrencyMask['thousand-separator']"
                      read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                      read-only
                      :value="scope.row.montant * scope.row.quantite" >
                  </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Actions" fixed="right">
              <template slot-scope="scope" class="text-center">
                  <el-tooltip content="éditer" placement="top">                            
                      <el-button type="primary" size="mini" icon="el-icon-edit" circle @click="pushToForm(scope.row, 'incorporelle')"></el-button>
                  </el-tooltip>
                  <el-tooltip  v-if="scope.row.locked" content="déverouiller" placement="top">
                      <el-button type="danger" size="mini" icon="el-icon-lock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
                  <el-tooltip v-else content="verouiller" placement="top">                            
                      <el-button size="mini" icon="el-icon-unlock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
              </template>
          </el-table-column>
        </el-table>

        <div class="p-2">
            <button type='button' class="btn btn-sm btn-info m-3" @click="addNewRow('capitalnumeraire')">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>

        <!-- capital nature -->        
        <div class="card-header mt-2">
            <span class="text-left">Total Apports Nature </span>
            <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                output-type="String"
                empty-value=0 read-only
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                v-model.number="subTotalCapAppNature" >
            </vue-numeric>
        </div>
        <el-table
          :data="ressources.capital.nature"
          style="width: 100%" border
          :row-class-name="capitalRowClassName">
          <el-table-column label="Statut" :width="statusWidth" fixed="left">
              <template slot-scope="scope" class="text-center">
                  <el-progress v-if="isProgressLevel(scope.row,'low') == true && scope.row.suivi==false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="exception"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'mid') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'mid') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="success"> </el-progress>
                  <el-progress v-if="scope.row.suivi" type="dashboard" :percentage="100" :stroke-width="2" :width="40" status="success"> </el-progress>
              </template>
          </el-table-column>
          <el-table-column prop="apporteur" label="Titre" :width="titreWidth * 0.7"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.apporteur" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.apporteur}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="identite" label="Nom / Prénom" :width="titreWidth * 1.3"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.identite" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.identite}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="quantite" label="Quantité" :width="quantiteWidth">
              <template slot-scope="scope">
                  <input type="number" v-model.number="scope.row.quantite" class="form-control text-center"
                      @input="calculSubTotalCapAppNature(ressources.capital.nature)" min="1" :disabled="scope.row.locked" />
              </template>
          </el-table-column>
            <el-table-column prop="montant" label="Apport unitaire" :width="unitWidth">
                <template slot-scope="scope" class="text-center">
                    <vue-numeric
                        :currency="currentCurrencyMask['currency']"
                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                        v-bind:max="currentCurrencyMask.max"
                        v-bind:min="currentCurrencyMask.min"
                        :minus="currentCurrencyMask['minus']"
                        :output-type="currentCurrencyMask['output-type']"
                        empty-value="0 000 000" :disabled="scope.row.locked" 
                        @input="calculSubTotalCapAppNature(ressources.capital.nature)"
                        :precision="currentCurrencyMask['precision']"
                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                        v-model.number="scope.row.montant"
                        class="form-control text-center">
                    </vue-numeric>
                </template>
            </el-table-column>
            <el-table-column label="Montant total" :width="totalWidth">
                <template slot-scope="scope" class="text-center">
                    <vue-numeric
                        :currency="currentCurrencyMask['currency']"
                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                        output-type="String"
                        empty-value=0
                        :precision="currentCurrencyMask['precision']"
                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                        read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                        read-only
                        :value="scope.row.montant * scope.row.quantite" >
                    </vue-numeric>
                </template>
            </el-table-column>
            <el-table-column label="Actions" fixed="right">
                <template slot-scope="scope" class="text-center">
                    <el-tooltip content="éditer" placement="top">                            
                        <el-button type="primary" size="mini" icon="el-icon-edit" circle @click="pushToForm(scope.row, 'incorporelle')"></el-button>
                    </el-tooltip>
                    <el-tooltip  v-if="scope.row.locked" content="déverouiller" placement="top">
                        <el-button type="danger" size="mini" icon="el-icon-lock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                    </el-tooltip>
                    <el-tooltip v-else content="verouiller" placement="top">                            
                        <el-button size="mini" icon="el-icon-unlock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                    </el-tooltip>
                </template>
            </el-table-column>
        </el-table>

        <div class="p-2">
            <button type='button' class="btn btn-sm btn-info m-3" @click="addNewRow('capitalnature')">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>

      </tab-content>

      <tab-content title="2. Comptes Courants Associés" icon="ti-settings">

        <div class="card-header mt-2 bg-info text-white">
            <span class="text-left">Total Compte Courant des associés</span>
            <vue-numeric
                :currency="currentCurrencyMask['currency']"
                :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                output-type="String"
                empty-value=0 read-only
                :precision="currentCurrencyMask['precision']"
                :decimal-separator="currentCurrencyMask['decimal-separator']"
                :thousand-separator="currentCurrencyMask['thousand-separator']"
                read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                v-model.number="totalCompteAssocie" >
            </vue-numeric>
        </div>

        <el-table
          :data="ressources.comptes"
          style="width: 100%" border
          :row-class-name="compteRowClassName">
          <el-table-column label="Statut" :width="statusWidth" fixed="left">
              <template slot-scope="scope" class="text-center">
                  <el-progress v-if="isProgressLevel(scope.row,'low') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="exception"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'mid') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'full') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="success"> </el-progress>
                  <el-progress v-if="scope.row.suivi" type="dashboard" :percentage="100" :stroke-width="2" :width="40" status="success"> </el-progress>
              </template>
          </el-table-column>
          <el-table-column prop="apporteur" label="Apporteur" :width="titreWidth * 0.7"> 
              <template slot-scope="scope" >
                  <input type="text" v-model="scope.row.apporteur" class="form-control text-center"
                      :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                  <span v-else>
                      {{scope.row.apporteur}}
                  </span>
              </template>
          </el-table-column>
          <el-table-column prop="identite" label="Nom / Prénom" :width="titreWidth * 1.5"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.identite" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.identite}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="montant" label="Apport unitaire" :width="unitWidth">
              <template slot-scope="scope" class="text-center">
                  <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                      v-bind:max="currentCurrencyMask.max"
                      v-bind:min="currentCurrencyMask.min"
                      :minus="currentCurrencyMask['minus']"
                      :output-type="currentCurrencyMask['output-type']"
                      empty-value="0 000 000" :disabled="scope.row.locked" 
                      @input="calculSubTotalCapAppNumeraire(ressources.capital.numeraire)"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="currentCurrencyMask['decimal-separator']"
                      :thousand-separator="currentCurrencyMask['thousand-separator']"
                      v-model.number="scope.row.montant"
                      class="form-control text-center">
                  </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Actions" fixed="right">
              <template slot-scope="scope" class="text-center">
                  <el-tooltip content="éditer" placement="top">                            
                      <el-button type="primary" size="mini" icon="el-icon-edit" circle @click="pushToForm(scope.row, 'courant')"></el-button>
                  </el-tooltip>
                  <el-tooltip  v-if="scope.row.locked" content="déverouiller" placement="top">
                      <el-button type="danger" size="mini" icon="el-icon-lock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
                  <el-tooltip v-else content="verouiller" placement="top">                            
                      <el-button size="mini" icon="el-icon-unlock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
              </template>
          </el-table-column>
        </el-table>

        <div class="p-2">
            <button type='button' class="btn btn-sm btn-info m-3" @click="addNewRow('courant')">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>

      </tab-content>

      <tab-content title="3. Emprunts Bancaires" icon="ti-check">
        
        <div class="card-header mt-2 mb-4 bg-info text-white">
          <span class="text-left">Total Emprunts</span>
          <vue-numeric
            :currency="currentCurrencyMask['currency']"
            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
            output-type="String"
            empty-value=0 read-only
            :precision="currentCurrencyMask['precision']"
            :decimal-separator="currentCurrencyMask['decimal-separator']"
            :thousand-separator="currentCurrencyMask['thousand-separator']"
            read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
            :value="0" >
          </vue-numeric>
        </div>

        <!-- emprunt banque -->        
        <div class="card-header mt-4">
            <div class="d-md-inline-flex text-left">
              <span class="text-left">Total Emprunts aux Banques </span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalEmpruntBanque.remboursement" >
              </vue-numeric>
            </div>
            <div class="d-md-inline-flex float-md-right">
              <span class="text-left">Total Ech&eacute;ancier </span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalEmpruntBanque.echeancier" >
              </vue-numeric>
            </div>
        </div>
        <el-table
          :data="ressources.emprunts.banque"
          style="width: 100%" border
          :row-class-name="empruntRowClassName">
          <el-table-column label="Statut" :width="statusWidth" fixed="left">
              <template slot-scope="scope" class="text-center">
                  <el-progress v-if="isProgressLevel(scope.row,'low') == true && scope.row.suivi==false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="exception"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'mid') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'full') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="success"> </el-progress>
                  <el-progress v-if="scope.row.suivi" type="dashboard" :percentage="100" :stroke-width="2" :width="40" status="success"> </el-progress>
              </template>
          </el-table-column>
          <el-table-column prop="creancier" label="Créancier" :width="titreWidth"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.creancier" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.creancier}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="duree" label="Durée" :width="yearWidth">
            <template slot-scope="scope" class="text-center">
                <vue-numeric
                    currency="mois" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="20" :min="0" :minus="false"
                    empty-value=1 :precision=0
                    v-model.number="scope.row.duree"
                    @input="calculSubTotalImmoCorpMatInfo(besoins.immoCorporelle.materielinfo)"
                    class="form-control text-center">
                </vue-numeric>
            </template>
          </el-table-column>
          <el-table-column prop="taux" label="Taux" :width="yearWidth">
              <template slot-scope="scope">
                  <vue-numeric
                    currency="mois" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="200" :min="0" :minus="false"
                    empty-value=1 :precision=0
                    v-model.number="scope.row.amortauxtissement"
                    @input="calculSubTotalImmoCorpMatInfo(ressources.emprunts.banque)"
                    class="form-control text-center">
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column prop="montantPret" label="Montant" :width="unitWidth">
              <template slot-scope="scope" class="text-center">
                  <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                      v-bind:max="currentCurrencyMask.max"
                      v-bind:min="currentCurrencyMask.min"
                      :minus="currentCurrencyMask['minus']"
                      :output-type="currentCurrencyMask['output-type']"
                      empty-value="0 000 000" :disabled="scope.row.locked" 
                      @input="calculSubTotalCapAppNumeraire(ressources.capital.numeraire)"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="currentCurrencyMask['decimal-separator']"
                      :thousand-separator="currentCurrencyMask['thousand-separator']"
                      v-model.number="scope.row.montantPret"
                      class="form-control text-center">
                  </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Remboursement" :width="totalWidth">
              <template slot-scope="scope" class="text-center">
                <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                    output-type="String"
                    empty-value=0
                    :precision="currentCurrencyMask['precision']"
                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                    read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                    read-only
                    v-model.number="montantRemboursement" >
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Actions" fixed="right">
              <template slot-scope="scope" class="text-center">
                  <el-tooltip content="éditer" placement="top">                            
                      <el-button type="primary" size="mini" icon="el-icon-edit" circle @click="pushToForm(scope.row, 'incorporelle')"></el-button>
                  </el-tooltip>
                  <el-tooltip  v-if="scope.row.locked" content="déverouiller" placement="top">
                      <el-button type="danger" size="mini" icon="el-icon-lock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
                  <el-tooltip v-else content="verouiller" placement="top">                            
                      <el-button size="mini" icon="el-icon-unlock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
              </template>
          </el-table-column>
        </el-table>

        <div class="p-2">
            <button type='button' class="btn btn-sm btn-info m-3" @click="addNewRow('empruntbanque')">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>

        <!-- emprunt aux micro-finances -->        
        <div class="card-header mt-2">
            <div class="d-md-inline-flex text-left">
              <span class="text-left">Total Emprunts aux Micro-Finances </span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalEmpruntMicroFin.remboursement" >
              </vue-numeric>
            </div>
            <div class="d-md-inline-flex float-md-right">
              <span class="text-left">Total Ech&eacute;ancier</span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalEmpruntMicroFin.echeancier" >
              </vue-numeric>
            </div>
        </div>
        <el-table
          :data="ressources.emprunts.microfinance"
          style="width: 100%" border
          :row-class-name="empruntRowClassName">
          <el-table-column label="Statut" :width="statusWidth" fixed="left">
              <template slot-scope="scope" class="text-center">
                  <el-progress v-if="isProgressLevel(scope.row,'low') == true && scope.row.suivi==false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="exception"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'mid') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'full') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="success"> </el-progress>
                  <el-progress v-if="scope.row.suivi" type="dashboard" :percentage="100" :stroke-width="2" :width="40" status="success"> </el-progress>
              </template>
          </el-table-column>
          <el-table-column prop="creancier" label="Créancier" :width="titreWidth"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.creancier" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.creancier}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="duree" label="Durée" :width="yearWidth">
            <template slot-scope="scope" class="text-center">
                <vue-numeric
                    currency="mois" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="20" :min="0" :minus="false"
                    empty-value=1 :precision=0
                    v-model.number="scope.row.duree"
                    @input="calculSubTotalImmoCorpMatInfo(besoins.immoCorporelle.materielinfo)"
                    class="form-control text-center">
                </vue-numeric>
            </template>
          </el-table-column>
          <el-table-column prop="taux" label="Taux" :width="yearWidth">
              <template slot-scope="scope">
                  <vue-numeric
                    currency="%" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="200" :min="0" :minus="false"
                    empty-value=1 :precision=1
                    v-model.number="scope.row.taux"
                    @input="calculSubTotalImmoCorpMatInfo(besoins.immoCorporelle.materielinfo)"
                    class="form-control text-center">
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column prop="montantPret" label="Montant" :width="unitWidth">
              <template slot-scope="scope" class="text-center">
                  <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                      v-bind:max="currentCurrencyMask.max"
                      v-bind:min="currentCurrencyMask.min"
                      :minus="currentCurrencyMask['minus']"
                      :output-type="currentCurrencyMask['output-type']"
                      empty-value="0 000 000" :disabled="scope.row.locked" 
                      @input="calculSubTotalCapAppNumeraire(ressources.capital.numeraire)"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="currentCurrencyMask['decimal-separator']"
                      :thousand-separator="currentCurrencyMask['thousand-separator']"
                      v-model.number="scope.row.montantPret"
                      class="form-control text-center">
                  </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Remboursement" :width="totalWidth">
              <template slot-scope="scope" class="text-center">
                <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                    output-type="String"
                    empty-value=0
                    :precision="currentCurrencyMask['precision']"
                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                    read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                    read-only
                    v-model.number="montantRemboursement" >
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Actions" fixed="right">
              <template slot-scope="scope" class="text-center">
                  <el-tooltip content="éditer" placement="top">                            
                      <el-button type="primary" size="mini" icon="el-icon-edit" circle @click="pushToForm(scope.row, 'incorporelle')"></el-button>
                  </el-tooltip>
                  <el-tooltip  v-if="scope.row.locked" content="déverouiller" placement="top">
                      <el-button type="danger" size="mini" icon="el-icon-lock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
                  <el-tooltip v-else content="verouiller" placement="top">                            
                      <el-button size="mini" icon="el-icon-unlock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
              </template>
          </el-table-column>
        </el-table>

        <div class="p-2">
            <button type='button' class="btn btn-sm btn-info m-3" @click="addNewRow('empruntmicrofinance')">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>

      </tab-content>

      <tab-content title="4. Subventions Aides institutions" icon="ti-check">

                
        <div class="card-header mt-2 mb-4 bg-info text-white">
          <span class="text-left">Total Emprunts</span>
          <vue-numeric
            :currency="currentCurrencyMask['currency']"
            :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
            output-type="String"
            empty-value=0 read-only
            :precision="currentCurrencyMask['precision']"
            :decimal-separator="currentCurrencyMask['decimal-separator']"
            :thousand-separator="currentCurrencyMask['thousand-separator']"
            read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
            :value="0" >
          </vue-numeric>
        </div>

        <!-- subventions banque -->        
        <div class="card-header mt-4">
            <div class="d-md-inline-flex text-left">
              <span class="text-left">Total Subventions aux Banques </span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalAidBanque.remboursement" >
              </vue-numeric>
            </div>
            <div class="d-md-inline-flex float-md-right">
              <span class="text-left">Total Ech&eacute;ancier </span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalAidBanque.echeancier" >
              </vue-numeric>
            </div>
        </div>
        <el-table
          :data="ressources['subventions-aides']['banque']"
          style="width: 100%" border
          :row-class-name="empruntRowClassName">
          <el-table-column label="Statut" :width="statusWidth" fixed="left">
              <template slot-scope="scope" class="text-center">
                  <el-progress v-if="isProgressLevel(scope.row,'low') == true && scope.row.suivi==false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="exception"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'mid') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'full') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="success"> </el-progress>
                  <el-progress v-if="scope.row.suivi" type="dashboard" :percentage="100" :stroke-width="2" :width="40" status="success"> </el-progress>
              </template>
          </el-table-column>
          <el-table-column prop="creancier" label="Créancier" :width="titreWidth"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.fournisseur" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.fournisseur}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="duree" label="Durée" :width="yearWidth">
            <template slot-scope="scope" class="text-center">
                <vue-numeric
                    currency="mois" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="200" :min="0" :minus="false"
                    empty-value=0 :precision=0
                    v-model.number="scope.row.duree"
                    @input="calculSubTotalAidBanque(ressources['subventions-aides'].banque)"
                    class="form-control text-center">
                </vue-numeric>
            </template>
          </el-table-column>
          <el-table-column prop="taux" label="Taux" :width="yearWidth">
              <template slot-scope="scope">
                  <vue-numeric
                    currency="%" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="200" :min="0" :minus="false"
                    empty-value=1 :precision=0
                    v-model.number="scope.row.taux"
                    @input="calculSubTotalAidBanque(ressources['subventions-aides'].banque)"
                    class="form-control text-center">
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column prop="montantPret" label="Montant" :width="unitWidth">
              <template slot-scope="scope" class="text-center">
                  <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                      v-bind:max="currentCurrencyMask.max"
                      v-bind:min="currentCurrencyMask.min"
                      :minus="currentCurrencyMask['minus']"
                      :output-type="currentCurrencyMask['output-type']"
                      empty-value="0 000 000" :disabled="scope.row.locked" 
                      @input="calculSubTotalAidBanque(ressources['subventions-aides'].banque)"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="currentCurrencyMask['decimal-separator']"
                      :thousand-separator="currentCurrencyMask['thousand-separator']"
                      v-model.number="scope.row.montantPret"
                      class="form-control text-center">
                  </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Remboursement" :width="totalWidth">
              <template slot-scope="scope" class="text-center">
                <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                    output-type="String"
                    empty-value=0
                    :precision="currentCurrencyMask['precision']"
                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                    read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                    read-only
                    v-model.number="scope.row.montantRemboursement" >
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Actions" fixed="right">
              <template slot-scope="scope" class="text-center">
                  <el-tooltip content="éditer" placement="top">                            
                      <el-button type="primary" size="mini" icon="el-icon-edit" circle @click="pushToForm(scope.row, 'aidebanque')"></el-button>
                  </el-tooltip>
                  <el-tooltip  v-if="scope.row.locked" content="déverouiller" placement="top">
                      <el-button type="danger" size="mini" icon="el-icon-lock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
                  <el-tooltip v-else content="verouiller" placement="top">                            
                      <el-button size="mini" icon="el-icon-unlock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
              </template>
          </el-table-column>
        </el-table>

        <div class="p-2">
            <button type='button' class="btn btn-sm btn-info m-3" @click="addNewRow('aidebanque')">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>

        <!-- subventions des institutions -->        
        <div class="card-header mt-2">
            <div class="d-md-inline-flex text-left">
              <span class="text-left">Total Subventions des Institutions </span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalAidInstitution.remboursement" >
              </vue-numeric>
            </div>
            <div class="d-md-inline-flex float-md-right">
              <span class="text-left">Total Ech&eacute;ancier</span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalAidInstitution.echeancier" >
              </vue-numeric>
            </div>
        </div>
        <el-table
          :data="ressources['subventions-aides']['institution']"
          style="width: 100%" border
          :row-class-name="empruntRowClassName">
          <el-table-column label="Statut" :width="statusWidth" fixed="left">
              <template slot-scope="scope" class="text-center">
                  <el-progress v-if="isProgressLevel(scope.row,'low') == true && scope.row.suivi==false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="exception"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'mid') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'full') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="success"> </el-progress>
                  <el-progress v-if="scope.row.suivi" type="dashboard" :percentage="100" :stroke-width="2" :width="40" status="success"> </el-progress>
              </template>
          </el-table-column>
          <el-table-column prop="fournisseur" label="Fournisseur" :width="titreWidth"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.creancier" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.fournisseur}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="duree" label="Durée" :width="yearWidth">
            <template slot-scope="scope" class="text-center">
                <vue-numeric
                    currency="mois" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="20" :min="0" :minus="false"
                    empty-value=0 :precision=0
                    v-model.number="scope.row.duree"
                    @input="calculSubTotalAidInstitution(ressources['subventions-aides'].institution)"
                    class="form-control text-center">
                </vue-numeric>
            </template>
          </el-table-column>
          <el-table-column prop="taux" label="Taux" :width="yearWidth">
              <template slot-scope="scope">
                  <vue-numeric
                    currency="%" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="200" :min="0" :minus="false"
                    empty-value=1 :precision=0
                    v-model.number="scope.row.taux"
                    @input="calculSubTotalAidInstitution(ressources['subventions-aides'].institution)"
                    class="form-control text-center">
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column prop="montantPret" label="Montant" :width="unitWidth">
              <template slot-scope="scope" class="text-center">
                  <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                      v-bind:max="currentCurrencyMask.max"
                      v-bind:min="currentCurrencyMask.min"
                      :minus="currentCurrencyMask['minus']"
                      :output-type="currentCurrencyMask['output-type']"
                      empty-value="0 000 000" :disabled="scope.row.locked" 
                      @input="calculSubTotalAidInstitution(ressources['subventions-aides'].institution)"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="currentCurrencyMask['decimal-separator']"
                      :thousand-separator="currentCurrencyMask['thousand-separator']"
                      v-model.number="scope.row.montantPret"
                      class="form-control text-center">
                  </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Remboursement" :width="totalWidth">
              <template slot-scope="scope" class="text-center">
                <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                    output-type="String"
                    empty-value=0
                    :precision="currentCurrencyMask['precision']"
                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                    read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                    read-only
                    v-model.number="scope.row.montantRemboursement" >
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Actions" fixed="right">
              <template slot-scope="scope" class="text-center">
                  <el-tooltip content="éditer" placement="top">                            
                      <el-button type="primary" size="mini" icon="el-icon-edit" circle @click="pushToForm(scope.row, 'aideinstitution')"></el-button>
                  </el-tooltip>
                  <el-tooltip  v-if="scope.row.locked" content="déverouiller" placement="top">
                      <el-button type="danger" size="mini" icon="el-icon-lock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
                  <el-tooltip v-else content="verouiller" placement="top">                            
                      <el-button size="mini" icon="el-icon-unlock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
              </template>
          </el-table-column>
        </el-table>

        <div class="p-2">
            <button type='button' class="btn btn-sm btn-info m-3" @click="addNewRow('aideinstitution')">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>

        <!-- autres subventions -->        
        <div class="card-header mt-2">
            <div class="d-md-inline-flex text-left">
              <span class="text-left">Total Emprunts aux Micro-Finances </span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalEmpruntMicroFin.remboursement" >
              </vue-numeric>
            </div>
            <div class="d-md-inline-flex float-md-right">
              <span class="text-left">Total Ech&eacute;ancier</span>
              <vue-numeric
                  :currency="currentCurrencyMask['currency']"
                  :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                  output-type="String"
                  empty-value=0 read-only
                  :precision="currentCurrencyMask['precision']"
                  :decimal-separator="currentCurrencyMask['decimal-separator']"
                  :thousand-separator="currentCurrencyMask['thousand-separator']"
                  read-only-class="text-right ml-4" v-bind:min="currentCurrencyMask.min"                                                                                            
                  v-model.number="subTotalEmpruntMicroFin.echeancier" >
              </vue-numeric>
            </div>
        </div>
        <el-table
          :data="ressources.emprunts.microfinance"
          style="width: 100%" border
          :row-class-name="empruntRowClassName">
          <el-table-column label="Statut" :width="statusWidth" fixed="left">
              <template slot-scope="scope" class="text-center">
                  <el-progress v-if="isProgressLevel(scope.row,'low') == true && scope.row.suivi==false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="exception"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'mid') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40"> </el-progress>
                  <el-progress v-if="isProgressLevel(scope.row,'full') == true && scope.row.suivi===false" type="dashboard" :percentage="EcartQuantiteMontant(scope.row)" :stroke-width="2" :width="40" status="success"> </el-progress>
                  <el-progress v-if="scope.row.suivi" type="dashboard" :percentage="100" :stroke-width="2" :width="40" status="success"> </el-progress>
              </template>
          </el-table-column>
          <el-table-column prop="creancier" label="Créancier" :width="titreWidth"> 
            <template slot-scope="scope" >
                <input type="text" v-model="scope.row.creancier" class="form-control text-center"
                    :disabled="scope.row.locked" v-if="scope.row.suivi === true"/>
                <span v-else>
                    {{scope.row.creancier}}
                </span>
            </template>
          </el-table-column>
          <el-table-column prop="duree" label="Durée" :width="yearWidth">
            <template slot-scope="scope" class="text-center">
                <vue-numeric
                    currency="mois" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="20" :min="0" :minus="false"
                    empty-value=1 :precision=0
                    v-model.number="scope.row.duree"
                    @input="calculSubTotalImmoCorpMatInfo(besoins.immoCorporelle.materielinfo)"
                    class="form-control text-center">
                </vue-numeric>
            </template>
          </el-table-column>
          <el-table-column prop="taux" label="Taux" :width="yearWidth">
              <template slot-scope="scope">
                  <vue-numeric
                    currency="%" :disabled="scope.row.locked"
                    currency-symbol-position="suffix"
                    :max="200" :min="0" :minus="false"
                    empty-value=1 :precision=1
                    v-model.number="scope.row.taux"
                    @input="calculSubTotalImmoCorpMatInfo(besoins.immoCorporelle.materielinfo)"
                    class="form-control text-center">
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column prop="montantPret" label="Montant" :width="unitWidth">
              <template slot-scope="scope" class="text-center">
                  <vue-numeric
                      :currency="currentCurrencyMask['currency']"
                      :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                      v-bind:max="currentCurrencyMask.max"
                      v-bind:min="currentCurrencyMask.min"
                      :minus="currentCurrencyMask['minus']"
                      :output-type="currentCurrencyMask['output-type']"
                      empty-value="0 000 000" :disabled="scope.row.locked" 
                      @input="calculSubTotalCapAppNumeraire(ressources.capital.numeraire)"
                      :precision="currentCurrencyMask['precision']"
                      :decimal-separator="currentCurrencyMask['decimal-separator']"
                      :thousand-separator="currentCurrencyMask['thousand-separator']"
                      v-model.number="scope.row.montantPret"
                      class="form-control text-center">
                  </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Remboursement" :width="totalWidth">
              <template slot-scope="scope" class="text-center">
                <vue-numeric
                    :currency="currentCurrencyMask['currency']"
                    :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                    output-type="String"
                    empty-value=0
                    :precision="currentCurrencyMask['precision']"
                    :decimal-separator="currentCurrencyMask['decimal-separator']"
                    :thousand-separator="currentCurrencyMask['thousand-separator']"
                    read-only-class="item-total" v-bind:min="currentCurrencyMask.min"
                    read-only
                    v-model.number="montantRemboursement" >
                </vue-numeric>
              </template>
          </el-table-column>
          <el-table-column label="Actions" fixed="right">
              <template slot-scope="scope" class="text-center">
                  <el-tooltip content="éditer" placement="top">                            
                      <el-button type="primary" size="mini" icon="el-icon-edit" circle @click="pushToForm(scope.row, 'incorporelle')"></el-button>
                  </el-tooltip>
                  <el-tooltip  v-if="scope.row.locked" content="déverouiller" placement="top">
                      <el-button type="danger" size="mini" icon="el-icon-lock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
                  <el-tooltip v-else content="verouiller" placement="top">                            
                      <el-button size="mini" icon="el-icon-unlock" circle @click="scope.row.locked = !scope.row.locked"> </el-button>
                  </el-tooltip>
              </template>
          </el-table-column>
        </el-table>

        <div class="p-2">
            <button type='button' class="btn btn-sm btn-info m-3" @click="addNewRow('aideautre')">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="table-responsive">
              <table
                class="table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table"
                width="100%"
              >
                <col style="width:1rem" />
                <col style="width:20%" />
                <col />
                <col style="width:8%" />
                <col style="width:8%" />
                <col style />
                <col />
                <col />
                <thead>
                  <tr>
                    <th class="table-head-first-green-column"></th>
                    <th class="table-head-first-green-column">Subvention Aides</th>
                    <th>Montant initial</th>
                    <th>
                      Taux
                      <span
                        data-container="body"
                        data-toggle="popover"
                        data-placement="top"
                        data-content="le taux exprimé en %"
                      >
                        <i
                          class="icon-info"
                          data-toggle="tooltip"
                          title="taux exprimé en %"
                        ></i>
                      </span>
                    </th>
                    <th>
                      Dur&eacute;e
                      <span
                        data-container="body"
                        data-toggle="popover"
                        data-placement="top"
                        data-content="la durée exprimée en mois"
                      >
                        <i
                          class="icon-info"
                          data-toggle="tooltip"
                          title="la durée exprimée en mois"
                        ></i>
                      </span>
                    </th>
                    <th>Remboursement</th>
                    <th>Ech&eacute;ancier</th>
                    <th>Ecart</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td
                      class="empty-numeric-placeholder"
                    >&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</td>
                    <td
                      class="empty-numeric-placeholder"
                    >&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</td>
                    <td></td>
                  </tr>
                  <tr class="table-total">
                    <td colspan="2">Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          :read-only="true"
                          v-model.number="totalSubventionAide.remboursement"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          read-only
                          v-model.number="totalSubventionAide.echeancier"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="table-group-header">
                    <td colspan="2">Banques</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          :read-only="true"
                          v-model.number="subTotalAidBanque.remboursement"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          read-only
                          v-model.number="subTotalAidBanque.echeancier"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td></td>
                  </tr>
                  <tr
                    v-for="(aide, index) in ressources['subventions-aides']['banque']"
                    :key="'subvention-banque-'+index"
                  >
                    <td>
                      <button
                        type="button"
                        class="btn btn-sm btn-danger"
                        @click="deleteRow('subventions-aides.banque', aide)"
                      >
                        <i class="fas fa-minus-circle"></i>
                      </button>
                    </td>
                    <td>
                      <input
                        type="text"
                        v-model="aide.fournisseur"
                        class="form-control text-dark"
                      />
                    </td>
                    <td>
                      <vue-numeric
                        :currency="currentCurrencyMask['currency']"
                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                        :max="currentCurrencyMask['max']"
                        :min="currentCurrencyMask['min']"
                        :minus="currentCurrencyMask['minus']"
                        output-type="currentCurrencyMask['output-type']"
                        :empty-value="currentCurrencyMask['empty-value']"
                        :precision="currentCurrencyMask['precision']"
                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                        v-model.number="aide.montantPret"
                        @input="calculSubTotalAidBanque(ressources['subventions-aides'].banque)"
                        class="form-control text-center"
                      ></vue-numeric>
                    </td>
                    <td>
                      <vue-numeric
                        currency="%"
                        currency-symbol-position="suffix"
                        :max="200"
                        :min="0"
                        :minus="false"
                        empty-value="0"
                        :precision="0"
                        v-model.number="aide.taux"
                        @input="calculSubTotalAidBanque(ressources['subventions-aides'].banque)"
                        class="form-control text-center"
                      ></vue-numeric>
                    </td>
                    <td>
                      <vue-numeric
                        currency="mois"
                        currency-symbol-position="suffix"
                        :max="200"
                        :min="0"
                        :minus="false"
                        empty-value="0"
                        :precision="0"
                        @input="calculSubTotalAidBanque(ressources['subventions-aides'].banque)"
                        v-model.number="aide.duree"
                        class="form-control text-center"
                      ></vue-numeric>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          read-only
                          :value="isCadeau(aide.montantPret, aide.taux, aide.duree)"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          read-only
                          :value="mensualiteCredit(aide.taux / 100,aide.montantPret,aide.duree)"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <input
                        type="text"
                        v-model="aide.commentaire"
                        class="form-control"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="8">
                      <button
                        type="button"
                        class="btn btn-sm btn-info"
                        @click="addNewRow('subventions-aides.banque')"
                      >
                        <i class="fas fa-plus-circle"></i>
                      </button>
                    </td>
                  </tr>
                  <tr class="table-group-header">
                    <td colspan="2">Institutions</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          read-only
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          v-model.number="subTotalAidInstitution.remboursement"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          read-only
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          v-model.number="subTotalAidInstitution.echeancier"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td></td>
                  </tr>
                  <tr
                    v-for="(aide, index) in ressources['subventions-aides']['institution']"
                    :key="'subvention-institution-'+index"
                  >
                    <td>
                      <button
                        type="button"
                        class="btn btn-sm btn-danger"
                        @click="deleteRow('subventions-aides.institution', aide)"
                      >
                        <i class="fas fa-minus-circle"></i>
                      </button>
                    </td>
                    <td>
                      <input
                        type="text"
                        v-model="aide.fournisseur"
                        class="form-control text-dark"
                      />
                    </td>
                    <td>
                      <vue-numeric
                        :currency="currentCurrencyMask['currency']"
                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                        :max="currentCurrencyMask['max']"
                        :min="currentCurrencyMask['min']"
                        :minus="currentCurrencyMask['minus']"
                        output-type="currentCurrencyMask['output-type']"
                        :empty-value="currentCurrencyMask['empty-value']"
                        :precision="currentCurrencyMask['precision']"
                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                        v-model.number="aide.montantPret"
                        @input="calculSubTotalAidInstitution(ressources['subventions-aides'].institution)"
                        class="form-control text-center"
                      ></vue-numeric>
                    </td>
                    <td>
                      <vue-numeric
                        currency="%"
                        currency-symbol-position="suffix"
                        :max="200"
                        :min="0"
                        :minus="false"
                        empty-value="0"
                        :precision="0"
                        v-model.number="aide.taux"
                        @input="calculSubTotalAidInstitution(ressources['subventions-aides'].institution)"
                        class="form-control text-center"
                      ></vue-numeric>
                    </td>
                    <td>
                      <vue-numeric
                        currency="mois"
                        currency-symbol-position="suffix"
                        :max="200"
                        :min="0"
                        :minus="false"
                        empty-value="0"
                        :precision="0"
                        v-model.number="aide.duree"
                        @input="calculSubTotalAidInstitution(ressources['subventions-aides'].institution)"
                        class="form-control text-center"
                      ></vue-numeric>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          read-only
                          :value="isCadeau(aide.montantPret, aide.taux, aide.duree)"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          read-only
                          :value="mensualiteCredit(aide.taux / 100,aide.montantPret,aide.duree)"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <input
                        type="text"
                        v-model="aide.commentaire"
                        class="form-control"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="8">
                      <button
                        type="button"
                        class="btn btn-sm btn-info"
                        @click="addNewRow('subventions-aides.institution')"
                      >
                        <i class="fas fa-plus-circle"></i>
                      </button>
                    </td>
                  </tr>
                  <tr class="table-group-header">
                    <td colspan="2">Autres</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          read-only
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          v-model.number="subTotalAidAutre.remboursement"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          read-only
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          v-model.number="subTotalAidAutre.echeancier"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td></td>
                  </tr>
                  <tr
                    v-for="(aide, index) in ressources['subventions-aides']['autres']"
                    :key="'subventions-autre'+index"
                  >
                    <td>
                      <button
                        type="button"
                        class="btn btn-sm btn-danger"
                        @click="deleteRow('subventions-aides.autres', aide)"
                      >
                        <i class="fas fa-minus-circle"></i>
                      </button>
                    </td>
                    <td>
                      <input
                        type="text"
                        v-model="aide.fournisseur"
                        class="form-control text-dark"
                      />
                    </td>
                    <td>
                      <vue-numeric
                        :currency="currentCurrencyMask['currency']"
                        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                        :max="currentCurrencyMask['max']"
                        :min="currentCurrencyMask['min']"
                        :minus="currentCurrencyMask['minus']"
                        output-type="currentCurrencyMask['output-type']"
                        :empty-value="currentCurrencyMask['empty-value']"
                        :precision="currentCurrencyMask['precision']"
                        :decimal-separator="currentCurrencyMask['decimal-separator']"
                        :thousand-separator="currentCurrencyMask['thousand-separator']"
                        v-model.number="aide.montantPret"
                        @input="calculSubTotalAidAutre(ressources['subventions-aides'].autres)"
                        class="form-control text-center"
                      ></vue-numeric>
                    </td>
                    <td>
                      <vue-numeric
                        currency="%"
                        currency-symbol-position="suffix"
                        :max="200"
                        :min="0"
                        :minus="false"
                        empty-value="0"
                        :precision="0"
                        v-model.number="aide.taux"
                        @input="calculSubTotalAidAutre(ressources['subventions-aides'].autres)"
                        class="form-control text-center"
                      ></vue-numeric>
                    </td>
                    <td>
                      <vue-numeric
                        currency="mois"
                        currency-symbol-position="suffix"
                        :max="200"
                        :min="0"
                        :minus="false"
                        empty-value="0"
                        :precision="0"
                        v-model.number="aide.duree"
                        @input="calculSubTotalAidAutre(ressources['subventions-aides'].autres)"
                        class="form-control text-center"
                      ></vue-numeric>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          read-only
                          :value="isCadeau(aide.montantPret, aide.taux, aide.duree)"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <center>
                        <vue-numeric
                          :currency="currentCurrencyMask['currency']"
                          :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
                          output-type="String"
                          empty-value="0"
                          :precision="currentCurrencyMask['precision']"
                          :decimal-separator="currentCurrencyMask['decimal-separator']"
                          :thousand-separator="currentCurrencyMask['thousand-separator']"
                          read-only-class="item-total"
                          :min="currentCurrencyMask['min']"
                          read-only
                          :value="mensualiteCredit(aide.taux / 100,aide.montantPret,aide.duree)"
                        ></vue-numeric>
                      </center>
                    </td>
                    <td>
                      <input
                        type="text"
                        v-model="aide.commentaire"
                        class="form-control"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="8">
                      <button
                        type="button"
                        class="btn btn-sm btn-info"
                        @click="addNewRow('subventions-aides.autres')"
                      >
                        <i class="fas fa-plus-circle"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </tab-content>

      <template slot="footer" slot-scope="props">
        <div class="wizard-footer-left">
          <wizard-button
            v-if="props.activeTabIndex > 0"
            @click.native="props.prevTab()"
            :style="props.fillButtonStyle"
          >Précédent</wizard-button>
        </div>
        <div class="wizard-footer-right">
          <wizard-button
            style="background-color: #398bf7"
            @click.native="stepSaved(props)"
            class="btn btn-info mr-1"
          >Enregistrer</wizard-button>
          <wizard-button
            v-if="!props.isLastStep"
            @click.native="nextTab(props)"
            class="wizard-footer-right"
            :style="props.fillButtonStyle"
          >Suivant</wizard-button>

          <wizard-button
            v-else
            @click.native="nextTab(props)"
            class="wizard-footer-right finish-button"
            :style="props.fillButtonStyle"
          >{{props.isLastStep ? 'Etape suivante' : 'Suivant'}}</wizard-button>
        </div>
      </template>
    </form-wizard>

    <el-dialog :title="form.titre" :visible.sync="showEditForm" width="70%" :modal="true" :destroy-on-close="true">
      <el-form ref="editForm" :model="form" label-position="top" size="small">
      </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="showEditForm = false">Cancel</el-button>
            <el-button type="primary" @click="submitForm('editForm')">Confirm</el-button>
        </span>
    </el-dialog>
  </div>
</template>


<style scoped>
/*
@import "../../../../../../resources/assets/sass/financier.scss";
@import "../../../../../../resources/assets/sass/tiny-inputs.scss"; */
  .el-progress__text {
      font-size: 25px !important;
  }
  .el-progress__text i {
      font-size: xx-large !important;
  }
  form .el-card__header {
      background-color: cadetblue;
  }
</style>

<script>
import Vue from "vue";
import VueFormWizard from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import VueNumeric from "vue-numeric";
import currenciesMaskMixin from "../../../bp/mixins/currenciesMask";
import ressourcesMixins from "../../../bp/mixins/financier/ressources";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

import Swal from "sweetalert2";

import { isEmpty, arround } from "../../../../services/helper";
import helper from "../../../../services/helper.js";

import dialogForm from './editItemRessource'
import {mixin as percentages} from '../helpers/percentage.js'
import {mixin as progression} from '../helpers/progress.js'

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 4000
});

// Init plugin
Vue.use(Loading, {
  isFullPage: true,
  canCancel: false,
  loader: "spinner"
});
// init Form Wizard plugin
Vue.use(VueFormWizard);

export default {
  components: {
    VueFormWizard, VueNumeric, dialogForm
  },
  mixins: [ressourcesMixins, currenciesMaskMixin, helper, percentages, progression],
  data() {
    return {
      projetId: JSON.parse(localStorage.getItem("userSession")).projet,
      showEditForm: false,
      formDataType: "immo.incorporelle",
      form: {
          "titre":"",
          "oldCoutMensuel":0,
          "oldPourcentage":0,
          "oldQuantite":0,
          "oldPrix":0,
          "oldAmortissement":0,
          "oldMontant":0,
          "commentaire":"",
          "oldAnnee1":0,
          "oldAnnee2":0,
          "oldAnnee3":0,
          "coutMensuel":0,
          "pourcentage":0,
          "quantite":0,
          "prix":0,
          "amortissement":0,
          "montant":0,
          "annee1":0,
          "annee2":0,
          "annee3":0,
          "group": "",
          "suivi": false,
          "locked": false,
          "dataType": ""
      },
      formLabelWidth: 3,
      statusWidth:70,
      titreWidth:200,
      unitWidth:160,
      totalWidth:170,
      yearWidth: 90,
      ecartWidth: 200,
      quantiteWidth:87
    };
  },
  props: {
      ressources: {
          type: Object,
          required: true,
      }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
          if (valid) {
              // push to firebase
              
              this.resetForm(formName)                     
          } else {
              console.log('error submit!!')
              return false;
          }
      });
    },
    resetForm(formName) {
      this.form = {
      },
      this.showEditForm = false
    },
    nextTab(props) {
      props.nextTab();
      /* si on est pas au dernier step
      if (!props.isLastStep) {
        let loader = Vue.$loading.show();
        //alors on met à jour la collection
        this.ref
          .doc(this.projetId)
          .update({ ressources: this.bpfinancier })
          .then(financier => {
            loader.hide();
            Toast.fire({
              type: "success",
              title: "Enregistrement automatique des ressources avec succès",
              customClass: "bg-success"
            });
            props.nextTab();
          })
          .catch(error => {
            loader.hide();
            Swal.fire("Une erreur est survenue", error.message, "error");
          });
      } else {
        let loader = Vue.$loading.show();
        //alors on met à jour la collection
        this.ref
          .doc(this.projetId)
          .update({ ressources: this.bpfinancier })
          .then(financier => {
            loader.hide();
            console.log(this.bpfinancier);
            Toast.fire({
              type: "success",
              title: "Enregistrement automatique des ressources avec succès",
              customClass: "bg-success"
            });
            this.$router.push({ name: "produits" });
          })
          .catch(error => {
            loader.hide();
            Swal.fire("Une erreur est survenue", error.message, "error");
          });
      } */
    },
    stepSaved(e) {
      /*
      let loader = Vue.$loading.show();
      if (this.financierExist == "Oui") {
        this.ref
          .doc(this.projetId)
          .update({ ressources: this.bpfinancier })
          .then(financier => {
            loader.hide();
            Swal.fire("Ressources enrégistrées avec succès", "success");
          })
          .catch(error => {
            loader.hide();
            Swal.fire("Une erreur est survenue", error.message, "error");
          });
      } */ 
    },
    capitalRowClassName({row, rowIndex}) {
        if (rowIndex === 1) {
        return 'warning-row';
        } else if (rowIndex === 3) {
        return 'success-row';
        }
        return '';
    },
    compteRowClassName({row, rowIndex}) {
        if (rowIndex === 1) {
        return 'warning-row';
        } else if (rowIndex === 3) {
        return 'success-row';
        }
        return '';
    },
    empruntRowClassName({row, rowIndex}) {
        if (rowIndex === 1) {
        return 'warning-row';
        } else if (rowIndex === 3) {
        return 'success-row';
        }
        return '';
    },
    addNewRow(array) {
        let target = null;
        switch(array.toLowerCase()){
            case "immoincorporelle":
                target = this.besoins.immoIncorporelle;
                target.push({"titre":"Titre", "quantite":1, "prix":0, "suivi": true, "locked": false, "commentaire":"", "oldQuantite": 0, "oldPrix": 0})
            break
        }
    },
  }
};
</script>