<template>
    <el-drawer
      :visible.sync="visibility"
      :direction="direction"  :modal="false"
      @close="$emit('closing')"
      :show-close="true" :append-to-body="true" 
      :modal-append-to-body="true"
      customClass="pl-4">
        <b-nav-form>
            <b-form-input v-model="filterText" size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
        </b-nav-form>
        <b-nav-item active>Active<b-badge pill variant="danger">2/10</b-badge></b-nav-item>
        <b-nav-item>Link<b-badge pill variant="success">10/10</b-badge></b-nav-item>
        <b-nav-item>Another Link<b-badge pill variant="info">2/10</b-badge></b-nav-item>
        <el-tree
        class="filter-tree"
        :data="data"
        :props="defaultProps"
        accordion
        show-checkbox
        :filter-node-method="filterNode"
        ref="tree">
        </el-tree>
    </el-drawer>
</template>

<script>
    import badge from './annotationBadge'
    import {BNavForm, BFormInput} from 'bootstrap-vue'

    export default {
        components: {
            'b-nav-form':BNavForm, 'b-form-input':BFormInput
        },
        props: {
            direction: {
                type: String,
                default:'rtl',
                required: true
            },
            visibility: {
                type: Boolean,
                default: true,
                required: true
            }
        },
        data() {
            return {
                filterText: '',
                data: [{
                    id: 1,
                    label: 'Level one 1',
                    children: [{
                        id: 4,
                        label: 'Level two 1-1',
                        children: [{
                        id: 9,
                        label: 'Level three 1-1-1'
                        }, {
                        id: 10,
                        label: 'Level three 1-1-2'
                        }]
                    }]
                    }, {
                    id: 2,
                    label: 'Level one 2',
                    children: [{
                        id: 5,
                        label: 'Level two 2-1'
                    }, {
                        id: 6,
                        label: 'Level two 2-2'
                    }]
                    }, {
                    id: 3,
                    label: 'Level one 3',
                    children: [{
                        id: 7,
                        label: 'Level two 3-1'
                    }, {
                        id: 8,
                        label: 'Level two 3-2'
                    }]
                }],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                }
            }
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        methods: {
            handleClose(done) {
                this.$confirm('Are you sure you want to close this?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            },            
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            }
        }
    };
</script>

<style scoped>
.z-index-20 {
    z-index:20 !important;
}
</style>