<template>
    <div style="position: fixed;bottom: 40px;">
        <button @click="$emit('action-clicked')" :class="background + ' pull-'+orientation + ' ' + orientation+'-side-toggle waves-effect btn-inverse btn btn-circle btn-sm m-l-10'"><i class="ti-plus text-white"></i></button>
    </div>
</template>

<script>
export default {
    props:{
        background: {
            type: String,
            required: false,
            default: 'bg-primary'
        },
        orientation: {
            type: String,
            required: false,
            default: 'bg-primary',
            validator: function (value) {
            // La valeur passée doit être l'une de ces chaines de caractères
                return ['left', 'right'].indexOf(value) !== -1
            }
        }
    }
}
</script>

<style scoped>
    .btn-circle {
        border-radius: 100%;
        padding: 25px;
        padding-top: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        padding-left: 25px;
        position: fixed;
        z-index: 10;
        bottom: 20px;
    }
    .btn-circle i {
        /* -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-duration: 1s;
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: rotate;
        -moz-animation-duration: 2s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; */
        position: absolute;
        top: 18px;
        left: 18px;
    }
    .btn-circle.btn-sm {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }
    .btn-circle.right-side-toggle {
        right: 20px;
        position: absolute;
        bottom: 30px;
    }
    .btn-circle.left-side-toggle {
        left: 20px;
        position: absolute;
        bottom: 30px;
        border: 0.1px black solid;
    }
</style>