<template>
    <div>       
        <ul tabs fill justified>          
            <b-nav-item>
                    <span><i class="fas fa-clipboard-list"></i></span>
                    <span class="hidden-xs-down">Besoins</span>
            </b-nav-item>           
            <li class="nav-item">
                <h5 class="nav-link">
                    <span><i class="ti-wallet"></i></span>
                    <span class="hidden-xs-down">Ressources</span>
                </h5>
            </li>
            <li class="nav-item">
                <h5 class="nav-link">
                    <span><i class="ti-dropbox-alt"></i></span>
                    <span class="hidden-xs-down">Produits</span>
                </h5>
            </li>
            <li class="nav-item">
                <h5 class="nav-link">
                    <span><i class="fas fa-calculator"></i></span>
                    <span class="hidden-xs-down">Charges</span>
                </h5>
            </li>
            <li class="nav-item">
                <h5 class="nav-link">
                    <span><i class="fas fa-paper"></i></span>
                    <span class="hidden-xs-down">Récapitulatif</span>
                </h5>
            </li>
        </ul>
    </div>
</template>

<script>

</script>