<template>
     <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Workflow</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{name:'suivi'}">Accueil</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/bp/suivi"> Paramètres</a>
                            </li>
                            <li class="breadcrumb-item">Type client</li>
                        </ol>
                    </div>
                </div>

               <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <fieldset class="fieldset">
                                        <div class="input-group mb-1 mt-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Tableau</span>
                                            </div>
                                            <input v-model="board.titre" class="form-control" type="text">
                                        </div>
                                        <textarea v-model="board.desc" id="description" rows="5" class="form-control" placeholder="Description"></textarea>
                                    </fieldset>
                                    <fieldset class="fieldset">
                                        <div class="form-group" >
                                            <label>Définissez les étapes de votre Workflow <span class="text-danger">*</span>:</label>
                                            <div class="table-responsive">
                                                <table class="table editable-table table-bordered table-1 m-b-0 color-bordered-table info-bordered-table">
                                                    <thead>
                                                    <tr>
                                                        <th width="100%" >Liste</th>
                                        
                                                        <th width="4%">Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(tache, index) in tache.liste" :key="index">
                                                        <td>
                                                            <input type="text" class="form-control" v-model="tache.libelle" id="objectif" placeholder="Etape">
                                                        </td>
                                                      
                                
                                                        <td>
                                                            <button type='button' class="btn btn-danger btn-sm" @click="deleteRowVisionCourt(index,tache)">
                                                                <i class="fas fa-minus-circle"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5">
                                                            <button type='button' class="btn btn-info btn-sm" @click="addNewRowVisionCourt">
                                                                <i class="fas fa-plus-circle"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="text-xs-right mb-2 mt-2">
                                        <button   @click="onSubmit" type="button" class="btn btn-success">Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <fieldset class="fieldset">
                                    <div class="table-responsive m-t-20">
                                        <table id="typeClient" class="display table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Libellé</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Libellé</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</template>
<style scoped>
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #D0E6ED !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        /* width: 150px; */
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ffffff !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
</style>

<script>
    import firebase from 'firebase'
    export default {
        components: {
           

        },
        name: 'typeClient',
    data() {
            return {
                ref: firebase.firestore().collection('workflow'),
                docref: firebase.firestore().collection('board'),
               
                tache:{
                    'liste': [
                        {
                            libelle: 'A FAIRE',
                           
                        },
                        {
                            libelle: 'EN COURS',
                          
                           
                        },
                        {
                            libelle: 'TEST',
                           
                        },
                        {
                            libelle: 'TERMINE',
                           
                        },

                    ],
                    board:'',

                },
                board:{
                    titre:'',
                    desc:'',
                    projet:'',
                    createdAt:firebase.firestore.FieldValue.serverTimestamp(),
                }
              
            }
        },
        created () {
           
        },
        methods: {
            onSubmit() {
               
                let loader = Vue.$loading.show();
                this.docref.add(this.board
                )
                    .then((board) => {


                        const db = firebase.firestore();
                        let userSession = JSON.parse(localStorage.getItem('userSession'));
                        let projetid=userSession.projet;
                        db.collection("board")
                        .doc(board.id)
                        .update({
                        'projet':projetid,
                        });
                       
                        this.ref.add(this.tache
                        )
                            .then((tache) => {
                                this.isLoading=false;
                                //console.log(tache.id);
                                db.collection("workflow")
                                .doc(tache.id)
                                .update({
                                'board':board.id,
                                });
                                loader.hide();
                      
                                Swal.fire({
                                    title:'Enregistrement Réussi',
                                    text:'Votre tableau a été enregistré avec succès!',
                                    type:'success',
                                    showCancelButton: true,
                                    confirmButtonText: 'OK',
                                   
                                }); 
                                //storyRef.update({ id: increment });                       
                            })
                            .catch(function(error) {
                                loader.hide();
                                Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error')
                            }); 
                      
                                          
                    })
                    .catch(function(error) {
                        loader.hide();
                        Swal.fire('Oops...', 'Vérifiez votre connexion internet!', 'error')
                    });

               
            },
            addNewRowVisionCourt() {
                this.tache.liste.push({
                    libelle: '',
                    
                });
            },
            deleteRowVisionCourt(index, tache) {
                var idx = this.tache.liste.indexOf(tache);
                if (idx > -1) {
                    Swal.fire({
                        title: 'Attention',
                        text: "Vous ne pourrez pas revenir en arrière !",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'je confirme',
                        cancelButtonText: 'j\'annule'
                    }).then((result) => {
                        if (result.value) {
                            this.tache.liste.splice(idx, 1);
                        }
                    });

                }
            },
          
            
        },
        mounted () {
            
        }
    }
</script>
