<template>
    <div>
        <div class="row header">
            <div class="col-xl-5 col-lg-12 col-12" >
                <!-- <div >
                    <el-form-item label="Matricule">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">business</span>
                            </div>
                            <input type="text" class="form-control" >
                        </div>
                    </el-form-item>
                </div> -->
                <div >
                    <el-form-item label="Nom"> 
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">person</span>
                            </div>
                            <input type="text" class="form-control" >
                        </div>
                        <!-- <span class="error" v-if="validations.newFournisseur.statut.$error">Ce champs est requis</span> -->
                    </el-form-item>
                </div>
                <div >
                    <el-form-item label="Prénom"> 
                         <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">person</span>
                            </div>  
                             <input type="text" class="form-control" >
                            <!-- <select class="form-control" >
                                <option value="Oui">OUI</option>
                                <option value="Non">NON</option>
                            </select>    -->
                         </div>   
                        <!-- <span class="error" v-if="validations.newFournisseur.assujettiTva.$error">Ce champs est requis</span>                          -->
                    </el-form-item>
                </div>               
                <div >
                    <el-form-item label="Type de contrat">
                         <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">picture_as_pdf</span>
                            </div>
                            <select class="form-control" >
                                <option value="CDI">CDI</option>
                                <option value="CDD">CDD</option>
                            </select> 
                        </div>
                         <!-- <span class="error" v-if="validations.newPersonnel.relation.$error">Ce champs est requis</span> -->
                    </el-form-item>  
                </div>                
            </div>
            <div class="col-xl-5 col-lg-12 col-12 mb-3">
                <div >
                    <el-form-item label="Téléphone">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">phone</span>
                            </div>
                            <input type="tel" class="form-control" maxlength="9" >
                        </div>
                        <!-- <span class="error" v-if="validations.newPersonnel.mobileSure.$error">Ce champs est requis</span> -->
                    </el-form-item>
                </div>
                <div >
                    <el-form-item label="Email">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">email</span>
                            </div>
                            <input type="email" class="form-control">
                         </div>
                        <!-- <span class="error" v-if="validations.newFournisseur.refCompta.$error">Ce champs est requis</span> -->
                    </el-form-item>
                </div>
                <div >
                    <el-form-item label="poste">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">radar</span>
                            </div>
                            <select id="" class="form-control"  >
                                <option value="401">Directeur commercial</option>
                                <option value="402">Directeur commercial</option>
                            </select>
                         </div>
                        <!-- <span class="error" v-if="validations.newFournisseur.refCompta.$error">Ce champs est requis</span> -->
                    </el-form-item>
                </div>
            </div>
            <!-- <div class="col-xl-2 col-lg-6 ml-auto col-6">
                <el-dialog :visible.sync="dialogVisible" width="30%">
                    <div v-if="!previewImage">
                        <cropper 
                        ref="cropper"
                        :src="newFournisseur.image" 
                        :stencil-props="{
                        aspectRatio:10/10,
                        movable: true,
                        scalable: true,
                            }"
                            :canvas="{
                                maxHeight: 2048,
		                        maxWidth: 2048,
                            }"
                        class='img-responsive cropper'/>
                    </div>
                    <div v-if="previewImage">
                        <cropper 
                        :canvas="{
                                maxHeight: 256,
		                        maxWidth: 256,
                            }"
                        :src="previewImage"
                        ref="cropper"
                        :stencil-props="{
                        aspectRatio:10/10
                            }"
                         class='img-responsive cropper'/>
                    </div>
                    <button type="button" class="btn btn-primary" @click.prevent="crop">Confirmer</button>
                </el-dialog>
                <div class="upload-image">
                    <div v-if="newFournisseur.id">
                        <img :src="newFournisseur.image" class='img-responsive'> 
                    </div>
                    <div v-else>
                        <img v-if="previewImage" :src="previewImage" class='img-responsive'>        
                        <img v-if="!previewImage" src="../../../../../../images/erp/newimage.jpg" class='img-responsive'>
                        <input type="file" accept="images/*" class="form-control"  @change="uploadImage($event)">
                    </div>
                </div>
                <p class="upload-text mt-3 text-center">Photo</p>
            </div> -->
        </div>
    </div>
</template>
<script>
import { Cropper } from 'vue-advanced-cropper';
export default {
    components: {
		Cropper,
	},
    props: ['model', 'newPersonnel', 'validations'],
    name: 'formPartOne',
    data() {
        return {
            // coordinates: {
			// 	width: 120,
			// 	height: 120,
			// 	left: 0,
			// 	top: 0,
			// },
            // dialogVisible: false,
            // image: null,
            // canvas: null,
            // type: 'produit',
            // paramModal: false,
            // previewImage: '',
             resume: [
                {
                    label: '',
                    type: '1',
                    child: [
                        {
                            libelle: ''
                        }
                    ],
                    active: false
                }
            ],
            detail: [
                {
                    label: '',
                    type: '1',
                    child: [
                        {
                            libelle: ''
                        }
                    ],
                    active: false
                }
            ],
            types: [
                {
                    id: '1',
                    libelle: 'Input'
                },
                {
                    id: '2',
                    libelle: 'Zone de saisie'
                },
                {
                    id: '3',
                    libelle: 'Select'
                },
            ]
        }
    },
    methods: {
        openParamModal() {
            this.paramModal = true;
        },
        //  uploadImage(e) {
        //     let reader = new FileReader();
        //     if(e.target.files[0]) {
        //         this.newFournisseur.image = e.target.files[0];
        //         reader.readAsDataURL( e.target.files[0]);
        //         reader.onload = () => {
        //             this.previewImage = reader.result;
        //         },
        //         this.dialogVisible = true;
        //     }
        // }, 
        // crop() {
        //     const { coordinates, canvas } = this.$refs.cropper.getResult();
		// 	this.coordinates = coordinates;
        //     const imgCrop = canvas.toDataURL();
        //     this.previewImage = imgCrop;
        //     this.dialogVisible = false;
        //     },
            
        }
}
</script>
<style>
.el-radio__input.is-checked .el-radio__inner{
    border: #a8d08cff !important;
    background: #a8d08cff !important;
}
    .red-color{
        color: #f04124;
    }
    .upload-image{
        height: 80%;
    }
     .upload-image img{
        height: 100%;
        /* object-fit: cover; */
    }
    .upload-image input[type=file]{
           opacity: 0;
            position: absolute;
            left: 0; 
            width: 100%;
            height: 100%;
            display: inline-block;
            z-index: 100;
            cursor: pointer;
    }

    /* .upload-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */
    .form-group--error input, .form-group--error select{
        border: 1.5px solid #f04124;
        border-radius: 5px;
    }
    .form-group--error, .error{
        color: #f04124;
    }
    .el-radio__label{
        font-size: 21px;
    }
    @media (max-width: 576px) {
        .el-radio__label{
            font-size: 13px !important;
        }
        .el-form-item .el-form-item__label{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__label-wrap{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__content{
            margin-left: 0 !important;
        }
    }
</style>