<template>
    <div>
        <div class="row" id="section-2">
            <div class="col-12">
                <el-tabs type="border-card" :stretch="true">
                    <el-tab-pane label="Coordonnées">
                        <div id="content-1">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-12">
                                            <div class="content">
                                                    <el-form-item label="Code Postal">
                                                        <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">approval</span>
                                                            </div>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </el-form-item>
                                                    <el-form-item label="Ville">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">apartment</span>
                                                            </div>
                                                            <select class="form-control" >
                                                                <option v-for="(item, index) in villeData" :key="index" :value="item.libelle" >{{  item.libelle }}</option>
                                                            </select>
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Pays">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">flag</span>
                                                            </div>
                                                            <select class="form-control"  >
                                                               <option v-for="(item, index) in paysData" :key="index" :value="item.nom_fr" >{{  item.nom_fr }}</option>
                                                            </select>
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Quartier">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">where_to_vote</span>
                                                            </div>
                                                            <input type="text"  class="form-control">
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Arrondissement">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">location_city</span>
                                                            </div>
                                                        <select class="form-control" >
                                                            <option value="1er">1er arrondissement</option>
                                                            <option value="2eme">2ème arrondissement</option>
                                                            <option value="3eme">3ème arrondissement</option>
                                                            <option value="4eme">4ème arrondissement</option>
                                                            <option value="5eme">5ème arrondissement</option>
                                                            <option value="6eme">6ème arrondissement</option>
                                                        </select>
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Région">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">map</span>
                                                            </div>
                                                            <input type="text" class="form-control">
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Province">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">map</span>
                                                            </div>
                                                        <select class="form-control" >
                                                            <option v-for="(item, index) in provinceData" :key="index" :value="item.libelle" >{{  item.libelle }}</option>
                                                        </select>
                                                         </div>
                                                    </el-form-item>
                
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-12">
                                                <el-form-item label="Téléphone 1">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">phone</span>
                                                        </div>
                                                    <input type="tel" class="form-control" maxlength="20" >
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Téléphone 2">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">phone</span>
                                                        </div>
                                                    <input type="tel" class="form-control" maxlength="20"> 
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Email">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">email</span>
                                                        </div>
                                                        <input type="email" class="form-control" >
                                                    </div>                                 
                                                </el-form-item>
                                                <el-form-item label="Whatsapp">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">maps_ugc</span>
                                                        </div>
                                                        <input type="text" class="form-control" >
                                                    </div>                                 
                                                </el-form-item>
                                                <el-form-item label="Zoom">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">switch_video</span>
                                                        </div>
                                                        <input type="text" class="form-control" >
                                                    </div>                                 
                                                </el-form-item>
                                                <el-form-item label="Skype">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">switch_video</span>
                                                        </div>
                                                        <input type="text" class="form-control">
                                                    </div>                                 
                                                </el-form-item>
                                       
                                            <el-form-item label="Notes">
                                                <textarea rows="2" class="form-control" ></textarea>
                                            </el-form-item>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Contrat">  
        <!--===============* contrat-activité *==============-->
                        <el-tabs type="border-card" :stretch="true">
                            <el-tab-pane label="Activité">
                                 <div id="content-2">     
                                      <div class="row">
                                         <div class=" col-12">
                                              <el-form-item label="Nom du poste">
                                               <input type="text" class="form-control" placeholder="NodeJs">
                                              </el-form-item>                                            
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                                              <el-form-item label="Fonction">
                                                <select class="form-control" >
                                                    <option value="Codeur">Codeur</option>
                                                    <option value="Designer">Designer</option>
                                                    <option value="CDD">Community</option>
                                                </select>
                                              </el-form-item>                                            
                                          </div>
                                          <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                                              <el-form-item label="Lieu">
                                                    <select class="form-control" >
                                                        <option value="Codeur">A Cyberschool</option>
                                                        <option value="Designer">Designer</option>
                                                    </select>
                                              </el-form-item>                                            
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class=" col-12">
                                              <el-form-item label="Description">
                                               <textarea rows="2" class="form-control" ></textarea>
                                              </el-form-item>                                            
                                          </div>
                                          <div class="col-12">
                                              <el-form-item label="Lieu">
                                                    <textarea rows="2" class="form-control" ></textarea>
                                              </el-form-item>                                            
                                          </div>
                                      </div>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="Durée">
                                 <div id="content-2"> 
                                    <div class="row col-xl-5 col-lg-5 col-md-6 col-12">
                                        <h3 class="text-themecolor titre-perso">Engament</h3>
                                    </div> 
                                    <div class="row">
                                         <div class="col-xl-4 col-lg-4 col-md-12 col-12 sect-3">
                                              <el-form-item label="Type de contrat"> 
                                                <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">Codeur</option>
                                                        <option value="Designer">Designer</option>
                                                        <option value="CDD">Community</option>
                                                    </select>
                                                </div>
                                              </el-form-item>                                            
                                          </div>
                                          <div class="col-xl-4 col-lg-4 col-md-12 col-12 sect-3">
                                              <el-form-item label="Début Engagement"> 
                                               <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">A Cyberschool</option>
                                                        <option value="Designer">Designer</option>
                                                    </select>
                                               </div>                                           
                                              </el-form-item> 
                                          </div>
                                          <div class="col-xl-4 col-lg-4 col-md-12 col-12 sect-3">
                                              <el-form-item label="Fin Eengagement">
                                                  <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">A Cyberschool</option>
                                                        <option value="Designer">Designer</option>
                                                    </select>
                                                  </div>
                                              </el-form-item>                                            
                                          </div>  
                                    </div>  
                                    <div class="row col-xl-5 col-lg-5 col-md-6 col-12">
                                        <h3 class="text-themecolor titre-perso">Essai</h3>
                                    </div> 
                                    <div class="row">
                                         <div class="col-xl-4 col-lg-4 col-md-12 col-12 sect-3">
                                              <el-form-item label="Durée congés"> 
                                                <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">Codeur</option>
                                                        <option value="Designer">Designer</option>
                                                        <option value="CDD">Community</option>
                                                    </select>
                                                </div>
                                              </el-form-item>                                            
                                          </div>
                                          <div class="col-xl-4 col-lg-4 col-md-12 col-12 sect-3">
                                              <el-form-item label="Congés en Essai"> 
                                               <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">A Cyberschool</option>
                                                        <option value="Designer">Designer</option>
                                                    </select>
                                               </div>                                           
                                              </el-form-item> 
                                          </div>
                                          <div class="col-xl-4 col-lg-4 col-md-12 col-12 sect-3">
                                              <el-form-item label="Congés après Essai">
                                                  <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">A Cyberschool</option>
                                                        <option value="Designer">Designer</option>
                                                    </select>
                                                  </div>
                                              </el-form-item>                                            
                                          </div>  
                                    </div> 
                                    <div class="row col-xl-5 col-lg-5 col-md-6 col-12">
                                        <h3 class="text-themecolor titre-perso">Temps de travail</h3>
                                    </div> 
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-2 col-md-12 col-12">
                                            <p class="text-justify">Jour de travail dans une Semaine</p>   
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-12 col-12">
                                            <div>
                                                <el-checkbox-group 
                                                    v-model="checkedDays"
                                                    >
                                                    <el-checkbox v-for="day in days" :label="day" :key="day">{{day}}</el-checkbox>
                                                </el-checkbox-group>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-12 sect-4">
                                            <el-form-item label="Heure de début">
                                                  <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">8h00</option>
                                                        <option value="Codeur">9h00</option>
                                                        <option value="Codeur">10h00</option>
                                                        <option value="Codeur">11h00</option>
                                                        <option value="Codeur">12h00</option>
                                                    </select>
                                                  </div>
                                            </el-form-item>                                            
                                            <el-form-item label="Heure de Fin">
                                                  <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">8h00</option>
                                                        <option value="Codeur">9h00</option>
                                                        <option value="Codeur">10h00</option>
                                                        <option value="Codeur">11h00</option>
                                                        <option value="Codeur">12h00</option>
                                                    </select>
                                                  </div>
                                            </el-form-item>                                            
                                            <el-form-item label="Heure de Fin">
                                                  <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">8h00</option>
                                                        <option value="Codeur">9h00</option>
                                                        <option value="Codeur">10h00</option>
                                                        <option value="Codeur">11h00</option>
                                                        <option value="Codeur">12h00</option>                                                        
                                                    </select>
                                                  </div>
                                            </el-form-item>                                            
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-12 sect-4">
                                            <el-form-item label="Durée des Congés">
                                                  <div class="input-group-2 flex-nowrap">
                                                    <select class="form-control" >
                                                        <option value="Codeur">25jours/an</option>
                                                        <option value="Codeur">20jours/an</option>
                                                        <option value="Codeur">18jours/an</option>
                                                        <option value="Codeur">15jours/an</option>
                                                    </select>
                                                  </div>
                                            </el-form-item> 
                                        </div>
                                    </div>  
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="Salaire">
                                 <div id="content-2">      
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="Frais">
                                 <div id="content-2">      
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="Congés-RT">
                                 <div id="content-2">      
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="Document">
                                 <div id="content-2">      
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="Signature   ">
                                 <div id="content-2">      
                                </div>
                            </el-tab-pane>
          
                            </el-tabs>                        
                    </el-tab-pane>
                    <el-tab-pane label="Fiche de temps">
                        <div id="content-3">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <button type="button" data-toggle="modal" class="btn btn-info ajout mb-3">
                                        <i class="fa fa-plus"></i> Ajouter un CRA (Compte Rendu d’Activités)
                                    </button>
                                    <div class="row">
                                        <div class="col-12 tab-1">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <select class="custom-select" id="inputGroupSelect02">
                                                                <option selected>BILAN 2021</option>
                                                                <option value="1">BILAN 2020</option>
                                                                <option value="2">BILAN 2019</option>
                                                                <option value="3">BILAN 2018</option>
                                                            </select> 
                                                            </th>
                                                        <th @click="centerDialogVisible = true">JAN <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">FEV <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">MAR <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">AVR <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">MAI <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">JUI <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">JUL <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">AOU <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">SEP <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">OCT <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">NOV <span class="material-icons-outlined">edit</span></th>
                                                        <th @click="centerDialogVisible = true">DEC <span class="material-icons-outlined">edit</span></th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><el-checkbox v-model="checked">Jours Pleins</el-checkbox></td>
                                                        <td>21 Jrs</td>
                                                        <td>19 Jrs </td>
                                                        <td>18 Jrs</td>
                                                        <td>15 Jrs</td>
                                                        <td>10 Jrs</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>72 Jrs</td>
                                                    </tr>
                                                    <tr>
                                                        <td><el-checkbox v-model="checked">Jours Partiels</el-checkbox></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>1 Jrs</td>
                                                        <td>5 Jrs</td>
                                                        <td>3 Jrs</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>5 Jrs</td>
                                                    </tr>
                                                    <tr>
                                                        <td><el-checkbox v-model="checked">Les Congés</el-checkbox></td>
                                                        <td></td>
                                                        <td>1 Jrs</td>
                                                        <td>1 Jrs</td>
                                                        <td>1 Jrs</td>
                                                        <td>1 Jrs</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>2 jrs</td>
                                                    </tr>
                                                    <tr>
                                                        <td><el-checkbox v-model="checked">Les RTT posés</el-checkbox></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>1 Jrs</td>
                                                        <td></td>
                                                        <td>1 Jrs</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>1 jrs</td>
                                                    </tr>
                                                    <tr>
                                                        <td><el-checkbox v-model="checked">Les Absences</el-checkbox></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>1 Jrs</td>
                                                        <td></td>
                                                        <td>1 Jrs</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>1 jrs</td>
                                                    </tr>
                                                    <tr>
                                                        <td><el-checkbox v-model="checked">Les jours Fériés</el-checkbox></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>1 Jrs</td>
                                                        <td></td>
                                                        <td>1 Jrs</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>1 jrs</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total non Travaillés</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>1 jrs</td>
                                                        <td>4 jrs</td>
                                                        <td>3 jrs</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>5 jrs</td>
                                                    </tr>
                                                  
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td>Total Travail </td>
                                                        <td>20 jrs</td>
                                                        <td>19 jrs</td>
                                                        <td>19 jrs</td>
                                                        <td>20 jrs</td>
                                                        <td>13 jrs</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>5 jrs</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ========* Ouverture Modale *======== -->
                                    <el-dialog
                                    :visible.sync="centerDialogVisible"
                                    width="80%"
                                    top="2vh"
                                    center>
                                        <div class="row">
                                            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6">
                                                <h3 :style="{color: '#a8d08cff'}">Nouvelle fiche de temps</h3>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="">
                                                    <div >
                                                        <div class="tab-content" style="padding: 15px;">
                                                            <el-card class="box-card">
                                                                <div class="row">
                                                                    <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">business</span> Matricule</h3> <span>FJH0268GFK001</span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">person</span>Nom</h3><span>Obama</span>
                                                                        </div>
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">person</span>Prénom</h3> <span>Obama</span>
                                                                    </div>                                                                    
                                                                    </div>
                                                                    <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">article</span>Contrat</h3> <span>Freelance</span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">picture_as_pdf</span>Type de contrat</h3> <span>Forfait</span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">radar</span>Poste</h3><span>Poste</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xl-2 col-lg-6 ml-auto col-6">
                                                                        <img src="../../../../../../images/erp/clientMichelleObama.png" class='img-responsive' alt="">
                                                                    </div>
                                                                </div>
                                                            </el-card>
                                                            <el-card class="box-card">
                                                                <div class="row mb-3">
                                                                    <div class="col-12">
                                                                        <div class="d-flex justify-content-start align-items-center">
                                                                            <h3 class="mr-5"><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">article</span>Projet</h3> <span>Création du site de publication des offres d’emploi de l’Office National de l’Emploi (ONE)</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">business</span> Compte Clien</h3> <span>ONE-Entreprendre </span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">person</span>Site / Lieu </h3><span>Centre Ville</span>
                                                                        </div>                                                                   
                                                                    </div>
                                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">article</span>Chef de Projet</h3> <span>Joe</span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <h3><span class="input-group-text material-icons-outlined mr-2" id="addon-wrapping">picture_as_pdf</span>Manager</h3> <span>Max</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </el-card>
                                                            <!-- ============* table form *========= -->
                                                             <el-card class="box-card">
                                                                <el-form ref="form" label-width="auto" label-position="right" class="box-card">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered table-striped">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    <select class="custom-select" id="inputGroupSelect02">
                                                                                        <option selected>MAI 2021</option>
                                                                                        <option value="1">AVR 2021</option>
                                                                                        <option value="2">MAR 2021</option>
                                                                                        <option value="3">FEV 2021</option>
                                                                                    </select> 
                                                                                    </th>
                                                                                <th>Lundi</th>
                                                                                <th>Mardi</th>
                                                                                <th>Mercredi</th>
                                                                                <th>Jeudi</th>
                                                                                <th>Vendredi</th>
                                                                                <th>Samedi</th>
                                                                                <th>Dimanche</th>
                                                                                <th>Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Semaine 20</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>0jrs</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Semaine 21</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>4jrs</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Semaine 22</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>2 jrs</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Semaine 23</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>2,5jrs</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Semaine 24</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>2jrs + 5h</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Semaine 25</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>3jrs + 1h</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Semaine 26</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>0,5jrs</td>
                                                                            </tr>                                                   
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <td>TOTAL</td>
                                                                                <td>1,5jrs</td>
                                                                                <td>4jrs</td>
                                                                                <td>4jrs</td>
                                                                                <td>2jrs + 2H</td>
                                                                                <td>1jrs</td>
                                                                                <td>1jrs</td>
                                                                                <td>0jrs</td>
                                                                                <td>12jrs + 6</td>
                                                                            </tr>
                                                                        </tfoot>
                                                                        </table>
                                                                    </div>
                                                                </el-form>
                                                             </el-card>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div slot="footer" class="dialog-footer btn-icons">
                                            <el-button type="primary" @click="centerDialogVisible = false">Valider</el-button>
                                            <el-button type="success" @click="centerDialogVisible = false">Soumettre</el-button>
                                            <span class="material-icons">print</span>
                                            <span class="material-icons">save_alt</span>
                                        </div>
                                    </el-dialog>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Paie">
                        <div id="content-4">
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Administratif">
                        <div id="content-3">
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Documents">
                        <div id="content-3">
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Autre">
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</template>
<script>
import ErpModel from '../../models/erp';
const cityOptions = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'];
export default {
    props: ['model', 'newPersonnel'],
    data() {
        return {
            centerDialogVisible: false,
            paramModal: false,
            plus: false,
            villeData: [],
            paysData: [],
            provinceData: [],
            checkedDays: ['Lundi', 'Mardi'],
            days: cityOptions,
        }
    },
    created() {
        this.getAllData();
    },
    methods: {
         async hideSection() {
            this.plus = !this.plus;
            $("#content-1").toggle()
            $("#content-2").toggle()
            $("#content-3").toggle()
            $("#content-4").toggle()
        },
        getAllData() {
            ErpModel.getCollection('ville').then((res) => {
                res.forEach((doc) => {
                    const data = doc.data()
                    data.id = doc.id
                    this.villeData.push(data)
                });
            })
           
            ErpModel.getCollection('pays').then((res) => {
                res.forEach((doc) => {
                    const data = doc.data()
                    data.id = doc.id
                    this.paysData.push(data)
                });
            })
          
            ErpModel.getCollection('province').then((res) => {
                res.forEach((doc) => {
                    const data = doc.data()
                    data.id = doc.id
                    this.provinceData.push(data)
                });
            })
        }
    },
}
</script>
<style>
.btn-icons .material-icons{
    font-size: 2.5rem !important;
    color: #2f2d2d;
}
.el-dialog--center .el-dialog__footer{
    padding: 5px 10px 10px !important;
    text-align: right !important;
}
.tab-1 .table thead th{
    cursor: pointer;
}
.table tfoot td{
    background-color: #409eff !important;
    color: #ffff !important;
}
.custom-select{
    border: none !important;
    outline: none !important;
    color: #000 !important;
    font-weight: 500;
}
th .material-icons-outlined{
    font-size: 1rem;
}
.titre-perso{
    color: #a8d08cff !important;
    font-weight: bold;
}
.sect-3 .form-control{
    width: 85% !important;
}
.sect-4 .form-control{
    width: 90% !important;
}
.titre{
    color: rgb(79, 147, 236);
}
.text-muted{
    font-style: italic;
}
.titre-footer{
    color: orange;
}
td, th{
    border: 1px solid #ffff !important;
}
th{
    background-color: #409eff !important;
    color: #ffff !important;
    text-align: center !important;
}
.test{
    border: none !important;;
    color: rgb(7, 7, 7) !important;;
    font-size: 20px !important;; 
    cursor: pointer !important;; 
}

.input-group-text{
    width: 50px !important;
    background-color: #a8d08cff !important;
    color: #0a0a0a !important;
}
</style>