<template>
    <div>
        <form>
        <div class="row header backheader bg1">
            <div class="col-xl-5 col-lg-12 col-12">
                <el-form-item label="Organisation * ">
                    <div class="input-group">
                         <div>
                              <span class="input-group-text material-icons-outlined" id="basic-addon1">person</span>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </el-form-item>
                    <!-- <span class="error" v-if="validations.newOrganisme.nom.$error">Ce champ est requis</span> -->
               
                <el-form-item label="Secteur/Groupe  * ">
                    <div class="input-group">
                          <div>
                              <span class="input-group-text material-icons-outlined" id="basic-addon1">person</span>
                         </div>
                        <input type="text" class="form-control">
                    </div>
                    <!-- <span class="error" v-if="validations.newClient.prenom.$error">Ce champ est requis</span> -->
                </el-form-item>
        
                <el-form-item label="Ref Comptable * ">
                
                    <div class="input-group">
                        <div>
                            <span class="input-group-text material-icons-outlined" id="basic-addon1"> picture_as_pdf </span>
                        </div>
                        <select class="form-control">
                            <option value="CDI">431 Sécurité Sociale</option>
                            <option value="CDD">CDD</option>
                            <option value="CDD">Stage</option>
                            <option value="CDD">Intérim</option>
                        </select>
                    </div>
                    <!-- <span class="error" v-if="validations.newClient.typeContrat.$error">Ce champ est requis</span> -->
                </el-form-item>                    
            </div>
            <div class="col-xl-5 col-lg-12 col-12">
                 <el-form-item label="Tel/Mobil Sure * :">
                    <div class="input-group">
                         <div>
                              <span class="input-group-text material-icons-outlined" id="basic-addon1">phone</span>
                         </div>
                         <input type="tel" class="form-control">
                    </div>
                    <!-- <span class="error" v-if="!validations.newClient.mobileSure.mobileSure">Ce Numéro est invalide</span> -->
                    <!-- <span class="error" v-if="validations.newClient.mobileSure.$error">Ce champ est requis</span> -->
          
                 </el-form-item>

                 <el-form-item label="Email * ">                   
                     <div class="input-group">
                        <div>
                            <span class="input-group-text material-icons-outlined" id="basic-addon1">email</span>
                        </div>
                            <input type="email" class="form-control">                          
                     </div>
                        <!-- <span class="error" v-if="!validations.newClient.email.email">Ce mail est invalide</span>
                        <span class="error" v-else-if="validations.newClient.email.$error">Cet mail est requis</span> -->
                 </el-form-item>

                <el-form-item label="Contact  * ">
                    <div class="input-group">
                             <div>
                              <span class="input-group-text material-icons-outlined" id="basic-addon1">radar</span>
                            </div>
                        
                            <select id="" class="form-control">
                                <option>Agent Comptable</option>
                                <option>Gamme 2</option>
                            </select>
                    </div>
                    <!-- <span class="error" v-if="validations.newClient.poste.$error">Ce champ est requis</span> -->
                </el-form-item>            
            </div>
                                    <!-- insertion du cropper vue js -->
            <div class="col-xl-2 col-lg-6 ml-auto col-6">
                <el-dialog :visible.sync="dialogVisible" width="30%">
                    <div v-if="!previewImage">
                        <cropper 
                        ref="cropper"
                        :src="newOrganisme.image" 
                        :stencil-props="{
                        aspectRatio:10/10,
                        movable: true,
                        scalable: true,
                            }"
                            :canvas="{
                                maxHeight: 2048,
		                        maxWidth: 2048,
                            }"
                        class='img-responsive cropper'/>
                    </div>
                    <div v-if="previewImage">
                        <cropper 
                        :canvas="{
                                maxHeight: 256,
		                        maxWidth: 256,
                            }"
                        :src="previewImage"
                        ref="cropper"
                        :stencil-props="{
                        aspectRatio:10/10
                            }"
                         class='img-responsive cropper'/>
                    </div>
                    <button type="button" class="btn btn-primary" @click.prevent="crop">Confirmer</button>
                </el-dialog>
                <div class="upload-image"> 
                    <div v-if="newOrganisme.matricule != ''">
                        <img :src="newOrganisme.image" class='img-responsive'> 
                    </div>
                    <div v-else>
                        <img v-if="previewImage" :src="previewImage" class='img-responsive'>        
                        <img v-if="!previewImage" src="../../../../../../images/erp/newimage.jpg" class='img-responsive'>
                        <input type="file" accept="images/*" class="form-control"  @change="uploadImage($event)">
                    </div>
                </div>
                <p class="upload-text mt-1 text-center">Photo</p>
            </div>
                                        <!-- end crapper -->
        </div>
        </form>
    </div>
</template>
<script>
import { Cropper } from 'vue-advanced-cropper';
export default {
    	components: {
		Cropper,
	},
  props: ['validations', 'newOrganisme'],
  name: 'formPartOne',
    data() {
        return {
            imgLoad: false,
            coordinates: {
            width: 120,
            height: 120,
            left: 0,
            top: 0,
			},
            dialogVisible: false,
            image: null,
            canvas: null, 
            type: 'produit',
            previewImage: '',
            paramModal: false,
            resume: [
                {
                    label: '',
                    type: '1',
                    child: [
                        {
                            libelle: ''
                        }
                    ],
                    active: false
                }
            ],
            detail: [
                {
                    label: '',
                    type: '1',
                    child: [
                        {
                            libelle: ''
                        }
                    ],
                    active: false
                }
            ],
            types: [
                {
                    id: '1',
                    libelle: 'Input'
                },
                {
                    id: '2',
                    libelle: 'Zone de saisie'
                },
                {
                    id: '3',
                    libelle: 'Select'
                },
            ]
        }
    },
    methods: {
        openParamModal() {
            this.paramModal = true;
        },
        // uploader une photo
        uploadImage(e) {
            var reader = new FileReader();
            if(e.target.files[0]) {
                this.newOrganisme.image = e.target.files[0];
                reader.readAsDataURL( e.target.files[0]);
                reader.onload = () => {
                    this.previewImage = reader.result;
                },
                this.dialogVisible = true;
            }
        },
        // fonction de cropper
          crop() {
            const { coordinates, canvas } = this.$refs.cropper.getResult();
			this.coordinates = coordinates;
            const imgCrop = canvas.toDataURL();
            this.previewImage = imgCrop;
            this.dialogVisible = false;
            },          
    } ,
    created() {
        this.previewImage = ''
    },      
}
</script>
<style>
     .required:after {
        content:" *";
        color: red;
        }
    .material-icons-outlined {
           background-color: rgb(220 187 43);
           
    }
    .mess-insertion {
        color: rgb(0, 0, 0) !important;
        /* font-weight: bold; */
        font-size: 16px!important;
        /* margin-left: 40px; */
    }
    .upload-image{
        /* display: flex; */
        height: 80%;
        position: relative;
    }
    .upload-image img{
        width: 100%;
        height:70% !important;
    }
    .upload-image input[type=file]{
        opacity: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        z-index: 100;
        cursor: pointer;
    }
    .el-radio__label{
        font-size: 21px;
    
    }
    .error{
        color: red;
    }
    .form-group--error input, .form-group--error select {
        border: 1px solid red !important;
    }
    @media (max-width: 576px) {
        .el-radio__label{
            font-size: 13px !important;
        }
        .el-form-item .el-form-item__label{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__label-wrap{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__content{
            margin-left: 0 !important;
        }
    }
</style>