<template>
    <section id="main" style="padding-top: 0px;">
            <article class="content">
    <!-- Background Image -->
        <div id="cm-blured-box" class="full-width-box" style="height: auto !important;">
            <!-- <div class="fwb-bg fwb-blur" style="height: 350px" data-blur-image="site/img/entrepreneur.jpg" data-blur-amount="0" data-bgrepeat="no-repeat"> -->
            <img class="img-fluid" style="height: auto" src="site/img/entrepreneur.jpg">
               
            
        </div><!-- .full-width-box -->


        <div class="clearfix"></div>

                <div class="container">
                    <div class="title-box">
                        <h1 class="title">A Propos</h1>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 bottom-padding">
                            <p>CYBERSCHOOL ENTREPRENEURIAT est un incubateur NTIC qui met les nouvelles technologies au service de l'entrepreneuriat et accompagne les entrepreneurs dans la réalisation de leurs projets.</p>
                            <p>Cette initiative nait d’une volonté exprimée par un jeune entrepreneur gabonais en la personne de <strong>M. MVE ASSEKO Simplice</strong> qui a pour objectif de voir la jeunesse gabonaise se hisser au panthéon des hommes qui marquent l’histoire et qui entreprennent pour le développement de leur pays.</p>
                            <p>L’incubateur CYBERSCHOOL-ENTREPRENEURIAT est aujourd’hui un véritable vecteur de transmission de la fibre entrepreneuriale auprès de la jeunesse gabonaise à travers ses multiples programmes de formations et d’accompagnements.</p>
                            <p>L’idée nait en 2010 alors que M. MVE ASSEKO Simplice est élève-ingénieur à l’EISTI.  Il murit le projet durant sa dernière année de l’École d’Ingénieurs profitant de l’encadrement de l’EISTI en entrepreneuriat. Son diplôme d‘ingénieur informatique en poche en 2012, il poursuit l’aventure d’autant qu’il reçoit des soutiens : <strong>il est couronné lauréat  du concours Entrepreneurs d’Afrique, et est finaliste du concours GSVC – ESSEC.</strong></p> 
                            Partant du constat que 80 % des entreprises créées par les jeunes gabonais ne passent pas le cap des 2 années d’existence, un accompagnement spécifique s’impose. Le concept original de  CYBERSCHOOL ENTREPRENEURIAT propose de réunir dans une même structure une pépinière d’entreprises  et un organisme de formation continue pour les jeunes entrepreneurs gabonais, notamment autour des nouvelles technologies.
                            <p><strong> C’est à Libreville que le premier centre CYBERSCHOOL ENTREPRENEURIAT ouvre en 2014.</strong></p>
                            <p>L’inauguration officielle a eu lieu le 13 juin 2015 en présence de nombreuses personnalités. Aujourd’hui, le centre peut se prévaloir d’avoir formé  2000 personnes, et d’héberger une cinquantaine d’entreprises. Il dispose d’une équipe de 20 collaborateurs.  L’ouverture d’un second centre est d’ores déjà envisagée. Un beau succès pour la jeune entreprise.</p> 
                            <p>Simplice explique : <em>« Au sein de CYBERSCHOOL ENTREPRENEURIAT, les jeunes entrepreneurs gabonais travaillent ensemble, s’encouragent et se soutiennent. Ils  bénéficient également des formations, des méthodes professionnelles, des outils, des matériels et des locaux que nous leur apportons sur place.»</em></p>
                        </div>
                    </div>
                </div>
            </article>
    </section>
</template>
<style>

</style>
<script>
export default{
    mounted(){
         this.$loading().close()
    }
}
    
</script>
