<template>
  <div>
    <el-carousel
      class="mt-1"
      indicator-position="outside"
      :height="heightSlide"
      :interval="5000"
      arrow="always"
    >
      <el-carousel-item>
        <a href="https://programmes.cyberschoolgabon.com/#/ateliers/WMuNGbDvuRP3rJcFPtcJ">
          <!-- <button 
                 class="btn btn-warning btn-sm businessb"
                 >S'INSCRIRE
                 </button> -->
          <img src="site/content/img/slider/adbgabon.jpg" />
        </a>
      </el-carousel-item>
      <!-- <el-carousel-item>
                
                <a href="/a_propos">
              
                <img src="site/content/img/slider/pdg.png"> 
                </a>
            </el-carousel-item> -->
      <el-carousel-item>
        <a href="https://programmes.cyberschoolgabon.com/#/ateliers/WMuNGbDvuRP3rJcFPtcJ">
          <!-- <button 
                 class="btn btn-light btn-sm sm jes-prod"
                 >RESERVATION
                 </button> -->

          <img src="site/content/img/slider/adbgabon.jpg" />
        </a>
      </el-carousel-item>
      <el-carousel-item>
        <a href="https://programmes.cyberschoolgabon.com/#/ateliers/llxVbVMTTLN81mWxQvXu">
          <!-- <button
                 class="btn btn-light btn-sm jes-prod"
                 >RESERVATION
                 </button> -->

          <img src="site/content/img/slider/jes.png" />
        </a>
      </el-carousel-item>
      <el-carousel-item>
        <a href="https://programmes.cyberschoolgabon.com/#/ateliers/WWb6Nm8zxmTJLpMzHrJT">
          <!-- <button 
                 class="btn btn-warning btn-sm businessb"
                 >S'INSCRIRE
                 </button> -->
          <img src="site/content/img/slider/sessionjanvier.png" />
        </a>
      </el-carousel-item>
      <!-- <el-carousel-item>
                <a href="/login">
              
                
                <img src="site/content/img/slider/bp2021.png"> 
                </a>
            </el-carousel-item> -->
    </el-carousel>

    <section>
      <article class="content">
        <!-- template service -->
        <div class="container">
          <div class="row m-auto">
            <div>
              <div class="title-box">
                <h4><strong>Nos services</strong></h4>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 pb-3 service">
              <!-- Add a style="height: XYZpx" to div.card to limit the card height and display scrollbar instead -->
              <div
                class="card card-custom bg-white border-white border-0"
                style="height: 450px"
              >
                <div
                  class="card-custom-img"
                  style="
                    background-image: url(site/content/img/offresformation.jpg);
                  "
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="site/content/img/formation-avatar.png"
                    alt="Avatar"
                  />
                </div>
                <div class="card-cont">
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Formation</h4>
                    <p class="card-text">
                      {{ descForm | reduceParagraphLength }}
                    </p>
                  </div>
                  <div
                    class="card-footer"
                    style="background: inherit; border-color: inherit"
                  >
                    <a href="#" class="btn btn-primary">Détails</a>
                    <a
                      href="https://programmes.cyberschoolgabon.com/#/ateliers/WWb6Nm8zxmTJLpMzHrJT"
                      class="btn btn-outline-primary"
                      >Offres</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 pb-3 service">
              <!-- Copy the content below until next comment -->
              <div class="card card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="background-image: url(site/content/img/jes.jpg)"
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="site/content/img/JESProduction-avatar.png"
                    alt="Avatar"
                  />
                </div>
                <div class="card-cont">
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">JES Production</h4>
                    <p class="card-text">
                      {{ descJes | reduceParagraphLength }}
                    </p>
                  </div>
                  <div
                    class="card-footer"
                    style="background: inherit; border-color: inherit"
                  >
                    <a href="#" class="btn btn-primary">Détails</a>
                    <a
                      href="https://programmes.cyberschoolgabon.com/#/ateliers/llxVbVMTTLN81mWxQvXu"
                      class="btn btn-outline-primary"
                      >Offres</a
                    >
                  </div>
                </div>
              </div>
              <!-- Copy until here -->
            </div>

            <div class="col-md-6 col-lg-4 pb-3 service">
              <!-- Copy the content below until next comment -->
              <div class="card card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="background-image: url(site/content/img/back.jpg)"
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="site/content/img/Incubation-avatar.png"
                    alt="Avatar"
                  />
                </div>
                <div class="card-cont">
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Incubation</h4>
                    <p class="card-text">
                      {{ descIncub | reduceParagraphLength }}
                    </p>
                  </div>
                  <div
                    class="card-footer"
                    style="background: inherit; border-color: inherit"
                  >
                    <a href="#" class="btn btn-primary">Détails</a>
                    <a
                      href="https://programmes.cyberschoolgabon.com/#/ateliers/VxnhbyemMxUs8qQQjiEg"
                      class="btn btn-outline-primary"
                      >Offres</a
                    >
                  </div>
                </div>
              </div>
              <!-- Copy until here -->
            </div>

            <div class="col-md-6 col-lg-4 pb-3 service">
              <!-- Copy the content below until next comment -->
              <div class="card card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="background-image: url(site/content/img/sevicecode.jpg)"
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="site/content/img/CodeTeam-avatar.png"
                    alt="Avatar"
                  />
                </div>
                <div class="card-cont">
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">CodeTeam</h4>
                    <p class="card-text">
                      {{ descCode | reduceParagraphLength }}
                    </p>
                  </div>
                  <div
                    class="card-footer"
                    style="background: inherit; border-color: inherit"
                  >
                    <a href="#" class="btn btn-primary">Détails</a>
                    <a href="#" class="btn btn-outline-primary" style="border"
                      >Offres</a
                    >
                  </div>
                </div>
              </div>
              <!-- Copy until here -->
            </div>
            <div class="col-md-6 col-lg-4 pb-3 service">
              <!-- Copy the content below until next comment -->
              <div class="card card-custom bg-white border-white border-0">
                <div
                  class="card-custom-img"
                  style="
                    background-image: url(site/content/img/maintenance-informatique.jpg);
                  "
                ></div>
                <div class="card-custom-avatar">
                  <img
                    class="img-fluid"
                    src="site/content/img/MaintPro-avatar.png"
                    alt="Avatar"
                  />
                </div>
                <div class="card-cont">
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Maintenance Pro</h4>
                    <p class="card-text">
                      {{ descMaint | reduceParagraphLength }}
                    </p>
                  </div>
                  <div
                    class="card-footer"
                    style="background: inherit; border-color: inherit"
                  >
                    <a href="#" class="btn btn-primary">Détails</a>
                    <a
                      href="https://programmes.cyberschoolgabon.com/#/ateliers/mkJF76R5vHDlDV3qLuGd"
                      class="btn btn-outline-primary"
                      >Offres</a
                    >
                  </div>
                </div>
              </div>
              <!-- Copy until here -->
            </div>
          </div>
        </div>
        <div class="container">
          <div class="mt-5 title-box">
            <h4><strong>Qui sommes-nous?</strong></h4>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 bottom-padding">
              <p class="lead">
                <strong>
                  CYBERSCHOOL ENTREPRENEURIAT est un incubateur NTIC qui met les
                  nouvelles technologies au service de l'entrepreneuriat et
                  accompagne les entrepreneurs dans la réalisation de leurs
                  projets.</strong
                >
              </p>
              <p>
                Cette initiative nait d’une volonté exprimée par un jeune
                entrepreneur gabonais en la personne de
                <strong>M. MVE ASSEKO Simplice</strong> qui a pour objectif de
                voir la jeunesse gabonaise se hisser au panthéon des hommes qui
                marquent l’histoire et qui entreprennent pour le développement
                de leur pays.
              </p>
              <p>
                L’incubateur CYBERSCHOOL-ENTREPRENEURIAT est aujourd’hui un
                véritable vecteur de transmission de la fibre entrepreneuriale
                auprès de la jeunesse gabonaise à travers ses multiples
                programmes de formations et d’accompagnements.
              </p>
              <a href="/a_propos" class="btn btn-primary">Lire plus</a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <!--******** NOS CLIENTS***********---->
        <div class="container">
          <div class="carousel-box load overflow" data-autoplay-disable="true">
            <div class="title-box">
              <a class="next" href="#">
                <svg
                  x="0"
                  y="0"
                  width="9px"
                  height="16px"
                  viewBox="0 0 9 16"
                  enable-background="new 0 0 9 16"
                  xml:space="preserve"
                >
                  <polygon
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="#fcfcfc"
                    points="1,0.001 0,1.001 7,8 0,14.999 1,15.999 9,8 "
                  ></polygon>
                </svg>
              </a>
              <a class="prev" href="#">
                <svg
                  x="0"
                  y="0"
                  width="9px"
                  height="16px"
                  viewBox="0 0 9 16"
                  enable-background="new 0 0 9 16"
                  xml:space="preserve"
                >
                  <polygon
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="#fcfcfc"
                    points="8,15.999 9,14.999 2,8 9,1.001 8,0.001 0,8 "
                  ></polygon>
                </svg>
              </a>

              <h4><strong>Ils nous font confiance</strong></h4>
            </div>

            <div class="row">
              <div class="carousel carousel-links">
                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/primature1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>
                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/taretare1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>
                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/bet2411.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>

                <div class="col-sm-2 col-md-2">
                  <a href="http://www.creche123soleil.com/">
                    <img
                      class="replace-2x"
                      src="site/img/clients/soleil1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>

                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/optikah1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>
                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/airtel1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>
                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/apja1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>
                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/yira1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>

                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/finam1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>

                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/taretare1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>

                <div class="col-sm-2 col-md-2">
                  <a href="#">
                    <img
                      class="replace-2x"
                      src="site/img/clients/soleil1.png"
                      width="170"
                      height="70"
                      alt=""
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--********FIN DE NOS CLIENTS***********---->
        </div>
        <!-- .banner-set -->
      </article>
    </section>

    <div class="modal hide fade" id="myModal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </div>
</template>

<script>
import helper from "../../services/helper";
import ClickConfirm from "click-confirm";
export default {
  data() {
    return {
      users_count: "",
      tasks_count: "",
      heightSlide: "",
      recent_incomplete_tasks: {},
      todos: [],
      descIncub:
        "Ce service est composé de diverses entreprises hébergé au sein de CYBERSCHOOL. Il s’agit donc ici d’un service dont le rôle est de gérer et accompanger les incubés.",
      descForm:
        "Il s’agit ici d’un service dont la fonction première est d’assurer des formations logicielles de qualité aux étudiants mais aussi aux particuliers désirant approfondir leurs connaissances en matière de nouvelles technologies.",
      descCode:
        "Ce service regroupe l’ensemble des équipes de développement informatique. Dénommé CODETEAM, Il a pour mission de produire des applications  pour  l'incubateur, les clients et partenaires.",
      descJes:
        "Ce service a pour fonction prémière la création des supports (créas) de communication pour l'incubateur, ses clients et partenaires.",
      descMaint:
        "Ce service englobe l'installation, l'entretien, et le dépannage de materiel informatique, réseau, téléphone, climatisation et autres.",
      todoForm: new Form({
        todo: "",
      }),
      show_todo_status: "",
    };
  },
  components: { ClickConfirm },

  mounted() {},
  created() {
    // Listen for the i-got-clicked event and its payload.

    window.addEventListener("resize", this.onResize);
  },
  mounted() {
    this.onResize();
    this.modalpub();
    this.$loading().close();
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },
  methods: {
    onResize() {
      this.heightSlide = ($(window).width() * 500) / 1920 + "px";
    },
    getTodos() {
      axios
        .get("/api/todo?show_todo_status=" + this.show_todo_status)
        .then((response) => {
          this.todos = response.data;
        });
    },
    modalpub() {
      $("myModal").modal("show");
    },
    storeTodo() {
      this.todoForm
        .post("/api/todo")
        .then((response) => {
          toastr["success"](response.message);
          this.todos.unshift(response.data);
        })
        .catch((response) => {
          toastr["error"](response.message);
        });
    },
    deleteTodo(todo) {
      axios
        .delete("/api/todo/" + todo.id)
        .then((response) => {
          toastr["success"](response.data.message);
          this.getTodos();
        })
        .catch((error) => {
          toastr["error"](error.response.data.message);
        });
    },
    toggleTodoStatus(todo) {
      axios
        .post("/api/todo/status", { id: todo.id })
        .then((response) => {
          todo.status = !todo.status;
        })
        .catch((error) => {
          toastr["error"](error.response.message);
        });
    },
    filterTodo() {
      this.getTodos();
    },
    getProgress(task) {
      return "width: " + task.progress + "%;";
    },
    getProgressColor(task) {
      return helper.taskColor(task.progress);
    },
  },
  computed: {},
  filters: {
    moment(date) {
      return helper.formatDate(date);
    },
    momentWithTime(date) {
      return helper.formatDateTime(date);
    },
  },
};
</script>
<style>
.strikethrough {
  text-decoration: line-through;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 10px;
}
.slidetitre {
  color: white !important;
}
.service {
  margin-top: 1em;
}
.card-cont {
  padding-left: 2em;
  padding-top: 2em;
}
.btn-outline-primary {
  border: 1px solid #0499f7;
}
.card-footer {
  margin-top: 2em;
}
.container {
  font-size: 14px;
  color: #666666;
}
.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: sticky;
  content: "";
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}
.elements {
  color: white !important;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
  position: absolute;
  left: 60%;
  top: 100px;
}

.businessb {
  position: absolute;
  left: 60%;
  top: 65%;
}
.jes-prod {
  position: absolute;
  left: 15%;
  top: 72%;
}
</style>
