<template>
  <div>
    <!-- <div class="alert alert-success" role="alert" v-if="this.online == true">
      <span>En ligne</span>
    </div>
    <div class="alert alert-danger" role="alert" v-if="this.online == false">
      <span>Hors Ligne</span>
    </div> -->
    <app-header
      @settings="settings = $event"
      :displayName="displayName"
      :userImage="photo"
      :settingsIn="settings"
    ></app-header>
    <!-- <app-headersub></app-headersub> -->

    <router-view
      @changeDisplayName="changeDisplayName($event)"
      @updateUser="settings = $event"
      :userImage="photo"
      :userLogo="logo"
      :userLogoPdf="logoPdf"
      @imageUser="updateLogo($event)"
      :settingsIn="settings"
      :infoJuridiques="infoJuridiques"
      @changeLogo="changeLogo($event)"
    ></router-view>

    <app-footer :settings="settings"></app-footer>
  </div>
</template>

<script>
import AppHeader from "./components/headerMainBp";
import AppHeadersub from "./headersub-bp.vue";
import AppFooter from "./footer-bp.vue";
import helper from "../services/helper";
import firebase from "firebase";
import { Message, Loading, Notification } from "element-ui";
export default {
  components: {
    AppHeader,
    AppFooter,
    AppHeadersub,
  },
  data() {
    return {
      logo: "",
      settings: {},
      photo: "",
      logoPdf: "",
      online: true,
      infoJuridiques: "",
      userRef: firebase.firestore().collection("users"),
      displayName: this.$route.params.displayName,
    };
  },

  async created() {
    this.checkConnection();
    Loading.service({ fullscreen: true });
    await this.userRef
      .doc(JSON.parse(localStorage.getItem("userSession")).uid)
      .get()
      .then((doc) => {
        this.photo = doc.data().photo ? doc.data().logo : "";
        this.logo = doc.data().logo ? doc.data().logo : "";
        this.logoPdf = doc.data().logoPdf ? doc.data().logoPdf : "";
        this.infoJuridiques = doc.data().infoJuridiques
          ? doc.data().infoJuridiques
          : "";
        console.log("DATA", doc.data());
      });
    this.$loading().close();

    // if(JSON.parse(localStorage.getItem("userSession")).photoURL!=''){
    //     this.logo=JSON.parse(localStorage.getItem("userSession")).photoURL
    // }else{

    // }
  },
  methods: {
    updateLogo(logoImage) {
      this.photo = logoImage;
      this.$loading().close();
    },
    updateLogoPdf(logoImage) {
      this.logoPdf = logoImage;
      this.$loading().close();
    },
    changeDisplayName(username) {
      this.displayName = username;
    },
    checkConnection() {
      let connectedRef = firebase.database().ref(".info/connected");
      connectedRef.on("value", function (snap) {
        if (snap.val() === true) {
          Message({
            showClose: true,
            message: "En ligne",
            type: "success",
          });
          // this.online = true;
        } else {
          Message({
            showClose: true,
            message: "Connexion...",
            type: "error",
          });
          // this.online = false;
        }
      });
    },
    changeLogo(logoImage) {
      this.logo = logoImage;
      this.$loading().close();
    },
  },
};
</script>

<style>
.user-pic {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.user-pic-kanban {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
.sum-sub {
  color: white;
}
.user-name {
  padding-top: 10px;
}
.page-wrapper {
  margin-top: 70px !important;
}
.el-icon-more {
  color: black;
  size: 10px;
}
.vs-card--header {
  padding: 0px !important;
}
.affect-user {
  padding-top: 33px !important;
}
.affichage {
  margin-top: 20px !important;
}
.drag-bg {
  background: #fcfcfc !important;
  padding: 0 5px !important;
  box-shadow: 0 2px 2px rgb(0 0 0 / 9%) !important;
  border: 1px solid #00000026 !important;
  border-radius: 10px !important;
  margin: 5px 8px !important;
  height: 60px !important;
}

.grab {
  color: #a6a6a6 !important;
}
@media (max-width: 500px) {
  .drag-bg {
    height: 30% !important;
  }
}
</style>
