<template>
  <div id="main-wrapper">
    <app-header
      @settings="settings = $event"
      :displayName="displayName"
      :userImage="logo"
    ></app-header>
    <app-headersub></app-headersub>
    <div
      :class="[{ computer: computer }, { tablet: tablet }, { phone: phone }]"
    >
      <router-view  :perm="perm" :key="$route.fullPath"></router-view>
    </div>

    <app-footer :settings="settings"></app-footer>
  </div>
</template>

<script>
import AppHeader from "./components/headerMainBp.vue";
import AppHeadersub from "./headersub-admin.vue";
import AppFooter from "./footer-bp.vue";
import helper from "../services/helper";
import firebase from "firebase";
export default {
  data() {
    return {
      logo: "",
      userRef: firebase.firestore().collection("users"),
      displayName: this.$route.params.displayName,
      perm: JSON.parse(localStorage.getItem("userSession")).permissions.admin,
      tablet: false,
      phone: false,
      settings: {},
      computer: false,
      user: JSON.parse(localStorage.getItem("userSession")),
    };
  },
  created() {
    this.userRef
      .doc(JSON.parse(localStorage.getItem("userSession")).uid)
      .get()
      .then((doc) => {
        this.logo = doc.data().photo;
        // console.log('Doc data',doc.data())
      });
    window.addEventListener("resize", this.onResize);
  },
  mounted() {
    this.onResize();
  },
  methods: {
    // notification(){
    //     toastr.options = {
    //         "positionClass": "toast-top-right"
    //     };

    //     $('[data-toastr]').on('click',function(){
    //         var type = $(this).data('toastr'),message = $(this).data('message'),title = $(this).data('title');
    //         toastr[type](message, title);
    //     });
    // },
    getAuthUser(name) {
      return this.$store.getters.getAuthUser(name);
    },
    onResize() {
      if (window.innerWidth < 415) {
        this.phone = true;
        this.tablet = false;
        this.computer = false;
      } else if ((window.innerWidth >= 415) & (window.innerWidth < 900)) {
        this.tablet = true;
        this.phone = false;
        this.computer = false;
      } else {
        this.computer = true;
        this.tablet = false;
        this.phone = false;
      }
    },
  },
  components: {
    AppHeader,
    AppFooter,
    AppHeadersub,
  },
};
</script>
<style>
#main-wrapper {
  background-color: #c8cacd !important;
}
.page-wrapper {
  margin-top: 70px !important;
}

.phone {
  padding-left: 50px;
}
.tablet {
  padding-left: 80px;
}
.computer {
  padding-left: 170px;
}
</style>
