<template>
    <div id="main-wrapper">
        <app-header></app-header>
         <app-headersub></app-headersub>
            <app-sidebar></app-sidebar>





            <router-view @authenticated="setAuthenticated" />



        	<app-footer></app-footer>

    </div>
</template>


<script>
    import AppHeader from './header-evaluateur.vue'
    import AppHeadersub from './headersub-evaluateur.vue'
    import AppFooter from './footer-bp.vue'
    import AppSidebar from './right-sidebar-evaluateur.vue'
    import helper from '../services/helper'
    export default {

        data() {
            return {
                authenticated: true,

            }
        },
        methods : {
            notification(){
                toastr.options = {
                    "positionClass": "toast-top-right"
                };

                $('[data-toastr]').on('click',function(){
                    var type = $(this).data('toastr'),message = $(this).data('message'),title = $(this).data('title');
                    toastr[type](message, title);
                });
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            },
            setAuthenticated(status) {
                this.authenticated = status;
            },
            logout() {
                this.authenticated = false;
            }
        },
        components: {
            AppHeader,  AppFooter,AppSidebar,AppHeadersub
        },
        mounted() {

            if(!this.authenticated) {
                this.$router.replace({ name: "login" });
            }

            $('body').addClass("fix-header fix-sidebar card-no-border");
            $("body").trigger("resize");
            $(".fix-header .topbar").stick_in_parent();
            $('.scroll-sidebar').slimScroll({
                position: 'left'
                , size: "5px"
                , height: '100%'
                , color: '#dcdcdc'
            });
            $('.message-scroll').slimScroll({
                position: 'right'
                , size: "5px"
                , height: '570'
                , color: '#dcdcdc'
            });

            //TODO: fix it ASAP
            /*
            if(!this.getAuthUser('email')){
                helper.authUser().then(response => {
                    this.$store.dispatch('setAuthUserDetail',{
                        first_name: response.profile.first_name,
                        last_name: response.profile.last_name,
                        email: response.user.email,
                        avatar:response.profile.avatar
                    });
                });
            } */
        }
    }
</script>
