<template>
    <div id="main-wrapper">
        <app-header :userImage="logo"></app-header>
         <app-headersub></app-headersub>

            <div :class="[{computer:computer},{tablet:tablet},{phone:phone}]">
                <router-view></router-view>
            </div>

        	<app-footer></app-footer>

    </div>
</template>


<script>
    import AppHeader from './components/headerMainBp'
    import AppHeadersub from './headersub-suivi.vue'
    import AppFooter from './footer-bp.vue'
    import helper from '../services/helper'
    import firebase from 'firebase'
    export default {
        data(){
            return{
                logo:'',
                userRef:firebase.firestore().collection('users'),
                tablet: false,
                phone: false,
                computer: false,
                

            }
        },
        async created(){
            // Loading.service({ fullscreen: true });
        await  this.userRef.doc(JSON.parse(localStorage.getItem("userSession")).uid).get().then((doc)=>{
                this.logo= doc.data().photo
                // console.log('Doc data',doc.data())
            })
            // this.$loading().close();
            // if(JSON.parse(localStorage.getItem("userSession")).photoURL!=''){
            //     this.logo=JSON.parse(localStorage.getItem("userSession")).photoURL
            // }else{
            
            // }
            window.addEventListener('resize', this.onResize)
         
        },
          mounted(){
            this.onResize();
        },
        methods : {
           
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            },
            onResize() {
                if (window.innerWidth < 415) {
                this.phone = true
                this.tablet = false
                 this.computer = false
                } else if (window.innerWidth >= 415 & window.innerWidth <900) {
                 this.tablet = true
                 this.phone = false
                 this.computer = false
                } else {
                this.computer = true
                 this.tablet = false
                 this.phone = false
                 
                } 
            }
        },
        components: {
            AppHeader,  AppFooter,AppHeadersub
        },
       
    }
</script>
<style>
#main-wrapper{
    background-color: #c8cacd !important;
}
.page-wrapper{
    padding-left:15px!important;
}
.phone{
padding-left:50px;
}
.tablet{
padding-left:80px;
}
.computer{
padding-left:170px;
}
</style>