<template>
  <div id="main-wrapper">
    <app-header
      @settings="settings = $event"
      :displayName="displayName"
      :userImage="photo"
      :settingsIn="settings"
    ></app-header>
    <router-view
      @changeDisplayName="changeDisplayName($event)"
      @updateUser="settings = $event"
      :userImage="photo"
      :userLogo="logo"
      @imageUser="updateLogo($event)"
      :settingsIn="settings"
      @changeLogo="changeLogo($event)"
    />
    <app-footer :settings="settings"></app-footer>
  </div>
</template>

<script>
// elements de menus
import AppHeader from "./components/headerMainBp";
import AppFooter from "./footer-bp.vue";
import firebase from "firebase";
import { Message, Loading } from 'element-ui';
export default {
  components: {
    AppHeader,
    AppFooter,
  },
  data() {
    return {
      logo: "",
      settings: {},
      photo: "",
      online: true,
      userRef: firebase.firestore().collection("users"),
      displayName: this.$route.params.displayName,
    };
  },

  async created() {
    this.checkConnection();
    Loading.service({ fullscreen: true });
    await this.userRef
      .doc(JSON.parse(localStorage.getItem("userSession")).uid)
      .get()
      .then((doc) => {
        this.photo = doc.data().photo;
        this.logo = doc.data().logo;
        // console.log('Doc data',doc.data())
      });
    this.$loading().close();

    // if(JSON.parse(localStorage.getItem("userSession")).photoURL!=''){
    //     this.logo=JSON.parse(localStorage.getItem("userSession")).photoURL
    // }else{

    // }
  },
  methods: {
    updateLogo(logoImage) {
      this.photo = logoImage;
      this.$loading().close();
    },
    changeDisplayName(username) {
      this.displayName = username;
    },
    checkConnection() {
      let connectedRef = firebase.database().ref(".info/connected");
      connectedRef.on("value", function (snap) {
        if (snap.val() === true) {
          Message({
            showClose: true,
            message: "En ligne",
            type: "success",
          });
          // this.online = true;
        } else {
          Message({
            showClose: true,
            message: "Connexion...",
            type: "error",
          });
          // this.online = false;
        }
      });
    },
    changeLogo(logoImage) {
      this.logo = logoImage;
      this.$loading().close();
    },
  },
};
</script>
<style>
.page-wrapper {
  margin-top: 70px !important;
}
</style>
