<template>
    <div id="main-wrapper">
        <div class="main-content">
            <div class="side-menu">
                <side-menu > </side-menu>
            </div>
            <div class="content">
                <app-header :userImage="logo"></app-header>        
                <div>
                    <router-view ></router-view>
                </div>
                <!-- <app-footer></app-footer> -->
            </div>
        </div>
    </div>
</template>


<script>
    // elements de menus
    import sideMenu from './sidebar-financier'
    import AppHeader from './header-bp-suivi.vue'
    import AppFooter from './footer-bp.vue'
    import helper from '../services/helper'
    import firebase from 'firebase'
    export default {
        components: {
            AppHeader,  AppFooter, sideMenu
        },
        data(){
            return{
                logo:'',
                userRef:firebase.firestore().collection('users')

            }
        },
        async created(){
            // Loading.service({ fullscreen: true });
        await  this.userRef.doc(JSON.parse(localStorage.getItem("userSession")).uid).get().then((doc)=>{
                this.logo= doc.data().photo
                // console.log('Doc data',doc.data())
            })
            // this.$loading().close();
            // if(JSON.parse(localStorage.getItem("userSession")).photoURL!=''){
            //     this.logo=JSON.parse(localStorage.getItem("userSession")).photoURL
            // }else{
            
            // }
        },
        methods : {
            
        },
      
    }
</script>
<style scoped>
    .main-content {
        display: flex;
    }
    .side-menu {
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    }
    .content {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        flex: 2px;
    }
</style>