<template>
    <div>
        <app-header></app-header>


        <router-view></router-view>

        <app-footer></app-footer>

    </div>
</template>


<script>
    import AppHeader from './header-bp-suivi.vue'
    //import AppHeadersub from './sidebar-moniteur.vue'
    import AppFooter from './footer-bp.vue'
    import helper from '../services/helper'
    export default {
        methods : {
            notification(){
                toastr.options = {
                    "positionClass": "toast-top-right"
                };

                $('[data-toastr]').on('click',function(){
                    var type = $(this).data('toastr'),message = $(this).data('message'),title = $(this).data('title');
                    toastr[type](message, title);
                });
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            }
        },
        props: {
            projet: {
                type: [String,Number],
                required: false
            }
        },
        components: {
            AppHeader,  AppFooter
        },
        mounted() {
            $('body').addClass("fix-header fix-sidebar card-no-border");
            $("body").trigger("resize");
            $(".fix-header .topbar").stick_in_parent();
            $('.scroll-sidebar').slimScroll({
                position: 'left'
                , size: "5px"
                , height: '100%'
                , color: '#dcdcdc'
            });
            $('.message-scroll').slimScroll({
                position: 'right'
                , size: "5px"
                , height: '570'
                , color: '#dcdcdc'
            });

            $(".preloader").fadeOut();
            jQuery(document).on("click", ".mega-dropdown", function(e) {
                e.stopPropagation();
            });
            var set = function() {
                (window.innerWidth > 0 ? window.innerWidth : this.screen.width) < 1170 ? ($("body").addClass("mini-sidebar"),
                $(".navbar-brand span").hide(), $(".sidebartoggler i").addClass("ti-menu")) : ($("body").removeClass("mini-sidebar"),
                $(".navbar-brand span").show());
                var height = (window.innerHeight > 0 ? window.innerHeight : this.screen.height) - 1;
                (height -= 0) < 1 && (height = 1), height > 0 && $(".page-wrapper").css("min-height", height + "px");
            };
            $(window).ready(set);
            $(window).on("resize", set);
            $(".sidebartoggler").on("click", function() {
                $("body").hasClass("mini-sidebar") ? ($("body").trigger("resize"), $("body").removeClass("mini-sidebar"),
                $(".navbar-brand span").show()) : ($("body").trigger("resize"), $("body").addClass("mini-sidebar"),
                $(".navbar-brand span").hide());
            }),
            $(".nav-toggler").click(function() {
                $("body").toggleClass("show-sidebar"), $(".nav-toggler i").toggleClass("ti-menu"),
                $(".nav-toggler i").addClass("ti-close");
            });
            $(".search-box a, .search-box .app-search .srh-btn").on("click", function() {
                $(".app-search").toggle(200);
            });
            $(".right-side-toggle").click(function() {
                $(".right-sidebar").slideDown(50), $(".right-sidebar").toggleClass("shw-rside");
            });
            $(".floating-labels .form-control").on("focus blur", function(e) {
                $(this).parents(".form-group").toggleClass("focused", "focus" === e.type || this.value.length > 0);
            }).trigger("blur"), $(function() {
                for (var url = window.location, element = $("ul#sidebarnav a").filter(function() {
                    return this.href == url;
                }).addClass("active").parent().addClass("active"); ;) {
                    if (!element.is("li")) break;
                    element = element.parent().addClass("in").parent().addClass("active");
                }
            });
            $(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $(function() {
                $('[data-toggle="popover"]').popover();
            });
            /* $(function() {
                $("#sidebarnav").AdminMenu();
            });
            $(".scroll-sidebar, .right-side-panel, .message-center, .right-sidebar").perfectScrollbar(); */
            $("body").trigger("resize"), $(".list-task li label").click(function() {
                $(this).toggleClass("task-done");
            });
            $('a[data-action="collapse"]').on("click", function(e) {
                e.preventDefault(), $(this).closest(".card").find('[data-action="collapse"] i').toggleClass("ti-minus ti-plus"),
                $(this).closest(".card").children(".card-body").collapse("toggle");
            });
            $('a[data-action="expand"]').on("click", function(e) {
                e.preventDefault(), $(this).closest(".card").find('[data-action="expand"] i').toggleClass("mdi-arrow-expand mdi-arrow-compress"),
                $(this).closest(".card").toggleClass("card-fullscreen");
            });
            $('a[data-action="close"]').on("click", function() {
                $(this).closest(".card").removeClass().slideUp("fast");
            });
        }
    }
</script>
