<template>
  <footer
    :style="{
      backgroundColor: settings.color,
    }"
    class="footer size-footer"
  >
    <a href="#" target="_blank">CYBERSCHOOL-ENTREPRENEURIAT</a> | CODETEAM 2021
    <!-- <beautiful-chat
        :participants="participants"
        :titleImageUrl="titleImageUrl"
        :onMessageWasSent="onMessageWasSent"
        :messageList="filterMessageList"
        placeholder="Ecrire un message"
        :newMessagesCount="newMessagesCount"
        :isOpen="isChatOpen"
        :close="closeChat"
        :icons="icons"
        :open="openChat"
        :showEmoji="true"
        :showFile="true"
        :showTypingIndicator="showTypingIndicator"
        :colors="colors"
        :alwaysScrollToBottom="alwaysScrollToBottom"
        :messageStyling="messageStyling"
        @onType="handleOnType"
        @edit="editMessage" >
        <template v-slot:header> 

            <el-select v-model="userSelected" @change="userSelect(value)" placeholder="Utilisateurs">
            <el-option
                v-for="user in participants"
                :key="user.userId"
                :label="user.name"
                :value="user.userId">
           
                <span style="float: left">  <el-avatar size="small" :src="circleUrl"></el-avatar></span>
                <span style="float: left; color: #8492a6; font-size: 13px">{{ user.name }}</span>
                <span  v-if="user.connected"  style="float: right; color: #61b174; font-size: 10px"> En ligne</span>
                <span  v-else  style="float: right; color: #e71212; font-size: 10px">Hors ligne </span>
            </el-option>
            </el-select>
        </template>
     
        </beautiful-chat> -->
  </footer>
</template>

<script>
import firebase from "firebase";
import helper, { makeId } from "../services/helper";
/* import CloseIcon from 'vue-beautiful-chat/src/assets/close-icon.png'
    import OpenIcon from 'vue-beautiful-chat/src/assets/logo-no-bg.svg'
    import FileIcon from 'vue-beautiful-chat/src/assets/file.svg'
    import CloseIconSvg from 'vue-beautiful-chat/src/assets/close.svg' */

export default {
  props: {
    settings: {
      default() {
        return {};
      },
      type: Object,
    },
  },
  data() {
    return {
      messageRef: firebase.database().ref("messages"),
      memberRef: firebase.firestore().collection("vendeurs"),
      userId: JSON.parse(localStorage.getItem("userSession")).uid,
      projectId: JSON.parse(localStorage.getItem("userSession")).projet,
      members: [],
      circleUrl:
        "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",
      userSelected: "",
      /* icons:{
                    open:{
                    img: OpenIcon,
                    name: 'default',
                    },
                    close:{
                    img: CloseIcon,
                    name: 'default',
                    },
                    file:{
                    img: FileIcon,
                    name: 'default',
                    },
                    closeSvg:{
                    img: CloseIconSvg,
                    name: 'default',
                    },
                }, */
      currentTyping: "",
      participants: [], // the list of all the participant of the conversation. `name` is the user name, `id` is used to establish the author of a message, `imageUrl` is supposed to be the user avatar.
      titleImageUrl:
        "https://a.slack-edge.com/66f9/img/avatars-teams/ava_0001-34.png",
      messageList: [],
      filterMessageList: [], // the list of the messages to show, can be paginated and adjusted dynamically
      newMessagesCount: 2,
      isChatOpen: false, // to determine whether the chat window should be open or closed
      showTypingIndicator: "", // when set to a value matching the participant.id it shows the typing indicator for the specific user
      colors: {
        header: {
          bg: "#4e8cff",
          text: "#ffffff",
        },
        launcher: {
          bg: "#4e8cff",
        },
        messageList: {
          bg: "#ffffff",
        },
        sentMessage: {
          bg: "#4e8cff",
          text: "#ffffff",
        },
        receivedMessage: {
          bg: "#eaeaea",
          text: "#222222",
        },
        userInput: {
          bg: "#f4f7f9",
          text: "#565867",
        },
      }, // specifies the color scheme for the component
      alwaysScrollToBottom: false, // when set to true always scrolls the chat to the bottom when new events are in (new message, user starts typing...)
      messageStyling: true, // enables *bold* /emph/ _underline_ and such (more info at github.com/mattezza/msgdown)
    };
  },
  mounted() {
    this.members = []; //on reset le data pour éviter les doublons
    this.memberRef
      .where("projectId", "==", this.projectId)
      .onSnapshot((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let obj = doc.data();
          obj.id = doc.id;

          this.participants.push({
            id: obj.id,
            name: obj.nom,
            userId: obj.userId,
            imageUrl:
              "https://avatars3.githubusercontent.com/u/1915989?s=230&v=4",
            connected: obj.connected,
          });
        });
        //this.loading = false;

        this.countMessages();
      });
  },
  methods: {
    countMessages() {
      this.newMessagesCount = 0;
      var ref = firebase.database().ref("messages");
      ref
        .orderByChild("to")
        .equalTo(this.userId)
        .on("child_added", (snapshot) => {
          if (!snapshot.val().read) {
            //console.log('HOLLA',snapshot.val())
            this.newMessagesCount = this.newMessagesCount + 1;
            //console.log('HOLLA',this.newMessagesCount)
          }
        });
    },

    //FONCTION ELEMENT TABLE
    userSelect() {
      // var user="max1254.cyberschool@gmail.com"
      // firebase.auth().onAuthStateChanged(function(user) {
      //   if (user) {
      //     // User is signed in.
      //     alert("OK")
      //   } else {
      //     // No user is signed in.
      //   }
      // });
      let connectedRef = firebase.database().ref(".info/connected");
      connectedRef.on("value", (snap) => {
        if (snap.val() === true) {
          console.log("connected");
          this.memberRef
            .where("userId", "==", this.userId)
            .onSnapshot((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                this.memberRef.doc(doc.id).update({ connected: true });
              });
            });
          // let currentMemeber =firebase.firestore().collection('vendeurs').doc(this.userId);
          // let updateSingle = currentMemeber.update({conneted: true});
        } else {
          console.log("not connected");
        }
      });

      // alert(value);
      //  console.log(user.userId,this.userId)
      this.messageList = [];
      this.filterMessageList = [];
      // this.userTo=user;
      var ref = firebase.database().ref("messages");

      ref
        .orderByChild("to")
        .equalTo(this.userId)
        .on("child_added", (snapshot) => {
          if (snapshot.val().userId == this.userSelected) {
            this.messageList.push({
              type: snapshot.val().type,
              author: "in",
              data: snapshot.val().data,
              createdAt: snapshot.val().createdAt,
            });
            let messageKey = snapshot.key;

            firebase
              .database()
              .ref("messages/" + messageKey)
              .set(
                {
                  author: snapshot.val().author,
                  data: snapshot.val().data,
                  projectId: snapshot.val().projectId,
                  read: true,
                  to: snapshot.val().to,
                  type: snapshot.val().type,
                  userId: snapshot.val().userId,
                  createdAt: snapshot.val().createdAt,
                },
                function(error) {
                  if (error) {
                    console.log("The write failed...");
                  } else {
                    console.log("Data saved successfully!");
                  }
                }
              );
            //console.log("KEY",snapshot.key)
            this.playSound(
              "http://soundbible.com/mp3/Air Plane Ding-SoundBible.com-496729130.mp3"
            );
          }
        });

      ref
        .orderByChild("userId")
        .equalTo(this.userId)
        .on("child_added", (snapshot) => {
          if (snapshot.val().to == this.userSelected) {
            this.messageList.push({
              type: snapshot.val().type,
              author: "me",
              data: snapshot.val().data,
              createdAt: snapshot.val().createdAt,
            });
            //  this.showTypingIndicator=''
            // console.log('Check',snapshot.val().createdAt)
          }
        });

      this.filterMessageList = this.messageList;

      console.log("Item log", this.filterMessageList);

      //console.log(this.messageList)
      // let message =[...this.messageList];
      // this.filterMessageList=message.sort(function(a,b){
      // return a.createdAt-b.createdAt
      // } )

      this.countMessages();
    },
    //CHAT METHODES
    sendMessage(text) {
      // alert('HI')
      if (text.length > 0) {
        this.newMessagesCount = this.isChatOpen
          ? this.newMessagesCount
          : this.newMessagesCount + 1;
        console.log(text);

        // this.onMessageWasSent({ author: 'salsa', type: 'text', data: { text },projectId:this.projectId, userId:this.userId })
        // this.messageRef.add(this.message)
      }
    },
    onMessageWasSent(text) {
      // called when the user sends a message
      //this.messageList = [ ...this.messageList, message ]
      //this.messageRef.add(message)

      // Generate a reference to a new location and add some data using push()
      // var newPostRef = postsRef.push();

      // Get the unique key generated by push()

      var postId = makeId();
      // text.projectId=this.projectId
      // text.userId=this.userId
      // text.to=this.userSelected
      // text.read=false
      // text.isEdited=false
      // text.createdAt= Date.now()

      console.log(text.createdAt);
      // text.suggestions=['some quick reply','another one']

      firebase
        .database()
        .ref("messages/" + postId)
        .set({
          author: text.author,
          data: text.data,
          projectId: this.projectId,
          read: false,
          to: this.userSelected,
          type: text.type,
          userId: this.userId,
          createdAt: Date.now(),
        });
      this.showTypingIndicator = "";
    },
    typingClose() {
      this.showTypingIndicator = "";
    },
    openChat() {
      // called when the user clicks on the fab button to open the chat
      this.isChatOpen = true;
    },
    closeChat() {
      // called when the user clicks on the botton to close the chat
      this.isChatOpen = false;
      this.countMessages();
    },
    handleScrollToTop() {
      // called when the user scrolls message list to top
      // leverage pagination for loading another page of messages
    },
    handleOnType() {
      var postId = makeId();
      firebase
        .database()
        .ref("typing/" + this.userId)
        .set({
          projectId: this.projectId,
          userId: this.userId,
          to: this.userSelected,
          typing: postId,
        });

      firebase
        .database()
        .ref("typing/" + this.userSelected + "/typing")
        .on("value", (snapshot) => {
          if (snapshot.val() != null && snapshot.val().to == this.userId) {
            //console.log(snapshot.val())
            //updateStarCount(postElement, snapshot.val());
            this.showTypingIndicator = this.userSelected;
            //  setTimeout(this.typingClose(), 1000)
            // console.log('Est entrain d\'écrire')
          }
        });
    },
    editMessage(message) {
      const m = this.messageList.find((m) => m.id === message.id);
      m.isEdited = true;
      m.data.text = message.data.text;
    },
    playSound(sound) {
      if (sound) {
        var audio = new Audio(sound);
        audio.play();
      }
    },
    recetteEdit(data) {
      localStorage.setItem("recetteEdit", JSON.stringify(data));
      Router.replace("/bp/suivi/recettes");
    },
  },
};
</script>

<style>
/* .online{
    background-color: rgb(11, 211, 144);
} */
a {
  color: white;
}
</style>
