<template>
    <div class="head-nav-tab">
        <!-- Nav tabs -->
        <!-- Nav tabs -->
        <ul class="nav nav-pills  m-t-5">
            <div class="col-lg-5 col-xlg-5 col-md-5">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'besoins' }">Investissements</router-link> 
                </li>
                <div class="sub-list">
                    <ul class="d-flex">
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name: 'besoins' }" >
                                <span><i class="fas fa-clipboard-list"></i></span>
                                <span class="hidden-xs-down">Besoins</span>
                            </router-link>
                        </li>
           
                        <li class="nav-item">
                            <router-link :to="{ name: 'ressources' }" class="nav-link">
                                <span><i class="ti-wallet"></i></span>
                                <span class="hidden-xs-down">Ressources</span>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-xlg-5 col-md-5">
                <li class="nav-item"> <router-link class="nav-link" :to="{ name: 'produits' }" >Exploitation</router-link> </li>
                <div class="sub-list">
                    <ul class="d-flex">
                        <li class="nav-item">
                            <router-link class="nav-link " :to="{ name: 'produits' }">
                                <span><i class="ti-dropbox-alt"></i></span>
                                <span class="hidden-xs-down">Produits</span>
                            </router-link>
                        </li>
                        <li class="nav-item">
                        <router-link class="nav-link" :to="{ name: 'charges' }">
                            <span><i class="fas fa-calculator"></i></span>
                            <span class="hidden-xs-down">Charges</span>
                        </router-link>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-xlg-2 col-md-2">
                <li class="nav-item"> <router-link class="nav-link" :to="{ name: 'recapitulatif' }" >Récapitulatif</router-link> </li>
            </div>
        </ul>      
    </div>
</template>

<style scoped>
    .head-nav-tab ul.m-t-5{
        border-bottom: 2px solid #e4e4e482 !important;
    }
    .head-nav-tab ul.nav-pills li.nav-item a.nav-link{
        font-style: italic;
        color: #59595975 !important;
        text-align: center;
        font-size: 16px !important;
    }
    .head-nav-tab ul.nav-pills li.nav-item a.nav-link.active{
        /* color: #034091 !important;
        border-bottom: 2px solid #034091; */
        color: #034091a1 !important;
        border-bottom: 2px solid #0340918f;
        background: transparent;
    }
    .sub-list ul{
        justify-content: center;
        margin: 5px auto;
    }
    .sub-list ul li.nav-item a.nav-link.active{
        background-image: linear-gradient(to right, #accbee 0%, #e7f0fd 100%) !important;
        border: none !important;
        font-size: 20px !important;
    }
    .sub-list ul li.nav-item a.nav-link.active i{
        color: #034091 !important;
        font-size: 20px;
    }
    .sub-list ul li{
        margin: 0 auto;
        flex: 1;
    }
    .head-nav-tab .sub-list ul li a.nav-link{
        font-style: normal !important;
    }
</style>