<template>
    <div >
        <!-- Nav tabs -->
        <!-- Nav tabs -->
       
        <!-- <ul class="nav nav-tabs customtab" role="tablist">
           
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'besoins' }" >
                    <span><i class="fas fa-clipboard-list"></i></span>
                    <span class="hidden-xs-down">Besoins</span>
                </router-link>
            </li>
           
            <li class="nav-item">
                <router-link :to="{ name: 'ressources' }" class="nav-link">
                    <span><i class="ti-wallet"></i></span>
                    <span class="hidden-xs-down">Ressources</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link " :to="{ name: 'produits' }">
                    <span><i class="ti-dropbox-alt"></i></span>
                    <span class="hidden-xs-down">Produits</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'charges' }">
                    <span><i class="fas fa-calculator"></i></span>
                    <span class="hidden-xs-down">Charges</span>
                </router-link>
            </li>
         
        </ul> -->
    </div>
</template>
