<template>
	<div>
		<p class="text-center"><small>Développé par <a href="https://www.facebook.com/codeteamgabon" target="_blank">CODETEAM</a></small></p>
	</div>
</template>


<script>
    export default { }
</script