<template>
    <div id="main-wrapper">
        <div id=" corps">
            <app-header></app-header>
            <router-view></router-view>
            <app-footer></app-footer>
        </div>
    </div>
</template>
<style>

#main-wrapper {
    height: 100%;
}
</style>

<script>
    import AppHeader from './header-site.vue'
    import AppFooter from './footer-site.vue'
    export default {
        methods : {
            
        },
        components: {
            AppHeader,  AppFooter
        }
    }
</script>

<style>
    .dropdown-large{ 
      padding:20px;
     }

    @media all and (min-width: 992px) {
      .dropdown-large{ 
        min-width:700px; }
    }
    li a {
         text-decoration:none !important
    }
    
</style>

