<template>

     
        <div >
        <app-header></app-header>
      

     
          
        <router-view></router-view>
       
    </div>      
  
</template>

<script>
    import AppHeader from './header-bp-login.vue'
    import AppFooter from './footer-bp.vue'
    export default {
      
        components: {
            AppHeader,  AppFooter
        },
     
    }
</script>
<style>
    .el-form-item__label{
        line-height: 0px !important;
    }
    .el-form--label-top .el-form-item__label {
        padding: 0 0 0px !important;   
    }
.row{
    margin-right: 0 !important;
}

</style>