<template>
  <div id="top-box">
    <div class="top-box-wrapper" style="height: 5px;"></div>
    <!----*************FIN ENTETE BLEU*************---->
    <div v-if="mobileView == false && tabletView == false && screenView == false">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand container-logo" href="#">
            <a href="/">
              <img
                src="/site/img/logo.png"
                width="150px;"
                class="img-responsive"
                alt=""
              />
            </a>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            @click="displayMobileMenu()"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
              <ul class="navbar-nav me-auto mb-3 mb-lg-0 justify-content-end">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="https://programmes.cyberschoolgabon.com/#/ateliers/WMuNGbDvuRP3rJcFPtcJ"
                    tabindex="-1"
                    aria-disabled="true"
                  >
                    <button type="button" class="btn btn-warning btn-sm">
                      DEJEUNER NUMERIQUE 3
                    </button>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    :class="{ active: this.$route.path == '/' }"
                    aria-current="page"
                    href="/"
                    >ACCUEIL</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    :class="{ active: this.$route.path == '' }"
                    href="#"
                    data-toggle="dropdown"
                  >
                    NOS SERVICES
                  </a>
                  <div class="dropdown-menu dropdown-large">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-4 services">
                          <h5>INCUBATION</h5>
                          <a
                            class="disabled"
                            href="https://programmes.cyberschoolgabon.com/#/ateliers/VxnhbyemMxUs8qQQjiEg"
                            >Offres</a
                          >
                          <br />
                          <a class="disabled" href="#">Incubés</a> <br />
                          <a class="disabled" href="#">Locaux</a> <br />
                        </div>
                        <div class="col-sm-4 services">
                          <h5>FORMATIONS</h5>
                          <a href="https://programmes.cyberschoolgabon.com/#/ateliers/WWb6Nm8zxmTJLpMzHrJT">Offres</a
                          ><br />
                          <a href="/formations">Supports de cours</a>
                        </div>
                        <div class="col-sm-4 services">
                          <h5>JES PRODUCTION</h5>
                          <a href="https://programmes.cyberschoolgabon.com/#/ateliers/llxVbVMTTLN81mWxQvXu">Offres</a
                          ><br />
                          <a href="/catalogue_photos">Catalogue photos</a><br />
                          <a href="#">Catalogue vidéos</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 services">
                          <h5>CODETEAM</h5>
                          <a href="#">Offres</a> <br />
                          <a href="#">Réalisations</a>
                          <a href="#">Code space</a>
                        </div>
                        <div class="col-sm-4 services">
                          <h5>MAINTENANCE PRO</h5>
                          <a href="https://programmes.cyberschoolgabon.com/#/ateliers/mkJF76R5vHDlDV3qLuGd">Offres</a
                          ><br />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--dropdown-large.// -->
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    onclick="active"
                    href="#"
                    data-toggle="dropdown"
                  >
                    NOS APPLICATIONS
                  </a>
                  <div class="dropdown-menu dropdown-large">
                    <div class="container">
                      <div class="row">
                        <div class="mt-2 col-sm-12">
                          <a href="/login">BUSINESS BOOSTER </a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <a href="https://www.taches.cyberschoolgabon.com">GESTION DES TACHES </a
                          ><span class="badge bg-danger">NOUVEAU</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--dropdown-large.// -->
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    :class="{ active: this.$route.path == '/a_propos' }"
                    onclick="active"
                    href="/a_propos"
                    tabindex="-1"
                    aria-disabled="true"
                    >A PROPOS</a
                  >
                </li>

                <li class="nav-item float-right">
                  <a
                    class="nav-link"
                    href="/login"
                    tabindex="-1"
                    aria-disabled="true"
                  >
                    <button type="button" class="btn btn-primary btn-sm">
                      BUSINESS BOOSTER
                    </button>
                  </a>
                </li>
                <li class="nav-item float-right">
                  <a
                    class="nav-link"
                    href="https://www.taches.cyberschoolgabon.com"
                    tabindex="-1"
                    aria-disabled="true"
                  >
                    <button type="button" class="btn btn-success btn-sm">
                      GESTION DE TACHES
                    </button>
                  </a>
                </li>
            
                <li class="nav-item float-right">
                  <a
                    class="nav-link"
                    href="https://programmes.cyberschoolgabon.com/"
                    tabindex="-1"
                    aria-disabled="true"
                  >
                    <button type="button" class="btn btn-primary btn-sm">
                      PROGRAMMES
                    </button>
                  </a>
                </li>
     
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div v-if="isMobileMenu">
      <nav class="navbar  navbar-light bg-light">
        <div class="container-fluid">
       
          <div >
            <div class="container">
              <ul class="navbar-nav me-auto mb-3 mb-lg-0 ">
                <li class="nav-item float-right">
                  <a
                    class="nav-link"
                    href="https://programmes.cyberschoolgabon.com/#/ateliers/WMuNGbDvuRP3rJcFPtcJ"
                    tabindex="-1"
                    aria-disabled="true"
                  >
                    <button type="button" class="btn btn-warning btn-sm">
                      DEJEUNER NUMERIQUE 3
                    </button>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    :class="{ active: this.$route.path == '/' }"
                    aria-current="page"
                    href="/"
                    >ACCUEIL</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    :class="{ active: this.$route.path == '' }"
                    href="#"
                    data-toggle="dropdown"
                  >
                    NOS SERVICES
                  </a>
                  <div class="dropdown-menu dropdown-large">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-4 services">
                          <h5>INCUBATION</h5>
                          <a
                            class="disabled"
                            href="https://programmes.cyberschoolgabon.com/#/ateliers/VxnhbyemMxUs8qQQjiEg"
                            >Offres</a
                          >
                          <br />
                          <a class="disabled" href="#">Incubés</a> <br />
                          <a class="disabled" href="#">Locaux</a> <br />
                        </div>
                        <div class="col-sm-4 services">
                          <h5>FORMATIONS</h5>
                          <a href="https://programmes.cyberschoolgabon.com/#/ateliers/WWb6Nm8zxmTJLpMzHrJT">Offres</a
                          ><br />
                          <a href="/formations">Supports de cours</a>
                        </div>
                        <div class="col-sm-4 services">
                          <h5>JES PRODUCTION</h5>
                          <a href="https://programmes.cyberschoolgabon.com/#/ateliers/llxVbVMTTLN81mWxQvXu">Offres</a
                          ><br />
                          <a href="/catalogue_photos">Catalogue photos</a><br />
                          <a href="#">Catalogue vidéos</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 services">
                          <h5>CODETEAM</h5>
                          <a href="#">Offres</a> <br />
                          <a href="#">Réalisations</a>
                          <a href="#">Code space</a>
                        </div>
                        <div class="col-sm-4 services">
                          <h5>MAINTENANCE PRO</h5>
                          <a href="https://programmes.cyberschoolgabon.com/#/ateliers/mkJF76R5vHDlDV3qLuGd">Offres</a
                          ><br />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--dropdown-large.// -->
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    onclick="active"
                    href="#"
                    data-toggle="dropdown"
                  >
                    NOS APPLICATIONS
                  </a>
                  <div class="dropdown-menu dropdown-large">
                    <div class="container">
                      <div class="row">
                        <div class="mt-2 col-sm-12">
                          <a href="/login">BUSINESS BOOSTER </a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <a href="https://www.taches.cyberschoolgabon.com">GESTION DES TACHES </a
                          ><span class="badge bg-danger">NOUVEAU</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--dropdown-large.// -->
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    :class="{ active: this.$route.path == '/a_propos' }"
                    onclick="active"
                    href="/a_propos"
                    tabindex="-1"
                    aria-disabled="true"
                    >A PROPOS</a
                  >
                </li>

                <li class="nav-item float-right">
                  <a
                    class="nav-link"
                    href="/login"
                    tabindex="-1"
                    aria-disabled="true"
                  >
                    <button type="button" class="btn btn-primary btn-sm">
                      BUSINESS BOOSTER
                    </button>
                  </a>
                </li>
                <li class="nav-item float-right">
                  <a
                    class="nav-link"
                    href="https://www.taches.cyberschoolgabon.com/"
                    tabindex="-1"
                    aria-disabled="true"
                  >
                    <button type="button" class="btn btn-success btn-sm">
                      GESTION DE TACHES
                    </button>
                  </a>
                </li>
             
                <li class="nav-item float-right">
                  <a
                    class="nav-link"
                    href="https://programmes.cyberschoolgabon.com"
                    tabindex="-1"
                    aria-disabled="true"
                  >
                    <button type="button" class="btn btn-primary btn-sm">
                      PROGRAMMES
                    </button>
                  </a>
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!----*************Navbar bootstrap*************---->
  </div>
</template>

<script>
import helper from "../services/helper";
export default {
  data(){
      return{
        isMobileMenu :false,
        screenView: false,
        mobileView: false,
        tabletView: false,
        isMobile: "90%",
        formAction: "95%",
        modalActionSize: "35%", 
      }
    },
  methods:{
    onResize() {
      if (window.innerWidth <= 950) {
        this.mobileView = true;
        this.isMobile = "95%";
        this.screenView = false;
        this.formAction = "95%";
        this.modalActionSize = "80%";
      } else if (window.innerWidth < 1216) {
        this.screenView = true;
        this.isMobileMenu  = false;
        this.mobileView = false;
        this.tabletView = false;
        this.isMobile = "98%";
        this.formAction = "90%";
        this.modalActionSize = "35%";
      } else {
        this.mobileView = false;
        this.isMobileMenu  = false;
        this.screenView = false;
        this.tabletView = false;
        this.isMobile = "90%";
        this.formAction = "90%";
        this.modalActionSize = "35%";
      }
    },
    displayMobileMenu() {
      this.isMobileMenu=!this.isMobileMenu
    }
  }
};
</script>
<style>
/* .side{
  margin-left: 10%;
  /* font-size: 18px; */
/*  
}
@media (max-width: 1428px) {
    .side{
      margin-left: 250px;
        }
    }
@media (max-width: 1170px) {
    .side{
      margin-left: 60px;
        }
    } */
.nav-link {
  margin-right: 15px;
}
.services {
  margin-bottom: 8px;
}
h5 {
  margin-bottom: 5px;
}

</style>
