<template>
    <el-menu
    style="height:100%;  position: fixed;z-index:20; padding-top:80px; overflow-x: hidden; overflow-y: auto;"                     
    default-active="2"
    class="el-menu-vertical-demo"
    background-color="#242a33"
    text-color="#fff"
    active-text-color="#ffd04b"
    :collapse="isCollapse"
    :class="{menusmall:lengthMenu}"
      
     
    >
    <router-link v-for="(item,index) in menuLevel1" :key="index" :to="{name:item.route}">
        <el-menu-item :index="index">
            <i :class="item.icon"></i>
            <span slot="title">{{ item.libelle }}</span>
        </el-menu-item>
    </router-link>
    <el-submenu v-for="(item,index) in menuLevel2" :key="index" :index="index">
        <template slot="title">
        <i :class="item.icon"></i>
        <span>{{ item.libelle }}</span>
        </template>
      
        <router-link v-for="(itemlevel2,indexlevel2) in item.content" :key="indexlevel2" :to="{name:itemlevel2.route}">
            <el-menu-item v-if="itemlevel2.checked" :index="index+'-'+indexlevel2" >{{ itemlevel2.libelle }}</el-menu-item>
        </router-link>

    </el-submenu>
                      
    <!-- <el-submenu index="3">
        <template slot="title">
        <i class="el-icon-setting"></i>
        <span>Parametres</span>
        </template>
        <el-submenu index="3-1">
        <template slot="title">Membres</template>
        <router-link  :to="{name:'setting-members-user'}">
        <el-menu-item  index="3-1-1">
            Créer
            </el-menu-item>
            </router-link>
        
            <router-link  :to="{name:'setting-members-role'}">
            <el-menu-item index="3-1-2">
            Rôles
            </el-menu-item>
            </router-link>
           
          
        </el-submenu>
    </el-submenu> -->
  
    </el-menu>
</template>

<script>
    import helper from '../services/helper'
    import firebase from 'firebase'
    import monnaies from "../../../assets/js/views/bp/mixins/currenciesMask"
    // Import the EventBus.
    import { CurrencyBus } from '../currency-bus';

    export default {
        data() {
        return {
            perm:JSON.parse(localStorage.getItem('userSession')).permissions.suivi,
            isCollapse: false,
            lengthMenu: false
            }},
        mixins:[monnaies],
        methods : {
            onResize() {
                if (window.innerWidth < 900) {
                this.isCollapse = true
                this.lengthMenu = true
                } else {
                this.isCollapse = false
                this.lengthMenu = false
                }
            }
        },
        computed: {
            
        menuLevel1: function () {
            return this.perm.filter(i => i.haschildren==false && i.checked)
        },
        menuLevel2: function () {
                return this.perm.filter(i => i.haschildren && i.checked)
            },
        
          
            
        },
        created() {
            // Listen for the i-got-clicked event and its payload.
            CurrencyBus.$on('reload-currency', currencyId => {
                // console.log(`Oh, that's nice. It's gotten ${currencyId} reload ! :)`)
                this.applyCurrencyMask(currencyId);
            });
            window.addEventListener('resize', this.onResize)
        },
        mounted(){
            this.onResize();

        },
        beforeDestroy() {
            window.removeEventListener('resize', this.onResize)
        },
    }
</script>

<style scoped>
    /* @import '../../sass/verticalsidemenu.scss';
    a{
        color: white;
    } */
    .el-menu-vertical-demo:not(.el-menu--collapse) {
    /* width: 200px;
    min-height: 400px; */
    height:100%;
    width:auto; 
    position:fixed;
    z-index:20; 
    padding-top:80px; 
    overflow-x: hidden; 
    overflow-y: auto;
  }
  .menusmall{
    height:100%;
    width:auto; 
    position:fixed;
    z-index:20; 
    padding-top:120px; 
    overflow-x: hidden; 
    overflow-y: auto;   
  }
</style>
