<template>
   
    
    
  <el-col :span="4">
    <el-menu
    style="height:100%; position: fixed;z-index:20; padding-top:80px;"
      default-active="2"
      class="el-menu-vertical-demo"
      
     >
      <router-link  :to="{name:'superadmin-dashboard'}">
      <el-menu-item index="2">
        <i class="el-icon-menu"></i>
        <span>Tableau de bord</span>
      </el-menu-item>
      </router-link>
    
          <router-link  :to="{name:'superadmin-utilisateurs'}">
          <el-menu-item index="4">
          <i class="el-icon-user"></i>   Utilisateurs </el-menu-item>
          </router-link>
       
          <router-link  :to="{name:'superadmin-projets'}">
         
          <el-menu-item index="1-2">
            <i class="el-icon-menu">
              </i>Projets
              </el-menu-item>
          </router-link>
     
          <!-- <el-menu-item index="1-3">Projets</el-menu-item> -->
      <!-- <el-submenu index="2">
        <template slot="title">
          <i class="el-icon-location"></i>
          <span>Projets</span>
        </template>
      
          <el-menu-item  index="2-1">Créer</el-menu-item>
          <el-menu-item index="2-2">Liste</el-menu-item>
      </el-submenu> -->
     
     
      
      <el-submenu index="3">
        <template slot="title">
          <i class="el-icon-setting"></i>
          <span>Parametres</span>
        </template>
        <el-submenu index="3-1">
          <template slot="title">Membres</template>
          <router-link  :to="{name:'setting-members-user'}">
          <el-menu-item  index="3-1-1">
            Créer
            </el-menu-item>
            </router-link>
        
            <router-link  :to="{name:'setting-members-role'}">
              <el-menu-item index="3-1-2">
              Rôles
              </el-menu-item>
            </router-link>
           
          
        </el-submenu>
        <el-submenu index="3-2">
          <template slot="title">Plan Comptable</template>
          <router-link  :to="{name:'setting-plan-comptable-create'}">
          <el-menu-item  index="3-2-1">
            Créer
            </el-menu-item>
            </router-link>
        
            <router-link  :to="{name:'setting-plan-comptable-liste'}">
              <el-menu-item index="3-2-2">
              Liste
              </el-menu-item>
            </router-link>
           
          
        </el-submenu>
      </el-submenu>
  
    </el-menu>
  </el-col>

   
</template>

<script>
    import helper from '../services/helper'
    import firebase from 'firebase'
    import monnaies from "../../../assets/js/views/bp/mixins/currenciesMask"
    // Import the EventBus.
    import { CurrencyBus } from '../currency-bus';

    export default {
        data() {
        return {
            perms:JSON.parse(localStorage.getItem('userSession')).perm,
           
            }},
        mixins:[monnaies],
        methods : {
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login');
                })
            },
            getAuthUserFullName(){
                return this.$store.getters.getAuthUserFullName;
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            }
        },
        computed: {
            getAvatar(){
                return '/images/users/'+this.getAuthUser('avatar');
            },
        },
        created() {
            // Listen for the i-got-clicked event and its payload.
            CurrencyBus.$on('reload-currency', currencyId => {
                // console.log(`Oh, that's nice. It's gotten ${currencyId} reload ! :)`)
                this.applyCurrencyMask(currencyId);
            });
        }
    }
</script>

