<template>
    <div id="main-wrapper">

        <header class="topbarbp">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a STYLE="color: #ffffff" class="navbar-brand" href="">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            
                            <img src="/bp/assets/images/whitelogo.png" alt="business plan" class="light-logo" />
                           
                           
                        </b>
                       </a>
                </div>
               
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                                                href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                        <li class="nav-item hidden-sm-down"><span></span></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                       

                         
                        <a class="home-header-profile" href="#" data-toggle="dropdown">
                            <a  class="nav-link dropdown-toggle" href="#" aria-haspopup="false" aria-expanded="true">
                                <img src="/bp/assets/images/users/logodefault.png" alt="user" class="profile-pic"/>
                                {{getAuthUserFullName()}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <ul class="dropdown-user">
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" v-on:click="profile()" ><i class="ti-user"></i> Mon Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#"  v-on:click="logout()"  ><i class="fa fa-power-off"></i> Déconnexion
                                        </a>
                                        <form id="logout-form" action="" method="POST" style="display: none;">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    
                    </ul>
                </div>
            </nav>
        </header>

       

    </div>
</template>

<script>

    import helper from '../services/helper'
    import firebase from 'firebase'
    
    export default {
      
        mounted() {
            
        },
        methods : {
            logout(){
                firebase.auth().signOut().then(function () {
                    // Sign-out successful.
                    localStorage.clear();
                    //redirection vers l'accueil
                    window.location.pathname = "/login";
                }).catch(function (error) {
                    alert(error);
                });
            },
            getAuthUserFullName(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let profileName = userInfo.displayName;
                    return profileName           
                }   
            },
            profile(){
              
                    //redirection vers l'accueil
                    window.location.pathname = "/bp/profile/evaluateur";
               
            },
            getAuthUserEmail(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let email = userInfo.email;
                    return email           
                }   
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            }
        },
        computed: {
            getAvatar(){
                return '/images/users/'+this.getAuthUser('avatar');
            }
        }
    }
</script>
<style>

li {
    list-style: none;
}
</style>