<template>
    <div id="main-wrapper">
        <header class="topbarbp">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/bp/home">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="" alt="" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/bp/assets/images/default.png" alt="" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                                <!-- dark Logo text -->
                                <img src="" alt="" class="dark-logo" />
                            <!-- Light Logo text -->
                                <img src="/bp/assets/images/whitelogo.png" class="light-logo" alt="" /></span> </a>
                </div>
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
                    <h3  class="projettitre"> {{ this.projettitre  | capitalized }}<i class="mdi  mdi-chevron-down"></i></h3> 
                    </button> 
                    <ul class="dropdown-menu">
                        <li class="dropdown pull-center"><a v-on:click="listProjet()" class="titreprojet" href="#">Tous les projets</a></li>
                        <li v-for="(projet, index) in userProjectList" :key="index" class="dropdown pull-right"><a class="titreprojet" href="#"  @click="selectProject(projet.id,projet.titre)">{{ projet.titre  | normalized  }}</a></li>
                   
                   
                    </ul>
                    </div>

                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                                    </ul>
                   
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        
      
                        <li class="nav-item dropdown">                    
                            <div class="dropdown">                                         
                                <a  class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" href="#" data-toggle="dropdown" id="dropdown-profile">
                                    <img src="/bp/assets/images/users/logodefault.png"  class="profile-pic"/>
                                   <span style="color:#ffff">{{username}}</span> 
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animated flipInY" aria-labelledby="dropdown-profile">
                                    <ul class="dropdown-user">
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#" v-on:click="profile()" ><i class="ti-user"></i> Mon Profil</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <a href="#"  v-on:click="logout()"  ><i class="fa fa-power-off"></i> Déconnexion
                                            </a>
                                            <form id="logout-form" action="" method="POST" style="display: none;">
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

       
    </div>
</template>

<script>

    import helper from '../services/helper'
    import firebase from 'firebase'
    import VueIntro from 'vue-introjs'
    import 'intro.js/introjs.css'
    import Vue from 'vue'

    export default {     
 
        data() {
        return {
            userProjectList: [],
            projettitre:JSON.parse(localStorage.getItem('userSession')).projettitre,
            username:JSON.parse(localStorage.getItem('userSession')).displayName,
            users:firebase.firestore().collection('users')
           
            }}, 
        methods : {
            logout(){
                firebase.auth().signOut().then(function () {
                    // Sign-out successful.
                    localStorage.clear();
                    //redirection vers l'accueil
                    window.location.pathname = "/login";
                }).catch(function (error) {
                    alert(error);
                });
            },
            observer(){
               this.users
                .onSnapshot(querySnapshot => {
                    querySnapshot.docChanges().forEach(change => {
                    if (change.type === 'added') {
                        console.log('New city: ', change.doc.data());
                        this.$notify({
                        title: 'Ajout',
                        message: "L\'utilisateur XXX viens d\'être ajouté",
                        type: 'success',
                        duration: 0
                        });
                    }
                    if (change.type === 'modified') {
                        console.log('Modified city: ', change.doc.data());
                        this.$notify({
                        title: 'Modification',
                        message: "L\'utilisateur XXX viens d\'être modifié",
                        type: 'warning',
                        duration: 0
                        });
                    }
                    if (change.type === 'removed') {
                        console.log('Removed city: ', change.doc.data());
                        this.$notify.error({
                        title: 'Suppression',
                        message: "L\'utilisateur XXX viens d\'être supprimé",
                        duration: 0
                        });
                    }
                    });
                })
            },
            selectProject(id,titre){
              
                let userSession = JSON.parse(localStorage.getItem('userSession'));
                userSession.projet = id;
                userSession.projettitre = titre;

                localStorage.setItem('userSession', JSON.stringify(userSession));
                //this.$router.push('/bp/home');
                window.location.reload();
                
            },
            listProjet(){

            let userSession = JSON.parse(localStorage.getItem('userSession'));
            userSession.projet = "";
            userSession.projettitre = "";

            localStorage.setItem('userSession', JSON.stringify(userSession));
            window.location.pathname = "/bp/projets";

            },
            profile(){              
                //redirection vers l'accueil
                window.location.pathname = "/bp/profile/user";               
            },
            getAuthUserFullName(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let profileName = userInfo.displayName;
                    return profileName           
                }   
            },
            getAuthUserEmail(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let email = userInfo.email;
                    return email           
                }   
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            }
        },
        computed: {
            getAvatar(){
                return '/images/users/'+this.getAuthUser('avatar');
            }
        },
        mounted(){
            $('.dropdown-toggle').dropdown();
            $('.collapse').collapse('hide');
           
            
            let ref = firebase.firestore().collection('summary');
            // le loader en mode plugin

            ref.where('user', '==', JSON.parse(localStorage.getItem("userSession")).uid)
                .get().then( (docSnaps) => {
                    docSnaps.forEach( (doc) => {
                        if (doc.exists) {
                            let result = {
                                id: doc.id,
                                titre: doc.get('titre'),
                                createdAt: doc.get('createdAt')
                            };

                            this.userProjectList.push(result);
                        } else {
                            // doc.data() will be undefined in this case
                            return ;
                        }
                        // TODO: sort projects by last modified data
                    });
                });
        }
    }
</script>
<style>

    li {
        list-style: none;
    }
    .home-header-profile > div {
        display:inline-block;
    }
    .home-header-profile div {
        margin-left:15px
    }
    .home-header-profile  #dropdown-profile {
        color: #ffffff;
    }
    #small-menu{
        margin-left:80px;
    }
    .home-header-profile  #dropdown-profile:hover {
        color: rgba(0, 0, 0, 0.5);
    }
    .projettitre{
        color: #ffffff;
        margin-top:15px
    }
    i.mdi-chevron-down {
        color: rgb(251, 251, 255);
    
    }
    .titreprojet{
        padding: 10px;
        color: rgba(0, 0, 0, 0.5);
        font-size:15px;
    }
</style>