<template>
    

        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">PERSONAL</li>
                        <li>
                            <a class="waves-effect waves-dark" href="/bp/evaluateur/projets" aria-expanded="false">
                                
                                <i class="mdi mdi-home"></i><span class="">Accueil</span>
                               
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="/bp/evaluateur/projets" aria-expanded="false">
                                <i class="mdi mdi-view-list"></i><span class="">Projets</span>
                            </a>
                        </li>
                        
            
                        
                       
                        <!--<li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="mdi mdi-calculator"></i><span class="">Seuil de Rentabilité</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="mdi mdi-calculator"></i><span class="">Trésorerie Annuelle</span>
                            </a>
                        </li>-->
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>


</template>

<script>

    import helper from '../services/helper'
    
    export default {
        mounted() {
        },
        methods : {
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login');
                })
            },
            getAuthUserFullName(){
                return this.$store.getters.getAuthUserFullName;
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            }
        },
        computed: {
            getAvatar(){
                return '/images/users/'+this.getAuthUser('avatar');
            }
        }
    }
</script>