<template>
    <el-menu default-active="1" class="el-menu-vertical-demo" background-color="#242a33" text-color="#fff" active-text-color="#1e58b3" :collapse="isCollapse" :class="{menusmall:lengthMenu}" >
        <el-submenu index="1">
                <template slot="title">
                    <router-link :to="{name:'erp-home'}">
                        <i class="fa fa-tachometer-alt"></i>
                        <span>Tableau de Bord</span>
                    </router-link>
                </template>                
        </el-submenu>
        <el-submenu index="2">
            <template slot="title">
                <i class="fa fa-box-open"></i>
                <span>Articles</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1">
                    <router-link :to="{name: 'erp-articles-dashboard'}">
                        Tableau de Bord
                    </router-link>
                </el-menu-item>
                <el-menu-item index="1-2">
                    <router-link :to="{name: 'erp-articles-ventes'}">
                        Article de Vente
                    </router-link>
                </el-menu-item>
                <el-menu-item index="1-3">
                    <router-link :to="{name: 'erp-articles-achats'}">
                        Article d'Achat
                    </router-link>
                </el-menu-item>
                <!-- <el-menu-item index="1-2">Ressources</el-menu-item> -->
                <!-- <el-menu-item index="1-2">Besoins d'investissements</el-menu-item> -->
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="3">
            <template slot="title">
                <i class="fa fa-shopping-cart"></i>
                <span>Achats</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1">item un</el-menu-item>
                <el-menu-item index="1-2">item un</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group>
                <el-menu-item index="1-3">item trois</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="4">
            <template slot="title">
                <i class="fa fa-database"></i>
                <span>Ventes</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1">
                    <router-link :to="{name: 'erp-ventes-dashboard'}">
                        Tableau de Bord
                    </router-link>
                </el-menu-item>
                <el-menu-item index="1-2">
                    <router-link :to="{name: 'erp-ventes-facturation'}">
                        Facturation
                    </router-link>
                </el-menu-item>
                <el-menu-item index="1-3">
                    <router-link :to="{name: 'erp-ventes-reglement'}">
                        Reglement
                    </router-link>
                </el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="5">
            <template slot="title">
                <i class="fa fa-id-card"></i>
                <span>CRM</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1">item un</el-menu-item>
                <el-menu-item index="1-2">item un</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group>
                <el-menu-item index="1-3">item trois</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="6">
            <template slot="title">
                <i class="fa fa-users"></i>
                <span>RH & Tiers</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1">
                    <router-link :to="{name: 'erp-tiers-dashboard'}">
                        Tableau de Bord
                    </router-link>
                </el-menu-item>
                <el-menu-item index="1-2">
                    <router-link :to="{name: 'erp-tiers-clients'}">
                       Clients
                    </router-link>
                </el-menu-item>
                <el-menu-item index="1-3">
                    <router-link :to="{name: 'erp-tiers-fournisseurs'}">
                        Fournisseurs
                    </router-link>
                </el-menu-item>
                <el-menu-item index="1-4">
                    <router-link :to="{name: 'erp-tiers-personnels'}">
                        Personnels
                    </router-link>
                </el-menu-item>
                <el-menu-item index="1-5">
                    <router-link :to="{name: 'erp-tiers-autres'}">
                        Autres
                    </router-link>
                </el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="7">
            <template slot="title">
                <i class="fa fa-cubes"></i>
                <span>Stocks</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1">item un</el-menu-item>
                <el-menu-item index="1-2">item un</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group>
                <el-menu-item index="1-3">item trois</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="8">
            <template slot="title">
                <i class="far fa-folder-open"></i>
                <span>Documentation</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1">item un</el-menu-item>
                <el-menu-item index="1-2">item un</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group>
                <el-menu-item index="1-3">item trois</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="9">
            <template slot="title">
                <i class="fa fa-university"></i>
                <span>Finances</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1">item un</el-menu-item>
                <el-menu-item index="1-2">item un</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group>
                <el-menu-item index="1-3">item trois</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="10">
            <template slot="title">
                <i class="fa fa-cog"></i>
                <span>Paramètres</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1">item un</el-menu-item>
                <el-menu-item index="1-2">item un</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group>
                <el-menu-item index="1-3">item trois</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
    </el-menu>
</template>

<script>
    import helper from '../services/helper'
    import firebase from 'firebase'
    import monnaies from "../views/bp/mixins/currenciesMask"
    // Import the EventBus.
    import { CurrencyBus } from '../currency-bus';

    export default {
        data() {
        return {
            perm:JSON.parse(localStorage.getItem('userSession')).permissions.suivi,
            isCollapse: false,
            lengthMenu: false
            }},
        mixins:[monnaies],
        methods : {
            onResize() {
                if (window.innerWidth < 900) {
                this.isCollapse = true
                this.lengthMenu = true
                } else {
                this.isCollapse = false
                this.lengthMenu = false
                }
            }
        },
        computed: {
            
        menuLevel1: function () {
            return this.perm.filter(i => i.haschildren==false && i.checked)
        },
        menuLevel2: function () {
                return this.perm.filter(i => i.haschildren && i.checked)
            },
        
          
            
        },
        created() {
            // Listen for the i-got-clicked event and its payload.
            CurrencyBus.$on('reload-currency', currencyId => {
                // console.log(`Oh, that's nice. It's gotten ${currencyId} reload ! :)`)
                this.applyCurrencyMask(currencyId);
            });
            window.addEventListener('resize', this.onResize)
        },
        mounted(){
            this.onResize();

        },
        beforeDestroy() {
            window.removeEventListener('resize', this.onResize)
        },
    }
</script>

<style scoped>
    /* @import '../../sass/verticalsidemenu.scss';
    a{
        color: white;
    } */
    .el-menu-vertical-demo:not(.el-menu--collapse) {
    /* width: 200px;
    min-height: 400px; */
    height:100%;
    width:auto; 
    position:fixed;
    z-index:20; 
    padding-top:80px; 
    overflow-x: hidden; 
    overflow-y: auto;
  }
  .menusmall{
    height:100%;
    width:auto; 
    position:fixed;
    z-index:20; 
    padding-top:120px; 
    overflow-x: hidden; 
    overflow-y: auto;   
  }
  
</style>
