<template>
  <div>
    <header class="topbarbp">
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color:#1E58B3;"
      >
        <div class="col-xs-2 col-sm-4 col-md-6 space">
          <div class="float-left">
            <div class="navbar-header" style="margin-right:70px">
              <a class="navbar-brand" href="/bp/admin/dashboard">
                <b>
                  <img src="" alt="" class="light-logo" />
                  <img
                    src="/suivi/assets/images/default.png"
                    alt=""
                    class="dark-logo"
                  />
                </b>
                <span class="logo">
                  <img src="" alt="" class="light-logo" />
                  <img
                    src="/suivi/assets/images/whitelogo.png"
                    class="dark-logo"
                    alt="Business plan"
                  />
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-5 col-md-3 space">
          <div class="float-right">
            <div class="dropdown">
              <!-- <ul class="dropdown-menu">
                                <li class="dropdown pull-center"><a class="titreprojet font-weight-bold" href="#">Tous les concours</a></li>
                                <li v-for="(concours, index) in tousLesConcours" :key="index" class="dropdown pull-right ellipsis"><a class="titreprojet" href="#">{{ concours.libelleConcours }}</a></li> 
                            </ul> -->
              <Profile :displayName="displayName" :userImage="userImage" />
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>
</template>

<script>
import helper from "../services/helper";
import firebase from "firebase";
import VueIntro from "vue-introjs";
import "intro.js/introjs.css";
import Vue from "vue";
import Profile from "./components/profile";

export default {
  components: { Profile },
  props: ["userImage", "displayName"],
  data() {
    return {
      concoursRef: firebase.firestore().collection("concours"),
      username: JSON.parse(localStorage.getItem("userSession")).displayName,
      tousLesConcours: [],
    };
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(function() {
          // Sign-out successful.
          localStorage.clear();
          //redirection vers l'accueil
          window.location.pathname = "/login";
        })
        .catch(function(error) {
          alert(error);
        });
    },
    // selectProject(id,titre){

    //     let userSession = JSON.parse(localStorage.getItem('userSession'));
    //     userSession.projet = id;
    //     userSession.projettitre = titre;

    //     localStorage.setItem('userSession', JSON.stringify(userSession));
    //     //this.$router.push('/bp/home');
    //     window.location.reload();

    // },
    // listProjet(){

    // let userSession = JSON.parse(localStorage.getItem('userSession'));
    // userSession.projet = "";
    // userSession.projettitre = "";

    // localStorage.setItem('userSession', JSON.stringify(userSession));
    // window.location.pathname = "/bp/projets";

    // },
    profile() {
      //redirection vers l'accueil
      window.location.pathname = "/bp/profile/user";
    },
    getAuthUserFullName() {
      if (localStorage.getItem("userSession")) {
        let userInfo = JSON.parse(localStorage.getItem("userSession"));
        let datef = userInfo.firstTimeConnection;
        let date = new Date(datef).toLocaleString();
        //console.log(userInfo);
        let profileName = userInfo.displayName;
        return profileName;
      }
    },
    getAuthUserEmail() {
      if (localStorage.getItem("userSession")) {
        let userInfo = JSON.parse(localStorage.getItem("userSession"));
        let datef = userInfo.firstTimeConnection;
        let date = new Date(datef).toLocaleString();
        //console.log(userInfo);
        let email = userInfo.email;
        return email;
      }
    },
    getAuthUser(name) {
      return this.$store.getters.getAuthUser(name);
    },
  },
  computed: {
    getAvatar() {
      return "/images/users/" + this.getAuthUser("avatar");
    },
  },
  mounted() {
    $(".dropdown-toggle").dropdown();
    $(".collapse").collapse("hide");

    this.concoursRef.orderBy("createdAt", "desc").onSnapshot((onSnapshot) => {
      this.tousLesConcours = [];
      if (!onSnapshot.empty) {
        onSnapshot.forEach((doc) => {
          let obj = doc.data();
          obj.id = doc.id;
          this.tousLesConcours.push(obj);
        });
      }
    });
    // let ref = firebase.firestore().collection('summary');
    // le loader en mode plugin

    // ref.where('user', '==', JSON.parse(localStorage.getItem("userSession")).uid)
    //     .get().then( (docSnaps) => {
    //         docSnaps.forEach( (doc) => {
    //             if (doc.exists) {
    //                 let result = {
    //                     id: doc.id,
    //                     titre: doc.get('titre'),
    //                     createdAt: doc.get('createdAt')
    //                 };

    //                 this.userProjectList.push(result);
    //             } else {
    //                 // doc.data() will be undefined in this case
    //                 return ;
    //             }
    //             // TODO: sort projects by last modified data
    //         });
    //     });
  },
};
</script>
<style>
@media (max-width: 700px) {
  .displayName {
    display: none;
  }
  .logo {
    display: none;
  }
}
@media (max-width: 600px) {
  .space {
    width: 50%;
  }
}
li {
  list-style: none;
}
.home-header-profile > div {
  display: inline-block;
}
.home-header-profile div {
  margin-left: 5px;
}
.home-header-profile #dropdown-profile {
  color: #ffffff;
}
.home-header-profile #dropdown-profile:hover {
  color: rgba(0, 0, 0, 0.5);
}
.projettitre {
  color: #ffffff;
  margin-top: 14px;
  font-size: 17px !important;
}
.titreprojet {
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
.ellipsis {
  text-overflow: ellipsis;
  display: block;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
}
</style>
