<template>
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">PERSONAL</li>
                        <li>
                            <a class="waves-effect waves-dark" href="/bp/home" aria-expanded="false">
                                
                                <i class="mdi mdi-home"></i><span class="">Accueil</span>
                               
                            </a>
                        </li>
                       
                      
                       
                        
                      
                        <li class="mt-2">
                            <a class="has-arrow" href="#" aria-haspopup="true" style="text-transform: uppercase;">
                                <i class="flag-icon mr-1" :class="currentCurrencyMask['icon-flag']"></i> {{currentCurrencyMask.literal}}
                            </a>
                        </li> 
                        <!-- Changement de devises -->
                        <!-- li class="dropdowm">
                            <a class="has-arrow waves-effect dropdown-toggle" href="#" aria-haspopup="true" aria-expanded="false"  style="text-transform: uppercase;">
                                <i class="flag-icon" :class="currentCurrencyMask['icon-flag']"></i> {{currentCurrencyMask.literal}}
                            </a>
                            <div aria-expanded="false" class="dropdown-menu dropdown-menu-right">
                                <a  v-for="monnaie in currencyMaskConfig" :key="monnaie.id" class="dropdown-item" href="#" style="text-transform: uppercase;" @click="applyCurrencyMask(monnaie.id)">
                                    <i class="flag-icon" :class="monnaie['icon-flag']"></i> {{monnaie.literal}}
                                </a>
                            </div>
                        </li --> 
                        
                        <!--<li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="mdi mdi-calculator"></i><span class="">Seuil de Rentabilité</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="mdi mdi-calculator"></i><span class="">Trésorerie Annuelle</span>
                            </a>
                        </li>-->
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>


</template>

<script>

    import helper from '../services/helper'
    import firebase from 'firebase'
    import monnaies from "../../../assets/js/views/bp/mixins/currenciesMask"
    // Import the EventBus.
    import { CurrencyBus } from '../currency-bus';

    export default {
        mixins:[monnaies],
        methods : {
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login');
                })
            },
            getAuthUserFullName(){
                return this.$store.getters.getAuthUserFullName;
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            }
        },
        created() {
            // Listen for the i-got-clicked event and its payload.
            CurrencyBus.$on('reload-currency', currencyId => {
                // console.log(`Oh, that's nice. It's gotten ${currencyId} reload ! :)`)
                this.applyCurrencyMask(currencyId);
            });
        }
    }
</script>

<style scoped>

    #sidebarnav > li.dropdowm {
        display:inline-block;
    }
    #sidebarnav li.dropdowm:hover {
        color: white;
        background-color: lightblue;
    }
    #sidebarnav li.dropdowm {
        margin-right:15px; 
        font-style: bolder;
        background-color: #80808020; 
        color: #ffffff80;
    }
</style>