<template>
    <div>
        <div class="main-nav">
            <header>
                <nav>
                    <div class="logo">
                        <a class="" href="/bp/home">
                            <b>
                                <img src="" alt="" class="dark-logo" />
                                <img src="/suivi/assets/images/default.png" alt="" class="light-logo" />
                            </b>
                            <span>
                                <img src="" alt="" class="dark-logo" />
                                <img src="/suivi/assets/images/whitelogo.png" class="light-logo" alt="" />
                            </span>
                        </a>
                    </div>
                    <div class="project-section">
                        <ProjectSwitch />
                    </div>
                    <!-- <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    </ul> -->
                    <Profile :userImage="userImage"/>
                </nav>
            </header>    
        </div>
    </div>
</template>

<script>

    import helper from '../services/helper'
    import firebase from 'firebase'
    import VueIntro from 'vue-introjs'
    import 'intro.js/introjs.css'
    import Vue from 'vue'
    import Profile from'./components/profile'
    import ProjectSwitch from './components/projectSwitch'

      export default {   
        
        components:{Profile,ProjectSwitch},
        data() {
        return {
           
            userProjectList: [],
            projettitre:JSON.parse(localStorage.getItem('userSession')).projettitre,
            username:JSON.parse(localStorage.getItem('userSession')).displayName,
            userId:JSON.parse(localStorage.getItem("userSession")).uid,
            summaryRef:firebase.firestore().collection('summary'),
            concoursRef:firebase.firestore().collection('concours'),
            users:firebase.firestore().collection('users'),
            currentUId:JSON.parse(localStorage.getItem('userSession')).uid,
            adminId:JSON.parse(localStorage.getItem('userSession')).adminId,
            profileUser:JSON.parse(localStorage.getItem('userSession')).profile,
            concoursId:JSON.parse(localStorage.getItem('userSession')).concoursId,
            
           
            }},
            // props:{
            //     visiblelist:{
                    
            //     }
            // },
       created(){
       
       },
       props:['userImage','displayName'],
        methods : {
            logout(){
                firebase.auth().signOut().then(function () {
                   
     
                    if(JSON.parse(localStorage.getItem("userSession")).concoursId){
                        let idconcours=JSON.parse(localStorage.getItem("userSession")).concoursId;
                        localStorage.clear();
                        window.location.pathname = "/concours/login/"+idconcours;
                    }
                    else{
                        localStorage.clear();
                         window.location.pathname = "/login"; 

                    }
                      
                    // Sign-out successful.
                    // let connectedRef = firebase.database().ref(".info/connected");
                    // connectedRef.on("value", (snap)=> {
                    // if (snap.val() === true) {
                    //     console.log("connected");
                    //     this.memberRef
                    //     .where('userId', '==', this.userId)
                    //     .onSnapshot((querySnapshot) => {
                    //         querySnapshot.forEach((doc) => {
                    //             this.memberRef.doc(doc.id).update({connected: false})
                        
                    //         }).then((response)=>{
                    //             localStorage.clear();
                    //             //redirection vers l'accueil
                    //             window.location.pathname = "/login";    
                    //         })
                    //     })
                    //     // let currentMemeber =firebase.firestore().collection('vendeurs').doc(this.userId);
                    //     // let updateSingle = currentMemeber.update({conneted: true});

                    // } else {
                    //     console.log("not connected");
                    // }
                    // });
                   
                }).catch(function (error) {
                    alert(error);
                });
            },
            getProjectByAdmin(){
                        this.summaryRef
                        .where('adminId','==',this.currentUId).
                        get().then((querySnapshot)=>{
                            this.projetsProg=[];
                              querySnapshot.forEach((doc)=>{
                                    let result = {
                                        id: doc.id,
                                        titre: doc.get('titre'),
                                        createdAt: doc.get('createdAt')
                                    };
                                    this.userProjectList.push(result)
                                    //  console.log('projet',projet)
                              })
                           
                            // console.log('Liste',this.projetsProg)
                        }) 
                    
            },
            getOwnProject(){
                summaryRef.where('user', '==', JSON.parse(localStorage.getItem("userSession")).uid)
                .get().then( (docSnaps) => {
                    docSnaps.forEach( (doc) => {
                        if (doc.exists) {
                            let result = {
                                id: doc.id,
                                titre: doc.get('titre'),
                                createdAt: doc.get('createdAt')
                            };

                            this.userProjectList.push(result);
                        } else {
                            // doc.data() will be undefined in this case
                            return ;
                        }
                        // TODO: sort projects by last modified data
                    });
                });
            },
           
            selectProject(id,titre){
              
                let userSession = JSON.parse(localStorage.getItem('userSession'));
                userSession.projet = id;
                userSession.projettitre = titre;

                localStorage.setItem('userSession', JSON.stringify(userSession));
                //this.$router.push('/bp/home');
                window.location.reload();
                
            },
            listProjet(){

            let userSession = JSON.parse(localStorage.getItem('userSession'));
            userSession.projet = "";
            userSession.projettitre = "";

            localStorage.setItem('userSession', JSON.stringify(userSession));

            if(JSON.parse(localStorage.getItem("userSession")).concoursId){
                window.location.pathname = "/bp/soumission/projets";
            }
            else{
                window.location.pathname = "/bp/projets";
            }
                
            },
            profile(){              
                //redirection vers l'accueil
                window.location.pathname = "/bp/profile/user";               
            },
            getAuthUserFullName(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let profileName = userInfo.displayName;
                    return profileName           
                }   
            },
            getAuthUserEmail(){
               
                if (localStorage.getItem("userSession")) {

                    let userInfo = JSON.parse(localStorage.getItem("userSession"));
                    let datef = userInfo.firstTimeConnection;
                    let date = (new Date(datef)).toLocaleString();
                    //console.log(userInfo);
                    let email = userInfo.email;
                    return email           
                }   
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            }
        },
        computed: {
            getAvatar(){
                return '/images/users/'+this.getAuthUser('avatar');
            }
        },
        mounted(){
            // $('.dropdown-toggle').dropdown();
            $('.collapse').collapse('hide');

               this.getProjectByAdmin()
               this.getOwnProject()

        }
    }
</script>
<style>
    .main-nav header nav .home-header-profile  .dropdown-menu.show{
        transform: translate(-122px, 50px) !important;
        border: none;
        padding: 10px 15px;
        min-width: 12rem;
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.1);
    }
    .main-nav header nav .home-header-profile  .dropdown-menu.show ul li a{
        color: #262626 !important;
        margin: 7px 0 !important;
        transition: all 0.3s ease-in-out, color .5s ease;
    }
    .main-nav header nav .home-header-profile  .dropdown-menu.show ul li a:hover{
        font-weight: 500 !important;
    }
    .main-nav header{
        background: #4A88DA !important;
        padding: 0 20px;
        height: 52px;
    }
    .main-nav nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 52px;
    }
    .main-nav nav.home-header-profile{
        display: flex;
    }
    
    li {
        list-style: none;
    }
    /* .home-header-profile > div {
        display:inline-block;
    }
    .home-header-profile div {
        margin-left:15px
    } */
    .project-section .dropdown-toggle::after {
        display: none !important;
    }
    .home-header-profile  #dropdown-profile {
        color: #ffffff;
    }
    .project-section .dropdown .projettitre{
        font-weight: 600 !important;
        font-size: 18px !important;
    }
    .main-nav header .home-header-profile{
        display: flex;
        align-items: center;
    }
    .main-nav header .home-header-profile .el-badge .el-icon-message-solid{
        z-index: 50;
        position: relative;
    }
    .main-nav header .home-header-profile .el-badge .el-badge__content.is-fixed{
        top: 12px;
        right: 15px;
        z-index: 10
    }
    #small-menu{
        margin-left:80px;
    }
    .home-header-profile  #dropdown-profile:hover {
        color: rgba(0, 0, 0, 0.5);
    }
    .projettitre{
        color: #ffffff;
        margin-top:15px
    }
    i.mdi-chevron-down {
        color: rgb(251, 251, 255);
    
    }
    .titreprojet{
        padding: 10px;
        color: rgba(0, 0, 0, 0.5);
        font-size:15px;
    }
</style>