<template> 
  <el-col :span="4">

    <el-menu                    
    default-active="2"  
    class="el-menu-vertical-demo"
    :collapse="isCollapse"
    :class="{menusmall:lengthMenu}" 
    > 
     <router-link v-for="(item,index) in menuLevel1" :key="index" :to="{name:item.route}" >
      <el-menu-item :index="index.toString()">
          <i :class="item.icon"></i>
          <span slot="title">{{ item.libelle }}</span>
      </el-menu-item>
      </router-link>
      <el-submenu v-for="(item,index) in menuLevel2" :key="index+1" :index="index.toString()">
          <template slot="title">
          <i :class="item.icon"></i>
          <span>{{ item.libelle }}</span>
          </template>
        
          <router-link v-for="(itemlevel2,indexlevel2) in item.content" :key="indexlevel2" :to="{name:itemlevel2.route}" >
              <el-menu-item v-if="itemlevel2.checked" :index="index.toString()+'-'+indexlevel2.toString()" >{{ itemlevel2.libelle }}</el-menu-item>
          </router-link>
          

      </el-submenu>           
    </el-menu>
    
  </el-col> 
</template>

<script>
    import helper from '../services/helper'
    import firebase from 'firebase'
    import monnaies from "../../../assets/js/views/bp/mixins/currenciesMask"
    // Import the EventBus.
    import { CurrencyBus } from '../currency-bus';

    export default {
        data() {
        return {
            perm:JSON.parse(localStorage.getItem('userSession')).permissions.admin,
            isCollapse: false,
            lengthMenu: false
            }},
        mixins:[monnaies],
        methods : {
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login');
                })
            },
            onResize() {
                if (window.innerWidth < 900) {
                this.isCollapse = true
                this.lengthMenu = true
                } else {
                this.isCollapse = false
                this.lengthMenu = false
                }
            }
        },
        computed: {
            getAvatar(){
                return '/images/users/'+this.getAuthUser('avatar');
            },
          menuLevel1: function () {
              return this.perm.filter(i => i.haschildren==false && i.checked)
          },
          menuLevel2: function () {
                  return this.perm.filter(i => i.haschildren && i.checked)
              },
        
          
            
        },
        created() {
            // Listen for the i-got-clicked event and its payload.
            CurrencyBus.$on('reload-currency', currencyId => {
                // console.log(`Oh, that's nice. It's gotten ${currencyId} reload ! :)`)
                this.applyCurrencyMask(currencyId);
            });
            window.addEventListener('resize', this.onResize)
        },
        mounted(){
            this.onResize();

        },
        beforeDestroy() {
            window.removeEventListener('resize', this.onResize)
        },
    }
</script>
<style scoped>
.sidebar{
  overflow-y: scroll;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    /* width: 200px;
    min-height: 400px; */
    height:100%;
    width:auto; 
    position:fixed;
    z-index:20; 
    padding-top:80px; 
    overflow-x: hidden; 
    overflow-y: auto;
  }
  .menusmall{
    height:100%;
    width:auto; 
    position:fixed;
    z-index:20; 
    padding-top:120px; 
    overflow-x: hidden; 
    overflow-y: auto;   
  }

 
</style>

