<template>
  <div id="main-wrapper" class="bpheader">
    <header class="topbarbp">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="col-xs-1 col-sm-3 col-md-3">
          <div class="navbar-header">
            <a class="navbar-brand" href="/bp/admin/dashboard">
              <b>
                <img src="" alt="" class="light-logo" />
                <!-- Light Logo icon -->
                <!-- <img
                  src="/suivi/assets/images/default.png"
                  alt=""
                  class="dark-logo img-fluid"
                /> -->
              </b>
              <span class="logo">
                <img src="" alt="" class="light-logo" />
                <!-- Light Logo text -->
                <!-- <img
                  src="/suivi/assets/images/whitelogo.png"
                  class="dark-logo"
                  alt="Business plan"
                /> -->
              </span>
            </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div v-if="this.$route.name != 'projets'" class="float-right">
            <ProjectSwitch />
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="float-right pr-5">
            <Profile :displayName="displayName" :userImage="userImage" />
          </div>
        </div>
      </nav>
    </header>
  </div>
</template>

<script>
import helper from "../services/helper";
import firebase from "firebase";
import VueIntro from "vue-introjs";
import "intro.js/introjs.css";
import { ProfileBus } from "../profile-bus";
import Profile from "./components/profile";
import ProjectSwitch from "./components/projectSwitch";

export default {
  components: { Profile, ProjectSwitch },
  data() {
    return {
      userProjectList: [],
      projettitre: JSON.parse(localStorage.getItem("userSession")).projettitre,
      username: JSON.parse(localStorage.getItem("userSession")).displayName,
      profileUser: JSON.parse(localStorage.getItem("userSession")).profile,
      concoursId: JSON.parse(localStorage.getItem("userSession")).concoursId,
    };
  },
  // props:{
  //     visiblelist:{

  //     }
  // },

  props: ["userImage", "displayName"],
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(function() {
          if (JSON.parse(localStorage.getItem("userSession")).concoursId) {
            let idconcours = JSON.parse(localStorage.getItem("userSession"))
              .concoursId;
            localStorage.clear();
            window.location.pathname = "/concours/login/" + idconcours;
          } else {
            localStorage.clear();
            window.location.pathname = "/login";
          }

          // Sign-out successful.
          // let connectedRef = firebase.database().ref(".info/connected");
          // connectedRef.on("value", (snap)=> {
          // if (snap.val() === true) {
          //     console.log("connected");
          //     this.memberRef
          //     .where('userId', '==', this.userId)
          //     .onSnapshot((querySnapshot) => {
          //         querySnapshot.forEach((doc) => {
          //             this.memberRef.doc(doc.id).update({connected: false})

          //         }).then((response)=>{
          //             localStorage.clear();
          //             //redirection vers l'accueil
          //             window.location.pathname = "/login";
          //         })
          //     })
          //     // let currentMemeber =firebase.firestore().collection('vendeurs').doc(this.userId);
          //     // let updateSingle = currentMemeber.update({conneted: true});

          // } else {
          //     console.log("not connected");
          // }
          // });
        })
        .catch(function(error) {
          alert(error);
        });
    },
    selectProject(id, titre) {
      let userSession = JSON.parse(localStorage.getItem("userSession"));
      userSession.projet = id;
      userSession.projettitre = titre;

      localStorage.setItem("userSession", JSON.stringify(userSession));
      //this.$router.push('/bp/home');
      window.location.reload();
    },
    listProjet() {
      let userSession = JSON.parse(localStorage.getItem("userSession"));
      userSession.projet = "";
      userSession.projettitre = "";

      localStorage.setItem("userSession", JSON.stringify(userSession));

      if (JSON.parse(localStorage.getItem("userSession")).concoursId) {
        window.location.pathname = "/bp/soumission/projets";
      } else {
        window.location.pathname = "/bp/projets";
      }
    },
    profile() {
      //redirection vers l'accueil
      window.location.pathname = "/bp/profile/user";
    },
    getAuthUserFullName() {
      if (localStorage.getItem("userSession")) {
        let userInfo = JSON.parse(localStorage.getItem("userSession"));
        let datef = userInfo.firstTimeConnection;
        let date = new Date(datef).toLocaleString();
        //console.log(userInfo);
        let profileName = userInfo.displayName;
        return profileName;
      }
    },
    getAuthUserEmail() {
      if (localStorage.getItem("userSession")) {
        let userInfo = JSON.parse(localStorage.getItem("userSession"));
        let datef = userInfo.firstTimeConnection;
        let date = new Date(datef).toLocaleString();
        //console.log(userInfo);
        let email = userInfo.email;
        return email;
      }
    },
    getAuthUser(name) {
      return this.$store.getters.getAuthUser(name);
    },
  },
  computed: {
    getAvatar() {
      return "/images/users/" + this.getAuthUser("avatar");
    },
  },
  mounted() {
    $(".dropdown-toggle").dropdown();
    $(".collapse").collapse("hide");

    let ref = firebase.firestore().collection("summary");
    // le loader en mode plugin

    ref
      .where("user", "==", JSON.parse(localStorage.getItem("userSession")).uid)
      .get()
      .then((docSnaps) => {
        docSnaps.forEach((doc) => {
          if (doc.exists) {
            let result = {
              id: doc.id,
              titre: doc.get("titre"),
              createdAt: doc.get("createdAt"),
            };

            this.userProjectList.push(result);
          } else {
            // doc.data() will be undefined in this case
            return;
          }
          // TODO: sort projects by last modified data
        });
      });
  },
};
</script>
<style>
@media (max-width: 700px) {
  .displayName {
    display: none;
  }
  .logo {
    display: none;
  }
}
.bpheader {
  margin-bottom: 40px;
}
li {
  list-style: none;
}
.home-header-profile > div {
  display: inline-block;
}
.home-header-profile div {
  margin-left: 15px;
}
.home-header-profile #dropdown-profile {
  color: #ffffff;
}
.home-header-profile #dropdown-profile:hover {
  color: rgba(0, 0, 0, 0.5);
}
.projettitre {
  color: #ffffff;
  margin-top: 15px;
}
i.mdi-chevron-down {
  color: rgb(251, 251, 255);
}
.titreprojet {
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
</style>
