<template>
    <aside class="left-side-menu">
        <div class="btn-sow-hidden my-2">
            <button class="cursor-pointer btn-switch" @click="open"> 
               <span v-if="isOpen"> <i class="el-icon-d-arrow-left"></i> </span>
               <span v-else> <i class="el-icon-d-arrow-right"></i> </span>
            </button> 
        </div>
        <div>
            <!-- =====* Large *===== -->
            <div class="slide-open" v-if="isOpen" :class="isOpen? 'active-open': 'active-reduce'">
                <div class="menu-item">
                    <ul>
                        <li v-for="(item,index) in menuLevel1" :key="index" :to="{name:item.route}">
                            <router-link :to="{name:item.route}">    
                                <i :class="item.icon"></i>
                                <span>{{item.libelle}}</span>
                            </router-link>
                        </li>
                        <div v-for="(item,index) in menuLevel2" :key="index" :index="index" class="sub-list" :class="index? 'change-style' : 'normal-style'">
                            <button  @click="openMenu(index)">
                                <span>
                                    <i :class="item.icon"></i>
                                    <span>{{ item.libelle }}</span>
                                    <i v-if="openItemList"
                                        class="el-icon-arrow-down"
                                    ></i>
                                    <i v-else class="el-icon-arrow-right"></i>
                                </span>
                            </button>
                            <ul v-if="index === activeIndex" class="sub-sub-item">
                                <router-link v-for="(itemlevel2,indexlevel2) in item.content" :key="indexlevel2" :to="{name:itemlevel2.route}">
                                    <li v-if="itemlevel2.checked" :index="index+'-'+indexlevel2" >{{ itemlevel2.libelle }}</li>
                                </router-link>
                            </ul>
                        </div>
                        <li style="padding: 12px 6px;">
                            <router-link :to="{name: 'provisionTable'}">                               
                                <i class="el-icon-s-grid"></i>
                                <span>Tableau provision</span>
                            </router-link>
                        </li>
                    </ul>
                </div>

           
            </div>
            <!-- =====* Réduit *===== -->
            <div class="slide-reduce" v-else>
                <el-menu
                style="height:100vh; overflow-x: hidden; overflow-y: auto; padding-top: 10px;"                     
                default-active="2"
                class="el-menu-vertical-demo"
                background-color="transparent"
                text-color="#4A88DA"
                active-text-color="#fff"        
                >
                    <div class="my-5">
                        <router-link v-for="(item,index) in menuLevel1" :key="index" :to="{name:item.route}">
                            <el-menu-item :index="index">
                                <i :class="item.icon"></i>
                                <!-- <span>{{ item.libelle }}</span> -->
                            </el-menu-item>
                        </router-link>

                        <el-submenu v-for="(item,index) in menuLevel2" :key="index" :index="index">
                            <template slot="title">
                                <i :class="item.icon"></i>
                                <!-- <span>{{ item.libelle }}</span> -->
                            </template>
                        
                            <router-link v-for="(itemlevel2,indexlevel2) in item.content" :key="indexlevel2" :to="{name:itemlevel2.route}">
                                <el-menu-item v-if="itemlevel2.checked" :index="index+'-'+indexlevel2" >{{ itemlevel2.libelle }}</el-menu-item>
                            </router-link>
                        </el-submenu>
                        <router-link :to="{name: 'provisionTable'}">    
                            <el-menu-item>
                                <i class="el-icon-s-grid"></i>
                            </el-menu-item>                           
                        </router-link>
                    </div>                
                </el-menu>
            </div>
        </div>
    </aside>
</template>

<script>
    import helper from '../services/helper'
    import firebase from 'firebase'
    import monnaies from "../../../assets/js/views/bp/mixins/currenciesMask"
    // Import the EventBus.
    import { CurrencyBus } from '../currency-bus';

    export default {
        data() {
        return {
            perm:JSON.parse(localStorage.getItem('userSession')).permissions.bpFinancier,
            isOpen: true,
            openItemList: false,
            changeStyle: 'change-style',
            activeIndex: 0,
            active:'active-rduce'
            }},
        mixins:[monnaies],

        methods : {
            open() {
                if (this.isOpen) {
                    this.isOpen = false;
                } else {
                    this.isOpen = true;
                }
            },
                openMenu(index) {
                    this.activeIndex = index;
                    // this.openItemList = !this.openItemList;
                }
        },

        computed: {            
            menuLevel1: function () {
                return this.perm.filter(i => i.haschildren==false && i.checked)
            },
            menuLevel2: function () {
                return this.perm.filter(i => i.haschildren && i.checked)
            },  
        },
        created() {
            // Listen for the i-got-clicked event and its payload.
            CurrencyBus.$on('reload-currency', currencyId => {
                // console.log(`Oh, that's nice. It's gotten ${currencyId} reload ! :)`)
                this.applyCurrencyMask(currencyId);
            });
        }
    }
</script>

<style scoped>
    /* @import '../../sass/verticalsidemenu.scss'; */
    .sub-list button{
        height: 50px;
        /* width: 90%; */
        background: transparent !important;
        border-radius: 3px !important;
        transition: all .2s ease !important;
        cursor: pointer !important;
        padding: 5px 10px !important;
        outline: none !important;
        border: none !important;
    }
    .sub-list button > i{
        color: #262627 !important;
    }
    .sub-list button:hover{
        background-color: #A4C4EE4D !important;
        margin: 0 10px;
        width: 90%; 
    }
    .left-side-menu a, span{
        color: #262627;
        font-weight: 400;
    }
    .el-menu{
        border: none !important;
    }
    .left-side-menu .el-menu-item.is-active{
        background-color: #A4C4EE4D !important;
        font-weight: 600 !important;
        margin: 0 15px;
        height: 45px;
        border-radius: 3px;
        border-left: 3px solid #4A88DA !important;
        color: #4A88DA !important;
        color: white;
    }
    ul li{
        transition: all .2s ease-in-out;
    }
    .menu-item li:first-child{
        cursor: pointer;
        margin: 10px 15px;
        padding: 12px 0;
    }
    .menu-item li:first-child:hover{
        background-color: #A4C4EE4D !important;
        padding: 12px 6px;
        border-radius: 2px;
    }

    .active-open{
        width: 240px; 
        transition: width .3s ease-in-out;
    }
    .slide-reduce{
        /* width: 50px; */
        transition: width .3s ease-in-out;
    }
    .el-submenu__icon-arrow{
        display: none !important;
    }
    .left-side-menu .el-menu-item{
        margin: 10px 0;
    }
    .left-side-menu .el-menu-item, .left-side-menu .el-submenu__title span, i{
        font-weight: 400 !important;
        color: #262627 !important;
    }

    .sub-list{
        /* cursor: pointer; */
        margin: 10px 2px;
        padding: 12px 0;
    }
    .sub-sub-item{
        margin-left: 28px;
    }
    .sub-sub-item li{
        margin: 24px auto;
    }

    .left-side-menu button.btn-switch{
        border: none;       
        margin: 3px 15px;
        color: #4A88DA !important;       
        background: #fff; 
        border-radius: 3px !important;
        transition: all .5s ease !important;
        cursor: pointer !important;
        padding: 5px 10px !important;
        outline: none !important;       
    }
    .left-side-menu button.btn-switch i{
        color: #4A88DA !important;
        font-weight: 600 !important;
    }
    .left-side-menu button.btn-switch:hover{
        background: #4A88DA;
    }
    .left-side-menu button.btn-switch:hover i{
        color: #fff !important;
    }
    .left-side-menu .slide-reduce li i{
        font-size: 22px !important;
    }
    .router-link-exact-active.active li{
        background-color: #A4C4EE4D !important;
        margin: 12px 5px;
        /* padding: 10px 5px; */
        font-size: .9rem;
        font-weight: 500;
        border-radius: 2px;
    }
</style>
