<template>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <a class="waves-effect waves-dark"  href="/" aria-expanded="true">
                            <i class="mdi mdi-home"></i><span class="titre">Liste de projets</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow waves-dark" href="#" aria-expanded="true">
                            <i class="mdi mdi-currency-eur"></i>
                            <span class="titre">FINANCES</span>
                        </a>
                        <ul aria-expanded="true" class="collapse">
                            <li>
                                <router-link  :to="{name:'suivi-recettes'}">
                                    <i class="mdi mdi-calculator icon-white"></i>
                                    <span> Recettes</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link  :to="{name:'suivi-depenses'}">
                                    <i class="mdi mdi-credit-card icon-white"></i>
                                    <span> Dépenses</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link  :to="{name:'suivi-soldes'}">
                                    <i class="mdi mdi-sale icon-white"></i>
                                    <span> Soldes</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="true">
                            <i class="mdi mdi-calendar"></i>
                            <span class="titre">TACHES</span>
                        </a>
                        <ul aria-expanded="true" class="collapse">
                            <li>
                                <router-link :to="{name:'suivi-taches'}">
                                    <i class="mdi mdi-table-edit icon-white"></i>
                                    <span> Tâches</span>
                                </router-link>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="mdi mdi-calendar-blank icon-white"></i>
                                    <span> Calendrier</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="mdi mdi-book-open-page-variant icon-white"></i>
                                    <span> Feuilles de route</span>
                                </a>
                            </li>
                            <li>
                                    <router-link :to="{name:'suivi-kanban'}">
                                    <i class="mdi mdi-book-open-page-variant icon-white"></i>
                                    <span> Kanban</span>
                                   </router-link>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="true">
                            <i class="mdi mdi-table"></i>
                            <span class="titre">COMMUNICATION</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="#">
                                    <i class="mdi mdi-book icon-white"></i>
                                    <span> Rendez-vous</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="mdi mdi-bell icon-white"></i>
                                    <span> Alertes</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="mdi mdi-message icon-white"></i>
                                    <span> Messages</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="true">
                            <i class="mdi mdi-settings"></i>
                            <span class="titre">PARAMETRES</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <router-link :to="{name:'suivi-produits'}">
                                    <i class="mdi mdi-book icon-white"></i>
                                    <span> Produits</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name:'suivi-vendeurs'}">
                                    <i class="mdi mdi-bell icon-white"></i>
                                    <span> Vendeur</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name:'suivi-clients'}">
                                    <i class="mdi mdi-message icon-white"></i>
                                    <span> Client</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name:'suivi-banques'}">
                                    <i class="mdi mdi-bank icon-white"></i>
                                    <span> Banques</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name:'suivi-type-client'}">
                                    <i class="fas fa-user icon-white"></i>
                                    <span> Type client</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name:'suivi-pays'}">
                                    <i class="fas fa-flag icon-white"></i>
                                    <span> Pays</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="#" aria-expanded="true">
                            <i class="mdi mdi-folder"></i>
                            <span class="titre">Mes documents</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="true">
                            <i class="mdi mdi-account"></i><span class="">MON ESPACE</span>
                        </a>
                        <ul aria-expanded="true" class="collapse">
                            <li><a href="#">Profil </a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Messages</a></li>
                            <li><a href="#">Paramètres</a></li>
                        </ul>
                    </li> -->
                    <!-- <li class="mt-2">
                        <a class="has-arrow" href="#" aria-haspopup="true" style="text-transform: uppercase;">
                            <i class="flag-icon mr-1" :class="currentCurrencyMask['icon-flag']"></i> {{currentCurrencyMask.literal}}
                        </a>
                    </li> -->
                </ul>
            </nav>
        </div>
    </aside>
</template>

<script>
    import helper from '../services/helper'
    import firebase from 'firebase'
    import monnaies from "../../../assets/js/views/bp/mixins/currenciesMask"
    // Import the EventBus.
    import { CurrencyBus } from '../currency-bus';

    export default {
        mixins:[monnaies],
        methods : {
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.replace('/login');
                })
            },
            getAuthUserFullName(){
                return this.$store.getters.getAuthUserFullName;
            },
            getAuthUser(name){
                return this.$store.getters.getAuthUser(name);
            }
        },
        computed: {
            getAvatar(){
                return '/images/users/'+this.getAuthUser('avatar');
            },
        },
        created() {
            // Listen for the i-got-clicked event and its payload.
            CurrencyBus.$on('reload-currency', currencyId => {
                // console.log(`Oh, that's nice. It's gotten ${currencyId} reload ! :)`)
                this.applyCurrencyMask(currencyId);
            });
        }
    }
</script>

<style scoped>
    @import '../../sass/verticalsidemenu.scss';
</style>
