<template>
    <div >
        <form class="form-horizontal" @submit="onUpdate">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">
                            <span class="text-red">*</span> Libellé
                        </label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.nom" type="text" id="nom">
                        </div>
                    </div>
    
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">
                            Téléphone 1
                        </label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.tel1" type="text" id="te11">
                        </div>
                    </div>
    
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">
                            Téléphone 2
                        </label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.tel2" type="text" id="te12">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Email</label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.email" type="email" id="email">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Site web</label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.site" type="text" id="siteweb">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Nom contact</label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.contact.nom" type="text" id="contactnom">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Tel contact</label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.contact.tel" type="text" id="contactel">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Mail contact</label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.contact.email" type="email" id="contactemail">
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Pays</label>
                        <div class="col-8">
                            <select v-model="client.pays" class="form-control" id="pays">
                                <option v-for="country in pays" :value="country.ref" :key="country.id">
                                    {{country.nom_fr}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Province</label>
                        <div class="col-8">
                            <select v-model="client.province" @change="getProvince" class="form-control" id="province">
                                <option v-for="province in provinces" :value="province.ref" :key="province.code">
                                    {{province.libelle}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Ville</label>
                        <div class="col-8">
                            <select v-model="client.ville" class="form-control" id="ville">
                                <option v-for="ville in villes" :value="ville.id" :key="ville.code">
                                    {{ville.libelle}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Quartier</label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.quartier" type="text" id="quartier">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Code postal</label>
                        <div class="col-8">
                            <input class="form-control" v-model="client.codepostal" type="text" id="codepostal">
                        </div>
                    </div>
                                                                
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Note</label>
                        <vue-editor id="note" :editorToolbar="customToolbar" v-model="client.note"></vue-editor>
                    </div>                                         
                </div>
            </div>

            <div class="modal-footer">
                <el-button type="primary" round native-type="submit">Enregistrer</el-button >
                <el-button type="danger" @click="$emit('close')">Fermer</el-button>
            </div>
        </form>
    </div>
</template>
<script>
import firebase from 'firebase'
import formulaire from '../../../../bp/mixins/suivi/formulaire'

const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 4000
});
export default{
    props: ['client'],
    mixins: [formulaire],
    data(){
        return {
            ref: firebase.firestore().collection('clients'),
            projetId: JSON.parse(localStorage.getItem('userSession')).projet,
        }
    },
    methods: {

        onSubmit: function(evt){
            evt.preventDefault();
            this.$emit("submitComponentForm", this.client);

            //on efface les champs
            this.client.nom = '',
            this.client.prenom = '',
            this.client.age = '',
            this.client.tel1 = '',
            this.client.tel2 = '',
            this.client.email = '',
            this.client.province = '';
            this.client.ville = '';
            this.client.quartier = '',
            this.client.codepostal = '';
            this.client.note = '';
        },
        onUpdate: function(evt){
            evt.preventDefault();
            this.$emit("emitUpdateEvent", this.client);
        },
        async getProvince(idProvince){
        // this.isLoading=true;
        this.loadingData=true
        this.villes=[];
        this.client.ville=''
        await this.villeRef.where('idProvince', '==', this.provinceRef.doc(idProvince.target.value)).get().then((querySnapshot)=>{
            querySnapshot.forEach((doc)=> {
                // doc.data() is never undefined for query doc snapshots
                this.villes.push({
                'libelle':doc.data().libelle,
                'id':this.villeRef.doc(doc.id)
                }  )
            });

            });
        // this.isLoading=false;  
            this.loadingData=false
        }
    },
}

</script>
<style scoped>
    .input-group-text1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #7eb1f5;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
.nav-link.show.active i,.nav-link.active i{
    color: #61b174;
}
span.stepTitle.active{
    color: #67757c !important;
    font-weight: 500 !important;
}
.nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
}
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        /* background-color: #D0E6ED !important; */
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }

    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .text-red {
        color: red !important;
    }
</style>