<template>
  <div>
    <form class="form-horizontal" @submit="onSubmit">
      <div class="row">
        <div class="col-md-7">
          <div class="form-group row mb-1">
            <label class="col-4 col-form-label">
              Nom <span class="text-red">*</span>
            </label>
            <div class="col-8">
              <input
                class="form-control"
                v-model="client.nom"
                type="text"
                required
                id="nom"
              />
            </div>
          </div>

          <div class="form-group row mb-1">
            <label class="col-4 col-form-label">
              Prénom <span class="text-red">*</span>
            </label>
            <div class="col-8">
              <input
                class="form-control"
                v-model="client.prenom"
                type="text"
                required
                id="prenom"
              />
            </div>
          </div>

          <div class="form-group row mb-1">
            <label class="col-4 col-form-label">
              Téléphone 1
            </label>
            <div class="col-8">
              <input
                class="form-control"
                v-model="client.tel1"
                type="text"
                id="tel1"
              />
            </div>
          </div>

          <div class="form-group row mb-1">
            <label class="col-4 col-form-label">
              Téléphone 2
            </label>
            <div class="col-8">
              <input
                class="form-control"
                v-model="client.tel2"
                type="text"
                id="tel2"
              />
            </div>
          </div>
          <div class="form-group row mb-1">
            <label class="col-4 col-form-label">Email</label>
            <div class="col-8">
              <input
                class="form-control"
                v-model="client.email"
                type="email"
                id="email"
              />
            </div>
          </div>
          <div class="form-group row mb-1">
            <label class="col-4 col-form-label">Pays</label>
            <div class="col-8">
              <select v-model="client.pays" class="form-control" id="pays">
                <option
                  v-for="country in pays"
                  :value="country.id"
                  :key="country.id"
                >
                  {{ country.nom_fr }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-1">
            <label class="col-4 col-form-label text-sm">Province</label>
            <div class="col-8">
              <select
                v-model="client.province"
                @change="getProvince($event.target.value)"
                class="form-control"
                id="province"
              >
                <option
                  v-for="province in provinces"
                  :value="province.id"
                  :key="province.code"
                >
                  {{ province.libelle }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-1">
            <label class="col-4 col-form-label">Ville</label>
            <div class="col-8">
              <select v-model="client.ville" class="form-control" id="ville">
                <option
                  v-for="ville in villes"
                  :value="ville.id"
                  :selected="[ville.id == client.ville ? 'true' : 'false']"
                  :key="ville.code"
                >
                  {{ ville.libelle }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-1">
            <label class="col-4 col-form-label">Quartier</label>
            <div class="col-8">
              <input
                class="form-control"
                v-model="client.quartier"
                type="text"
                id="quartier"
              />
            </div>
          </div>
          <div class="form-group row mb-1">
            <label class="col-4 col-form-label">Code postal</label>
            <div class="col-8">
              <input
                class="form-control"
                v-model="client.codepostal"
                type="text"
                id="codepostal"
              />
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label>Note</label>
            <vue-editor
              id="note"
              :editorToolbar="customToolbar"
              v-model="client.note"
            ></vue-editor>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <span class="mytooltip tooltip-effect-5">
          <input
            type="checkbox"
            id="basic_checkbox_2"
            v-model="saveAndContinu"
            class="filled-in chk-col-blue"
          />
          <label for="basic_checkbox_2"></label>
          <span class="tooltip-content clearfix">
            <span class="tooltip-text p-t-1">
              Cocher pour enregistrer plusieurs fois.
            </span>
          </span>
        </span>
        <button type="submit" class="btn btn-rounded btn-info">
          Enregistrer
        </button>
        <button
          type="button"
          class="btn btn-rounded btn-danger"
          data-dismiss="modal"
          @click="onClose"
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</template>
<script>
import firebase from "firebase";

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 4000,
});

export default {
  props: ["tableData"],
  data() {
    return {
      provinceRef: firebase.firestore().collection("province"),
      paysRef: firebase.firestore().collection("pays"),
      villeRef: firebase.firestore().collection("ville"),
      ref: firebase.firestore().collection("clients"),
      saveAndContinu: "",
      client: {
        type: "Particulier",
        nom: "",
        prenom: "",
        age: "",
        tel1: "",
        email: "",
        pays: "L3X2KXkxLIbzfQOMUMRg",
        province: "k2GBaf2IhfQpfS9xSfBW", //defaut selected country
        ville: "fHKCBBTijQ9IYTAaKDIb",
        quartier: "",
        codepostal: "",
        note: "",
      },
      pays: [],
      provinces: [],
      villes: [],
      projetId: JSON.parse(localStorage.getItem("userSession")).projet,
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons
        [{ list: "ordered" }, { list: "bullet" }],
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme
        ["clean"], // remove formatting button
      ],
    };
  },
  async created() {
    this.provinceRef
      .orderBy("code", "asc")
      .get()
      .then((querySnapshot) => {
        this.province = [];
        querySnapshot.forEach((doc) => {
          this.provinces.push({
            libelle: doc.data().libelle,
            code: doc.data().code,
            id: doc.id,
          });
        });
      });
    this.paysRef
      .orderBy("alpha2", "asc")
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let obj = doc.data();
          obj.id = doc.id;
          this.pays.push(obj);
        });
      });
    this.getProvince(this.client.province);
  },
  methods: {
    onSubmit: function(evt) {
      evt.preventDefault();
      this.$emit("submitComponentForm", this.client);

      //on efface les champs
      (this.client.nom = ""),
        (this.client.prenom = ""),
        (this.client.age = ""),
        (this.client.tel1 = ""),
        (this.client.tel2 = ""),
        (this.client.email = ""),
        (this.client.quartier = ""),
        (this.client.codepostal = "");
      this.client.note = "";

      //si le bouton saveAndContinu n'est pas coché
      if (!this.saveAndContinu) {
        $("#modalClients").modal("hide");
      }
    },
    onUpdate: function(evt) {
      evt.preventDefault();
      this.loading = true;
      this.tableData = []; //on reset le data pour éviter les doublons
      this.loading = true;
      this.client.updatedAt = new Date();
      this.ref
        .doc(this.client.id)
        .update(this.client)
        .then((client) => {
          // loader.hide();
          $("#modalEditClient").modal("hide");
          Swal.fire({
            type: "success",
            title: "Un client a été mis à jour avec succès",
            showConfirmButton: false,
            timer: 2500,
          });
          this.loading = false;
        })
        .catch((error) => {
          loader.hide();
          Swal.fire({
            type: "error",
            title: "Oops...",
            text: "Une erreur est survenue!",
          });
        });
    },
    async getProvince(idProvince) {
      this.loadingData = true;
      this.villes = [];
      await this.villeRef
        .where("idProvince", "==", this.provinceRef.doc(idProvince))
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            // doc.data() is never undefined for query doc snapshots
            this.villes.push({
              libelle: doc.data().libelle,
              id: doc.id,
              ref: doc.ref,
            });
          });
        });
      this.loadingData = false;
    },
    onClose() {
      this.$emit("onClose");
    },
  },
};
</script>
<style scoped>
.input-group-text1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #7eb1f5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.nav-link.show.active i,
.nav-link.active i {
  color: #61b174;
}
span.stepTitle.active {
  color: #67757c !important;
  font-weight: 500 !important;
}
.nav-link {
  font-weight: normal;
  text-transform: normal;
  color: #67757c;
  height: 100%;
}
.nav-pills > li.nav-item {
  display: block;
  width: 50%;
  text-align: center;
}
.nav-pills > li.nav-item a {
  margin: 1px auto;
  padding: 1px 0px;
  border-radius: 2px;
  font-size: 0.9rem;
  background-color: #c8cacd;
  height: 100%;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #61b174;
}
.card-body {
  padding: 0px 5px;
  /* background-color: #D0E6ED !important; */
}
.nav.nav-tabs.customtab li a {
  text-align: center;
  padding: 5px 10px;
}
.nav.nav-tabs.customtab li a.active {
  background-color: #0080003b;
  border-bottom-color: #f32b2bcc;
}
.nav.nav-tabs.customtab li {
  width: 50%;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}
.input-group-text {
  width: 150px;
  background-color: #398bf7;
  color: #ffffff;
}
.input-group-montant {
  width: 125px !important;
}

.fieldset {
  border: 1px solid #ced4da !important;
  padding: 0 0.4em 0 0.4em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.row-fieldset {
  border: 1px solid #ced4da !important;
  padding: 0 0.2em 0 0.2em !important;
  margin: 0.5em 0 0.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ced4da;
  box-shadow: 0px 0px 0px 0px #ced4da;
}
.text-red {
  color: red !important;
}
</style>
