
/*******************
Login register and recover password Page
******************/
.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/images/background/login-register.jpg");
    height: 100%;
    width: 100%;
    padding: 1% 0 5% 0;
    
}

.login-box {
    width: 450px;
    margin: 0 auto;
}

.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.login-box .social {
    display: block;
    margin-bottom: 30px;
}

#recoverform {
    display: none;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%;
}

.help-block > strong {
    color: red !important;
    font-style: italic !important;
    font-size: small !important;
}
