
/*******************
Main sidebar
******************/
.left-sidebar {
    background:#23242599 !important;
}

.sidebar-nav ul li a {
    color: #ffffff !important;
}

.page-wrapper {
    min-height: 90vh !important;
}
/*******************
 Footer
*******************/
.footer {
    bottom: 0;
    color: #ffffff;
    left: 0px;
    padding: 17px 15px;
    position: absolute;
    right: 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #1E58B3;
    text-align: center;
    min-height: 7vh;
}

/*******************
 Accueil
*******************/

.centrer {
    margin: 0 auto !important;
}

.centrer > .fas {
    color: #ffffff !important;
}

.centrer > .ti {
    color: #ffffff !important;
}


.centrer > i {
    font-size: 85px !important;
}

a[class="card bg-cbs"]:hover{
    background-color: #00ba8b !important;
}
/* .card-suivi{
    margin-bottom: 200px;
} */
.bg-cbs  {
    border-radius: 5px !important;
    height: 60%;
    background-color: #1E58B3;
}
.bg-suivi {
    border-radius: 5px !important;
    height: 50%;
    background-color: #1E58B3;
}
.bg-bp  {
    border-radius: 5px !important; 
    background-color: #1E58B3;
}
#summary{
    background-repeat: no-repeat;
    background-image: url("../assets/images/background/summary.png");
    /* background-size:contain;
    background-position:center; */
}
#summaryDisabled{
    background-repeat: no-repeat;
    background-image: url("../assets/images/background/summarydisabled.png");
      background-size:contain;
     background-position:center;
}
#bpeconomique{
    background-repeat: no-repeat;
    background-image: url("../assets/images/background/bpeconomique.png");
}
#bpeconomiqueDisabled{
    background-repeat: no-repeat;
    background-image: url("../assets/images/background/bpeconomiquedisabled.png");
}
#bpfinancier{
    background-repeat: no-repeat;
    background-image: url("../assets/images/background/bpfinancier.png");
       background-size:contain;
     /* background-position:center; */
}
#bpfinancierDisabled{
    background-repeat: no-repeat;
    background-image: url("../assets/images/background/bpfinancierdisabled.png");
}
#suivi{
    background-repeat: no-repeat;
    background-image: url("../assets/images/background/suivi.png");
}
#suiviDisabled{
    background-repeat: no-repeat;
    background-image: url("../assets/images/background/suividisabled.png");
}
/*******************
menu-suivi
*******************/
#entree{
    background-repeat: no-repeat;
    background-image: url("../assets/images/background/summary.png");
}

/*******************
 Summary
*******************/

.etoile > .checked {
    color: orange;
}

[type="link"],[type="link"]:hover {
    cursor: pointer;
}
