<template>
  <div class="page-wrapper">
    <div
      v-if="
        this.perm[1] &&
        this.perm[1].libelle == 'Programme' &&
        this.perm[1].haschildren
      "
      class="container-fluid pl-3"
    >
      <div class="row page-titles">
        <div class="col-md-12">
          <ol class="breadcrumb mr-3 py-2 float-right">
            <li class="breadcrumb-item">
              <router-link to="/bp/admin/dashboard">Dashboard</router-link>
            </li>
          </ol>
        </div>
      </div>
      <div class="row pl-3 pb-1">
        <div class="col-md-5">
          <h3 class="text-themecolor"><b>Tableau de bord</b></h3>
        </div>
      </div>
      <div class="row pl-3">
        <div class="col-lg-3">
          <div class="card bg-info">
            <div class="card-body">
              <div class="d-flex no-block">
                <div class="m-r-20 align-self-center">
                  <i class="fas fa-chess"></i>
                </div>
                <div class="align-self-center">
                  <h6 class="text-white m-t-10 m-b-0">Tous les concours</h6>
                  <h2 class="m-t-0 text-white">{{ tousLesConcours.length }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card bg-success">
            <div class="card-body">
              <div class="d-flex no-block">
                <div class="m-r-20 align-self-center">
                  <i class="fas fa-rocket"></i>
                </div>
                <div class="align-self-center">
                  <h6 class="text-white m-t-10 m-b-0">Concours en cours</h6>
                  <h2 class="m-t-0 text-white">{{ concoursEnCours.length }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card bg-primary">
            <div class="card-body">
              <div class="d-flex no-block">
                <div class="m-r-20 align-self-center">
                  <i class="fas fa-hourglass-half"></i>
                </div>
                <div class="align-self-center">
                  <h6 class="text-white m-t-10 m-b-0">Concours en attente</h6>
                  <h2 class="m-t-0 text-white">
                    {{ concoursEnAttente.length }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card bg-danger">
            <div class="card-body">
              <div class="d-flex no-block">
                <div class="m-r-20 align-self-center">
                  <i class="fas fa-users"></i>
                </div>
                <div class="align-self-center">
                  <h6 class="text-white m-t-10 m-b-0">Membres</h6>
                  <h2 class="m-t-0 text-white">{{ participants.length }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ml-3 mr-1" style="background-color: white">
        <div class="col-lg-6">
          <h3 style="font-size: 17px" class="pl-3 pt-2">
            Nombre de participants par concours
          </h3>
          <highcharts :options="chartOptions1"></highcharts>
        </div>
        <div class="col-lg-5">
          <h3 style="font-size: 17px" class="pl-5 pt-2">
            Quotas des participants
          </h3>
          <!-- <apexchart type="donut" :options="chartOptions2" :series="series2"></apexchart> -->
          <highcharts :options="chartOptions2"></highcharts>
        </div>
      </div>
    </div>
    <Welcome :user="user" v-else />
  </div>
</template>
<style scoped>
.align-self-center h6 {
  font-size: 18px;
}
.page-wrapper {
  /* margin-top: 0px !important; */
  background: rgb(236, 236, 236) !important;
}
</style>
<script>
import firebase from "firebase";
import VueApexCharts from "vue-apexcharts";
import { Loading } from "element-ui";
import Highcharts from "highcharts";
import HighchartsVue from "highcharts-vue";
import Welcome from "./components/welcome.vue";
Vue.use(HighchartsVue, {
  highcharts: Highcharts,
});
export default {
  name: "Dashboard",
  components: { apexchart: VueApexCharts, Loading, Welcome },
  props: ["perm",'user'],
  data() {
    return {
      showChart1: false,
      chartOptions1: {
        chart: {
          type: "pie",
        },
        title: {
          style: {
            display: "none",
          },
        },
        accessibility: {
          point: {
            valueSuffix: "%",
          },
        },
        legend: {
          layout: "vertical",
          align: "right",
          itemDistance: 100,
          labelFormat: "{name} - ({percentage:.1f}%)",
          margin: 30,
        },
        plotOptions: {
          pie: {
            size: "90%",
            showInLegend: true,
            dataLabels: {
              format: "{point.name} ({point.percentage:.1f} %)",
              connectorColor: "silver",
            },
          },
        },
        series: [
          {
            name: "Quota",
            data: [],
          },
        ],
      },
      chartOptions2: {
        chart: {
          type: "pie",
        },
        title: {
          style: {
            display: "none",
          },
        },
        accessibility: {
          point: {
            valueSuffix: "%",
          },
        },
        legend: {
          layout: "vertical",
          align: "right",
          itemDistance: 100,
          labelFormat: "{name} - ({percentage:.1f}%)",
          margin: 30,
        },
        plotOptions: {
          pie: {
            size: "90%",
            showInLegend: true,
            dataLabels: {
              format: "{point.name} ({point.percentage:.1f} %)",
              connectorColor: "silver",
            },
          },
        },
        series: [
          {
            name: "Quota",
            data: [],
          },
        ],
      },
      quotaConcours: 0,
      nbQuotasUsed: 0,
      quotasRestant: 0,
      series: [],
      chartOptions: {
        labels: [],
        colors: [
          "#2E93fA",
          "#66DA26",
          "#546E7A",
          "#E91E63",
          "#2E93fA",
          "#546E7A",
          "#E91E63",
          "#188C41",
          "#04ABEF",
          "#C79B07",
          "#6A7EA6",
        ],
      },
      series2: [],
      concoursRef: firebase.firestore().collection("concours"),
      permissionsRef: firebase.firestore().collection("permissions"),
      users: firebase.firestore().collection("users"),
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      tousLesConcours: [],
      concoursEnAttente: [], //  concours non lancé
      concoursEnCours: [], //  concours lancé
      participants: [],
    };
  },
  created() {
    // console.log("perm", this.perm);
    this.$loading({ fullscreen: true });
    this.concoursRef
      .where("adminId", "==", this.currentUId)
      .onSnapshot((snapshot) => {
        if (snapshot.size > 0) {
          snapshot.forEach((doc) => {
            //  Recupération de tous les concours
            let obj = doc.data();
            obj.nbParticipantsInscris = [];
            this.nbQuotasUsed = this.nbQuotasUsed + obj.participants;
            this.chartOptions.labels.push(obj.libelleConcours);

            // Recupération du nombre de participants par concours
            this.users
              .where("idConcours", "==", doc.id)
              .onSnapshot((snapshot) => {
                if (snapshot.empty) {
                  snapshot.forEach((doc) => {
                    let data = doc.data();
                    obj.nbParticipantsInscris.push(data);
                  });
                  this.series.push(obj.nbParticipantsInscris.length);
                  this.chartOptions1.series[0].data.push({
                    name: obj.libelleConcours,
                    y: obj.nbParticipantsInscris.length,
                  });
                  this.showChart1 = true;
                } else {
                  this.chartOptions1.series[0].data.push({
                    name: obj.libelleConcours,
                    y: 0,
                  });
                }
              });

            this.tousLesConcours.push(obj);
            this.concoursEnCours = this.tousLesConcours.filter((item) => {
              return item.etatDuConcours;
            });
            this.concoursEnAttente = this.tousLesConcours.filter((item) => {
              return !item.etatDuConcours;
            });
          });
        }
        this.$loading().close();
      });
    this.users
      .where("adminId", "==", this.currentUId)
      .onSnapshot((snapshot) => {
        if (!snapshot.empty) {
          snapshot.forEach((doc) => {
            let obj = doc.data();
            this.participants.push(obj);
          });
        }
      });
    this.permissionsRef
      .doc(this.currentUId)
      .get()
      .then((doc) => {
        let obj = doc.data();
        if(obj !== null && obj !== {}) {
          this.quotaConcours = Object.hasOwnProperty('quotaConcours',obj) ? obj.quotaConcours : 0;
        }else this.quotaConcours = 0;
        this.quotasRestant = this.quotaConcours - this.nbQuotasUsed;
        this.chartOptions2.series[0].data = [
            {
                name: "Quota Total",
                y: this.quotaConcours
            },
            {
                name: "Quota Utilisé",
                y: this.nbQuotasUsed
            },
            {
                name: "Quota Restant",
                y: this.quotasRestant
            },
        ]
      });
  },
};
</script>
