<template>
  <div>
    <el-form :model="action" :rules="rules" ref="actionForm">
      <HeaderTicket
        @update:typeTicketSelected="$emit('update:typeTicketSelected', $event)"
        @update:idSummarySelected="$emit('update:idSummarySelected', $event)"
        :listeProjets="listeProjets"
        :idSummarySelected.sync="idSummarySelected"
        :activites="activites"
        @update:action="action.etat = $event"
        @update:titre="action.titre = $event"
        :categorieSelectedId.sync="categorieSelectedId"
        @update:categorieSelectedId="
          $emit('update:categorieSelectedId', $event)
        "
        :tabTypeTickets="tabTypeTickets"
        :typeTicketSelected.sync="typeTicketSelected"
        :couleur="couleur"
        :errorTitre="$v.action.titre.$error"
        ref="headerTicket"
      />
      <!-- <span class="title"><strong slot="title">Ajouter une tâche</strong></span> -->
      <hr />
      <!-- <el-form :model="action" :rules="rules" ref="actionForm"> -->
      <div class="row ml-0">
        <div
          class="col-xl-8 col-lg-8 col-md-8 col-12 shadow-sm p-3 bg-white rounded"
        >
          <div v-if="$store.state.agilite.mode == 'creation'" class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <Description
                @update:description="action.description = $event"
                :couleur="couleur"
                libelle="Description"
                ref="description"
                :ticketDisplay="$store.state.agilite.task.description"
              />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12">
              <Description
                @update:description="action.resultatsAttendus = $event"
                :couleur="couleur"
                libelle="Résultats attendus"
                ref="resultatsAttendus"
              />
            </div>
          </div>
          <div
            v-if="
              $store.state.agilite.mode == 'affichage' ||
              $store.state.agilite.mode == 'modification'
            "
            class="row"
          >
            <div
              v-if="$store.state.agilite.task.description"
              class="col-xl-12 col-lg-12 col-md-12"
            >
              <Description
                @update:description="action.description = $event"
                :couleur="couleur"
                libelle="Description"
                ref="description"
                :ticketDisplay="$store.state.agilite.task.description"
              />
            </div>
            <div v-else class="col-xl-12 col-lg-12 col-md-12">
              <Description
                @update:description="action.description = $event"
                :couleur="couleur"
                libelle="Description"
                ref="description"
              />
            </div>
            <div
              v-if="$store.state.agilite.task.resultatsAttendus"
              class="col-xl-12 col-lg-12 col-md-12"
            >
              <Description
                @update:description="action.resultatsAttendus = $event"
                :couleur="couleur"
                libelle="Résultats attendus"
                ref="resultatsAttendus"
                :ticketDisplay="$store.state.agilite.task.resultatsAttendus"
              />
            </div>
            <div v-else class="col-xl-12 col-lg-12 col-md-12">
              <Description
                @update:description="action.resultatsAttendus = $event"
                :couleur="couleur"
                libelle="Résultats attendus"
                ref="resultatsAttendus"
              />
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 ml-auto">
          <div class="shadow-sm p-3 bg-white rounded">
            <el-form ref="form" label-width="80px">
              <div class="row">
                <div class="col-12">
                  <Affecte
                    @update:user="action.userId = $event"
                    :adminId="$store.state.agilite.adminId"
                    :currentUId="$store.state.agilite.currentUId"
                    :couleur="couleur"
                    label="Affecté à"
                    ref="affecte"
                    :ticketDisplayUser="$store.state.agilite.task"
                  />
                  <CreerParInput
                    :user="userInfos.displayName"
                    :couleur="couleur"
                    ref="creerPar"
                  />
                  <PrioriteInput
                    @update:priorite="action.priorite = $event"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    :couleur="couleur"
                    ref="priorite"
                  />
                  <EtiquetteInput
                    @update:etiquette="action.etiquette = $event"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    :couleur="couleur"
                  />
                  <el-form-item
                    v-if="
                      $store.state.agilite.mode == 'creation' ||
                      $store.state.agilite.mode == 'modification'
                    "
                    label="Date"
                    prop="dates"
                  >
                    <el-date-picker
                      style="width: 100%"
                      class="mt-3"
                      format="dd-MMM-yyyy HH:mm:ss"
                      v-model="action.dates"
                      type="datetimerange"
                      range-separator="à"
                      start-placeholder="Début traitement"
                      end-placeholder="Fin traitement"
                      :default-value="new Date()"
                    ></el-date-picker>
                  </el-form-item>
                  <span v-if="$store.state.agilite.mode == 'affichage'">
                    <span class="">Début </span>
                    <span class="date-affiche">
                      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                      <span
                        :style="{ backgroundColor: couleur }"
                        class="material-icons-outlined ml-2 affichage-date"
                        >watch_later
                      </span>
                      {{
                        new Date($store.state.agilite.task.dates[0])
                          | moment("Do MMMM YYYY")
                      }}
                    </span>
                    <br /><br />
                    <span class="ml-4">Fin </span>
                    <span class="date-affiche">
                      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                      <span
                        :style="{ backgroundColor: couleur }"
                        class="material-icons-outlined ml-2 affichage-date"
                        >watch_later
                      </span>
                      {{
                        new Date($store.state.agilite.task.dates[1])
                          | moment("Do MMMM YYYY")
                      }}</span
                    >
                  </span>
                  <DateAlert @date:update="action.alertDate = $event" />
                  <div class="side-bar">
                    <el-form-item label-width="92px"> </el-form-item>
                    <SprintInput
                      @update:sprint="action.sprint = $event"
                      :typeTicketSelected="typeTicketSelected"
                      :idSummarySelected="idSummarySelected"
                      :couleur="couleur"
                      libelle="Période"
                      ref="sprint"
                    />
                  </div>
                </div>
              </div>
            </el-form>
          </div>
        </div>
      </div>
      <!-- Protocole -->
      <div class="row mt-3">
        <div class="col-xl-3">
          <protocole
            @update:protocole="loadProtocole($event)"
            :couleur="couleur"
            :typeTicketSelected="typeTicketSelected"
            :idSummarySelected="idSummarySelected"
            ref="protocole"
          />
        </div>
      </div>
      <!-------------------------- Sous tâches ----------------------------------------->
      <sub-task-ticket
        :protocoleProcess="protocoleProcess"
        :tabletView="tabletView"
        :screenView="screenView"
        :mobileView="mobileView"
        ref="subActionTask"
      />
      <!-------------------------- Sous tâches----------------------------------------->
    </el-form>

    <!-------------------------- Upload File ----------------------------------------->
    <file-ticket @update:fichiers="fichiers = $event" ref="fileTicket" />
    <!-------------------------- End Upload File ----------------------------------------->
    <div class="row mt-2 mb-4">
      <div class="col-12 mt-3">
        <linkBloc :couleur="couleur" ref="linkBloc" />
      </div>
    </div>
    <FooterModal
      @saveTicket="saveTicket('actionForm')"
      @saveEditTicket="saveEditTicket('actionForm')"
      :loadingSave="loadingSave"
    />
  </div>
</template>

<script>
import firebase from "firebase";
import { required } from "vuelidate/lib/validators";
import Notification from "../../../../../store/collection/notifications";
import VueNumeric from "vue-numeric";
import currenciesMaskMixin from "../../../../bp/mixins/currenciesMask";
import Fichier from "../../../../../store/collection/fichiers";
import Sprint from "../../../../bp/erp/models/sprint";
import Version from "../../../../bp/erp/models/version";
import TicketStandart from "../../../../bp/erp/models/agilite/typeStandard";
import Etiquette from "../../../../bp/erp/models/etiquette";
import Composant from "../../../../bp/erp/models/composant";
import HeaderTicket from "../../../../bp/agile/tickets/composantCourrier/headerTickets";
import FileTicket from "../../../../bp/agile/tickets/composantCourrier/fileTicket.vue";
import SubTaskTicket from "../../../../bp/agile/tickets/composantCourrier/subTaskTicket.vue";
import PrioriteInput from "../../../../bp/agile/tickets/composantCourrier/contentRigth/priorite";
import CreerParInput from "../../../../bp/agile/tickets/composantCourrier/contentRigth/creerPar";
import Affecte from "../../../../bp/agile/tickets/composantCourrier/contentRigth/affecte";
import EtiquetteInput from "../../../../bp/agile/tickets/composantCourrier/contentRigth/etiquette";
import ComposantInput from "../../../../bp/agile/tickets/composantCourrier/contentRigth/composant";
import SprintInput from "../../../../bp/agile/tickets/composantCourrier/contentRigth/sprint";
import Description from "../../../../bp/agile/tickets/composantCourrier/description";
import TypeTicket from "../../../../bp/erp/models/globalTicket/typeTicket";
import TypeStandard from "../../../../bp/erp/models/agilite/typeStandard";
import SubTask from "../../../../bp/erp/models/agilite/subTask";
import FooterModal from "../../../../bp/agile/tickets/footerModal";
import protocole from "../../../../bp/agile/tickets/composantCourrier/contentRigth/protocole";
import Lien from "../../../../bp/erp/models/agilite/lien";
import linkBloc from "../../../../bp/agile/tickets/composantCourrier/contentRigth/linkBloc";
import DateAlert from "../../../../bp/agile/tickets/composantCourrier/contentRigth/dateAlert";
export default {
  name: "ticketNormal",
  mixins: [currenciesMaskMixin],
  components: {
    VueNumeric,
    HeaderTicket,
    FileTicket,
    SubTaskTicket,
    PrioriteInput,
    CreerParInput,
    Affecte,
    linkBloc,
    EtiquetteInput,
    ComposantInput,
    SprintInput,
    Description,
    FooterModal,
    protocole,
    DateAlert,
  },
  props: {
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    errorTitre: {
      default: false,
      type: Boolean,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    paramsTypeEtiquetteRef: {
      default: null,
    },
    listeProjets: {
      default: [],
    },
    activites: {
      default: [],
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default: [],
    },
    couleur: {
      default: "#000",
    },
    listLinkType: {
      default: [],
      type: Array,
    },
    filterTaskList: {
      default: [],
      type: Array,
    },
  },
  computed: {
    categorieSelectedId: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    newIndex: {
      get() {
        return this.$store.state.agilite.listTickets.length + 1;
      },
    },
  },
  data() {
    return {
      summaryRef: firebase.firestore().collection("summary"),
      users: firebase.firestore().collection("users"),
      resultatAttenduEdit: true,
      priorites: [],
      protocoleProcess: [],
      activeAction: false,
      editMode: false,
      userInfos: JSON.parse(localStorage.getItem("userSession")),
      projets: [],
      action: {
        summaryId: "",
        typeTicket: "",
        dates: "",
        alertDate: "",
        titre: "",
        description: "",
        etat: "1",
        commentaire: "",
        effort: 0,
        etiquette: "",
        priorite: "",
        refEtiquette: "",
        refCategorie: "",
        categorie: "",
        resultatsAttendus: "",
        protocole: "",
        index: 0,
        sprint: "",
      },
      efforts: [
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
      ],
      percentTotal: 0,
      rules: {
        etat: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        titre: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        dates: [
          {
            required: false,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        // checkDate:[
        //   {validator:validateDate,trigger:'blur'}
        // ]
      },
      loadingSave: false,
      fichiers: [],
      userNotify: "",
      sprints: [],
      versions: [],
      composants: [],
      libelle: "",
      swicth: true,
    };
  },
  validations: {
    action: {
      titre: { required },
    },
  },

  watch: {
    "$store.state.agilite.idSummarySelected": function (val) {
      this.action.summaryId = this.summaryRef.doc(val);
    },
    typeTicketSelected: function (val) {
      this.action.typeTicket =
        TypeTicket.getCollection("globalTypeTicket").doc(val);
    },
    categorieSelectedId: function (val) {
      this.action.activite = TypeTicket.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
  },
  methods: {
    //  openModalCreateAction(data) {
    //     // this.editMode = false;
    //      this.projets = data
    //     this.activeAction = true;
    //     // this.getEtiquettes();
    //     // this.getCategories();
    //     this.ReloadfieldsAction();

    // },

    ReloadfieldsAction() {
      this.limitAddSub = false;
      this.action = {
        dates: "",
        titre: "",
        description: "",
        etat: "1",
        subActions: [],
        commentaire: "",
        etiquette: "",
      };
    },

    async saveEditTicket(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //INSERTION FICHIERS
          this.loadingSave = true;
          let urlFiles = [];
          const resultFile = new Promise((resolve, reject) => {
            if (this.fichiers.length != 0) {
              this.fichiers.forEach((fileItem) => {
                if (fileItem.raw) {
                  const file = new Fichier(this.categorieSelectedId);
                  urlFiles.push(
                    file
                      .saveToStorage(this.categorieSelectedId, fileItem.raw)
                      .then((snapshot) => snapshot.ref.getDownloadURL())
                      .then((url) => {
                        let data = {};
                        data.url = url;
                        data.name = fileItem.raw.name;
                        data.type = fileItem.raw.type;
                        data.size = fileItem.raw.size;
                        return data;
                      })
                  );
                }
              });
              resolve(urlFiles);
            } else {
              reject(urlFiles);
            }
          });
          Promise.all([Promise.all(urlFiles)]).then((value) => {
            //getOld Files
            //reset old files
            this.action.files = [];
            this.fichiers.forEach((fileItem) => {
              if (!fileItem.raw) {
                this.action.files.push(fileItem);
              }
            });
            if (value[0].length > 0) {
              value[0].forEach((item) => {
                this.action.files.push(item);
              });
            }
            // this.action.index = this.newIndex;
            const ticket = new TypeStandard("tasks", this.action);
            ticket.data.createdAt = this.action.createdAt;
            ticket.data.updatedAt = TypeStandard.getCreatedAt();
            this.tasksRef
              .doc(this.action.id)
              .set(ticket.data)
              .then(() => {
                if (this.$refs.subActionTask) {
                  this.$refs.subActionTask.action.subActions.forEach((item) => {
                    const subTask = new SubTask("subTasks", item);
                    if (item.id) {
                      subTask.data.createdAt = item.createdAt;
                      this.tasksRef
                        .doc(this.action.id)
                        .collection("subTasks")
                        .doc(item.id)
                        .set(subTask.data);
                    } else {
                      this.tasksRef
                        .doc(this.action.id)
                        .collection("subTasks")
                        .add(subTask.data);
                    }
                  });
                }
                if (this.$refs.linkBloc) {
                  this.$refs.linkBloc.action.links.forEach((item) => {
                    const lien = new Lien("links", item);
                    if (item.id) {
                      lien.data.createdAt = item.createdAt;
                      this.tasksRef
                        .doc(this.action.id)
                        .collection("subTasks")
                        .doc(item.id)
                        .set(lien.data);
                    } else {
                      this.tasksRef
                        .doc(this.action.id)
                        .collection("links")
                        .add(lien.data);
                    }
                  });
                }

                this.$notify({
                  title: "Succès",
                  message: "Le ticket  a été modifié",
                  type: "success",
                });
                this.loadingSave = false;
                this.$emit("savedTicket");
              })
              .catch((error) => {
                this.$notify.error({
                  title: "Error",
                  message: "Une erreur s'est produite",
                });
                this.loadingSave = false;
                console.log("Erreur", error);
              });
          });
        } else {
          return false;
        }
      });
    },
    async saveTicket(formName) {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //INSERTION FICHIERS
          this.loadingSave = true;
          let urlFiles = [];
          const resultFile = new Promise((resolve, reject) => {
            if (this.fichiers.length != 0) {
              this.fichiers.forEach((fileItem) => {
                const file = new Fichier(this.categorieSelectedId);
                urlFiles.push(
                  file
                    .saveToStorage(this.categorieSelectedId, fileItem.raw)
                    .then((snapshot) => snapshot.ref.getDownloadURL())
                    .then((url) => {
                      let data = {};
                      data.url = url;
                      data.name = fileItem.raw.name;
                      data.type = fileItem.raw.type;
                      data.size = fileItem.raw.size;
                      return data;
                    })
                );
              });
              resolve(urlFiles);
            } else {
              reject(urlFiles);
            }
          });
          Promise.all([Promise.all(urlFiles)]).then((value) => {
            let files = value[0];
            this.action.files = files;
            this.action.index = this.newIndex;
            const ticket = new TypeStandard("tasks", this.action);
            console.log("Data", ticket.data);
            this.tasksRef
              .add(ticket.data)
              .then((doc) => {
                // Enregistrement des sous taches
                this.$refs.subActionTask.action.subActions.forEach((item) => {
                  const subTask = new SubTask("subTasks", item);
                  this.tasksRef
                    .doc(doc.id)
                    .collection("subTasks")
                    .add(subTask.data);
                });
                // Enregistrement des liens
                if (this.$refs.linkBloc.action.links.length != 0) {
                  this.$refs.linkBloc.action.links.forEach((item) => {
                    const lien = new Lien("links", item);
                    this.tasksRef
                      .doc(doc.id)
                      .collection("links")
                      .add(lien.data)
                      .then((doc) => {});
                  });
                }
                this.$notify({
                  title: "Succès",
                  message: "L'action a été ajoutée",
                  type: "success",
                });
                this.loadingSave = false;
                this.$emit("savedTicket");
              })
              .catch((error) => {
                this.$notify.error({
                  title: "Error",
                  message: "Une erreur s'est produite",
                });
                this.loadingSave = false;
                console.log("Erreur", error);
              });
          });
        } else {
          return false;
        }
      });
    },
    loadImage(photo, user) {
      this.selectedUser = "";
      this.selectedPhoto = "";
      this.selectedPhoto = photo;
      this.selectedUser = user;
      this.modalImage = true;
    },
    loadFiles(files) {
      this.files = [];
      this.files = files;
      this.displayModalFiles = true;
    },

    // initialisation des données des sous composants
    initTypeVal() {
      this.action.summaryId = this.summaryRef.doc(this.idSummarySelected);
      this.action.typeTicket = TypeTicket.getCollection("globalTypeTicket").doc(
        this.typeTicketSelected
      );
      this.action.activite = TypeTicket.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
    loadProtocole(item) {
      this.protocoleProcess = item.subActions;
    },
  },
  created() {
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.action = this.$store.state.agilite.task;
        break;

      default:
        break;
    }
  },
  mounted() {
    // changement d'id utilisateurs
    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.adminId = JSON.parse(localStorage.getItem("userSession")).adminId;
      this.action.adminId = this.users.doc(this.adminId);
    }
    this.initTypeVal();
    this.$store.commit("agilite/setCouleur", this.couleur);
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.action = this.$store.state.agilite.task;
        break;
      default:
        break;
    }
  },
};
</script>
<style scoped>
.material-icons-outlined {
  color: #fff;
}
.hauteur-input {
  line-height: 1.5rem !important;
}
.el-form-item {
  margin-bottom: 6px !important;
}
</style>
