<template>
  <div>
    <!-- Modal Pieces jointes -->
    <el-dialog title="Fichiers" :visible.sync="display" width="70%" center>
      <div class="container">
        <div class="row">
          <div
            v-for="(file, index) in this.files"
            :key="'file' + index"
            class="col-sm-12 mt-5 col-md-12"
          >
            <!-- Old file management -->
            <div v-if="isLoading">
              <el-skeleton :loading="isLoading" animated>
                <template slot="template">
                  <div class="d-flex justify-content-center">
                    <el-skeleton-item
                      variant="image"
                      style="width: 500px; height: 500px;"
                    />
                  </div>
                </template>
              </el-skeleton>
            </div>
            <div v-if="!file.url">
              <a
                v-if="
                  file.split('?')[0].substr(file.split('?')[0].length - 3) ==
                    'pdf'
                "
                target="_blank"
                :href="file"
              >
                <pdf :src="file">
                  <template slot="loading">
                    <div>
                      <el-skeleton animated>
                        <template slot="template">
                          <div class="d-flex justify-content-center">
                            <el-skeleton-item
                              variant="image"
                              style="width: 500px; height: 500px;"
                            />
                          </div>
                        </template>
                      </el-skeleton>
                    </div>
                  </template>
                </pdf>
                <img
                  class="mx-auto h-20 w-auto mt-2 cursor shadow-lg"
                  src="/bp/assets/images/icon/w_pdf.png"
                  alt=""
                />
              </a>
              <a
                v-if="
                  file.split('?')[0].substr(file.split('?')[0].length - 3) ==
                    'docx'
                "
                target="_blank"
                :href="file"
              >
                <img
                  class="mx-auto h-80 w-auto cursor shadow-lg"
                  src="/bp/assets/images/icon/w_icon.png"
                  alt=""
                />
              </a>
              <a
                v-if="
                  file.split('?')[0].substr(file.split('?')[0].length - 3) ==
                    'xlsx'
                "
                target="_blank"
                :href="file"
              >
                <img
                  class="mx-auto h-80 w-auto cursor shadow-lg"
                  src="/bp/assets/images/icon/w_excel.png"
                  alt=""
                />
              </a>
              <a
                v-if="
                  file.split('?')[0].substr(file.split('?')[0].length - 3) ==
                    'jpg'
                "
                target="_blank"
                :href="file"
              >
                <img @load="loaded" class="img-fluid" :src="file" alt="" />
              </a>
              <a
                v-if="
                  file.split('?')[0].substr(file.split('?')[0].length - 3) ==
                    'png'
                "
                target="_blank"
                :href="file"
              >
                <img @load="loaded" class="img-fluid" :src="file" alt="" />
              </a>
              <!-- <a v-else :href="file">
                                      <img class="img-fluid" :src="file" />       
                                </a> -->
              <br /><br />
              <a class="filejoin" :href="file" target="_blank"
                >Ouvrir le fichier</a
              >
            </div>
            <div v-else>
              <div v-show="!isLoading">
                <a
                  v-if="file.type == 'application/pdf'"
                  target="_blank"
                  :href="file.url"
                >
                  <pdf :src="file.url">
                    <template slot="loading">
                      <div>
                        <el-skeleton animated>
                          <template slot="template">
                            <div class="d-flex justify-content-center">
                              <el-skeleton-item
                                variant="image"
                                style="width: 500px; height: 500px;"
                              />
                            </div>
                          </template>
                        </el-skeleton>
                      </div>
                    </template>
                  </pdf>
                  <img
                    @load="loaded"
                    class="mx-auto h-30 w-auto cursor shadow-lg"
                    src="/bp/assets/images/icon/w_pdf.png"
                    alt=""
                  />
                </a>
                <a
                  v-if="
                    file.type ==
                      'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                  "
                  target="_blank"
                  :href="file.url"
                >
                  <img
                    @load="loaded"
                    class="mx-auto h-80 w-auto cursor shadow-lg"
                    src="/bp/assets/images/icon/w_icon.png"
                    alt=""
                  />
                </a>
                <a
                  v-if="
                    file.type ==
                      'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                  "
                  target="_blank"
                  :href="file.url"
                >
                  <img
                    @load="loaded"
                    class="mx-auto h-80 w-auto cursor shadow-lg"
                    src="/bp/assets/images/icon/w_excel.png"
                    alt=""
                  />
                </a>
                <a
                  v-if="file.type == 'image/jpeg' || file.type == 'image/png'"
                  target="_blank"
                  :href="file.url"
                >
                  <img
                    @load="loaded"
                    class="img-fluid"
                    :src="file.url"
                    alt=""
                  />
                </a>
                <br /><br />
                <a class="filejoin" :href="file.url" target="_blank">{{
                  file.name
                }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeModal()">Fermer</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import pdf from "pdfvuer";
export default {
  components: {
    pdf,
  },
  data() {
    return {
      display: false,
      files: [],
      isLoading: true,
    };
  },
  methods: {
    loaded() {
      this.isLoading = false;
    },
    showModal(data) {
      this.files = data;
      this.display = true;
    },
    closeModal() {
      (this.display = false), (this.files = []);
    },
  },
};
</script>

<style scoped>
.filejoin {
  font-weight: 800;
  margin: 7px;
  margin-top: 7px;
  color: rgba(8, 8, 114, 0.775);
}
</style>
