<template>
  <div class="page-wrapper">
    <!-- <StepNav :activeIndex="activeIndex" /> -->
    <div class="container">
      <el-row :gutter="20">
        <!-- <el-col :span="16">

          </el-col> -->
        <el-col :span="24">
          <div class="input-group pull-right search">
            <input
              type="text"
              class="form-control cyb-input"
              placeholder="Recherche"
              v-model="search"
            />
            <div class="input-group-append">
              <button class="btn btn-success py-0 cyb-add-on" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-divider content-position="left">
        Modèles ({{
          this.models.filter(
            (data) =>
              !search || data.titre.toLowerCase().includes(search.toLowerCase())
          ).length
        }})
      </el-divider>
      <div>
        <el-tooltip
          class="item"
          effect="dark"
          content="Créer un modèle"
          placement="top-start"
        >
        
          <a href="/bp/suivi/devis/model/nouveau">
            <i class="el-icon-circle-plus" style="font-size: 2.5rem"></i>
          </a>
        </el-tooltip>
        <a v-if="models.length === 0" href="#">Aucun modèle...</a>
      </div>

      <div class="row">
        <div
          class="col-lg-3 model"
          v-for="(devis, index) in models.filter(
            (data) =>
              !search || data.titre.toLowerCase().includes(search.toLowerCase())
          )"
          :key="index"
        >
          <el-tooltip
            class="item"
            effect="dark"
            content="Créer un devis à partir de ce modèle"
            placement="top"
          >
            <router-link
              :to="{ name: 'FormulaireDevis', params: { id: devis.id } }"
            >
              <el-button
                icon="el-icon-plus"
                class="show-btn"
                circle
              ></el-button>
            </router-link>
          </el-tooltip>
          <el-button
          @click="showModalModel(devis)"
            icon="el-icon-view"
            class="edit-btn ml-3"
            circle
          ></el-button>
          <router-link
              :to="{ name: 'model-devis', params: { id: devis.id } }"
            >
            <el-button
            icon="el-icon-edit"
            class="edit-btn"
            circle
          ></el-button>
            </router-link>   
 
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            class="delete-btn"
            @click="deleteDevis(index, devis.id)"
          ></el-button>
          <div class="card-body">
            <div class="d-flex no-block">
              <div class="center">
                <el-popover placement="right-start" width="600" rigger="hover">
                  <router-link
                    slot="reference"
                    :to="{ name: 'FormulaireDevis', params: { id: devis.id } }"
                    class="card bg-light"
                  >
                    <!-- <router-link :to="'/bp/suivi/devis/' + devis.id"> -->
                    <img
                      v-if="devis.image"
                      :src="devis.image"
                      class="img-fluid"
                    />
                    <img
                      v-else
                      src="https://templates.invoicehome.com/modele-facture-fr-cool-vagues-750px.png"
                      class="img-fluid"
                    />
                    <span class="title-style">{{ devis.titre }}</span>
                    <br />
                    <span class="pl-1">{{ devis.date }}</span>
                    <!-- </router-link> -->
                  </router-link>

                  <div v-if="computer == true">
                    <img
                      @click="showModalModel(devis)"
                      class="img-fluid"
                      :src="devis.image"
                    />
                  </div>
                </el-popover>
              </div>
            </div>
          </div>
        </div>
      </div>
      <el-divider v-if="factures.length > 0" content-position="left">
        Devis crées ({{
          this.factures.filter(
            (data) =>
              !search ||
              data.titrePrestation.toLowerCase().includes(search.toLowerCase())
          ).length
        }})
      </el-divider>

      <div class="pb-3" v-if="factures.length === 0 && models.length > 0">
        Aucune facture...
        <a href="/bp/suivi/devis/nouveau">Créer un modèle</a>
      </div>
      <div class="row">
        <div
          class="col-lg-3 model"
          v-for="(facture, index) in factures.filter(
            (data) =>
              !search ||
              data.titrePrestation.toLowerCase().includes(search.toLowerCase())
          )"
          :key="index"
        >
      

          <el-button  @click="showModal(facture)"  icon="el-icon-view" class="show-btn" circle>
            
          </el-button>
     
          <el-button
            icon="el-icon-edit"
            class="edit-btn"
            circle
            @click="editDevisFacture(facture.id)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            class="delete-btn"
            @click="deleteFacture(index, facture.id)"
          ></el-button>
         
         
            <a  class="card">
              <div class="card-body">
                <div class="d-flex no-block">
                  <div class="center">
                    <router-link :to="'/bp/suivi/devis/' + facture.id">
                      <img
                        v-if="facture.image"
                        :src="facture.image"
                        class="img-fluid"
                      />
                      <img
                        v-else
                        src="/suivi/assets/images/facture.png"
                        class="img-fluid"
                      />
                    </router-link>
                    <strong class="title-style">{{
                      facture.titrePrestation
                    }}</strong>
                    <br />
                    <span class="pl-1">{{
                      facture.paymentsInfos.date.value
                    }}</span>
                  </div>
                </div>
              </div>
            </a>

            <div v-if="computer == true">
              <img
                @click="showModal(facture)"
                class="img-fluid"
                :src="facture.image"
              />
            </div>
        </div>
      </div>
      <!-- <FormulaireDevis/> -->
    </div>

    <el-dialog
      :visible.sync="showModalImage"
      width="70%"
      :before-close="handleClose"
    >
      <h4 class="text-center" slot="title">
        <strong>{{ this.previewDevisFacture.titre }}</strong>
      </h4>
      <img class="img-fluid" :src="this.previewDevisFacture.modalImage" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="showModalImage = false">Fermer</el-button>
        <el-button
          type="primary"
          @click="editDevisFacture(previewDevisFacture.id)"
          >Modifier</el-button
        >
      </span>
    </el-dialog>
    <el-dialog
      :visible.sync="showModalImageModel"
      width="70%"
      :before-close="handleClose"
    >
      <h4 class="text-center" slot="title">
        <strong>{{ this.previewDevisFactureModel.titre }}</strong>
      </h4>
      <img class="img-fluid" :src="this.previewDevisFactureModel.modalImage" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="showModalImageModel = false">Fermer</el-button>

      </span>
    </el-dialog>
  </div>
</template>

<script>
import StepNav from "./components/StepNav";
import { Loading } from "element-ui";
import ModelDevis from "../../../store/collection/modeldevis";
import Factures from "../../../store/collection/devisfacture";

export default {
  name: "ListDevis",
  components: { StepNav },
  data() {
    return {
      activeIndex: 2,
      objDevis: null,
      search: "",
      recherche: "",
      projectId: JSON.parse(localStorage.getItem("userSession")).projet,
      factures: [],
      factures: [],
      previewDevisFacture: {
        modalImage: null,
        titre: "",
        computer: true,
      },
      previewDevisFactureModel: {
        modalImage: null,
        titre: "",
      },
      showModalImage: false,
      showModalImageModel: false,
      models: [],
    };
  },
  methods: {
    searchDevis() {
      this.models = this.models.filter((element) => {
        if (element.titre) {
          return element.titre.match(this.searchTerm);
        }
      });

      this.factures = this.factures.filter((element) => {
        if (element.titrePrestation) {
          return element.titrePrestation.match(this.searchTerm);
        }
      });
    },
    // Permet la suppression du devis
    deleteDevis(index, id) {
      swal
        .fire({
          title: "Confirmez la suppression !",
          showCancelButton: true,
          type: "error",
          confirmButtonText: "Supprimer",
          cancelButtonText: "Annuler",
        })
        .then((result) => {
          if (result.value) {
            const loadingInstance1 = Loading.service({ fullscreen: true });
            console.log(id);
            ModelDevis.getCollection("modeldevis")
              .doc(id)
              .delete()
              .then(() => {
                const suppModels = this.models.filter((item, keys) => {
                  return keys !== index;
                });
                this.models = [];
                this.models = suppModels;
                swal.fire({
                  title: "Supprimé !",
                  showCancelButton: false,
                  type: "success",
                  confirmButtonText: "OK",
                });
                loadingInstance1.close();
              });
          }
        });
    },
    showModal(facture) {
      (this.showModalImage = true),
        (this.previewDevisFacture.modalImage = facture.image);
      this.previewDevisFacture.titre = facture.titrePrestation;
      this.previewDevisFacture.id = facture.id;
    },
    showModalModel(devis) {
      (this.showModalImageModel = true),
        (this.previewDevisFactureModel.modalImage = devis.image);
      this.previewDevisFactureModel.titre = devis.titre;
      this.previewDevisFactureModel.id = devis.id;
    },
    editDevisFacture(id) {
      this.$router.push("/bp/suivi/devis/" + id);
    },
    editModel(id) {
      this.$router.push("/bp/suivi/devis/nouveau/" + id);
    },

    deleteFacture(index, id) {
      swal
        .fire({
          title: "Confirmez la suppression !",
          showCancelButton: true,
          type: "error",
          confirmButtonText: "Supprimer",
          cancelButtonText: "Annuler",
        })
        .then((result) => {
          if (result.value) {
            const loadingInstance1 = Loading.service({ fullscreen: true });
            Factures.getCollection("devisfacture")
              .doc(id)
              .delete()
              .then(() => {
                const suppfactures = this.factures.filter((item, keys) => {
                  return keys !== index;
                });
                this.factures = [];
                this.factures = suppfactures;
                swal.fire({
                  title: "Supprimé !",
                  showCancelButton: false,
                  type: "success",
                  confirmButtonText: "OK",
                });
                loadingInstance1.close();
              });
          }
        });
    },
    onResize() {
      if (window.innerWidth > 900) {
        this.computer = true;
      } else {
        this.computer = false;
      }
    },
  },
  mounted() {
    this.onResize();
  },
  async created() {
    const loadingInstance1 = Loading.service({ fullscreen: true });
    const modelsDatas = new ModelDevis("modeldevis");
    const factures = new Factures("devisfacture");
    this.models = await modelsDatas.getDataWhere("projectId", this.projectId);
    console.log(this.models)
    this.factures = await factures.getDataWhere(
      "projectId",
      this.projectId,
      factures.data
    );
    loadingInstance1.close();
    if (this.models.length > 0) {
      this.models.sort((a, b) => {
        a = new Date(a.date);
        b = new Date(b.date);
        return a > b ? -1 : a < b ? 1 : 0;
      });
    }
    if (this.factures.length > 0) {
      this.factures.sort((a, b) => {
        a = new Date(a.date);
        b = new Date(b.date);
        return a > b ? -1 : a < b ? 1 : 0;
      });
    }
    window.addEventListener("resize", this.onResize);
  },
};
</script>

<style scoped>
.delete-btn {
  position: absolute;
  top: 5px;
  left: 100px;
  z-index: 30;
  padding: 10px;
  visibility: hidden;
}
.show-btn {
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: 30;
  padding: 10px;
  visibility: hidden;
}
.edit-btn {
  position: absolute;
  top: 5px;
  left: 50px;
  z-index: 30;
  padding: 10px;
  visibility: hidden;
}
.model:hover .delete-btn {
  visibility: visible;
}
.model:hover .show-btn {
  visibility: visible;
}
.model:hover .edit-btn {
  visibility: visible;
}
.title-style {
  font-size: 15px;
  color: rgb(65, 63, 63);
  text-align: center !important;
}
.search {
  width: 30%;
  float: right;
}
button.add {
  margin-bottom: 15%;
  border-radius: 0 !important;
}
.bg-image {
  background-image: url("");
}
.card-body {
  padding: 0.25rem !important;
}
.divider-title {
  color: #fff;
  font-weight: bold;
  width: 200px;
  padding: 7px;
  background-color: #00ba8b;
  text-align: center;
  margin-bottom: 30px;
}
.divider-title:hover {
  background-color: #f2f6fc;
  color: #00ba8b;
}
.new {
  position: absolute;
  top: -13px;
  right: 10px;
  z-index: 20;
  padding: 6px;
}
.model {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.container {
  padding-top: 50px;
}
img:hover {
  cursor: pointer;
}
</style>
