<template>
  <!-- Column -->
  <div class="card">
    <div class="card-body">
        <div class="float-right">
          <div class="mb-5 mr-3 title2 text-center font-weight-bold">
            FACTURE N°: 0012003
          </div>
        </div>
        <div class="pl-3 pt-1">
            <img :src="imageUrl"/>
        </div>
        <el-row :gutter="30">
          <HeaderInfos/>
        </el-row>
    </div>
    <div class="all-tables">
      <div class="mt-3">
        <table>
            <tr>
                <th class="font-weight-bold" v-for="(item, index) in datas" :key="index">
                    {{ item.libelle }} 
                </th>
            </tr>
            <tr >
                <td v-for="(item, index) in datas" :key="index">
                   {{item.content}}
                </td>
                
            </tr>
        </table>
      </div>
      

      <div class="mt-5">
        <table>
            <tr>
              <th
                class="font-weight-bold"
                v-for="(item, index) in selectedElement2"
                :key="index"
              >{{ item.libelle }}
              </th>
            </tr>
            <tr v-for="(produit, index) in tableDatas" :key="index" id="row" >
              <td  v-for="(item, indice) in getNewLibelle" :key="indice" :class="{'last' : item ==='total'}">  
                {{produit[item]}}                  
              </td> 
            </tr>
        </table>
    </div>

      <div>
         <div class="float-right total">
          <table>
            <tr>
              <th>Montant Total (HT) Facturé</th>
              <td>{{facture.montants.montantTotalHt}}</td>
            </tr>
            <tr>
              <th>Montant {{facture.montants.libelle}}</th>
              <td>{{facture.montants.montantTva}}</td>
            </tr>
            <tr>
              <th>Remise Totale en TTC</th>
              <td>{{facture.montants.remiseTotal}}</td>
            </tr>
            <tr>
              <th>Montant de la remise Totale</th>
              <td>{{facture.montants.montantRemiseTotal}}</td>
            </tr>
            <tr>
              <th>Montant Total en TTC</th>
              <td>{{facture.montants.montantTotalTtc}}</td>
            </tr>
          </table>
        </div>
        <SecondTable/>
       </div>
    </div>
     <div class="mt-top facture-footer ml-4 pt-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/%C3%81lvaro_Uribe_Signature.svg" width="300" class="float-right">
      <p class="pt-5">{{facture.footer.mentions}}</p>
      <p>
        Date : {{facture.footer.date}}  à  {{facture.footer.lieu}}
      </p>    
    </div>
    <hr class="style-one">
    <div class="footer-note pl-3 ml-1">
      Entreprise Individuelle <br> RCCM RG LBV 2018A46528 NIF 395648 <br> Siège Echangeur de Nzeng Ayong/
      site www.cyberschoolgabon.com/Tel:01723638 <br>
      Bp:20207/email:contact@cyberschoolgabon.com
    </div>
    <div class="mb-5 mt-4" >
      <button class="save ml-4" @click="previous">Retour</button>
      <a class="save mr-5 pr-2 float-right" href="#" @click.prevent="printPdf">
          Télécharger
      </a>
      <!--button class="save mr-5 pr-2 float-right" @click="centerDialogVisible = true">
          Terminé
      </button -->
      <!--el-dialog  :visible.sync="centerDialogVisible"
        width="30%"
        center>
        <span class="ml-5">Télécharger le Devis <el-button type="primary" icon="el-icon-s-claim" class="ml-4 download"></el-button></span> <br> <br>
        <span class="ml-5">Télécharger la facture <el-button type="primary" icon="el-icon-document-copy" class="download ml-3"></el-button></span>
      </el-dialog> -->
    </div>
  </div>
</template>
<script>

import Vue from 'vue'
import HeaderInfos from './components/headerInfos'
import SecondTable from './components/secondTable'
import TotalTable from './components/totalTable'
import PdfBuild from '../../../pdf/facturePdf'

export default {
  name: 'Facture',
  components: {
      HeaderInfos,
      SecondTable,
      TotalTable
  },
  props: ['idDevis', 'facture'],
  data(){
    return {
      customer: "",
      id: this.idDevis,
      dataFacture: this.facture,
      imageUrl: "/site/img/logo.png",
      input: '',
      textarea: "",
      datas:[],
      tableDatas:[],
      selectedElement2: [],
      getNewLibelle:[],
        value: '',
        value1: '',
        value2: '',
        centerDialogVisible: false
      }
  },
  methods:{
      previous(){
          this.$emit("back")
      },
      printPdf () {
          let loader = Vue.$loading.show();
          //let pdf = new PdfBuild({}, this.dataFacture, {productsHeader : this.selectedElement2});

      }
  },
  mounted(){
    let devis = JSON.parse(localStorage.getItem("headersModelDevis"));

    // Clés permettant d'afficher les produits sur la facture
      this.selectedElement2 = devis.tableau2;
      this.selectedElement2.forEach(obj =>{
        if(obj.libelle === 'N°'){
          this.getNewLibelle.push('numero')
        }
        else if(obj.libelle === 'Désignation'){
          this.getNewLibelle.push('designation')
        }
        else if(obj.libelle === 'Unité'){
          this.getNewLibelle.push('unite')
        }
        else if(obj.libelle === 'Quantité'){
          this.getNewLibelle.push('quantite')
        }
        else if(obj.libelle === 'Prix de vente Unitaire HT'){
          this.getNewLibelle.push('prix')
        }
        else if(obj.libelle === 'Remise%'){
          this.getNewLibelle.push('remise')
        }
        else if(obj.libelle === 'TOTAL HT'){
          this.getNewLibelle.push('total')
        }
      });

    // recupération des données de la facture
    if(localStorage.getItem('facture'+this.idDevis)){ 
        this.facture = JSON.parse(localStorage.getItem('facture'+this.idDevis));
        this.datas = this.facture.infosFacture;
        this.tableDatas = this.facture.produits;
    }
  }
}

</script>
    
<style scoped>
.title2{
    background-color: #F2F6FC;
    border: 0;
    text-align: center;
    width: 250px!important;
    color: black;
    padding: 10px;
 }
.delete{
  padding: 2px!important;
}
 .save{
   background-color: #00ba8b;
   border: 0;
   padding: 6px;
   color: white;
   font-weight: bold;
 }
 .marg-t{
   margin-top: 10%;
   margin-bottom: 2%;
 }
 .table-position{
  position: absolute;
  top: 0;
  left: 38%;
  width: 100%;
}
.inline{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
 .total{
  position: absolute;
  left: 53%;
  bottom: -75%;
  width: 100%;
}
.sign{
  height: 200px;
}
.border-none{border:0;}
hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 95%;
  margin-left: 2%;
}
.box-card {
  width: 100%;
}
.marg-left{
  margin-left: 77%;
  width: 80%;
}
.el-card{
  border-radius: 0;
}
.bd-left{
  border-left: 2px solid #00c875;
  padding-left: 2px;
}
.input{
  width: 228px!important;
}
.input-element{
  margin-left: 77%;
}
.dropdown-button{
  padding: 0px!important;
  padding-left:  6px!important;
  margin-right: 5px!important;
}
.place {
  position: absolute;
  bottom: 17%;
  width: 25%;
  height: 100px;
  margin-left: 1%;
}
td{
    padding: 8px;
    color: black;
  }
td.last{
  text-align: right;
  font-weight: bold;
}
tr:nth-child(even){
  background-color: #efefef;
}
table.total {
  border-collapse: collapse;
  width: 40%;
}
table.total td{
   background-color: #409EFF!important;
   color: white;
   font-weight: bold;
   padding-right: 10px;
   text-align: right!important;
}   
table.total th{
   background-color: #fff;
   color:black;
   text-align: left;
   /* width: 100px; */
}
table.total ::placeholder{
  color: white!important;
}
.download{
  padding: 10px;
}
</style>