<template>
  <div class="page-wrapper">
      <StepNav :activeIndex="activeIndex"/>
     <div class="container-fluid" style="margin-top: 5%;">
        <div class="mt-5 mb-3" style="display: inline-block; width:80%">
            <el-input
            v-model="search"
            size="mini"
            placeholder="Rechercher"/>
        </div>  
        <el-button  type="primary" size="mini" class="ml-2" @click="clearFilter">Annuler les filtres</el-button>
        <el-table
          ref="filterTable"
          height="450"
          :data="tableData.filter(data => !search || data.titre.toLowerCase().includes(search.toLowerCase()))"
          style="width: 100%"
          :header-cell-style="tableHeaderColor"
          >
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-tag
                style="font-size: 15px"
                class="mb-2"
                v-if="props.row.produits"
                type="success">
                Facture
              </el-tag>
              <el-tag
                style="font-size: 15px"
                class="mb-2"
                v-if="props.row.produits"
                type="success">
                Bon de Livraison
              </el-tag>
              <div v-for="(produit, index) in props.row.produits" :key="index" class="styling">
                <p>{{produit.nom}}</p>
                <p>{{produit.prixVenteUnitaire}}</p>
                <p>{{produit.unite}}</p>
                <p>{{produit.remise}}</p>
                <p>{{produit.total}}</p>
              </div>
            </template>
          </el-table-column>
          <el-table-column
          label="Date"
          width="150"
          sortable
          :filters="dateTable"
          :filter-method="filterDatas"
          filter-placement="bottom-end"
          >
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>

        <el-table-column
          label="Libellé"
          prop="titre"
          width="300"
          >
          </el-table-column>
          <el-table-column
          label="Prestation"
          prop="prestation"
          width="300"
          >
          </el-table-column>

          <el-table-column
          label="Client"
          prop="clientName"
          width="300"
          :filters="customersTable"
          :filter-method="filterDatas"
          filter-placement="bottom-end"
          >
          </el-table-column>

          <el-table-column
          label="Montant payé"
          sortable
          prop="paiement"
          width="150"
          >
          </el-table-column>

          <el-table-column
          label="Accompte"
          sortable
          prop="accompte"
          width="250"
          >
          </el-table-column>

          <el-table-column
          width="370"
          label="Filtrer par état"
          fixed="right"
          :filters="[
          { text: 'Payé', value: 'Payé' }, 
          { text: 'Non Payé', value: 'Non Payé' }, 
          { text: 'Livré', value: 'Livré' }, 
          { text: 'Non Livré', value: 'Non Livré' }, 
          { text: 'Partiel', value: 'Partiel' }]"
          :filter-method="filterState"
          filter-placement="bottom-end"
          >
          <template slot-scope="scope">
              <span
              :class="['tag-style',scope.row.state.tag]"
              >{{scope.row.state.value}}
              </span>

              <span
              :class="['tag-style',scope.row.delivered.tag]"
              >{{scope.row.delivered.value}}
              </span>
              <el-tooltip content="Editer" placement="top">
                <el-button
                size="mini"
                @click="scope.row.dialogVisible = true">
                <i class="fas fa-edit"></i>
                </el-button>
            </el-tooltip>

              <el-tooltip content="Archiver" placement="top">
                <el-button
                  size="mini">
                  <i class="fas fa-folder-open"></i>
                </el-button>
            </el-tooltip>

              <el-tooltip content="Télécharger en PDF" placement="top">
                <el-button
                  size="mini">
                  <i class="far fa-file-pdf"></i>
                </el-button>
            </el-tooltip>
          </template>
          </el-table-column>
        </el-table>
       <el-dialog
            v-for="(obj, index) in tableData" :key="index"
            class="dialogVisible"
            title="Devis/factures"
            :visible.sync="obj.dialogVisible"
             width="30%">
            <div class="card card-outline-success">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">informations du devis</h4></div> 
                  <div class="card-body">
                    <h3 class="card-title">{{obj.titre}}</h3>
                    <div style="margin-top: 10px;">
                      <el-radio v-model="obj.delivered.value" :class="obj.delivered.value === 'Livré' ? 'state-style-green':'state-style-red'" label="Livré" border size="small" @change="changeDeliveredState(obj)">Livré</el-radio>
                      <el-radio v-model="obj.delivered.value" :class="obj.delivered.value === 'Non Livré'? 'state-style-green':'state-style-red'" label="Non Livré" border size="small" @change="changeDeliveredState(obj)" >Non livré</el-radio>
                    </div>
                    <div style="margin-top: 10px">
                      <el-radio v-model="obj.state.value" label="Payé" border size="medium" @change="getState(obj)">Payé</el-radio>
                      <el-radio v-model="obj.state.value" label="Partiel" border size="medium" @change="getState(obj)" >Partiel</el-radio>
                      <el-radio v-model="obj.state.value" label="Non payé" border size="medium" @change="getState(obj)">Non payé</el-radio>
                    </div>
                    <table class="modal-table">
                      <tr>
                        <th>Montant à payer</th>
                        <td>{{obj.paiement}}</td>
                      </tr>
                      <tr>
                        <th>Accompte:</th>
                        <td>{{obj.accompte}}</td>
                      </tr>
                      <tr>
                        <th>Part(%)</th>
                        <td>{{obj.part}} %</td>
                      </tr>
                    </table>
                    <button class="btn btn-inverse" @click="afficheDevis(obj.id)">Editer le devis</button>
                  </div>
            </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="obj.dialogVisible = false">Annuler</el-button>
            <el-button type="primary" class="btn-inverse" @click="saveInfo(obj); obj.dialogVisible = false">Enregistrer</el-button>
          </span>
        </el-dialog>
     </div>
  </div>
</template>

<script>
import StepNav from "./components/StepNav";
import helper from "../../../services/helper";
import firebase from 'firebase'
export default {
   name: "Operations",
   components:{
       StepNav
   },
   mixins:[helper],
    data() {
      return {
        tousLesDevis: [],
        objDevis: null,
        activeIndex: 3,
        customersTable:[],
        dateTable:[],
        tableData: [],//Contient les éléments affichés dans le tableau
        search: null,
        modeldevisref: firebase.firestore().collection("modeldevis"),
        modelfactureref: firebase.firestore().collection("devisfacture"),
        projectId: JSON.parse(localStorage.getItem('userSession')).projet,
      }
    },
    methods: {
      saveInfo(obj){
        let delivered = obj.delivered;
        this.modelfactureref.doc(obj.idFacture).update({delivered}).then(() =>{
            this.$message({
            message: 'Enregistrer avec succès',
            type: 'success'
            });
        });
      },
      afficheDevis(id){
        localStorage.setItem('idDevis',id);
        let modelDevis = this.tousLesDevis.filter(obj =>{
            if(obj.id === id){
              return obj
            }
        });
        this.objDevis = modelDevis[0];
        this.$router.push({name: 'FormulaireDevis', params: {objDevis: this.objDevis}});
       },
      tableHeaderColor({ row, column, rowIndex, columnIndex }) {
        if (rowIndex === 0) {
          return 'background-color: #198cf0;color: #fff;font-weight: 800;font-size:14px'
        }
      },

      filterState(value, row) {
        return row.state.value === value || row.delivered.value === value
      },

      filterDatas(value, row) {
        return row.date === value;
      },

      clearFilter() {
        this.$refs.filterTable.clearFilter();
      },

      // Cette fonction vérifie l'état du Devis et ajoute un style css au bouton de l'élement
      getState(obj){
        if(obj.state.value === "Payé"){
          obj.state.tag = "tag-style-green"
        }
        else if(obj.state.value === "Partiel"){
          obj.state.tag = "tag-style-info"
        }
        else{
          obj.state.tag = "tag-style-red"
        }
      },

      // Change l'état du Devis lorqu'il est livré ou pas
      changeDeliveredState(obj){
         if(obj.delivered.value === "Non Livré"){
          obj.delivered.tag = "tag-style-red"
        }
        else if(obj.delivered.value === "Livré"){
          obj.delivered.tag = "tag-style-green"
        }
      }
    },
  created(){
       
       // Recupération de tous les devis
      //  let loader = Vue.$loading.show();
       this.modeldevisref.where('projectId', '==', this.projectId)
        .onSnapshot((querySnapshot) =>{
            if(!querySnapshot.empty){
                querySnapshot.forEach((doc) => {   
                 let obj = doc.data();
                 obj.id = doc.id; // id du devis 
                 this.tousLesDevis.push(obj);
                 let idDevis = doc.id; // id du devis 
                 let newObj = {};
                 newObj.id = doc.id;
                 newObj.titre = obj.titre;
                 newObj.prestation = "Aucune";
                 newObj.dialogVisible = false;

                // Recupère les factures crées
                this.modelfactureref.where("idDevis", "==", idDevis).get().then(querySnapshot =>{
                  querySnapshot.forEach(doc =>{
                    if(doc.exists){
                      let factureObj = doc.data();
                      newObj.idFacture = doc.id;
                      newObj.date = factureObj.footer.date;
                      newObj.prestation = factureObj.titrePrestation;
                      newObj.paiement = factureObj.paymentsInfos.paiement.montant;
                      newObj.accompte = factureObj.paymentsInfos.accompte.montant;
                      newObj.part = factureObj.paymentsInfos.part.montant;
                      newObj.clientName = factureObj.infosClient[0].inputName;
                      newObj.produits = factureObj.produits;

                      // Vérifie si la facture a été payé ou pas
                      if(newObj.paiement !== null && newObj.accompte !== null){
                        let substraction = newObj.paiement - newObj.accompte;
                        if(substraction === 0){
                          newObj.state = {"value" :  "Payé","tag":"tag-style-green"};
                        }
                        else if (substraction === newObj.paiement){
                          newObj.state = {"value" :  "Non Payé","tag":"tag-style-red"};
                        }
                        else if(substraction !== 0 && substraction !== newObj.paiement){
                          newObj.state = {"value" :  "Partiel","tag":"tag-style-info"};
                        }
                      };

                      // Vérifie si la facture a été livré ou pas
                      
                      if(!factureObj.delivered){
                        newObj.delivered = {
                           "value" :  "Non Livré",
                           "tag":"tag-style-red"
                        }
                      }
                      else{
                        newObj.delivered = factureObj.delivered;
                      }
                    };
                      
                    this.tableData.push(newObj);
                    this.customersTable.push({text: newObj.clientName, value: newObj.clientName});
                    this.dateTable.push({text: newObj.date, value: newObj.date});
                    this.customersTable = this.doublonDelete(this.customersTable);
                    this.dateTable = this.doublonDelete(this.dateTable);
                  })
                })
              })
            };
        });
        this.$loading().close()
  }
}
</script>

<style scoped>
.dialogVisible{
  text-align: left!important;
}
.el-radio {
  margin-right: 0px!important; 
}
.el-radio.is-bordered+.el-radio.is-bordered {
  margin-left: 0px!important; 
}
.state-style-red{
  background-color: #F56C6C!important;
  color: white!important;
  border: none!important;
}
.state-style-green{
  background-color: #06d79c!important;
  color: white!important;
  border: none!important;
}
.el-table td{
  padding: 0px 30px!important;
}
table.modal-table td{
  border: none!important;
  background-color: #F5F7FA;
  font-weight: bold;
  padding: 0px 10px;
}
table.modal-table th{
  background-color: #F5F7FA;
  padding: 0px 10px!important;
  color: #111;
}
table{
  margin-bottom: 10px;
  margin-top: 10px;
}
.el-dialog__body {
  padding: 0px 20px!important;
}
.tag-style{
  color: white;
  font-weight: 500;
  display: inline-block;
  width: 90px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}
.tag-style-red{
  background-color:#F56C6C;
}
.tag-style-green{
  background-color:#67c23a;
}
.tag-style-info{
  background-color:#e6a23c;
}
.el-table__column-filter-trigger i {
  color: white!important;
  
}
.el-table__column-filter-trigger i {
  color: white!important;
}
.el-table .warning-row {
    background: oldlace!important;
}
.el-table .success-row {
    background: #f0f9eb!important;
}
.styling p{
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}
div.styling{
  width: 30%;
  margin-top: 3px;
}
</style>