<template>
  <div class="page-wrapper">
    <div ref="printMe" class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <el-row :gutter="30">
                <EnterpriseInfos :enterpriseInfos="enterpriseInfos" :extra="extra" :logo="logo" :isEdit="isEdit()" @extra="extra=$event" @fields="getFields" @emitLogo="getLogo" />
                <SelectButton :selectedInputs="clientInfo" @change-clientInfo="(val)=> clientInfo=val" />
              </el-row>
              <el-row :gutter="30">
                <div class="col-12">
                  <el-card shadow="always" class="bd-left mt-4 mb-4 ml-3">
                    <span class="title-disabled">Prestation : </span><input type="text" v-model="titre" readonly class="input-disabled">
                  </el-card>
                </div>
              </el-row>
              <span class="devis-color d-flex align-center">
                <strong class="mr-2">Couleur du devis : </strong>
                <el-color-picker
                  @change="changeColor"
                  v-model="color"
                ></el-color-picker
              ></span>
            </div>

            <div>
              <BasicInfosTable
                :tableData1="tableData1"
                :selectedElement="selectedElement"
              />
              <ProductsTable
                :tableData2="tableData2"
                :selectedElement2="selectedElement2"
                class="mb-5"
              />

              <div class="row mx-2">
                <!-- Payments infos -->
                <div class="col-7">
                  <table class="table-style">
                    <tr>
                      <th
                        v-for="(item, index) in payments"
                        :key="index"
                        class="font-weight-bold"
                      >
                        {{ item.libelle }}
                      </th>
                    </tr>
                    <tr>
                      <td v-for="(item, index) in payments" :key="index">
                        <input type="text" :value="item.entry" readonly class="unselectable" />
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="col-5">
                  <table class="table-organize-item">
                    <tr v-for="(item, index) in tableData" :key="index" class="">
                      <td class="bg-td-1">{{ tableData[index] }}</td>
                      <th class="bg-td">
                        <!-- <input
                          type="text"
                          value=""
                          readonly
                          v-if="item !== 'Montant Total (HT) Facturé'"
                        /> -->
                      </th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="mt-top facture-footer ml-2 pt-2">
              <el-row :gutter="12">
                <el-col :span="16">
                  <el-card class="el-card border-none" shadow="never">
                    <vue-editor
                :editorToolbar="customToolbar"
                v-model="textarea"
              ></vue-editor>
                  </el-card>
                </el-col>
                <!-- <el-col :span="8">
                  <el-card class="el-card ml-2 border-none" shadow="never">
                    <div>
                      <div>
                        <span class="pl-2">Date : </span>
                        <el-date-picker
                          class="ml-2"
                          v-model="value"
                          type="date"
                          placeholder="Choisir un jour"
                          readonly
                        >
                        </el-date-picker>
                      </div>
                      <div class="mt-2 ml-3">
                        <span class="pr-4">A :</span>
                        <input
                          type="text"
                          placeholder="Saisir le lieu"
                          class="place"
                          readonly
                        />
                      </div>
                    </div>
                  </el-card>
                </el-col> -->
                <el-col :span="8">
                  <el-card class="mr-2 el-card border-none pl-5" shadow="never">
                    <Upload @imageSignature="getSignature" />
                  </el-card>
                </el-col>
              </el-row>
            </div>
            <hr class="style-eight" />
            <div class="footer-note pl-3 ml-3">
              <vue-editor
                :editorToolbar="customToolbar"
                v-model="footerInfo"
              ></vue-editor>
            </div>
            <div v-if="this.isEdit()" class="mb-5">
              <button class="save mt-5 mr-4 float-right" @click="editData">
                Modifier
              </button>
            </div>
            <div  v-else class="mb-5">
              <button class="save mt-5 mr-4 float-right" @click="saveData">
                Enregistrer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import { Loading } from "element-ui";
import ModelDevis from "../../../store/collection/modeldevis";
import BasicInfosTable from "./components/basicInfosTable";
import EnterpriseInfos from "./components/enterpriseInfos";
import SelectButton from "./components/selectCustomerDropdown";
import TotalTable from "./components/totalTable";
import ProductsTable from "./components/productsTable";
import Upload from "./components/upload";
import firebase from "firebase";
/**
 * write a component's description
 */
export default {
  name: "ParametreDevis",
  components: {
    BasicInfosTable,
    VueEditor,
    EnterpriseInfos,
    SelectButton,
    ProductsTable,
    TotalTable,
    Upload,
  },
watch: {
  color(val){
    this.changeColor()
  }
},
  data() {
    return {
      modelData:{},
      logo: "",
      output: null,
      signature: "",
      clientInfo: [
      {
          inputName : "Nom Client",
          state: true,
          default: true,
          key: "nom"
        },
        {
          inputName : "Téléphone",
          state: true,
          default: true,
          key: "phone",
          icon:"el-icon-phone"
        },
        {
          inputName : "Adresse",
          state: true,
          default: true,
          key:"adresse",
          icon:"el-icon-s-home"
        },
        {
          inputName : "Site internet",
          state: true,
          default: true,
          key:"site",
          icon:"fa fa-globe"
        }
      ],
      titreDevis: "",
      color: "#0099FF",
      projectId: JSON.parse(localStorage.getItem("userSession")).projet,
      modeldevisref: firebase.firestore().collection("modeldevis"),
      textarea: "",
      footerInfo:
      "<h6>Forme juridique : <strong> XXXXXX</strong> RCCM N° : <strong>RGLBV XXXXX</strong> NIF :<strong> XXXXXX</strong></h6><h6>N° compte :<strong> XXXX - XXXXXXX - XXX</strong></h6><h5><strong style=\"color: rgb(0, 138, 0);\">Slogan!</strong></h5><p><strong style=\"color: rgb(0, 138, 0);\"><br></strong></p><h6><br></h6><p> </p>",
      tableData: [
        "Montant Total (HT) Facturé",
        "TVA (18%)",
        "Remise Totale en TTC",
        "Montant(TTC) à payer",
      ],
      tableData1: [
        {
          id: 2,
          libelle: "Type de prestation",
          state: true,
          type: "prestation",
          default: true,
          content: "",
        },
        {
          id: 3,
          libelle: "Vendeur",
          type: "vendeur",
          state: true,
          default: true,
          content: "",
        },
        {
          id: 4,
          libelle: "Date ",
          state: true,
          type: "date",
          default: true,
          content: "",
        },
        {
          id: 5,
          libelle: "Lieu ",
          state: true,
          type: "lieu",
          default: true,
          content: "",
        },
        {
          id: 6,
          libelle: "Type de paiement",
          state: true,
          type: "payement",
          default: true,
          content: "",
        },
      ],
      tableData2: [
        {
          id: 7,
          libelle: "N°",
          state: true,
          default: true,
          type: "numero",
        },
        {
          id: 8,
          libelle: "Désignation",
          state: true,
          default: true,
          type: "designation",
        },
        {
          id: 9,
          libelle: "Unité",
          state: false,
          default: false,
          type: "unite",
        },
        {
          id: 10,
          libelle: "Quantité",
          state: true,
          default: true,
          type: "quantite",
        },
        {
          id: 11,
          libelle: "Prix de vente Unitaire HT",
          state: true,
          default: true,
          type: "prix",
        },
        {
          id: 12,
          libelle: "Remise%",
          state: false,
          default: false,
          type: "remise",
        },
        {
          id: 13,
          libelle: "TOTAL HT",
          state: true,
          default: true,
          type: "total",
        },
      ],
      selectedElement: [],
      selectedElement2: [],
      allDatas: [],
      payments: [
        { libelle: "Paiement", entry: "", type: "paiement" },
        { libelle: "Acompte", entry: "", type: "acompte" },
        { libelle: "Reste", entry: "", type: "acompte" },
        { libelle: "Date de règlement", entry: "", type: "date" },
      ],
      value: "",
      enterpriseInfos: "<h6>Siège : </h6><h6>Email : </h6><h6>Site web : </h6><h6>Tel : </h6>",
      extra:'',
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons

        [{ list: "ordered" }, { list: "bullet" }],
        //                    [{ 'font': [] }],
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme

        ["clean"], // remove formatting button
       
      ],
    };
  },
  async mounted() {
    this.changeColor();
  
   if(this.isEdit()){
const data =  await this.getModelData(this.$route.params.id, "modeldevis");
      this.modelData = data
      this.reloadInfo(data)
   }
   // console.log("Route", this.$route.params);
  },
  methods: {
    reloadInfo(data) {
        this.enterpriseInfos = data.enterpriseInfos;
        this.logo = data.logo;
        this.extra= data.extra?data.extra:''
        this.clientInfo = data.clientInfo
        this.selectedElement = data.tableau1;
        this.selectedElement2 = data.tableau2;
        this.color = data.couleur;
        this.footerInfo = data.footerInfo;
        this.signature = data.signature

    },
    isEdit(){
      return this.$route.params.id && this.$route.params.id!='' && this.$route.params.id!='nouveau'
    },
    async printImage() {
      const el = this.$refs.printMe;
      // add option type to get the image version
      // if not provided the promise will return
      // the canvas.
      const options = {
        type: "dataURL",
      };
      this.output = await this.$html2canvas(el, options);
    },
    async getModelData(id, collection){
      const doc= await ModelDevis.getDocument(id, collection)
      return {...doc.data(), id:doc.ref, ref: doc.ref }

    },
    getFields(value) {
      this.enterpriseInfos = value;
    },
    changeColor() {
      let allSelected = document.querySelectorAll("th");
      allSelected.forEach((element) => {
        element.style.backgroundColor = this.color;
      });
    },
    getSignature(image) {
      this.signature = image;
    },

    getLogo(logo) {
      this.logo = logo;
    },

    // Insertion du modèle de Devis dans la DB
    async saveData() {
      this.selectedElement = this.tableData1.filter((element) => {
        return element.state === true;
      });
      this.selectedElement2 = this.tableData2.filter((element) => {
        return element.state === true;
      });
      let currentDate = new Date().toLocaleDateString();
      let timeStamp = Date.now();

      Swal.fire({
        title: "Titre du devis",
        input: "text",
        showCancelButton: true,
        confirmButtonText: "OK",
        cancelButtonText: "ANNULER",
        inputValidator: (value) => {
          if (!value) {
            return "Vous devez saisir un titre pour le devis";
          }
        },
      }).then(async (result) => {
        if (result.value) {
          // Configuration du modèle de Devis

          let devis = {
            projectId: this.projectId,
            titre: result.value,
            couleur: this.color,
            date: currentDate,
            enterpriseInfos: this.enterpriseInfos,
            extra:this.extra,
            clientInfo: this.clientInfo,
            tableau1: this.selectedElement,
            tableau2: this.selectedElement2,
            footerInfo: this.footerInfo,
            logo: this.logo,
            signature: this.signature,
            timeStamp: timeStamp,
            image: null,
          };
          this.titreDevis = result.value;
          const loadingInstance1 = Loading.service({ fullscreen: true });
          const el = this.$refs.printMe;
          const options = {
            type: "dataURL",
          };

          devis.image = await this.$html2canvas(el, options);
          this.modeldevisref
            .add(devis)
            .then(() => {
              loadingInstance1.close();
              Swal.fire(
                "Enregistré!",
                "Votre Devis a été enregistré avec succès",
                "success"
              ).then(() => {
                this.$router.push({ name: "Devis" });
              });
            })
            .catch((error) => {
              console.warn("Error" + error);
              loadingInstance1.close();
            });
        }
      });
    },
    async editData() {
      this.selectedElement = this.tableData1.filter((element) => {
        return element.state === true;
      });
      this.selectedElement2 = this.tableData2.filter((element) => {
        return element.state === true;
      });
      let currentDate = new Date().toLocaleDateString();
      let timeStamp = Date.now();

      Swal.fire({
        title: "Titre du devis",
        input: "text",
        value:this.modelData.titre,
        showCancelButton: true,
        confirmButtonText: "OK",
        cancelButtonText: "ANNULER",
        inputValidator: (value) => {
          if (!value) {
            return "Vous devez saisir un titre pour le devis";
          }
        },
      }).then(async (result) => {
        if (result.value) {
          // Configuration du modèle de Devis

          let devis = {
            projectId: this.modelData.projectId,
            titre: result.value,
            couleur: this.color,
            date: this.modelData.date,
            enterpriseInfos: this.enterpriseInfos,
            extra:this.extra,
            clientInfo: this.clientInfo,
            tableau1: this.selectedElement,
            tableau2: this.selectedElement2,
            footerInfo: this.footerInfo,
            logo: this.logo,
            signature: this.signature,
            timeStamp: this.modelData.timeStamp,
            image: null,
          };
          this.titreDevis = result.value;
          const loadingInstance1 = Loading.service({ fullscreen: true });
          const el = this.$refs.printMe;
          const options = {
            type: "dataURL",
          };

          devis.image = await this.$html2canvas(el, options);
          this.modelData.ref
            .set(devis)
            .then(() => {
              loadingInstance1.close();
              Swal.fire(
                "Enregistré!",
                "Votre Devis a été modifié avec succès",
                "success"
              ).then(() => {
                this.$router.push({ name: "Devis" });
              });
            })
            .catch((error) => {
              console.warn("Error" + error);
              loadingInstance1.close();
            });
        }
      });
    },
  },
  created() {
    this.selectedElement = this.tableData1.filter((element) => {
      return element.state === true;
    });
    this.selectedElement2 = this.tableData2.filter((element) => {
      return element.state === true;
    });
    this.$loading().close();
  },
};
</script>

<style>
  .table-organize-item th{
    text-align: left;
  }
   .table-organize-item tr{
    border: none;
  }
  .bg-td-1{
    border: 1px solid #bfbfbf;
    border-left: none;
    border-right: none;
  }
  tr .bg-td{
    background: rgb(0, 153, 255);
    color: white;
    border: 3px solid #fff;
    border-right: none;
    border-left: none;
    padding-left: .5rem;
    height: 100%;
    width: 50%;
  }
  .unselectable{
    background-color: #ddd !important;
    cursor: not-allowed !important;
  }
  .bd-left{
    border-left: 2px solid #00c875;
    padding-left: 2px;
    width: 97% !important;
  }
  .title-disabled{
    font-weight: bold;
    font-size: 20px;
  }
  .input-disabled{
    padding: 6px;
    border: 0;
  }
table.table-style {
  border-collapse: collapse;
  /* width: 45%; */
  margin-top: 5%;
}
.editor-width {
  width: 78% !important;
}
table.total-table {
  border-collapse: collapse;
  width: 45%;
}
#footer {
  padding: 10px !important;
  border: 1px solid #dcdfe6;
}
.marg {
  margin-right: 2% !important;
}
.save {
  background-color: #00ba8b;
  border: 0;
  padding: 6px 14px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 93%;
  margin-bottom: 1%;
  margin-left: 3%;
}
td input {
  border: 0;
  padding: 6px;
  width: 100%;
}
th,
td {
  border: 1px solid #ebeef5;
}
th {
  color: white;
  font-size: 14px !important;
  text-align: center;
  padding: 5px;
  position: relative;
  top: 0;
  left: 0;
}
.el-date-table th {
  background-color: #f2f6fc !important;
}
.el-date-picker table {
  width: 90% !important;
}
td input:hover {
  background-color: #f2f6fc;
  cursor: pointer;
}
.inline {
  position: relative;
  top: 0;
  left: 0;
}
.total-table {
  position: absolute;
  left: 48%;
  bottom: -75%;
  width: 100%;
}
.total-table td {
  position: relative;
  top: 0;
  left: 0;
}
/* .total-table td input{
   background-color: #409EFF;
} */
.total-table td {
  color: white;
  font-weight: bold;
  padding-left: 10px;
}
.total-table th {
  background-color: #fff;
  color: black;
}
.next {
  background-color: #00ba8b !important;
  color: white;
  padding: 8px;
}
a:hover {
  color: white !important;
}
.mt-top {
  margin-top: 10%;
}
.minus-button {
  padding: 1px !important;
  padding-left: 4px !important;
}
.el-step__title {
  font-weight: bold;
}
.el-steps--simple {
  background-color: #409eff !important;
}
.is-success {
  color: white !important;
}
.el-step.is-simple .el-step__arrow::after,
.el-step.is-simple .el-step__arrow::before {
  background: white !important;
}

.border-none {
  border: 0;
}
hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: thin solid #333;
  color: #333;
  text-align: center;
  width: 92%;
  margin-left: 3%;
}

.footer-note {
  font-size: 13px;
  color: #111;
  width: 94%;
  margin: 0 auto!;
}
input.place {
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  outline: 0;
  padding: 0 15px;
  width: 220px;
  /* margin-left: 13%; */
}
::placeholder {
  color: #606266 !important;
  font-weight: normal;
  font-size: 17px;
}
.devis-color {
  padding-left: 15px;
}
</style>
