<template>
  <div class="page-wrapper">
      <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-5 mb-5">
                    <NavBar :activeIndex="activeIndex" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="tab-content">
                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-body title">
                                        <div class="d-flex no-block">
                                            <div>
                                                <h3 class="card-title m-b-5"><span class="lstick"></span>Vos Devis </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-lg-3 col-12">
                                            <div class="card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <div class="stats">
                                                            <h1 class="text-white">{{tousLesDevis.length}}</h1>
                                                            <h6 class="text-white font-size">Total Devis</h6>
                                                        </div>
                                                        <div class="stats-icon text-right ml-auto"><i class="fas fa-chart-bar display-5 op-3 text-dark"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="card bg-green text-white">
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <div class="stats">
                                                            <h1 class="text-white">{{devisPaye.length}}</h1>
                                                            <h6 class="text-white font-size">Devis payés</h6>
                                                        </div>
                                                        <div class="stats-icon text-right ml-auto"><i class="fas fa-chart-line display-5 op-3 text-dark"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="card bg-danger text-white">
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <div class="stats">
                                                            <h1 class="text-white">{{devisNonPaye.length}}</h1>
                                                            <h6 class="text-white font-size">Devis non payés</h6>
                                                        </div>
                                                        <div class="stats-icon text-right ml-auto"><i class="fas fa-chart-pie display-5 op-3 text-dark"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="card bg-primary text-white">
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <div class="stats">
                                                            <h1 class="text-white">{{devisPayePartiel.length}}</h1>
                                                            <h6 class="text-white font-size">Payés partiellement</h6>
                                                        </div>
                                                        <div class="stats-icon text-right ml-auto"><i class="mdi mdi-chart-line display-5 op-3 text-dark"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div> 
                            <!-- Fin -->
                        </div>
                    </div>
                      <div class="card">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            
                            <!-- Partie Factures -->
                            <div class="container-fluid second-container">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex no-block">
                                                <div>
                                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Vos Factures </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                       <div class="col-lg-3">
                                            <div class="card bg-info text-white">
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <div class="stats">
                                                            <h1 class="text-white">{{toutesLesFactures.length}}</h1>
                                                            <h6 class="text-white font-size">Total Factures</h6>
                                                        </div>
                                                        <div class="stats-icon text-right ml-auto"><i class="mdi mdi-chart-bar display-5 op-3 text-dark"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card bg-primary text-white">
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <div class="stats">
                                                            <h1 class="text-white">{{facturesPaye.length}}</h1>
                                                            <h6 class="text-white font-size">Factures payées</h6>
                                                        </div>
                                                        <div class="stats-icon text-right ml-auto"><i class="mdi mdi-chart-line display-5 op-3 text-dark"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card bg-danger text-white">
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <div class="stats">
                                                            <h1 class="text-white">{{facturesNonPaye.length}}</h1>
                                                            <h6 class="text-white font-size">Factures non payées</h6>
                                                        </div>
                                                        <div class="stats-icon text-right ml-auto"><i class="mdi mdi-chart-pie display-5 op-3 text-dark"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card bg-green text-white">
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <div class="stats">
                                                            <h1 class="text-white">{{facturePayePartiel.length}}</h1>
                                                            <h6 class="text-white font-size">Payées partiellement</h6>
                                                        </div>
                                                        <div class="stats-icon text-right ml-auto"><i class="mdi mdi-chart-pie display-5 op-3 text-dark"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                   </div> 
                                </div> 
                            <!-- Fin -->
                        </div>
                    </div>  
                </div>
            </div>
      </div>
  </div>
</template>

<script>

import firebase from 'firebase'
import NavBar from "../finances/components/navBar";
export default {
    name: "Statistiques",
    components:{NavBar}, 
    data(){
        return {
            activeIndex: 2,
            tousLesDevis:[],   
            toutesLesFactures:[],
            modeldevisref: firebase.firestore().collection("modeldevis"),
            modelfactureref: firebase.firestore().collection("devisfacture"),
            projectId: JSON.parse(localStorage.getItem('userSession')).projet, 
            facturesPaye: [],
            facturesNonPaye:[],
            facturePayePartiel:[],
            devisPayePartiel:[],
            devisNonPaye:[],
            devisPaye:[],
        }
    },
  created(){
    // Recupération de tous les devis
    this.modeldevisref.where('projectId', '==', this.projectId)
    .onSnapshot((querySnapshot) =>{
        if(!querySnapshot.empty){
            querySnapshot.forEach((doc) => {   
                let obj = doc.data();
                this.tousLesDevis.push(obj);
            });
        }
    });

    // Recupération de toutes les factures
    this.modelfactureref.where('projectId', '==', this.projectId)
    .onSnapshot((querySnapshot) =>{
        if(!querySnapshot.empty){
            querySnapshot.forEach((doc) => {   
                if(doc.exists){
                    let obj = doc.data();

                    this.toutesLesFactures.push(obj);
                    if(obj.paymentsInfos){
                        let paiement = obj.paymentsInfos.paiement.montant;
                        let accompte = obj.paymentsInfos.accompte.montant;

                        // Vérifie si la facture a été payé ou pas
                        if(paiement !== null && accompte !== null){
                            let substraction = paiement - accompte;
                            if(substraction === 0){
                                this.facturesPaye.push(obj);
                                this.devisPaye.push(obj);
                            } else if (substraction === paiement){
                                this.facturesNonPaye.push(obj);
                                this.devisNonPaye.push(obj);
                            } else if(substraction !== 0 && substraction !== paiement){
                                this.facturePayePartiel.push(obj);
                                this.devisPayePartiel.push(obj);
                            }
                        }
                    }
                }
            });
        }
    });
    setTimeout(() => {
        this.$loading().close() 
    }, 3000);
  }
}
</script>

<style>
.main-container{
   margin-top: 1%;
   margin-left: 2%;
   margin-right: 2%;
}
.second-container{
   padding-top: 0px!important;
}
.dashboard{
   font-size: 20px;
   margin-top: 2%;
}
.title{
  padding-top: 0px!important;
}
.font-size{
  font-size: 18px;
}
.bg-green{
  background-color: #61B174 !important
}
</style>