<template>

  

        <vue-numeric
        :currency="currentCurrencyMask['currency']"
        :currency-symbol-position="currentCurrencyMask['currency-symbol-position']"
        output-type="String"
        :empty-value="0"
        :precision="currentCurrencyMask['precision']"
        :decimal-separator="currentCurrencyMask['decimal-separator']"
        :thousand-separator="currentCurrencyMask['thousand-separator']"
        read-only-class="item-total"
        :min="currentCurrencyMask['min']"
        :read-only=false
        v-model.number="value"
        class="form-control text-right numeric">
        </vue-numeric>
</template>

<script>
import { abstractField } from "vue-form-generator";
import VueNumeric from 'vue-numeric'
import currenciesMaskMixin from '../views/bp/mixins/currenciesMask'

export default {
        mixins: [ abstractField,currenciesMaskMixin ],
        components: {
        VueNumeric
            
        },
        props:{
                value:{
                type:Number,
                }

        },
        data() {
        return {
                string:'model',
                id:0
                

        }},
    
};

</script>