<template>
  <div>
    <el-form ref="form" :model="form" label-width="120px">
      <el-form-item label="Titre">
        <el-input v-model="form.titre"></el-input>
      </el-form-item>
      <el-form-item label="Type">
        <el-select v-model="form.type" placeholder="sélectionnez un type">
          <el-option label="Projet" value="projet"></el-option>
          <el-option label="Direction" value="direction"></el-option>
          <el-option label="Département" value="departement"></el-option>
          <el-option label="Service" value="service"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="Description">
        <el-input type="textarea" v-model="form.desc"></el-input>
      </el-form-item>
      <el-form-item label="Responsable">
        <Affecte
          @update:user="form.responsable = $event"
          :adminId="$store.state.agilite.adminId"
          :currentUId="$store.state.agilite.currentUId"
          label=""
          ref="affecte"
        />
      </el-form-item>
      <el-form-item>
        <div class="mb-5 mt-2">
          <el-button :loading="loading" type="primary" @click="onSubmit"
            >Créer</el-button
          >
          <el-button @click="$emit('savedWorkSpaceClose')">Annuler</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import Affecte from "../tickets/composantCourrier/contentRigth/affecte";
import WorkSpace from "../../erp/models/agilite/workSpace";
export default {
  components: {
    Affecte,
  },
  data() {
    return {
      form: {
        titre: "",
        description: "",
        responsable: "",
        type: "",
        user: JSON.parse(localStorage.getItem("userSession")).uid,
      },
      loading: false,
    };
  },
  methods: {
    onSubmit() {
      this.loading = true;
      const space = new WorkSpace("summary", this.form);
      space.saveDocumentDynamic("summary", space.data).then(() => {
        this.$notify({
          title: "Succès",
          message: "L'élément  a été ajoutée avec succès",
          type: "success",
        });
        this.form.titre = "";
        this.form.description = "";
        this.form.responsable = "";
        this.form.type = "";
        this.$emit("savedWorkSpace");
        this.$emit("savedWorkSpaceClose");
        this.loading = false;
      });
    },
  },
};
</script>
