<template>
    <div>                
        <el-form ref="form"  label-width="120px">
            <div class="parent-indicateur">
                <div>
                    <h5>INDICATEUR</h5>
                    <div class="content border rounded shadow px-3 py-3 mb-3" >
                        <priorite ref="priorite" :projectSelected="projectSelected" :typeId="typeId"/>                                                                                                                                                                                         
                    </div> 
                    <div>
                        <h5>SPRINT</h5>
                        <div class="content border rounded shadow px-2 py-2 mb-3" >
                            <sprint ref="sprint" :typeId="typeId" :projectSelected="projectSelected"/>    
                        </div> 
                    </div>
                    <!-- <h5>VERSION</h5>
                    <div class="content border rounded shadow px-2 py-2 mb-3">
                        <version ref="version" :typeId="typeId" :projectSelected="projectSelected"/>
                    </div> -->
                    <h5>Etiquette</h5>
                    <div class="content border rounded shadow px-2 py-2 mb-3">
                        <label-etiquette ref="labelEtiquette" :typeId="typeId" :projectSelected="projectSelected"/>
                    </div>
                    <!-- <h5>COMPOSANT</h5>
                    <div class="content border rounded shadow px-2 py-2 mb-3">
                        <composant ref="composant" :typeId="typeId" :projectSelected="projectSelected"/>
                    </div> -->
                    <h5>PROTOCOLE</h5>
                    <div class="content border rounded shadow px-2 py-2 mb-3">
                        <protocole ref="protocole" :typeId="typeId" :projectSelected="projectSelected" />
                    </div>
                </div>

            </div> 
        </el-form>
    </div>
</template>
<script>
import firebase from "firebase"
import Notification from "../../../../store/collection/notifications";
import priorite from '../courEntrant/priorite';  
import sprint from '../courEntrant/sprint';
import version from '../courEntrant/version'
import labelEtiquette from '../courEntrant/labelEtiquette'
import composant from '../courEntrant/composant'
import protocole from '../courEntrant/protocole'
export default {
    name:'contentStandard',
    props:{
        projectSelected:{
            default: null
        },
        typeId:{
           default: null
       }        
    },
    components:{
        priorite,
        sprint,
        version,
        labelEtiquette,
        composant,
        protocole
    },
    data() {
  
        return {
            addPriority: false,
            // value1: false,
            // value2: false,    
            // value3: false,    
            // value4: false,    
            // isCollapse: true,
            planActionRefOld: firebase.firestore().collection("planAction"),
            allUsers:[],
            // Etiquettes variables
            editEtiquetteActif: false,
            addEtiquetteActif: false,
            editEtiquetteData: {},
            swicth: false,
            //Loading CONTAINER
            loadingCat:false,
            loadingActions:false,

            etiquettePromise:null,
            categoriePromise:null,
            //Promise
            planActionRef: null,

        };
    },

    methods: {
        addTiltleIndicator(){            
            // this.indicatortitle = !this.indicatortitle
        },
        chooseSize(elementReplace){
            const elementIndexChange = elementReplace[1]        
            const index = elementReplace[0]
            // const elementChange = this.Etiquettes[index]
            this.Etiquettes[index] = elementIndexChange
            // this.Etiquettes[this.Etiquettes.indexOf(elementIndexChange)] = elementChange            
        },
    }
};
</script>

<style scoped>
    .el-popper[x-placement^=top] .icon-material  .icon-item .material-icons-outlined {
        font-family: "Material Icons Outlined";
        background-color: transparent !important;
        color: #606266e0 !important;
        padding: 3px 0 !important;
        margin: 0 !important;
        font-size: 1.5rem !important;
    }
    
    .parent-indicateur .el-tag[data-v-7749cb5d]{
        border-color: #e9e9eb !important;
        background: #f4f4f5 !important;
        color: #909399 !important;
    }
    .parent-indicateur .el-button--primary {
        color: #FFF !important;
        background-color: #409EFF !important;
        border-color: #409EFF !important;
        font-size: .8rem !important;
    }
    .parent-indicateur .el-button--danger {
        color: #FFF !important;
        background-color: #F56C6C !important;
        border-color: #F56C6C !important;
        font-size: .8rem !important;
    }
    .el-popper[x-placement^=top], .el-popper[x-placement^=bottom]{
        margin: 5px 110px !important;
    }
    .content{
        background: #fff;
    }
    .el-tag{
        width: 95% !important;
        text-align: center;
    }
     .el-card:hover{
        cursor: pointer;
    }
    .eti-color {
        width: 80%;
        padding: 1%;
        border: 0.5px solid grey;
        border-radius: 6px;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .eti-color-list {
        width: 80%;
        padding: 1%;
        border: 0.5px solid grey;
        border-radius: 6px;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .text-white {
        color: white;
    }
    
</style>

