<template>
  <div>
    <el-form ref="form" label-width="120px">
      <div class="parent-indicateur">
        <h5>INDICATEUR</h5>
        <div>
          <div class="content border rounded shadow px-3 py-3 mb-3">
            <priorite
              ref="priorite"
              :projectSelected="projectSelected"
              :typeId="typeId"
            />
            <div class="mt-3">
              <label-etiquette
                ref="labelEtiquette"
                :projectSelected="projectSelected"
                :typeId="typeId"
              />
            </div>
          </div>
        </div>
        <div>
            <h5>PROTOCOLE</h5>
            <div class="content border rounded shadow px-3 py-3 mb-3" >
              <div>
                <Protocole ref="protocole" :projectSelected="projectSelected" :typeId="typeId"/>                    
              </div>                                                                                                         
            </div> 
        </div>
      </div>
    </el-form>
  </div>
</template>
<script>
import firebase from "firebase";
import labelEtiquette from "../courEntrant/labelEtiquette";
import Notification from "../../../../store/collection/notifications";
import priorite from "../courEntrant/priorite";
import Protocole from '../courEntrant/protocole.vue'
export default {
  name: "demandeAchat",
  props: {
    projectSelected: {
      default: null,
    },
    typeId: {
      default: null,
    },
  },
  components: {
    priorite,
    labelEtiquette,
    Protocole
  },
  data() {
    return {
      addPriority: false,
      // isCollapse: true,
      planActionRefOld: firebase.firestore().collection("planAction"),
      allUsers: [],
      // Etiquettes variables
      editEtiquetteActif: false,
      addEtiquetteActif: false,
      editEtiquetteData: {},
      swicth: false,
      planActionRef: null,
    };
  },

  methods: {
    addTiltleIndicator() {
      // this.indicatortitle = !this.indicatortitle
    },
    chooseSize(elementReplace) {
      const elementIndexChange = elementReplace[1];
      const index = elementReplace[0];
      // const elementChange = this.Etiquettes[index]
      this.Etiquettes[index] = elementIndexChange;
      // this.Etiquettes[this.Etiquettes.indexOf(elementIndexChange)] = elementChange
    },
  },
};
</script>

<style scoped>
.el-popper[x-placement^="top"]
  .icon-material
  .icon-item
  .material-icons-outlined {
  font-family: "Material Icons Outlined";
  background-color: transparent !important;
  color: #606266e0 !important;
  padding: 3px 0 !important;
  margin: 0 !important;
  font-size: 1.5rem !important;
}

.parent-indicateur .el-tag[data-v-7749cb5d] {
  border-color: #e9e9eb !important;
  background: #f4f4f5 !important;
  color: #909399 !important;
}
.parent-indicateur .el-button--primary {
  color: #fff !important;
  background-color: #409eff !important;
  border-color: #409eff !important;
  font-size: 0.8rem !important;
}
.parent-indicateur .el-button--danger {
  color: #fff !important;
  background-color: #f56c6c !important;
  border-color: #f56c6c !important;
  font-size: 0.8rem !important;
}
.parent-indicateur .el-popper[x-placement^="top"],
.parent-indicateur .el-popper[x-placement^="bottom"] {
  margin: 10px 120px !important;
  /* text-align: center !important; */
  overflow-y: hidden !important;


}
.content {
  background: #fff;
}
.el-tag {
  width: 95% !important;
  text-align: center;
}
.el-card:hover {
  cursor: pointer;
}
.eti-color {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.eti-color-list {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.text-white {
  color: white;
}
</style>
