<template>
  <div>
    <div class="custom-container">
      <div class="row">
        <el-dialog
          title="Paramétrage Type de ticket"
          :visible.sync="display"
          @close="$emit('closeModal')"
          width="98%"
          top="2%"
          :before-close="(handleClose = false)"
        >
          <params-menu-left
            :tabTypeTickets="tabTypeTickets"
            ref="paramsMenuLeft "
            :projectSelected="projectSelected"
            :tabletView="tabletView"
            :screenView="screenView"
            :screenViewExtra="screenViewExtra"
            :mobileView="mobileView"
          />
        </el-dialog>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import Notification from "../../../../store/collection/notifications";
import paramsMenuLeft from "../../../bp/agile/composant/paramsMenuLeft";
import typeTicket from "../../../bp/erp/models/globalTicket/typeTicket";
export default {
  name: "paramTicket",
  props: {
       screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    screenViewExtra: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    projectSelected: {
      default: null,
    },
    display: {
      default: false,
    },
    typeId: {
      default: null,
    },
  },
  components: {
    paramsMenuLeft,
  },
  data() {
    return {
      modalTicket: false,
      tabTypeTickets: [],
      addPriority: false,

      //
      allUsers: [],
      // Etiquettes variables
      editEtiquetteActif: false,
      addEtiquetteActif: false,
      editEtiquetteData: {},
      swicth: false,
      //Loading CONTAINER
      loadingCat: false,
      loadingActions: false,

      etiquettePromise: null,
      categoriePromise: null,
      //Promise
      planActionRef: null,
    };
  },

  methods: {
    addTiltleIndicator() {
      // this.indicatortitle = !this.indicatortitle
    },
    chooseSize(elementReplace) {
      const elementIndexChange = elementReplace[1];
      const index = elementReplace[0];
      // const elementChange = this.Etiquettes[index]
      this.Etiquettes[index] = elementIndexChange;
      // this.Etiquettes[this.Etiquettes.indexOf(elementIndexChange)] = elementChange
    },
    getData() {
      typeTicket.getAllDocument("globalTypeTicket").then((query) => {
        console.log("Query", query);
        query.forEach((doc) => {
          let data = doc.data();
          data.id = doc.id;
          this.tabTypeTickets.push(data);
        });
      });
    },
  },
  mounted() {
    this.getData();
  },
};
</script>
