<template>
  <div class="content-left">    
      <el-tabs  type="border-card" :tab-position="tabPosition" style="width:100%;" :stretch="true">
        <el-tab-pane v-for="item in tabTypeTickets" :key="item.id">
          <span slot="label"          
            ><i class="el-icon-menu mr-3"></i>{{ item.libelle }}</span
          >
          <div class="shadow-sm px-2 py-1 mb-5 bg-white rounded">
            <h3>{{ item.libelle }}<i class="ml-2 el-icon-news"></i></h3>
          </div>
          <content-standard
            v-if="item.type == 'normal'"
            ref="contentStandard"
            :typeId="item.id"
            :projectSelected="projectSelected"
          />
          <param-sortant
            v-if="item.type == 'courrier_sortant'"
            ref="paramSortant"
            :typeId="item.id"
            :projectSelected="projectSelected"
          />
          <content-enter
            v-if="item.type == 'courrier_entrant'"
            ref="priorite"
            :typeId="item.id"
            :projectSelected="projectSelected"
          />
          <paramsUserStory
            v-if="item.type == 'user_story'"
            ref="paramsUserStory"
            :typeId="item.id"
            :projectSelected="projectSelected"
          />
          <reservation
            v-if="item.type == 'reservation'"
            ref="reservation"
            :typeId="item.id"
            :projectSelected="projectSelected"
          />
          <demande-achat
            v-if="item.type == 'demande_achat'"
            :typeId="item.id"
            :projectSelected="projectSelected"
          ref="demandeAchat"/>
          
          <etats-de-salaire 
            v-if="item.type == 'etats_de_salaires'"
            :typeId="item.id"
            :projectSelected="projectSelected"
            ref="etatDeSalaire"/>

        </el-tab-pane>
      </el-tabs>   
  </div>
</template>
<script>
import paramTicket from '../composant/paramTicket';
import contentEnter from '../composant/contentEnter';
import paramsUserStory from '../composant/paramsUserStory';
import reservation from '../composant/reservation';
import contentStandard from '../composant/contentStandard';
import paramSortant from '../composant/paramSortant';
import demandeAchat from '../composant/demandeAchat'
import etatsDeSalaire from '../composant/etatDeSalaire'
export default {
  name: "paramsMenuLeft",
  props: {
      screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    screenViewExtra: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    projectSelected: {
      default: null,
    },
    tabTypeTickets: {
      default: [],
    },
    typeId: {
      default: null,
    },
  },
  components: {
    contentEnter,
    contentStandard,
    paramSortant,
    reservation,
    demandeAchat,
    etatsDeSalaire,
    paramsUserStory
  },
  data() {
    return {
      tabPosition: "left",
    };
  },
  methods: {
    openTicket() {
      this.$refs.paramTicket.modalTicket = true;
    },
  },
};
</script>
<style>
.parent-indicateur {
  /* padding: 20px; */
  height: 95vh;
  overflow: auto;
  scrollbar-width: thin;
}
.el-tabs--left .el-tabs__nav.is-left,
.el-tabs--left .el-tabs__nav.is-right,
.el-tabs--right .el-tabs__nav.is-left {
  float: none;
  height: 100vh;
}

.content-left .el-tabs--border-card > .el-tabs__content {
  background-image: linear-gradient(
    120deg,
    #fff 20%,
    #fdfbfb 30%,
    #ebedee 80%
  ) !important;
  /* background: #ffffff !important; */
}
.content-left .el-tabs--left {
  overflow: hidden;
  border-radius: 10px !important;
}
.content-left .el-tabs__nav-wrap {
  background: linear-gradient(to right, #1e58b3, #3a7bd5) !important;
  border-top-left-radius: 10px;
}
.el-tabs--left .el-tabs__header.is-left {
  float: left;
  margin-bottom: 0;
  margin-right: 0;
}
.el-tabs--border-card > .el-tabs__header .is-scrollable .el-tabs__item {
  margin-left: 5px !important;
}
.el-tabs--left.el-tabs--border-card .el-tabs__item.is-left.is-active {
  border-color: #d1dbe5 transparent;
  border-top-left-radius: 18px !important;
  border-bottom-left-radius: 18px !important;
}
.el-tabs--left .el-tabs__item.is-left {
  text-align: left !important;
}
.content-left h3,
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #2c73d2 !important;
  font-size: 1rem;
}
.content-parent .el-tabs--left .el-tabs__item.is-left {
  padding: 0 20px !important;
  line-height: 40px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.content-parent .el-tabs__item {
  color: #c0c4cc !important;
}
.content-parent .el-tabs__item.is-active {
  color: #fff !important;
}
.content-parent .el-tabs--left .el-tabs__nav-wrap.is-left::after,
.content-parent .el-tabs__active-bar {
  background: #fff !important;
}
</style>
