<template>
  <div>
    <!-- <el-form ref="form" :model="form" label-width="120px"> -->
    <div class="parent-indicateur">
      <h5>INDICATEUR</h5>
      <div>
        <div class="content border rounded shadow px-3 py-3 mb-3">
          <priorite
            ref="priorite"
            :projectSelected="projectSelected"
            :typeId="typeId"
          />

          <div class="mt-3">
            <label-etiquette
              ref="labelEtiquette"
              :projectSelected="projectSelected"
              :typeId="typeId"
            />
          </div>
          <!-- <div class="mt-3">
            <EquipeParams
              ref="equipeParams"
              :projectSelected="projectSelected"
              :typeId="typeId"
            />
          </div> -->
        </div>
        <div>
          <h5>Risque</h5>
          <div class="content border rounded shadow px-2 py-2 mb-3">
            <RisqueParams
              ref="risqueParams"
              :projectSelected="projectSelected"
              :typeId="typeId"
            />
          </div>
        </div>
        <div>
          <h5>Equipe</h5>
          <div class="content border rounded shadow px-2 py-2 mb-3">
            <EquipeParams
              ref="equipeParams"
              :projectSelected="projectSelected"
              :typeId="typeId"
            />
          </div>
        </div>
        <div>
          <h5>SPRINT</h5>
          <div class="content border rounded shadow px-2 py-2 mb-3">
            <sprint
              ref="sprint"
              :typeId="typeId"
              :projectSelected="projectSelected"
            />
          </div>
        </div>
        <div>
          <h5>Objectif</h5>
          <div class="content border rounded shadow px-2 py-2 mb-3">
            <ObjectifParams
              ref="objectifParams"
              :typeId="typeId"
              :projectSelected="projectSelected"
            />
          </div>
        </div>
        <div>
          <h5>PROTOCOLE</h5>
          <div class="content border rounded shadow px-3 py-3 mb-3">
            <div>
              <Protocole
                ref="protocole"
                :projectSelected="projectSelected"
                :typeId="typeId"
              />
            </div>
          </div>
        </div>
        <!-- <div>
          <h5>COURSIER</h5>
          <div class="content border rounded shadow px-3 py-3 mb-3">
            <div>
              <coursier
                ref="coursier"
                :projectSelected="projectSelected"
                :typeId="typeId"
              />
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- </el-form> -->
  </div>
</template>
<script>
import firebase from "firebase";
import Notification from "../../../../store/collection/notifications";
import sprint from "../courEntrant/sprint";
import priorite from "../courEntrant/priorite";
import RisqueParams from "../courEntrant/risqueParams";
import EquipeParams from "../courEntrant/equipeParams";
// import Equipe from "../courEntrant/equipeParams"
import ObjectifParams from "../courEntrant/objectifParams";
// import StoryPoint from "../tickets/composantCourrier/contentRigth/storyPoint"
// import provenance from "../courEntrant/provenance";
import Protocole from "../courEntrant/protocole";
// import classeur from "../courEntrant/classeur";
import labelEtiquette from "../courEntrant/labelEtiquette";
import coursier from "../courEntrant/coursier";
export default {
  name: "contentEnter",
  props: {
    projectSelected: {
      default: null,
    },
    typeId: {
      default: null,
    },
  },
  components: {
    // StoryPoint,
    priorite,
    EquipeParams,
    sprint,
    labelEtiquette,
    RisqueParams,
    ObjectifParams,
    // provenance,
    // classeur,
    Protocole,
    coursier,
  },
  data() {
    return {
      addPriority: false,
      value1: false,
      value2: false,
      value3: false,
      value4: false,
      // isCollapse: true,
      planActionRefOld: firebase.firestore().collection("planAction"),
      allUsers: [],
      // Etiquettes variables
      editEtiquetteActif: false,
      addEtiquetteActif: false,
      editEtiquetteData: {},
      swicth: false,
      //Loading CONTAINER
      loadingCat: false,
      loadingActions: false,

      etiquettePromise: null,
      categoriePromise: null,
      //Promise
      planActionRef: null,
    };
  },

  methods: {
    addTiltleIndicator() {
      // this.indicatortitle = !this.indicatortitle
    },
    chooseSize(elementReplace) {
      const elementIndexChange = elementReplace[1];
      const index = elementReplace[0];
      // const elementChange = this.Etiquettes[index]
      this.Etiquettes[index] = elementIndexChange;
      // this.Etiquettes[this.Etiquettes.indexOf(elementIndexChange)] = elementChange
    },
  },
};
</script>

<style scoped>
.el-popper[x-placement^="top"]
  .icon-material
  .icon-item
  .material-icons-outlined {
  font-family: "Material Icons Outlined";
  background-color: transparent !important;
  color: #606266e0 !important;
  padding: 3px 0 !important;
  margin: 0 !important;
  font-size: 1.5rem !important;
}

.parent-indicateur .el-tag[data-v-7749cb5d] {
  border-color: #e9e9eb !important;
  background: #f4f4f5 !important;
  color: #909399 !important;
}
.parent-indicateur .el-button--primary {
  color: #fff !important;
  background-color: #409eff !important;
  border-color: #409eff !important;
  font-size: 0.8rem !important;
}
.parent-indicateur .el-button--danger {
  color: #fff !important;
  background-color: #f56c6c !important;
  border-color: #f56c6c !important;
  font-size: 0.8rem !important;
}
.el-popper[x-placement^="top"],
.el-popper[x-placement^="bottom"] {
  margin: 5px 110px !important;
}
.content {
  background: #ebeef569;
}
.el-tag {
  width: 95% !important;
  text-align: center;
}
.el-card:hover {
  cursor: pointer;
}
.eti-color {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.eti-color-list {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.text-white {
  color: white;
}
</style>
