<template>
<div>
  <!-- Dekstop -->
  <div
  v-if="screenView == true || screenViewExtra == true"
  >
    <div class="row mr-2">
       <span @click="openTicket()" class="parametre">             
          <i class="el-icon-setting mr-2"></i>
            Paramétrage
        </span>
    </div>
    <param-ticket
      v-if="displayParamTicket"
      @closeModal="displayParamTicket = false"
      ref="paramTicket"
      :display="displayParamTicket"
      :projectSelected="projectSelected"
      :tabletView="tabletView"
      :screenView="screenView"
      :screenViewExtra="screenViewExtra"
      :mobileView="mobileView"
    />
  </div>
  <!-- Mobile -->

  <div
  v-if="mobileView == true "
  >
    <div class="icon">
       <span class="parametre">             
          <i @click="openTicket()" class="el-icon-setting "></i>
        </span>
    </div>
    <param-ticket
      v-if="displayParamTicket"
      @closeModal="displayParamTicket = false"
      ref="paramTicket"
      :display="displayParamTicket"
      :projectSelected="projectSelected"
      :tabletView="tabletView"
      :screenView="screenView"
      :screenViewExtra="screenViewExtra"
      :mobileView="mobileView"
    />
  </div>
</div>
</template>
<script>
import paramTicket from "../composant/paramTicket";
export default {
  name: "paramsMenuRight",
  // props:["isCollapse", "projectSelected"],
  props:{
    projectSelected: {
      default: null,
    },
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    screenViewExtra: {
      default: false,
    },
    mobileView: {
      default: false,
    }
  },
  components: {
    paramTicket,
  },
  data() {
    return {
      displayParamTicket: false,
    };
  },

  methods: {
    openTicket() {
      this.displayParamTicket = true;
    },
    openVueCourrierSortant() {
      this.$refs.courrierSortant.modalVueCourrierSortant = true;
    },
    openVueCourrier() {
      this.$refs.gestionTickets.modalVue = true;
    },
    openReservation() {
      this.$refs.reservation.modalReservation = true;
    },
    openachat() {
      // this.displayModalAchat = true
      this.$refs.demandeAchat.displayModalAchat = true;
    },
  },
};
</script>
<style scoped>
  .parametre{
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
  }
  /* .icon{
    margin-left: -19px;
  } */
  /* .icon i{
    font-size: 1.3rem;
  } */
</style>
