<template>
  <div class="input-group-prepend pointer">
    <span class="input-group-text dialog-limit" id="inputGroup-sizing-default">
      <span
        style="font-size: 0.65rem"
        @click="
          () => {
            item.taxeable;
          }
        "
      >
        <span @click="item.taxeable = !item.taxeable">{{
          item.taxeable ? "TTC" : "HT"
        }}</span>
        <i
          class="el-icon-caret-right"
          @click="showdialog = false"
          v-if="showdialog"
        ></i>
        <i class="el-icon-caret-bottom" v-else @click="showdialog = true"></i>
      </span>
    </span>
    <div class="dialog" v-if="showdialog">
      <vue-numeric
        currency="%"
        currency-symbol-position="suffix"
        :max="100"
        :min="0"
        :minus="false"
        empty-value="0"
        :precision="0"
        v-model.number="item.tva"
        class="form-control text-center tva"
      >
      </vue-numeric>
    </div>
  </div>
</template>

<script>
import VueNumeric from "vue-numeric";
export default {
  components: { VueNumeric },
  props: ["item"],
  data() {
    return {
      showdialog: false,
    };
  },
  watch: {
    item: {
      handler(val) {
        // this.item.taxeable = val.taxeable;
        this.$emit("changetva", val.tva);
        this.$emit("taxeable", val.taxeable);
      },
      deep: true,
    },
  },
  methods: {
    // changeTva(e) {
    //   //   console.log("Data", e.target.value);
    //   this.$emit("changetva", this.item.tva);
    //   this.$emit("taxeable", true);
    // },
    // taxeable() {
    //   this.item.taxeable = !this.item.taxeable;
    //   this.$emit("changetva", this.item.tva);
    //   this.$emit("taxeable", this.item.taxeable);
    // },
  },
};
</script>
<style scoped lang="scss">
.dialog-limit {
  position: relative;
  .dialog {
    height: auto;
    width: 150px;
    display: flex;
    border-radius: 8px;
    background: #1e1e1e;
    position: absolute;
    left: -195px;
    right: 0;
    margin: auto;
    z-index: 1;
    padding: 4px 18px 2px 5px;
    button {
      margin-left: 3px;
    }
    &::before {
      content: "";
      position: absolute;
      right: -4px;
      width: 20px;
      top: 8px;
      height: 20px;
      border-radius: 5px;
      transform: rotate(45deg);
      background: #1e1e1e;
    }
  }
}
.tva {
  width: 70px;
}
.form-control {
  color: #67757c;
  min-height: 30px !important;
  display: initial !important;
}
</style>
