<template>
    <div>
        <div class="row" id="section-2">
        <div class="col-12">
        <el-tabs type="border-card" :stretch="true">
            <el-tab-pane label="Coordonées">
                <div id="content-1">
                    <div class="row header-b1 backheader">
                        <div class="col-xl-6 col-lg-12 col-12">
                            <el-form-item label="Adresse :">
                                <div class="input-group">
                                    <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">contact_mail</span>
                                    </div>
                                    <input type="text" class="form-control" :disabled="!model.adresse" v-model="newClient.adresse">
                                </div>
                            </el-form-item>
                            <el-form-item label="Code postal:">
                                <div class="input-group">
                                    <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">approval</span>
                                    </div>
                                    <input type="text" class="form-control" :disabled="!model.codePostal" v-model="newClient.codePostal">
                                </div>
                            </el-form-item>
                        <el-form-item label="Ville :">
                            <div class="input-group">
                                <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">apartment</span>
                                    </div>
                                    <select class="form-control"  :disabled="!model.ville" v-model="newClient.ville">
                                        <option v-for="(item, index) in villeData" :key="index" :value="item.libelle" >{{  item.libelle }}</option>
                                    </select>
                            </div>
                            </el-form-item>

                            <el-form-item label="Pays :">
                                <div class="input-group">
                                    <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">flag</span>
                                    </div>
                                        <select class="form-control"  :disabled="!model.pays" v-model="newClient.pays">
                                            <option v-for="(item, index) in paysData" :key="index" :value="item.nom_fr" >{{  item.nom_fr }}</option>
                                        </select>
                                </div>
                            </el-form-item> 

                                <el-form-item label="Quartier :" >
                                    <div class="input-group">
                                        <div>
                                            <span class="input-group-text material-icons-outlined" id="basic-addon1">where_to_vote</span>
                                        </div>
                                        <input type="text" class="form-control" :disabled="!model.quartier" v-model="newClient.quartier">
                                    </div>
                            </el-form-item>
                                <el-form-item label="Arrondissement :">
                                    <div class="input-group">
                                        <div>
                                            <span class="input-group-text material-icons-outlined" id="basic-addon1">fmd_good</span>
                                        </div>
                                        <input type="text" class="form-control" :disabled="!model.arrondissement" v-model="newClient.arrondissement">
                                    </div>
                            </el-form-item>  
                        
                            <el-form-item label="Région :">
                                    <div class="input-group">
                                        <div>
                                            <span class="input-group-text material-icons-outlined" id="basic-addon1">map</span>
                                        </div>
                                            <input type="text" class="form-control"  :disabled="!model.region" v-model="newClient.region">
                                    </div>
                            </el-form-item>

                            <el-form-item label="Province :">
                                <div class="input-group">
                                    <div>
                                            <span class="input-group-text material-icons-outlined" id="basic-addon1">map</span>
                                    </div>
                                    <input type="text" class="form-control"  :disabled="!model.province" v-model="newClient.province">
                                </div>
                            </el-form-item>
                        </div>
                        <!-- a supprimer an cas de repetition -->
                        <div class="col-xl-6 col-lg-12 col-12 ma-super-classe">
                            <el-form-item label="Téléphone 1 :" >
                                <div class="input-group">
                                    <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">phone</span>
                                    </div>
                                    <input type="tel" class="form-control"  :disabled="!model.tel1" v-model="newClient.tel1" >
                                </div>

                            </el-form-item>
                            <el-form-item label="Téléphone 2:" >
                                <div class="input-group">
                                    <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">phone</span>
                                    </div>
                                    <input type="tel" class="form-control"  :disabled="!model.tel2" v-model="newClient.tel2">
                                </div>
                            </el-form-item>
                            <el-form-item label="Email :">
                                <div class="input-group">
                                    <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">email</span>
                                    </div>
                                    <input type="text" class="form-control" :disabled="!model.emails" v-model="newClient.emails">
                                </div>      
                            </el-form-item>

                            <el-form-item label="Whatsapp :">
                                <div class="input-group">
                                    <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">maps_ugc</span>
                                    </div>
                                    <input type="text" class="form-control"  v-model="newClient.whatsapp">
                                </div>
                            </el-form-item>

                            <el-form-item label="Zoom :">
                                <div class="input-group">
                                    <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">switch_video</span>
                                    </div>
                                    <input type="text" class="form-control"  v-model="newClient.zoom">
                                </div>
                            </el-form-item>
                            <el-form-item label="Skype :">
                                <div class="input-group">
                                    <div>
                                        <span class="input-group-text material-icons-outlined" id="basic-addon1">switch_video</span>
                                    </div>
                                    <input type="text" class="form-control"  v-model="newClient.skype">
                                </div>
                            </el-form-item>
                            <el-form-item label="Note :">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </el-form-item>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="Contrat">
                <div id="content-2">
                    <!-- bloc contenant le contrat -->
                </div>
            </el-tab-pane>
            <el-tab-pane label="Facturation"></el-tab-pane>
            <el-tab-pane label="Livraison"></el-tab-pane>
             <el-tab-pane label="Contrat"></el-tab-pane>
            <el-tab-pane label="Facturation"></el-tab-pane>
            <el-tab-pane label="Livraison"></el-tab-pane>
        </el-tabs>
        </div>
        </div>
    </div>
</template>
<script>
import ErpModel from '../../models/erp';
export default {
  props: ['model','newClient'],
    data() {
        return {
            plus: false,
            villeData: [],
            paysData: []
        }
    },
    methods: {
         async hideSection() {
            this.plus = !this.plus;
            $("#content-1").toggle()
            $("#content-2").toggle()
            $("#content-3").toggle()
            $("#content-4").toggle()
        },


        getAllData() {
            ErpModel.getCollection('ville').then((res) => {
                res.forEach((doc) => {
                    const data = doc.data()
                    data.id = doc.id
                    this.villeData.push(data)
                });
            })
           
           ErpModel.getCollection('pays').then((res) => {
                res.forEach((doc) => {
                    const data = doc.data()
                    data.id = doc.id
                    this.paysData.push(data)
                });
            })
        }
    },
    created() {
        this.getAllData();
    },
    
    
}
</script>
<style>

.backheader{
    background: #ffff !important;
}
.titre{
    color: rgb(79, 147, 236);
}
.text-muted{
    font-style: italic;
}
.titre-footer{
    color: orange;
}
td, th{
    border: 1px solid #ffff !important;
}
th{
    background-color: #409eff !important;
    color: #ffff !important;
    text-align: center !important;
}
.test{
    border: none !important;;
    color: rgb(7, 7, 7) !important;;
    font-size: 20px !important;; 
    cursor: pointer !important;; 
}
</style>