<template>
<div >
    <form class="form-horizontal" @submit="onSubmit">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">
                        Nom <span class="text-red">*</span>
                    </label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.nom" type="text" required id="nom">
                    </div>
                </div>
                                                            
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">
                        Prénom <span class="text-red">*</span>
                    </label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.prenom" type="text" required id="prenom">
                    </div>
                </div>
   
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">
                        Téléphone 1
                    </label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.tel1" type="text" id="tel1">
                    </div>
                </div>
   
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">
                        Téléphone 2
                    </label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.tel2" type="text" id="tel2">
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Email</label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.email" type="email" id="email">
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Pays</label>
                    <div class="col-8">
                        <select v-model="vendeur.pays" class="form-control" id="pays">
                            <option v-for="country in pays" :value="country.id" :key="country.id">
                                {{country.nom_fr}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label text-sm">Province</label>
                    <div class="col-8">
                        <select v-model="vendeur.province" @change="getProvince" class="form-control" id="province">
                            <option v-for="province in provinces" :value="province.id" :key="province.code">
                                {{province.libelle}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Ville</label>
                    <div class="col-8">
                        <select v-model="vendeur.ville" class="form-control" id="ville">
                            <option v-for="ville in villes" :value="ville.id" :key="ville.code">
                                {{ville.libelle}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Quartier</label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.quartier" type="text" id="quartier">
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Code postal</label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.codepostal" type="text" id="codepostal">
                    </div>
                </div>                                     
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Note</label>
                    <vue-editor id="note" :editorToolbar="customToolbar" v-model="vendeur.note"></vue-editor>
                </div>                                       
            </div>
        </div>

        <div class="modal-footer">
            <span class="mytooltip tooltip-effect-5">
                <input type="checkbox" id="basic_checkbox_2" v-model="saveAndContinu" class="filled-in chk-col-blue" />
                <label for="basic_checkbox_2"></label>
                <span class="tooltip-content clearfix">
                    <span class="tooltip-text p-t-1">
                        Cocher pour enregistrer plusieurs fois.
                    </span> 
                </span>
            </span>
            <button type="submit" class="btn btn-rounded btn-success">Enregistrer</button>
            <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Fermer</button>
        </div>
      
    </form>
    
</div>


  


</template>
<script>
import firebase from 'firebase'

const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 4000
});

export default {
    props: ['tableData'],
    data(){
        return {
            ref: firebase.firestore().collection('vendeurs'),   
            provinceRef: firebase.firestore().collection('province'),
            paysRef: firebase.firestore().collection('pays'),
            villeRef: firebase.firestore().collection('ville'),
            saveAndContinu: '',
            vendeur:{
                type:'Particulier',
                nom:'',
                prenom:'',
                age:'',
                tel1:'',
                tel2:'',
                email:'',
                pays: 'L3X2KXkxLIbzfQOMUMRg',//defaut selected country
                province:'',
                ville:'',
                quartier:'',
                codepostal:'',
                note:''
            },
            pays: [],
            provinces:[],
            villes:[],
            projetId: JSON.parse(localStorage.getItem('userSession')).projet,
            customToolbar: [
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                ['bold', 'italic', 'underline', 'strike'],   // toggled buttons
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'color': [] }, { 'background': [] }],   // dropdown with defaults from theme
                ['clean'] // remove formatting button
            ],
        }
    },
    async  created(){
        this.provinceRef.orderBy("code", "asc").get().then((querySnapshot)=>{
            this.province=[];
            querySnapshot.forEach((doc)=> {
                this.provinces.push({
                'libelle':doc.data().libelle,
                'code':doc.data().code,
                'id':doc.id
                })
            })
        });

        this.paysRef.orderBy("alpha2", "asc").get().then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
                let obj = doc.data();
                obj.id = doc.id;
                this.pays.push(obj);
            });
        });
    },
    methods: {

        onSubmit: function(evt){
            evt.preventDefault();
            this.$emit("submitComponentForm", this.vendeur);

            //on efface les champs
            this.vendeur.nom = '',
            this.vendeur.prenom = '',
            this.vendeur.age = '',
            this.vendeur.tel1 = '',
            this.vendeur.tel2 = '',
            this.vendeur.email = '',
            this.vendeur.province = '';
            this.vendeur.ville = '';
            this.vendeur.quartier = '',
            this.vendeur.codepostal = '';
            this.vendeur.note = '';

            if(!this.saveAndContinu){
                $('#modalvendeurs').modal('hide');
            }
        },
        onUpdate: function(evt){
            evt.preventDefault();
            this.loading = true;
            this.tableData = []; //on reset le data pour éviter les doublons
            this.loading = true;
            this.vendeur.updatedAt = new Date();
            this.ref.doc(this.vendeur.id).update(this.vendeur)
            .then( (vendeur) => {
                $('#modalEditvendeur').modal('hide');
                Swal.fire({
                    type: 'success',
                    title: 'Un vendeur a été mis à jour avec succès',
                    showConfirmButton: false,
                    timer: 2500
                })
                this.loading = false;
            })
            .catch( (error) => {
                loader.hide();
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Une erreur est survenue!',
                })
            });
        },
        async getProvince(idProvince){
            this.loadingData=true
            this.villes=[];
            this.vendeur.ville=''
            await this.villeRef.where('idProvince', '==', this.provinceRef.doc(idProvince.target.value)).get().then((querySnapshot)=>{
                querySnapshot.forEach((doc)=> {
                    this.villes.push({
                    'libelle':doc.data().libelle,
                    'id':this.villeRef.doc(doc.id)
                    }  )
                });
            }); 
            this.loadingData=false
        }
    },
}

</script>
<style scoped>
    .text-red {
        color: red !important;
    }
</style>