<template>
<div >
    <form class="form-horizontal" @submit="onUpdate">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">
                        Nom <span class="text-red">*</span>
                    </label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.nom" type="text">
                    </div>
                </div>
                                                            
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">
                        Prénom <span class="text-red">*</span>
                    </label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.prenom" type="text">
                    </div>
                </div>
   
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">
                        Téléphone 1
                    </label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.tel1" type="text">
                    </div>
                </div>
   
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">
                        Téléphone 2
                    </label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.tel2" type="text">
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Email</label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.email" type="email">
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Pays</label>
                    <div class="col-8">
                        <select v-model="vendeur.pays" name="country" class="form-control" :required="true">
                            <option v-for="country in pays" :value="country.ref" :key="country.id">
                                {{country.nom_fr}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Province</label>
                    <div class="col-8">
                        <select v-model="vendeur.province" @change="getProvince" class="form-control">
                            <option v-for="province in provinces" :value="province.ref" :key="province.code">
                                {{province.libelle}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Ville</label>
                    <div class="col-8">
                        <select v-model="vendeur.ville" class="form-control" id="ville">
                            <option v-for="ville in villes" :value="ville.id" :key="ville.code">
                                {{ville.libelle}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Quartier</label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.quartier" type="text" id="quartier">
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label">Code postal</label>
                    <div class="col-8">
                        <input class="form-control" v-model="vendeur.codepostal" type="text" id="codepostal">
                    </div>
                </div>                                         
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Note</label>
                    <vue-editor id="note" :editorToolbar="customToolbar" v-model="vendeur.note"></vue-editor>
                </div>                                          
            </div>
        </div>

        <div class="modal-footer">
            <el-button type="primary" round native-type="submit">Modifier</el-button>
            <el-button type="danger" round data-dismiss="modal">Fermer</el-button>
        </div>
      
    </form>
    
</div>


  


</template>
<script>
import firebase from 'firebase'
import formulaire from '../../../../bp/mixins/suivi/formulaire'

const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 4000
});

export default {
    props: ['tableData','vendeur'],
    mixins: [formulaire],
    data(){
        return {   
            ref: firebase.firestore().collection('vendeurs'),
            projetId: JSON.parse(localStorage.getItem('userSession')).projet
        }
    },
    methods: {

        onSubmit: function(evt){
            evt.preventDefault();
            this.$emit("submitComponentForm", this.vendeur);

            //on efface les champs
            this.vendeur.nom = '',
            this.vendeur.prenom = '',
            this.vendeur.age = '',
            this.vendeur.tel1 = '',
            this.vendeur.tel2 = '',
            this.vendeur.email = '',
            this.vendeur.province = '';
            this.vendeur.ville = '';
            this.vendeur.quartier = '',
            this.vendeur.codepostal = '';
            this.vendeur.note = '';
        },
        onUpdate: function(evt){
            evt.preventDefault();
            this.$emit("emitUpdateEvent", this.vendeur);
        },
        async getProvince(idProvince){
        // this.isLoading=true;
        this.loadingData=true
        this.villes=[];
        this.vendeur.ville=''
        await this.villeRef.where('idProvince', '==', this.provinceRef.doc(idProvince.target.value)).get().then((querySnapshot)=>{
            querySnapshot.forEach((doc)=> {
                // doc.data() is never undefined for query doc snapshots
                this.villes.push({
                'libelle':doc.data().libelle,
                'id':this.villeRef.doc(doc.id)
                }  )
            });

            });
        // this.isLoading=false;  
            this.loadingData=false
        }
    },
}

</script>
<style scoped>
    .text-red {
        color: red !important;
    }
</style>