<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!-- Articles -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="card card-module">
                    <div class="card-body text-center" @click="accessArticle()">
                        <h3>ARTICLES</h3>
                        <i class="fa fa-7x fa-box-open"></i>
                        <p>Articles d’Achats et Ventes</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9 col-9"></div>
                            <div class="col-xl-1 col-lg-2 col-xl-2 col-lg-2 col-2">
                               <span class="btn fa fa-2x fa-cog" @click="openParamArticle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ventes -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="card card-module">
                    <div class="card-body text-center" @click="accessVente()">
                        <h3>VENTES</h3>
                        <span class="material-icons">savings</span>
                        <p class="mt-5">Factures - Dévis - Commandes</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9"></div>
                            <div class="col-xl-1 col-lg-2 col-2">
                               <span class="btn fa fa-2x fa-cog" @click="paramVente = true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Achat -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="card card-module">
                    <div class="card-body text-center" @click="accessAchat()">
                        <h3>ACHATS</h3>
                        <i class="fa fa-8x fa-shopping-cart"></i>
                        <p>Sorties - Décaissements</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9"></div>
                            <div class="col-xl-1 col-lg-2 col-2">
                               <span class="btn fa fa-2x fa-cog" @click="paramAchat = true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- RH & Tiers lyderic -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="card card-module">                    
                    <div class="card-body text-center" @click="accessRH()">
                        <h3>RH & LES TIERS</h3>

            
                        <i class="fa fa-8x fa-users"></i>
                        <p>Clients - Fournisseurs - Le Personnel - Sécurité Sociale - Etat - Autres</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9"></div>
                            <div class="col-xl-1 col-lg-2 col-2">
                               <span class="btn fa fa-2x fa-cog" @click="openParamRH"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CRM -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="card card-module">
                    <div class="card-body text-center">
                        <h3>CRM</h3>
                        <i class="fa fa-8x fa-id-card"></i>
                        <p>Relation Clients</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9"></div>
                            <div class="col-xl-1 col-lg-2 col-2">
                               <span class="btn fa fa-2x fa-cog" @click="paramCrm = true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- Stock -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="card card-module">
                    <div class="card-body text-center">
                        <h3>STOCKS</h3>
                        <i class="fa fa-8x fa-cubes"></i>
                        <p>Gestions de Stocks</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9"></div>
                            <div class="col-xl-1 col-lg-2 col-2">
                               <span class="btn fa fa-2x fa-cog" @click="paramStock = true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Documents -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="card card-module">
                    <div class="card-body text-center">
                        <h3>DOCUMENTS</h3>
                        <i class="fa fa-8x fa-folder-open"></i>
                        <p>Gestion des Documents & Courriers</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9"></div>
                            <div class="col-xl-1 col-lg-2 col-2">
                               <span class="btn fa fa-2x fa-cog" @click="paramDoc = true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Finances -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="card card-module">
                    <div class="card-body text-center">
                        <h3>FINANCES</h3>
                        <i class="fa fa-8x fa-university"></i>
                        <p>Fiscalité - Banques - Gestion</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9"></div>
                            <div class="col-xl-1 col-lg-2">
                               <span class="btn fa fa-2x fa-cog" @click="paramFin = true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals Paramétrages -->
    <el-dialog title="Articles Paramètres" :visible.sync="paramArticle" width="85%" :before-close="handleClose">
        <div class="row">
            <div class="col-12">
                <el-tabs type="border-card" :stretch="true">
                    <!-- formulaire input -->
                    <el-tab-pane label="Article Vente">
                        <ArticleVente />
                    </el-tab-pane>
                    <el-tab-pane label="Article Achat">
                        <ArticleAchat />
                    </el-tab-pane>
                    <el-tab-pane label="Paramètres Généraux">
                        <ArticleParam />
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handleClose">Fermer</el-button>
        </span>
    </el-dialog>
    <el-dialog title="Ventes Paramètres" :visible.sync="paramVente" width="85%" :before-close="handleClose">
        <span>Ceci est un message</span>
        <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">Fermer</el-button>
        </span>
    </el-dialog>
    <el-dialog title="Achat Paramètres" :visible.sync="paramAchat" width="85%" :before-close="handleClose">
        <span>Ceci est un message</span>
        <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">Fermer</el-button>
        </span>
    </el-dialog>
    <el-dialog title="RH et Tiers Paramètres" :visible.sync="paramRh" width="85%" :before-close="handleClose">
         <div class="row">
            <div class="col-12">
                <el-tabs type="border-card" :stretch="true">
                    <el-tab-pane label="Client">
                      <!-- ajout form -->
                        <RhClient />                 
                    </el-tab-pane>

                    <!-- ajout des données fournisseur -->
                    <el-tab-pane label="Fournisseur">
                        <RhFournisseur />  
                    </el-tab-pane>
                    <el-tab-pane label="Paramètres Généraux">
                        
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handleClose">Fermer</el-button>
        </span>
    </el-dialog>
    <el-dialog title="CRM Paramètres" :visible.sync="paramCrm" width="85%" :before-close="handleClose">
       
        <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">Fermer</el-button>
        </span>
    </el-dialog>
    <el-dialog title="Stock Paramètres" :visible.sync="paramStock" width="85%" :before-close="handleClose">
        <span>Ceci est un message</span>
        <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">Fermer</el-button>
        </span>
    </el-dialog>
    <el-dialog title="Documents Paramètres" :visible.sync="paramDoc" width="85%" :before-close="handleClose">
        <span>Ceci est un message</span>
        <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">Fermer</el-button>
        </span>
    </el-dialog>
    <el-dialog title="Finances Paramètres" :visible.sync="paramFin" width="85%" :before-close="handleClose">
        <span>Ceci est un message </span>
        <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">Fermer</el-button>
        </span>
    </el-dialog>
    <!-- End Modals Paramétrages -->
</div>
</template>
<script>
import  ErpModel from './models/erp';
// Settings
import ArticleVente from './settings/article-vente'
import ArticleAchat from './settings/article-achat'
import ArticleParam from './settings/article-param'
import RhClient from './settings/rh-client'
import RhFournisseur from './settings/rh-fournisseur';

export default {
    components: {
        ArticleVente,
        ArticleAchat,
        ArticleParam,
        RhClient,
        RhFournisseur
    },
    data() {
        return {
            activeNames: ['1'],
            load: true,
            paramArticle: false,
            paramVente: false,
            paramAchat: false,
            paramRh: false,
            paramCrm: false,
            paramStock: false,
            paramDoc: false,
            paramFin: false,
    
            projectID: JSON.parse(localStorage.getItem('userSession')).projet,
        }
    },
    created() {
        this.$loading().close();
    },
    methods: {
        accessRH() {
            this.$router.push({name: 'erp-tiers-dashboard'})
        },
        accessArticle() {
            this.$router.push({name: 'erp-articles-dashboard'})
        },
        accessVente() {
            this.$router.push({name: 'erp-ventes-dashboard'})
        },
        accessAchat() {
            this.$router.push({name: 'erp-achat-dashboard'})
        },
        handleClose() {
            // Closing all modals
           this.paramArticle = false;
           this.paramVente = false;
           this.paramAchat = false;
           this.paramRh = false;
           this.paramCrm = false;
           this.paramStock = false;
           this.paramDoc = false;
           this.paramFin = false;

           this.load = true;
        },
        // Modal Article Paramètres
        async openParamArticle() {
            ErpModel.ifSubCollectionExist('params', this.projectID, 'formArticleVente').then((res) => {
                if(res === 0) {
                    ErpModel.setModelArticleAchat(this.projectID)
                    ErpModel.setModelArticleVente(this.projectID)
                }
                this.paramArticle = true;
            })
        },
        async openParamRH() {
            ErpModel.ifSubCollectionExist('params', this.projectID, 'formRhClient').then((res) => {
                if(res === 0) {
                    ErpModel.setModelClient(this.projectID)
                    ErpModel.setModelFournisseur(this.projectID)
                }
                this.paramRh = true;
            })
        },
      
        // Modification du model Article Vente
      
        updateClientModel() {
            this.load = true;
            var id = this.formModelClient.id
            delete this.formModelClient.id
            ClientModel.udpateClientModel(this.projectID, id, this.formModelClient).then(() => {
                this.getModelFormsRH();
                 this.load = false;
            })
        },
         updateFournisseurModel() {
            this.load = true;
            var id = this.formFournisseurModel.id
            delete this.formFournisseurModel.id
            FournisseurModel.udpateFournisseurModel(this.projectID, id, this.formFournisseurModel).then(() => {
                this.getModelFormsRH();
            })
        }
    }
}
</script>
<style scoped>
  .mini-sidebar .page-wrapper {
        margin-left: 0 !important;
    }
    .container-fluid{
        margin: 10px;
    }
    h1{
        opacity: .5;
    }
    .card-footer {
        background-color: transparent !important;
        border-top: none !important;
    }
    .material-icons{
        font-size: 7.5em;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h2{
        color: black;
        font-style: italic;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 30px;
    }
    img{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 40px;
        display: block;
        width: 50%;
        height: 80px;
    }
    p{
        font-size: 12px;
    }
    i{
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .card-module:hover {
        cursor: pointer;
        border-radius: 10px !important;
        background-color: rgb(72, 138, 224);
        color: white !important;
       
    }
    .card-module:hover h3 {
        color: white !important;
    }
    .card-module h3 {
        font-size: 2.2rem;
    }
    .card-module:hover p {
         font-weight: bolder;
    }
    .card-module{
        height: 95% !important;
        border-radius: 10px !important;
    }
    .card-module p {
        font-size: 16px;
    }
    .page-wrapper {
        padding-left: 0 !important;
    }

    .is-active{
        background-color: #409EFF !important;
        color: white !important;
        font-weight: bold !important;
    }
    @media (max-width: 992px) {
        i {
            font-size: 3rem !important;
        }
        p{
            display: none;
        }
    }
    @media (max-width: 768px) {
        i {
            font-size: 5rem !important;
        }
        h3{
            font-size: 10px;
        }
    }

    @media (max-width : 784px){
        h3{
            font-size: 8px;
        }
    }
    
    @media (max-width: 1200px) {
        i {
            font-size: 5rem !important;
        }
        h3{
            font-size: 20px !important;
        }
         p{
            display: none;
        }
    }

   
</style>