<template>
   <div class="page-wrapper">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-xl-11 col-lg-11 col-md-11 col-10">
                <h1>Tableau de Bord</h1>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-2">
                <i class="fa header fa-cog fa-3x"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 mb-4">
                <el-card shadow="hover" class="box-card card-autre" @click.native="accesFacturation()">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title"><strong>Facturation</strong></h2>
                  </div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                </el-card> 
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 mb-4">
                 <el-card shadow="hover" class="box-card card-autre">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title"><strong>Recettes</strong></h2>
                  </div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                </el-card> 
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 mb-4">
                 <el-card shadow="hover" class="box-card card-autre" @click.native="accesReglement()">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title"><strong>Les Règlements</strong></h2>
                  </div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                </el-card> 
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 mb-4">
                 <el-card shadow="hover" class="box-card card-autre">
                  <div class="d-flex justify-content-center">
                      <h2  class="card-title"><strong>Effectuer des opérations</strong></h2>
                  </div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                  <div>item1</div>
                  <div>item2</div>
                </el-card> 
            </div>
        </div>
    </div>
   </div>
</template>
<script>
export default {
    data() {
        return {
            
        }
    },
    created() {
        this.$loading().close();
    },
    methods: {
        accesFacturation() {
            this.$router.push({name: 'erp-ventes-facturation'})
        },
        accesReglement() {
            this.$router.push({name: 'erp-ventes-reglement'})
        }
    },
}
</script>
<style>
.box-card{
    height: 100% !important;
    margin-bottom: 10px !important;
    border-radius: 20px !important;
}
.box-card:hover{
    cursor: pointer;
}
@media (max-width: 576px) {
    h1{
        font-size: 18px !important;
        font-weight: bold;
    }
    .container-fluid{
        margin-top: 80px;
    }
    i.header{
        font-size: 2rem;
    }
}
</style>