<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-xl-10 col-lg-10 col-md-10 col-10">
                    <h1 class="text-themecolor">Tableau de Bord</h1>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-1"><i class="fa header fa-cog fa-3x i-roue"></i></div>
            </div>
        </div>

        <!-- body -->
        <div class="row">
           <div class="card-body main-section">       
                <div class="nav-header">
                <!-- Navigation -->
                    <div class="row">
                        <nav class="col-12 head-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><i class="fa fa-circle mr-1"></i> <a href="#">1-Devis</a> </li>
                                <li class="breadcrumb-item"><i class="fa fa-circle mr-1"></i><a href="#">2-Bon de commande</a> </li>
                                <li class="breadcrumb-item"><i class="fa fa-circle mr-1"></i><a href="#"> 3-Bon de livraison</a></li>
                                <li class="breadcrumb-item"><i class="fa fa-circle mr-1"></i><a href="#">4-Facture</a></li>
                                <li class="breadcrumb-item"><i class="fa fa-circle mr-1"></i><a href="#">Autres</a> </li>
                            </ol>  
                        </nav>    
                    </div>
                </div>    
                     

                <!-- select model form -->
                    <div class="mt-2 row col-12">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 mb-2 col-12">
                           <select class="form-control" id="exampleFormControlSelect1">
                                <option>Selectionner le model de facture d'Avoir</option>
                                <option>2</option>
                                <option>3</option>
                          </select>
                        </div>    
                         <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 mb-2 ml-auto">
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Recherche" aria-label="Recherche" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- cards pdf -->
                    <div class="row mt-3">
                        <div class="col-12 card-group">
                            <div class="row col-12">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                                    <div class="shadow card bg-light mb-3 card-pdf">    
                                        <div class="card-body">
                                            <img src="https://play-lh.googleusercontent.com/nufRXPpDI9XP8mPdAvOoJULuBIH_OK4YbZZVu8i_-eDPulZpgb-Xp-EmI8Z53AlXHpqX" alt="" class="img-responsive imd-pdf">
                                        </div>
                                        <div class="card-footer"><P>CONCEPTION GRAPHIQUE</P></div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                                    <div class="shadow card mb-3 card-pdf">    
                                        <div class="card-body">
                                          <img src="https://play-lh.googleusercontent.com/nufRXPpDI9XP8mPdAvOoJULuBIH_OK4YbZZVu8i_-eDPulZpgb-Xp-EmI8Z53AlXHpqX" alt="" class="img-responsive imd-pdf">
                                        </div>
                                        <div class="card-footer"><P>FORMATION GRATUITE SUR LES OUTILS COLLABORATIFS DE TRAVAIL</P></div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                                    <div class="shadow card mb-3 card-pdf">    
                                        <div class="card-body">
                                          <img src="https://play-lh.googleusercontent.com/nufRXPpDI9XP8mPdAvOoJULuBIH_OK4YbZZVu8i_-eDPulZpgb-Xp-EmI8Z53AlXHpqX" alt="" class="img-responsive imd-pdf">
                                        </div>
                                        <div class="card-footer"><P>DEPANNAGE DE SPLIT</P> </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                                    <div class="shadow card bg-light mb-3 card-pdf">    
                                        <div class="card-body">
                                            <img src="https://play-lh.googleusercontent.com/nufRXPpDI9XP8mPdAvOoJULuBIH_OK4YbZZVu8i_-eDPulZpgb-Xp-EmI8Z53AlXHpqX" alt="" class="img-responsive imd-pdf">
                                        </div>
                                        <div class="card-footer"> 
                                            <P>ACHAT DE BUREAUTIQUE</P>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <hr>
                <!-- tableau -->
                    <div class="row col-12">
                        <div class=" col-12 table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">CCODE</th>
                                    <th scope="col">Nom de la facture d'Avoir</th>
                                    <th scope="col">Nom de****</th>
                                    <th scope="col">Nom de****</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">FRO1235</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">FRO1235</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                    <th scope="row">FRO1235</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    
</template>
<script>
export default {
    data() {
        return {
            
        }
    },
    created() {
        this.$loading().close();
    },
    methods: {
        
    },
}
</script>

<style>
    .main-section{
        background: rgb(255, 255, 255);
    }
    .card-pdf{
        height: 300px !important;
        margin: 0 !important;
    }
    .breadcrumb{
        background: rgba(178, 217, 253, 0.952) !important;
    }

    nav a{
        color: #0000006e !important;
        font-weight: 600 !important;
        /* padding: 5px !important; */
    }

    nav .fa-circle{
        color: #0000006e !important;
    }
    .card{
        margin: .5rem !important;
    }

    .card-body {
        padding: 0 !important;
        position: relative;
        height: 20%;
    }

    .imd-pdf{
        border-style: none;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .card-text:last-child{
        color: #000 !important;
    }

    .card-footer:last-child {
        background: #fff !important;
    }

    .card-group .card:first-child, .card-group .card:not(:first-child):not(:last-child) {
        border: 1px solid rgb(0 0 0 / 36%);
        border-radius: 2% !important;
    }

    .card-footer p{
        color: #000 !important;
        font-size: .8rem !important;
    }

    thead{
        background: rgb(122, 122, 122) !important;
        color: #fff !important;
    }
    .table-bordered td, .table-bordered th {
        border: 2px solid #e6e6e6 !important;
    }

    /* font-size police screen*/
    @media (max-width: 559px){
        html body .text-themecolor {
            font-size: 1.2rem !important;
        }

        .i-roue{
            font-size: 25px;
        }
    }
</style>