<template>
    <div class="page-wrapper monbackgroun">
        <div class="container-fluid">
            <div class="row page-titles ">
                <div class="col-5 align-self-center mb-2">
                    <h3 class="text-themecolor">Règlement</h3>
                </div>  
                <div class="col-7 align-self-center">
                    <div class="col-xl-1 ml-auto col-lg-1 col-md-1 col-1"><i class="fa header fa-cog fa-3x param"></i></div>
                    
                </div>
            </div>
                <div class="row">
                    <div class="col-6">
                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <button type="button" @click="open" class="btn btn-success">Ajouter un nouveau règlement</button>
                         </div>
                   </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 ml-auto">
                        <div>
                            <el-input placeholder="Recherche un Règlement" v-model="input"></el-input>
                        </div>
                    </div>
                 
                 
                </div>
        </div>
          <div class="row">
                    <div class="mb-1 col-12 col-4 col-xl-3 col-md-3 col-lg-3 col-sm-3">
                        <span class=" widge"> Montant perçu</span>
                      
                    </div>
                    <div class="mb-1 col-12 col-4 col-xl-3 col-md-3 col-lg-3 col-sm-3">
                        <span class=" widge"> Montant perçu</span>

                    </div>
                    <div class="mb-1 col-12 col-4 col-xl-3 col-md-3 col-lg-3 col-sm-3">
                        <span class=" widge"> Montant perçu</span>

                    </div>
                    <div class="mb-1 col-12 col-4 col-xl-3 col-md-3 col-lg-3 col-sm-3">
                        <span class=" widge"> Montant perçu</span>
                    </div>
            </div>

            <div class="row mt-4 mb-4 mr-1 ml-1 messelect">
                    <div class="col-12 col-sm-6 col-xl-2 mb-3">Date<br>
                        <select id="cars" name="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                     <div class="col-12 col-sm-6 col-xl-2 mb-3">Clients <br>
                          <select id="cars" name="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                     </div>
                     <div class="col-12 col-sm-6 col-xl-2 mb-3">Statut <br>
                          <select id="cars" name="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-2 mb-3">Article <br>
                         <select id="cars" name="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-2 mb-3">Vendeur <br>
                         <select id="cars" name="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                     </div>
                    <div class="col-12 col-sm-6 col-xl-2 mb-3">Article <br>
                         <select id="cars" name="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
            </div>
                   <div class="row">
                        <div class="col">
                            <div class="row">
                                        <div class="col-12">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Reférence</th>                                                               
                                                        <th>Libellé du Reglement</th>
                                                        <th>Paiement</th> 
                                                        <th >Montant perçu</th>  
                                                        <th>Montant Restant</th>
                                                        <th>Document</th>
                                                        <th>client</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                         <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                     <tr>
                                                        <td>1</td>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                     <tr>
                                                        <td>1</td>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                     <tr>
                                                        <td>1</td>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                     <tr>
                                                        <td>1</td>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Jacob</td>
                                                        <td>tdornton</td>
                                                        <td>@fat</td>
                                                        <td>@fat</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Larry the Bird</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center">@okay</td>
                                                    </tr>
                                                         <tr>
                                                        <td>3</td>
                                                        <td>Larry the Bird</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center">@okay</td>
                                                    </tr>
                                                         <tr>
                                                        <td>3</td>
                                                        <td>Larry the Bird</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center">@okay</td>
                                                    </tr>
                                                         <tr>
                                                        <td>3</td>
                                                        <td>Larry the Bird</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center">@okay</td>
                                                    </tr>
                                                         <tr>
                                                        <td>3</td>
                                                        <td>Larry the Bird</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center">@okay</td>
                                                    </tr>
                                                         <tr>
                                                        <td>3</td>
                                                        <td>Larry the Bird</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center">@okay</td>
                                                    </tr>
                                                         <tr>
                                                        <td>3</td>
                                                        <td>Larry the Bird</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@twitter</td>
                                                        <td>@mdo</td>
                                                        <td>@mdo</td>
                                                        <td class="text-center">@okay</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div> 
                        </div>
                    </div>
       
    </div>

</template>
<script>
export default {
    data() {
        return {
            
        }
    },
    created() {
        this.$loading().close();
    },
    methods: {
        
    },
}
</script>
<style>
#cars{
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    width: 100%!important;
    height: 30px !important;
    border-color: rgba(181, 213, 241, 0.671)!important;
}
.monbackgroun{
    background-color: #ffff;
}
.widge{
    display: block !important;
    background-color: rgba(181, 213, 241, 0.671) !important;
    height: 160px !important;
    padding: 50px 50px!important;
    text-align: center !important;
    font-weight: bold !important;
    border-radius: 3px !important;
}
.messelect{
    background-color: rgba(243, 239, 225, 0.363) !important;
    margin-bottom: 20px !important;
}
.stat{
  text-align: left !important;
}
thead{
    background-color: rgba(181, 213, 241, 0.671) !important;
    border: 1px solid rgb(116, 112, 112) !important;
}
tr,td,th{
    border: 1px solid #fff !important;

}
.param{
    font-size: 22px !important;
    color: #007bff !important;
}
/* [class*="col-"] {
  width: 100%;
} */
</style>