<template>
    <div class="page-wrapper">
         <div class="container-fluid">
            <div class="row page-titles mt-4">
                <div class="col-xl-5 col-lg-5 col-md-6 col-12">
                    <h3 class="text-themecolor titre-erp">Organismes <small>({{ organismes.length}})</small></h3>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6 col-12 ml-auto">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'erp-home'}">ERP</router-link>
                        </li>
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'erp-tiers-dashboard'}">Tableau de Bord</router-link>
                        </li>
                        <li class="breadcrumb-item">Organismes</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" style="padding: 15px;">
                                <div class="row mb-3">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-12">
                                        <button type="submit" data-toggle="modal" @click="openModal = true" data-whatever="test" class="btn btn-info btn-rounded">
                                            <i class="fa fa-plus"></i>Ajouter un Organisme
                                        </button>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                                        <el-input placeholder="Rechercher..."></el-input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <!-- v-loading="loading" a mettre juste en bas data-tables -->
                                        <data-tables
                                            
                                            element-loading-text="Chargement..."
                                            element-loading-spinner="el-icon-loading"
                                            :filters="filters"
                                            :data="organismes" 
                                            :current-page="1"
                                            :page-size="10"
                                            :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                            >
                                            <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                            </el-table-column>
                                            <el-table-column label="Actions">
                                                <!-- pour preciser qu'on est sur l'élément actuel = scope -->
                                                    <template slot-scope="scope">
                                                    <el-button
                                                        @click="editRow(scope.row)"
                                                        type="primary"
                                                        size="mini"
                                                        icon="el-icon-edit" circle>
                                                    </el-button>
                                                    <el-button
                                                        @click="deleteRow(scope.row.id, scope.$index)"
                                                        size="mini"
                                                        type="danger"
                                                        icon="el-icon-delete" circle>
                                                    </el-button>
                                                </template>
                                            </el-table-column>
                                        </data-tables>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
             <!-- Modal -->
        <el-dialog :visible.sync="openModal" width="80%" :before-close="handleClose" top="2vh" :close-on-click-modal="false">
            <!-- v-loading='loading' div juste en bas -->
            <div>
                <el-form ref="form" label-width="auto" label-position="right">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6">
                            <h5 :style="{color: 'rgb(185 167 4 / 90%)'}"><i class="fa fa-shopping-cart"></i> Ajouter un Organisme</h5>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12 mb-1">
                            <div class="header-title">
                                Résumé de la Fiche 
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-9 col-md-9 col-10">
                            <el-form-item class="no-mar-left">
                                <el-radio-group v-model="newOrganisme.type">
                                    <el-radio label="Securite">Sécurité social</el-radio>
                                    <el-radio label="impot">Impôt</el-radio>
                                    <el-radio label="mairie">Mairie</el-radio>
                                    <el-radio label="tresor">Trésor Public</el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </div>
                    </div>
                    <FormPartOne ref="formPartOne" :model="model" :newOrganisme="newOrganisme" :validations="$v"/>
                    <div class="row">
                        <div class="col-1 ml-auto">
                            <div class="btn-close" v-if="!plus" @click="$refs.formPartTwo.hideSection(), switchAction()"><i class="far fa-2x fa-minus-square"></i></div>
                            <div class="btn-close" v-if="plus" @click="$refs.formPartTwo.hideSection(), switchAction()"><i class="far fa-2x fa-plus-square"></i></div>
                        </div>
                    </div>
                    <FormPartTwo ref="formPartTwo" :model="model" :newOrganisme="newOrganisme" :validations="$v"/>            
                </el-form>
            </div>
            <span v-if="submitMode" slot="footer" class="dialog-footer">
                <el-button v-if="editMode==false" :loading="true" type="primary">Enregistrer</el-button>
                <el-button v-if="editMode==true" :loading="true" type="success">Modifier</el-button>
                <el-button type="danger">Annuler</el-button>
            </span>
            <!-- mettre le loader -->
            <span v-if="!submitMode" slot="footer" class="dialog-footer">
                <el-button v-if="editMode==false" type="primary">Enregistrer</el-button>
                <el-button v-if="editMode==true" type="success" @click="updateClient" >Modifier</el-button>
                <el-button type="danger" @click="handleClose">Annuler</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
import ErpModel from '../models/erp';
import { required , minLength, email, maxLength, numeric } from 'vuelidate/lib/validators'
import { Notification } from "element-ui";
import FormPartOne from '../components/autres/formPartOne';
import FormPartTwo from '../components/autres/formPartTwo';

export default {
    components: {FormPartOne, FormPartTwo},
    data() {
        return {
            client : {}, //pour la mise à jour
            organismes : [],
            model: {},
            loading: true,
            plus : false,
            openModal: false,
            editMode:false,
            submitMode: false,
            tableTitles: [
                {
                    prop: "type",
                    label: "Type",
                    width: "120"
                }, 
                {
                    prop: "matricule",
                    label: "Matricule",
                    width: "120"
                }, 
                {
                    prop: "nom",
                    label: "Nom(s)",
                    width: "150"
                },
                {
                    prop: "prenom",
                    label: "Prénom(s)",
                    width: "150"
                },
                {
                    prop: "typeContrat",
                    label: "Contrat",
                     width: "150"
                },

                {
                    prop: "email",
                    label: "Email",
                     width: "150"
                },
                {
                    prop: "mobileSure",
                    label: "Téléphone",
                     width: "150"
                },
            ],
            filters: [
                {
                    prop: ['type','nom','quartier','ville'],
                    value: '',
                }
            ],
             newOrganisme: {
                matricule: "",
                type:"Particulier",
                nom: "",
                prenom: "",
                typeContrat: "",
                email: "",
                poste: "",
                adresse: "", 
                codePostal: "",
                ville: "",
                pays: "",
                quartier: "",
                arrondissement: "",
                region: "",
                province: "",
                mobileSure: "",
                tel1: "",
                tel2: "",
                emails: "",
                note: "",
                image: ""
            },
              validations:{
                 newOrganisme: {
                    nom:{required},
                    prenom:{required},
                    typeContrat:{required},
                    email:{required, email},
                    poste:{required},
                    mobileSure:{required, numeric, maxLength: maxLength(9), minLength: minLength(9)},
        } 
    },
            
        }
    },
    created() {
        this.$loading().close();
    },
    methods: {
         handleClose() {
            // vider les champs de la modale apres modification
            this.openModal = false;
                this.newOrganisme={
                matricule: "",
                type:"Particulier",
                nom: "",
                prenom: "",
                typeContrat: "",
                email: "",
                poste: "",
                adresse: "", 
                codePostal: "",
                ville: "",
                pays: "",
                quartier: "",
                arrondissement: "",
                region: "",
                province: "",
                mobileSure: "",
                tel1: "",
                tel2: "",
                emails: "",
                note: "",
            }
            this.editMode=false;
            this.submitMode = false;
            
        },
    },
}
</script>
<style>
.titre-erp{
    font-weight: bold;
    color: #1e58b3;
    font-size: 30px!important;
}
.el-radio__input.is-checked .el-radio__inner{
    background: rgba(240, 226, 103, 0.897)!important;
}
.el-radio__input.is-checked+.el-radio__label{
    color: rgb(48, 51, 50)!important;
}
.breadcrumb-item{
    font-weight: bold;
}
.material-icons-outlined {
    font-family: "Material Icons Outlined";
    color: #ffff !important;
}
.mini-sidebar .page-wrapper {
        margin-left: 0 !important;
    }
    .el-select{
        width: 100%;
    }
    .add-champ{
        width: 100%;
    }
    .header{
        /* background:rgba(240, 226, 103, 0.897)!important; */
        border: 1px solid #DCDFE6;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12),0 0 6px 0 rgba(0,0,0,.04);
        padding: 2%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .img {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
    }
    i:hover{
        cursor: pointer;
        color: rgba(240, 226, 103, 0.897);
    }
    th .cell{
        font-weight: bold;
    }
    .tools{
        font-size: 1rem;
    }
    .btn-icon{
        font-size: 1.5rem;
    }
    .full {
    width: 100% !important;
    }
    .img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    }
    .is-active {
    background-color:  rgba(240, 226, 103, 0.897) !important;
    /* color: white !important; */
    color: black!important;
    font-weight: 900 !important;
    }
    .no-mar-left .el-form-item__content {
    margin-left: 0 !important;
    }
    .no-pad-lr {
    padding-right: 0 !important;
    }
    .no-mar-left .el-form-item__label-wrap {
    margin-left: 0 !important;
    }

    .header-title {
    background-color: rgba(240, 226, 103, 0.897) !important;
    color: black !important;
    font-weight: 900 !important;
    padding: 3%;
    }
    .el-form-item {
    margin-bottom: 0 !important;
    }
    .header {
    padding-top: 2%;
    background: rgb(220 209 110 / 90%)!important;
    border: 1px solid #dcdfe6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    }
    .disabled {
    background-color: #d4d3d361 !important;
    }
    .param-text:hover {
    cursor: pointer;
    color: rgb(89, 104, 124) !important;
    }
    input::placeholder {
    font-weight: bolder;
    text-align: right !important;
    }
    .pourcentage::placeholder {
    text-align: center !important;
    }
    .el-radio__label {
    font-size: 21px !important;
    }

    .el-form-item__label{
        color: black !important;
    }
    .el-dialog__body {
    background: rgb(238, 242, 245) !important;
    padding-top: 5px !important;
    }
    .b-black {
    background: rgba(87, 88, 89, 0.31) !important;
    color: black !important;
    font-weight: bold !important;
    }
    .b-blue {
    background: rgba(197, 220, 242, 0.83) !important;
    }
    .w-30 {
    width: 30% !important;
    }
    .w-input {
    width: 50% !important;
    }
    .w-20 {
    width: 20% !important;
    }
    .el-dialog__header {
    padding: 10px 10px !important;
    background: rgb(238, 242, 245) !important;
    }
    .el-dialog__footer {
    padding: 5px 10px 10px !important;
    background: rgb(238, 242, 245) !important;
    }

    .btn-close:hover {
    cursor: pointer;
    }
    /* mon code css */

    @media only screen and (max-width: 600px) {
    .header-title {
        font-size: 12px !important;
    }
    .param-text span {
        display: none !important;
    }
    h4 {
        font-size: 10px !important;
    }
    .el-form-item__label-wrap {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }
    .el-form-item__content {
        margin-left: 0 !important;
    }
    .el-input--small {
        margin-top: 0 !important;
    }
    .second-section {
        margin-top: 15px;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
    }
    .el-form-item__label {
        margin-bottom: -6px;
    }
    p {
        margin-top: 15px;
    }
    }
    p {
    font-style: italic;
    opacity: 0.5;
    }
    .second-section {
    margin-left: 102px;
    }
    @media (max-width: 576px) {
        #params .el-dialog {
            width: 90% !important;
        }
        .container-fluid{
            margin-top: 80px !important;
        }
        .btn-close{
                margin-left: -20px !important;
        }
        }
</style>