<template>
    <div class="page-wrapper">
        <div class="container-fluid"><br><br>
            <div class="row page-titles">
                <div class="col-xl-5 col-lg-6 col-12 align-self-center mb-3">
                    <h3 class="titre-erp">Tableau de bord</h3>
                </div>
                <div class="col-xl-7 col-lg-8 col-12 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'erp-home'}">ERP</router-link>
                        </li>
                        <li class="breadcrumb-item">Tableau de bord</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg- col-md-6 col-12 mb-3">
                    <el-card shadow="hover" class="box-card card-client" @click.native="accesClient()">
                        <div class="d-flex justify-content-center">
                            <h4  class="card-title"><strong>Clients ({{ nbrClients }}) </strong></h4>
                        </div>
                        <highcharts :options="chartOptions1"></highcharts>
                    </el-card>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-3">
                    <el-card shadow="hover" class="box-card card-fournisseur" @click.native="accessFourni()">
                        <div class="d-flex justify-content-center" >
                            <h4  class="card-title"><strong>Fournisseurs ({{ nbrFournisseur }}) </strong> </h4>
                        </div>
                        <highcharts :options="chartOptions2"></highcharts>
                    </el-card>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-3">
                    <el-card shadow="hover" class="box-card card-personnel" @click.native="accessPersonnel()">
                        <div class="d-flex justify-content-center">
                            <h4  class="card-title"><strong>Personnels</strong></h4>
                        </div>
                        <highcharts :options="chartOptions3"></highcharts>
                    </el-card>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-3">
                    <el-card shadow="hover" class="box-card card-autre" @click.native="accessAutres()">
                        <div class="d-flex justify-content-center">
                            <h4  class="card-title"><strong>Autres (Sécurité Sociale - Etat)</strong></h4>
                        </div>
                        <highcharts :options="chartOptions4"></highcharts>
                    </el-card>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ErpModel from '../models/erp';
import Highcharts from 'highcharts'
import HighchartsVue from 'highcharts-vue'
// import clients from '../tiers/clients.vue'
Vue.use(HighchartsVue, {
highcharts: Highcharts
})
export default {
    // components: {
    //     clients,
    // },
  props: { Highcharts
  },
    data() {
        return {
            stateClient: [],
            stateFournisseurs: [],
            projetId: JSON.parse(localStorage.getItem('userSession')).projet,
            nbrClients: 0 ,
            nbrFournisseur: 0,
            chartOptions1: {
                chart: {
                    margin: [100, 50],
                    spacingBottom: 40,
                    type: "column"
                },
                title: {
                    style: {
                        display: 'none'
                    }
                },
               xAxis: {
                    type: "category"
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                series: {
                    borderWidth: 0,
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: [
                    {
                        name: "Gestion Compte",
                        data: []
                    }
                ]
            },

            chartOptions2: {
                chart: {
                    margin: [100, 50],
                    spacingBottom: 40,
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    style: {
                        display: 'none'
                    }
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                  plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [
                         {
                            name: 'ERP Finance',
                            // colorByPoint: true,
                            data: []
                        }
                            ],
                // responsive: {
                     
                //     rules: [{
                //         condition: {
                //             maxWidth: 500,

                //         },
                //         chartOptions: {
                //             legend: {
                //                 align: 'center',
                //                 verticalAlign: 'center',
                //                 layout: 'horizontal'
                //             },
                //             yAxis: {
                //                 labels: {
                //                     align: 'left',
                //                     x: 0,
                //                     y: -5
                //                 },
                //                 title: {
                //                     text: null
                //                 }
                //             },
                //             subtitle: {
                //                 text: null
                //             },
                //             credits: {
                //                 enabled: false
                //             }
                //         }
                //     }]
                // }
            },
            chartOptions3: {
                chart: {
                    margin: [100, 50],
                    spacingBottom: 40,
                     type: "area"
                },
                title: {
                    style: {
                        display: 'none'
                    }
                },
                  xAxis: {
                    allowDecimals: false,
                    labels: {
                    formatter: function() {
                        return this.value; // clean, unformatted number for year
                    }
                    }
                },
                yAxis: {
                    title: {
                    text: "Nuclear weapon states"
                    },
                    labels: {
                    formatter: function() {
                        return this.value / 1000 + "k";
                    }
                    }
                },
                tooltip: {
                    pointFormat:
                    "{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}"
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    area: {
                    pointStart: 1940,
                    marker: {
                        enabled: false,
                        symbol: "circle",
                        radius: 2,
                        states: {
                        hover: {
                            enabled: true
                        }
                        }
                    }
                    }
                },
                    series: [
                  {
                    name: "Salariés BTP",
                    data: [
                        null,
                        null,
                        null,
                        null,
                        null,
                        6,
                        11,
                        32,
                        110,
                        235,
                        369,
                        640,
                        1005,
                        1436,
                        2063,
                        3057,
                        4618,
                        6444,
                        9822,
                        15468,
                        20434,
                        24126,
                        27387,
                        29459,
                        31056,
                        31982,
                        32040,
                        31233,
                        29224,
                        27342,
                        26662,
                        26956,
                        27912,
                        28999,
                        28965,
                        27826,
                        25579,
                        25722,
                        24826,
                        24605,
                        24304,
                        23464,
                        23708,
                        24099,
                        24357,
                        24237,
                        24401,
                        24344,
                        23586,
                        22380,
                        21004,
                        17287,
                        14747,
                        13076,
                        12555,
                        12144,
                        11009,
                        10950,
                        10871,
                        10824,
                        10577,
                        10527,
                        10475,
                        10421,
                        10358,
                        10295,
                        10104
                    ]
                },
                        ],
                responsive: {
                     
                    rules: [{
                        condition: {
                            maxWidth: 500,

                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'center',
                                layout: 'horizontal'
                            },
                            //  plotOptions:{
                            //      margin:[100]
                            //  },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            },
            chartOptions4: {
                chart: {
                    margin: [100, 50],
                    spacingBottom: 40,
                    type: "column"
                },
                title: {
                    style: {
                        display: 'none'
                    }
                },
               xAxis: {
                    type: "category"
                },
                legend: {
                    enabled: false
                },
               plotOptions: {
                    series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true
                    }
                    }
                },
                series: [
                         {
                        name: "Gestion Compte",
                        data: [
                            {
                            name: "Apple",
                            y: 5,
                            drilldown: "Apple"
                            },
                            {
                            name: "Google",
                            y: 2,
                            drilldown: "Google"
                            },
                            {
                            name: "Samsung",
                            y: 4,
                            drilldown: "Samsung"
                            }
                        ]
                                }
                            ],

                            drilldown: {
                                series: [
                                {
                                    id: "animals",
                                    data: [["Cats", 4], ["Dogs", 2], ["Cows", 1], ["Sheep", 2], ["Pigs", 1]]
                                },
                                {
                                    id: "fruits",
                                    data: [
                                    {
                                        name: "Apples",
                                        y: 4
                                    },
                                    {
                                        name: "Oranges",
                                        y: 2,
                                        drilldown: "third-leves"
                                    }
                                    ]
                                },
                                {
                                    id: "cars",
                                    data: [["Toyota", 4], ["Opel", 2], ["Volkswagen", 2]]
                                },
                                {
                                    id: "third-leves",
                                    data: [["Toyota", 4], ["Opel", 2], ["Volkswagen", 2]]
                                }
                                ]
                            },
                responsive: {
                     
                    rules: [{
                        condition: {
                            maxWidth: 500,

                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'center',
                                layout: 'horizontal'
                            },
                            //  plotOptions:{
                            //      margin:[100]
                            //  },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            },
            
        }
    },
    methods: {
        // fonction de recuperation des types de données tableaux
        getState(){
             this.chartOptions1.series[0].data=[
                            {
                            name: "Particulier",
                            y: 0,
                            drilldown: "Particulier"
                            },
                            {
                            name: "Professionnel",
                            y: 0,
                            drilldown: "Professionnel"
                            },
                            {
                            name: "Association",
                            y: 0,
                            drilldown: "Association"
                            }
                        ]
                        // requette pour recuperer des types de Clients
            ErpModel.getDocumentSubcollectionWithCondition('erp', this.projetId, 'client', "type", "Association").then((snapshot)=>{
            this.chartOptions1.series[0].data[2].y=snapshot.docs.length
            })
            ErpModel.getDocumentSubcollectionWithCondition('erp', this.projetId, 'client', "type", "Professionnel").then((snapshot)=>{
            this.chartOptions1.series[0].data[1].y=snapshot.docs.length
            
            })
            ErpModel.getDocumentSubcollectionWithCondition('erp', this.projetId, 'client', "type", "Particulier").then((snapshot)=>{
            this.chartOptions1.series[0].data[0].y=snapshot.docs.length
              console.log( snapshot);
            })
        },

        getStateFournisseur(){
             this.chartOptions2.series[0].data=[
                            {
                            name: "Particulier",
                            y: 0,
                            drilldown: "Particulier"
                            },
                            {
                            name: "Professionnel",
                            y: 0,
                            drilldown: "Professionnel"
                            },
                            {
                            name: "Association",
                            y: 0,
                            drilldown: "Association"
                            }
                        ]
            ErpModel.getDocumentSubcollectionWithCondition('erp', this.projetId, 'fournisseur', "type", "Association").then((snapshot)=>{
            this.chartOptions2.series[0].data[2].y=snapshot.docs.length
            console.log( snapshot);
            //  snapshot.forEach((item)=>{
            //      console.log("log des données ", item.data());
            //  })
          
            })
            ErpModel.getDocumentSubcollectionWithCondition('erp', this.projetId, 'fournisseur', "type", "Professionnel").then((snapshot)=>{
            this.chartOptions2.series[0].data[1].y=snapshot.docs.length
             console.log( snapshot);
            // snapshot.forEach((item)=>{
            //      console.log("log des données ", item.data());
            //  })
            })
            ErpModel.getDocumentSubcollectionWithCondition('erp', this.projetId, 'fournisseur', "type", "Particulier").then((snapshot)=>{
            this.chartOptions2.series[0].data[0].y=snapshot.docs.length
             console.log( snapshot);
            // snapshot.forEach((item)=>{
            //      console.log("log des données ", item.data());
            //  })

            })
            // ErpModel.getDocumentSubcollectionWithCondition('erp', this.projetId, 'fournisseur', "type", "Particulier").then((snapshot)=>{
            // this.chartOptions2.series[0].data[0].y=snapshot.docs.length  
            // })
        },
        // compteur sur client (dashboard)
        getClients() {
            // console.log(this.clients);
            ErpModel.getDocumentSubCollection("erp", this.projetId, "client").then((snapshot) => {
            this.nbrClients = snapshot.docs.length ;
              console.log(snapshot.docs.length);
            })
        },
        getFournisseurs() {
                ErpModel.getDocumentSubCollection('erp', this.projetId, 'fournisseur').then((snapshot) => {
                  this.nbrFournisseur = snapshot.docs.length;
                  console.log(snapshot.docs.length);
                })
            },
        accesClient() {
            this.$router.push({name: 'erp-tiers-clients'})
        },
        accessFourni() {
            this.$router.push({name: 'erp-tiers-fournisseurs'})
        },
        accessPersonnel() {
             this.$router.push({name: 'erp-tiers-personnels'})
        },
        accessAutres() {
             this.$router.push({name: 'erp-tiers-autres'})
        }
    },
    created() {
        this.getClients(); 
        this.getFournisseurs();
        this.getState();
        this.getStateFournisseur();
        this.$loading().close();
    },
}
</script>
<style scoped>
.mini-sidebar .page-wrapper {
        margin-left: 0 !important;
    }
.card-client{
    background-color: rgb(58, 156, 221) !important;
    color:white;
   
}
.card-fournisseur{
    background-color: rgb(219, 69, 49) !important;
    color:white;
}
.card-personnel{
    background-color: rgb(84, 228, 108) !important;
    color:white;
}
.card-autre{
    background-color: rgb(226, 179, 23) !important;
    color:white;
}
.card-title{
    color:white;  
}
.box-card{
    /* height: 200px !important; */
    border-radius: 20px;
}
.box-card:hover{
    cursor: pointer;
}
.img-dashboard{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}

.highcharts-data-label-connector{
    display: none !important;
}
.titre-erp{
    font-size: 30px !important;
    font-weight: bold;
    color: #1e58b3;
}
.breadcrumb-item{
    font-weight: bold;
}
tspan{
    display: none  !important;
}

</style>