<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles mt-4">
                <div class="col-xl-5 col-lg-5 col-md-6 col-12">
                    <h3 class="text-themecolor titre-erp">Fournisseurs <small>( {{ fournisseurs.length }} )</small> </h3>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6 col-12 ml-auto">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'erp-home'}">ERP</router-link>
                        </li>
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'erp-tiers-dashboard'}">Tableau de Bord</router-link>
                        </li>
                        <li class="breadcrumb-item">Fournisseurs</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body" style="background-color: #FFF !important;">
                            <div class="tab-content" style="padding: 15px;">
                                <div class="row mb-3">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-12">
                                        <button type="button" data-toggle="modal" @click="openModal = true" class="btn btn-info btn-rounded">
                                            <i class="fa fa-plus"></i> Ajouter un Fournisseur 
                                        </button>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                                        <el-input placeholder="Rechercher..."></el-input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <data-tables
                                            v-loading="loading"
                                            element-loading-text="Chargement ..."
                                            element-loading-spinner="el-icon-loading"
                                            :filters="filters"
                                            :data="fournisseurs" 
                                            :current-page="1"
                                            :page-size="10"
                                            :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                            >
                                            <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                            </el-table-column>
                                            <el-table-column label="Actions" fixed="right" width="100">
                                                    <template slot-scope="scope">
                                                    <el-button
                                                        @click="modifier(scope.row)"
                                                        type="primary"
                                                        size="mini"
                                                        icon="el-icon-edit" circle>
                                                    </el-button>
                                                    <el-button
                                                        @click="supprime(scope.row.id, scope.$index)"
                                                        size="mini"
                                                        type="danger"
                                                        icon="el-icon-delete" circle></el-button>
                                                </template>
                                            </el-table-column>
                                        </data-tables>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <el-dialog :visible.sync="openModal" width="80%" top="2vh" :close-on-click-modal="false">
                <div>
                    <el-form ref="form" label-width="auto" label-position="right">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6">
                                <h5 :style="{color: 'rgb(231, 159, 65)'}"><i class="fa fa-shopping-cart"></i> Ajouter un Fournisseur</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-1">
                                <div class="header-title">
                                    Résumé de la Fiche
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-9 col-md-9 col-10">
                            <el-form-item class="no-mar-left">
                                <el-radio-group v-model="newFournisseur.type">
                                    <el-radio label="Particulier">Particulier</el-radio>
                                    <el-radio label="Professionnel">Professionnel</el-radio>
                                    <el-radio label="Association">Association</el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <FormPartOne ref="formPartOne" :model="model" :newFournisseur="newFournisseur" :validations="$v"/>
                                <div class="row">
                                    <div class="col-1 ml-auto">
                                        <div class="btn-close" v-if="!plus" @click="$refs.formPartTwo.hideSection()"><i class="far fa-2x fa-minus-square"></i></div>
                                        <div class="btn-close" v-if="plus" @click="$refs.formPartTwo.hideSection()"><i class="far fa-2x fa-plus-square"></i></div>
                                    </div>
                                </div>
                                <FormPartTwo ref="formPartTwo" :model="model" :newFournisseur="newFournisseur" :validations="$v"/>
                            </div>
                        </div>         
                        </el-form>
                    </div>
                <span v-if="submitMode" slot="footer" class="dialog-footer">
                    <el-button v-if="editMode == false" :loading="true" type="primary">Enregistrer</el-button>
                    <el-button v-if="editMode == true" :loading="true" type="success">Modifier</el-button>
                    <el-button type="danger">Annuler</el-button>
                </span>
                <span v-if="!submitMode" slot="footer" class="dialog-footer">
                    <el-button v-if="editMode == false" type="primary" @click="onSubmit">Enregistrer</el-button>
                    <el-button v-if="editMode == true" type="success" @click="updateNewFournisseur">Modifier</el-button>
                    <el-button type="danger" @click="dataClose">Annuler</el-button>
                </span>
            </el-dialog>
        </div>
    </div> 
</template>
<script>
import FormPartOne from '../components/fournisseur/formPartOne';
import FormPartTwo from '../components/fournisseur/formPartTwo';
import ErpModel from '../models/erp';
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators';
import { Notification } from "element-ui";
// import { delete } from 'vue/types/umd';

    export default {
        components: {
            FormPartTwo,
            FormPartOne
        },
        name: 'fournisseurs',
        data() {
            return {
                editMode: false,
                openModal: false,
                submitMode: false,
                model: {},
                fournisseur : {},
                fournisseurs: [],
                openModal: false,
                perms:JSON.parse(localStorage.getItem('userSession')).perm[3].content[0].value,
                loading: true,
                plus:false,
                tableTitles: [
                    {
                        prop: "raisonSociale",
                        label: "Raison Sociale",
                        width:"200"
                    },
                    {
                        prop: "relation",
                        label: "Relation",
                        width:"120"
                    },
                    {
                        prop: "mobileSure",
                        label: "Téléphone",
                        width:"120"
                    },
                    {
                        prop: "refCompta",
                        label: "Ref. Comptable",
                        width:"120"
                    },
                    {
                        prop: "assujettiTva",
                        label: "TVA",
                        width:"120"
                    },
                ],
                filters: [
                    {
                        prop: ['nom','quartier','ville'],
                        value: '',
                    }
                ],
                newFournisseur:{
                    type:"Particulier",
                    raisonSociale: "",
                    statut: "",
                    assujettiTva: "",
                    relation: "",
                    mobileSure: "",
                    refCompta: "",
                    addresse: "",
                    codePostal: "",
                    ville: "",
                    pays: "",
                    quartier: "",
                    arrondissement: "",
                    region: "",
                    province: "",
                    tel1: "",
                    tel2: "",
                    email: "",
                    notes: "",
                    image: ""
                },
                projectId: JSON.parse(localStorage.getItem("userSession")).projet,
            }
        },
        validations:{
            newFournisseur:{
                raisonSociale: { required },
                statut: { required },
                assujettiTva: { required },
                relation: { required },
                mobileSure: { required, minLength: minLength(9), maxLength: maxLength(9) },
                refCompta: { required },
                addresse: { required },
            }
        },
        created () {
            this.getFournisseurs()
            this.getModel();
            this.$loading().close();
        },
        methods: {
            //on show le modal d'ajout de fournisseur
            onSubmit() {
                // condition sur le formulaire
                this.$v.$touch()
                if(this.$v.$invalid){
                    return;
                }
                this.submitMode = true;
                ErpModel.uploadImage('erp/fournisseurs/'+ this.newFournisseur.image.name, this.newFournisseur.image)
                .snapshot.ref.getDownloadURL().then((url) => {
                    this.newFournisseur.image = url;
                    ErpModel.saveDocumentSubCollection("erp",this.projectId,"fournisseur",this.newFournisseur)
                    ErpModel.createNotification()
                    this.loading = true;
                    this.newFournisseur = {
                        type:"Particulier",
                        raisonSociale: "",
                        statut: "",
                        assujettiTva: "",
                        relation: "",
                        mobileSure: "",
                        refCompta: "",
                        addresse: "",
                        codePostal: "",
                        ville: "",
                        pays: "",
                        quartier: "",
                        arrondissement: "",
                        region: "",
                        province: "",
                        tel1: "",
                        tel2: "",
                        email: "",
                        notes: "",
                        image: ""
                    },
                    this.loading = true;
                    this.getFournisseurs()
                    this.openModal = false;
                    this.submitMode = false
                })
            },
                // supprimer 
            supprime(id, index){
                Swal.fire({
                    title: 'Etes vous sur vouloir supprimer?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#409eff',
                    cancelButtonText: 'Non',
                    confirmButtonText: 'Oui!'
                })                
                .then((result)=>{
                    if (result.value){
                        ErpModel.deleteDocumentSubcollection("erp", this.projectId, "fournisseur", id)
                        this.fournisseurs.splice(index, 1)
                        Notification.success({  
                            title: 'Success',
                            message: 'L\'élémént a été supprimé avec succès',
                        }) 
                    }
                })    
            },
                // editer 
            modifier(modif){
                this.newFournisseur = modif
                this.editMode = true,
                this.openModal = true
            },

            // fonction de modification
            updateNewFournisseur(){
                const id = this.newFournisseur.id
                delete this.newFournisseur.id;
                this.submitMode = true
                ErpModel.updateDocumentSubcollection("erp", this.projectId, "fournisseur", id, this.newFournisseur).then(()=>{
                    Notification.success({  
                    title: 'Success',
                    message: 'L\'élémént a été modifié avec succès',
                    }) 
                    this.dataClose();
                    this.getFournisseurs()              
                })
            },
            // vider les champs de la modale après suppression
            dataClose(){
                this.newFournisseur = {
                    type:"Particulier",
                    raisonSociale: "",
                    statut: "",
                    assujettiTva: "",
                    relation: "",
                    mobileSure: "",
                    refCompta: "",
                    addresse: "",
                    codePostal: "",
                    ville: "",
                    pays: "",
                    quartier: "",
                    arrondissement: "",
                    region: "",
                    province: "",
                    region: "",
                    province: "",
                    tel1: "",
                    tel2: "",
                    email: "",
                    notes: "",
                    image: ""
                }
                this.editMode = false
                this.openModal = false
                this.submitMode = false
            },
            // Fonction de récupération de la getModel Fournisseur
            getModel() {
                ErpModel.getDocumentSubCollection('params', this.projectId, 'formRhFour').then((querySnapshot) => {
                    querySnapshot.forEach((doc) =>{
                        const data = doc.data()
                        data.id = doc.id
                        this.model = data
                    })                 
                })
            },
            getFournisseurs() {
                this.fournisseurs = []
                ErpModel.getDocumentSubCollection('erp', this.projectId, 'fournisseur').then((snapshot) => {
                    snapshot.forEach((doc) => {
                        const data = doc.data()
                        data.id = doc.id
                        this.fournisseurs.push(data)
                    })
                    this.loading = false;
                })
            }
        },
         
    }
</script>

<style>
.breadcrumb-item a{
    color: #1e58b3 !important;
}

.breadcrumb-item:hover a{
    color: #67757c !important;
}

.titre-erp{
    font-weight: bold;
    color: #1e58b3;
    font-size: 30px!important;
}
.breadcrumb-item{
    font-weight: bold;
}
    .mini-sidebar .page-wrapper {
        margin-left: 0 !important;
    }
    .btn-outline-secondary{
        background-color: #a1d3fb9c !important;
        color: #030303 !important;
        border: none !important;
        outline: none !important;
    }
    .input-group-text1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #7eb1f5;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   th .cell{
       font-size: 13px;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #D0E6ED !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }
    
    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .text-red {
        color: red !important;
    }
    .el-select{
        width: 100%;
    }
    .add-champ{
        width: 100%;
    }
    .header{
        background: rgb(167 120 60 / 48%) !important;
        border: 1px solid #DCDFE6;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12),0 0 6px 0 rgba(0,0,0,.04);
        padding: 2%;
        margin-left: 20px;
        margin-right: 20px;
    }
    i:hover{
        cursor: pointer;
        color: rgb(21, 104, 212);
    }
    .tools{
        font-size: 1rem;
    }
    .btn-icon{
        font-size: 1.5rem;
    }
    .full {
    width: 100% !important;
    }
    .img-client {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    margin-top: 5px;
    }
    .is-active {
    background-color: rgb(231, 159, 65) !important;
    color: #fff !important;
    font-weight: 900 !important;
    }
    .no-mar-left .el-form-item__content {
    margin-left: 0 !important;
    }
    .no-pad-lr {
    padding-right: 0 !important;
    }
    .no-mar-left .el-form-item__label-wrap {
    margin-left: 0 !important;
    }

    .header-title {
    background-color: rgb(231, 159, 65) !important;
    color: #fff !important;
    font-weight: 900 !important;
    padding: 3%;
    }
    .el-form-item {
    margin-bottom: 0 !important;
    }
    .header {
    padding-top: 2%;
    background: rgba(255, 255, 255, 0.904);
    border: 1px solid #dcdfe6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    }
    .disabled {
    background-color: #d4d3d361 !important;
    }
    .param-text:hover {
    cursor: pointer;
    color: rgb(79, 147, 236) !important;
    }
    input::placeholder {
    font-weight: bolder;
    text-align: right !important;
    }
    .pourcentage::placeholder {
    text-align: center !important;
    }
    .el-radio__label {
    font-size: 21px !important;
    color: rgb(231, 159, 65) !important;
    }

    .el-form-item__label{
        color: black !important;
    }
    .el-dialog__body {
    background: rgb(238, 242, 245) !important;
    padding-top: 5px !important;
    }
    .b-black {
    background: rgba(87, 88, 89, 0.31) !important;
    color: black !important;
    font-weight: bold !important;
    }
    .b-blue {
    background: rgba(197, 220, 242, 0.83) !important;
    }
    .w-30 {
    width: 30% !important;
    }
    .w-input {
    width: 50% !important;
    }
    .w-20 {
    width: 20% !important;
    }
    .el-dialog__header {
    padding: 10px 10px !important;
    background: rgb(238, 242, 245) !important;
    }
    .el-dialog__footer {
    padding: 5px 10px 10px !important;
    background: rgb(238, 242, 245) !important;
    }

    .btn-close:hover {
    cursor: pointer;
    }
    /* mon code css */

    @media (max-width: 600px) {
    .header-title {
        font-size: 12px !important;
    }
    .param-text span {
        display: none !important;
    }
    h4 {
        font-size: 10px !important;
    }
    .el-form-item__label-wrap {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }
    .el-form-item__content {
        margin-left: 0 !important;
    }
    .el-input--small {
        margin-top: 0 !important;
    }
    .second-section {
        margin-top: 15px;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
    }
    .el-form-item__label {
        margin-bottom: -6px;
    }
    p {
        margin-top: 15px;
    }
    }
    p {
    font-style: italic;
    opacity: 0.5;
    }
    .second-section {
    margin-left: 102px;
    }
    .material-icons-outlined {
    color: #fff !important;
}
    @media (max-width: 576px) {
        #params .el-dialog {
            width: 90% !important;
        }
        .container-fluid{
            margin-top: 80px !important;
        }
        .btn-close{
                margin-left: -20px !important;
        }
        }
</style>

<script>
import FormPartOne from '../components/fournisseur/formPartOne';
import FormPartTwo from '../components/fournisseur/formPartTwo';
import ErpModel from '../models/erp';
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators';
import { Notification } from "element-ui";
// import { delete } from 'vue/types/umd';

    export default {
        components: {
            FormPartTwo,
            FormPartOne
        },
        name: 'fournisseurs',
        data() {
            return {
                editMode: false,
                openModal: false,
                model: {},
                fournisseurs: [],
                openModal: false,
                perms:JSON.parse(localStorage.getItem('userSession')).perm[3].content[0].value,
                loading: true,
                plus:false,
                tableTitles: [
                    {
                        prop: "raisonSociale",
                        label: "Raison Sociale",
                        width:"15%"
                    },
                    {
                        prop: "email",
                        label: "Email",
                        width:"15%"
                    },
                    {
                        prop: "mobileSure",
                        label: "Téléphone",
                        width:"15%"
                    },
                    {
                        prop: "ville",
                        label: "Ville",
                        width:"20%"
                    },
                    {
                        prop: "arrondissement",
                        label: "Arrondissement",
                        width:"10%"
                    },
                    {
                        prop: "quartier",
                        label: "Quartier",
                        width:"10%"
                    },
                ],
                filters: [
                    {
                        prop: ['nom','quartier','ville'],
                        value: '',
                    }
                ],
                newFournisseur:{
                    raisonSociale: "",
                    statut: "",
                    assujettiTva: "",
                    relation: "",
                    mobileSure: "",
                    refCompta: "",
                    addresse: "",
                    codePostal: "",
                    ville: "",
                    pays: "",
                    quartier: "",
                    arrondissement: "",
                    tel1: "",
                    tel2: "",
                    email: "",
                    notes: "",
                },
                projectId: JSON.parse(localStorage.getItem("userSession")).projet,
            }
        },
        validations:{
            newFournisseur:{
                raisonSociale: { required },
                statut: { required },
                assujettiTva: { required },
                relation: { required },
                mobileSure: { required, minLength: minLength(9), maxLength: maxLength(9) },
                refCompta: { required },
                addresse: { required },
                // codePostal: { required },
                // ville: { required },
                // pays: { required },
                // quartier: { required },
                // arrondissement: { required },
                // tel1: { required, minLength: minLength(9), maxLength: maxLength(9) },
                // tel2: { required, minLength: minLength(9), maxLength: maxLength(9) },
                // email: { required, email },
                }
        },
        created () {
            this.getFournisseurs()
            this.$loading().close();
        },
        methods: {
            // supprimer 
            supprime(id, index){
                Swal.fire({
                title: 'Etes vous sur vouloir supprimer?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#409eff',
                cancelButtonText: 'Non',
                confirmButtonText: 'Oui!'
            })                
            .then((result)=>{
                if (result.value){
                    ErpModel.deleteDocumentSubcollection("erp", this.projectId, "fournisseur", id)
                    this.fournisseurs.splice(index, 1)
                    Notification.success({  
                    title: 'Success',
                    message: 'L\'élémént a été supprimé avec succès',
                }) 
                }
                             
            })    
            },
             // editer 
            modifier(modif){
                this.newFournisseur = modif
                this.editMode = true,
                this.openModal = true
                console.log(this.newFournisseur);
            },

            // fonction de modification
            updateNewFournisseur(){
                const id = this.newFournisseur.id
                delete this.newFournisseur.id;
                ErpModel.updateDocumentSubcollection("erp", this.projectId, "founisseur", id, this.newFournisseur)
                .then(()=>{
                     Notification.success({  
                    title: 'Success',
                    message: 'L\'élémént a été modifié avec succès',
                    }) 
                })
                dataClose(),
                getFournisseurs()              
            },

            // vider les champs de la modale après suppression
            dataClose(){
                this. openModal = false,
                this.newFournisseur = {
                    raisonSociale: "",
                    statut: "",
                    assujettiTva: "",
                    relation: "",
                    mobileSure: "",
                    refCompta: "",
                    addresse: "",
                    codePostal: "",
                    ville: "",
                    pays: "",
                    quartier: "",
                    arrondissement: "",
                    tel1: "",
                    tel2: "",
                    email: "",
                    notes: "",
                }
                editMode: false
            },
            //on show le modal d'ajout de fournisseur
            onSubmit() {
                // condition sur le formulaire
                this.$v.$touch()
                if(this.$v.$invalid){
                    return;
                } 

                ErpModel.saveDocumentSubCollection("erp",this.projectId,"fournisseur",this.newFournisseur)
                ErpModel.createNotification()
                this.loading = true;
                this.newFournisseur = {
                    raisonSociale: "",
                    statut: "",
                    assujettiTva: "",
                    relation: "",
                    mobileSure: "",
                    refCompta: "",
                    addresse: "",
                    codePostal: "",
                    ville: "",
                    pays: "",
                    quartier: "",
                    arrondissement: "",
                    tel1: "",
                    tel2: "",
                    email: "",
                    notes: "",
                },
                this.getFournisseurs()
                this.openModal = false;
            },
            openParamModal() {
                ErpModel.getDocumentSubCollection('params', this.projectId, 'formRhFour').then((res) => {
                    this.model = res.docs[0].data()
                    this.openModal = true
                })
            },
            getFournisseurs() {
                this.fournisseurs = []
                ErpModel.getDocumentSubCollection('erp', this.projectId, 'fournisseur').then((snapshot) => {
                    snapshot.forEach((doc) => {
                        const data = doc.data()
                        data.id = doc.id
                        this.fournisseurs.push(data)
                    })
                    this.loading = false;
                })
            }
        },
    }
</script>
