<template>
     <div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles mt-4">
            <div class="col-xl-5 col-lg-5 col-md-6 col-12">
                <h3 class="text-themecolor titre-erp">Personnel</h3>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-12 ml-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <router-link :to="{name:'erp-home'}">ERP</router-link>
                    </li>
                    <li class="breadcrumb-item">
                        <router-link :to="{name:'erp-tiers-dashboard'}">Tableau de Bord</router-link>
                    </li>
                    <li class="breadcrumb-item">Personnel</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" style="background-color: #FFF !important;">
                        <div class="tab-content" style="padding: 15px;">
                            <div class="row mb-3">
                                <div class="col-xl-9 col-lg-9 col-md-9 col-12">
                                    <button type="button" data-toggle="modal" @click="openModal = true" class="btn btn-info btn-rounded">
                                        <i class="fa fa-plus"></i> Ajouter un Personnel
                                    </button>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                                    <el-input placeholder="Rechercher..."></el-input>
                                </div>
                            </div>
                            <div class="row">
                        <div class="col-12">
                            <data-tables
                                v-loading="loading"
                                element-loading-text="Chargement ..."
                                element-loading-spinner="el-icon-loading"
                                :filters="filters"
                                :data="personnels" 
                                :current-page="1"
                                :page-size="10"
                                :pagination-props="{ background: true, pageSizes: [10, 30, 50, 100] }"
                                >
                                <el-table-column v-for="title in tableTitles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                                </el-table-column>
                                <el-table-column label="Actions" fixed="right" width="100">
                                    <!-- <template slot-scope="scope">
                                        <el-button
                                            type="primary"
                                            size="mini"
                                            icon="el-icon-edit" circle>
                                        </el-button>
                                        <el-button
                                            @click="deleteRow(scope.row.id, scope.$index)"
                                            size="mini"
                                            type="danger"
                                            icon="el-icon-delete" circle></el-button>
                                    </template> -->
                                </el-table-column>
                            </data-tables>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modals -->
        <el-dialog :visible.sync="openModal" width="80%" top="2vh" :close-on-click-modal="false">
            <div>
                <el-form ref="form" label-width="auto" label-position="right">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6">
                            <h3 :style="{color: '#a8d08cff'}"><i class="fa fa-shopping-cart"></i> Ajouter un Salarié</h3>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12 mb-1">
                            <div class="header-title">
                                Résumé de la Fiche
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-9 col-md-9 col-10">
                            <el-form-item class="no-mar-left">
                                <el-radio-group v-model="newPersonnel.newPersonnel">
                                    <el-radio label="Salarié">Salarié</el-radio>
                                    <el-radio label="Prestataire">Prestataire</el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </div>
                    </div>
                    <FormPartOne ref="formPartOne" :newPersonnel="newPersonnel" />
                    <div class="row">
                        <div class="col-1 ml-auto">
                            <div class="btn-close" v-if="!plus" @click="$refs.formPartTwo.hideSection(), switchAction()"><i class="far fa-2x fa-minus-square"></i></div>
                            <div class="btn-close" v-if="plus" @click="$refs.formPartTwo.hideSection(), switchAction()"><i class="far fa-2x fa-plus-square"></i></div>
                        </div>
                    </div>
                    <FormPartTwo ref="formPartTwo" :model="model" :newPersonnel="newPersonnel" :validations="$v"/>            
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary">Enregistrer</el-button>
                <el-button type="danger" @click="openModal = false">Annuler</el-button>
            </span>
        </el-dialog>
    </div>
   </div>
</template>
<script>
import FormPartOne from '../components/personnel/formPartOne.vue';
import FormPartTwo from '../components/personnel/formPartTwo.vue';
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators';
export default {
     components: {
            FormPartOne,
            FormPartTwo
        },
    data() {
        return {
            openModal: false,
            plus:false,
            personnels: [],
               tableTitles: [
                    {
                        prop: "raisonSociale",
                        label: "Raison Sociale",
                        width:"200"
                    },
                    {
                        prop: "relation",
                        label: "Relation",
                        width:"120"
                    },
                    {
                        prop: "mobileSure",
                        label: "Téléphone",
                        width:"120"
                    },
                    {
                        prop: "refCompta",
                        label: "Ref. Comptable",
                        width:"120"
                    },
                    {
                        prop: "assujettiTva",
                        label: "TVA",
                        width:"120"
                    },
                ],
                filters: [
                    {
                        prop: ['nom','quartier','ville'],
                        value: '',
                    }
                ],
            newPersonnel:{
                    type:"Particulier",
                    raisonSociale: "",
                    statut: "",
                    assujettiTva: "",
                    relation: "",
                    mobileSure: "",
                    refCompta: "",
                    addresse: "",
                    codePostal: "",
                    ville: "",
                    pays: "",
                    quartier: "",
                    arrondissement: "",
                    region: "",
                    province: "",
                    tel1: "",
                    tel2: "",
                    email: "",
                    notes: "",
                    image: ""
                },
                validations:{
                    newPersonnel:{
                        raisonSociale: { required },
                        statut: { required },
                        assujettiTva: { required },
                        relation: { required },
                        mobileSure: { required, minLength: minLength(9), maxLength: maxLength(9) },
                        refCompta: { required },
                        addresse: { required },
                    }
        },
        }
    },
    methods: {
        
    },
    created() {
        this.$loading().close();
    },
}
</script>
<style>
    .box-card{
        height: 100% !important;
        margin-bottom: 10px !important;
    }
    .box-card:hover{
        cursor: pointer;
    }
    
.breadcrumb-item a{
    color: #1e58b3 !important;
}

.breadcrumb-item:hover a{
    color: #67757c !important;
}

.titre-erp{
    font-weight: bold;
    color: #1e58b3;
    font-size: 30px!important;
}
.breadcrumb-item{
    font-weight: bold;
}
    .mini-sidebar .page-wrapper {
        margin-left: 0 !important;
    }
    .btn-outline-secondary{
        background-color: #a1d3fb9c !important;
        color: #030303 !important;
        border: none !important;
        outline: none !important;
    }
    .input-group-text1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #7eb1f5;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
   .nav-link.show.active i,.nav-link.active i{
       color: #61b174;
   }
   span.stepTitle.active{
       color: #67757c !important;
       font-weight: 500 !important;
   }
   th .cell{
       font-size: 13px;
   }
   .nav-link {
        font-weight: normal;
        text-transform: normal;
        color:#67757c;
        height: 100%
   }
    .nav-pills > li.nav-item {
        display: block;
        width: 50%;
        text-align: center;
    }
    .nav-pills > li.nav-item a{
        margin: 1px auto;
        padding:1px 0px;
        border-radius: 2px;
        font-size: 0.9rem;
        background-color: #c8cacd;
        height: 100%
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #61b174;
    }
    .card-body {
        padding: 0px 5px;
        background-color: #D0E6ED !important;
    }
    .nav.nav-tabs.customtab li a {
        text-align: center;
        padding: 5px 10px;
    }
    .nav.nav-tabs.customtab li a.active {
        background-color: #0080003b;
        border-bottom-color: #f32b2bcc;
    }
    .nav.nav-tabs.customtab li {
        width: 50%;
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
    }
    .input-group-text {
        width: 150px;
        background-color: #398bf7;
        color: #ffffff;
    }
    .input-group-montant {
        width: 125px !important;
    }
    
    .fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.4em 0 0.4em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .row-fieldset {
        border: 1px solid #ced4da !important;
        padding: 0 0.2em 0 0.2em !important;
        margin: 0.5em 0 0.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #ced4da;
            box-shadow:  0px 0px 0px 0px #ced4da;
    }
    .text-red {
        color: red !important;
    }
    .el-select{
        width: 100%;
    }
    .add-champ{
        width: 100%;
    }
    .header{
        background: #a8d08c2b !important;
        border: 1px solid #DCDFE6;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12),0 0 6px 0 rgba(0,0,0,.04);
        padding: 2%;
        margin-left: 20px;
        margin-right: 20px;
    }
    i:hover{
        cursor: pointer;
        color: rgb(21, 104, 212);
    }
    .tools{
        font-size: 1rem;
    }
    .btn-icon{
        font-size: 1.5rem;
    }
    .full {
    width: 100% !important;
    }
    .img-client {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    margin-top: 5px;
    }
    .is-active {
    background-color: #a8d08cff !important;
    color: #fff !important;
    font-weight: 900 !important;
    }
    .no-mar-left .el-form-item__content {
    margin-left: 0 !important;
    }
    .no-pad-lr {
    padding-right: 0 !important;
    }
    .no-mar-left .el-form-item__label-wrap {
    margin-left: 0 !important;
    }

    .header-title {
    background-color: #a8d08cff !important;
    color: #fff !important;
    font-weight: 900 !important;
    padding: 3%;
    }
    .el-form-item {
    margin-bottom: 0 !important;
    }
    .header {
    padding-top: 2%;
    background: rgba(255, 255, 255, 0.904);
    border: 1px solid #dcdfe6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    }
    .disabled {
    background-color: #d4d3d361 !important;
    }
    .param-text:hover {
    cursor: pointer;
    color: rgb(79, 147, 236) !important;
    }
    input::placeholder {
    font-weight: bolder;
    text-align: right !important;
    }
    .pourcentage::placeholder {
    text-align: center !important;
    }
    .el-radio__label {
    font-size: 21px !important;
    color: #a8d08cff !important;
    }

    .el-form-item__label{
        color: black !important;
    }
    .el-dialog__body {
    background: rgb(238, 242, 245) !important;
    padding-top: 5px !important;
    }
    .b-black {
    background: rgba(87, 88, 89, 0.31) !important;
    color: black !important;
    font-weight: bold !important;
    }
    .b-blue {
    background: rgba(197, 220, 242, 0.83) !important;
    }
    .w-30 {
    width: 30% !important;
    }
    .w-input {
    width: 50% !important;
    }
    .w-20 {
    width: 20% !important;
    }
    .el-dialog__header {
    padding: 10px 10px !important;
    background: rgb(238, 242, 245) !important;
    }
    .el-dialog__footer {
    padding: 5px 10px 10px !important;
    background: rgb(238, 242, 245) !important;
    }

    .btn-close:hover {
    cursor: pointer;
    }
    /* mon code css */

    @media (max-width: 600px) {
    .header-title {
        font-size: 12px !important;
    }
    .param-text span {
        display: none !important;
    }
    h4 {
        font-size: 10px !important;
    }
    .el-form-item__label-wrap {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }
    .el-form-item__content {
        margin-left: 0 !important;
    }
    .el-input--small {
        margin-top: 0 !important;
    }
    .second-section {
        margin-top: 15px;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
    }
    .el-form-item__label {
        margin-bottom: -6px;
    }
    p {
        margin-top: 15px;
    }
    }
    p {
    font-style: italic;
    opacity: 0.5;
    }
    .second-section {
    margin-left: 102px;
    }
    .material-icons-outlined {
    color: #fff !important;
}
    @media (max-width: 576px) {
        #params .el-dialog {
            width: 90% !important;
        }
        .container-fluid{
            margin-top: 80px !important;
        }
        .btn-close{
                margin-left: -20px !important;
        }
        }
</style>