<template>
<div>
       <div>
        <el-row :gutter="1">
            <el-col :span="4">
                <strong>
                    <el-checkbox v-if="tr.etat == '3'" @change.native="switchStateSubAll(tr.id, tr, 0)" size="small" checked></el-checkbox>
                    <el-checkbox v-else @change.native="switchStateSubAll(tr.id, tr, 1)" size="small" unchecked></el-checkbox>
                    <el-popover placement="top-start" width="400" trigger="hover">
                        <span :inner-html.prop="tr.titre">{{tr.titre}}</span>
                        <span slot="reference" :inner-html.prop="tr.titre | cyb_denomination_split">{{ tr.titre }}</span>
                    </el-popover>
                </strong>
            </el-col>
            <el-col :span="2">
                <el-tag v-if="tr.refEtiquette" :style="{backgroundColor: tr.etiquette.color , borderColor: tr.etiquette.color, color: 'white', fontWeight: 'bold' }" >{{tr.etiquette.libelle}}</el-tag>
                <span v-if="!tr.refEtiquette" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </el-col>
            <el-col v-if="tr.subActions.length != 0 && tr.visibility" :span="3">
                <el-button size="mini" @click="visibilityChange(index)" icon="el-icon-caret-bottom"></el-button>
                <span v-if="getSumSubActionDone(tr.subActions) == 0" class="badge p-2 pr-2 bg-secondary"><i class="el-icon-check"></i>
                <strong class="text-white">{{getSumSubActionDone(tr.subActions) +"/" +getSumSubActionAll(tr.subActions)}}</strong></span>
                <span v-else-if="getSumSubActionDone(tr.subActions) ==getSumSubActionAll(tr.subActions)" class="badge p-2 pr-2 bg-success">
                    <i class="el-icon-check"></i><strong class="text-white">{{getSumSubActionDone(tr.subActions) +"/" +getSumSubActionAll(tr.subActions)}}</strong>
                </span>
                <span v-else class="badge p-2 pr-2 bg-warning">
                    <i class="el-icon-check"></i><strong class="text-white">{{getSumSubActionDone(tr.subActions) +"/" +getSumSubActionAll(tr.subActions)}}</strong>
                </span>
            </el-col>
            <el-col v-else-if="tr.subActions.length != 0 && !tr.visibility" :span="3">
                <el-button size="mini" @click="visibilityChange(index)" icon="el-icon-caret-right"></el-button>
                <span v-if="getSumSubActionDone(tr.subActions) == 0" class="badge p-2 pr-2 bg-secondary">
                    <i class="el-icon-check"></i ><strong class="text-white">{{ getSumSubActionDone(tr.subActions) +"/" +getSumSubActionAll(tr.subActions)}}</strong>
                </span>
                <span v-else-if="getSumSubActionDone(tr.subActions) ==getSumSubActionAll(tr.subActions)" class="badge p-2 pr-2 bg-success">
                    <i class="el-icon-check"></i><strong class="text-white">{{ getSumSubActionDone(tr.subActions) + "/" + getSumSubActionAll(tr.subActions) }}</strong>
                </span>
                <span v-else class="badge p-2 pr-2 bg-warning">
                    <i class="el-icon-check"></i><strong class="text-white">{{getSumSubActionDone(tr.subActions) + "/" +getSumSubActionAll(tr.subActions)}}</strong>
                </span>
            </el-col>
            <el-col v-else-if="tr.subActions.length == 0" :span="3">
                <span v-if="getSumSubActionDone(tr) == 0" class="badge ml-5 p-2 pr-2 bg-secondary">
                    <i class="el-icon-check"></i><strong class="text-white">{{ getSumSubActionDone(tr) + "/" + getSumSubActionAll(tr) }}</strong>
                </span>
                <span v-else-if="getSumSubActionDone(tr) ==getSumSubActionAll(tr)" class="badge ml-5 p-2 pr-2 bg-success">
                    <i class="el-icon-check"></i><strong class="text-white">{{ getSumSubActionDone(tr) + "/" + getSumSubActionAll(tr)}}</strong>
                </span>
                <span v-else class="badge ml-5 p-2 pr-2 bg-warning" >
                    <i class="el-icon-check"></i>
                    <strong class="text-white">{{getSumSubActionDone(tr) + "/" + getSumSubActionAll(tr) }}</strong>
                </span>
            </el-col>
            <el-col :span="3">
                <el-progress v-if="(percentSubAction(tr) > 0) & (percentSubAction(tr) < 100) " :text-inside="true" :stroke-width="15" class="percentage" color="#E6A23C" :percentage="percentSubAction(tr)"></el-progress>
                <el-progress v-else-if="percentSubAction(tr) == 100 && tr.verdict == '1'" :text-inside="true" :stroke-width="15" class="percentage" color="#F56C6C" :percentage="percentSubAction(tr)"></el-progress>
                <el-progress v-else-if="percentSubAction(tr) == 100 &&tr.verdict == '2'" :text-inside="true" :stroke-width="15" class="percentage" color="#E6A23C" :percentage="percentSubAction(tr)"></el-progress>
                <el-progress v-else-if="percentSubAction(tr) == 100" :text-inside="true" :stroke-width="15" class="percentage" color="#67C23A" :percentage="percentSubAction(tr)"></el-progress>
                <el-progress v-else-if="percentSubAction(tr) == 0" :text-inside="true" :stroke-width="15" class="percentage" color="#909399" :percentage="percentSubAction(tr)"></el-progress>
            </el-col>
            <el-col :span="3">
                <el-popover placement="top-start" width="400" trigger="hover">
                    <span :inner-html.prop="tr.description">{{ tr.description }}</span>
                    <span slot="reference" :inner-html.prop="tr.description | cyb_txt_split">{{ tr.description }}</span>
                </el-popover>
            </el-col>
            <el-col :span="2">
                <el-dropdown trigger="hover"> 
                    <el-button v-if="tr.etat == '1'" size="mini"> A faire</el-button>
                    <el-button v-if="tr.etat == '2'" size="mini" type="warning">En cours</el-button>
                    <el-button v-if="tr.verdict && tr.etat == '3' && tr.verdict == '1'" size="mini" type="danger"> Terminé</el-button>
                    <el-button v-else-if="tr.etat == '3'" size="mini" type="success">Terminé</el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="switchState(tr.id, 1, tr)">A Faire</el-dropdown-item>
                        <el-dropdown-item @click.native="switchState(tr.id, 2, tr)">En cours</el-dropdown-item>
                        <el-dropdown-item @click.native="switchState(tr.id, 3, tr)">Terminé</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
            <el-col :span="3">
                <el-dropdown placement="top-end">
                    <el-button v-if="!tr.verdict" size="mini">En attente<i class="el-icon-arrow-down el-icon--right"></i></el-button>
                    <el-button v-else-if="tr.verdict && tr.verdict == '1'" type="danger" size="mini">Refus</el-button>
                    <el-button v-else-if="tr.verdict && tr.verdict == '2'" size="mini" type="warning"> A Refaire</el-button>
                    <el-button v-else-if="tr.verdict && tr.verdict == '3'" size="mini" type="success"> Terminé</el-button>

                    <el-dropdown-menu v-if="adminId == undefined" slot="dropdown">
                        <el-dropdown-item @click.native="switchVerdict(tr.id, 3, tr)">Valider</el-dropdown-item>
                        <el-dropdown-item @click.native="switchVerdict(tr.id, 2, tr)">A refaire</el-dropdown-item>
                        <el-dropdown-item @click.native="switchVerdict(tr.id, 1, tr)">Refus</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
            <el-col :span="1">
                <a @click="loadImage(tr.user.photo, tr.user)" href="#">
                    <img :src="'data:image/png;base64,' +tr.user.photo" class="user-pic"/>
                </a>
            </el-col>
            <el-col :span="2">
                <p class="user-name" v-if="tr.user.denomination">{{ tr.user.denomination | cyb_userPicName_split }}</p>
                <el-popover placement="top-start" width="400" trigger="hover">
                    <span>{{ tr.user.first_name + " " + tr.user.last_name}}</span>
                    <p slot="reference" class="user-name" v-if="tr.user.first_name && tr.user.last_name">{{ (tr.user.first_name +" " + tr.user.last_name) | cyb_userPicName_split}}</p>
                </el-popover>
            </el-col>
            <el-col :span="1">
                <el-dropdown placement="top-end" trigger="hover">
                    <a href="#">
                        <i class="el-icon-more icon-size"></i>
                    </a>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="loadComment(tr)">
                            <span size="mini"><i class="el-icon-s-comment"></i>Commenter</span>
                        </el-dropdown-item>
                        <el-dropdown-item @click.native=" $refs.assignUser.openModalUser(tr.id,currentUId)">
                            <span size="mini"><i class="el-icon-edit"></i>Assigner</span>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-popconfirm confirmButtonText="Oui" cancelButtonText="Non" icon="el-icon-info" iconColor="red" @onConfirm="archiverAction(tr.id)" title="Voulez vous vraiment archiver cet élément??">
                                <span size="mini" slot="reference"><i class="el-icon-takeaway-box"></i>Archiver</span>
                            </el-popconfirm>
                        </el-dropdown-item>
                        <el-dropdown-item @click.native="editAction(tr.id)">
                            <span size="mini"><i class="el-icon-edit"></i>Modifier</span>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-popconfirm confirmButtonText="Oui" cancelButtonText="Non" icon="el-icon-info" iconColor="red" @onConfirm="deleteAction(tr.id, index)" title="Voulez vous vraiment supprimer cet élément??">
                                <span size="mini" slot="reference"><i class="el-icon-delete"></i>Supprimer</span>
                            </el-popconfirm>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
            <el-button size="mini" v-if="tr.commentaire && tr.commentaire != ''" @click="loadComment(tr)" icon="el-icon-s-comment icon-size icon-blue"></el-button>
        </el-row>
    </div>
    <transition name="fade">
        <div v-if="tr.subActions.length != 0 && tr.visibility">
            <el-row v-for="(subAction, indexSub) in tr.subActions" :key="indexSub" :gutter="5">
                <el-col :span="1">
                    <el-checkbox v-if="actionsData[index].subActions[indexSub].state" border @change.native="switchStateSub(tr.id, indexSub, subAction.state, tr, index)" size="small" checked></el-checkbox>
                    <el-checkbox v-else border @change.native="switchStateSub(tr.id, indexSub, subAction.state, tr, index)" size="small" unchecked></el-checkbox>
                </el-col>
                <el-col :span="11">
                    <h6>{{ subAction.title }}</h6>
                </el-col>
                <el-col :span="6">
                    <p><i class="el-icon-time"></i>{{new Date(subAction.dates[0].seconds *1000) | moment("Do MMMM YYYY")}}</p>
                </el-col>
                <el-col :span="6">
                    <p><i class="el-icon-time"></i>{{new Date(subAction.dates[1].seconds *1000) | moment("Do MMMM YYYY")}}</p>
                </el-col>
            </el-row>
        </div>
    </transition>
    </div>

</template>



<script>
export default {
    props:['tr'],
    data(){
        return

    }

}
</script>

<style>

</style>