<template>
  <div class="container-card-body">
    <!-- Priorite & etiquette -->

    <!-- <h1>{{ this.querySize }}</h1> -->
    <div v-if="loading">
      <el-skeleton :rows="querySize" :loading="loading" animated>
        <template slot="template">
          <el-row v-for="index in querySize" :key="'raw' + index" :gutter="10">
            <el-col :span="24">
              <!-- Checkbox-->
              <el-skeleton-item
                variant="h1"
                style="width: 100%; height:50px; border-radius-top-left:5px; border-radius-top-right:5px"
              />
            </el-col>
          </el-row>
        </template>
      </el-skeleton>
    </div>
    <div v-else>
      <div v-for="(tr, index) in filterTaskList" :key="tr.id" class="tache">
        <ticket-task-old
          v-if="!tr.version"
          :tabletView="tabletView"
          :mobileView="mobileView"
          :tr="tr"
        />
        <ticket-task-New
          v-else
          :idSummarySelected="idSummarySelected"
          :categorieSelectedId="categorieSelectedId"
          :tabletView="tabletView"
          :screenView="screenView"
          :mobileView="mobileView"
          :tr="tr"
          @update:etat="filterTaskList[index].etat = $event"
          @update:state="filterTaskList[index].state = $event"
          @savedTicket="savedTicket"
          :index="index"
          @assign:user="filterTaskList[index].userId = $event"
          @update:visibility="filterTaskList[index].visibility = $event"
        />
      </div>
    </div>
    <div v-if="querySize == 0">
      <el-empty description="aucun ticket"></el-empty>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
//Composants v1
import Ticket from "./ticket/ticket.vue";
//Composants v1
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlan.js";
import Notification from "../../../../store/collection/notifications";
import RubriqueGroup from "../../../../store/collection/rubriqueGroup";
import AssignUser from "./assignUser";
import { VsCollapse, vsSelect, vsPopup } from "vuesax";
import { VueEditor, Quill } from "vue2-editor";
import ActionTask from "./actionTask";
import paramsMenuRight from "../../../bp/agile/composant/paramsMenuRight";
import typeTicket from "../../../bp/erp/models/globalTicket/typeTicket";
import LinkType from "../../../bp/erp/models/globalTicket/linkType";
import TicketTaskOld from "./ticketTaskOld.vue";
import TicketTaskNew from "./ticketTaskNew.vue";
import Avancement from "./listTicket/avancement.vue";
import Affecte from "../../../bp/agile/tickets/composantCourrier/contentRigth/affecte";
import Activite from "../../../bp/agile/tickets/composantCourrier/composantHeaderTicket/activite";
import Projet from "../../../bp/agile/tickets/composantCourrier/composantHeaderTicket/projet";
import TypeTicketHeader from "../../../bp/agile/tickets/composantCourrier/composantHeaderTicket/typeTicketHeader";
import StatutHeader from "../../../bp/agile/tickets/composantCourrier/composantHeaderTicket/statutHeader";
import PrioriteInput from "../../../bp/agile/tickets/composantCourrier/contentRigth/priorite";
import EtiquetteInput from "../../../bp/agile/tickets/composantCourrier/contentRigth/etiquette";
import SprintInput from "../../../bp/agile/tickets/composantCourrier/contentRigth/sprint";
export default {
  mixins: [helper, action],
  components: {
    VueEditor,
    AssignUser,
    VsCollapse,
    ActionTask,
    paramsMenuRight,
    Ticket,
    TicketTaskOld,
    TicketTaskNew,
    Avancement,
    Affecte,
    PrioriteInput,
    EtiquetteInput,
    SprintInput,
    Activite,
    Projet,
    TypeTicketHeader,
    StatutHeader,
  },
  props: {
    activeTab: {
      default: "",
      type: String,
    },
    tabletView: {
      default: false,
      type: Boolean,
    },
  },
  watch: {
    activeTab: function(val) {
      if (val == "archives") {
        // alert(val);
        this.getActions();
      }
    },
  },
  computed: {
    categorieSelectedId: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
    planActionRef: {
      get() {
        return this.$store.state.agilite.planActionRef;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
  },
  data() {
    return {
      actionsData: [],
      filterTaskList: [],
      loading: false,
      querySize: 1,
    };
  },
  methods: {
    getTypeTicket(task) {
      this.ticketPromise = new Promise((resolve, reject) => {
        if (task.typeTicket) {
          task.typeTicket.get().then((typeTicket) => {
            task.ticket = typeTicket.data();
            resolve(task.ticket);
          });
        } else {
          return;
        }
      });
    },
    async getActions() {
      this.loading = true;
      this.actionsData = [];
      this.filterTaskList = [];
      //NEW COLLECTION
      await this.tasksRef
        .where("archive", "==", true)
        .orderBy("createdAt", "desc")
        .get()
        .then((querySnapshot) => {
          this.actionsData = [];
          querySnapshot.forEach(async (doc) => {
            let obj = doc.data();
            obj.id = doc.id;
            obj.ref = doc.ref;
            if (
              this.getSumSubActionDone(obj.subActions) !=
              this.getSumSubActionAll(obj.subActions)
            ) {
              obj.visibility = true;
            } else {
              obj.visibility = false;
            }
            this.getTypeTicket(obj);
            this.actionsData.push(obj);
            this.filterTaskList.push(obj);
            console.log("Log", this.filterTaskList);
            this.loading = false;
            //   this.$store.commit("agilite/setListTickets", this.actionsData);
          });
        });
      await this.planActionRef
        .orderBy("createdAt", "desc")
        .get()
        .then((querySnapshot) => {
          this.actionsData = [];
          querySnapshot.forEach(async (doc) => {
            if (doc.data().archive) {
              let obj = doc.data();
              if (doc.data().dates) {
                console.log("Dates", doc.data().dates);
                obj.dates[0] = new Date(doc.data().dates[0].seconds * 1000);
                obj.dates[1] = new Date(doc.data().dates[1].seconds * 1000);
              }
              obj.id = doc.id;
              obj.ref = doc.ref;

              if (
                this.getSumSubActionDone(obj.subActions) !=
                this.getSumSubActionAll(obj.subActions)
              ) {
                obj.visibility = true;
              } else {
                obj.visibility = false;
              }
              // if (obj.refEtiquette) {
              //   obj.refEtiquette.get().then((etiquette) => {
              //     obj.etiquette = etiquette.data();
              //     // alert("Hello");
              //   });
              // }
              // this.getEtiquette(obj);
              this.getTypeTicket(obj);
              // this.getUser(obj);
              obj.index = i;
              this.actionsData.push(obj);
              this.filterTaskList.push(obj);

              // this.idAction++;

              // this.actionsData.push(obj);
              this.loading = false;
              this.$store.commit("agilite/setListTickets", this.actionsData);
            }
          });
        });
    },
    // },
    itemFilter(id, field) {
      if (id) {
        this.filterTaskList = this.actionsData.filter((item) => {
          if (item[field]) {
            item[field].visibility = false;
            return item[field].id == id;
          }
        });
      } else {
        this.filterTaskList = this.actionsData;
      }
    },
    mounted() {
      // this.getActions();
    },
  },
};
</script>
