<template>
  <div>
    <el-dialog title="Utilisateur" :visible.sync="dialogUser" width="33%">
      <el-select
        :loading="loadingDataSelect"
        loading-text="Chargement..."
        v-model="userSelected"
        filterable
        placeholder="Choisissez un utilisateur"
        style="width:400px;"
      >
        <strong>
          <el-option
            v-for="(item, index) in allUsers"
            :key="index"
            :label="item.first_name + ' ' + item.last_name"
            :value="item.id"
          >
            {{ item.first_name + " " + item.last_name }}
            <img
              :src="'data:image/png;base64,' + item.photo"
              class="user-pic"
            />
          </el-option>
        </strong>
      </el-select>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogUser = false">Fermer</el-button>

        <el-button
          type="primary"
          :loading="loadingOrientation"
          @click="addInAction()"
          >Assigner</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import firebase from "firebase";
import Message from "../../../../store/collection/messages";
export default {
  props: {
    projetId: {
      default: null,
      ttype: String,
    },
    ticketRef: {
      default() {
        return {};
      },
      type: Object,
    },
  },
  data() {
    return {
      summaryRef: firebase.firestore().collection("summary"),
      userRef: firebase.firestore().collection("users"),
      Notifyref: firebase.firestore().collection("notifications"),
      memberRef: firebase.firestore().collection("membres"),
      notify: {},
      dialogUser: false,
      loadingDataSelect: true,
      userSelected: "",
      actionId: "",
      allUsers: [],
      member: {},
      loadingOrientation: false,
      currentUId: "",
      ticket: "",
    };
  },
  computed: {
    planActionRef: {
      get() {
        return this.$store.state.agilite.planActionRef;
      },
    },
  },

  methods: {
    openModalUser(idAction, ref, ticket) {
      this.ticket = ticket;
      this.planActionRef = ref;
      this.dialogUser = true;
      this.loadingDataSelect = true;
      this.actionId = idAction;
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        this.currentUId = JSON.parse(
          localStorage.getItem("userSession")
        ).adminId;
      } else {
        this.currentUId = adminId;
      }

      this.getUsers();
    },
    async getUsers(adminId = this.currentUId) {
      await this.userRef
        .where("adminId", "==", this.currentUId)
        .get()
        .then((onSnapshot) => {
          this.allUsers = [];
          if (!onSnapshot.empty) {
            onSnapshot.forEach((doc) => {
              let user = doc.data();
              user.id = doc.id;
              this.allUsers.push(user);
            });
          }
          // this.$loading().close();
        });
      this.loadingDataSelect = false;
    },
    getDefaultAction() {
      this.planActionRef
        .where("programId", "==", this.concoursRef.doc(this.programIdSelected))
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            let action = doc.data();
            action.actionId = this.summaryRef.doc(this.actionId);
            action.type = "projet";
            this.planActionRef
              .add(action)
              .then(() => {})
              .catch(() => {});
          });
        });
    },
    addInAction() {
      this.loadingOrientation = true;
      this.ticketRef
        .update({
          userId: this.userRef.doc(this.userSelected),
        })
        .then(() => {
          if (this.userRef.doc(this.userSelected).id != this.currentUId) {
            this.userRef
              .doc(this.userSelected)
              .get()
              .then((doc) => {
                let userInfos = doc.data();
                const contentHtml = `
              <html>
              <body>
              <h3>Bonjour </h3>
              <p>Vous avez été affecté à la tâche : ${this.ticket.titre} </p>
              </body>
              </html>
              `;
                const messageInfos = {
                  titre: this.ticket.titre,
                  content: contentHtml,
                  userEmail: userInfos.email,
                  isEmail: true,
                };
                const message = new Message("messages", messageInfos);
                message
                  .saveDocumentDynamic("messages", message.data)
                  .then((doc) => {});
              });
          }
          // this.getDefaultAction();
          this.$emit("assign:user", this.userRef.doc(this.userSelected));
          this.loadingOrientation = false;
          this.$notify({
            title: "Succès",
            message: "Assignation réussie",
            type: "success",
          });
          this.dialogUser = false;
        })
        .catch((error) => {
          console.log(error);
          this.loadingOrientation = false;
          this.$notify({
            title: "Erreur",
            message:
              "Une Erreur innatendue s'est produite. Contactez votre administrateur",
            type: "error",
          });
        });
    },
  },
};
</script>
