<template>
  <div>
    <el-dialog :visible.sync="dialogUser" width="33%">
      <el-tabs
        v-model="activeTab"
        @tab-click="loadTabContent($event)"
        type="border-card"
      >
        <el-tab-pane label="Utilisateurs de mon espace">
          <el-select
            :loading="this.loadingDataSelect"
            v-model="userSelected"
            loading-text="Chargement"
            filterable
            placeholder="Choisissez un utilisateur"
            style="width:400px;"
          >
            <strong>
              <el-option
                v-for="(item, index) in allUsers"
                :key="index"
                :label="item.first_name + ' ' + item.last_name"
                :value="item.id"
              >
                {{ item.first_name + " " + item.last_name }}
                <img
                  :src="'data:image/png;base64,' + item.photo"
                  class="user-pic"
                />
              </el-option>
            </strong>
          </el-select>
        </el-tab-pane>
        <el-tab-pane label="Autres Utilisateurs">
          <el-select
            :loading="this.loadingDataSelect"
            v-model="userSelected"
            loading-text="Chargement"
            filterable
            placeholder="Choisissez un utilisateur"
            style="width:400px;"
          >
            <strong>
              <el-option
                v-for="(item, index) in allUsers"
                :key="index"
                :label="item.first_name + ' ' + item.last_name"
                :value="item.id"
              >
                {{ item.first_name + " " + item.last_name }}
                <img
                  :src="'data:image/png;base64,' + item.photo"
                  class="user-pic"
                />
              </el-option>
            </strong>
          </el-select>
        </el-tab-pane>
      </el-tabs>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogUser = false">Fermer</el-button>

        <el-button
          type="primary"
          :loading="loadingOrientation"
          @click="addInProject()"
          >Assigner</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  data() {
    return {
      summaryRef: firebase.firestore().collection("summary"),
      userRef: firebase.firestore().collection("users"),
      Notifyref: firebase.firestore().collection("notifications"),
      memberRef: firebase.firestore().collection("membres"),
      planActionRef: firebase.firestore().collection("planAction"),
      notify: {},
      dialogUser: false,
      projectId: "",
      projetTitre: "",
      loadingDataSelect: false,
      userSelected: "",
      actionId: "",
      allUsers: [],
      member: {},
      loadingOrientation: false,
      currentUId: "",
    };
  },

  methods: {
    openModalUser(idProjet, adminId, projet) {
      this.projectId = idProjet;
      this.projetTitre = projet;
      this.dialogUser = true;
      this.loadingDataSelect = true;
      if (JSON.parse(localStorage.getItem("userSession")).adminId) {
        this.currentUId = JSON.parse(
          localStorage.getItem("userSession")
        ).adminId;
      } else {
        this.currentUId = JSON.parse(localStorage.getItem("userSession")).uid;
      }

      this.getUsers();
    },
    async getUsers(adminId = this.currentUId) {
      this.loadingDataSelect = true;
      this.allUsers = [];
      await this.userRef
        .where("adminId", "==", this.currentUId)
        .onSnapshot((onSnapshot) => {
          if (!onSnapshot.empty) {
            onSnapshot.forEach((doc) => {
              let user = doc.data();
              user.id = doc.id;
              this.allUsers.push(user);
            });
          }
          // this.$loading().close();
        });
      this.loadingDataSelect = false;
    },
    async getUsersAutres(adminId = this.currentUId) {
      this.loadingDataSelect = true;
      this.allUsers = [];
      await this.userRef.onSnapshot((onSnapshot) => {
        if (!onSnapshot.empty) {
          onSnapshot.forEach((doc) => {
            let user = doc.data();
            user.id = doc.id;
            this.allUsers.push(user);
          });
        }
        // this.$loading().close();
      });
      this.loadingDataSelect = false;
    },
    getDefaultAction() {
      this.planActionRef
        .where("programId", "==", this.concoursRef.doc(this.programIdSelected))
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            let action = doc.data();
            action.actionId = this.summaryRef.doc(this.actionId);
            action.type = "projet";
            this.planActionRef
              .add(action)
              .then(() => {})
              .catch(() => {});
          });
        });
    },
    loadTabContent(event) {
      switch (event.index) {
        case "0":
          this.getUsers();
          // this.getActionsReloadArchives();
          // alert("BEW");
          // if (this.actionsData.length == 0) {
          //   this.getActions();
          // }
          break;
        case "1":
          this.getUsersAutres();
          break;

        default:
          break;
      }
    },
    // addInAction(){

    //     this.loadingOrientation=true
    //     this.planActionRef.doc(this.actionId).update({
    //         userId: this.userRef.doc(this.userSelected)
    //     }).then(()=> {
    //         // this.getDefaultAction();
    //         this.loadingOrientation=false
    //         this.$notify({
    //         title: 'Succès',
    //         message: 'Assignation réussie',
    //         type: 'success'
    //         });
    //         this.dialogUser=false
    //     })
    //     .catch((error)=> {

    //         this.loadingOrientation=false
    //         this.$notify({
    //         title: 'Erreur',
    //         message: 'Une Erreur innatendue s\'est produite. COntactez votre administrateur',
    //         type: 'error'
    //         });

    //     });
    //     this.addInProject()
    // },

    async addInProject() {
      this.loadingOrientation = true;
      this.userRef
        .doc(this.userSelected)
        .get()
        .then((user) => {
          this.tableData = []; //on reset le data pour éviter les doublons
          this.member.email = user.data().email;
          this.member.confirm = false;
          this.member.projectId = this.projectId;
          this.member.createdAt = new Date();

          this.notify.email = user.data().email;
          this.notify.createdAt = new Date();
          this.notify.projectId = this.projectId;

          this.notify.projet = this.projetTitre;
          //VERIFICATION MEMBR
          this.member.userId = this.userSelected;

          this.memberRef
            .add(this.member)
            .then((member) => {
              this.notify.docId = member.id;
              this.Notifyref.add(this.notify);
              this.loadingOrientation = false;
              this.$notify({
                title: "Succès",
                message: "Assignation réussie",
                type: "success",
              });
              this.dialogUser = false;
              //si le bouton saveAndContinu n'est pas coché
            })
            .catch((error) => {
              this.loadingOrientation = false;
              this.$notify({
                title: "Erreur",
                message:
                  "Une Erreur innatendue s'est produite. Contactez votre administrateur",
                type: "error",
              });
            });

          // TODO: sort projects by last modified data
        });
    },
  },
};
</script>
