   <vs-table>
    <template #thead>
      <vs-tr>
        <vs-th>
          Titre
        </vs-th>
        <vs-th>
          Description
        </vs-th>
        <vs-th>
          Statut
        </vs-th>
         <vs-th>
          Validation
        </vs-th>
        <vs-th>
          Utilisateur
        </vs-th>
         <vs-th>
          Actions
        </vs-th>
      </vs-tr>
    </template>
    <template #tbody>
      <vs-tr
        :key="index"
        v-for="(tr, index) in actionsData"
      >
        <vs-td>
         <strong>   <el-checkbox v-if="tr.etat=='3'"    @change.native="switchStateSubAll(tr.id,tr,0)" size="small" checked></el-checkbox>
           <el-checkbox v-else   @change.native="switchStateSubAll(tr.id,tr,1)" size="small" unchecked></el-checkbox>
          {{ tr.titre }} <i v-if="tr.subActions.length!=0" class="el-icon-caret-right"></i></strong> 
           <el-progress v-if="percentSubAction(tr)>0 & percentSubAction(tr)<100" :text-inside="true" :stroke-width="15"  class="percentage" color="#E6A23C" :percentage="percentSubAction(tr)"></el-progress>
          <el-progress v-else-if="percentSubAction(tr)==100 && tr.verdict=='1'" :text-inside="true" :stroke-width="15"  class="percentage" color="#F56C6C" :percentage="percentSubAction(tr)"></el-progress>
           <el-progress v-else-if="percentSubAction(tr)==100 && tr.verdict=='2'" :text-inside="true" :stroke-width="15"  class="percentage" color="#E6A23C" :percentage="percentSubAction(tr)"></el-progress>
           <el-progress v-else-if="percentSubAction(tr)==100" :text-inside="true" :stroke-width="15"  class="percentage" color="#67C23A" :percentage="percentSubAction(tr)"></el-progress>
           <el-progress v-else-if="percentSubAction(tr)==0" :text-inside="true" :stroke-width="15"  class="percentage" color="#909399" :percentage="percentSubAction(tr)"></el-progress>
        </vs-td>
        <vs-td>
           <el-popover
              placement="top-start"
              width="400"
              trigger="hover"
          >
              <span  :inner-html.prop="tr.description">{{tr.description}}</span>
              <span slot="reference" :inner-html.prop="tr.description| cyb_txt_split ">{{tr.description}}</span>
          </el-popover>
               
        </vs-td>
        <vs-td>     
            <el-dropdown trigger="hover">
                 <el-button
                    v-if="tr.etat=='1'"
                    size="mini"
                    > A faire
                </el-button> 
                         
                <el-button
                    v-if="tr.etat=='2'"
                    size="mini"
                    type="warning"
                    > En cours
                </el-button> 
                <el-button
                    v-if="tr.verdict && tr.etat=='3' && tr.verdict=='1'"
                    size="mini"
                    type="danger"
                    > Terminé
                </el-button> 
                <el-button
                    v-else-if="tr.etat=='3'"
                    size="mini"
                    type="success"
                    > Terminé
                </el-button>    
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item  @click.native="switchState(tr.id,1,tr)">A Faire</el-dropdown-item>
                    <el-dropdown-item  @click.native="switchState(tr.id,2, tr)">En cours </el-dropdown-item>
                    <el-dropdown-item  @click.native="switchState(tr.id,3,tr)">Terminé</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>     
        </vs-td>
        <vs-td>
           <el-dropdown 
           placement="top-end"
          >
              <el-button
                  v-if="!tr.verdict"
                  size="mini"
                  > 
                  En attente <i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>   
               <el-button
                  v-else-if="tr.verdict && tr.verdict=='1'"
                   type="danger"
                  size="mini"
                  > Refus
              </el-button>  
              <el-button
                  v-else-if="tr.verdict && tr.verdict=='2'"
                  size="mini"
                  type="warning"
                  > A Refaire
              </el-button> 
              <el-button
                  v-else-if="tr.verdict && tr.verdict=='3'"
                  size="mini"
                  type="success"
                  > Terminé
              </el-button>
                     
              <el-dropdown-menu v-if="adminId==undefined" slot="dropdown">
                  <el-dropdown-item  @click.native="switchVerdict(tr.id,3,tr)">Valider</el-dropdown-item>
                  <el-dropdown-item  @click.native="switchVerdict(tr.id,2, tr)">A refaire </el-dropdown-item>
                  <el-dropdown-item  @click.native="switchVerdict(tr.id,1,tr)">Refus</el-dropdown-item>
              </el-dropdown-menu>
          </el-dropdown> 

        </vs-td>
        <vs-td>
          <!-- <div class="con-content">
                
                
                <img 
                :src="'data:image/png;base64,'+tr.user.photo"
                class="user-pic"
                /> 

                <p>Nom</p>
                     
          </div> -->
          <vs-row>
            <vs-col  vs-type="flex" vs-justify="center" vs-align="center" w="3">
               <img 
              :src="'data:image/png;base64,'+tr.user.photo"
              class="user-pic"
              /> 
            </vs-col>
            <vs-col  vs-type="flex" vs-justify="center" vs-align="center" w="9">
             <p class="user-name" v-if="tr.user.denomination">{{tr.user.denomination | cyb_denomination_split}}</p>
             <p class="user-name" v-if="tr.user.first_name && tr.user.last_name  ">{{tr.user.first_name +" " + tr.user.last_name | cyb_denomination_split}}</p>
            </vs-col>
          </vs-row>

                 
        </vs-td>
        <vs-td>
                  
             <el-dropdown
              placement="top-end"
              trigger="hover"
              >
                <span >
                    <i class="el-icon-more icon-size"></i> 
                          
                </span>
                <el-dropdown-menu slot="dropdown">
                       <el-dropdown-item  @click.native="loadComment(tr)" >
                        <span  size="mini"> <i class="el-icon-s-comment"></i>Commenter</span>
                      </el-dropdown-item>
                      <el-dropdown-item  @click="editAction(tr.id)" >
                        <span  size="mini"> <i class="el-icon-edit"></i>Modifier</span>
                      </el-dropdown-item>
                    <el-dropdown-item >
                        <el-popconfirm
                        confirmButtonText='Oui'
                        cancelButtonText='Non'
                        icon="el-icon-info"
                        iconColor="red"
                        @onConfirm="deleteAction(tr.id,index)"
                        title="Voulez vous vraiment supprimer cet élément??"
                        >
                               
                        <span  size="mini"    slot="reference"> <i class="el-icon-delete"></i>Supprimer</span>
                        </el-popconfirm>
                      </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown> 
           <i v-if="tr.commentaire  && tr.commentaire!=''"  class="el-icon-s-comment icon-size icon-blue"></i>    
        </vs-td>
              
                

        <template v-if="tr.subActions.length!=0" #expand>
          <div class="con-content">
             <div class="grid">
                 <vs-row w="12"> 
                          
                 </vs-row>
              <vs-row v-for="(subAction,indexSub) in tr.subActions" :key="indexSub" w="12">
                <el-divider></el-divider>
                <vs-col w="1">
                     <el-checkbox v-if="actionsData[index].subActions[indexSub].state" border  @change.native="switchStateSub(tr.id,indexSub,subAction.state,tr,index)" size="small" checked></el-checkbox>
                   <el-checkbox v-else border  @change.native="switchStateSub(tr.id,indexSub,subAction.state,tr,index)" size="small" unchecked></el-checkbox>
                </vs-col>
                <vs-col w="5">
                     <h6>{{subAction.title}}</h6>
                </vs-col>
                <vs-col w="3">
                    <p> <i class="el-icon-time"></i>{{ new Date(subAction.dates[0].seconds*1000) | moment("Do MMMM YYYY") }}</p>
                       
                </vs-col>
                 <vs-col w="3">
                    <p> <i class="el-icon-time"></i>{{ new Date(subAction.dates[1].seconds*1000) | moment("Do MMMM YYYY") }}</p>
                </vs-col>
                      
                      
              </vs-row>
            </div>
            <!-- <div>
              <vs-button flat icon>
                <i class='bx bx-lock-open-alt' ></i>
              </vs-button>
              <vs-button flat icon>
                Send Email
              </vs-button>
              <vs-button border danger>
                Remove User
              </vs-button>
            </div> -->
          </div>
        </template>
      </vs-tr>
    </template>
  </vs-table>