<template>
  <div class="calendrier">
    <full-calendar :events="events" :config="config" />
  </div>
</template>
<script>
import { FullCalendar } from "vue-full-calendar";
import "fullcalendar/dist/fullcalendar.css";
import "fullcalendar/dist/locale/fr";
import helper from "../../../../services/helper";
export default {
  mixins: [helper],
  components: {
    FullCalendar,
  },
  props: {
    actionsData: {
      default() {
        return [];
      },
      type: Array,
    },
    activeTab: {
      default: "",
      type: String,
    },
  },
  watch: {
    activeTab: function(val) {
      if (val == "calendrier") {
        this.initData();
      }
    },
  },
  data() {
    return {
      config: {
        locale: "fr",
      },
      events: [],
    };
  },
  methods: {
    initData() {
      this.actionsData.forEach((item) => {
        if (item.dates != "") {
          let startDate = item.dates[0];
          let endDate = item.dates[1];
          this.events.push({
            title: item.titre,
            start: startDate,
            end: endDate,
            color: item.ticket.couleur,
          });
        }
      });
    },
  },
  mounted() {
    this.initData();
  },
};
</script>
<style>
  .calendrier .fc-unthemed td.fc-today {
    background: #0167d04a !important;
  }
  .calendrier .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: right;
    color: #054bb4;
    font-weight: 600;
  }
  .calendrier .fc th.fc-widget-header{
    color: #ffffff !important;
    font-weight: 600 !important;
    background: #0167d0 !important;
    /* background: #5a6fc4f5 !important; */
  }
  .calendrier .fc-time-grid .fc-slats .fc-minor td {
    border-top-style: none !important;
  }
  .calendrier .fc-widget-content {
    border-color: rgb(47 47 47 / 16%) !important;
  }
  .calendrier .fc th, .fc td {
    border-style: solid;
    border-width: 1px;
  }
  .calendrier .fc-ltr .fc-axis {
    text-align: center;
    /* color: #5571e2fb; */
    color: #054bb4;
    font-weight: 600;
    background: #fff;
    border: none;
  }
  .calendrier tr:first-child > td > .fc-day-grid-event {
    margin: 7px;
    padding: 10px 0;
    background: #167ce330 !important;
    color: #167ce3 !important;
  }

  .calendrier .fc .fc-button-group > :first-child {
    margin-left: 0;
    background: #ffffff;
    border: none;
    padding: 0 15px;
  }
  .calendrier .fc .fc-button-group > * {
    float: left;
    margin: 0 0 0 -1px;
    margin-left: 0;
    background: #ffffff;
    border: none;
    padding: 0 15px;
    /* color: #010314; */
    color: #054bb4;
    font-weight: 600;
    outline: none;
  }
  .calendrier .fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
    z-index: 4;
    /* background: #5a6fc440;
    color: #5a6fc4f5; */
    background: #054bb4 !important;
    color: #fff;
    outline: none;
    transition: ease .3s;
  }
  /* .calendrier .fc-state-default.fc-corner-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #5a6fc4f5;
  } */
  .calendrier  .fc-state-disabled{
    color: #fff;
    background: #054bb4 !important;
  }

</style>
