<template>
  <div>
    <el-dialog
      :close-on-click-modal="false"
      width="50%"
      :visible.sync="display"
      append-to-body
    >
      <span class="title"><strong slot="title">Commentaire </strong></span>
      <hr />
      <el-form :model="action" ref="actionForm">
        <el-form-item label="">
          <transition name="fade" mode="out-in">
            <vue-editor
              @blur="onBlur('description')"
              v-if="descriptionEdit"
              id="zone"
              :editorToolbar="customToolbar"
              v-model="action.commentaire"
            ></vue-editor>
            <div v-else>
              <div
                class="hresize"
                v-html="action.commentaire"
                placeholder="Description"
              >
                {{ action.commentaire }}
              </div>
              <el-button
                size="mini"
                @click="onFocusField('description')"
                icon="el-icon-edit"
              ></el-button>
            </div>
          </transition>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="$emit('update:display', false)">Fermer</el-button>
        <el-button
          v-if="editMode"
          type="primary"
          :loading="loadingSave"
          @click="saveEditActionComment('actionForm')"
          >Modifier</el-button
        >
        <el-button
          v-else
          type="success"
          @click="saveActionComment('actionForm')"
          >Confirmer</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
  props: {
    display: {
      default: false,
      type: Boolean,
    },
    tr: {
      default: {},
      type: Object,
    },
    ticketRef: {
      default: {},
      type: Object,
    },
  },
  watch: {
    tr: function(val) {
      this.action.commentaire = val.commentaire;
    },
  },
  data() {
    return {
      editMode: false,
      descriptionEdit: true,
      action: {
        commentaire: "",
      },
      loadingSave: false,
    };
  },
  methods: {
    loadComment(tr) {
      this.commentLoadDialog = true;
      this.editActionId = tr.id;
      this.descriptionEdit = true;
      if (tr.commentaire) {
        this.action = tr;
        if (action.commentaire != "") this.descriptionEdit = false;
      } else {
        this.action = tr;
        this.action.commentaire = "";
        this.descriptionEdit = true;
      }
    },
    saveActionComment() {
      this.loadingSave = true;
      this.ticketRef
        .update({
          commentaire: this.action.commentaire,
        })
        .then(async () => {
          this.$notify({
            title: "Succès",
            message: "Le commentaire a été rajouté",
            type: "success",
          });
          this.loadingSave = false;
          this.$emit("update:display", false);
          this.$emit("update:comment", this.action.commentaire);
        })
        .catch(() => {
          this.$notify.error({
            title: "Error",
            message: "Une erreur s'est produite",
          });
          this.loadingSave = false;
        });
    },
    saveEditActionComment() {
      this.loadingSave = true;
      this.ticketRef
        .update({
          commentaire: this.action.commentaire,
        })
        .then(async () => {
          this.$notify({
            title: "Succès",
            message: "Le commentaire a été modifié",
            type: "success",
          });
          this.loadingSave = false;
          this.$emit("update:display", false);
          this.$emit("update:comment", this.action.commentaire);
        })
        .catch(() => {
          this.$notify.error({
            title: "Error",
            message: "Une erreur s'est produite",
          });
          this.loadingSave = false;
        });
    },
  },
  mounted() {
    console.log("Tr", this.tr.commentaire);
    if (this.tr.commentaire && this.commentaire != "") {
      this.action.commentaire = this.tr.commentaire;
      this.editMode = true;
      // if (this.action.commentaire != "") this.descriptionEdit = false;
    }
  },
};
</script>
