<template>
  <div>
    <div class="main-Task">
      <div
        v-if="mobileView == false && tabletView == false && screenView == false"
        class="task"
      >
        <el-row :gutter="24">
          <el-tooltip content="Ticket principal" placement="top">
            <div class="d-flex">
              <div class="d-flex align-items-stretch">
                <el-col
                  v-if="tr.ticket"
                  :span="1"
                  :style="{
                    backgroundColor: tr.ticket.couleur,
                    color: 'white',
                  }"
                >
                  <i
                    v-if="subActions.length != 0 && !tr.visibility"
                    @click="visibilityChange(true)"
                    class="el-icon-arrow-right cursor"
                  ></i>
                  <i v-if="subActions.length < 1">
                    <span class="icon-test"></span>
                  </i>
                  <i
                    v-else-if="subActions.length != 0 && tr.visibility"
                    @click="visibilityChange(false)"
                    class="el-icon-arrow-down cursor"
                  ></i>
                </el-col>
              </div>
         
              <div class="el-style-tick row">

                <el-col :span="2.5">
                  <div class="d-flex align-items-center">
            
                    <span class="mr-2">JES-100001</span>
                    <span
                      v-if="tr.ticket"
                      class="material-icons-outlined"
                      :style="{
                        color: tr.ticket.couleur,
                      }"
                    >
                      label_important
                    </span>
                  </div>
                  <div v-if="tr.ticket" class="title">
                    <span>{{ tr.ticket.libelle }}</span>
                  </div>
                </el-col>
                <div
                    class="d-flex justify-content-end align-items-center ml-auto">
                    <!-- fileTicket  -->
                    <!-- <file-ticket :tr="tr" ref="fileTicket" /> -->
                    <!-- commentaire  -->
                    <span
                        size="mini"
                        v-if="tr.commentaire && tr.commentaire != ''"
                        @click="loadComment(tr)"
                        class="el-icon-s-comment icon-size icon-blue"
                    ></span>
                    <!-- <Comment :tr="tr" ref="commentTicket" /> -->
                
                    <!------ Plus Actions Ticket ------->
                    <plus-Action-ticket
                        :tr="tr"
                        :subTasks="subActions"
                        @savedTicket="$emit('savedTicket')"
                        @delete:ticket="$emit('delete:ticket')"
                        @archive:ticket="$emit('archive:ticket')"
                        @assign:user="$emit('assign:user', $event)"
                        :afficher="true"
                        :dupliquer="true"
                        :archiver="true"
                        :supprimer="true"
                        :commenter="true"
                        :assigner="true"
                        :modifier="true"
                        ref="plusActionTicket"
                    />
                </div>
                <el-col>
                  <!-- Checkbox-->
                  <strong class="check">
                    <!-- <el-checkbox
                      key="0"
                      v-if="tr.etat == '3'"
                      @change.native="switchStateSubAll(tr.id, false, tr.ref)"
                      size="small"
                      checked
                    ></el-checkbox>
                    <el-checkbox
                      key="1"
                      v-else
                      @change.native="switchStateSubAll(tr.id, true, tr.ref)"
                      size="small"
                      unchecked
                    ></el-checkbox> -->
                    <el-popover
                      placement="top-start"
                      width="400"
                      trigger="hover"
                    >
                      <span :inner-html.prop="tr.titre">{{ tr.titre }}</span>
                      <span
                        class="titre-reduce"
                        slot="reference"
                        :inner-html.prop="tr.titre | cyb_denomination_split"
                        >{{ tr.titre }}</span>
                    </el-popover>
                  </strong>
                </el-col>
                <!------ Bar d'état dropdown ------->
                <!-- <state-ticket :tr="tr" ref="stateTicket" /> -->
                <!--ActionTask----------->
                <percent-ticket :tr="tr" ref="percentTicket" />

                <!-- Avancement -->
                <!-- <el-col :span="3">
                  <avancement
                    :docId="tr.id"
                    @update:etat="$emit('update:etat', $event)"
                    @update:state="$emit('update:state', $event)"
                    :percent="percentSubAction(subActions, tr)"
                  />
                </el-col> -->
                <!-- TypeTicket Tag -->
                <!-- <type-ticket-Tag :tr="tr" ref="typeTicketTag" /> -->

                <!-- Etiquette-->
                <el-col :span="8">
                    <div class="pb-4 pt-4">
                        <etiquette-tag
                        :refEtiquette="tr.etiquette"
                        ref="etiquetteTag"
                     />
                    </div>
                </el-col>
                <el-col :span="8">
                  <div class="priorite pb-4 pt-4">
                    <priorite-tag
                      :prioriteRef="tr.priorite"
                      ref="etiquetteTag"
                    />
                  </div>
                </el-col>
                <el-col :span="8" class="flex d-flex">
                  <div class="pt-4">
                      <file-ticket :tr="tr" ref="fileTicket" />
                  </div>
                  <div class="pb-4 pt-4 ml-auto">
                       <!------ Photo et nom d'utilisateur ------->
                      <user-ticket
                      :refTicket="tr.ref"
                      @assign:user="$emit('assign:user', $event)"
                      :userId="tr.userId"
                      ref="userTicket"
                      />
                    <!------End Photo et nom d'utilisateur ------->
                  </div>
                    
                </el-col>
                <!-- <file-ticket :tr="tr" ref="fileTicket" /> -->
                <!-- <el-col :span="2">
                <el-tag effect="dark" type="danger">Urgent</el-tag>
              </el-col> -->
                <!-- avancement -->
              </div>
            </div>
          </el-tooltip>
        </el-row>
        <transition name="fade">
          <div v-if="tr.visibility && subActions.length != 0">
            <!-- Sous-tache-->
            <ticket-sub-task-new
              v-for="(subAction, index) in subActions"
              :key="subAction.id"
              @assign:user="subActions[index].userId = $event"
              :subAction="subAction"
              @update:state="
                switchStateSub(subAction.id, $event, subAction.ref)
              "
              @delete:ticket="subActions.splice(index, 1)"
            />
          </div>
        </transition>
        <!-- <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="" />
        </el-dialog> -->
      </div>
    </div>

    <div
      v-if="mobileView == false && tabletView == false && screenView == true"
      class="task"
    >
      <ticket-task-new-lg
        :idSummarySelected="idSummarySelected"
        :categorieSelectedId="categorieSelectedId"
        :screenView="screenView"
        :tabletView="tabletView"
        :mobileView="mobileView"
        :tr="tr"
        :index="index"
        ref="ticketTaskNewLg"
      />
    </div>

    <div
      v-if="mobileView == true && tabletView == false && screenView == false"
      class="task"
    >
      <ticke-task-new-responsive
        :idSummarySelected="idSummarySelected"
        :categorieSelectedId="categorieSelectedId"
        :screenView="screenView"
        :tabletView="tabletView"
        :mobileView="mobileView"
        :tr="tr"
        :index="index"
        ref="ticketTaskNewResponsive"
      />
    </div>
  </div>
</template>
<script>
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlanNew.js";
import SubTask from "../../../bp/erp/models/agilite/subTask";
import Ticket from "../../../bp/erp/models/agilite/ticket";
import TicketSubTaskNew from "./ticketSubTaskNew.vue";
import StateTicket from "./listTicket/stateTicket.vue";
import PercentTicket from "./listTicket/percentTicket.vue";
import EtiquetteTag from "./listTicket/etiquetteTag.vue";
import PrioriteTag from "./listTicket/prioriteTag.vue";
import FileTicket from "./listTicket/fileTicket.vue";
import UserTicket from "./listTicket/userTicket.vue";
import PlusActionTicket from "./listTicket/plusActionTicket.vue";
import Avancement from "./listTicket/avancement.vue";
import tickeTaskNewResponsive from "../components/ticketTaskNewResponsive.vue";
import ticketTaskNewLg from "../components/ticketTaskNewLg.vue";
import Comment from "../components/comment.vue";
// import StateCheck from "./listTicket/stateCheck.vue";
export default {
  name: "kanban",
  mixins: [helper, action],
  components: {
    TicketSubTaskNew,
    StateTicket,
    PercentTicket,
    EtiquetteTag,
    PrioriteTag,
    // TypeTicketTag,
    FileTicket,
    UserTicket,
    PlusActionTicket,
    Avancement,
    ticketTaskNewLg,
    tickeTaskNewResponsive,
    // StateCheck,
  },
  props: {
    tr: {
      default: [],
    },
    subAction: {
      default: {},
      type: Object,
    },
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    categorieSelectedId: {
      default: null,
      type: String,
    },
    idSummarySelected: {
      default: null,
      type: String,
    },
    index: {
      default: null,
      type: Number,
    },
  },
  // watch: {
  //   tr: function(val) {
  //     this.getAllSubtasks();
  //     // alert("Hello");
  //   },
  // },
  data() {
    return {
      subActions: [],
    };
  },

  methods: {
    getAllSubtasks() {
      this.tr.ref
        .collection("subTasks")
        .orderBy("createdAt", "asc")
        .get()
        .then((query) => {
          this.subActions = [];
          query.forEach((doc) => {
            let data = doc.data();
            data.id = doc.id;
            data.ref = doc.ref;
            this.subActions.push(data);
          });
        });
    },
    visibilityChange(visibility) {
      this.$emit("update:visibility", visibility);
    },
    switchStateSub(id, state, ref) {
      let etat = "1";
      if (state) {
        etat = "3";
      } else {
        etat = "1";
      }
      ref.update({ state: state, etat: etat }).then(() => {
        this.getAllSubtasks();
      });
      // SubTask.updateDocumentSubSubCollectionField(
      //   "planAction",
      //   this.idSummarySelected,
      //   this.categorieSelectedId,
      //   this.tr.id,
      //   "subTasks",
      //   id,
      //   state,
      //   etat
      // ).then(() => {
      //   // this.$emit("update:state");
      //   this.getAllSubtasks();
      // });
    },
    switchStateSubAll(id, state, ref) {
      if (this.subActions.length == 0) {
        let etat = "1";
        if (state) {
          etat = "3";
        } else {
          etat = "1";
        }
        ref.update({ state: state, etat: etat }).then(() => {
          this.$emit("update:state", state);
          this.$emit("update:etat", etat);
        });
        // Ticket.updateDocumentSubSubCollectionField(
        //   "planAction",
        //   this.idSummarySelected,
        //   this.categorieSelectedId,
        //   id,
        //   state,
        //   etat
        // ).then((doc) => {
        //   this.$emit("update:state", state);
        //   this.$emit("update:etat", etat);
        //   // this.getAllSubtasks();
        // });
      } else if (this.subActions.length > 0) {
        ref
          .collection("subTasks")
          .get()
          .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              if (state) {
                this.switchStateSub(doc.id, state, doc.ref);
              } else {
                this.switchStateSub(doc.id, state, doc.ref);
              }
            });
          });
      }
    },
  },
  mounted() {
    // this.$store.commit(
    //   "agilite/setPlanActionRef",
    //   SubTask.getCollection("planAction")
    //     .doc(this.idSummarySelected)
    //     .collection(this.categorieSelectedId)
    // );
    this.getAllSubtasks();
  },
};
</script>
<style scoped>
.smooth-dnd-container{
  cursor: pointer !important;
}
.icon-test {
  display: block;
  height: 14px !important;
  width: 14px !important;
}
.title span {
  font-size: 0.55rem;
  color: #b0b0b096;
  font-weight: 600;
}
.task {
  background: #f2f6ffc9;
  border-radius: 10px;
  border: 1px solid #c0c4cc66;
}
.main-Task {
  /* margin: 0 10px !important; */
  /* background: #eeeff3 !important; */
  /* padding: 0.4rem 0; */
  margin: 4px !important;

}
.main-Task .el-row {
  /* padding: 12px !important; */
  background: #fff !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0.12rem 0.1rem rgba(0, 0, 0, 0.085) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.el-style-tick {
  padding: 6px;
  width: 100%;
}
.main-Task i {
  font-style: 1.2rem;
  color: #fff;
}
.check {
  display: flex;
  align-items: center;
}
.check .el-checkbox:nth-child(1) {
  margin-top: 5px;
  margin-right: 0.5rem;
}
.el-col-1 {
  padding-right: 23px !important;
  padding-top: 10px !important;
  border-top-left-radius: 10px;
}
.el-col-2 {
  width: 7% !important;
  display: flex;
  margin-top: 5px;
}
.el-col-5 {
  width: 22%;
}
.cursor {
  cursor: pointer;
}
/* .el-col-2 .priorite{
  width: 12% !important;
} */
</style>
