<template>
  <div class="card-body">
    <el-row :gutter="24">
      <el-col :span="2.5">
        <span>Sub-TC-01</span>
      </el-col>
      <el-col class="sub-task" :span="7">
        <div class="d-flex align-items-center">
          <state-check
            @update:state="$emit('update:state', $event)"
            :tr="subAction"
          />
          <h6 class="sub-task">{{ subAction.titre }}</h6>
        </div>
      </el-col>
      <el-col :span="5"></el-col>
      <el-col :span="5"></el-col>
      <!------ state Action ------->
      <state-ticket :tr="subAction" ref="stateTicket" />
      <!-- <div :gutter="10"> -->
      <el-col :span="12">
        <div class="row">
          <!-- Uer Ticket  -->
          <div class="d-flex justify-content-end ml-auto line">
            <div class="user">
              <user-ticket :userId="subAction.userId" />
            </div>
            <!------ Plus Actions Ticket ------->
            <plus-action-ticket
              :assigner="true"
              @assign:user="$emit('assign:user', $event)"
              @delete:ticket="$emit('delete:ticket')"
              :tr="subAction"
              :supprimer="true"
              ref="plusActionTicket"
            />
          </div>
        </div>
      </el-col>
      <!-- </div> -->
    </el-row>
  </div>
</template>
<script>
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlan.js";
import StateTicket from "./listTicket/stateTicket.vue";
import PlusActionTicket from "./listTicket/plusActionTicket.vue";
import UserTicket from "./listTicket/userTicket.vue";
import StateCheck from "./listTicket/stateCheck.vue";
export default {
  name: "kanbanSubTask",
  components: { StateTicket, StateCheck, PlusActionTicket, UserTicket },
  mixins: [helper, action],
  props: {
    subAction: {
      default: {},
      type: Object,
    },
  },
};
</script>
<style scoped>
/* .line{
    margin-right: -21%;
  } */
/* .d-flex{
    margin-right: -15px;
  } */
/* .el-col-2 {
    width: 6% !important;
    padding: 5px !important;
  }
  .el-col-3 {
    width: 6.5%;
    padding: 5px 8px;
  }
  .el-col-5 {
    width: 23%;
  }
  .el-col-12 {
    padding-right: 0 !important;
  }
  .el-col-10 {
    width: 51.8%;
  }
  .el-col-4 {
    width: 10.66667%;
  } */
/* .el-col-8 {
  width: 30%;
} */
.el-col-7 {
  width: 27.16667%;
}
</style>
