<template>
  <div>
    <div class="card bg-wolrkflow">
      <Container
        orientation="horizontal"
        drag-handle-selector=".column-drag-handle"
        @drag-start="dragStart"
        :drop-placeholder="upperDropPlaceholderOptions"
        class="card-test"
      >
        <Draggable v-for="column in columnNames" :key="column.id">
          <div
            class="card-column-header shadow p-2 bg-white rounded m-2 style-step col-xl-11"
          >
            <h3>
              <span class="column-drag-handle">&#x2630;</span>
              {{ column.step }}
            </h3>
          </div>
          <Container
            group-name="col"
            drag-class="card-ghost"
            drop-class="card-ghost-drop"
            :drop-placeholder="dropPlaceholderOptions"
            @drop="onColumnDrop($event)"
          >
            <div></div>
            <Draggable
              v-for="(tr, index) in column.items"
              :key="tr.id + '-drag'"
            >
              <Kanban
                :idSummarySelected="idSummarySelected"
                :categorieSelectedId="categorieSelectedId"
                :tabletView="tabletView"
                :screenView="screenView"
                :mobileView="mobileView"
                :tr="tr"
                @update:etat="filterTaskList[index].etat = $event"
                @update:state="filterTaskList[index].state = $event"
                @savedTicket="savedTicket"
                :index="index"
                @assign:user="filterTaskList[index].userId = $event"
                @delete:ticket="deleteTicket(index)"
                @archive:ticket="deleteTicket(index)"
                @update:visibility="filterTaskList[index].visibility = $event"
                ref="kanban"
              />
            </Draggable>
          </Container>
        </Draggable>
      </Container>
    </div>
  </div>
</template>

<script>
import Kanban from "./kanban.vue";
import { Container, Draggable } from "vue-dndrop";
export default {
  components: { Kanban, Container, Draggable },
  props: {
    filterTaskList: {
      default() {
        return [];
      },
      type: Array,
    },
  },
  data() {
    return {
      columnNames: [
        {
          step: "A-faire",
          color: "#7c807f",
          etat: "1",
          items: [],
        },
        {
          step: "En-cours",
          color: "#f57200",
          etat: "2",
          items: [],
        },
        {
          step: "Terminer",
          color: "#10e34f",
          etat: "3",
          items: [],
        },
      ],
    };
  },
  methods: {
    // drag and drop kanban
    onColumnDrop(event) {
      let { removedIndex, addedIndex, payload, element } = event;
    },
    columnItem(etat) {
      const current = this.columnNames.find((item) => item.etat === etat);
      this.filterTaskList.forEach((item) => {
        if (item.etat == etat) {
          current.items.push(item);
        }
        // item.ref
        //   .collection("subTasks")
        //   .orderBy("createdAt", "asc")
        //   .get()
        //   .then((query) => {
        //     if (!query.empty) {
        //       query.forEach((doc) => {
        //         let data = doc.data();
        //         data.id = doc.id;
        //         data.ref = doc.ref;
        //         data.ticket = item.ticket;
        //         if (item.etiquette) {
        //           data.etiquette = item.etiquette;
        //         }
        //         if (item.priorite) {
        //           data.priorite = item.priorite;
        //         }
        //         if (data.etat == etat) {
        //           current.items.push(data);
        //         }
        //       });
        //     } else {
        //       if (item.etat == etat) {
        //         current.items.push(item);
        //       }
        //     }
        //   });
      });
    },
  },
  mounted() {
    this.columnItem("1");
    this.columnItem("2");
    this.columnItem("3");
  },
};
</script>

<style></style>
