<template>
    <div >


        <el-dialog
        :visible.sync="dialogMessage"
        width="70%"
        >
        <span>Envoyer un message à : <strong slot="title">{{this.userMessage.first_name+ " "+this.userMessage.last_name}}</strong></span> <br>
        <span>Téléphone : <strong slot="title">{{this.userMessage.telephone}}</strong></span><br>
        <span>Email : <strong slot="title">{{this.userMessage.email}}</strong></span><br>
        <el-tabs type="card" v-model="activeTabMessage" @tab-click="handleClickMessage">
            <el-tab-pane name="creer-message" label="Créer">
                    <el-form :model="message" :rules="rules" ref="messageForm">
                         <el-form-item label="" prop="type">
                        <div class="py-3">Type Message <span class="text-danger">*</span></div>
                          <el-checkbox-group v-model="message.type">
                          <el-checkbox  label="email" name="type" border size="medium">EMAIL </el-checkbox>
                          <el-checkbox label="sms" name="type" border size="medium">SMS</el-checkbox>
                          <el-checkbox label="notify" name="type" border size="medium">NOTIFICATION</el-checkbox>   
                        </el-checkbox-group>
                    </el-form-item>
                     <el-form-item label="TITRE:" prop="titre">
                             <input type="text" required v-model="message.titre" class="form-control" placeholder="Titre">
                          </el-form-item>
                     <el-form-item label="" prop="content">
                           <div class="py-3">CONTENU <span class="text-danger">*</span></div>
                        <vue-editor id="comment" v-model="message.content"  :editorToolbar="customToolbar" ></vue-editor>
                      </el-form-item>
                    <div class="footer-modal">
                    <el-button @click="dialogMessage= false">Fermer</el-button>
                        <el-button v-if="editMode" type="primary" :loading="loadingComment" @click="reSendMessage()">Renvoyer</el-button>
                          <el-button v-else-if="this.multipleSelection.length>0" icon="el-icon-s-promotion" type="primary" :loading="loadingMessage" @click="sendMessageMultiple('messageForm')">Envoyer ({{this.multipleSelection.length}})</el-button>
                          <el-button v-else icon="el-icon-s-promotion" type="primary" :loading="loadingMessage" @click="sendMessage('messageForm')">Envoyer</el-button>
                            
                    </div>
                    </el-form>
                </el-tab-pane>
            <el-tab-pane name="liste-message" label="Liste">
                  
                <el-table 
                    :data="listMessage">
                    <el-table-column
                    label="Titre"
                    width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px"><strong>{{ scope.row.titre | cyb_txt_split }}</strong> </span>                                                            
                    </template>
                    </el-table-column>
                    <el-table-column
                    label="Description"
                    width="150">
                    <template slot-scope="scope">
                        <el-popover
                            placement="top-start"
                            :title="scope.row.titre"
                            width="400"
                            trigger="hover"
                        >
                            <span  :inner-html.prop="scope.row.content">{{scope.row.content}}</span>
                            <span slot="reference" :inner-html.prop="scope.row.content | cyb_txt_split ">{{scope.row.content}}</span>
                        </el-popover>
                    
                        <!-- <span style="margin-left: 10px">{{ scope.row.description }} </span>                                                             -->
                    </template>
                    </el-table-column>                                   
                    
                         
                    <el-table-column
                    label="Crée le"
                    width="150">
                    <template slot-scope="scope">
                        <i class="el-icon-time"></i>
                        <span style="margin-left: 10px">{{  new Date(scope.row.createdAt.seconds*1000) | moment("Do MMMM YYYY") }} </span>                                                            
                    </template>
                    </el-table-column>  
                    <el-table-column 
                    fixed="right"
                    label="Email"
                    width="150"
                    >                            
                    <template  slot-scope="scope"> 
                        <el-button
                            v-if="scope.row.email && scope.row.stateEmail"
                            size="mini"
                            type="success"
                            > Envoyer
                        </el-button>   
                        <el-button
                            v-if="scope.row.email && scope.row.stateEmail==false"
                            size="mini"
                            type="warning"
                            > Envoi en cours..
                        </el-button> 
                
                    </template>
                                
                    </el-table-column>  
                    <el-table-column 
                    fixed="right"
                    label="SMS"
                    width="150"
                    >                            
                    <template  slot-scope="scope"> 
                        <el-button
                            v-if="scope.row.sms && scope.row.stateSms"
                            size="mini"
                            type="success"
                            > Envoyer
                        </el-button>   
                        <el-button
                            v-if="scope.row.sms && scope.row.stateSms==false && scope.row.errorSms==''"
                            size="mini"
                            type="warning"
                            > Envoi en cours..
                        </el-button> 
                                  
                          <el-popover
                            placement="top-start"
                            width="200"
                            trigger="hover"
                           >
                           <span>{{scope.row.errorSms}}</span>
                            <el-button slot="reference"
                                v-if="scope.row.sms && scope.row.stateSms==false && scope.row.errorSms!=''"
                                size="mini"
                                type="danger"
                                > Echec!
                            </el-button> 
                                        
                          </el-popover>
                
                    </template>
                                
                                
                    </el-table-column>  
                    <el-table-column 
                    fixed="right"
                    label="Notification"
                    width="150"
                    >                            
                    <template  slot-scope="scope"> 
                        <el-button
                            v-if="scope.row.notif && scope.row.stateNotify"
                            size="mini"
                            type="success"
                            > Envoyer
                        </el-button>   
                        <el-button
                            v-if="scope.row.notif && scope.row.stateNotify==false"
                            size="mini"
                            type="warning"
                            > En cours..
                        </el-button> 
                
                    </template>
                                
                                
                    </el-table-column>  
                      <el-table-column 
                    fixed="right"
                    label="Actions"
                    width="120"
                    >                            
                    <template  slot-scope="scope">       
                        <el-button
                        icon="el-icon-edit" 
                        size="mini"
                        @click="editAction(scope.row.id)"
                        > </el-button>
                        <el-popconfirm
                        confirmButtonText='Oui'
                        cancelButtonText='Non'
                        icon="el-icon-info"
                        iconColor="red"
                        @onConfirm="deleteMessage(scope.row.id,index)"
                        title="Voulez vous vraiment supprimer cet élément??"
                        >
                        <el-button  size="mini"  type="danger" icon="el-icon-delete"  slot="reference"></el-button>
                        </el-popconfirm>
                           
                           
                                                         
                    </template>
                    </el-table-column>  
                        
                </el-table>
                          
            </el-tab-pane>
               
                
        </el-tabs>
             
        </el-dialog>
    </div>
</template>

<script>
import firebase from 'firebase'
import { VueEditor, Quill } from "vue2-editor"
export default{
 data(){
     return{
        users: firebase.firestore().collection('users'),
        messageRef: firebase.firestore().collection('messages'),
        currentUId:JSON.parse(localStorage.getItem('userSession')).uid,
        dialogMessage:false,
        dialogMessageMultiple:false,
        activeTabMessage:'creer-message',
        multipleSelection:[],
        multipleSelectionAutre:[],
        loadingMessage:false,
        listMessage:[],
        userMessage:'',
          customToolbar: [
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons

            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            // [{ 'font': [] }],
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme

            ['clean']                                         // remove formatting button
                    
        ],
         editMode:false,
        message:{
            email:false,
            notif:false,
            sms:false,
            stateEmail:false,
            stateNotify:false,
            stateSms:false,
            errorEmail:'',
            errorSms:'',
            type:[],
            errorNotify:'',
            archive:false
        },
         rules: {
            etat: [
            { required: true, message: 'Ce champ est obligatoire', trigger: 'change' },
            // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
          ],
          titre: [
            { required: true, message: 'Ce champ est obligatoire', trigger: 'blur' },
            // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
          ],
          content: [
            { required: true, message: 'Ce champ est obligatoire', trigger: 'blur' },
            // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
          ],
          dates: [
                { required: true, message: 'Ce champ est obligatoire', trigger: 'change' }
              ],
           type: [
                { type: 'array', required: true, message: 'selectionnez au moins un type', trigger: 'change' }
              ],
        }
     }
 },
methods:{
     loadModalMessage(user){
        this.dialogMessage=true 
        this.multipleSelection=[]
        this.userMessage=user
    },
    sendMessage(formName){
        this.$refs[formName].validate((valid) => {
        if (valid) {
             this.loadingMessage=true
             this.message.type.forEach(item => {
             if (item=='email'){
                this.message.email=true
             } 
             if (item=='sms'){
                    this.message.sms=true
              }  
              if (item=='notify'){
                    this.message.notif=true
             }  

             });
            this.message.createdBy=this.users.doc(this.currentUId)
            this.message.createdAt=firebase.firestore.FieldValue.serverTimestamp()
            this.message.userId=this.users.doc(this.userMessage.id)
            this.message.userTelephone=this.userMessage.telephone
            this.message.userEmail=this.userMessage.email
            this.messageRef
            .add(this.message)
            .then(()=>{
                if(this.multipleSelection.length>0){
                  this.multipleSelection.splice(this.userMessage.index,1)
                }else{
                       this.getMessages()
                      this.activeTabMessage="liste-message"
                }
                  this.loadingMessage=false
               
            }).catch(()=>{
                   
                this.$notify.error({
                title: 'Error',
                message: 'Une erreur s\'est produite'
                });
                this.loadingMessage=false
            });

        }else{
        return false
        }
        });
       
    },
     getMessages(){
        //FIREBASE GET RECETTES
                
        // let loader = Vue.$loading.show();
        this.loading=true
                
        this.messageRef.
        // where('adminId', '==',this.users.doc(this.currentUId)).
        where('userId', '==',this.users.doc(this.userMessage.id)).
        onSnapshot((querySnapshot) => {
            this.listMessage=[];
            querySnapshot.forEach((doc) => {
                let obj = doc.data();
                // console.log(obj);
                       
                obj.id = doc.id;
                if(obj.stateEmail && obj.archive==false){
                    this.$notify({
                    title: 'Succès',
                    message: 'Votre email a été envoyé',
                    type: 'success'
                    });
                    this.messageRef.doc(obj.id).update({
                        'archive':true
                    });
                }
                if(obj.stateSms && obj.archive==false){
                    this.$notify({
                    title: 'Succès',
                    message: 'Votre message a été envoyé',
                    type: 'success'
                    });
                    this.messageRef.doc(obj.id).update({
                        'archive':true
                    });
                }
                if(obj.stateNotify && obj.archive==false){
                    this.$notify({
                    title: 'Succès',
                    message: 'Votre notification a été envoyé',
                    type: 'success'
                    });
                    this.messageRef.doc(obj.id).update({
                        'archive':true
                    });
                }
                        
                this.listMessage.push(obj);  
                       
            });
            this.listMessage=this.listMessage.sort(this.FilterbyDateDesc)
            this.loading=false
            // loader.hide();
                    
        });
        //  
    },
     getMessagesAll(){
        //FIREBASE GET RECETTES
                
        // let loader = Vue.$loading.show();
        this.loading=true
                
        this.messageRef.
        // where('adminId', '==',this.users.doc(this.currentUId)).
        where('createdBy', '==',this.users.doc(this.currentUId)).
        onSnapshot((querySnapshot) => {
            this.listMessage=[];
            querySnapshot.forEach((doc) => {
                let obj = doc.data();
                // console.log(obj);
                       
                obj.id = doc.id;
                if(obj.stateEmail && obj.archive==false){
                    this.$notify({
                    title: 'Succès',
                    message: 'Votre email a été envoyé',
                    type: 'success'
                    });
                    this.messageRef.doc(obj.id).update({
                        'archive':true
                    });
                }
                if(obj.stateSms && obj.archive==false){
                    this.$notify({
                    title: 'Succès',
                    message: 'Votre message a été envoyé',
                    type: 'success'
                    });
                    this.messageRef.doc(obj.id).update({
                        'archive':true
                    });
                }
                if(obj.stateNotify && obj.archive==false){
                    this.$notify({
                    title: 'Succès',
                    message: 'Votre notification a été envoyé',
                    type: 'success'
                    });
                    this.messageRef.doc(obj.id).update({
                        'archive':true
                    });
                }
                        
                this.listMessage.push(obj);  
                         
                // obj.client = doc.data().client.nom;
                // obj.montant = obj.produit.prixVenteUnitaire * obj.quantite;

                       
            });
            this.listMessage=this.listMessage.sort(this.FilterbyDateDesc)
            this.loading=false
            // loader.hide();
                    
        });
        //  
    },
    handleClickMessage(){
        switch(this.activeTabMessage){

            case "creer-message":
            // this.editMode=false
            break

            case "liste-message":
            this.listMessage=[];
            this.getMessages()
            break
            case "liste-message-multiple":
            this.listMessage=[];
            this.getMessagesAll()
            break

                   
        }    
    },
      loadModalMessageMultiple(data){
        this.multipleSelection=data
        this.dialogMessage=true 
        // this.userMessage=user
    },
            
  async sendMessageMultiple(formName){
        this.multipleSelection.forEach((item,index)=>{
        this.userMessage=item
        this.userMessage.index=index
        this.sendMessage(formName);
                
        })
        //    await this.getMessagesAll();
        //     this.activeTabMessage="liste-message-multiple"
        },
    deleteMessage(id){
                firebase.firestore().collection('messages').doc(id).delete();
                // this.getRoles();
                this.$notify({
                title: 'Succès',
                message: 'Suppréssion réussie',
                type: 'success'
                });
                       
                       
    },
}

}
</script>