<template>
  <div>
    <span>
      <i class="el-icon-s-operation"></i>
      <strong>Vue Liste ({{ filterTaskList.length }})</strong>
    </span>
    <!-- Plan d'action-->
    <div class="container-card-body">
      <!-- Dekstop -->
      <div
        v-if="
          mobileView == false && tabletView == false && screenViewExtra == true
        "
        class="content-filtre"
      >
        <el-row :gutter="5">
          <!-- Projet headerTicket-->
          <el-col :span="3">
            <el-form ref="form" label-position="top">
              <Projet ref="projet" libelle="Projet :" :isFilter="true" />
            </el-form>
          </el-col>
          <!-- Activité -->
          <el-col :span="4">
            <el-form ref="form" label-position="top">
              <Activite
                :typeTicketSelected="typeTicketSelected"
                :idSummarySelected="idSummarySelected"
                libelle="Activité"
                ref="activite"
                :isFilter="true"
              />
            </el-form>
          </el-col>
          <!-- type de ticket headerTicket -->
          <el-col :span="4">
            <el-form ref="form" label-position="top">
              <TypeTicketHeader
                @update:typeTicketSelectedFilter="
                  itemFilter($event, 'typeTicket')
                "
                ref="typeTicketHeader"
                :isFilter="true"
              />
            </el-form>
          </el-col>
          <!-- statut headerticket -->
          <el-col :span="3">
            <!-- <el-form ref="form" label-position="top">
            <StatutHeader
              @update:actionFilter="itemFilter($event, 'etat')"
              ref="statutHeader"
              :isFilter="true"
            />
          </el-form> -->
          </el-col>

          <el-col :span="3">
            <!-- <el-form ref="form" label-position="top">
            <EtiquetteInput
              @update:etiquetteFilter="
                itemFilter($event.id, 'refEtiquette')
              "
              :isFilter="true"
            />
          </el-form> -->
          </el-col>
          <el-col :span="3">
            <!-- <el-form ref="form" label-position="top">
            <PrioriteInput
              @update:prioriteFilter="
                itemFilter($event.id, 'priorite')
              "
              ref="priorite"
              :isFilter="true"
            />
          </el-form> -->
          </el-col>
          <el-col :span="3">
            <!-- <el-form ref="form" label-position="top">
            <SprintInput
              @update:sprintFilter="itemFilter($event.id, 'sprint')"
              :typeTicketSelected="typeTicketSelected"
              :idSummarySelected="idSummarySelected"
              libelle="Période"
              ref="sprint"
              :isFilter="true"
            />
          </el-form> -->
          </el-col>
          <el-col :span="10">
            <el-form ref="form" label-position="top">
              <div>
                <Affecte
                  @update:userFilter="itemFilter($event.id, 'userId')"
                  :adminId="$store.state.agilite.adminId"
                  :isFilter="true"
                  :isInput="false"
                  label="Affecté à :"
                  ref="affecte"
                />
              </div>
            </el-form>
          </el-col>

          <!-- <el-col :span="3"> </el-col> -->
        </el-row>
      </div>
      <!-- Ecran Table -->
      <div
        v-if="
          mobileView == false && tabletView == true && screenViewExtra == false
        "
        class="content-filtre"
      >
        <el-row :gutter="5">
          <!-- Projet headerTicket-->
          <el-col :span="7">
            <el-form ref="form" label-position="top">
              <Projet ref="projet" libelle="Projet :" :isFilter="true" />
            </el-form>
          </el-col>
          <!-- Activité -->
          <el-col :span="7">
            <el-form ref="form" label-position="top">
              <Activite
                :typeTicketSelected="typeTicketSelected"
                :idSummarySelected="idSummarySelected"
                libelle="Activité"
                ref="activite"
                :isFilter="true"
              />
            </el-form>
          </el-col>
          <!-- type de ticket headerTicket -->
          <el-col :span="7">
            <el-form ref="form" label-position="top">
              <TypeTicketHeader
                @update:typeTicketSelectedFilter="
                  itemFilter($event, 'typeTicket')
                "
                ref="typeTicketHeader"
                :isFilter="true"
              />
            </el-form>
          </el-col>
          <!-- statut headerticket -->
          <!-- <el-col :span="3">
          <el-form ref="form" label-position="top">
            <StatutHeader
              @update:actionFilter="itemFilter($event, 'etat')"
              ref="statutHeader"
              :isFilter="true"
            />
          </el-form>
        </el-col> -->

          <!-- <el-col :span="3">
          <el-form ref="form" label-position="top">
            <EtiquetteInput
              @update:etiquetteFilter="
                itemFilter($event.id, 'refEtiquette')
              "
              :isFilter="true"
            />
          </el-form>
        </el-col> -->
          <!-- <el-col :span="3">
          <el-form ref="form" label-position="top">
            <PrioriteInput
              @update:prioriteFilter="
                itemFilter($event.id, 'priorite')
              "
              ref="priorite"
              :isFilter="true"
            />
          </el-form>
        </el-col> -->
          <!-- <el-col :span="3">
          <el-form ref="form" label-position="top">
            <SprintInput
              @update:sprintFilter="itemFilter($event.id, 'sprint')"
              :typeTicketSelected="typeTicketSelected"
              :idSummarySelected="idSummarySelected"
              libelle="Période"
              ref="sprint"
              :isFilter="true"
            />
          </el-form>
        </el-col> -->
          <el-col :span="3">
            <el-form ref="form" label-position="top">
              <div>
                <Affecte
                  @update:userFilter="itemFilter($event.id, 'userId')"
                  :adminId="$store.state.agilite.adminId"
                  :isFilter="true"
                  :isInput="false"
                  label="Affecté à :"
                  ref="affecte"
                />
              </div>
            </el-form>
          </el-col>

          <!-- <el-col :span="3"> </el-col> -->
        </el-row>
      </div>

      <!-- Ecran Mobile -->
      <div
        v-if="
          mobileView == true && tabletView == false && screenViewExtra == false
        "
        class="content-filtre"
      >
        <el-row :gutter="24">
          <div class="filtre-first">
            <!-- Projet headerTicket-->
            <el-col :span="20">
              <el-form ref="form" label-position="top">
                <Projet ref="projet" libelle="Projet :" :isFilter="true" />
              </el-form>
            </el-col>
            <!-- Activité -->
            <el-col :span="20">
              <el-form ref="form" label-position="top">
                <Activite
                  :typeTicketSelected="typeTicketSelected"
                  :idSummarySelected="idSummarySelected"
                  libelle="Activité"
                  ref="activite"
                  :isFilter="true"
                />
              </el-form>
            </el-col>
          </div>
          <div class="sect">
            <!-- type de ticket headerTicket -->
            <el-col :span="18">
              <el-form ref="form" label-position="top">
                <TypeTicketHeader
                  @update:typeTicketSelectedFilter="
                    itemFilter($event, 'typeTicket')
                  "
                  ref="typeTicketHeader"
                  :isFilter="true"
                />
              </el-form>
            </el-col>
            <el-col :span="5">
              <el-form ref="form" label-position="top">
                <div>
                  <Affecte
                    @update:userFilter="itemFilter($event.id, 'userId')"
                    :adminId="$store.state.agilite.adminId"
                    :isFilter="true"
                    :isInput="false"
                    label="Affecté à :"
                    ref="affecte"
                  />
                </div>
              </el-form>
            </el-col>
          </div>
          <!-- <el-col :span="3"> </el-col> -->
        </el-row>
      </div>

      <!-- Priorite & etiquette -->

      <!-- <h1>{{ this.querySize }}</h1> -->
      <div v-if="loading">
        <el-skeleton :rows="querySize" :loading="loading" animated>
          <template slot="template">
            <el-row
              v-for="index in querySize"
              :key="'raw' + index"
              :gutter="10"
            >
              <el-col :span="24">
                <!-- Checkbox-->
                <el-skeleton-item
                  variant="h1"
                  style="width: 100%; height:50px; border-radius-top-left:5px; border-radius-top-right:5px"
                />
              </el-col>
            </el-row>
          </template>
        </el-skeleton>
      </div>
      <div v-else>
        <Container
          group-name="col"
          drag-class="card-ghost"
          drop-class="card-ghost-drop"
          @drop="onDrop"
          :drop-placeholder="dropPlaceholderOptions"
        >
          <Draggable
            v-for="(tr, index) in filterTaskList"
            :key="tr.id + '-drag'"
            class="tache"
          >
            <!-- <div
          v-for="(tr, index) in filterTaskList"
          :key="tr.id"
          class="tache"
        > -->
            <ticket-task-old
              v-if="!tr.version"
              :tabletView="tabletView"
              :mobileView="mobileView"
              :tr="tr"
              @delete:ticket="deleteTicket(index)"
              @archive:ticket="deleteTicket(index)"
            />
            <ticket-task-New
              v-else
              :idSummarySelected="idSummarySelected"
              :categorieSelectedId="categorieSelectedId"
              :tabletView="tabletView"
              :screenView="screenView"
              :mobileView="mobileView"
              :tr="tr"
              @update:etat="filterTaskList[index].etat = $event"
              @update:state="filterTaskList[index].state = $event"
              @savedTicket="savedTicket"
              @update:comment="loadComment($event, index)"
              :indexTr="index"
              @assign:user="filterTaskList[index].userId = $event"
              @delete:ticket="deleteTicket(index)"
              @archive:ticket="deleteTicket(index)"
              @update:visibility="filterTaskList[index].visibility = $event"
              :isCodeTicket="false"
            />
            <!-- </div> -->
          </Draggable>
        </Container>
      </div>
      <div v-if="emptyTicket">
        <el-empty description="aucun ticket"></el-empty>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import Ticket from "./ticket/ticket.vue";
//Composants v1
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlan.js";
import Notification from "../../../../store/collection/notifications";
import RubriqueGroup from "../../../../store/collection/rubriqueGroup";
import AssignUser from "./assignUser";
import { VsCollapse, vsSelect, vsPopup } from "vuesax";
import { VueEditor, Quill } from "vue2-editor";
import ActionTask from "./actionTask";
import paramsMenuRight from "../../../bp/agile/composant/paramsMenuRight";
import typeTicket from "../../../bp/erp/models/globalTicket/typeTicket";
import LinkType from "../../../bp/erp/models/globalTicket/linkType";
import TicketTaskOld from "./ticketTaskOld.vue";
import TicketTaskNew from "./ticketTaskNew.vue";
import Archives from "./archives.vue";
import Calendrier from "./calendrier.vue";
import ChartTicket from "./listTicket/chart.vue";
import TicketUser from "./listTicket/ticketUser.vue";
import Avancement from "./listTicket/avancement.vue";
import Affecte from "../../../bp/agile/tickets/composantCourrier/contentRigth/affecte";
import Activite from "../../../bp/agile/tickets/composantCourrier/composantHeaderTicket/activite";
import Projet from "../../../bp/agile/tickets/composantCourrier/composantHeaderTicket/projet";
import TypeTicketHeader from "../../../bp/agile/tickets/composantCourrier/composantHeaderTicket/typeTicketHeader";
import StatutHeader from "../../../bp/agile/tickets/composantCourrier/composantHeaderTicket/statutHeader";
import PrioriteInput from "../../../bp/agile/tickets/composantCourrier/contentRigth/priorite";
import EtiquetteInput from "../../../bp/agile/tickets/composantCourrier/contentRigth/etiquette";
import SprintInput from "../../../bp/agile/tickets/composantCourrier/contentRigth/sprint";
import { Container, Draggable } from "vue-dndrop";
import searchBar from "./searchBar";
import PlusNewTask from "../components/listTicket/plusNewTask";
export default {
  mixins: [helper, action],
  components: {
    VueEditor,
    AssignUser,
    VsCollapse,
    ActionTask,
    paramsMenuRight,
    Ticket,
    TicketTaskOld,
    TicketTaskNew,
    Avancement,
    Affecte,
    PrioriteInput,
    EtiquetteInput,
    SprintInput,
    ChartTicket,
    Activite,
    Projet,
    TypeTicketHeader,
    StatutHeader,
    Archives,
    Calendrier,
    Container,
    Draggable,
    searchBar,
    PlusNewTask,
    TicketUser,
  },
  data() {
    return {
      querySize: 2,
      currentUId: JSON.parse(localStorage.getItem("userSession")).uid,
      users: firebase.firestore().collection("users"),
      actionsData: [],
      filterTaskList: [],
      ticketPromise: "",
      emptyTicket: false,
      loading: false,
    };
  },
  methods: {
    itemFilter(id, field) {
      switch (field) {
        case "typeTicket":
          if (id != "none") {
            this.filterTaskList = this.actionsData;
            this.filterTaskList = this.filterTaskList.filter((item) => {
              if (item[field] && item[field].id) {
                item[field].visibility = false;
                return item[field].id == id;
              } else {
                return item[field] == id;
              }
            });
          } else {
            this.filterTaskList = this.actionsData;
            this.$store.commit("agilite/setTypeTicketSelected", "none");
          }
          break;
        case "userId":
          if (id != "none") {
            this.filterTaskList = [];
            this.actionsData.forEach((item) => {
              if (item[field].id == id) {
                item[field].visibility = false;
                this.filterTaskList.push(item);
              } else {
                item.ref
                  .collection("subTasks")
                  .get()
                  .then((docs) => {
                    // for (let doc of docs) {
                    //   if (doc.data().userId.id == id) {
                    //     this.filterTaskList.push(item);
                    //     break;
                    //   }
                    // }
                    let find = false;
                    docs.forEach((doc) => {
                      if (doc.data().userId.id == id && !find) {
                        this.filterTaskList.push(item);
                        find = true;
                      }
                    });
                  });
              }
            });
          } else {
            this.filterTaskList = this.actionsData;
            this.$store.commit("agilite/setTypeTicketSelected", "none");
          }
          break;

        default:
          if (id != "none") {
            this.filterTaskList = this.filterTaskList.filter((item) => {
              if (item[field] && item[field].id) {
                item[field].visibility = false;
                return item[field].id == id;
              } else {
                return item[field] == id;
              }
            });
          } else {
            this.filterTaskList = this.actionsData;
            this.$store.commit("agilite/setTypeTicketSelected", "none");
          }
          break;
      }
    },
    getTypeTicket(task) {
      this.ticketPromise = new Promise((resolve, reject) => {
        if (task.typeTicket) {
          task.typeTicket.get().then((typeTicket) => {
            task.ticket = typeTicket.data();
            resolve(task.ticket);
          });
        } else {
          return;
        }
      });
    },
    async getActions(activeTab = "dashboard") {
      let i = 0;
      // this.activeTab = activeTab;
      this.loading = true;
      this.actionsData = [];
      this.filterTaskList = [];
      this.emptyTicket = false;
      //Size calculation
      firebase
        .firestore()
        .collectionGroup("tickets")
        .where("userId", "==", this.users.doc(this.currentUId))
        .where("archive", "==", false)
        .orderBy("createdAt", "desc")
        .get()
        .then((querySnapshot) => {
          this.querySize = querySnapshot.size;
          if (!querySnapshot.empty) {
            querySnapshot.forEach(async (doc) => {
              let index = this.actionsData.findIndex((x) => x.id == obj.id); // vérification de doublon
              if (index === -1) {
                let obj = doc.data();
                if (doc.data().dates) {
                  obj.dates[0] = new Date(doc.data().dates[0].seconds * 1000);
                  obj.dates[1] = new Date(doc.data().dates[1].seconds * 1000);
                }
                obj.id = doc.id;
                obj.ref = doc.ref;

                if (
                  this.getSumSubActionDone(obj.subActions) !=
                  this.getSumSubActionAll(obj.subActions)
                ) {
                  obj.visibility = true;
                } else {
                  obj.visibility = false;
                }
                this.getTypeTicket(obj);
                // this.getUser(obj);
                obj.index = i;
                this.actionsData.push(obj);
                this.filterTaskList.push(obj);
                this.loading = false;
                // //Ajout de l'index en base
                // if (obj.index) {
                // } else {
                //   obj.ref.update({ index: i });
                //   i++;
                // }

                this.$store.commit("agilite/setListTickets", this.actionsData);
                //Get user Tasks
              }
            });
          } else {
            // this.emptyTicket = true;
          }
        });
      firebase
        .firestore()
        .collectionGroup("subTasks")
        .where("userId", "==", this.users.doc(this.currentUId))
        .orderBy("createdAt", "desc")
        .get()
        .then((querySnapshot) => {
          this.querySize = this.querySize + querySnapshot.size;
          if (!querySnapshot.empty) {
            querySnapshot.forEach(async (doc) => {
              doc.ref.parent.parent.get().then((Parentdoc) => {
                let obj = Parentdoc.data();
                obj.id = Parentdoc.id;
                obj.ref = Parentdoc.ref;
                let index = this.actionsData.findIndex((x) => x.id == obj.id); // vérification de doublon
                if (index === -1 && obj.archive == false) {
                  if (Parentdoc.data().dates) {
                    obj.dates[0] = new Date(
                      Parentdoc.data().dates[0].seconds * 1000
                    );
                    obj.dates[1] = new Date(
                      Parentdoc.data().dates[1].seconds * 1000
                    );
                  }

                  if (
                    this.getSumSubActionDone(obj.subActions) !=
                    this.getSumSubActionAll(obj.subActions)
                  ) {
                    obj.visibility = true;
                  } else {
                    obj.visibility = false;
                  }
                  this.getTypeTicket(obj);
                  // this.getUser(obj);
                  obj.index = i;

                  this.actionsData.push(obj);
                  this.filterTaskList.push(obj);
                  this.loading = false;

                  // //Ajout de l'index en base
                  // if (obj.index) {
                  // } else {
                  //   obj.ref.update({ index: i });
                  //   i++;
                  // }

                  this.$store.commit(
                    "agilite/setListTickets",
                    this.actionsData
                  );
                  //Get user Tasks
                }
              });
            });
          } else {
            this.emptyTicket = true;
          }
        });
      // this.itemFilter(this.currentUId, "userId");
    },
    deleteTicket(index) {
      this.filterTaskList.splice(index, 1);
      this.actionsData.splice(index, 1);
      if (this.filterTaskList.length == 0) {
        this.emptyTicket = true;
      } else {
        this.emptyTicket = false;
      }
    },
    loadComment(event, index) {
      this.$set(this.filterTaskList[index], "commentaire", event);
    },
  },
  created() {
    this.getActions();
  },
};
</script>

<style></style>
