<template>
    <div class="form-group ">
        <div class="col-xs-6">
            <input type="text" required name="numOne" class="form-control" placeholder="Numéro ONE" v-model="registerForm.numOne"> 
        </div>
    </div>
</template>

<script>
export default{
 data(){
     return{
        registerForm:{}
     }
 }

}
</script>