<template>
<div>
       <el-dialog
        title="Programme"
        :visible.sync="dialogOrientation"
        width="33%"
        >
                
    <el-select :loading="this.loadingDataSelect"  v-model="programIdSelected" filterable placeholder="Choisissez le programme" style="width:400px;">
          <strong>  
            <el-option
            v-for="(item, index) in allPrograms"
            :key="index"
            :label="item.libelleConcours"
            :value="item.id">
            </el-option>
            </strong>
        </el-select>

                    
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogOrientation = false">Fermer</el-button>
                           
            <el-button type="primary"  :loading="loadingOrientation" @click="addInProgram()" >Orienter</el-button>

        </span>
        </el-dialog>
    
</div>

</template>

<script>
import firebase from 'firebase'
export default {
    data(){
        return{
            summaryRef:firebase.firestore().collection('summary'),
            concoursRef:firebase.firestore().collection('concours'),
            planActionRef:firebase.firestore().collection('planAction'),
            dialogOrientation:false,
            loadingDataSelect:false,
            programIdSelected:'',
            summaryId:'',
            allPrograms:[],
            loadingOrientation:false,
            currentUId:''

        }
    },

    methods:{
         openModalOriantation(idSummary,adminId){
            this.dialogOrientation=true;
            this.loadingDataSelect=true;
            this.summaryId=idSummary
            if(JSON.parse(localStorage.getItem('userSession')).adminId){
                 this.currentUId=JSON.parse(localStorage.getItem('userSession')).adminId
            }else{
                  this.currentUId=adminId
            }
          
            this.getPrograms();
        },
        async getPrograms(adminId=this.currentUId){
            await this.concoursRef.where('adminId','==',this.currentUId)
            .onSnapshot((onSnapshot) =>{
                this.allPrograms = [];
                if(!onSnapshot.empty){
                    onSnapshot.forEach((doc) =>{
                    let programs = doc.data();
                    programs.id = doc.id;
                    if(programs.typeProgram=="businessPlan"){
                        this.allPrograms.push(programs);
                    }
                        
                    })
                };
                // this.$loading().close();
                });
                this.loadingDataSelect=false
        },
        getDefaultAction(){
          this.planActionRef.where('programId', '==',this.concoursRef.doc(this.programIdSelected)).get().then((querySnapshot)=>{
             querySnapshot.forEach((doc) => {
                let action = doc.data();
                action.summaryId=this.summaryRef.doc(this.summaryId);
                action.type="projet"
                this.planActionRef
                .add(action)
                .then(()=>{
                }).catch(()=>{
      
                });
                       
            });

          })
        },
        addInProgram(){
              
            this.loadingOrientation=true
            this.summaryRef.doc(this.summaryId).update({
                concoursId: this.concoursRef.doc(this.programIdSelected)
            }).then(()=> {
                this.getDefaultAction();
                this.loadingOrientation=false
                this.$notify({
                title: 'Succès',
                message: 'Orientation réussie',
                type: 'success'
                });
            })
            .catch((error)=> {
                console.log(error)
                this.loadingOrientation=false
                this.$notify({
                title: 'Erreur',
                message: 'Une Erreur innatendue s\'est produite. COntactez votre administrateur',
                type: 'error'
                });
                  
            }); 
        }   
    }
}
</script>