<template>
  <div class="row ml-auto col-xl-3 col-lg-4 col-md-6 col-12">
    <div class="d-flex justify-content-end align-items-stretch search-bar">
      <span class="material-icons-outlined">
        search
      </span>
      <input
        type="text"
        @input="recherche()"
        placeholder="Recherche"
        v-model="search"
      />
    </div>
  </div>
</template>

<script>
export default {
  watch: {
    search: function(val) {
      this.$emit("updateData", this.resultats);
    },
  },
  props: {
    data: {
      default() {
        return [];
      },
      type: Array,
    },
    filterItem: {
      default: "",
      type: String,
    },
  },
  data() {
    return {
      search: "",
      resultats: [],
    };
  },
  methods: {
    recherche() {
      if (this.search != "") {
        this.resultats = this.data.filter((item) => {
          return (
            item[this.filterItem]
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) > -1
          );
        });
      } else {
        this.resultats = this.data;
        this.$emit("updateData", this.resultats);
      }
    },
  },
  mounted() {
    this.recherche();
  },
};
</script>

<style scoped>
  .search-bar {
    width: 100%;
    background: #fff;
    padding: 1px 25px;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 0 1px 20px #d2d2d2c4;
  }
  .search-bar input {
    width: 100%;
    border: none;
    outline: none;
    padding: 1px 6px;
    font-size: 1rem;
    color: rgb(136 135 135);
  }
  .material-icons-outlined {
    padding: 8px 0;
    color: #a7a7a7;
    font-size: 1.3rem;
  }
  @media (max-width: 1020px){
    .search-bar input {
      width: 90%;
    }
    @media (max-width: 900px){
      .search-bar[data-v-281dc754] {
        display: flex !important;
        justify-content: stretch !important;
        align-items: center !important;
      }
      .ml-auto, .mx-auto {
        margin-left: -15px !important;
      } 
    }
    @media (max-width: 500px) {
      .search-bar{
        margin: 10px;
      }
    }
    
  }
</style>
