<template>
  <div>
    <div class="main-Task-responsive">
        <el-row :gutter="10" :style="{borderLeft: tr.ticket.couleur}">
          <div class="row">
            <div class="col-1">
              <span class="material-icons-outlined" :style="{
                color: tr.ticket.couleur}">
                label_important
              </span>
            </div>
             <div class="col-8">
               <el-popover placement="top-start" width="400" trigger="hover">
                  <span :inner-html.prop="tr.titre">st {{ tr.titre }}</span>
                  <span
                    class="titre-reduce"
                    slot="reference"
                    :inner-html.prop="tr.titre | cyb_denomination_split"
                    >{{ tr.titre }}</span
                  >
                </el-popover>
             </div>
             <div class="col-2">
              <user-ticket :tr="tr" ref="userTicket" />
             </div>
          </div>
          <div class="row">
            <div class="col-12">
              <avancement :percent="percentSubAction(subActions)" />
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-2"> -->
              <file-ticket :tr="tr" ref="fileTicket" />
            <!-- </div> -->
            <!-- <div class="col-8"></div> -->
            <div class="ml-auto">
              <plus-Action-ticket
                :tr="tr"
                :subTasks="subActions"
                :idSummarySelected="idSummarySelected"
                :afficher="true"
                ref="plusActionTicket"
              />
            </div>
          </div>
          <div class="row">
            <div class="ml-auto  mr-2">
              <i
                  v-if="subActions.length != 0 && !tr.visibility"
                  @click="visibilityChange(true)"
                  class="el-icon-arrow-right cursor"
                ></i>
                <i
                  v-else-if="subActions.length != 0 && tr.visibility"
                  @click="visibilityChange(false)"
                  class="el-icon-arrow-down cursor"
                ></i>
            </div>
          </div>
        </el-row>
        <transition name="fade">
          <div v-if="tr.visibility && subActions.length != 0">
            <!-- Sous-tache-->
            <ticket-sub-task-new
              v-for="subAction in subActions"
              :key="subAction.id"
              :subAction="subAction"
              @update:state="switchStateSub(subAction.id, $event)"
            />
          </div>
        </transition>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="" />
        </el-dialog>
      </div>
  </div>
</template>
<script>
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlanNew.js";
import SubTask from "../../../bp/erp/models/agilite/subTask";
import TicketSubTaskNew from "./ticketSubTaskNew.vue";
import StateTicket from "./listTicket/stateTicket.vue";
import PercentTicket from "./listTicket/percentTicket.vue";
import EtiquetteTag from "./listTicket/etiquetteTag.vue";
import FileTicket from "./listTicket/fileTicket.vue";
import CommentTicket from "./listTicket/commentTicket.vue";
import UserTicket from "./listTicket/userTicket.vue";
import PlusActionTicket from "./listTicket/plusActionTicket.vue";
import Avancement from "./listTicket/avancement.vue";
export default {
  name: "ticketTaskNewResponsive",
  mixins: [helper, action],
  components: {
    TicketSubTaskNew,
    StateTicket,
    PercentTicket,
    EtiquetteTag,
    // TypeTicketTag,
    FileTicket,
    CommentTicket,
    UserTicket,
    PlusActionTicket,
    Avancement,
  },
  props: {
    tr: {
      default: [],
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    categorieSelectedId: {
      default: null,
      type: String,
    },
    idSummarySelected: {
      default: null,
      type: String,
    },
    index: {
      default: null,
      type: Number,
    },
  },
  data() {
    return {
      subActions: [],
    };
  },

  methods: {
    getAllSubtasks() {
      SubTask.getDocumentSubSubCollection(
        "planAction",
        this.idSummarySelected,
        this.categorieSelectedId,
        this.tr.id,
        "subTasks"
      ).then((query) => {
        this.subActions = [];
        query.forEach((doc) => {
          let data = doc.data();
          data.id = doc.id;
          if (data.userId) {
            data.userId.get().then((user) => {
              data.user = user.data();
              this.subActions.push(data);
              // this.idAction++;
            });
          }
        });
      });
    },
    visibilityChange(visibility) {
      this.$emit("update:visibility", visibility);
    },
    switchStateSub(id, state) {
      let etat = "1";
      if (state) {
        etat = "3";
      } else {
        etat = "1";
      }
      SubTask.updateDocumentSubSubCollectionField(
        "planAction",
        this.idSummarySelected,
        this.categorieSelectedId,
        this.tr.id,
        "subTasks",
        id,
        state,
        etat
      ).then(() => {
        // this.$emit("update:state");
        this.getAllSubtasks();
      });
    },
  },
  mounted() {
    this.$store.commit(
      "agilite/setPlanActionRef",
      SubTask.getCollection("planAction")
        .doc(this.idSummarySelected)
        .collection(this.categorieSelectedId)
    );
    this.getAllSubtasks();
    console.log("New", this.tr);
  },
};
</script>
<style scoped>
  .el-tabs--border-card > .el-tabs__content{
    padding: 0 !important;
  }
  .title span{
    font-size: .55rem;
    color: #B0B0B096;
    font-weight: 600;
  }
  .task {
    background: #f2f6ffc9;
    border-radius: 10px;
    border: 1px solid #c0c4cc66;
  }
  .main-Task-responsive {
    margin: 0 !important;
    background: #eeeff3 !important;
  }
  .titre-reduce{
    font-weight: 600;
  }
  .col-1, .col-6 {
    padding: 0 8px;
  }
  .col-12 {
    padding: 0;
  }
  .main-Task-responsive .el-row {
    padding: 12px !important;
    background: #fff !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0.12rem 0.1rem rgba(0, 0, 0, 0.085) !important;
    /* margin-left: 0 !important;
    margin-right: 0 !important; */
  }
  .el-style-tick{
    padding: 6px;
    width: 100%;
  }
  .main-Task-responsive i {
    font-style: 1.2rem;
  }
  .check {
    display: flex;
    align-items: center;
  }
  .check .el-checkbox:nth-child(1) {
    margin-top: 5px;
    margin-right: 0.5rem;
  }
  .cursor {
    cursor: pointer;
  }
</style>
