<template>
  <div>
    <div
      v-if="mobileView == false && tabletView == false && screenView == false"
      class="card-body"
    >
      <el-row :gutter="24">
        <el-col :span="2.5">
          <span>Sub-{{ codeProjet }}-{{ indexTr + 1 }}-{{ index + 1 }}</span>
        </el-col>
        <el-col class="sub-task" :span="7">
          <div class="d-flex align-items-center">
            <state-check
              @update:state="$emit('update:state', $event)"
              :tr="subAction"
            />
            <h6 class="sub-task">
              {{ subAction.titre }}
            </h6>
          </div>
        </el-col>
        <el-col :span="5"></el-col>
        <el-col :span="3.5"></el-col>
        <!------ state Action ------->
        <state-ticket :tr="subAction" ref="stateTicket" />
        <el-col :span="1.5">
          <!-- <el-tag>{{ Math.round(subAction.percent) }}%</el-tag> -->
          <span type="button" class="btn btn-outline-secondary btn-sm mt-2">
            {{ Math.round(subAction.percent) }}%</span
          >
        </el-col>
        <!-- <div :gutter="10"> -->
        <el-col :span="4">
          <Alert :tr="subAction" :etat="subAction.etat" />
        </el-col>
        <el-col :span="8">
          <div class="row">
            <el-popover
              v-if="subAction.commentaire && subAction.commentaire != ''"
              placement="top-start"
              width="400"
              trigger="hover"
            >
              <span :inner-html.prop="subAction.commentaire">{{
                subAction.commentaire
              }}</span>
              <span
                size="mini"
                slot="reference"
                @click="displayComment(subAction)"
                class="el-icon-s-comment icon-size cursor icon-blue"
              ></span>
            </el-popover>
            <!-- Uer Ticket  -->
            <div class="d-flex justify-content-end ml-auto line">
              <div class="user">
                <user-ticket :userId="subAction.userId" />
              </div>
              <!------ Plus Actions Ticket ------->
              <plus-action-ticket
                :assigner="true"
                @assign:user="$emit('assign:user', $event)"
                @update:comment="$emit('update:comment', $event)"
                @delete:ticket="$emit('delete:ticket')"
                :tr="subAction"
                :commenter="true"
                :supprimer="true"
                ref="plusActionTicket"
              />
            </div>
          </div>
        </el-col>
        <!-- </div> -->
      </el-row>
    </div>

    <!-- Ecran large -->

    <div
      v-if="mobileView == false && tabletView == false && screenView == true"
      class="card-body"
    >
      <el-row :gutter="24">
        <el-col :span="2.5">
          <span>Sub-TC-01</span>
        </el-col>
        <el-col class="sub-task" :span="7">
          <div class="d-flex align-items-center">
            <state-check
              @update:state="$emit('update:state', $event)"
              :tr="subAction"
            />
            <h6 class="sub-task">
              {{ subAction.titre }}
            </h6>
          </div>
        </el-col>
        <el-col :span="5"></el-col>
        <el-col :span="3.5"></el-col>
        <!------ state Action ------->
        <state-ticket :tr="subAction" ref="stateTicket" />
        <el-col :span="1.5">
          <!-- <el-tag>{{ Math.round(subAction.percent) }}%</el-tag> -->
          <span type="button" class="btn btn-outline-secondary btn-sm mt-2">
            {{ Math.round(subAction.percent) }}%</span
          >
        </el-col>
        <!-- <div :gutter="10"> -->
        <el-col :span="4">
          <Alert :tr="subAction" :etat="subAction.etat" />
        </el-col>
        <el-col :span="8">
          <div class="row">
            <!-- Uer Ticket  -->
            <div class="d-flex justify-content-end ml-auto line">
              <div class="user">
                <user-ticket :userId="subAction.userId" />
              </div>
              <!------ Plus Actions Ticket ------->
              <plus-action-ticket
                :assigner="true"
                @assign:user="$emit('assign:user', $event)"
                @delete:ticket="$emit('delete:ticket')"
                @update:comment="$emit('update:comment', $event)"
                :tr="subAction"
                :supprimer="true"
                ref="plusActionTicket"
              />
            </div>
          </div>
        </el-col>
        <!-- </div> -->
      </el-row>
    </div>
    <!-- Ecran de Tablet -->

    <div
      v-if="mobileView == false && tabletView == true && screenView == true"
      class="card-body lg-view"
    >
      <el-row :gutter="24">
        <el-col :span="2.5">
          <span>Sub-TC-01</span>
        </el-col>
        <el-col class="sub-task" :span="7">
          <div class="d-flex align-items-center content-title">
            <state-check
              @update:state="$emit('update:state', $event)"
              :tr="subAction"
            />
            <h6 class="sub-task">
              {{ subAction.titre }}
            </h6>
          </div>
        </el-col>
        <!-- <el-col :span="5"></el-col>
        <el-col :span="3.5"></el-col> -->
        <!------ state Action ------->
        <div class="content-body">
          <state-ticket :tr="subAction" ref="stateTicket" />
          <!-- <el-col :span="1.5"> -->
          <span type="button" class="btn btn-outline-secondary btn-sm mt-2">
            {{ Math.round(subAction.percent) }}%</span
          >
          <!-- </el-col> -->
          <!-- <div :gutter="10"> -->
          <!-- <el-col :span="4">
            <Alert :tr="subAction" :etat="subAction.etat" />
          </el-col> -->
          <el-col :span="10">
            <div class="row">
              <!-- Uer Ticket  -->
              <div class="d-flex justify-content-end ml-auto line">
                <div class="user">
                  <user-ticket :userId="subAction.userId" />
                </div>
                <!------ Plus Actions Ticket ------->
                <plus-action-ticket
                  :assigner="true"
                  @assign:user="$emit('assign:user', $event)"
                  @delete:ticket="$emit('delete:ticket')"
                  :tr="subAction"
                  @update:comment="$emit('update:comment', $event)"
                  :supprimer="true"
                  ref="plusActionTicket"
                />
              </div>
            </div>
          </el-col>
        </div>
        <!-- </div> -->
      </el-row>
    </div>

    <!-- Ecran Mobile -->
    <div
      v-if="mobileView == true && tabletView == false && screenView == false"
      class="card-body"
    >
      <el-row :gutter="24">
        <div class="head-sub">
          <span>Sub-TC-01</span>
          <!-- Effort -->
          <el-col :span="1.5">
            <span
              type="button"
              class="btn btn-outline-secondary btn-sm my-1 ml-1"
            >
              {{ Math.round(subAction.percent) }}%</span
            >
          </el-col>

          <el-col :span="8">
            <div class="ml-auto head-user-del">
              <user-ticket :userId="subAction.userId" />
              <!------ Plus Actions Ticket ------->
              <plus-action-ticket
                :assigner="true"
                @assign:user="$emit('assign:user', $event)"
                @delete:ticket="$emit('delete:ticket')"
                @update:comment="$emit('update:comment', $event)"
                :tr="subAction"
                :supprimer="true"
                ref="plusActionTicket"
              />
            </div>
          </el-col>
        </div>

        <div class="head-title">
          <el-col :span="1">
            <state-check
              @update:state="$emit('update:state', $event)"
              :tr="subAction"
            />
          </el-col>

          <h6 class="sub-task">
            {{ subAction.titre }}
          </h6>
        </div>
        <div class="plus-actions">
          <el-col :span="4">
            <Alert :tr="subAction" :etat="subAction.etat" />
          </el-col>
          <!------ Status ------->
          <state-ticket :tr="subAction" ref="stateTicket" />
          <!-- <div :gutter="10"> -->
        </div>
        <!-- <el-col :span="8">
          <div class="row">
    
            <div class="ml-auto line">
              <div class="user">
                <user-ticket :userId="subAction.userId" />
              </div>
            </div>
          </div>
        </el-col> -->
        <!-- </div> -->
      </el-row>
    </div>
    <Comment
      @update:display="display = $event"
      @update:comment="$emit('update:comment', $event)"
      :ticketRef="subAction.ref"
      v-if="display"
      :tr="subAction"
      :display="display"
    />
  </div>
</template>
<script>
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlan.js";
import StateTicket from "./listTicket/stateTicket.vue";
import PlusActionTicket from "./listTicket/plusActionTicket.vue";
import UserTicket from "./listTicket/userTicket.vue";
import StateCheck from "./listTicket/stateCheck.vue";
import Alert from "./listTicket/alert.vue";
import Comment from "./comment.vue";
export default {
  name: "ticketTaskNew",
  components: {
    StateTicket,
    StateCheck,
    PlusActionTicket,
    UserTicket,
    Alert,
    Comment,
  },
  mixins: [helper, action],
  props: {
    subAction: {
      default: {},
      type: Object,
    },
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    index: {
      default: null,
      type: Number,
    },
    indexTr: {
      default: null,
      type: Number,
    },
  },
  computed: {
    currentUId: {
      get() {
        return this.$store.state.agilite.currentUId;
      },
      set(value) {
        this.$store.commit("agilite/setCurrentUId", value);
      },
    },
    codeProjet: {
      get() {
        return this.$store.state.agilite.codeProjet;
      },
    },
  },
  data() {
    return {
      display: false,
    };
  },
  methods: {
    displayComment() {
      this.display = true;
    },
  },
};
</script>
<style scoped>
.user-plus {
  display: flex;
  /* justify-content: end; */
}
.cursor[data-v-207eb4ba] {
  cursor: pointer;
  color: #021b32;
  font-weight: 800;
}
.content-body {
  display: flex !important;
  justify-content: space-between;
}
.content-body .line {
  display: flex !important;
  /* justify-content: space-between; */
}
.lg-view .content-title {
  display: flex !important;
}
.el-col-7 {
  width: 27.16667%;
}

@media (max-width: 1232px) {
  .check-title {
    display: flex !important;
    align-items: center;
    justify-content: stretch;
  }
  .btn-outline-secondary {
    margin-top: 5px !important;
  }
}

@media (max-width: 500px) {
  .head-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 5px 15px; */
  }
  .head-sub .el-col-1 {
    padding-top: 7px !important;
  }
  .head-sub span {
    font-size: 0.8rem;
    margin-left: 15px;
    font-weight: 700;
  }
  .head-title,
  .plus-actions {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-right: 8px;
    text-align: left;
  }
  .head-user-del {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
  }
}
</style>
