<template>
  <div>
    <div class="main-Task">
      <!-- <div v-if="mobileView == false && tabletView == false"> -->
        <el-row :gutter="10">
          <div class="row">
            <div class="col-1">
              <!-- <span class="mr-2">TC-01</span> -->
              <span class="material-icons-outlined">
                label_important
              </span>
            </div>
            <div class="col-8">
              <el-popover placement="top-start" width="400" trigger="hover">
                  <span :inner-html.prop="tr.titre">{{ tr.titre }}</span>
                  <span
                    class="titre-reduce"
                    slot="reference"
                    :inner-html.prop="tr.titre | cyb_denomination_split"
                    >{{ tr.titre }}</span
                  >
                </el-popover>
            </div>
            <div class="col-2">
              <user-ticket :tr="tr" ref="userTicket" />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <etiquette-tag :tr="tr" ref="etiquetteTag" />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <percent-ticket :tr="tr" ref="percentTicket" />
            </div>
          </div>
          <div class="row">
            <file-ticket :tr="tr" ref="fileTicket" />
            <div class="ml-auto">
              <plus-Action-ticket
                :tr="tr"
                :idSummarySelected="idSummarySelected"
                ref="plusActionTicket"
              />
            </div>
          </div>            
          <div class="d-flex">
            <!------ Bar d'état dropdown ------->
            <!-- <state-ticket :tr="tr" ref="stateTicket" /> -->
            <!--ActionTask----------->
            <!-- <el-col :span="3">
              <percent-ticket :tr="tr" ref="percentTicket" />
            </el-col> -->
            <!-- Etiquette-->
            <!-- <el-col :span="3">
              <etiquette-tag :tr="tr" ref="etiquetteTag" />
            </el-col> -->

            <!-- TypeTicket Tag -->
              <!-- <type-ticket-Tag :tr="tr" ref="typeTicketTag" /> -->

            <div class="d-flex justify-content-center align-item-center ml-auto mr-5">
              <!-- fileTicket  -->
              <!-- <file-ticket :tr="tr" ref="fileTicket" /> -->
              <!-- commentaire  -->
              <!-- <comment-ticket :tr="tr" ref="commentTicket" /> -->
              <!------ Photo et nom d'utilisateur ------->
              <!-- <user-ticket :tr="tr" ref="userTicket" /> -->
              <!------ Plus Actions Ticket ------->
              <!-- <plus-Action-ticket
                :tr="tr"
                :idSummarySelected="idSummarySelected"
                ref="plusActionTicket"
              /> -->
          </div>
          </div>
        </el-row>
        <transition name="fade">
          <div>
            <!-- Sous-tache-->
            <ticket-sub-task-old
              v-for="(subAction, index) in tr.subActions"
              :key="'sub' + index"
              :subAction="subAction"
            />
          </div>
        </transition>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="" />
        </el-dialog>
      </div>
    <!-- </div> -->
  </div>
</template>
<script>
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlan.js";
import SubTask from "../../../bp/erp/models/agilite/subTask";
import TicketSubTaskOld from "./ticketSubTaskOld.vue";
import StateTicket from "./listTicket/stateTicket.vue";
import PercentTicket from "./listTicket/percentTicket.vue";
import EtiquetteTag from "./listTicket/etiquetteTag.vue";
import TypeTicketTag from "./listTicket/typeTicketTag.vue";
import FileTicket from "./listTicket/fileTicket.vue";
import CommentTicket from "./listTicket/commentTicket.vue";
import UserTicket from "./listTicket/userTicket.vue";
import PlusActionTicket from "./listTicket/plusActionTicket.vue";
export default {
  name: "ticketTaskOldResponsive",
  mixins: [helper, action],
  components: {
    TicketSubTaskOld,
    StateTicket,
    PercentTicket,
    EtiquetteTag,
    TypeTicketTag,
    FileTicket,
    CommentTicket,
    UserTicket,
    PlusActionTicket,
  },
  props: {
    tr: {
      default: [],
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    categorieSelectedId: {
      default: null,
      type: String,
    },
    idSummarySelected: {
      default: null,
      type: String,
    },
  },
  data() {
    return {
      subActions: [],
    };
  },
  mounted() {
    this.getAllSubtasks();
    console.log("New", this.tr);
  },
  methods: {
    getAllSubtasks() {
      SubTask.getDocumentSubSubCollection(
        "planAction",
        this.idSummarySelected,
        this.categorieSelectedId,
        this.tr.id,
        "subTasks"
      ).then((query) => {
        query.forEach((doc) => {
          let data = doc.data();
          data.id = doc.id;
          this.subActions.push(data);
          console.log("Data", data);
        });
      });
    },
  },
  mounted() {
    this.$store.commit(
      "agilite/setPlanActionRef",
      SubTask.getCollection("planAction")
        .doc(this.idSummarySelected)
        .collection(this.categorieSelectedId)
    );
  },
};
</script>
<style scoped>
  .el-style{
    padding: 6px;
    width: 100%;
  }
  .task {
    background: #f2f6ffc9;
    border-radius: 10px;
    border: 1px solid #c0c4cc66;
  }
  .main-Task {
    /* margin: 0 10px !important; */
    background: #eeeff3 !important;
    padding: 0.4rem 10px;
  }
  .main-Task .el-row {
    padding: 12px !important;
    background: #fff !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0.12rem 0.1rem rgba(0, 0, 0, 0.085) !important;
    /* margin-left: 0 !important;
    margin-right: 0 !important; */
  }
  .main-Task i {
    margin-top: 10px;
    border-right: #eeeff3 !important;
  }
  .check {
    display: flex;
    align-items: center;
  }
  .check .el-checkbox:nth-child(1) {
    margin-top: 5px;
    margin-right: 0.5rem;
  }
  .main-Task i{
    font-style: 1.2rem;
    color: #fff;
  }
  /* .el-col-1 {
    padding: 10px 20px !important;
    border-top-left-radius: 10px;
    background: #a0f;
  }
  .el-col-2 {
    width: 7% !important;
    display: flex;
    margin-top: 5px;
  } */
  .cursor {
    cursor: pointer;
  }
</style>