<template>
  <div class="card-body">
    <el-row :gutter="10">
      <el-col :span="1">
        <el-checkbox border size="small" checked></el-checkbox>
      </el-col>
      <el-col :span="3">
        <span>Sub-TC-01</span>
      </el-col>
      <el-col class="sub-task" :span="6">
        <h6 class="sub-task">{{ subAction.titre }}</h6>
      </el-col>

      <!------ state Action ------->

      <!------ Plus Actions Ticket ------->
    </el-row>
  </div>
</template>
<script>
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlan.js";

export default {
  name: "ticketTaskNew",
  mixins: [helper, action],
  props: {
    subAction: {
      default: {},
      type: Object,
    },
  },
};
</script>
<style scoped>
   .el-col-3 {
    width: 6.5%;
    padding: 5px 8px;
  }
</style>
