<template>
  <div>
    <div class="main-Task">
      <div class="task">
        <el-row :gutter="24">
          <div class="d-flex">
            <div class="d-flex align-items-stretch">
              <el-col
                v-if="tr.ticket"
                :span="1"
                :style="{
                  backgroundColor: tr.ticket.couleur,
                  color: 'white',
                }"
              >
                <i
                  v-if="subActions.length != 0 && !tr.visibility"
                  @click="visibilityChange(true)"
                  class="el-icon-arrow-right cursor"
                ></i>
                <i v-if="subActions.length < 1">
                  <span class="icon-test"></span>
                </i>
                <i
                  v-else-if="subActions.length != 0 && tr.visibility"
                  @click="visibilityChange(false)"
                  class="el-icon-arrow-down cursor"
                ></i>
              </el-col>
            </div>
            <div class="el-style-tick row">
              <el-col :span="2.5">
                <div class="d-flex align-items-center">
                  <span class="mr-2">JES-100001</span>
                  <span
                    v-if="tr.ticket"
                    class="material-icons-outlined"
                    :style="{
                      color: tr.ticket.couleur,
                    }"
                  >
                    label_important
                  </span>
                </div>
                <div v-if="tr.ticket" class="title">
                  <span>{{ tr.ticket.libelle }}</span>
                </div>
              </el-col>
              <el-col :span="4">
                <!-- Checkbox-->
                <strong class="check">
                  <el-checkbox
                    key="0"
                    v-if="tr.etat == '3'"
                    @change.native="switchStateSubAll(tr.id, tr, 0)"
                    size="small"
                    checked
                  ></el-checkbox>
                  <el-checkbox
                    key="1"
                    v-else
                    @change.native="switchStateSubAll(tr.id, tr, 1)"
                    size="small"
                    unchecked
                  ></el-checkbox>
                  <el-popover placement="top-start" width="400" trigger="hover">
                    <span :inner-html.prop="tr.titre">{{ tr.titre }}</span>
                    <span
                      class="titre-reduce"
                      slot="reference"
                      :inner-html.prop="tr.titre | cyb_denomination_split"
                      >{{ tr.titre }}</span
                    >
                  </el-popover>
                </strong>
              </el-col>
              <!------ Bar d'état dropdown ------->
              <state-ticket :tr="tr" ref="stateTicket" />
              <!--ActionTask----------->
              <percent-ticket :tr="tr" ref="percentTicket" />

              <!-- Avancement -->
              <el-col :span="3">
                <avancement
                  :docId="tr.id"
                  @update:etat="$emit('update:etat', $event)"
                  @update:state="$emit('update:state', $event)"
                  :percent="percentSubAction(subActions, tr)"
                 />
              </el-col>
              <!-- TypeTicket Tag -->
              <!-- <type-ticket-Tag :tr="tr" ref="typeTicketTag" /> -->

              <!-- Etiquette-->
              <el-col :span="3">
                <etiquette-tag :tr="tr" ref="etiquetteTag" />
              </el-col>
              <el-col :span="3">
                <div class="priorite">
                  <priorite-tag :prioriteRef="tr.priorite" ref="etiquetteTag" />
                </div>
              </el-col>
              <file-ticket :tr="tr" ref="fileTicket" />
              <!-- <el-col :span="2">
              <el-tag effect="dark" type="danger">Urgent</el-tag>
            </el-col> -->
              <!-- avancement -->

              <div
                class="d-flex justify-content-end align-items-center ml-auto"
              >
                <!-- fileTicket  -->
                <!-- <file-ticket :tr="tr" ref="fileTicket" /> -->
                <!-- commentaire  -->
                <!-- <comment-ticket :tr="tr" ref="commentTicket" /> -->
                <!------ Photo et nom d'utilisateur ------->
                <user-ticket :tr="tr" ref="userTicket" />
                <!------ Plus Actions Ticket ------->
                <plus-Action-ticket
                  :tr="tr"
                  :subTasks="subActions"
                  @savedTicket="$emit('savedTicket')"
                  :afficher="true"
                  :dupliquer="true"
                  :archiver="true"
                  :supprimer="true"
                  ref="plusActionTicket"
                />
              </div>
            </div>
          </div>
        </el-row>
        <transition name="fade">
          <div v-if="tr.visibility && subActions.length != 0">
            <!-- Sous-tache-->
            <ticket-sub-task-new
              v-for="subAction in subActions"
              :key="subAction.id"
              :subAction="subAction"
              @update:state="switchStateSub(subAction.id, $event)"
            />
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>
<script>
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlanNew.js";
import SubTask from "../../../bp/erp/models/agilite/subTask";
import TicketSubTaskNew from "./ticketSubTaskNew.vue";
import StateTicket from "./listTicket/stateTicket.vue";
import PercentTicket from "./listTicket/percentTicket.vue";
import EtiquetteTag from "./listTicket/etiquetteTag.vue";
import PrioriteTag from "./listTicket/prioriteTag.vue";
// import TypeTicketTag from "./listTicket/typeTicketTag.vue";
import FileTicket from "./listTicket/fileTicket.vue";
// import CommentTicket from "./listTicket/commentTicket.vue";
import UserTicket from "./listTicket/userTicket.vue";
import PlusActionTicket from "./listTicket/plusActionTicket.vue";
import Avancement from "./listTicket/avancement.vue";
import tickeTaskNewResponsive from "../components/ticketTaskNewResponsive.vue";
export default {
  name: "ticketTaskNewLg",
  mixins: [helper, action],
  components: {
    TicketSubTaskNew,
    StateTicket,
    PercentTicket,
    EtiquetteTag,
    PrioriteTag,
    // TypeTicketTag,
    FileTicket,
    UserTicket,
    PlusActionTicket,
    Avancement,
    tickeTaskNewResponsive,
  },
  props: {
    tr: {
      default: [],
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    screenView: {
      default: false,
    },
    categorieSelectedId: {
      default: null,
      type: String,
    },
    idSummarySelected: {
      default: null,
      type: String,
    },
    index: {
      default: null,
      type: Number,
    },
  },
  data() {
    return {
      subActions: [],
    };
  },

  methods: {
    getAllSubtasks() {
      SubTask.getDocumentSubSubCollection(
        "planAction",
        this.idSummarySelected,
        this.categorieSelectedId,
        this.tr.id,
        "subTasks"
      ).then((query) => {
        this.subActions = [];
        query.forEach((doc) => {
          let data = doc.data();
          data.id = doc.id;
          if (data.userId) {
            data.userId.get().then((user) => {
              data.user = user.data();
              this.subActions.push(data);
              // this.idAction++;
            });
          }
        });
      });
    },
    visibilityChange(visibility) {
      this.$emit("update:visibility", visibility);
    },
    switchStateSub(id, state) {
      let etat = "1";
      if (state) {
        etat = "3";
      } else {
        etat = "1";
      }
      SubTask.updateDocumentSubSubCollectionField(
        "planAction",
        this.idSummarySelected,
        this.categorieSelectedId,
        this.tr.id,
        "subTasks",
        id,
        state,
        etat
      ).then(() => {
        // this.$emit("update:state");
        this.getAllSubtasks();
      });
    },
  },
  mounted() {
    this.$store.commit(
      "agilite/setPlanActionRef",
      SubTask.getCollection("planAction")
        .doc(this.idSummarySelected)
        .collection(this.categorieSelectedId)
    );
    this.getAllSubtasks();
    this.getLinks();S
  },
};
</script>
<style scoped>
.icon-test {
  display: block;
  height: 14px !important;
  width: 14px !important;
}
.title span {
  font-size: 0.55rem;
  color: #b0b0b096;
  font-weight: 600;
}
.task {
  background: #f2f6ffc9;
  border-radius: 10px;
  border: 1px solid #c0c4cc66;
}
.main-Task {
  /* margin: 0 10px !important; */
  background: #eeeff3 !important;
  padding: 0.4rem 0;
}
.main-Task .el-row {
  /* padding: 12px !important; */
  background: #fff !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0.12rem 0.1rem rgba(0, 0, 0, 0.085) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.el-style-tick {
  padding: 6px;
  width: 100%;
}
.main-Task i {
  font-style: 1.2rem;
  color: #fff;
}
.check {
  display: flex;
  align-items: center;
}
.check .el-checkbox:nth-child(1) {
  margin-top: 5px;
  margin-right: 0.5rem;
}
.el-col-1 {
  padding-right: 23px !important;
  padding-top: 10px !important;
  border-top-left-radius: 10px;
}
.el-col-2 {
  width: 7% !important;
  display: flex;
  margin-top: 5px;
}
.el-col-5 {
  width: 22%;
}
.cursor {
  cursor: pointer;
}
/* .el-col-2 .priorite{
  width: 12% !important;
} */
</style>
