<template>
  <div>
    <div class="main-Task">
      <div
        @dblclick="doubleClick()"
        v-if="mobileView == false && tabletView == false && screenView == false"
        class="task"
      >
        <el-row :gutter="24">
          <el-tooltip content="Ticket principal" placement="top">
            <div class="d-flex">
              <div class="d-flex align-items-stretch">
                <el-col
                  v-if="tr.ticket"
                  :span="1"
                  :style="{
                    backgroundColor: tr.ticket.couleur,
                    color: 'white',
                    cursor: 'pointer',
                  }"
                >
                  <i
                    v-if="subActions.length != 0 && !tr.visibility"
                    @click="visibilityChange(true)"
                    class="el-icon-arrow-right cursor"
                  ></i>
                  <i v-if="subActions.length < 1">
                    <span class="icon-test"></span>
                  </i>
                  <i
                    v-else-if="subActions.length != 0 && tr.visibility"
                    @click="visibilityChange(false)"
                    class="el-icon-arrow-down cursor"
                  ></i>
                </el-col>
              </div>
              <div class="el-style-tick row">
                <el-col :span="2.5">
                  <div class="d-flex align-items-center">
                    <span v-if="isCodeTicket" class="mr-2"
                      >{{ codeProjet }}-{{ indexTr + 1 }}</span
                    >
                    <span v-else class="mr-2">{{ indexTr + 1 }}</span>
                    <span
                      v-if="tr.ticket"
                      class="material-icons-outlined"
                      :style="{
                        color: tr.ticket.couleur,
                      }"
                    >
                      label_important
                    </span>
                  </div>
                  <div class="time-title">
                    <div v-if="tr.ticket" class="title">
                      <span>{{ tr.ticket.libelle }}</span>
                    </div>
                    <div class="title">
                      <i class="el-icon-time" style="color: #b0b0b096"></i>
                      <span>{{
                        new Date(tr.createdAt.seconds * 1000)
                          | moment("Do MMMM YYYY")
                      }}</span>
                    </div>
                  </div>
                </el-col>
                <el-col :span="5">
                  <!-- Checkbox-->
                  <strong class="check">
                    <el-checkbox
                      key="0"
                      v-if="tr.etat == '3'"
                      @change.native="
                        switchStateSubAll(tr.id, false, tr.ref, tr.userId)
                      "
                      size="small"
                      checked
                    ></el-checkbox>
                    <el-checkbox
                      key="1"
                      v-else-if="tr.etat != '3'"
                      @change.native="
                        switchStateSubAll(tr.id, true, tr.ref, tr.userId)
                      "
                      size="small"
                      unchecked
                    ></el-checkbox>
                    <el-popover
                      placement="top-start"
                      width="400"
                      trigger="hover"
                    >
                      <span :inner-html.prop="tr.titre">{{ tr.titre }}</span>

                      <span
                        class="titre-reduce"
                        slot="reference"
                        :inner-html.prop="tr.titre | cyb_denomination_split"
                        >{{ tr.titre }}
                      </span>
                    </el-popover>
                  </strong>
                </el-col>
                <!------ Bar d'état dropdown ------->
                <state-ticket :tr="tr" ref="stateTicket" />
                <!--ActionTask----------->
                <percent-ticket :tr="tr" ref="percentTicket" />

                <!-- Avancement -->
                <el-col :span="3">
                  <avancement
                    :tr="tr"
                    @update:etat="$emit('update:etat', $event)"
                    @update:state="$emit('update:state', $event)"
                    :percent="percentSubAction(subActions, tr)"
                  />
                </el-col>
                <!-- TypeTicket Tag -->
                <!-- <type-ticket-Tag :tr="tr" ref="typeTicketTag" /> -->

                <!-- Etiquette-->
                <el-col :span="3">
                  <etiquette-tag
                    :refEtiquette="tr.etiquette"
                    ref="etiquetteTag"
                  />
                </el-col>
                <el-col :span="3">
                  <div class="priorite">
                    <priorite-tag
                      :prioriteRef="tr.priorite"
                      ref="etiquetteTag"
                    />
                  </div>
                </el-col>
                <Alert :tr="tr" :etat="tr.etat" />
                <file-ticket :tr="tr" ref="fileTicket" />
                <!-- compsant pour la gestion des alertes -->

                <Liens :links="links" />

                <!-- <el-col :span="2">
                <el-tag effect="dark" type="danger">Urgent</el-tag>
              </el-col> -->
                <!-- avancement -->

                <div
                  class="d-flex justify-content-end align-items-center ml-auto"
                >
                  <!-- fileTicket  -->
                  <!-- <file-ticket :tr="tr" ref="fileTicket" /> -->
                  <!-- commentaire  -->
                  <el-popover
                    v-if="tr.commentaire && tr.commentaire != ''"
                    placement="top-start"
                    width="400"
                    trigger="hover"
                  >
                    <span :inner-html.prop="tr.commentaire">{{
                      tr.commentaire
                    }}</span>
                    <span
                      @click="displayComment(tr)"
                      size="mini"
                      slot="reference"
                      class="el-icon-s-comment cursor icon-size icon-blue"
                    ></span>
                  </el-popover>

                  <!-- <Comment :tr="tr" ref="commentTicket" /> -->
                  <!------ Photo et nom d'utilisateur ------->
                  <user-ticket
                    :refTicket="tr.ref"
                    @assign:user="$emit('assign:user', $event)"
                    :userId="tr.userId"
                    ref="userTicket"
                  />
                  <!------ Plus Actions Ticket ------->
                  <plus-Action-ticket
                    :tr="tr"
                    :subTasks="subActions"
                    :links="links"
                    @update:comment="$emit('update:comment', $event)"
                    @savedTicket="$emit('savedTicket')"
                    @delete:ticket="$emit('delete:ticket')"
                    @archive:ticket="$emit('archive:ticket')"
                    @assign:user="$emit('assign:user', $event)"
                    :afficher="true"
                    :dupliquer="true"
                    :archiver="true"
                    :supprimer="true"
                    :commenter="true"
                    :assigner="true"
                    :modifier="true"
                    ref="plusActionTicket"
                  />
                </div>
              </div>
            </div>
          </el-tooltip>
        </el-row>
        <transition name="fade">
          <div v-if="tr.visibility && subActions.length != 0">
            <!-- Sous-tache-->
            <ticket-sub-task-new
              v-for="(subAction, index) in subActions"
              :key="subAction.id"
              :indexTr="indexTr"
              :index="index"
              @assign:user="subActions[index].userId = $event"
              @update:comment="loadComment($event, index)"
              :subAction="subAction"
              @update:state="
                switchStateSub(subAction.id, $event, subAction.ref)
              "
              @delete:ticket="deleteItem(index)"
              :tabletView="tabletView"
              :screenView="screenView"
              :mobileView="mobileView"
            />
          </div>
        </transition>
        <!-- <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="" />
        </el-dialog> -->
      </div>
    </div>

    <!-- Layout De la version large  -->
    <div
      @dblclick="doubleClick()"
      v-if="mobileView == false && tabletView == false && screenView == true"
      class="task lg-view"
    >
      <el-row :gutter="24">
        <el-tooltip content="Ticket principal" placement="top">
          <div class="d-flex">
            <div class="d-flex align-items-stretch">
              <el-col
                v-if="tr.ticket"
                :span="1"
                :style="{
                  backgroundColor: tr.ticket.couleur,
                  color: 'white',
                  cursor: 'pointer',
                }"
              >
                <i
                  v-if="subActions.length != 0 && !tr.visibility"
                  @click="visibilityChange(true)"
                  class="el-icon-arrow-right cursor"
                ></i>
                <i v-if="subActions.length < 1">
                  <span class="icon-test"></span>
                </i>
                <i
                  v-else-if="subActions.length != 0 && tr.visibility"
                  @click="visibilityChange(false)"
                  class="el-icon-arrow-down cursor"
                ></i>
              </el-col>
            </div>
            <div class="el-style-tick row">
              <el-col :span="2.5">
                <div class="task-first-child">
                  <div class="text-ref">
                    <span class="titre-reduce">JES-100001</span>
                    <span
                      v-if="tr.ticket"
                      class="material-icons-outlined "
                      :style="{
                        color: tr.ticket.couleur,
                      }"
                    >
                      label_important
                    </span>
                    <!-- 

                      <span class="mr-2">JES-100001</span>
                      <span
                        slot="reference"
                        class="material-icons-outlined titre-reduce"
                      >
                        label_important
                      </span> -->
                  </div>
                  <div class="time-title">
                    <div v-if="tr.ticket" class="title">
                      <span>{{ tr.ticket.libelle }}</span>
                    </div>
                    <div class="title">
                      <i class="el-icon-time"></i>
                      <span>{{
                        new Date(tr.createdAt.seconds * 1000)
                          | moment("Do MMMM YYYY")
                      }}</span>
                    </div>
                  </div>
                </div>
              </el-col>
              <el-col :span="3">
                <!-- Checkbox-->
                <strong class="check">
                  <el-checkbox
                    key="0"
                    v-if="tr.etat == '3'"
                    @change.native="
                      switchStateSubAll(tr.id, false, tr.ref, tr.userId)
                    "
                    size="small"
                    checked
                    :disabled="tr.userId.id == currentUId ? false : true"
                  ></el-checkbox>
                  <el-checkbox
                    key="1"
                    v-else-if="tr.etat != '3'"
                    @change.native="
                      switchStateSubAll(tr.id, true, tr.ref, tr.userId)
                    "
                    size="small"
                    unchecked
                    :disabled="tr.userId.id == currentUId ? false : true"
                  ></el-checkbox>
                  <el-popover
                    placement="top-start"
                    :content="tr.titre"
                    width="400"
                    trigger="hover"
                  >
                    <!-- <span class="lg-titre" :inner-html.prop="tr.titre">{{ tr.titre }}</span> -->
                    <span class="titre-reduce" slot="reference">
                      {{ tr.titre | cyb_desc_split }}
                    </span>
                  </el-popover>
                </strong>
              </el-col>
              <!------ Bar d'état dropdown ------->
              <state-ticket :tr="tr" ref="stateTicket" />
              <!--ActionTask----------->
              <percent-ticket :tr="tr" ref="percentTicket" />

              <!-- Avancement -->
              <el-col :span="3">
                <avancement
                  :tr="tr"
                  @update:etat="$emit('update:etat', $event)"
                  @update:state="$emit('update:state', $event)"
                  :percent="percentSubAction(subActions, tr)"
                />
              </el-col>
              <!-- TypeTicket Tag -->
              <!-- <type-ticket-Tag :tr="tr" ref="typeTicketTag" /> -->

              <!-- Etiquette-->
              <el-col :span="3">
                <etiquette-tag
                  :refEtiquette="tr.etiquette"
                  ref="etiquetteTag"
                />
              </el-col>
              <el-col :span="3">
                <div class="priorite">
                  <priorite-tag :prioriteRef="tr.priorite" ref="etiquetteTag" />
                </div>
              </el-col>
              <Alert :tr="tr" :etat="tr.etat" />
              <file-ticket :tr="tr" ref="fileTicket" />
              <!-- compsant pour la gestion des alertes -->

              <Liens :links="links" />

              <div
                class="d-flex justify-content-end align-items-center ml-auto viewl-lg-id"
              >
                <!-- commentaire  -->
                <span
                  size="mini"
                  v-if="tr.commentaire && tr.commentaire != ''"
                  class="el-icon-s-comment icon-size icon-blue"
                ></span>

                <!------ Photo et nom d'utilisateur ------->
                <user-ticket
                  :refTicket="tr.ref"
                  @assign:user="$emit('assign:user', $event)"
                  :userId="tr.userId"
                  ref="userTicket"
                />
                <!------ Plus Actions Ticket ------->
                <plus-Action-ticket
                  :tr="tr"
                  :subTasks="subActions"
                  :links="links"
                  @update:comment="$emit('update:comment', $event)"
                  @savedTicket="$emit('savedTicket')"
                  @delete:ticket="$emit('delete:ticket')"
                  @archive:ticket="$emit('archive:ticket')"
                  @assign:user="$emit('assign:user', $event)"
                  :afficher="true"
                  :dupliquer="true"
                  :archiver="true"
                  :supprimer="true"
                  :commenter="true"
                  :assigner="true"
                  :modifier="true"
                  ref="plusActionTicket"
                />
              </div>
            </div>
          </div>
        </el-tooltip>
      </el-row>
      <transition name="fade">
        <div v-if="tr.visibility && subActions.length != 0">
          <!--     Sous-tâches    -->
          <ticket-sub-task-new
            v-for="(subAction, index) in subActions"
            :key="subAction.id"
            @assign:user="subActions[index].userId = $event"
            :subAction="subAction"
            @update:state="switchStateSub(subAction.id, $event, subAction.ref)"
            @update:comment="loadComment($event, index)"
            @delete:ticket="deleteItem(index)"
            :tabletView="tabletView"
            :screenView="screenView"
            :mobileView="mobileView"
          />
        </div>
      </transition>
    </div>

    <!-- Layout De la version Tablette  -->
    <div
      @dblclick="doubleClick()"
      v-if="mobileView == false && tabletView == true && screenView == false"
      class="task md-view"
    >
      <el-row :gutter="24">
        <!-- <div class="d-flex"> -->
        <div class="d-flex align-items-stretch">
          <el-col
            v-if="tr.ticket"
            :span="1"
            :style="{
              backgroundColor: tr.ticket.couleur,
              color: 'white',
              cursor: 'pointer',
            }"
          >
            <i
              v-if="subActions.length != 0 && !tr.visibility"
              @click="visibilityChange(true)"
              class="el-icon-arrow-right cursor"
            ></i>
            <i v-if="subActions.length < 1">
              <span class="icon-test"></span>
            </i>
            <i
              v-else-if="subActions.length != 0 && tr.visibility"
              @click="visibilityChange(false)"
              class="el-icon-arrow-down cursor"
            ></i>
          </el-col>
        </div>
        <div class="el-style-tick-md ml-5 mr-2">
          <div class="num-ticket-md">
            <div class="head-ref-num">
              <span class="num-ref">JES-100001</span>
              <span
                v-if="tr.ticket"
                class="material-icons-outlined"
                :style="{
                  color: tr.ticket.couleur,
                }"
              >
                label_important
              </span>
            </div>
            <div class="title">
              <i class="el-icon-time"></i>
              <span>{{
                new Date(tr.createdAt.seconds * 1000) | moment("Do MMMM YYYY")
              }}</span>
            </div>
          </div>

          <!-- <div class="user-plus-md"> -->
          <el-col :span="5">
            <priorite-tag
              :tabletView="tabletView"
              :screenView="screenView"
              :mobileView="mobileView"
              :prioriteRef="tr.priorite"
              ref="etiquetteTag"
            />
          </el-col>
          <el-col :span="5">
            <etiquette-tag :refEtiquette="tr.etiquette" ref="etiquetteTag" />
          </el-col>
          <el-col :span="2">
            <user-ticket
              :refTicket="tr.ref"
              @assign:user="$emit('assign:user', $event)"
              :userId="tr.userId"
              ref="userTicket"
            />
            <plus-Action-ticket
              :tr="tr"
              :subTasks="subActions"
              :links="links"
              @update:comment="$emit('update:comment', $event)"
              @savedTicket="$emit('savedTicket')"
              @delete:ticket="$emit('delete:ticket')"
              @archive:ticket="$emit('archive:ticket')"
              @assign:user="$emit('assign:user', $event)"
              :afficher="true"
              :dupliquer="true"
              :archiver="true"
              :supprimer="true"
              :commenter="true"
              :assigner="true"
              :modifier="true"
              ref="plusActionTicket"
            />
          </el-col>
          <!-- </div> -->
          <hr />
        </div>
        <div class="">
          <strong class="check ml-5">
            <el-checkbox
              key="0"
              v-if="tr.etat == '3'"
              @change.native="
                switchStateSubAll(tr.id, false, tr.ref, tr.userId)
              "
              size="small"
              checked
              :disabled="tr.userId.id == currentUId ? false : true"
            ></el-checkbox>
            <el-checkbox
              key="1"
              v-else-if="tr.etat != '3'"
              @change.native="switchStateSubAll(tr.id, true, tr.ref, tr.userId)"
              size="small"
              unchecked
              :disabled="tr.userId.id == currentUId ? false : true"
            >
            </el-checkbox>
            <!-- <span class="lg-titre" :inner-html.prop="tr.titre">{{ tr.titre }}</span> -->
            <span class="titre-reduce" slot="reference">{{ tr.titre }}</span>
          </strong>
        </div>
        <div class="bar-pross-md">
          <!------ Bar d'état dropdown ------->
          <state-ticket :tr="tr" ref="stateTicket" />
          <el-col :span="18">
            <avancement
              :tr="tr"
              @update:etat="$emit('update:etat', $event)"
              @update:state="$emit('update:state', $event)"
              :percent="percentSubAction(subActions, tr)"
            />
          </el-col>
        </div>
        <el-col :span="23">
          <div class="user-md my-2 ml-3">
            <span
              size="mini"
              v-if="tr.commentaire && tr.commentaire != ''"
              class="el-icon-s-comment icon-size icon-blue ml-2"
            ></span>

            <file-ticket :tr="tr" ref="fileTicket" />
            <Liens :links="links" />
            <Alert :tr="tr" :etat="tr.etat" />
          </div>
        </el-col>
        <!-- </div>    -->
      </el-row>
      <transition name="fade">
        <div v-if="tr.visibility && subActions.length != 0">
          <!--     Sous-tâches    -->
          <ticket-sub-task-new
            v-for="(subAction, index) in subActions"
            :key="subAction.id"
            @assign:user="subActions[index].userId = $event"
            :subAction="subAction"
            @update:state="switchStateSub(subAction.id, $event, subAction.ref)"
            @update:comment="loadComment($event, index)"
            @delete:ticket="deleteItem(index)"
            :tabletView="tabletView"
            :screenView="screenView"
            :mobileView="mobileView"
          />
        </div>
      </transition>
    </div>

    <!-- Layout de La version Mobile -->
    <div
      @dblclick="doubleClick()"
      v-if="mobileView == true && tabletView == false && screenView == false"
      class="task mobile-view"
    >
      <el-row :gutter="24">
        <div class="">
          <div class="d-flex align-items-stretch">
            <el-col
              v-if="tr.ticket"
              :span="1"
              :style="{
                backgroundColor: tr.ticket.couleur,
                color: 'white',
                cursor: 'pointer',
                width: '2px',
              }"
            >
            </el-col>
          </div>
          <div class="el-style-tick-mobile">
            <div class="num-ticket">
              <div class="head-ref-num">
                <span class="num-ref">JES-100001</span>
                <span
                  v-if="tr.ticket"
                  class="material-icons-outlined"
                  :style="{
                    color: tr.ticket.couleur,
                  }"
                >
                  label_important
                </span>
              </div>
              <div class="title">
                <i class="el-icon-time"></i>
                <span>{{
                  new Date(tr.createdAt.seconds * 1000) | moment("Do MMMM YYYY")
                }}</span>
              </div>
            </div>

            <div class="user-plus">
              <el-col :span="3">
                <priorite-tag
                  :tabletView="tabletView"
                  :screenView="screenView"
                  :mobileView="mobileView"
                  :prioriteRef="tr.priorite"
                  ref="etiquetteTag"
                />
              </el-col>
              <el-col :span="2">
                <user-ticket
                  :refTicket="tr.ref"
                  @assign:user="$emit('assign:user', $event)"
                  :userId="tr.userId"
                  ref="userTicket"
                />
                <plus-Action-ticket
                  :tr="tr"
                  :subTasks="subActions"
                  :links="links"
                  @update:comment="$emit('update:comment', $event)"
                  @savedTicket="$emit('savedTicket')"
                  @delete:ticket="$emit('delete:ticket')"
                  @archive:ticket="$emit('archive:ticket')"
                  @assign:user="$emit('assign:user', $event)"
                  :afficher="true"
                  :dupliquer="true"
                  :archiver="true"
                  :supprimer="true"
                  :commenter="true"
                  :assigner="true"
                  :modifier="true"
                  ref="plusActionTicket"
                />
              </el-col>
            </div>
            <hr />
          </div>
          <div class="">
            <strong class="check">
              <el-checkbox
                key="0"
                v-if="tr.etat == '3'"
                @change.native="
                  switchStateSubAll(tr.id, false, tr.ref, tr.userId)
                "
                size="small"
                checked
                :disabled="tr.userId.id == currentUId ? false : true"
              ></el-checkbox>
              <el-checkbox
                key="1"
                v-else-if="tr.etat != '3'"
                @change.native="
                  switchStateSubAll(tr.id, true, tr.ref, tr.userId)
                "
                size="small"
                unchecked
                :disabled="tr.userId.id == currentUId ? false : true"
              >
              </el-checkbox>
              <!-- <span class="lg-titre" :inner-html.prop="tr.titre">{{ tr.titre }}</span> -->
              <span class="titre-reduce" slot="reference">{{ tr.titre }}</span>
            </strong>
          </div>
          <div class="bar-pross">
            <el-col :span="23">
              <avancement
                :tr="tr"
                @update:etat="$emit('update:etat', $event)"
                @update:state="$emit('update:state', $event)"
                :percent="percentSubAction(subActions, tr)"
              />
            </el-col>
          </div>
          <el-col :span="23">
            <div class="user-content my-2">
              <span
                size="mini"
                v-if="tr.commentaire && tr.commentaire != ''"
                class="el-icon-s-comment icon-size icon-blue"
              ></span>
              <Alert :tr="tr" :etat="tr.etat" />
              <file-ticket :tr="tr" ref="fileTicket" />
              <Liens :links="links" />
              <div class="signal ml-auto">
                <el-col :span="22">
                  <etiquette-tag
                    :refEtiquette="tr.etiquette"
                    ref="etiquetteTag"
                  />
                </el-col>
                <el-col :span="2">
                  <i
                    v-if="subActions.length != 0 && !tr.visibility"
                    @click="visibilityChange(true)"
                    class="el-icon-arrow-right cursor"
                  ></i>
                  <i v-if="subActions.length < 1">
                    <span class="icon-test"></span>
                  </i>
                  <i
                    v-else-if="subActions.length != 0 && tr.visibility"
                    @click="visibilityChange(false)"
                    class="el-icon-arrow-down cursor"
                  ></i>
                </el-col>
              </div>
            </div>
          </el-col>
        </div>
      </el-row>
      <!-- Sous-tache-->
      <transition name="fade">
        <div v-if="tr.visibility && subActions.length != 0">
          <ticket-sub-task-new
            v-for="(subAction, index) in subActions"
            :key="subAction.id"
            :index="index"
            :indexTr="indexTr"
            @assign:user="subActions[index].userId = $event"
            :subAction="subAction"
            @update:state="switchStateSub(subAction.id, $event, subAction.ref)"
            @update:comment="loadCommen($event, index)"
            @delete:ticket="deleteItem(index)"
            :tabletView="tabletView"
            :screenView="screenView"
            :mobileView="mobileView"
          />
        </div>
      </transition>
    </div>
    <Comment
      @update:display="display = $event"
      @update:comment="$emit('update:comment', $event)"
      :ticketRef="tr.ref"
      v-if="display"
      :tr="tr"
      :display="display"
    />
  </div>
</template>
<script>
import firebase from "firebase";
import helper from "../../../../services/helper";
import action from "../../../bp/mixins/admin/actionPlanNew.js";
import SubTask from "../../../bp/erp/models/agilite/subTask";
import Ticket from "../../../bp/erp/models/agilite/ticket";
import TicketSubTaskNew from "./ticketSubTaskNew.vue";
import StateTicket from "./listTicket/stateTicket.vue";
import PercentTicket from "./listTicket/percentTicket.vue";
import EtiquetteTag from "./listTicket/etiquetteTag.vue";
import PrioriteTag from "./listTicket/prioriteTag.vue";
import FileTicket from "./listTicket/fileTicket.vue";
import UserTicket from "./listTicket/userTicket.vue";
import PlusActionTicket from "./listTicket/plusActionTicket.vue";
import Avancement from "./listTicket/avancement.vue";
import Alert from "./listTicket/alert.vue";
import Liens from "./listTicket/liens.vue";
import Comment from "./comment.vue";
import tickeTaskNewResponsive from "../components/ticketTaskNewResponsive.vue";
// import ticketTaskNewLg from "../components/ticketTaskNewLg.vue";
// import Comment from "../components/comment.vue";
export default {
  name: "ticketTaskNew",
  mixins: [helper, action],
  components: {
    TicketSubTaskNew,
    StateTicket,
    PercentTicket,
    EtiquetteTag,
    PrioriteTag,
    // TypeTicketTag,
    FileTicket,
    UserTicket,
    PlusActionTicket,
    Avancement,
    Comment,
    // ticketTaskNewLg,
    // tickeTaskNewResponsive,
    Alert,
    Liens,
  },
  props: {
    tr: {
      default: [],
    },
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    categorieSelectedId: {
      default: null,
      type: String,
    },
    idSummarySelected: {
      default: null,
      type: String,
    },
    indexTr: {
      default: null,
      type: Number,
    },
    isCodeTicket: {
      default: true,
      type: Boolean,
    },
  },
  watch: {
    "tr.state": function(val) {
      // this.getAllSubtasks();
      // alert(val);
    },
  },
  computed: {
    currentUId: {
      get() {
        return this.$store.state.agilite.currentUId;
      },
      set(value) {
        this.$store.commit("agilite/setCurrentUId", value);
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
    codeProjet: {
      get() {
        return this.$store.state.agilite.codeProjet;
      },
    },
  },
  data() {
    return {
      subActions: [],
      links: [],
      display: false,
    };
  },

  methods: {
    deleteItem(index) {
      let deletePercent = this.subActions[index].percent;
      this.subActions.splice(index, 1);
      let affectPercent = deletePercent / this.subActions.length;
      this.subActions.forEach((item, index) => {
        let newPercent = item.percent + affectPercent;
        this.subActions[index].percent = newPercent;
        item.ref.update({ percent: newPercent });
      });
    },
    doubleClick() {
      this.$refs.plusActionTicket.showTicket(
        this.tr,
        this.suActions,
        this.links
      );
    },
    displayComment() {
      this.display = true;
    },
    getAllSubtasks() {
      console.log("Doc Ref", this.tr);
      // firebase
      //   .firestore()
      //   .collection("tasks")
      //   .doc("WFS5nzsco2kx9LAYvD6L")
      //   .collection("activites")
      //   .doc("4bDuo18qUkgg9MWS5fEF")
      //   .collection("tickets")
      //   .doc("PXi5KDZQLKBNRhCRUVOO")
      //   .collection("subTasks")
      this.tr.ref
        .collection("subTasks")
        .orderBy("createdAt", "asc")
        .get()
        .then((query) => {
          this.subActions = [];
          query.forEach((doc) => {
            console.log("Doc Ref", doc.data(), this.tr.titre);
            let data = doc.data();
            if (doc.data().dates) {
              if (doc.data().dates[0]) {
                data.dates[0] = new Date(doc.data().dates[0].seconds * 1000);
              }
              if (doc.data().dates[1]) {
                data.dates[1] = new Date(doc.data().dates[1].seconds * 1000);
              }
            }
            data.id = doc.id;
            data.ref = doc.ref;
            this.subActions.push(data);
          });
        });
    },
    getLinks() {
      this.tr.ref
        .collection("links")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            let data = doc.data();
            data.id = doc.id;
            data.ref = doc.ref;
            this.links.push(data);
          });
        });
    },
    visibilityChange(visibility) {
      this.$emit("update:visibility", visibility);
    },
    loadComment(event, index) {
      this.$set(this.subActions[index], "commentaire", event);
    },
    switchStateSub(id, state, ref) {
      let etat = "1";
      if (state) {
        etat = "3";
      } else {
        etat = "1";
      }
      ref.update({ state: state, etat: etat }).then(() => {
        this.getAllSubtasks();
        // this.$emit("update:state", state);
        // this.$emit("update:etat", etat);
      });
      // SubTask.updateDocumentSubSubCollectionField(
      //   "planAction",
      //   this.idSummarySelected,
      //   this.categorieSelectedId,
      //   this.tr.id,
      //   "subTasks",
      //   id,
      //   state,
      //   etat
      // ).then(() => {
      //   // this.$emit("update:state");
      //   this.getAllSubtasks();
      // });
    },
    switchStateSubAll(id, state, ref, userId) {
      if (this.subActions.length == 0) {
        let etat = "1";
        if (state) {
          etat = "3";
        } else {
          etat = "1";
        }
        ref.update({ state: state, etat: etat }).then(() => {
          this.$emit("update:state", state);
          this.$emit("update:etat", etat);
        });
        // Ticket.updateDocumentSubSubCollectionField(
        //   "planAction",
        //   this.idSummarySelected,
        //   this.categorieSelectedId,
        //   id,
        //   state,
        //   etat
        // ).then((doc) => {
        //   this.$emit("update:state", state);
        //   this.$emit("update:etat", etat);
        //   // this.getAllSubtasks();
        // });
      } else if (this.subActions.length > 0) {
        ref
          .collection("subTasks")
          .get()
          .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              if (state) {
                this.switchStateSub(doc.id, state, doc.ref);
              } else {
                this.switchStateSub(doc.id, state, doc.ref);
              }
            });
          });
      }
    },
  },
  mounted() {
    // this.$store.commit(
    //   "agilite/setPlanActionRef",
    //   SubTask.getCollection("planAction")
    //     .doc(this.idSummarySelected)
    //     .collection(this.categorieSelectedId)
    // );
    this.getAllSubtasks();
    this.getLinks();
  },
};
</script>
<style scoped>
.icon-test {
  display: block;
  height: 14px !important;
  width: 14px !important;
}
.title span {
  font-size: 0.55rem;
  color: #b0b0b096;
  font-weight: 600;
  /* margin-left: -32px; */
}
.el-icon-time {
  color: #b0b0b096;
}
.task {
  background: #f2f6ffc9;
  border-radius: 10px;
  border: 1px solid #c0c4cc66;
  position: relative;
}
.main-Task {
  background: #eeeff3 !important;
  padding: 0.4rem 0;
  cursor: grab;
}
.el-style-tick-md {
  display: flex;
  justify-content: space-between;
}
.user-md {
  display: flex;
}

.el-style-tick-md .head-ref-num {
  display: flex;
  align-items: center;
}

.md-view .check {
  margin-left: 12px;
}

.bar-pross-md {
  display: flex;
  justify-content: space-evenly;
  margin-left: 12px;
}

.main-Task .el-row,
.lg-view .el-row,
.md-view .el-row {
  /* padding: 12px !important; */
  background: #fff !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0.12rem 0.1rem rgba(0, 0, 0, 0.085) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
}
.md-view .el-col-1 {
  position: absolute;
  height: 100%;
}
.el-style-tick {
  padding: 6px;
  width: 100%;
}
.main-Task i {
  font-style: 1.2rem;
  color: #fff;
}
.check {
  display: flex;
  align-items: center;
}
.check .el-checkbox:nth-child(1) {
  margin-top: 5px;
  margin-right: 0.5rem;
}
.el-col-1 {
  padding-right: 23px !important;
  padding-top: 10px !important;
  border-top-left-radius: 10px;
}
.el-col-2 {
  width: 7% !important;
  display: flex;
  margin-top: 5px;
}
.el-col-5 {
  width: 22%;
}
.cursor {
  cursor: pointer;
}
.el-style-tick .time-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time-title .title {
  margin: -4px;
}
/* .el-col-2 .priorite{
  width: 12% !important;
} */
@media (max-width: 1023px) {
  /* .task.lg-view {
      position: relative;
  }
  .el-col-1{
    position: absolute;
    height: 100%;
  } */

  @media (max-width: 639px) {
    .bar-pross-md[data-v-207eb4ba] {
      display: flex;
      justify-content: space-evenly;
      margin-left: 3rem;
    }
  }

  .el-style-tick {
    /* padding: 6px; */
    width: 95% !important;
  }
  .viewl-lg-id {
    display: flex !important;
    width: 30px !important;
    margin-right: -11px !important;
  }
  .el-col-1[data-v-207eb4ba] {
    padding-bottom: 6%;
  }

  .el-col-3 {
    width: 12.5%;
    padding: 0 !important;
  }
  .text-ref {
    display: flex;
  }
}
/* Modèle Ecran Large */
@media (max-width: 974px) {
  .lg-titre {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .text-ref {
    padding: 0 !important;
    font-size: 0.8rem;
  }
  .el-col-2 {
    padding: 0 !important;
  }
}
/* Modèle Mobile */
@media (max-width: 500px) {
  .head-ref-num {
    display: flex;
    align-items: center;
  }
  .titre-reduce {
    margin-right: 15px;
  }
  .mobile-view .el-row {
    background: #fff !important;
    /* border-top-left-radius: 10px;
      border-top-right-radius: 10px; */
    border-radius: 10px;
    box-shadow: 0 0.12rem 0.1rem rgba(0, 0, 0, 0.085) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
  }

  .el-style-tick-mobile {
    display: flex;
    justify-content: space-between;
    padding: 7px;
  }

  .el-col-1[data-v-207eb4ba] {
    padding-left: 2.5px !important;
    padding-right: 2.5px !important;
    border-bottom-left-radius: 10px;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }

  .material-icons-outlined {
    font-size: 1.2rem;
  }

  .num-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
  }
  .num-ticket .num-ref {
    font-size: 12px;
  }

  .check[data-v-207eb4ba] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 14px;
  }

  .el-checkbox__inner {
    width: 16px !important;
    height: 16px !important;
  }

  .user-content {
    display: flex;
    align-items: center;
  }

  .signal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .el-col-23 {
    padding-right: 0 !important;
  }
  .cursor[data-v-207eb4ba] {
    cursor: pointer;
    color: #021b32;
    font-weight: 800;
  }
  .user-plus {
    display: flex;
    justify-content: center;
    margin-right: 15px;
  }
}
</style>
