<template>
    <span class="changeColor">{{valeur}}%</span>
</template>

<script>
    export default {
        props: {
            valeur: Number,
        },
        data(){
            return{

            }
        },
        methods: {
            changeColor() {
                let value = this.valeur;
                switch (value) {
                    case (value <= 50):
                        return 'badge badge-danger badge-pill'
                        break;
                    case (50 < value && value <= 90):
                        return 'badge badge-warning badge-pill'
                        break;
                    case (90 < value && value < 100):
                        return 'badge badge-info badge-pill'
                        break;
                    case 100:
                        return 'badge badge-success badge-pill'
                        break;
                    default:
                        return 'badge badge-default badge-pill'
                    break;
                }
            }
        }
    }
</script>

<style scoped>

</style>