<template>
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/images/background/back.jpg);">
        <div class="login-register login-section">
            <div class="login-box card">
                <div class="logo">
                    <a href=""><img src="bp/assets/images/logo.png" width="45px;" class="logo-img img-responsive" alt=""></a>
                </div>
                <!-- .logo-box -->
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" @submit.prevent="submit">
                        <h3 class="box-title m-b-20">Connexion</h3>
                        <center><span id="check_error"></span></center>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input type="text" name="email" class="form-control" placeholder="Email" v-model="loginForm.email"> </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                
                                <i v-if="passwordFieldType=='password'" @click="switchVisibility"  class="fa fa-fw fa-eye-slash passwordEye"></i>
                                <i v-else @click="switchVisibility"  class="fa fa-fw fa-eye passwordEye"></i>
                                <input :type="passwordFieldType" name="password" class="form-control passwordInput" placeholder="Mot de passe" v-model="loginForm.password">
                                   
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Connexion</button>
                            </div>
                        </div>
                            <loading :active.sync="isLoading"

                            :is-full-page="fullPage"></loading>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                <p>Mot de passe oublié ? <router-link to="/password" class="text-info m-l-5"><b>Modifier!</b></router-link></p>
                                <p>Vous n'êtes pas encore inscrit ? <router-link to="/pricing"  class="text-info m-l-5"><b>Inscription</b></router-link></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>

</template>

<script>
    import helper from '../../services/helper'
    import GuestFooter from '../../layouts/guest-footer.vue'
    import firebase from 'firebase'
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    // mixin de changement de devise
    import devises from '../bp/mixins/currenciesMask'
    export default {
        mixins:[devises],
        data() {
            return {
                loginForm: {
                    email: '',
                    password: '',
                   
                },
                isLoading: false,
                fullPage: true,
                passwordFieldType:'password'

            }
        },

        components: {
            GuestFooter, Loading
        },
        created(){
            this.$loading().close();
        },
        methods: {
            loading(){
              return 15;
            },
            switchVisibility() {
            this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
            },

            closealert(){
                window.setTimeout(function () {
                    $('.alert').alert('close');
                }, 4000);
            },
            submit(e){
                   this.isLoading=true;
               
                  const db = firebase.firestore();

                    firebase.auth().signInWithEmailAndPassword(this.loginForm.email, this.loginForm.password)
                        .then(response => {
                      //  if(response.user.emailVerified){
                            let authId = firebase.auth().currentUser.uid;
                          db.collection('users').doc(authId)
                            .get().then( (doc) => {
                                if (doc.exists) {
                                    var userDB = doc.data();
                                    //check user activated state
                                     if(userDB.activated){
                                    var userSession;
                                   let currentUser=firebase.auth().currentUser;
                                    //check if it's first connection
                                    if (userDB.firstTimeConnection === "") {
                                            firebase.auth().currentUser.updateProfile({
                                            displayName: userDB.nom + ' ' + userDB.prenom,
                                            photoURL: currentUser.photo,
                                            phoneNumber: userDB.telelephone
                                        });
                                        firebase.firestore().collection('users').doc(currentUser.uid).update({
                                            firstTimeConnection: firebase.firestore.FieldValue.serverTimestamp()
                                        });
                                        //userDB.firstTimeConnection = firebase.firestore.FieldValue.serverTimestamp();
                                        //db.collection('users').doc(currentUser.uid).update(userDB);
                                        //console.log(userDB.firstTimeConnection);
                                        userSession = {
                                            name: userDB.nom,
                                            firstName: userDB.prenom,
                                            displayName: currentUser.displayName,
                                            email: currentUser.email,
                                            phoneNumber: userDB.telephone,
                                            profile:userDB.profile.id,
                                            photoURL: currentUser.photo,
                                            firstTimeConnection: firebase.firestore.FieldValue.serverTimestamp(),
                                            uid: currentUser.uid,
                                            currency: (userDB.defaultCurrency) ? userDB.defaultCurrency : 'xaf',
                                            projet: null,
                                            // adminId: userDB.adminId,
                                            // concoursId: userDB.concoursId
                                        };

                                    } else {
                                        userSession = {
                                            name: userDB.nom,
                                            firstName: userDB.prenom,
                                            displayName: currentUser.displayName,
                                            email: currentUser.email,
                                            profile:userDB.profile.id,
                                            phoneNumber: userDB.telelephone,
                                            photoURL: currentUser.photoURL,
                                            firstTimeConnection: userDB.firstTimeConnection.toDate(),
                                            uid: currentUser.uid,
                                            currency: (userDB.defaultCurrency) ? userDB.defaultCurrency : 'xaf',
                                            projet: null,
                                            // adminId: userDB.adminId,
                                            // concoursId: userDB.concoursId
                                        };
                                    }
                                    //on met les infos dans la session
                                    localStorage.setItem("userSession", JSON.stringify(userSession));
                                    // stockage de la configuration des monnaies
                                    this.applyCurrencyMask(userSession.currency);

                                    
                                 var profile=userDB.profile.id;

                                switch (profile) {

                                    case '4':
                                        if(userDB.adminId){
                                            firebase.firestore().collection('users').doc(currentUser.uid).get()
                                            .then((doc)=>{
                                                let obj = doc.data();
                                                obj.roleId.get().then(roleUser=>{
                                                    currentUser.updateProfile({
                                                        displayName: userDB.first_name+' '+userDB.last_name,
                                                        photoURL: currentUser.photo,
                                                    });
                                                    userSession = {
                                                        name: userDB.first_name,
                                                        firstName: userDB.last_name,
                                                        phoneNumber:userDB.telelephone,
                                                        displayName:  userDB.first_name+' '+userDB.last_name,
                                                        email: currentUser.email,
                                                        permissions:roleUser.data().permissions,
                                                        profile:userDB.profile.id,
                                                        photoURL: currentUser.photo,
                                                        firstTimeConnection: userDB.firstTimeConnection,
                                                        adminId: userDB.adminId,
                                                        concoursId: userDB.idConcours,
                                                        uid: currentUser.uid,
                                                        currency: (userDB.defaultCurrency) ? userDB.defaultCurrency : 'xaf',
                                                        projet: null
                                                    };
                                                    localStorage.setItem("userSession", JSON.stringify(userSession));
                                                 
                                                       
                                                       roleUser.data().permissions.admin.forEach(itemarray=>{
                                                         
                                                           if(itemarray.checked && !itemarray.haschildren){
                                                            this.$router.replace({name:itemarray.route});    
                                                           }
                                                          if(itemarray.checked && itemarray.haschildren){
                                                            itemarray.content.forEach(itemcontent=>{
                                                                this.$router.replace({name:itemcontent.route}); 
                                                                // console.log(userSession)
                                                                // console.log(userDB.last_name)
                                                            })
                                                              
                                                        }

                                                       })
                                                   

                                                    // this.$router.replace('bp/admin/dashboard'); 
                                                    window.location.href= "bp/admin/dashboard"; 
                                                   
                                                })
                                               
                                            })
                                          
                                        }
                                        else{

                                            firebase.firestore().collection('permissions').doc(currentUser.uid).get()
                                            .then((doc)=>{
                                                currentUser.updateProfile({
                                                    displayName: userDB.sigle,
                                                    photoURL: currentUser.photo,
                                                });
                                                userSession = {
                                                    denomination: userDB.denomination,
                                                    sigle: userDB.sigle,
                                                    phoneNumber:userDB.telephone,
                                                    permissions:doc.data(),
                                                    displayName: currentUser.displayName,
                                                    email: currentUser.email,
                                                    profile:userDB.profile.id,
                                                    photoURL: userDB.photo,
                                                    firstTimeConnection: userDB.firstTimeConnection,
                                                    uid: currentUser.uid,
                                                    currency: (userDB.defaultCurrency) ? userDB.defaultCurrency : 'xaf',
                                                    projet: null
                                                };
                                                localStorage.setItem("userSession", JSON.stringify(userSession));

                                                // this.$router.replace('bp/admin/dashboard');  
                                                 window.location.href = "bp/admin/dashboard"; 
                                            })

                                        }
                                        
                                
                                   
                                    break;
                                    case '3':
                                    firebase.firestore().collection('permissions').doc(currentUser.uid).get()
                                    .then((doc)=>{
                                        currentUser.updateProfile({
                                            displayName: userDB.nom,
                                            photoURL: currentUser.photo,
                                        });
                                        userSession = {
                                            name: userDB.nom,
                                            firstName: userDB.prenom,
                                            permissions:doc.data(), 
                                            displayName: currentUser.displayName,
                                            email: currentUser.email,
                                            profile:userDB.profile.id,
                                            photoURL: currentUser.photo,
                                            firstTimeConnection: userDB.firstTimeConnection,
                                            uid: currentUser.uid,
                                            currency: (userDB.defaultCurrency) ? userDB.defaultCurrency : 'xaf',
                                            projet: null,
                                            adminId: userDB.adminId,
                                            concoursId: userDB.idConcours
                                        };
                                        localStorage.setItem("userSession", JSON.stringify(userSession));

                                       
                                     })
                                      this.$router.replace('bp/projets'); 

                                     
                                    break;

                                    case '2':
                                        // this.$router.replace('bp/evaluateur/projets');
                                        this.$router.replace('/bp/superadmin/dashboard')
                                    break;
                                    default:
                                        break;
                                };
                                   //
                                   
                                    }else{
                                        document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Votre compte est en attente de validation veuillez contacter l\'administrateur du système </div>';
                                        this.closealert;
                                        this.isLoading = false
                                    } ;      

                                } else {
                                    // doc.data() will be undefined in this case
                                    console.log("No such document!");
                                    //this.isLoading = false;
                                }

                            });

                 /*
                        }else{
                            document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Vous n\'avez pas confirmé votre compte </div>';
                            this.closealert;
                            this.isLoading = false
                        }       */

                   
                        

                }).catch((error) => {
                    // Handle Errors here.
                    var errorCode = error.code;
                    //alert(errorCode);
                    // ...
                    switch (errorCode) {

                        case 'auth/invalid-email':
                            document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>L\'adresse email est invalide </div>';
                            this.closealert();
                            this.isLoading = false;
                            break;

                        case 'auth/user-not-found':
                            document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>L\'adresse email n\'existe pas!</div>';
                            this.closealert();
                            this.isLoading = false;
                            break;

                        case 'auth/wrong-password':
                            document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Le mot de passe est érroné!</div>';
                            this.closealert();
                            this.isLoading = false;
                            break;
                        case 'auth/network-request-failed':
                        // document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Aucune connexion internet</div>';
                        // this.closealert();
                        this.isLoading = false;
                        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
                        .then(function() {
                            // Existing and future Auth states are now persisted in the current
                            // session only. Closing the window would clear any existing state even
                            // if a user forgets to sign out.
                            // ...
                            // New sign-in will be persisted with session persistence.
                            return firebase.auth().signInWithEmailAndPassword(this.loginForm.email, this.loginForm.password);
                            console.log("Mode offline activé")
                        })
                        .catch(function(error) {
                            // Handle Errors here.
                            var errorCode = error.code;
                            var errorMessage = error.message;
                        });

                        break;


                        default:
                            break;
                    };

                });
            }
        }
    }
</script>

<style>

.passwordEye{
    display:inline-block !important;
    cursor: pointer; 
    position: absolute;
    margin-bottom: 10px; 
    padding: 10px; 
    left:400px;
    z-index:100
  
    /* top: 12px;
    flex: 1; */
    /* float:right */
    
}
.passwordInput{
        display:inline-block !important;
        margin-right:10px !important;
    }
    .img-responsive {
  width: 72%;
  height: auto;
  display: inline-block;
  margin-left: 65px;
  margin-top: 25px;
  margin-bottom: 12px;
}
</style>
