<template>
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/images/background/back.jpg);">
            <div class="login-box card">
            <div class="logo">
                <a href=""><img src="bp/assets/images/logo.png" width="45px;" class="logo-img img-responsive" alt=""></a>
            </div>
            <div class="card-body">
                <form class="form-horizontal form-material" id="passwordform" @submit.prevent="submit">
                    <h3 class="box-title m-b-20">Modification du Mot de Passe</h3>
                    <center><span id="check_error"></span></center>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="text" name="email" class="form-control" placeholder="Email" v-model="passwordForm.email"> </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Mise à Jour</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Vous avez un compte? <router-link to="/login" class="text-info m-l-5"><b>Connexion</b></router-link></p>
                        </div>
                    </div>
                 
                </form>
            </div>
            <guest-footer></guest-footer>
          </div>
        </div>

    </section>
</template>

<script>
    import helper from '../../services/helper'
    import GuestFooter from '../../layouts/guest-footer.vue'
    import firebase from 'firebase'
    import Router from '../../routes';
    import {Loading } from 'element-ui';
    
 

    export default {
        data() {
            return {
                passwordForm: {
                    email: ''
                },
                isLoading: false,
                fullPage: true,
            }
        },
        components: {
            GuestFooter
        },
        created(){
            this.$loading().close()
        },
        methods: {
            closealert(){
                window.setTimeout(function () {
                    $('.alert').alert('close');
                }, 6000);
            },
            submit(e){
                Loading.service({ fullscreen: true });
                const db = firebase.firestore();
                firebase.auth().sendPasswordResetEmail(this.passwordForm.email).then(response => { 
                    document.getElementById('check_error').innerHTML = '<div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Nous venons de vous envoyer un email de modification de mot de passe </div>';
                    this.closealert();
                    //console.log(this.passwordForm.email);
                    this.$loading().close();
                }).catch((error) => {
                    
                    console.log(error)
                    var errorCode = error.code;
                    //alert(errorCode);
                    // ...
                    switch (errorCode) {

                        case 'auth/user-not-found':
                            document.getElementById('check_error').innerHTML = '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>L\'adresse Email est invalide </div>';
                            this.closealert();
                            this.$loading().close();
                            break;



                        default:
                            break;
                    };
                });


            }
        }
    }
</script>
