<template>
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/images/background/back.jpg);">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row pricing-plan">
                            <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                                <div class="pricing-box">
                                    <div class="pricing-body b-l">
                                        <div class="pricing-header">
                                            <h4 class="text-center">Entrepreneur</h4>
                                            <h2 class="text-center"><i class="el-icon-user-solid"></i></h2>
                                            <!-- <p class="uppercase">per month</p> -->
                                        </div>
                                        <div class="price-table-content">
                                            <div  class="price-row"><i class="el-icon-s-opportunity"></i> 1 Projet</div>
                                            <div  class="price-row"><i class="icon-user"></i> 1 Membre </div>
                                            <div class="price-row"><i class="icon-drawar"></i> 300 MO Stockage</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 1 :Executive summary</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 2 :Business plan Financier</div>
                                            <div class="price-row"><i class="mdi mdi-minus"></i> </div>
                                            <div class="price-row"><i class="mdi mdi-minus"></i> </div>
                                            
                                            <div class="price-row">
                                                <button  @click="chooseOffer('entrepreneur')" class="btn btn-success waves-effect waves-light m-t-20">S'inscrire</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                                <div class="pricing-box b-l">
                                    <div class="pricing-body">
                                        <div class="pricing-header">
                                            <h4 class="text-center">Entreprise</h4>
                                            <h2 class="text-center"><i class="el-icon-office-building"></i></h2>
                                            <!-- <p class="uppercase">per month</p> -->
                                        </div>
                                        <div class="price-table-content">
                                            <div  class="price-row"><i class="el-icon-s-opportunity"></i> 1 Projet</div>
                                            <div  class="price-row"><i class="icon-user"></i> 5 Membres </div>
                                            <div class="price-row"><i class="icon-drawar"></i> 1GO Stockage</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 1 :Executive summary</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 2 :Business plan Financier</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 3 :Suivi de projets</div>
                                            <div class="price-row"><i class="mdi mdi-minus"></i> </div>
                                            <div class="price-row">
                                                <button class="btn btn-success waves-effect waves-light m-t-20">S'inscrire</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                                <div class="pricing-box featured-plan">
                                    <div class="pricing-body">
                                        <div class="pricing-header">
                                            <h5 class="price-lable text-white bg-warning"> Populaire</h5>
                                            <h4 class="text-center">Structure d’Encadrement </h4>
                                            <h2 class="text-center"><i class="el-icon-s-opportunity"></i></h2>
                                            <!-- <p class="uppercase">per month</p> -->
                                        </div>
                                        <div class="price-table-content">
                                            <div  class="price-row"><i class="el-icon-s-opportunity"></i> 500 Projets</div>
                                            <div  class="price-row"><i class="icon-user"></i> 10 Membres </div>
                                            <div class="price-row"><i class="icon-drawar"></i> 20GO Stockage</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 1 :Executive summary</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 2 :Business plan Financier</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 3 :Suivi de projets</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 4 : Gestion de concours</div>
                                          
                                            <div class="price-row">
                                                <button @click="chooseOffer('incubateur')" class="btn btn-lg btn-info waves-effect waves-light m-t-20">S'inscrire</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                                <div class="pricing-box">
                                    <div class="pricing-body b-r">
                                        <div class="pricing-header">
                                            <h4 class="text-center">Ecole, Association, ONG</h4>
                                            <h2 class="text-center"><i class="el-icon-school"></i></h2>
                                            <!-- <p class="uppercase">per month</p> -->
                                        </div>
                                        <div class="price-table-content">
                                            <div  class="price-row"><i class="el-icon-s-opportunity"></i> 100 Projets</div>
                                            <div  class="price-row"><i class="icon-user"></i> 5 Membres </div>
                                            <div class="price-row"><i class="icon-drawar"></i> 5 GO Stockage</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 1 :Executive summary</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 2 :Business plan Financier</div>
                                            <div class="price-row"><i class="mdi mdi-puzzle"></i> Module 3 : Gestion de concours</div>
                                            <div class="price-row"><i class="mdi mdi-minus"></i> </div>
                                            <div class="price-row">
                                                <button class="btn btn-success waves-effect waves-light m-t-20">S'inscrire</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import GuestFooter from '../../layouts/guest-footer.vue'
    import firebase from 'firebase'
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        data() {
            return {
                registerForm: {
                    email: '',
                    password: '',
                    password_confirmation: '',
                    first_name: '',
                    last_name: ''
                },
                isLoading: false,
                fullPage: true,
                activeName:'particulier'
            }
        },
        components: {
            GuestFooter,Loading
        },
     
        mounted(){
            this.$loading().close();
        },
        methods: {
            loading(){
            return 15;
            },
            closealert(){
                window.setTimeout(function () {
                    $('.alert').alert('close');
                }, 4000);
            },
            chooseOffer(offer){

                let offerData=offer;
                localStorage.setItem("offer", JSON.stringify(offerData));
                //console.log(offer)
                this.$router.push({name:'register',params:{offerData:offer}});
            },
         
        }
    }
</script>
<style scoped>
.price-row{
    text-align: left !important;
    padding-left:20px;
}
    .price-row i{
        
        padding-left:20px;
    }
    .price-row button{
        /* text-align: center !important; */
        margin-left:90px;
    }
    .card{
        background-color: #ffffffc9 !important;   
    }
    .featured-plan .pricing-body {
        background: #ffffffc7 !important;
        
    }
</style>
