<template>
  <section id="wrapper">
    <div
      class="login-register"
      style="background-image:url(/images/background/back.jpg)"
    >
      <div class="login-box card">
        <div class="logo">
          <a href="">
            <img
              src="bp/assets/images/logo.png"
              width="45px;"
              class="logo-img img-responsive"
              alt=""
            />
          </a>
        </div>
        <!-- .logo-box -->
        <h3 style="padding-left: 20px;">Inscription: {{ this.offerData }}</h3>
        <div class="card-body">
          <form
            v-if="this.offerData && this.offerData == 'entrepreneur'"
            class="form-horizontal form-material"
            id="registerform"
            @submit.prevent="submit"
          >
            <center><span id="check_error"></span></center>
            <div class="form-group ">
              <div class="col-xs-6">
                <input
                  type="text"
                  name="first_name"
                  class="form-control"
                  placeholder="Nom"
                  v-model="registerForm.first_name"
                />
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-6">
                <input
                  type="text"
                  name="last_name"
                  class="form-control"
                  placeholder="Prénom"
                  v-model="registerForm.last_name"
                />
              </div>
            </div>
            <div class="form-group ">
              <div style="display:inline-block">
                <el-date-picker
                  type="date"
                  format="dd MMMM yyyy"
                  placeholder="Date de naissance"
                  v-model="registerForm.dateNaissance"
                  style="width: 100%;"
                ></el-date-picker>
              </div>
              <div style="display:inline-block">
                <el-select
                  v-model="registerForm.sexe"
                  placeholder="Sexe"
                  class="ml-2"
                  style="width: 120px"
                >
                  <el-option
                    v-for="item in sexe"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-6">
                <input
                  type="text"
                  name="phone"
                  class="form-control"
                  placeholder="Téléphone"
                  v-model="registerForm.telephone"
                />
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-12">
                <input
                  type="text"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                  v-model="registerForm.email"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input
                  type="password"
                  name="password"
                  required
                  class="form-control"
                  placeholder="Mot de passe"
                  v-model="formPassword.password"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input
                  type="password"
                  name="password_confirmation"
                  class="form-control"
                  placeholder="Confirmez le mot de passe"
                  v-model="formPassword.password_confirmation"
                />
              </div>
            </div>
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <button
                  class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                  type="submit"
                >
                  S'INSCRIRE
                </button>
              </div>
            </div>
            <loading
              :active.sync="isLoading"
              :is-full-page="fullPage"
            ></loading>
            <div class="form-group m-b-0">
              <div class="col-sm-12 text-center">
                <p>
                  Vous avez déjà un compte?
                  <router-link to="/login" class="text-info m-l-5"
                    ><b>Connexion</b></router-link
                  >
                </p>
              </div>
              <div class="col-sm-12 text-center">
                <p>
                  <router-link to="/pricing"
                    ><h6>
                      <i class="el-icon-back"></i>Choisir une autre offre
                    </h6></router-link
                  >
                </p>
              </div>
            </div>
          </form>
          <form
            v-if="this.offerData && this.offerData == 'incubateur'"
            class="form-horizontal form-material"
            id="registerform"
            @submit.prevent="submit"
          >
            <center><span id="check_error"></span></center>
            <div class="form-group ">
              <div class="col-xs-6">
                <input
                  type="text"
                  name="denomination"
                  required
                  class="form-control"
                  placeholder="Dénomination"
                  v-model="registerForm.denomination"
                />
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-6">
                <input
                  type="text"
                  name="sigle"
                  class="form-control"
                  placeholder="SIGLE"
                  v-model="registerForm.sigle"
                />
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-6">
                <el-select
                  required
                  v-model="registerForm.type"
                  multiple
                  style="width:400px"
                  placeholder="Type"
                >
                  <el-option
                    v-for="item in structures"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-6">
                <el-select
                  filterable
                  required
                  v-model="registerForm.pays"
                  style="width:400px"
                  placeholder="Pays"
                >
                  <el-option
                    v-for="(pays, index) in countries"
                    :key="index"
                    :label="pays.nom_fr"
                    :value="pays.nom_fr"
                  ></el-option>
                </el-select>
              </div>
            </div>

            <div class="form-group ">
              <div class="col-xs-6">
                <input
                  type="text"
                  name="rccm"
                  required
                  class="form-control"
                  placeholder="RCCM"
                  v-model="registerForm.rccm"
                />
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-6">
                <input
                  type="text"
                  name="rccm"
                  required
                  class="form-control"
                  placeholder="Téléphone"
                  v-model="registerForm.phone"
                />
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-12">
                <input
                  type="text"
                  name="email"
                  required
                  class="form-control"
                  placeholder="Email"
                  v-model="registerForm.email"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input
                  type="password"
                  name="password"
                  required
                  class="form-control"
                  placeholder="Mot de passe"
                  v-model="formPassword.password"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input
                  type="password"
                  required
                  name="password_confirmation"
                  class="form-control"
                  placeholder="Confirmez le mot de passe"
                  v-model="formPassword.password_confirmation"
                />
              </div>
            </div>
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <button
                  class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                  type="submit"
                >
                  S'INSCRIRE
                </button>
              </div>
            </div>
            <loading
              :active.sync="isLoading"
              :is-full-page="fullPage"
            ></loading>
            <div class="form-group m-b-0">
              <div class="col-sm-12 text-center">
                <p>
                  Vous avez déjà un compte?
                  <router-link to="/login" class="text-info m-l-5"
                    ><b>Connexion</b></router-link
                  >
                </p>
              </div>
              <div class="col-sm-12 text-center">
                <p>
                  <router-link to="/pricing"
                    ><h6>
                      <i class="el-icon-back"></i>Choisir une autre offre
                    </h6></router-link
                  >
                </p>
              </div>
            </div>
          </form>
        </div>
        <guest-footer></guest-footer>
      </div>
    </div>
  </section>
</template>

<script>
import GuestFooter from "../../layouts/guest-footer.vue";
import firebase from "firebase";
// Import component
import Loading from "vue-loading-overlay";
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  data() {
    return {
      paysRef: firebase.firestore().collection("pays"),
      offerData: JSON.parse(localStorage.getItem("offer")),
      profile: "",
      formPassword: {},
      registerForm: {
        activated: false,
        typeAccount: JSON.parse(localStorage.getItem("offer")),
        firstTimeConnection: "",
      },
      sexe: [
        {
          value: "masculin",
          label: "Masculin",
        },
        {
          value: "feminin",
          label: "Féminin",
        },
      ],
      structures: [
        {
          value: "couveuse",
          label: "Couveuse d’entreprises",
        },
        {
          value: "incubateur",
          label: "Incubateur d’entreprises",
        },
        {
          value: "accelerateur",
          label: "Accélérateur d’entreprises",
        },
        {
          value: "hotel",
          label: "Hôtel d'entreprises",
        },
        {
          value: "centreaffaire",
          label: "Centre d’Affaires",
        },
        {
          value: "domaineindustriel",
          label: "Domaine Industriel",
        },
      ],
      isLoading: false,
      fullPage: true,
      activeName: "particulier",
      countries: [],
    };
  },
  components: {
    GuestFooter,
    Loading,
  },

  mounted() {
    if (this.offerData == "incubateur") {
      this.paysRef
        .orderBy("alpha2", "asc")
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            let obj = doc.data();
            obj.id = doc.id;
            this.countries.push(obj);
          });
        });
    }
    this.$loading().close();
  },
  methods: {
    loading() {
      return 15;
    },
    closealert() {
      window.setTimeout(function() {
        $(".alert").alert("close");
      }, 4000);
    },
    submit(e) {
      /* axios.post('/api/auth/register', this.registerForm).then(response =>  {
                    toastr['success'](response.data.message);
                    this.$router.push('/login');
                }).catch(error => {
                    toastr['error'](error.response.data.message);
                });*/
      // alert(this.$route.params.offerData)
      this.isLoading = true;
      const db = firebase.firestore();
      let role = "";
      switch (this.offerData) {
        case "entrepreneur":
          let nom = this.registerForm.first_name;
          let prenom = this.registerForm.last_name;

          role = db.collection("profile").doc("3");
          break;

        case "incubateur":
          role = db.collection("profile").doc("4");
          this.profile = role;
          console.log("log incubateur", role);

          break;
        default:
          break;
      }

      this.registerForm.profile = role;

      if (
        this.formPassword.password.length >= 6 &&
        this.formPassword.password === this.formPassword.password_confirmation
      ) {
        //toastr['error'](this.registerForm.email);
        firebase
          .auth()
          .createUserWithEmailAndPassword(
            this.registerForm.email,
            this.formPassword.password
          )
          .then(() => {
            firebase
              .auth()
              .currentUser.sendEmailVerification()
              .then(() => {
                let authId = firebase.auth().currentUser.uid;

                db.collection("users")
                  .doc(authId)
                  .set(this.registerForm)
                  .then((docRef) => {
                    //redirection vers l'authentification
                    this.$notify({
                      title: "succès",
                      message: "Inscription réussie",
                      type: "success",
                    });
                    document.getElementById("check_error").innerHTML =
                      '<div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Enregistrement Réussi votre compte est en cours de validation.</div>';
                    this.isLoading = false;
                    this.closealert();
                  });
                //document.getElementById('check_error').innerHTML = '<div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span><i class="icon-help"></i>&nbsp;&nbsp; Un mail de validation a été envoyé sur votre boîte! Allez cliquer sur le lien.</div>';
                //this.closealert();
              });
          })
          .catch((error) => {
            // Handle Errors here.
            var errorCode = error.code;

            //alert(errorCode);
            // ...
            switch (errorCode) {
              case "auth/email-already-in-use":
                this.$notify.error({
                  title: "Error",
                  message: "L'émail est déjà utilisé!",
                });
                this.isLoading = false;
                break;

              case "auth/network-request-failed":
                document.getElementById("check_error").innerHTML =
                  '<div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span>Aucune connexion internet</div>';
                this.closealert();
                this.$notify.error({
                  title: "Error",
                  message: "problème de connexion internet",
                });
                this.isLoading = false;
                break;

              default:
                break;
            }
          });
      } else {
        var msg =
          '<div  class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x"><span class="alert-close" data-dismiss="alert"></span><strong>les mots de passe doivent comporter minimum 6 caractères et doivent être identiques</div>';
        document.getElementById("check_error").innerHTML = msg;
        this.$notify.error({
          title: "Error",
          message:
            "les mots de passe doivent comporter minimum 6 caractères et doivent être identiques",
        });
        this.isLoading = false;
        this.closealert();
      }
    },
  },
};
</script>
