<template>
    <div>
        <section id="main" style="padding: 0">
            <article class="content">
                <!-- Background Image -->
                <div id="cm-blured-box" class="full-width-box" style="height: 370px !important;padding: 0;">
                    <!-- <div class="fwb-bg fwb-blur" style="height: 350px" data-blur-image="site/img/bp1.jpg" data-blur-amount="200"> -->
                    <img class="img-fluid fwb-bg fwb-blur" style="height: auto" src="site/img/bp1.jpg" data-blur-amount="50">
                   

                    <div class="container" style="height: 250px !important;">
                        <div class="row" style="height: 250px !important;">
                            <div class="content-box col-sm-7 col-md-7" style="height: auto !important;">
                                <h2 class="title light white">Formation</h2>
                                <p class="description white">
                                    We added more than 80 items to the standard page design.<br>
                                    You can form the page yourself by placing any information<br>
                                    you want – graphs, tables, buttons, slides, animated<br>
                                    content, maps and so on.
                                </p>
                                <a href="/inscription" class="btn btn-red">Inscription</a>
                            </div>
                            <div class="images-box col-sm-5 col-md-5">
                                <!-- <img src="content/img/blur.png" style="height: 200px !important;width: 350px;"> -->
                            </div>
                        </div>
                    </div>
                </div><!-- .full-width-box -->

                <div class="full-width-box" style="padding:0">
                    <div class="fwb-bg fwb-parallax band-3" data-speed="2"></div>
                    <!-- Bureautique -->
                    <blocFormation :formations="formations" title="Bureautique"></blocFormation>
                    <!-- Multimédia -->
                    <blocFormation :formations="formations1" title="Multimédia"></blocFormation>
                </div><!-- .full-width-box -->

            </article><!-- .content -->
        </section><!-- #main -->
    </div>
</template>
<style>

</style>
<script>
    import blocFormation from './components/bloc-formation'
    import firebase from 'firebase';

    export default {
        data () {
            return {
                formations: [
                    {id: 1, libelle: 'Exel', prix: 45000, pathImg: 'site/img/bookexcel.png', name: 'excel'},
                    {id: 2, libelle: 'Word', prix: 45000, pathImg: 'site/img/bookword.png', name: 'word'},
                    {id: 3, libelle: 'Initiation', prix: 100000, pathImg: 'site/img/bookweb.png', name: 'initiation'},
                ],
                formations1: [
                    {id: 5, libelle: 'Photoshop', prix: 100000, pathImg: 'site/img/bookweb.png', name: 'photoshop'},
                    {id: 6, libelle: 'Première Pro', prix: 45000, pathImg: 'site/img/bookword.png', name: 'pro'},
                    {id: 7, libelle: 'Cinéma 4d', prix: 100000, pathImg: 'site/img/bookweb.png', name: 'cine4d'},
                    {id: 8, libelle: 'Illustrator', prix: 45000, pathImg: 'site/img/bookexcel.png', name: 'illustrator'}
                ]
            }
        },
        components: {
            blocFormation
        }
    }
</script>
