<template>
    <div>
        <div class="containerInput">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div style="width:100%;margin: 50px auto;">
                <div class="signup-content">
                    <div class="bs-callout bs-callout-info signup" v-if="success">
                        <h4>Inscription Réussi</h4>
                        <br>
                        <p>Rapprochez vous de nos locaux afin de validé de votre inscrption de façon permanente.</p>
                        <p>Nous sommes situez à l'échangeur de Nzeng-Ayong juste après l'école de Bambino Village.</p>
                        <br>
                        <a href="/formations">Acceder à toute nos offres de formation</a>
                    </div>
                    <form method="POST" v-show="!success" id="signup-form" class="signup-form" @submit.prevent="onSubmit">
                        <h2 class="" style="margin-bottom: 5px;">Inscription</h2>
                        <span style="text-align: center;margin: 0 auto;display:block;">Pré-Inscription à la session de formation de septembre 2019</span>
                        <div class="form-group">
                            <input type="text" @keyup="verify" v-bind:class="!eleves.nom.error ? 'form-input': 'form-error'" v-model="eleves.nom.content" id="nom" placeholder="Votre Nom"/>
                            <span class="error" v-if="eleves.nom.error">{{eleves.nom.message}}</span>
                        </div>
                        <div class="form-group">
                            <input type="text" @keyup="verify" v-bind:class="!eleves.prenom.error ? 'form-input': 'form-error'" v-model="eleves.prenom.content" id="prenom" placeholder="Votre Prénom"/>
                            <span class="error" v-if="eleves.prenom.error">{{eleves.prenom.message}}</span>
                        </div>
                        <div class="form-group">
                            <input type="text" @keyup="verify" v-bind:class="!eleves.phone.error ? 'form-input': 'form-error'"  v-model="eleves.phone.content" id="phone" placeholder="Votre Téléphone"/>
                            <span class="error" v-if="eleves.phone.error">{{eleves.phone.message}}</span>
                        </div>
                        <div class="form-group">
                            <input type="email" @keyup="verify" v-bind:class="!eleves.email.error ? 'form-input': 'form-error'"  v-model="eleves.email.content" id="email" placeholder="Votre Adresse mail"/>
                            <span class="error" v-if="eleves.email.error">{{eleves.email.message}}</span>
                        </div>
                        <div class="form-group">
                            <select @change="verify" v-bind:class="!eleves.sexe.error ? 'form-input': 'form-error'" v-model="eleves.sexe.content" name="sexe" id="sexe" style="height: 100%;">
                                <option value="">Selectionner votre sexe</option>
                                <option value="Femme">Femme</option>
                                <option value="Homme">Homme</option>
                            </select>
                            <span class="error" v-if="eleves.sexe.error">{{eleves.sexe.message}}</span>
                        </div>
                        <div class="form-group">
                            <select @change="verify" v-bind:class="!eleves.formation.error ? 'form-input': 'form-error'" v-model="eleves.formation.content" name="formation" id="formation" style="height: 100%;">
                                <option value="">Selectionner votre formation</option>
                                <option value="bureautique">Bureautique (49 900 FCFA/mois)</option>
                                <option value="infographie">Infographie (100 000 FCFA/mois)</option>
                                <option value="programmation">Programmation Web (150.000FCFA/mois)</option>
                                <option value="anglais">Anglais (49 900 FCFA/mois)</option>
                            </select>
                            <span class="error" v-if="eleves.formation.error">{{eleves.formation.message}}</span>
                        </div>
                        <div class="form-group">
                            <select @change="verify" v-bind:class="!eleves.horaire.error ? 'form-input': 'form-error'" name="horaire" v-model="eleves.horaire.content" id="horaire" style="height: 100%;">
                                <option value="">Selectionner votre horaire de formation</option>
                                <option value="10">10h-12h</option>
                                <option value="14">14h-16h</option>
                                <option value="17">17h-19h</option>
                            </select>
                            <span class="error" v-if="eleves.horaire.error">{{eleves.horaire.message}}</span>
                        </div>
                        <loading :active.sync="isLoading" :is-full-page="fullPage"></loading>                        
                        <div class="form-group" v-if="!isLoading">
                            <button type="submit" class="form-submit">Inscription</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.signup {

    margin: 65px 0;
}

</style>

<script>

    import firebase from 'firebase'
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data () {
            return {
                eleves: {
                    nom: {
                        content: '', message: '', error: false
                    },
                    prenom: {
                        content: '', message: '', error: false
                    },
                    phone: {
                        content: '', message: '', error: false
                    },
                    email: {
                        content: '', message: '', error: false
                    },
                    sexe: {
                        content: '', message: '', error: false
                    },
                    formation: {
                        content: '', message: '', error: false
                    },
                    horaire: {
                        content: '', message: '', error: false
                    }
                },
                errorAll: false,
                isLoading: false,
                fullPage: true,
                success: false
            }
        },
        components : { Loading },
        methods: {
            verify (event) {
                if (this.eleves[event.target.id].content.length > 1) {
                    this.eleves[event.target.id].message = ''
                    this.eleves[event.target.id].error = false
                    this.errorAll = false
                }
            },
            onSubmit () {

                for (let prop in this.eleves) {

                    if (prop != 'email') {
                        
                        if (this.eleves[prop].content.length == 0) {                       
                            this.eleves[prop].message = 'Le champ '+ prop.toLocaleUpperCase() +' est obligatoire'
                            this.eleves[prop].error = true
                        }
                        if (this.eleves[prop].content.length > 20){
                            this.message[prop] = 'Nombre de caratère doit être inférieur à 20'  
                            this.eleves[prop].error = true                      
                        }

                        if (this.eleves[prop].error == true)
                            this.errorAll = true
                        
                        if (prop == 'phone') {
                            if (this.eleves[prop].content.length > 15) {
                                this.message[prop] = `Votre numéro de phone n'est pas valide` 
                                this.eleves[prop].error = true
                            }
                        }
                    }
                }
            
                if (this.errorAll == false) {
                    
                    const db = firebase.firestore()
                    this.isLoading = true
                    
                    db.collection('eleves').doc().set({                
                        nom: this.eleves.nom.content,
                        prenom: this.eleves.prenom.content,
                        phone: this.eleves.phone.content,
                        email: this.eleves.email.content,
                        sexe: this.eleves.sexe.content,
                        formation: this.eleves.formation.content,
                        horaire: this.eleves.horaire.content,
                    }).then(response => {
                        this.isLoading = false
                        this.success = true
                        for (let prop in this.eleves) 
                            this.eleves[prop].content = ""
                        console.log('Enregistrement réussi')
                    }).catch(function() {
                        this.isLoading = false
                        console.log('Enregistrement Echoué')
                    })
                }
            },
            form () { this.success = false }
        },
        created(){
            this.$loading().close()
        }

    }
</script>