<template>
    <div class="container">
        <section id="main">
            <header class="page-header" style="margin-bottom: 20px">
                <div class="container">
                    <img :src="logo" style="display: inline-block;margin-bottom: 20px" alt="" height="120" width="140">
                    <h1 style="display: inline-block;margin-bottom:0;" class="title">{{title}}</h1>
                </div>
            </header>
            <div class="row">
                <article class="content pull-right col-sm-12 col-md-9">
                    <h3>{{titleContent}}</h3>
                    <p id="content"></p>
                    <a class="pull-left btn btn-primary" v-show="previous" v-if="(previous !== 'chapter0' || child === false)"
                       href="#" @click.prevent="setContentFormation(previous, childKeyP, false)">
                        <span class="fa fa-arrow-left"></span> Précédent
                    </a>
                    <a id="next" class="pull-right btn btn-primary" v-if="next" href="#"
                       @click.prevent.self="setContentFormation(next, childKey, true)">
                        Suivant <span class="fa fa-arrow-right"></span>
                    </a>
                </article><!-- .content -->
                <div id="sidebar" class="sidebar col-sm-12 col-md-3">
                    <aside class="widget menu">
                        <header>
                            <h3 class="title">Sommaire</h3>
                        </header>
                        <!-- immobilisations incorporelles -->

                        <nav id="sommaire">
                            <ul>
                                <li :class="{parent: item.children}" v-for="(item, key) in summary">
                                    <a href="#" @click.prevent.self="setContentFormation(key)">
                                        {{item.title}}
                                    </a>
                                    <ul :class="{sub: item.children}" v-if="item.children">
                                        <li v-for="(children, childrenKey) in item.children">
                                            <a href="#" @click.prevent="setContentFormation(key, childrenKey)">{{children.title}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </aside><!-- .menu-->
                </div><!-- .sidebar -->
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: 'SingleFormation',
        data () {
            return {
                title: "",
                summary: {},
                titleContent: '',
                logo: '',
                previous: false,
                next: 0,
                child: true,
                /**
                 * clé du tableau children quand on click sur suivant
                 */
                childKey: false,
                /**
                 * clé du tableau children quand on click sur précédent
                 */
                childKeyP: 0
            }
        },
        methods: {
            setContentFormation(element, childrenKey = false, paginate = true) {
                let content = document.querySelector('#content');
                let child = this.summary[element]['children'];
                if (child !== undefined) {
                    if (childrenKey !== false) {
                        let tab = this.summary[element]['children'];
                        this.titleContent = tab[childrenKey].title;
                        content.innerHTML = tab[childrenKey].content;
                        if (childrenKey === 0) {
                            this.previous = element;
                            this.childKeyP = false;
                            this.childKey = childrenKey + 1;
                            this.next = element;
                            this.child = false;
                            if (tab[this.childKey] === undefined) {
                                this.next = 'chapter' + (this.nbrChapter(element) + 1);
                                childrenKey = this.childKey = false;
                            }
                        }
                        else if (0 < childrenKey){
                            this.previous = element;
                            this.childKeyP = childrenKey - 1;
                            if((tab.length - 1) === childrenKey) {
                                this.next = 'chapter' + (this.nbrChapter(element) + 1);
                                childrenKey = this.childKey = false;
                                return;
                            }
                            this.childKey = childrenKey + 1;
                            this.next = element;
                        }
                    } else {
                        this.child = false;
                        this.childKey = 0;
                        content.innerHTML = this.summary[element].content;
                        this.titleContent = this.summary[element].title;
                        this.next = element;
                        this.previous = 'chapter' + (this.nbrChapter(element) - 1);
                        this.childKeyP = (this.summary[this.previous]['children'] !== undefined) ?
                                            this.summary[this.previous]['children'].length - 1 : false;
                    }
                }
                else {
                    content.innerHTML = this.summary[element].content;
                    this.titleContent = this.summary[element].title;
                    this.getNextOrPrevious(element, paginate)
                }
            },
            getNextOrPrevious (element, paginate) {
                if (element === 'chapter0') {
                    this.next = 'chapter0';
                    this.child = true;
                    this.previous = false
                }
                else {
                    this.next = element
                }
                this.childKey = false;
                let nbrChapter = this.nbrChapter(this.next);
                if (paginate) {
                    if (nbrChapter >= 0 && this.summary[`chapter${nbrChapter + 1}`] && this.next !== false) {
                        this.previous = `chapter${nbrChapter}`;
                        this.next = `chapter${nbrChapter + 1}`
                    } else {
                        this.next = 0;
                        this.previous = 'chapter' + (this.nbrChapter(element) - 1);
                        this.childKeyP = (this.summary[this.previous]['children'] !== undefined) ?
                            this.summary[this.previous]['children'].length - 1 : false;
                    }
                }
                else {
                    if (nbrChapter > 0 && this.summary[`chapter${nbrChapter}`] && this.previous !== false) {
                        if (this.previous === this.next) {
                            let nbrChapter = this.nbrChapter(this.next);
                            if (nbrChapter < 0) {
                                this.previous = false;
                                this.next = 'chapter0';
                                return;
                            }
                            this.previous = `chapter${nbrChapter - 1}`;
                            this.next = `chapter${nbrChapter}`;
                        }
                    } else {
                        if (this.next === 'chapter0') {
                            this.next = 'chapter1';
                            this.previous = 'chapter0'
                        }
                    }
                }
            },
            nbrChapter (title) {
                return parseInt(title.split('').pop());
            }
        },
        mounted() {
            this.$loading().close()
            let url = window.location.href.split('/').pop();
            fetch(`/site/js/Json/${url}.json`)
                .then((response) => {
                    return response.json();
                }).then(formation => {
                this.title = formation.info.title;
                this.logo = formation.info.logo;
                this.summary = formation.summary;
                this.setContentFormation('chapter0');
            });
        }
    }
</script>
<style>
    .sub a {
        padding-left: 20px !important;
    }
    #content {
        min-height: 400px;
    }
    #sommaire {
        overflow-y: scroll;
        height: 500px;
        scrollbar-width: thin;
    }
</style>