<template class="bg-platinum">
    <div>
        <title>Site Maintenance</title>
        <div  class="container">
            <article id="content" class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <div><h1>{{title}} !!</h1><br/></div>                    
                    <div>
                        <p>Désolé pour le désagrément, mais nous sommes en train d'effectuer des travaux d'entretien. Si vous en avez besoin, vous pouvez toujours vous inscrire sur la <a :href="link">liste d'attente</a> et nous vous informerons de sa mise en ligne!</p>
                        <p>&mdash; La Team Business Plan</p>
                    </div>
                </div>
            </article>   
        </div>     
        <app-footer></app-footer>
    </div>
</template>

<style scoped>
    .container { text-align: center; font: 20px Helvetica, sans-serif; padding: 150px; }
    h1 { font-size: 50px; }
    body { color: #333; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    article a { color: #dc8100; text-decoration: none; }
    article a:hover { color: #333; text-decoration: none; } 
    .main-wrapper{ background-color: #ede6e3 !important}    
</style>

<script>
    // elements de menus
    import AppHeader from '../../layouts/header-bp-suivi.vue'
    import AppFooter from '../../layouts/footer-bp.vue'

    export default {
        name: 'construction',
        components: {
            AppHeader, AppFooter
        },
        props: {
            title: { type: String, required: true},
            link: { type: String, required: true}
        }
    }
</script>