<template>
  <div>
    <el-form :model="action" :rules="rules" ref="actionForm">
      <headerTicket
        @update:typeTicketSelected="$emit('update:typeTicketSelected', $event)"
        @update:idSummarySelected="$emit('update:idSummarySelected', $event)"
        :listeProjets="listeProjets"
        :idSummarySelected.sync="idSummarySelected"
        :activites="activites"
        :action.sync="action.etat"
        :categorieSelectedId.sync="categorieSelectedId"
        :tabTypeTickets="tabTypeTickets"
        :typeTicketSelected.sync="typeTicketSelected"
        :titre.sync="action.titre"
        :couleur="couleur"
        ref="headerTicket"
      />
      <div class="row ml-0">
        <div
          class="col-xl-7 col-lg-7 col-12 shadow-sm p-3 bg-white rounded mt-3"
        >
          <!-- objet -->
          <objetCourrierEntrant
            @update:objetCourrier="action.objet = $event"
            :couleur="couleur"
            label="Objet de votre courrier"
            ref="objetCourrierEntrant"
          />
          <div class="row">
            <!-- description  -->
            <div class="col-xl-12 col-lg-12 col-md-12">
              <Description
                @update:description="action.description = $event"
                :ticketDisplay="$store.state.agilite.task.description"
                :couleur="couleur"
                libelle="Description"
                ref="description"
              />
            </div>
          </div>
        </div>
        <!-- side bar and side bar-->
        <div class="col-xl-5 col-lg-5 col-lg-5">
          <el-card class="box-card mt-3">
            <el-form ref="form" label-width="80px">
              <div class="row mt-3">
                <div class="col-12">
                  <!-- composant Affecter à-->
                  <affecte
                    label="Affecté à"
                    @update:user="action.userId = $event"
                    :couleur="couleur"
                    :adminId="adminId"
                    :currentUId="currentUId"
                    ref="affecte"
                  />
                  <!-- composant créer par -->
                  <creerPar
                    :user="user.displayName"
                    :couleur="couleur"
                    ref="creer par"
                  />
                  <!--  composant Priorité -->
                  <priorite
                    @update:priorite="action.priorite = $event"
                    :couleur="couleur"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    ref="priorite"
                  />
                  <!-- composant etiquette -->
                  <etiquette
                    @update:etiquette="action.etiquette = $event"
                    :couleur="couleur"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    ref="etiquette"
                  />
                  <!-- composant date  -->
                  <dateDebutFin
                    @dateDebutFin="action.dates = $event"
                    :couleur="couleur"
                    ref="dateDebutFin"
                  />
                </div>
              </div>
            </el-form>
          </el-card>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xl-3">
          <Protocole
            @update:protocole="loadProtocole($event)"
            :typeTicketSelected="typeTicketSelected"
            :idSummarySelected="idSummarySelected"
            :couleur="couleur"
            ref="protocole"
          />
        </div>
      </div>
      <sub-Task-Ticket
        :protocoleProcess="protocoleProcess"
        :tabletView="tabletView"
        :screenView="screenView"
        :mobileView="mobileView"
        ref="subActionTask"
      />
      <!-------------------------- Upload File ----------------------------------------->
      <file-ticket :fichiers.sync="fichiers" ref="fileTicket" />
      <!-------------------------- End Upload File ----------------------------------------->
      <div class="row mt-2 mb-4">
        <div class="col-12 mt-3">
          <linkBloc
            @update:setType="action.links = $event"
            @update:setTicket="action.links = $event"
            :couleur="couleur"
            ref="linkBloc"
          />
        </div>
      </div>
      <div class="shadow-sm p-3 rounded">
        <FooterModal
          @saveTicket="saveTicket('actionForm')"
          @saveEditTicket="saveEditTicket('actionForm')"
          :loadingSave="loadingSave"
        />
      </div>
    </el-form>
  </div>
</template>
<script>
import firebase from "firebase";
import FooterModal from "./footerModal";
import CourrierSortant from "../../../bp/erp/models/agilite/courrierSortant";
import realisation from "../tickets/composantCourrier/contentRigth/realisation";
import Protocole from "../tickets/composantCourrier/contentRigth/protocole";
import subTaskTicket from "../../../bp/agile/tickets/composantCourrier/subTaskTicket";
import FileTicket from "../../../bp/agile/tickets/composantCourrier/fileTicket";
import date from "../tickets/composantCourrier/contentRigth/date";
import dateDebutFin from "./composantCourrier/contentRigth/dateDebutFin";
import linkBloc from "../tickets/composantCourrier/contentRigth/linkBloc";
import etiquette from "../tickets/composantCourrier/contentRigth/etiquette";
import objetCourrierEntrant from "../tickets/reservationCourrier/objetCourrierEntrant";
import priorite from "../tickets/composantCourrier/contentRigth/priorite";
import creerPar from "../tickets/composantCourrier/contentRigth/creerPar";
import affecte from "../tickets/composantCourrier/contentRigth/affecte";
import action from "../../mixins/admin/actionPlan.js";
import { VueEditor, Quill } from "vue2-editor";
import headerTicket from "../tickets/composantCourrier/headerTickets";
import contentLeftSort from "../tickets/composantCourrierSort/contentLeftSort";
import contentRightSort from "../tickets/composantCourrierSort/contentRightSort";
import contentTacheSort from "../tickets/composantCourrierSort/contentTacheSort";
import contentSubTacheSort from "../tickets/composantCourrierSort/contentSubTacheSort";
import contentCommentSort from "../tickets/composantCourrierSort/contentCommentSort";
import Description from "../tickets/composantCourrier/description";
import SubTask from "../../../bp/erp/models/agilite/subTask";
import Lien from "../../../bp/erp/models/agilite/lien";
import Fichier from "../../../../store/collection/fichiers";

export default {
  mixins: [action],
  props: {
    libelle: {
      default: [],
      type: String,
    },
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    couleur: {
      default: "#000",
    },
    categorieSelectedId: {
      default: null,
    },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    user: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    idSummarySelected: {
      default: null,
    },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    listeProjets: {
      default: [],
    },
    activites: {
      default: [],
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default: [],
    },
    typeTicketSelected: {
      default: null,
    },
    filterTaskList: {
      default: [],
      type: Array,
    },
    listLinkType: {
      default: [],
      type: Array,
    },
    tabLinks: {
      default: [],
      type: Array,
    },
  },
  components: {
    VueEditor,
    headerTicket,
    contentLeftSort,
    contentRightSort,
    etiquette,
    contentTacheSort,
    contentSubTacheSort,
    contentCommentSort,
    Description,
    objetCourrierEntrant,
    affecte,
    creerPar,
    priorite,
    Protocole,
    subTaskTicket,
    date,
    FileTicket,
    realisation,
    FooterModal,
    dateDebutFin,
    linkBloc,
  },
  name: "courrierSortant",
  data() {
    return {
      summaryRef: firebase.firestore().collection("summary"),
      users: firebase.firestore().collection("users"),
      priorites: [],
      activeAction: false,
      editMode: false,
      userInfos: JSON.parse(localStorage.getItem("userSession")),
      planActionRefOld: firebase.firestore().collection("planAction"),
      planActionRef: null,
      accuse: "",
      modalVue: false,
      protocoleProcess: "",
      modalVueCourrierSortant: false,
      dialogTicketVisible: false,
      descriptionEdit: true,
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons

        [{ list: "ordered" }, { list: "bullet" }],
        // [{ 'font': [] }],
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme

        ["clean"], // remove formatting button
      ],
      action: {
        summaryId: "",
        typeTicket: "",
        dates: "",
        titre: "",
        description: "",
        etat: "1",
        subActions: [],
        commentaire: "",
        effort: 0,
        etiquette: "",
        refEtiquette: "",
        refCategorie: "",
        categorie: "",
        objet: "",
        priorite: "",
        dateDebutFin: "",
        links: [],
      },
      libelle: "",
      loadingSave: false,
      composants: [],
      fichiers: [],
      userNotify: "",
      rules: {
        etat: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        titre: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        dates: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
      },
    };
  },
  computed: {
    categorieSelectedId: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    newIndex: {
      get() {
        return this.$store.state.agilite.listTickets.length + 1;
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  watch: {
    idSummarySelected: function(val) {
      this.action.summaryId = CourrierSortant.getCollection("summary").doc(val);
    },
    typeTicketSelected: function(val) {
      this.action.typeTicket = CourrierSortant.getCollection(
        "globalTypeTicket"
      ).doc(val);
    },
    categorieSelectedId: function(val) {
      this.action.activite = CourrierSortant.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
    mode: function(val) {
      if (mode == modification) {
        this.dates = this.$store.agilite.task.dates;
      }
    },
  },
  methods: {
    // initialisation des données des sous composants
    initTypeVal() {
      this.action.summaryId = CourrierSortant.getCollection("summary").doc(
        this.idSummarySelected
      );
      this.action.typeTicket = CourrierSortant.getCollection(
        "globalTypeTicket"
      ).doc(this.typeTicketSelected);
      this.action.activite = CourrierSortant.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
    async saveTicket(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          // INSERTION FICHIERS
          this.loadingSave = true;
          let urlFiles = [];
          const resultFile = new Promise((resolve, reject) => {
            if (this.fichiers.length != 0) {
              this.fichiers.forEach((fileItem) => {
                const file = new Fichier(this.categorieSelectedId);
                urlFiles.push(
                  file
                    .saveToStorage(this.categorieSelectedId, fileItem.raw)
                    .then((snapshot) => snapshot.ref.getDownloadURL())
                    .then((url) => {
                      let data = {};
                      data.url = url;
                      data.name = fileItem.raw.name;
                      data.type = fileItem.raw.type;
                      data.size = fileItem.raw.size;
                      return data;
                    })
                );
              });
              resolve(urlFiles);
            } else {
              reject(urlFiles);
            }
          });
          Promise.all([Promise.all(urlFiles)]).then((value) => {
            let files = value[0];
            this.action.files = files;
            this.action.index = this.newIndex;
            const ticket = new CourrierSortant("tasks", this.action);
            this.tasksRef
              .add(ticket.data)
              .then((doc) => {
                // Enregistrement des sous taches
                this.$refs.subActionTask.action.subActions.forEach((item) => {
                  const subTask = new SubTask("subTasks", item);
                  this.tasksRef
                    .doc(doc.id)
                    .collection("subTasks")
                    .add(subTask.data);
                });
                // Enregistrement des liens
                if (this.$refs.linkBloc.action.links.length != 0) {
                  this.$refs.linkBloc.action.links.forEach((item) => {
                    const lien = new Lien("links", item);
                    this.tasksRef
                      .doc(doc.id)
                      .collection("links")
                      .add(lien.data)
                      .then((doc) => {});
                  });
                }
                this.$notify({
                  title: "Succès",
                  message: "Le ticket a été enregistré avec succès",
                  type: "success",
                });
                this.loadingSave = false;
                this.$emit("savedTicket");
              })
              .catch((error) => {
                this.$notify.error({
                  title: "Error",
                  message: "Une erreur s'est produite",
                });
                this.loadingSave = false;
                console.log("Erreur", error);
              });
          });
        } else {
          return false;
        }
      });
    },
    // fonction de modification
    async saveEditTicket(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //INSERTION FICHIERS
          this.loadingSave = true;
          let urlFiles = [];
          const resultFile = new Promise((resolve, reject) => {
            if (this.fichiers.length != 0) {
              this.fichiers.forEach((fileItem) => {
                const file = new Fichier(this.categorieSelectedId);
                urlFiles.push(
                  file
                    .saveToStorage(this.categorieSelectedId, fileItem.raw)
                    .then((snapshot) => snapshot.ref.getDownloadURL())
                    .then((url) => {
                      let data = {};
                      data.url = url;
                      data.name = fileItem.raw.name;
                      data.type = fileItem.raw.type;
                      data.size = fileItem.raw.size;
                      return data;
                    })
                );
              });
              resolve(urlFiles);
            } else {
              reject(urlFiles);
            }
          });
          Promise.all([Promise.all(urlFiles)]).then((value) => {
            if (value[0].length > 0) {
              let files = value[0];
              this.action.files = files;
            }
            const ticket = new CourrierSortant("tasks", this.action);
            ticket.data.createdAt = this.action.createdAt;
            ticket.data.updatedAt = CourrierSortant.getCreatedAt();
            this.action.ref
              .set(ticket.data)
              .then(() => {
                // Modification des sous taches
                this.$refs.subActionTask.action.subActions.forEach((item) => {
                  const subTask = new SubTask("subTasks", item);
                  if (item.id) {
                    subTask.data.createdAt = item.createdAt;
                    item.ref.set(subTask.data);
                  } else {
                    this.action.ref.collection("subTasks").add(subTask.data);
                  }
                });
                // Modification des liens
                this.$refs.linkBloc.action.links.forEach((item) => {
                  const lien = new Lien("links", item);
                  console.log("LOG ITEM", item);
                  if (item.id) {
                    lien.data.createdAt = item.createdAt;
                    item.ref.set(lien.data);
                  } else {
                    this.action.ref.collection("links").add(lien.data);
                  }
                });
                this.$notify({
                  title: "Succès",
                  message: "Le ticket  a été modifié",
                  type: "success",
                });
                this.loadingSave = false;
                this.$emit("savedTicket");
              })
              .catch((error) => {
                this.$notify.error({
                  title: "Error",
                  message: "Une erreur s'est produite",
                });
                this.loadingSave = false;
                console.log("Erreur", error);
              });
          });
        } else {
          return false;
        }
      });
    },
    // end modification
    loadProtocole(item) {
      this.protocoleProcess = item.subActions;
      // console.log("Data", item);
    },
    //Links Functions
    addLink() {
      alert("Hello out");
    },
  },
  mounted() {
    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.adminId = JSON.parse(localStorage.getItem("userSession")).adminId;
      this.action.adminId = CourrierSortant.getCollection("users").doc(
        this.adminId
      );
    }
    this.initTypeVal();
    this.$store.commit("agilite/setCouleur", this.couleur);
    console.log("HELLO", this.$v);
  },
  created() {
    this.$loading().close();
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.action = this.$store.state.agilite.task;
        this.action.dates[0] = new Date(
          this.$store.state.agilite.task.dates[0].seconds * 1000
        );
        this.action.dates[1] = new Date(
          this.$store.state.agilite.task.dates[0].seconds * 1000
        );
        console.log("DatesALL", this.action.dates);
        // console.log("Dates store", this.$store.state.agilite.task.dates);
        break;

      default:
        break;
    }
  },
};
</script>
<style scoped>
.el-input__inner .el-input--suffix .el-input__inner {
  padding-right: 0 !important;
}

.select-person select {
  border: 1px solid #0000002b !important;
  padding: 2px 10px !important;
  border-radius: 5px !important;
  color: #404040 !important;
}
/* .v-modal{
        opacity: 0 !important;
    } */

.el-button--danger {
  color: #fff;
  background-color: #d98238 !important;
  border: 1px solid #c77a37 !important;
}
.el-button.is-circle {
  padding: 5px;
}

.form-control {
  border: 1px solid #e3bd9eb8 !important;
}
.selection .custom-select {
  background: none !important;
}
.nav-item {
  background: rgb(122, 125, 182) !important;
  color: #fff !important;
  padding: 10px 15px;
  margin: 0 1px;
}

.el-submenu .el-menu-item {
  min-width: 100px;
}
.text-themecolor-title {
  color: #363738;
  font-size: 19px;
}
.descrip-label {
  font-size: 1.2em;
}
.side-infos {
  line-height: 60px;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 180px;
  border: 1px solid #d98238;
}
.ic-date {
  font-size: 2rem;
  color: #d98238;
}

.el-progress-bar__inner {
  border-radius: 0 !important;
}

.con-vs-card:hover {
  cursor: pointer;
  background-color: rgb(238, 233, 233);
}
.el-select {
  padding: 0 !important;
  background-color: black;
}
.el-tag {
  width: 60% !important;
  text-align: center;
  background: #04cc6e !important;
  color: #fff !important;
}
.el-card:hover {
  cursor: pointer;
}
.eti-color {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.eti-color-list {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.text-white {
  color: white;
}
.user-pic-show {
  width: 350px;
  height: 350px;
}
.el-icon-check {
  color: white;
  font-weight: 200;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.icon-font-size {
  font-size: 25px;
}
.custom-container {
  margin-left: 5%;
  margin-right: 5%;
}
.material-icons-outlined {
  /* background-color: #d98238; */
  color: #fff;
  padding: 3px 0;
  margin: 0;
}

@media (max-width: 900px) {
  .vs-button--text {
    font-size: 13px !important;
  }
  .el-tag {
    width: 100% !important;
    font-size: 9px !important;
  }
  .el-radio__label {
    font-size: 12px !important;
  }
}

.mobile-view h6 {
  font-size: 12px !important;
}

.tabletView .titre {
  font-size: 12px !important;
}
.tabletView h6 {
  font-size: 13px !important;
}
.tabletView .time {
  font-size: 12px !important;
}
</style>
