<template>
  <div>
    <!-- ModalVue -->
    <el-form :model="action" :rules="rules" ref="actionForm">
      <div class="background-modal">
        <headerTicket
          @update:idSummarySelected="$emit('update:idSummarySelected', $event)"
          @update:typeTicketSelected="
            $emit('update:typeTicketSelected', $event)
          "
          :listeProjets="listeProjets"
          :idSummarySelected.sync="idSummarySelected"
          :activites="activites"
          :action.sync="action.etat"
          :categorieSelectedId.sync="categorieSelectedId"
          :tabTypeTickets="tabTypeTickets"
          :typeTicketSelected.sync="typeTicketSelected"
          :titre.sync="action.titre"
          :couleur="couleur"
          :errorTitre="$v.action.titre.$error"
          :errorSummaryId="$v.action.summaryId.id.$error"
          :errorTypeTicket="$v.action.typeTicket.$error"
          :errorEtat="$v.action.etat.$error"
          ref="headerTicket"
          :ticketDisplay="$store.state.agilite.task"
        />
        <!-- :class="{' border border-danger ': $v.action.titre.$error}"
          :headerTicketControle="headerTicketControle"
          :validations="$v"
          :model="model" -->
        <div class="mt-2">
          <contentTab
            :errorNumCourrier="$v.action.num.$error"
            :errorDate="$v.action.dateArrive.$error"
            :errorDates="$v.action.dateCourrier.$error"
            :errorCourier="$v.action.coursier.$error"
            @update:classeur="action.classeur = $event"
            @update:coursier="action.coursier = $event"
            @update:provenance="action.provenance = $event"
            @update:dateArrive="action.dateArrive = $event"
            @update:dateCourrier="action.dateCourrier = $event"
            @update:numCourrier="action.num = $event"
            @update:numEmet="action.numEmet = $event"
            :typeTicketSelected="typeTicketSelected"
            :idSummarySelected="idSummarySelected"
            :filterTaskList="filterTaskList"
            :couleur="couleur"
            :ordre="ordre"
            :typeTicketRef="action.typeTicket"
            ref="contentTab"
          />
        </div>
        <!--   @update:classeur="action.classeur = $event" -->

        <div class="row ml-0">
          <!-- left sidebar -->
          <div
            class="col-xl-7 col-lg-7 col-12 shadow-sm p-3 bg-white rounded mt-3"
          >
            <!-- objet de courrier -->
            <objetCourrierEntrant
              :errorObjet="$v.action.objet.$error"
              label="Objet de votre courrier"
              @update:objetCourrier="action.objet = $event"
              ref="objetCourrierEntrant"
            />

            <!-- description -->
            <description
              libelle="Description"
              @update:description="action.description = $event"
              :ticketDisplay="$store.state.agilite.task.description"
              :couleur="couleur"
              ref="description"
            />
          </div>
          <!-- side bar -->
          <div class="col-xl-5 col-lg-5 col-12">
            <!-- <contentRight  :couleur="couleur" ref="contentRight" /> -->
            <el-card class="box-card mt-3">
              <el-form ref="form" label-width="80px">
                <div class="row mt-3">
                  <div class="col-12">
                    <!-- composant Affecter à-->
                    <affecte
                      label="Affecté à"
                      @update:user="action.userId = $event"
                      :couleur="couleur"
                      :adminId="adminId"
                      :currentUId="currentUId"
                      ref="affecte"
                    />

                    <!-- composant créer par -->
                    <creerPar
                      :user="user.displayName"
                      :couleur="couleur"
                      ref="creer par"
                    />

                    <!--  composant Priorité -->
                    <priorite
                      @update:priorite="action.priorite = $event"
                      :typeTicketSelected="typeTicketSelected"
                      :idSummarySelected="idSummarySelected"
                      :couleur="couleur"
                      ref="priorite"
                    />

                    <!-- composant etiquette -->
                    <etiquette
                      @update:etiquette="action.etiquette = $event"
                      :couleur="couleur"
                      :typeTicketSelected="typeTicketSelected"
                      :idSummarySelected="idSummarySelected"
                      ref="etiquette"
                    />

                    <!-- composant date.  -->
                    <div>
                      <el-form-item
                        v-if="
                          $store.state.agilite.mode == 'creation' ||
                            $store.state.agilite.mode == 'modification'
                        "
                        label="Date"
                        prop="dates"
                      >
                        <el-date-picker
                          :class="{ ' border border-danger ': errorDateLeft }"
                          style="width: 100%"
                          format="dd/MMM/yyyy hh:mm:ss"
                          v-model="action.dates"
                          type="datetimerange"
                          range-separator="à"
                          start-placeholder="début traitement"
                          end-placeholder="fin traitement"
                          :default-value="new Date()"
                        >
                        </el-date-picker>
                      </el-form-item>
                    </div>
                    <span v-if="errorDateLeft" :style="{ color: activeColor }">
                    </span>
                    <span v-if="$store.state.agilite.mode == 'affichage'">
                      <span class="">Début </span>
                      <span class="date-affiche">
                        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                        <span
                          :style="{ backgroundColor: couleur }"
                          class="material-icons-outlined ml-2 affichage-date"
                          >watch_later
                        </span>
                        {{
                          new Date($store.state.agilite.task.dates[0])
                            | moment("Do MMMM YYYY")
                        }}
                      </span>
                      <br /><br />
                      <span class="ml-4">Fin </span>
                      <span class="date-affiche">
                        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                        <span
                          :style="{ backgroundColor: couleur }"
                          class="material-icons-outlined ml-2 affichage-date"
                          >watch_later
                        </span>
                        {{
                          new Date($store.state.agilite.task.dates[1])
                            | moment("Do MMMM YYYY")
                        }}</span
                      >
                    </span>
                  </div>
                </div>
              </el-form>
            </el-card>
          </div>
        </div>
        <!-- création du teableau -->
        <div class="shadow p-2 bg-white rounded mt-2">
          <!-- <contentTache ref="contentTache" /> -->

          <div class="row mt-3">
            <div class="col-xl-3">
              <Protocole
                @update:protocole="loadProtocole($event)"
                :couleur="couleur"
                :typeTicketSelected="typeTicketSelected"
                :idSummarySelected="idSummarySelected"
                ref="protocole"
              />
            </div>
            <div class="col-xl-5 mt-2">
              <!-- <el-col class="time-progres">
                <el-progress
                  :text-inside="true"
                  :stroke-width="26"
                  :percentage="50"
                  status="success"
                  class="progres"
                ></el-progress>
              </el-col> -->
            </div>
          </div>

          <!-- sous tâhces -->
          <sub-Task-Ticket
            :protocoleProcess="protocoleProcess"
            :tabletView="tabletView"
            :screenView="screenView"
            :mobileView="mobileView"
            ref="subActionTask"
          />

          <!-- ********** file upload ************** -->
          <file-ticket @update:fichiers="fichiers = $event" ref="fileTicket" />
        </div>
        <div class="shadow-sm p-3 bg-white rounded">
          <FooterModal
            @saveTicket="saveTicket('actionForm')"
            @saveEditTicket="saveEditTicket('actionForm')"
            :loadingSave="loadingSave"
          />
        </div>
      </div>
    </el-form>
  </div>
</template>
<script>
import firebase from "firebase";
import objetCourrierEntrant from "../tickets/reservationCourrier/objetCourrierEntrant";
import CourrierEntrant from "../../../bp/erp/models/agilite/courrierEntrant";
// import sprint from "../tickets/composantCourrier/contentRigth/sprint";
// import version from "../tickets/composantCourrier/contentRigth/version";
import realisation from "../tickets/composantCourrier/contentRigth/realisation";
import date from "../tickets/composantCourrier/contentRigth/date";
import etiquette from "../tickets/composantCourrier/contentRigth/etiquette";
import priorite from "../tickets/composantCourrier/contentRigth/priorite";
import Protocole from "../tickets/composantCourrier/contentRigth/protocole";
import coursier from "../tickets/composantCourrier/contentRigth/coursier";
import creerPar from "../tickets/composantCourrier/contentRigth/creerPar";
import affecte from "../tickets/composantCourrier/contentRigth/affecte";
import action from "../../mixins/admin/actionPlan.js";
import { required } from "vuelidate/lib/validators";
import { VueEditor, Quill } from "vue2-editor";
import headerTicket from "../tickets/composantCourrier/headerTickets";
import description from "../tickets/composantCourrier/description";
// import contentLeft from "../tickets/composantCourrier/contentLeft";
import contentRight from "../tickets/composantCourrier/contentRight";
import contentTab from "../tickets/composantCourrier/contentTab";
import contentTache from "../tickets/composantCourrier/contentTache";
import subTaskTicket from "../../../bp/agile/tickets/composantCourrier/subTaskTicket";
import FileTicket from "../../../bp/agile/tickets/composantCourrier/fileTicket";
import contentComment from "../tickets/composantCourrier/contentComment";
// modele pour les sous taches
import SubTask from "../../../bp/erp/models/agilite/subTask";
//  modele pour uploader les fichiers
import Fichier from "../../../../store/collection/fichiers";
// Modèle message
import Message from "../../../../store/collection/messages";
import FooterModal from "./footerModal";
// import { required , minLength, email, maxLength, numeric } from "vuelidate/lib/validators";
export default {
  mixins: [action],
  props: {
    dates: {
      default: false,
      type: Boolean,
    },
     screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    // validations,
    couleur: {
      default: "#000",
    },
    errorDateLeft: {
      default: false,
      type: Boolean,
    },
    errorNumCourrier: {
      default: false,
      type: Boolean,
    },
    errorDate: {
      default: false,
      type: Boolean,
    },
    errorEtat: {
      default: false,
      type: Boolean,
    },
    errorObjet: {
      default: false,
      type: Boolean,
    },
    errorSummaryId: {
      default: false,
      type: Boolean,
    },
    errorCoursier: {
      default: false,
      type: Boolean,
    },
    errorcategorieSelectedId: {
      default: false,
      type: Boolean,
    },
    ordre: {
      default: null,
    },
    categorieSelectedId: {
      default: null,
    },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    user: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    idSummarySelected: {
      default: null,
    },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    listeProjets: {
      default: [],
    },
    activites: {
      default: [],
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default: [],
    },
    typeTicketSelected: {
      default: null,
    },
    filterTaskList: {
      default: [],
      type: Array,
    },
    // classeurCour: {
    //   default: "",
    //   type: String,
    // },
  },
  components: {
    VueEditor,
    headerTicket,
    description,
    // contentLeft,
    contentRight,
    contentTab,
    contentTache,
    subTaskTicket,
    FileTicket,
    contentComment,
    affecte,
    creerPar,
    priorite,
    etiquette,
    date,
    realisation,
    objetCourrierEntrant,
    Protocole,
    coursier,
    FooterModal,
  },
  name: "courrierEntrant",
  computed: {
    categorieSelectedId: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
    newIndex: {
      get() {
        return this.$store.state.agilite.listTickets.length + 1;
      },
    },
  },
  data() {
    return {
      summaryRef: firebase.firestore().collection("summary"),
      users: firebase.firestore().collection("users"),
      priorites: [],
      Classeurs: [],
      model: {},
      messageRequired: "ce champ est obligatoire",
      activeColor: "red",
      activeAction: false,
      editMode: false,
      userInfos: JSON.parse(localStorage.getItem("userSession")),
      planActionRefOld: firebase.firestore().collection("planAction"),
      planActionRef: null,
      accuse: "",
      modalVue: false,
      protocoleProcess: [],
      dialogTicketVisible: false,
      descriptionEdit: true,
      // objetCourrier: true,
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons

        [{ list: "ordered" }, { list: "bullet" }],
        // [{ 'font': [] }],
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme

        ["clean"], // remove formatting button
      ],
      action: {
        summaryId: "",
        typeTicket: "",
        dates: "",
        num: "",
        numEmet: "",
        titre: "",
        description: "",
        etat: "1",
        subActions: [],
        commentaire: "",
        effort: 0,
        etiquette: "",
        // version:"",
        refEtiquette: "",
        refCategorie: "",
        categorie: "",
        objetCourrier: "",
        priorite: "",
        classeur: "",
        provenance: "",
        coursier: "",
        objet: "",
        dateArrive: "",
        dateCourrier: "",
        protocole: "",
        index: 0,
      },
      libelle: "",
      loadingSave: false,
      composants: [],
      fichiers: [],
      userNotify: "",
      rules: {
        etat: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        titre: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],

        // checkDate:[
        //   {validator:validateDate,trigger:'blur'}
        // ]
      },
    };
  },
  validations: {
    action: {
      summaryId: {
        id: { required },
      },
      // categorieSelectedId: {
      //   id: { required },
      // },
      // categorie: { required },
      // categorieSelectedId:{required},
      titre: { required },
      num: { required },
      objet: { required },
      dateArrive: { required },
      dateCourrier: { required },
      typeTicket: { required },
      etat: { required },
      coursier: { required },
    },
  },
  watch: {
    idSummarySelected: function(val) {
      this.action.summaryId = CourrierEntrant.getCollection("summary").doc(val);
    },
    typeTicketSelected: function(val) {
      this.action.typeTicket = CourrierEntrant.getCollection(
        "globalTypeTicket"
      ).doc(val);
    },
    categorieSelectedId: function(val) {
      this.action.activite = CourrierEntrant.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
    mode: function() {
      this.initData();
    },
  },
  methods: {
    // initialisation des données des sous composants
    initTypeVal() {
      this.action.summaryId = CourrierEntrant.getCollection("summary").doc(
        this.idSummarySelected
      );
      this.action.typeTicket = CourrierEntrant.getCollection(
        "globalTypeTicket"
      ).doc(this.typeTicketSelected);
      this.action.activite = CourrierEntrant.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },

    // fonction de modification
    async saveEditTicket(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //INSERTION FICHIERS
          this.loadingSave = true;
          let urlFiles = [];
          const resultFile = new Promise((resolve, reject) => {
            if (this.fichiers.length != 0) {
              this.fichiers.forEach((fileItem) => {
                if (fileItem.raw) {
                  const file = new Fichier(this.categorieSelectedId);
                  urlFiles.push(
                    file
                      .saveToStorage(this.categorieSelectedId, fileItem.raw)
                      .then((snapshot) => snapshot.ref.getDownloadURL())
                      .then((url) => {
                        let data = {};
                        data.url = url;
                        data.name = fileItem.raw.name;
                        data.type = fileItem.raw.type;
                        data.size = fileItem.raw.size;
                        return data;
                      })
                  );
                }
              });
              resolve(urlFiles);
            } else {
              reject(urlFiles);
            }
          });
          Promise.all([Promise.all(urlFiles)]).then((value) => {
            //reset old files
            this.action.files = [];
            this.fichiers.forEach((fileItem) => {
              if (!fileItem.raw) {
                this.action.files.push(fileItem);
              }
            });
            if (value[0].length > 0) {
              value[0].forEach((item) => {
                this.action.files.push(item);
              });
            }
            const ticket = new CourrierEntrant("planAction", this.action);
            ticket.data.createdAt = this.action.createdAt;
            ticket.data.updatedAt = CourrierEntrant.getCreatedAt();
            this.tasksRef
              .doc(this.action.id)
              .set(ticket.data)
              .then(() => {
                this.$refs.subActionTask.action.subActions.forEach((item) => {
                  const subTask = new SubTask("subTasks", item);
                  if (item.id) {
                    subTask.data.createdAt = item.createdAt;
                    this.tasksRef
                      .doc(this.action.id)
                      .collection("subTasks")
                      .doc(item.id)
                      .set(subTask.data);
                  } else {
                    this.tasksRef
                      .doc(this.action.id)
                      .collection("subTasks")
                      .add(subTask.data)
                      .then(() => {
                        console.log("Log Data", subTask.data);
                      });
                  }
                });
                this.$notify({
                  title: "Succès",
                  message: "Le ticket  a été modifié avec succès",
                  type: "success",
                });
                this.loadingSave = false;
                this.$emit("savedTicket");
              })
              .catch((error) => {
                this.$notify.error({
                  title: "Error",
                  message: "Une erreur s'est produite",
                });
                this.loadingSave = false;
                console.log("Erreur", error);
              });
          });
        } else {
          return false;
        }
      });
    },
    // end modification
    async saveTicket(formName) {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //INSERTION FICHIERS
          this.loadingSave = true;
          // this.action.index = this.newIndex;
          let urlFiles = [];
          const resultFile = new Promise((resolve, reject) => {
            if (this.fichiers.length != 0) {
              this.fichiers.forEach((fileItem) => {
                const file = new Fichier(this.categorieSelectedId);
                urlFiles.push(
                  file
                    .saveToStorage(this.categorieSelectedId, fileItem.raw)
                    .then((snapshot) => snapshot.ref.getDownloadURL())
                    .then((url) => {
                      let data = {};
                      data.url = url;
                      data.name = fileItem.raw.name;
                      data.type = fileItem.raw.type;
                      data.size = fileItem.raw.size;
                      return data;
                    })
                );
              });
              resolve(urlFiles);
            } else {
              reject(urlFiles);
            }
          });
          Promise.all([Promise.all(urlFiles)]).then((value) => {
            let files = value[0];
            this.action.files = files;
            // passage de l'index
            this.action.index = this.newIndex;
            const ticket = new CourrierEntrant("tasks", this.action);
            this.tasksRef
              .add(ticket.data)
              .then((doc) => {
                if (ticket.data.userId.id != this.currentUId) {
                  ticket.data.userId.get().then((doc) => {
                    let userInfos = doc.data();
                    const contentHtml = `
                    <html>
                    <body>
                    <h3>Bonjour </h3>
                    <p>Vous avez été désigné responsable du traitement du courrier: ${ticket.data.titre} </p>
                    <p>Description:${ticket.data.description}</p>
                    </body>
                    </html>
                    `;
                    const messageInfos = {
                      titre: ticket.data.titre,
                      content: contentHtml,
                      userEmail: userInfos.email,
                      isEmail: true,
                    };
                    const message = new Message("messages", messageInfos);
                    message
                      .saveDocumentDynamic("messages", message.data)
                      .then((doc) => {});
                  });
                }
                this.$refs.subActionTask.action.subActions.forEach((item) => {
                  const subTask = new SubTask("subTasks", item);
                  this.tasksRef
                    .doc(doc.id)
                    .collection("subTasks")
                    .add(subTask.data)
                    .then(() => {
                      if (subTask.data.userId.id != this.currentUId) {
                        subTask.data.userId.get().then((doc) => {
                          let userInfos = doc.data();
                          const contentHtml = `
                        <html>
                        <body>
                        <h3>Bonjour </h3>
                        <p>Vous avez été affecte à la sous-tâche: ${subTask.data.titre}  </p>
                        <p>Courrier :${ticket.data.titre}</p>
                        </body>
                        </html>
                        `;
                          const messageInfos = {
                            titre: subTask.data.titre,
                            content: contentHtml,
                            userEmail: userInfos.email,
                            isEmail: true,
                          };
                          const message = new Message("messages", messageInfos);
                          message
                            .saveDocumentDynamic("messages", message.data)
                            .then((doc) => {});
                        });
                      }
                    });
                });
                this.$notify({
                  title: "Succès",
                  message: "Le ticket a été enregistré avec succès",
                  type: "success",
                });
                this.loadingSave = false;
                this.$emit("savedTicket");
              })
              .catch((error) => {
                this.$notify.error({
                  title: "Error",
                  message: "Une erreur s'est produite",
                });
                this.loadingSave = false;
                console.log("Erreur", error);
              });
          });
        } else {
          return false;
        }
      });
    },
    loadProtocole(item) {
      this.protocoleProcess = item.subActions;
    },
    initData() {
      switch (this.mode) {
        case "modification":
          this.action = this.$store.state.agilite.task;
          if (!this.$store.state.agilite.task.numEmet) {
            this.action.numEmet = "";
          }
          // console.log("Dates store", this.$store.state.agilite.task.dates);
          break;

        default:
          break;
      }
    },
  },

  mounted() {
    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.adminId = JSON.parse(localStorage.getItem("userSession")).adminId;
      this.action.adminId = CourrierEntrant.getCollection("users").doc(
        this.adminId
      );
    }
    this.initData();
    this.initTypeVal();
    this.$store.commit("agilite/setCouleur", this.couleur);
  },
};
</script>
<style scoped>
.required:after {
  content: " *";
  color: red;
}
.error {
  color: red;
}
.form-group--error input,
.form-group--error select {
  border: 1px solid red !important;
}
.affichage-date {
  padding: 7px !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.date-affiche {
  margin-left: 22px !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
  /* font-weight: 500!important; */
}
.el-input__inner .el-input--suffix .el-input__inner {
  padding-right: 0 !important;
}

.select-person select {
  border: 1px solid #0000002b !important;
  padding: 2px 10px !important;
  border-radius: 5px !important;
  color: #404040 !important;
}
/* .v-modal{
        opacity: 0 !important;
    } */

.el-button--danger {
  color: #fff;
  background-color: #d98238 !important;
  border: 1px solid #d98238 !important;
}
.el-button.is-circle {
  padding: 5px;
}

.form-control {
  border: 1px solid #e3bd9eb8 !important;
}
.selection .custom-select {
  background: none !important;
}
.nav-item {
  background: rgb(122, 125, 182) !important;
  color: #fff !important;
  padding: 10px 15px;
  margin: 0 1px;
}

.el-submenu .el-menu-item {
  min-width: 100px;
}
.text-themecolor-title {
  color: #363738;
  font-size: 19px;
}
.descrip-label {
  font-size: 1.2em;
}
.side-infos {
  line-height: 60px;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 180px;
  border: 1px solid d98238;
}
.ic-date {
  font-size: 2rem;
  color: #d98238;
}

.el-progress-bar__inner {
  border-radius: 0 !important;
}

.con-vs-card:hover {
  cursor: pointer;
  background-color: rgb(238, 233, 233);
}
.el-select {
  padding: 0 !important;
  background-color: black;
}
.el-tag {
  width: 60% !important;
  text-align: center;
  background: #04cc6e !important;
  color: #fff !important;
}
.el-card:hover {
  cursor: pointer;
}
.eti-color {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.eti-color-list {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.text-white {
  color: white;
}
.user-pic-show {
  width: 350px;
  height: 350px;
}
.el-icon-check {
  color: white;
  font-weight: 200;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.icon-font-size {
  font-size: 25px;
}
.custom-container {
  margin-left: 5%;
  margin-right: 5%;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 3px 0;
  margin: 0;
}

@media (max-width: 900px) {
  .vs-button--text {
    font-size: 13px !important;
  }
  .el-tag {
    width: 100% !important;
    font-size: 9px !important;
  }
  .el-radio__label {
    font-size: 12px !important;
  }
}

.mobile-view h6 {
  font-size: 12px !important;
}

.tabletView .titre {
  font-size: 12px !important;
}
.tabletView h6 {
  font-size: 13px !important;
}
.tabletView .time {
  font-size: 12px !important;
}
</style>
