<template>
  <div>
    <!-- ModalVue -->
    <!-- <headerReservation ref="headerReservation"/> -->
    <el-form :model="action" :rules="rules" ref="actionForm">
      <headerTicket
        @update:idSummarySelected="$emit('update:idSummarySelected', $event)"
        @update:typeTicketSelected="$emit('update:typeTicketSelected', $event)"
        :listeProjets="listeProjets"
        :idSummarySelected.sync="idSummarySelected"
        :activites="activites"
        :action.sync="action.etat"
        :categorieSelectedId.sync="categorieSelectedId"
        :tabTypeTickets="tabTypeTickets"
        :typeTicketSelected.sync="typeTicketSelected"
        :titre.sync="action.titre"
        :couleur="couleur"
        ref="headerTicket"
        :ticketDisplay="$store.state.agilite.task"
      />
      <hr />
      <div class="row ml-0 my-1">
        <!-- left sidebar -->
        <div
          class="col-xl-8 col-lg-8 col-md-8 col-12 shadow-sm p-3 bg-white rounded"
        >
          <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12">
              <DateDebutFinHeure
                @choixDateDebut:dateDebut="action.dateDebut = $event"
                @choixDateFin:dateFin="action.dateFin = $event"
                @choixHeureDebut:heureDebut="action.heureDebut = $event"
                @choixHeureFin:heureFin="action.heureFin = $event"
                ref="dateDebutFin"
              />
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12">
              <MontantTotal :totalAchat="totalMontant" :couleur="couleur" />
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-xl-6 col-lg-12 col-md-12">
              
              <contentReservationLeft
                :totalAchat="totalMontant"
                @choixDateDebut:dateDebut="action.dateDebut = $event"
                @choixDateFin:dateFin="action.dateFin = $event"
                @choixHeureDebut:heureDebut="action.heureDebut = $event"
                @choixHeureFin:heureFin="action.heureFin = $event"
                @update:description="action.description = $event"
                ref="contentReservationLeft"
              />
            </div> -->
            <div class="col-xl-12 col-lg-12 col-md-12 mt-3">
              <numCompte
                @update:numeroCompte="action.numeroCompte = $event"
                ref="numCompte"
              />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 ">
              <Description
                @update:description="action.description = $event"
                :couleur="couleur"
                libelle="Description"
                ref="description"
                :ticketDisplay="$store.state.agilite.task.description"
              />
            </div>
          </div>
        </div>
        <!-- side bar -->
        <div class="col-xl-4 col-lg-4 col-md-4 ml-auto">
          <div class="mt-3 shadow-sm p-3 bg-white rounded">
            <el-form ref="form" label-width="80px">
              <div class="row mt-3">
                <div class="col-12">
                  <!-- composant Affecter à-->
                  <affecte
                    @update:user="action.userId = $event"
                    :couleur="couleur"
                    :adminId="adminId"
                    :currentUId="currentUId"
                    ref="affecte"
                  />

                  <!-- composant créer par -->
                  <creerPar
                    :user="user.displayName"
                    :couleur="couleur"
                    ref="creer par"
                  />

                  <!--  composant Priorité -->
                  <priorite
                    @update:priorite="action.priorite = $event"
                    :couleur="couleur"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    ref="priorite"
                  />

                  <!-- composant etiquette -->
                  <etiquette
                    @update:etiquette="action.etiquette = $event"
                    :couleur="couleur"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    ref="etiquette"
                  />

                  <!-- composant date  -->
                  <!-- <date :couleur="couleur" ref="date" /> -->
                  <!-- créer le -->
                  <el-form-item
                    v-if="
                      $store.state.agilite.mode == 'creation' ||
                        $store.state.agilite.mode == 'modification'
                    "
                    label="Date"
                    prop="dates"
                  >
                    <el-date-picker
                      style="width: 100%"
                      class=""
                      format="dd-MMMM-yyyy"
                      v-model="action.dates"
                      type="datetimerange"
                      range-separator="à"
                      start-placeholder="Date de début"
                      end-placeholder="Date de fin"
                      :default-value="new Date()"
                    ></el-date-picker>
                  </el-form-item>
                  <span v-if="$store.state.agilite.mode == 'affichage'">
                    <span class="">Début </span>
                    <span class="date-affiche">
                      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                      <span
                        :style="{ backgroundColor: couleur }"
                        class="material-icons-outlined ml-2 affichage-date"
                        >watch_later
                      </span>
                      {{
                        new Date($store.state.agilite.task.dates[0])
                          | moment("Do MMMM YYYY")
                      }}
                    </span>
                    <br /><br />
                    <span class="ml-4">Fin </span>
                    <span class="date-affiche">
                      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                      <span
                        :style="{ backgroundColor: couleur }"
                        class="material-icons-outlined ml-2 mb-3 affichage-date"
                        >watch_later
                      </span>
                      {{
                        new Date($store.state.agilite.task.dates[1])
                          | moment("Do MMMM YYYY")
                      }}</span
                    >
                  </span>
                  <Enveloppe
                    @update:etiquette="action.etiquette = $event"
                    :couleur="couleur"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    ref="enveloppe"
                  />
                  <Accord
                    @update:accord="action.accord = $event"
                    :couleur="couleur"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    ref="accord"
                  />
                  <mois @update:monthSelect="action.mois = $event" ref="mois" />
                </div>
              </div>
            </el-form>
          </div>
        </div>
      </div>
      <!-- tableau de salaire -->
      <tab-salaire
        :header="headerTab"
        :couleur="couleur"
        @totalMontant="totalMontant = $event"
        @update:salarier="action.salarier = $event"
        ref="tabSalaire"
      />
      <!-- progress bar  -->
      <div class="shadow-sm mb-2 p-2 bg-white rounded mt-2">
        <!-- <progressTacheAchat ref="progressTacheAchat" /> -->
        <div class="col-xl-3">
          <Protocole
            @update:protocole="loadProtocole($event)"
            :couleur="couleur"
            :typeTicketSelected="typeTicketSelected"
            :idSummarySelected="idSummarySelected"
            ref="protocole"
          />
        </div>
        <sub-Task-Ticket
          :protocoleProcess="protocoleProcess"
          :tabletView="tabletView"
          :screenView="screenView"
          :mobileView="mobileView"
          ref="subActionTask"
        />
      </div>
    </el-form>
    <FooterModal
      @saveTicket="saveTicket('actionForm')"
      @saveEditTicket="saveEditTicket('actionForm')"
      :loadingSave="loadingSave"
    />
  </div>
</template>
<script>
import firebase from "firebase";
// import Reservation from "../../erp/models/agilite/reservation";
import etatDeSalaire from "../../erp/models/agilite/etatDeSalaire";
import date from "../tickets/composantCourrier/contentRigth/date";
import contentTab from "../tickets/composantCourrier/contentTab";
import contentTache from "../tickets/composantCourrier/contentTache";
import contentSubTache from "../tickets/composantCourrier/contentSubTache";
import contentComment from "../tickets/composantCourrier/contentComment";
import Description from "../tickets/composantCourrier/description";
import etiquette from "../tickets/composantCourrier/contentRigth/etiquette";
import priorite from "../tickets/composantCourrier/contentRigth/priorite";
import creerPar from "../tickets/composantCourrier/contentRigth/creerPar";
import affecte from "../tickets/composantCourrier/contentRigth/affecte";
import version from "../tickets/composantCourrier/contentRigth/version";
import { VueEditor, Quill } from "vue2-editor";
import headerTicket from "../tickets/composantCourrier/headerTickets";
import achatTab from "../../agile/tickets/demandeAchat/achatTab";
import Protocole from "../tickets/composantCourrier/contentRigth/protocole";
import subTaskTicket from "../../../bp/agile/tickets/composantCourrier/subTaskTicket";
import SubTask from "../../erp/models/agilite/subTask";
import FooterModal from "./footerModal";
import tabSalaire from "../../agile/tickets/demandeAchat/tabSalaire.vue";
import Enveloppe from "../tickets/composantCourrier/contentRigth/envelope";
import Accord from "../tickets/composantCourrier/contentRigth/accord";
import numCompte from "../tickets/composantCourrier/contentRigth/numCompte.vue";
import mois from "../tickets/composantCourrier/contentRigth/mois";
import DateDebutFinHeure from "../tickets/composantCourrier/contentRigth/dateDebutFinHeure";
import MontantTotal from "../tickets/composantCourrier/contentRigth/montantTotal";
export default {
  props: {
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    couleur: {
      default: "#000",
    },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    user: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    listeProjets: {
      default: [],
    },
    activites: {
      default: [],
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default: [],
    },
  },
  components: {
    VueEditor,
    contentTab,
    contentTache,
    contentSubTache,
    contentComment,
    headerTicket,
    affecte,
    creerPar,
    priorite,
    etiquette,
    date,
    version,
    achatTab,
    Protocole,
    Description,
    FooterModal,
    subTaskTicket,
    tabSalaire,
    Enveloppe,
    Accord,
    numCompte,
    mois,
    DateDebutFinHeure,
    MontantTotal,
  },
  computed: {
    categorieSelectedId: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
  },
  name: "addTicketSalaire",
  data() {
    return {
      summaryRef: firebase.firestore().collection("summary"),
      users: firebase.firestore().collection("users"),
      userInfos: JSON.parse(localStorage.getItem("userSession")),
      planActionRefOld: firebase.firestore().collection("planAction"),
      totalMontant: 0,
      loadingSave: false,
      modalReservation: false,
      protocoleProcess: [],
      accuse: "",
      dialogTicketVisible: false,
      descriptionEdit: true,
      customToolbar: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons

        [{ list: "ordered" }, { list: "bullet" }],
        // [{ 'font': [] }],
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme

        ["clean"], // remove formatting button
      ],
      headerTab: [
        "N°",
        "Matricule",
        "NOM",
        "PRENOM",
        "Photo",
        "Service",
        "MOIS",
        "Montant",
        "DECISSION",
      ],
      action: {
        dateFin: "",
        dateDebut: "",
        heureDebut: "",
        heureFin: "",
        dates: "",
        titre: "",
        description: "",
        etat: "1",
        subActions: [],
        commentaire: "",
        effort: 0,
        etiquette: "",
        refEtiquette: "",
        refCategorie: "",
        protocole: "",
        categorie: "",
        accord: "",
        numeroCompte: "",
        salarier: [],
        mois: "",
      },
      userNotify: "",
      rules: {
        etat: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        titre: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        dates: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        // checkDate:[
        //   {validator:validateDate,trigger:'blur'}
        // ]
      },
    };
  },
  watch: {
    "$store.state.agilite.idSummarySelected": function(val) {
      this.action.summaryId = this.summaryRef.doc(val);
    },
    // idSummarySelected: function(val) {
    //   this.action.summaryId = Reservation.getCollection('summary').doc(val);
    // },
    typeTicketSelected: function(val) {
      this.action.typeTicket = etatDeSalaire
        .getCollection("globalTypeTicket")
        .doc(val);
    },
    categorieSelectedId: function(val) {
      this.action.activite = etatDeSalaire
        .getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
  },

  methods: {
    editAction(idAction) {
      this.editActionId = idAction;
      this.getEtiquettes();
      this.planActionRef
        .doc(idAction)
        .get()
        .then((doc) => {
          this.action = doc.data();
          this.action.dates[0] = new Date(doc.data().dates[0].seconds * 1000);
          this.action.dates[1] = new Date(doc.data().dates[1].seconds * 1000);
          //Date subActions
          // doc.data().subActions.forEach((item, index) => {
          //     this.action.subActions[index].dates[0] = new Date(item.dates[0].seconds * 1000);
          //     this.action.subActions[index].dates[1] = new Date(item.dates[1].seconds * 1000);
          // });
          this.activeAction = true;
          this.editMode = true;
        });
    },
    //  openModalCreateAction(data) {
    //     // this.editMode = false;
    //      this.projets = data
    //     this.activeAction = true;
    //     // this.getEtiquettes();
    //     // this.getCategories();
    //     this.ReloadfieldsAction();

    // },

    ReloadfieldsAction() {
      this.limitAddSub = false;
      this.action = {
        dates: "",
        titre: "",
        description: "",
        etat: "1",
        subActions: [],
        commentaire: "",
        etiquette: "",
      };
    },
    // fonction de modification
    async saveEditTicket(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.loadingSave = true;
          const ticket = new etatDeSalaire("tasks", this.action);
          ticket.data.createdAt = this.action.createdAt;
          ticket.data.updatedAt = etatDeSalaire.getCreatedAt();
          this.action.ref
            .set(ticket.data)
            .then(() => {
              this.$refs.subActionTask.action.subActions.forEach((item) => {
                const subTask = new SubTask("subTasks", item);
                subTask.data.updatedAt = SubTask.getCreatedAt();
                if (item.id) {
                  subTask.data.createdAt = item.createdAt;
                  item.ref.set(subTask.data);
                } else {
                  this.action.ref.collection("subTasks").add(subTask.data);
                }
              });
              this.$notify({
                title: "Succès",
                message: "Le ticket  a été modifié",
                type: "success",
              });
              this.loadingSave = false;
              this.$emit("savedTicket");
            })
            .catch((error) => {
              this.$notify.error({
                title: "Error",
                message: "Une erreur s'est produite",
              });
              this.loadingSave = false;
              console.log("Erreur", error);
            });
        }
      });
    },
    async saveTicket(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.loadingSave = true;
          this.action.salarier = this.$refs.tabSalaire.tabSalariers;
          const ticket = new etatDeSalaire("tasks", this.action);
          this.tasksRef
            .add(ticket.data)
            .then((doc) => {
              this.$refs.subActionTask.action.subActions.forEach((item) => {
                const subTask = new SubTask("subTasks", item);
                this.tasksRef
                  .doc(doc.id)
                  .collection("subTasks")
                  .add(subTask.data);
              });
              this.$notify({
                title: "Succès",
                message: "L'action a été ajoutée",
                type: "success",
              });
              this.loadingSave = false;
              this.$emit("savedTicket");
            })
            .catch((error) => {
              this.$notify.error({
                title: "Error",
                message: "Une erreur s'est produite",
              });
              this.loadingSave = false;
              console.log("Erreur", error);
            });
        } else {
          return false;
        }
      });
    },
    // loadImage(photo, user) {
    //   this.selectedUser = '';
    //   this.selectedPhoto = '';
    //   this.selectedPhoto = photo;
    //   this.selectedUser = user;
    //   this.modalImage = true;
    // },
    // loadFiles(files) {
    //   this.files = [];
    //   this.files = files;
    //   this.displayModalFiles = true;
    // },
    // initialisation des données des sous composants
    initTypeVal() {
      this.action.summaryId = etatDeSalaire
        .getCollection("summary")
        .doc(this.idSummarySelected);
      this.action.typeTicket = etatDeSalaire
        .getCollection("globalTypeTicket")
        .doc(this.typeTicketSelected);
      this.action.activite = etatDeSalaire
        .getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
    loadProtocole(item) {
      this.protocoleProcess = item.subActions;
      this.action.protocole = item.ref;
      // console.log("Data", item);
    },
  },

  mounted() {
    // changement d'id utilisateurs
    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.adminId = JSON.parse(localStorage.getItem("userSession")).adminId;
      this.action.adminId = this.users.doc(this.adminId);
    }
    this.initTypeVal();
    this.$store.commit("agilite/setCouleur", this.couleur);
  },
  created() {
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.action = this.$store.state.agilite.task;
        break;

      default:
        break;
    }
  },
};
</script>
<style scoped>
.affichage-date {
  padding: 7px !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.date-affiche {
  margin-left: 22px !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
}
.date-affiche .material-icons-outlined {
  color: #fff;
}
.el-input__inner .el-input--suffix .el-input__inner {
  padding-right: 0 !important;
}

.select-person select {
  border: 1px solid #0000002b !important;
  padding: 2px 10px !important;
  border-radius: 5px !important;
  color: #404040 !important;
}
/* .v-modal{
        opacity: 0 !important;
    } */
.el-button--danger {
  color: #fff;
  background-color: #d98238 !important;
  border: 1px solid #c77a37 !important;
}
.el-button.is-circle {
  padding: 5px;
}

.form-control {
  border: 1px solid #e3bd9eb8 !important;
}
.selection .custom-select {
  background: none !important;
}
.nav-item {
  background: rgb(122, 125, 182) !important;
  color: #fff !important;
  padding: 10px 15px;
  margin: 0 1px;
}

.el-submenu .el-menu-item {
  min-width: 100px;
}
.text-themecolor-title {
  color: #363738;
  font-size: 19px;
}
.descrip-label {
  font-size: 1.2em;
}
.side-infos {
  line-height: 60px;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 180px;
  border: 1px solid #d98238;
}
.ic-date {
  font-size: 2rem;
  color: #d98238;
}

.el-progress-bar__inner {
  border-radius: 0 !important;
}

.con-vs-card:hover {
  cursor: pointer;
  background-color: rgb(238, 233, 233);
}
.el-select {
  padding: 0 !important;
  background-color: black;
}
.el-tag {
  width: 60% !important;
  text-align: center;
  background: #04cc6e !important;
  color: #fff !important;
}
.el-card:hover {
  cursor: pointer;
}
.eti-color {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.eti-color-list {
  width: 80%;
  padding: 1%;
  border: 0.5px solid grey;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.text-white {
  color: white;
}
.user-pic-show {
  width: 350px;
  height: 350px;
}
.el-icon-check {
  color: white;
  font-weight: 200;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.icon-font-size {
  font-size: 25px;
}
.custom-container {
  margin-left: 5%;
  margin-right: 5%;
}
.material-icons-outlined {
  background-color: #d98238;
  color: #fff;
  padding: 3px 0;
  margin: 0;
}

@media (max-width: 900px) {
  .vs-button--text {
    font-size: 13px !important;
  }
  .el-tag {
    width: 100% !important;
    font-size: 9px !important;
  }
  .el-radio__label {
    font-size: 12px !important;
  }
}

.mobile-view h6 {
  font-size: 12px !important;
}

.tabletView .titre {
  font-size: 12px !important;
}
.tabletView h6 {
  font-size: 13px !important;
}
.tabletView .time {
  font-size: 12px !important;
}
</style>
