<template>
  <div>
    <el-form :model="action" :rules="rules" ref="actionForm">
      <headerTicket
        @update:typeTicketSelected="$emit('update:typeTicketSelected', $event)"
        @update:idSummarySelected="$emit('update:idSummarySelected', $event)"
        :listeProjets="listeProjets"
        :idSummarySelected.sync="idSummarySelected"
        :activites="activites"
        :action.sync="action.etat"
        :categorieSelectedId.sync="categorieSelectedId"
        @update:categorieSelectedId="
          $emit('update:categorieSelectedId', $event)
        "
        :tabTypeTickets="tabTypeTickets"
        :typeTicketSelected.sync="typeTicketSelected"
        :titre.sync="action.titre"
        :couleur="couleur"
        ref="headerTicket"
        :ticketDisplay="$store.state.agilite.task"
      />
      <!-- left sidebar -->
      <div class="row">
        <div class="col-xl-7 col-12">
          <div class="mt-3 shadow-sm p-3 bg-white rounded">
            <div class="row">
              <div
                v-if="
                  $store.state.agilite.mode == 'affichage' ||
                    $store.state.agilite.mode == 'modification'
                "
                class=" col-12"
              >
                <Description
                  @update:description="action.description = $event"
                  :couleur="couleur"
                  libelle="Description"
                  ref="description"
                  :ticketDisplay="$store.state.agilite.task.description"
                />
                <Description
                  @update:description="action.demandeRaison = $event"
                  :couleur="couleur"
                  libelle="Raison de la demande d'achat"
                  :ticketDisplay="$store.state.agilite.task.demandeRaison"
                  ref="description"
                />
                <!-- <description ref="description"/> -->
              </div>
              <div
                v-else-if="$store.state.agilite.mode == 'creation'"
                class=" col-12"
              >
                <Description
                  @update:description="action.description = $event"
                  :couleur="couleur"
                  libelle="Description"
                  ref="description"
                />
                <Description
                  @update:description="action.demandeRaison = $event"
                  :couleur="couleur"
                  libelle="Raison de la demande d'achat"
                  ref="description"
                />
                <!-- <description ref="description"/> -->
              </div>
              <!-- <div class="col-xl-6 col-lg-6 col-12">
                <Description
                  @update:description="action.demandeRaison = $event"
                  :couleur="couleur"
                  libelle="Raison de la demande d'achat"
                  ref="description"
                />
              </div> -->
            </div>
          </div>
        </div>
        <!-- side bar -->
        <div class="col-xl-5 col-lg-5 col-12">
          <div class="mt-3 shadow-sm p-3 bg-white rounded">
            <el-form ref="form" label-width="80px">
              <div class="row mt-3">
                <div class="col-12">
                  <!-- composant Affecter à-->
                  <affecte
                    label="Affecté à"
                    @update:user="action.userId = $event"
                    :couleur="couleur"
                    :adminId="adminId"
                    :currentUId="currentUId"
                    ref="affecte"
                  />

                  <!-- composant créer par -->
                  <creerPar
                    :user="userInfos.displayName"
                    :couleur="couleur"
                    ref="creerPar"
                  />
                  <!-- créer le -->
                  <el-form-item
                    v-if="
                      $store.state.agilite.mode == 'creation' ||
                        $store.state.agilite.mode == 'modification'
                    "
                    label="Date"
                    prop="dates"
                  >
                    <el-date-picker
                      style="width: 100%"
                      class=""
                      format="dd-MMMM-yyyy"
                      v-model="action.dates"
                      type="datetimerange"
                      range-separator="à"
                      start-placeholder="Date de début"
                      end-placeholder="Date de fin"
                      :default-value="new Date()"
                    ></el-date-picker>
                  </el-form-item>
                  <span v-if="$store.state.agilite.mode == 'affichage'">
                    <span class="">Début </span>
                    <span class="date-affiche">
                      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                      <span
                        :style="{ backgroundColor: couleur }"
                        class="material-icons-outlined ml-2 affichage-date"
                        >watch_later
                      </span>
                      {{
                        new Date($store.state.agilite.task.dates[0])
                          | moment("Do MMMM YYYY")
                      }}
                    </span>
                    <br /><br />
                    <span class="ml-4">Fin </span>
                    <span class="date-affiche">
                      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                      <span
                        :style="{ backgroundColor: couleur }"
                        class="material-icons-outlined ml-2 mb-3 affichage-date"
                        >watch_later
                      </span>
                      {{
                        new Date($store.state.agilite.task.dates[1])
                          | moment("Do MMMM YYYY")
                      }}</span
                    >
                  </span>
                  <!--  composant Priorité -->
                  <priorite
                    @update:priorite="action.priorite = $event"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    :couleur="couleur"
                    ref="priorite"
                  />

                  <!-- composant etiquette -->
                  <div class="eti">
                    <etiquette
                      @update:etiquette="action.etiquette = $event"
                      :typeTicketSelected="typeTicketSelected"
                      :idSummarySelected="idSummarySelected"
                      :couleur="couleur"
                      ref="etiquette"
                    />
                  </div>
                </div>
              </div>
            </el-form>
          </div>
          <!-- <content-right ref="contentRight"/>                                 -->
        </div>
      </div>
      <!-- ----------------------- tableau ------------------------>
      <div class="mt-2">
        <achat-tab
          ref="achatTab"
          :header="headerTab"
          :couleur="couleur"
          :idSummarySelected.sync="idSummarySelected"
        />
      </div>
      <div class="shadow-sm mb-2 p-2 bg-white rounded mt-2">
        <div class="row mt-3">
          <div class="col-xl-3">
            <Protocole
              @update:protocole="loadProtocole($event)"
              :couleur="couleur"
              :typeTicketSelected="typeTicketSelected"
              :idSummarySelected="idSummarySelected"
              ref="protocole"
            />
          </div>
          <div class="col-xl-5 mt-2">
            <!-- <el-col class="time-progres">
              <el-progress
                :text-inside="true"
                :stroke-width="26"
                :percentage="50"
                status="success"
                class="progres"
              ></el-progress>
            </el-col> -->
          </div>
        </div>

        <!------------------------ sous tâhces ---------------------->
        <sub-Task-Ticket
          :protocoleProcess="protocoleProcess"
          :tabletView="tabletView"
          :screenView="screenView"
          :mobileView="mobileView"
          ref="subActionTask"
        />
      </div>
    </el-form>

    <!-- progress bar  -->
    <FooterModal
      @saveTicket="saveTicket('actionForm')"
      @saveEditTicket="saveEditTicket('actionForm')"
      :loadingSave="loadingSave"
    />
  </div>
</template>
<script>
import firebase from "firebase";
import { VueEditor, Quill } from "vue2-editor";
import Notification from "../../../../store/collection/notifications";
import affecte from "../tickets/composantCourrier/contentRigth/affecte";
import priorite from "../tickets/composantCourrier/contentRigth/priorite";
import creerPar from "../tickets/composantCourrier/contentRigth/creerPar";
import etiquette from "../tickets/composantCourrier/contentRigth/etiquette";
import date from "../tickets/composantCourrier/contentRigth/date";
import achatTab from "../../agile/tickets/demandeAchat/achatTab";
import Description from "../../agile/tickets/composantCourrier/description";
import progressTacheAchat from "../tickets/demandeAchat/progressTacheAchat";
import raisonAchat from "../tickets/demandeAchat/raisonAchat";
import action from "../../mixins/admin/actionPlan.js";
import DemandeAchat from "../../../bp/erp/models/agilite/demandeAchat";
import headerTicket from "../tickets/composantCourrier/headerTickets";
import envelope from "../tickets/composantCourrier/contentRigth/envelope";
import creerLe from "../tickets/composantCourrier/contentRigth/creerLe";
import Protocole from "../tickets/composantCourrier/contentRigth/protocole";
import subTaskTicket from "../../../bp/agile/tickets/composantCourrier/subTaskTicket";
import SubTask from "../../../bp/erp/models/agilite/subTask";
import FooterModal from "./footerModal";
export default {
  name: "addTicketDemandeAchat",
  mixins: [action],
  props: {
    // categorieSelectedId: {
    //   default: null,
    // },
    screenView: {
      default: false,
    },
    tabletView: {
      default: false,
    },
    mobileView: {
      default: false,
    },
    errorDateLeft: {
      default: false,
      type: Boolean,
    },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    // idSummarySelected: {
    //   default: null,
    // },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    listeProjets: {
      default: [],
    },
    activites: {
      default: [],
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default: [],
    },
    couleur: {
      default: "#000",
    },
    // typeTicketSelected: {
    //   default: null,
    // },
  },
  components: {
    Description,
    raisonAchat,
    achatTab,
    headerTicket,
    progressTacheAchat,
    affecte,
    creerPar,
    priorite,
    etiquette,
    date,
    envelope,
    creerLe,
    Protocole,
    subTaskTicket,
    FooterModal,
  },
  data() {
    return {
      summaryRef: firebase.firestore().collection("summary"),
      users: firebase.firestore().collection("users"),
      resultatAttenduEdit: true,
      priorites: [],
      activeAction: false,
      editMode: false,
      userInfos: JSON.parse(localStorage.getItem("userSession")),
      displayModalAchat: false,
      planActionRefOld: firebase.firestore().collection("planAction"),
      // planActionRef: null,
      action: {
        summaryId: "",
        typeTicket: "",
        dates: "",
        titre: "",
        description: "",
        etat: "1",
        commentaire: "",
        effort: 0,
        etiquette: "",
        priorite: "",
        version: "",
        refEtiquette: "",
        refCategorie: "",
        categorie: "",
        demandeRaison: "",
        protocole: "",
        articles: [],
        index: 0,
      },
      libelle: "",
      headerTab: [
        "N°",
        "Références",
        "Articles",
        "Descriptions",
        "Images",
        "Quantités",
        "Prix Unitaire TTC",
        "Total TTC",
        "Notes",
      ],
      loadingSave: false,
      protocoleProcess: [],
      composants: [],
      fichiers: [],
      userNotify: "",
      rules: {
        etat: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        titre: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        dates: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        // checkDate:[
        //   {validator:validateDate,trigger:'blur'}
        // ]
      },
    };
  },

  computed: {
    categorieSelectedId: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
    newIndex: {
      get() {
        return this.$store.state.agilite.listTickets.length + 1;
      },
    },
  },

  watch: {
    "$store.state.agilite.idSummarySelected": function(val) {
      this.action.summaryId = this.summaryRef.doc(val);
    },
    typeTicketSelected: function(val) {
      this.action.typeTicket = DemandeAchat.getCollection(
        "globalTypeTicket"
      ).doc(val);
    },
    categorieSelectedId: function(val) {
      this.action.activite = DemandeAchat.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
  },

  methods: {
    // fonction de modification
    async saveEditTicket(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //INSERTION FICHIERS
          this.loadingSave = true;
          const ticket = new DemandeAchat("planAction", this.action);
          ticket.data.createdAt = this.action.createdAt;
          ticket.data.updatedAt = DemandeAchat.getCreatedAt();
          console.log("Data", ticket.data);
          console.log("subTask", this.$refs.subActionTask.action.subActions);
          this.action.ref
            .set(ticket.data)
            .then(() => {
              this.$refs.subActionTask.action.subActions.forEach((item) => {
                const subTask = new SubTask("subTasks", item);
                subTask.data.updatedAt = SubTask.getCreatedAt();
                if (item.id) {
                  subTask.data.createdAt = item.createdAt;
                  item.ref.set(subTask.data);
                } else {
                  this.action.ref.collection("subTasks").add(subTask.data);
                }
              });
              this.$notify({
                title: "Succès",
                message: "Le ticket  a été modifié",
                type: "success",
              });
              this.loadingSave = false;
              this.$emit("savedTicket");
            })
            .catch((error) => {
              this.$notify.error({
                title: "Error",
                message: "Une erreur s'est produite",
              });
              this.loadingSave = false;
              // console.log("Erreur", error);
            });
        }
      });
    },
    async saveTicket(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.loadingSave = true;
          //récupération des articles
          this.action.index = this.newIndex;
          this.action.articles = this.$refs.achatTab.trs;
          // End récupération des articles
          const ticket = new DemandeAchat("tasks", this.action);
          this.tasksRef
            .add(ticket.data)
            .then((doc) => {
              this.$refs.subActionTask.action.subActions.forEach((item) => {
                const subTask = new SubTask("subTasks", item);
                this.tasksRef
                  .doc(doc.id)
                  .collection("subTasks")
                  .add(subTask.data);
              });
              this.$notify({
                title: "Succès",
                message: "L'action a été ajoutée",
                type: "success",
              });
              this.loadingSave = false;
              this.$emit("savedTicket");
            })
            .catch((error) => {
              this.$notify.error({
                title: "Error",
                message: "Une erreur s'est produite",
              });
              this.loadingSave = false;
              console.log("Erreur", error);
            });
        } else {
          return false;
        }
      });
    },
    // initialisation des données des sous composants
    initTypeVal() {
      this.action.summaryId = DemandeAchat.getCollection("summary").doc(
        this.idSummarySelected
      );
      this.action.typeTicket = DemandeAchat.getCollection(
        "globalTypeTicket"
      ).doc(this.typeTicketSelected);
      this.action.activite = DemandeAchat.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
    loadProtocole(item) {
      this.protocoleProcess = item.subActions;
      this.action.protocole = item.ref;
    },
  },
  created() {
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.action = this.$store.state.agilite.task;
        break;

      default:
        break;
    }
  },
  mounted() {
    // changement d'id utilisateurs
    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.adminId = JSON.parse(localStorage.getItem("userSession")).adminId;
      this.action.adminId = this.users.doc(this.adminId);
    }
    this.initTypeVal();
    this.$store.commit("agilite/setCouleur", this.couleur);
  },
};
</script>

<style scoped>
.eti .el-form-item__label {
  padding: 0 10px 0 0 !important;
}
.affichage-date {
  padding: 7px !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.date-affiche {
  margin-left: 22px !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
}
.material-icons-outlined {
  color: #fff;
}
</style>
