<template>
  <div class="main">
    <el-form :model="action" :rules="rules" ref="actionForm">
      <div>
        <!-- composant headerTicket -->
        <headerTicket
          @update:typeTicketSelected="
            $emit('update:typeTicketSelected', $event)
          "
          @update:idSummarySelected="$emit('update:idSummarySelected', $event)"
          :listeProjets="listeProjets"
          :idSummarySelected.sync="idSummarySelected"
          :activites="activites"
          @update:action="action.etat = $event"
          @update:titre="action.titre = $event"
          :categorieSelectedId.sync="categorieSelectedId"
          @update:categorieSelectedId="
            $emit('update:categorieSelectedId', $event)
          "
          :tabTypeTickets="tabTypeTickets"
          :typeTicketSelected.sync="typeTicketSelected"
          :couleur="couleur"
          ref="headerTicket"
        />
        <!--End composant headerTicket -->
      </div>
      <!-- 
          <div>
            <p> Description détaillée du Besoin ou Problème</p>
            <Description 

            ref="description" />
      </div>-->
      <div class="row ml-1 first-part">
        <div
          class="col-xl-7 col-lg-7 col-12 shadow-sm p-3 bg-white rounded mt-4"
        >
          <el-collapse v-model="activeZero" accordion>
            <el-collapse-item title="Besoin du Product owner" name="0">
              <div class="first-part">
                <!-- descSimple -->

                <!-- <DescSimple ref="descSimple" /> -->
                <EnTantQue
                  @update:enTantQue="action.enTantQue = $event"
                  :typeTicketSelected="typeTicketSelected"
                  :idSummarySelected="idSummarySelected"
                  :couleur="couleur"
                  ref="enTantQue"
                />
                <MonEspace
                  @update:monEspace="action.monEspace = $event"
                  :typeTicketSelected="typeTicketSelected"
                  :idSummarySelected="idSummarySelected"
                  :couleur="couleur"
                  ref="monEspace"
                />
                <AfinDe
                  @update:afinDe="action.afinDe = $event"
                  :typeTicketSelected="typeTicketSelected"
                  :idSummarySelected="idSummarySelected"
                  :couleur="couleur"
                  ref="afinDe"
                />

                <el-collapse v-model="activeDeux" accordion>
                  <el-collapse-item
                    title="Description détaillée du Besoin ou Problème"
                    name="2"
                  >
                    <Description
                      @update:description="action.description = $event"
                      :ticketDisplay="$store.state.agilite.task.description"
                      libelle="Description"
                      :couleur="couleur"
                      ref="description"
                    />
                  </el-collapse-item>
                </el-collapse>
                <el-collapse v-model="activeTrois" accordion>
                  <el-collapse-item
                    title="Règles de Gestion (GR)"
                    class="style-acco"
                    name="3"
                  >
                    <SubTaskTicket ref="subActionTaskUn" />
                  </el-collapse-item>
                </el-collapse>

                <el-collapse v-model="activeQuatre" accordion>
                  <el-collapse-item
                    title="Critères d'Acceptation (CA)"
                    name="4"
                  >
                    <SubTaskTicket ref="subActionTaskDeux" />
                  </el-collapse-item>
                </el-collapse>
              </div>
            </el-collapse-item>
          </el-collapse>

          <!-- accordéon solution dev  -->
          <el-collapse v-model="activeZeroUn" accordion>
            <el-collapse-item title="Solution de la DEV TEAM" name="50">
              <div class="titre">
                <div>
                  <span>Sous-Tâches de la STORY</span>
                  <!-- <el-collapse-item title="Sous-Tâches de la STORY" name="5"> -->
                  <SubTaskTicket ref="subActionTaskTrois" />
                  <!-- </el-collapse-item> -->
                </div>
                <div>
                  <!-- <el-collapse v-model="activeSix" accordion> -->
                  <!-- test Unitaire -->
                  <span>Protocole de Test Unitaire</span>
                  <!-- <el-collapse-item title="Protocole de Test Unitaire" name="6"> -->
                  <Protocole
                    @update:protocole="loadProtocole($event)"
                    :couleur="couleur"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    ref="protocole"
                  />
                  <!-- </el-collapse-item> -->
                  <!-- </el-collapse> -->
                </div>

                <el-collapse v-model="activeSept" accordion>
                  <!-- protocole d'intégration -->
                  <el-collapse-item
                    title="Protocole de Test d'intégration"
                    name="7"
                  >
                    <Protocole
                      @update:protocole="loadProtocole($event)"
                      :couleur="couleur"
                      :typeTicketSelected="typeTicketSelected"
                      :idSummarySelected="idSummarySelected"
                      ref="protocole"
                    />
                  </el-collapse-item>
                </el-collapse>
                <el-collapse v-model="activeHuit" accordion>
                  <!-- pièces Jointes -->
                  <el-collapse-item title="Pièces Jointes (1)" name="8">
                    <file-ticket
                      @update:fichiers="fichiers = $event"
                      ref="fileTicket"
                    />
                  </el-collapse-item>
                </el-collapse>
                <el-collapse v-model="activeNeuf" accordion>
                  <!-- lien parent -->
                  <el-collapse-item title="Lien Parent (1)" name="9">
                    <LinkBloc :couleur="couleur" ref="linkBloc" />
                  </el-collapse-item>
                </el-collapse>
                <el-collapse v-model="activeDix" accordion>
                  <!-- lien autre -->
                  <el-collapse-item title="Lien Autre (1)" name="10">
                    <LinkBloc :couleur="couleur" ref="linkBloc" />
                  </el-collapse-item>
                </el-collapse>

                <el-collapse v-model="activeOnze" accordion>
                  <!-- definition of don -->
                  <el-collapse-item title="Definition of Done" name="11">
                    <SubTaskTicket ref="subActionTaskQuatre" />
                  </el-collapse-item>
                </el-collapse>
              </div>
            </el-collapse-item>
          </el-collapse>
        </div>
        <!-- center content  -->
        <!-- <div class="col-xl-3 col-lg-3 shadow-sm p-3 bg-white mt-4">
          lorem test
        </div> -->
        <!-- side bar -->
        <div class="col-xl-5 col-lg-5 col-12 mt-2">
          <!-- <contentRight  :couleur="couleur" ref="contentRight" /> -->
          <el-card class="box-card mt-3">
            <el-form ref="form" label-width="80px">
              <div class="row mt-3">
                <div class="col-12">
                  <!-- composant Affecter à-->
                  <Affecte
                    label="Affecté à"
                    @update:user="action.userId = $event"
                    :couleur="couleur"
                    :adminId="adminId"
                    :currentUId="currentUId"
                    ref="affecte"
                  />

                  <!-- composant créer par -->
                  <CreerPar
                    :user="user.displayName"
                    :couleur="couleur"
                    ref="creer par"
                  />

                  <!--  composant Priorité -->
                  <Priorite
                    @update:priorite="action.priorite = $event"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    :couleur="couleur"
                    ref="priorite"
                  />

                  <!-- composant etiquette -->
                  <Etiquette
                    @update:etiquette="action.etiquette = $event"
                    :couleur="couleur"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    ref="etiquette"
                  />
                  <!-- composant date  -->
                  <DateDebutFin
                    @dateDebutFin="action.dates = $event"
                    :couleur="couleur"
                    ref="dateDebutFin"
                  />

                  <!-- composant alerte -->
                  <DateAlert @date:update="action.alerteDate = $event" />
                  <!-- composant story point  -->
                  <StoryPoint
                    label="S Point"
                    @update:storyPoint="action.storyPoint = $event"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    :couleur="couleur"
                    ref="storypoint"
                  />
                  <!-- composant Business value -->
                  <BValue
                    label="B Value"
                    @update:bValue="action.bValue = $event"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    :couleur="couleur"
                    ref="bvalue"
                  />
                  <!-- composant Equipe -->
                  <Equipe
                    @update:equipe="action.equipe = $event"
                    :typeTicketSelected="typeTicketSelected"
                    :idSummarySelected="idSummarySelected"
                    :couleur="couleur"
                    ref="equipe"
                  />

                  <!-- composant sprint -->
                  <div class="side-bar">
                    <el-form-item label-width="92px"></el-form-item>
                    <SprintInput
                      @update:sprint="action.sprint = $event"
                      :typeTicketSelected="typeTicketSelected"
                      :idSummarySelected="idSummarySelected"
                      :couleur="couleur"
                      libelle="Période"
                      ref="sprint"
                    />
                    <!-- composant objectif -->
                    <Objectif
                      @update:objectif="action.objectif = $event"
                      :couleur="couleur"
                      :typeTicketSelected="typeTicketSelected"
                      :idSummarySelected="idSummarySelected"
                      ref="objectif"
                    />
                    <!-- composant risque -->
                    <Risque
                      @update:risque="action.risque = $event"
                      :couleur="couleur"
                      :typeTicketSelected="typeTicketSelected"
                      :idSummarySelected="idSummarySelected"
                      ref="risque"
                    />
                  </div>
                  <div></div>
                  <Invest
                    @update:independant="action.independant = $event"
                    @update:negociable="action.negociable = $event"
                    @update:viable="action.viable = $event"
                    @update:estimable="action.estimable = $event"
                    @update:petite="action.petite = $event"
                    @update:testable="action.testable = $event"
                    ref="invest"
                  />
                </div>
              </div>
            </el-form>
          </el-card>
        </div>
        <div class="shadow-sm p-3 ml-auto bg-white rounded">
          <FooterModal
            @saveTicket="saveTicket('actionForm')"
            @saveEditTicket="saveEditTicket('actionForm')"
            :loadingSave="loadingSave"
          />
        </div>
      </div>
    </el-form>
  </div>
</template>
<script>
import firebase from "firebase";
// model UserStory
// import { required } from "vuelidate/lib/validators";
import UserStory from "../../../bp/erp/models/agilite/userStory";
import Lien from "../../../bp/erp/models/agilite/lien";
import Sprint from "../../../bp/erp/models/sprint";
import TypeTicket from "../../../bp/erp/models/globalTicket/typeTicket";
import headerTicket from "../tickets/composantCourrier/headerTickets";
import Description from "../tickets/composantCourrier/description";
import Affecte from "../tickets/composantCourrier/contentRigth/affecte";
import CreerPar from "../tickets/composantCourrier/contentRigth/creerPar";
import Priorite from "../tickets/composantCourrier/contentRigth/priorite";
import Equipe from "../tickets/composantCourrier/contentRigth/equipe";
import StoryPoint from "../tickets/composantCourrier/contentRigth/storyPoint";
import EnTantQue from "../tickets/composantCourrier/contentRigth/enTantQue";
import MonEspace from "../tickets/composantCourrier/contentRigth/monEspace";
import AfinDe from "../tickets/composantCourrier/contentRigth/afinDe";
import BValue from "../tickets/composantCourrier/contentRigth/bValue";
import Etiquette from "../tickets/composantCourrier/contentRigth/etiquette";
import DateDebutFin from "./composantCourrier/contentRigth/dateDebutFin";
import DateAlert from "../tickets/composantCourrier/contentRigth/dateAlert";
import SprintInput from "../tickets/composantCourrier/contentRigth/sprint";
import Invest from "../tickets/composantCourrier/contentRigth/invest";
import Risque from "../tickets/composantCourrier/contentRigth/risque";
import Objectif from "../tickets/composantCourrier/contentRigth/objectif";
import SubTaskTicket from "../../../bp/agile/tickets/composantCourrier/subTaskTicket";
import Protocole from "../tickets/composantCourrier/contentRigth/protocole";
import FileTicket from "../../../bp/agile/tickets/composantCourrier/fileTicket";
import Fichier from "../../../../store/collection/fichiers";
import LinkBloc from "../tickets/composantCourrier/contentRigth/linkBloc";
import FooterModal from "./footerModal";
export default {
  // mixins: [action],
  name: "userstory",
  components: {
    headerTicket,
    Description,
    Affecte,
    CreerPar,
    Priorite,
    Etiquette,
    DateDebutFin,
    DateAlert,
    SprintInput,
    StoryPoint,
    BValue,
    Equipe,
    Risque,
    Objectif,
    // DescSimple,
    EnTantQue,
    MonEspace,
    AfinDe,
    SubTaskTicket,
    Protocole,
    FileTicket,
    LinkBloc,
    FooterModal,
    Invest,
  },
  props: {
    ordre: {
      default: null,
    },
    couleur: {
      default: "#000",
    },
    categorieSelectedId: {
      default: null,
    },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    user: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    idSummarySelected: {
      default: null,
    },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    listeProjets: {
      default: [],
    },
    activites: {
      default: [],
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default: [],
    },
    typeTicketSelected: {
      default: null,
    },
    filterTaskList: {
      default: [],
      type: Array,
    },
  },
  computed: {
    categorieSelectedId: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
    },
    tasksRef: {
      get() {
        return this.$store.state.agilite.tasksRef;
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
    },
    newIndex: {
      get() {
        return this.$store.state.agilite.listTickets.length + 1;
      },
    },
  },
  data() {
    return {
      summaryRef: firebase.firestore().collection("summary"),
      users: firebase.firestore().collection("users"),
      // resultatAttenduEdit: true,
      priorites: [],
      protocoleProcess: [],
      activeAction: false,
      editMode: false,
      userInfos: JSON.parse(localStorage.getItem("userSession")),
      projets: [],
      // activeName: "1",
      activeZero: "0",
      activeZeroUn: "12",
      activeTrois: "3",
      activeDeux: "2",
      activeQuatre: "4",
      activeCinq: "5",
      activeSix: "6",
      activeSept: "7",
      activeHuit: "8",
      activeNeuf: "9",
      activeDix: "10",
      activeOnze: "11",
      action: {
        summaryId: "",
        typeTicket: "",
        dates: "",
        titre: "",
        description: "",
        etat: "1",
        subActions: [],
        commentaire: "",
        effort: 0,
        etiquette: "",
        // version:"",
        refEtiquette: "",
        refCategorie: "",
        categorie: "",
        objetCourrier: "",
        priorite: "",
        objet: "",
        // dateArrive: "",
        // dateCourrier: "",
        protocole: "",
        index: 0,
        risque: "",
        objectif: "",
        equipe: "",
        bValue: "",
        storyPoint: "",
        enTantQue: "",
        monEspace: "",
        afinDe: "",
        alerteDate: "",
        activite: "",
        periode: "",
        sprint: "",
        independant: "oui",
        negociable: "oui",
        viable: "oui",
        estimable: "oui",
        petite: "oui",
        testable: "oui",
      },
      efforts: [
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
      ],
      percentTotal: 0,
      rules: {
        etat: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        titre: [
          {
            required: true,
            message: "Ce champ est obligatoire",
            trigger: "blur",
          },
          // { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
        ],
        dates: [
          {
            required: false,
            message: "Ce champ est obligatoire",
            trigger: "change",
          },
        ],
        // checkDate:[
        //   {validator:validateDate,trigger:'blur'}
        // ]
      },
      loadingSave: false,
      fichiers: [],
      userNotify: "",
      sprints: [],
      versions: [],
      composants: [],
      libelle: "",
      swicth: true,
    };
  },

  watch: {
    "$store.state.agilite.idSummarySelected": function (val) {
      this.action.summaryId = this.summaryRef.doc(val);
    },
    typeTicketSelected: function (val) {
      this.action.typeTicket =
        TypeTicket.getCollection("globalTypeTicket").doc(val);
    },
    categorieSelectedId: function (val) {
      this.action.activite = TypeTicket.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
  },
  methods: {
    //  openModalCreateAction(data) {
    //     // this.editMode = false;
    //      this.projets = data
    //     this.activeAction = true;
    //     // this.getEtiquettes();
    //     // this.getCategories();
    //     this.ReloadfieldsAction();

    // },

    ReloadfieldsAction() {
      this.limitAddSub = false;
      this.action = {
        dates: "",
        titre: "",
        description: "",
        etat: "1",
        subActions: [],
        commentaire: "",
        etiquette: "",
      };
    },

    async saveEditTicket(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //INSERTION FICHIERS
          this.loadingSave = true;
          let urlFiles = [];
          const resultFile = new Promise((resolve, reject) => {
            if (this.fichiers.length != 0) {
              this.fichiers.forEach((fileItem) => {
                if (fileItem.raw) {
                  const file = new Fichier(this.categorieSelectedId);
                  urlFiles.push(
                    file
                      .saveToStorage(this.categorieSelectedId, fileItem.raw)
                      .then((snapshot) => snapshot.ref.getDownloadURL())
                      .then((url) => {
                        let data = {};
                        data.url = url;
                        data.name = fileItem.raw.name;
                        data.type = fileItem.raw.type;
                        data.size = fileItem.raw.size;
                        return data;
                      })
                  );
                }
              });
              resolve(urlFiles);
            } else {
              reject(urlFiles);
            }
          });
          Promise.all([Promise.all(urlFiles)]).then((value) => {
            //getOld Files
            //reset old files
            this.action.files = [];
            this.fichiers.forEach((fileItem) => {
              if (!fileItem.raw) {
                this.action.files.push(fileItem);
              }
            });
            if (value[0].length > 0) {
              value[0].forEach((item) => {
                this.action.files.push(item);
              });
            }
            // this.action.index = this.newIndex;
            const ticket = new UserStory("tasks", this.action);
            ticket.data.createdAt = this.action.createdAt;
            ticket.data.updatedAt = UserStory.getCreatedAt();
            this.tasksRef
              .doc(this.action.id)
              .set(ticket.data)
              .then(() => {
                if (this.$refs.subActionTask) {
                  this.$refs.subActionTask.action.subActions.forEach((item) => {
                    const subTask = new SubTask("subTasks", item);
                    if (item.id) {
                      subTask.data.createdAt = item.createdAt;
                      this.tasksRef
                        .doc(this.action.id)
                        .collection("subTasks")
                        .doc(item.id)
                        .set(subTask.data);
                    } else {
                      this.tasksRef
                        .doc(this.action.id)
                        .collection("subTasks")
                        .add(subTask.data);
                    }
                  });
                }
                if (this.$refs.linkBloc) {
                  this.$refs.linkBloc.action.links.forEach((item) => {
                    const lien = new Lien("links", item);
                    if (item.id) {
                      lien.data.createdAt = item.createdAt;
                      this.tasksRef
                        .doc(this.action.id)
                        .collection("subTasks")
                        .doc(item.id)
                        .set(lien.data);
                    } else {
                      this.tasksRef
                        .doc(this.action.id)
                        .collection("links")
                        .add(lien.data);
                    }
                  });
                }

                this.$notify({
                  title: "Succès",
                  message: "Le ticket  a été modifié",
                  type: "success",
                });
                this.loadingSave = false;
                this.$emit("savedTicket");
              })
              .catch((error) => {
                this.$notify.error({
                  title: "Error",
                  message: "Une erreur s'est produite",
                });
                this.loadingSave = false;
                console.log("Erreur", error);
              });
          });
        } else {
          return false;
        }
      });
    },

    async saveTicket(formName) {
      // this.$v.$touch();
      // if (this.$v.$invalid) {
      //   return;
      // }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          // alert("bonjour Mr");
          //INSERTION FICHIERS
          this.loadingSave = true;
          let urlFiles = [];
          const resultFile = new Promise((resolve, reject) => {
            if (this.fichiers.length != 0) {
              this.fichiers.forEach((fileItem) => {
                const file = new Fichier(this.categorieSelectedId);
                urlFiles.push(
                  file
                    .saveToStorage(this.categorieSelectedId, fileItem.raw)
                    .then((snapshot) => snapshot.ref.getDownloadURL())
                    .then((url) => {
                      let data = {};
                      data.url = url;
                      data.name = fileItem.raw.name;
                      data.type = fileItem.raw.type;
                      data.size = fileItem.raw.size;
                      return data;
                    })
                );
              });
              resolve(urlFiles);
            } else {
              reject(urlFiles);
            }
          });
          Promise.all([Promise.all(urlFiles)]).then((value) => {
            let files = value[0];
            this.action.files = files;
            this.action.index = this.newIndex;
            const ticket = new UserStory("tasks", this.action);
            console.log("Data", ticket.data);
            this.tasksRef
              .add(ticket.data)
              .then((doc) => {
                // Enregistrement des sous taches
                this.$refs.subActionTaskTrois.action.subActions.forEach(
                  (item) => {
                    const subTask = new SubTask("subTasks", item);
                    this.tasksRef
                      .doc(doc.id)
                      .collection("subTasks")
                      .add(subTask.data);
                  }
                );
                // Enregistrement des liens
                if (this.$refs.linkBloc.action.links.length != 0) {
                  this.$refs.linkBloc.action.links.forEach((item) => {
                    const lien = new Lien("links", item);
                    this.tasksRef
                      .doc(doc.id)
                      .collection("links")
                      .add(lien.data)
                      .then((doc) => {});
                  });
                }
                this.$notify({
                  title: "Succès",
                  message: "L'action a été ajoutée",
                  type: "success",
                });
                this.loadingSave = false;
                this.$emit("savedTicket");
              })
              .catch((error) => {
                this.$notify.error({
                  title: "Error",
                  message: "Une erreur s'est produite",
                });
                this.loadingSave = false;
                console.log("Erreur", error);
              });
          });
        } else {
          return false;
        }
      });
    },
    loadImage(photo, user) {
      this.selectedUser = "";
      this.selectedPhoto = "";
      this.selectedPhoto = photo;
      this.selectedUser = user;
      this.modalImage = true;
    },
    loadFiles(files) {
      this.files = [];
      this.files = files;
      this.displayModalFiles = true;
    },

    // initialisation des données des sous composants
    initTypeVal() {
      this.action.summaryId = this.summaryRef.doc(this.idSummarySelected);
      this.action.typeTicket = TypeTicket.getCollection("globalTypeTicket").doc(
        this.typeTicketSelected
      );
      this.action.activite = TypeTicket.getCollection("params")
        .doc(this.idSummarySelected)
        .collection("typeCategorie")
        .doc(this.categorieSelectedId);
    },
    loadProtocole(item) {
      this.protocoleProcess = item.subActions;
    },
  },

  created() {
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.action = this.$store.state.agilite.task;
        break;

      default:
        break;
    }
  },
  mounted() {
    // changement d'id utilisateurs
    if (JSON.parse(localStorage.getItem("userSession")).adminId) {
      this.adminId = JSON.parse(localStorage.getItem("userSession")).adminId;
      this.action.adminId = this.users.doc(this.adminId);
    }
    this.initTypeVal();
    this.$store.commit("agilite/setCouleur", this.couleur);
    switch (this.$store.state.agilite.mode) {
      case "modification":
        this.action = this.$store.state.agilite.task;
        break;
      default:
        break;
    }
  },
};
</script>

<style scope>
/* .main {
  background: #fff;
} */
.el-collapse-item__header {
  box-shadow: 1px 1px 1px 1px #c0dad8 !important;
  margin-bottom: 7px !important;
  border-radius: 12px !important;
  padding: 13px !important;
}
.first-part .el-collapse-item__header {
  background-color: #e6e6e6 !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
.first-part .el-collapse {
  border-top: none;
  border-bottom: none;
}
.el-collapse-item__arrow {
  color: #008b9c !important;
  font-weight: 900 !important;
}
</style>
