<template>
    <div>
        <!-- ModalVue -->
        <el-dialog
            :visible.sync="modalVueCourrierSortant"
            width="90%"
            margin-top="-1vh"
            :before-close="handleClose"> 
            <div class="background-modal">
                <headerTicketSort ref="headerTicketSort"/>
                <div class="row">
                    <!-- left sidebar -->
                    <div class="col-xl-7 col-lg-7 col-12">  
                        <contentLeftSort ref="contentLeftSort" />
                    </div>
                    <!-- side bar -->
                    <div class="col-xl-5 col-lg-5 col-12">
                        <contentRightSort ref="contentRightSort"/>                                   
                    </div>
                </div>   
                <!-- création du teableau -->
               <div class="shadow mb-2 p-2 bg-white rounded mt-2">
                   <contentTabSort ref="contentTabSort"/>
                    <contentTacheSort ref="contentTacheSort"/>
                    <!-- sous tâhces -->
                    <contentSubTacheSort ref="contentSubTacheSort"/>
                    <!-- commentaire description -->
                    <contentCommentSort ref="contentCommentSort"/>
               </div>
            </div> 
        </el-dialog>       
    </div>
</template>
<script>
import action from "../../mixins/admin/actionPlan.js";
import { VueEditor, Quill } from "vue2-editor";
import headerTicketSort from '../tickets/composantCourrierSort/headerTicketsSort';
import contentLeftSort from '../tickets/composantCourrierSort/contentLeftSort';
import contentRightSort from '../tickets/composantCourrierSort/contentRightSort';
import contentTabSort from '../tickets/composantCourrierSort/contentTabSort';
import contentTacheSort from '../tickets/composantCourrierSort/contentTacheSort';
import contentSubTacheSort from '../tickets/composantCourrierSort/contentSubTacheSort';
import contentCommentSort from '../tickets/composantCourrierSort/contentCommentSort'
export default {
    mixins: [ action],
    components: {
        VueEditor,
        headerTicketSort,
        contentLeftSort,
        contentRightSort,
        contentTabSort,
        contentTacheSort,
        contentSubTacheSort,
        contentCommentSort
    },
    name : 'courrierSortant',
  data () {
    return {
        accuse:'',
        modalVueCourrierSortant: false,
        modalVue: false,
        dialogTicketVisible: false,
        descriptionEdit: true,
        customToolbar: [
                [{ header: [1, 2, 3, 4, 5, 6, false] }],
                ["bold", "italic", "underline", "strike"], // toggled buttons

                [{ list: "ordered" }, { list: "bullet" }],
                // [{ 'font': [] }],
                [{ color: [] }, { background: [] }], // dropdown with defaults from theme

                ["clean"], // remove formatting button
            ],
        action: {
                dates: "",
                titre: "",
                description: "",
                etat: "1",
                subActions: [],
                commentaire: "",
                effort: 0,
                etiquette: "",
                refEtiquette: "",
                refCategorie: "",
                categorie: ''
            },
    }
  },  
  created() {
    this.$loading().close();
  },
   
}
</script>
<style scoped>
.el-input__inner
    .el-input--suffix .el-input__inner {
        padding-right: 0 !important;
    }

    .select-person select {
        border: 1px solid #0000002b !important;
        padding: 2px 10px !important;
        border-radius: 5px !important;
        color: #404040 !important;
    }
    /* .v-modal{
        opacity: 0 !important;
    } */
    
    .el-button--danger{
        color: #fff;
        background-color: #d98238 !important;
        border: 1px solid #c77a37 !important;
    }
    .el-button.is-circle {
        padding: 5px;
    }
    
    .form-control {
         border: 1px solid #e3bd9eb8 !important;

    }
    .selection .custom-select{
        background: none !important;
    }
    .nav-item{
        background: rgb(122, 125, 182) !important;
        color: #fff !important;
        padding: 10px 15px;
        margin: 0 1px;
    }

    .el-submenu .el-menu-item {
        min-width: 100px;
    }
    .text-themecolor-title{
        color: #363738;
        font-size: 19px;
    }
    .descrip-label{
        font-size: 1.2em;
    }
    .side-infos{
        line-height: 60px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 180px;
        border: 1px solid #d98238;
    }
    .ic-date {
        font-size: 2rem;
        color: #d98238;
    }
  
    .el-progress-bar__inner{
        border-radius: 0 !important;
    }

    .con-vs-card:hover{
        cursor: pointer;
        background-color: rgb(238, 233, 233);
    }
    .el-select{
        padding: 0 !important;
        background-color: black;
    }
    .el-tag{
        width: 60% !important;
        text-align: center;
        background: #04cc6e !important;
        color: #fff !important;
    }
    .el-card:hover{
        cursor: pointer;
    }
    .eti-color {
        width: 80%;
        padding: 1%;
        border: 0.5px solid grey;
        border-radius: 6px;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .eti-color-list {
        width: 80%;
        padding: 1%;
        border: 0.5px solid grey;
        border-radius: 6px;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .text-white {
        color: white;
    }
    .user-pic-show {
        width: 350px;
        height: 350px;
    }
    .el-icon-check {
        color: white;
        font-weight: 200;
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    .icon-font-size {
        font-size: 25px;
    }
    .custom-container{
        margin-left: 5%;
        margin-right: 5%;
    }
    .material-icons-outlined{
        background-color: #d98238;
        color: #fff;
        padding: 3px 0;
        margin: 0;
    }

    @media (max-width: 900px) {
       .vs-button--text{
           font-size: 13px !important;
       }
       .el-tag{
           width: 100% !important;
           font-size: 9px !important;
       }
       .el-radio__label{
           font-size: 12px !important;
       }
    }

    .mobile-view h6{
        font-size: 12px !important;
    }

    .tabletView .titre {
        font-size: 12px !important;
    }
    .tabletView h6 {
        font-size: 13px !important;
    }
    .tabletView .time {
        font-size: 12px !important;
    }
    
  
</style>
