<template>
  <div>
    <div slot="footer" class="dialog-footer d-flex mt-2 p-3">
      <el-button
        @click="$store.commit('agilite/setTicketDialog', false)"
        class="ml-auto"
        >Fermer</el-button
      >
      <el-button
        v-if="
          $store.state.agilite.mode == 'modification' &&
            !$store.state.agilite.duplicate
        "
        type="primary"
        :loading="loadingSave"
        @click="$emit('saveEditTicket')"
        >Modifier</el-button
      >
      <el-button
        v-else-if="
          $store.state.agilite.mode == 'creation' ||
            $store.state.agilite.duplicate
        "
        type="success"
        :loading="loadingSave"
        @click="$emit('saveTicket')"
        >Confirmer</el-button
      >
    </div>
  </div>
</template>
<script>
export default {
  props: {
    loadingSave: {
      default: false,
      type: Boolean,
    },
  },
  mounted() {
    console.log("Dulicate", this.$store.state.agilite.duplicate);
  },
};
</script>
