<template>
  <div class="">
    <el-form ref="form">
      <el-form-item :label="libelle" label-width="80px">
        <div v-if="isFilter" class="input-group filter">
          <select
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification' ||
                $store.state.agilite.mode == 'filtres'
            "
            v-model="idSummarySelected"
            class="form-control-sm"
            :class="{ ' border border-danger': errorSummaryId }"
          >
            <option
              v-for="item in listProjets"
              :key="item.id"
              :value="item.id"
              :selected="[item.id == idSummarySelected ? 'true' : 'false']"
            >
              <strong> {{ item.titre }}</strong>
            </option>
          </select>
          <span class="ml-2" v-if="$store.state.agilite.mode == 'affichage'">
            <strong> {{ this.titreProjet }}</strong>
          </span>
          <!-- validation -->
          <span v-if="errorSummaryId" :style="{ color: activeColor }"></span>
        </div>
        <!-- condition deux -->
        <div v-else class="input-group">
          <div class="input-group-append">
            <span
              :style="{ backgroundColor: couleur }"
              class="material-icons-outlined"
              >source</span
            >
          </div>

          <select
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification'
            "
            v-model="idSummarySelected"
            class="form-control"
            :class="{ ' border border-danger': errorSummaryId }"
          >
            <option
              v-for="item in listProjets"
              :key="item.id"
              :value="item.id"
              :selected="[item.id == idSummarySelected ? 'true' : 'false']"
            >
              <strong> {{ item.titre }}</strong>
            </option>
          </select>
          <span class="ml-2" v-if="$store.state.agilite.mode == 'affichage'">
            <strong> {{ this.titreProjet }}</strong>
          </span>
          <!-- validation -->
          <span v-if="errorSummaryId" :style="{ color: activeColor }"></span>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import { mapState } from "vuex";
import Avancement from "../../../../../admin/concours/components/listTicket/avancement";
import action from "../../../../mixins/admin/actionPlanNew.js";
export default {
  data() {
    return {
      activeColor: "red",
      messageRequired: "Ce champ est obligatoire",
    };
  },
  name: "projet",
  components: { Avancement },
  mixins: [action],
  props: {
    errorTitre: {
      default: false,
      type: Boolean,
    },
    errorEtat: {
      default: false,
      type: Boolean,
    },
    errorSummaryId: {
      default: false,
      type: Boolean,
    },
    // errorcategorieSelectedId: {
    //   default: false,
    //   type: Boolean,
    // },
    errorTypeTicket: {
      default: false,
      type: Boolean,
    },
    libelle: {
      default: "Projet",
      type: String,
    },
    isFilter: {
      default: false,
      type: Boolean,
    },
    // validations,

    couleur: {
      default: "#000",
    },
    categorieSelectedId: {
      default: null,
    },
    // headerTicketControle:{
    //   type: Object,
    // },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    // idSummarySelected: {
    //   default: null,
    // },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default() {
        return [];
      },
      type: Array,
    },
    action: {
      default: "1",
      type: String,
    },
    titre: {
      default: "",
      type: String,
    },
  },
  data() {
    return {
      states: [
        {
          libelle: "A faire",
          value: "1",
          selected: false,
        },
        {
          libelle: "En cours",
          value: "2",
          selected: false,
        },
        {
          libelle: "Terminé",
          value: "3",
          selected: false,
        },
      ],
      titreProjet: "",
      titreActivite: "",
      titreTypeTicket: "",
    };
  },

  computed: {
    listProjets: {
      get() {
        return this.$store.state.agilite.listProjets;
      },
    },
    // idSummarySelected: (state) => state.agilite.idSummarySelected,
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/setSummary", value);
      },
    },

    // ...mapState({
    //   codeProjet: state => state.some.nested.module.a,

    // })
  },
  methods: {
    changeTypeTicket(value) {
      $emit("update:idSummarySelected", value);
    },
  },
  async mounted() {
    this.$emit("update:idSummarySelected", this.idSummarySelected);

    // }
  },
};
</script>
<style scoped>
.filter .form-control-sm {
  font-weight: 500 !important;
  border: none !important;
  width: 160% !important;
  padding: 0.25rem 0.5rem !important;
  margin-left: -81px !important;
  margin-top: -21px !important;
  margin-bottom: 13% !important;
}
</style>
