<template>
  <div>
    <div>
      <div class="status">
        <div>
          <el-form ref="form">
            <el-form-item label="Statut" label-width="80px">
              <div v-if="isFilter" class="input-group filter">
                <select
                  v-if="
                    $store.state.agilite.mode == 'creation' ||
                      $store.state.agilite.mode == 'modification' ||
                      $store.state.agilite.mode == 'filtres'
                  "
                  @change="changeStatut($event.target.value)"
                  id=""
                  class="form-control-sm"
                  v-model="etatTask"
                  :class="{ ' border border-danger ': errorEtat }"
                >
                  <option :selected="true" value="none">Tous</option>
                  <option
                    v-for="(item, index) in states"
                    :key="'state' + index"
                    :value="item.value"
                    :selected="[item.value == etatTask ? 'true' : 'false']"
                    >{{ item.libelle }}</option
                  >
                </select>
                <span
                  class="ml-2"
                  v-else-if="$store.state.agilite.mode == 'affichage'"
                >
                  <span v-if="$store.state.agilite.task.etat == '1'">
                    <strong>A faire</strong>
                  </span>
                  <span v-else-if="$store.state.agilite.task.etat == '2'">
                    <strong> En cours </strong>
                  </span>
                  <span v-else-if="$store.state.agilite.task.etat == '3'">
                    <strong>Terminé</strong>
                  </span>
                </span>
                <span v-if="errorEtat" :style="{ color: activeColor }"></span>
              </div>

              <!-- condition deux -->
              <div v-else class="input-group">
                <div class="input-group-append">
                  <span
                    :style="{ backgroundColor: couleur }"
                    class="material-icons-outlined"
                    >flag</span
                  >
                </div>
                <select
                  v-if="
                    $store.state.agilite.mode == 'creation' ||
                      $store.state.agilite.mode == 'modification'
                  "
                  @change="$emit('update:action', $event.target.value)"
                  id=""
                  class="form-control"
                  v-model="etatTask"
                  :class="{ ' border border-danger ': errorEtat }"
                >
                  <option
                    v-for="(item, index) in states"
                    :key="'state' + index"
                    :value="item.value"
                    :selected="[item.value == etatTask ? 'true' : 'false']"
                    >{{ item.libelle }}</option
                  >
                </select>
                <span
                  class="ml-2"
                  v-else-if="$store.state.agilite.mode == 'affichage'"
                >
                  <span v-if="$store.state.agilite.task.etat == '1'">
                    <strong>A faire</strong>
                  </span>
                  <span v-else-if="$store.state.agilite.task.etat == '2'">
                    <strong> En cours </strong>
                  </span>
                  <span v-else-if="$store.state.agilite.task.etat == '3'">
                    <strong>Terminé</strong>
                  </span>
                </span>
                <span v-if="errorEtat" :style="{ color: activeColor }"></span>
              </div>
              <!-- <span v-if="errorTitre" :style="{ color: activeColor }">
                      {{ messageRequired }}</span
                    > -->
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import Avancement from "../../../../../admin/concours/components/listTicket/avancement";
import action from "../../../../mixins/admin/actionPlanNew.js";
export default {
  data() {
    return {
      activeColor: "red",
      messageRequired: "Ce champ est obligatoire",
    };
  },
  name: "activite",
  components: { Avancement },
  mixins: [action],
  props: {
    errorTitre: {
      default: false,
      type: Boolean,
    },
    errorEtat: {
      default: false,
      type: Boolean,
    },
    errorSummaryId: {
      default: false,
      type: Boolean,
    },
    // errorcategorieSelectedId: {
    //   default: false,
    //   type: Boolean,
    // },
    errorTypeTicket: {
      default: false,
      type: Boolean,
    },
    isFilter: {
      default: false,
      type: Boolean,
    },
    libelle: {
      default: "Activite",
      type: String,
    },
    // validations,

    couleur: {
      default: "#000",
    },
    categorieSelectedId: {
      default: null,
    },
    // headerTicketControle:{
    //   type: Object,
    // },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    // idSummarySelected: {
    //   default: null,
    // },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default() {
        return [];
      },
      type: Array,
    },
    action: {
      default: "1",
      type: String,
    },
    titre: {
      default: "",
      type: String,
    },
  },
  data() {
    return {
      states: [
        {
          libelle: "A faire",
          value: "1",
          selected: false,
        },
        {
          libelle: "En cours",
          value: "2",
          selected: false,
        },
        {
          libelle: "Terminé",
          value: "3",
          selected: false,
        },
      ],
      titreProjet: "",
      titreActivite: "",
      titreTypeTicket: "",
    };
  },

  computed: {
    listProjets: {
      get() {
        return this.$store.state.agilite.listProjets;
      },
    },
    // idSummarySelected: (state) => state.agilite.idSummarySelected,
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/setSummary", value);
      },
    },
    selectedActivite: {
      get() {
        return this.$store.state.agilite.selectedActivite;
      },
      set(value) {
        this.$store.commit("agilite/setSelectedActivite", value);
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
      set(value) {
        this.$store.commit("agilite/setTypeTicketSelected", value);
      },
    },
    etatTask: {
      get() {
        return this.$store.state.agilite.etatTask;
      },
      set(value) {
        this.$store.commit("agilite/setEtatTask", value);
      },
    },

    // ...mapState({
    //   codeProjet: state => state.some.nested.module.a,

    // })
  },
  methods: {
    changeStatut(value) {
      if (this.isFilter) {
        this.$emit("update:actionFilter", value);
      } else {
        this.$emit("update:action", value);
      }
    },
    // changeProject(id) {
    //   this.$store.commit("agilite/initData", id);
    //   console.log("TEST", this.$store.state.agilite.idSummarySelected);
    //   // alert("Hello");
    // },
  },
  async mounted() {
    this.$emit("update:idSummarySelected", this.idSummarySelected);
    // console.log("TEST", this.$store.state.agilite.idSummarySelected);
    switch (this.$store.state.agilite.mode) {
      case "affichage":
        await this.$store.state.agilite.task.summaryId.get().then((doc) => {
          this.titreProjet = doc.data().titre;
        });
        await this.$store.state.agilite.task.typeTicket.get().then((doc) => {
          this.titreTypeTicket = doc.data().libelle;
        });
        await this.$store.state.agilite.task.refCategorie.get().then((doc) => {
          this.titreActivite = doc.data().libelle;
        });
        break;
      case "modification":
        this.titreProjet = this.$store.state.agilite.task.titre;

        break;

      default:
        break;
    }
  },
};
</script>
<style scoped>
.filter .form-control-sm {
  font-weight: 500 !important;
  border: none !important;
  width: 160% !important;
  padding: 0.25rem 0.5rem !important;
  margin-left: -81px !important;
  margin-top: -21px !important;
  margin-bottom: 13% !important;
}
</style>
