<template>
  <div class="">
    <el-form ref="form">
      <el-form-item label="Ticket :" label-width="80px">
        <div v-if="isFilter" class="input-group filter">
          <select
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification' ||
                $store.state.agilite.mode == 'filtres'
            "
            :class="{ ' border border-danger': errorTypeTicket }"
            @change="changeTypeTicket($event.target.value)"
            v-model="typeTicketSelected"
            class="form-control-sm"
          >
            <option :selected="true" value="none">Tous</option>
            <option
              v-for="item in $store.state.agilite.listTypesTickets"
              :key="item.id"
              :value="item.id"
              >{{ item.libelle }}
            </option>
          </select>
          <span class="ml-2" v-if="$store.state.agilite.mode == 'affichage'">
            <strong> {{ this.titreTypeTicket }}</strong>
          </span>
          <!-- controle -->
          <span v-if="errorTypeTicket" :style="{ color: activeColor }"></span>
        </div>
        <!-- condition 2 -->
        <div v-else class="input-group">
          <div class="input-group-append">
            <span
              :style="{ backgroundColor: couleur }"
              class="material-icons-outlined"
              >calendar_view_day</span
            >
          </div>
          <select
            v-if="
              $store.state.agilite.mode == 'creation' ||
                $store.state.agilite.mode == 'modification'
            "
            :class="{ ' border border-danger': errorTypeTicket }"
            @change="changeTypeTicket($event.target.value)"
            v-model="typeTicketSelected"
            class="form-control"
          >
            <option
              v-for="item in $store.state.agilite.listTypesTickets"
              :key="item.id"
              :value="item.id"
              :selected="[item.type == 'normal' ? 'true' : 'false']"
              >{{ item.libelle }}
            </option>
          </select>
          <span class="ml-2" v-if="$store.state.agilite.mode == 'affichage'">
            <strong> {{ this.titreTypeTicket }}</strong>
          </span>
          <!-- controle -->
          <span v-if="errorTypeTicket" :style="{ color: activeColor }"></span>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import { mapState } from "vuex";
import Avancement from "../../../../../admin/concours/components/listTicket/avancement";
import action from "../../../../mixins/admin/actionPlanNew.js";
import TypeTicketHeader from "../../../../erp/models/typeTicketHeader.js";

export default {
  data() {
    return {
      activeColor: "red",
      messageRequired: "Ce champ est obligatoire",
    };
  },
  name: "headerTicket",
  components: { Avancement },
  mixins: [action],
  props: {
    errorTitre: {
      default: false,
      type: Boolean,
    },
    errorEtat: {
      default: false,
      type: Boolean,
    },
    errorSummaryId: {
      default: false,
      type: Boolean,
    },
    // errorcategorieSelectedId: {
    //   default: false,
    //   type: Boolean,
    // },
    libelle: {
      default: "Type de Ticket",
      type: String,
    },
    isFilter: {
      default: false,
      type: Boolean,
    },
    errorTypeTicket: {
      default: false,
      type: Boolean,
    },
    // validations,

    couleur: {
      default: "#000",
    },
    categorieSelectedId: {
      default: null,
    },
    // headerTicketControle:{
    //   type: Object,
    // },
    currentUId: {
      default: null,
    },
    adminId: {
      default: null,
    },
    planActionRef: {
      default: null,
    },
    paramsTypeCategorieRef: {
      default: null,
    },

    // idSummarySelected: {
    //   default: null,
    // },
    paramsTypeEtiquetteRef: {
      default: null,
    },
    display: {
      default: false,
    },
    tabTypeTickets: {
      default() {
        return [];
      },
      type: Array,
    },
    action: {
      default: "1",
      type: String,
    },
    titre: {
      default: "",
      type: String,
    },
    watch: {
      typeTicketSelected: function(val) {
        this.initData(this.mode, val);
      },
      mode: function(val) {
        this.initData(val, this.typeTicketSelected);
      },
    },
  },
  data() {
    return {
      states: [
        {
          libelle: "A faire",
          value: "1",
          selected: false,
        },
        {
          libelle: "En cours",
          value: "2",
          selected: false,
        },
        {
          libelle: "Terminé",
          value: "3",
          selected: false,
        },
      ],
      titreProjet: "",
      titreActivite: "",
      titreTypeTicket: "",
    };
  },

  computed: {
    listProjets: {
      get() {
        return this.$store.state.agilite.listProjets;
      },
    },
    idSummarySelected: {
      get() {
        return this.$store.state.agilite.idSummarySelected;
      },
      set(value) {
        this.$store.commit("agilite/setSummary", value);
      },
    },
    typeTicketSelected: {
      get() {
        return this.$store.state.agilite.typeTicketSelected;
      },
      set(value) {
        this.$store.commit("agilite/setTypeTicketSelected", value);
      },
    },
    mode: {
      get() {
        return this.$store.state.agilite.mode;
      },
    },
  },
  methods: {
    changeTypeTicket(value) {
      if (this.isFilter) {
        this.$emit("update:typeTicketSelectedFilter", value);
      } else {
        this.$emit("update:typeTicketSelected", value);
      }
    },
    async initData(mode, val) {
      switch (this.$store.state.agilite.mode) {
        case "filtres":
          this.$emit("update:typeTicketSelectedFilter", val);
          break;
        case "affichage":
          await this.$store.state.agilite.task.summaryId.get().then((doc) => {
            this.titreProjet = doc.data().titre;
          });
          await this.$store.state.agilite.task.typeTicket.get().then((doc) => {
            this.titreTypeTicket = doc.data().libelle;
          });
          await this.$store.state.agilite.task.refCategorie
            .get()
            .then((doc) => {
              this.titreActivite = doc.data().libelle;
            });
          break;
        case "modification":
          this.titreProjet = this.$store.state.agilite.task.titre;

          break;

        default:
          break;
      }
    },
  },
  async mounted() {
    // console.log("TEST", this.$store.state.agilite.idSummarySelected);
  },
};
</script>
<style scoped>
.filter .form-control-sm {
  font-weight: 500 !important;
  border: none !important;
  width: 135% !important;
  padding: 0.25rem 0.5rem !important;
  margin-left: -81px !important;
  margin-top: -21px !important;
  margin-bottom: 13% !important;
}
</style>
