<template>
    <div>
        <div class="row header">
            <div class="col-xl-5 col-lg-12 col-12" >
                <div :class="{ 'form-group--error': validations.newFournisseur.raisonSociale.$error }">
                    <el-form-item label="Raison Sociale">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">business</span>
                            </div>
                            <input type="text" class="form-control" v-model="newFournisseur.raisonSociale"  v-model.trim="validations.newFournisseur.raisonSociale.$model">
                        </div>
                       <span class="error" v-if="validations.newFournisseur.raisonSociale.$error">Ce champs est requis</span>
                    </el-form-item>
                </div>
                <div :class="{ 'form-group--error': validations.newFournisseur.statut.$error }">
                    <el-form-item label="Statut"> 
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">perm_identity</span>
                            </div>
                            <input type="text" class="form-control" v-model="newFournisseur.statut" v-model.trim="validations.newFournisseur.statut.$model">
                        </div>
                        <span class="error" v-if="validations.newFournisseur.statut.$error">Ce champs est requis</span>
                    </el-form-item>
                </div>
                <div :class="{ 'form-group--error': validations.newFournisseur.assujettiTva.$error }">
                    <el-form-item label="Assujetti à la TVA"> 
                         <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">savings</span>
                            </div>  
                            <select class="form-control" v-model="newFournisseur.assujettiTva" v-model.trim="validations.newFournisseur.assujettiTva.$model">
                                <option value="Oui">OUI</option>
                                <option value="Non">NON</option>
                            </select>   
                         </div>   
                        <span class="error" v-if="validations.newFournisseur.assujettiTva.$error">Ce champs est requis</span>                         
                    </el-form-item>
                </div>               
                <div :class="{ 'form-group--error': validations.newFournisseur.relation.$error }">
                    <el-form-item label="Relation">
                         <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">reduce_capacity</span>
                            </div>
                            <select class="form-control" v-model="newFournisseur.relation" v-model.trim="validations.newFournisseur.relation.$model">
                                <option value="Bonne">Bonne</option>
                                <option value="Mauvaise">Mauvaise</option>
                            </select> 
                        </div>
                         <span class="error" v-if="validations.newFournisseur.relation.$error">Ce champs est requis</span>
                    </el-form-item>  
                </div>                
            </div>
            <div class="col-xl-5 col-lg-12 col-12 mb-3">
                <div :class="{ 'form-group--error': validations.newFournisseur.mobileSure.$error }">
                    <el-form-item label="Téléphone">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">phone</span>
                            </div>
                            <input type="tel" class="form-control" maxlength="9" v-model="newFournisseur.mobileSure" v-model.trim="validations.newFournisseur.mobileSure.$model">
                        </div>
                        <span class="error" v-if="validations.newFournisseur.mobileSure.$error">Ce champs est requis</span>
                    </el-form-item>
                </div>
                <div :class="{ 'form-group--error': validations.newFournisseur.refCompta.$error }">
                    <el-form-item label="Ref Comptable">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">trending_up</span>
                            </div>
                            <select id="" class="form-control"  v-model="newFournisseur.refCompta" v-model.trim="validations.newFournisseur.refCompta.$model">
                                <option value="401">401 Fournisseur</option>
                                <option value="402">402 Fournisseur</option>
                            </select>
                         </div>
                        <span class="error" v-if="validations.newFournisseur.refCompta.$error">Ce champs est requis</span>
                    </el-form-item>
                </div>
                <div :class="{ 'form-group--error': validations.newFournisseur.addresse.$error }">
                    <el-form-item label="Adresse" class="red-color"> 
                         <div class="input-group flex-nowrap">
                             <textarea rows="3" class="form-control"  v-model="newFournisseur.addresse" v-model.trim="validations.newFournisseur.addresse.$model"></textarea>
                         </div>
                        <span class="error" v-if="validations.newFournisseur.addresse.$error">Ce champs est requis</span>
                    </el-form-item>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 ml-auto col-6">
                <el-dialog :visible.sync="dialogVisible" width="30%">
                    <div v-if="!previewImage">
                        <cropper 
                        ref="cropper"
                        :src="newFournisseur.image" 
                        :stencil-props="{
                        aspectRatio:10/10,
                        movable: true,
                        scalable: true,
                            }"
                            :canvas="{
                                maxHeight: 2048,
		                        maxWidth: 2048,
                            }"
                        class='img-responsive cropper'/>
                    </div>
                    <div v-if="previewImage">
                        <cropper 
                        :canvas="{
                                maxHeight: 256,
		                        maxWidth: 256,
                            }"
                        :src="previewImage"
                        ref="cropper"
                        :stencil-props="{
                        aspectRatio:10/10
                            }"
                         class='img-responsive cropper'/>
                    </div>
                    <button type="button" class="btn btn-primary" @click.prevent="crop">Confirmer</button>
                    <!-- <button type="button" class="btn btn-secondary" >Annuler</button>  -->
                </el-dialog>
                <div class="upload-image">
                    <div v-if="newFournisseur.id">
                        <img :src="newFournisseur.image" class='img-responsive'> 
                    </div>
                    <div v-else>
                        <img v-if="previewImage" :src="previewImage" class='img-responsive'>        
                        <img v-if="!previewImage" src="../../../../../../images/erp/newimage.jpg" class='img-responsive'>
                        <input type="file" accept="images/*" class="form-control"  @change="uploadImage($event)">
                    </div>
                </div>
                <p class="upload-text mt-3 text-center">Photo</p>
            </div>
        </div>
    </div>
</template>
<script>
import { Cropper } from 'vue-advanced-cropper';
export default {
    components: {
		Cropper,
	},
    props: ['model', 'newFournisseur', 'validations'],
    name: 'formPartOne',
    data() {
        return {
            coordinates: {
				width: 120,
				height: 120,
				left: 0,
				top: 0,
			},
            dialogVisible: false,
            image: null,
            canvas: null,
            type: 'produit',
            paramModal: false,
            previewImage: '',
             resume: [
                {
                    label: '',
                    type: '1',
                    child: [
                        {
                            libelle: ''
                        }
                    ],
                    active: false
                }
            ],
            detail: [
                {
                    label: '',
                    type: '1',
                    child: [
                        {
                            libelle: ''
                        }
                    ],
                    active: false
                }
            ],
            types: [
                {
                    id: '1',
                    libelle: 'Input'
                },
                {
                    id: '2',
                    libelle: 'Zone de saisie'
                },
                {
                    id: '3',
                    libelle: 'Select'
                },
            ]
        }
    },
    methods: {
        openParamModal() {
            this.paramModal = true;
        },
         uploadImage(e) {
            let reader = new FileReader();
            if(e.target.files[0]) {
                this.newFournisseur.image = e.target.files[0];
                reader.readAsDataURL( e.target.files[0]);
                reader.onload = () => {
                    this.previewImage = reader.result;
                },
                this.dialogVisible = true;
            }
        }, 
        crop() {
            const { coordinates, canvas } = this.$refs.cropper.getResult();
			this.coordinates = coordinates;
            const imgCrop = canvas.toDataURL();
            this.previewImage = imgCrop;
            this.dialogVisible = false;
            },
            
        }
}
</script>
<style>
    /* .form-group--error input, .form-group--error select{
        border: 1.5px solid #f04124;
        border-radius: 5px;
    }
    .form-group--error, .error{
        color: #f04124;
    }
    .el-radio__label{
        font-size: 21px;
    }
    @media (max-width: 576px) {
        .el-radio__label{
            font-size: 13px !important;
        }
        .el-form-item .el-form-item__label{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__label-wrap{
            margin-left: 0 !important;
        }
        .el-form-item .el-form-item__content{
            margin-left: 0 !important;
        }
    } */
</style>