<template>
    <div>
        <div class="row" id="section-2">
            <div class="col-12">
                <el-tabs type="border-card" :stretch="true">
                    <el-tab-pane label="Cordonnées">
                        <div id="content-1">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-12">
                                            <div class="content">
                                                    <el-form-item label="Code Postal">
                                                        <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">approval</span>
                                                            </div>
                                                            <input type="text" class="form-control" :disabled="!model.codePostal" v-model="newFournisseur.codePostal" >
                                                        </div>
                                                    </el-form-item>
                                                    <el-form-item label="Ville">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">apartment</span>
                                                            </div>
                                                            <select class="form-control" :disabled="!model.ville" v-model="newFournisseur.ville">
                                                                <option v-for="(item, index) in villeData" :key="index" :value="item.libelle" >{{  item.libelle }}</option>
                                                            </select>
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Pays">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">flag</span>
                                                            </div>
                                                            <select class="form-control"  :disabled="!model.pays" v-model="newFournisseur.pays">
                                                               <option v-for="(item, index) in paysData" :key="index" :value="item.nom_fr" >{{  item.nom_fr }}</option>
                                                            </select>
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Quartier">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">where_to_vote</span>
                                                            </div>
                                                            <input type="text" :disabled="!model.quartier" v-model="newFournisseur.quartier" class="form-control">
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Arrondissement">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">location_city</span>
                                                            </div>
                                                        <select class="form-control" :disabled="!model.arrondissement" v-model="newFournisseur.arrondissement">
                                                            <option value="1er">1er arrondissement</option>
                                                            <option value="2eme">2ème arrondissement</option>
                                                            <option value="3eme">3ème arrondissement</option>
                                                            <option value="4eme">4ème arrondissement</option>
                                                            <option value="5eme">5ème arrondissement</option>
                                                            <option value="6eme">6ème arrondissement</option>
                                                        </select>
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Région">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">map</span>
                                                            </div>
                                                            <input type="text" :disabled="!model.region" v-model="newFournisseur.region" class="form-control">
                                                         </div>
                                                    </el-form-item>
                                                    <el-form-item label="Province">
                                                         <div class="input-group flex-nowrap">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text material-icons-outlined" id="addon-wrapping">map</span>
                                                            </div>
                                                        <select class="form-control" :disabled="!model.province" v-model="newFournisseur.province">
                                                            <option v-for="(item, index) in provinceData" :key="index" :value="item.libelle" >{{  item.libelle }}</option>
                                                        </select>
                                                         </div>
                                                    </el-form-item>
                
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-12">
                                                <el-form-item label="Téléphone 1">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">phone</span>
                                                        </div>
                                                    <input type="tel" class="form-control" maxlength="20" :disabled="!model.tel1" v-model="newFournisseur.tel1">
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Téléphone 2">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">phone</span>
                                                        </div>
                                                    <input type="tel" class="form-control" maxlength="20" :disabled="!model.tel2" v-model="newFournisseur.tel2"  > 
                                                    </div>
                                                </el-form-item>
                                                <el-form-item label="Email">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">email</span>
                                                        </div>
                                                        <input type="email" class="form-control" :disabled="!model.email" v-model="newFournisseur.email">
                                                    </div>                                 
                                                </el-form-item>
                                                <el-form-item label="Whatsapp">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">maps_ugc</span>
                                                        </div>
                                                        <input type="text" class="form-control" :disabled="!model.whatsapp" v-model="newFournisseur.whatsapp">
                                                    </div>                                 
                                                </el-form-item>
                                                <el-form-item label="Zoom">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">switch_video</span>
                                                        </div>
                                                        <input type="text" class="form-control" :disabled="!model.zoom" v-model="newFournisseur.zoom">
                                                    </div>                                 
                                                </el-form-item>
                                                <el-form-item label="Skype">
                                                    <div class="input-group flex-nowrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text material-icons-outlined" id="addon-wrapping">switch_video</span>
                                                        </div>
                                                        <input type="text" class="form-control" :disabled="!model.skype" v-model="newFournisseur.skype">
                                                    </div>                                 
                                                </el-form-item>
                                       
                                            <el-form-item label="Notes">
                                                <textarea rows="2" class="form-control" :disabled="!model.notes" v-model="newFournisseur.notes"></textarea>
                                            </el-form-item>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Contrat">
                        <div id="content-2">
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Livraisons">
                        <div id="content-3">
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Paiement">
                        <div id="content-4">
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Administratif">
                        <div id="content-3">
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Documents">
                        <div id="content-3">
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Autre">
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</template>
<script>
import ErpModel from '../../models/erp';
export default {
    props: ['model', 'newFournisseur'],
    data() {
        return {
            paramModal: false,
            plus: false,
            villeData: [],
            paysData: [],
            provinceData: []
        }
    },
    created() {
        this.getAllData();
    },
    methods: {
         async hideSection() {
            this.plus = !this.plus;
            $("#content-1").toggle()
            $("#content-2").toggle()
            $("#content-3").toggle()
            $("#content-4").toggle()
        },
        getAllData() {
            ErpModel.getCollection('ville').then((res) => {
                res.forEach((doc) => {
                    const data = doc.data()
                    data.id = doc.id
                    this.villeData.push(data)
                });
            })
           
            ErpModel.getCollection('pays').then((res) => {
                res.forEach((doc) => {
                    const data = doc.data()
                    data.id = doc.id
                    this.paysData.push(data)
                });
            })
          
            ErpModel.getCollection('province').then((res) => {
                res.forEach((doc) => {
                    const data = doc.data()
                    data.id = doc.id
                    this.provinceData.push(data)
                });
            })
        }
    },
}
</script>
<style>
.titre{
    color: rgb(79, 147, 236);
}
.text-muted{
    font-style: italic;
}
.titre-footer{
    color: orange;
}
td, th{
    border: 1px solid #ffff !important;
}
th{
    background-color: #409eff !important;
    color: #ffff !important;
    text-align: center !important;
}
.test{
    border: none !important;;
    color: rgb(7, 7, 7) !important;;
    font-size: 20px !important;; 
    cursor: pointer !important;; 
}

.input-group-text{
    width: 50px !important;
    background-color: rgb(231, 159, 65) !important;
    color: #0a0a0a !important;
}
</style>